//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.page-forum {
  .page-top {
    padding-bottom: 35px;
    background-color: #384045;
    border-bottom: none;
    border-top: none;
    margin-bottom: 30px;
  }

  .breadcrumb {
    margin-bottom: 5px;

    li a {
      font-size: 14px;
    }
  }
}

.forum-intro {
  strong {
    font-weight: 700;
  }

  &__links {
    font-size: 14px;
  }

  p {
    small {
      font-size: 12px;
    }
  }

  .lead {
    font-size: 20px;
    margin-bottom: 20px;

    @include media('>tablet') {
      font-size: 21px;
    }
  }
}

.forum-block {
  cursor: pointer;
  display: inline-block;
  width: 214px;
  position: relative;
  margin: 0 5px;

  .panel-heading {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 8px;
    color: var(--color-neutral-0);
    height: 100%;
    margin: -4px;
    position: absolute;
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
    z-index: 1;
  }
}

.portfolio-item {
  img {
    height: auto;
    max-width: 100%;
  }
}

.thumb-info {
  .thumb-info-title {
    font-size: 16px;
  }
}

.thumb-info {
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  max-width: 100%;

  &:hover {
    .thumb-info-action-icon {
      right: 0;
      top: 0;
    }

    .thumb-info-action {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    .thumb-info-title {
      background: var(--color-base);
    }

    img {
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
  }

  .thumb-info-action-icon {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    background: var(--color-neutral-5);
    border-radius: 0 0 0 25px;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: -100px;
    text-align: center;
    top: -100px;
    width: 50px;

    i {
      font-size: 24px;
      left: 3px;
      position: relative;
      top: -4px;
    }
  }

  .thumb-info-action {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    background: rgba(36, 27, 28, .9);
    bottom: 0;
    color: var(--color-neutral-0);
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;
    width: 100%;
  }

  .thumb-info-inner {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    display: block;
    transition: all .3s;
    white-space: nowrap;
  }

  .thumb-info-title {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    background: rgba(36, 27, 28, .9);
    bottom: 10%;
    color: var(--color-neutral-0);
    font-size: 18px;
    font-weight: 700;
    left: 0;
    letter-spacing: -1px;
    padding: 9px 11px 9px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    transition: all .3s;
    z-index: 1;
  }

  .thumb-info-type {
    background-color: #2e8de5;
    border-radius: 2px;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 8px -2px -15px -2px;
    padding: 2px 9px;
    text-transform: none;
  }

  img {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    border-radius: 3px;
    position: relative;
    transition: all .2s linear;
  }

  &.secundary {
    .thumb-info-title {
      background: transparent;
      bottom: auto;
      left: 0;
      opacity: 0;
      right: 0;
      text-align: center;
      top: 35%;
    }

    .thumb-info-type {
      float: none;
    }

    &:hover {
      .thumb-info-title {
        opacity: 1;
        top: 42%;
      }
    }
  }
}

.thumb-info-caption {
  padding: 10px 0;

  p {
    font-size: .9em;
    line-height: 20px;
    margin: 0 0 8px;
    padding: 10px;
  }
}

.thumb-info-social-icons {
  border-top: 1px dotted var(--color-neutral-4);
  margin: 0;
  padding: 15px 0;
  display: block;

  a {
    background: var(--color-neutral-5);
    border-radius: 25px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;

    &:hover {
      text-decoration: none;
    }

    span {
      display: none;
    }

    i {
      color: var(--color-neutral-0);
      font-size: .9em;
      font-weight: normal;
    }
  }
}

#forum {
  border: inherit !important;

  h2 {
    strong {
      color: $color-blue;
    }
  }

  .thumb-info {
    .thumb-info-title {
      background: rgba(36, 27, 28, .85);
      font-size: 17px;
    }
  }
}

.action-links {
  display: none;
}

.portfolio-item {
  &:hover {
    img {
      transform: scale(1.1, 1.1);
    }

    .panel-heading {
      display: block !important;
    }
  }
}

.overlay {
  background-color: rgba(255, 255, 255, .3);
  height: 100%;
  margin: -4px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.page-forum {
  .title_action_create_disscission {
    display: none;
  }

  &.page-forum- {
    .title_action_create_disscission {
      display: block;
    }
  }
}

.forums-container-row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  > .row {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .forums-wrapper {
    @include media('<500px') {
      width: 100%;
      text-align: center;
    }
  }
}
