@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.progress-wrapper {
  padding: 20px;
  border-radius: 0;
  background: var(--color-neutral-0);
  margin-top: 15px;
}

.progress {
  height: auto;
  background: transparent;

  &__track {
    display: flex;
    height: 20px;
    overflow: hidden;
    font-size: .75rem;
    background-color: var(--color-neutral-4);
    border-radius: .25rem;
    border: 0;
  }

  &__bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-neutral-0);
    text-align: center;
    background-color: $color-blue;
    transition: width .6s ease;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    animation: progress-bar-stripes 1s linear infinite;
  }

  &__percentage {
    margin: 0;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: auto;
    right: 20px;
    color: var(--color-neutral-0);
  }

  &__description {
    margin-top: 10px;
    float: none;
  }
}

@keyframes progress-bar-stripes {
  from { background-position: 20px 0; }
  to { background-position: 0 0; }
}
