.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short {
  width: fit-content;
  margin: 18px auto 20px
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short .tp-widget-humanscore {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short .tp-widget-businessinfo {
  margin: 0 10px
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short .tp-widget-businessinfo a,
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short .tp-widget-businessinfo a > * {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short .tp-widget-businessinfo a strong {
  font-weight: 700
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short .tp-widget-businessinfo a span {
  font-weight: 400
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short .tp-widget-logo {
  width: auto;
  transform: translateY(-3px)
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short .tp-widget-logo svg {
  height: 20px
}
/*# sourceMappingURL=summary-humanreadable-short.component.css.map */
