@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-short {
  width: fit-content;
  margin: 18px auto 20px;
  .tp-widget-humanscore {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
  }

  .tp-widget-businessinfo {
    margin: 0 10px;

    a {
      &, > * {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0;
      }

      strong {
        font-weight: 700;
      }
      span {
        font-weight: 400;
      }
    }
  }

  .tp-widget-logo {
    width: auto;
    transform: translateY(-3px);
    svg {
      height: 20px;
    }
  }
}
