@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.compact-subscription-webform {
  padding: 0;
  margin-bottom: 0;

  @include media('>=tablet') {
    max-width: 720px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .webform-flexbox {
    margin-top: 0;
  }

  .webform-box {
    //background: var(--color-neutral-3);
    padding: 0;
    border-radius: 5px !important;
  }

  .form-type-processed-text {
    //text-align: center;
  }

  .field-name-field-paragraph-title {
    p {
      font-weight: 700;
      font-size: 2em;
      line-height: 1.2;
      margin-bottom: 30px;
    }
  }

  .field-name-field-paragraph-text {
    @include media('>=tablet') {
      max-width: 720px;
      margin: 0 auto;
    }

    p {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .captcha {
    background: var(--color-neutral-3);
    margin: 0;
  }

  .g-recaptcha {
    > div {
      margin: 0 auto;
    }
  }

  .form-item .form-control {
    background-color: var(--color-neutral-3) !important;

    @include media('<tablet') {
      margin-bottom: 20px;
    }
  }

  .form-actions input[type=submit] {
    width: auto;
    min-width: 120px;

    @include media('<phone') {
      width: 100%;
    }
  }

  // Special styles.
  .node-type-forum {
    & {
      margin-top: 40px;
      margin-bottom: 40px;

      @include media('>=tablet') {
        margin-top: 80px;
        margin-bottom: 80px;
      }
    }
  }
}

.webform-confirmation__message {
  text-align: center;
}


