.compact-subscription-webform {
  padding: 0;
  margin-bottom: 0
}
.compact-subscription-webform .webform-flexbox {
  margin-top: 0
}
.compact-subscription-webform .webform-box {
  padding: 0;
  border-radius: 5px!important
}
.compact-subscription-webform .field-name-field-paragraph-title p {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 30px
}
.compact-subscription-webform .field-name-field-paragraph-text p {
  margin-bottom: 0;
  font-size: 18px
}
.compact-subscription-webform .captcha {
  background: var(--color-neutral-3);
  margin: 0
}
.compact-subscription-webform .g-recaptcha > div {
  margin: 0 auto
}
.compact-subscription-webform .form-item .form-control {
  background-color: var(--color-neutral-3)!important
}
.compact-subscription-webform .form-actions input[type=submit] {
  width: auto;
  min-width: 120px
}
.compact-subscription-webform .node-type-forum {
  margin-top: 40px;
  margin-bottom: 40px
}
.webform-confirmation__message {
  text-align: center
}
@media (min-width: 768px) {
  .compact-subscription-webform {
    max-width: 720px!important;
    margin-left: auto;
    margin-right: auto
  }
  .compact-subscription-webform .field-name-field-paragraph-text {
    max-width: 720px;
    margin: 0 auto
  }
  .compact-subscription-webform .node-type-forum {
    margin-top: 80px;
    margin-bottom: 80px
  }
}
@media (max-width: 767px) {
  .compact-subscription-webform .form-item .form-control {
    margin-bottom: 20px
  }
}
@media (max-width: 575px) {
  .compact-subscription-webform .form-actions input[type=submit] {
    width: 100%
  }
}
/*# sourceMappingURL=compact-subscription-webform.component.css.map */
