.page-search-users {
  .search-form__block {
    .search-form {
      position: relative;

      @include media('>=tablet') {
        max-width: 560px;
      }
    }

    .form-item-keys:after {
      top: 18px;
    }
  }

  #search-block-form {
    > div {
      display: flex;
      margin-top: 2px;
    }

    .form-type-search {
      flex: 1;
    }

    .form-actions {
      position: absolute;
      right: 0;
      opacity: 0;

      input {
        height: 55px;
      }
    }
  }

  .region-content {
    #search-form {
      &,
      & + h2 {
        display: none;
      }
    }
  }

  .search-title {
    padding: 0 15px;
  }

  .search-result {
    .media {
      flex-wrap: wrap;
    }

    .media-left {
      padding-right: 10px;
      min-width: 58px;
    }

    .media-body {
      @include media('>=tablet') {
        max-width: calc(100% - 170px);
      }

      .title {
        max-width: 100%;

        a {
          display: block;
          overflow-wrap: break-word;
          word-wrap: break-word;
        }
      }
    }

    .media-right {
      @include media('<tablet') {
        min-width: 100%;
      }
    }

    .flag {
      a {
        display: block;

        .btn {
          @extend %btn, .btn-success;
          @extend %btn, .btn-sm;
          font-size: 14px !important;
          line-height: 24px; //todo: check
        }
      }
    }
  }
}
