//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.page-search {
  .page-top {
    display: none;
  }

  #header {
    border-bottom: var(--color-neutral-2) 1px solid;

    input {
      &.search {
        background-color: var(--color-neutral-1);
      }
    }
  }

  #content {
    margin-top: 20px;
  }

  .view-search {
    .media {
      flex-wrap: wrap;
    }

    .media-left {
      border-radius: 3px;
      border: solid 1px var(--color-neutral-2);
      background-color: var(--color-page-bg);
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      position: relative;
      min-width: 92px;
      min-height: 92px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      img {
        display: block;
        height: auto;
        position: relative;
        width: 80px;
      }

      + .media-body {
        padding-left: 20px;
      }
    }
  }

  &.page-search-company {
    .search-snippet-custom {
      display: none;
    }

    #solr-sort-dropdown {
      + .dropdown-menu {
        a[href*="is_comment_count"] {
          display: none;
        }

        a[href*="is_vote_up"] {
          display: none;
        }
      }
    }

    .search-results {
      .title {
        margin-bottom: 0;
      }
    }

    .search-info {
      margin-top: 10px;
    }
  }
}

.search-form__block {
  background: var(--color-neutral-0);
  padding-top: 20px;

  #edit-basic {
    position: relative;

    .form-submit {
      height: 55px;
      margin-top: 5px;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 22px;
      z-index: 1;
      width: 55px;
    }
  }

  .search-form {
    input[type='text'] {
      background-color: rgba(245, 245, 245, .4);
      border: solid 1px var(--color-neutral-4);
      border-radius: 3px;
      box-shadow: none;
      color: var(--color-base);
      font-size: 28px;
      font-stretch: normal;
      font-style: normal;
      @include responsive-prop(700, 800, font-weight);
      height: 56px;
      letter-spacing: .3px;
      line-height: 1.29;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .form-item-keys {
    position: relative;

    &:after {
      color: $color-green-100;
      content: "\e829";
      font-family: "fa-custom";
      font-size: 18px;
      position: absolute;
      right: $side-gap;
      top: 38px;
      visibility: visible;
      z-index: 0;

      @include media('>=576px') {
        //top: 35px;
      }
    }
  }

  label {
    color: var(--color-neutral-7);
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 1.23;
    margin-bottom: 0;
    display: inline;
    text-align: left;
    justify-content: flex-start !important;
  }

  input[type=checkbox] {
    + label {
      cursor: pointer;
      display: inline-flex;
      justify-items: center;
      justify-content: center;
      align-content: center;
      position: relative;
      color: var(--color-neutral-7);
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 400 !important;
      letter-spacing: .2px;
      line-height: 1.23;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  .form-item-retain-filters {
    display: block;
    margin-top: 5px;
  }

  .form-item-exact {
    display: block;
    margin-top: 10px;
  }

  input[type=text],
  input[type=search]{
    width: 100%;
    background: none !important;
    height: 56px;
  }
}

#views-exposed-form-search-taxonomy-search {
  @include wso-container();

  > div {
    @include media('>=tablet') {
      max-width: 560px;
    }
  }

  .form--inline {
    position: relative;
  }

  #edit-actions {
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 55px;

    &:after {
      color: $color-green-100;
      content: "\e829";
      font-family: "fa-custom";
      font-size: 18px;
      position: absolute;
      right: $side-gap;
      top: 22px;
      visibility: visible;
      z-index: 0;
    }

    input {
      opacity: 0;
      height: 100%;
      width: 100%;
      display: block;
      margin-top: 5px;
    }
  }

  input[type=text] {
    width: 100%;
    background: none !important;
    height: 56px;
  }
}

.search-tabs {
  background: var(--color-neutral-0);
  padding-top: 20px;

  #drupal_tabs {
    .nav-tabs {
      text-align: left;

      li {
        display: inline-block;

        a {
          border: 0;
          background: transparent;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: .4px;
          color: var(--color-base);
          position: relative;
          border-radius: 0;

          &:after {
            background: $color-blue;
            bottom: -3px;
            content: "";
            height: 3px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: auto;
            transition: all 170ms linear;
            width: 0;
          }

          &:hover {
            &:after {
              left: $side-gap;
              opacity: 1;
              width: calc(100% - 30px);
            }
          }
        }

        &.active {
          a {
            @include responsive-prop(700, 800, font-weight);
            background: transparent;
            border-bottom: $color-blue 3px solid;
            border-top: 0;
            color: var(--color-base);
          }
        }
      }
    }
  }
}

.search-form {
  #edit-advanced {
    display: none;
  }
}

#drupal_tabs {
  margin: 0;

  .nav-tabs  {
    border: 0;

    a {
      padding: 10px 15px;
      display: block;
    }
  }
}

.search-filters {
  box-shadow: 0 1px 0 0 var(--color-neutral-3);
  background-color: var(--color-neutral-1);
  padding: 8px 0;

  .dropdown {
    margin-bottom: 10px;

    > .dropdown-toggle {
      &.btn {
        .caret {
          margin-left: 10px;
        }
      }
    }

    &.open {
      > .dropdown-toggle {
        &.btn {
          background-color: var(--color-neutral-0);
          border-radius: 3px;
          border: solid 1px $color-green-100;

          .caret {
            border-bottom: 4px solid \9
          ;
            border-bottom-color: $color-green-100;
            border-top: 0;
          }
        }
      }
    }

    .dropdown-toggle {
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .2px;
      line-height: normal;
    }
  }

  .btn {
    border-radius: 3px;
    border: solid 1px var(--color-neutral-4);
    background-color: var(--color-neutral-0);
    height: 36px;
    font-size: 13px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 26px;
    letter-spacing: .2px;
    color: var(--color-base);
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-appearance: none;

    /*
    &:before,
    &:after {
      content: '' !important;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 0;
      box-sizing: border-box;
      display: block !important;
    }

    &:before {
      border-bottom: 1px solid transparent;
      border-left: 1px solid transparent;
      bottom: 0;
      height: 1px;
      transform: translateX(100%);
    }

    &:after {
      border-right: 1px solid transparent;
      border-top: 1px solid transparent;
      height: 1px;
      top: 0;
      transform: translateX(-100%);
    }

    &:hover {
      &:before {
        border-color: $color-green-100;
        border-radius: 3px;
        height: calc(100% + 2px);
        transform: translateX(0);
        transition: .05s transform linear, .05s height linear .05s;
      }

      &:after {
        border-color: $color-green-100;
        border-radius: 3px;
        height: calc(100% + 2px);
        transform: translateX(0);
        transition: .05s transform linear .1s, .1s height linear .15s;
      }
    }
    */
  }
}

#search-filters__clear {
  margin-bottom: 10px;
}

.search-filters__container {
  ul {
    &.dropdown-menu {
      column-count: 1;
      padding: 20px;
      margin-top: 5px;
      min-width: 230px;
      z-index: #{$header-z-index + 1};

      &.col-num-3 {
        &.show {
          @include media('>=tablet') {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0px 10px;
          }
        }
      }

      li {
        padding: 0;
        display: flex;

        img {
          order: 3;
          margin-left: 5px;

          &.lazyloader-icon {
            display: none;
          }
        }

        &:last-child {
          @include media('>=tablet') {
            //border-bottom: solid 1px var(--color-neutral-3);
          }
        }

        &.dropdown-header {
          a {
            color: var(--color-base);
            font-weight: 700;
          }
        }

        a {
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.29;
          letter-spacing: .2px;
          color: var(--color-base);
          //display: block;
          position: relative;
          padding: 0;
          margin-top: 5px;
          margin-bottom: 5px;

          &:before {
            background-color: var(--color-neutral-0);
            border: solid 1px var(--color-neutral-4);
            border-radius: 2px;
            content: '';
            display: inline-block;
            height: 16px;
            margin-right: 10px;
            min-width: 16px;
            width: 16px;
          }

          .facet-item__value {
            margin-right: 5px;
          }

          &.facetapi-active {
            .facetapi-deactivate-widget {
              display: none;
            }

            .element-invisible {
              display: none;
            }

            &:before {
              background-color: $color-green-100;
              border: 1px solid $color-green-100;
              border-radius: 2px;
            }

            &:after {
              background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
              background-repeat: no-repeat;
              background-size: contain;
              content: '';
              height: 8px;
              left: 3px;
              position: absolute;
              top: 4px;
              width: 10px;
            }
          }

          &.is-active {
            .js-facet-deactivate {
              display: none;
            }

            &:before {
              background-color: $color-green-100;
              border: 1px solid $color-green-100;
              border-radius: 2px;
            }

            &:after {
              background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
              background-repeat: no-repeat;
              background-size: contain;
              content: '';
              height: 8px;
              left: 3px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 10px;
            }
          }
        }
      }
    }
  }

  .facet-active ul.dropdown-menu {
    opacity: 1 !important;
  }
}

#block-system-main {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0 !important;
  background: transparent;

  .apachesolr-browse-blocks {
    display: none;
  }
}

.view-search {
  margin-top: 20px;

  .view-content {
    padding: 15px;
    background: var(--color-neutral-0);
    min-height: 300px;

    @include media('>=tablet') {
      padding: 30px;
    }
  }

  .views-row {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.view-empty {
  @include wso-container();
}

.search-results {
  list-style: none;
  padding: 15px;
  background: var(--color-neutral-0);
  margin-bottom: 0;

  .media-body {
    max-width: 100%;
  }

  h2 {
    em {
      font-style: normal;
    }
  }

  p {
    &.search-snippet {
      margin-bottom: 3px;
    }
  }

  .title {
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.33;
    text-transform: capitalize;
    max-width: 100%;

    @include media('>=tablet') {
      max-width: calc(100% - 250px);
    }

    a {
      display: block;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
  }

  li {
    margin-bottom: 1em;
    padding-left: 0;
  }
}

.search-snippet-info {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: .2px;
  color: var(--color-base);
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;

  strong {
    color: var(--color-black);
    font-weight: 700;
  }
}

.search-result {
  h2,
  .embed-responsive {
    display: none;
  }

  .company-title-suffix {
    display: inline;
  }

  h3 {
    display: inline;
  }
}

.search-results__page-title {
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  margin-bottom: 10px;

  em {
    font-style: normal;
  }
}

.search-result__title-row {
  display: flex;
  flex-wrap: wrap;
}

.page-search-user {
  .search-results {
    .title {
      margin-bottom: 0;
    }
  }

  .media-left {
    img {
      height: auto;
      width: 56px;
    }
  }

  .search-info {
    margin-top: 10px;
  }
}

.media-right {
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;

  .btn {
    &.btn-xs {
      background-color: $color-green-100;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      min-width: 110px;

      &:hover {
        border-color: transparent;
      }

      &.wso-unfollow {
        background-color: transparent;
        border-color: $color-green-100;
        color: $color-green-100;
      }

      i {
        display: none;
      }
    }
  }
}

.search-result__type {
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-4);
  border-radius: 3px;
  color: var(--color-neutral-7);
  display: inline-block;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  height: 20px;
  letter-spacing: .4px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  white-space: nowrap;

  &--company {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 .75em;
      padding: 0;

      li {
        @include responsive-prop(700, 800, font-weight);
        background-color: var(--color-neutral-0);
        border: solid 1px var(--color-neutral-4);
        border-radius: 3px;
        color: var(--color-neutral-7);
        font-size: 11px;
        font-stretch: normal;
        font-style: normal;
        height: 20px;
        letter-spacing: .4px;
        line-height: 20px;
        text-transform: uppercase;
        white-space: nowrap;
        display: inline-block;
        margin-bottom: 10px !important;
        margin-right: 10px !important;
        padding: 0 10px !important;
      }
    }
  }
}

.search-result__industry {
  li {
    @include responsive-prop(700, 800, font-weight);
    background-color: var(--color-neutral-0);
    border: solid 1px var(--color-neutral-4);
    border-radius: 3px;
    color: var(--color-neutral-7);
    display: inline-block;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    height: 20px;
    letter-spacing: .4px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 10px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  display: flex;
  flex-wrap: wrap;
}

.item-list {
  ul {
    &.search-result__industry {
      li {
        margin-bottom: 10px !important;
        margin-right: 10px !important;
        padding: 0 10px !important;
      }
    }
  }
}

.search-info {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  margin-top: 15px;

  span {
    margin-right: 15px;
  }

  &__additional-count {
    span {
      margin-right: 5px;
      pagging-right: 5px;

      &:after {
        content: '|';
        display: inline-block;
        margin-left: 5px;
        pagging-left: 5px;
        opacity: 0.75;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

.search-info__bananas {
  @include responsive-prop(700, 800, font-weight);
  background-color: rgba(121, 186, 90, .1);
  border-radius: 3px;
  color: $color-green-100;
  display: inline-block;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .4px;
  line-height: 1.09;
  padding: 3px 5px;
}

.search-info__user {
  display: none;
}

.search-info__comments {
  i {
    color: var(--color-neutral-4);
    font-size: 16px;
    margin-right: 5px;
  }
}

.search-advanced {
  .criterion {
    float: left;
    margin-right: 2em;
  }

  .action {
    clear: left;
    float: left;
  }
}

.search-result--company-node {
  margin-bottom: 40px;

  .search-result__type--company ul {
    margin: 0;
  }

  .search-info {
    margin-top: 0;
  }

  .search-snippet-info {
    margin-top: 10px;
  }
}

/*
#wso-sidebar-right {
  display: block !important;
}

.region-sidebar-right {
  margin-top: 20px;

  .block {
    .box-content {
      padding: 18px !important;

      p {
        &.h4 {
          color: var(--color-neutral-7);
          font-size: 12px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 700;
          letter-spacing: .4px;
          line-height: 1.33;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
        }
      }
    }
  }
}
*/

#wso-sidebar-right {
  p.h4 {
    color: var(--color-neutral-6);
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .4px;
    line-height: 1.33;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  .box-content {
    padding: 18px !important;
  }
}

#block-relatedforums {
  .media {
    margin-top: 20px;
    display: flex;

    &:hover {
      text-decoration: none;

      .media-object {
        border-color: $color-green-100;
      }
    }
  }

  .media-left {
    padding-right: 10px;
  }

  .media-object {
    @include responsive-prop(700, 800, font-weight);
    background-color: var(--color-neutral-0);
    border: solid 1px var(--color-neutral-4);
    border-radius: 8px;
    color: var(--color-base);
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    height: 40px;
    letter-spacing: -0.2px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    display: block;
  }

  .media-body {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: .2px;
    color: var(--color-neutral-7);

    h4 {
      color: var(--color-base);
      font-size: 15px;
      font-weight: 700;
      line-height: 1.2;
    }
  }
}

#block-peoplealsosearchedfor {
  ul {
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
    border: 0;

    li {
      padding: 5px 0;
      border: 0;

      a {
        font-size: 15px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: .2px;
        color: var(--color-base);

        .icon {
          color: $color-green-100;
          height: 12px;
          margin-right: 10px;
          width: 12px;
        }
      }
    }
  }
}

#block-company-database-wso-company-db-search-similar {
  .media-heading {
    color: var(--color-base);
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 1.2;
  }

  .media-body {
    p {
      color: var(--color-neutral-7);
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: .2px;
      line-height: 1.23;
    }
  }

  .media-left {
    img {
      width: 40px;
    }
  }
}

.region {
  &.region-content {
    &.white-bg {
      &.p-md {
        &.m-t-n {
          border-bottom: 1px solid var(--color-neutral-3);
          border-left: 1px solid var(--color-neutral-3);
          border-right: 1px solid var(--color-neutral-3);
        }
      }
    }
  }
}

/*======================================================================* END OF Page Search*======================================================================*/

@media (max-width: 575px) {
  .search-filters {
    .dropdown {
      .dropdown-toggle {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .media-left {
    display: block;
    max-width: 100%;
    padding-left: 0 !important;
    padding-right: 0;
  }

  .media-right {
    display: block;
    max-width: 100%;
    padding-left: 0 !important;
    padding-right: 0;
  }

  .media-body {
    display: block;
    max-width: 100%;
    padding-left: 0 !important;
    padding-right: 0;
  }

  .item-list {
    ul {
      &.search-result__industry {
        li {
          margin-bottom: 10px !important;
        }
      }
    }
  }

  .page-search-company {
    .media-left {
      background: transparent;
      border: 0;
    }
  }
}

@include media('<tablet') {
  /*
  #wso-sidebar-right {
    padding: 0;
  }
  */

  .search-filters__container {
    ul {
      &.dropdown-menu {
        max-width: 100%;
      }
    }
  }

  #wso-content-outer {
    padding: 0;
  }


  .search-results {
    h2 {
      padding: 0 15px;
    }

    .title {
      margin-right: 10px;
    }
  }

  .search-results__page-title {
    padding: 0 15px;
  }

}

@media (min-width: 576px) {
  .search-filters {
    .btn {
      width: auto;
    }
  }
}

@include media('>=tablet') {
  .search-form__block {
    #views-exposed-form-search-site,
    #views-exposed-form-search-companies {
      max-width: 560px;
    }

    .form-item-exact {
      margin-top: 0;
      position: absolute;
      right: 0;
      top: -5px;
    }
  }

  .search-result__type {
    margin-bottom: 0;
    margin-left: 10px;
  }


  .search-tabs {
    #drupal_tabs {
      .nav-tabs {
        li {
          display: inline-block;
          width: auto;
        }
      }
    }
  }

  .search-filters {
    //height: 52px;

    .dropdown {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  #search-filters__clear {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .search-filters__container {
    display: flex;
    justify-content: space-between;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }

    > div {
      display: flex;
    }
  }

  .solr-filter-forums-dropdown {
    &.open {
      > .dropdown-menu {
        display: flex;
      }
    }

    .dropdown-menu {
      span {
        //padding-right: 15px;

        &:last-child {
          padding-right: 0;
        }
      }

      .divider {
        display: none;
      }
    }
  }

  #block-system-main {
    margin-bottom: 100px;
  }

  .search-results {
    padding: 30px;
  }

  .search-result__title-row {
    flex-wrap: nowrap;
  }
}
