{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <ul class="breadcrumb">
    {% for item in breadcrumb %}
      <li {{ item.attributes }}>
        {% if item.url %}
          {% if item.text == 'Home' %}
            <a href="{{ item.url }}"><span class="d-none d-md-inline-block">{{ item.text }}</span><i class="icon icon-home-2 d-md-none"></i></a>
          {% else %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% endif %}
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
