//Common styles
@import './components/common-styles/common-styles.component';
@import './components/common-styles/helpers/wso-variables';

$aliceblue_f3f8ff: #f3f8ff;
$beige_fcf8e3: #fcf8e3;
$cornflowerblue_1662b0: #1662b0;
$darkorange_ff8c06: #ff8c06;
$darkslateblue_3c5a9a: #3c5a9a;
$gold_feca06: #f5b226;
$limegreen_08c42a: #08c42a;
$limegreen_0cb930: #0cb930;
$royalblue_087dfd: #087dfd;

html {
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  overflow-y: scroll;
}

b {
  font-weight: 800;
}

strong {
  font-weight: 700;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-1 {
  margin-top: .25rem !important;
}

.my-1 {
  margin-top: .25rem !important;
}

.pull-left {
  float: left;
}

a {
  &.indico {
    font-size: 10px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
}

p {
  line-height: 24px;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.alert {
  padding: .75rem 1.25rem;
}

.node {
  .field-name-body {
    img {
      display: block;
      height: auto;
      max-width: 100%;
      float: none !important;
    }

    iframe {
      max-width: 100%;
    }

    h3 {
      padding-top: 24px;
    }

    .node {
      .field-name-body {
        h4 {
          padding-top: 16px;
        }
      }
    }

    ol {
      margin-bottom: 16px;
      margin-top: 8px;
      padding-left: 24px;
    }

    ul {
      margin-bottom: 16px;
      margin-top: 8px;
      padding-left: 24px;
    }

    li {
      line-height: 26px;
      margin-bottom: 4px;
      padding-bottom: 8px;
      padding-left: 4px;
    }

    a {
      &.btn {
        font-family: "Open Sans", Arial, sans-serif;

        &.btn-lg {
          font-size: 16px;
          height: auto;
          line-height: 140%;
          max-width: 100%;
          min-height: 56px;
          padding: 16px;
          white-space: normal;
        }
      }
    }
  }

  .anonymous-post {
    &.author-details {
      align-items: center;
      display: flex;
      font-size: 16px;
      margin: 0;
    }

    .author-details-container {
      display: flex;
    }
  }

  .author-details-avatar {
    a {
      &.indico {
        font-size: 14px;
        height: 48px;
        width: 48px;
      }
    }
  }

  .content {
    .field-name-body {
      &:after {
        clear: both;
        content: '';
        display: block;
        height: 1px;
        width: 100%;
      }
    }
  }
}

blockquote {
  border-left: 3px solid var(--color-neutral-5);
  font-style: italic;
  letter-spacing: -.15px;
  line-height: 26px;
  margin: 0 0 24px 8px;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 4px 16px;
  word-wrap: break-word;
}

.breadcrumbs-created {
  background: var(--color-neutral-0);

  span[data-big-pipe-placeholder-id] {
    display: block;
    min-height: 35px;
    min-width: 80px;
    padding: 15px 15px 5px 15px;
  }

  .breadcrumb {
    padding: 15px 15px 5px;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;

    li {
      display: inline-flex;

      a {
        font-size: 14px;
      }
    }
  }

  .created {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.29;
    padding: 13px 15px 5px;
    text-align: right;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .post-author-share {
    margin: 25px 0;
    font-size: 14px;
    width: 100%;
    max-width: calc(100% - 60px);

    .author-details-info {
      max-width: calc(100% - 60px);
      width: 100%;
    }

    .author-details-info-rank {
      font-size: 12px;
    }

    .author-details {
      .author-details-info-name {
        > .m-r-xs {
          overflow: hidden;
        }
      }

      .username {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .post-wrap {
    .post-header {
      .forum__op__icon {
        i {
          &.icon {
            &.icon-star {
              &.icon__star__styles {
                align-items: center;
                border: 3px solid $gold_feca06;
                border-radius: 50%;
                bottom: 1px;
                display: flex;
                font-size: 14px;
                height: 20px;
                justify-content: center;
                position: absolute;
                right: -4px;
                width: 20px;
              }
            }
          }
        }
      }
    }
  }

  .node {
    .field-name-body {
      overflow-x: hidden;
    }
  }

  h1 {
    &.wso-forum-title {
      //font-size: 1.8em !important;
      //line-height: 38px;
    }
  }

  .icon {
    font-size: 17px;
  }

  .icon-bananas {
    &:before {
      font-size: 17px;
    }
  }

  #header {
    > .container {
      height: inherit;
      width: 100%;
    }
  }

  .wso-username {
    .rankings {
      display: none;
    }

    .points {
      display: none !important;
    }

    .post-user-pic {
      display: none;
    }
  }

  .post-when {
    position: relative;
    white-space: nowrap;
  }

  .separate-vertical {
    display: none;
  }

  .post-footer {
    .post-action-bar {
      > .row {
        > .col-sm-18 {
          margin-bottom: 15px;
        }
      }
    }
  }

  .bookmarks-links {
    > div {
      padding-left: 10px;
    }
  }

  .node-forum {
    .content {
      p {
        font-size: 16px;
      }
    }

    &.well {
      padding: 15px;
    }
  }
}

@media (max-width: 991px) {
  #header {
    min-height: inherit;

    .navbar__top__part {
      .navbar__top__user {
        .user-messages {
          display: none;
        }

        .user-messages--notifications {
          display: none;
        }
      }
    }

    > .container {
      height: inherit;
      margin-bottom: 0;
      max-width: 1170px;
      padding: 0;
    }

    .dropdown-menu {
      column-count: initial;
      column-gap: initial;
    }
  }

  .nav-main-mobile {
    .block-monkey-head-floating {
      .userbox {
        .dropdown-backdrop {
          display: none;
        }

        .header__user-menu__items {
          li {
            &:first-child {
              display: none;
            }
          }
        }
      }
    }
  }

  .header__forum-options__block {
    .forum__dropdown__submenu {
      border: 0;
    }
  }

  .buttons-wrapper {
    padding: 10px 32px;
    border-top: 1px solid var(--color-neutral-2);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;

    > a {
      margin-right: 15px;

      &.btn {
        background: $limegreen_0cb930;
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 700;
        letter-spacing: .2px;
        line-height: 1.33;
        padding: 9px 14px;
        text-transform: uppercase;
      }
    }
  }

  .authorize__links {
    align-items: center;
    display: flex;
    height: 48px;
    transform: translateX(3px);
  }

  .btn {
    &.authorize__link {
      text-transform: uppercase;
    }
  }

  .authorize__link__login {
    margin-right: 16px;
  }

  .authorize__link__signup {
    padding: 7px 14px;
  }

  .navbar__top__part {
    .logo {
      margin: 6px;
    }

    .navbar__top__user {
      .authorize__links {
        display: none;
      }
    }
  }

  #wso-bottom-panel {
    display: block;
    z-index: 1002;
  }

  .vud-widget-wso {
    > ul {
      border: 0;
      border-radius: .188rem;
      font-size: 1rem;
      height: 33px;
      line-height: 1.5;
      padding: .438rem 5px;
    }

    ul {
      li {
        &.options-toggle {
          + li {
            border-left: 1px solid var(--color-neutral-3);
            margin-left: 5px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .not-logged-in {
    .vud-widget-wso {
      ul {
        li {
          &.options-toggle {
            + li {
              border-left: 1px solid var(--color-neutral-3);
              margin-left: 5px;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }

  .post-share {
    .dropdown {
      .dropdown-menu--social {
        -ms-flex-direction: column;
        display: flex;
        flex-direction: column;
        position: static;
      }
    }
  }
}

*,::after,::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}

article {
  display: block;
}

header {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  text-align: left;
  text-rendering: optimizeLegibility;
}

h1 {
  letter-spacing: -1px;
  margin: 0;
  font-size: 3.2em;
  line-height: 44px;
  margin-bottom: 8px;
  font-weight: 400;

  &.wso-forum-title {
    display: inline;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: .3px;
    text-transform: capitalize;

    @include media('>=tablet') {
      font-size: 36px;
    }
  }
}

h3 {
   font-size: 30px;
  font-weight: 600;
  letter-spacing: .5px;
  line-height: 36px;
  margin: 0 0 10px;
  margin-bottom: .5rem;
  margin-top: 0;
  text-transform: capitalize;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 32px;
  margin: 0 0 8px;
  margin-bottom: .5rem;
  margin-top: 0;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;

  ul {
    margin-bottom: 0;
  }

  &.list {
    li {
      margin-bottom: 13px;
    }
  }
}

a {
  text-decoration: none;
  outline: 0 !important;

  &:not([href]) {
    text-decoration: none;
  }

  &.indico {
    font-size: 10px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
}

img {
  border-style: none;
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;

  &.close {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
  }
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
}

[type=button] {
  -webkit-appearance: button;
}

[type=submit] {
  -webkit-appearance: button;
}

.h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
}

mark {
  padding: .2em;
}

.list-inline {
  padding-left: 0;
  list-style: none;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.row {
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-6,
.col-sm-18,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-10,
.col-lg-14,
.col-lg-16,
.col-lg-17,
.col-lg-19,
.col-lg-24 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .876rem + 2px);
  padding: .438rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid var(--color-neutral-4);
  border-radius: .188rem;
  border-color: var(--color-neutral-4);

  &:-ms-expand {
    border: 0;
  }

  &:-moz-focusring {
    text-shadow: 0 0 0 var(--color-base);
  }

  &:-webkit-input-placeholder {
    opacity: 1;
  }

  &:-ms-input-placeholder {
    opacity: 1;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: .25rem;
}

.form-inline {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.fade {
  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.dropdown {
  position: relative;

  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border-radius: 3px;
    border: 1px solid var(--color-neutral-3);
    -webkit-box-shadow: none;
    box-shadow: none;

    > span {
      align-items: center;
      display: inline-flex;
    }

    .icon {
      margin-right: 10px;
    }

    &:after {
      display: none;
    }
  }

  .dropdown-menu {
    -webkit-box-shadow: none;
    -webkit-column-count: 1;
    -webkit-column-gap: initial;
    border: 1px solid var(--color-neutral-3);
    box-shadow: none;
    column-count: 1;
    column-gap: initial;
    padding: 0;
  }
}

.dropdown-toggle {
  white-space: nowrap;

  &:after {
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .3em solid;
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
  }
}

.dropdown-menu {
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .188rem;
  display: none;
  float: left;
  font-size: 1rem;
  left: 0;
  list-style: none;
  margin: .125rem 0 0;
  min-width: 10rem;
  padding: .5rem 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

.dropdown-item {
  border: 0;
  clear: both;
  display: block;
  font-weight: 400;
  padding: .25rem 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}

.btn-group {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  margin-right: 1rem;
  padding-bottom: .3125rem;
  padding-top: .3125rem;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown-menu {
    float: none;
    position: static;
  }
}

.card {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .188rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius: .188rem;
  font-size: 12px;
  background: 0 0;
  margin: 0 0 4px;
  padding: 0;
  font-weight: 500;

  li {
    padding-top: 4px;
    padding-bottom: 4px;
    letter-spacing: .2px;
    text-shadow: none;
    text-transform: capitalize;
    font-weight: 500;

    span {
      text-transform: capitalize;
    }

    a {
      font-size: 12px;
      font-weight: 500;
      text-transform: capitalize;
    }

    &:last-child {
      font-weight: 700;
    }
  }

  > li {
    + li {
      &:before {
        content: '\f105';
        display: inline;
        font-family: fa-custom;
        padding: 0 5px;
      }
    }
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .188rem;
  text-align: left;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;

  li {
    margin: 0 0 20px;

    + li {
      margin: 0 0 20px -1px;
    }

    > a {
      border: 1px solid var(--color-neutral-4);
      border-radius: 0;
      display: inline-block;
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      height: 30px;
      letter-spacing: .2px;
      line-height: 30px;
      padding: 0 10px;
      text-align: center;
    }

    &.pager__item--last {
      a {
        border-radius: 3px;
        font-weight: 600;
        text-transform: capitalize;
      }
      margin-left: 8px;
    }
  }
}

.badge {
  border-radius: .188rem;
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: .25em .4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.media {
  align-items: flex-start;
  display: flex;
}

.media-body {
  flex: 1;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  opacity: .5;
  text-shadow: 0 1px 0 var(--color-neutral-0);
}

.rounded-circle {
  border-radius: 50% !important;
}

.clearfix {
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  display: block;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.align-self-center {
  align-self: center !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-1 {
  margin-right: .25rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mr-auto {
  margin-right: auto !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.post-footer {
  .comment-forbidden {
    padding-left: 0;

    a {
      padding: 0 10px !important;
      font-size: .875rem;
      line-height: 30px !important;
      border-radius: .125rem;

      &:first-child {
        border: 1px solid $limegreen_0cb930;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
      }

      &:last-child {
        border: 1px solid $limegreen_0cb930;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
      }
    }
  }
}

.visible-xs-inline {
  display: none;
}

.m-l-xs {
  margin-left: 5px;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-md {
  margin-top: 20px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.img-responsive {
  height: auto;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.well {
  -webkit-box-shadow: none !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  margin-bottom: 24px;
  padding: 8px 24px 16px;
}

.well-no-border {
  border: 0;
}

li {
  line-height: 24px;
}

.item-list {
  ul {
    li {
      margin: 0 !important;
    }
  }
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

i {
  &.icon {
    &.icon-star {
      font-size: 1.2em;
    }
  }
}

.bg-white {
  background: var(--color-neutral-0);
}

.btn-primary {
  border: 1px solid $royalblue_087dfd;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn-secondary {
  border: 1px solid var(--color-neutral-7);
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn-success {
  border: 1px solid $limegreen_0cb930;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  font-weight: 600;
  letter-spacing: .015em;
  border: 1px solid transparent;
  padding: .438rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .188rem;

  &.btn-xs {
    border-radius: .125rem;
    font-size: .6875rem;
    line-height: 1.5;
    padding: .15rem .25rem;
  }

  &.btn-md {
    text-transform: uppercase;
  }

  &.btn-secondary {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid $limegreen_0cb930;
    font-weight: 600;

    &.mono {
      border: 1px solid var(--color-neutral-3);
    }
  }
}

.btn-info {
  border: 1px solid $royalblue_087dfd;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn-sm {
  border-radius: .125rem;
  font-size: .875rem;
  line-height: 1.5;
  padding: .25rem .5rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.block {
  .box-content {
    padding: 20px 20px 10px;
  }

  > .field-name-body {
    margin: 0;
    padding: 0;
  }
}

.post-block {
  h3 {
    font-weight: inherit;
  }
}

label {
  clear: both;
  display: inline-block;
  font-weight: 400 !important;
  margin-bottom: .5rem;
}

.form-item {
  input[type=text] {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  margin-top: inherit;
}

.required {
  font-size: inherit;
}

.form-actions {
  margin-top: inherit;
}

form {
  label {
    font-weight: 500;
  }
}

.field-name-body {
  font-size: 16px;
  padding: 0 8px;
  margin-bottom: 16px;
  line-height: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
  }
}

#header {
  background: var(--color-neutral-0);
  border-top: inherit;
  min-height: inherit !important;
  top: 0;
  z-index: 1001;
  position: sticky;

  > .container {
    border-bottom: 1px solid var(--color-neutral-4);
  }
}

.header__forum-options__block {
  width: 100%;

  .dropdown-menu {
    -webkit-column-count: auto;
    column-count: auto;
    -webkit-column-gap: initial;
    column-gap: initial;
    border: 1px solid var(--color-neutral-3);
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0 !important;
    width: 100%;
    border-radius: 0 0 4px 4px;
    margin: 0;
    padding: 0;
    border-top: 0;

    > li {
      border-bottom: 1px solid var(--color-neutral-4);
      font-size: 13px;
      line-height: 1.23;

      &:last-child {
        border-bottom: 0;
      }

      > a {
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 12px 10px 12px 16px;

        i {
          margin-right: 10px;
        }
      }
    }

    li {
      &:last-child {
        border: none !important;
      }

      .forum__dropdown__submenu {
        border-top: 0;
      }
    }

    i {
      display: inline-block;
    }
  }

  .forum__dropdown_option {
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: normal;
    padding: 10px 10px 10px 16px;
    position: relative;
    width: 100%;
  }

  .forum__dropdown__submenu {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    height: 100%;
    max-height: 100%;
    position: relative;
    background: 0 0;

    h3 {
      border-bottom: 1px solid var(--color-neutral-2);
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .4px;
      line-height: 1;
      margin: 0;
      padding-bottom: 14px;
      padding-left: 24px;
      padding-top: 14px;
    }

    li {
      border-bottom: var(--color-neutral-2) 1px solid !important;
    }
  }

  .icon {
    font-size: 16px;
    margin-right: 12px;
    text-align: center;
    width: 15px;
  }
}

.header__search {
  width: 100%;

  form {
    padding: 8px 15px;

    .form--inline {
      position: relative;
    }
  }

  input[type=text] {
    font-size: 14px;
    height: 36px;
    background: var(--color-neutral-1) !important;
    border-color: var(--color-neutral-3);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px !important;
    margin-top: 0;
    width: 100%;

    &:-webkit-input-placeholder {
      font-size: 14px;
    }

    &:-moz-placeholder {
      font-size: 14px;
    }

    &:-ms-input-placeholder {
      font-size: 14px;
    }
  }

  .form-actions {
    position: absolute;
    right: 0;
    top: 0;
    display: block;

    input {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:after {
      -webkit-font-smoothing: antialiased;
      content: '\e829';
      display: inline-block;
      font: 14px/1 fa-custom;
      position: absolute;
      right: 12px;
      text-rendering: auto;
      top: 10px;
    }
  }
}

.navbar__top__part {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 48px;

  .icon {
    font-size: 14px;
  }

  .logo {
    position: relative;
    z-index: 1;
    padding: 0 !important;
    min-width: 96px;
    max-width: 96px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {
      height: auto;
      margin-top: 0;
      width: 100%;
    }
  }

  .navbar__top__branding {
    display: flex;

    nav {
      &.navbar {
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }

  .navbar__top__user {
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    margin-right: 5px;
  }

  .nav-main-mobile {
    background: var(--color-neutral-0);
  }

  button[data-bs-toggle=collapse] {
    padding: 0;
    height: 32px;
    width: 32px;
    margin: 8px 5px;

    .icon-cancel {
      display: none;
    }
  }
}

.pager-container {
  margin-top: 30px;
  margin-bottom: 20px;
  clear: both;
  padding: 0 15px;

  .pagination {
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 0;
  }
}

.pager-container--center {
  .pagination {
    margin: 0 auto;
  }
}

.vud-widget-wso {
  position: relative;

  ul {
    margin-bottom: 0;

    &.list-unstyled {
      &.list-inline {
        display: flex;
      }
    }

    li {
      &.options-toggle {
        position: relative;

        + li {
          padding-left: 0;
        }
      }
    }
  }

  .badge {
    background: var(--color-neutral-3);
    font-size: 10px;
    line-height: 18px;
    margin-left: 5px;
    padding: 0 7px;
  }

  .up-active {
    display: inline-block;
    height: 19px;

    &:before {
      background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
      background-position: -108px -64px;
      content: '';
      display: inline-block;
      height: 19px;
      width: 23px;
    }
  }

  .down-active {
    display: inline-block;
    height: 18px;

    &:before {
      background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
      background-position: -164px -117px;
      content: '';
      display: inline-block;
      height: 18px;
      width: 19px;
    }
  }
}

.not-logged-in {
  .vud-widget-wso {
    ul {
      li {
        &.options-toggle {
          + li {
            margin-left: 5px;
          }

          > span {
            -ms-flex-align: center;
            -ms-flex-line-pack: center;
            -ms-flex-pack: center;
            align-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}

#comments {
  margin-bottom: 40px;
}

#comments-title-wrapper {
  font-weight: 700;
  background: var(--color-neutral-0);
  border-top: 2px solid var(--color-neutral-5);
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 13px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;

  h3 {
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 1.25;
    margin-bottom: 0;
  }
}

.wso-username {
  > li {
    padding-left: 5px;
    padding-right: 5px;
  }

  .points {
    font-size: 12px;

    a {
      position: relative;
      padding-left: 5px;

      &:before {
        -webkit-transform: translateY(-50%);
        background: var(--color-neutral-4);
        content: "";
        font-weight: 300;
        height: 12px;
        left: 0;
        margin-left: -5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }
    }
  }

  .post-user-pic {
    position: relative !important;
    margin-right: 2px;

    img {
      position: static !important;
    }
  }
}

.post-share {
  margin: 25px 0 30px;

  .dropdown {
    .dropdown-menu {
      background: 0 0;
      border: 0;
      margin: 0;
      min-width: 48px;
      padding: 0;
    }

    .dropdown-toggle {
      padding: 0;
      border: 0;
      margin: 0;

      .icon {
        margin: 0;
      }

      .icon-share-sprite {
        background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
        background-position: -164px -137px;
        display: inline-block;
        height: 18px;
        width: 18px;
      }

      .icon-close-sprite {
        background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
        background-position: -144px -138px;
        display: none;
        height: 16px;
        width: 16px;
      }
    }

    .dropdown-toggle--post-share[aria-expanded=false] {
      > span {
        position: relative;

        &:after {
          background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
          background-position: -90px -44px;
          content: '';
          display: inline-block;
          height: 16px;
          position: absolute;
          right: 0;
          top: 0;
          width: 16px;
        }
      }
    }

    .dropdown-toggle--post-share {
      .icon-rss {
        font-size: 23px;
      }
    }
  }

  .dropdown-item {
    padding: 0;
  }

  .dropdown-toggle {
    height: 48px !important;
    width: 48px !important;
    position: relative;

    > span {
      -ms-flex-align: center;
      -ms-flex-line-pack: center;
      -ms-flex-pack: center;
      align-content: center;
      align-items: center;
      background: var(--color-neutral-0);
      border: 2px solid var(--color-neutral-3);
      border-radius: 100% !important;
      display: inline-flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }

  .flag-follow-forum-topic {
    height: 48px !important;
    width: 48px !important;
    position: relative;

    &.action-flag {
      &:after {
        background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
        background-position: -90px -44px;
        content: '';
        display: inline-block;
        height: 16px;
        position: absolute;
        right: 0;
        top: 0;
        width: 16px;
      }
    }
  }

  .subscription-link {
    height: 48px !important;
    width: 48px !important;
    position: relative;
    background: var(--color-neutral-0);
    border: 2px solid var(--color-neutral-3);
    border-radius: 100% !important;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:after {
      background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
      background-position: -90px -44px;
      content: '';
      display: inline-block;
      height: 16px;
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
    }

    .icon {
      font-size: 23px;
      margin: 0;
    }

    span {
      display: none;
    }
  }

  a {
    &.flag-follow-forum-topic {
      height: 48px !important;
      width: 48px !important;
      position: relative;
      background: var(--color-neutral-0);
      border: 2px solid var(--color-neutral-3);
      border-radius: 100% !important;
      display: inline-flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      &:after {
        background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
        background-position: -90px -44px;
        content: '';
        display: inline-block;
        height: 16px;
        position: absolute;
        right: 0;
        top: 0;
        width: 16px;
      }

      .icon {
        font-size: 23px;
        margin: 0;
      }

      span {
        display: none;
      }
    }
  }
}

.post-header {
  h1 {
    &.wso-forum-title {
      -webkit-hyphens: auto;
      //font-size: 24px;
      //font-weight: 700;
      hyphens: auto;
      //line-height: 28px;
      max-width: 100%;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
  }
}

.post-author-share {
  margin: 25px 0 30px;
  font-size: 14px;
  flex: 1;

  .author-details {
    margin-top: 0;

    .username {
      font-size: 15px;
      font-weight: 700;
    }
  }

  .author-details-info-name {
    .indico {
      vertical-align: inherit;
    }
  }
}

.post-tags {
  .field-name-taxonomy-vocabulary-15 {
    display: flex;
    flex-wrap: wrap;

    .field--item {
      background: var(--color-neutral-1);
      border: 1px solid var(--color-neutral-3);
      border-radius: 14px;
      font-size: 95%;
      font-weight: 300;
      margin: 0 8px 8px 0;
      padding: 2px 8px;

      a {
        font-size: 13px;
        font-weight: 500;
      }

      &:before {
        content: "#";
        font-size: 16px;
        font-weight: 800;
        margin-right: 5px;
      }
    }
  }
}

.bookmarks-links {
  font-size: 14px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  height: auto;
  min-height: 33px;
  line-height: 1;

  a {
    &:not(.flag-replacer) {
      font-weight: 600;
      white-space: nowrap;
      border: 0;
    }
  }

  > div {
    padding-left: 10px;
  }
}

.node-forum {
  .field-name-body {
    p {
      font-size: 15px;
    }
  }

  &.well {
    -webkit-box-shadow: none;
    border-radius: 0;
    box-shadow: none;
    padding: 20px 24px;
  }
}

.certified_user {
  border: 2px solid $gold_feca06;
}

.separate-vertical {
  font-weight: 300;
  margin-left: -5px;
  margin-right: 5px;
}

@media (min-width: 414px) {
  .bookmarks-links {
    a {
      &:not(.flag-replacer) {
        font-size: 1rem;
        line-height: 1.5;
        padding: .438rem .75rem;
        border: 0;
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .form-inline {
    .form-group {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      margin-bottom: 0;
    }

    .form-control {
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }
  }
}

@media (max-width: 479px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 413px) {
  .bookmarks-links {
    padding: .438rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .188rem;
    border: 1px solid var(--color-neutral-3);
    display: flex;
    flex-wrap: wrap;

    > div {
      padding-left: 15px;
    }
  }
}

.adthrive-placeholder-op,
.adthrive-placeholder-comment {
  position: relative;

  &:before {
    content: '';
    display: block;
  }

  > div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.adthrive-placeholder-op {
  &:before {
    padding-top: 66%;
  }

  > div {
    top: -20px;
  }
}

.adthrive-placeholder-comment {
  &:before {
    padding-top: 83.33%;

    @include media('<=350px') {
      padding-top: 90%;
    }
  }

  > div {
    top: -10px;
  }
}
