//Common styles
@import './components/common-styles/common-styles.component';
@import './components/03-organisms/node/forum-post/post-share';
@import "./components/03-organisms/block/forum-related-events/forum-related-events.component";

$aliceblue_f3f8ff: #f3f8ff;
$beige_fcf8e3: #fcf8e3;
$cadetblue_17a2b8: #17a2b8;
$cornflowerblue_1662b0: #1662b0;
$darkorange_ff8c06: #ff8c06;
$darkslateblue_3c5a9a: #3c5a9a;
$gold_feca06: #f5b226;
$hotpink_e83e8c: #e83e8c;
$limegreen_08c42a: #08c42a;
$limegreen_0CB930: #0cb930;
$limegreen_0cb930: #0cb930;
$mediumblue_6610f2: #6610f2;
$royalblue_087DFD: #087dfd;
$royalblue_087dfd: #087dfd;
$slateblue_6f42c1: #6f42c1;
$tomato_f04944: #f04944;

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  overflow-y: scroll;
}

article {
  display: block;
}

header {
  display: block;
}

nav {
  display: block;
}

// todo: include this fix + enable visibility after scroll
//.region-sidebar-right > section:nth-child(n+4){
//  visibility: hidden;
//  content-visibility: auto;
//}

section {
  display: block;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  text-align: left;
  text-rendering: optimizeLegibility;
}

h1 {
  letter-spacing: -1px;
  margin: 0 0 8px 0;
  font-size: 3.2em;
  line-height: 44px;
  font-weight: 400;

  &.wso-forum-title {
    display: inline;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: .3px;
    text-transform: capitalize;

    @include media('>=tablet') {
      font-size: 36px;
    }
  }
}

h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: .5px;
  line-height: 36px;
  margin: 0 0 10px;
  margin-bottom: .5rem;
  margin-top: 0;
  text-transform: capitalize;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 32px;
  margin: 0 0 8px;
  margin-bottom: .5rem;
  margin-top: 0;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

p {
  line-height: 24px;
  margin-bottom: 1rem;
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;

  ul {
    margin-bottom: 0;
  }

  &.list {
    li {
      margin-bottom: 13px;
    }
  }
}

a {
  text-decoration: none;
  outline: 0 !important;

  &:not([href]) {
    text-decoration: none;
  }

  &.indico {
    font-size: 10px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
}

img {
  border-style: none;
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
}

[type=button] {
  -webkit-appearance: button;
}

[type=submit] {
  -webkit-appearance: button;
}

.h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
}

mark {
  padding: .2em;
}

.list-inline {
  padding-left: 0;
  list-style: none;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.row {
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-10,
.col-lg-14,
.col-lg-16,
.col-lg-17,
.col-lg-19,
.col-lg-24,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-sm-18,
.col-sm-6 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.table {
  width: 100%;
  margin-bottom: 1rem;

  td {
    border-top: 1px solid var(--color-neutral-4);
    padding: .75rem;
    vertical-align: top;
  }

  > tbody {
    > tr {
      > td {
        line-height: 1.42857;
      }
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .876rem + 2px);
  padding: .438rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid var(--color-neutral-4);
  border-radius: .188rem;

  &:-ms-expand {
    border: 0;
  }

  &:-moz-focusring {
    text-shadow: 0 0 0 var(--color-base);
  }

  &:-webkit-input-placeholder {
    opacity: 1;
  }

  &:-ms-input-placeholder {
    opacity: 1;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: .25rem;
}

.form-inline {
  -ms-flex-align: center;
  -ms-flex-flow: row wrap;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.fade {
  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.dropdown {
  position: relative;

  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border-radius: 3px;
    border: 1px solid var(--color-neutral-3);
    box-shadow: none;

    > span {
      align-items: center;
      display: inline-flex;
    }

    .icon {
      margin-right: 10px;
    }

    &:after {
      display: none;
    }
  }

  .dropdown-menu {
    -webkit-box-shadow: none;
    -webkit-column-count: 1;
    -webkit-column-gap: initial;
    border: 1px solid var(--color-neutral-3);
    box-shadow: none;
    column-count: 1;
    column-gap: initial;
    padding: 0;
  }
}

.dropdown-toggle {
  white-space: nowrap;

  &:after {
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .3em solid;
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
  }
}

.dropdown-menu {
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .188rem;
  display: none;
  float: left;
  font-size: 1rem;
  left: 0;
  list-style: none;
  margin: .125rem 0 0;
  min-width: 10rem;
  padding: .5rem 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

.dropdown-item {
  border: 0;
  clear: both;
  display: block;
  font-weight: 400;
  padding: .25rem 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}

.btn-group {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.navbar {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;

  .container {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  margin-right: 1rem;
  padding-bottom: .3125rem;
  padding-top: .3125rem;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown-menu {
    float: none;
    position: static;
  }
}

.card {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .188rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius: .188rem;
  font-size: 12px;
  background: 0 0;
  margin: 0 0 4px;
  padding: 0;
  font-weight: 500;

  li {
    padding-top: 4px;
    padding-bottom: 4px;
    letter-spacing: .2px;
    text-shadow: none;
    text-transform: capitalize;
    font-weight: 500;

    span {
      text-transform: capitalize;
    }

    a {
      font-size: 12px;
      font-weight: 500;
      text-transform: capitalize;
    }

    &:last-child {
      font-weight: 700;
    }
  }

  > li {
    + li {
      &:before {
        content: '\f105';
        display: inline;
        font-family: fa-custom;
        padding: 0 5px;
      }
    }
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .188rem;
  text-align: left;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;

  li {
    margin: 0 0 20px;

    + li {
      margin: 0 0 20px -1px;
    }

    > a {
      border: 1px solid var(--color-neutral-4);
      border-radius: 0;
      display: inline-block;
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      height: 30px;
      letter-spacing: .2px;
      line-height: 30px;
      padding: 0 10px;
      text-align: center;
    }

    &.pager__item--last {
      a {
        border-radius: 3px;
        font-weight: 600;
        text-transform: capitalize;
      }
      margin-left: 8px;
    }
  }
}

.badge {
  border-radius: .188rem;
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: .25em .4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.media {
  -ms-flex-align: start;
  align-items: flex-start;
  display: flex;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  opacity: .5;
  text-shadow: 0 1px 0 var(--color-neutral-0);
}

.rounded-circle {
  border-radius: 50% !important;
}

.clearfix {
  display: block;

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-1 {
  margin-right: .25rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mr-auto {
  margin-right: auto !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.post-footer {
  .comment-forbidden {
    a {
      &:first-child {
        border: 1px solid $limegreen_0cb930;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
      }

      &:last-child {
        border: 1px solid $limegreen_0cb930;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
      }
      padding: 0 10px !important;
      font-size: .875rem;
      line-height: 30px !important;
      border-radius: .125rem;
    }
    padding-left: 0;
  }
}

#megamenu {
  .dropdown {
    .dropdown-toggle {
      font-weight: 700;
      border: 0;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: .2px;
      line-height: 1.23;
      margin: 0;
      padding: 0;
      height: auto;

      &:after {
        display: none;
      }
    }
  }
}

.visible-xs-inline {
  display: none;
}

.m-l-xs {
  margin-left: 5px;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-md {
  margin-top: 20px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.img-responsive {
  height: auto;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.well {
  border-radius: 3px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: 24px;
  padding: 8px 24px 16px;

  blockquote {
    border-left: 3px solid var(--color-neutral-5);
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.well-no-border {
  border: 0;
}

blockquote {
  border-left: 3px solid var(--color-neutral-3);
  font-size: inherit;
  font-style: italic;
  letter-spacing: -.15px;
  line-height: 26px;
  margin: 0 0 24px 8px;
  padding: 4px 16px;
}

li {
  line-height: 24px;
}

strong {
  font-weight: 700;
}

i {
  &.icon {
    &.icon-star {
      font-size: 1.2em;
    }
  }
}

.bg-white {
  background: var(--color-neutral-0);
}

.field--label-inline {
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.field--label {
  font-weight: 600;

  &:after {
    content: ': ';
    display: inline-block;
    margin-right: 10px;
  }
}

.btn-primary {
  border: 1px solid $royalblue_087dfd;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn-secondary {
  border: 1px solid var(--color-neutral-7);
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn-success {
  border: 1px solid $limegreen_0cb930;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  font-weight: 600;
  letter-spacing: .015em;
  border: 1px solid transparent;
  padding: .438rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .188rem;

  &.btn-xs {
    border-radius: .125rem;
    font-size: .6875rem;
    line-height: 1.5;
    padding: .15rem .25rem;
  }

  &.btn-md {
    text-transform: uppercase;
  }

  &.btn-secondary {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid $limegreen_0cb930;
    font-weight: 600;

    &.mono {
      border: 1px solid var(--color-neutral-3);
    }
  }
}

.btn-info {
  border: 1px solid $royalblue_087dfd;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn-sm {
  border-radius: .125rem;
  font-size: .875rem;
  line-height: 1.5;
  padding: .25rem .5rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.block {
  .box-content {
    padding: 20px 20px 10px;
  }

  > .field-name-body {
    margin: 0;
    padding: 0;
  }
}

.post-block {
  h3 {
    font-weight: inherit;
  }
}

label {
  clear: both;
  display: inline-block;
  font-weight: 400 !important;
  margin-bottom: .5rem;
}

.form-item {
  input[type=text] {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  margin-top: inherit;
}

.required {
  font-size: inherit;
}

.form-actions {
  margin-top: inherit;
}

form {
  label {
    font-weight: 500;
  }
}

.field-name-body {
  font-size: 16px;
  padding: 0 8px;
  margin-bottom: 16px;
  line-height: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
  }
}

.node {
  .content {
    .field-name-body {
      img {
        display: block;
        height: auto;
        max-width: 100%;
      }

      &:after {
        clear: both;
        content: '';
        display: block;
        height: 1px;
        width: 100%;
      }
    }
  }

  .field-name-body {
    li {
      line-height: 26px;
      margin-bottom: 4px;
    }

    ul {
      margin-bottom: 16px;
      margin-top: 8px;
      padding-left: 24px;
    }

    h3 {
      padding-top: 24px;
    }
  }
}

#wso-sidebar-right {
  table {
    border: none;

    tbody {
      border: none;
    }
  }
}

.region-sidebar-right {
  .btn-start-discussion {
    .icon {
      margin-right: 5px;
    }
  }

  > .block {
    border: 0;
  }

  .block {
    margin-bottom: 20px;
    border-radius: 0;

    .h4 {
      font-size: 17px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 700;
      letter-spacing: .2px;
      line-height: 1.25;
      padding-bottom: 8px;
    }

    .block-title {
      line-height: 1.25;
      margin: 0;
      padding: 20px 24px;
    }

    p {
      &.h4 {
        line-height: 1.25;
        margin: 0;
        padding: 20px 24px;
      }
    }

    .wso-btn-see-all {
      float: right;
      text-transform: uppercase;
    }

    .list {
      li {
        line-height: inherit;
        margin-bottom: 0;
      }
    }

    .block__description {
      padding: 0 24px;
    }

    .box-content {
      padding: 0;

      ul {
        border-top: 2px solid var(--color-neutral-2);
        padding: 10px 24px 0;

        li {
          border-bottom: 1px solid var(--color-neutral-2);
          padding: 5px 0 12px;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  .line {
    background: $royalblue_087dfd;
    height: 2px;
    position: absolute;
  }
}

#block-topcontentblock {
  .box-content {
    > p {
      padding: 20px 24px;
    }
  }
}

#highest-ranked-discussions-block {
  ul {
    position: relative;
    border-top: none;
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    &.list-inline {
      border-bottom: 2px solid var(--color-neutral-2);
      font-size: 14px;

      li {
        border-bottom: none;
        padding: 0 13px 10px;

        &:first-child {
          padding-left: 24px;
        }

        a {
          font-weight: 400;
          letter-spacing: .1px;
          padding-bottom: 13px;
          text-decoration: none;
        }

        &.active {
          border: none;

          a {
            font-weight: 700;
          }
        }
      }
    }
  }

  li {
    &.active {
      &:nth-child(2) {
        ~ {
          .line {
            left: 31%;
            width: 12%;
          }
        }
      }
    }
  }

  .more-link {
    padding: 0 24px 20px;

    a {
      &.btn {
        font-size: 14px;
        height: 32px;
        line-height: 30px;
        padding: 0 14px;
        white-space: nowrap;
      }
    }
  }
}

#header {
  background: var(--color-neutral-0);
  border-top: inherit;
  min-height: inherit !important;
  top: 0;
  z-index: 1001;
  position: sticky;

  > .container {
    border-bottom: 1px solid var(--color-neutral-4);
  }
}

.header__forum-options__block {
  width: 100%;

  .dropdown-toggle {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 100%;
    position: relative;
    outline: 0;
    background: var(--color-neutral-0);
    text-align: left !important;
    padding: 0 !important;
    height: 36px;
    border-radius: 3px;
    border: 1px solid var(--color-neutral-3);

    > span {
      -ms-flex-align: center;
      align-items: center;
      display: inline-flex;
    }

    a {
      align-items: center;
      display: flex;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      justify-content: space-between;
      letter-spacing: .2px;
      line-height: 1.29;
      text-decoration: none;
    }

    .caret {
      border: 0;
      min-width: 16px;
      width: 16px;
      height: 16px;
      position: relative;
      margin-left: 20px;

      &:before {
        border: 1px solid var(--color-neutral-4);
        border-radius: 2px;
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
      }

      &:after {
        -webkit-transform: rotate(-90deg);
        content: '\e808';
        display: inline-block;
        font-family: fa-custom;
        font-size: 9px;
        left: 5px;
        position: absolute;
        top: 3px;
        transform: rotate(-90deg);
      }
    }

    &:after {
      display: none;
    }

    span {
      &.caret {
        -webkit-transform: translateY(-50%);
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .dropdown-menu {
    -webkit-column-count: auto;
    column-count: auto;
    -webkit-column-gap: initial;
    column-gap: initial;
    border: 1px solid var(--color-neutral-3);
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0 !important;
    width: 100%;
    border-radius: 0 0 4px 4px;
    margin: 0;
    padding: 0;
    border-top: 0;
  }

  .forum__dropdown_option {
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: normal;
    padding: 10px 10px 10px 16px;
    position: relative;
    width: 100%;
  }

  .icon {
    font-size: 16px;
    margin-right: 12px;
    text-align: center;
    width: 15px;
  }
}

.header__search {
  width: 100%;

  form {
    padding: 8px 15px;

    .form--inline {
      position: relative;
    }
  }

  input[type=text] {
    font-size: 14px;
    height: 36px;
    background: var(--color-neutral-1) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px !important;
    margin-top: 0;
    width: 100%;

    &:-webkit-input-placeholder {
      font-size: 14px;
    }

    &:-moz-placeholder {
      font-size: 14px;
    }

    &:-ms-input-placeholder {
      font-size: 14px;
    }
  }

  .form-actions {
    position: absolute;
    right: 0;
    top: 0;
    display: block;

    input {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:after {
      -webkit-font-smoothing: antialiased;
      content: '\e829';
      display: inline-block;
      font: 14px/1 fa-custom;
      position: absolute;
      right: 12px;
      text-rendering: auto;
      top: 10px;
    }
  }
}

.navbar__top__part {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 48px;

  .icon {
    font-size: 14px;
  }

  .logo {
    position: relative;
    z-index: 1;
    padding: 0 !important;
    min-width: 96px;
    max-width: 96px;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;

    img {
      height: auto;
      margin-top: 0;
      width: 100%;
    }
  }

  .navbar__top__branding {
    display: flex;

    nav {
      &.navbar {
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }

  .navbar__top__user {
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    margin-right: 5px;
  }

  .nav-main-mobile {
    background: var(--color-neutral-0);
  }

  button[data-bs-toggle=collapse] {
    padding: 0;
    height: 32px;
    width: 32px;
    background: var(--color-neutral-2);
    margin: 8px 5px;

    .icon-cancel {
      display: none;
    }
  }
}

.navbar__bottom__part {
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  .nav__forum {
    display: flex;

    .header__forum-industries__block {
      display: flex;

      .header__industry__items {
        position: relative;
        margin: 0;
        padding: 0 11px;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;

        li {
          height: 34px;
          line-height: 34px;
          margin: 0;
          display: inline-flex;
          -ms-flex-align: center;
          align-items: center;
          padding-right: 5px;
          padding-left: 5px;

          &.divider {
            font-size: 12px;
            font-weight: 400;
          }

          a {
            width: 30px;
            height: 30px;
            display: inline-block;
            border-radius: 2px;
            font-size: 11px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.27;
            letter-spacing: .2px;
            padding: 0;
            position: relative;

            .icon {
              -webkit-transform: translate(-50%, -50%);
              font-size: 14px;
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        + .header__industry__items {
          display: flex;
          -ms-flex-pack: justify;
          justify-content: space-between;
          border-radius: 3px;
          border: 1px solid var(--color-neutral-3);
          padding: 0 10px;
          margin-left: 0;

          li {
            a {
              background: 0 0;
              height: auto;
              margin-top: 0;
              width: auto;
            }
          }
        }
      }

      .header__industry__items--icons {
        padding-right: 2px;

        li {
          margin-top: 1px;
        }
      }
    }
  }
}

.breadcrumbs-created {
  .breadcrumb {
    padding: 15px 15px 5px;
    margin: 0;
    background: var(--color-neutral-0);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;

    li {
      display: inline-flex;

      a {
        font-size: 14px;
      }
    }
  }

  .created {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.29;
    padding: 13px 15px 5px;
    text-align: right;
    white-space: nowrap;
  }
}

.node-type-forum {
  #wso-content-outer {
    > .pager-container {
      margin-top: 0;
    }
  }
}

.pager-container {
  margin-top: 30px;
  margin-bottom: 20px;
  clear: both;
  padding: 0 15px;

  .pagination {
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 0;
  }
}

.pager-container--center {
  .pagination {
    margin: 0 auto;
  }
}

.vud-widget-wso {
  position: relative;

  ul {
    margin-bottom: 0;

    &.list-unstyled {
      &.list-inline {
        display: flex;
      }
    }

    li {
      &.options-toggle {
        position: relative;

        + li {
          padding-left: 0;
        }
      }
    }
  }

  .badge {
    font-size: 10px;
    line-height: 18px;
    margin-left: 5px;
    padding: 0 7px;
  }

  .up-active {
    display: inline-block;
    height: 19px;

    &:before {
      background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
      background-position: -108px -64px;
      content: '';
      display: inline-block;
      height: 19px;
      width: 23px;
    }
  }

  .down-active {
    display: inline-block;
    height: 18px;

    &:before {
      background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=#{$sprite-version});
      background-position: -164px -117px;
      content: '';
      display: inline-block;
      height: 18px;
      width: 19px;
    }
  }
}

.not-logged-in {
  .vud-widget-wso {
    ul {
      li {
        &.options-toggle {
          + li {
            margin-left: 5px;
          }

          > span {
            -ms-flex-align: center;
            -ms-flex-line-pack: center;
            -ms-flex-pack: center;
            align-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}

.icon-flag {
  display: inline-block;
}

.icon-flag.global,
.icon-flag.apac {
  @include sprite($flag-global);
}

.icon-flag.usa,
.icon-flag.usa_northeast,
.icon-flag.usa_west,
.icon-flag.usa_south,
.icon-flag.usa_midwest {
  @include sprite($flag-usa);
}

.icon-flag.uk {
  @include sprite($flag-uk);
}

.icon-flag.canada {
  @include sprite($flag-canada);
}

.icon-flag.apac_singapore {
  @include sprite($flag-singapore);
}

.icon-flag.apac_hongkong {
  @include sprite($flag-hongkong);
}

.icon-flag.apac_china {
  @include sprite($flag-china);
}

.icon-flag.apac_australia {
  @include sprite($flag-australia);
}

.icon-flag.apac_india {
  @include sprite($flag-india);
}

.icon-flag.apac_other {
  @include sprite($flag-apac-other);
}

.icon-flag.europe {
  @include sprite($flag-europe);
}

.icon-flag.europe_germany {
  @include sprite($flag-germany);
}

.icon-flag.europe_france {
  @include sprite($flag-france);
}

.icon-flag.europe_italy {
  @include sprite($flag-italy);
}

.icon-flag.europe_western {
  @include sprite($flag-europe-western);
}

.icon-flag.europe_eastern {
  @include sprite($flag-ukraine);
}

.icon-flag.southamerica {
  @include sprite($flag-south-america);
}

.icon-flag.centralamerica {
  @include sprite($flag-central-america);
}

.icon-flag.middleeast {
  @include sprite($flag-middle-east);
}

.icon-flag.africa {
  @include sprite($flag-africa);
}

.icon-flag.centralasia {
  @include sprite($flag-central_asia);
}

#comments {
  margin-bottom: 40px;
}

#comments-title-wrapper {
  font-weight: 700;
  background: var(--color-neutral-0);
  border-top: 2px solid var(--color-neutral-5);
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 13px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;

  h3 {
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 1.25;
    margin-bottom: 0;
  }
}

.comment-overall-layer {
  position: relative;
}

.comment {
  .post-header {
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
}

.wso-username {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 5px;
  padding-left: 0;
  list-style: none;
  font-size: 14px;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

  > li {
    padding-left: 5px;
    padding-right: 5px;
  }

  > span {
    margin-right: 5px;
  }

  .points {
    font-size: 12px;

    a {
      position: relative;
      padding-left: 5px;

      &:before {
        -webkit-transform: translateY(-50%);
        background: var(--color-neutral-4);
        content: "";
        font-weight: 300;
        height: 12px;
        left: 0;
        margin-left: -5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }
    }
  }

  .post-user-pic {
    position: relative !important;
    margin-right: 2px;

    img {
      position: static !important;
    }
  }
}

.comment__certified-user {
  left: auto;
  top: auto;
  right: 8px;
  bottom: 0;
  position: absolute;
  width: 7px;

  .icon__star__styles {
    position: static !important;
  }
}

.comment-content {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 16px;

  .field-name-comment-body {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    padding: 15px 11px 0;
    word-wrap: break-word;
  }

  p {
    clear: inherit;
    margin: 0 0 10px;
    overflow-wrap: break-word;
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.comment-name-anchor-outer {
  height: 1px;
  overflow: hidden;
  position: relative;
  top: -50px;
  width: 1px;
}

a[id^=comment-] {
  display: block;
  height: 22px;
  position: relative;
  top: -80px;
  visibility: hidden;
  width: 1px;
}

.post-header {
  h1 {
    &.wso-forum-title {
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      //font-size: 24px;
      //font-weight: 700;
      hyphens: auto;
      //line-height: 28px;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
  }
}

.post-author-share {
  margin: 25px 0 30px;
  font-size: 14px;
  -ms-flex: 1;
  flex: 1;

  .author-details {
    margin-top: 0;

    .username {
      font-size: 15px;
      font-weight: 700;
    }
  }

  .author-details-info-name {
    .indico {
      vertical-align: inherit;
    }
  }
}

.post-tags {
  .field-name-taxonomy-vocabulary-15 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .field--item {
      background: var(--color-neutral-1);
      border: 1px solid var(--color-neutral-3);
      border-radius: 14px;
      font-size: 95%;
      font-weight: 300;
      margin: 0 8px 8px 0;
      padding: 2px 8px;

      a {
        font-size: 13px;
        font-weight: 500;
      }

      &:before {
        content: "#";
        font-size: 16px;
        font-weight: 800;
        margin-right: 5px;
      }
    }
  }
}

.post-region-tags {
  background: var(--color-neutral-2);
  border-radius: 3px;
  padding: 7px 15px;

  .field-name-field-region {
    .field--label {
      float: none;
      font-weight: 500 !important;
      white-space: nowrap;
    }

    .icon-flag {
      -webkit-transform: scale(.8) translateY(-2px);
      -webkit-transform-origin: center;
      transform: scale(.8) translateY(-2px);
      transform-origin: center;
      vertical-align: bottom;
    }
  }
}

.bookmarks-links {
  font-size: 14px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  line-height: 1;

  a {
    &:not(.flag-replacer) {
      font-weight: 600;
      white-space: nowrap;
      border: 0;
    }
  }
}

.comment-container {
  background: var(--color-neutral-0);
  margin-bottom: 20px;
  padding: 0 0 8px;
  position: relative;
  width: 100%;

  .post-wrap {
    .post-header {
      padding: 8px 13px;
    }

    .comment-content {
      padding: 0 13px;

      .field-name-comment-body {
        padding-top: 8px;
      }
    }
  }
}

.node-forum {
  .field-name-body {
    p {
      font-size: 15px;
    }
  }

  &.well {
    -webkit-box-shadow: none;
    border-radius: 0;
    box-shadow: none;
    padding: 20px 24px;
  }
}

.certified_user {
  border: 2px solid $gold_feca06;
}


@media (min-width: 414px) {
  .bookmarks-links {
    a {
      &:not(.flag-replacer) {
        border: 0;
        border-radius: .188rem;
        font-size: 1rem;
        line-height: 1.5;
        padding: .438rem .75rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .form-inline {
    .form-group {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      margin-bottom: 0;
    }

    .form-control {
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .d-md-none {
    display: none !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .pager-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .post-region-tags {
    .field-name-field-region {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      .field--items {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
      }

      .field--item {
        margin-left: 7px;

        &:before {
          background: var(--color-neutral-4);
          content: '';
          display: inline-block;
          height: 14px;
          margin-right: 3px;
          vertical-align: middle;
          width: 1px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .authorize__link {
    font-weight: 800;
  }

  .btn {
    &.authorize__link {
      font-weight: 800;
    }
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-5 {
    flex: 0 0 20.83333%;
    max-width: 20.83333%;
  }

  .col-lg-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-7 {
    flex: 0 0 29.16667%;
    max-width: 29.16667%;
  }

  .col-lg-8 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-10 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-14 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-16 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-17 {
    flex: 0 0 70.83333%;
    max-width: 70.83333%;
  }

  .col-lg-19 {
    flex: 0 0 79.16667%;
    max-width: 79.16667%;
  }

  .col-lg-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;

    .navbar-nav {
      flex-direction: row;

      .dropdown-menu {
        position: absolute;
      }

      .nav-link {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
  }

  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }

  .mt-lg-0 {
    margin-top: 0 !important;
  }

  .mt-lg-2 {
    margin-top: .5rem !important;
  }

  .ml-lg-2 {
    margin-left: .5rem !important;
  }

  .wso-col-5 {
    width: 20%;
  }

  strong {
    font-weight: 800;
  }

  .region-sidebar-right {
    .block {
      .h4 {
        font-weight: 800;
      }
    }
  }

  #block-topcontentblock {
    min-height: 868px;
  }

  #highest-ranked-discussions-block {
    ul {
      &.list-inline {
        li {
          &.active {
            a {
              font-weight: 800;

              .darkmode & {
                color: var(--color-neutral-8)
              }
            }
          }
        }
      }
    }
  }

  #header {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);

    > .container {
      border-bottom: none;
    }

    #megamenu {
      .btn-info {
        font-weight: 800;
      }
    }
  }

  .header__forum-options__block {
    width: 180px;

    .forum__dropdown_option {
      font-weight: 800;
    }

    .dropdown-menu {
      background: var(--color-neutral-0) !important;
      //width: 198px;
    }

    .forum__dropdown__submenu {
      h3 {
        font-weight: 800;
      }
    }
  }

  .authorize__links {
    -ms-flex-align: center;
    -webkit-transform: translateX(3px);
    align-items: center;
    display: flex;
    height: 48px;
    transform: translateX(3px);
  }

  .authorize__link {
    font-weight: 700;
    text-transform: uppercase;
  }

  .btn {
    &.authorize__link {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .authorize__link__login {
    margin-right: 16px;
  }

  .authorize__link__signup {
    padding: 7px 14px;
  }

  .header__search {
    max-width: 210px;
    margin-left: 6px;

    form {
      padding: 0;
    }
  }

  .navbar__top__part {
    height: auto;
  }

  .navbar__bottom__part {
    min-height: 38px;
    padding-bottom: 10px;

    .nav__forum {
      .header__forum-industries__block {
        .header__industry__items {
          padding: 0 6px;
        }
      }
    }
  }

  #megamenu {
    .dropdown {
      position: static;
      height: 48px;
      padding: 16px 0 14px;
      margin: 0 16px;
      border-bottom: 2px solid transparent;
      background: 0 0;

      .dropdown-toggle {
        font-weight: 800;
      }
    }
  }

  .breadcrumbs-created {
    .breadcrumb {
      padding: 12px 25px 8px;
    }

    .created {
      padding: 12px 25px 8px;
    }
  }

  .not-logged-in {
    .vud-widget-wso {
      ul {
        li {
          &.options-toggle {
            border: 1px solid var(--color-neutral-3);
            border-radius: .188rem;
            font-size: 1rem;
            height: 33px;
            line-height: 1.5;
            min-width: 50px;
            padding: .438rem .75rem;
          }
        }
      }
    }
  }

  #comments-title-wrapper {
    font-weight: 800;

    h3 {
      font-weight: 800;
    }
  }

  .post-share {
    .dropdown {
      .dropdown-menu--post-share {
        display: flex;
        position: static;
      }
    }
  }

  .post-header {
    h1 {
      &.wso-forum-title {
        //font-size: 32px;
        //line-height: 40px;
      }
    }
  }

  .post-author-share {
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .author-details {
      -ms-flex-wrap: nowrap;
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .bookmarks-links {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 33px;
  }

  .node-forum {
    .field-name-body {
      p {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header__forum-options__block {
    width: 200px;
  }

  .navbar__bottom__part {
    .nav__forum {
      .header__forum-industries__block {
        .header__industry__items {
          padding: 0 11px;

          + .header__industry__items {
            margin-left: 7px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1199px) {
  #highest-ranked-discussions-block {
    ul {
      &.list-inline {
        li {
          padding: 0 8.5px 10px;

          a {
            font-size: 12px;
          }
        }
      }
    }

    .more-link {
      font-size: 12px;
    }
  }
}

@media (max-width: 991px) {
  #header {
    min-height: inherit;

    > .container {
      height: inherit;
      margin-bottom: 0;
      max-width: 1170px;
      padding: 0;
    }

    .dropdown-menu {
      -webkit-column-count: initial;
      -webkit-column-gap: initial;
      column-count: initial;
      column-gap: initial;
    }
  }

  .header__forum-options__block {
    .forum__dropdown__submenu {
      border: 0;
    }
  }

  .buttons-wrapper {
    padding: 10px 32px;
    border-top: 1px solid var(--color-neutral-2);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: end;
    justify-content: flex-end;

    > a {
      margin-right: 15px;

      &.btn {
        background: $limegreen_0cb930;
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 700;
        letter-spacing: .2px;
        line-height: 1.33;
        padding: 9px 14px;
        text-transform: uppercase;
      }
    }
  }

  .authorize__links {
    -ms-flex-align: center;
    -webkit-transform: translateX(3px);
    align-items: center;
    display: flex;
    height: 48px;
    transform: translateX(3px);
  }

  .btn {
    &.authorize__link {
      text-transform: uppercase;
    }
  }

  .authorize__link__login {
    margin-right: 16px;
  }

  .authorize__link__signup {
    padding: 7px 14px;
  }

  .navbar__top__part {
    .logo {
      margin: 6px;
    }

    .navbar__top__user {
      .authorize__links {
        display: none;
      }
    }
  }

  .vud-widget-wso {
    > ul {
      border: 1px solid var(--color-neutral-3);
      border-radius: .188rem;
      font-size: 1rem;
      height: 33px;
      line-height: 1.5;
      padding: .438rem 5px;
    }

    ul {
      li {
        &.options-toggle {
          + li {
            border-left: 1px solid var(--color-neutral-3);
            margin-left: 5px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .not-logged-in {
    .vud-widget-wso {
      ul {
        li {
          &.options-toggle {
            + li {
              border-left: 1px solid var(--color-neutral-3);
              margin-left: 5px;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }

  .post-share {
    .dropdown {
      .dropdown-menu--social {
        -ms-flex-direction: column;
        display: flex;
        flex-direction: column;
        position: static;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .region-sidebar-right {
    .block {
      .wso-btn-see-all {
        position: absolute;
        right: 24px;
      }
    }
  }
}

.userbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  > a {
    display: flex;
    text-decoration: none;
  }
  figure {
    margin: 0;
  }

  .profile-info {
    display: flex;
    align-items: center;
    margin: 0 8px;
    position: relative;
    vertical-align: middle;

    .caret {
      border: 0;
      min-width: 16px;
      width: 16px;
      height: 16px;
      position: relative;
      margin-left: 5px;

      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border: solid 1px var(--color-neutral-4);
      }

      &:after {
        font-family: 'fa-custom';
        content: '\e808';
        font-size: 9px;
        display: inline-block;
        transform: translate(-50%, -50%) rotate(-90deg);
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }
  }

  .profile-picture {
    display: inline-block;
    vertical-align: middle;

    img {
      width: 32px;
      height: 32px;
      max-width: 32px;
      max-height: 32px;
      object-fit: cover;
      transition: .3s ease-in-out;
    }
  }

  .profile__info {
    .name {
      display: block;
    }
  }

  .role {
    display: block;
    font-size: 1.1rem;
    line-height: 1.2em;
  }

  .name {
    font-size: 14px;
    line-height: 1.2em;
    max-width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.notifications {
  display: inline-block;
  list-style: none;
  padding: 0;
  vertical-align: middle;
  margin-bottom: 0;

  > li {
    position: relative;

    .notification-icon {
      background: var(--color-neutral-0);
      border-radius: 50%;
      border: solid 1px var(--color-neutral-4);
      display: inline-block;
      height: 32px;
      position: relative;
      width: 32px;
      text-align: center;
      transition: .3s ease-in-out;

      i {
        line-height: 30px;
        vertical-align: middle;

        &.fa-tasks {
          line-height: 32px;
        }
      }
    }

    > a {
      border: none;
      display: inline-block;
    }

    .private-message-notification-wrapper {
      .notification-icon {
        > a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }
  }

  .notification-icon {
    &:before {
      display: none;
      right: 11px;
      top: 35px;
      z-index: 9999;
    }

    .badge {
      font-size: 10px;
      font-weight: normal;
      height: 16px;
      padding: 3px 5px 3px 5px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -5px;
    }
    &.badge {
      background: $color-red;
      font-size: 10px;
      font-weight: normal;
      height: 16px;
      padding: 3px 5px 3px 5px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -5px;
    }
    &.notification-icon-danger {
      &.badge {
        background: $color-red;
        font-size: 10px;
        font-weight: normal;
        height: 16px;
        padding: 3px 5px 3px 5px;
        position: absolute;
        right: -5px;
        text-align: center;
        top: -5px;
      }
    }

  }

  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
}

////////////

html {
  overflow-y: scroll;
}

b,
strong {
  font-weight: 800;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mt-1,
.my-1 {
  margin-top: .25rem !important;
}

.pull-left {
  float: left;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.alert {
  padding: 0.75rem 1.25rem;
}

.comment-content > div {
  overflow: hidden;
}

.comment .field-name-comment-body,
.node .field-name-body {
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }
}

.node {
  .anonymous-post.author-details {
    margin: 0;
    font-size: 16px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  .author-details-avatar a.indico {
    font-size: 14px;
    height: 48px;
    width: 48px;
  }

  .anonymous-post .author-details-container {
    display: flex;
  }

  .field-name-body {
    h3 {
      padding-top: 24px;
    }

    .node .field-name-body h4 {
      padding-top: 16px;
    }

    ol,
    ul {
      margin-bottom: 16px;
      margin-top: 8px;
      padding-left: 24px;
    }

    li {
      line-height: 26px;
      margin-bottom: 4px;
      padding-bottom: 8px;
      padding-left: 4px;
    }

    a.btn {
      font-family: "Open Sans", Arial, sans-serif;

      &.btn-lg {
        font-size: 16px;
        height: auto;
        line-height: 140%;
        max-width: 100%;
        min-height: 56px;
        padding: 16px;
        white-space: normal;
      }
    }
  }
}

blockquote {
  margin: 0 0 24px 8px;
  border-left: 3px solid #c3c3c3;
  padding: 4px 16px;
  line-height: 26px;
  font-style: italic;
  letter-spacing: -.15px;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.breadcrumbs-created {
  span[data-big-pipe-placeholder-id] {
    padding: 15px 15px 5px 15px;
    display: block;
    min-height: 35px;
    min-width: 80px;

    @media (min-width: 992px) {
      padding: 12px 25px 8px;
    }
  }
}

@media (max-width: 991px) {
  #header .navbar__top__part .navbar__top__user .user-messages,
  #header .navbar__top__part .navbar__top__user .user-messages--notifications,
  .nav-main-mobile .block-monkey-head-floating .userbox .dropdown-backdrop,
  .nav-main-mobile .block-monkey-head-floating .userbox .header__user-menu__items li:first-child {
    display: none;
  }
}

@media (min-width: 992px) {
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }

  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  #block-topcontentblock {
    min-height: 868px;
  }
}

.adthrive-placeholder-op,
.adthrive-placeholder-comment {
  position: relative;

  &:before {
    content: '';
    display: block;
  }

  > div {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.adthrive-placeholder-op {
  &:before {
    padding-top: 66%;
  }
}

.adthrive-placeholder-comment {
  &:before {
    padding-top: 12.36%;

  }
}
