.paragraphs-item-text-with-cta .field-name-field-cta {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px
}
.paragraphs-item-text-with-cta .field-name-field-cta a {
  border-radius: 3px!important;
  letter-spacing: .2px;
  font-weight: 400;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  transition: none;
  padding: 16px 55px;
  text-transform: uppercase;
  border: none;
  font-family: Oswald-Regular,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  background: #22c8ff;
  font-size: 20px!important
}
@media (max-width: 767px) {
  .paragraphs-item-text-with-cta .field-name-field-cta a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 16px 38px
  }
}
/*# sourceMappingURL=paragraph.text-with-cta.component.css.map */
