#braintree-form {
  margin: 30px auto 0 auto;

  @include media('>=tablet') {
    max-width: 480px;
  }

  form {
    border-radius: 10px;
    background: var(--color-neutral-0);
  }

  .close {
    display: none;
  }
}
