@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

#block-wso-lms-banana-points-course-bar {
  width: 100%;
}

.course-chart {
  background: var(--color-neutral-0);
  padding: 10px 16px;
  border: solid 1px var(--color-neutral-2);

  &.course-chart-progress {
    padding: 16px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
    width: 100%;

    li {
      padding: 0 24px;

      &:first-child {
        border-bottom: 1px solid var(--color-neutral-2);
        padding-bottom: 18px;
      }
    }

    .total-average__part {
      h6 {
        color: var(--color-base);
        font-size: 12px;
        @include responsive-prop(700, 800, font-weight);
        letter-spacing: .1px;
        line-height: 1.33;
        margin-bottom: 8px;
      }
    }

    ul {
      &.block__content {
        .graph__wrapper {
          background-color: var(--color-neutral-2);
          border-radius: 3px;
          height: 24px;
          width: 100%;
          position: relative;
        }
      }
    }

    .graph__wrapper__blue {
      height: 24px;
    }

    .graph__wrapper__orange {
      height: 24px;
    }

    .graph__col {
      padding: 12px 9.8% !important;
    }

    .graph__wrapper {
      position: relative;
    }

    table {
      position: absolute;
      z-index: 2;
      top: 0;

      > tbody > tr > td {
        border-top: 0;
        border-bottom: 0;
      }
    }

    .total-average__price {
      left: 45%;
      top: -25px;
    }

    tbody {
      border-top: 0;

      td {
        &:first-child {
          min-width: auto;
        }
      }
    }
  }

  .btn {
    font-size: 11px;
    text-transform: uppercase;
    max-width: 102px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }
  }
}

.course-chart-progress-lesson {
  padding: 10px 16px 0;
  margin: 20px 16px;

  ul {
    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .block__part_rewards {
    padding: 0 0 24px 0;

    & + a {
      text-align: center;
      padding-bottom: 10px;
      display: block;
      font-size: 12px;
      @include responsive-prop(700, 800, font-weight);
      text-transform: uppercase;
    }
  }
}

ul {
  &.block__content {
    .graph__wrapper {
      background-color: var(--color-neutral-2);
      border-radius: 3px;
      height: 16px;
      width: 100%;
      position: relative;
    }
  }
}

.total-average__text_block {
  position: relative;
}

.total-average__title {
  font-size: 11px;
  color: var(--color-neutral-7);
  font-weight: 500;

  .bold {
    color: var(--color-base);
    @include responsive-prop(700, 800, font-weight);
  }
}

.total-average__price {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-size: 10px;
  left: 50%;
  position: absolute;
  top: -21px;
  z-index: 9;
}

.graph__wrapper__blue {
  background-color: $color-blue;
  border-radius: 3px;
  height: 100%;
}

.graph__wrapper__orange {
  background-color: $color-yellow;
  border-radius: 3px;
  content: "";
  height: 16px;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 20%;
  z-index: 1;
}

.btn-gray {
  background-color: var(--color-neutral-4);
  color: var(--color-neutral-7);
}

.block__part_rewards {
  display: flex;
  justify-content: space-around;
  padding: 0 24px 16px;

  & + a {
    text-align: center;
    display: block;
    font-size: 12px;
    @include responsive-prop(700, 800, font-weight);
    text-transform: uppercase;
  }
}
