@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.course-content__sidebar__row {
  @include media('>=desktop') {
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;

    .course-content__sideblocks {
      position: sticky;
      top: 0;
      padding: 0;
    }
  }
}

@include media('>=desktop') {
  .toolbar-horizontal.toolbar-fixed {
    .course-content__sidebar__row .course-content__sideblocks {
      top: 55px;
    }

    &.toolbar-tray-open {
      .course-content__sidebar__row .course-content__sideblocks {
        top: 85px;
      }
    }
  }
}

.course-toc {
  margin-top: 70px;

  h3 {
    color: var(--color-base);
    font-size: 20px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
  }

  .collapse {
    height: 40px;
    position: relative;
    min-height: 40px;
    display: block;
    overflow: hidden;

    &:after {
      background-image: linear-gradient(rgba(var(--color-neutral-0--rgb), 0), rgba(var(--color-neutral-0--rgb), 1));
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      transition: all .3s linear;
      width: 100%;

      .darkmode & {
        background-image: linear-gradient(rgba(28,28,33, 0), rgba(28,28,33, 1));
      }
    }

    &.show {
      height: auto;

      &:after {
        opacity: 0;
        transition: all .3s linear;
      }
    }
  }

  .collapsing {
    display: block;
    min-height: 40px;
    overflow: hidden;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      display: inline-flex;
      width: 100%;
      padding-right: 50px;

      &:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: $color-blue;
        content: '\f14a';
        display: inline-block;
        font: normal normal normal 14px/1 'fa-custom';
        font-size: 18px;
        margin-right: 10px;
        margin-top: 3px;
        text-rendering: auto;
      }
    }
  }

  a {
    border-top: var(--color-neutral-2) 1px solid;
    color: $color-blue;
    display: block;
    font-size: 16px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.25;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
  }
}

.course-toc__content {
  background-color: var(--color-neutral-0);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #00000019;
  color: var(--color-base);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .14px;
  line-height: 1.43;
  padding: 20px;

  .darkmode & {
    box-shadow: none;
  }
}

.block-wso-lms-company-db-promo {
  min-height: 228px;
  border-radius: 3px;
  border: solid 2px $color-green-100;
  background: url("/themes/custom/porto_sub/images/courses/company-db-promo.png") no-repeat center center;
  background-size: cover;
  margin-top: 60px;
  padding: 50px 15px;

  .darkmode & {
    background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
    url("/themes/custom/porto_sub/images/courses/company-db-promo.png") no-repeat center center;
  }

  h3 {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 32px;
    letter-spacing: .3px;
    line-height: 1.25;
    text-align: center;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .2px;
    text-align: center;
    margin-bottom: 20px;

    strong {
      color: var(--color-base);
    }
  }

  .btn {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .2px;
    text-transform: none;
  }
}

.block-wso-lms-interviews-list {
  margin-top: 30px;

  h3 {
    color: var(--color-base);
    font-size: 20px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
  }

  .block-interviews-list {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #00000019;
    padding: 20px;

    .darkmode & {
      box-shadow: none;
    }
  }

  .block-interviews-list__content {
    display: flex;
    flex-wrap: wrap;
  }

  .media {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    text-decoration: none;

    img {
      height: auto;
      //position: relative;
      //top: 50%;
      //transform: translateY(-50%);
      width: 80px;
    }
  }

  .media-left {
    background-color: var(--color-neutral-2);
    border: solid 1px var(--color-neutral-2);
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }

  .media-body {
    padding-left: 10px;
    padding-right: 0;

    h4 {
      color: var(--color-base);
      font-size: 18px;
      font-weight: 600;
      letter-spacing: .2px;
      line-height: 1.22;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.29;
      letter-spacing: .1px;
      color: var(--color-neutral-7);

      strong {
        color: $color-green-100;
      }
    }
  }

  .cta-button {
    border-top: var(--color-neutral-2) 1px solid;
    color: $color-blue;
    display: block;
    font-size: 16px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.25;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
  }

  tr {
    td {
      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.block-wso-lms-salaries-list {
  margin-top: 30px;

  h3 {
    color: var(--color-base);
    font-size: 20px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
  }

  .block-salaries-list {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #00000019;
    padding: 20px;

    .darkmode & {
      box-shadow: none;
    }

    .block-salaries-list {
      padding: 0;
      box-shadow: none;
      border-radius: 0;
    }
  }

  .media {
    display: flex;
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
    text-decoration: none;
    width: 100%;
  }

  img {
    height: auto;
    //position: relative;
    //top: 50%;
    //transform: translateY(-50%);
    width: 80px;
  }

  .media-left {
    background-color: var(--color-neutral-2);
    border: solid 1px var(--color-neutral-2);
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }

  .media-body {
    padding-left: 10px;
    padding-right: 0;

    h4 {
      color: var(--color-base);
      font-size: 18px;
      font-weight: 600;
      letter-spacing: .2px;
      line-height: 1.22;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.29;
      letter-spacing: .1px;
      color: var(--color-neutral-7);

      strong {
        color: $color-green-100;
      }
    }
  }

  .cta-button {
    border-top: var(--color-neutral-2) 1px solid;
    color: $color-blue;
    display: block;
    font-size: 16px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.25;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
  }

  tr {
    td {
      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .fake-content {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      width: 100%;
    }

    img {
      height: auto;
      position: static;
      transform: none;
      width: 100%;
    }
  }

  table {
    tbody {
      border: 0;
    }

    td {
      width: 25%;
      border: 0;
      padding: 0;

      a {
        &:hover {
          text-decoration: none;
        }
      }

      &:first-child {
        width: 50%;
      }

      &:nth-child(2) {
        padding: 0 10px 0 0;

        h6 {
          color: var(--color-neutral-7);
          font-size: 14px;
          font-weight: 500;
          letter-spacing: .1px;
          line-height: 1.29;
        }

        p {
          color: var(--color-base);
          font-size: 18px;
          font-weight: 600;
          letter-spacing: -0.5px;
          line-height: 1.22;
        }
      }

      &:nth-child(3) {
        h6 {
          color: var(--color-neutral-7);
          font-size: 14px;
          font-weight: 500;
          letter-spacing: .1px;
          line-height: 1.29;
        }

        p {
          color: var(--color-base);
          font-size: 18px;
          font-weight: 600;
          letter-spacing: -0.5px;
          line-height: 1.22;
        }
      }
    }
  }
}

@include media('>=tablet') {
  .course-toc {
    ul {
      li {
        width: 50%;
      }
    }
  }

  .block-wso-lms-company-db-promo {
    padding: 50px;
  }

  .block-wso-lms-interviews-list {
    .media {
      width: 50%;
    }
    margin-top: 65px;

    .media-body {
      padding-left: 20px;
      padding-right: 30px;
    }
  }

  .block-wso-lms-salaries-list {
    margin-top: 65px;

    .media-body {
      padding-left: 20px;
      padding-right: 30px;
    }

    .fake-content {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }
  }
}

@include media('<tablet') {
  .block-wso-lms-salaries-list{
    table {
      tr {
        margin-bottom: 30px;
        display: block;
        border-bottom: var(--color-neutral-2) 1px solid;

        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
        }
      }

      td {
        display: block;
        width: 100% !important;
      }
    }
  }
}
