@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

h1 {
  &.wso-forum-title {
    color: $color-red;
  }
}

.view-display-id-attachment_1 {
  .circle {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;

    &.green {
      background-color: $color-green-100;

      .icon {
        color: var(--color-neutral-0);
      }
    }

    &.gray {
      background-color: var(--color-neutral-2);
      color: var(--color-neutral-4);
    }

    .icon {
      font-size: 9px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 10px 17px;
    position: relative;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-base);
    transition: .3s linear;

    .darkmode & {
      background-color: var(--color-neutral-2);
    }

    &:hover {
      background: var(--color-neutral-2);
      transform: translateX(5px);

      .darkmode & {
        background: var(--color-neutral-1)
      }

      .views-field-lesson-complete a {
        transform: translateX(-5px);
      }
    }

    &.active {
      background: var(--color-neutral-2);
    }

    a {
      color: var(--color-base);
    }
  }

  .views-field-lesson-complete {
    z-index: 100;

    .field-content {
      margin-left: 4px;
      width: 16px;
      height: 16px;
      display: block;

      a {
        display: block;
        transition: .3s linear;
      }
    }
  }

  .icon {
    color: var(--color-neutral-5);
    margin-right: 12px;
  }

  .views-field-title {
    flex: 1;

    a {
      &:hover {
        text-decoration: none;
      }

      &.bth {
        color: $color-green-100;
        font-size: 12px;
        @include responsive-prop(700, 800, font-weight);
        padding: 0 14px;
        text-transform: uppercase;
      }

      > span {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .duration {
          margin: 0 5px;
          font-size: 11px;
        }
      }
    }

    .field-content {
      > a {
        &:first-child {
          &:after {
            content: "";
            cursor: pointer;
            left: 0;
            //padding-top: 30px;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
          }
        }
      }
    }
  }

  h3 {
    color: var(--color-base);
    font-size: 17px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .1px;
    line-height: 1.23;
    margin-top: 20px;
  }
}

.view-display-id-course_lessons {
  .circle {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;

    &.green {
      background-color: $color-green-100;

      .icon {
        color: var(--color-neutral-0);
      }
    }

    &.gray {
      background-color: var(--color-neutral-2);
      color: var(--color-neutral-4);
    }

    .icon {
      font-size: 9px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h3 {
    color: var(--color-base);
    font-size: 20px;
    @include responsive-prop(700, 800, font-weight);
    margin-top: 40px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 16px 20px;
    position: relative;
    border: 1px solid transparent;

    &:hover {
      background: var(--color-neutral-2);
    }
  }

  .views-field-lesson-complete {
    justify-content: flex-end;
    display: flex;
    flex: 1;

    .field-content {
      margin-left: 10px;
      width: 20px;
    }
  }

  .views-field-lesson-duration-complete {
    justify-content: flex-end;
    display: flex;
    flex: 1;
    font-size: 14px;

    a {
      position: relative;
      z-index: 100;

      &:hover .circle {
        background: $color-green-100;

        .icon {
          color: var(--color-neutral-0);
        }
      }

      &.download-video:hover {
        color: $color-green-100;
      }
    }

    .views-field-lesson-complete {
      display: block;
      flex: 0;

      .field-content {
        margin-left: 10px;
        display: flex;
        width: auto;
      }
    }
  }

  .icon {
    color: var(--color-neutral-5);
    margin-right: 12px;
  }

  .views-field-title {
    a {
      font-size: 16px;
      font-weight: 500;
      color: var(--color-base);

      &:hover {
        text-decoration: none;
      }

      &.btn {
        color: $color-green-100;
        font-size: 12px;
        @include responsive-prop(700, 800, font-weight);
        padding: 0 14px;
        text-transform: uppercase;
      }
    }

    .field-content {
      > a {
        &:first-child {
          &:after {
            content: "";
            cursor: pointer;
            left: 0;
            padding-top: 60px;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 99;
          }
        }
      }

      a {
        &.btn-secondary {
          z-index: 999;
          position: absolute;
          top: 12px;

          &.disabled {
            background-color: var(--color-neutral-2);
            border-color: var(--color-neutral-7);
            color: var(--color-neutral-7);
          }
        }

        &.lesson-file-link {
          position: relative;
          z-index: 999;
        }
      }
    }
  }

  .view-filters {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    box-shadow: $card-box-shadow;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 8px;
    padding: 16px 20px;
    position: relative;
    border: 1px solid transparent;

    form {
      width: 100%;
    }

    .form--inline {
      display: flex;
      align-items: end;

      .form-group {
        margin-bottom: 0;
        display: flex;
        flex-direction: row-reverse;
      }

      label {
        align-items: flex-start;
        justify-content: start;
        font-weight: 600 !important;
        margin-bottom: 10px;
      }

      .form-type-textfield {
        float: none;
        flex: 1;
        padding-right: 10px;
      }

      input[type=text] {
        background-color: var(--color-page-bg);
        width: 100%;
        padding-right: 30px;
      }

      input[value=Search] {
        @extend %btn, .btn-info;

        @include media('>=tablet') {
          min-width: 150px;
        }
      }

      input[value=Reset] {
        @include sprite($icon-close);
        width: 16px;
        height: 16px;
        border: 0;
        background-color: transparent;
        padding: 0;
        text-indent: -9999px;
        margin-right: 15px;
        margin-left: -35px;
        margin-top: 12px;
      }
    }
  }

  .view-empty {
    ul {
      padding-left: 2rem;
      list-style: disc;

      li {
        line-height: 24px;
        display: list-item;
        padding: 0;
        background: transparent;
        box-shadow: none;
      }
    }
  }
}

#sidebar-left {
  .col-md-5 {
    background-color: var(--color-neutral-1);
    border: solid 1px var(--color-neutral-4);
  }

  .sidebar-top {
    border: solid 1px var(--color-neutral-4);
    margin-left: -15px;
    margin-right: -15px;
  }
}

.view-course {
  &.view-display-id-course_lessons {
    .file-icon {
      width: 24px;
      margin-right: 8px;
      height: auto;

      &:after {
        height: 30px;
        top: -22px;
        width: 24px;
      }
    }

    .views-field {
      &.views-field-title {
        a {
          &:first-child {
            margin-right: 16px;
          }
        }
      }
    }
  }
}

.views-field-lesson-complete {
  position: relative;
}

@include media('<tablet') {
  .view-display-id-attachment_1 {
    .lessons-list {
      .icon {
        font-size: 12px;
      }
    }
  }

  .view-display-id-course_lessons {
    .icon {
      font-size: 14px;
    }
  }

  .mobile-progress {
    margin-top: 30px;
  }
}
