@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

// Highcharts.js styles
.highcharts {
  &-background {
    fill: var(--color-neutral-0);
  }

  &-grid-line[stroke-width="1"] {
    stroke: var(--color-neutral-3);
  }

  &-xaxis {
    .highcharts-axis-line {
      stroke: var(--color-neutral-6);
    }
  }

  &-legend-item {
    text {
      color: var(--color-neutral-9) !important;
      fill: var(--color-neutral-9) !important;
    }
  }

  &-axis-title {
    color: var(--color-neutral-9) !important;
    fill: var(--color-neutral-9) !important;
  }

  &-axis-labels {
    text {
      color: var(--color-neutral-7) !important;
      fill: var(--color-neutral-7) !important;
    }
  }

  &-data-label {
    text {
      color: var(--color-black) !important;
      fill: var(--color-black) !important;

      .highcharts-text-outline {
        fill: var(--color-neutral-0);
        stroke: var(--color-neutral-0);
      }
    }
  }

  &-button {
    .highcharts-button-box {
      fill: var(--color-neutral-0);
    }

    .highcharts-button-symbol {
      fill: var(--color-base);
      stroke: var(--color-base);
    }
  }

  &-contextmenu {
    .highcharts-menu {
      border: 1px solid var(--color-neutral-6) !important;
      background: var(--color-neutral-0) !important;

      .darkmode & {
        box-shadow: none !important;
      }

      .highcharts-menu-item {
        color: var(--color-neutral-9) !important;
      }

      hr {
        background-image: linear-gradient(to right, transparent, rgba(var(--color-black--rgb), 0.2), transparent);
        margin: 5px 0 5px 0 !important;
      }
    }
  }
}

#wso-markets-chart {
  .highcharts-annotation-label {
    .darkmode & {
      filter: invert(1);
    }
  }
}

.wso-highcharts {
  background: var(--color-neutral-0);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  //box-shadow:  0 0 24px 0 rgba(50, 50, 50, 0.35);

  figcaption {
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 20px;
    color: $darkslateblue_0A4059;
    line-height: 42px;

    .darkmode & {
      color: $lightskyblue_5cd0ff;
    }
  }

  figure {
    figure {
      margin: 0;

      figcaption {
        font-weight: 400;
        margin: 0 0 14px;
        font-size: 1em;
        line-height: 18px;
        color: var(--color-base);
        letter-spacing: .5px;

        &.footnote {
          font-style: italic;
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.highcharts-data-table table {
  border-collapse: collapse;
  border: 1px solid var(--color-neutral-3);
  margin: 10px auto;
  text-align: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  caption {
    display: none;
  }

  th {
    font-weight: 600;
    padding: 0.5em;
  }

  td,
  th {
    padding: 0.5em;
  }

  thead tr,
  tr:nth-child(even) {
    background: var(--color-neutral-1);
  }

  tr:hover {
    background: var(--color-neutral-2);
  }
}
