.highcharts-background {
  fill: var(--color-neutral-0)
}
.highcharts-grid-line[stroke-width="1"] {
  stroke: var(--color-neutral-3)
}
.highcharts-xaxis .highcharts-axis-line {
  stroke: var(--color-neutral-6)
}
.highcharts-axis-title,
.highcharts-legend-item text {
  color: var(--color-neutral-9)!important;
  fill: var(--color-neutral-9)!important
}
.highcharts-axis-labels text {
  color: var(--color-neutral-7)!important;
  fill: var(--color-neutral-7)!important
}
.highcharts-data-label text {
  color: var(--color-black)!important;
  fill: var(--color-black)!important
}
.highcharts-data-label text .highcharts-text-outline {
  fill: var(--color-neutral-0);
  stroke: var(--color-neutral-0)
}
.highcharts-button .highcharts-button-box {
  fill: var(--color-neutral-0)
}
.highcharts-button .highcharts-button-symbol {
  fill: var(--color-base);
  stroke: var(--color-base)
}
.highcharts-contextmenu .highcharts-menu {
  border: 1px solid!important;
  background: var(--color-neutral-0)!important
}
.darkmode .highcharts-contextmenu .highcharts-menu {
  box-shadow: none!important
}
.highcharts-contextmenu .highcharts-menu .highcharts-menu-item {
  color: var(--color-neutral-9)!important
}
.highcharts-contextmenu .highcharts-menu hr {
  background-image: linear-gradient(to right, transparent, rgba(var(--color-black--rgb), .2), transparent);
  margin: 5px 0!important
}
.darkmode #wso-markets-chart .highcharts-annotation-label {
  filter: invert(1)
}
.wso-highcharts {
  background: var(--color-neutral-0);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px
}
.wso-highcharts figcaption {
  font-weight: 900;
  font-size: 26px;
  margin-bottom: 20px;
  color: #0a4059;
  line-height: 42px
}
.darkmode .wso-highcharts figcaption {
  color: #5cd0ff
}
.wso-highcharts figure figure {
  margin: 0
}
.wso-highcharts figure figure figcaption {
  font-weight: 400;
  margin: 0 0 14px;
  font-size: 1em;
  line-height: 18px;
  color: var(--color-base);
  letter-spacing: .5px
}
.wso-highcharts figure figure figcaption.footnote {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0
}
.highcharts-data-table table {
  border-collapse: collapse;
  border: 1px solid var(--color-neutral-3);
  margin: 10px auto;
  text-align: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%
}
.highcharts-data-table table caption {
  display: none
}
.highcharts-data-table table th {
  font-weight: 600
}
.highcharts-data-table table td,
.highcharts-data-table table th {
  padding: .5em
}
.highcharts-data-table table thead tr,
.highcharts-data-table table tr:nth-child(even) {
  background: var(--color-neutral-1)
}
.highcharts-data-table table tr:hover {
  background: var(--color-neutral-2)
}
/*# sourceMappingURL=wso-alpha-chart.component.css.map */
