<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body class="node-type-lesson print-version print-version-pdf">
<div id="footer">
  <table>
    <tbody>
    <tr>
      {% if stamp_info %}
        <td>{{ stamp_info }}</td>
        <td>
          <div class="page-number" style="text-align: center;"></div>
        </td>
      {%  endif %}

      <td style="text-align: right;">
        WallStreetOasis.com<br>© {{ "now"|date("Y") }} IB Oasis Corp.
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div id="header">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td rowspan="2" class="header-logo"><img src="{{ logo_src }}"/></td>
      <td class="header-chapter">{{ chapter }}</td>
    </tr>
    <tr>
      <td class="header-title">{{ title }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="print-content">
  {{ content }}
</div>

</body>
</html>
