<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body class="node-type-course print-version print-version-pdf">
<div class="view-course">
  {{ content }}
</div>
</body>
</html>
