<div class="formatted-text">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus ligula tellus, ut tempus metus luctus at. Suspendisse pharetra luctus dolor at eleifend. Vivamus vitae aliquam nisi. Nam commodo justo mi, quis condimentum sapien pellentesque eu. Vivamus eu iaculis lorem. Fusce vitae interdum nisl. Cras sed porttitor diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

  <p><span class="green-lms-heading">green-lms-heading Nullam hendrerit metus velit. Sed at laoreet lectus. Nullam vel ultricies sapien.</span></p>

  <p><span class="blue-lms-heading">blue-lms-heading Quisque vitae nunc commodo, eleifend orci semper, condimentum lectus. Pellentesque</span></p>

  <p><span class="black-lms-heading">black-lms-heading Nec magna ac nunc mollis semper sit amet et libero. Quisque ante ante, porta id turpis non, rutrum fermentum leo.</span></p>

  <p><span class="alt-font">alt-font Donec lacinia lacus at lorem consequat dapibus. Sed rhoncus commodo ipsum, ac ullamcorper nibh congue hendrerit. Sed eu eros vitae lectus malesuada accumsan ac a lacus. In vitae turpis in metus accumsan finibus. Phasellus ac tortor eleifend, cursus leo in, gravida sem. In sed dolor eros. Duis vulputate purus leo, at congue arcu vulputate a.</span></p>

  <p><span class="color-pale-blue">color-pale-blue Morbi iaculis tortor mauris, quis congue neque volutpat consequat. Nunc tempor pharetra est, id eleifend sapien pellentesque ut.</span></p>

  <p><span class="color-bright-blue">color-bright-blue Maecenas ultricies pulvinar mollis. Mauris a nisl eget orci fringilla sollicitudin. Donec ultricies, lorem sit amet mollis aliquet, purus dui auctor metus,</span></p>

  <p><span class="color-blue">color-blue nec pretium dui magna ac justo. Suspendisse ex urna, molestie et commodo sit amet, ultrices quis libero.</span></p>

  <p><span class="color-dark-blue">color-dark-blue Vivamus vel massa vel ante tristique dictum et quis ante. Sed arcu justo, fringilla sed mollis ut, tincidunt non dui.</span></p>

  <p><span class="color-green">color-green Morbi dapibus vestibulum justo a semper. Proin sit amet ligula sit amet arcu interdum consequat in in turpis.</span></p>

  <p><span class="color-orange">color-orange Aliquam sit amet enim est. Nam ac ligula id eros scelerisque iaculis vel at lorem.</span></p>

  <p><span class="color-grey">color-grey Quisque ac nisi placerat, feugiat libero ac, pulvinar est. Mauris cursus a ligula vitae congue.</span></p>

  <ul>
    <li>Quisque auctor tristique orci venenatis lobortis. Proin sit amet suscipit sapien.</li>
    <li>In ex orci, eleifend at lacus id, iaculis sodales arcu.</li>
    <li>Donec feugiat neque enim, vitae convallis orci pellentesque in.</li>
    <li>Sed in auctor elit. In sodales et risus at pharetra.</li>
  </ul>

  <ol>
    <li>Integer nisl lacus, placerat at tempus vel, finibus et ante.</li>
    <li>Nulla non auctor nulla. Nam quis malesuada dolor.</li>
    <li>Sed at porta ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
    <li>Sed sed dolor consequat, tristique felis et, dapibus leo. Morbi vitae sollicitudin magna, sed scelerisque ligula.</li>
  </ol>

  <h1>H1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

  <h2>H2 Pellentesque tempus ligula tellus, ut tempus metus luctus at.</h2>

  <h3>H3 Suspendisse pharetra luctus dolor at eleifend. Vivamus vitae aliquam nisi.</h3>

  <p>&nbsp;</p>

  <h4>H4 Nam commodo justo mi, quis condimentum sapien pellentesque eu.</h4>

  <p>&nbsp;</p>

  <h5>H5 Vivamus eu iaculis lorem. Fusce vitae interdum nisl. Cras sed porttitor diam.</h5>

  <p>&nbsp;</p>

  <h6>H6 Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h6>

  <p>&nbsp;</p>

  <blockquote>
    <p>Quisque ac nisi placerat, feugiat libero ac, pulvinar est. Mauris cursus a ligula vitae congue. Quisque auctor tristique orci venenatis lobortis. Proin sit amet suscipit sapien. In ex orci, eleifend at lacus id, iaculis sodales arcu.</p>
  </blockquote>

  <p><a href="#">Donec feugiat neque enim, vitae convallis orci pellentesque in.</a></p>

  <p>&nbsp;&nbsp;<a class="btn btn-success" href="#"><span class="text">A Button Success</span></a>&nbsp;<a class="btn btn-info" href="#"><span class="text">A Button Info</span></a>&nbsp;&nbsp;<a class="btn btn-danger" href="#"><span class="text">A Button Danger</span></a></p>

  <p><strong>Strong is used to indicate strong importance</strong></p>
  <p><em>This text has added emphasis</em></p>
  <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
  <p>The <i>i element</i> is text that is set off from the normal text</p>
  <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
  <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
  <p><s>This text has a strikethrough</s></p>
  <p>Superscript<sup>®</sup></p>
  <p>Subscript for things like H<sub>2</sub>O</p>
  <p><small>This text is small for fine print, etc.</small></p>
  <p>Abbreviation"":"" <abbr title="HyperText Markup Language">HTML</abbr></p>
  <p>Keybord input"":"" <kbd>Cmd</kbd></p>
  <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
  <p><cite>This is a citation</cite></p>
  <p>The <dfn>dfn element</dfn> indicates a definition.</p>
  <p>The <mark>mark element</mark> indicates a highlight</p>
  <p><code>This is what inline code looks like.</code></p>
  <p><samp>This is sample output from a computer program</samp></p>
  <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
</div>
