.interfacecontainerdiv {
  display: inherit!important;
  text-align: center
}
section.breadcrumb-wrap {
  display: none
}
.password-suggestions.description {
  display: none!important
}
#user-login input,
#user-login input[type=submit],
#user-pass input,
#user-pass input[type=submit],
#user-register-form input,
#user-register-form input[type=submit] {
  width: 100%!important
}
#user-register-form input[type=checkbox] {
  width: initial!important
}
.password-strength {
  float: initial;
  margin: initial initial 20px;
  width: initial
}
.confirm-parent,
.password-parent {
  width: initial
}
div.password-confirm {
  margin-top: initial;
  width: initial
}
.captcha {
  background-color: initial!important
}
.g-recaptcha div {
  width: 360px
}
#recaptcha_area {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.progress {
  display: inline-block;
  width: 30%
}
.progress[value] {
  appearance: none;
  background-color: var(--color-neutral-3);
  border: 0;
  border-radius: .25rem
}
.text-lg {
  font-size: 2em;
  line-height: 1.3
}
h2.text-center {
  color: var(--color-base);
  font-size: 3.2em;
  line-height: 44px
}
h2.text-left.login {
  color: var(--color-base);
  font-size: 3.2em;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 44px;
  margin: 0 0 8px
}
@media (min-width: 992px) and (max-width: 1199px) {
  #user-register-form input[type=submit] {
    font-size: 17px
  }
}
/*# sourceMappingURL=user-register.component.css.map */
