@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.interfacecontainerdiv {
  display: inherit !important;
  text-align: center;
}

section {
  &.breadcrumb-wrap {
    display: none;
  }
}

.password-suggestions {
  &.description {
    display: none !important;
  }
}

#user-login {
  input[type="submit"] {
    width: 100% !important;
  }

  input {
    width: 100% !important;
  }
}

#user-register-form {
  input[type="submit"] {
    width: 100% !important;

    @include media('>=desktop', '<large-desktop') {
      font-size: 17px;
    }
  }

  input {
    width: 100% !important;
  }

  input[type=checkbox] {
    width: initial !important;
  }
}

#user-pass {
  input[type="submit"] {
    width: 100% !important;
  }

  input {
    width: 100% !important;
  }
}

.password-strength {
  float: initial;
  margin: initial;
  margin-bottom: 20px;
  width: initial;
}

.confirm-parent {
  width: initial;
}

.password-parent {
  width: initial;
}

div {
  &.password-confirm {
    margin-top: initial;
    width: initial;
  }
}

.captcha {
  background-color: initial !important;
}

.g-recaptcha {
  div {
    width: 360px;
  }
}

#recaptcha_area {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  display: inline-block;
  width: 30%;
}

.progress[value] {
  appearance: none;
  background-color: var(--color-neutral-3);
  border: 0;
  border-radius: .25rem;
}

.text-lg {
  font-size: 2em;
  line-height: 1.3;
}

h2 {
  &.text-center {
    color: var(--color-base);
    font-size: 3.2em;
    line-height: 44px;
  }

  &.text-left {
    &.login {
      color: var(--color-base);
      font-size: 3.2em;
      font-weight: 500;
      letter-spacing: -1px;
      line-height: 44px;
      margin: 0;
      margin-bottom: 8px;
    }
  }
}
