{% set classes = [
'eck-entity',
] %}
<div{{ attributes.addClass(classes) }}>
  {% if row.show_pdf %}
    <a class="card" href="{{ row.file_download_link }}" type="application/pdf; length={{ row.file_size }}">
      <div class="card-body">
        <h5 class="card-title">{{ row.date }}</h5>
        <h6 class="card-subtitle mb-2">{{ row.amount }}</h6>
        <h6 class="card-subtitle mb-2">{{ row.percent }}</h6>
      </div>
      <div class="card-footnote text-align-center d-flex justify-content-around align-items-center">
        <span class="flex-grow-1">{{ 'Download PDF'|t }}</span>
        <i class="icon icon-download"></i>
      </div>
    </a>
  {% else %}
    <a class="card card--no-access use-ajax" href="{{ row.buy_url }}" rel="nofollow" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:480,&quot;classes&quot;:{&quot;ui-dialog&quot;:&quot;wso-braintree-dialog&quot;}}">
      <div class="card-body">
        <h5 class="card-title">{{ row.date }}</h5>
        <h6 class="card-subtitle mb-2">{{ row.amount }}</h6>
        <h6 class="card-subtitle mb-2">{{ row.percent }}</h6>
      </div>
      <div class="card-footnote text-align-center d-flex justify-content-around align-items-center">
        <span class="flex-grow-1">{{ 'Get Access'|t }}</span>
        <i class="icon icon-lock"></i>
      </div>
    </a>
  {% endif %}
</div>
