#block-views-block-wso-alpha-top-contributors-block-1 .view {
  padding: 0 8px
}
#block-views-block-wso-alpha-top-contributors-block-1 .view-content {
  padding: 10px 24px 0;
  border-top: 2px solid var(--color-neutral-2)
}
#block-views-block-wso-alpha-top-contributors-block-1 .views-row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-neutral-2)
}
#block-views-block-wso-alpha-top-contributors-block-1 .views-row:last-child {
  border-bottom: 0
}
#block-views-block-wso-alpha-top-contributors-block-1 .views-field-view-user > span {
  display: block
}
#block-views-block-wso-alpha-top-contributors-block-1 .views-field-view-user a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  font-size: 14px
}
#block-views-block-wso-alpha-top-contributors-block-1 .views-field-view-user a:hover {
  text-decoration: none
}
#block-views-block-wso-alpha-top-contributors-block-1 .views-field-view-user img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid var(--color-neutral-4)
}
/*# sourceMappingURL=wso-alpha-top-contributors.component.css.map */
