@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#block-views-block-wso-alpha-top-contributors-block-1 {
  .view {
    padding: 0 8px;

    &-content {
      padding: 10px 24px 0;
      border-top: 2px solid var(--color-neutral-2);
    }
  }

  .views-row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-neutral-2);

    &:last-child {
      border-bottom: 0;
    }
  }

  .views-field-view-user {
    > span {
      display: block;
    }

    a {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      font-size: 14px;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      width: 36px;
      height: 36px;
      margin-right: 10px;
      border-radius: 100%;
      border: 1px solid  var(--color-neutral-4);
    }
  }
}
