@import "./components/common-styles/helpers/mixins";
@import "./components/00-base/style-guide-2023/colors/color-variables";

.paragraphs-item-title-with-items {
  margin-top: 60px;
}

.title-with-items__title {
  margin-bottom: 16px;
}

.title-with-items__items {
  .field--item {
    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      .text-with-title__text__redesign {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.title-with-items__items__columns {
  .field-name-field-wso-paragraphs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;

    > .field--item {
      width: 48%;
      border: 1px solid $color-dark-10;
      border-radius: 10px;
      padding: 30px 20px;

      .field-name-field-wsop-rich-text {
        width: 100%;

        p {
          margin-bottom: 0;
        }

        strong {
          color: $color-dark-100;
        }
      }
    }
  }
}

@include media('<tablet') {
  .paragraphs-item-title-with-items {
    margin-top: 40px;
  }

  .title-with-items__items__columns {
    .field-name-field-wso-paragraphs {
      flex-direction: column;

      > .field--item {
        width: 100%;
        padding: 20px;
      }
    }
  }
}
