.paragraphs-item-title-with-items {
  margin-top: 60px
}
.title-with-items__title {
  margin-bottom: 16px
}
.title-with-items__items .field--item:first-child {
  padding-top: 10px
}
.title-with-items__items .field--item:last-child .text-with-title__text__redesign p {
  margin-bottom: 0
}
.title-with-items__items__columns .field-name-field-wso-paragraphs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px
}
.title-with-items__items__columns .field-name-field-wso-paragraphs > .field--item {
  width: 48%;
  border: 1px solid rgba(47, 47, 47, .1);
  border-radius: 10px;
  padding: 30px 20px
}
.title-with-items__items__columns .field-name-field-wso-paragraphs > .field--item .field-name-field-wsop-rich-text {
  width: 100%
}
.title-with-items__items__columns .field-name-field-wso-paragraphs > .field--item .field-name-field-wsop-rich-text p {
  margin-bottom: 0
}
.title-with-items__items__columns .field-name-field-wso-paragraphs > .field--item .field-name-field-wsop-rich-text strong {
  color: #2f2f2f
}
@media (max-width: 767px) {
  .paragraphs-item-title-with-items {
    margin-top: 40px
  }
  .title-with-items__items__columns .field-name-field-wso-paragraphs {
    flex-direction: column
  }
  .title-with-items__items__columns .field-name-field-wso-paragraphs > .field--item {
    width: 100%;
    padding: 20px
  }
}
/*# sourceMappingURL=paragraph.title-with-items.component.css.map */
