@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.paragraph--type--sticky-mobile-banner {
  &.sticky {
    display: block;
    position: fixed;

    left: 0;
    width: 100%;
    z-index: 999;
  }

  .banner-content {
    padding: 7px 10px;
    background-color: $color-monkey-blue;

    @mixin banner-text {
      color: var(--color-neutral-0);
      font-size: 17px;
      font-weight: 900;

      @media (max-width: 576px) {
        font-size: 14px;
      }
    }

    .wrapper {
      .wrapper-banner {
        .banner-title > .field {
          @include banner-text;
        }
      }

      .inner-wrapper {
        .banner-price > .field {
          @include banner-text;
          margin-left: 10px;
        }

        .banner-cta {
          padding: 3px 34px;
          margin-left: 10px;
          border-radius: 34px;

          @media (max-width: 576px) {
            padding: 3px 24px;
            margin-left: 7px;
            border-radius: 24px;
          }

          > .field {
            a {
              color: var(--color-neutral-0);
              font-size: 15px;
              white-space: nowrap;

              @media (max-width: 576px) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
