.paragraph--type--sticky-mobile-banner.sticky {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999
}
.paragraph--type--sticky-mobile-banner .banner-content {
  padding: 7px 10px;
  background-color: #0a4059
}
.paragraph--type--sticky-mobile-banner .banner-content .wrapper .wrapper-banner .banner-title > .field {
  color: var(--color-neutral-0);
  font-size: 17px;
  font-weight: 900
}
.paragraph--type--sticky-mobile-banner .banner-content .wrapper .inner-wrapper .banner-price > .field {
  color: var(--color-neutral-0);
  font-size: 17px;
  font-weight: 900;
  margin-left: 10px
}
.paragraph--type--sticky-mobile-banner .banner-content .wrapper .inner-wrapper .banner-cta {
  padding: 3px 34px;
  margin-left: 10px;
  border-radius: 34px
}
.paragraph--type--sticky-mobile-banner .banner-content .wrapper .inner-wrapper .banner-cta > .field a {
  color: var(--color-neutral-0);
  font-size: 15px;
  white-space: nowrap
}
@media (max-width: 576px) {
  .paragraph--type--sticky-mobile-banner .banner-content .wrapper .inner-wrapper .banner-price>.field,
  .paragraph--type--sticky-mobile-banner .banner-content .wrapper .wrapper-banner .banner-title>.field {
    font-size: 14px
  }
  .paragraph--type--sticky-mobile-banner .banner-content .wrapper .inner-wrapper .banner-cta {
    padding: 3px 24px;
    margin-left: 7px;
    border-radius: 24px
  }
  .paragraph--type--sticky-mobile-banner .banner-content .wrapper .inner-wrapper .banner-cta > .field a {
    font-size: 12px
  }
}
/*# sourceMappingURL=paragraph.sticky-mobile-banner.component.css.map */
