<div class="m-4 container">
  <table class="table">
    <thead>
      <tr>
        <th  style="width: 40%">
          Style
        </th>
        <th>
          Notice:
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><button type="button" class="btn btn-primary">Primary</button></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <a href="/courses" class="btn btn-info">btn-info</a>
        </td>
        <td>Looks like .btn-info have same styles as btn-primary, with slight different blue color</td>
      </tr>
      <tr>
        <td>
          <div class="paragraph--type--vertical-tabs-with-entity-cards p-4">
            <div class="nav-pills">
              <button class="nav-link active" id="v-pills-vertical-tab-item-1584-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-vertical-tab-item-1584-1" type="button" role="tab" aria-controls="v-pills-vertical-tab-item-1584-1" aria-selected="true">
                Financial Modeling &amp; Valuation
              </button>
            </div>
          </div>
        </td>
        <td>.paragraph--type--vertical-tabs-with-entity-cards .nav-pills .nav-link</td>
      </tr>
      <tr>
        <td>
          <p><a href="/mentors" class="btn btn-success btn-xs">Success, XS</a></p>
          <p><button type="button" class="btn btn-success">Success</button></p>
          <a class="btn btn-success btn-lg" href="#">Success, LG</a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="paragraphs-item-wso-paragraph-rich-text">
            <p class="formatted-text"><a class="btn btn-success" href="/node/add/forum"><span class="text">START DISCUSSION</span><i class="icon icon-right" style="word-spacing: -1em;">&nbsp;</i> </a></p>
          </div>
        </td>
        <td>.paragraphs-item-wso-paragraph-rich-text .btn .icon-right</td>
      </tr>
      <tr>
        <td><a class="btn btn-danger" href="#"><span class="text">A Button Danger</span></a></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <p><a href="/resources/industry-reports/investment-banking" class="btn btn-secondary btn-sm">Secondary, SM</a></p>
          <a href="/node/add/forum?ama=1" class="btn btn-md btn-secondary">Secondary, MD</a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/tracker/top" class="btn btn-xs btn-outline-info">Outline-info, XS</a></td>
        <td>This button from sidebar. Looks like we can remove styles for the '.region-sidebar-right .block .wso-btn-see-all' and replace class with 'btn-outline-info'.
          The same for the button .btn-primary-outline at the HP. Styles also can be replaced
        </td>
      </tr>
      <tr>
        <td>
          <div class="paragraph--type--vertical-tabs-with-entity-cards p-4">
            <div class="nav-pills">
              <button class="nav-link " id="v-pills-vertical-tab-item-1585-2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-vertical-tab-item-1585-2" type="button" role="tab" aria-controls="v-pills-vertical-tab-item-1585-2" aria-selected="false" tabindex="-1">
                WSO Elite Modeling Package
              </button>
            </div>
          </div>
        </td>
        <td>.paragraph--type--vertical-tabs-with-entity-cards .nav-pills .nav-link</td>
      </tr>
      <tr>
        <td>
          <a href="/highest-ranked-comments" class="btn btn-secondary mono btn-sm">Secondary, mono, SM</a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="paragraph--type--entity-cards">
            <div class="product-course__links product-course__links--large-button">
              <div class="field field-name-field-info-link">
                <a href="/">Info</a>
              </div>
            </div>
          </div>
        </td>
        <td>.paragraph--type--entity-cards .product-course__links.product-course__links--large-button .field a</td>
      </tr>
      <tr>
        <td>
          <a href="#see-the-team" class="btn btn-other btn-md editorial__head_link" tabindex="-1">See the Team</a>
        </td>
        <td>.btn.btn-other</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="m-4">
  <h2>Sizes</h2>
  <button type="button" class="m-2 btn btn-primary btn-xs">Button btn-xs</button>
  <button type="button" class="m-2 btn btn-primary btn-sm">Button btn-sm</button>
  <button type="button" class="m-2 btn btn-primary">Button Regular</button>
  <button type="button" class="m-2 btn btn-primary btn-md">Button btn-md</button>
  <button type="button" class="m-2 btn btn-primary btn-lg">Button btn-lg</button>
  <button type="button" class="m-2 btn btn-primary btn-xl">Button btn-xl</button>
</div>
