@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-complex {
  .tp-widget {
    .tp-widget-humanscore {
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0;
      text-align: left;

      @include media('>=tablet') {
        font-size: 30px;
        line-height: 37px;
      }
    }

    .tp-widget-stars {
      .tp-stars {
        @media screen and (max-width: 400px) {
          width: 100px;
        }

        svg {
          width: 80%;
          @include media('>=tablet') {
            width: 100%;
          }
        }

        .tp-star__canvas,
        .tp-star__canvas--half {
          fill: #D9D9D9;
        }

        .tp-star:nth-of-type(-n+4) .tp-star__canvas,
        .tp-star:nth-of-type(-n+5) .tp-star__canvas--half {
          fill: #219653;
        }
      }
    }

    .tp-widget-businessinfo #translations-basedon {
      white-space: nowrap;
      a > * {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 0;
        text-align: left;
      }

      a > span {
        font-weight: 400;
      }
      a > strong {
        font-weight: 700;
      }
    }

    .tp-widget-logo {
      margin-left: 3px;
      transform: translateY(-1px);
      svg {
        height: 20px;
      }

      @include media('>=tablet') {
        margin-left: 13px;
        width: auto;
        svg {
          height: 19px;
        }
      }
    }
  }
}
