.course-module-description__wrapper {
  margin-bottom: 10px
}
.course-module-description__wrapper .course-module-description__icon svg {
  vertical-align: text-top
}
.course-module-description__wrapper .course-module-description__text {
  margin-left: 7px
}
.course-module-description__wrapper .course-module-description__text p {
  display: inline
}
@media (min-width: 768px) {
  .course-module-description__wrapper {
    margin-bottom: 20px
  }
  .course-module-description__wrapper .course-module-description__text {
    margin-left: 11px
  }
}
/*# sourceMappingURL=paragraph.course-module-description.component.css.map */
