@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.course-module-description__wrapper {
  margin-bottom: 10px;
  @include media('>=tablet') {
    margin-bottom: 20px;
  }

  .course-module-description__icon svg {
    vertical-align: text-top;
  }

  .course-module-description__text {
    margin-left: 7px;
    @include media('>=tablet') {
      margin-left: 11px;
    }

    p {
      display: inline;
    }
  }
}
