@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

%private-message-thread {
  &:hover {
    background-color: var(--color-page-bg);
  }

  a {
    color: var(--color-base);
  }

  &.unread-thread {
    @include responsive-prop(700, 800, font-weight);

    .views-field-thread-subject {
      &:after {
        content: "new";
        display: inline-block;
        background-color: $color-red;
        border-radius: 5px;
        color: var(--color-neutral-0);
        font-size: 7px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, font-weight);
        letter-spacing: .2px;
        line-height: normal;
        margin-left: 4px;
        padding: 2px 4px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  td.views-field-views-bulk-operations-bulk-form {
    @media (max-width: 767px) {
      padding: 12px 22px !important;
    }
  }
}

.block-views-blockprivate-messages-system-inbox-block {
  margin-top: 40px;
}

.view-private-messages-system {
  .title-row {
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    justify-content: space-between;
  }

  .block-title {
    color: var(--color-neutral-9) !important;
    margin: 0;
  }

  .block-content {
    background: var(--color-neutral-0);
    box-shadow: 0 0 0 1px var(--color-neutral-4);
  }

  .view-content {
    padding: 20px 20px 40px;
    background: var(--color-neutral-0);
  }

  .vbo-table {
    tr {
      @extend %private-message-thread;
    }
  }

  .pager-nav {
    padding: 0 20px;
  }

  .block-actions {
    justify-content: space-between;
    margin: 0 0 15px 0;

    &-op {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      .btn-group {
        @include dropdown();

        .dropdown-toggle {
          height: auto;
          line-height: 1;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
          padding: 2px 5px;
          border: 0;
        }
      }

      .btn {
        text-transform: uppercase;
        white-space: nowrap;
        margin-left: 10px;
      }
    }
  }

  .block-content-head {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--color-neutral-3) 1px solid;
    margin: 0;
    font-size: 14px;

    > div:first-child {
      display: flex;
      flex:  0 0 75%;
      justify-content: space-between;

      div {
        display: flex;

        label {
          margin: 0;
        }
      }
    }
  }
}

.view-pm-inbox {
  tr {
    @extend %private-message-thread;
  }

  .block-actions-op {
    justify-content: space-between;
    margin: 0 0 15px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .btn-group {
      @include dropdown();

      .dropdown-toggle {
        height: auto;
        line-height: 1;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
        padding: 2px 5px;
        border: 0;
        margin-left: 0;
      }
    }

    .btn {
      text-transform: uppercase;
      white-space: nowrap;
      margin-left: 10px;
    }
  }

  .block-content-head {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--color-neutral-3) 1px solid;
    margin: 0;
    font-size: 14px;

    > div:first-child {
      display: flex;
      flex:  0 0 75%;
      justify-content: space-between;

      div {
        display: flex;

        label {
          margin: 0;
        }
      }
    }
  }
}
