.view-pm-inbox tr:hover,
.view-private-messages-system .vbo-table tr:hover {
  background-color: var(--color-page-bg)
}
.view-pm-inbox tr a,
.view-private-messages-system .vbo-table tr a {
  color: var(--color-base)
}
.view-pm-inbox tr.unread-thread,
.view-private-messages-system .vbo-table tr.unread-thread {
  font-weight: 700
}
.view-pm-inbox tr.unread-thread .views-field-thread-subject:after,
.view-private-messages-system .vbo-table tr.unread-thread .views-field-thread-subject:after {
  content: "new";
  display: inline-block;
  background-color: #f04944;
  border-radius: 5px;
  color: var(--color-neutral-0);
  font-size: 7px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: normal;
  margin-left: 4px;
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase
}
.block-views-blockprivate-messages-system-inbox-block {
  margin-top: 40px
}
.view-private-messages-system .title-row {
  flex-wrap: wrap;
  margin: 0 0 20px;
  justify-content: space-between
}
.view-private-messages-system .block-title {
  color: var(--color-neutral-9)!important;
  margin: 0
}
.view-private-messages-system .block-content {
  background: var(--color-neutral-0);
  box-shadow: 0 0 0 1px var(--color-neutral-4)
}
.view-private-messages-system .view-content {
  padding: 20px 20px 40px;
  background: var(--color-neutral-0)
}
.view-private-messages-system .pager-nav {
  padding: 0 20px
}
.view-private-messages-system .block-actions {
  justify-content: space-between;
  margin: 0 0 15px
}
.view-private-messages-system .block-actions-op {
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}
.view-private-messages-system .block-actions-op .btn-group {
  font-size: 13px;
  font-weight: 700
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base)
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle > span {
  display: inline-flex;
  align-items: center
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle .icon {
  margin-right: 10px;
  font-size: 12px;
  color: #189eda
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle a {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle a i {
  margin-right: 10px;
  color: #189eda
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle .dropdown-toggle-text {
  max-width: calc(100% - 20px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle .caret {
  border: 0;
  min-width: 16px;
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 20px
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle .caret:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-3)
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle .caret:after {
  font-family: fa-custom;
  content: "\e808";
  font-size: 9px;
  color: var(--color-base);
  display: inline-block;
  transform: rotate(-90deg);
  position: absolute;
  top: 3px;
  left: 5px
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle:after {
  display: none
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-menu {
  column-count: 1;
  column-gap: initial;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base);
  padding: 0
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-menu > li {
  font-size: 13px;
  line-height: 1.23
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-menu > li:last-child {
  border-bottom: 0
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-menu > li > a {
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 16px;
  color: var(--color-base)
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-menu > li > a:hover {
  text-decoration: none;
  background: var(--color-neutral-2)
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-menu > li > a.dropdown__option_noicon {
  padding: 12px 10px 12px 16px
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-menu > li > a i {
  margin-right: 10px
}
.view-private-messages-system .block-actions-op .btn-group.open .dropdown-toggle {
  box-shadow: none;
  border-color: var(--color-neutral-5)
}
.view-private-messages-system .block-actions-op .btn-group.open .dropdown-toggle .caret:after {
  color: #189eda;
  transform: rotate(90deg);
  top: 2px;
  left: 4px
}
.view-private-messages-system .block-actions-op .btn-group .dropdown-toggle {
  height: auto;
  line-height: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
  padding: 2px 5px;
  border: 0
}
.view-private-messages-system .block-actions-op .btn {
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 10px
}
.view-private-messages-system .block-content-head {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--color-neutral-3) 1px solid;
  margin: 0;
  font-size: 14px
}
.view-private-messages-system .block-content-head > div:first-child {
  display: flex;
  flex: 0 0 75%;
  justify-content: space-between
}
.view-private-messages-system .block-content-head > div:first-child div {
  display: flex
}
.view-private-messages-system .block-content-head > div:first-child div label {
  margin: 0
}
.view-pm-inbox .block-actions-op {
  justify-content: space-between;
  margin: 0 0 15px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}
.view-pm-inbox .block-actions-op .btn-group {
  font-size: 13px;
  font-weight: 700
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base)
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle > span {
  display: inline-flex;
  align-items: center
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle .icon {
  margin-right: 10px;
  font-size: 12px;
  color: #189eda
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle a {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle a i {
  margin-right: 10px;
  color: #189eda
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle .dropdown-toggle-text {
  max-width: calc(100% - 20px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle .caret {
  border: 0;
  min-width: 16px;
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 20px
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle .caret:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-3)
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle .caret:after {
  font-family: fa-custom;
  content: "\e808";
  font-size: 9px;
  color: var(--color-base);
  display: inline-block;
  transform: rotate(-90deg);
  position: absolute;
  top: 3px;
  left: 5px
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle:after {
  display: none
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-menu {
  column-count: 1;
  column-gap: initial;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base);
  padding: 0
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-menu > li {
  font-size: 13px;
  line-height: 1.23
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-menu > li:last-child {
  border-bottom: 0
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-menu > li > a {
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 16px;
  color: var(--color-base)
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-menu > li > a:hover {
  text-decoration: none;
  background: var(--color-neutral-2)
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-menu > li > a.dropdown__option_noicon {
  padding: 12px 10px 12px 16px
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-menu > li > a i {
  margin-right: 10px
}
.view-pm-inbox .block-actions-op .btn-group.open .dropdown-toggle {
  box-shadow: none;
  border-color: var(--color-neutral-5)
}
.view-pm-inbox .block-actions-op .btn-group.open .dropdown-toggle .caret:after {
  color: #189eda;
  transform: rotate(90deg);
  top: 2px;
  left: 4px
}
.view-pm-inbox .block-actions-op .btn-group .dropdown-toggle {
  height: auto;
  line-height: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
  padding: 2px 5px;
  border: 0;
  margin-left: 0
}
.view-pm-inbox .block-actions-op .btn {
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 10px
}
.view-pm-inbox .block-content-head {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--color-neutral-3) 1px solid;
  margin: 0;
  font-size: 14px
}
.view-pm-inbox .block-content-head > div:first-child {
  display: flex;
  flex: 0 0 75%;
  justify-content: space-between
}
.view-pm-inbox .block-content-head > div:first-child div {
  display: flex
}
.view-pm-inbox .block-content-head > div:first-child div label {
  margin: 0
}
@media (min-width: 992px) {
  .view-pm-inbox tr.unread-thread,
  .view-pm-inbox tr.unread-thread .views-field-thread-subject:after,
  .view-private-messages-system .vbo-table tr.unread-thread,
  .view-private-messages-system .vbo-table tr.unread-thread .views-field-thread-subject:after {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .view-pm-inbox tr td.views-field-views-bulk-operations-bulk-form,
  .view-private-messages-system .vbo-table tr td.views-field-views-bulk-operations-bulk-form {
    padding: 12px 22px!important
  }
}
/*# sourceMappingURL=private-messages-inbox.component.css.map */
