@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.paragraph--type--drupal-view {
  @include wso-container();

  @include media('>=tablet') {
    z-index: 1;
    position: relative;
    margin-top: -45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.container--wso {
  .paragraph--type--drupal-view {
    @include media('<phone') {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.paragraphs-item-drupal-view.view-field--my-courses {
  .field--type-viewsreference {
    background-color: var(--color-neutral-0);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    border: solid 1px var(--color-neutral-2);
    padding: 40px 32px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: left;
  }
}

.viewsreference--view-title {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 10px;
  margin-top: 0;
}

.view-my-courses {
  .view-header {
    @include responsive-prop(700, 800, 'font-weight');
    color: var(--color-neutral-7);
    font-size: 16px;
    line-height: 1.33;
    margin-bottom: 25px;
  }

  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;

    .course__fields {
      border: solid 1px var(--color-neutral-2);
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      padding: 12px 10px;
      min-height: 136px;
      background-color: var(--color-neutral-0);
      text-decoration: none;
      position: relative;
      width: 100%;

      &:hover {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 16px 32px 0 rgba(0, 0, 0, 0.1);
        transition: all .3s linear;

        &:before {
          background: var(--color-neutral-0);
          border-radius: 3px;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          opacity: .8;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1;
        }

        .btn {
          opacity: 1;
          top: 50%;
          transform: translateY(-50%);
          transition: all .1s linear;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
        }
      }

      .btn {
        @include responsive-prop(700, 800, font-weight);
        display: inline-block;
        //font-size: 13px;
        //height: 40px;
        left: 15px;
        letter-spacing: .4px;
        //line-height: 40px;
        max-width: 160px;
        opacity: 0;
        position: absolute;
        top: 20%;
        z-index: 2;
      }
    }

    .course__fields__right {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 15px;
      position: relative;
      margin-left: 16px;
    }

    .course__fields__right-progress {
      align-items: flex-end;
      display: flex;
      flex: 1;
    }

    .course__fields__right-title {
      @include responsive-prop(700, 800, font-weight);
      font-size: 16px;
      color: var(--color-base);
      line-height: 1.5;

      a {
        @include responsive-prop(700, 800, font-weight);
        color: var(--color-base);
        font-size: 16px;
        line-height: 1.5;
      }
    }

    .course-progress__bar {
      position: relative;

      &-completed {
        background-color: $color-blue;
        border-radius: 2px;
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
      }

      &-placeholder {
        background-color: var(--color-neutral-2);
        border-radius: 2px;
        height: 4px;
      }
    }

    .course__fields__right-timestamp {
      @include font-color-grey-darkmode;
      font-size: 13px;
      line-height: 1.54;
    }

    .course-progress__text-line {
      @include font-color-grey-darkmode;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 1.33;
      margin-top: 7px;

      &__percent {
        @include responsive-prop(700, 800, 'font-weight');
        color: $color-blue;
      }
    }

    .course-due-date {
      color: var(--color-base);
      font-size: 14px;
      font-weight: 700;

      div {
        display: inline;
      }

      .date {
        &-red {
          color: $color-red;
        }

        &-orange {
          color: $color-orange;
        }

        &-yellow {
          color: $color-yellow;
        }

        &-green {
          color: $color-green-100;
        }
      }
    }

    .views-row {
      position: relative;
      margin-bottom: 20px;
      display: flex;
      width: 100%;

      @include media('>=tablet') {
        padding: 0 10px;
        width: 50%;
      }

      @include media('>=desktop') {
        width: 33%;
      }

      &:hover {
        opacity: .8;

        .btn {
          &.btn-success {
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }

      &--button-container {
        min-width: 100%;
      }

      img {
        border: var(--color-neutral-2);
        border-radius: 3px;
        height: 116px;
        max-width: 84px;
        width: auto;
      }
    }

    #collapseMyCourses {
      min-width: 100%;
    }

    .btn {
      &.btn-success {
        display: none;
      }
    }
  }
}

@include media('<tablet') {
  .is-touch {
    .view-my-courses  {
      .course__fields {
        .btn {
          height: 30px;
          line-height: 30px;
          margin-top: 5px;
          opacity: 1;
          position: static;
        }
      }
    }
  }
}
