.paragraph--type--drupal-view {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}
.paragraphs-item-drupal-view.view-field--my-courses .field--type-viewsreference {
  background-color: var(--color-neutral-0);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  border: solid 1px var(--color-neutral-2);
  padding: 40px 32px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: left
}
.viewsreference--view-title {
  font-weight: 700;
  color: var(--color-base);
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 10px;
  margin-top: 0
}
.view-my-courses .view-header {
  font-weight: 700;
  color: var(--color-neutral-7);
  font-size: 16px;
  line-height: 1.33;
  margin-bottom: 25px
}
.view-my-courses .view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px
}
.view-my-courses .view-content .course__fields {
  border: solid 1px var(--color-neutral-2);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  padding: 12px 10px;
  min-height: 136px;
  background-color: var(--color-neutral-0);
  text-decoration: none;
  position: relative;
  width: 100%
}
.view-my-courses .view-content .course__fields:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05),0 16px 32px 0 rgba(0, 0, 0, .1);
  transition: .3s linear
}
.view-my-courses .view-content .course__fields:hover:before {
  background: var(--color-neutral-0);
  border-radius: 3px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: .8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1
}
.view-my-courses .view-content .course__fields:hover .btn {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  transition: .1s linear;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1)
}
.view-my-courses .view-content .course__fields .btn {
  font-weight: 700;
  display: inline-block;
  left: 15px;
  letter-spacing: .4px;
  max-width: 160px;
  opacity: 0;
  position: absolute;
  top: 20%;
  z-index: 2
}
.view-my-courses .view-content .course__fields__right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  position: relative;
  margin-left: 16px
}
.view-my-courses .view-content .course__fields__right-progress {
  align-items: flex-end;
  display: flex;
  flex: 1
}
.view-my-courses .view-content .course__fields__right-title {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-base);
  line-height: 1.5
}
.view-my-courses .view-content .course__fields__right-title a {
  font-weight: 700;
  color: var(--color-base);
  font-size: 16px;
  line-height: 1.5
}
.view-my-courses .view-content .course-progress__bar {
  position: relative
}
.view-my-courses .view-content .course-progress__bar-completed {
  background-color: #087dfd;
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0
}
.view-my-courses .view-content .course-progress__bar-placeholder {
  background-color: var(--color-neutral-2);
  border-radius: 2px;
  height: 4px
}
.view-my-courses .view-content .course__fields__right-timestamp {
  color: #9db2bc;
  font-size: 13px;
  line-height: 1.54
}
.darkmode .view-my-courses .view-content .course__fields__right-timestamp {
  color: #c0beba
}
.view-my-courses .view-content .course-progress__text-line {
  color: #9db2bc;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.33;
  margin-top: 7px
}
.darkmode .view-my-courses .view-content .course-progress__text-line {
  color: #c0beba
}
.view-my-courses .view-content .course-progress__text-line__percent {
  font-weight: 700;
  color: #087dfd
}
.view-my-courses .view-content .course-due-date {
  color: var(--color-base);
  font-size: 14px;
  font-weight: 700
}
.view-my-courses .view-content .course-due-date div {
  display: inline
}
.view-my-courses .view-content .course-due-date .date-red {
  color: #f04944
}
.view-my-courses .view-content .course-due-date .date-orange {
  color: #ff8c06
}
.view-my-courses .view-content .course-due-date .date-yellow {
  color: #f5b226
}
.view-my-courses .view-content .course-due-date .date-green {
  color: #0cb930
}
.view-my-courses .view-content .views-row {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  width: 100%
}
.view-my-courses .view-content .views-row:hover {
  opacity: .8
}
.view-my-courses .view-content .views-row:hover .btn.btn-success {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%)
}
.view-my-courses .view-content .views-row--button-container {
  min-width: 100%
}
.view-my-courses .view-content .views-row img {
  border: var(--color-neutral-2);
  border-radius: 3px;
  height: 116px;
  max-width: 84px;
  width: auto
}
.view-my-courses .view-content #collapseMyCourses {
  min-width: 100%
}
.view-my-courses .view-content .btn.btn-success {
  display: none
}
@media (min-width: 576px) {
  .paragraph--type--drupal-view {
    max-width: 540px
  }
}
@media (min-width: 768px) {
  .paragraph--type--drupal-view {
    max-width: 720px;
    z-index: 1;
    position: relative;
    margin-top: -45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
  }
  .view-my-courses .view-content .views-row {
    padding: 0 10px;
    width: 50%
  }
}
@media (min-width: 992px) {
  .paragraph--type--drupal-view {
    max-width: 960px
  }
  .view-my-courses .view-content .course-progress__text-line__percent,
  .view-my-courses .view-content .course__fields .btn,
  .view-my-courses .view-content .course__fields__right-title,
  .view-my-courses .view-content .course__fields__right-title a,
  .view-my-courses .view-header,
  .viewsreference--view-title {
    font-weight: 800
  }
  .view-my-courses .view-content .views-row {
    width: 33%
  }
}
@media (min-width: 1200px) {
  .paragraph--type--drupal-view {
    max-width: 1140px
  }
}
@media (min-width: 1400px) {
  .paragraph--type--drupal-view {
    max-width: 1320px
  }
}
@media (max-width: 767px) {
  .is-touch .view-my-courses .course__fields .btn {
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    opacity: 1;
    position: static
  }
}
@media (max-width: 575px) {
  .container--wso .paragraph--type--drupal-view {
    padding-left: 0;
    padding-right: 0
  }
}
/*# sourceMappingURL=my-courses.component.css.map */
