{#
/**
 * @file
 * Theme override for comments.
 *
 * Available variables:
 * - author: Comment author. Can be a link or plain text.
 * - content: The content-related items for the comment display. Use
 *   {{ content }} to print them all, or print a subset such as
 *   {{ content.field_example }}. Use the following code to temporarily suppress
 *   the printing of a given child element:
 *   @code
 *   {{ content|without('field_example') }}
 *   @endcode
 * - created: Formatted date and time for when the comment was created.
 *   Preprocess functions can reformat it by calling DateFormatter::format()
 *   with the desired parameters on the 'comment.created' variable.
 * - changed: Formatted date and time for when the comment was last changed.
 *   Preprocess functions can reformat it by calling DateFormatter::format()
 *   with the desired parameters on the 'comment.changed' variable.
 * - permalink: Comment permalink.
 * - submitted: Submission information created from author and created
 *   during template_preprocess_comment().
 * - user_picture: The comment author's profile picture.
 * - status: Comment status. Possible values are:
 *   unpublished, published, or preview.
 * - title: Comment title, linked to the comment.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class may contain one or more of the following classes:
 *   - comment: The current template type; e.g., 'theming hook'.
 *   - by-anonymous: Comment by an unregistered user.
 *   - by-{entity-type}-author: Comment by the author of the parent entity,
 *     eg. by-node-author.
 *   - preview: When previewing a new or edited comment.
 *   The following applies only to viewers who are registered users:
 *   - unpublished: An unpublished comment visible only to administrators.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - content_attributes: List of classes for the styling of the comment content.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - threaded: A flag indicating whether the comments are threaded or not.
 *
 * These variables are provided to give context about the parent comment (if
 * any):
 * - parent_comment: Full parent comment entity (if any).
 * - parent_author: Equivalent to author for the parent comment.
 * - parent_created: Equivalent to created for the parent comment.
 * - parent_changed: Equivalent to changed for the parent comment.
 * - parent_title: Equivalent to title for the parent comment.
 * - parent_permalink: Equivalent to permalink for the parent comment.
 * - parent: A text string of parent comment submission information created from
 *   'parent_author' and 'parent_created' during template_preprocess_comment().
 *   This information is presented to help screen readers follow lengthy
 *   discussion threads. You can hide this from sighted users using the class
 *   visually-hidden.
 *
 * These two variables are provided for context:
 * - comment: Full comment object.
 * - entity: Entity the comments are attached to.
 *
 * @see template_preprocess_comment()
 */
#}

{%
  set classes = [
 'js-comment',
  'comment-overall-layer',
  blurred ? 'comment--blurred' : ''
]
%}

{% if show_schema_org %}
  {% set schema = 'itemscope itemtype="http://schema.org/Answer"' %}
{% endif %}

{% if schema_org_answer %}
  {% set answer = 'itemprop="acceptedAnswer"' %}
{% endif %}

<article{{ attributes.addClass(classes).addClass(comment_overall_classes) }} {{ schema }} {{ answer }}>
  {% if status != 'preview' %}
    {#
      Hide the "new" indicator by default, let a piece of JavaScript ask the
      server which comments are new for the user. Rendering the final "new"
      indicator here would break the render cache.
    #}
    <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
  {% endif %}
  {{ related_content_block }}

  {% if middle_ad == TRUE %}
   {{ targeted_ad }}
  {% endif %}

  <div class="comment-name-anchor-outer">
    <a name="comment-{{ comment_cid }}" id="comment-{{ comment_cid }}">&nbsp;</a>
  </div>

  {% if status == 'unpublished' %}
    {% set unpublished = 'comment-unpublished' %}
  {% endif %}

  <div class="comment comment-container {{ unpublished }}" id="cid-{{ comment_cid }}">
    {% if show_schema_org %}
      <meta itemprop="upvoteCount" content="{{ votes.positives }}">
      <meta itemprop="downvoteCount" content="{{ votes.negatives }}">
    {% endif %}

    {% if most_voted == TRUE %}
      <div class="{{ most_voted_class }}">{{ most_voted_label }}</div>
    {% endif %}

    {% if related_topic == TRUE %}
      <div class="related-topic-label">Related Topic</div>
    {% endif %}

    <div class="post-wrap">
      <div class="post-header d-flex m-0 align-items-center justify-content-between">
        {{ submitted_by }}
      </div>

      <div class="comment-content" {{ content_attributes }}>
        {% if content and content.links %}
          {% set links = content.links %}
        {% endif %}

        {% if content and content.replies_ajax_link %}
          {{ content|without('replies_ajax_link', 'links', 'field_bananas', 'flag_bookmarks_comment', 'signature') }}
        {% else %}
          {{ content|without('links', 'field_bananas', 'flag_bookmarks_comment', 'signature') }}
        {% endif %}
        {% if status == 'published' or force_visible_footer %}
          {% set signature_class = signature|length > 0 ? 'with-signature' : '' %}
          <div class="user-signature user-signature-anon {{ signature_class }}">
            {% if not logged_in %}
              <div class="d-flex justify-content-md-between">
                <div class="anon-user-signature col-md-16">
                  {{ signature }}
                </div>
                <div class="anon-user-signature-vote col-md-8 pe-0">
                  {% if enable_share and comment_cid and not comment_fake %}
                    <div class="bookmarks-links pull-right">
                      <div class="share-comment">
                        <a href="#"><i class="icon icon-share-alt d-inline-block"></i></a>
                      </div>
                    </div>
                  {% endif %}
                  {{ content.field_bananas }}
                </div>
              </div>
            {% else %}
              <div class="anon-user-signature col-md-16 pb-1">
                {{ signature }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>

      {% if logged_in and (status == 'published' or force_visible_footer) %}
      <div class="post-footer row row--w-auto m-0 flex-nowrap">
        <div class="ps-0 col-sm-18">
          <div class="bookmarks-links">
            {% if logged_in and comment_cid and not comment_fake %}
              {{ links }}
            {% endif %}
            {% if logged_in and comment_fake %}
              <div class="comment-edit">
                <span class="edit-placeholder">
                  <a href="#" class="use-ajax">
                    <i class="icon icon-edit"></i>
                  </a>
                </span>
                </div>
              <div class="comment-reply">
                <a href="#" class="use-ajax">
                  <i class="icon icon-round-chat"></i>
                </a>
              </div>
              <div class="comment-quote-all">
                <a href="#quote">
                  <i class="icon icon-round-quote"></i>
                </a>
              </div>
              <div class="flag-comment">
                <a href="#" style="color: #d73131 !important" rel="nofollow">
                  <i class="icon icon-exclamation-triangle" style="color: #d73131 !important"></i>
                </a>
              </div>
              <div class="trash empty-link">
                <span class="hidden trash-placeholder"><i class="icon icon-trash-o"></i></span>
              </div>
              <div class="comment-bookmark">
                <a href="#">
                  <i class="icon icon-bookmark-empty"></i>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-sm-6 vote-widget-logged-in pe-0">
          {% if logged_in and comment_cid and not comment_fake and status == 'published' %}
            {{ content.field_bananas }}
          {% endif %}
          {% if logged_in and comment_fake %}
            <div class="vud-widget vud-widget-wso pull-right">
              <ul class="list-unstyled list-inline">
                <li class="options-toggle">
                  <a rel="nofollow" href="#" class="vud-link-up options-toggle">
                    <span class="options-toggle-container">
                      <span class="up-active" title="Award this user a silver banana!"></span>
                    </span>
                    </a>
                  </li>
                  <li class="options-toggle">
                    <a rel="nofollow" href="#" class="vud-link-down options-toggle">
                    <span class="options-toggle-container">
                      <span class="down-active" title="Throw monkey shit at this user!"></span>
                    </span>
                    </a>
                  </li>
                </ul>
              </div>
          {% endif %}
        </div>
      </div>
      {% endif %}

    </div>
  </div>

  {% if content and content.replies_ajax_link %}
    <div class="comments__sub-thread js-comment">
      {{ content.replies_ajax_link }}
    </div>
  {% endif %}

  <div class="reply-form" id="reply-form-{{ comment_cid }}" data-cid="{{ comment_cid }}"></div>

  {#  Modal flag form #}
  {{ flag_modal }}

</article>

 {% if targeted_ad_bottom %}
    <div data-nosnippet>{{ targeted_ad_bottom }}</div>
 {% endif %}
