{#
/**
 * @file
 * Theme override for comments.
 *
 * Available variables:
 * - author: Comment author. Can be a link or plain text.
 * - content: The content-related items for the comment display. Use
 *   {{ content }} to print them all, or print a subset such as
 *   {{ content.field_example }}. Use the following code to temporarily suppress
 *   the printing of a given child element:
 *   @code
 *   {{ content|without('field_example') }}
 *   @endcode
 * - created: Formatted date and time for when the comment was created.
 *   Preprocess functions can reformat it by calling DateFormatter::format()
 *   with the desired parameters on the 'comment.created' variable.
 * - changed: Formatted date and time for when the comment was last changed.
 *   Preprocess functions can reformat it by calling DateFormatter::format()
 *   with the desired parameters on the 'comment.changed' variable.
 * - permalink: Comment permalink.
 * - submitted: Submission information created from author and created
 *   during template_preprocess_comment().
 * - user_picture: The comment author's profile picture.
 * - status: Comment status. Possible values are:
 *   unpublished, published, or preview.
 * - title: Comment title, linked to the comment.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class may contain one or more of the following classes:
 *   - comment: The current template type; e.g., 'theming hook'.
 *   - by-anonymous: Comment by an unregistered user.
 *   - by-{entity-type}-author: Comment by the author of the parent entity,
 *     eg. by-node-author.
 *   - preview: When previewing a new or edited comment.
 *   The following applies only to viewers who are registered users:
 *   - unpublished: An unpublished comment visible only to administrators.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - content_attributes: List of classes for the styling of the comment content.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - threaded: A flag indicating whether the comments are threaded or not.
 *
 * These variables are provided to give context about the parent comment (if
 * any):
 * - parent_comment: Full parent comment entity (if any).
 * - parent_author: Equivalent to author for the parent comment.
 * - parent_created: Equivalent to created for the parent comment.
 * - parent_changed: Equivalent to changed for the parent comment.
 * - parent_title: Equivalent to title for the parent comment.
 * - parent_permalink: Equivalent to permalink for the parent comment.
 * - parent: A text string of parent comment submission information created from
 *   'parent_author' and 'parent_created' during template_preprocess_comment().
 *   This information is presented to help screen readers follow lengthy
 *   discussion threads. You can hide this from sighted users using the class
 *   visually-hidden.
 *
 * These two variables are provided for context:
 * - comment: Full comment object.
 * - entity: Entity the comments are attached to.
 *
 * @see template_preprocess_comment()
 */
#}

{%
  set classes = [
 'js-comment',
  'comment-overall-layer'
]
%}

{% if show_schema_org %}
  {% set schema = 'itemscope itemtype="http://schema.org/Answer"' %}
{% endif %}

{% if schema_org_answer %}
  {% set answer = 'itemprop="acceptedAnswer"' %}
{% endif %}

<article{{ attributes.addClass(classes).addClass(comment_overall_classes) }} {{ schema }} {{ answer }}>
  {% if status != 'preview' %}
    {#
      Hide the "new" indicator by default, let a piece of JavaScript ask the
      server which comments are new for the user. Rendering the final "new"
      indicator here would break the render cache.
    #}
    <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
  {% endif %}
  {{ related_content_block }}

  {% if middle_ad == TRUE %}
   {{ targeted_ad }}
  {% endif %}

  <div class="comment-name-anchor-outer">
    <a name="comment-{{ comment_cid }}" id="comment-{{ comment_cid }}">&nbsp;</a>
  </div>

  {% if status == 'unpublished' %}
    {% set unpublished = 'comment-unpublished' %}

    <div class="alert alert-info" role="alert">
      {{ 'Your comment has been submitted and a member of our support team or an expert finance professional will get back to you ASAP!'|t }}
    </div>
  {% endif %}

  <div class="comment comment-container {{ unpublished }}" id="cid-{{ comment_cid }}">
    {% if show_schema_org %}
      <meta itemprop="upvoteCount" content="{{ votes.positives }}">
      <meta itemprop="downvoteCount" content="{{ votes.negatives }}">
    {% endif %}

    {% if most_voted == TRUE %}
      <div class="{{ most_voted_class }}">{{ most_voted_label }}</div>
    {% endif %}

    {% if related_topic == TRUE %}
      <div class="related-topic-label">Related Topic</div>
    {% endif %}

    <div class="post-wrap">
      <div class="post-header d-md-flex m-0 align-items-center justify-content-between">
        {{ submitted_by }}
      </div>

      <div class="comment-content" {{ content_attributes }}>
        {% if content and content.links %}
          {% set links = content.links %}
        {% endif %}

        {% if content and content.replies_ajax_link %}
          {{ content|without('replies_ajax_link', 'links', 'field_bananas', 'flag_bookmarks_comment', 'signature') }}
        {% else %}
          {{ content|without('links', 'field_bananas', 'flag_bookmarks_comment', 'signature') }}
        {% endif %}


        {% if signature %}
          <div class="user-signature  {% if not logged_in %}user-signature-anon{% endif %}">
            {% if not logged_in %}
              <div class="anon-user-signature col-md-16">
                {{ signature }}
              </div>
              <div class="col-md-8 anon-user-signature-vote">
                {{ content.field_bananas }}
              </div>
            {% else %}
              <div class="anon-user-signature col-md-16">
                {{ signature }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>

      {% if logged_in and comment_cid and not comment_fake %}
        <div class="post-footer row row--w-auto m-0 flex-nowrap">
          <div class="ps-0 col-sm-18">
            <div class="bookmarks-links">
              {{ links }}
            </div>
          </div>
          <div class="col-sm-6 vote-widget-logged-in pe-0">
            {{ content.field_bananas }}
          </div>
        </div>
      {% endif %}

    </div>
  </div>

  {% if content and content.replies_ajax_link %}
    <div class="comments__sub-thread js-comment">
      {{ content.replies_ajax_link }}
    </div>
  {% endif %}

  <div class="reply-form" id="reply-form-{{ comment_cid }}" data-cid="{{ comment_cid }}"></div>
  {{ targeted_ad_bottom }}

  {#  Modal flag form #}
  {{ flag_modal }}

</article>
