{#
/**
 * @file
 * Theme override to display a list of forums and containers.
 *
 * Available variables:
 * - forums: A collection of forums and containers to display. It is keyed to
 *   the numeric IDs of all child forums and containers. Each forum in forums
 *   contains:
 *   - is_container: A flag indicating if the forum can contain other
 *     forums. Otherwise, the forum can only contain topics.
 *   - depth: How deep the forum is in the current hierarchy.
 *   - zebra: 'even' or 'odd', used for row class.
 *   - icon_class: 'default' or 'new', used for forum icon class.
 *   - icon_title: Text alternative for the forum icon.
 *   - name: The name of the forum.
 *   - link: The URL to link to this forum.
 *   - description: The description field for the forum, containing:
 *     - value: The descriptive text for the forum.
 *   - new_topics: A flag indicating if the forum contains unread posts.
 *   - new_url: A URL to the forum's unread posts.
 *   - new_text: Text for the above URL, which tells how many new posts.
 *   - old_topics: A count of posts that have already been read.
 *   - num_posts: The total number of posts in the forum.
 *   - last_reply: Text representing the last time a forum was posted or
 *     commented in.
 * - forum_id: Forum ID for the current forum. Parent to all items within the
 *   forums array.
 *
 * @see template_preprocess_forum_list()
 */
#}

<div class="text-center forum-intro">
  <h2 class="lead"><strong>{{ counters.users }}</strong> Members, <strong>{{ counters.topics }}</strong> Discussions and <strong>{{ counters.comments }}</strong>
    Comments</h2>
  <a href="/node/add/forum" class="btn btn-success btn-lg text-center">START DISCUSSION</a>
  <p class="m-b-sm">
    <small>...or browse topics below...</small>
  </p>
  <p class="row justify-content-center ms-0 me-0 forum-intro__links">
    <span class="col-xs-24 col-md-4 col-md-offset-6"><a href="/tracker">All Recent Content</a></span>
    <span class="col-xs-24 col-md-4"><a href="/tracker/top">Top Content (All time)</a></span>
    <span class="col-xs-24 col-md-4"><a href="/tracker/top/week">Hot Topics (Last Week)</a></span>
  </p>
</div>

<div class="row forums-container-row row--w-auto">
  {% for child_id, forum in forums if child_id != 1 %}
    {% if forum.is_root == true %}
      <div class="row margin-bottom-10 ms-0 me-0">
        <div class="col-xs-24">
          <h3>{{ forum.label }}</h3>
        </div>
      </div>
    {% else %}

      <div class="forums-wrapper margin-bottom-30">
        <div class="portfolio-item img-thumbnail forum-block">
          <a href="{{ forum.link }}" class="thumb-info">
            <div class="panel-heading hidden">{{ forum.description.value }}</div>
            <img loading="lazy" src="/themes/custom/porto_sub/images/forums/{{ child_id }}.jpg" width="447" height="447" alt="">
            <span class="thumb-info-title">
            <span class="thumb-info-inner">{{ forum.label }}</span>
            <span class="thumb-info-type">{{ forum.num_topics }} Topics</span>
            <br/>
            <span class="thumb-info-type">{{ forum.num_posts }} Comments</span>
          </span>
          </a>
        </div>
      </div>

    {% endif %}
  {% endfor %}
</div>
