{#
/**
 * @file
 * Default theme implementation to display a private message.
 *
 * Available variables:
 * - private_message: The private message entity
 *    with limited access to object properties and methods.
 * - content: All private message items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - url: Direct URL of the current private message.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 *
 * @see template_preprocess_private_message()
 *
 * @ingroup themeable
 */
#}

<div class="private-message-wrapper">
  <div class="privatemsg-message">
    <div class="privatemsg-message-header">
      <div class="privatemsg-author-avatar">
        <a class="username" href="{{ author_url }}">
          <img loading="lazy" src="{{ author_picture }}" />
        </a>
      </div>
      <div class="privatemsg-message-information">
        <span class="privatemsg-author-name"><a class="username" href="{{ author_url }}">{{ author_name }}</a></span>
        <span class="privatemsg-message-date">{{ content.created }}</span>
      </div>
    </div>
    <div class="privatemsg-message-body">
      {{ content|without('flag_abuse_privatemsg','created') }}
    </div>
    <div class="privatemsg-message-flag">{{ content.flag_abuse_privatemsg }}</div>
  </div>
</div>
