@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#highest-ranked-discussions-block {
  ul {
    position: relative;
    border-top: none;
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;

    &.list-inline {
      border-bottom: 2px solid var(--color-page-bg);
      font-size: 14px;

      li {
        padding: 0 13px 10px;
        border-bottom: none;

        @media (max-width: 1199px) {
          padding: 0 8.5px 10px;
        }

        &:first-child {
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }

        a {
          @include font-color-grey-darkmode;
          text-decoration: none;
          font-weight: normal;
          letter-spacing: .1px;
          padding-bottom: 13px;
          border-bottom: transparent 2px solid;
          margin-bottom: -2px;

          @media (max-width: 1199px) {
            font-size: 12px;
          }
        }

        &.active {
          a {
            @include font-color-base-darkmode;
            @include responsive-prop(700, 800, font-weight);
            border-bottom: $color-blue 2px solid;
          }
        }

        &:hover {
          a {
            color: $color-blue;
          }
        }
      }
    }

    &.hrd-list {
      border: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  a {
    &.hrd-forum-link {
      color: $color-blue;
    }
  }

  .author-info-row {
    display: flex;
    align-items: center;

    > * {
      display: inline-block;
    }

    .author-info-score {
      @include small-green-counter();
      background: $color-lightest-green;
      margin-right: 7px;
      min-width: auto;

      .darkmode & {
        background: invert($color-lightest-green);
      }
    }

    .author-info-topic {
      @include small-mono-label();
      margin-right: 7px;

      .darkmode & {
        color: var(--color-neutral-8)
      }
    }

    .author-info {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: 0.2px;
      color: var(--color-neutral-7);
      padding-left: 0;

      .darkmode & {
        color: var(--color-neutral-8)
      }

      &:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: var(--color-neutral-4);
        margin-right: 7px;
      }

      span {
        font-weight: 500;
        color: var(--color-neutral-6);

        .darkmode & {
          color: var(--color-neutral-8)
        }
      }
    }
  }

  .view-top-content-block {
    .view-content {
      padding: 0 24px;

      > div {
        display: inline-block;
        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        border-bottom: 1px solid var(--color-neutral-1);
        margin-top: 5px;
        font-size: 14px;
        padding: 5px 0 12px;

        &:last-child {
          border: none;
        }
      }
    }
  }

  .more-link {
    padding: 0 24px 20px;

    @media (max-width: 1199px) {
      font-size: 12px;
    }

    a.btn {
      font-size: 14px;
      height: 32px;
      line-height: 30px;
      padding: 0 14px;
      white-space: nowrap;
    }
  }
}





