#highest-ranked-discussions-block ul {
  position: relative;
  border-top: none;
  padding: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between
}
#highest-ranked-discussions-block ul.list-inline {
  border-bottom: 2px solid var(--color-page-bg);
  font-size: 14px
}
#highest-ranked-discussions-block ul.list-inline li {
  padding: 0 13px 10px;
  border-bottom: none
}
#highest-ranked-discussions-block ul.list-inline li:first-child {
  padding-left: 24px
}
#highest-ranked-discussions-block ul.list-inline li:last-child {
  padding-right: 24px
}
#highest-ranked-discussions-block ul.list-inline li a {
  color: #9db2bc;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: .1px;
  padding-bottom: 13px;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px
}
.darkmode #highest-ranked-discussions-block ul.list-inline li a {
  color: #c0beba
}
#highest-ranked-discussions-block ul.list-inline li.active a {
  color: #0a4059;
  font-weight: 700;
  border-bottom: 2px solid #087dfd
}
.darkmode #highest-ranked-discussions-block ul.list-inline li.active a {
  color: #c0beba
}
#highest-ranked-discussions-block ul.list-inline li:hover a {
  color: #087dfd
}
#highest-ranked-discussions-block ul.hrd-list {
  border: none;
  margin-bottom: 0;
  padding: 0
}
#highest-ranked-discussions-block a.hrd-forum-link {
  color: #087dfd
}
#highest-ranked-discussions-block .author-info-row {
  display: flex;
  align-items: center
}
#highest-ranked-discussions-block .author-info-row > * {
  display: inline-block
}
#highest-ranked-discussions-block .author-info-row .author-info-score {
  font-size: 11px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 3px;
  background: #f7fcf8;
  color: #79ba5a;
  font-weight: 700;
  vertical-align: top;
  margin-right: 7px;
  min-width: auto
}
#highest-ranked-discussions-block .author-info-row .author-info-score.non-zero {
  background-color: rgba(121, 186, 90, .1)
}
.darkmode #highest-ranked-discussions-block .author-info-row .author-info-score.non-zero {
  background-color: #29401e
}
#highest-ranked-discussions-block .author-info-row .author-info-score.zero-banana {
  background-color: var(--color-neutral-3);
  color: var(--color-neutral-7)
}
.darkmode #highest-ranked-discussions-block .author-info-row .author-info-score {
  background: #080307
}
#highest-ranked-discussions-block .author-info-row .author-info-topic {
  font-weight: 700;
  height: 16px;
  line-height: 16px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid var(--color-neutral-4);
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .4px;
  text-align: center;
  color: var(--color-neutral-7);
  padding: 0 2px;
  margin-right: 7px
}
#highest-ranked-discussions-block .author-info-row .author-info-topic a {
  color: inherit
}
.darkmode #highest-ranked-discussions-block .author-info-row .author-info-topic {
  color: var(--color-neutral-8)
}
#highest-ranked-discussions-block .author-info-row .author-info {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  padding-left: 0
}
.darkmode #highest-ranked-discussions-block .author-info-row .author-info {
  color: var(--color-neutral-8)
}
#highest-ranked-discussions-block .author-info-row .author-info:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: var(--color-neutral-4);
  margin-right: 7px
}
#highest-ranked-discussions-block .author-info-row .author-info span {
  font-weight: 500;
  color: var(--color-neutral-6)
}
.darkmode #highest-ranked-discussions-block .author-info-row .author-info span {
  color: var(--color-neutral-8)
}
#highest-ranked-discussions-block .view-top-content-block .view-content {
  padding: 0 24px
}
#highest-ranked-discussions-block .view-top-content-block .view-content > div {
  display: inline-block;
  overflow: hidden!important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border-bottom: 1px solid var(--color-neutral-1);
  margin-top: 5px;
  font-size: 14px;
  padding: 5px 0 12px
}
#highest-ranked-discussions-block .view-top-content-block .view-content > div:last-child {
  border: none
}
#highest-ranked-discussions-block .more-link {
  padding: 0 24px 20px
}
#highest-ranked-discussions-block .more-link a.btn {
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  padding: 0 14px;
  white-space: nowrap
}
@media (min-width: 992px) {
  #highest-ranked-discussions-block .author-info-row .author-info-score,
  #highest-ranked-discussions-block .author-info-row .author-info-topic,
  #highest-ranked-discussions-block ul.list-inline li.active a {
    font-weight: 800
  }
}
@media (max-width: 1199px) {
  #highest-ranked-discussions-block ul.list-inline li {
    padding: 0 8.5px 10px
  }
  #highest-ranked-discussions-block .more-link,
  #highest-ranked-discussions-block ul.list-inline li a {
    font-size: 12px
  }
}
/*# sourceMappingURL=highest-ranked-discussions.component.css.map */
