@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.page-reports-node-swear-words {
  .content.full > .container {
    @include media('>=large-desktop') {
      max-width: 90%;
    }
  }

  .popover {
    max-width: 90%;
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
  }
}

.view-node-swear-words,
.view-comments-swear-words {
  table {
    @include wso-table-left-center();
    @include wso-admin-table();

    thead th {
      white-space: nowrap;
      vertical-align: middle;
    }
  }

  .views-exposed-form .form--inline {
    display: flex;

    .form-text {
      margin-top: 0;
      margin-right: 10px;
    }

    input.button {
      @extend %btn, .btn-success;
    }
  }

  .form-actions {
    .form-submit {
      @extend %btn, .btn-success;
    }
  }
}
