.view-comments-swear-words .form-actions .form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.button:focus,
.view-node-swear-words .form-actions .form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.button:focus {
  outline: 0
}
.view-comments-swear-words .form-actions .btn-default.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-default.button,
.view-node-swear-words .form-actions .btn-default.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-default.button {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.view-comments-swear-words .form-actions .btn-default.form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-default.button:hover,
.view-node-swear-words .form-actions .btn-default.form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-default.button:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.view-comments-swear-words .form-actions .btn-default.form-submit:active,
.view-comments-swear-words .form-actions .btn-default.form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-default.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-default.button:focus,
.view-node-swear-words .form-actions .btn-default.form-submit:active,
.view-node-swear-words .form-actions .btn-default.form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-default.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-default.button:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-default.form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-default.button:disabled,
.view-node-swear-words .form-actions .btn-default.form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-default.button:disabled {
  background-color: var(--color-neutral-1)
}
.view-comments-swear-words .form-actions .btn-filled.form-submit,
.view-comments-swear-words .form-actions .btn-success.form-submit,
.view-comments-swear-words .form-actions .form-submit,
.view-comments-swear-words .view-node-swear-words .form-actions .form-submit,
.view-comments-swear-words .view-node-swear-words .form-actions .form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.button,
.view-node-swear-words .form-actions .btn-filled.form-submit,
.view-node-swear-words .form-actions .btn-success.form-submit,
.view-node-swear-words .form-actions .form-submit,
.view-node-swear-words .view-comments-swear-words .form-actions .form-submit,
.view-node-swear-words .view-comments-swear-words .form-actions .form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
.view-comments-swear-words .form-actions .btn-filled.form-submit:hover,
.view-comments-swear-words .form-actions .btn-success.form-submit:hover,
.view-comments-swear-words .form-actions .form-submit:hover,
.view-comments-swear-words .view-node-swear-words .form-actions .form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.button:hover,
.view-node-swear-words .form-actions .btn-filled.form-submit:hover,
.view-node-swear-words .form-actions .btn-success.form-submit:hover,
.view-node-swear-words .form-actions .form-submit:hover,
.view-node-swear-words .view-comments-swear-words .form-actions .form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.button:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.view-comments-swear-words .form-actions .btn-filled.form-submit:active,
.view-comments-swear-words .form-actions .btn-filled.form-submit:focus,
.view-comments-swear-words .form-actions .btn-success.form-submit:active,
.view-comments-swear-words .form-actions .btn-success.form-submit:focus,
.view-comments-swear-words .form-actions .form-submit:active,
.view-comments-swear-words .form-actions .form-submit:focus,
.view-comments-swear-words .view-node-swear-words .form-actions .form-submit:active,
.view-comments-swear-words .view-node-swear-words .form-actions .form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.button:focus,
.view-node-swear-words .form-actions .btn-filled.form-submit:active,
.view-node-swear-words .form-actions .btn-filled.form-submit:focus,
.view-node-swear-words .form-actions .btn-success.form-submit:active,
.view-node-swear-words .form-actions .btn-success.form-submit:focus,
.view-node-swear-words .form-actions .form-submit:active,
.view-node-swear-words .form-actions .form-submit:focus,
.view-node-swear-words .view-comments-swear-words .form-actions .form-submit:active,
.view-node-swear-words .view-comments-swear-words .form-actions .form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.button:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.view-comments-swear-words .form-actions .btn-filled.form-submit:disabled,
.view-comments-swear-words .form-actions .btn-success.form-submit:disabled,
.view-comments-swear-words .form-actions .form-submit:disabled,
.view-comments-swear-words .view-node-swear-words .form-actions .form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.button:disabled,
.view-node-swear-words .form-actions .btn-filled.form-submit:disabled,
.view-node-swear-words .form-actions .btn-success.form-submit:disabled,
.view-node-swear-words .form-actions .form-submit:disabled,
.view-node-swear-words .view-comments-swear-words .form-actions .form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.button:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-danger.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-danger.button,
.view-node-swear-words .form-actions .btn-danger.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-danger.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.view-comments-swear-words .form-actions .btn-danger.form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-danger.button:hover,
.view-node-swear-words .form-actions .btn-danger.form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-danger.button:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.view-comments-swear-words .form-actions .btn-danger.form-submit:active,
.view-comments-swear-words .form-actions .btn-danger.form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-danger.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-danger.button:focus,
.view-node-swear-words .form-actions .btn-danger.form-submit:active,
.view-node-swear-words .form-actions .btn-danger.form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-danger.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-danger.button:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.view-comments-swear-words .form-actions .btn-danger.form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-danger.button:disabled,
.view-node-swear-words .form-actions .btn-danger.form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-danger.button:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-lines.form-submit,
.view-comments-swear-words .form-actions .btn-secondary.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.button,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.button,
.view-node-swear-words .form-actions .btn-lines.form-submit,
.view-node-swear-words .form-actions .btn-secondary.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.button,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.view-comments-swear-words .form-actions .btn-lines.form-submit:hover,
.view-comments-swear-words .form-actions .btn-secondary.form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.button:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.button:hover,
.view-node-swear-words .form-actions .btn-lines.form-submit:hover,
.view-node-swear-words .form-actions .btn-secondary.form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.button:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.button:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.view-comments-swear-words .form-actions .btn-lines.form-submit:active,
.view-comments-swear-words .form-actions .btn-lines.form-submit:focus,
.view-comments-swear-words .form-actions .btn-secondary.form-submit:active,
.view-comments-swear-words .form-actions .btn-secondary.form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.button:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.button:focus,
.view-node-swear-words .form-actions .btn-lines.form-submit:active,
.view-node-swear-words .form-actions .btn-lines.form-submit:focus,
.view-node-swear-words .form-actions .btn-secondary.form-submit:active,
.view-node-swear-words .form-actions .btn-secondary.form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.button:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.button:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-lines.form-submit:disabled,
.view-comments-swear-words .form-actions .btn-secondary.form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.button:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.button:disabled,
.view-node-swear-words .form-actions .btn-lines.form-submit:disabled,
.view-node-swear-words .form-actions .btn-secondary.form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.button:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.button:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-lines.mono.form-submit,
.view-comments-swear-words .form-actions .btn-secondary.mono.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button,
.view-node-swear-words .form-actions .btn-lines.mono.form-submit,
.view-node-swear-words .form-actions .btn-secondary.mono.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.view-comments-swear-words .form-actions .btn-lines.mono.form-submit:hover,
.view-comments-swear-words .form-actions .btn-secondary.mono.form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button:hover,
.view-node-swear-words .form-actions .btn-lines.mono.form-submit:hover,
.view-node-swear-words .form-actions .btn-secondary.mono.form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.view-comments-swear-words .form-actions .btn-lines.mono.form-submit:active,
.view-comments-swear-words .form-actions .btn-lines.mono.form-submit:focus,
.view-comments-swear-words .form-actions .btn-secondary.mono.form-submit:active,
.view-comments-swear-words .form-actions .btn-secondary.mono.form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button:focus,
.view-node-swear-words .form-actions .btn-lines.mono.form-submit:active,
.view-node-swear-words .form-actions .btn-lines.mono.form-submit:focus,
.view-node-swear-words .form-actions .btn-secondary.mono.form-submit:active,
.view-node-swear-words .form-actions .btn-secondary.mono.form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-lines.mono.form-submit:disabled,
.view-comments-swear-words .form-actions .btn-secondary.mono.form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button:disabled,
.view-node-swear-words .form-actions .btn-lines.mono.form-submit:disabled,
.view-node-swear-words .form-actions .btn-secondary.mono.form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.button:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.button:disabled {
  background-color: var(--color-neutral-1)
}
.view-comments-swear-words .form-actions .btn-lines.mono.danger.form-submit,
.view-comments-swear-words .form-actions .btn-secondary.mono.danger.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button,
.view-node-swear-words .form-actions .btn-lines.mono.danger.form-submit,
.view-node-swear-words .form-actions .btn-secondary.mono.danger.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.view-comments-swear-words .form-actions .btn-lines.mono.danger.form-submit:hover,
.view-comments-swear-words .form-actions .btn-secondary.mono.danger.form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button:hover,
.view-node-swear-words .form-actions .btn-lines.mono.danger.form-submit:hover,
.view-node-swear-words .form-actions .btn-secondary.mono.danger.form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.view-comments-swear-words .form-actions .btn-lines.mono.danger.form-submit:active,
.view-comments-swear-words .form-actions .btn-lines.mono.danger.form-submit:focus,
.view-comments-swear-words .form-actions .btn-secondary.mono.danger.form-submit:active,
.view-comments-swear-words .form-actions .btn-secondary.mono.danger.form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button:focus,
.view-node-swear-words .form-actions .btn-lines.mono.danger.form-submit:active,
.view-node-swear-words .form-actions .btn-lines.mono.danger.form-submit:focus,
.view-node-swear-words .form-actions .btn-secondary.mono.danger.form-submit:active,
.view-node-swear-words .form-actions .btn-secondary.mono.danger.form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-lines.mono.danger.form-submit:disabled,
.view-comments-swear-words .form-actions .btn-secondary.mono.danger.form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button:disabled,
.view-node-swear-words .form-actions .btn-lines.mono.danger.form-submit:disabled,
.view-node-swear-words .form-actions .btn-secondary.mono.danger.form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lines.mono.danger.button:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-secondary.mono.danger.button:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-other.form-submit,
.view-comments-swear-words .form-actions .btn-success-ghost.form-submit,
.view-comments-swear-words .form-actions .btn-transparency.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-other.button,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-transparency.button,
.view-node-swear-words .form-actions .btn-other.form-submit,
.view-node-swear-words .form-actions .btn-success-ghost.form-submit,
.view-node-swear-words .form-actions .btn-transparency.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-other.button,
.view-node-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button,
.view-node-swear-words .views-exposed-form .form--inline input.btn-transparency.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.view-comments-swear-words .form-actions .btn-other.form-submit:hover,
.view-comments-swear-words .form-actions .btn-success-ghost.form-submit:hover,
.view-comments-swear-words .form-actions .btn-transparency.form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-other.button:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-transparency.button:hover,
.view-node-swear-words .form-actions .btn-other.form-submit:hover,
.view-node-swear-words .form-actions .btn-success-ghost.form-submit:hover,
.view-node-swear-words .form-actions .btn-transparency.form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-other.button:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-transparency.button:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.view-comments-swear-words .form-actions .btn-other.form-submit:active,
.view-comments-swear-words .form-actions .btn-other.form-submit:focus,
.view-comments-swear-words .form-actions .btn-success-ghost.form-submit:active,
.view-comments-swear-words .form-actions .btn-success-ghost.form-submit:focus,
.view-comments-swear-words .form-actions .btn-transparency.form-submit:active,
.view-comments-swear-words .form-actions .btn-transparency.form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-other.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-other.button:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-transparency.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-transparency.button:focus,
.view-node-swear-words .form-actions .btn-other.form-submit:active,
.view-node-swear-words .form-actions .btn-other.form-submit:focus,
.view-node-swear-words .form-actions .btn-success-ghost.form-submit:active,
.view-node-swear-words .form-actions .btn-success-ghost.form-submit:focus,
.view-node-swear-words .form-actions .btn-transparency.form-submit:active,
.view-node-swear-words .form-actions .btn-transparency.form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-other.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-other.button:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-transparency.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-transparency.button:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-other.form-submit:disabled,
.view-comments-swear-words .form-actions .btn-success-ghost.form-submit:disabled,
.view-comments-swear-words .form-actions .btn-transparency.form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-other.button:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-transparency.button:disabled,
.view-node-swear-words .form-actions .btn-other.form-submit:disabled,
.view-node-swear-words .form-actions .btn-success-ghost.form-submit:disabled,
.view-node-swear-words .form-actions .btn-transparency.form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-other.button:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-success-ghost.button:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-transparency.button:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.view-comments-swear-words .form-actions .bg-white.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.bg-white.button,
.view-node-swear-words .form-actions .bg-white.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.bg-white.button {
  background: var(--color-neutral-0)
}
.view-comments-swear-words .form-actions .btn-info.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.button,
.view-node-swear-words .form-actions .btn-info.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.view-comments-swear-words .form-actions .btn-info.form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.button:hover,
.view-node-swear-words .form-actions .btn-info.form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.button:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.view-comments-swear-words .form-actions .btn-info.form-submit:active,
.view-comments-swear-words .form-actions .btn-info.form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.button:focus,
.view-node-swear-words .form-actions .btn-info.form-submit:active,
.view-node-swear-words .form-actions .btn-info.form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.button:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.view-comments-swear-words .form-actions .btn-info.form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.button:disabled,
.view-node-swear-words .form-actions .btn-info.form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.button:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-info.btn-lines.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button,
.view-node-swear-words .form-actions .btn-info.btn-lines.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.view-comments-swear-words .form-actions .btn-info.btn-lines.form-submit:hover,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button:hover,
.view-node-swear-words .form-actions .btn-info.btn-lines.form-submit:hover,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.view-comments-swear-words .form-actions .btn-info.btn-lines.form-submit:active,
.view-comments-swear-words .form-actions .btn-info.btn-lines.form-submit:focus,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button:active,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button:focus,
.view-node-swear-words .form-actions .btn-info.btn-lines.form-submit:active,
.view-node-swear-words .form-actions .btn-info.btn-lines.form-submit:focus,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button:active,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-info.btn-lines.form-submit:disabled,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button:disabled,
.view-node-swear-words .form-actions .btn-info.btn-lines.form-submit:disabled,
.view-node-swear-words .views-exposed-form .form--inline input.btn-info.btn-lines.button:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.view-comments-swear-words .form-actions .btn-xs.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-xs.button,
.view-node-swear-words .form-actions .btn-xs.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-xs.button {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.view-comments-swear-words .form-actions .btn-sm.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-sm.button,
.view-node-swear-words .form-actions .btn-sm.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-sm.button {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.view-comments-swear-words .form-actions .btn-md.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-md.button,
.view-node-swear-words .form-actions .btn-md.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-md.button {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
.view-comments-swear-words .form-actions .btn-lg.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-lg.button,
.view-node-swear-words .form-actions .btn-lg.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-lg.button {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.view-comments-swear-words .form-actions .btn-xl.form-submit,
.view-comments-swear-words .views-exposed-form .form--inline input.btn-xl.button,
.view-node-swear-words .form-actions .btn-xl.form-submit,
.view-node-swear-words .views-exposed-form .form--inline input.btn-xl.button {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.page-reports-node-swear-words .popover {
  max-width: 90%;
  box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75)
}
.view-comments-swear-words table,
.view-node-swear-words table {
  border: var(--color-neutral-3) solid 1px!important;
  border-color: var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  border-bottom: 0;
  border-collapse: unset;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 13px;
  border-spacing: 0;
  color: var(--color-base)
}
.view-comments-swear-words table a:not(.btn),
.view-node-swear-words table a:not(.btn) {
  color: var(--color-base)
}
.view-comments-swear-words table thead a,
.view-node-swear-words table thead a {
  border: none;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 1.08
}
.view-comments-swear-words table thead tr,
.view-node-swear-words table thead tr {
  background-color: var(--color-page-bg)
}
.view-comments-swear-words table thead th,
.view-node-swear-words table thead th {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: .1px;
  border-bottom: var(--color-neutral-2) 1px solid;
  border-color: var(--color-neutral-2);
  padding: 12px 22px;
  white-space: nowrap;
  vertical-align: middle
}
.view-comments-swear-words table thead th.score,
.view-node-swear-words table thead th.score {
  text-align: center
}
.view-comments-swear-words table thead th.views-field-score,
.view-node-swear-words table thead th.views-field-score {
  font-size: 14px
}
.view-comments-swear-words table thead th.replies-column,
.view-node-swear-words table thead th.replies-column {
  text-align: center
}
.view-comments-swear-words table thead .comments,
.view-node-swear-words table thead .comments {
  min-width: 130px;
  text-align: center
}
.view-comments-swear-words table thead .icon-bananas:before,
.view-node-swear-words table thead .icon-bananas:before {
  color: #f5b226
}
.view-comments-swear-words table tbody,
.view-node-swear-words table tbody {
  border: none
}
.view-comments-swear-words table tbody tr:hover,
.view-comments-swear-words table tbody tr:hover>td,
.view-node-swear-words table tbody tr:hover,
.view-node-swear-words table tbody tr:hover>td {
  background-color: var(--color-neutral-1)
}
.view-comments-swear-words table tr,
.view-node-swear-words table tr {
  background: var(--color-neutral-0)
}
.view-comments-swear-words table tr.even,
.view-comments-swear-words table tr.odd,
.view-comments-swear-words table tr:nth-child(even),
.view-comments-swear-words table tr:nth-child(odd),
.view-node-swear-words table tr.even,
.view-node-swear-words table tr.odd,
.view-node-swear-words table tr:nth-child(even),
.view-node-swear-words table tr:nth-child(odd) {
  border-bottom: 1px solid var(--color-neutral-2);
  border-color: var(--color-neutral-2)
}
.view-comments-swear-words table tr.fake-header,
.view-node-swear-words table tr.fake-header {
  display: none
}
.view-comments-swear-words table tr.warning td,
.view-node-swear-words table tr.warning td {
  background-color: var(--color-warning-bg)
}
.view-comments-swear-words table tr .warning,
.view-node-swear-words table tr .warning {
  background: var(--color-warning-bg);
  color: var(--color-base)
}
.view-comments-swear-words table td,
.view-node-swear-words table td {
  padding: 14px 10px;
  vertical-align: middle
}
.view-comments-swear-words table td:first-child,
.view-node-swear-words table td:first-child {
  color: #0cb930;
  min-width: 10px
}
.view-comments-swear-words table td:first-child .icon,
.view-node-swear-words table td:first-child .icon {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  position: relative
}
.view-comments-swear-words table td:first-child .icon:before,
.view-node-swear-words table td:first-child .icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.view-comments-swear-words table td:first-child .icon.icon-question-circle:before,
.view-node-swear-words table td:first-child .icon.icon-question-circle:before {
  content: "\e860";
  color: #189eda
}
.view-comments-swear-words table td:first-child .icon.icon-map-pin:before,
.view-node-swear-words table td:first-child .icon.icon-map-pin:before {
  content: "\e836";
  color: #0cb930
}
.view-comments-swear-words table td:first-child .icon.icon-podcast:before,
.view-node-swear-words table td:first-child .icon.icon-podcast:before {
  content: "\e864"
}
.view-comments-swear-words table td:first-child .counter,
.view-node-swear-words table td:first-child .counter {
  font-size: 11px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 3px;
  background: 0 0;
  color: #79ba5a;
  font-weight: 700;
  vertical-align: top
}
.view-comments-swear-words table td:first-child .counter.non-zero,
.view-node-swear-words table td:first-child .counter.non-zero {
  background-color: rgba(121, 186, 90, .1)
}
.darkmode .view-comments-swear-words table td:first-child .counter.non-zero,
.darkmode .view-node-swear-words table td:first-child .counter.non-zero {
  background-color: #29401e
}
.view-comments-swear-words table td:first-child .counter.zero-banana,
.view-node-swear-words table td:first-child .counter.zero-banana {
  background-color: var(--color-neutral-3);
  color: var(--color-neutral-7)
}
.view-comments-swear-words table td:last-child,
.view-node-swear-words table td:last-child {
  color: var(--color-neutral-7);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.14;
  text-align: center
}
.view-comments-swear-words table td:nth-child(3),
.view-node-swear-words table td:nth-child(3) {
  text-align: center
}
.view-comments-swear-words table td.title,
.view-comments-swear-words table td.views-field-title,
.view-comments-swear-words table td.views-field-title-with-tooltip,
.view-node-swear-words table td.title,
.view-node-swear-words table td.views-field-title,
.view-node-swear-words table td.views-field-title-with-tooltip {
  padding: 14px 0;
  font-size: 15px;
  font-stretch: normal;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2px;
  color: var(--color-base)
}
.view-comments-swear-words table td.title .row-flex,
.view-comments-swear-words table td.views-field-title .row-flex,
.view-comments-swear-words table td.views-field-title-with-tooltip .row-flex,
.view-node-swear-words table td.title .row-flex,
.view-node-swear-words table td.views-field-title .row-flex,
.view-node-swear-words table td.views-field-title-with-tooltip .row-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}
.view-comments-swear-words table td.title .icon-bolt,
.view-comments-swear-words table td.views-field-title .icon-bolt,
.view-comments-swear-words table td.views-field-title-with-tooltip .icon-bolt,
.view-node-swear-words table td.title .icon-bolt,
.view-node-swear-words table td.views-field-title .icon-bolt,
.view-node-swear-words table td.views-field-title-with-tooltip .icon-bolt {
  color: #f5b226;
  margin-right: 5px
}
.view-comments-swear-words table td.title a,
.view-comments-swear-words table td.views-field-title a,
.view-comments-swear-words table td.views-field-title-with-tooltip a,
.view-node-swear-words table td.title a,
.view-node-swear-words table td.views-field-title a,
.view-node-swear-words table td.views-field-title-with-tooltip a {
  display: inline-block;
  line-height: 1.14;
  max-width: 450px;
  vertical-align: middle;
  color: inherit;
  text-overflow: ellipsis
}
.view-comments-swear-words table td.title a:hover,
.view-comments-swear-words table td.views-field-title a:hover,
.view-comments-swear-words table td.views-field-title-with-tooltip a:hover,
.view-node-swear-words table td.title a:hover,
.view-node-swear-words table td.views-field-title a:hover,
.view-node-swear-words table td.views-field-title-with-tooltip a:hover {
  color: #087dfd
}
.view-comments-swear-words table td:not(.title) a,
.view-comments-swear-words table td:not(.views-field-title) a,
.view-comments-swear-words table td:not(.views-field-title-with-tooltip) a,
.view-node-swear-words table td:not(.title) a,
.view-node-swear-words table td:not(.views-field-title) a,
.view-node-swear-words table td:not(.views-field-title-with-tooltip) a {
  position: relative;
  z-index: 97
}
.view-comments-swear-words table td.views-field-taxonomy-forums > span,
.view-node-swear-words table td.views-field-taxonomy-forums > span {
  border: var(--color-neutral-4) 1px solid;
  border-color: var(--color-neutral-4);
  font-weight: 800;
  font-size: 11px;
  line-height: 12px;
  color: var(--color-neutral-6);
  border-radius: 3px;
  padding: 4px 2px 2px;
  display: inline-block;
  min-width: 28px
}
.view-comments-swear-words table td.views-field-comment-count,
.view-node-swear-words table td.views-field-comment-count {
  text-align: left;
  padding-left: 25px;
  white-space: nowrap
}
.view-comments-swear-words table td.views-field-comment-count > span:first-child,
.view-node-swear-words table td.views-field-comment-count > span:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-neutral-6)
}
.view-comments-swear-words table td.views-field-comment-count > span:first-child:before,
.view-node-swear-words table td.views-field-comment-count > span:first-child:before {
  content: "\e86d";
  display: inline-block;
  font: 13px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-neutral-4)
}
.view-comments-swear-words table td.replies,
.view-node-swear-words table td.replies {
  min-width: 90px;
  text-align: center;
  white-space: nowrap
}
.view-comments-swear-words table td.replies i,
.view-node-swear-words table td.replies i {
  font-style: normal;
  color: var(--color-neutral-5);
  font-weight: 700;
  margin-right: 3px;
  font-size: 15px
}
.view-comments-swear-words table td .new-count i,
.view-node-swear-words table td .new-count i {
  font-style: normal;
  display: inline-block;
  margin-right: 2px;
  color: var(--color-neutral-4);
  font-weight: 700
}
.view-comments-swear-words table td .new-count a,
.view-node-swear-words table td .new-count a {
  white-space: nowrap;
  color: #087dfd!important
}
.view-comments-swear-words table .topic-new,
.view-node-swear-words table .topic-new {
  font-weight: 700;
  background-color: #f5b226;
  border-radius: 5px;
  color: var(--color-neutral-0);
  padding: 0 2px;
  width: 38px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: .4px;
  text-align: center
}
.view-comments-swear-words table .banana-icon,
.view-node-swear-words table .banana-icon {
  height: auto;
  width: 16px
}
.view-comments-swear-words table .forum-field__text_empty,
.view-node-swear-words table .forum-field__text_empty {
  color: var(--color-neutral-4)
}
.view-comments-swear-words table thead th:nth-child(2),
.view-node-swear-words table thead th:nth-child(2) {
  padding-left: 22px
}
.view-comments-swear-words table tbody td,
.view-comments-swear-words table thead th,
.view-node-swear-words table tbody td,
.view-node-swear-words table thead th {
  text-align: center
}
.view-comments-swear-words table tbody td:first-child,
.view-comments-swear-words table thead th:first-child,
.view-node-swear-words table tbody td:first-child,
.view-node-swear-words table thead th:first-child {
  text-align: left;
  padding-left: 10px
}
.view-comments-swear-words table a,
.view-node-swear-words table a {
  text-decoration: none;
  color: #087dfd!important
}
.view-comments-swear-words table ul,
.view-node-swear-words table ul {
  padding: 0;
  margin: 0
}
.view-comments-swear-words table ul li,
.view-node-swear-words table ul li {
  list-style: none;
  display: block
}
.view-comments-swear-words table.table-sm td,
.view-comments-swear-words table.table-sm th,
.view-node-swear-words table.table-sm td,
.view-node-swear-words table.table-sm th {
  padding: 5px!important
}
.view-comments-swear-words .views-exposed-form .form--inline,
.view-node-swear-words .views-exposed-form .form--inline {
  display: flex
}
.view-comments-swear-words .views-exposed-form .form--inline .form-text,
.view-node-swear-words .views-exposed-form .form--inline .form-text {
  margin-top: 0;
  margin-right: 10px
}
@media (min-width: 992px) {
  .view-comments-swear-words table .topic-new,
  .view-comments-swear-words table td:first-child .counter,
  .view-comments-swear-words table thead a,
  .view-comments-swear-words table thead th,
  .view-node-swear-words table .topic-new,
  .view-node-swear-words table td:first-child .counter,
  .view-node-swear-words table thead a,
  .view-node-swear-words table thead th {
    font-weight: 800
  }
}
@media (min-width: 1200px) {
  .page-reports-node-swear-words .content.full > .container {
    max-width: 90%
  }
}
@media (max-width: 767px) {
  .view-comments-swear-words table thead th,
  .view-node-swear-words table thead th {
    padding: 5px!important
  }
  .view-comments-swear-words table thead th.replies-column,
  .view-node-swear-words table thead th.replies-column {
    max-width: 40px;
    padding: 5px 0!important
  }
  .view-comments-swear-words table thead .comments,
  .view-node-swear-words table thead .comments {
    min-width: 0!important
  }
  .view-comments-swear-words table td,
  .view-node-swear-words table td {
    word-wrap: break-word;
    max-width: 185px;
    padding: 0
  }
  .view-comments-swear-words table td:first-child,
  .view-node-swear-words table td:first-child {
    min-width: 0!important;
    padding: 5px!important
  }
  .view-comments-swear-words table td.title a,
  .view-comments-swear-words table td.views-field-title a,
  .view-comments-swear-words table td.views-field-title-with-tooltip a,
  .view-node-swear-words table td.title a,
  .view-node-swear-words table td.views-field-title a,
  .view-node-swear-words table td.views-field-title-with-tooltip a {
    max-height: 43px;
    overflow: hidden;
    font-size: 13px
  }
  .view-comments-swear-words table td.replies,
  .view-node-swear-words table td.replies {
    min-width: 0!important;
    max-width: 50px
  }
  .view-comments-swear-words table td.text-center,
  .view-node-swear-words table td.text-center {
    text-align: center;
    padding: 5px!important
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  .view-comments-swear-words table td.title a,
  .view-comments-swear-words table td.views-field-title a,
  .view-comments-swear-words table td.views-field-title-with-tooltip a,
  .view-node-swear-words table td.title a,
  .view-node-swear-words table td.views-field-title a,
  .view-node-swear-words table td.views-field-title-with-tooltip a {
    max-width: 180px
  }
}
@media (min-width: 360px) and (max-width: 399px) {
  .view-comments-swear-words table td.title a,
  .view-comments-swear-words table td.views-field-title a,
  .view-comments-swear-words table td.views-field-title-with-tooltip a,
  .view-node-swear-words table td.title a,
  .view-node-swear-words table td.views-field-title a,
  .view-node-swear-words table td.views-field-title-with-tooltip a {
    max-width: 230px
  }
}
@media (min-width: 400px) and (max-width: 430px) {
  .view-comments-swear-words table td.title a,
  .view-comments-swear-words table td.views-field-title a,
  .view-comments-swear-words table td.views-field-title-with-tooltip a,
  .view-node-swear-words table td.title a,
  .view-node-swear-words table td.views-field-title a,
  .view-node-swear-words table td.views-field-title-with-tooltip a {
    max-width: 250px
  }
}
@media (min-width: 431px) and (max-width: 767px) {
  .view-comments-swear-words table td.title a,
  .view-comments-swear-words table td.views-field-title a,
  .view-comments-swear-words table td.views-field-title-with-tooltip a,
  .view-node-swear-words table td.title a,
  .view-node-swear-words table td.views-field-title a,
  .view-node-swear-words table td.views-field-title-with-tooltip a {
    max-width: 290px
  }
}
/*# sourceMappingURL=swear-words.component.css.map */
