@import "./components/common-styles/helpers/colors";
//@import "./components/common-styles/helpers/mixins";

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  margin-top: 0.25rem;

  .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;

    .select2-selection__rendered {
      display: block;
      overflow: hidden;
      padding-left: 8px;
      padding-right: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &[title] {
        padding-right: 0;

        & + .select2-selection__arrow {
          display: none;
        }
      }
    }

    .select2-selection__clear {
      position: relative;
    }
  }

  .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;

    .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .select2-search--inline {
    float: left;

    .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0;
      background: var(--color-neutral-0);
      color: var(--color-base);

      &:-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }
}

select[data-allow-clear="false"] + .select2-container .select2-selection--single .select2-selection__rendered[title] + .select2-selection__arrow {
  display: block;
}

.select2-container[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__rendered {
      padding-left: 20px;
      padding-right: 8px;
    }
  }
}

.select2-dropdown {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-6);
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  left: -100000px;
  position: absolute;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 8px $side-gap;
  border-bottom: $input-border-color 1px solid;

  .select2-results__options--nested & {
    padding: 8px $side-gap 8px 30px;
  }

  &[aria-disabled="true"] {
    background: var(--color-page-bg);
    cursor: default;
    color: var(--color-neutral-6);
  }

  &:last-child {
    border-bottom: 0;
  }

  &:empty {
    display: none !important;
  }
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open {
  .select2-dropdown {
    left: 0;
  }

  .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.select2-search--dropdown {
  display: block;
  padding: 4px;

  .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;

    &:-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &.select2-search--hide {
    display: none;
  }
}

.select2-close-mask {
  background-color: var(--color-neutral-0);
  border: 0;
  display: block;
  filter: alpha(opacity=0);
  height: auto;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: auto;
  z-index: 99;
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.select2-container--default {
  .select2-selection--single {
    background-color: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-6);
    border-radius: 4px;

    .select2-selection__rendered {
      color: var(--color-base);
      line-height: 28px;
    }

    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-weight: 800;
    }

    .select2-selection__placeholder {
      color: var(--color-neutral-6);
    }

    .select2-selection__arrow {
      height: 26px;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 20px;

      b {
        border-color: var(--color-neutral-7) transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
      }
    }
  }

  &.select2-container--disabled {
    .select2-selection--single {
      background-color: $input-border-color;
      cursor: default;

      .select2-selection__clear {
        display: none;
      }
    }

    .select2-selection--multiple {
      background-color: $input-border-color;
      cursor: default;
    }

    .select2-selection__choice__remove {
      display: none;
    }
  }

  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          border-color: transparent transparent var(--color-neutral-7) transparent;
          border-width: 0 4px 5px 4px;
        }
      }
    }

    &.select2-container--above {
      .select2-selection--single {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .select2-selection--multiple {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.select2-container--below {
      .select2-selection--single {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .select2-selection--multiple {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .select2-selection--multiple {
    background-color: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-6);
    border-radius: 4px;
    cursor: text;

    .select2-selection__rendered {
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0 5px;
      width: 100%;

      li {
        list-style: none;
      }
    }

    .select2-selection__placeholder {
      color: var(--color-neutral-6);
      float: left;
      margin-top: 5px;
    }

    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-weight: 800;
      margin-right: 10px;
      margin-top: 5px;
    }

    .select2-selection__choice {
      background-color: var(--color-neutral-4);
      border: 1px solid var(--color-neutral-6);
      border-radius: 4px;
      cursor: default;
      float: left;
      margin-right: 5px;
      margin-top: 5px;
      padding: 0 5px;
    }

    .select2-selection__choice__remove {
      color: var(--color-neutral-6);
      cursor: pointer;
      display: inline-block;
      font-weight: 800;
      margin-right: 2px;

      &:hover {
        color: var(--color-base);
      }
    }
  }

  &.select2-container--focus {
    .select2-selection--multiple {
      border: solid black 1px;
      outline: 0;
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid var(--color-neutral-6);
    }
  }

  .select2-search--inline {
    .select2-search__field {
      -webkit-appearance: textfield;
      background: transparent;
      border: none;
      box-shadow: none;
      outline: 0;
    }
  }

  .select2-results {
    >.select2-results__options {
      max-height: 200px;
      overflow-y: auto;
    }
  }

  .select2-results__option[role=group] {
    padding: 0;
  }

  .select2-results__option[aria-disabled=true] {
    color: var(--color-neutral-6);
  }

  .select2-results__option[aria-selected=true] {
    background-color: var(--color-neutral-4);
  }

  .select2-results__option {
    .select2-results__option {
      padding-left: 1em;

      .select2-results__group {
        padding-left: 0;
      }

      .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;

        .select2-results__option {
          margin-left: -2em;
          padding-left: 3em;

          .select2-results__option {
            margin-left: -3em;
            padding-left: 4em;

            .select2-results__option {
              margin-left: -4em;
              padding-left: 5em;

              .select2-results__option {
                margin-left: -5em;
                padding-left: 6em;
              }
            }
          }
        }
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $cornflowerblue_5897fb;
    color: var(--color-neutral-0);
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }
}

.select2-container--default[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }

  .select2-selection--multiple {
    .select2-selection__choice {
      float: right;
      margin-left: 5px;
      margin-right: auto;
    }

    .select2-selection__placeholder {
      float: right;
    }

    .select2-search--inline {
      float: right;
    }

    .select2-selection__choice__remove {
      margin-left: 2px;
      margin-right: auto;
    }
  }
}

.select2-container--classic {
  .select2-selection--single {
    background-color: var(--color-neutral-2);
    border: 1px solid var(--color-neutral-6);
    border-radius: 4px;
    outline: 0;
    background-image: linear-gradient(to bottom, white 50%, $input-border-color 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFEEEEEE', GradientType=0);

    &:focus {
      border: 1px solid $cornflowerblue_5897fb;
    }

    .select2-selection__rendered {
      color: var(--color-base);
      line-height: 28px;
    }

    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-weight: 800;
      margin-right: 10px;
    }

    .select2-selection__placeholder {
      color: var(--color-neutral-6);
    }

    .select2-selection__arrow {
      background-color: var(--color-neutral-4);
      border: none;
      border-left: 1px solid var(--color-neutral-6);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      height: 26px;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 20px;
      background-image: linear-gradient(to bottom, $input-border-color 50%, #cccccc 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);

      b {
        border-color: var(--color-neutral-7) transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
      }
    }
  }

  &.select2-container--open {
    .select2-selection--single {
      border: 1px solid $cornflowerblue_5897fb;

      .select2-selection__arrow {
        background: transparent;
        border: none;

        b {
          border-color: transparent transparent var(--color-neutral-7) transparent;
          border-width: 0 4px 5px 4px;
        }
      }
    }

    &.select2-container--above {
      .select2-selection--single {
        background-image: linear-gradient(to bottom, white 0%, $input-border-color 50%);
        background-repeat: repeat-x;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
      }

      .select2-selection--multiple {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.select2-container--below {
      .select2-selection--single {
        background-image: linear-gradient(to bottom, $input-border-color 50%, white 100%);
        background-repeat: repeat-x;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
      }

      .select2-selection--multiple {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .select2-selection--multiple {
      border: 1px solid $cornflowerblue_5897fb;
    }

    .select2-dropdown {
      border-color: $cornflowerblue_5897fb;
    }
  }

  .select2-selection--multiple {
    background-color:var(--color-neutral-0);
    border: 1px solid var(--color-neutral-6);
    border-radius: 4px;
    cursor: text;
    outline: 0;

    &:focus {
      border: 1px solid $cornflowerblue_5897fb;
    }

    .select2-selection__rendered {
      list-style: none;
      margin: 0;
      padding: 0 5px;
    }

    .select2-selection__clear {
      display: none;
    }

    .select2-selection__choice {
      background-color: var(--color-neutral-4);
      border: 1px solid var(--color-neutral-6);
      border-radius: 4px;
      cursor: default;
      float: left;
      margin-right: 5px;
      margin-top: 5px;
      padding: 0 5px;
    }

    .select2-selection__choice__remove {
      color: var(--color-neutral-7);
      cursor: pointer;
      display: inline-block;
      font-weight: 800;
      margin-right: 2px;

      &:hover {
        color: var(--color-base);
      }
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid var(--color-neutral-6);
      outline: 0;
    }
  }

  .select2-search--inline {
    .select2-search__field {
      box-shadow: none;
      outline: 0;
    }
  }

  .select2-dropdown {
    background-color: var(--color-neutral-0);
    border: 1px solid transparent;
  }

  .select2-dropdown--above {
    border-bottom: none;
  }

  .select2-dropdown--below {
    border-top: none;
  }

  .select2-results {
    >.select2-results__options {
      max-height: 200px;
      overflow-y: auto;
    }
  }

  .select2-results__option[role=group] {
    padding: 0;
  }

  .select2-results__option[aria-disabled=true] {
    color: grey;
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $dodgerblue_3875d7;
    color: var(--color-neutral-0);
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }
}

.select2-container--classic[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      border: none;
      border-bottom-left-radius: 4px;
      border-radius: 0;
      border-right: 1px solid var(--color-neutral-6);
      border-top-left-radius: 4px;
      left: 1px;
      right: auto;
    }
  }

  .select2-selection--multiple {
    .select2-selection__choice {
      float: right;
      margin-left: 5px;
      margin-right: auto;
    }

    .select2-selection__choice__remove {
      margin-left: 2px;
      margin-right: auto;
    }
  }
}

.select2-container--open {
  z-index: 2000;
}
