@import "./components/common-styles/helpers/colors";
//@import "./components/common-styles/helpers/mixins";

.select2-container--bootstrap4 {
  .select2-selection--multiple {

    // height of input box
    min-height: $input-height !important;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 0;
      height: 0;
      transform: translateY(-50%);
      right: 16px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid var(--color-neutral-7);

      @at-root .select2-container--bootstrap4.select2-container--open .select2-selection--multiple &:after {
        border-top-color: $color-green-100;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    // input box
    .select2-selection__rendered {
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0 5px;
      width: 100%;
    }

    // each selected item in input box
    .select2-selection__choice {
      color: var(--color-base);
      border: 0;
      background: var(--color-neutral-2);
      border-radius: $btn-border-radius-sm;
      padding: 0;
      padding-left: 5px;
      cursor: pointer;
      float: left;
      margin-top: 0.3em;
      margin-right: 5px;
    }

    // x button of each selected item in input box
    .select2-selection__choice__remove {
      color: darken($light, 50%);
      font-weight: 800;
      margin-left: 3px;
      margin-right: 1px;
      padding-right: 3px;
      padding-left: 3px;
      float: right;

      &:hover {
        color: var(--color-base);
      }
    }
  }
}
