.select2-container--bootstrap4 {
  .select2-selection--single {

    min-height: $input-height !important;

    // placeholder
    .select2-selection__placeholder {
      // #757575 is same color of placeholder (on Chrome)
      color: var(--color-neutral-7);
      line-height: $input-height-inner;
    }

    // arrow
    .select2-selection__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      min-width: 16px;
      width: 16px;
      height: 16px;
      margin-left: 20px;

      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border: solid 1px var(--color-neutral-3);
        background-color: var(--color-neutral-3);
      }

      &:after {
        font-family: 'fa-custom';
        content: '\e808';
        font-size: 9px;
        color: var(--color-neutral-7);
        display: inline-block;
        transform: rotate(-90deg);
        position: absolute;
        top: -2px;
        left: 5px;
      }

      b {
        display: none;
      }
    }

    // selected item
    .select2-selection__rendered {
      line-height: $input-height-inner;
    }
  }

  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        &:after {
          transform: rotate(90deg);
          top: -3px;
          left: 4px;
        }
      }
    }
  }
}

// search box
.select2-search--dropdown .select2-search__field {
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  background: var(--color-neutral-0);
  color: var(--color-base);

  .darkmode & {
    background: var(--color-neutral-2);
  }
}

// no result message
.select2-results__message {
  color: $secondary;
}
