.file-icon {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 34px;
  margin-right: 16px
}
.file-icon:after {
  content: "";
  position: absolute;
  height: 40px;
  width: 34px;
  background: url(/themes/custom/porto_sub/images/icons/doc.png) 0 0/cover no-repeat
}
.file-pdf:after {
  background: url(/themes/custom/porto_sub/images/icons/pdf.png) 0 0/cover no-repeat
}
.file-zip:after {
  background: url(/themes/custom/porto_sub/images/icons/zip.png) 0 0/cover no-repeat
}
.file-doc:after {
  background: url(/themes/custom/porto_sub/images/icons/doc.png) 0 0/cover no-repeat
}
.file-ppt:after {
  background: url(/themes/custom/porto_sub/images/icons/ppt.png) 0 0/cover no-repeat
}
.file-xls:after {
  background: url(/themes/custom/porto_sub/images/icons/xls.png) 0 0/cover no-repeat
}
.file-mp4:after {
  background: url(/themes/custom/porto_sub/images/icons/mp4.png) 0 0/cover no-repeat
}
.file-img:after {
  background: url(/themes/custom/porto_sub/images/icons/img.png) 0 0/cover no-repeat
}
.file-link a {
  display: inline-block;
  align-self: center;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: .1px;
  color: var(--color-base);
  word-break: break-all
}
.file {
  display: inline-flex;
  min-height: 40px
}
.image-widget .file {
  display: none
}
.block__bundle__historical_returns_section .block__title {
  font-weight: 900;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 20px!important;
  color: #0a4059;
  line-height: 42px
}
.darkmode .block__bundle__historical_returns_section .block__title {
  color: #5cd0ff
}
.block__bundle__historical_returns_section .field-name-field-block-subtitle {
  font-weight: 400;
  margin: 0 0 14px;
  font-size: 1em;
  line-height: 18px;
  color: var(--color-base);
  letter-spacing: .5px
}
.block__bundle__historical_returns_section .field-name-field-block-label {
  font-style: italic;
  margin-top: 20px
}
.block__bundle__historical_returns_section a.d-inline-block {
  text-decoration: none
}
.block__bundle__historical_returns_section a.d-inline-block .icon {
  color: var(--color-neutral-5);
  opacity: 0
}
.block__bundle__historical_returns_section a.d-inline-block:hover .icon {
  opacity: 1
}
.block__bundle__historical_returns_section .file-icon {
  margin-left: 10px;
  margin-right: 0;
  height: 37px
}
.block__bundle__historical_returns_section .file-icon:after {
  height: 37px;
  background-size: contain;
  top: 3px;
  left: 0;
  display: inline-block
}
/*# sourceMappingURL=historical-returns-section.component.css.map */
