@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';
@import "./components/03-organisms/file-icons/file-icons";

.block__bundle__historical_returns_section {
  .block__title {
    font-weight: 900;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 20px !important;
    color: $darkslateblue_0A4059;
    line-height: 42px;

    .darkmode & {
      color: $lightskyblue_5cd0ff;
    }
  }

  .field-name-field-block-subtitle {
    font-weight: 400;
    margin: 0 0 14px 0;
    font-size: 1em;
    line-height: 18px;
    color: var(--color-base);
    letter-spacing: .5px;
  }

  .field-name-field-block-label {
    font-style: italic;
    margin-top: 20px;
  }

  a.d-inline-block {
    text-decoration: none;

    .icon {
      color: var(--color-neutral-5);
      opacity: 0;
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }
  }

  .file-icon {
    margin-left: 10px;
    margin-right: 0;
    height: 37px;

    &:after {
      height: 37px;
      background-size: contain;
      top: 3px;
      left: 0;
      display: inline-block;
    }
  }
}
