//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.field-name-body .field-item {
  padding: 0 !important;
}

.main_menu-nav .list-inline > li.active {
  padding: 16.5px 0;
}

body.talent-oasis--user-has-resume .content .field-name-body section {
  display: none;
}

body.talent-oasis--user-has-resume .content .field-name-body section.cover-block {
  display:block !important;
}

body.talent-oasis--user-has-resume .content .field-name-body section.cover-block {
  display:block !important;
}

body.talent-oasis--user-has-resume .content .field-name-body section.job-board {
  display:block !important;
}

body.talent-oasis--user-has-resume .btn-create-profile,
body.talent-oasis--user-no-resume .btn-update-profile,
body.talent-oasis--anon .btn-update-profile {
  display:none !important;
  visibility:hidden !important;
}

.btn.btn-lines.mono, .btn.btn-secondary.mono {
  border-color: #e0e0e0;
  color: #4f4f4f !important;
}

.btn.btn-lines.mono:hover, .btn.btn-secondary.mono:hover {
  color: #909090 !important;
}

.node-type-landing-page {
  header {
    box-shadow: none !important;
  }
}

body {
  padding-top: 0 !important;
  background-color: var(--color-neutral-0);
  font-family: "Lato", sans-serif;
  color: var(--color-base);

  &.sticky-menu-active {
    header {
      .logo {
        margin: 10px 0 0 !important;
      }
    }
    padding-top: 0 !important;
  }
}

.page-node-type-landing-page .field-name-body {
  margin: 180px 0 0 0 !important;
}

h3 {
  margin-top: 20px;
}

a {
  &.btn {
    &.btn-primary {
      background-image: none;
      text-shadow: none;
      width: 240px;
      height: 52px;
      border-radius: 26px !important;
      background-color: $color-blue;
      font-family: "Lato", sans-serif;
      font-size: 14px !important;
      @include responsive-prop(700, 800, 'font-weight');
      font-style: normal;
      font-stretch: normal;
      line-height: 35px;
      letter-spacing: .1px;
      text-align: center;
      color: var(--color-neutral-0);
      border-color: transparent;

      &.square {
        @include responsive-prop(700, 800, font-weight);
        background-color: rgba(43, 157, 223, .1);
        border: transparent;
        border-radius: 3px !important;
        color: $color-blue;
        font-size: 14px;
        height: 48px;
        letter-spacing: .6px;
        line-height: 1.14;
        width: 160px;
      }

      &.green {
        background-color: $color-green-100;
        color: var(--color-neutral-0);
      }
      box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05);
      margin: 0 12px;

      &.find-button {
        background-color: var(--color-neutral-0);
        color: $color-blue;
      }
    }
  }
}

section {
  &.cover-block {
    &.container {
      margin-top: 10vh;
      text-align: center;
      margin-bottom: 113px;

      h1 {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 48px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .1px;
        line-height: 1.17;
        margin-bottom: 16px;
        text-align: center;
      }

      h4 {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 48px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .1px;
        line-height: 1.17;
        margin-bottom: 16px;
        text-align: center;
      }

      h3 {
        color: var(--color-neutral-7);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .1px;
        line-height: 28px;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
        text-transform: unset;
        width: 580px;
      }
    }
  }

  &.candidates-hero {
    background-image: url("/modules/custom/talent_oasis/images/candidatesbluespot.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;

    img {
      &.candidates-banner {
        height: 700px;
        margin-top: 60px;
        width: 90%;
      }
    }
  }

  &.steps-container {
    h3 {
      color: var(--color-base);
      font-size: 36px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .2px;
      line-height: 1.39;
      margin-bottom: 16px;
      width: 494px;
      margin-top: 0;
    }

    p {
      color: var(--color-base);
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .2px;
      line-height: 1.67;
      margin-bottom: 48px;
    }

    .learn-more {
      @include responsive-prop(700, 800, font-weight);
      background-color: rgba(43, 157, 223, .1);
      border: transparent;
      border-radius: 3px !important;
      color: $color-blue;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      height: 48px;
      letter-spacing: .6px;
      line-height: 35px;
      margin: 0 !important;
      width: 160px;
    }

    .step-assets {
      > img {
        display: block;
        margin: auto;
        width: 80%;
      }
    }

    &.container-fluid {
      &.second-section {
        .step-line {
          text-align: center;
          margin-bottom: 40px;

          .step {
            @include responsive-prop(700, 800, font-weight);
            background-color: rgba(79, 79, 79, .05);
            border-radius: 24px;
            color: var(--color-neutral-6);
            font-size: 14px;
            font-stretch: normal;
            font-style: normal;
            height: 48px;
            letter-spacing: .6px;
            line-height: 45px;
            margin: 0 auto;
            text-align: center;
            width: 120px;

            .darkmode & {
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
        }

        .second-step-block {
          margin: 24px -15px;

          .copy {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 47px;

            p {
              width: 494px;
            }
            height: 420px;
            font-weight: normal;
          }

          .step-assets {
            &:nth-child(even) {
              border-right: dashed 1px var(--color-neutral-4);
            }

            &:nth-child(odd) {
              border-left: dashed 1px var(--color-neutral-4);
            }
          }
        }

        .learn-more {
          width: 198px;
        }
      }
    }

    &.funnel {
      .container {
        padding: 0;

        .looking-container {
          padding: 0;
        }
      }

      .funnel-img-container {
        padding-left: 48px;
        padding-right: 0;
        top: 55%;
        transform: translateY(-50%);
        position: absolute;
        left: auto;
        right: 0;
      }
    }

    .funnel-container {
      p {
        margin: 0;
      }
    }

    .funnel-description {
      float: left;
      border: 1px solid $color-blue;
      position: absolute;
      display: inline-block;
      z-index: 9;
      top: 50%;
      transform: translateY(-50%);

      p {
        font-family: "Lato", sans-serif;
        font-size: 10px;
        @include responsive-prop(700, 800, 'font-weight');
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: .1px;
        color: $color-blue;
        padding: 5px 12px;
        margin: 0;
        display: inline-block;
        background: var(--color-neutral-0);

        &:after {
          background-color: $color-blue;
          content: "";
          height: 1px;
          position: absolute;
          right: -21px;
          width: 21px;
        }
      }
    }

    .funnel-percentage {
      float: left;
      padding-bottom: 15px;
      position: relative;

      .funnel-content {
        float: left;
        padding: 6px 0;
      }

      p {
        color: var(--color-neutral-0);
        font-size: 14px;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .1px;
        text-align: center;
      }

      .funnel-skew-left {
        background-color: $color-blue;
        display: inline-block;
        float: left;
        left: 16px;
        padding: 32px 16px;
        position: relative;
        transform: skewX(27deg);
        z-index: -1;
      }

      .funnel-skew-right {
        background-color: $color-blue;
        display: inline-block;
        float: left;
        padding: 32px 16px;
        position: relative;
        right: 16px;
        transform: skewX(-27deg);
        z-index: -1;
      }
    }

    .funnel-part {
      display: inline-block;
      position: relative;
      width: 100%;
    }

    .funnel-part-1 {
      .funnel-content {
        background-color: $lightblue_BFE1F5;
        width: 390px;
      }

      .funnel-percentage {
        left: 150px;
      }

      .funnel-description {
        left: 0;
      }

      .funnel-skew-left {
        background-color: rgba(43, 157, 223, .3);
      }

      .funnel-skew-right {
        background-color: rgba(43, 157, 223, .3);
      }
    }

    .funnel-part-2 {
      .funnel-content {
        background-color: $skyblue_95CEEF;
        width: 315px;
      }

      .funnel-percentage {
        left: 190px;
      }

      .funnel-description {
        left: 40px;
      }

      .funnel-skew-left {
        background-color: rgba(43, 157, 223, .5);
      }

      .funnel-skew-right {
        background-color: rgba(43, 157, 223, .5);
      }
    }

    .funnel-part-3 {
      .funnel-content {
        background-color: $lightskyblue_80C4EC;
        width: 238px;
      }

      .funnel-percentage {
        left: 230px;
      }

      .funnel-description {
        left: 84px;
      }

      .funnel-skew-left {
        background-color: rgba(43, 157, 223, .6);
      }

      .funnel-skew-right {
        background-color: rgba(43, 157, 223, .6);
      }
    }

    .funnel-part-4 {
      .funnel-content {
        background-color: $color-blue;
        width: 155px;
      }

      .funnel-percentage {
        left: 272px;
      }

      .funnel-description {
        left: 123px;
      }

      .funnel-skew-left {
        background-color: rgba(43, 157, 223, .8);
      }

      .funnel-skew-right {
        background-color: rgba(43, 157, 223, .8);
      }
    }

    .funnel-part-5 {
      .funnel-content {
        background-color: $color-blue;
        width: 125px;
      }

      .funnel-percentage {
        left: 288px;
      }

      .funnel-description {
        left: 138px;
      }

      .funnel-skew-left {
        background-color: rgba(43, 157, 223, .9);
        left: 40px;
      }

      .funnel-skew-right {
        background-color: rgba(43, 157, 223, .9);
        right: 40px;
      }
    }

    .second-step-block {
      .afj-specific-img {
        img {
          margin: 0;
          object-fit: none;
          object-position: 70% 50%;
          width: 100%;
          zoom: .6;
        }
      }
    }
  }

  &.how-it-works {
    text-align: center;
    padding: 63px 0;

    h1 {
      font-size: 36px;
      letter-spacing: .2px;
      line-height: 1.39;
      margin-bottom: 16px;
    }

    h4 {
      font-size: 36px;
      letter-spacing: .2px;
      line-height: 1.39;
      margin-bottom: 16px;
    }

    &.comissions {
      p {
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 90px;
        letter-spacing: .2px;
        line-height: 1.67;
        margin-bottom: 48px;
        text-align: center;
        width: 800px;
        max-width: 100%;
        padding: 0 15px;
      }

      .hiw-block {
        .learn-more {
          @include responsive-prop(700, 800, font-weight);
          background-color: rgba(43, 157, 223, .1);
          border: transparent;
          border-radius: 3px !important;
          color: $color-blue;
          font-size: 14px;
          height: 48px;
          letter-spacing: .6px;
          line-height: 35px;
          width: 160px;
        }
      }
    }

    p {
      font-size: 18px;
      letter-spacing: .2px;
      line-height: 1.56;
      margin: 0 auto;
      margin-bottom: 48px;
      width: 480px;
    }
    position: relative;

    .hiw-block {
      position: relative;
    }
  }

  &.container-fluid {
    &.promo-footer {
      &.candidates {
        background-image: unset;
        margin-bottom: 40px;
      }
      height: 460px;
      position: relative;
      margin: 0;
      padding: 0;
      background-image: url(/modules/custom/talent_oasis/images/bluetinyspot.png);
      background-repeat: no-repeat;
      background-position-x: 250px;

      .promo-container {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          margin-bottom: 17px;
        }

        h4 {
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          margin-bottom: 17px;
        }

        p {
          font-size: 18px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.56;
          margin: 0 auto;
          margin-bottom: 48px;
          width: 480px;
        }
      }
    }

    .col-xs-6 {
      width: 50%;
    }

    &.looking-section {
      height: 600px;
      position: relative;
      margin-bottom: 100px;

      &.blue {
        background-color: var(--color-neutral-1);
        padding: 50px 0;
      }

      &.funnel {
        .col-xs-24 {
          @include media('>=desktop', '<1200px') {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }

        .container {
          position: relative;
        }
      }

      .container {
        height: 100%;

        .looking-container {
          height: 100%;
          position: relative;

          .looking-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 15px;

            h1 {
              color: var(--color-base);
              font-size: 36px;
              letter-spacing: .2px;
              line-height: 1.39;
            }

            h4 {
              color: var(--color-base);
              font-size: 36px;
              letter-spacing: .2px;
              line-height: 1.39;
            }

            p {
              color: var(--color-base);
              font-size: 18px;
              letter-spacing: .2px;
              line-height: 1.67;
              margin-bottom: 48px;
            }
          }
        }
      }

      .img-container {
        height: inherit;
        position: unset;
        right: 0;

        img {
          height: 82%;
          position: absolute;
          right: 0;
        }

        &.free-image-container {
          img {
            height: 280px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        &.h-360 {
          img {
            height: 360px;
            right: auto;
          }
        }

        &.h-278 {
          position: relative;

          img {
            &.center-abs-tr-y {
              height: 278px;
              right: 50%;
              transform: translate(50%, -50%);
            }
          }
        }
      }
    }
  }

  &.clients-front {
    height: 100px;
    background-color: var(--color-neutral-2);
    text-align: center;
    overflow: hidden;

    img {
      display: inline-block;
      margin: 32px 10px;
    }
  }

  &.wso-special-row {
    text-align: center;
    margin: 120px 0;
    background-image: url(/modules/custom/talent_oasis/images/bigbluespot.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 45% 95%;

    .intro-text {
      letter-spacing: .2px;

      h2 {
        color: var(--color-base);
        font-size: 36px;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.39;
        margin-bottom: 8px;
        margin-top: 24px;
      }

      p {
        color: var(--color-base);
        font-size: 18px;
        letter-spacing: .2px;
        line-height: 1.67;
      }
    }

    .cards {
      margin-top: 48px;

      @include media('>=desktop') {
        display: flex;
      }

      .card-container {
        margin: 5px 10px;
        width: 31%;
        display: inline-flex;
        height: 440px;
        border-radius: 10px;
        background-color: $color-neutral-0;
        box-shadow: 0 20px 48px 0 rgba(var(--color-black--rgb), .05);
        position: relative;
        padding: 0 48px;

        .darkmode & {
          background-color: $color-black;
        }

        .card-block {
          height: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          text-align: left;
          padding-right: 48px;

          .circle {
            border-radius: 5px;
            height: 64px;
            width: 64px;
          }

          h3 {
            color: var(--color-base);
            font-size: 22px;
            font-stretch: normal;
            font-style: normal;
            font-weight: 800;
            letter-spacing: .2px;
            line-height: 1.18;
            margin-bottom: 14px;
            padding-top: 0;
          }

          img {
            .darkmode & {
              filter: invert(1);
            }
          }

          p {
            font-size: 16px;
          }
        }

        .learn-more {
          bottom: 64px;
          color: $color-blue;
          font-size: 16px;
          font-stretch: normal;
          font-style: normal;
          @include responsive-prop(700, 800, 'font-weight');
          letter-spacing: .4px;
          line-height: 1.13;
          position: absolute;

          @include media('>=desktop', '<1200px') {
            bottom: 34px;
          }
        }
      }
    }
  }

  &.roles {
    background-image: url(/modules/custom/talent_oasis/images/greenspot.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 110px;
    background-size: 36% 66%;
    margin-bottom: 95px;

    .container {
      &.roles-container {
        position: relative;
        height: 800px;

        .roles-block {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .logo-container {
      float: left;
      width: 204px;
      height: 244px;
      border-radius: 10px;
      background-color: var(--color-neutral-0);
      box-shadow: 20px 20px 48px 0 rgba(0, 0, 0, .05);
      position: relative;
      margin-bottom: 15px;

      &:nth-child(3n+2) {
        margin: 0 15px;
        margin-top: -65px;
      }

      .logo-block {
        position: absolute;
        width: 100%;
        padding: 20px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          color: var(--color-base);
          font-family: Montserrat;
          font-size: 24px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          letter-spacing: .4px;
          line-height: 1.17;
          margin-bottom: 12px;
          text-align: center;
        }

        h4 {
          color: var(--color-base);
          font-family: Montserrat;
          font-size: 24px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          letter-spacing: .4px;
          line-height: 1.17;
          margin-bottom: 12px;
          text-align: center;
        }

        p {
          color: var(--color-neutral-7);
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          @include responsive-prop(700, 800, 'font-weight');
          letter-spacing: .8px;
          line-height: 1.07;
          text-align: center;
        }

        img {
          padding-top: 16px;
        }
      }
    }

    .col-xs-5 {
      &.logos-copy {
        h1 {
          color: var(--color-base);
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          width: 440px;
        }

        h4 {
          color: var(--color-base);
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          width: 440px;
        }

        p {
          color: var(--color-base);
          font-size: 18px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.67;
        }

        .learn-more {
          @include responsive-prop(700, 800, font-weight);
          background-color: var(--color-neutral-0);
          border: transparent;
          border-radius: 3px;
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
          color: $color-green-100;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          height: 48px;
          letter-spacing: .6px;
          line-height: 1.14;
          margin: 48px 0;
          width: 137px;
        }

        .logos-box {
          img {
            margin: 12px;
          }
        }
      }
    }
  }

  &.job-board {
    .col-md-19 {
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }

    .view-footer {
      display: none;
    }

    .view-jobs {
      border: 1px solid var(--color-neutral-4);
      background-color: var(--color-neutral-1);
      margin-bottom: 24px;
      padding: 8px 24px 16px;

      .darkmode & {
        background-color: var(--color-neutral-2);
      }

      .views-exposed-widgets {
        margin-bottom: 20px;
        width: 100%;
      }

      .views-exposed-form {
        .form--inline {
          display: flex;
          flex-wrap: wrap;

          input {
            width: 100%;
          }

          label {
            text-align: left;
          }
        }

        .form-item,
        .form-actions {
          padding: .8em .5% 0 .5%;
          width: 100%;

          @include media('>=tablet') {
            width: 33%;
          }
        }

        input[type="submit"] {
          margin-top: 26px;
          border: none;
          background-color: $color-green-100;
          color: var(--color-neutral-0);

          &:hover {
            background-color: $color-green-100;
            border: none;
            box-shadow: none;
          }
        }
      }

      table {
        @include wso-table-left();
      }

      .form-item-distance-postal-code {
        display: inline-block;
      }

      .form-item-distance-search-distance {
        display: inline-block;
      }
    }
  }

  &.foot-steps {
    .block-jb-description {
      p {
        color: var(--color-base);
        font-size: 18px;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.67;
        margin-bottom: 10px;
        text-align: right;
      }
    }
  }

  &.head-steps {
    &.foot-steps {
      border: none;
    }
  }
}

.circle {
  width: 78px;
  height: 78px;
  border-radius: 40.5px;
  background-color: rgba(43, 157, 223, .1);
  display: inline-block;
  position: relative;
  text-align: left;

  > .square {
    background-color: $color-blue;
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    margin: 30px;
    position: absolute;
    width: 20px;
  }

  img {
    margin: 16px 19px;
  }

  .icon-check {
    object-fit: contain;
    width: 18px;
  }
}

.small-circle {
  border-radius: 24px;
  width: 48px;
  height: 48px;

  > img {
    margin: 17px 16px !important;
  }
}

.circle-row {
  margin: 24px 0;
  text-align: center;
  width: 100%;
}

.step-block {
  &.row {
    padding: 100px 0;

    &:nth-child(even) {
      background-color: var(--color-neutral-1);
    }
  }
}

.field-name-body {
  .field-item {
    margin-bottom: 0;
    padding: 0;
  }
}

ul {
  &.inline {
    display: none;
  }

  &.links {
    &.inline {
      display: none;
    }
  }
}

html {
  font-family: "Lato", sans-serif;
  color: var(--color-base);

  body {
    &.admin-menu {
      margin-top: 0 !important;
    }
  }
}

header {
  &.main-page {
    height: 82vh;
    position: relative;
    z-index: 3;

    section {
      &.cover-block {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.header-bg {
  width: 100%;
  height: 82vh;
  background-image: url("/modules/custom/talent_oasis/images/headerbg.jpg");
  background-size: cover;
  top: 0;
  position: absolute;

  &.comissions-bg {
    background-image: url(https://trello-attachments.s3.amazonaws.com/546ba8dff94340fcac33de05/5b344ca0390e4420a3669a2a/bfa582f0aee5369ec64ddf18905d0270/no_comission.png);
    height: 100%;
  }
}

.opacity-bg {
  background-color: var(--color-neutral-0);
  height: inherit;
  opacity: .8;
  width: inherit;
  z-index: 2;
}

.green-bg {
  background-color: rgba(121, 186, 90, .1) !important;
  color: $color-green-100 !important;
}

.green-color {
  background-color: $color-green-100 !important;
  color: $color-green-100 !important;
}

.logo {
  display: inline-block;
  margin-top: 10px;
  width: 150px;
}

.header__logo-img {
  width: 100%;
}

.main_menu-nav {
  .list-inline {
    > li {
      border-top: 3.5px solid transparent;
      margin: 0 13px;
      padding: 20px 0;

      &.active {
        border-top: 3.5px solid $color-blue;
      }
    }

    li {
      > a {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        @include responsive-prop(700, 800, 'font-weight');
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: .2px;
        text-align: center;
        color: var(--color-base);

        &:focus {
          text-decoration: none;
        }
      }

      &.active {
        > a {
          color: $color-blue;
        }

        > span {
          color: $color-blue;
        }
      }

      a {
        &:hover {
          color: var(--color-neutral-7);
          text-decoration: none;
          text-shadow: none;
        }
      }

      > span {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .2px;
        line-height: 1.13;
        text-align: center;
      }
    }

    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  a {
    &.btn {
      &.btn-primary {
        line-height: 1.7;
      }
    }
  }
}

.demo-image {
  img {
    width: 100%;
  }
}

.center-abs-tr-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.blue {
  border: none;

  &:hover {
    border: none;
  }
}

#admin-menu {
  display: none;
}

.looking-content {
  .learn-more {
    border-radius: 3px !important;
    font-size: 14px;
    @include responsive-prop(700, 800, 'font-weight');
    line-height: 16px;
    letter-spacing: .6px;
    border: transparent;
    font-style: normal;
    font-stretch: normal;
    text-shadow: none;
    box-shadow: none;
    padding: 16px 32px;
    text-align: center;
    text-transform: uppercase;
    transition: none;

    &.c-blue {
      background-color: rgba(43, 157, 223, .1);
      color: $color-blue;

      &:hover {
        background-color: rgba(43, 157, 223, .05);
        color: $color-blue;
      }
    }

    &.c-green {
      background-color: rgba(121, 186, 90, .1);
      color: $color-green-100;

      &:hover {
        background-color: rgba(121, 186, 90, .05);
        color: $color-green-100;
      }
    }

    &:hover {
      text-decoration: none;
    }
    display: inline-block;
  }
}

.btn-fill {
  border-radius: 100px;
  padding: 17px 40px;
  font-size: 16px;
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 18px;
  letter-spacing: .1px;
  border: transparent;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  transition: none;
  background-image: none;
  color: var(--color-neutral-0);

  &.c-blue {
    background-color: $color-blue;

    &:hover {
      background-color: $steelblue_268cc8;
      color: var(--color-neutral-0);
    }
  }

  &.c-green {
    background-color: $color-green-100;

    &:hover {
      background-color: $color-green-100;
      color: var(--color-neutral-0);
    }
  }

  &.c-white {
    background-color: var(--color-neutral-0);
    color: $color-blue;

    &:hover {
      background-color: var(--color-neutral-0);
      color: $steelblue_268cc8;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.btn-head {
  margin: 0 8px;
}

.btn-foot {
  margin: 0 12px;
}

.shadow {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05) !important;
}

.flat-shadow {
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1) !important;
}

.btn-line {
  border-radius: 100px;
  padding: 11px 32px;
  font-size: 16px;
  border: 2px solid var(--color-neutral-3);
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 18px;
  letter-spacing: .2px;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  transition: none;
  background-image: none;
  color: var(--color-neutral-3);

  &.c-blue {
    border-color: $color-blue;
    color: $color-blue;

    &:hover {
      border-color: $steelblue_268cc8;
      color: $steelblue_268cc8;
    }
  }

  &.c-green {
    border-color: $color-green-100;
    color: $color-green-100;

    &:hover {
      border-color: $color-green-100;
      color: $color-green-100;
    }
  }

  &.c-white {
    border-color: var(--color-neutral-0);
    color: var(--color-neutral-0);

    &:hover {
      background-color: rgba(255, 255, 255, .4);
      border-color: var(--color-neutral-0);
      color: var(--color-neutral-0);
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.btn-transparent {
  border-radius: 3px !important;
  font-size: 14px;
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 16px;
  letter-spacing: .6px;
  border: transparent;
  font-style: normal;
  font-stretch: normal;
  text-shadow: none;
  box-shadow: none;
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
  transition: none;

  &.c-blue {
    background-color: rgba(43, 157, 223, .1);
    color: $color-blue;

    &:hover {
      background-color: rgba(43, 157, 223, .05);
      color: $color-blue;
    }
  }

  &.c-green {
    background-color: rgba(121, 186, 90, .1);
    color: $color-green-100;

    &:hover {
      background-color: rgba(121, 186, 90, .05);
      color: $color-green-100;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.flat-white {
  background-color: var(--color-neutral-0) !important;
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1);
}

.link-highlight {
  &.c-blue {
    @include responsive-prop(700, 800, 'font-weight');
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .4px;
    color: $color-blue;

    &:hover {
      color: $color-blue;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.second-step-block {
  .afj-specific-img {
    overflow: hidden;
  }
}

@include media('>=tablet') {
  .navbar-nav {
    > li {
      > a {
        padding: 0;
      }
    }
  }

  .main_menu-nav {
    display: inline-block;
    float: right;
  }
}

.btn-cta {
  margin: 11px 0 0 13px;
}

.navbar {
  background: none;
  border: none;
}

@include media('<tablet') {
  .navbar {
    background-color: var(--color-neutral-1);
    border-color: var(--color-neutral-3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;

    .main_menu-nav {
      width: 100%;
      padding: 0;
      border: none;
      margin: 25px 0 0;

      .list-inline {
        > li {
          &.active {
            border: 0;
          }
        }
      }
    }
  }

  section {
    &.cover-block {
      &.container {
        margin-top: 140px;

        h1 {
          font-size: 38px;
        }

        h4 {
          font-size: 38px;
        }

        h3 {
          font-size: 16px;
          width: auto;
        }
      }
    }

    &.how-it-works {
      padding: 30px 0;

      &.comissions {
        p {
          height: auto;
          width: auto;
        }
      }

      p {
        width: auto;
      }

      .hiw-block {
        padding: 0 15px;
      }
    }

    &.steps-container {
      &.container-fluid {
        &.second-section {
          .second-step-block {
            .copy {
              padding: 47px 15px;

              p {
                width: auto;
              }
            }

            .step-assets {
              &:nth-child(even) {
                border: none;
              }

              &:nth-child(odd) {
                border: none;
              }
            }
          }
        }
      }

      h3 {
        font-size: 28px;
        width: auto;
      }

      &.funnel {
        .funnel-img-container {
          padding: 0;
          top: 50px;
          transform: none;
        }
      }

      .funnel-part {
        .funnel-description {
          left: 0;
          position: relative;
          top: 0;
          transform: none;
        }

        .funnel-percentage {
          left: 0;
        }

        .funnel-skew-left {
          display: none;
        }

        .funnel-skew-right {
          display: none;
        }

        .funnel-content {
          margin-top: 20px;
          min-width: 290px;
          width: 100%;
        }
      }

      .funnel-description {
        p {
          &:after {
            background-color: $color-blue;
            bottom: -1px;
            content: "";
            height: 1px;
            position: absolute;
            right: 50%;
            transform: rotate(90deg) translateX(50%);
            width: 21px;
          }
        }
      }

      .step-assets {
        > img {
          display: none;
        }
      }
    }

    &.wso-special-row {
      .cards {
        .card-container {
          width: 100%;
          margin: 10px 0;
          height: auto;
          padding: 20px;
          display: block;
          text-align: left;

          .card-block {
            position: static;
            transform: none;
            height: auto;

            img {
              margin-bottom: 15px;
            }
          }

          .learn-more {
            position: static;
          }
        }
      }
      background-size: 66% 24%;
      margin: 120px 0 0;
    }

    &.roles {
      .container {
        &.roles-container {
          width: 100%;
          height: auto;
          display: inline-block;
          margin-bottom: 50px;

          .roles-block {
            padding-top: 15px;
            position: relative;
            top: 0;
            transform: none;
          }
        }
      }

      .logos-copy {
        h1 {
          width: 100%;
        }

        h4 {
          width: 100%;
        }
        padding: 0 15px;

        .logos-box {
          img {
            margin: 12px 0;
            max-width: 260px;
          }
        }
      }

      .logo-container {
        width: 100%;

        &:nth-child(3n+2) {
          margin: 0 0 15px;
        }
      }

      .roles-container {
        padding-right: 0;
      }
      margin-top: 250px;
      background: none;
    }

    &.container-fluid {
      &.looking-section {
        width: 100%;
        height: auto;
        display: inline-block;
        margin-bottom: 50px;

        &.blue {
          padding-top: 25px;
        }

        .img-container {
          img {
            max-height: 243px;
            top: 100%;
            transform: none;
          }
          display: none;
        }

        .container {
          .looking-container {
            .looking-content {
              padding-top: 15px;
              position: relative;
              top: 0;
              transform: none;
            }
          }

          .looking-container-m {
            margin-top: 250px;
          }
        }
      }

      &.promo-footer {
        .promo-container {
          p {
            width: 100%;
          }
          padding: 0 15px;
        }
      }
    }

    &.wso-cards {
      .cards {
        padding: 0;

        .card-container {
          margin: 10px auto;
          max-width: 100%;
        }
      }
    }

    &.job-board {
      .view-jobs {
        .views-exposed-form {
          .form-item {
            width: 100%;
          }

          .views-exposed-widget {
            width: 100%;
          }
        }
      }
    }
  }

  .main_menu-nav {
    .list-inline {
      margin: 0 auto;
      padding: 0;

      li {
        &.active {
          > span {
            color: $color-blue;
            display: inline-block;
            width: 100%;
          }
        }
      }

      > li {
        margin: 0;
      }
    }
  }

  header {
    &.main-page {
      > .container {
        padding: 0;
      }
      height: 100vh;

      section {
        &.cover-block {
          width: 100%;
        }
      }
    }

    &.header {
      padding: 0;
    }
  }

  .btn-cta {
    margin: 5% 10%;
    width: 80%;
  }

  .logo {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .navbar-default {
    .navbar-toggle {
      margin-top: 15px;
    }
  }

  a {
    &.btn-head {
      font-size: 14px;
      margin: 0 0 10px;
      max-width: 290px;
      width: 100%;
    }

    &.btn-foot {
      font-size: 14px;
      margin: 0 0 10px;
      max-width: 290px;
      width: 100%;
    }
  }

  .header-bg {
    height: 100vh;
  }

  .block-accordion {
    padding: 50px 0 0;

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 18px;
          margin-right: 45px;
        }
      }
    }

    .panel-title {
      a {
        &:after {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      a[aria-expanded="true"] {
        &:after {
          top: 50%;
          transform: rotate(180deg) translateY(50%);
        }
      }
    }
  }
}

@include media('>=tablet', '<large-desktop') {
  .main_menu-nav {
    .list-inline {
      > li {
        margin: 0 8px;
      }

      li {
        > span {
          font-size: 14px;
        }

        > a {
          font-size: 14px;
        }
      }
    }
  }

  .btn-cta {
    margin: 11px 0 0 8px;
    padding: 11px 20px;
  }

  section {
    &.container-fluid {
      &.looking-section {
        height: auto;

        .container {
          .looking-container {
            .looking-content {
              position: relative;
              top: 0;
              transform: none;
            }
          }
        }
      }
    }

    &.roles {
      .container {
        &.roles-container {
          .roles-block {
            position: relative;
            top: 0;
            transform: none;
          }
          height: 0;
          padding: 0;
        }
      }

      .logo-container {
        &:nth-child(3n+2) {
          margin: 1%;
        }
        width: 31%;
        margin: 1%;
      }
    }

    &.wso-cards {
      .cards {
        .card-container {
          margin: 10px auto;
          max-width: 100%;
        }
      }
    }

    &.steps-container {
      &.container-fluid {
        &.second-section {
          .second-step-block {
            .copy {
              p {
                width: auto;
              }
            }
          }
        }
      }

      h3 {
        width: auto;
      }

      &.funnel {
        .funnel-img-container {
          top: 0;
          transform: translateY(50px);
          position: relative;
        }
      }

      .funnel-percentage {
        .funnel-content {
          padding: 9px 0;
        }
      }
    }
  }

  .block-accordion {
    .panel-title {
      a {
        &:after {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      a[aria-expanded="true"] {
        &:after {
          top: 50%;
          transform: rotate(180deg) translateY(50%);
        }
      }
    }

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 24px;
          margin-right: 45px;
        }
      }
    }
  }
}

@include media('>=tablet', '<desktop') {
  section {
    &.wso-special-row {
      .cards {
        .card-container {
          margin: 10px 0;
          width: 100%;
        }
      }
    }

    &.container-fluid {
      &.looking-section {
        .img-container {
          img {
            display: none;
          }
        }
      }
    }

    &.steps-container {
      .step-assets {
        > img {
          display: none;
        }
      }

      &.funnel {
        .funnel-img-container {
          top: 0;
          transform: translateY(100px);
        }
      }

      &.container-fluid {
        &.second-section {
          .second-step-block {
            .step-assets {
              &:nth-child(even) {
                border: none;
              }

              &:nth-child(odd) {
                border: none;
              }
            }
          }
        }
      }
    }
  }

  .block-accordion {
    padding: 60px 30px 0;

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 24px;
          margin-right: 45px;
        }
      }
    }
  }
}

@include media('>=desktop', '<large-desktop') {
  section {
    &.container-fluid {
      &.looking-section {
        .img-container {
          &.free-image-container {
            img {
              left: 0;
              position: relative;
              top: 0;
              transform: translate(30%, 25%);
            }
          }

          &.h-278 {
            img {
              &.center-abs-tr-y {
                right: 30%;
              }
            }
          }
        }
      }
    }
  }
}
