@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.comment--blurred {
  &.comment--unpublished .comment-container {
    background-color: var(--color-neutral-0);

    .comments__register__social__buttons .btn {
      color: var(--color-neutral-0);
    }
  }
}

.comments__modal-container {
  text-align: center;
}

.field-name-comment-body--blurred-comment ~ .user-signature {
  .share-comment {
    display: none;
  }
}

.comments__register__block {
  border-radius: 10px;
  background-color: var(--color-neutral-0);
  display: inline-block;
  text-align: center;
  min-height: auto;
  border: #087dfd59 1px solid;
  padding: 40px 32px 54px;
  margin-bottom: 20px;
  box-shadow: 1px 0px 30px 0px rgba(57, 181, 255, 0.3);

  @include media('<tablet') {
    width: 100%;
    padding: 32px 15px;
    min-height: auto;
  }

  @include media('>=desktop') {
    padding: 32px 59px 54px;
    width: 650px;
    max-width: 100%;
  }

  form {
    input[type=text] {
      @include media('<tablet') {
        margin-bottom: 10px;
        width: 100%;
      }
    }

    input[type=email] {
      height: 48px;
      border-radius: 3px;
      background-color: var(--color-neutral-2);
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 48px;
      letter-spacing: .1px;
      border: 1px solid var(--color-neutral-4);
      box-shadow: none;
      margin-bottom: 10px;

      @include placeholder{
        color: var(--color-neutral-7);
        opacity: .4;
      }

      @include media('>=tablet') {
        margin-right: 8px;
        margin-bottom: 0;
        width: 330px;
      }
    }

    input[type=submit] {
      padding: 0 22px;
      @extend %btn, .btn-success;
      @extend %btn, .btn-md;
      height: 48px;
      width: auto;
      margin-top: 0;

      @include media('<tablet') {
        height: 48px;
        width: 100%;
      }
    }

    .form-item {
      margin: 0;
    }

    > div {
      @include media('>=tablet') {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }

  strong {
    font-weight: 700 !important;
  }
}

.comments__register__small-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  left: 0;
}

.comments__register__title {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.22;
  margin: 0 0 8px;
  padding: 0;
  text-align: center;
}

.comments__register__description {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.43;
  margin-bottom: 24px !important;
  text-align: center;

  &__bold {
    @include responsive-prop(700, 800, 'font-weight');
    color: var(--color-base);
    letter-spacing: normal;
  }
}

.comments__register__social {
  padding-top: 32px;

  &__title {
    color: var(--color-neutral-7);
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: normal;
    margin-bottom: 18px;
    text-align: center;

    @include media('>=tablet') {
      span {
        display: block;
        color: var(--color-base);
        margin: 10px auto;

        strong {
          color: var(--color-base);
        }
      }
    }
  }

  &__divider {
    color: var(--color-neutral-7);
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 1.14;
    padding: 0 12px;
    text-align: center;

    @include media('<tablet') {
      display: inline-block;
      padding: 12px;
    }
  }

  &__buttons {
    @include media('>=tablet') {
      margin: 0 -15px;
    }

    @include media('>=desktop') {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__button {
    @include responsive-prop(700, 800, 'font-weight');
    position: relative;
    width: 195px;
    border-radius: 3px;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .1px;
    color: var(--color-neutral-0);
    padding: 0 15px 0 45px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
    white-space: nowrap;

    @include media('<tablet') {
      width: 100%;
    }

    @include media('>=tablet') {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .icon {
      font-size: 1.7em;
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      box-shadow: none;
      color: var(--color-neutral-0);
      opacity: .85;
      outline: none;
      text-decoration: none;
    }

    &:focus {
      box-shadow: none;
      color: var(--color-neutral-0);
      opacity: .85;
      outline: none;
      text-decoration: none;
    }
  }
}

.social__button__facebook {
  background-color: $steelblue_3a5a98;
}

.social__button__google {
  background-color: $color-red;
}

.social__button__linkedin {
  background-color: $steelblue_007bb6;
}

.blurred-small {
  background-color: var(--color-neutral-0);
  box-shadow: 7px 7px 20px 10px var(--color-neutral-5);
  color: var(--color-base);
  font-weight: 700;
  left: 0;
  margin: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 4px;
  width: 59%;
  z-index: 1000;

  .btn {
    &.popup-link {
      border-color: var(--color-neutral-6);
    }
  }
}

.float_warning_blur {
  position: relative;
  top: -25px;
  background-color: var(--color-neutral-0);
  padding: 10px;
  color: var(--color-base);
  margin: auto;
  width: 90%;
  min-height: 100px;
  box-shadow: 7px 7px 20px 10px var(--color-neutral-5);
  cursor: pointer;

  .btn {
    &.popup-link {
      border-color: var(--color-neutral-6);
    }
  }
}

.blurred-comments-image {
  .darkmode & {
    filter: invert(1) !important;
  }
}

.comment-content p.fake-blurred {
  filter: blur(4px);
}
