.comments__register__block form input[type=submit]:focus {
  outline: 0
}
.comments__register__block form input.btn-default[type=submit] {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.comments__register__block form input.btn-default[type=submit]:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.comments__register__block form input.btn-default[type=submit]:active,
.comments__register__block form input.btn-default[type=submit]:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.comments__register__block form input.btn-default[type=submit]:disabled {
  background-color: var(--color-neutral-1)
}
.comments__register__block form input[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
.comments__register__block form input[type=submit]:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.comments__register__block form input[type=submit]:active,
.comments__register__block form input[type=submit]:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.comments__register__block form input[type=submit]:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comments__register__block form input.btn-danger[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.comments__register__block form input.btn-danger[type=submit]:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.comments__register__block form input.btn-danger[type=submit]:active,
.comments__register__block form input.btn-danger[type=submit]:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.comments__register__block form input.btn-danger[type=submit]:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comments__register__block form input.btn-lines[type=submit],
.comments__register__block form input.btn-secondary[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.comments__register__block form input.btn-lines[type=submit]:hover,
.comments__register__block form input.btn-secondary[type=submit]:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.comments__register__block form input.btn-lines[type=submit]:active,
.comments__register__block form input.btn-lines[type=submit]:focus,
.comments__register__block form input.btn-secondary[type=submit]:active,
.comments__register__block form input.btn-secondary[type=submit]:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.comments__register__block form input.btn-lines[type=submit]:disabled,
.comments__register__block form input.btn-secondary[type=submit]:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comments__register__block form input.btn-lines.mono[type=submit],
.comments__register__block form input.btn-secondary.mono[type=submit] {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.comments__register__block form input.btn-lines.mono[type=submit]:hover,
.comments__register__block form input.btn-secondary.mono[type=submit]:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.comments__register__block form input.btn-lines.mono[type=submit]:active,
.comments__register__block form input.btn-lines.mono[type=submit]:focus,
.comments__register__block form input.btn-secondary.mono[type=submit]:active,
.comments__register__block form input.btn-secondary.mono[type=submit]:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.comments__register__block form input.btn-lines.mono[type=submit]:disabled,
.comments__register__block form input.btn-secondary.mono[type=submit]:disabled {
  background-color: var(--color-neutral-1)
}
.comments__register__block form input.btn-lines.mono.danger[type=submit],
.comments__register__block form input.btn-secondary.mono.danger[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.comments__register__block form input.btn-lines.mono.danger[type=submit]:hover,
.comments__register__block form input.btn-secondary.mono.danger[type=submit]:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.comments__register__block form input.btn-lines.mono.danger[type=submit]:active,
.comments__register__block form input.btn-lines.mono.danger[type=submit]:focus,
.comments__register__block form input.btn-secondary.mono.danger[type=submit]:active,
.comments__register__block form input.btn-secondary.mono.danger[type=submit]:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.comments__register__block form input.btn-lines.mono.danger[type=submit]:disabled,
.comments__register__block form input.btn-secondary.mono.danger[type=submit]:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comments__register__block form input.btn-other[type=submit],
.comments__register__block form input.btn-success-ghost[type=submit],
.comments__register__block form input.btn-transparency[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.comments__register__block form input.btn-other[type=submit]:hover,
.comments__register__block form input.btn-success-ghost[type=submit]:hover,
.comments__register__block form input.btn-transparency[type=submit]:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.comments__register__block form input.btn-other[type=submit]:active,
.comments__register__block form input.btn-other[type=submit]:focus,
.comments__register__block form input.btn-success-ghost[type=submit]:active,
.comments__register__block form input.btn-success-ghost[type=submit]:focus,
.comments__register__block form input.btn-transparency[type=submit]:active,
.comments__register__block form input.btn-transparency[type=submit]:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.comments__register__block form input.btn-other[type=submit]:disabled,
.comments__register__block form input.btn-success-ghost[type=submit]:disabled,
.comments__register__block form input.btn-transparency[type=submit]:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comments__register__block form input.bg-white[type=submit] {
  background: var(--color-neutral-0)
}
.comments__register__block form input.btn-info[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.comments__register__block form input.btn-info[type=submit]:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.comments__register__block form input.btn-info[type=submit]:active,
.comments__register__block form input.btn-info[type=submit]:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.comments__register__block form input.btn-info[type=submit]:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comments__register__block form input.btn-info.btn-lines[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.comments__register__block form input.btn-info.btn-lines[type=submit]:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.comments__register__block form input.btn-info.btn-lines[type=submit]:active,
.comments__register__block form input.btn-info.btn-lines[type=submit]:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.comments__register__block form input.btn-info.btn-lines[type=submit]:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comments__register__block form input.btn-xs[type=submit] {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.comments__register__block form input.btn-sm[type=submit] {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.comments__register__block form input[type=submit] {
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase;
  padding: 0 22px;
  height: 48px;
  width: auto;
  margin-top: 0
}
.comments__register__block form input.btn-lg[type=submit] {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.comments__register__block form input.btn-xl[type=submit] {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.comment--blurred.comment--unpublished .comment-container {
  background-color: var(--color-neutral-0)
}
.comment--blurred.comment--unpublished .comment-container .comments__register__social__buttons .btn {
  color: var(--color-neutral-0)
}
.comments__modal-container {
  text-align: center
}
.field-name-comment-body--blurred-comment ~ .user-signature .share-comment {
  display: none
}
.comments__register__block {
  border-radius: 10px;
  background-color: var(--color-neutral-0);
  display: inline-block;
  text-align: center;
  min-height: auto;
  border: 1px solid rgba(8, 125, 253, .3490196078);
  padding: 40px 32px 54px;
  margin-bottom: 20px;
  box-shadow: 1px 0 30px 0 rgba(57, 181, 255, .3)
}
.comments__register__block form input[type=email] {
  height: 48px;
  border-radius: 3px;
  background-color: var(--color-neutral-2);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 48px;
  letter-spacing: .1px;
  border: 1px solid var(--color-neutral-4);
  box-shadow: none;
  margin-bottom: 10px
}
.comments__register__block form input[type=email]::-webkit-input-placeholder {
  color: var(--color-neutral-7);
  opacity: .4
}
.comments__register__block form input[type=email]:-moz-placeholder {
  color: var(--color-neutral-7);
  opacity: .4
}
.comments__register__block form input[type=email]::-moz-placeholder {
  color: var(--color-neutral-7);
  opacity: .4
}
.comments__register__block form input[type=email]:-ms-input-placeholder {
  color: var(--color-neutral-7);
  opacity: .4
}
.comments__register__block form .form-item {
  margin: 0
}
.comments__register__block strong {
  font-weight: 700!important
}
.comments__register__small-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  left: 0
}
.comments__register__title {
  font-weight: 700;
  color: var(--color-base);
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.22;
  margin: 0 0 8px;
  padding: 0;
  text-align: center
}
.comments__register__description {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.43;
  margin-bottom: 24px!important;
  text-align: center
}
.comments__register__description__bold {
  font-weight: 700;
  color: var(--color-base);
  letter-spacing: normal
}
.comments__register__social {
  padding-top: 32px
}
.comments__register__social__title {
  color: var(--color-neutral-7);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: normal;
  margin-bottom: 18px;
  text-align: center
}
.comments__register__social__divider {
  color: var(--color-neutral-7);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.14;
  padding: 0 12px;
  text-align: center
}
.comments__register__social__button {
  font-weight: 700;
  position: relative;
  width: 195px;
  border-radius: 3px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .1px;
  color: var(--color-neutral-0);
  padding: 0 15px 0 45px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  white-space: nowrap
}
.comments__register__social__button .icon {
  font-size: 1.7em;
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.comments__register__social__button:focus,
.comments__register__social__button:hover {
  box-shadow: none;
  color: var(--color-neutral-0);
  opacity: .85;
  outline: 0;
  text-decoration: none
}
.social__button__facebook {
  background-color: #3a5a98
}
.social__button__google {
  background-color: #f04944
}
.social__button__linkedin {
  background-color: #007bb6
}
.blurred-small {
  background-color: var(--color-neutral-0);
  box-shadow: 7px 7px 20px 10px var(--color-neutral-5);
  color: var(--color-base);
  font-weight: 700;
  left: 0;
  margin: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 4px;
  width: 59%;
  z-index: 1000
}
.blurred-small .btn.popup-link {
  border-color: var(--color-neutral-6)
}
.float_warning_blur {
  position: relative;
  top: -25px;
  background-color: var(--color-neutral-0);
  padding: 10px;
  color: var(--color-base);
  margin: auto;
  width: 90%;
  min-height: 100px;
  box-shadow: 7px 7px 20px 10px var(--color-neutral-5);
  cursor: pointer
}
.float_warning_blur .btn.popup-link {
  border-color: var(--color-neutral-6)
}
.darkmode .blurred-comments-image {
  filter: invert(1)!important
}
.comment-content p.fake-blurred {
  filter: blur(4px)
}
@media (min-width: 768px) {
  .comments__register__block form input[type=email] {
    margin-right: 8px;
    margin-bottom: 0;
    width: 330px
  }
  .comments__register__block form > div {
    display: flex;
    justify-content: center;
    align-items: flex-start
  }
  .comments__register__social__title span {
    display: block;
    color: var(--color-base);
    margin: 10px auto
  }
  .comments__register__social__title span strong {
    color: var(--color-base)
  }
  .comments__register__social__buttons {
    margin: 0 -15px
  }
  .comments__register__social__button {
    margin-right: 10px
  }
  .comments__register__social__button:last-child {
    margin-right: 0
  }
}
@media (min-width: 992px) {
  .comments__register__block {
    padding: 32px 59px 54px;
    width: 650px;
    max-width: 100%
  }
  .comments__register__description__bold,
  .comments__register__title {
    font-weight: 800
  }
  .comments__register__social__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .comments__register__social__button {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .comments__register__block {
    width: 100%;
    padding: 32px 15px;
    min-height: auto
  }
  .comments__register__block form input[type=text] {
    margin-bottom: 10px;
    width: 100%
  }
  .comments__register__block form input[type=submit] {
    height: 48px;
    width: 100%
  }
  .comments__register__social__divider {
    display: inline-block;
    padding: 12px
  }
  .comments__register__social__button {
    width: 100%
  }
}
/*# sourceMappingURL=blurred-comment.component.css.map */
