.btn.add-comment-show {
  font-size: 16px;
  padding: 12px 24px;
  margin-left: 10px;

  &:focus,
  &:active {
    background-color: var(--color-neutral-5);
    border-color: var(--color-neutral-5);
  }
}

#comments {
  margin-bottom: 40px;
}

#comments-title-wrapper {
  @include responsive-prop(700, 800, 'font-weight');
  background: var(--color-neutral-0);
  border-top: var(--color-neutral-5) 2px solid;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  h3 {
    @include responsive-prop(700, 800, 'font-weight');
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: var(--color-base);
    margin-bottom: 0;
  }

  .separator {
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: var(--color-neutral-4);
    margin-left: 10px;
  }

  .dropdown {
    @include dropdown-small-borderless();

    .dropdown-toggle {
      @include font-color-grey-darkmode;

      .caret:after {
        top: 0;
      }
    }

    ul {
      &.dropdown-menu {
        column-count: 1;
        font-size: 13px;
        font-weight: 500;
        min-width: 11.5rem;
        color: var(--color-neutral-7);
      }
    }
  }
}

.comment-overall-layer {
  position: relative;

  &.new {
    .comment-container {
      background-color: var(--color-warning-bg);
    }
  }
}

.comment {
  blockquote {
    font-size: inherit;
    margin: 0 0 24px 8px;
    font-style: italic;
    line-height: 26px;
    @include font-color-grey-darkmode;
    letter-spacing: -.15px;
    background-color: var(--color-neutral-3);
    padding: 4px 16px;
    border: transparent;
    border-left: 3px solid $color-light-oasis;

    p:last-of-type {
      margin-bottom: 0;
    }

    p:first-of-type {
      display: inline;
    }

    strong.quote-author {
      margin-right: 5px;

      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 'fa-custom';
        font-size: inherit;
        text-rendering: auto;
        content: '\f10d';
        margin-right: 5px;
      }
    }
  }

  .comment-by {
    ul {
      &.list-inline {
        margin: inherit;
      }

      li {
        padding: 0 2px;
      }
    }
  }

  .post-header {
    margin-bottom: 10px;
    padding-bottom: 5px;

    > span {
      display: flex;
      width: 100%;

      @include media('<tablet') {
        align-items: center;
      }

      > .post-time-container {
        margin-left: auto;
      }
    }

    .post-time-container {
      font-size: 14px;
      @include font-color-grey-darkmode;

      i {
        font-size: 12px;
      }

      a {
        color: inherit;
        white-space: nowrap;

        span {
          @include media('<tablet') {
            display: none !important;
          }
        }
      }
    }
  }

  .comment-content {
    @include media('<tablet') {
      display: inline-block;
      width: 100%;
    }

    .field-name-comment-body {
      img {
        display: block;
        height: auto;
        max-width: 100%;
      }
    }

    p {
      @include media('<tablet') {
        font-size: 16px;
      }
    }
  }

  .post-footer {
    font-size: .9em;
    margin: 0;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 15px;

    .col-lg-18 {
      @include media('<=desktop') {
        width: 66.66667%;
        padding-right: 0;
      }
    }

    .col-lg-6 {
      @include media('<=desktop') {
        width: 33.33333%;
      }
    }
  }

  .comment-title {
    display: none;
  }

  &--unpublished {
    .comment-container {
      background-color: #ececec;
    }

    a {
      color: var(--color-neutral-7);
    }

    .post-wrap .btn.btn-info {
      border-color: var(--color-neutral-7);
      color: var(--color-neutral-7);
    }

    .user-signature {
      display: none;
    }

    .post-footer {
      padding: 5px 13px 0 23px;
    }

    &__user-message {
      color: var(--color-base);
      opacity: 0.8;
      font-size: 14px;
    }

    &__admin-message {
      background: $color-red;
      color: $color-neutral-0;
      margin-bottom: 10px;

      &:before,
      &:after {
        content: '\e813';
        font-family: "fa-custom";
        display: inline-block;
        margin: 0 5px;
      }
    }

    &--user {
      .post-header {
        display: none !important;
      }

      .comment-container {
        padding-top: 10px;

        .post-wrap .comment-content .field-name-comment-body {
          padding-top: 0;
        }
      }
    }
  }
}

.darkmode .comment--unpublished .comment-container {
  background-color: black !important;
}

.wso-username{
  display: flex;
  align-items: center;
  margin: 0 0 5px;
  padding-left: 0;
  list-style: none;
  font-size: 14px;

  @include media('<tablet') {
    width: 100%;
  }

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

  ul {
    text-overflow: ellipsis;
    white-space: nowrap;

    @include media('<tablet') {
      align-items: flex-end;
      display: flex;
    }
  }

  > li {
    padding-left: 5px;
    padding-right: 5px;
  }

  > span {
    margin-right: 5px;
  }

  .indico {
    &.indico-mentor {
      background: $color-green-100;
      vertical-align: inherit;
    }
  }

  .rankings {
    @include media('<tablet') {
      display: none;
    }

    span {
      @include font-color-grey-darkmode;
    }
  }

  .points {
    font-size: 14px;
    @include font-color-grey-darkmode;

    @include media('<tablet') {
      display: none !important;
    }

    a {
      position: relative;
      padding-left: 5px;

      &:before {
        background: var(--color-neutral-4);
        content: "";
        font-weight: 300;
        height: 12px;
        left: 0;
        margin-left: -5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }
    }
  }

  .post-user-pic {
    position: relative !important;
    margin-right: 0;
    padding-right: 0;

    @include media('<tablet') {
      display: none;
    }

    img {
      position: static !important;
      width: 28px;
      height: 28px;
    }
  }

  .post-user-name {
    @include media('<tablet') {
      max-width: calc(100% - 125px);
    }

    a {
      @include media('<tablet') {
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.comment__certified-user {
  left: auto;
  top: auto;
  right: 8px;
  bottom: 0;
  position: absolute;
  width: 7px;

  @include media('<tablet') {
    display: none;
  }

  .icon__star__styles {
    position: static !important;
    font-size: 8px !important;
    width: 13px !important;
    height: 13px !important;

    &.icon__star__big {
      @include media('<tablet') {
        margin-right: 0;
      }
    }
  }
}

.comment-content {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 16px;

  .field-name-comment-body {
    @include word-wrap-hyphens();
    padding: 15px 11px 0 11px;
  }

  iframe,
  embed,
  object {
    max-width: 100%;
  }

  blockquote {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  p {
    clear: inherit;
    margin: 0 0 10px;
    overflow-wrap: break-word;
    font-size: 16px;

    b, strong {
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .user-signature {
    padding-top: 0;
    padding-right: 11px;
    margin-bottom: 0;
    margin-left: 12px;

    &.with-signature {
      margin-top: 12px;

      &:before {
        content: '';
        display: block;
        width:  100%;
        height: 1px;
        background: var(--color-neutral-3);
      }

      .anon-user-signature {
        padding-top: 10px;
      }
    }

    @at-root .most-voted-overall .comment-container .user-signature.with-signature:before {
      width:  calc(100% + 7px);
    }

    .icon__star__styles {
      background-color: $color-yellow;
      border: 3px solid $color-yellow;
      border-radius: 50%;
      color: var(--color-neutral-0);
      font-size: 10px;
      height: 16px;
      width: 16px;
      position: relative;
      margin-right: 5px;
      margin-bottom: 5px;

      &:before {
        align-self: center;
        display: flex;
        justify-content: center;
      }
    }

    &,
    a,
    p {
      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.27;
      letter-spacing: 0.3px;
      @include font-color-grey-darkmode;

      @include media('<tablet') {
        font-size: 11px;
      }
    }
  }
}

.fake-preview {
  .field-name-signature {
    display: none;
  }
}

.post-leave-comment {
  padding-top: 15px !important;
}

.comment-name-anchor-outer {
  height: 1px;
  overflow: hidden;
  position: relative;
  width: 1px;
  top: 0;

  a {
    top: -20px;
    position: relative;

    @include media('>=desktop') {
      top: -100px;
    }

    .toolbar-tray-open.toolbar-horizontal & {
      @include media('>=desktop') {
        top: -180px;
      }
    }
  }
}

article.new {
  > mark {
    display: none;
  }
}

.new-comment,
.comment--inserted {
  .comment-container {

    .post-header {
      background-color: var(--color-warning-bg);
      animation: blink 1s;
      animation-iteration-count: 10;

      .post-time-container {
        &:after {
          content: 'New';
          display: inline-block;
          font-size: 12px;
          line-height: 18px;
          padding: 0 5px;
          color: var(--color-neutral-0);
          background: $color-yellow;
          border-radius: 3px;
          text-transform: uppercase;
        }

        span {
          display: none;
        }
      }
    }
  }
}

.comment-blink {
  .post-header {
    background-color: var(--color-warning-bg);
    border-bottom: var(--color-neutral-3) 1px solid;
    animation: blink 1s;
    animation-iteration-count: 5;
  }
}


.funniest-response-label,
.best-response-label,
.most-controversial-label,
.related-topic-label {
  -moz-border-radius: 15px 0;
  -webkit-border-radius: 15px 0;
  border-radius: 15px 0;
  color: var(--color-neutral-0);
  font-size: 14px;
  font-weight: 600;
  margin-top: -31px;
  padding: 0 10px;
  position: absolute;
  right: 38px;
  //z-index: 999;
}

.funniest-response-label {
  background: $color-yellow none repeat scroll 0 0;
  border: 2px solid $color-yellow;
}

.best-response-label {
  background: $color-green-100 none repeat scroll 0 0;
  border: 2px solid $color-green-100;
}

.most-controversial-label {
  background: $color-red none repeat scroll 0 0;
  border: 2px solid $color-red;
}

.related-topic-label {
  background: $color-blue none repeat scroll 0 0;
  border: 2px solid $color-blue;
}

.comment-container {
  .most-voted-overall & {
    border: 5px solid $color-green-100;
    margin-top: 15px !important;
  }

  .funniest-overall & {
    border: 5px solid $color-yellow;
    margin-top: 15px !important;
  }

  .most-controversial-overall & {
    border: 5px solid $color-red;
    margin-top: 15px !important;
  }

  .related-topic & {
    border: 5px solid $color-blue;
  }
}

@mixin levels($depth) {
  @if ($depth > 0) {
    .indented {
      @if($depth%2 == 0) {
        border-left: 2px solid rgba(46, 141, 229, 0.3);
      } @else {
        border-left: 2px solid rgba(254,202, 6, 0.5);
      }

      @include levels($depth - 1)
    }
  }
}

.indented {
  border-left: 2px solid rgba(46, 141, 229, 0.3);
  padding-left: 15px;
  margin-left: 0;
  position: relative;

  .indented {
    border-left: 2px solid rgba(254,202, 6, 0.5);
    //@include levels(20);

    .indented .indented {
      @include media('<tablet') {
        border-left: transparent none !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .indented {
    .indented {
      @include levels(4);
    }
  }
}

@media (min-width: 768px) {
  .indented {
    .indented {
      @include levels(12);
    }
  }

  .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented {
    border-left: transparent none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}

.collaspsible-comments-enabled {
  position: relative;

  .comment-thread-expand {
    left: -15px;
    position: absolute;
    top: 0;
    z-index: 5;

    &:hover {
      text-decoration: none !important;
    }
  }

  &.indented-hidden {
    .comment-thread-expand {
      left: 0;
    }

    .comment-container.ads + .comment-thread-expand {
      bottom: -40px;
      top: auto;
    }
  }
}

.comment-expand-outer {
  left: 0;
  position: relative;
  top: -10px;
  width: 100%;
}

.comment-expand-inner {
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(var(--color-neutral-0--rgb), 0) 0%, rgba(var(--color-neutral-0--rgb), .65) 44%, rgba(var(--color-neutral-0--rgb), .78) 53%, var(--color-neutral-1) 100%);
  position: absolute;
  bottom: -7px;
  left: 0;

  a {
    display: block;
    padding: 23px 0 3px 0;
  }
}

.comments__sub-thread {
  margin-top: -20px;
  margin-bottom: 20px;
  border-top: 1px solid var(--color-neutral-3);
  position: relative;

  a {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    width: 100%;
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 10px;
    background-color: var(--color-neutral-0);
    font-size: 13px;

    &:hover {
      background-color: var(--color-neutral-4);
      color: var(--color-base);
    }

    i {
      &.icon {
        color: var(--color-neutral-7);
        margin-right: 10px;
      }
    }

    &.thread-updated {
      background-color: var(--color-warning-bg);
    }
  }

  .ajax-progress {
    display: inline-block !important;
  }

  .ajax-progress-throbber {
    display: inline-block !important;
    height: 11px;
    width: 16px;
    position: absolute;
    top: 10px;
    left: 50%;

    .throbber {
      background: url(/modules/custom/wso_comments/wso_ajax_threads/images/loader.gif) no-repeat;
    }
  }

  &.new {
    > mark {
      display: none;
    }

    a {
      background-color: #fffce5;

      .darkmode & {
        background-color: $color-black;
      }
    }
  }
}

a.comment-thread-expand {
  @include media('<tablet') {
    left: -12px;
  }
}

.separate-vertical {
  @include media('<tablet') {
    display: none;
  }
}

/*
a#new,
a[name="new"],
a[id^=comment-] {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
  width: 1px;
  height: 22px;
}
*/

.not-logged-in {
  .post-comments {
    .vud-widget {
      &.vud-widget-wso {
        margin: 11px 0 0;
        font-style: normal;
      }
    }
  }
}

@keyframes blink {
  50% {
    background-color: var(--color-neutral-0);
  }
}

/*
#comments {
  div {
    &.post-leave-comment {
      h3 {
        margin: 0 0 15px !important;
      }
    }
  }

  .comment-container {
    margin: 0 0 20px 0;
  }
}
*/

/*
.comment-block {
  .pull-right {
    margin-bottom: 5px;
    margin-top: -10px;
  }
}
*/

/*
.comment {
  .img-thumbnail {
    img {
      height: 80px;
      width: 80px;
    }
  }

  .thumbnail {
    img {
      display: block;
      height: 80px;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      width: 80px;
    }
  }
}
*/

/*
.post-leave-comment {
  h3 {
    margin: 0 0 25px !important;
  }
}
*/

/*
.comment-forum-wrapper {
  padding-right: 10px;
}
*/


/*
ul {
  &.comments {
    li {
      border-left: inherit;
      clear: both;
      padding: 10px 0 0 0;

      .img-thumbnail {
        margin: 0 0 10px 10px;
        position: inherit;
      }
    }

    .comment-block {
      background-color: var(--color-neutral-0);
      border-radius: inherit;
      padding: 10px 10px 0;
    }
  }
}
*/

/*
.comment-block {
  .pull-right {
    margin: inherit;
    margin-top: 0;
  }
}
*/

/*
.comment-links {
  margin-top: -10px;
  background-color: var(--color-neutral-0);
  padding: 0 10px 10px;
  margin-bottom: 10px;
  border-top: none;

  ul {
    &.links {
      li {
        &.flag-abuse_comment {
          a {
            color: red;
          }
        }
      }
    }
  }
}
*/

/*
.original-comment {
  background-color: var(--color-neutral-0);
  border-radius: inherit;
  display: none;
  margin: auto;
  margin-bottom: 0 !important;
  padding: 10px 10px 1px;
  width: 98%;
}
*/

/*
.comment_replies {
  width: 98%;
}
*/

/*
.reply_tab {
  background-color: var(--color-neutral-0);
  padding: 5px;
}

.reply_comment_tab {
  display: inline-block;
  margin-left: 14px;
}

.comment_replies_num {
  margin-left: 11px;
  position: relative;
  top: -10px;
}
*/

/*
.comment__suggested {
  color: var(--color-neutral-6);
}
*/

/*
@include media('<tablet') {
  .comment {
    .list-inline {
      > li {
        &.text-muted {
          font-size: 12px;

          a {
            font-size: 14px;
          }
        }
      }

      .m-r-xs {
        margin-right: 0;
      }
    }
  }

  li {
    &.wso-username {
      ul {
        li {
          &:nth-child(2) {
            span {
              bottom: -8px;
              display: inline-block;
              overflow: hidden;
              position: relative;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
*/

/*
.post-comments .field-name-comment-body .quote-msg,
.post-comments .field-name-comment-body .quote-snip {
  background-color: #eee;
  border-left: 3px solid #c3c3c3;
  padding: 4px 16px;
}

.post-comments {
  .field-name-comment-body {
    li {
      line-height: 26px;
      margin-bottom: 4px;
    }

    ul {
      margin-bottom: 16px;
      margin-top: 8px;
      padding-left: 24px;
    }

    ol {
      margin-bottom: 16px;
      margin-top: 8px;
      padding-left: 24px;
    }

    h3 {
      padding-top: 24px;
    }

    h4 {
      padding-top: 16px;
    }

    .quote-author {
      margin: 0;
      padding: 0 8px 0;
    }

    .quote-msg {
      background-color: var(--color-neutral-3);
      border-left: 3px solid var(--color-neutral-5);
      padding: 4px 16px;
    }

    .quote-snip {
      background-color: var(--color-neutral-3);
      border-left: 3px solid var(--color-neutral-5);
      padding: 4px 16px;
    }
  }
}
*/

/*
.comments {
  .comment-block {
    .field-name-comment-body {
      font-size: 16px !important;
      padding: 0 11px;
    }
  }
}
*/

/*
@media (max-width: 359px) {
  li {
    &.wso-username {
      ul {
        li {
          &:nth-child(2) {
            padding: 0 0 0 5px;

            a {
              span {
                bottom: -8px;
                max-width: 55px;
                width: 60px;
              }
            }
          }
        }
      }
    }
  }
}
*/

/*
@media (min-width: 360px) and (max-width: 374px) {
  li {
    &.wso-username {
      ul {
        li {
          &:nth-child(2) {
            padding: 0 0 0 5px;

            a {
              span {
                bottom: -8px;
                max-width: 51px;
                width: 51px;
              }
            }
          }
        }
      }
    }
  }
}
*/

/*
@media (min-width: 375px) and (max-width: 405px) {
  li {
    &.wso-username {
      ul {
        li {
          &:nth-child(2) {
            span {
              max-width: 75px;
            }
          }
        }
      }
    }
  }
}
*/

/*
@media (min-width: 406px) and (max-width: 767px) {
  li {
    &.wso-username {
      ul {
        li {
          &:nth-child(2) {
            span {
              max-width: 80px;
            }
          }
        }
      }
    }
  }
}
*/
