<div class="{{ block_class }}">
  <div class="row">
    <p class="blur__block_title">{{ 'Want Access to these '|t }} {{ company_title }} {{ block_label }}?</p>
    <div class="blur__wrapper">
      <ul class="blur__items">
        <li class="blur__item">{{ 'Free 1 month access by adding just 1 salary datapoint '|t }}<a href="/node/add/company_compensation">{{ 'here'|t }}</li>
        <li class="blur__item">{{ 'REAL salary bonus data across 1,000+ companies'|t }}</li>
        <li class="blur__item">{{ 'Plus free 1 month access to 10,000+ interview insights'|t }}</li>
      </ul>
      <div class="blur__buttons">
        <a href="/node/add/company_review" class="btn btn-success btn-md blur__button">{{ 'Add Your Data'|t }}</a>
        <span class="blur__separator">or</span>
        <button class="btn btn-secondary mono btn-md blur__button bg-white" data-bs-toggle="modal" data-bs-target="#reportsModal">{{ 'Subscribe'|t }}</button>
      </div>
    </div>
  </div>
</div>
