<div class="modal fade" id="votingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% if logged_in %}
          <h4 class="modal-title" id="myModalLabel">{{ "Uh oh! You have 0 WSO Credits!"|t }}</h4>
        {% else %}
          <h4 class="modal-title" id="myModalLabel">{{ "Want to Vote on this Content?! No WSO Credits?"|t }}</h4>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if logged_in %}
          {{ "In order to vote on content (reward with silver banana or punish with monkey shit), you need WSO Credits.
          You can get WSO Credits by participating in the community or by purchasing some. Use the green button below!"|t }}
        {% else %}
          {{ "Sorry, you need to login or sign up in order to vote.  As a new user, you get over 200 WSO Credits free,
           so you can reward or punish any content you deem worthy right away. See you on the other side!"|t }}
        {% endif %}
      </div>
      <div class="modal-footer d-block">
        {% if logged_in %}
          <a href="/wso-credits" class="btn btn-success btn-block btn-lg">{{ "Reload my WSO Credits"|t }}</a>
        {% else %}
          <p class="text-center mb-2">
            <a href="/user/register" class="btn btn-success btn-nojs-on-me" style="width:50%;">{{ "Join Us"|t }}</a>
          </p>
          <p class="text-center mb-2">{{ "Already a member?"|t }} <a href="/user/login" class="btn-nojs-on-me">{{ "Login"|t }}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
