@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.paragraph--person-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .field-name-field-wso-paragraphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > .field--item {
      width: 100%;
      padding: 15px;
      text-align: center;
      margin: auto;
      @include media('>=tablet') {
        width: 50%;
        text-align: left;
        margin: 0;
      }
      .field-name-field-person-photo {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
