.paragraph--person-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}
.paragraph--person-cards .field-name-field-wso-paragraphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.paragraph--person-cards .field-name-field-wso-paragraphs > .field--item {
  width: 100%;
  padding: 15px;
  text-align: center;
  margin: auto
}
.paragraph--person-cards .field-name-field-wso-paragraphs > .field--item .field-name-field-person-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  padding: 0
}
.paragraph--person-cards .field-name-field-wso-paragraphs > .field--item .field-name-field-person-photo img {
  width: 100%;
  height: auto
}
@media (min-width: 768px) {
  .paragraph--person-cards .field-name-field-wso-paragraphs > .field--item {
    width: 50%;
    text-align: left;
    margin: 0
  }
}
/*# sourceMappingURL=paragraph.person-card.component.css.map */
