body {
  background: $color-neutral-0;
  margin: 0;

  .darkmode & {
    background: $color-neutral-0--dark;
  }
}

.username-fields {

  @include media('>=tablet') {
    display: flex;
  }

  input[type=text] {
    width: 100% !important;
    margin-right: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .form-wrapper {
    display: inline-block;
    margin-right: 2%;
    width: 48%;

    &.field--name-field-last-name {
      margin-right: 0;
    }
  }

  fieldset.form-wrapper {
    display: none;
  }
}

.inline-2 {
  input[type=text] {
    width: 100% !important;
    margin-right: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.date-fields {
  .form-wrapper {
    display: inline-block;
    margin-right: 2%;
    width: 48%;
  }
}

.current-pol {
  .form-wrapper {
    display: inline-block;
    width: 48%;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }

  &--location {
    fieldset {
      display: none !important;
    }
  }
}

.ms-progress {
  background-color: var(--color-neutral-2);
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 6px;
  transition: width .6s ease;
}

.ms-progress-bar {
  background-color: $color-blue;
  height: 100%;
  transition: width .6s ease;
}

#application-form {
  .form-control {
    border: none;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: var(--color-base);
    font-family: "Lato", sans-serif;
    font-size: 24px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.17;
  }

  .cold-md-12 {
    padding: 0 !important;
  }

  .cold-md-8 {
    padding: 0 !important;
  }

  .divider {
    border-bottom: 1px solid var(--color-neutral-3);
    margin-bottom: 50px;
    margin-top: 50px;
  }

  a {
    &.skip {
      display: inline-block;
      font-size: 16px;
      padding: 10px 45px;
      vertical-align: bottom;
    }
  }

  input[type=file] {
    display: inline-block;
    padding: .438rem .75rem;
    line-height: 1.5;
  }

  .field--type-file {
    summary {
      display: none;
    }

    input[type=submit] {
      margin: 0 20px;
    }
  }
}

input {
  &.linkedin {
    width: auto;
    color: $color-green-100 !important;
    line-height: 1.17;
    letter-spacing: .1px;
    border-top: 2px var(--color-neutral-0) solid !important;
    padding: 0 0 8px !important;
    margin-top: 6px !important;
    background: none !important;

    &:focus {
      border-bottom: 2px solid var(--color-neutral-2);
      box-shadow: none;
      color: $color-green-100 !important;
      outline: 0;
      text-shadow: none;
    }
  }
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  padding: 5px !important;
  border-radius: 3px;
  border: 1px solid var(--color-neutral-3) !important;
}

.container-inline-date {
  width: 100%;

  .form-item {
    &.date-no-float {
      width: 100%;
    }

    .form-item {
      width: 49%;
      margin-right: 2%;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.date-padding {
  width: 100%;
}

.field--type-file {
  legend {
    display: none;
  }

  .fieldset-legend {
    display: none;
  }

  table {
    border: none !important;

    td {
      vertical-align: middle !important;
    }

    thead {
      display: none;
    }

    tbody {
      border: none;
    }

    tr {
      background: none !important;
      border: none !important;
    }
  }

  .tabledrag-toggle-weight {
    display: none;
  }

  .tabledrag-handle {
    display: none;
  }
}

.file-widget {
  input[name="upload_und_0_remove_button"] {
    margin-left: 140px !important;
  }
}

#edit-upload {
  .table-responsive {
    overflow: unset;
  }

  .form-type-checkbox {
    width: auto;
    height: auto;
    border: 0;

    input {
      width: auto;
      height: auto;
      opacity: 1;
    }
  }

  input[value=Remove] {
    //@extend %btn;
    @extend %btn, .btn-danger;
    width: auto;
  }
}

.field--name-field-linkedin-profile {
  display: flex;
}

.form-item-upload-und-0-display {
  display: none;
}

@include media('<tablet') {
  .current-pol {
    .form-wrapper {
      margin: 0;
      width: 100%;
    }
  }

  .username-fields {
    .form-wrapper {
      margin: 0;
      width: 100%;
    }
  }

  #application-form {
    a {
      &.skip {
        padding: 20px 0;
      }
    }
  }

  .container-inline-date {
    .form-item {
      .form-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

span {
  &.optional {
    color: var(--color-neutral-6);
    font-size: 12px;
    letter-spacing: .1px;
    line-height: 1.17;
  }
}

.form-required {
  //display: none;
}

form .select2-container--bootstrap4 .select2-selection--multiple .select2-search__field {
  line-height: 40px !important;
}

.ui-widget.ui-widget-content.ui-autocomplete {
  @extend %ui-autocomplete;
  height: auto !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none!important;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .hidden-sm {
    display: none!important;
  }
}
