body {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
}

html {
  font-family: "Lato", sans-serif;
  height: 100%;
}

header {
  position: relative;

  .logo {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    img {
      max-width: 150px;
    }
  }

  ul {
    &.list-inline {
      &.container {
        margin-bottom: 0;
        max-width: 889px;
        padding: 0;
        width: auto;
      }

      li {
        width: auto;
        min-width: 215px;
        border-left: 1px solid var(--color-neutral-2);
        padding: 20px 0;

        @media (min-width: 992px) and (max-width: 1200px) {
          min-width: 0;
          padding: 20px;

          &:first-child {
            margin-left: 130px;
          }
        }

        &:last-child {
          border-right: 1px solid var(--color-neutral-2);
        }

        &.active {
          p {
            &:first-child {
              color: var(--color-base);
            }

            &:last-child {
              color: var(--color-base);
            }
          }
        }

        &.completed {
          background-color: rgba(245, 245, 245, .6);

          .darkmode & {
            background-color: rgba(10, 10, 10, .6);
          }

          p {
            &:first-child {
              color: var(--color-neutral-6);
            }

            &:last-child {
              color: var(--color-neutral-6);
            }
          }
        }

        &.inactive {
          p {
            &:first-child {
              color: var(--color-neutral-6);
            }

            &:last-child {
              color: var(--color-neutral-6);
            }
          }
        }

        p {
          text-align: center;

          &:first-child {
            font-size: 16px;
            @include responsive-prop(700, 800, font-weight);
            letter-spacing: .2px;
            line-height: 1.13;
            text-align: center;
          }

          &:last-child {
            font-size: 14px;
            font-weight: normal;
            letter-spacing: .1px;
            line-height: 1.14;
            text-align: center;
          }
        }
      }
    }
  }

  .submit {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);

    input {
      background: none;
      border: none;
      box-shadow: none;
      color: $color-blue;
      cursor: pointer;
      font-size: 16px;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .2px;
      line-height: 1.13;
      text-align: right;
    }
  }
}

.progress {
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 6px;
  transition: width .6s ease;
}

.progress-bar {
  background-color: $color-blue;
  height: 100%;
}

main {
  width: 100%;
}

.hero {
  .hero_text {
    color: var(--color-base);
    font-size: 18px;
    font-weight: normal;
    letter-spacing: .2px;
    line-height: 1.44;
  }
}

#application-form {
  h2 {
    &.head-label {
      color: var(--color-base);
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .2px;
    }

    &.head-label_big {
      font-size: 36px;
      line-height: 1.44;
      margin-bottom: 25px;
    }

    &.head-label_medium {
      font-size: 24px;
      line-height: 1.17;
    }

    &.head-label_small {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.13;
    }
  }

  .form-control.btn {
    font-size: 16px;
    @include responsive-prop(700, 800, font-weight);
    line-height: 1.13;
    letter-spacing: .2px;
    text-align: center;
    padding: 15px 45px;
    border-radius: 3px;
    box-shadow: none;
    margin-top: 25px;
    margin-right: 8px;
    border: none;
    width: auto;

    @extend %btn, .btn-md;

    &.next {
      background-color: $color-blue;
      color: var(--color-neutral-0);
      border: 0;
      margin-right: 0;

      &:hover {
        background-color: $steelblue_1c81bb;
        color: var(--color-neutral-0);
      }
    }

    &.back {
      background-color: var(--color-neutral-2);
      color: var(--color-neutral-6);
      border: 0;

      &:hover {
        background-color: gainsboro;
        color: var(--color-neutral-0);
      }
    }

    &:focus {
      outline: none;
    }
  }
}

.username-fields {
  input[type=text] {
    width: 48% !important;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.inline-2 {
  input[type=text] {
    width: 48% !important;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.inline-3 {
  input {
    width: 32%;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }
}

#application-form {
  input[type=number],
  input[type=text] {
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .1px;
    color: var(--color-base);

    &.form-control {
      border-bottom: 2px solid var(--color-neutral-2);
      padding: 16px 0;
      line-height: 1.17;
    }

    &:last-child {
      margin: 0;
    }

    &:focus {
      border-bottom: 2px solid $color-green-100;
      box-shadow: none;
      outline: 0;
      text-shadow: none;
    }

    &.amount {
      border: 0;
      color: $color-green-100;
      font-size: 14px;
      @include responsive-prop(700, 800, font-weight);
      max-width: 16px;
      padding: 0;
      text-align: center;
    }
  }

  input[type=email] {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color-neutral-2);
    box-shadow: none;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: .1px;
    color: var(--color-base);

    &:last-child {
      margin: 0;
    }

    &:focus {
      border-bottom: 2px solid $color-green-100;
      box-shadow: none;
      outline: 0;
      text-shadow: none;
    }
  }

  input[type=tel] {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color-neutral-2);
    box-shadow: none;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: .1px;
    color: var(--color-base);

    &:last-child {
      margin: 0;
    }

    &:focus {
      border-bottom: 2px solid $color-green-100;
      box-shadow: none;
      outline: 0;
      text-shadow: none;
    }

    &.phone-num {
      margin-left: 16px;
      min-width: calc(100% - 255px);
      width: auto;
    }
  }

  input[type=password] {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color-neutral-2);
    box-shadow: none;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: .1px;
    color: var(--color-base);

    &:last-child {
      margin: 0;
    }

    &:focus {
      border-bottom: 2px solid $color-green-100;
      box-shadow: none;
      outline: 0;
      text-shadow: none;
    }
  }

  input[name=linkedin] {
    width: auto;
    color: $color-green-100;
    line-height: 1.17;
    letter-spacing: .1px;

    &:focus {
      border-bottom: 2px solid var(--color-neutral-2);
      box-shadow: none;
      color: $color-green-100;
      outline: 0;
      text-shadow: none;
    }

    @include placeholder {
      color: var(--color-neutral-4);
    }
  }

  input {
    &.error {
      border: 2px solid $color-red !important;
    }
  }

  #edit-account {
    .form-item {
      margin-bottom: 15px;
    }
  }

  .field--name-field-country {
    margin-bottom: 0;
  }
}

fieldset.error {
  .form-type-radio,
  .form-type-checkbox {
    border-color: $color-red;
  }
}

.form-item--error-message {
  display: block !important;
}

form {
  select.error + .select2 .select2-selection {
    border: 2px solid $color-red !important;
  }

  .select2-container--bootstrap4 {
    .select2-selection__clear {
      margin-top: 0.8em;
    }

    .select2-selection--multiple,
    .select2-selection--single {
      min-height: 48px !important;

      .select2-selection__rendered {
        line-height: 48px !important;
      }
    }

    .select2-selection--multiple {
      .select2-search__field {
        line-height: 48px !important;
        margin-top: 0;
      }

      .select2-selection__clear {
        margin-top: 18px;
        margin-right: -5px;
        z-index: 1;
        position: relative;
      }
    }
  }

  .select2-container .select2-search--inline {
    float: none;
  }
}

@include media('>=tablet') {
  #application-form {
    .form-control.btn {
      margin-top: 64px;
    }
  }
}

.pre-link {
  border-bottom: 2px solid var(--color-neutral-2);
  box-shadow: none;
  font-size: 24px;
  padding: 16px 0;
}

input[type=checkbox] {
  height: 0;
  margin: 0 0 0 24px;
  opacity: 0;
  width: 0;
}

input[type=radio] {
  height: 0;
  margin: 0 0 0 24px;
  opacity: 0;
  width: 0;
}

.options {
  margin-bottom: 24px;
}

.ui-slider {
  background-color: $color-green-100;
}

#slider-range {
  &.ui-slider {
    background-color: var(--color-neutral-2);
  }

  .ui-slider-range {
    background-color: $color-green-100;
  }
}

.ui-slider-range {
  background-color: var(--color-neutral-2);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ui-slider-handle {
  &.ui-corner-all {
    background-color: var(--color-neutral-0);
    border: solid 1px var(--color-neutral-4);
    border-radius: 100%;
    height: 24px;
    margin-left: -12px;
    margin-top: -4px;
    outline: none;
    width: 24px;
    z-index: 1001;
  }
}

.ui-widget-content {
  .ui-state-active {
    &.ui-slider-handle {
      &:focus {
        background-color: var(--color-neutral-0);
        border: solid 1px var(--color-neutral-4);
        border-radius: 100%;
        height: 24px;
        margin-left: -12px;
        margin-top: -4px;
        outline: none;
        width: 24px;
        z-index: 1001;
      }
    }
  }
}

.ui-widget {
  &.ui-widget-content {
    border: none;
    border-radius: 4px;
    height: 8px;
    margin-top: 5px;
  }
}

.counter_title {
  color: var(--color-neutral-8) !important;
  font-size: 18px;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.11;
}

.counter_description {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: .2px;
  color: var(--color-neutral-7);

  label {
    font-weight: 400;
    margin-bottom: 0;
  }

  span {
    font-weight: 400;
    margin-bottom: 0;
  }
}

.industry-block_slide-counter {
  border-bottom: 1px solid var(--color-neutral-4);
  display: inline-block;
  padding: 24px 0;
  width: 100%;
}

.counter_text {
  padding-left: 0;
}

.ui-slider-pips {
  .ui-slider-line {
    background: var(--color-neutral-4) !important;
    height: 8px;
    left: 50%;
    position: absolute;
    top: -20px;
    width: 2px;
    z-index: 999;
  }

  .ui-slider-label {
    p {
      display: inline-block;
      font-size: 14px;
      @include responsive-prop(700, 800, font-weight);
      line-height: 1.14;
      letter-spacing: .2px;
      text-align: center;
      color: var(--color-base);

      &:nth-child(2) {
        left: -50%;
        position: relative;
      }

      &:nth-child(3) {
        left: -50%;
        position: relative;
      }
    }

    span {
      white-space: nowrap;
      font-size: 12px;
      color: var(--color-neutral-7);
      letter-spacing: .1px;
      left: -165%;
      position: relative;

      &:hover {
        font-weight: normal;
      }
    }
  }

  &:not(.ui-slider-disabled) {
    .ui-slider-pip {
      &:hover {
        .ui-slider-label {
          span {
            color: var(--color-neutral-7);
            font-weight: normal;
          }
        }
      }
    }
  }

  [class*=ui-slider-pip-selected] {
    color: var(--color-neutral-6);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.17;
    text-align: center;
  }

  [class*=ui-slider-pip-initial] {
    color: var(--color-neutral-6);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.17;
    text-align: center;
  }

  .ui-slider-pip {
    color: var(--color-neutral-6);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.17;
    text-align: center;
  }
}

.longer-line {
  &:before {
    background-color: $color-green-100;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    content: "";
    height: 8px;
    left: -12px;
    position: absolute;
    width: 12px;
  }

  &:after {
    background-color: var(--color-neutral-2);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    content: "";
    height: 8px;
    position: absolute;
    right: -12px;
    width: 12px;
  }
}

.amount_value {
  input[type=text] {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.14;
    letter-spacing: .2px;
    text-align: center;
    color: var(--color-base);
    border-radius: 2px;
    border: solid 1px var(--color-neutral-4);
    display: inline-block;
    width: auto;
    padding: 16px 18px;

    &:focus {
      outline: none;
    }
  }
}

.inline-1 {
  .form-type-radio {
    max-width: none;
  }

  .form-type-checkbox {
    max-width: none;
  }
}

.form-type-checkbox {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 62px;
  border-radius: 3px;
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-3);
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
  padding-left: 15px;

  &:hover {
    border: solid 1px $color-green-100;
    box-shadow: 0 0 0 1px $color-green-100;
  }

  label.option {
    position: absolute;
    width: 87%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 400 !important;
    letter-spacing: .2px;
    color: var(--color-neutral-8) !important;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.form-type-radio {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 62px;
  border-radius: 3px;
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-3);
  float: left;
  margin-top: 0.4em;
  margin-right: 16px;
  margin-bottom: 16px;
  padding-left: 15px;

  & + .form-type-radio {
    margin-top: 0.4em;
  }

  &:hover {
    border: solid 1px $color-green-100;
    box-shadow: 0 0 0 1px $color-green-100;
  }

  label {
    position: absolute;
    width: 87%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 400 !important;
    letter-spacing: .2px;
    color: var(--color-neutral-8) !important;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  br {
    display: none;
  }
}

fieldset[data-drupal-selector="edit-field-job-search-status"],
.default-snippets {
  &.fullwidth {
    .form-type-checkbox {
      max-width: 100%;
    }

    .form-type-radio {
      max-width: 100%;
    }
  }
}

.field--type-datetime {
  legend {
    font-size: 16px;
    font-weight: 400 !important;
  }
}

.field--name-field-started-working-month-year {
  .fieldset-wrapper .form-item {
    @include media('>=tablet') {
      width: calc(50% - 15px);
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.form-item .description {
  font-size: 12px;
}

@include media('<tablet') {
  .hero {
    .hero_text {
      font-size: 16px;
    }
  }

  #application-form {
    margin-bottom: 30px;

    h2 {
      &.head-label_big {
        font-size: 26px;
      }
    }

    input[type=submit] {
      &.action {
        width: calc(50% - 8px);
        padding: 15px 0;

        &.back {
          margin-right: 8px;
        }
      }
    }

    .finish {
      input[type=submit] {
        &.action {
          &.next {
            margin-right: 8px;
          }

          &.back {
            margin-right: 0;
          }
        }
      }
    }

    input[type=text] {
      font-size: 20px;
    }

    input[type=email] {
      font-size: 20px;
    }

    input[type=tel] {
      font-size: 20px;
    }

    input[type=password] {
      font-size: 20px;
    }
  }

  .step {
    &.vertical-position_top-20vh {
      margin: 30px 0;
    }

    &.vertical-position_top-10vh {
      margin: 30px 0;
    }

    &.vertical-position_top-5vh {
      margin: 30px 0;
    }
  }

  .vertical-align {
    padding: 0 15px;
  }

  .btn {
    margin: 0;
  }

  .pre-link {
    font-size: 20px;
  }

  .job-checkboxes {
    .job-checkbox {
      width: 100%;
      margin: 0 0 20px;

      label {
        span {
          &.job-checkbox_img {
            left: 50%;
            transform: translateX(-26px);
            width: 100%;
          }
        }
      }
    }
  }

  input[type=radio] {
    &:checked {
      + label {
        > span {
          &.job-checkbox_img {
            &:before {
              right: 50%;
              transform: translateX(13px);
            }
          }
        }
      }
    }
  }

  #admin-menu {
    display: none;
  }

  html {
    body {
      &.admin-menu {
        margin: 0 !important;
      }
    }
  }

  .elements {
    .form-item {
      label {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }
}

@include media('>=desktop') {
  fieldset[data-drupal-selector="edit-field-job-search-status"] {
    .form-type-radio {
      max-width: calc(50% - 16px);
    }
  }
}

.step {
  &.vertical-position_top-20vh {
    margin-top: 20vh;
  }

  &.vertical-position_top-10vh {
    margin-top: 10vh;
  }

  &.vertical-position_top-5vh {
    margin-top: 5vh;
  }

  &.current-pol {
    > div:not(.hero) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form-item {
  label {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.elements {
  .form-item {
    label {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .col-md-20 {
    > .vertical-align {
      padding: 0;
    }
  }
}

.vertical-align {
  padding: 0;
}

@include media('>=large-desktop') {
  .vertical-align {
    padding: 0 100px;
  }
}

@include media('>=tablet', '<desktop') {
  input[type=radio] {
    &:checked {
      + label {
        > span {
          &.job-checkbox_img {
            &:before {
              right: -49px;
            }
          }
        }
      }
    }
  }

  .default-snippets {
    .form-type-checkbox {
      max-width: 260px;
    }

    .form-type-radio {
      max-width: 260px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include media('<desktop') {
  header {
    .logo {
      left: 20px;
      padding: 15px 0;
      position: relative;
      top: 0;
      transform: translateX(0);
    }
  }
}
