.color-monkey-blue {
  color: #0a4059
}
.color-oasis-blue {
  color: #189eda
}
.color-link-blue-100 {
  color: #087dfd
}
.color-link-blue-dark {
  color: #0c6ad0
}
.color-link-blue-darker {
  color: #085ebd
}
.color-link-blue-50 {
  color: rgba(8, 125, 253, .5)
}
.color-link-blue-15 {
  color: rgba(8, 125, 253, .15)
}
.color-link-blue-10 {
  color: rgba(8, 125, 253, .1)
}
.color-monkey-grey {
  color: #9db2bc
}
.color-light-oasis {
  color: #b7e1f3
}
.color-blush-grey {
  color: #f5f7f8
}
.color-green {
  color: #08c42a
}
.color-yellow {
  color: #f5b226
}
.color-red {
  color: #f04944
}
.color-dark-100 {
  color: #2f2f2f
}
.color-dark-70 {
  color: rgba(47, 47, 47, .7)
}
.color-dark-50 {
  color: rgba(47, 47, 47, .5)
}
.color-dark-30 {
  color: rgba(47, 47, 47, .3)
}
.color-dark-10 {
  color: rgba(47, 47, 47, .1)
}
.color-white-100 {
  color: #fff
}
.color-white-70 {
  color: rgba(255, 255, 255, .7)
}
.color-white-50 {
  color: rgba(255, 255, 255, .5)
}
.color-white-30 {
  color: rgba(255, 255, 255, .3)
}
.color-white-10 {
  color: rgba(255, 255, 255, .1)
}
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-content: center;
  align-items: center;
  padding: 15px;
  justify-content: center;
  background: var(--color-neutral-0);
  box-shadow: 0 2px 12px 3px rgba(218, 218, 218, .25);
  border-radius: 3px;
  border: solid 1px var(--color-neutral-3)
}
.show-scroll2top-button #scroll-to-top {
  display: inline-flex
}
.new-landing__redesign #scroll-to-top {
  width: 48px;
  height: 38px;
  z-index: 100;
  color: rgba(47, 47, 47, .3);
  border: 1px solid #9db2bc;
  border-radius: 6px
}
@media (min-width: 768px) {
  .new-landing__redesign #scroll-to-top {
    display: none
  }
}
@media (max-width: 991px) {
  #scroll-to-top {
    right: 10px;
    padding: 10px
  }
  .show-bottom-panel #scroll-to-top {
    bottom: 90px
  }
  .node-type-blog.show-bottom-panel #scroll-to-top,
  .node-type-forum.show-bottom-panel #scroll-to-top,
  .page-forum.show-bottom-panel #scroll-to-top {
    bottom: 130px
  }
}
/*# sourceMappingURL=scroll-to-top.component.css.map */
