@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/colors.component';

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-content: center;
  align-items: center;
  padding: 15px;
  justify-content: center;
  background: var(--color-neutral-0);
  box-shadow: 0 2px 12px 3px rgba(218, 218, 218, 0.25);
  border-radius: 3px;
  border: solid 1px var(--color-neutral-3);

  @include media('<desktop') {
    right: 10px;
    padding: 10px;

    .show-bottom-panel & {
      bottom: 90px;
    }
  }

  .show-scroll2top-button & {
    display: inline-flex;
  }
}

.node-type-forum,
.page-forum,
.node-type-blog {
  &.show-bottom-panel {
    #scroll-to-top {
      @include media('<desktop') {
        bottom: 130px;
      }
    }
  }
}

.new-landing__redesign {
  #scroll-to-top {
    width: 48px;
    height: 38px;
    z-index: 100;
    color: $color-dark-30;
    border: 1px solid $color-monkey-grey;
    border-radius: 6px;

    @include media('>=tablet') {
      display: none;
    }
  }
}
