@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.block-poll {
  .poll {
    border-top: 2px solid var(--color-neutral-2);
    padding: 20px 24px;

    .vote-form {
      width: 100%;

      .choices {
        display: inline-block;
        max-width: 100%;
        width: 100%;
      }

      .form-radios {
        background-color: var(--color-neutral-0);
        border: solid 1px var(--color-neutral-2);
        border-radius: 3px;
        display: inline-block;
        margin-top: 16px;
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

.region-sidebar-right {
  .block {
    &.block-poll {
      .box-content {
        ul {
          border: none;
          padding: 0;
        }
      }
    }

    &.block-monkeyhead-block {
      .box-content {
        padding: 20px;
      }
    }
  }
}

.block {
  &.block-poll {
    .poll {
      .form-checkboxes {
        .form-item {
          background-color: $color-blue;
          background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
          background-repeat: no-repeat;
          background-size: contain;
          border: 1px solid $color-blue;
          border-bottom: 1px solid var(--color-neutral-2);
          border-radius: 50%;
          color: var(--color-base);
          content: " ";
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          font-weight: normal !important;
          height: 8px;
          left: 4px;
          line-height: 48px;
          margin: 0;
          margin-bottom: 0;
          margin-left: -17px;
          margin-right: 5px;
          min-height: 20px;
          opacity: 0;
          overflow: visible;
          overflow-x: hidden;
          padding-left: 17px;
          position: absolute;
          text-overflow: ellipsis;
          top: 21px;
          transition: transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
          white-space: nowrap;
          width: 8px;
          //z-index: 9999;
        }
      }

      .title {
        font-size: 18px;
        @include responsive-prop(700, 800, font-weight);
        line-height: 1.56;
        letter-spacing: .1px;
        color: var(--color-base);

        &:before {
          color: $color-green-100;
          content: "Q:";
          font-size: 14px;
          @include responsive-prop(700, 800, font-weight);
          letter-spacing: .1px;
          line-height: 1.56;
          padding-right: 10px;
        }
      }

      .vote-form {
        .form-submit {
          float: left;
          width: calc(50% - 2.5px);
        }

        .wso-btn-see-res {
          float: right;
          width: calc(50% - 2.5px);
        }

        .poll-vote {
          font-weight: 500;
          line-height: 18px;
          font-size: 16px;
          display: inline-block;
          border-color: $color-green-100;
          color: var(--color-neutral-0);
          background-color: $color-green-100;

          &:hover {
            background-color: $color-pop-green;
            border-color: $color-pop-green;
            color: var(--color-neutral-0);
          }
        }
      }

      .wso-vote-status {
        color: var(--color-neutral-7);
        font-size: 13px;
        letter-spacing: .1px;
        text-align: center;
      }
    }
  }
}

.form-radios {
  .form-item-choice {
    margin: 0;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid var(--color-neutral-2);

    &:last-child {
      border: none;
    }

    input {
      opacity: 0;
      margin: 0;
      height: 0;

      &:checked {
        + label {
          &:before {
            -moz-transition: -moz-transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
            -o-transition: -o-transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
            -webkit-transition: -webkit-transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
            background-color: $color-blue;
            border: 1px solid $color-blue;
            border-radius: 50%;
            content: " ";
            display: inline-block;
            font-size: 12px;
            height: 16px;
            margin-left: -17px;
            margin-right: 5px;
            position: relative;
            transition: transform .1s cubic-bezier(.8, -0.33, .2, 1.33);
            width: 16px;
          }

          &:after {
            background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
            background-repeat: no-repeat;
            background-size: contain;
            content: " ";
            height: 8px;
            left: 4px;
            position: absolute;
            top: 21px;
            width: 8px;
            //z-index: 9999;
          }
        }
      }
    }

    label {
      color: var(--color-base);
      font-weight: normal !important;
      position: relative;
      min-height: 20px;
      padding-left: 17px;
      margin-bottom: 0;
      cursor: pointer;
      width: 87%;
      display: inline-block;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;

      &:before {
        -o-transition: border .15s ease-in-out;
        -webkit-transition: border .15s ease-in-out;
        background-color: var(--color-neutral-0);
        border: 1px solid var(--color-neutral-4);
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 16px;
        left: 0;
        margin-left: -17px;
        margin-right: 5px;
        overflow: visible;
        position: relative;
        top: 3px;
        transition: border .15s ease-in-out;
        width: 16px;
      }
    }
    margin-bottom: 0;
  }
}

.wso-sidebar-right {
  .block {
    a {
      &.wso-btn-see-res {
        color: $color-green-100;

        &:hover {
          color: $color-pop-green;
        }
      }
    }
  }
}

.poll {
  .wso-poll-results {
    margin-top: 16px;

    .poll-result {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 16px;
      }
    }

    .bar {
      position: relative;
      height: 48px;
      border-radius: 24px;
      background-color: var(--color-neutral-2);
      width: 100%;
      min-width: 100%;
      margin: 0;

      .text {
        float: left;
        line-height: 48px;
        overflow: hidden;
        padding-left: 24px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 75%;
        z-index: 2;
      }

      .percent {
        float: right;
        line-height: 48px;
        padding-right: 24px;
        position: relative;
        z-index: 2;
      }

      .foreground {
        background-color: var(--color-neutral-4);
        border-radius: 24px;
        color: var(--color-neutral-0);
        height: 100%;
        position: absolute;
        width: 100%;
      }

      &.top {
        .foreground {
          background-color: $color-blue;
        }

        .text {
          color: var(--color-neutral-0);
        }

        .percent {
          color: $color-blue;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .poll {
    .wso-poll-results {
      .bar {
        .text {
          width: 72%;
        }
      }
    }
  }
}
