.paragraphs-item-two-columns {
  //@include rich-text();
  /* autoprefixer: ignore next */
  page-break-inside: avoid;

  .print-version & {
    .row {
      &:before,
      &:after {
        display: table;
        content: " ";
      }

      &:after {
        clear: both;
      }
    }

    .column {
      position: relative;
      min-height: 1px;
      float: left;

      > .field {
        padding-right: 15px;
        padding-left: 15px;
      }

      &.col-first {
        > .field {
          padding-left: 0;
        }
      }

      &.col-last {
        > .field {
          padding-right: 0;
        }
      }
    }

    .col-md-6 {
      width: calc(100% / 24 * 6);
    }

    .col-md-8 {
      width: calc(100% / 24 * 8);
    }

    .col-md-9 {
      width: calc(100% / 24 * 9);
    }

    .col-md-10 {
      width: calc(100% / 24 * 10);
    }

    .col-md-11 {
      width: calc(100% / 24 * 11);
    }

    .col-md-12 {
      width: calc(100% / 24 * 12);
    }

    .col-md-13 {
      width: calc(100% / 24 * 13);
    }

    .col-md-14 {
      width: calc(100% / 24 * 14);
    }

    .col-md-15 {
      width: calc(100% / 24 * 15);
    }

    .col-md-16 {
      width: calc(100% / 24 * 16);
    }

    .col-md-18 {
      width: calc(100% / 24 * 18);
    }
  }
}



