@import "./components/common-styles/helpers/mixins";

.paragraphs-item-two-columns {
  padding: 0 15px;

  ul {
    @media (min-width: 992px) {
      column-count: 1 !important;
      column-gap: 0;
    }
  }

  .content {
    padding: 0 !important;
  }

  @media (min-width: 992px) {
    .paragraph--type--wso-paragraph-image {
      img {
        width: 100% !important;
      }

      &.w-auto {
        img {
          width: auto !important;
        }
      }
    }
  }

  .row {
    .column {
      @media (max-width: 767px) {
        padding: 0;

        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }
}
