.paragraphs-item-two-columns {
  padding: 0 15px
}
.paragraphs-item-two-columns .content {
  padding: 0!important
}
@media (min-width: 992px) {
  .paragraphs-item-two-columns ul {
    column-count: 1!important;
    column-gap: 0
  }
  .paragraphs-item-two-columns .paragraph--type--wso-paragraph-image img {
    width: 100%!important
  }
  .paragraphs-item-two-columns .paragraph--type--wso-paragraph-image.w-auto img {
    width: auto!important
  }
}
@media (max-width: 767px) {
  .paragraphs-item-two-columns .row .column {
    padding: 0
  }
  .paragraphs-item-two-columns .row .column:first-child {
    margin-bottom: 15px
  }
}
/*# sourceMappingURL=paragraph.two-columns.component.css.map */
