.paragraphs-item-two-columns {
  page-break-inside: avoid
}
.print-version .paragraphs-item-two-columns .row:after,
.print-version .paragraphs-item-two-columns .row:before {
  display: table;
  content: " "
}
.print-version .paragraphs-item-two-columns .row:after {
  clear: both
}
.print-version .paragraphs-item-two-columns .column {
  position: relative;
  min-height: 1px;
  float: left
}
.print-version .paragraphs-item-two-columns .column > .field {
  padding-right: 15px;
  padding-left: 15px
}
.print-version .paragraphs-item-two-columns .column.col-first > .field {
  padding-left: 0
}
.print-version .paragraphs-item-two-columns .column.col-last > .field {
  padding-right: 0
}
.print-version .paragraphs-item-two-columns .col-md-6 {
  width: 25%
}
.print-version .paragraphs-item-two-columns .col-md-8 {
  width: 33.3333333333%
}
.print-version .paragraphs-item-two-columns .col-md-9 {
  width: 37.5%
}
.print-version .paragraphs-item-two-columns .col-md-10 {
  width: 41.6666666667%
}
.print-version .paragraphs-item-two-columns .col-md-11 {
  width: 45.8333333333%
}
.print-version .paragraphs-item-two-columns .col-md-12 {
  width: 50%
}
.print-version .paragraphs-item-two-columns .col-md-13 {
  width: 54.1666666667%
}
.print-version .paragraphs-item-two-columns .col-md-14 {
  width: 58.3333333333%
}
.print-version .paragraphs-item-two-columns .col-md-15 {
  width: 62.5%
}
.print-version .paragraphs-item-two-columns .col-md-16 {
  width: 66.6666666667%
}
.print-version .paragraphs-item-two-columns .col-md-18 {
  width: 75%
}
/*# sourceMappingURL=paragraph.two-columns--print.component.css.map */
