{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set view_mode = view_mode ? 'paragraph--view-mode--' ~ view_mode %}
{% set isPublished = not isPublished ? 'paragraph--unpublished' %}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ bundle,
    'paragraph',
    'paragraph--type--' ~ bundle,
    view_mode,
    isPublished
  ]
%}

{% if grid == '25' %}
  {% set first_column_class = 'col-md-6' %}
  {% set second_column_class = 'col-md-18' %}
{% elseif grid == '33' %}
  {% set first_column_class = 'col-md-8' %}
  {% set second_column_class = 'col-md-16' %}
{% elseif grid == '37.5' %}
  {% set first_column_class = 'col-md-9' %}
  {% set second_column_class = 'col-md-15' %}
{% elseif grid == '41.6' %}
  {% set first_column_class = 'col-md-10' %}
  {% set second_column_class = 'col-md-14' %}
{% elseif grid == '45.8' %}
  {% set first_column_class = 'col-md-11' %}
  {% set second_column_class = 'col-md-13' %}
{% elseif grid == '50' %}
  {% set first_column_class = 'col-md-12' %}
  {% set second_column_class = 'col-md-12' %}
{% elseif grid == '54.2' %}
  {% set first_column_class = 'col-md-13' %}
  {% set second_column_class = 'col-md-11' %}
{% elseif grid == '58.3' %}
  {% set first_column_class = 'col-md-14' %}
  {% set second_column_class = 'col-md-10' %}
{% elseif grid == '62.5' %}
  {% set first_column_class = 'col-md-15' %}
  {% set second_column_class = 'col-md-9' %}
{% elseif grid == '66' %}
  {% set first_column_class = 'col-md-16' %}
  {% set second_column_class = 'col-md-8' %}
{% elseif grid == '75' %}
  {% set first_column_class = 'col-md-18' %}
  {% set second_column_class = 'col-md-6' %}
{% else %}
  {% set first_column_class = '' %}
  {% set second_column_class = '' %}
{% endif %}

{{ attach_library('porto_sub/paragraph.two-columns.component') }}
{{ attach_library('porto_sub/paragraph.two-columns--print.component') }}
{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ paragraph_title }}
      <div class="content row">
        {% if reverse_order %}
        <div class="column p-l-0 col-first col-sm-24 {{ second_column_class }} {{ second_column_gap_classes }}">
          {{ wso_paragraphs }}
        </div>
        <div class="column p-r-0 col-last col-sm-24 {{ first_column_class }} {{ first_column_gap_classes }}">
          {{ wsop_paragraphs_in_block }}
        </div>
        {% else %}
        <div class="column p-l-0 col-first col-sm-24 {{ first_column_class }} {{ first_column_gap_classes }}">
          {{ wsop_paragraphs_in_block }}
        </div>
        <div class="column p-r-0 col-last col-sm-24 {{ second_column_class }} {{ second_column_gap_classes }}">
          {{ wso_paragraphs }}
        </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
