<div class="authority__block authority__block_head">
  <div class="d-md-flex align-items-center">
    <div class="d-flex mb-3 mb-md-0 me-md-4 align-items-center">
      <div class="authority__part_left">
        {% if picture %}
          <img loading="lazy" src="{{ picture }}" alt="{{ authority_name }}" title="{{ authority_name }}" />
        {% endif %}
      </div>
      <div class="authority__part_right d-flex flex-column">
        <p class="authority__label">{{ 'Reviewed by'|t }}</p>
        {{ authority_name_link }}
        {#{{ editorial_board_link }}#}
        {% if expertise %}
          <p class="authority-expertize__block">
            <span class="authority-expertize__title">{{ 'Expertise:'|t }}</span>
            <span class="authority-expertize__label">{{ expertise }}</span>
          </p>
        {% endif %}
      </div>
    </div>

    <div>
      <p><b>{{ 'Updated'|t }}:</b></p>
      {{ updated }}
    </div>
  </div>
</div>
