<div class="authority__block authority__block_foot d-flex align-items-center">
  <div class="authority__part_left">
    {% if picture %}
      <img loading="lazy" src="{{ picture }}" alt="{{ authority_name }}" title="{{ authority_name }}" />
    {% endif %}
  </div>
  <div class="authority__part_right">
    <p class="authority__text">
      {{ bio }}
    </p>
  </div>
</div>
