{#
/**
* @file
* Theme override to display a node.
*
* Available variables:
* - node: The node entity with limited access to object properties and methods.
Only "getter" methods (method names starting with "get", "has", or "is")
and a few common methods such as "id" and "label" are available. Calling
other methods (such as node.delete) will result in an exception.
* - label: (optional) The title of the node.
* - content: All node items. Use {{ content }} to print them all,
* or print a subset such as {{ content.field_example }}. Use
* {{ content|without('field_example') }} to temporarily suppress the printing
* of a given child element.
* - author_picture: The node author user entity, rendered using the "compact"
* view mode.
* - metadata: Metadata for this node.
* - date: (optional) Themed creation date field.
* - author_name: (optional) Themed author name field.
* - url: Direct URL of the current node.
* - display_submitted: Whether submission information should be displayed.
* - attributes: HTML attributes for the containing element.
* The attributes.class element may contain one or more of the following
* classes:
* - node: The current template type (also known as a "theming hook").
* - node--type-[type]: The current node type. For example, if the node is an
* "Article" it would result in "node--type-article". Note that the machine
* name will often be in a short form of the human readable label.
* - node--view-mode-[view_mode]: The View Mode of the node; for example, a
* teaser would result in: "node--view-mode-teaser", and
* full: "node--view-mode-full".
* The following are controlled through the node publishing options.
* - node--promoted: Appears on nodes promoted to the front page.
* - node--sticky: Appears on nodes ordered above other non-sticky nodes in
* teaser listings.
* - node--unpublished: Appears on unpublished nodes visible only to site
* admins.
* - title_attributes: Same as attributes, except applied to the main title
* tag that appears in the template.
* - content_attributes: Same as attributes, except applied to the main
* content tag that appears in the template.
* - author_attributes: Same as attributes, except applied to the author of
* the node tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
* displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
* displayed after the main title tag that appears in the template.
* - view_mode: View mode; for example, "teaser" or "full".
* - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
* - page: Flag for the full page state. Will be true if view_mode is 'full'.
* - readmore: Flag for more state. Will be true if the teaser content of the
* node cannot hold the main body content.
* - logged_in: Flag for authenticated user status. Will be true when the
* current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
* is an administrator.
*
* @ingroup templates
*
* @see template_preprocess_node()
*
* @todo Remove the id attribute (or make it a class), because if that gets
* rendered twice on a page this is invalid CSS for example: two lists
* in different view modes.
*/
#}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class,
    'well'
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="interview-flashcard-item-container">
    <div class="col-sm-23 col-xl-12 pb-4 m-auto">
      <div class="d-block card js-card">
        {% if content.field_questions_topics['#items'] %}
          {% set details = content.field_questions_topics %}
        {% endif %}

        <div class="card__wrapper">
          {# Front side of the card. #}
          <div class="card__side card__side--front is-active">
            <div class="card__main">
              <div class="company-interview-data">
                {% if label %}
                  <div class="label__wrapper question_label__wrapper align-items-center d-flex flex-wrap justify-content-between pb-2 pt-2 p-4">
                    <div class="label__data bold"> {{ 'Question'|t }} </div>
                    <div class="flip__button d-flex align-items-center justify-content-center"><i class="fa fa-arrows-double"></i></div>
                  </div>
                {% endif %}

                <div class="p-4 card__content">
                  {% if label %}
                    <div class="header__wrapper col-md-16 col-sm-auto d-flex flex-row justify-content-between h5">
                      <div class="title__wrapper">
                        {# Build the details for the flashcard. #}
                        <div class="topic__position__title">
                          {% if content.field_questions_topics['#items'] %}
                            {{ content.field_questions_topics }}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  <div class="interview-flashcard-question pb-2" title="{{ 'Click to turn the card and see the answer.'|t }}">
                    {{ content.field_interviewquestions }}
                  </div>

                  <div class="interview-flashcard-vote flashcard-vote-front col-sm-auto col-md-8 pt-2">
                    {{ content.field_vote }}
                  </div>
                </div>

                <div class="footer__wrapper d-flex flex-row justify-content-between flex-wrap p-4">
                  <div class="logo__wrapper col-24 col-md-8">
                    <img loading="eager"
                         src="{{ company_logo }}"
                         title="{{ description }}"
                         alt="{{ 'Company Logo'|t }}"
                         class="logo-img"
                         width="auto"
                         height="45">
                  </div>

                  <div class="group-division-location__wrapper col-24 col-md-16">
                    {% if group_division == 'NA' %}
                      {% set group_division = null %}
                    {% endif %}

                    <div class="position group-division">
                      {% if position and group_division %}
                        {{ [position, group_division]|join(' | ') }}
                      {% else %}
                        {{ position }} {{ group_division }}
                      {% endif %}
                    </div>

                    {% if location %}
                      <div class="location">{{ location }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="actions d-flex flex-row view-content slick-initialized slick-slider d-flex justify-content-between mt-3">
              <div class="lesson-header__footer lesson-header__footer-back">
                <a class="flashcard-action flashcard-prev text-uppercase" rel="nofollow" data-direction="prev">
                  <i class="fa fa-long-arrow-left p-2" aria-hidden="true"></i> {{ 'Previous'|t }}
                </a>
              </div>

              <div class="flashcard-description">
                {{ 'Click the card to flip flashcard over'|t }}
              </div>

              <div class="lesson-header__footer lesson-header__footer-next">
                <a class="flashcard-action flashcard-next text-uppercase" rel="nofollow" data-direction="next">
                  {{ 'Next'|t }} <i class="fa fa-long-arrow-right p-2" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          {# Back side of the card. #}
          <div class="card__side card__side--back">
            <div class="card__main">
              <div class="company-interview-data">
                {% if label %}
                  <div class="label__wrapper answer_label__wrapper align-items-center d-flex flex-wrap justify-content-between pb-2 pt-2 p-4">
                    <div class="label__data bold"> {{ 'Answer'|t }} </div>
                    <div class="flip__button d-flex align-items-center justify-content-center"><i class="fa fa-arrows-double"></i></div>
                  </div>
                {% endif %}

                <div class="p-4 card__content">
                  {% if label %}
                    <div class="header__wrapper col-md-16 col-sm-auto d-flex flex-row justify-content-between h5">
                      <div class="title__wrapper">
                        {# Build the details for the flashcard. #}
                        <div class="topic__position__title">
                          {% if content.field_questions_topics['#items'] %}
                            {{ content.field_questions_topics }}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  <div class="interview-flashcard-question pb-2 mb-3" title="{{ 'Click to turn the card over to see the question.'|t }}">
                    {{ content.field_iw_questions_how_answered }}
                  </div>

                  <div class="interview-flashcard-vote flashcard-vote-back col-sm-auto col-md-8 pt-2"></div>
                </div>

                <div class="footer__wrapper d-flex flex-row justify-content-between flex-wrap p-4">
                  <div class="logo__wrapper col-24 col-md-8">
                    <img loading="eager"
                         src="{{ company_logo }}"
                         title="{{ description }}"
                         alt="{{ 'Company Logo'|t }}"
                         class="logo-img"
                         width="auto"
                         height="45">
                  </div>

                  <div class="group-division-location__wrapper col-24 col-md-16">
                    {% if group_division == 'NA' %}
                      {% set group_division = null %}
                    {% endif %}

                    <div class="position group-division">
                      {% if position and group_division %}
                        {{ [position, group_division]|join(' | ') }}
                      {% else %}
                        {{ position }} {{ group_division }}
                      {% endif %}
                    </div>

                    {% if location %}
                      <div class="location">{{ location }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="actions d-flex flex-row view-content slick-initialized slick-slider d-flex justify-content-between mt-3">
              <div class="lesson-header__footer lesson-header__footer-back">
                <a class="flashcard-action flashcard-prev text-uppercase" rel="nofollow" data-direction="prev">
                  <i class="fa fa-long-arrow-left p-2" aria-hidden="true"></i> {{ 'Previous'|t }}
                </a>
              </div>

              <div class="flashcard-description">
                {{ 'Click the card to flip flashcard over'|t }}
              </div>

              <div class="lesson-header__footer lesson-header__footer-next">
                <a class="flashcard-action flashcard-next text-uppercase" rel="nofollow" data-direction="next">
                  {{ 'Next'|t }} <i class="fa fa-long-arrow-right p-2" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
