{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('content') }}>
    <div class="row">
      <div class="col-xs-24 col-sm-16 col-md-18 col-lg-17">
        <a href="/mentors/{{ nid }}">Public Profile</a>
        {% if is_admin %}
          <div class="well well-sm col-md-24">
            <div class="row">
              <div class="col-md-12"><div>{{ content.field_resume_reviewer_grade }}</div></div>
              <div class="col-md-12 "><div>{{ content.field_current_mentor_grade }}</div></div>
            </div>
          </div>
        {% endif %}
        <div class="well well-sm box-1 col-xs-24 col-sm-24 col-md-24 col-lg-24">
          <h4>Contact Info & Current Status</h4>
          <div class="row">
            <div class="col-xs-24 col-sm-12 col-md-14 col-lg-14">
              <!-- Start Left Column -->
              <div>{{ content.field_first_name }}</div>
              <div>{{ content.field_last_name }}</div>
              <div>{{ content.field_email }}</div>
              <div>{{ content.field_email_2 }}</div>
              <div>{{ content.field_phone }}</div>
              <div>{{ content.field_work_phone_number }}</div>
              <div>{{ content.field_linkedin_profile }}</div>
              <div>{{ content.field_sector_focus }}</div>
              <div>{{ content.field_resume_review }}</div>
              <div>{{ content.field_mentor_session }}</div>
              <div>{{ content.field_resume }}</div>
            </div>
            <!-- End Left Column -->
            <div class="col-xs-24 col-sm-12 col-md-10 col-lg-10">
              <!-- Start Right Column -->
              <div>{{ content.field_current_city }}</div>
              <div>{{ content.field_previous_city }}</div>
              <div>{{ content.field_past_firms }}</div>
              <div>{{ content.field_current_firm }}</div>
              <div>{{ content.field_current_industry }}</div>
              <div>{{ content.field_confirm_title }}</div>
              <div>{{ content.field_past_industries }}</div>
              <div>{{ content.field_past_titles }}</div>
            </div>
            <!-- End Right Column -->
          </div>

        </div>
        <!--  End Applicant Form -->
        <div class="well well-sm col-md-24">
          <div class="row">
            <div class="col-md-24">{{ content.field_other_skills }}</div>
            <div class="col-md-24">{{ content.field_active_jobs }}</div>
            <div class="col-md-24">{{ content.field_jobs_completed }}</div>
          </div>
        </div>
        <div class="well well-sm col-md-24">
          <div class="row">
            <div class="col-md-24">{{ content.field_mentor_completed_jobs }}</div>
          </div>
        </div>
        <div class="well well-sm col-md-24">
          <div class="row">
            <div class="col-md-24">{{ content.field_rejected_ignored_jobs }}</div>
          </div>
        </div>

        <!--  End LHS Form -->
      </div>
      <!-- .left-align -->
      <!--  START RHS Form -->
      <div class="well col-xs-24 col-sm-8 col-md-8 col-lg-7">
        <div class="col-md-24">
          <h4>Education</h4>
          <div class="">
            <div>{{ content.field_date_graduation_undergrad }}</div>
            <div>{{ content.field_entity_undergrad_school }}</div>
            <div>{{ content.field_date_of_graduation }}</div>
            <div>{{ content.field_entity_graduate_school }}</div>
            <div>{{ content.field_degree1 }}</div>
            <div>{{ content.field_certifications }}</div>
          </div>
          <!-- End Right Column -->
        </div>
        <!-- End of Education & Scores -->
      </div>

      <!-- .right-align -->
    </div>
  </div>

</article>
