{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class,
    'well'
  ]
%}

<article{{ attributes.addClass(classes) }}>

  <!-- Start HTML compensation-form  -->
  <div class="col-sm-24 block__section_separate-line block__section_separate-line_indents">
    <div class="row">
      <div class="col-sm-17">
        <div class="row d-block">
          <!--Title-->
          {% if label %}
            <div class="title__wrapper">
              <h1 class="position__title">{{ label }}</h1>
            </div>
          {% endif %}

          <!--Head part-->
          <div class="head__block">
            <div class="head__info col-xs-24">
              <div class="row">
                <div class="head__info_line">
                  <span class="info__label">{{ 'Status'|t }}:</span>
                  {{ content.field_confirm_title }} at {{ content.field_company }}
                </div>
              </div>
            </div>
            <div class="head__info head__industry-group col-xs-24">
              <div class="row">
                <div class="head__info_line">
                  <span class="info__label">{{ 'Group/Division/Type'|t }}: </span>
                  {{ content.field_groupdivision[0]|raw }}
                </div>
              </div>
            </div>
            <div class="head__info head__city-year col-xs-24">
              <div class="row">
                <div class="head__info_line head__info_vertical-line">
                  <span class="info__label info__label_location">{{ 'City'|t }}: </span>
                  <span class="location--inline">{{ content.field_address[0]|raw }}</span>
                </div>
                <div class="head__info_line">
                  <span class="info__label info__label_date">{{ 'Interviewed'|t }}: </span>
                  {{ content.field_monthofinterview[0]|raw }} {{ content.field_interviewyear[0]|raw }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="interview-mark__section">
            <div class="interview-expirience__block m-b-sm">
              <p class="item__title item__title_light">{{ 'Overall experience'|t }}</p>
              {% set value = content.field_interviewexperience[0]|raw  %}
              {% set class =  value|render|replace({' ': "-"}) %}
              <p class="item__mark label {{ class|lower }}">{{ value }}</p>
            </div>
            <div class="interview-expirience__block">
              <p class="item__title item__title_light">{{ 'Difficulty'|t }}</p>
              {% set value = content.field_interviewdifficulty[0]|raw  %}
              {% set class =  value|render|replace({' ': "-"}) %}
              <p class="item__mark label {{ class|lower }}">{{ value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--General Interview Information-->
  <div class="interview-info__block part__block">
    <p class="interview-info__title block__title block__title_icon block__title__icon">
      <i class="icon icon-ok-circled2" aria-hidden="true"></i>
      {{ 'General Interview Information '|t }}
    </p>
    <div class="row m-0 justify-content-between">
      <div class="interview-info__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title">{{ 'Outcome'|t }}</p>
        <div class="item__description">{{ content.field_interviewoutcome }}</div>
      </div>
      <div class="interview-info__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title">{{ 'Interview Source' |t }}</p>
        <div class="item__description item">{{ content.field_getinterview }}</div>
      </div>
      <div class="interview-info__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title">{{ 'Length of Process'|t }}</p>
        <div class="item__description">{{ content.field_interviewtime }}</div>
      </div>
    </div>
  </div>

  <!--Interview Details-->
  <div class="interview-info__block part__block block__section_separate-line">
    <p class="interview-info__title block__title block__title_icon block__title__icon">
      <i class="icon icon-comment-empty" aria-hidden="true"></i>
      {{ 'Interview Details'|t }}
    </p>

    <div class="interview-info__item item__block item__block_border col-xs-24 m-b-sm">
      {{ content.field_interviewtypes }}
    </div>
    <div class="interview-info__item item__block item__block_border col-xs-24 m-b-sm">
      {{ content.field_interviewdescription }}
    </div>

    <div class="interview-info__item item__block item__block_border col-xs-24 m-b-sm">
      {% if company_database_has_access %}
        {{ content.field_interviewquestions }}
      {% else %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#reportsModal" class="btn btn-success lock__link">
          <i class="icon icon-lock"></i>
          <span class="lock-add-node">{{ lock_text }}</span>
        </a>
      {% endif %}
    </div>

    <div class="interview-info__item item__block item__block_border col-xs-24 m-b-sm">
      {% if company_database_has_access %}
        {{ content.field_iw_questions_how_answered }}
      {% else %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#reportsModal" class="btn btn-success lock__link">
          <i class="icon icon-lock"></i>
          <span class="lock-add-node">{{ lock_text }}</span>
        </a>
      {% endif %}
    </div>
  </div>

  {% if interview_files %}
    <div id="interview-files" class="graph__section block__section_separate-line col-md-24 block__section_m-t-40 m-b-sm">
      <div class="row">
        {{ interview_files }}
      </div>
    </div>
  {% endif %}

  {% if company_database_has_access %}
    <div id="interview-charts" class="graph__section col-md-24 block__section_m-t-40 m-b-sm">
      {{ content.interview_review_charts }}
    </div>
  {% else %}
    {% include directory ~ '/templates/node/_parts/blur-access.html.twig' with {
      'block_label': 'Interview Insights'|t,
      'block_class': 'col-sm-24 blur__block blur__interview-block',
    } %}
  {% endif %}

  <div class="vote__block">
    <h4 class="vote__title">{{ 'Was this interview insight helpful?'|t }}</h4>
    {{ content.field_vote }}
  </div>

  <!-- Author Information for Community Analytics Bot  -->
  {% if community_analytics_bot %}
    <div class="m-l-sm">
      <div class="m-t-md">
        <label>Author: </label>
        {{ author_name }}
      </div>
      <div class="m-t-md">
        <label>Published: </label>
        {{ date }}
      </div>
    </div>
  {% endif %}

  {% if content.links %}
  <hr class="hr-line">
    <div class="bookmarks-links">
      {{ content.flag_bookmarks }}
      {{ content.links }}
    </div>
  {% endif %}
</article>
