{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{{ attach_library('favish_ads/ads') }}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class,
    'well',
    'well-no-border',
  ]
%}

<div data-history-node-id="{{ node.id }}">
  <article{{ attributes.addClass(classes) }}>
    <div class="post-wrap">
      {{ schema_org }}
      <div class="post-header">
        <div class="row ms-0 me-0 flex-lg-nowrap">
          <h1 class="wso-forum-title ps-0 pe-0">{{ label }}</h1>
        </div>

        {% if show_mentor %}
          {{ mentor_profile_head_content }}
        {% else %}
          <div class="d-flex justify-content-between">
            <div class="post-author-share">
              {{ submitted_by }}
            </div>
            <div id="post-share" class="post-share">

              <div class="dropdown">
                <a class="dropdown-toggle dropdown-toggle--post-share d-lg-none" href="#" role="button" id="dropdownPostShare" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span><i class="icon icon-share-alt"></i><i class="icon icon-close-sprite"></i></span>
                </a>

                <div class="dropdown-menu dropdown-menu--post-share mt-2 mt-lg-0" aria-labelledby="dropdownPostShare">
                  <div class="dropdown-item" title="{{ 'Click to subscribe/unsubscribe'|t }}">{{ pushcrew_subscribe }}</div>
                  <div class="dropdown-item ms-lg-2 ms-lg-2 mt-2 mt-lg-0">{{ content.flag_bookmarks }}</div>
                  <div class="dropdown-item dropdown-item--social ms-lg-2 mt-2 mt-lg-0">
                    <div class="dropdown">
                        <a class="dropdown-toggle d-none d-lg-flex" href="#" role="button" id="dropdownSocial" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span><i class="icon icon-share-alt"></i><i class="icon icon-close-sprite"></i></span>
                        </a>

                      <div class="dropdown-menu dropdown-menu--social mt-0 mt-lg-2" aria-labelledby="dropdownSocial" title="{{ 'Share this post'|t }}">
                        {{ drupal_block('block-social-share-icons') }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <div{{ content_attributes.addClass('content') }}>
        {{ content|without('comment_forum', 'links', 'flag_authority', 'flag_update_date_yearly', 'taxonomy_forums', 'field_region', 'taxonomy_vocabulary_15', 'field_bananas', 'flag_bookmarks' ) }}
      </div>

      {% if content.taxonomy_vocabulary_15['#items'] %}
        <div class="post-tags hidden-print mt-3 mb-3">
          {{ content.taxonomy_vocabulary_15 }}
        </div>
      {% endif %}

      {% if content.field_region['#items'] %}
        <div class="post-region-tags mt-3 mb-3">
          {{ content.field_region }}
        </div>
      {% endif %}

      {% if show_mentor %}
        {{ mentor_profile_foot_content }}
      {% endif %}

      <div>
        {{ content.flag_authority }}
        {{ content.flag_update_date_yearly }}
      </div>

      <div class="post-footer mt-3">
        <div class="post-action-bar">
          <div class="row">
            <div class="col-sm-18">
              <div class="bookmarks-links">
                {{ content.links }}
              </div>
            </div>
            <div class="col-sm-6">
              {{ content.field_bananas }}
            </div>
          </div>
        </div>

        {% if submitted_array.certified_user and signature %}
          <div class="user-signature text-center">
            {{ signature }}
          </div>
        {% endif %}
      </div>
    </div>
  </article>

  <div id="video-placement" class="video-placement">
    <script>
      document.addEventListener("adsDefinedEvent", function() {
        googletag.cmd.push(function() { googletag.display("video-placement"); });
      });
    </script>
  </div>

  {{ wso_forum_adv }}

  {% if content.comment_forum %}
    <div id="comments" class="post-block post-comments hidden-print comment-wrapper">
      {% set with_comments = comment_count|number_format(2,',') > 0 %}

      {% if with_comments %}
      <div id="comments-title-wrapper">
        <h3 itemprop="interactionStatistic" itemscope="" itemtype="https://schema.org/InteractionCounter">
          <link itemprop="interactionType" href="https://schema.org/CommentAction">
          {{ 'Comments'|t }} (<span itemprop="userInteractionCount">{{ comment_count }}</span>)
        </h3>

        <div class="d-auto align-items-center m-0">
          {% if logged_in %}
            <a class="add-comment-show use-ajax" href="/comments/add/node/{{ node.id }}">{{ 'Add comment'|t }}</a>
          {% endif %}

          {% if comments_quick_links %}
            <span class="separator"></span>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="commentsQuickLinks" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'Jump to'|t }}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="commentsQuickLinks">
                {% for item in comments_quick_links %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <div class="comment-forum-wrapper">
        {{ content.comment_forum }}
      </div>
    </div>

    {% if keyword_more_like_this %}
      {{ keyword_more_like_this }}
    {% endif %}

  {% endif %}
</div>

{% include directory ~ '/templates/node/_parts/voting-modal.html.twig' %}
