{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class,
    'well'
  ]
%}
<article{{ attributes.addClass(classes) }}>


  <h2 class="course-certificate__subtitle">WSO certificate</h2>
  <h1 class="course-certificate__title">{{ label }}</h1>

  <div class="row course-certificate__row">
    <div class="col-md-10 course-certificate__info" >
      <div class="well">
        <div class="media">
          <div class="media-body">
            {% if content.field_certificate_holder_name %}
              <h4 class="media-heading">Done by <strong>{{ content.field_certificate_holder_name|render|striptags|trim }}</strong></h4>
            {% endif %}
            <h5 class="media-sub-heading">Certificate ID: <strong>WSO#{{ content.field_certificate_code|render|striptags|trim }}</strong></h5>
            <h5 class="media-sub-heading">Issue Date: <strong>{{ node.getCreatedTime|date('j F Y') }}</strong></h5>
            <h5 class="media-sub-heading">This certificate does not expire</h5>
            {% if content.field_certificate_description %}
              <div class="media-text">
                {{ content.field_certificate_description|render|striptags|trim }}
              </div>
            {% else %}
              <div class="media-text">
                {{ content.field_certificate_holder_name|render|striptags|trim }}’s account is verified. WSO certifies their successful
                completion of {{ content.field_course|render|striptags|trim }}.
              </div>
            {% endif %}

          </div>
        </div>
      </div>
      {% if content.change_name %}
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#change-certificate-name">
          <span class="icon icon-arrows-cw"></span> {{ 'Change name'|t }}
        </button>

        <div class="modal fade" id="change-certificate-name" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="certModalLabel">{{ 'Change name'|t }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{ content.change_name }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <hr>
      <div class="certificate-share">
        <h4>{{ 'Share this certificate:'|t }}</h4>
        {{ content.share }}
        <a class="btn btn-other" href="{{ certificate_url }}" download="{{ certificate_url }}"><i class="icon icon-download"></i> {{ 'Download this certificate:'|t }}</a>
      </div>
    </div>
    <div class="col-md-14 course-certificate__image">
      {{ content.field_certificate_image }}
    </div>
  </div>
</article>
