{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
  'node',
  'node-'~node.bundle|clean_class,
  'well'
]
%}

<article{{ attributes.addClass(classes) }}>
  <!--Title-->
  {% if label %}
    <div class="title__wrapper d-flex flex-wrap align-items-center mb-2">
      <h1 class="position__title m-r-sm mb-0">{{ label }}</h1>
      {% if (follow_company_flag) %}
        <div class="follow_company_flag_outer">
          {{ follow_company_flag }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <!--overview Stats-->
  <!--  main__graph_fullwidth star_items-->
  {% if Over_all_ranking %}
  <div class="overview__section part__block">
    <h2 class="overview__title block__title block__title_icon block__title__icon"><i class="icon icon-building-1" aria-hidden="true"></i>{{ 'Overview'|t }}</h2>

    <div class="row m-0">
      <div class="overview__block item__block item__block_border col-xs-24 {{ trends ? 'col-sm-12' : 'col-sm-24 main__graph_fullwidth' }} ">

        <div class="block-title block__q-tip">
          <p class="item__title item__title_overview-ranking">{{ 'Overall Ranking'|t }}  {{ Over_all_ranking_percentile }}</p>

          <div class="q-tip">
            <span class="q-tip-q"></span>
            <div class="q-tip-data">
              <div class="q-tip-content">
                <p>The Overall Ranking is a score from 1 star (very bad)
                  to 5 stars (excellent) generated based on the Company
                  Reviews of current and former employees at this
                  company, taking everything into account.</p>
                <p>The number you see in the middle of the donut pie
                  chart is the simple average of these scores. If you
                  hover over the various sections of the donut, you will
                  see the % breakdown of each score given.</p>
                <p>The percentile score in the title is calculated
                  across the entire Company Database and uses an
                  adjusted score based on Bayesian Estimates (to account
                  for companies that have few reviews). Simply put, as a
                  company gets more reviews, the confidence of a "true
                  score" increases so it is pulled closer to its simple
                  average and away from the average of the entire
                  dataset.</p>
              </div>
            </div>
          </div>

          <p class="item__info item__info_top-indent item__info_bottom-indent">The Overall Ranking is generated based on the Company Reviews.</p>
        </div>

        <div class="chart-1">{{ Over_all_ranking }}</div>
        <ul class="star__items star__items_top-indent list-inline d-flex float-none flex-wrap">
          <li class="star__item star__item_5 star__item_vertical-line"><span>5 Stars</span></li>
          <li class="star__item star__item_4 star__item_vertical-line"><span>4 Stars</span></li>
          <li class="star__item star__item_3 star__item_vertical-line"><span>3 Stars</span></li>
          <li class="star__item star__item_2 star__item_vertical-line"><span>2 Stars</span></li>
          <li class="star__item star__item_1"><span>1 Star</span></li>
        </ul>
      </div>
      {% if trends %}
        <div class="overview__block overview__rating item__block item__block_border col-xs-24 col-sm-12">
          {{ trends }}
        </div>
      {% endif %}
    </div>

  </div>
  {% endif %}

  {% if avg_hours_worked_percentile != '(NA)' or interview_experience_percentile != '(NA)'
    or Comp_compared_similar_jobs_percentile != '(NA)' or sex_percentile != '(NA)'
    or intern_get_FT_percentile != '(NA)' or overall_difficulty_percentile != '(NA)'
    or Military_Friendly_percentile != '(NA)' or interview_diversity_percentile != '(NA)'
    or top_undergrad_school or top_majors1 or Top_Undergrad_Degrees1 %}
  <!--Company Stats-->
  <div class="company-stats__block part__block flex-wrap">
    <h2 class="company-stats__title-main block__title block__title_icon block__title__icon"><i class="icon icon-chart-bar" aria-hidden="true"></i>{{ 'Company Stats'|t }}</h2>

    {% if (company_database_has_access) %}
      <div class="company-stats__items item__block_border col-xs-24">
        <a class="company-stats__click-text block__q-tip" role="button" data-bs-toggle="collapse"
           href="#company-stats_collapse" aria-expanded="false"
           aria-controls="company-stats_collapse">Click here to <span data-state="default">expand</span><span data-state="open">collapse</span>
          <div class="q-tip">
            <span class="q-tip-q"></span>
            <div class="q-tip-data">
              <div class="q-tip-content">
                <p>To gain access to more statistics on this company and thousands of others including:</p>
                1) % of interns receiving full time offers<br/>
                2) The top undergraduate schools, majors and degrees this company targets<br/>
                3) Interview stats breakdown on race, gender, military and sports data on the applicants,<br/><br/>
                Please click on the lock on the blue arrow and follow the instructions.
              </div>
            </div>
          </div>
        </a>
        <div id="company-stats_collapse" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="company-stats_collapse" aria-expanded="false">
          {% if avg_hours_worked_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8">
              <div class="company-stats__title block__q-tip">Avg. Hours Worked {{ avg_hours_worked_percentile }}
                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>The average hours worked chart shows the distribution of average hours worked per week generated
                        based on the Compensation data at this company.</p>
                      <p>The number you see in the middle of the doughnut pie chart is the adjusted average of these
                        scores. If you hover over the various sections of the donut, you will see the % breakdown of each
                        workload given.</p>
                      <p>The percentile score in the title is calculated across the entire Company Database and uses an
                        adjusted score based on Bayesian Estimates (to account for companies that have few interview
                        insights). Simply put, as a company gets more data points, the confidence of a "true measure"
                        increases so it is pulled closer to its simple average and away from the average of the entire
                        dataset.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart-1">{{ avg_hours_worked|raw }}</div>
            </div>
          {% endif %}

          {% if interview_experience_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8">
              <div class="company-stats__title block__q-tip">Interview Experience {{ interview_experience_percentile }}
                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>The Interview Experience is a score from 1 star (very negative) to 5 stars (very positive)
                        generated based on the Interview Insights at this company.</p>
                      <p>The number you see in the middle of the doughnut pie chart is the simple average of these scores.
                        If you hover over the various sections of the donut, you will see the % breakdown of each score
                        given.</p>
                      <p>The percentile score in the title is calculated across the entire Company Database and uses an
                        adjusted score based on Bayesian Estimates (to account for companies that have few interview
                        insights). Simply put, as a company gets more reviews, the confidence of a "true score" increases
                        so it is pulled closer to its simple average and away from the average of the entire dataset.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart-2"> {{ interview_experience|raw }}</div>
            </div>
          {% endif %}

          {% if Comp_compared_similar_jobs_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8">
              <div class="company-stats__title block__q-tip">Relative Compensation {{ Comp_compared_similar_jobs_percentile }}
                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>The Relative Compensation is a score from 1 star (very bad) to 5 stars (excellent) generated
                        based on the Company Reviews of current and former employees at this company based on relative
                        pay.</p>
                      <p>The number you see in the middle of the donut pie chart is the simple average of these scores. If
                        you hover over the various sections of the donut, you will see the % breakdown of each score
                        given.</p>
                      <p>The percentile score in the title is calculated across the entire Company Database and uses an
                        adjusted score based on Bayesian Estimates (to account for companies that have few reviews).
                        Simply put, as a company gets more reviews, the confidence of a "true score" increases so it is
                        pulled closer to its simple average and away from the average of the entire dataset.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart-3"> {{ Comp_compared_similar_jobs|raw }}</div>
            </div>
          {% endif %}

          {% if sex_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8">
              <div class="company-stats__title block__q-tip">Male / Female Interview % {{ sex_percentile }}
                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>Male/Female Interview % is simply the gender breakdown of the interview insights from this
                        company. If you hover over the pie chart, you will see the % breakdown by gender.</p>
                      <p>The percentile score in the title is calculated across the entire Company Database and uses an
                        adjusted score based on Bayesian Estimates (to account for companies that have less data).</p>
                      <p>Simply put, as a company gets more interviews, the confidence of a "true score" increases so it
                        is pulled closer to the simple company average and away from the average of the entire data
                        set.</p>
                      <p>The higher the percentile, the more likely this company is to interview a female based on our
                        data.</p>
                    </div>
                  </div>
                </div>
              </div>
              {{ sex|raw }}
            </div>
          {% endif %}

          {% if intern_get_FT_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8 stats__item_canvas-number-5">
              <div class="company-stats__title block__q-tip">% Interns - FT Offers {{ intern_get_FT_percentile }}

                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>The % of Interns Getting a Full Time Offer chart is meant to provide a realistic estimate of the
                        hiring practices of the company based on the reviews at this company.</p>
                      <p>The number you see in the middle of the doughnut pie chart is the simple average of these scores.
                        If you hover over the various sections of the doughnut, you will see the % breakdown of each score
                        given.</p>

                      <p>The percentile score in the title is calculated across the entire Company Database and uses an
                        adjusted score based on Bayesian Estimates (to account for companies that have few reviews).
                        Simply put, as a company gets more reviews, the confidence of a "true score" increases so it is
                        pulled closer to the simple company average and away from the average of the entire data set.</p>
                    </div>
                  </div>
                </div>

              </div>
              {{ intern_get_FT|raw }}
            </div>
          {% endif %}

          {% if overall_difficulty_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8 stats__item_canvas-number-6">
              <div class="company-stats__title block__q-tip">Interview Difficulty {{ overall_difficulty_percentile }}

                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>The Interview Difficulty is a score ranging from very difficult (red) to very easy (green)
                        generated based on the Interview Insights at this company.</p>
                      <p>The number you see in the middle of the doughnut pie chart is the simple average of these scores.
                        The higher the number, the more difficult the interviews on average. If you hover over the various
                        sections of the doughnut, you will see the % breakdown of each score given.</p>
                      <p>The percentile score in the title is calculated across the entire Company Database and uses an
                        adjusted score based on Bayesian Estimates (to account for companies that have few interview
                        insights). Simply put, as a company gets more insights, the confidence of a "true score" increases
                        so it is pulled closer to its simple average and away from the average of the entire data set.</p>
                    </div>
                  </div>
                </div>
              </div>
              {{ overall_difficulty|raw }}
            </div>
          {% endif %}

          {% if Military_Friendly_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8">
              <div class="company-stats__title block__q-tip">Military Friendly {{ Military_Friendly_percentile }}
                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>The Military Friendly chart shows the % of interviewed candidates that were in a military program
                        or involved in the military at some point. If you hover over the the pie chart, you will see the %
                        breakdown of military and non-military candidates.</p>
                      <p>The percentile score in the title is calculated across the entire Company Database and uses an
                        adjusted score based on Bayesian Estimates (to account for companies that have less data).</p>

                      <p>Simply put, as a company gets more interviews, the confidence of a "true score" increases so it
                        is pulled closer to the simple company average and away from the average of the entire data
                        set.</p>

                      <p>The higher the percentile, the more likely this company is to grant an interview to someone with
                        a military background.</p>
                    </div>
                  </div>
                </div>

              </div>
              {{ Military_Friendly|raw }}
            </div>
          {% endif %}

          {% if interview_diversity_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8 stats__item_canvas-number-8">
              <div class="company-stats__title block__q-tip">Interview Diversity {{ interview_diversity_percentile }}

                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>The Interview Diversity chart is a way to estimate the opportunities being provided across races
                        based on the Interview Insights at this company. If you hover over the various sections of the
                        chart, you will see the % breakdown of each race based on our data.</p>
                    </div>
                  </div>
                </div>

              </div>
              {{ interview_diversity|raw }}
            </div>
          {% endif %}

          {% if sports_matter_percentile != '(NA)' %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8">
              <div class="company-stats__title block__q-tip">Sports Matter {{ sports_matter_percentile }}

                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>The Sports Matters? chart shows the % of interviewed candidates that played a varsity sport in
                        their undergraduate university. If you hover over the the pie chart, you will see the % breakdown
                        by Varsity Athletes and Non-varsity athletes.
                        The percentile score in the title is calculated across the entire Company Database and uses an
                        adjusted score based on Bayesian Estimates (to account for companies that have less data).</p>

                      <p>Simply put, as a company gets more interviews, the confidence of a "true score" increases so it
                        is pulled closer to the simple company average and away from the average of the entire data
                        set.</p>

                      <p>The higher the percentile, the more likely this company is to grant an interview to a varsity
                        athlete based on our data.</p>
                    </div>
                  </div>
                </div>

              </div>
              {{ sports_matter|raw }}
            </div>
          {% endif %}

          {% if top_undergrad_school %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8 stats__items_top-undergrad">
              <div class="company-stats__title block__q-tip">Top Undergrad Schools

                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>Top Undergrad Schools represents the schools that are most targeted by the Company based on our
                        data. The %s shown next to the school name are ONLY relative to the other top schools listed.
                        These %s are provided solely to give you an idea of relative preference of each top school, not
                        all schools.</p>
                    </div>
                  </div>
                </div>

              </div>
              {{ top_undergrad_school|raw }}
            </div>
          {% endif %}

          {% if top_majors1 %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8 tats__items_top-undergrad">
              <div class="company-stats__title block__q-tip">Top Undergrad Majors
                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>Top Undergrad Majors represents the majors that are most targeted by the Company based on our
                        data. The %s shown next to the major labels are ONLY relative to the other top majors listed.
                        These %s are provided solely to give you an idea of relative preference of each top major, not all
                        majors.</p>
                    </div>
                  </div>
                </div>

              </div>{{ top_majors1|raw }}</div>
          {% endif %}

          {% if Top_Undergrad_Degrees1 %}
            <div class="ranking__item col-xs-24 col-sm-12 col-lg-8 stats__items_top-undergrad">
              <div class="company-stats__title block__q-tip">Top Undergrad Degrees
                <div class="q-tip">
                  <span class="q-tip-q"></span>
                  <div class="q-tip-data">
                    <div class="q-tip-content">
                      <p>Top Undergrad Degrees represents the degrees that are most targeted by the Company based on our
                        data. The %s shown next to the degree labels are ONLY relative the other top degrees listed. These
                        %s are provided solely to give you an idea of relative preference of each top degree, not all
                        degrees.</p>
                    </div>
                  </div>
                </div>

              </div>
              {{ Top_Undergrad_Degrees1|raw }}
            </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="company-stats__items_no_perm item__block_border col-xs-24">
        <a class="company-stats__click-text block__q-tip" role="button" data-bs-toggle="collapse"
           href="#company-stats_collapse" aria-expanded="false"
           aria-controls="company-stats_collapse">Click here to <span data-state="default">View details</span><span data-state="open">collapse</span>
          <div class="q-tip">
            <span class="q-tip-q"></span>
            <div class="q-tip-data">
              <div class="q-tip-content">
                <p>To gain access to more statistics on this company and thousands of others including:</p>
                1) % of interns receiving full time offers<br/>
                2) The top undergraduate schools, majors and degrees this company targets<br/>
                3) Interview stats breakdown on race, gender, military and sports data on the applicants,<br/><br/>
                Please click on the lock on the blue arrow and follow the instructions.
              </div>
            </div>
          </div>
        </a>
        <div id="company-stats_collapse" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="company-stats_collapse" aria-expanded="false">
          <div class="col-sm-24 blur__block blur__interview-block">
            <div class="row">
              <p class="blur__block_title">{{ 'Want Access To These Statistics & Rankings?'|t }}</p>
              <div class="blur__wrapper">
                <ul class="blur__items">
                  <li class="blur__item">{{ 'Free 1 month access by adding just 1 salary datapoint ' }} <a href="{{ path('node.add', {'node_type': 'company'}) }}">here</a></li>
                  <li class="blur__item">{{ 'REAL salary bonus data across 1,000+ companies'|t }}</li>
                  <li class="blur__item">{{ 'Plus free 1 month access to 10,000+ interview insights'|t }}</li>
                </ul>
                <div class="blur__buttons">
                  <a href="{{ path('node.add', {'node_type': 'company'}) }}" class="btn btn-success btn-md blur__button">{{ 'Add Your Data'|t }}</a>
                  <span class="blur__separator">or</span>
                  <button class="btn btn-secondary mono btn-md blur__button bg-white" data-bs-toggle="modal" data-bs-target="#reportsModal">{{ 'Subscribe'|t }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  {% endif %}

  {% if content.body|render|trim is not empty %}
    <div class="company-details__block part__block flex-wrap">
      <h2 class="company-details__title block__title_icon block__title block__title__icon"><i class="icon icon-commenting-o" aria-hidden="true"></i>{{ 'Company Details'|t }}</h2>

      <div class="company-details__item item__block item__block_border col-xs-24">
        {{ content.body }}
      </div>
    </div>
  {% endif %}

  {% if content.field_address|render|trim is not empty %}
    <div class="locations__section part__block block__section_separate-line block__section_separate-line_indents d-block">
      <h2 class="locations__title block__title_icon block__title block__title__icon"><i class="icon icon-location" aria-hidden="true"></i>{{ 'Locations'|t }}</h2>
      {{ content.field_address }}
    </div>
  {% endif %}

  {% if content.field_applynow %}
    <p id="applynow" class="center">
      {{ content.field_applynow }}
    </p>
  {% endif %}

  {% if company_database_has_access %}
    {% if comparison_table %}
      <div class="compansation-table__section compansation-table__section--has-access block__section_m-t-40">
        {{ comparison_table }}
      </div>
    {% endif %}
  {% else %}
    <div class="compansation-table__section compansation-table__section--no-access block__section_m-t-40">
      <div class="clearfix container image_container ir-borders ir-blured">
        <div class="float_warning text-center">
          <h4>Get Full Access</h4>
          <div class="align-content-center align-items-center d-flex justify-content-center">
            {% if logged_in %}
              <button class="btn btn-success subscribe-popup btn-sm me-2" data-bs-toggle="modal" data-bs-target="#reportsModal">Subscribe</button> or

              <div class="dropdown show ms-2">
                <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ 'Contribute'|t }}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('node.add', {'node_type': 'company_compensation'}) }}">Company Compensation</a>
                  <a class="dropdown-item" href="{{ path('node.add', {'node_type': 'company_interview'}) }}">Company Interview</a>
                  <a class="dropdown-item" href="{{ path('node.add', {'node_type': 'company_review'}) }}">Company Review</a>
                </div>
              </div>

              {#<a href="{{ path('node.add', {'node_type': 'company'}) }}" class="btn btn-secondary btn-sm">Contribute</a>#}
            {% else %}
              <button class="btn btn-success subscribe-popup btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#reportsModal">Subscribe</button>&nbsp;or&nbsp;<a href="/user/register/companydb" class="btn btn-secondary btn-sm">Register to Contribute</a>
            {% endif %}
          </div>
        </div>
        {% set svg_placeholder = 'data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1169 502 %22 /%3E' %}
        <img loading="lazy" width="1169" height="502" src="/modules/custom/company_database/company_db_reports/img/ib_bb_table_blurred.png">
      </div>
    </div>
  {% endif %}

  {{ company_database_company_views }}

  <div class="bookmarks-links">
    {{ content.flag_bookmarks }}
    {{ content.links }}
  </div>
  {{ forumad }}
  <div class="clear-block"></div>
  <div class="clearfix"></div>
</article>
