{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class,
    'well'
  ]
%}

<article{{ attributes.addClass(classes) }}>

  <!-- Start HTML compensation-form  -->

  <div class="block__section_separate-line block__section_separate-line_indents">
    <div class="row">
      <div class="col-sm-17">
        <div class="row m-0">
          <!--Title-->
          {% if label %}
            <div class="title__wrapper">
              <h1 class="position__title">{{ label }}</h1>
            </div>
          {% endif %}

          <!--Head part-->
          <div class="head__block">
            <div class="head__info col-xs-24">
              <div class="row">
                <div class="head__info_line">
                  <span class="info__label">{{ 'Status'|t }}:</span>
                  {{ content.field_jobstatus }} at {{ content.field_company }}
                </div>
              </div>
            </div>
            <div class="head__info head__industry-group col-xs-24">
              <div class="row">
                <div class="head__info_line head__info_vertical-line">
                  <span class="info__label">{{ 'Industry'|t }}: </span>
                  {{ content.field_industry_detail[0]|raw }}
                </div>
                <div class="head__info_line">
                  <span class="info__label">{{ 'Group/Division/Type'|t }}: </span>
                  {{ content.field_groupdivision[0]|raw }}
                </div>
              </div>
            </div>
            <div class="head__info head__city-year col-xs-24">
              <div class="row">
                <div class="head__info_line head__info_vertical-line">
                  <span class="info__label">{{ '% Interns - FT Offers'|t }}: </span>
                  {{ content.field_internofferpercentage[0]|raw }}
                </div>
                <div class="head__info_line head__info_vertical-line">
                  <span class="info__label info__label_location">{{ 'City'|t }}: </span>
                  <span class="location--inline">{{ content.field_address[0]|raw }}</span>
                </div>
                <div class="head__info_line">
                  <span class="info__label info__label_date">{{ 'Year'|t }}:</span>
                  {{ content.field_monthofinterview[0]|raw }} {{ content.field_reviewyear[0]|raw }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="row m-0 justify-content-end">
          <div class="interview-mark__section ranking__block_fivestars">
            <div class="interview-expirience__block m-b-sm">
              {% set class = review_rating_mark|render|replace({' ': "-"}) %}
              <p class="item__mark label {{ class|lower }}">{{ review_rating_mark }}</p>
            </div>
            <div class="interview-expirience__block">
              <p class="item__title item__title_light">{{ 'Overall Satisfaction'|t }}</p>
              {{ content.field_cr17 }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Commentary-->
  <div class="commentary__block part__block">
    <p class="block__title_icon interview-info__title block__title block__title__icon">
      <i class="icon icon-commenting-o" aria-hidden="true"></i>
      {{ 'Commentary'|t }}
    </p>

    <div class="row m-0">
      <div class="interview-info__item item__block item__block_border col-xs-24 m-b-sm">
        <p class="item__title">{{ 'Happiness (Pros)'|t }}</p>
        {% if company_database_has_access %}
          <p class="item__description item__description_xs">{{ content.field_pros }}</p>
        {% else %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#reportsModal" class="btn btn-success lock__link">
            <i class="icon icon-lock"></i>
            <span class="lock-add-node">{{ lock_text }}</span>
          </a>
        {% endif %}
      </div>

      <div class="interview-info__item item__block item__block_border col-xs-24">
        <p class="item__title">{{ 'Sadness (Cons)'|t }}</p>
        {% if company_database_has_access %}
          <p class="item__description item__description_xs">{{ content.field_cons }}</p>
        {% else %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#reportsModal" class="btn btn-success lock__link">
            <i class="icon icon-lock"></i>
            <span class="lock-add-node">{{ lock_text }}</span>
          </a>
        {% endif %}
      </div>

      <div class="interview-info__item item__block item__block_border col-xs-24">
        <p class="item__title">{{ 'Tips to Senior Management'|t }}</p>
        {% if company_database_has_access %}
          <p class="item__description item__description_xs">{{ content.field_tipsmanagement }}</p>
        {% else %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#reportsModal" class="btn btn-success lock__link">
            <i class="icon icon-lock"></i>
            <span class="lock-add-node">{{ lock_text }}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Commentary-->

  <!--Commentary-->
  <div class="ranking__block part__block ranking__block_fivestars block__section_separate-line">
    <p class="block__title_icon ranking__title block__title block__title__icon">
      <i class="icon icon-chart-bar" aria-hidden="true"></i>{{ 'Rankings'|t }}
    </p>
    {% if company_database_has_access %}
    <div class="col-xs-24">
      <div class="row m-0">
        <div class="ranking__wrapper">
          <div class="ranking__item ranking__item_border-radius-top-left ranking__item_border-radius-top-right_xs col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Professional Growth'|t }}</p>
            {{ content.field_cr1 }}
          </div>

          <div class="ranking__item ranking__item_border-radius-top-right_sm col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Career Advancement Opportunities'|t }}</p>
            {{ content.field_cr2 }}
          </div>

          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Relative Compensation'|t }}</p>
            {{ content.field_cr3 }}
          </div>

          <div class="ranking__item ranking__item_border-radius-top-right_md col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Relative Benefit Packages'|t }}</p>
            {{ content.field_cr4 }}
          </div>
        </div>

        <div class="ranking__wrapper">
          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Information & Knowledge Sharing'|t }}</p>
            {{ content.field_cr5 }}
          </div>

          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Communication from Management'|t }}</p>
            {{ content.field_cr6 }}
          </div>

          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Recommended Place to Work'|t }}</p>
            {{ content.field_cr7 }}
          </div>

          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Proud to Work'|t }}</p>
            {{ content.field_cr8 }}
          </div>
        </div>

        <div class="ranking__wrapper">
          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Feedback about your Performance'|t }}</p>
            {{ content.field_cr9 }}
          </div>

          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Recognition and Praise'|t }}</p>
            {{ content.field_cr10 }}
          </div>

          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Abilities of Senior management'|t }}</p>
            {{ content.field_cr11 }}
          </div>

          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Senior Management'|t }}</p>
            {{ content.field_cr12 }}
          </div>
        </div>

        <div class="ranking__wrapper">
          <div class="ranking__item ranking__item_border-radius-bottom-left_md col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Management Support'|t }}</p>
            {{ content.field_cr13 }}
          </div>

          <div class="ranking__item col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Employer Support in Work Life Balance'|t }}</p>
            {{ content.field_cr14 }}
          </div>

          <div class="ranking__item ranking__item_border-radius-bottom-left_sm col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Fairness in Promotions'|t }}</p>
            {{ content.field_cr15 }}
          </div>

          <div class="ranking__item ranking__item_border-radius-bottom-left_xs ranking__item_border-radius-bottom-right col-xs-24 col-sm-12 col-md-6">
            <p class="ranking__item_title">{{ 'Level of Employees Respect'|t }}</p>
            {{ content.field_cr16 }}
          </div>
        </div>
      </div>
    </div>
    {% else %}
      {% include directory ~ '/templates/node/_parts/blur-access.html.twig' with {
        'block_label': 'Review'|t,
      } %}
    {% endif %}
  </div>

  <!-- End reviews Other Benefits -->
  {% if company_database_has_access %}
    <div id="interview-charts" class="graph__section col-md-24 block__section_m-t-40 m-b-sm">
      {{ content.interview_review_charts }}
    </div>
  {% else %}
    {% include directory ~ '/templates/node/_parts/blur-access.html.twig' with {
      'block_label': 'Review'|t,
      'block_class': 'col-sm-24 blur__block blur__interview-block',
    } %}
  {% endif %}

  <div class="vote__block">
    <h4 class="vote__title">{{ 'Was this review helpful?'|t }}</h4>
    {{ content.field_vote }}
  </div>

  <!-- Author Information for Community Analytics Bot  -->
  {% if community_analytics_bot %}
    <div class="m-l-sm">
      <div class="m-t-md">
        <label>Author: </label>
        {{ author_name }}
      </div>
      <div class="m-t-md">
        <label>Published: </label>
        {{ date }}
      </div>
    </div>
  {% endif %}

  {% if content.links %}
    <hr class="hr-line">
    <div class="bookmarks-links">
      {{ content.flag_bookmarks }}
      {{ content.links }}
    </div>
  {% endif %}
</article>
