{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
  'node',
  'node-'~node.bundle|clean_class,
  'product-course',
  'product-course--teaser'
] %}

{% set isPopular = node.field_is_popular.value  %}

<article{{ attributes.addClass(classes) }}>
  {% if isPopular %}
  <div class="product-course__container product-course__container--with-badge">
    <div class="product-course__badge"><span>Popular</span></div>
  {% else %}
   <div class="product-course__container">
  {% endif %}
    <div class="product-course__row p-2">
        {% if node.field_info_link.0.url|length > 0 %}
          <a href="{{ node.field_info_link.0.url }}" class="d-flex">{{ content.field_course_cover_image }}</a>
        {% else %}
          <a class="use-ajax d-flex"
             data-dialog-options="{&quot;width&quot;:720}"
             data-dialog-type="modal"
             href="/node/{{ node.id }}/popup">{{ content.field_course_cover_image }}
          </a>
        {% endif %}
      <div class="product-course__body">
        <div class="product-course__body-content">
          <h3 class="product-course__title">

            {% if node.field_info_link.0.url|length > 0 %}
              <a href="{{ node.field_info_link.0.url }}">{{ label }}</a>
            {% else %}
              <a class="use-ajax"
                 data-dialog-options="{&quot;width&quot;:720}"
                 data-dialog-type="modal"
                 href="/node/{{ node.id }}/popup">{{ label }}
              </a>
            {% endif %}
          </h3>
          <div class="product-course__teaser-text">{{ content.body }}</div>
        </div>
        <div class="product-course__body-footer">
          {% if node.field_price|length > 1 %}
            <div class="product-course__price product-course__price--with-drop mb-2">
          {% else %}
            <div class="product-course__price mb-2">
          {% endif %}
              {{ content.field_price }}
            </div>
              <div class="product-course__links mb-2">
                {% if node.field_enroll_link.0.url %}
                  <div class="field field-name-field-enroll-link field-type-link-field field-label-hidden">
                    {{ content.field_enroll_link }}
                  </div>
                {% endif %}
                <div class="field field-name-field-info-link field-type-link-field field-label-hidden">
                  {% if node.field_info_link.0.url|length > 0 %}
                    <a href="{{ node.field_info_link.0.url }}">{{ 'Info'|t }}</a>
                  {% else %}
                    <a class="use-ajax"
                       data-dialog-options="{&quot;width&quot;:720}"
                       data-dialog-type="modal"
                       href="/node/{{ node.id }}/popup">{{ 'Info'|t }}
                    </a>
                  {% endif %}
                </div>
              </div>
           </div>
        </div>
      </div>
    </div>
</article>
