{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass(classes) }} >
  <div class="course__head__section">
    <div class="container">
      <div class="course__head__part row m-0">
        <div class="col-md-24 course__head__part__container">
          <div class="row">
            <div class="col-xs-5 col-sm-3 col-md-2">
              {{ content.field_course_cover_image }}
            </div>
            <div class="col-xs-19 col-sm-21 col-md-22">
              <h2 class="course__head__title">
                <a href="{{ url }}">{{ label }}</a>
              </h2>
              <ul class="course__head__information">
                {% if content.field_course_duration %}
                  <li class="course__head__duration">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.99988C0 3.13409 3.134 0 6.99988 0C10.8658 0 14 3.13409 14 6.99988C14 10.8657 10.8658 14 6.99988 14C3.134 14 0 10.8657 0 6.99988ZM7.54378 6.63914L9.32835 8.42368C9.55166 8.64702 9.55166 9.00912 9.32837 9.23249C9.21666 9.34417 9.0703 9.4 8.92394 9.4C8.77759 9.4 8.6312 9.34417 8.51954 9.23249L6.56751 7.28043C6.46025 7.17317 6.4 7.02772 6.4 6.87603V2.97189C6.4 2.65605 6.65605 2.4 6.97189 2.4C7.28775 2.4 7.54378 2.65605 7.54378 2.97189V6.63914Z" fill="#BFBFBF"/>
                    </svg>
                    {{ content.field_course_duration }}
                  </li>
                {% endif %}
                {% if total_lessons %}
                  <li class="course__head__lessons">
                    <i class="icon icon-youtube-play"></i> {{ content.field_course_total_lessons }}
                    <span class="lessons-text">{{ 'Lessons'|t }}</span>
                  </li>
                {% elseif content.field_course_total_lessons %}
                  <li class="course__head__lessons">
                    <i class="icon icon-youtube-play"></i> {{ content.field_course_total_lessons }}
                    <span class="lessons-text">{{ 'Lessons'|t }}</span>
                  </li>
                {% endif %}
              </ul>
            </div>

          </div>
          <div class="row course__head__part__description">
            {{ content.body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
