{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class,
    'well'
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="interview-insight-item-container item__block item__block_border">
    <!-- Start HTML interview insight card  -->
    <div class="col-sm-24 pb-4">
      <div class="row d-block">
        <!--Title-->
        {% if label %}
          <div class="title__wrapper">
            {# Prepare fields for usage. #}
            {% set label = label|render|striptags|trim %}
            {% set group_division = content.field_groupdivision|render|striptags|trim %}
            {# Build default title without group/division data. #}
            {% set page_title = label ~ ' ' ~ 'Interview'|t %}
            {# Attach group/division if it defined and not N/A. #}
            {% if node.field_groupdivision.getValue()[0]['value'] != 'NA' %}
              {% set page_title = page_title ~ ' - ' ~ group_division %}
            {% endif %}

            <h2 class="position__title">{{ page_title }}</h2>
            {# Get outcome of the interview. #}
            {# If outcome is 3 offer accepter, otherwise no offer or declined. #}
            {% set description = node.field_interviewoutcome.getValue()[0]['value'] == 3
              ? 'Anonymous employee in'|t
              :'Anonymous interview candidate in'|t
            %}

            {# Display the location of the candidate/interview. #}
            <div class="info__title info__label_interview_location">
              <span class="interview-country">{{ description ~ ' ' ~ content.field_address[0].locality|render|striptags|trim }}</span>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <!--General Interview Information-->
    <div class="interview-info__block pb-1">
      <div class="interview-info__block_inner row m-0 justify-content-between">
        <div class="interview-info__item item__block item__block_border col-xs-24 col-lg-8">
          <p class="item__title">{{ 'Outcome'|t }}</p>
          <div class="item__description">{{ content.field_interviewoutcome }}</div>
        </div>
        <div class="interview-info__item item__block item__block_border col-xs-24 col-lg-8">
          <p class="item__title">{{ 'Interview Source' |t }}</p>
          <div class="item__description item">{{ content.field_getinterview }}</div>
        </div>
        <div class="interview-info__item item__block item__block_border col-xs-24 col-lg-8">
          <p class="item__title">{{ 'Length of Process'|t }}</p>
          <div class="item__description">{{ content.field_interviewtime }}</div>
        </div>
      </div>
    </div>

    <div class="interview-info-dates d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-start align-items-md-center">
      <span class="info__title info__label_interviewed_date">
        {{ 'Interviewed:'|t }}
        {{ content.field_monthofinterview[0]|render|striptags }}
        {{ content.field_interviewyear[0]|render|striptags }}
      </span>
      <span class="info__title info__label_submitted_date">
        {{ 'Date Submitted:'|t }}
        {{ date_submitted }}
      </span>
    </div>

    <!--Interview Details-->
    <div class="interview-info__block mt-4 pb-0">
      <div class="col interview-info__items_container">
        {% if content.field_interviewtypes %}
          <div class="interview-info__item mb-4">
            <p class="interview-info__title block__title mb-1">
              {{ 'Application'|t }}
            </p>
            <div class="interview-info__item col-xs-24">
              {{ content.field_interviewtypes }}
            </div>
          </div>
        {% endif %}

        {% if content.field_interviewdescription %}
          <div class="interview-info__item mb-4">
            <p class="interview-info__title block__title mb-1">
              {{ 'Interview'|t }}
            </p>
            <div class="interview-info__item col-xs-24">
              {{ content.field_interviewdescription }}
            </div>
          </div>
        {% endif %}


        <div class="interview-info__item mb-0">
          {% if content.field_interviewquestions %}
            <p class="interview-info__title block__title mb-1">
              {{ 'Interview Questions'|t }}
            </p>
            <div class="interview-info__item col-xs-24 m-b-sm">
              {{ content.field_interviewquestions }}
            </div>
          {% endif %}

          <div class="interview-info__item info__item__sample_link col-xs-24 m-b-sm">
            {{ sample_answer }}

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#087dfd" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
