{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}

<div id="block-system-main">
  <div class="content">

    <div id="lesson-header">
      <div class="lesson-header__left">
        <div class="lesson-header__left-chapter">
          {{ content.field_chapter }}
        </div>
        <div class="lesson-header__left-title">
          <h2>{{ current_lesson_by_chapter }} - {{ label }}</h2>
        </div>
      </div>
      <div class="lesson-header__center">
        <div class="lesson-header__center-back">
          {{ back_lesson_link }}
        </div>
        <div class="lesson-header__center-counter">
          <span class="lesson-header__center-counter-current">{{ current_lesson }}</span> / {{ total_lessons }}
        </div>
        {{ lessons_counter }}
        <div class="lesson-header__center-next">
          {{ complete_lesson_link }}
        </div>
      </div>
      <div class="lesson-header__right"></div>
    </div>

    {%
      set classes = [
      node.bundle|clean_class,
      node.isPromoted() ? 'is-promoted',
      node.isSticky() ? 'is-sticky',
      not node.isPublished() ? 'is-unpublished',
      view_mode ? view_mode|clean_class,
      pdf ? 'well',
      pdf ? 'well-no-border',
      'clearfix',
      'node',
      'node-'~node.bundle|clean_class,
      'node-lesson--type-'~lesson_type,
      'well'
    ]
    %}

    {% if current_lesson < total_lessons %}
    <div class="modal fade" tabindex="-1" role="dialog" id="next-lesson-modal">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Lesson complete</h4>
          </div>
          <div class="modal-body">
            <p>Redirect to the next lesson in <strong>3</strong> seconds...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel (ESC)</button>
            {{ complete_lesson_modal_link }}
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}

    <div {{ attributes.addClass(classes) }} >
      <div class="post-wrap">
        <div class="content clearfix {{ content_classes }}" {{ content_attributes }}>

          {% if not page %}
            {{ title_prefix }}
            <h2 {{ title_attributes }}>
              <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ node.label }}</a>
            </h2>
            {{ title_suffix }}
          {% endif %}

          {% if lesson_type == 'answer' %}
            <div class="answer-wrapper">
              <h2 class="answer-wrapper__title">{{ node.label }}</h2>
              <p class="answer-wrapper__description">
                Click the download button below to exercise, you can check the answers at the next chapter.
              </p>
              <p class="answer-wrapper__filesize">{{ filesize }}</p>
              <div class="answer-wrapper__buttons">
                {{ download_button }}
                {{ continue }}
              </div>
            </div>
          {% else %}
            {{ content|without('comment_node_lesson', 'links', 'entity_print_view_pdf', 'field_relevant_files') }}
          {% endif %}

        </div>
      </div>

      {% if lesson_type != 'quiz' %}
      <div class="lesson-links-container">
        <h5 class="m-b-none">Lesson files:</h5>
        <div class="lesson-links">
          {{ content.links }}

          {% if content.entity_print_view_pdf and show_pdf_link %}
            {{ content.entity_print_view_pdf }}
          {% endif %}

          {{ content.field_relevant_files }}
        </div>
      </div>
      {% endif %}

    </div>
    {% if lesson_type == 'quiz' and content.field_relevant_files|render|striptags|trim |length > 1 %}
      <div class="node-lesson">
        <div class="lesson-links-container lesson-links-container--quizz">
          <h5 class="m-b-none">Lesson files:</h5>
          <div class="lesson-links">
            {{ content.links }}
            {{ content.field_relevant_files }}
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>

<div class="lms-container">
  <div class="m-b-lg">
    <h3>Have a question? Drop us a line</h3>
    <a href="#" class="btn-md add-comment-show--top btn-success btn form-submit ms-0">{{ 'Submit a request'|t }}</a>
  </div>

  <div id="comments" class="post-block post-comments hidden-print comment-wrapper ">
    {% set with_comments = comment_count|number_format(2,',') > 0 %}

    {% if with_comments %}
      <div id="comments-title-wrapper">
        <h3 itemprop="interactionStatistic" itemscope="" itemtype="https://schema.org/InteractionCounter">
          <link itemprop="interactionType" href="https://schema.org/CommentAction">
          {{ 'Comments'|t }} (<span itemprop="userInteractionCount">{{ comment_count }}</span>)
        </h3>
      </div>
    {% endif %}

    <div class="comment-forum-wrapper">
      {{ content.comment_node_lesson }}
    </div>
  </div>
</div>

