{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class,
    'well',
    'student_group_dashboard__content'
  ]
%}

<header class="mb-5">
  <nav class="navbar student-group-dashboard__navbar container">
    <a href="/courses">{{ 'Return to all courses'|t }}</a>

    <div class="navbar-brand p-0">
      {% if logo %}
        {{ content.field_company_logo }}
      {% else %}
        {{ content.field_company_name }}
      {% endif %}
    </div>
  </nav>
</header>

<div class="student-group-dashboard__header container mb-4">
  <div class="row">
    <div class="col-md-12 mb-2 mb-lg-0">
      <div class="mb-2">{{ 'now' | date('F d, Y') }}</div>
      <h1 class="m-t-md m-r-sm wso-forum-title">{{ 'Student Manager Dashboard'|t }}</h1>
      <h4>{{ label }}</h4>
    </div>
    <div class="col-md-12">
      {{ switcher }}
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-16 mb-3 mb-lg-0">
      <div class="card student-group-dashboard__graph h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <h4>Activity Trend</h4>
            <div>

              <form id="activity-chart-form">
                <label class="hidden" for="activity-chart-filter">{{ 'Filter activity'|t }}</label>
                <select data-close-on-select="true" name="activity-chart-filter" id="activity-chart-filter">
                  <option value="4_weeks" selected>{{ '4 weeks'|t }}</option>
                  <option value="3_month">{{ '3 month'|t }}</option>
                  <option value="6_month">{{ '6 month'|t }}</option>
                  <option value="1_year">{{ '1 year'|t }}</option>
                  <option value="first">{{ 'All time'|t }}</option>
                </select>
              </form>

            </div>
          </div>

          {# Placeholder for the chanrt. #}
          <canvas id="lmsActivityChart" class="lms-line-chart" width="700" height="160">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      {{ content.stats_block }}
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    {{ content.per_group_totals }}
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    {{ content.per_group_avg }}
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-sm-24">
      {{ content.general_progress }}
    </div>
  </div>
</div>
