{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
    'node-'~node.bundle|clean_class,
    'well'
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <!-- Start HTML compensation-form  -->

  <!--Title-->
  {% if label %}
    <div class="title__wrapper">
      <h1 class="position__title">{{ label }}</h1>
    </div>
  {% endif %}

  <!--Head part-->
  <div class="head__block block__section_separate-line block__section_separate-line_indents">
    <div class="head__info col-xs-24">
      <div class="row m-0">
        <div class="head__info_line">
          <span class="info__label">{{ 'Status'|t }}:</span>
          {{ content.field_confirm_title }} at&nbsp;{{ content.field_company }}
        </div>
      </div>
    </div>
    <div class="head__info head__industry-group col-xs-24">
      <div class="row m-0">
        <div class="head__info_line head__info_vertical-line">
          <span class="info__label">{{ 'Industry Detail'|t }}: </span>
          {{ content.field_industry_detail[0]|raw }}
        </div>
        <div class="head__info_line">
          <span class="info__label">{{ 'Group/Division/Type'|t }}: </span>
          {{ content.field_groupdivision[0]|raw }}
        </div>
      </div>
    </div>
    <div class="head__info head__city-year col-xs-24">
      <div class="row m-0">
        <div class="head__info_line head__info_vertical-line">
          <span class="info__label info__label_location">{{ 'City'|t }}: </span>
          <span class="location--inline">{{ content.field_address[0]|raw }}</span>
        </div>
        <div class="head__info_line">
          <span class="info__label info__label_date">{{ 'Year'|t }}:</span>
          {{ content.field_compensationyear }}
        </div>
      </div>
    </div>
  </div>

  {% if content.field_pay_currency %}
    {% set pay_currency = ' in '|t ~ currency_symbol %}
  {% else %}
    {% set pay_currency = '' %}
  {% endif %}

  {% if company_database_has_access  %}
    {% set access_class = 'item__title_green' %}
  {% else %}
    {% set access_class = 'item__title_grey' %}
  {% endif %}

  <!--Compnesation-->
  <div class="compensation__block part__block">
    <p class="compensation__title block__title block__title_icon block__title__icon"><i class="icon icon-diamond" aria-hidden="true"></i>{{ 'Compensation'|t }} </p>
    <div class="row m-0 justify-content-between">
      <div class="compensation__item item__block item__block_border col-xs-24 col-lg-8">
        <div class="mb-0 item__title {{ access_class }}">{{ content.field_paytype }}{{ pay_currency }}</div>
        {% if company_database_has_access  %}
          <div class="item__description item__description_lg">{{ pay }}</div>
        {% else %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#reportsModal" class="btn btn-success lock__link">
            <i class="icon icon-lock"></i>
            <span class="lock-add-node">{{ lock_text }}</span>
          </a>
        {% endif %}
      </div>
      <div class="compensation__item item__block item__block_border col-xs-24 col-lg-8">
        <div class="mb-0 item__title {{ access_class }}">{{ 'Cash Bonus'|t }}{{ pay_currency }}{{ bonus_type_summary }}</div>
        {% if company_database_has_access  %}
          <div class="item__description item__description_lg">{{ total_bonus }}</div>
        {% else %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#reportsModal" class="btn btn-success lock__link">
            <i class="icon icon-lock"></i>
            <span class="lock-add-node">{{ lock_text }}</span>
          </a>
        {% endif %}
      </div>
      <div class="compensation__item item__block item__block_border col-xs-24 col-lg-8">
        <div class="mb-0 item__title {{ access_class }}">{{ 'Total Pay'|t }}{{ pay_currency }}{{ pay_type_summary }}</div>
        {% if company_database_has_access  %}
          <div class="item__description item__description_lg">{{ total_compensation }}</div>
        {% else %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#reportsModal" class="btn btn-success lock__link">
            <i class="icon icon-lock"></i>
            <span class="lock-add-node">{{ lock_text }}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  <!--About-->
  <div class="about__block part__block">
    <p class="about__title block__title block__title_icon block__title__icon"><i class="icon icon-question-circle-o" aria-hidden="true"></i>{{ 'About '|t }}</p>
    <div class="row m-0 justify-content-between">
      <div class="about__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Status '|t }}</p>
        <div class="item__description">{{ content.field_employmentstatus }}</div>
      </div>
      <div class="about__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Industry Detail '|t }}</p>
        <div class="item__description">{{ content.field_industry_detail }}</div>
      </div>
      <div class="about__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Average Hours per week '|t }}</p>
        <div class="item__description">{{ content.field_weeklyhours }}</div>
      </div>
    </div>
  </div>

  <!--Benefits-->
  <div class="benefits__block part__block">
    <p class="benefits__title block__title block__title_icon block__title__icon"><i class="icon icon-heart-empty" aria-hidden="true"></i>{{ 'Benefits '|t }}</p>
    <div class="block__items block__items_separate row ms-0 me-0 justify-content-between">
      <div class="benefits__item item__block item__block_border col-xs-24 col-sm-12">
        <p class="item__title item__title-grey">{{ 'Health Benefits '|t }}</p>
        {% if content.field_healthbenefits[0] %}
          <div class="item__description">{{ content.field_healthbenefits }}</div>
        {% else %}
          <div class="item__description">{{ 'NA '|t }}</div>
        {% endif %}

      </div>
      <div class="benefits__item item__block item__block_border col-xs-24 col-sm-12">
        <p class="item__title item__title-grey">{{ 'Retirement Benefits '|t }}</p>
        {% if content.field_retirementbenefits[0] %}
          <div class="item__description">{{ content.field_retirementbenefits }}</div>
        {% else %}
          <div class="item__description">{{ 'NA '|t }}</div>
        {% endif %}
      </div>
    </div>
    <div class="block__items block__items_separate row ms-0 me-0 justify-content-between">
      <div class="benefits__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Stock Bonus '|t }}</p>
        {% if content.field_stockbonus %}
          <div class="item__description item__description_md">{{ currency_symbol_short }}{{ content.field_stockbonus[0]['#markup']|number_format }}</div>
        {% else %}
          <div class="item__description item__description_md">{{ 'NA '|t }}</div>
        {% endif %}
      </div>
      <div class="benefits__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Profit Sharing '|t }}</p>
        {% if content.field_profitsharing %}
          <div class="item__description item__description_md">{{ currency_symbol_short }}{{ content.field_profitsharing[0]['#markup']|number_format }}</div>
        {% else %}
          <div class="item__description item__description_md">{{ 'NA '|t }}</div>
        {% endif %}
      </div>
      <div class="benefits__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Commission '|t }}</p>
        {% if content.field_commission %}
          <div class="item__description item__description_md">{{ currency_symbol_short }}{{ content.field_commission[0]['#markup']|number_format }}</div>
        {% else %}
          <div class="item__description item__description_md">{{ 'NA '|t }}</div>
        {% endif %}
      </div>
    </div>
    <div class="block__items row m-0 justify-content-between">
      <div class="benefits__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Relocation Bonus '|t }}</p>
        {% if content.field_relobonus %}
          <div class="item__description item__description_md">{{ currency_symbol_short }}{{ content.field_relobonus[0]['#markup']|number_format }}</div>
        {% else %}
          <div class="item__description item__description_md">{{ 'NA '|t }}</div>
        {% endif %}
      </div>
      <div class="benefits__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Sign On Bonus'|t }}</p>
        {% if content.field_tips %}
          <div class="item__description item__description_md">{{ currency_symbol_short }}{{ content.field_tips[0]['#markup']|number_format }}</div>
        {% else %}
          <div class="item__description item__description_md">{{ 'NA '|t }}</div>
        {% endif %}
      </div>
      <div class="benefits__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title-grey">{{ 'Weeks of Vacation'|t }}</p>
        {% if content.field_weeksvacation[0] %}
          <div class="item__description item__description_md">{{ content.field_weeksvacation }}</div>
        {% else %}
          <div class="item__description item__description_md">{{ 'NA '|t }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  <!--End new part-->

  <!-- End HTML compensation-form  -->
  {% if company_database_has_access  %}
  <!-- Start HTML Aggregate Data  -->
  <div class="aggregate-pay__block part__block">
    {{ content.company_compensation_charts_jobtitle }}
  </div>
  <!-- End HTML Aggregate Data  -->
  {% endif %}

  <div class="vote__block">
    <h4 class="vote__title">{{ 'Was this review helpful?'|t }}</h4>
    {{ content.field_vote }}
  </div>

  <!-- Author Information for Community Analytics Bot  -->
  {% if community_analytics_bot %}
    <div class="m-l-sm">
      <div class="m-t-md">
        <label>Author: </label>
        {{ author_name }}
      </div>
      <div class="m-t-md">
        <label>Published: </label>
        {{ date }}
      </div>
    </div>
  {% endif %}

  <hr class="hr-line" />

  {% if not company_database_has_access %}
    {% include directory ~ '/templates/node/_parts/blur-access.html.twig' with {
      'block_label': 'Salary & Bonus Details'|t,
      'block_class': 'col-sm-24 blur__block',
    } %}
  {% endif %}

  <div class="m-t-n-sm">
    <div class="bookmarks-links">
      {{ content.flag_bookmarks }}
      {{ content.links }}
    </div>
  </div>
</article>
