.tab-content {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-3);
  border-radius: 0 0 4px 4px;
  border-top: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .04);
  padding: 15px;
}

.tabs-vertical {
  display: table;
  width: 100%;
  border-top: 1px solid var(--color-neutral-3);

  .tab-content {
    display: table-cell;
    vertical-align: top;
  }

  .nav-tabs {
    border-bottom: none;
    display: table-cell;
    height: 100%;
    float: none;
    padding: 0;
    vertical-align: top;

    > li {
      display: block;

      a {
        border-radius: 0;
        display: block;
        padding-top: 10px;
        border-bottom: none;
        border-top: none;

        &:hover {
          border-bottom: none;
          border-top: none;
        }

        &:focus {
          border-bottom: none;
          border-top: none;
        }
      }

      &.active {
        a {
          border-top: none;

          &:hover {
            border-top: none;
          }
        }

        &:focus {
          border-top: none;
        }
      }
    }
  }
}

.tabs-left {
  .tab-content {
    border-left: none;
    border-radius: 0 5px 5px 5px;
  }

  .nav-tabs {
    > li {
      margin-right: -1px;

      &:first-child {
        a {
          border-radius: 5px 0 0 0;
        }
      }

      &:last-child {
        a {
          border-radius: 0 0 0 5px;
        }
      }

      a {
        border-right: 1px solid var(--color-neutral-3);
        border-left: 3px solid var(--color-neutral-3);
        margin-right: 1px;
        margin-left: -3px;

        &:hover {
          border-left-color: var(--color-neutral-5);
        }
      }

      &.active {
        a {
          border-left: 3px solid var(--color-neutral-5);
          border-right-color: var(--color-neutral-0);

          &:hover {
            border-left: 3px solid var(--color-neutral-5);
            border-right-color: var(--color-neutral-0);
          }

          &:focus {
            border-left: 3px solid var(--color-neutral-5);
            border-right-color: var(--color-neutral-0);
          }
        }
      }
    }
  }
}

.nav-tabs {
  li {
    a {
      background: var(--color-neutral-3);
      border-top: 3px solid var(--color-neutral-5);

      &:hover {
        background: var(--color-neutral-3);
        border-top: 3px solid var(--color-neutral-5);
      }

      &.nav-link {
        &,
        &:hover {
          border-top-width: 1px;
        }
      }
    }
  }

  &.nav-justified {
    > .active {
      > a {
        border-top: 3px solid $color-blue;

        &:hover {
          border-top: 3px solid $color-blue;
        }
      }
    }
  }
}

ul {
  &.nav-list {
    &.primary {
      > li {
        margin: 0;
        padding: 0;

        // @todo: check if we need in storybook
        /*
        a {
          -moz-transition: all .3s;
          -webkit-transition: all .3s;
          background-image: url(../img/list-primary.png);
          background-position: 9px 16px;
          background-repeat: no-repeat;
          border-bottom: 1px solid $oldlace_EDEDDE;
          padding: 8px 20px;
          transition: all .3s;
        }
         */
      }
    }
  }

  &.nav-pills {
    > li {
      &.active {
        > a {
          background-color: var(--color-neutral-5);

          &:hover {
            background-color: var(--color-neutral-5);
          }

          &:focus {
            background-color: var(--color-neutral-5);
          }
        }
      }
    }
  }

  &.icons {
    list-style: none;

    [class^="icon-"] {
      margin-right: 5px;
    }
  }

  &.thumbnail-gallery {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 10px 10px 0 0;
      padding: 0;
    }
  }

  &.list {
    li {
      margin-bottom: 13px;
    }

    &.icons {
      li {
        i {
          color: var(--color-neutral-5);
          margin-right: 5px;
        }
      }
    }

    &.pull-left {
      li {
        text-align: left;
      }
    }
  }

  &.sitemap {
    > li {
      > a {
        border-top: 1px solid var(--color-neutral-2);
      }
    }

    &.list {
      li {
        margin: 0 0 3px 0;
      }

      ul {
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }
  }

  &.portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .portfolio-item {
      margin-bottom: 35px;
    }
  }

  &.portfolio-details {
    list-style: none;
    padding: 0;
    margin: 45px 0 0 5px;
    font-size: .9em;

    li {
      margin: 0 0 20px;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }

    blockquote {
      color: var(--color-neutral-6);
      margin: 15px 0 0;
      padding: 0 0 0 10px;
    }

    ul {
      &.list-skills {
        li {
          margin-bottom: 5px;
          margin-right: 10px;
        }
      }
    }
  }

  &.team-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .team-item {
      margin-bottom: 35px;

      .thumb-info-social-icons {
        margin: 0 10px;
      }
    }
  }

  &.history {
    margin: 0 0 25px;
    padding: 0;
    list-style: none;

    li {
      margin: 25px 0;
      padding: 0;
      clear: both;

      h4 {
        margin: 0 0 -27px 0;
        padding: 0;
      }

      p {
        margin-left: 53px;
      }

      /*
      .thumb {
        background: transparent url(../img/history-thumb.png) no-repeat 0 0;
        width: 227px;
        height: 160px;
        margin: 0 0 30px;
        padding: 0;
        float: left;

        img {
          border-radius: 150px;
          height: 145px;
          margin: 7px 8px;
          width: 145px;
        }
      }
       */

      .featured-box {
        text-align: left;
        margin-left: 225px;
        margin-bottom: 50px;
        min-height: 115px;

        .box-content {
          border-top-color: var(--color-neutral-5);
        }
      }
    }
  }
}

ul {
  &.nav-pills {
    > li {
      &.active {
        > a {
          background-color: $color-blue;

          &:hover {
            background-color: $color-blue;
          }

          &:focus {
            background-color: $color-blue;
          }
        }
      }
    }
  }

  &.list {
    &.icons {
      li {
        i {
          color: $color-blue;
        }
      }
    }
  }

  &.history {
    li {
      .featured-box {
        .box-content {
          border-top-color: $color-blue;
        }
      }
    }
  }
}

.list-group-item {
  &.disabled {
    background: rgba(0, 0, 0, 0.03);
    font-size: 12px;
    border-top: 1px solid var(--color-neutral-2);
    color: var(--color-base);
    text-transform: uppercase;
  }

  &.nav-item {
    .nav-link {
      border-radius: 0;
    }
  }
}
