<ul id="{{ id }}" class="megamenu-dynamic navbar-nav me-auto">
  {% for menu_item in items.menu_tree %}
    <li class="nav-item dropdown">
      <a href="{{ menu_item.url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu_item.text }}</a>

      {% if menu_item.text == 'Courses' %}
        <div class="dropdown-menu">
          <div class="megamenu-container">
            <div class="row row--courses">
              {% if page.megamenu_courses_left is not empty %}
                <div id="megamenu-courses-left" class="col-lg-8">
                  {{ page.megamenu_courses_left }}
                </div>
              {% endif %}
              {% if page.megamenu_courses_right is not empty %}
                <div id="megamenu-courses-right" class="col-lg-16">
                  {{ page.megamenu_courses_right }}
                </div>
              {% endif %}
              {% if page.megamenu_courses_bottom is not empty %}
                {{ page.megamenu_courses_bottom }}
              {% endif %}
            </div>
          </div>
        </div>
      {% elseif menu_item.text == 'Career' %}
        <div class="dropdown-menu">
          <div class="megamenu-container">
            <div class="row">
              {% if page.megamenu_career_left is not empty %}
                <div id="megamenu-career-left" class="col-lg-12">
                  {{ page.megamenu_career_left }}
                </div>
              {% endif %}
              {% if page.megamenu_career_right is not empty %}
                <div id="megamenu-career-right" class="col-lg-12">
                  {{ page.megamenu_career_right }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% elseif menu_item.text == 'Training' %}
        <div class="dropdown-menu">
          <div class="megamenu-container">
            <div class="row">
              {% if page.megamenu_corporate is not empty %}
                <div id="megamenu-corporate" class="col-lg-24">
                  {{ page.megamenu_corporate }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% elseif menu_item.text == 'Resources' %}
        <div class="dropdown-menu">
          <div class="megamenu-container">
            <div class="row">
              {% if page.megamenu_resources_top is not empty %}
                <div id="megamenu-resources-top" class="col-lg-24">
                  {{ page.megamenu_resources_top }}
                </div>
              {% endif %}
              {% if page.megamenu_resources_bottom is not empty %}
                <div id="megamenu-resources-bottom" class="col-lg-24">
                  {{ page.megamenu_resources_bottom }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% elseif menu_item.text == 'Alpha' %}
        <div class="dropdown-menu">
          <div class="megamenu-container">
            <div class="row">
              {% if page.megamenu_alpha is not empty %}
                <div id="megamenu-alpha" class="col-lg-24">
                  {{ page.megamenu_alpha }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% else %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
