{% macro menu_links(items, level) %}
  {% import _self as macros %}

  {% for item in items %}
    {% if level == 0 %}
      <li class="nav-item {% if item.submenu %}dropdown{% endif %}">
        {% if item.submenu %}
          <a href="{{ item.url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.text}}</a>
          <div class="dropdown-menu">
            {{ macros.menu_links(item.submenu, 1) }}
          </div>
        {% else %}
          <a href="{{ item.url }}" class="nav-link">{{ item.text}}</a>
        {% endif %}
      </li>
    {% endif %}

    {% if level == 1 %}
      <div class="mega__group__title">
        <a href="{{ item.url }}"><span class="link-title">{{ item.text}}</span></a>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% import _self as macros %}

<ul id="{{ id }}" class="navbar-nav me-auto">
  {{ macros.menu_links(items.menu_tree, 0) }}
</ul>
