$cornflowerblue_139ff7: #139ff7;

.form-textarea-wrapper {

  .cke_button_icon {
    .darkmode & {
      filter: invert(1);
    }
  }

  .cke_reset_all {
    color: var(--color-black);

    * {
      color: var(--color-black);
    }

    a {
      color: var(--color-black);
    }

    textarea {
      color: var(--color-black);
    }

    fieldset {
      border: 2px groove var(--color-neutral-4);
    }
  }

  .cke_chrome {
    border: 1px solid var(--color-neutral-4);
  }

  .cke_inner {
    background: var(--color-neutral-0);
  }

  .cke_top {
    background: var(--color-neutral-1);
    border-bottom: 1px solid var(--color-neutral-4);
  }

  .cke_float {
    .cke_top {
      border: 1px solid var(--color-neutral-4);
    }
  }

  .cke_bottom {
    background: var(--color-neutral-1);
    border-top: 1px solid var(--color-neutral-4);
  }

  .cke_resizer {
    border-color: transparent var(--color-neutral-6) transparent transparent;
  }

  .cke_resizer_rtl {
    border-color: transparent transparent transparent var(--color-neutral-6);
  }

  .cke_panel {
    background-color: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-4);
  }

  .cke_panel_listItem {
    &.cke_selected {
      a {
        background-color: var(--color-neutral-4);
      }
    }

    a {
      &:hover {
        background-color: var(--color-neutral-4);
      }

      &:focus {
        background-color: var(--color-neutral-4);
        outline: 1px dotted var(--color-black);
      }

      &:active {
        background-color: var(--color-neutral-4);
      }
    }
  }

  .cke_panel_grouptitle {
    background: var(--color-neutral-1);
    border-bottom: 1px solid var(--color-neutral-4);
    color: var(--color-base);
  }

  .cke_colorblock {
    color: var(--color-black);

    a {
      color: var(--color-black);
    }
  }

  a {
    &:hover {
      &.cke_colorbox {
        border: 2px solid $cornflowerblue_139ff7;
        border-color: var(--color-neutral-6);
      }

      &.cke_colorauto {
        background-color: var(--color-neutral-1);
        border: $cornflowerblue_139ff7 1px solid;
        border-color: var(--color-neutral-6);
      }

      &.cke_colormore {
        background-color: var(--color-neutral-1);
        border: $cornflowerblue_139ff7 1px solid;
        border-color: var(--color-neutral-6);
      }
    }

    &:focus {
      &.cke_colorbox {
        border: 2px solid $cornflowerblue_139ff7;
      }

      &.cke_colorauto {
        background-color: var(--color-neutral-1);
        border: $cornflowerblue_139ff7 1px solid;
      }

      &.cke_colormore {
        background-color: var(--color-neutral-1);
        border: $cornflowerblue_139ff7 1px solid;
      }
    }

    &:active {
      &.cke_colorbox {
        border: 2px solid $cornflowerblue_139ff7;
      }

      &.cke_colorauto {
        background-color: var(--color-neutral-1);
        border: $cornflowerblue_139ff7 1px solid;
      }

      &.cke_colormore {
        background-color: var(--color-neutral-1);
        border: $cornflowerblue_139ff7 1px solid;
      }
    }

    &.cke_colorauto {
      border: var(--color-neutral-0) 1px solid;
    }

    &.cke_colormore {
      border: var(--color-neutral-0) 1px solid;
    }

    &.cke_button_on {
      background: var(--color-neutral-0);
      border: 1px var(--color-neutral-6) solid;
    }

    &.cke_button_off {
      &:hover {
        background: var(--color-neutral-4);
        border: 1px var(--color-neutral-6) solid;
      }

      &:focus {
        background: var(--color-neutral-4);
        border: 1px var(--color-neutral-6) solid;
      }

      &:active {
        background: var(--color-neutral-4);
        border: 1px var(--color-neutral-6) solid;
      }
    }

    &.cke_toolbox_collapser {
      border: 1px solid var(--color-neutral-6);
    }

    &.cke_path_item {
      color: var(--color-base);

      &:hover {
        background-color: var(--color-neutral-4);
      }

      &:focus {
        background-color: var(--color-neutral-4);
      }

      &:active {
        background-color: var(--color-neutral-4);
      }
    }
  }

  .cke_colorauto {
    span {
      &.cke_colorbox {
        border: 1px solid var(--color-neutral-7);
      }
    }
  }

  .cke_hc {
    a {
      &.cke_button_on {
        background: var(--color-neutral-4);
        border: 3px solid var(--color-black);
      }

      &.cke_button_off {
        &:hover {
          background: var(--color-neutral-4);
          border: 3px solid var(--color-black);
        }

        &:focus {
          background: var(--color-neutral-4);
          border: 3px solid var(--color-black);
        }

        &:active {
          background: var(--color-neutral-4);
          border: 3px solid var(--color-black);
        }
      }

      &.cke_button_disabled {
        &:focus {
          border: 3px solid var(--color-black);
        }
        border-color: var(--color-neutral-6);
      }
    }

    .cke_toolgroup {
      a {
        &.cke_button {
          &:last-child {
            &:after {
              border-color: var(--color-black);
            }
          }

          &.cke_button_disabled {
            &:last-child {
              &:after {
                border-color: var(--color-black);
              }
            }

            &:hover {
              &:last-child {
                &:after {
                  border-color: var(--color-black);
                }
              }
            }
          }
        }
      }
    }

    .cke_toolbar_separator {
      background-color: var(--color-black);
    }

    .cke_combo {
      &:after {
        border-color: var(--color-black);
      }
    }
  }

  .cke_toolgroup {
    a {
      &.cke_button {
        &:last-child {
          &:after {
            border-right: 1px solid var(--color-neutral-6);
          }
        }

        &.cke_button_disabled {
          &:hover {
            &:last-child {
              &:after {
                border-right: 1px solid var(--color-neutral-6);
              }
            }
          }
        }
      }
    }
  }

  .cke_rtl {
    .cke_toolgroup {
      a {
        &.cke_button {
          &:last-child {
            &:after {
              border-left: 1px solid var(--color-neutral-6);
            }
          }

          &.cke_button_disabled {
            &:hover {
              &:last-child {
                &:after {
                  border-left: 1px solid var(--color-neutral-6);
                }
              }
            }
          }
        }
      }
    }

    .cke_combo {
      &:after {
        border-left: 1px solid var(--color-neutral-6);
      }
    }
  }

  .cke_button_label {
    color: var(--color-base);
  }

  .cke_button_arrow {
    border-top: 3px solid var(--color-base);
  }

  .cke_toolbar_separator {
    background-color: var(--color-neutral-6);
  }

  .cke_toolbox_collapser {
    &:hover {
      background: var(--color-neutral-4);
    }

    .cke_arrow {
      border-bottom-color: var(--color-base);
    }

    &.cke_toolbox_collapser_min {
      .cke_arrow {
        border-top-color: var(--color-base);
      }
    }
  }

  .cke_menubutton {
    &:hover {
      background-color: var(--color-neutral-4);

      .cke_menubutton_icon {
        background-color: var(--color-neutral-4);
      }
    }

    &:focus {
      background-color: var(--color-neutral-4);

      .cke_menubutton_icon {
        background-color: var(--color-neutral-4);
      }
    }

    &:active {
      background-color: var(--color-neutral-4);

      .cke_menubutton_icon {
        background-color: var(--color-neutral-4);
      }
    }
  }

  span.cke_colorbox[style*="#ffffff"],
  span.cke_colorbox[style*="#FFFFFF"],
  span.cke_colorbox[style="background-color:#fff"],
  span.cke_colorbox[style="background-color:#FFF"],
  span.cke_colorbox[style*="rgb(255,255,255)"],
  span.cke_colorbox[style*="rgb(255, 255, 255)"] {
    border: 1px solid var(--color-neutral-7);

  }

  .cke_menubutton_disabled {
    &:hover {
      .cke_menubutton_icon {
        background-color: var(--color-neutral-1);
      }
    }

    &:focus {
      .cke_menubutton_icon {
        background-color: var(--color-neutral-1);
      }
    }

    &:active {
      .cke_menubutton_icon {
        background-color: var(--color-neutral-1);
      }
    }
  }

  .cke_menuitem {
    .cke_menubutton_on {
      background-color: var(--color-neutral-4);
      border: 1px solid var(--color-neutral-4);
    }
  }

  .cke_menubutton_on {
    .cke_menubutton_icon {
      background-color: var(--color-neutral-4);
    }
  }

  .cke_menubutton_shortcut {
    color: var(--color-neutral-7);
  }

  .cke_menuseparator {
    background-color: var(--color-neutral-4);
  }

  .cke_combo {
    &:after {
      border-right: 1px solid var(--color-neutral-6);
    }
  }

  .cke_combo_on {
    a {
      &.cke_combo_button {
        background: var(--color-neutral-0);
        border: 1px solid var(--color-neutral-6);
      }
    }
  }

  .cke_combo_off {
    a {
      &.cke_combo_button {
        &:hover {
          background: var(--color-neutral-4);
          border: 1px solid var(--color-neutral-6);
        }

        &:focus {
          background: var(--color-neutral-4);
          border: 1px solid var(--color-neutral-6);
        }

        &:active {
          background: var(--color-neutral-0);
          border: 1px solid var(--color-neutral-6);
        }
      }
    }
  }

  .cke_combo_text {
    color: var(--color-base);
  }

  .cke_combo_arrow {
    border-top: 3px solid var(--color-base);
  }

  span {
    &.cke_path_empty {
      color: var(--color-base);
    }
  }

  textarea {
    &.cke_source {
      background-color: var(--color-neutral-0);
    }
  }

  .cke_wysiwyg_frame {
    background-color: var(--color-neutral-0);
  }

  .cke_wysiwyg_div {
    background-color: var(--color-neutral-0);
  }
}
