.cke_editable span.green-lms-heading,
.cke_panel_listItem span.green-lms-heading {
  font-size: 28px;
  color: #0cb930
}
.cke_editable span.blue-lms-heading,
.cke_panel_listItem span.blue-lms-heading {
  font-size: 20px;
  font-weight: 400;
  color: #087dfd;
  font-style: italic
}
.cke_editable span.black-lms-heading,
.cke_panel_listItem span.black-lms-heading {
  font-weight: 800;
  font-size: 20px;
  color: var(--color-base);
  text-transform: none;
  line-height: 1.2
}
.wso-darkmode-switcher {
  position: relative;
  height: 100%;
  cursor: pointer
}
.wso-darkmode-switcher__body {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #f5b226;
  border-radius: 22px;
  transition: background .3s ease-in-out
}
.darkmode .wso-darkmode-switcher__body {
  background: #342b39
}
.darkmoding .wso-darkmode-switcher__body {
  background: #ad7808
}
.wso-darkmode-switcher__element {
  color: #fff;
  position: absolute;
  display: inline-block;
  transition: .5s ease-in-out
}
.wso-darkmode-switcher__element.sun {
  right: 3px;
  transform: translateY(-1px);
  left: auto;
  opacity: 1
}
.darkmode .wso-darkmode-switcher__element.sun {
  left: auto;
  transform: translateY(20px);
  opacity: 0
}
.wso-darkmode-switcher__element.sun svg {
  width: 17px;
  height: 17px
}
.wso-darkmode-switcher__element.sun--secondary {
  opacity: .7
}
.wso-darkmode-switcher__element.moon {
  opacity: 0;
  left: 3px;
  transform: translateY(20px)
}
.darkmode .wso-darkmode-switcher__element.moon {
  opacity: 1;
  transform: translateY(-3px)
}
.wso-darkmode-switcher__element.moon svg {
  width: 22px;
  height: 22px
}
.wso-darkmode-switcher__element.moon--secondary {
  opacity: .6
}
:root {
  --color-neutral-0--rgb: 255,255,255;
  --color-neutral-0: #ffffff;
  --color-neutral-1: #fafafa;
  --color-neutral-2: #f6f7f7;
  --color-neutral-3: #eeeeee;
  --color-neutral-4: #dfe1e6;
  --color-neutral-5: #9db2bc;
  --color-neutral-6: #9db2bc;
  --color-neutral-7: #9db2bc;
  --color-neutral-8: #3f4145;
  --color-neutral-9: #1c1e24;
  --color-almost-black: #141414;
  --color-black: #000000;
  --color-black--rgb: 0,0,0;
  --color-page-bg: #f5f7f8;
  --color-monkey-grey: #9db2bc;
  --color-warning-bg: #fffdf6;
  --color-base: #0a4059;
  --color-light-blue: #f3f8ff
}
:root.darkmode {
  --color-neutral-0--rgb: 0,0,0;
  --color-neutral-0: #1c1c21;
  --color-neutral-1: #1f1f21;
  --color-neutral-2: #090808;
  --color-neutral-3: #3e3e3e;
  --color-neutral-4: #201e19;
  --color-neutral-5: #624d43;
  --color-neutral-6: #624d43;
  --color-neutral-7: #624d43;
  --color-neutral-8: #c0beba;
  --color-neutral-9: #e3e1db;
  --color-almost-black: #ebebeb;
  --color-black: #fff;
  --color-black--rgb: 255,255,255;
  --color-page-bg: #212121;
  --color-monkey-grey: #624d43;
  --color-warning-bg: #000209;
  --color-base: #c0beba;
  --color-light-blue: #141418
}
.bg-white {
  background-color: var(--color-neutral-0)!important;
  background: var(--color-neutral-0)
}
.bg-light-gray {
  background: var(--color-neutral-2)
}
.white-bg {
  background: var(--color-neutral-0)
}
.text-white {
  color: var(--color-neutral-0)!important
}
.text-blue {
  color: #087dfd
}
.text-primary {
  color: var(--color-neutral-6)!important
}
.color-success {
  color: #0cb930!important
}
.alternative-font {
  color: #087dfd
}
.inverted {
  color: var(--color-neutral-0);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #087dfd
}
.b-sh-none {
  box-shadow: none!important
}
.shadow {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05)!important
}
.flat-shadow {
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1)!important
}
.flat-white {
  background-color: var(--color-neutral-0)!important;
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1)
}
.label-dark {
  background: var(--color-base);
  text-decoration: none;
  font-weight: normal
}
.label-dark:hover {
  background: var(--color-base);
  font-weight: normal;
  text-decoration: none
}
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: local("Oswald-Regular"),url(../../../../fonts/oswald/Oswald-Regular.woff2) format("woff2"),url(../../../../fonts/oswald/Oswald-Regular.woff) format("woff"),url(../../../../fonts/oswald/Oswald-Regular.ttf) format("ttf");
  text-rendering: optimizeLegibility;
  font-display: swap;
  unicode-range: U+0-7F,U+A0,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
  -webkit-font-smoothing: antialiased
}
html {
  height: 100%;
  overflow-y: visible!important
}
.cke_editable {
  word-break: break-word;
  padding: 20px;
  font-family: Lato,sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-page-bg);
  color: var(--color-base)
}
.cke_editable h2,
.cke_editable h3,
.cke_editable h4,
.cke_editable h5,
.cke_editable h6 {
  line-height: 1.2;
  font-weight: 700
}
.cke_editable h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 44px 0 8px
}
.cke_editable h3 {
  font-size: 20px;
  margin: 38px 0 8px
}
.cke_editable h4 {
  font-size: 18px;
  margin: 34px 0 8px
}
.cke_editable h5 {
  font-size: 16px;
  margin: 32px 0 8px
}
.cke_editable h6 {
  font-size: 16px;
  margin: 30px 0 8px
}
.cke_editable img {
  max-width: 100%;
  max-width: 100%;
  height: auto
}
.cke_editable figure.align-center img {
  margin-left: auto;
  margin-right: auto;
  display: block
}
.cke_editable figure.align-center figcaption {
  text-align: center
}
.cke_editable p strong {
  font-weight: 700
}
.cke_editable p a {
  word-wrap: break-word
}
.cke_editable blockquote {
  font-size: inherit;
  border-left: 3px solid #b7e1f3;
  margin: 0 0 24px 8px;
  font-style: italic;
  color: var(--color-neutral-7);
  line-height: 26px;
  letter-spacing: -.15px;
  padding: 1em;
  background-color: var(--color-neutral-2);
  border-color: #b7e1f3
}
.cke_editable blockquote strong.quote-author {
  margin-right: 5px
}
.cke_editable blockquote strong.quote-author:before {
  display: inline-block;
  font: 14px/1 fa-custom;
  font-size: inherit;
  content: "\f10d";
  margin-right: 5px
}
.cke_editable blockquote p:first-of-type {
  display: inline
}
.cke_editable dl,
.cke_editable ol,
.cke_editable ul {
  page-break-before: avoid
}
.cke_editable li {
  line-height: 26px;
  margin-bottom: 4px
}
.cke_editable ol,
.cke_editable ul {
  margin-bottom: 16px;
  margin-top: 8px;
  padding-left: 24px
}
.cke_editable span.alt-font {
  font-family: Oswald-Regular,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif!important
}
.cke_editable span.uppercase-text {
  text-transform: uppercase!important
}
.cke_editable span.color-pale-blue {
  color: #189eda!important
}
.cke_editable span.color-bright-blue {
  color: #7ad9ea!important
}
.cke_editable span.color-blue {
  color: #087dfd!important
}
.cke_editable span.color-dark-blue {
  color: #1982cd!important
}
.cke_editable span.color-green {
  color: #0cb930!important
}
.cke_editable span.color-orange {
  color: #ff6c00!important
}
.cke_editable span.color-grey {
  color: #3c4245!important
}
.cke_editable span.text-shadow {
  text-shadow: 0 1px 1px rgba(var(--color-black--rgb), .4)!important
}
.cke_editable p {
  line-height: 24px;
  margin: 0 0 10px;
  overflow-wrap: break-word;
  font-size: 16px
}
.cke_editable .btn {
  display: inline-block;
  border-radius: 3px!important;
  letter-spacing: .2px;
  font-weight: 400;
  text-transform: capitalize;
  border: 1px solid transparent;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  transition: none;
  background-image: none;
  padding: .375rem .75rem
}
.cke_editable .btn.btn-filled,
.cke_editable .btn.btn-success {
  background: #0cb930;
  border-color: #0cb930;
  color: var(--color-neutral-0)
}
.cke_editable .btn.btn-filled:focus,
.cke_editable .btn.btn-filled:hover,
.cke_editable .btn.btn-success:focus,
.cke_editable .btn.btn-success:hover {
  background: #08c42a
}
.cke_editable .btn.btn-danger {
  background: #f04944;
  border-color: #f04944;
  color: var(--color-neutral-0)
}
.cke_editable .btn.btn-danger:focus,
.cke_editable .btn.btn-danger:hover {
  background: #f47773;
  color: var(--color-neutral-0)
}
.cke_editable .btn.btn-lines,
.cke_editable .btn.btn-secondary {
  border-color: #0cb930;
  color: #0cb930;
  background: 0 0
}
.cke_editable .btn.btn-lines:hover,
.cke_editable .btn.btn-secondary:hover {
  background-color: transparent;
  border-color: #0cb930;
  color: #0cb930
}
.cke_editable .btn.btn-lines.mono,
.cke_editable .btn.btn-secondary.mono {
  border-color: var(--color-neutral-4);
  color: var(--color-base);
  font-weight: 600
}
.cke_editable .btn.btn-lines.mono:hover,
.cke_editable .btn.btn-secondary.mono:hover {
  color: #087dfd
}
.cke_editable .btn.btn-lines.mono.danger,
.cke_editable .btn.btn-secondary.mono.danger {
  color: #f04944!important
}
.cke_editable .btn.btn-lines.mono.danger:hover,
.cke_editable .btn.btn-secondary.mono.danger:hover {
  color: #1c1e24!important
}
.cke_editable .btn.btn-success-ghost {
  border-color: #0cb930;
  background: 0 0;
  color: #0cb930
}
.cke_editable .btn.btn-success-ghost:focus,
.cke_editable .btn.btn-success-ghost:hover {
  background: #5c973f;
  border-color: #5c973f;
  color: var(--color-neutral-0)
}
.cke_editable .btn:hover {
  text-decoration: none
}
.cke_editable .btn:focus {
  outline: 0;
  box-shadow: none
}
.cke_editable .btn.btn-transparency {
  display: inline-block;
  border-color: transparent;
  background-color: rgba(121, 186, 90, .1);
  color: #0cb930
}
.cke_editable .btn.btn-transparency:hover {
  background-color: rgba(121, 186, 90, .05);
  border-color: transparent;
  color: #0cb930
}
.cke_editable .btn.btn-other {
  display: inline-block;
  border-color: transparent;
  background-color: rgba(121, 186, 90, .1);
  color: #0cb930
}
.cke_editable .btn.btn-other:hover {
  background-color: rgba(121, 186, 90, .05);
  border-color: transparent;
  color: #0cb930
}
.cke_editable .btn.bg-white {
  background: var(--color-neutral-0)
}
.cke_editable .btn.btn-info {
  background: #087dfd;
  border-color: #087dfd;
  color: var(--color-neutral-0)
}
.cke_editable .btn.btn-info:focus,
.cke_editable .btn.btn-info:hover {
  background: var(--color-light-blue);
  color: #087dfd
}
.cke_editable .btn.btn-info.btn-lines {
  border-color: #087dfd;
  color: #087dfd;
  background: 0 0
}
.cke_editable .btn.btn-info.btn-lines:focus,
.cke_editable .btn.btn-info.btn-lines:hover {
  background: #087dfd;
  color: var(--color-neutral-0)
}
.cke_editable .btn.btn-xs {
  font-size: 11px!important;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  padding: 0 10px
}
.cke_editable .btn.btn-sm {
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  padding: 0 14px
}
.cke_editable .btn.btn-md {
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  line-height: 46px;
  padding: 0 16px;
  text-transform: uppercase
}
.cke_editable .btn.btn-lg {
  font-size: 18px;
  font-weight: 500;
  height: 56px;
  line-height: 54px;
  padding: 0 16px;
  text-transform: uppercase
}
.cke_panel_listItem span.alt-font {
  font-family: Oswald-Regular,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif!important
}
.cke_panel_listItem span.uppercase-text {
  text-transform: uppercase!important
}
.cke_panel_listItem span.color-pale-blue {
  color: #189eda!important
}
.cke_panel_listItem span.color-bright-blue {
  color: #7ad9ea!important
}
.cke_panel_listItem span.color-blue {
  color: #087dfd!important
}
.cke_panel_listItem span.color-dark-blue {
  color: #1982cd!important
}
.cke_panel_listItem span.color-green {
  color: #0cb930!important
}
.cke_panel_listItem span.color-orange {
  color: #ff6c00!important
}
.cke_panel_listItem span.color-grey {
  color: #3c4245!important
}
@media (min-width: 992px) {
  .cke_editable h2,
  .cke_editable h3,
  .cke_editable h4,
  .cke_editable h5,
  .cke_editable h6 {
    font-weight: 800
  }
  .cke_editable h2 {
    font-size: 38px
  }
  .cke_editable h3 {
    font-size: 26px
  }
  .cke_editable h4 {
    font-size: 20px
  }
  .cke_editable h5 {
    font-size: 18px
  }
  .cke_editable h6 {
    font-size: 16px
  }
  .cke_editable p strong {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .cke_editable {
    font-size: 16px
  }
}
/*# sourceMappingURL=wso-ckeditor.component.css.map */
