//todo: refactor
//@import "./node_modules/bootstrap/scss/functions";
//@import "helpers/wso-bootstrap4-variables";
@import "helpers/mixins/text";
@import "vendors/include-media";
@import 'helpers/colors';
@import 'common/colors';

.cke_panel_listItem,
.cke_editable {
  h4 {
    @extend %green-lms-heading;
  }

  h5 {
    @extend %blue-lms-heading;
  }

  h6 {
    @extend %black-lms-heading;
  }
}
