//todo: refactor
//@import "./node_modules/bootstrap/scss/functions";
//@import "helpers/wso-bootstrap4-variables";
@import "helpers/mixins/text";
@import "vendors/include-media";
@import 'helpers/colors';
@import 'common/colors';

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local('Oswald-Regular'),
  url(../../../../fonts/oswald/Oswald-Regular.woff2) format("woff2"),
  url(../../../../fonts/oswald/Oswald-Regular.woff) format("woff"),
  url(../../../../fonts/oswald/Oswald-Regular.ttf) format("ttf");
  text-rendering: optimizeLegibility;
  font-display: swap;
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
  -webkit-font-smoothing: antialiased
}

html {
  height: 100%;
  overflow-y: visible !important;
}

.cke_editable { // sass-lint:disable-line class-name-format
  // Import .ckeditor.scss
  @import '../../source/_patterns/**/*.ckeditor';
  @include rich-text-desktop();

  padding: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-page-bg);
  color: var(--color-base);

  @include media('<tablet') {
    font-size: 16px;
  }

  p {
    line-height: 24px;
    margin: 0 0 10px;
    overflow-wrap: break-word;
    font-size: 16px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  // todo: refactor css
  .btn {
    display: inline-block;
    border-radius: 3px !important;
    letter-spacing: .2px;
    font-weight: 400;
    text-transform: capitalize;
    border: 1px solid transparent;
    text-shadow: none;
    box-shadow: none;
    text-align: center;
    transition: none;
    background-image: none;
    padding: 0.375rem 0.75rem;

    &.btn-success,
    &.btn-filled {
      background: $color-green-100;
      border-color: $color-green-100;
      color: var(--color-neutral-0);

      &:hover,
      &:focus {
        background: $color-pop-green;
      }
    }

    &.btn-danger {
      background: $color-red;
      border-color: $color-red;
      color: var(--color-neutral-0);

      &:hover,
      &:focus {
        background: lighten($color-red, 10%);
        color: var(--color-neutral-0);
      }
    }

    &.btn-secondary,
    &.btn-lines {
      border-color: $color-green-100;
      color: $color-green-100;
      background: transparent;

      &:hover {
        background-color: transparent;
        border-color: $color-green-100;
        color: $color-green-100;
      }

      &.mono {
        border-color: var(--color-neutral-4);
        color: var(--color-base);
        font-weight: 600;

        &:hover {
          color: $color-blue;
        }

        &.danger {
          color: $color-red !important;

          &:hover {
            color: $color-neutral-9 !important;
          }
        }
      }
    }

    &.btn-success-ghost {
      border-color: $color-green-100;
      background: 0 0;
      color: $color-green-100;

      &:hover {
        background: $olivedrab_5c973f;
        border-color: $olivedrab_5c973f;
        color: var(--color-neutral-0);
      }

      &:focus {
        background: $olivedrab_5c973f;
        border-color: $olivedrab_5c973f;
        color: var(--color-neutral-0);
      }
    }

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &.btn-transparency {
      display: inline-block;
      border-color: transparent;
      background-color: rgba(121, 186, 90, .1);
      color: $color-green-100;

      &:hover {
        background-color: rgba(121, 186, 90, .05);
        border-color: transparent;
        color: $color-green-100;
      }
    }

    &.btn-other {
      display: inline-block;
      border-color: transparent;
      background-color: rgba(121, 186, 90, .1);
      color: $color-green-100;

      &:hover {
        background-color: rgba(121, 186, 90, .05);
        border-color: transparent;
        color: $color-green-100;
      }
    }

    &.bg-white {
      background: var(--color-neutral-0);
    }

    &.btn-info {
      background: $color-blue;
      border-color: $color-blue;
      color: var(--color-neutral-0);

      &:hover,
      &:focus {
        background:  var(--color-light-blue);
        color: $color-blue;
      }

      &.btn-lines {
        border-color: $color-blue;
        color: $color-blue;
        background: transparent;

        &:hover,
        &:focus {
          background: $color-blue;
          color: var(--color-neutral-0);
        }
      }
    }

    //Sizes
    &.btn-xs {
      font-size: 11px !important;
      font-weight: 500;
      height: 20px;
      line-height: 20px;
      padding: 0 10px;
    }

    &.btn-sm {
      font-size: 14px;
      height: 32px;
      line-height: 30px;
      padding: 0 14px;
    }

    &.btn-md {
      font-size: 16px;
      font-weight: 500;
      height: 48px;
      line-height: 46px;
      padding: 0 16px;
      text-transform: uppercase;
    }

    &.btn-lg {
      font-size: 18px;
      font-weight: 500;
      height: 56px;
      line-height: 54px;
      padding: 0 16px;
      text-transform: uppercase;
    }
  }
}

.cke_panel_listItem {
  span.green-lms-heading {
    @extend %green-lms-heading;
  }

  span.blue-lms-heading {
    @extend %blue-lms-heading;
  }

  span.black-lms-heading {
    @extend %black-lms-heading;
  }

  @include ckeditor-styles();
}
