.cke_editable h4,
.cke_panel_listItem h4 {
  font-size: 28px;
  color: #0cb930
}
.cke_editable h5,
.cke_panel_listItem h5 {
  font-size: 20px;
  font-weight: 400;
  color: #087dfd;
  font-style: italic
}
.cke_editable h6,
.cke_panel_listItem h6 {
  font-weight: 800;
  font-size: 20px;
  color: var(--color-base);
  text-transform: none;
  line-height: 1.2
}
.wso-darkmode-switcher {
  position: relative;
  height: 100%;
  cursor: pointer
}
.wso-darkmode-switcher__body {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #f5b226;
  border-radius: 22px;
  transition: background .3s ease-in-out
}
.darkmode .wso-darkmode-switcher__body {
  background: #342b39
}
.darkmoding .wso-darkmode-switcher__body {
  background: #ad7808
}
.wso-darkmode-switcher__element {
  color: #fff;
  position: absolute;
  display: inline-block;
  transition: .5s ease-in-out
}
.wso-darkmode-switcher__element.sun {
  right: 3px;
  transform: translateY(-1px);
  left: auto;
  opacity: 1
}
.darkmode .wso-darkmode-switcher__element.sun {
  left: auto;
  transform: translateY(20px);
  opacity: 0
}
.wso-darkmode-switcher__element.sun svg {
  width: 17px;
  height: 17px
}
.wso-darkmode-switcher__element.sun--secondary {
  opacity: .7
}
.wso-darkmode-switcher__element.moon {
  opacity: 0;
  left: 3px;
  transform: translateY(20px)
}
.darkmode .wso-darkmode-switcher__element.moon {
  opacity: 1;
  transform: translateY(-3px)
}
.wso-darkmode-switcher__element.moon svg {
  width: 22px;
  height: 22px
}
.wso-darkmode-switcher__element.moon--secondary {
  opacity: .6
}
:root {
  --color-neutral-0--rgb: 255,255,255;
  --color-neutral-0: #ffffff;
  --color-neutral-1: #fafafa;
  --color-neutral-2: #f6f7f7;
  --color-neutral-3: #eeeeee;
  --color-neutral-4: #dfe1e6;
  --color-neutral-5: #9db2bc;
  --color-neutral-6: #9db2bc;
  --color-neutral-7: #9db2bc;
  --color-neutral-8: #3f4145;
  --color-neutral-9: #1c1e24;
  --color-almost-black: #141414;
  --color-black: #000000;
  --color-black--rgb: 0,0,0;
  --color-page-bg: #f5f7f8;
  --color-monkey-grey: #9db2bc;
  --color-warning-bg: #fffdf6;
  --color-base: #0a4059;
  --color-light-blue: #f3f8ff
}
:root.darkmode {
  --color-neutral-0--rgb: 0,0,0;
  --color-neutral-0: #1c1c21;
  --color-neutral-1: #1f1f21;
  --color-neutral-2: #090808;
  --color-neutral-3: #3e3e3e;
  --color-neutral-4: #201e19;
  --color-neutral-5: #624d43;
  --color-neutral-6: #624d43;
  --color-neutral-7: #624d43;
  --color-neutral-8: #c0beba;
  --color-neutral-9: #e3e1db;
  --color-almost-black: #ebebeb;
  --color-black: #fff;
  --color-black--rgb: 255,255,255;
  --color-page-bg: #212121;
  --color-monkey-grey: #624d43;
  --color-warning-bg: #000209;
  --color-base: #c0beba;
  --color-light-blue: #141418
}
.bg-white {
  background-color: var(--color-neutral-0)!important;
  background: var(--color-neutral-0)
}
.bg-light-gray {
  background: var(--color-neutral-2)
}
.white-bg {
  background: var(--color-neutral-0)
}
.text-white {
  color: var(--color-neutral-0)!important
}
.text-blue {
  color: #087dfd
}
.text-primary {
  color: var(--color-neutral-6)!important
}
.color-success {
  color: #0cb930!important
}
.alternative-font {
  color: #087dfd
}
.inverted {
  color: var(--color-neutral-0);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #087dfd
}
.b-sh-none {
  box-shadow: none!important
}
.shadow {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05)!important
}
.flat-shadow {
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1)!important
}
.flat-white {
  background-color: var(--color-neutral-0)!important;
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1)
}
.label-dark {
  background: var(--color-base);
  text-decoration: none;
  font-weight: normal
}
.label-dark:hover {
  background: var(--color-base);
  font-weight: normal;
  text-decoration: none
}
/*# sourceMappingURL=wso-ckeditor--lms.component.css.map */
