.node-lesson.node-lesson--type-quiz .form-actions input:focus:last-child {
  outline: 0
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-default:last-child {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-default:hover:last-child {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-default:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-default:focus:last-child {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-default:disabled:last-child {
  background-color: var(--color-neutral-1)
}
.node-lesson.node-lesson--type-quiz .form-actions input:last-child {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
.node-lesson.node-lesson--type-quiz .form-actions input:hover:last-child {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.node-lesson.node-lesson--type-quiz .form-actions input:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input:focus:last-child {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.node-lesson.node-lesson--type-quiz .form-actions input:disabled:last-child {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-danger:last-child {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-danger:hover:last-child {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-danger:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-danger:focus:last-child {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-danger:disabled:last-child {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary:last-child {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines:hover:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary:hover:last-child {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines:focus:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary:focus:last-child {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines:disabled:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary:disabled:last-child {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono:last-child {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono:hover:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono:hover:last-child {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono:focus:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono:focus:last-child {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono:disabled:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono:disabled:last-child {
  background-color: var(--color-neutral-1)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono.danger:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono.danger:last-child {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono.danger:hover:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono.danger:hover:last-child {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono.danger:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono.danger:focus:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono.danger:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono.danger:focus:last-child {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lines.mono.danger:disabled:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-secondary.mono.danger:disabled:last-child {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-other:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-success-ghost:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-transparency:last-child {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-other:hover:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-success-ghost:hover:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-transparency:hover:last-child {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-other:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-other:focus:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-success-ghost:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-success-ghost:focus:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-transparency:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-transparency:focus:last-child {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-other:disabled:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-success-ghost:disabled:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-transparency:disabled:last-child {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.bg-white:last-child {
  background: var(--color-neutral-0)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info:last-child {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info:hover:last-child {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info:focus:last-child {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info:disabled:last-child {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info.btn-lines:last-child {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info.btn-lines:hover:last-child {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info.btn-lines:active:last-child,
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info.btn-lines:focus:last-child {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-info.btn-lines:disabled:last-child {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-xs:last-child {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-sm:last-child {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-md:last-child {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-lg:last-child {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.node-lesson.node-lesson--type-quiz .form-actions input.btn-xl:last-child {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.node-lesson.node-lesson--type-quiz {
  padding: 154px 116px!important
}
.node-lesson.node-lesson--type-quiz .form-type-radio {
  position: relative
}
.node-lesson.node-lesson--type-quiz .form-type-radio:before {
  background-color: var(--color-neutral-0);
  border: var(--color-neutral-4) 1px solid;
  border-radius: 100%;
  content: "";
  display: inline-block;
  flex: 0 0 14px;
  height: 14px;
  width: 14px;
  overflow: visible;
  position: relative;
  transition: border .15s ease-in-out;
  margin-top: 5px
}
.darkmode .node-lesson.node-lesson--type-quiz .form-type-radio:before {
  border-color: var(--color-neutral-6)
}
.node-lesson.node-lesson--type-quiz .form-type-checkbox {
  margin-top: 5px
}
.node-lesson.node-lesson--type-quiz .form-type-checkbox .control-label {
  position: relative;
  display: block;
  width: 15px;
  height: 16px
}
.node-lesson.node-lesson--type-quiz .form-type-checkbox .control-label:before {
  background-color: var(--color-neutral-0);
  border: var(--color-neutral-4) 1px solid;
  border-radius: 2px;
  content: "";
  display: inline-block;
  flex: 0 0 14px;
  height: 14px;
  width: 14px;
  overflow: visible;
  position: relative;
  transition: border .15s ease-in-out
}
.darkmode .node-lesson.node-lesson--type-quiz .form-type-checkbox .control-label:before {
  border-color: var(--color-neutral-6)
}
.node-lesson.node-lesson--type-quiz tr.selected .form-type-checkbox .control-label:before {
  background-color: #0cb930;
  border: 1px solid #0cb930
}
.node-lesson.node-lesson--type-quiz tr.selected .form-type-checkbox .control-label:after {
  color: var(--color-neutral-0);
  content: "\e805";
  display: inline-block;
  flex: 0 0 14px;
  font: 11px/1 fa-custom;
  left: 1px;
  position: absolute;
  text-rendering: auto;
  top: 4px
}
.node-lesson.node-lesson--type-quiz tr.selected .form-type-radio:before {
  background-color: #0cb930;
  border: 1px solid #0cb930
}
.node-lesson.node-lesson--type-quiz tr.selected .form-type-radio:after {
  color: var(--color-neutral-0);
  content: "\e805";
  display: inline-block;
  flex: 0 0 14px;
  font: 11px/1 fa-custom;
  left: 1px;
  position: absolute;
  text-rendering: auto;
  top: 7px
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice h2 {
  display: none
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice .field-name-body .field--label {
  color: var(--color-neutral-7);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .2px;
  margin-bottom: 8px
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice .field-name-body .field--item {
  padding: 0;
  margin: 0
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice .field-name-body .field--item p {
  color: var(--color-base);
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.4
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table {
  display: block
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table thead tr {
  opacity: 0
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table thead th {
  padding: 5px
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table tbody {
  display: block
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table tbody tr {
  cursor: pointer;
  border: 1px solid var(--color-neutral-4);
  margin-bottom: 15px;
  display: flex
}
.darkmode .node-lesson.node-lesson--type-quiz .quiz-question-multichoice table tbody tr {
  border-color: var(--color-neutral-6)
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table tbody tr.selected,
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table tbody tr:hover {
  border: 1px solid #0cb930;
  box-shadow: 0 0 0 1px #0cb930
}
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table td,
.node-lesson.node-lesson--type-quiz .quiz-question-multichoice table th {
  border: 0
}
.node-lesson.node-lesson--type-quiz.start-quiz .quiz-container>*,
.node-lesson.node-lesson--type-quiz:not(.start-quiz) .views-element-container {
  display: none
}
.node-lesson.node-lesson--type-quiz.start-quiz .quiz-container>#ajax-quiz-wrapper,
.node-lesson.node-lesson--type-quiz.start-quiz .quiz-container>.views-element-container {
  display: block
}
.node-lesson.node-lesson--type-quiz .form-actions {
  margin-top: 24px
}
.node-lesson.node-lesson--type-quiz .form-actions p {
  width: 100%
}
.node-lesson.node-lesson--type-quiz .form-actions input {
  width: auto
}
.node-lesson.node-lesson--type-quiz .form-actions input + input {
  margin-left: 15px
}
.view-quiz-result .view-header {
  margin-bottom: 15px
}
.view-quiz-result .view-header .btn {
  margin-right: 15px
}
@media (min-width: 768px) {
  .node-lesson.node-lesson--type-quiz .form-actions {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap
  }
}
@media (min-width: 992px) {
  .node-lesson.node-lesson--type-quiz .quiz-question-multichoice .field-name-body .field--item p,
  .node-lesson.node-lesson--type-quiz .quiz-question-multichoice .field-name-body .field--label {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .node-lesson.node-lesson--type-quiz {
    padding: 34px 24px!important
  }
}
/*# sourceMappingURL=lms-quiz.component.css.map */
