@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.node-lesson.node-lesson--type-quiz {
  padding: 154px 116px !important;

  @include media('<tablet') {
    padding: 34px 24px !important;
  }

  .form-type-radio {
    position: relative;

    &:before {
      background-color: var(--color-neutral-0);
      border: var(--color-neutral-4) 1px solid;
      border-radius: 100%;
      content: "";
      display: inline-block;
      flex: 0 0 14px;
      height: 14px;
      width: 14px;
      overflow: visible;
      position: relative;
      transition: border .15s ease-in-out;
      margin-top: 5px;

      .darkmode & {
        border-color: var(--color-neutral-6);
      }
    }
  }

  .form-type-checkbox {
    margin-top: 5px;

    .control-label {
      position: relative;
      display: block;
      width: 15px;
      height: 16px;

      &:before {
        background-color: var(--color-neutral-0);
        border: var(--color-neutral-4) 1px solid;
        border-radius: 2px;
        content: "";
        display: inline-block;
        flex: 0 0 14px;
        height: 14px;
        width: 14px;
        overflow: visible;
        position: relative;
        transition: border .15s ease-in-out;

        .darkmode & {
          border-color: var(--color-neutral-6);
        }
      }
    }
  }

  tr {
    &.selected {
      .form-type-checkbox {
        .control-label {
          &:before{
            background-color: $color-green-100;
            border: 1px solid $color-green-100;
          }

          &:after {
            color: var(--color-neutral-0);
            content: '\e805';
            display: inline-block;
            flex: 0 0 14px;
            font: normal normal normal 14px/1 'fa-custom';
            font-size: 11px;
            left: 1px;
            position: absolute;
            text-rendering: auto;
            top: 4px;
          }
        }
      }

      .form-type-radio {
        &:before{
          background-color: $color-green-100;
          border: 1px solid $color-green-100;
        }

        &:after {
          color: var(--color-neutral-0);
          content: '\e805';
          display: inline-block;
          flex: 0 0 14px;
          font: normal normal normal 14px/1 'fa-custom';
          font-size: 11px;
          left: 1px;
          position: absolute;
          text-rendering: auto;
          top: 7px;
        }
      }
    }
  }

  .quiz-question-multichoice {
    h2 {
      display: none;
    }

    .field-name-body {
      .field--label {
        color: var(--color-neutral-7);
        font-size: 13px;
        @include responsive-prop(700, 800, font-weight);
        letter-spacing: .2px;
        margin-bottom: 8px;
      }

      .field--item {
        padding: 0;
        margin: 0;

        p {
          color: var(--color-base);
          font-size: 20px;
          font-stretch: normal;
          font-style: normal;
          @include responsive-prop(700, 800, font-weight);
          letter-spacing: .2px;
          line-height: 1.4;
        }
      }
    }

    table {
      display: block;

      thead {
        tr {
          opacity: 0;
        }

        th {
          padding: 5px;
        }
      }

      tbody {
        display: block;

        tr {
          cursor: pointer;
          border: 1px solid var(--color-neutral-4);
          margin-bottom: 15px;
          display: flex;

          .darkmode & {
            border-color: var(--color-neutral-6);
          }

          &.selected,
          &:hover {
            border: 1px solid $color-green-100;
            box-shadow: 0 0 0 1px $color-green-100;
          }
        }
      }

      th,
      td {
        border: 0;
      }
    }
  }

  &:not(.start-quiz) {
    .views-element-container {
      display: none;
    }
  }

  &.start-quiz {
    .quiz-container {
      > * {
        display: none;
      }

      > #ajax-quiz-wrapper {
        display: block;
      }

      > .views-element-container {
        display: block;
      }
    }
  }

  .form-actions {
    margin-top: 24px;

    @include media('>=tablet') {
      display: flex;
      margin-top: 50px;
      flex-wrap: wrap;
    }

    p {
      width: 100%;
    }

    input {
      width: auto;

      & + input {
        margin-left: 15px;
      }

      &:last-child {
        @extend %btn, .btn-success;
      }
    }
  }
}

.view-quiz-result {
  .view-header {
    margin-bottom: 15px;

    .btn {
      margin-right: 15px;
    }
  }
}
