{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% set rowsLength = rows|length %}
{% set split_value = 10 %}

{% if rowsLength > split_value %}
  {% set collapsedLength = rowsLength - split_value %}

  {% for row in rows|slice(0, split_value) %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
    ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}

  <div class="views-row--button-container m-b-md m-t-md text-center">
    <a class="btn btn-primary-outline btn-xs" data-bs-toggle="collapse" role="button" href="#collapseMyCourses" aria-expanded="false" aria-controls="collapseMyCourses">
      <span data-state="default">{{ 'See All My Courses'|t }} </span><span data-state="open">{{ 'Hide'|t }}</span>
    </a>
  </div>

  <div class="collapse" id="collapseMyCourses">
    {% for row in rows|slice(split_value, collapsedLength) %}
      {%
        set row_classes = [
        default_row_class ? 'views-row',
      ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>
{% else %}
  {% for row in rows %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
    ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
{% endif %}


