{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */


#}

{% set nid = fields.nid.content|render|striptags|trim %}

<a class="course__fields" href="{{ path('entity.node.canonical', {'node': nid }) }}">
  <div class="course__fields__left">
    <div class="course__fields__left-cover-image">
      {{ fields.field_course_cover_image.content }}
    </div>
  </div>
  <div class="course__fields__right">
    <div>
      <div class="course__fields__right-title">
        {{ fields.title.content }}
      </div>
      <div class="course__fields__right-timestamp">
        {{ 'Latest activity'|t }} {{ fields.changed.content }}
      </div>
    </div>
    <div class="course__fields__right-progress">
      <div class="course-progress">
        <div class="course-progress__bar">
          <div class="course-progress__bar-placeholder"></div>
          <div class="course-progress__bar-completed" style="width:{{ fields.lessons_completed_percentage_1.content }}%"></div>
        </div>
        <div class="course-progress__text-line">
          {{ fields.lessons_completed_percentage.content }}
        </div>
      </div>
    </div>
    <div class="course-due-date">
        <span>
          {{ fields.wso_lms_managers_due_date.content }}
        </span>
    </div>
  </div>
  <div class="btn btn-md btn-success">
    {{ fields.lessons_completed.content }}
  </div>
</a>
