@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.modal-academy-waitlist {
  &.ui-dialog {
    max-width: 480px;
    padding: 1rem;

    @media screen and (min-width: 1440px) {
      left: 35% !important;
    }

    @media screen and (min-width: 1240px) {
      left: 30% !important;
    }

    .ui-dialog-titlebar {
      background-color: transparent;
      border: none;

      .ui-dialog-title {
        display: none;
      }
    }

    .ui-dialog-content {
      padding: 0;

      .webform-submission-academy-waitlist-form {
        padding: 0.5rem;

        label {
          font-weight: 600 !important;
        }
      }
    }

    .ui-dialog-buttonpane {
      margin: 0;
      border: 0;

      .ui-dialog-buttonset {
        margin: 0;

        button {
          margin: 0;
        }
      }
    }
  }
}

.webform-confirmation-modal {
  &.ui-dialog {
    padding: 1.5rem;

    @include media('<tablet') {
      max-width: 80%;
      left: 10% !important;
    }

    .ui-dialog-titlebar {
      background-color: transparent;
      border: none;

      .ui-dialog-title {
        width: 100%;
        color: $color-base;
      }
    }

    .ui-dialog-content {
      padding: 0;
      min-height: auto;
      color: $color-base;

      a {
        color: $color-link-blue;
      }
    }
  }
}
