.modal-academy-waitlist.ui-dialog {
  max-width: 480px;
  padding: 1rem
}
.modal-academy-waitlist.ui-dialog .ui-dialog-titlebar {
  background-color: transparent;
  border: none
}
.modal-academy-waitlist.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  display: none
}
.modal-academy-waitlist.ui-dialog .ui-dialog-content {
  padding: 0
}
.modal-academy-waitlist.ui-dialog .ui-dialog-content .webform-submission-academy-waitlist-form {
  padding: .5rem
}
.modal-academy-waitlist.ui-dialog .ui-dialog-content .webform-submission-academy-waitlist-form label {
  font-weight: 600!important
}
.modal-academy-waitlist.ui-dialog .ui-dialog-buttonpane {
  margin: 0;
  border: 0
}
.modal-academy-waitlist.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.modal-academy-waitlist.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
  margin: 0
}
.webform-confirmation-modal.ui-dialog {
  padding: 1.5rem
}
.webform-confirmation-modal.ui-dialog .ui-dialog-titlebar {
  background-color: transparent;
  border: none
}
.webform-confirmation-modal.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  width: 100%;
  color: #0a4059
}
.webform-confirmation-modal.ui-dialog .ui-dialog-content {
  padding: 0;
  min-height: auto;
  color: #0a4059
}
.webform-confirmation-modal.ui-dialog .ui-dialog-content a {
  color: #087dfd
}
@media screen and (min-width: 1240px) {
  .modal-academy-waitlist.ui-dialog {
    left: 30%!important
  }
}
@media screen and (min-width: 1440px) {
  .modal-academy-waitlist.ui-dialog {
    left: 35%!important
  }
}
@media (max-width: 767px) {
  .webform-confirmation-modal.ui-dialog {
    max-width: 80%;
    left: 10%!important
  }
}
/*# sourceMappingURL=form.academy.component.css.map */
