@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.text-with-cta__wrapper {
  margin: 50px auto 0;
  @include media('>=tablet') {
    width: 55%;
    max-width: 1290px;
  }

  @include media('<tablet') {
    width: 100%;
    padding: 0;
  }

  .text-with-cta__button a {
    margin: 0 auto;
  }
}
