.text-with-cta__wrapper {
  margin: 50px auto 0
}
.text-with-cta__wrapper .text-with-cta__button a {
  margin: 0 auto
}
@media (min-width: 768px) {
  .text-with-cta__wrapper {
    width: 55%;
    max-width: 1290px
  }
}
@media (max-width: 767px) {
  .text-with-cta__wrapper {
    width: 100%;
    padding: 0
  }
}
/*# sourceMappingURL=paragraph.text-with-cta--redesign.component.css.map */
