@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/color-variables';

// Base Style.
.discount-list__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(157, 178, 188, 0.2);
  padding: 20px 0;

  .title-with-items__price {
    text-decoration: line-through;
  }

  @include media('<tablet') {
    .discount-list__wrapper {
      flex-direction: column;
    }
  }
}

// Color change according to parent background color.
.labeled-container {
  &.labeled-container__color-white,
  &.labeled-container__color-oasis_blue,
  &.labeled-container__color-blush_grey {
    .discount-list__wrapper {
      .discount-list__label,
      .title-with-items__price {
        color: $color-dark-100;
      }
    }
  }
  &.labeled-container__color-monkey_blue {
    .discount-list__wrapper {
      .discount-list__label,
      .title-with-items__price {
        color: $color-white-100;
      }
    }
  }
}
