.discount-list__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(157, 178, 188, .2);
  padding: 20px 0
}
.discount-list__wrapper .title-with-items__price {
  text-decoration: line-through
}
.labeled-container.labeled-container__color-blush_grey .discount-list__wrapper .discount-list__label,
.labeled-container.labeled-container__color-blush_grey .discount-list__wrapper .title-with-items__price,
.labeled-container.labeled-container__color-oasis_blue .discount-list__wrapper .discount-list__label,
.labeled-container.labeled-container__color-oasis_blue .discount-list__wrapper .title-with-items__price,
.labeled-container.labeled-container__color-white .discount-list__wrapper .discount-list__label,
.labeled-container.labeled-container__color-white .discount-list__wrapper .title-with-items__price {
  color: #2f2f2f
}
.labeled-container.labeled-container__color-monkey_blue .discount-list__wrapper .discount-list__label,
.labeled-container.labeled-container__color-monkey_blue .discount-list__wrapper .title-with-items__price {
  color: #fff
}
@media (max-width: 767px) {
  .discount-list__wrapper .discount-list__wrapper {
    flex-direction: column
  }
}
/*# sourceMappingURL=paragraph.discount-list.component.css.map */
