.breadcrumb {
  font-size: 12px;
  background: 0 0;
  margin: 0 0 4px;
  padding: 0;
  font-weight: 500
}
.breadcrumb li {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #087dfd;
  letter-spacing: .2px;
  text-shadow: none;
  text-transform: capitalize;
  font-weight: 500
}
.breadcrumb li span {
  text-transform: capitalize;
  color: #087dfd
}
.breadcrumb li a {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  color: #087dfd
}
.breadcrumb li a.active {
  color: #087dfd
}
.breadcrumb li:last-child {
  font-weight: 700
}
.breadcrumb > li + li:before {
  font-family: fa-custom;
  content: "\f105";
  display: inline;
  color: #087dfd;
  padding: 0 5px
}
.page-company .breadcrumb {
  border-bottom: 1px solid var(--color-neutral-3);
  margin: 0;
  background: var(--color-neutral-0);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px
}
.page-forum .breadcrumb {
  font-size: 14px
}
.page-forum .breadcrumb li {
  color: var(--color-neutral-7)
}
.breadcrumbs-created {
  background: var(--color-neutral-0)
}
.breadcrumbs-created .breadcrumb {
  padding: 15px 15px 5px;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none
}
.breadcrumbs-created .breadcrumb > li + li:before {
  color: var(--color-monkey-grey)
}
.breadcrumbs-created .breadcrumb li {
  display: inline-flex
}
.breadcrumbs-created .breadcrumb li a,
.breadcrumbs-created .breadcrumb li span {
  font-size: 14px;
  color: #9db2bc
}
.darkmode .breadcrumbs-created .breadcrumb li a,
.darkmode .breadcrumbs-created .breadcrumb li span {
  color: #c0beba
}
.breadcrumbs-created .breadcrumb li:last-child a {
  color: #9db2bc
}
.darkmode .breadcrumbs-created .breadcrumb li:last-child a {
  color: #c0beba
}
.breadcrumbs-created span[data-big-pipe-placeholder-id] {
  padding: 15px 15px 5px;
  display: block;
  min-height: 35px;
  min-width: 80px
}
.breadcrumbs-created .created {
  padding: 13px 15px 5px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  text-align: right;
  color: var(--color-monkey-grey);
  white-space: nowrap
}
.darkmode .breadcrumbs-created .created {
  color: var(--color-neutral-8)
}
.page-node-unpublished .breadcrumbs-created,
.page-node-unpublished .breadcrumbs-created .breadcrumb,
.page-node-unpublished .node {
  background: #fff4f4!important
}
.darkmode .page-node-unpublished .breadcrumbs-created,
.darkmode .page-node-unpublished .breadcrumbs-created .breadcrumb,
.darkmode .page-node-unpublished .node {
  background: #2c2020!important
}
.no-page-top section.page-top.breadcrumb-wrap {
  display: none
}
@media (min-width: 992px) {
  .breadcrumbs-created .breadcrumb,
  .breadcrumbs-created .created,
  .breadcrumbs-created span[data-big-pipe-placeholder-id],
  .page-company .breadcrumb {
    padding: 12px 25px 8px
  }
}
/*# sourceMappingURL=breadcrumbs.component.css.map */
