@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.breadcrumb {
  font-size: 12px; //14px;
  background: none;
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: 500;

  li {
    padding-top: 4px;
    padding-bottom: 4px;
    color: $color-link-blue;
    letter-spacing: .2px;
    text-shadow: none;
    text-transform: capitalize;
    font-weight: 500;

    span {
      text-transform: capitalize;
      color: $color-link-blue;
    }

    a {
      font-size: 12px; //14px;
      font-weight: 500;
      text-transform: capitalize;
      color: $color-link-blue;

      &.active {
        color: $color-link-blue;
      }
    }

    &:last-child {
      font-weight: 700;
    }
  }

  > li + li:before {
    font-family: fa-custom;
    content: '\f105';
    display: inline;
    color: $color-link-blue;
    padding: 0 5px;
  }

  .page-company & {
    border-bottom: 1px solid var(--color-neutral-3);
    margin: 0;
    background: var(--color-neutral-0);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @include responsive-prop(15px, 12px 25px 8px, 'padding');
  }

  .page-forum & {
    font-size: 14px;

    li {
      color: var(--color-neutral-7);
    }
  }
}

.breadcrumbs-created {
  background: var(--color-neutral-0);

  .breadcrumb {
    @include responsive-prop(15px 15px 5px 15px, 12px 25px 8px, 'padding');
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;

    > li + li:before {
      color: var(--color-monkey-grey);
    }

    li {
      display: inline-flex;

      a,
      span {
        font-size: 14px;
        @include font-color-grey-darkmode;
      }

      &:last-child {
        a {
          @include font-color-grey-darkmode;
        }
      }
    }
  }

  span[data-big-pipe-placeholder-id] {
    @include responsive-prop(15px 15px 5px 15px, 12px 25px 8px, 'padding');
    display: block;
    min-height: 35px;
    min-width: 80px;
  }

  .created {
    @include responsive-prop(13px 15px 5px 15px, 12px 25px 8px, 'padding');
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.2px;
    text-align: right;
    color: var(--color-monkey-grey);
    white-space: nowrap;

    .darkmode & {
      color: var(--color-neutral-8)
    }
  }
}

.page-node-unpublished {
  .breadcrumbs-created,
  .breadcrumbs-created .breadcrumb,
  .node {
    background: $snow_fff4f4 !important;

    .darkmode & {
      background: #2c2020 !important;
    }
  }
}


.no-page-top {
  section {
    &.page-top {
      &.breadcrumb-wrap {
        display: none;
      }
    }
  }
}
