//@import "./components/common-styles/helpers/colors";
//@import "./components/common-styles/helpers/mixins";

.view-company-database-company-views,
.table-company-database-company-table {
  background: var(--color-neutral-0);

  .col-xs-12 {
    width: 50%;
    float: left;
  }

  .views-exposed-form {
    position: relative;
    background-color: rgba(245, 245, 245, .6);
    border: 1px solid var(--color-neutral-4);
    padding: 14px 24px;
    margin-bottom: 16px;

    .darkmode & {
      background-color: rgba(10, 10, 10, .6);
    }

    .views-exposed-widget {
      .form-submit {
        margin-top: 0;
      }
    }
  }

  table{
    a {
      color: var(--color-base);
    }
  }

  .tab-content {
    background-color: var(--color-neutral-0);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  tr {
    border: none;
    padding: 0 12px;
  }

  .table-sm,
  .table-condensed {
    > thead {
      > tr {
        > th {
          padding: 17px 12px;
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.08;
          letter-spacing: .1px;
          color: var(--color-base);

          a {
            color: var(--color-base);
            font-size: 13px;
            font-stretch: normal;
            font-style: normal;
            font-weight: 500;
            letter-spacing: .1px;
            line-height: 1.08;
          }

          &.views-field-field-interviewyear {
            background-color: transparent;
            padding: 17px 12px;
            width: 34px;
          }

          &.views-field-field-reviewyear {
            background-color: transparent;
            padding: 17px 12px;
            width: 34px;
          }
        }

        > td {
          color: var(--color-base);
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 400;
          letter-spacing: .1px;
          line-height: 1.14;
          padding: 17px 12px;
        }
      }
    }

    > tbody {
      > tr {
        > th {
          padding: 17px 12px;
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.08;
          letter-spacing: .1px;
          color: var(--color-base);

          &.views-field-field-compensationyear {
            padding: 17px 12px;
            width: 34px;
          }

          &.views-field-field-cashbonus-1 {
            padding: 17px 24px 17px 12px;
            width: 100px;
          }
        }

        > td {
          padding: 17px 12px;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: .1px;
          color: var(--color-base);

          &.views-field-field-compensationyear {
            padding: 17px 12px;
            width: 34px;
          }

          &.views-field-field-interviewyear {
            background-color: transparent;
            padding: 17px 12px 17px 20px;
            width: 34px;
          }

          &.views-field-field-reviewyear {
            background-color: transparent;
            padding: 17px 12px;
            width: 34px;
          }

          &.views-field-field-cashbonus-1 {
            padding: 17px 24px 17px 12px;
            width: 100px;
          }
        }
      }
    }

    > tfoot {
      > tr {
        > th {
          color: var(--color-base);
          font-size: 13px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 500;
          letter-spacing: .1px;
          line-height: 1.08;
          padding: 17px 12px;
        }

        > td {
          color: var(--color-base);
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 400;
          letter-spacing: .1px;
          line-height: 1.14;
          padding: 17px 12px;
        }
      }
    }
    position: relative;
  }

  .table-bordered {
    > tbody {
      > tr {
        > td {
          &.views-field-field-compensationyear {
            background: none;
            text-align: center;
          }
        }
      }
    }
  }

  .table {
    > thead {
      > tr {
        > th {
          &.views-field-field-compensationyear {
            &.active {
              background: none;
              text-align: center;
            }
          }

          &.views-field-field-interviewyear {
            &.active {
              text-align: center;
            }
          }

          &.views-field-field-reviewyear {
            &.active {
              text-align: center;
            }
          }
        }
      }
    }

    > tbody {

      &.review-feedback__row:last-child {
        .feedback__section {
          padding-bottom: 0;
        }
      }

      + tbody {
        border-top: 1px solid var(--color-neutral-2);
      }
    }

    .views-field-field-pros,
    .views-field-field-cons {
      display: none;
    }

    .views-field-field-interviewexperience,
    .views-field-field-interviewdifficulty {
      .label {
        color: var(--color-neutral-0);
        float: left;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 700;
        letter-spacing: .2px;
        line-height: 1.17;
        padding: 3.5px 8px 3.5px;
      }
    }
  }

  thead {
    border-bottom: 2px solid var(--color-neutral-2);
  }

  .table-striped {
    > tbody {
      > tr {
        &:nth-of-type(odd) {
          background: none;
        }

        &:hover {
          background-color: rgba(43, 157, 223, .05);
        }

        &:nth-of-type(even) {
          &:hover {
            background-color: rgba(43, 157, 223, .05);
          }
        }
      }
    }
  }

  .views-field-field-interviewyear {
    a {
      img {
        display: none;
      }
    }
  }

  .views-field-field-reviewyear {
    a {
      img {
        display: none;
      }
    }
  }

  .views-field-field-compensationyear {
    a {
      img {
        display: none;
      }
    }
  }

  tbody {
    border-top: 0;
  }

  .chart-white {
    margin: 0;
  }

  .chart-heading {
    background: none;
    color: var(--color-base);
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 1.08;
  }

  .chart-box {
    height: 20px;

    .min-small {
      bottom: -20px;
    }

    .max-small {
      bottom: 20px;
    }
  }

  .views-widget-filter-field_confirm_title_value {
    margin: 5px 0 0;
  }

  .views-widget-filter-city {
    margin: 5px 0 0;
  }

  .views-widget-filter-field_groupdivision_value {
    margin: 5px 0 0;
  }

  .lock__element {
    .icon {
      font-family: "Lato", sans-serif;

      &:before {
        font: normal normal normal 14px/1 'fa-custom';
        margin-right: 5px;
      }
    }

    a {
      color: $color-green-100;

      &:focus {
        color: $color-green-100;
      }

      &:hover {
        color: $color-green-100;
      }
    }
  }

  .views-field {
    &.views-field-field-groupdivision {
      width: 174px;
    }

    &.views-field-city {
      width: 104px;
    }
    text-transform: capitalize;
  }

  .views-field-title {
    width: 152px;
  }

  .views-field-title,
  .views-field-title-1 {
    a {
      color: $color-blue;
    }
  }

  .views-field-field-paytype {
    width: 124px;
  }

  &.view-display-id-page_review {
    #bar-area-main {
      .col-1 {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 0;
        width: 32% !important;
        border: none;
        float: left;
        font-size: 9px;
        min-height: 185px;
        padding-top: 15px;

        canvas {
          clear: both;
          float: left;
          margin-left: 100px;
        }

        .ctcrt {
          display: inline-block;
          position: relative;
        }

        .canvas-number {
          left: 98px;
          margin-left: 29px;
          top: 42px;
        }
      }

      .col-2 {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 210px;
        border: none;
        float: left;
        font-size: 9px;

        canvas {
          clear: both;
          float: left;
          margin-left: 45px;
        }
      }

      .col-4 {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 228px;
        border: none;

        canvas {
          clear: both;
          float: left;
          margin-left: 45px;
        }
      }

      .col-7 {
        border: none;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 228px;
      }

      .col-1b {
        float: left;
        width: 210px;
        margin-left: 0;
        font-size: 9px;

        canvas {
          clear: both;
          float: left;
          margin-left: 45px;
        }
      }

      .col-1c {
        float: left;
        font-size: 9px;
        margin-left: 0;
        width: 210px;
      }

      .col-3 {
        float: left;
        width: 210px;
        margin-left: 0;
        font-size: 9px;

        canvas {
          clear: both;
          float: left;
          margin-left: 45px;
        }
      }

      .col-3b {
        float: left;
        font-size: 9px;
        margin-left: 0;
        width: 210px;
      }

      .q-tip-q {
        background: url(/themes/custom/porto_sub/images/help-bubble.png) no-repeat;
        cursor: pointer;
        display: inline-block;
        height: 16px;
        margin-bottom: -3px;
        margin-left: 5px;
        width: 17px;
      }

      .box-1 {
        border: none;
        clear: both;
        display: block;
        float: none;
        height: 120px;
        margin: 0 auto !important;
        min-height: 140px;
        padding: 0;
        width: 32% !important;
      }

      > ul {
        li {
          label {
            clear: none;
            color: var(--color-neutral-7);
            float: left;
            font-size: 9px;
            line-height: 14px;
            width: 95px;
          }
        }
      }

      label {
        clear: none;
        color: var(--color-neutral-7);
        float: left;
        font-size: 9px;
        line-height: 14px;
        width: 95px;
      }
    }

    .col-2 {
      .canvas-number {
        left: 42px;
        position: absolute;
        text-align: center;
        top: 60px;
        width: 48px;
      }
    }

    .col-1 {
      .canvas-number {
        left: 42px;
        position: absolute;
        text-align: center;
        top: 60px;
        width: 48px;
      }
    }

    .col-1b {
      .canvas-number {
        left: 42px;
        position: absolute;
        text-align: center;
        top: 60px;
        width: 48px;
      }
    }

    .col-1c {
      .canvas-number {
        left: 42px;
        position: absolute;
        text-align: center;
        top: 60px;
        width: 48px;
      }
    }

    .col-3 {
      .canvas-number {
        left: 42px;
        position: absolute;
        text-align: center;
        top: 60px;
        width: 48px;
      }
    }

    ul {
      &.bar-desc {
        margin: 5px 0;
        padding: 0;
        border-top: none;
        float: left;

        li {
          clear: both;
          display: inline;
          float: left;
        }
      }
    }

    .slide-down {
      display: none;
      float: none;
      margin-top: 5px;
      padding: 15px 0;
      width: 100%;
    }

    .chart-txt {
      clear: none;
      color: $steelblue_3F8FCC;
      display: inline-block;
      font-size: 11px;
      font-weight: 400;
      margin: 0 auto;
      margin-bottom: -1px;
      padding: 5px 0 5px 10px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      width: 98%;
    }

    .chart-txts {
      clear: none;
      color: $steelblue_3F8FCC;
      display: inline-block;
      font-size: 11px;
      font-weight: 400;
      margin: 0 auto;
      margin-bottom: -1px;
      padding: 5px 0 5px 10px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      width: 98%;
    }

    .slider-arrow {
      background: url(/themes/custom/porto_sub/images/slide-down-bg1.png) no-repeat center -5px;
      clear: none;
      color: var(--color-neutral-0);
      cursor: pointer;
      display: inherit;
      float: none;
      height: 50px;
      margin: 0 auto;
      padding-left: 58px;
      padding-right: 59px;
      text-align: center;
      width: auto;
    }

    .slider-arrow-not {
      background: url(/themes/custom/porto_sub/images/slide-down-bg1.png) no-repeat center -5px;
      clear: none;
      color: var(--color-neutral-0);
      cursor: pointer;
      display: inherit;
      float: none;
      height: 50px;
      margin: 0 auto;
      padding-left: 58px;
      padding-right: 59px;
      text-align: center;
      width: auto;
    }

    #chart-area-main {
      .q-tip {
        display: inline-block;

        &:hover {
          .q-tip-data {
            display: block;
            margin-top: -40px;
            padding: 20px 0 0 25px;
          }
        }
      }

      .q-tip-q {
        background: url(/themes/custom/porto_sub/images/help-bubble.png) no-repeat;
        cursor: pointer;
        display: inline-block;
        height: 16px;
        margin-bottom: -3px;
        margin-left: 5px;
        width: 17px;
      }
    }

    #help-txt {
      .q-tip {
        display: inline-block;

        &:hover {
          .q-tip-data {
            display: block;
            margin-top: -40px;
            padding: 20px 0 0 25px;
          }
        }
      }

      .q-tip-q {
        background: url(/themes/custom/porto_sub/images/help-bubble.png) no-repeat;
        cursor: pointer;
        display: inline-block;
        height: 16px;
        margin-bottom: -3px;
        margin-left: 5px;
        width: 17px;
      }

      .q-tip-data {
        display: none;
        position: absolute;
        z-index: 999999;
        font-size: 11px;
        cursor: pointer;
        text-align: left;
        font-weight: 300;
        color: var(--color-base);

        .q-tip-content {
          background: var(--color-neutral-0);
          border: 1px solid var(--color-neutral-5);
          cursor: auto;
          max-width: 225px;
          min-height: 150px;
          min-width: 225px;
          padding: 5px;
          text-transform: none;
        }
      }
    }

    #two-ways-gain {
      .q-tip {
        display: inline-block;

        &:hover {
          .q-tip-data {
            display: block;
            margin-top: -40px;
            padding: 20px 0 0 25px;
          }
        }
      }

      .q-tip-q {
        background: url(/themes/custom/porto_sub/images/help-bubble.png) no-repeat;
        cursor: pointer;
        display: inline-block;
        height: 16px;
        margin-bottom: -3px;
        margin-left: 5px;
        width: 17px;
      }
    }

    #ready-to-peek {
      h2 {
        .q-tip {
          display: inline-block;

          &:hover {
            .q-tip-data {
              display: block;
              margin-top: -40px;
              padding: 20px 0 0 25px;
            }
          }
        }

        .q-tip-q {
          background: url(/themes/custom/porto_sub/images/help-bubble.png) no-repeat;
          cursor: pointer;
          display: inline-block;
          height: 16px;
          margin-bottom: -3px;
          margin-left: 5px;
          width: 17px;
        }
      }
    }

    .q-tip-data {
      display: none;
      position: absolute;
      z-index: 999999;
      font-size: 11px;
      cursor: pointer;
      text-align: left;
      font-weight: 300;
      color: var(--color-base);

      .q-tip-content {
        background: var(--color-neutral-0);
        border: 1px solid var(--color-neutral-5);
        cursor: auto;
        max-width: 225px;
        min-height: 150px;
        min-width: 225px;
        padding: 5px;
        text-transform: none;
      }

      p {
        color: var(--color-neutral-7);
        line-height: 14px;
        margin: 0 0 8px;
      }
    }

    .bar-desc {
      label {
        margin-left: 6px;
        width: 70px !important;
      }
    }

    .local-tasks {
      clear: both;
      padding-top: 20px;
    }

    .chart-1 {
      .canvas-number {
        @include responsive-prop(700, 800, font-weight);
        color: var(--color-base);
        font-size: 16px;
        left: 50%;
        line-height: 1.13;
        margin: 0 !important;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .company-stats__items {
      .canvas-number {
        @include responsive-prop(700, 800, font-weight);
        color: var(--color-base);
        font-size: 12px;
        left: 36.5px;
        letter-spacing: normal;
        line-height: 1.17;
        margin: 0 !important;
        min-width: 24px;
        position: absolute;
        text-align: center;
        top: 42px;
        transform: none;
      }
    }

    .feedback__section {
      &:after {
        border-bottom: 1px solid var(--color-neutral-4);
        bottom: 0;
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  &.view-CompanyView {
    .chart-box {
      .min-small {
        bottom: -20px;
      }

      .max-small {
        bottom: 20px;
      }
    }

    .chart-white {
      margin: 0;
      width: 100%;
    }

    .bar {
      &:before {
        content: none;
      }

      &:after {
        content: none;
      }
    }
  }

  .logged-in & {
    .views-field-title {
      a {
        text-decoration: none;
        color: var(--color-base);

        &:hover {
          color: var(--color-base);
          text-decoration: none;
        }

        &:focus {
          color: var(--color-base);
          text-decoration: none;
        }
      }
    }
  }

  @include media('<tablet') {
    padding: 15px;

    &.view-display-id-page_review {
      #bar-area-main {
        .col-1 {
          width: 300px !important;
          padding-left: 0;
          min-height: 185px;
          margin: 0 auto;
          clear: both;
          float: none;

          canvas {
            margin-left: 60px;
          }

          .canvas-number {
            left: 57px;
          }
        }
      }

      .ranking__block_fivestars {
        .fivestar-default {
          min-width: 72px;
        }
      }

      .review-listing__stats {
        .company-stats__item {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(calc(-50% + 132px), calc(-50% + 32px));
        }
      }

      .chart__item {
        margin-left: -20px;
      }
    }
  }

  @include media('>=tablet') {
    padding: 24px 48px;

    .table-bordered {
      border: 1px solid var(--color-neutral-2);
    }
  }

  @include media('>=tablet', '<desktop') {
    .table-responsive {
      padding: 0;
      width: 624px;
    }
  }

  @include media('<desktop') {
    &.view-display-id-page_review {
      #bar-area-main {
        .col-1 {
          canvas {
            margin-left: 30px;
          }

          .canvas-number {
            left: 28px;
          }
        }
      }

      .ranking__block_fivestars {
        .lock__element {
          min-width: 72px;
        }

        .fivestar-default {
          min-width: 72px;
        }
      }
    }
  }


  @include media('>=desktop', '<large-desktop') {
    .table-responsive {
      max-width: 100%;
      width: 100%;
    }

    &.view-display-id-page_review {
      .views-field {
        &.views-field-field-groupdivision {
          width: 120px;
        }

        &.views-field-title {
          width: 120px;
        }
      }
    }
  }

  @include media('>=large-desktop') {
    .table-responsive {
      overflow-x: hidden;
    }
  }
}

#company-database-salary-filter-form {
  > div {
    background-color: rgba(245, 245, 245, .6);
    border: 1px solid var(--color-neutral-4);
    display: inline-block;
    margin-bottom: 16px;
    padding: 14px 0;
    position: relative;
    width: 100%;

    label {
      display: none;
    }

    > .form-group {
      @include media('>=desktop') {
        display: flex;
      }
    }
  }

  .select2-selection {
    padding: 0;
  }

  .form-group {
    margin-bottom: 0;

    @media (max-width: 991px){
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  #edit-row {
    @include media('>=desktop') {
      display: flex;
      width: 100%;
    }

    .form-item {
      width: 100%;

      .select2-container {
        margin-top: 0;
      }
    }
  }

  .form-submit {
    @extend %btn, .btn-success;

    @include media('>=desktop', '<1200px') {
      font-size: 14px;
    }
  }
}

.form-id-company-database-salary-filter-form {
  .select2-search__field {
    display: none;
  }
}

#company-database-salary-filter-form {
  .col-md-6.form-group,
  #edit-actions {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: 768px) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}

#views-exposed-form-company-database-company-views-page-review,
#views-exposed-form-company-database-company-views-page-interview {
  padding: 14px 0;

  .form--inline {
    display: flex;
    flex-wrap: wrap;

    .select2-container {
      margin-top: 0;
    }

    label {
      display: none;
    }

    .form-item,
    #edit-actions {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      @media (min-width: 768px) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    .form-submit {
      @extend %btn, .btn-success;
    }
  }
}

.view-display-id-top_salaries,
.view-display-id-last_5_reviews,
.view-display-id-interview_insights,
.table-company-database-company-table {
  margin: 0;
  padding: 0;

  @include media('>=tablet') {
    margin: 0;
    padding: 0;
  }
}

.table-company-database-company-table {
  table {
    thead {
      tr {
        th {
          &:nth-last-child(1),
          &:nth-last-child(2) {
            text-align: center;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &:nth-last-child(1),
          &:nth-last-child(2) {
            text-align: center;
          }
        }
      }
    }
  }
}
