@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.block__bundle__hero_banner {
  position: relative;

  img {
    max-width: 100%;
    height: auto;
  }

  .media {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  h1 {
    margin-bottom: 0;
  }

  .field-name-field-title {
    @include responsive-prop(15px, 30px, margin-bottom);

    p {
      @include responsive-prop(32px, 44px, font-size);
      @include responsive-prop(40px, 50px, line-height);
      @include responsive-prop(15px, 30px, margin-bottom);
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.2px;
      color: #094059;

      .darkmode & {
        color: var(--color-neutral-8)
      }
    }
  }

  .field-name-body {
    @include responsive-prop(15px, 30px, margin-bottom);

    p {
      @include responsive-prop(15px, 30px, margin-bottom);
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #094059CC;

      .darkmode & {
        color: var(--color-neutral-8)
      }
    }
  }

  .field-name-field-footer-buttons {
    @include media('>=tablet') {
      flex-wrap: nowrap;
      display: flex;
      padding-bottom: 10px;
    }

    .field--item {
      @include media('<tablet') {
        margin-top: 10px;
      }

      & + .field--item {
        margin-left: 10px;

        @include media('<tablet') {
          margin-left: 0;
        }
      }
    }

    .btn {
      &.btn-primary {
        &:after {
          content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_white.png);
          display: inline-block;
        }

        &-outline {
          &:after {
            content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
            display: inline-block;
          }
        }
      }
    }
  }

  .views-element-container {
    margin-bottom: 0;

    @include media('>=tablet') {
      height: 100%;
    }
  }

  .tp-widget {
    .tp-widget-humanscore {
      font-size: 14px;
    }
  }

  .view-trustpilot-reviews {
    @include media('>=tablet') {
      height: 100%;
    }

    @include media('>=desktop') {
      max-width: 400px;
      margin-right: 0;
      margin-left: auto;
    }

    .tp-widget-review {
      background: var(--color-neutral-0);
      border: 1px solid rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      min-height: 200px;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;

      .header {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--color-base);
      }
    }
  }

  .slick-slider {
    &,
    .slick-list,
    .slick-track,
    .tp-widget-review {
      @include media('>=tablet') {
        height: 100%;
      }
    }

    .slick-arrow {
      opacity: 1;

      @include media('>=tablet') {
        width: 32px;
        height: 32px;
      }

      &:before {
        color: $color-blue;
        font-size: 25px;
      }
    }
  }
}

.hero-banner {
  // General
  &__card {
    padding: 40px 0;
    border-radius: 0;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;

    .darkmode & {
      background: transparent !important;
    }

    @include media('>=tablet') {
      padding: 75px 0;
    }

    @include media('>=desktop') {
      padding: 150px 0;
    }

    &-popup {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &.active {
      filter: blur(5px);
      -webkit-filter: blur(5px);

      @include media('<desktop') {
        display: none;
      }

      & + .card-popup {
        display: block;

        @include media('<desktop') {
          position: static !important;
          transform: none !important;
        }
      }
    }

    .container {
      position: relative;
    }
  }

  // Small elements
  /*
  &__card-image-overlay {
    background: linear-gradient(98.59deg, rgba(var(--color-neutral-0--rgb), 1) 61.6%, rgba(var(--color-neutral-0--rgb), 0) 100%);
    position: absolute;
    background: #F6FBFD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include media('>=tablet') {
      background: linear-gradient(98.59deg, rgba(var(--color-neutral-0--rgb), 1) 51.6%, rgba(var(--color-neutral-0--rgb), 0.5) 89.48%);
    }

    @include media('>=desktop') {
      background: linear-gradient(98.59deg, rgba(var(--color-neutral-0--rgb), 1) 41.6%, rgba(var(--color-neutral-0--rgb), 0.5) 79.48%);
    }
  }
  */
}

.frontpage-logos-strip {
  overflow: hidden;
  padding: 10px 0 !important;
  position: relative;
  z-index: 10;
  background-color: var(--color-neutral-0);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);

  img {
    .darkmode & {
      filter: invert(100%);
    }
  }
}

.list-brand {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.list-brand__item {
  padding: 0 10px;
}

.user-logged-in {
  .block__bundle__hero_banner .field-name-field-footer-buttons {
    .field--item + .field--item {
      margin-left: 0;
    }

    .btn-primary {
      display: none;
    }
  }
}

