.block__bundle__hero_banner {
  position: relative
}
.block__bundle__hero_banner img {
  max-width: 100%;
  height: auto
}
.block__bundle__hero_banner .media {
  margin: 0
}
.block__bundle__hero_banner h1,
.block__bundle__hero_banner p {
  margin-bottom: 0
}
.block__bundle__hero_banner .field-name-field-title {
  margin-bottom: 15px
}
.block__bundle__hero_banner .field-name-field-title p {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .2px;
  color: #094059
}
.darkmode .block__bundle__hero_banner .field-name-field-title p {
  color: var(--color-neutral-8)
}
.block__bundle__hero_banner .field-name-body {
  margin-bottom: 15px
}
.block__bundle__hero_banner .field-name-body p {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: .2px;
  color: rgba(9, 64, 89, .8)
}
.darkmode .block__bundle__hero_banner .field-name-body p {
  color: var(--color-neutral-8)
}
.block__bundle__hero_banner .field-name-field-footer-buttons .field--item + .field--item {
  margin-left: 10px
}
.block__bundle__hero_banner .field-name-field-footer-buttons .btn.btn-primary:after {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_white.png);
  display: inline-block
}
.block__bundle__hero_banner .field-name-field-footer-buttons .btn.btn-primary-outline:after {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
  display: inline-block
}
.block__bundle__hero_banner .views-element-container {
  margin-bottom: 0
}
.block__bundle__hero_banner .tp-widget .tp-widget-humanscore {
  font-size: 14px
}
.block__bundle__hero_banner .view-trustpilot-reviews .tp-widget-review {
  background: var(--color-neutral-0);
  border: 1px solid rgba(0, 0, 0, .12);
  box-sizing: border-box;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .15);
  border-radius: 3px;
  min-height: 200px;
  display: flex!important;
  flex-direction: column;
  justify-content: space-between
}
.block__bundle__hero_banner .view-trustpilot-reviews .tp-widget-review .header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-base)
}
.block__bundle__hero_banner .slick-slider .slick-arrow {
  opacity: 1
}
.block__bundle__hero_banner .slick-slider .slick-arrow:before {
  color: #087dfd;
  font-size: 25px
}
.hero-banner__card {
  padding: 40px 0;
  border-radius: 0;
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right
}
.darkmode .hero-banner__card {
  background: 0 0!important
}
.hero-banner__card-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%
}
.hero-banner__card.active {
  filter: blur(5px);
  -webkit-filter: blur(5px)
}
.hero-banner__card.active + .card-popup {
  display: block
}
.hero-banner__card .container {
  position: relative
}
.frontpage-logos-strip {
  overflow: hidden;
  padding: 10px 0!important;
  position: relative;
  z-index: 10;
  background-color: var(--color-neutral-0);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1)
}
.darkmode .frontpage-logos-strip img {
  filter: invert(100%)
}
.list-brand {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0
}
.list-brand__item {
  padding: 0 10px
}
.user-logged-in .block__bundle__hero_banner .field-name-field-footer-buttons .field--item + .field--item {
  margin-left: 0
}
.user-logged-in .block__bundle__hero_banner .field-name-field-footer-buttons .btn-primary {
  display: none
}
@media (min-width: 768px) {
  .block__bundle__hero_banner .field-name-field-footer-buttons {
    flex-wrap: nowrap;
    display: flex;
    padding-bottom: 10px
  }
  .block__bundle__hero_banner .slick-slider,
  .block__bundle__hero_banner .slick-slider .slick-list,
  .block__bundle__hero_banner .slick-slider .slick-track,
  .block__bundle__hero_banner .slick-slider .tp-widget-review,
  .block__bundle__hero_banner .view-trustpilot-reviews,
  .block__bundle__hero_banner .views-element-container {
    height: 100%
  }
  .block__bundle__hero_banner .slick-slider .slick-arrow {
    width: 32px;
    height: 32px
  }
  .hero-banner__card {
    padding: 75px 0
  }
}
@media (min-width: 992px) {
  .block__bundle__hero_banner .field-name-field-title {
    margin-bottom: 30px
  }
  .block__bundle__hero_banner .field-name-field-title p {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 30px
  }
  .block__bundle__hero_banner .field-name-body,
  .block__bundle__hero_banner .field-name-body p {
    margin-bottom: 30px
  }
  .block__bundle__hero_banner .view-trustpilot-reviews {
    max-width: 400px;
    margin-right: 0;
    margin-left: auto
  }
  .hero-banner__card {
    padding: 150px 0
  }
}
@media (max-width: 991px) {
  .hero-banner__card.active {
    display: none
  }
  .hero-banner__card.active + .card-popup {
    position: static!important;
    transform: none!important
  }
}
@media (max-width: 767px) {
  .block__bundle__hero_banner .field-name-field-footer-buttons .field--item {
    margin-top: 10px
  }
  .block__bundle__hero_banner .field-name-field-footer-buttons .field--item + .field--item {
    margin-left: 0
  }
}
/*# sourceMappingURL=home-hero.component.css.map */
