//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

// Grid

.wso-ms-n1 {
  margin-left: -.25rem!important
}

.wso-me-n1 {
  margin-right: -.25rem!important
}

.page-wall-street-mentors-finance-mock-interviews .view-filters .views-exposed-form,
.view-header,
.views-infinite-scroll-content-wrapper,
.js-pager__items.pager  {
  @include wso-container();
}

.blue-banner__section {
  background: url(/themes/custom/porto_sub/images/hero/mentors-banner.jpg) no-repeat center center;
  background-size: cover;
  padding: 60px 0;
  width: 100%;
  position: relative;

  .darkmode & {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 0;
    }
  }
}

.bulk-package__block {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px !important;

  .btn {
    background: var(--color-neutral-0);
    float: right;
    margin: 0 0 0 auto;
  }

  .price-list__cta {
    .btn {
      background: $color-green-100;
      float: none;
      margin: 0;
      text-align: center;
      width: 100%;
    }
  }

  .btn--book-a-mentor,
  .btn--be-a-mentor {
    display: block !important;
    float: none !important;
    margin-right: 0 !important;
  }

  .btn--be-a-mentor {
    padding: 10px 15px !important;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px !important;
    border: $color-green-100 1px solid !important;
    color: $color-green-100 !important;

    &:before,
    &:after {
      display: none;
    }
  }

  .btn--book-a-mentor {
    background: $color-green-100;
    color: var(--color-neutral-0) !important;
  }
}

.bulk-banner__block {
  padding: 20px 32px;
  border-radius: 3px;
  background: rgba(255, 255, 255, .8);

  .panel {
    background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
  }

  .bulk-package__block {
    .btn-secondary {
      background: var(--color-neutral-0);

      &:hover {
        background: var(--color-neutral-0);
      }
    }
  }

  .panel-collapse {
    &.collapse {
      width: 100%;
      position: absolute;
      background: var(--color-neutral-0);
      z-index: 999;
      padding: 0 30px;

      @include media('>=desktop') {
        width: calc(100% + 96px);
        margin-left: -48px;
      }
    }
  }

  .collapsing {
    background: var(--color-neutral-0);
    margin-left: -48px;
    padding: 0 30px;
    position: absolute;
    width: calc(100% + 96px);
    z-index: 999;
  }

  .panel-title {
    span {
      span {
        display: none;
      }
    }

    span[aria-expanded=true] {
      span {
        &.expanded {
          display: inline-block;
        }
      }
    }

    span[aria-expanded=false] {
      span {
        &.no-expanded {
          display: inline-block;
        }
      }
    }
  }
}

.brown-select__section {
  background-color: var(--color-base);
  padding: 16px;
}

.mentors__section {
  background-color: var(--color-neutral-2);
  padding: 48px 0;
}

.mentors__item {
  display: inline-block;
  width: 100%;
  padding: 32px 40px;
  margin-bottom: 10px;
  background-color: var(--color-neutral-0);

  .col-sm-4 {
    .row {
      height: 100%;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .mentors__img {
    height: 100%;

    .media {
      display: inline-block;
      position: relative;
      border: 1px solid var(--color-neutral-2);
      border-radius: 3px;
      width: 100%;
      height: 96px;
      overflow: hidden;
      background: var(--color-neutral-0) url("/themes/custom/porto_sub/images/preloading-content.gif") no-repeat center center;
      background-size: contain;

      &.media--loading {
        .darkmode & {
          border-color: var(--color-base);
          background: var(--color-neutral-9) url("/themes/custom/porto_sub/images/preloading-content.gif") no-repeat center center;
          filter: invert(1);
        }
      }
    }

    img {
      height: 150px;
      width: auto;
      border: 0;

      @include media('>=tablet') {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        left: 0;
      }

      &.b-loaded {
        background: var(--color-neutral-0);
      }
    }
  }
}

.black-banner__section {
  background-color: $color-neutral-9;
  padding: 56px 0;
}

.mentors-banner__container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  > .row {
    margin: 0;
  }
}

.blue-banner__title {
  @include responsive-prop(700, 800, font-weight);
  color:  var(--color-base);
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.17;
  margin: 0;
}

.blue-banner__description {
  color:  var(--color-base);
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.5;
}

.bulk-package__title {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .1px;
  color: var(--color-base);
  margin-bottom: 10px;

  .blue {
    @include responsive-prop(700, 800, font-weight);
    background: transparent;
    border: none;
    color: $color-blue;
  }
}

.bulk-package__description {
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: .1px;
  color: var(--color-neutral-7);
  text-decoration: underline;
  margin: 0;

  span {
    font-weight: 500;
  }
}

.black-banner__title {
  @include responsive-prop(700, 800, font-weight);
  color: $color-neutral-1;
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.17;
  margin: 0 0 16px;
}

.black-banner__description {
  color: var(--color-neutral-7);
  font-size: 17px !important;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.53;
  margin: 0 0 40px !important;
}

.mentors__sort-block {
  display: inline-block;
  margin-bottom: 24px;
  width: 100%;
}

.mentors__sorting {
  float: right;

  span {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: .2px;
    color: var(--color-neutral-7);
    padding-left: 10px;

    &:nth-child(2) {
      position: relative;
      font-weight: 500;
      font-style: normal;
      color: var(--color-base);
      padding-right: 11px;

      &:after {
        background: var(--color-neutral-4);
        content: "";
        height: 10px;
        position: absolute;
        right: -1px;
        top: 3px;
        width: 1px;
      }
    }

    &:nth-child(3) {
      color: var(--color-base);
      font-style: normal;
      font-weight: 300;
    }
  }
}

.mentors__certified-count {
  span {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: .2px;
    color: var(--color-neutral-7);

    &:first-child {
      color: var(--color-base);
      font-weight: 500;
      padding-right: 5px;
    }
  }
}

.mentors__title {
  @include responsive-prop(700, 800, font-weight);
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: .2px;
  color: var(--color-base);

  a {
    color: var(--color-base);
  }
}

.mentors__content {
  span {
    padding-right: 5px;
  }

  .fivestar-static-form-item {
    display: inline-block;
    vertical-align: text-top;
  }
  margin-bottom: 16px;

  > .mentors__content_sessions {
    &:first-child {
      margin-left: 0;

      &:before {
        border: none;
        content: none;
      }
    }
  }
}

.mentors__content_mark {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.29;
}

.mentors__content_sessions {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: .1px;
  color: var(--color-base);
  position: relative;
  margin-left: 17px;

  span {
    font-weight: 500;
  }

  &:before {
    border-left: 1px solid var(--color-neutral-4);
    content: '';
    height: 12px;
    left: -10px;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

.mentors__tags {
  padding: 0 0 0;
  list-style: none;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;

  li {
    margin-bottom: 6px;
    margin-right: 6px;
  }
}

.mentors__tag {
  display: inline-block;
  border: 1px solid var(--color-neutral-4);
  border-radius: 3px;
  padding: 1px 12px 1px 32px;
  background: var(--color-neutral-0);

  &.tag {
    position: relative;

    &:before {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_label-blue.png);
      background-size: cover;
      content: "";
      height: 12px;
      left: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
    }
  }

  &.grad {
    position: relative;

    &:before {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_student-cap-green.png);
      background-size: cover;
      content: "";
      height: 10px;
      left: 12px;
      position: absolute;
      top: 49%;
      transform: translateY(-50%);
      width: 16px;
    }
  }

  &.location {
    position: relative;

    &:before {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_location-yellow.png);
      background-size: cover;
      content: "";
      height: 12px;
      left: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
    }
  }

  &.tag--multi {
    margin: 0;
    border: 0;
    padding: 0;

    &:before {
      display: none;
    }

    &.tag {
      ul {
        li {
          position: relative;

          &:before {
            background-image: url(/themes/custom/porto_sub/images/icons/icon_label-blue.png);
            background-size: cover;
            content: "";
            height: 12px;
            left: 12px;
            position: absolute;
            top: 7px;
            //transform: translateY(-50%);
            width: 12px;
          }
        }
      }
    }

    &.location {
      ul {
        li {
          position: relative;

          &:before {
            background-image: url(/themes/custom/porto_sub/images/icons/icon_location-yellow.png);
            background-size: cover;
            content: "";
            height: 12px;
            left: 12px;
            position: absolute;
            top: 7px;
            //transform: translateY(-50%);
            width: 9px;
          }
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 6px;
        margin-right: 6px;
        display: inline-block;
        border: 1px solid var(--color-neutral-4);
        border-radius: 3px;
        padding: 1px 12px 1px 32px;
        color: #4f4f4f;
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .1px;
        line-height: 24px;
      }
    }
  }
}

.mentors__label {
  color: var(--color-base);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: normal;
}

.mentors__buttons {
  .btn {
    width: 160px;
  }

  .btn-success {
    margin: 12px 0 6px;
  }
}

.region-breadcrumbs-replacer {
  display: none;
}

.block-accordion {
  background: var(--color-neutral-0);
  padding: 32px 48px 20px;
  width: 100%;

  .panel {
    margin-bottom: 0;
  }

  .panel-title {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: .1px;
    color: var(--color-base);

    @include media('>=tablet') {
      display: flex;
    }

    a {
      &:before {
        background-color: $color-blue;
        border-radius: 1.5px;
        content: " ";
        height: 3px;
        left: 0;
        position: absolute;
        top: 26px;
        width: 15px;
        z-index: 999;
      }

      &:after {
        background-color: $color-blue;
        border-radius: 1.5px;
        content: " ";
        height: 15px;
        left: 6px;
        position: absolute;
        top: 20px;
        width: 3px;
        z-index: 999;
      }
    }

    a[aria-expanded=true] {
      &:after {
        content: none;
      }
    }
  }

  .panel-group {
    .panel {
      + .panel {
        margin-top: 0;
      }
    }

    .panel-heading {
      a {
        display: inline-block;
        padding: 0 0 0 40px;
      }
    }
    margin: 0;
  }

  .panel-default {
    > .panel-heading {
      background: 0 0;
      border: none;
      padding: 0;

      + .panel-collapse {
        > .panel-body {
          border-top: none;
          color: var(--color-base);
          font-size: 16px;
          font-weight: 300;
          letter-spacing: .2px;
          line-height: 1.75;
        }
      }
    }
  }

  .panel-body {
    padding: 0;
  }
}

.block-accordion_head {
  p {
    color: var(--color-neutral-7);
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.13;
    margin: 0 0 40px;
  }

  h3 {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.19;
    margin: 0 0 8px;
  }
}

.mentors__bio.panel {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;

  .collapse:not(.show) {
    // display: block !important;
  }

  &.panel-opened {
    display: block;
  }

  .panel-title {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: .1px;
    color: var(--color-base);
    padding: 16px 0;

    a {
      &:before {
        background-color: $color-blue;
        border-radius: 1.5px;
        content: " ";
        height: 3px;
        left: 0;
        position: absolute;
        top: 26px;
        width: 15px;
        z-index: 999;
      }

      &:after {
        background-color: $color-blue;
        border-radius: 1.5px;
        content: " ";
        height: 15px;
        left: 6px;
        position: absolute;
        top: 20px;
        width: 3px;
        z-index: 999;
      }
    }

    a[aria-expanded=true] {
      &:after {
        content: none;
      }
    }
  }

  &.panel-default {
    > .panel-heading {
      background: 0 0;
      border: none;
      padding: 0;
    }
  }

  .panel-heading {
    a {
      display: inline-block;
      padding: 0 0 0 40px;
    }
  }
}

.faq__block {
  .panel-title {
    padding: 16px 0;
  }

  .panel-group {
    .panel-title {
      a {
        color: var(--color-neutral-9) !important;
      }
    }
  }

  .panel {
    &.panel-default {
      border: none;
      border-bottom: 2px solid  var(--color-light-blue);
      border-radius: 0;
      box-shadow: none;

      &:first-child {
        border-radius: 0;
        border-top: 2px solid  var(--color-light-blue);
      }
    }
  }
}

.page-wall-street-mentors-finance-mock-interviews {
  .views-row {
    margin-bottom: 15px;
  }

  .tab-content {
    background-color: var(--color-neutral-0);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .views-exposed-widget {
    margin-top: 10px;
    margin-bottom: 10px;

    label {
      display: none;
    }
  }

  .main {
    input[type="text"] {
      background-color: var(--color-neutral-0);
      border-radius: 3px;
      box-shadow: none;
      //color: var(--color-neutral-0) !important;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      height: 48px;
      letter-spacing: .2px;
      line-height: 48px;
      margin: 0;
      padding: 0 24px;
      width: 100%;
    }
  }

  .view-filters {
    background: var(--color-base);
    position: relative;
    display: inline-block;
    width: 100%;

    &__message {
      color: var(--color-neutral-3);
      margin-bottom:-15px!important;
      font-weight: bold;
      padding-left: 10px;
    }

    .darkmode & {
      background: var(--color-neutral-2);
    }

    .views-exposed-form {
      padding: 24px 0;

      label,
      .form-item-field-past-industries-value,
      .form-item-field-previous-cities-value,
      .form-item-sort-order {
        display: none;
      }

      .form--inline {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        position: relative;

        > div {
          width: 100%;
          float: none;
          margin: 10px 0;

          &:visible:last-child {
            margin-bottom: 0;
          }

          &.form-actions {
            position: absolute;
            right: 0;
            bottom: 25px;
            width: 40px;
            margin: 0;

            .button {
              width: 40px;
              opacity: 0;
              right: 0;
              top: -10px;
              position: absolute;
            }

            &:after {
              display: inline-block;
              font: normal normal normal 18px/1 'fa-custom';
              content: '\e829';
              color: $color-neutral-0;
              margin: 0 auto;
              pointer-events: none;
            }
          }

          @media (min-width: 768px) {
            width: calc(50% - 20px);
            margin: 5px 10px;

            &.form-actions {
              width: 40px;
              margin: 0;
              right: 10px;
            }
          }

          @media (min-width: 992px) {
            width: calc(25% - 20px);
            margin: 5px 10px;

            &.form-actions {
              width: 40px;
              margin: 0;
              bottom: auto;
              top: 20px;
            }
          }
        }
      }

      .select2-container--bootstrap4 {
        margin-top: 0;

        .select2-selection {
          background: var(--color-base);
          border: 2px solid $color-neutral-0;

          .darkmode & {
            background: var(--color-neutral-2);
          }
        }

        .select2-selection--multiple {
          min-height: 51px !important;

          &:after {
            border-top-color: $color-neutral-0;
          }
        }

        .select2-search__field {
          background: transparent;
          font-size: 14px;
          color: var(--color-neutral-0);
          margin-top: 12px;

          @include placeholder {
            font-size: 14px;
            color: var(--color-neutral-0);
          }
        }
      }

      input[type="text"] {
        background: var(--color-base);
        border: 2px solid $color-neutral-0;
        font-size: 14px;
        color: $color-neutral-0;
        height: 51px;
        line-height: 51px;
        padding: 0 55px 0 20px;

        .darkmode & {
          background: var(--color-neutral-2);
        }

        @include placeholder {
          font-size: 14px;
          color: var(--color-neutral-0);
        }
      }

      .form-item-sort-by {
        display: none;
      }
    }
  }

  .views-exposed-form-container {
    padding: 12px 0;
  }

  .fivestar-static-item {
    .form-item {
      margin: 0;
    }
  }

  div {
    &.fivestar-widget-static {
      .star {
        float: left;
        width: 14px;
        height: 14px;
        overflow: hidden;
        text-indent: -999em;
        background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
        margin-bottom: 0;
        background-size: cover;

        span {
          &.on {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 -14px;
            background-size: 14px 28px;
            display: block;
            height: 100%;
            width: 100%;
          }

          &.off {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
            background-size: cover;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .fivestar-default {
    height: 14px;
  }

  .fivestar-summary {
    display: none;
  }

  .views-submit-button {
    height: 0;
    visibility: hidden;
  }

  .views-reset-button {
    height: 0;
    visibility: hidden;
  }
}

.select2-container {
  @include select2--with-checkboxes();

  .option-value,
  .option-description {
    display: block;
  }

  .option-description {
    color: var(--color-base);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.17;
  }

  .select2-results__option--highlighted,
  .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    .option-description {
      color: var(--color-neutral-0);
    }
  }
}

.price-list__block {
  border: 1px solid var(--color-neutral-4);
  display: inline-block;
  width: 100%;
}

.price-list__head {
  border-bottom: 1px solid var(--color-neutral-4);
}

.price-list__cta {
  padding: 14px 21px 5px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    position: relative;
    z-index: 10;
    padding: 0 5px;
  }
}

.price-list__head_title {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: .1px;
  color: var(--color-base);

  span {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 24px;
    line-height: 1.17;
  }
}

.price-list__head_description {
  color: var(--color-neutral-7);
  font-size: 14px;
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.14;
}

.price-list__cta_description {
  color: var(--color-neutral-7);
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.17;
  margin: 7px 0 0;
  text-align: center;
}

.touch {
  .page-wall-street-mentors-finance-mock-interviews {
    .views-exposed-widget {
      label {
        color: var(--color-neutral-0);
        display: block;
      }
    }
  }
}
div {
  &.fivestar-widget-static {
    display: block;
    margin: -1.5px auto 0;
  }
}

.fivestar-widget-static {
  &.fivestar-widget-static-5 {
    display: inline-block;
    margin: -1.5px auto 0;
  }
}

.mac {
  div {
    &.fivestar-widget-static {
      display: inline-block;
      margin: 1px auto 0;

      &.fivestar-widget-static-5 {
        display: inline-block;
        margin: 1px auto 0;
      }
    }
  }
}

.field-type-fivestar {
  .description {
    display: none;
  }
  text-align: center;
}

.view-mentor-profile {
  .views-widget-sort-by {
    display: none;
  }

  .views-widget-sort-order {
    display: none;
  }

  .mentors--item {
    display: none;

    &:nth-child(1) {
      display: block;
    }

    &:nth-child(2) {
      display: block;
    }

    &:nth-child(3) {
      display: block;
    }

    &:nth-child(4) {
      display: block;
    }

    &:nth-child(5) {
      display: block;
    }

    &:nth-child(6) {
      display: block;
    }

    &:nth-child(7) {
      display: block;
    }

    &:nth-child(8) {
      display: block;
    }

    &:nth-child(9) {
      display: block;
    }

    &:nth-child(10) {
      display: block;
    }

    &.filtered {
      .mentors__item {
        display: none;
      }
    }
  }
}

.left {
  float: left;
  padding: 30px 0 24px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  //opacity: 0;

  .total {
    color: var(--color-base);
    font-weight: 700;
  }
}

.sort-right {
  float: right;
  padding: 24px 0;

  h3 {
    color: var(--color-neutral-7);
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 1.14;
    margin-bottom: 0;
    margin-right: 12px;
  }

  ul {
    &.mentors-sort {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        display: inline-flex;
        align-items: center;

        a {
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: .2px;
          color: var(--color-base);
          opacity: 0.8;
          display: inline-flex;
          align-items: center;

          svg {
            width: 16px;
            height: 16px;
            fill: var(--color-base);
            margin-left: 5px;
          }

          &:hover {
            background: none;
            text-decoration: underline;
            transition: none;
            opacity: 1;
            color: var(--color-black);
          }

          &.active-sort {
            color: var(--color-black);
            opacity: 1;
            cursor: default;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }

        /*
        &:first-child {
          margin-right: 20px;
          position: relative;

          &:after {
            border-left: 1px solid var(--color-neutral-4);
            content: '';
            height: 12px;
            position: absolute;
            right: -10px;
            top: 5px;
            width: 1px;
          }
        }
        */
      }
    }
  }
}

.mentors-text-search-results {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: -12px;
  margin-top: 5px;
  text-align: center;
}

.mentors__title_title {
  margin-left: 18px;
  position: relative;
}

.mentors__title_industry {
  + .mentors__title_title {
    &:before {
      border-left: 1px solid var(--color-neutral-4);
      content: '';
      height: 12px;
      left: -10px;
      position: absolute;
      top: 2px;
      width: 1px;
    }
  }
}

.loading {
  .view-content {
    position: relative;

    &:before {
      background: url("/themes/custom/porto_sub/images/animation/loader.gif") no-repeat;
      background-size: contain;
      bottom: 0;
      content: "";
      height: 32px;
      left: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-16px, -16px);
      width: 32px;
      z-index: 999;
    }

    &:after {
      background: rgba(238, 238, 238, .5);
      bottom: 20px;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.views-widget-filter-field_previous_cities_value {
  display: none;
}

.views-widget-filter-field_past_industries_value {
  display: none;
}
#mentors-text-search {
  margin: 0;
  width: 100%;

  .form-group {
    margin-bottom: 0;
    position: relative;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 50%;
    background: transparent;
    font-size: 18px;
    transform: translateY(-50%);

    .icon {
      color: var(--color-neutral-0);
    }

    &:active {
      border-color: transparent;
    }

    &:focus {
      border-color: transparent;
    }
  }

  &.btn {
    &:hover {
      border-color: transparent;
    }
  }

  input[type=text] {
    height: 52px;
    background-color: var(--color-neutral-0);
    border: 2px solid var(--color-neutral-0);
    border-radius: 3px;
    background: none;
    color: var(--color-neutral-0) !important;
    font-size: 14px;
    padding: 24px 55px 24px 20px;
    font-weight: 300;
    line-height: 1;

    &:-webkit-input-placeholder {
      color: var(--color-neutral-0);
      font-size: 14px;
      font-weight: 300;
      letter-spacing: .1px;
      line-height: 1.25;
      opacity: 1;
    }

    &:-moz-placeholder {
      color: var(--color-neutral-0);
      font-size: 14px;
      font-weight: 300;
      letter-spacing: .1px;
      line-height: 1.25;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: var(--color-neutral-0);
      font-size: 14px;
      font-weight: 300;
      letter-spacing: .1px;
      line-height: 1.25;
      opacity: 1;
    }

    &:placeholder {
      color: var(--color-neutral-0);
      font-size: 14px;
      font-weight: 300;
      letter-spacing: .1px;
      line-height: 1.25;
      opacity: 1;
    }
  }

  .mentors-text-search-results {
    text-align: center;
  }
}

#mentors-infinity-scroll {
  opacity: .5;
}

.pager {
  text-align: center;
  list-style: none;

  .button {
    //@extend %btn;
    @extend %btn, .btn-info;
    @extend %btn, .btn-md;
  }
}

@include media('>=large-desktop') {
  .field-type-fivestar {
    .form-group {
      margin-bottom: 0;
    }
  }

  .bulk-package__block {
    .btn {
      margin-right: 10px;
    }
  }
}
@include media('<tablet') {
  .blue-banner__section {
    padding: 32px 0 0;
  }

  .black-banner__section {
    padding: 20px 15px;

    .btn {
      width: 100%;
    }
  }

  .block-accordion {
    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 14px;
          position: relative;
        }
      }
    }

    .panel-title {
      a {
        &:after {
          content: " ";
          left: 6px;
          top: 2px;
        }

        &:before {
          content: " ";
          left: 0;
          top: 8px;
        }
      }
    }
    padding: 20px 15px 10px;
    margin-bottom: 20px;

    .panel-default {
      > .panel-heading {
        + .panel-collapse {
          > .panel-body {
            font-size: 13px;
          }
        }
      }
    }

    .panel-body {
      padding: 0 0 15px;
    }
  }

  .blue-banner__title {
    font-size: 24px;
    padding: 0 15px;
  }

  .black-banner__title {
    font-size: 24px;
  }

  .bulk-banner__block {
    border-radius: 0;
    margin: 0 0 20px;
    padding: 20px 15px 15px;
  }

  .blue-banner__description {
    font-size: 14px;
    margin: 20px 0 32px;
    padding: 0 15px;
  }

  .bulk-package__description {
    margin-bottom: 15px;
  }

  .bulk-package__title {
    font-size: 14px;
  }

  .price-list__block {
    margin: 20px 0 0;
  }

  .price-list__part {
    display: inline-block;
    width: 100%;

    &:last-child {
      .price-list__head {
        border: none;

        &:after {
          content: none;
        }
      }
    }
  }

  .price-list__head {
    padding: 16px 15px 20px;
    width: 50%;
    float: left;
    position: relative;
    border: none;

    &:after {
      border-bottom: 1px solid var(--color-neutral-4);
      bottom: -1px;
      content: "";
      left: 0;
      position: absolute;
      width: 200%;
    }
  }

  .price-list__cta {
    float: left;
    width: 50%;
  }

  .view-display-id-mentors_page {
    .view-content {
      margin-top: 20px;
    }

    .view-header {
      .left {
        padding: 20px 0;
        width: 100%;
      }

      .sort-right {
        padding: 0 0 15px;
        width: 100%;
      }
    }

    .views-widget-filter-field_current_city_value {
      margin-bottom: 0;
    }

    .views-exposed-widgets {
      padding: 3px 0;
    }
  }

  .mentors__content_sessions {
    display: inline-block;
    margin-top: 10px;
    margin: 0;

    &:before {
      content: none;
    }
  }

  .mentors__buttons {
    .btn {
      width: 100%;
    }
  }

  .mentors__item {
    padding: 15px;
    margin-bottom: 15px;

    .col-sm-4 {
      > a {
        display: inherit;
        margin-bottom: 15px;
        text-align: center;
      }
    }

    div {
      &.col-sm-4 {
        a {
          display: inline-block;
          margin-bottom: 15px;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .block-accordion_head {
    h3 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  .black-banner__description {
    font-size: 14px;
  }

  .bulk-package__block {
    .btn {
      width: 100%;
    }
  }

  .page-wall-street-mentors-finance-mock-interviews {
    .views-exposed-widget {
      margin: 0;
      padding: 0;
      width: 100% !important;
    }

    .views-exposed-form {
      .views-exposed-widget {
        padding: 0;
      }
    }

    .views-submit-button {
      position: absolute;
    }

    .views-reset-button {
      position: absolute;
    }
  }

  .mentor-head__title {
    font-size: 28px;
  }

  .mentor-head__section {
    padding: 30px 0 !important;
  }

  .mentor-head__company-name {
    font-size: 18px;
  }

  .mentor-simple__section {
    margin-top: 10px;
  }

  .mentor-price__section {
    padding: 0 15px;
  }

  .mentor-expectation__section {
    padding: 0 15px;
  }

  .block-block-300 {
    padding: 0 15px;
  }

  .mentor-content__section_book-now_footer {
    padding: 15px;
  }

  .mentor-book__part {
    .form-item-custom-mentor-book-now-select {
      max-width: 100%;
    }
    position: absolute;
    top: -143px;
  }

  .mentor-book__part_foot {
    .form-item-custom-mentor-book-now-select {
      max-width: 100%;
    }
  }

  #edit-custom-mentor-book-now-select {
    height: 48px;
    margin-bottom: 15px;
    width: 100%;
  }

  #edit-custom-mentor-book-now-select--2 {
    height: 48px;
    margin-bottom: 15px;
    width: 100%;
  }

  .mentor-content__section {
    padding: 90px 0 48px;
  }
}
@include media('>=tablet') {
  .mentors__buttons {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 190px;
  }

  .mentors__content-block {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: calc(83.3333% - 190px);
    flex: 0 0 calc(83.3333% - 190px);
    max-width: calc(83.3333% - 190px);
  }

  .price-list__part {
    width: 20%;
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;

    &:after {
      border-right: 1px solid var(--color-neutral-4);
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  .block-accordion {
    &.faq__block {
      margin: 80px 0 140px;

      .panel-default {
        > .panel-heading {
          + .panel-collapse {
            > .panel-body {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }

  .blue-banner__title {
    font-size: 36px;

    span {
      white-space: nowrap;
      width: 100%;
    }
  }

  .blue-banner__description {
    font-size: 16px;
    margin: 24px 0 40px;
  }

  .price-list__block {
    margin: 10px 0 0;
  }

  .price-list__head {
    padding: 16px 24px 0;
  }

  .mentors__item {
    .col-sm-4 {
      .row {
        margin-right: 0;
      }
    }
  }

  .page-wall-street-mentors-finance-mock-interviews {
    .views-exposed-widget {
      width: calc(50% - 20px) !important;

      .form-item {
        margin-bottom: 0;
      }
    }

    .views-exposed-form {
      .views-exposed-widget {
        padding: 0;
      }
    }

    .views-exposed-form-container {
      .views-exposed-widget {
        padding: 0;
      }
    }
  }
}
@include media('>=tablet', '<desktop') {
  .block-accordion {
    padding: 60px 10px 0;

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 24px;
          margin-right: 45px;
        }
      }
    }

    .panel-title {
      a {
        &:after {
          //top: 50%;
          //transform: translateY(-50%);
        }
      }
    }

    &.faq__block {
      margin: 80px 0 140px;
    }
  }
}
@include media('>=desktop', '<large-desktop') {
  .block-accordion {
    .panel-title {
      a {
        &:after {
          //top: 50%;
          //transform: translateY(-50%);
        }
      }
    }

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 24px;
          margin-right: 45px;
        }
      }
    }

    &.faq__block {
      margin: 80px 0 140px;

      .panel-default {
        > .panel-heading {
          + .panel-collapse {
            > .panel-body {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }
}

@include media('>=desktop') {
  .page-wall-street-mentors-finance-mock-interviews {
    .views-exposed-widgets {
      flex-wrap: nowrap;
    }

    .views-exposed-widget {
      width: calc(25% - 20px) !important;
    }
  }
}



