#wso-bottom-panel {
  position: fixed;
  bottom: -100px;
  width: 100%;
  left: 0;
  background: var(--color-neutral-0);
  opacity: 0;
  transition: opacity .5s ease-in-out,bottom .5s ease-in-out;
  display: none;
  box-shadow: 0 -2px 4px 0 var(--color-neutral-3);
  border: solid 1px var(--color-neutral-3)
}
#wso-bottom-panel .action-buttons {
  display: flex;
  padding: 0 0 15px;
  margin: 0;
  height: 64px;
  list-style: none
}
#wso-bottom-panel .action-buttons li {
  min-width: 20%
}
#wso-bottom-panel .action-buttons a,
#wso-bottom-panel .action-buttons button {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: .15s ease-in-out;
  background: var(--color-neutral-0);
  border: none
}
#wso-bottom-panel .action-buttons a:active,
#wso-bottom-panel .action-buttons a:focus,
#wso-bottom-panel .action-buttons a:hover,
#wso-bottom-panel .action-buttons button:active,
#wso-bottom-panel .action-buttons button:focus,
#wso-bottom-panel .action-buttons button:hover {
  background: var(--color-neutral-1)
}
#wso-bottom-panel .action-buttons a:active .icon.gray,
#wso-bottom-panel .action-buttons a:focus .icon.gray,
#wso-bottom-panel .action-buttons a:hover .icon.gray,
#wso-bottom-panel .action-buttons button:active .icon.gray,
#wso-bottom-panel .action-buttons button:focus .icon.gray,
#wso-bottom-panel .action-buttons button:hover .icon.gray {
  color: #0cb930
}
#wso-bottom-panel .action-buttons .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 23px
}
#wso-bottom-panel .action-buttons .icon.icon-layout {
  font-size: 34px
}
#wso-bottom-panel .action-buttons .icon.gray {
  color: #9db2bc
}
.darkmode #wso-bottom-panel .action-buttons .icon.gray {
  color: #c0beba
}
#wso-bottom-panel .action-buttons .button-home .icon {
  font-size: 25px
}
#wso-bottom-panel .action-buttons .button-notifications .icon {
  font-size: 22px
}
#wso-bottom-panel .action-buttons .button-profile .icon {
  font-size: 24px
}
#wso-bottom-panel .action-buttons .button-edit-create-post .icon {
  color: #9db2bc;
  font-size: 17px
}
.darkmode #wso-bottom-panel .action-buttons .button-edit-create-post .icon {
  color: #c0beba
}
#wso-bottom-panel .action-buttons .button-edit-create-post span {
  border: var(--color-neutral-4) 3px solid;
  border-radius: 100%;
  display: inline-block;
  height: 37px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 37px
}
.darkmode #wso-bottom-panel .action-buttons .button-edit-create-post span {
  border-color: #c0beba
}
#wso-bottom-panel .action-buttons .button-edit-create-post a:active .icon,
#wso-bottom-panel .action-buttons .button-edit-create-post a:focus .icon,
#wso-bottom-panel .action-buttons .button-edit-create-post a:hover .icon {
  color: var(--color-neutral-7)
}
#wso-bottom-panel .action-buttons .button-edit-create-post a:active span,
#wso-bottom-panel .action-buttons .button-edit-create-post a:focus span,
#wso-bottom-panel .action-buttons .button-edit-create-post a:hover span {
  border: 3px solid #0cb930
}
#wso-bottom-panel .action-buttons__label {
  font-size: 10px;
  color: #9db2bc;
  position: relative;
  height: auto!important;
  line-height: 1;
  transform: translateY(-7px)
}
.darkmode #wso-bottom-panel .action-buttons__label {
  color: #c0beba
}
#wso-bottom-panel .forum-buttons {
  background: var(--color-neutral-3);
  border-bottom: solid 1px var(--color-neutral-3);
  display: none
}
#wso-bottom-panel .forum-buttons .scroll-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0 5px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 100%
}
#wso-bottom-panel .forum-buttons .scroll-container .divider {
  display: none
}
#wso-bottom-panel .forum-buttons .scroll-container .forum-button {
  padding: 2px;
  border-radius: 12px;
  border: solid 2px var(--color-neutral-3);
  margin: 0 1px;
  height: 40px;
  flex: 0 0 auto
}
#wso-bottom-panel .forum-buttons .scroll-container .forum-button a {
  width: auto;
  min-width: 32px;
  height: 32px;
  border-radius: 8px;
  border: var(--color-neutral-4) 1px solid;
  background: var(--color-neutral-0);
  display: inline-flex;
  align-items: center;
  align-content: center;
  color: var(--color-black);
  font-weight: 700;
  text-align: center;
  justify-content: center;
  position: relative;
  padding: 0 5px
}
#wso-bottom-panel .forum-buttons .scroll-container .forum-button a:hover {
  text-decoration: none
}
#wso-bottom-panel .forum-buttons .scroll-container .forum-button a .icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%)
}
#wso-bottom-panel .forum-buttons .scroll-container .forum-button.active,
#wso-bottom-panel .forum-buttons .scroll-container .forum-button:active,
#wso-bottom-panel .forum-buttons .scroll-container .forum-button:focus,
#wso-bottom-panel .forum-buttons .scroll-container .forum-button:hover {
  border: 2px solid #0cb930;
  padding: 2px
}
#wso-bottom-panel .badge {
  background: #f5b226;
  color: var(--color-neutral-0);
  font-size: 10px;
  font-weight: normal;
  height: 16px;
  padding: 3px 5px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 10px
}
.wso-app-banner #wso-bottom-panel {
  display: none
}
.page-user-login.show-bottom-panel {
  padding-bottom: 65px
}
.node-type-blog #wso-bottom-panel .forum-buttons,
.node-type-forum #wso-bottom-panel .forum-buttons,
.page-forum #wso-bottom-panel .forum-buttons {
  display: block
}
.is-touch #wso-bottom-panel .forum-buttons .scroll-container:-webkit-scrollbar {
  display: none
}
@media (min-width: 375px) {
  #wso-bottom-panel .action-buttons li {
    min-width: 75px
  }
}
@media (max-width: 991px) {
  #wso-bottom-panel {
    display: block;
    z-index: 1002
  }
  .show-bottom-panel #header {
    top: -100px
  }
  .show-bottom-panel #wso-bottom-panel {
    bottom: 0;
    opacity: 1;
    transition: opacity .5s ease-in-out,bottom .5s ease-in-out
  }
}
@media (max-width: 767px) {
  .page-node-edit #wso-bottom-panel,
  .page-user-login.not-logged-in #wso-bottom-panel {
    display: none!important
  }
}
/*# sourceMappingURL=bottom-panel.component.css.map */
