{{ attach_library('porto_sub/bottom-panel.component') }}
<div id="wso-bottom-panel">
  <div class="forum-buttons">
    <div class="scroll-container">
      <div class="forum-button"><a href="/tracker" title="Recently Active"><i class="icon icon-time"></i></a></div>
      <div class="forum-button"><a href="/tracker/top/72-hours" title="Top Discussions"><i class="icon icon-bolt"></i></a></div>
      {% if logged_in %}
        <div class="forum-button"><a href="/tracker/bookmarks" title="My Bookmarks"><i class="icon icon-bookmark"></i></a></div>
      {% endif %}
      <div class="forum-button"><a href="/tracker/top" title="Best Content"><i class="icon icon-trophy"></i></a></div>
      {% for item in selected_forums_list.by_industry %}
        <div class="forum-button"><a href="{{ item.url }}" title="{{ item.long_title }}">{{ item.short_title }}</a></div>
      {% endfor %}
      <div class="forum-button"><a href="/forum" title="All Forums">ALL</a></div>
      {% for item in selected_forums_list.related %}
        <div class="forum-button"><a href="{{ item.url }}" title="{{ item.long_title }}">{{ item.short_title }}</a></div>
      {% endfor %}
    </div>
  </div>
  <ul class="action-buttons">
    <li class="button-home">
      <a href="/courses" title="{{ 'Courses'|t }}"><i class="icon icon-graduation-cap gray"></i></a>
      <a href="/courses" class="action-buttons__label">{{ 'Courses'|t }}</a>
    </li>
    <li class="button-menu">
      <a href="#" class="button-menu-trigger" title="{{ 'Browse'|t }}"><i class="icon icon-layout gray"></i></a>
      <a href="#" class="button-menu-trigger action-buttons__label">{{ 'Browse'|t }}</a>
    </li>
    <li class="button-edit-create-post">
      <a href="/node/add/forum" title="{{ 'Start Discussion'|t }}"><span></span><i class="icon icon-pencil"></i></a>
    </li>

    {% if logged_in %}
      <li class="button-notifications">
        <a href="/messages" title="{{ 'Inbox'|t }}"><i class="icon icon-envelope gray"></i></a>
        <a href="/messages" class="action-buttons__label">{{ 'Inbox'|t }}</a>
      </li>
    {% endif %}

    <li class="button-profile">
      {% if logged_in %}
        <a href="/user" title="{{ 'Profile'|t }}"><i class="icon icon-user gray"></i></a>
        <a href="/user" class="action-buttons__label">{{ 'Profile'|t }}</a>
      {% else %}
        <a href="/user/login" title="{{ 'Sign in'|t }}"><i class="icon icon-user gray"></i></a>
        <a href="/user/login" class="action-buttons__label">{{ 'Sign in'|t }}</a>
      {% endif %}
    </li>
  </ul>
</div>

{% set bottom_classes = 'mobile-forum-menu mobile-forum-menu--bottom header__forum-options__block d-lg-none' %}

{% include '@storybook/02-molecules/forum-menu-items/forum-menu-items.twig' with {
  'classes': bottom_classes,
} %}
