@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#wso-bottom-panel {
  position: fixed;
  bottom: -100px;
  width: 100%;
  left: 0;
  background: var(--color-neutral-0);
  opacity: 0;
  transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
  display: none;
  box-shadow: 0 -2px 4px 0 var(--color-neutral-3);
  border: solid 1px var(--color-neutral-3);

  @include media('<desktop') {
    display: block;
    z-index: 1002;
  }

  .action-buttons {
    display: flex;
    padding: 0;
    margin: 0;
    height: $wso-bottom-panel-height;
    padding-bottom: 15px;
    list-style: none;

    li {
      min-width: 20%;

      @media (min-width: 375px) {
        min-width: 75px;
      }
    }

    a,
    button {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      text-align: center;
      cursor: pointer;
      transition: all .15s ease-in-out;
      background: var(--color-neutral-0);
      border: none;

      &:hover,
      &:focus,
      &:active {
        background: var(--color-neutral-1);

        .icon {
          &.gray {
            color: $color-green-100;
          }
        }
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      font-size: 23px;

      &.icon-layout {
        font-size: 34px;
      }

      &.gray {
        @include font-color-grey-darkmode;
      }
    }

    .button-home {
      .icon {
        font-size: 25px;
      }
    }

    .button-notifications {
      .icon {
        font-size: 22px;
      }
    }

    .button-profile {
      .icon {
        font-size: 24px;
      }
    }

    .button-edit-create-post {
      .icon {
        @include font-color-grey-darkmode;
        font-size: 17px;
      }

      span {
        border: var(--color-neutral-4) 3px solid;
        border-radius: 100%;
        display: inline-block;
        height: 37px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 37px;

        .darkmode & {
          border-color: #c0beba;
        }
      }

      a {
        &:hover,
        &:focus,
        &:active {
          .icon {
            color: var(--color-neutral-7);
          }

          span {
            border: $color-green-100 3px solid;
          }
        }
      }
    }

    &__label {
      font-size: 10px;
      @include font-color-grey-darkmode;
      position: relative;
      height: auto !important;
      line-height: 1;
      transform: translateY(-7px);
    }
  }

  .forum-buttons {
    background: var(--color-neutral-3);
    border-bottom: solid 1px var(--color-neutral-3);
    display: none;

    .scroll-container {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      height: 56px;
      margin: 0;
      padding: 0 5px;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      min-width: 100%;

      .divider {
        display: none;
      }

      .forum-button {
        padding: 2px;
        border-radius: 12px;
        border: solid 2px var(--color-neutral-3);
        margin: 0 1px;
        height: 40px;
        flex: 0 0 auto;

        a {
          width: auto;
          min-width: 32px;
          height: 32px;
          border-radius: 8px;
          border: var(--color-neutral-4) 1px solid;
          background: var(--color-neutral-0);
          display: inline-flex;
          align-items: center;
          align-content: center;
          color: var(--color-black);
          font-weight: 700;
          text-align: center;
          justify-content: center;
          position: relative;
          padding: 0 5px;

          &:hover {
            text-decoration: none;
          }

          .icon {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &.active,
        &:hover,
        &:focus,
        &:active {
          border: $color-green-100 2px solid;
          padding: 2px;
        }
      }
    }
  }

  .badge {
    background: $color-yellow;
    color: var(--color-neutral-0);
    font-size: 10px;
    font-weight: normal;
    height: 16px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 10px;
  }

  .wso-app-banner & {
    display: none;
  }
}

.page-user-login {
  &.show-bottom-panel {
    padding-bottom: $wso-bottom-panel-height + 1;
  }
}

.page-node-edit {
  #wso-bottom-panel {
    @include media('<tablet') {
      display: none !important;
    }
  }
}

.show-bottom-panel {
  @include media('<desktop') {
    #header {
      top: -100px;
    }

    #wso-bottom-panel {
      bottom: 0;
      opacity: 1;
      transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
    }
  }
}

.node-type-forum,
.page-forum,
.node-type-blog {
  #wso-bottom-panel {
    .forum-buttons {
      display: block;
    }
  }
}

.is-touch {
  #wso-bottom-panel {
    .forum-buttons {
      .scroll-container {
        &:-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

.page-user-login.not-logged-in {
  #wso-bottom-panel {
    @include media('<tablet') {
      display: none !important;
    }
  }
}
