@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.bonus-item__wrapper {
  .bonus-item__icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .bonus-item__title {
    margin-top: 20px;
    margin-bottom: 10px;
    @include media('>=tablet') {
      margin-top: 16px;
      margin-bottom: 20px;
    }
  }
}

.bonuses__wrapper {
  > div {
    &:nth-child(4n+1) {
      .bonus-item__icon {
        background-image: url("../assets/book.svg");
      }
    }

    &:nth-child(4n+2) {
      .bonus-item__icon {
        background-image: url("../assets/list.svg");
      }
    }
    &:nth-child(4n+3) {
      .bonus-item__icon {
        background-image: url("../assets/chat.svg");
      }
    }
    &:nth-child(4n+4) {
      .bonus-item__icon {
        background-image: url("../assets/lines.svg");
      }
    }
  }
}
