.bonus-item__wrapper .bonus-item__icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}
.bonus-item__wrapper .bonus-item__title {
  margin-top: 20px;
  margin-bottom: 10px
}
.bonuses__wrapper > div:nth-child(4n+1) .bonus-item__icon {
  background-image: url(../assets/book.svg)
}
.bonuses__wrapper > div:nth-child(4n+2) .bonus-item__icon {
  background-image: url(../assets/list.svg)
}
.bonuses__wrapper > div:nth-child(4n+3) .bonus-item__icon {
  background-image: url(../assets/chat.svg)
}
.bonuses__wrapper > div:nth-child(4n+4) .bonus-item__icon {
  background-image: url(../assets/lines.svg)
}
@media (min-width: 768px) {
  .bonus-item__wrapper .bonus-item__title {
    margin-top: 16px;
    margin-bottom: 20px
  }
}
/*# sourceMappingURL=paragraph.bonus-item.component.css.map */
