@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';
@import './components/00-base/style-guide-2023/fonts/_font-mixins.scss';

.wistia-video.wistia-video-with-title-n-text {
  .wistia-video__inner-wrapper {
    .wistia-video__video-wrapper {
      width: 100%;
      height: 100%;
      @include media('>=tablet') {
        max-height: 139px;
        max-width: 214px;
      }

      .wistia_click_to_play > div {
        border: 0 solid;
        border-radius: 12px;
      }
    }
    .wistia-video__text-wrapper {
      margin: 16px 0 0 0;
      @include media('>=tablet') {
        margin: 0 0 0 21px;
      }

      .wistia-video__title {
        margin-bottom: 10px;
      }
      .wistia-video__description {
        .formatted-text {
          color: $color-dark-70;
          @include font-sm-desktop;

          p {
            &:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
