.wistia-video.wistia-video-with-title-n-text .wistia-video__inner-wrapper .wistia-video__video-wrapper {
  width: 100%;
  height: 100%
}
.wistia-video.wistia-video-with-title-n-text .wistia-video__inner-wrapper .wistia-video__video-wrapper .wistia_click_to_play > div {
  border: 0 solid;
  border-radius: 12px
}
.wistia-video.wistia-video-with-title-n-text .wistia-video__inner-wrapper .wistia-video__text-wrapper {
  margin: 16px 0 0
}
.wistia-video.wistia-video-with-title-n-text .wistia-video__inner-wrapper .wistia-video__text-wrapper .wistia-video__title {
  margin-bottom: 10px
}
.wistia-video.wistia-video-with-title-n-text .wistia-video__inner-wrapper .wistia-video__text-wrapper .wistia-video__description .formatted-text {
  color: rgba(47, 47, 47, .7);
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.wistia-video.wistia-video-with-title-n-text .wistia-video__inner-wrapper .wistia-video__text-wrapper .wistia-video__description .formatted-text p:nth-last-child(1) {
  margin-bottom: 0
}
@media (min-width: 768px) {
  .wistia-video.wistia-video-with-title-n-text .wistia-video__inner-wrapper .wistia-video__video-wrapper {
    max-height: 139px;
    max-width: 214px
  }
  .wistia-video.wistia-video-with-title-n-text .wistia-video__inner-wrapper .wistia-video__text-wrapper {
    margin: 0 0 0 21px
  }
}
/*# sourceMappingURL=paragraph.wistia-video-with-title-text.component.css.map */
