@import "../../../00-base/style-guide-2023/colors/colors.component";
@import '../../../../components/common-styles/helpers/mixins';

// Base styles.
.countdown-timer {
  .countdown-timer__info {
    .countdown-timer__title {
      color: $color-green;
      font-weight: 900;
      text-align: center;
      letter-spacing: 0.1em;
      vertical-align: top;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .countdown-timer__subtitle {
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.1em;
      vertical-align: top;
      padding-top: 4px;

      u {
        text-decoration: none;
      }
    }
  }
}

// Color changes depends on container color.
.labeled-container {
  &.labeled-container__color-monkey_blue {
    .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default {
      .countdown-timer__subtitle {
        color: $color-white-70;
      }
      .countdown-timer__text,
      .countdown-timer__counter span,
      .countdown-timer__subtitle u {
        color: $color-white-100;
      }
    }
  }
  &.labeled-container__color-white {
    .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default {
      .countdown-timer__subtitle {
        color: $color-dark-70;
      }
      .countdown-timer__text,
      .countdown-timer__counter span,
      .countdown-timer__subtitle u {
        color: $color-dark-100;
      }
    }
  }
}
