.color-monkey-blue {
  color: #0a4059
}
.color-oasis-blue {
  color: #189eda
}
.color-link-blue-100 {
  color: #087dfd
}
.color-link-blue-dark {
  color: #0c6ad0
}
.color-link-blue-darker {
  color: #085ebd
}
.color-link-blue-50 {
  color: rgba(8, 125, 253, .5)
}
.color-link-blue-15 {
  color: rgba(8, 125, 253, .15)
}
.color-link-blue-10 {
  color: rgba(8, 125, 253, .1)
}
.color-monkey-grey {
  color: #9db2bc
}
.color-light-oasis {
  color: #b7e1f3
}
.color-blush-grey {
  color: #f5f7f8
}
.color-green {
  color: #08c42a
}
.color-yellow {
  color: #f5b226
}
.color-red {
  color: #f04944
}
.color-dark-100 {
  color: #2f2f2f
}
.color-dark-70 {
  color: rgba(47, 47, 47, .7)
}
.color-dark-50 {
  color: rgba(47, 47, 47, .5)
}
.color-dark-30 {
  color: rgba(47, 47, 47, .3)
}
.color-dark-10 {
  color: rgba(47, 47, 47, .1)
}
.color-white-100 {
  color: #fff
}
.color-white-70 {
  color: rgba(255, 255, 255, .7)
}
.color-white-50 {
  color: rgba(255, 255, 255, .5)
}
.color-white-30 {
  color: rgba(255, 255, 255, .3)
}
.color-white-10 {
  color: rgba(255, 255, 255, .1)
}
.countdown-timer .countdown-timer__info .countdown-timer__title {
  color: #08c42a;
  font-weight: 900;
  text-align: center;
  letter-spacing: .1em;
  vertical-align: top;
  text-transform: uppercase;
  margin-bottom: 0
}
.countdown-timer .countdown-timer__info .countdown-timer__subtitle {
  font-weight: 500;
  text-align: center;
  letter-spacing: .1em;
  vertical-align: top;
  padding-top: 4px
}
.countdown-timer .countdown-timer__info .countdown-timer__subtitle u {
  text-decoration: none
}
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .countdown-timer__subtitle {
  color: rgba(255, 255, 255, .7)
}
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .countdown-timer__counter span,
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .countdown-timer__subtitle u,
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .countdown-timer__text {
  color: #fff
}
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .countdown-timer__subtitle {
  color: rgba(47, 47, 47, .7)
}
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .countdown-timer__counter span,
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .countdown-timer__subtitle u,
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .countdown-timer__text {
  color: #2f2f2f
}
/*# sourceMappingURL=countdown-timer-with-text.component.css.map */
