{#
/**
  * @file
  * Countdown timer with text component template.
  *
  * @example:
  *
  * {% include '@storybook/02-molecules/countdown-timers/countdown-timer-with-text/countdown-timer-with-text.twig' with {
  *     'field_include_description': TRUE,
  *     'field_icon': 'exclamation',
  *     'field_offer_expiration_date': field_offer_expiration_date,
  *   }
  * %}
  */
#}

{{ attach_library('porto_sub/countdown-timer-with-text.component') }}

<div class="countdown-timer d-flex flex-column align-items-center">
  {% if field_include_description %}
    <div class="countdown-timer__info">
      <h5 class="countdown-timer__title font-h5">{{ 'This offer (+bonuses) is limited-time only'|t }}</h5>
      <div class="countdown-timer__subtitle font-lg">{# Value added by JS. #}</div>
    </div>
  {% endif %}

  {% include '@storybook/02-molecules/countdown-timers/countdown-timer-base/countdown-timer-base.twig' with {
      'field_include_description': field_include_description,
      'field_icon': field_icon,
      'field_offer_expiration_date': field_offer_expiration_date,
    }
  %}

</div>
