.paragraphs-item-accordion .faq__block {
  padding: 0
}
.paragraphs-item-accordion .faq__block .panel-group .panel-default:first-child {
  border-top: 2px solid rgba(47, 47, 47, .1)
}
.paragraphs-item-accordion .faq__block .panel-group .field--item:first-child .panel-default {
  border-top: none
}
.paragraphs-item-accordion .faq__block .panel-group .field--item:last-child .panel-default {
  border-bottom: 2px solid rgba(47, 47, 47, .1)
}
@media (min-width: 768px) {
  .paragraphs-item-accordion .content {
    width: 55%;
    max-width: 1290px;
    margin: 0 auto
  }
}
@media (max-width: 767px) {
  .paragraphs-item-accordion .content {
    width: 100%;
    padding: 0!important
  }
}
/*# sourceMappingURL=accordion--redesign.component.css.map */
