.block-accordion .panel-heading--redesign .panel-title--redesign {
  padding: 10px 0;
  margin-bottom: 0
}
.block-accordion .panel-heading--redesign .panel-title--redesign .panel-title-button--redesign {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0
}
.block-accordion .panel-heading--redesign .panel-title--redesign .panel-title-button--redesign:after {
  display: inline-block;
  content: url(assets/vector_3.svg);
  object-fit: contain;
  width: 19px;
  height: 9px;
  transition: transform .5s
}
.block-accordion .panel-heading--redesign .panel-title--redesign .panel-title-button--redesign:focus,
.block-accordion .panel-heading--redesign .panel-title--redesign .panel-title-button--redesign:hover {
  color: rgba(47, 47, 47, .7)
}
.block-accordion .panel-heading--redesign .panel-title--redesign a.panel-title-button--redesign[aria-expanded=true] {
  color: #2f2f2f
}
.block-accordion .panel-heading--redesign .panel-title--redesign a.panel-title-button--redesign[aria-expanded=true]:after {
  color: #2f2f2f;
  transform: translateY(.75rem) rotate3d(1, 0, 0, 180deg)
}
@media (max-width: 767px) {
  .block-accordion .panel-heading--redesign .panel-title--redesign .panel-title-button--redesign:after {
    width: 14px;
    height: 7px
  }
}
/*# sourceMappingURL=accordion-item--redesign.component.css.map */
