@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/color-variables';

.block-accordion {
  .panel-heading--redesign {
    .panel-title--redesign {
      padding: 10px 0;
      margin-bottom: 0;

      .panel-title-button--redesign {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;

        &:after {
          display: inline-block;
          content: url("assets/vector_3.svg");
          object-fit: contain;
          width: 19px;
          height: 9px;
          transition: transform 0.5s;

          @include media('<tablet') {
            width: 14px;
            height: 7px;
          }
        }
      }

      .panel-title-button--redesign {
        &:focus,
        &:hover {
          color: $color-dark-70;
        }
      }

      a.panel-title-button--redesign[aria-expanded=true] {
        color: $color-dark-100;

        &:after {
          color: $color-dark-100;
          transform: translateY(0.75rem) rotate3d(1, 0, 0, 180deg);
        }
      }
    }
  }
}
