@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/color-variables';


.paragraphs-item-accordion {
  .content {
    @include media('>=tablet') {
      width: 55%;
      max-width: 1290px;
      margin: 0 auto;
    }

    @include media('<tablet') {
      width: 100%;
      padding: 0!important;
    }
  }

  .faq__block {
    padding: 0;

    .panel-group {
      .panel-default:first-child {
        border-top: 2px solid $color-dark-10;
      }

      .field--item:first-child {
        .panel-default {
          border-top: none;
        }
      }

      .field--item:last-child {
        .panel-default {
          border-bottom: 2px solid $color-dark-10;
        }
      }
    }
  }
}
