#block-tracker3-tracker3-block {
  background: 0 0
}
#block-tracker3-tracker3-block form > div {
  position: relative
}
#block-tracker3-tracker3-block form input[type=text] {
  height: 36px;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-4);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  padding-right: 50px
}
#block-tracker3-tracker3-block form input[type=text]::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
#block-tracker3-tracker3-block form input[type=text]:-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
#block-tracker3-tracker3-block form input[type=text]::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
#block-tracker3-tracker3-block form input[type=text]:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
#block-tracker3-tracker3-block form .form-type-textfield + .icon {
  position: absolute;
  right: 25px;
  top: 12px;
  color: var(--color-base)
}
#block-tracker3-tracker3-block form .form-type-textfield + .icon:hover {
  cursor: pointer
}
#block-tracker3-tracker3-block form input[type=submit] {
  opacity: 0!important;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  padding: 0!important;
  height: 100%
}
div#block-tracker3-tracker3-filter-block {
  float: right
}
div#block-tracker3-tracker3-filter-block .form-item-selected {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  width: 300px
}
div#block-tracker3-tracker3-filter-block input#edit-submit--2 {
  margin-top: -35px
}
/*# sourceMappingURL=tracker3-search.component.css.map */
