@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

#block-tracker3-tracker3-block {
  background: none;

  form {
    @include search-form();
  }
}

div#block-tracker3-tracker3-filter-block {
  .form-item-selected {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    width: 300px;
  }
  float: right;

  input#edit-submit--2 {
    margin-top: -35px;
  }
}
