<div class="body">
{#  {{ dd() }}#}

  <div id="content" class="content full {{ content_marging }}">
    <div class="{{ container_class }}">
      <div class="row row-flex">
        <aside id="sidebar-left" class="col-lg-6 d-lg-block d-none">
          <div id="sticky-sidebar">
            <div class="sidebar-top">
              {{ back_to_course }}
              <h1>{{ course_title }}</h1>
              {{ progress }}
            </div>

            {% if open_flashcards %}
              <div class="flashcards-container container d-flex justify-content-center p-3">
                {{ open_flashcards }}
              </div>
            {% endif %}

            {{ lessons }}
          </div>
        </aside>

        {% if wrapper_name %}
          <div id="{{ wrapper_name }}">
        {% endif %}

        <div id="wso-content-outer" class="col-lg-18 offset-lg-6">
          {{ page.highlighted }}

          {% if page.breadcrumbs_replacer is not empty %}
            <div class="container container--breadcrumbs">
              {{ page.breadcrumbs_replacer|without('porto_sub_breadcrumbs') }}
            </div>
          {% endif %}

          {% if tabs %}
            <div id="drupal_tabs" class="tabs hidden-print">
              {{ tabs }}
            </div>
          {% endif %}

          {% if action_links %}
            <ul class="action-links list-unstyled">
              {{ action_links }}
            </ul>
          {% endif %}

          {% if page.content %}
            {{ page.content }}
          {% endif %}

          <div class="mobile-progress visible-xs col-xs-24">
            <div id="sticky-sidebar">
              <div class="sidebar-top">
                {{ back_to_course }}
                <h1>{{ course_title }}</h1>
                {{ progress }}
              </div>
              {{ lessons }}
            </div>
          </div>
        </div>

        {% if wrapper_name %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="lesson-preloader">
    <div class="text-center content">
      <img loading="eager" alt="{{ 'Loading..'|t }}" src="/themes/custom/porto_sub/images/preloading-content.gif" width="150" height="150" />
      <p class="text-center"></p>
    </div>
  </div>
</div>
