{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}

<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    <section class="page-top breadcrumb-wrap {{ page_top_class }}">
      <div class="container relative">
        <div class="row">
          <div class="col-md-24">
            {{ page.breadcrumbs_replacer.porto_sub_breadcrumbs }}
          </div>
        </div>
        <div class="row">
          <div class="title-container col-md-24">
            <h1 class="title-container__title d-none d-md-block">{{ page['#title']|raw }}</h1>
            <h2 class="title-container__title d-md-none"><span>{{ forum_short_name }}</span></h2>

            <div class="title_action_container title_action_container_multiple">
              {{ pushcrew_subscribe }}
              <div class="title_action title_action_create_disscission m-t-xs ms-md-2 d-lg-none">
                {{ page_top_start_disscusion_button }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="forum__section_white" id="forumn-nav-filters">
        <div class="container forum__filter__section">
          <div class="row">
            {{ forum_filters }}
            {% if page.breadcrumbs_replacer.forumsearchblock %}
              <div class="col-lg-7 col-search">
                {{ page.breadcrumbs_replacer.forumsearchblock }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if page.sidebar_left %}
            <aside id="sidebar-left">
              <div class="{{ left_sidebar_class }}">
                <div id="sticky-sidebar">
                  {{ page.sidebar_left }}
                </div>
              </div>
            </aside>
          {% endif %}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {#
                <?php if ($tabs = render($tabs)): ?>
              #}
              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

          {% if page.sidebar_right %}

          <div id="wso-sidebar-right" class="wso-sidebar-right {{ right_sidebar_class }} hidden-print">
            {{ page.sidebar_right }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
