{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
#}

<div class="body student_group_dashboard">
  <div role="main" class="main">
    {{ page.before_content }}
    {{ page.highlighted }}

    <div id="content" class="content full">
      {{ messages }}

      <div class="container container--breadcrumbs">
        {{ page.breadcrumbs_replacer.porto_sub_local_tasks }}
      </div>

      <div class="container">
        {% if page.content is defined %}
          {{ page.content }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
