{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */


#}

<div class="body wso-alpha">
  {% include '@storybook/04-regions/header/header--wso-alpha.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="wso-alpha__header">
        <div class="container">
          <div class="row">
            <div class="wso-courses__header-content col-md-24 text-center">
              <h1 class="wso-alpha__title">{{ 'WSO Alpha'|t }}</h1>
              <h2 class="wso-alpha__subtitle">{{ 'Access Top Investing Minds - Curated by Top Investors'|t }}</h2>
              <div class="wso-alpha__buttons">
                {% if not has_alpha_access %}
                  <a href="{{ buy_url }}" class="use-ajax btn--svg-icon btn btn-success" rel="nofollow" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:480,&quot;classes&quot;:{&quot;ui-dialog&quot;:&quot;wso-braintree-dialog&quot;}}">GET ACCESS - 14 DAYS FREE <i class="svgicon"><svg class="svg-icon"><use xlink:href="#arrow-right" /></svg></i></a>
                {% endif %}
                <a href="/wso-alpha-overview" class="btn--svg-icon btn btn-default-outline">LEARN MORE <i class="svgicon"><svg class="svg-icon"><use xlink:href="#arrow-right" /></svg></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if page.before_content is defined %}
        <div class="container">
          {{ page.before_content }}
        </div>
      {% endif %}

      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

          {% if page.sidebar_right %}
            <div id="wso-sidebar-right" class="col-lg-7 hidden-print wso-sidebar-right">
              {{ page.sidebar_right }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ page.footer_1 }}

</div>
