{{ google_fivestar_rich_results }}
{{ google_faq_rich_results }}
<div {{ attributes.addClass("body").addClass("full-width-page") }}>
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {% if page.breadcrumbs_replacer is not empty %}
      <div class="container container--breadcrumbs">
        {{ page.breadcrumbs_replacer|without('porto_sub_breadcrumbs') }}
      </div>
    {% endif %}

    <div id="content" class="content full">
      <div class="container container--alt">
        <div class="row">
          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="col-lg-24">
              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {{ page.footer_1 }}
</div>
