{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
#}

<div class="body">
  <div role="main" class="main">
    <div id="content" class="content container">
      {{ messages }}

      {% if page.content is defined %}
        {{ page.content }}
      {% endif %}
    </div>
  </div>
</div>
