<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    <section class="page-top breadcrumb-wrap ">
      <div class="container">
        {% if page.breadcrumbs_replacer is not empty %}
          <div class="row">
            <div class="col-md-24">
              {{ page.breadcrumbs_replacer.porto_sub_breadcrumbs }}
            </div>
          </div>
        {% endif %}
        <div class="row">
          <div class="col-md-24">
            <h1>{{ page['#title'] }}</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="region region-breadcrumbs-replacer container">
      {{ page.breadcrumbs_replacer.porto_sub_local_tasks }}
    </div>

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {% if notifications_control_link %}
                  <div class="notifications-control notifications-control-general">
                    {{ notifications_control_link }}
                  </div>
                {% endif %}
                <div class="m-b text-align-right block-send-message">
                  <a href="/private-message/create" class="btn btn-success"><i class="icon icon-envelope"></i> {{ 'Send a message'|t }}</a>
                </div>

                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
