{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>

#}


{% if path_args[0] == 'user' and path_args[1] matches '/^\\d+$/' %}
  {% set is_user_page = TRUE %}

  {% if path_args[2] == 'edit' %}
    {% set is_user_edit_page = TRUE %}
  {% endif %}
{% endif %}


<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    {% if page.breadcrumbs_replacer is not empty %}
      <div class="container container--breadcrumbs">

          <div class="row">
            {% set class = is_user_edit_page ? 'user-edit__column' : 'col-md-24' %}
            <div class={{ class }}>
              {{ page.breadcrumbs_replacer.porto_sub_breadcrumbs }}

              {% if page.breadcrumbs_replacer.wsousertabs and show_user_menu %}
                {{ page.breadcrumbs_replacer.wsousertabs }}
              {% endif %}

              {% if logged_in %}
              <{{ title_tag }}>{{ page_account_name }}'s Profile </{{ title_tag }}>
              {% endif %}

              {% if title_actions %}
                {% if title_actions|length > 1 %}
                  {% set title_actions_class = 'title_action_container title_action_container_multiple' %}
                {% else %}
                  {% set title_actions_class = 'title_action_container' %}
                {% endif %}
                <div class="{{ title_actions_class }}">
                  {% for title_action in title_actions %}
                    {{ title_action }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

      </div>
    {% endif %}

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if page.sidebar_left %}
            <aside id="sidebar-left">
              <div class="{{ left_sidebar_class }}">
                <div id="sticky-sidebar">
                  {{ page.sidebar_left }}
                </div>
              </div>
            </aside>
          {% endif %}

          {% if wrapper_name is defined %}
            <div id="{{ wrapper_name }}">
              {% endif %}

              <div id="wso-content-outer" class="{{ outer_container_class }}">
                {{ page.help }}

                {% if action_links %}
                  <ul class="action-links list-unstyled">
                    {{ action_links }}
                  </ul>
                {% endif %}

                {% if page.content and path_args[2] == 'edit' %}
                  {{ manage_notifications }}
                  {{ page.content }}
                {% else %}
                  <div class="row">
                    {% if is_user_page %}
                      <div class="col-lg-6">
                      <div class="clearfix user-info panel">
                        <div class="clearfix panel-body">

                          <div class="d-flex m-0">
                            {% if certified_user_status %}
                              <div class="user-picture-certified me-2">
                                <img loading="lazy" class="user-profile-image" src="{{ page_account_picture }}" />
                                <a href="/wallstreetoasiscom-certified-users"><i class="icon icon-star"></i></a>
                              </div>
                            {% else %}
                              <div class="me-2">
                                <img loading="lazy" class="user-profile-image" src="{{ page_account_picture }}" />
                              </div>
                            {% endif %}

                            <div>
                              <span class="user-info--name">{{ page_account_name }}</span>

                              <div>
                                {{ follow_link }}
                              </div>

                              <div>
                                <span class="user-info--rank">{{ page_user_rank }}</span>
                              </div>
                            </div>
                          </div>

                          {{ edit_profile_button }}

                          {% if mentor_link %}
                            <div id="mentor-button-link">
                              {{ mentor_link }}
                            </div>
                          {% endif %}

                          {{ send_message_button }}

                          <div class="clearfix user-info--extra-info">
                            <ul class="user-info--points-list">
                              <li>
                                <a href="/rankings">
                                  <span>Bananas</span>
                                  <i class="icon icon-bananas" title="Bananas"></i>
                                  <span class="user-info--points">{{ page_user_banana_points }}</span>
                                </a>
                              </li>
                              <li>
                                <a href="/wso-credits">
                                  <span>WSO Credits</span>
                                  <span class="user-info--points">{{ page_user_wso_credits }}</span>
                                </a>
                              </li>
                              <li>
                                <a href="/wso-credits">
                                  <span>Silver Bananas</span>
                                  <i class="icon grey icon-bananas" title="Silver Banana"></i>
                                  <span class="user-info--points">{{ page_user_number_of_sb }}</span>
                                </a>
                              </li>
                              <li>
                                <a href="/wso-credits">
                                  <span>Monkey Shits</span>
                                  <i class="icon icon-poo"></i>
                                  <span class="user-info--points">{{ page_user_number_of_ms }}</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      {% if show_products_by_user_order_items %}
                        {{ drupal_view('products_by_user_order_items', 'block') }}
                        {{ drupal_view('products_by_user_order_items', 'block_1') }}
                        {{ drupal_view('products_by_user_order_items', 'block_2') }}
                      {% else %}
                        <section class="user__block bold element__xs__hidden">
                          <h4 class="user__block__title">{{ 'Available Courses To You'|t }}</h4>
                          <ul class="user__block__items">
                            <li class="user__block__item"><a href="/courses/interview-prep/investment-banking">Investment Banking Interview Questions</a></li>
                            <li class="user__block__item"><a href="/courses/interview-prep/private-equity">Private Equity Interview Questions</a></li>
                            <li class="user__block__item"><a href="/courses/interview-prep/consulting-case-interview">Consulting Case Interview Questions</a></li>
                            <li class="user__block__item"><a href="/courses/interview-prep/hedge-fund">Hedge Fund Interview Questions</a></li>
                          </ul>
                        </section>
                      {% endif %}

                      {% if macabacus %}
                        <section class="user__block bold">
                          <h4 class="user__block__title">{{ 'Macabas Trial Code'|t }}</h4>
                          {{ macabacus }}
                        </section>
                      {% endif %}

                      <section class="panel user-completion">
                        <div class="panel-body">
                          <div class="widget-toggle-expand mb-md">
                            <div>
                              {{ title }}
                            </div>
                            <div>
                              {{ industry }}
                            </div>

                            {#
                             Remove that part because it wasn’t working correctly.

                            {% if show_profile_completion %}
                              <div class="widget-header">
                                <h5>Profile Completion</h5>
                              </div>
                              <div class="widget-content-collapsed">
                                {{ profile_complete_percentage }}
                              </div>
                            {% endif %}
                            #}


                          </div>
                        </div>
                      </section>

                      {% if show_roles_links %}
                        <section class="user__block bold">
                          <h4 class="user__block__title">{{ 'Subscriptions'|t }}</h4>
                          {{ roles_links }}
                        </section>
                      {% endif %}
                    </div>
                    {% endif %}
                    <div class="{% if is_user_page %}col-lg-18{% endif %}">
                      {#
                      {{ page.breadcrumbs_replacer.porto_sub_local_tasks }}
                      {% if tabs %}
                        <div id="drupal_tabs" class="tabs hidden-print">
                          {{ tabs }}
                        </div>
                      {% endif %}
                      #}

                      {% if is_user_page and path_args[2] != 'community' %}
                        {{ page.content|without('views_block__private_messages_system_inbox_block') }}
                        {{ page.content.views_block__private_messages_system_inbox_block }}
                        {% else %}
                        <div class="user__header__part">
                          <h2 class="user__header__title">{{ 'Community'|t }}</h2>
                        </div>
                        {{ page.breadcrumbs_replacer.porto_sub_local_tasks }}
                        {% if tabs %}
                          <div id="drupal_tabs" class="tabs hidden-print">
                            {{ tabs }}
                          </div>
                        {% endif %}
                        {{ page.content|without('views_block__private_messages_system_inbox_block') }}
                        {{ page.content.views_block__private_messages_system_inbox_block }}
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
              {% if wrapper_name is defined %}
            </div>
          {% endif %}{# {% if wrapper_name is defined %} #}
          {{ new_message_modal_body }}
        </div>
      </div>
    </div>
  </div>

  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
