{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>

#}

<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main {{ extra_class }}">
    {% if video_library_no_access %}
      <div class="video__hero" id="video-hero">
        <div class="video__hero__wrapper video__image__yt-preview">
          <div class="container video__hero__container">
            <div class="col-md-24 col-lg-16">
              <h1 class="video__hero__title">Wall Street Interview Secrets Revealed. Get 100+ Exclusive Finance
                Videos</h1>
              <p class="video__hero__description">Actual professionals from Investment Banking, Private Equity Firms,
                Hedge
                Funds, Management Consulting Firms, and Trading Companies giving their BEST advice to you.</p>
              {{ wso_video_subscribe_form }}
            </div>
          </div>
        </div>
      </div>
      {{ page.before_content }}
    {% else %}
      <section class="page-top breadcrumb-wrap ">
        <div class="container">
          <div class="row">
            <div class="col-md-24">
              <div id="breadcrumbs">
                <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                  <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a href="/" itemprop="item">
                      <span itemprop="name" class="d-none d-md-inline-block">Home</span><i
                          class="icon icon-home-2 d-md-none"></i>
                    </a>
                    <meta itemprop="position" content="1">
                  </li>
                  <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                  <span itemprop="name">
                    <a href="/finance-interview-courses-wall-street-oasis">Career</a>
                  </span>
                    <meta itemprop="position" content="2">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-24">
              <h1>Wall Street Videos</h1>
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    {{ page.highlighted }}

    <div id="content" class="content full">

      {% if wrapper_name is defined %}
      <div id="{{ wrapper_name }}">
        {% endif %}

        <div id="wso-content-outer">
          {% if tabs %}
            <div id="drupal_tabs" class="tabs hidden-print">
              {{ tabs }}
            </div>
          {% endif %}

          {{ page.help }}

          {% if action_links %}
            <ul class="action-links list-unstyled">
              {{ action_links }}
            </ul>
          {% endif %}

          {% if page.content is defined %}
            {{ page.content }}
          {% endif %}

          {% if video_library_no_access %}
            {% if page.under_content is defined %}
              {{ page.under_content }}
            {% endif %}
          {% endif %}

        </div>
        {% if wrapper_name is defined %}
      </div>
      {% endif %}
    </div>
  </div>

  {% if video_library_no_access %}
    {{ page.after_content }}
  {% endif %}

  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}
</div>
