<div class="body">
  <div role="main" class="main">

    {% if page.breadcrumbs_replacer is not empty %}
      <div class="container container--breadcrumbs">
        {{ page.breadcrumbs_replacer|without('porto_sub_breadcrumbs') }}
      </div>
    {% endif %}
    {{ page.before_content }}
    {{ page.highlighted }}

    <div id="content" class="content full {{ content_marging }}">

      {% if tabs %}
        <div id="drupal_tabs" class="tabs hidden-print">
          {{ tabs }}
        </div>
      {% endif %}

      {{ page.help }}

      {% if action_links %}
        <ul class="action-links list-unstyled">
          {{ action_links }}
        </ul>
      {% endif %}

      {% if page.content %}
        {{ page.content }}
      {% endif %}

      <div class="container">
        <div class="row">
          <div id="wso-content-outer" class="col-md-18 course-content__container">
            <div class="row">
              <div class="col-md-24">
                {% if node.field_course_toc.value %}
                  <div class="course-toc">
                    <h3>What You’ll Learn</h3>
                    <div class="course-toc__content">
                      <div class="collapse" id="collapseExample">
                        {{ node.field_course_toc|view }}
                      </div>

                      <a role="button" data-collapse-text="Collapse All" data-bs-toggle="collapse" href="#collapseExample"
                         aria-expanded="false" aria-controls="collapseExample">
                        Expand All
                      </a>
                    </div>
                  </div>
                {% endif %}

                {% if course_lessons %}
                  <div class="course-content__part">
                    {{ course_lessons }}
                  </div>
                {% endif %}

                {{ page.after_content }}
              </div>
            </div>
          </div>

          {% if page.sidebar_right %}
            <div id="wso-sidebar-right" class="col-md-6 relative hidden-xs course-content__sidebar hidden-print">
              <div class="course-content__sidebar__row">
                <div class="course-content__sideblocks">
                  {{ page.sidebar_right }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>
