{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>

#}

<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="faq__header">
        <div class="container">
          <div class="row">
            <div class="faq__header-content col-md-24 text-center">
              <h1>{{ page['#title'] }}</h1>
              <h2>{{ view_subtitle }}
                {% if user_is_admin %}
                  <a class="btn btn-primary" href="/admin/structure/views/view/faq/edit/{{ view_id }}"><i class="icon icon-pencil"></i></a>
                {% endif %}
              </h2>
              <form class="form" id="faq-search">
                <div class="form-group">
                  <button type="submit" class="btn btn-default"><i class="icon icon-search"></i></button>
                  <input type="text" class="form-control" placeholder="Search topics, questions…">
                </div>
                <div class="faq-search-results">&nbsp;</div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">

          {% if page.sidebar_left %}
            <aside id="sidebar-left" class="col-lg-7">
              <div id="sticky-sidebar">
                {{ page.sidebar_left }}
              </div>
            </aside>
          {% endif %}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="faq-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
  <a href="#" id="scroll2top" title="Scroll to top"><i class="icon icon-chevron-up"></i></a>
  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
