<div class="container-fluid">
  <div class="row">
    <div id="wso-content-outer" class="col-md-24">
      <div class="container container--breadcrumbs">
        {{ page.breadcrumbs_replacer.porto_sub_local_tasks }}
      </div>
    </div>
  </div>
</div>

{% if page.content is defined %}
  {{ page.content }}
{% endif %}
