{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}

<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.before_content }}
    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              <div class="user__header__part">
                <h2 class="user__header__title">Community</h2>
              </div>

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.after_content is defined %}
                <div class="d-none">
                  {{ page.after_content }}
                </div>
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
      </div>

    </div>
  </div>

  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}
</div>
