{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}

{{ attach_library('porto_sub/page.component') }}
<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    <section class="page-top breadcrumb-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-24">
            <div id="breadcrumbs">
              <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                  <span itemprop="name">
                    <a href="/" itemprop="item">
                      <span itemprop="name" class="d-none d-md-inline-block">Home</span><i class="icon icon-home-2 d-md-none"></i>
                    </a>
                  </span>
                  <meta itemprop="position" content="1">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="title-container col-md-24">
            <h1>{{ 'Access Denied'|t }}</h1>
          </div>
        </div>
      </div>
    </section>

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="col-lg-17">
              <div class="region region-content">
                <div class="page full clearfix well">
                  {{ 'You are not authorized to access this page.'|t }}
                </div>
              </div>

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

          <div id="wso-sidebar-right" class="wso-sidebar-right col-lg-7 d-none d-lg-block hidden-print">
            <div class="region region-sidebar-right">
              <section id="block-wsoforumstartdiscussionbutton" class="no-background contextual-region text-center margin-bottom-20">
                <a href="/node/add/forum" class="btn btn-md btn-success btn-block btn-start-discussion"><i class="icon icon-pencil"></i><span>Start Discussion</span></a>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}
</div>
