<header>
  <!--<div class="container-fluid">-->
  <div class="head">
    <div class="logo inline">
      <a href="https://www.wallstreetoasis.com/" class="header__logo">
        <img loading="eager"
             src="/themes/custom/porto_sub/images/wso-logo-2019.png"
             srcset="/themes/custom/porto_sub/images/wso-logo-2019.png 1x, /themes/custom/porto_sub/images/wso-logo-2019-2x.png 2x"
             alt="WSO" class="header__logo-img" width="96" height="32">
      </a>
    </div>
    <ul class="list-inline container hidden-xs hidden-sm">
      {% for step in steps %}
      <li {% if step.class %} class="{{ step.class }}"{% endif %}>
        <p>{{ step.name }}</p>
        <p>{{ step.description }}</p>
      </li>
      {% endfor %}
    </ul>
    <div class="submit ms-header-submit">
      <input type="submit" value="Save and Exit">
    </div>
  </div>
  <div class="ms-progress">
    <div class="ms-progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ ms_progress }}"></div>
  </div>
  <!--</div>-->
</header>
{{ attach_library('porto_sub/application_form') }}
<main>
  {{ page.highlighted }}

  <div class="container">
    <div class="row">
      <div class="col-md-20 col-md-offset-1">

        <div class="vertical-align">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</main>
