{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
#}

<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">

    {% if page.breadcrumbs_replacer is not empty %}
    <div class="container--wide">
      <div class="row">
        <div class="col-lg-24">
          <div class="container-fluid pt-4 pb-4">
            <div class="row">
              {% set class = 'col-md-24' %}

              <div class={{ class }}>
                {{ page.breadcrumbs_replacer.porto_sub_breadcrumbs }}

                {% if page.breadcrumbs_replacer.wsousertabs %}
                  {{ page.breadcrumbs_replacer.wsousertabs }}
                {% endif %}

                {% if logged_in %}
                <{{ title_tag }}>Edit {{ page_account_name }}'s Profile</{{ title_tag }}>
              {% endif %}

              {% if title_actions %}
                {% if title_actions|length > 1 %}
                  {% set title_actions_class = 'title_action_container title_action_container_multiple' %}
                {% else %}
                  {% set title_actions_class = 'title_action_container' %}
                {% endif %}
                <div class="{{ title_actions_class }}">
                  {% for title_action in title_actions %}
                    {{ title_action }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

    <div id="content" class="content full">
      <div id="wso-content-outer">
        <div class="container--wide">
          <div class="row">
            <div id="wso-content-outer" class="col-lg-24">
              {{ page.help }}
              {{ page.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
