{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}

<div class="body wso-job">

  <header class="header main-page">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="d-flex align-items-center">
              <div class="logo">
                <a href="/" class="header__logo">
                  <img loading="eager"
                       src="/themes/custom/porto_sub/images/wso-logo-2019.png"
                       srcset="/themes/custom/porto_sub/images/wso-logo-2019.png 1x, /themes/custom/porto_sub/images/wso-logo-2019-2x.png 2x"
                       alt="{{ 'Home'|t }}" class="header__logo-img" width="96" height="32">
                </a>
              </div>
              {% if darkmode_enabled %}
                {{ drupal_block('wso_darkmode_switcher') }}
              {% endif %}
            </div>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse main_menu-nav" id="navbar-collapse-1">
            {{ drupal_menu('talent-oasis') }}
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </header>

  <div role="main" class="main">
    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="wso-job__header">
        <div class="container">
          <div class="row">
            <div class="wso-job__header-content col-md-24">
              <a href="/the-talent-oasis/candidates" class="wso-job__header-back">Back to search results</a>
              <h1>{{ page['#title'] }}</h1>
              <div class="wso-job__header-info">
                {% if location_in_header %}
                <div class="wso-job__header-location">
                  <i class="icon icon-location"></i> {{ location_in_header }}
                </div>
                {% endif %}
                {{ node_terms_links }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">

          {% if page.sidebar_left %}
            <aside id="sidebar-left">
              <div class="{{ left_sidebar_class }}">
                <div id="sticky-sidebar">
                  {{ page.sidebar_left }}
                </div>
              </div>
            </aside>
          {% endif %}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {{ page.breadcrumbs_replacer|without('porto_sub_breadcrumbs') }}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

          {% if page.sidebar_right %}
            <div id="wso-sidebar-right" class="col-lg-7 d-lg-block hidden-print wso-sidebar-right">
              {{ page.sidebar_right }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}
</div>
