{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
#}

<div class="body student_group_dashboard">

  <header class="mb-5">
    <nav class="navbar student-group-dashboard__navbar container">
      <div class="d-inline-block me-2">
        <img loading="eager" src="{{ company_logo }}" class="logo-img me-2">
        {{ company_name }}
      </div>

      <div class="navbar-brand p-0">
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo" class="navbar-brand logo">
          <img loading="lazy"
               src="/themes/custom/porto_sub/images/wso-logo-2019.png"
               srcset="/themes/custom/porto_sub/images/wso-logo-2019.png 1x, /themes/custom/porto_sub/images/wso-logo-2019-2x.png 2x"
               alt="{{ 'Frontpage'|t }}" class="logo-img" width="96" height="32">
        </a>
      </div>
    </nav>
  </header>

  <div role="main" class="main container">
    {{ page.before_content }}
    {{ page.highlighted }}

    <div id="content" class="content full">
      {{ messages }}

      {% if page.content is defined %}
        {{ page.content }}
      {% endif %}

      {% if reset_form is defined %}
        {{ reset_form }}
      {% endif %}

    </div>
  </div>
</div>
