{{ google_fivestar_rich_results }}
{{ google_faq_rich_results }}
<div {{ attributes.addClass("body") }}>
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {% if page.breadcrumbs_replacer is not empty %}
      <div class="container container--breadcrumbs">
        {{ page.breadcrumbs_replacer }}
      </div>
    {% endif %}

    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="container container--alt">
        <div class="row">

          {% if page.sidebar_left %}
            <aside id="sidebar-left">
              <div class="{{ left_sidebar_class }}">
                <div id="sticky-sidebar">
                  {{ page.sidebar_left }}
                </div>
              </div>
            </aside>
          {% endif %}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

          {% if page.sidebar_right %}

          <div id="wso-sidebar-right" class="wso-sidebar-right {{ right_sidebar_class }} hidden-print">
            {{ page.sidebar_right }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}
</div>
