<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {% if page.jumbotron is not empty %}
      {{ page.jumbotron }}
    {% endif %}

    {{ page.before_content }}
    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if page.sidebar_left %}
            <aside id="sidebar-left">
              <div class="{{ left_sidebar_class }}">
                <div id="sticky-sidebar">
                  {{ page.sidebar_left }}
                </div>
              </div>
            </aside>
          {% endif %}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.breadcrumbs_replacer is not empty %}
                {{ page.breadcrumbs_replacer }}
              {% endif %}

              <!-- Company info && tabs for mobile -->
              <div id="wso-sidebar-top-head" class="wso-sidebar-right region-sidebar-right hidden-print col-xs-24 d-lg-none m-t-20">
                <div class="block right-main__section right-sidebar__block p-0">
                  {{ page.sidebar_right.companytabsblock }}
                </div>
              </div>
              <!-- End Company info && tabs for mobile -->

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

          {% if page.sidebar_right %}
            <div id="wso-sidebar-right" class="wso-sidebar-right {{ right_sidebar_class }} hidden-print">
              {{ page.sidebar_right }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
