{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}

{% if page.content is defined %}
  <header id="talen-oasis-header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="d-flex align-items-center">
            <div class="logo">
              <a href="/" class="header__logo">
                <img loading="eager"
                     src="/themes/custom/porto_sub/images/wso-logo-2019.png"
                     srcset="/themes/custom/porto_sub/images/wso-logo-2019.png 1x, /themes/custom/porto_sub/images/wso-logo-2019-2x.png 2x"
                     alt="WSO" class="header__logo-img" width="96" height="32">
              </a>
            </div>
            {% if darkmode_enabled %}
              {{ drupal_block('wso_darkmode_switcher') }}
            {% endif %}
          </div>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse main_menu-nav" id="bs-example-navbar-collapse-1">
          {{ drupal_menu('talent-oasis') }}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  {{ page.content }}
{% endif %}

{{ page.footer_1 }}
