<div class="body">
  {{ page.highlighted }}

  <div id="header"></div>
  <div id="content" class="content full {{ content_marging }}">

    <div class="{{ container_class }}">
      <div class="row row-flex">

        {% if wrapper_name %}
        <div id="{{ wrapper_name }}">
          {% endif %}

          <div id="wso-content-outer" class="col-lg-24">
            {% if page.breadcrumbs_replacer is not empty %}
              <div class="container container--breadcrumbs">
                {{ page.breadcrumbs_replacer|without('porto_sub_breadcrumbs') }}
              </div>
            {% endif %}

            {% if tabs %}
              <div id="drupal_tabs" class="tabs hidden-print">
                {{ tabs }}
              </div>
            {% endif %}

            {% if action_links %}
              <ul class="action-links list-unstyled">
                {{ action_links }}
              </ul>
            {% endif %}

            {% if page.content %}
              {{ page.content }}
            {% endif %}

            <div class="mobile-progress visible-xs col-xs-24">
              <div id="sticky-sidebar">
                <div class="sidebar-top">
                  {{ back_to_course }}
                  <h1>{{ course_title }}</h1>
                  {{ progress }}
                </div>
                {{ lessons }}
              </div>
            </div>

          </div>
          {% if wrapper_name %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
