{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>

#}


{% if path_args[0] == 'user' and path_args[1] matches '/^\\d+$/' %}
  {% set is_user_page = TRUE %}

  {% if path_args[2] == 'edit' %}
    {% set is_user_edit_page = TRUE %}
  {% endif %}
{% endif %}


<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    {% if page.breadcrumbs_replacer is not empty %}
    <div class="container--wide container--breadcrumbs">
      <div class="ps-3 pe-3">
        <div class="col-lg-24">
          {{ page.breadcrumbs_replacer.porto_sub_breadcrumbs }}
          {% if page.breadcrumbs_replacer.wsousertabs %}
            {{ page.breadcrumbs_replacer.wsousertabs }}
          {% endif %}
          {% if logged_in %}
          <{{ title_tag }}>{{ page_account_name }}'s Notifications & Subscriptions
        </{{ title_tag }}>
        {% endif %}

        {% if title_actions %}
          {% if title_actions|length > 1 %}
            {% set title_actions_class = 'title_action_container title_action_container_multiple' %}
          {% else %}
            {% set title_actions_class = 'title_action_container' %}
          {% endif %}
          <div class="{{ title_actions_class }}">
            {% for title_action in title_actions %}
              {{ title_action }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  <div id="content" class="content full">
    <div class="container--wide">
      <div class="row">

        {% if wrapper_name is defined %}
        <div id="{{ wrapper_name }}">
          {% endif %}

          <div id="wso-content-outer" class="col-lg-24">
            {{ page.help }}

            {% if action_links %}
              <ul class="action-links list-unstyled">
                {{ action_links }}
              </ul>
            {% endif %}

            <div class="row">
              <div class="col-lg-6 relative">
                {% if page.sidebar_left %}
                  <aside id="sidebar-left">

                    <div id="sticky-sidebar">
                      {{ page.sidebar_left }}
                    </div>

                  </aside>
                {% endif %}
              </div>

              <div class="col-lg-18">
                {{ page.content|without('views_block__private_messages_system_inbox_block') }}
              </div>
            </div>

          </div>
          {% if wrapper_name is defined %}
        </div>
        {% endif %}{# {% if wrapper_name is defined %} #}
        {{ new_message_modal_body }}
      </div>
    </div>
  </div>
</div>

{{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
