{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}

<div class="body">


  <div role="main" class="main">
    {{ page.before_content }}
    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              <div class="user__header__part mt-4">
                <h2 class="user__header__title text-center d-block w-100">Community</h2>
              </div>

              <div id="login-form-container" class="col-lg-16 ms-auto me-auto">
                <div class="w-100">
                  <h4 class="text-center text-lg-left login">Reset password</h4>
                </div>
                {% if page.content is defined %}
                  {{ page.content }}
                {% endif %}
              </div>

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
      </div>

    </div>
  </div>

</div>
