{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}

<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">

    <div class="ev-view-header-container">

        <div class="ev-view-header container pt-4 pb-4">
          <h3>WSO Events</h3>
          <p>Many events at WSO are waiting for you to join us. What's new for today?</p>
        </div>
    </div>

    <div class="ev-tabs">
      <div class="container">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="all-tab" data-bs-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="calendar-tab" data-bs-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendar</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              <div class="tab-content">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                  {% if page.content is defined %}
                    {{ page.content }}
                  {% endif %}
                </div>
                <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
                  {% if page.under_content_additional is defined %}
                    {{ page.under_content_additional }}
                  {% endif %}
                </div>
              </div>

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>

    {{ page.before_content }}

    {% if page.jumbotron is not empty %}
      {{ page.jumbotron }}
    {% endif %}

    {{ page.highlighted }}
  </div>

  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}
</div>
