{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>

#}

<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    <div id="content" class="content full">

      {{ page.before_content }}

      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
