<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {% if page.breadcrumbs_replacer is not empty %}
      <div class="container container--breadcrumbs">
        {{ page.breadcrumbs_replacer }}
      </div>
    {% endif %}

    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="container container--alt">
        <div class="row">

          {% if not edit_mode %}
            <div class="col-lg-8 sidebar">
              <aside id="sidebar-left">
                <div id="sticky-sidebar">
                  <div class="sidebar-sticky">
                    <div class="panel p-0">
                      <div class="panel-body p-3">
                        <div class="list-group">
                          {{ aside_nav_links }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
            {% set container_class = 'col-lg-15' %}
          {% else %}
            {% set container_class = 'col-lg-24' %}
          {% endif %}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}

                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}
</div>
