{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}

<div class="body">
  <div role="main" class="main">
    {{ page.before_content }}
    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              <div class="user__header__part mt-4">
                <h2 class="user__header__title text-center d-block w-100"></h2>
              </div>

              <div id="login-form-container" class="col-lg-16 ms-auto me-auto">
                <div class="row">
                  <div class="w-100">
                    <h2 class="text-center text-lg-left login">Login</h2>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 d-none">
                      <h4 class="text-center">Sign in using one of these accounts:</h4>
                      <div id="interface_containert"></div>
                    </div>

                    <div class="col-lg-12 order-lg-2 social-login-section">
                      <h5 class="text-center">Login using your Facebook, Google or LinkedIn account with 1 click below</h5>
                      {{ page.after_content }}
                      <div class="text-center">Don't have an account? <a href="/user/register" class="login-link" id="register-link">Sign Up here</a>
                      </div>
                    </div>

                    <div class="col-lg-12 order-lg-1">
                      {{ page.content }}
                    </div>
                  </div>

              </div>


            </div>

          </div>
          {% if wrapper_name is defined %}
        </div>
        {% endif %}

      </div>
    </div>

  </div>
</div>


</div>
