{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */


#}

<div class="body wso-alpha">
  {% include '@storybook/04-regions/header/header--wso-alpha.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    <div id="content" class="content full">

      <div class="container mt-5">

        {% if page.before_content is defined %}
          {{ page.before_content }}
        {% endif %}

        {% if site_settings.wso_alpha.wso_alpha.field_benchmark_chart_enable %}
          <div class="wso-highcharts">
            <figure class="highcharts-figure">
              <figcaption class="mb-0">{{ site_settings.wso_alpha.wso_alpha.field_benchmark_chart_title }}</figcaption>
              <figure>
                <figcaption>{{ site_settings.wso_alpha.wso_alpha.field_benchmark_chart_subtitle }}</figcaption>
              </figure>
              <div id="wso-markets-chart"></div>
              <figure>
                <figcaption class="footnote">{{ site_settings.wso_alpha.wso_alpha.field_benchmark_chart_footnote }}</figcaption>
              </figure>
            </figure>
          </div>
        {% endif %}


        {% if has_alpha_access  %}
          <div class="wso-alpha-table">
            <div id="tracker-anchor-container"><a id="tracker">&nbsp;</a></div>
            <h2 class="wso-alpha-table__title mb-0">{{ site_settings.wso_alpha.wso_alpha.trade_tracker_title }}</h2>
            <h6 class="wso-alpha-table__subtitle">{{ site_settings.wso_alpha.wso_alpha.trade_tracker_subtitle }}</h6>
            {{ drupal_view('trade_tracker', 'full') }}
            <div class="wso-alpha-table__footnote">{{ site_settings.wso_alpha.wso_alpha.field_trade_tracker_footnote }}</div>
          </div>

          <div class="wso-highcharts">
            <figure class="highcharts-figure">
              <figcaption class="mb-0">{{ site_settings.wso_alpha.wso_alpha.field_category_chart_title }}</figcaption>
              <figure>
                <figcaption>{{ site_settings.wso_alpha.wso_alpha.field_category_chart_subtitle }}</figcaption>
              </figure>
              <div id="wso-sectors-chart"></div>
              <figure>
                <figcaption class="footnote">{{ site_settings.wso_alpha.wso_alpha.field_category_chart_footnote }}</figcaption>
              </figure>
            </figure>
          </div>

          <div class="wso-alpha-table wso-alpha-table--expanded">
            <h2 class="wso-alpha-table__title mb-0" id="alpha-current-positions">{{ site_settings.wso_alpha.wso_alpha.current_positions_title}}</h2>
            <h6 class="wso-alpha-table__subtitle">{{ site_settings.wso_alpha.wso_alpha.current_positions_subtitle }}</h6>
            {{ drupal_view('current_positions', 'full') }}
            <div class="wso-alpha-table__footnote">{{ site_settings.wso_alpha.wso_alpha.current_positions_footnote }}</div>
          </div>

          <div class="wso-alpha-table wso-alpha-table--expanded">
            <h2 class="wso-alpha-table__title mb-0">{{ site_settings.wso_alpha.wso_alpha.closed_positions_title }}</h2>
            <h6 class="wso-alpha-table__subtitle">{{ site_settings.wso_alpha.wso_alpha.closed_positions_subtitle }}</h6>
            {{ drupal_view('closed_positions', 'table') }}
            <div class="wso-alpha-table__footnote">{{ site_settings.wso_alpha.wso_alpha.closed_positions_footnote }}</div>
          </div>
        {% else %}
          <div class="wso-alpha-table wso-alpha-table--no-access wso-alpha-teaser">
            <div id="tracker-anchor-container"><a id="tracker">&nbsp;</a></div>
            <h2 class="wso-alpha-table__title mb-0">{{ site_settings.wso_alpha.wso_alpha.trade_tracker_title }}</h2>
            <h6 class="wso-alpha-table__subtitle">{{ site_settings.wso_alpha.wso_alpha.trade_tracker_subtitle }}</h6>
            <div class="views-element-container form-group">
              <div class="view">
                <div class="view-content">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                      <thead>
                      <tr>
                        <th id="view-created-table-column" class="views-field views-field-created">Date</th>
                        <th id="view-field-ticker-table-column" class="views-field views-field-field-ticker">Ticker</th>
                        <th id="view-field-asset-type-table-column" class="views-field views-field-field-asset-type">Category</th>
                        <th id="view-title-table-column" class="views-field views-field-title">Company</th>
                        <th id="view-operation-table-column" class="views-field views-field-operation">Trade</th>
                        <th id="view-field-shares-amount-table-column" class="views-field views-field-field-shares-amount">Shares</th>
                        <th id="view-field-share-price-table-column" class="views-field views-field-field-share-price">Price</th>
                        <th id="view-field-position-change-table-column" class="views-field views-field-field-position-change">% Position Change</th>
                        <th id="view-field-context-table-column" class="views-field views-field-field-context">Rationale</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td headers="view-created-table-column" class="views-field views-field-created">03/10/21</td>
                        <td headers="view-field-ticker-table-column" class="views-field views-field-field-ticker">FB</td>
                        <td headers="view-field-asset-type-table-column" class="views-field views-field-field-asset-type">Compounder</td>
                        <td headers="view-title-table-column" class="views-field views-field-title">Demo Facebook</td>
                        <td headers="view-operation-table-column" class="views-field views-field-operation"></td>
                        <td headers="view-field-shares-amount-table-column" class="views-field views-field-field-shares-amount">500</td>
                        <td headers="view-field-share-price-table-column" class="views-field views-field-field-share-price">$10.00</td>
                        <td headers="view-field-position-change-table-column" class="views-field views-field-field-position-change">18.2%</td>
                        <td headers="view-field-context-table-column" class="views-field views-field-field-context">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                      </tr>
                      <tr>
                        <td headers="view-created-table-column" class="views-field views-field-created">04/08/21</td>
                        <td headers="view-field-ticker-table-column" class="views-field views-field-field-ticker">msft</td>
                        <td headers="view-field-asset-type-table-column" class="views-field views-field-field-asset-type">Compounder</td>
                        <td headers="view-title-table-column" class="views-field views-field-title">Demo Corporation Common Stock (MSFT)</td>
                        <td headers="view-operation-table-column" class="views-field views-field-operation"></td>
                        <td headers="view-field-shares-amount-table-column" class="views-field views-field-field-shares-amount">200</td>
                        <td headers="view-field-share-price-table-column" class="views-field views-field-field-share-price">$150.00</td>
                        <td headers="view-field-position-change-table-column" class="views-field views-field-field-position-change">100.0%</td>
                        <td headers="view-field-context-table-column" class="views-field views-field-field-context">Excepteur sint occaecat cupidatat non proident</td>
                      </tr>
                      <tr>
                        <td headers="view-created-table-column" class="views-field views-field-created">05/20/21</td>
                        <td headers="view-field-ticker-table-column" class="views-field views-field-field-ticker">FB</td>
                        <td headers="view-field-asset-type-table-column" class="views-field views-field-field-asset-type">Compounder</td>
                        <td headers="view-title-table-column" class="views-field views-field-title">Demo Facebook</td>
                        <td headers="view-operation-table-column" class="views-field views-field-operation"></td>
                        <td headers="view-field-shares-amount-table-column" class="views-field views-field-field-shares-amount">500</td>
                        <td headers="view-field-share-price-table-column" class="views-field views-field-field-share-price">$120.00</td>
                        <td headers="view-field-position-change-table-column" class="views-field views-field-field-position-change">100.0%</td>
                        <td headers="view-field-context-table-column" class="views-field views-field-field-context">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="wso-alpha-table__footnote">{{ site_settings.wso_alpha.wso_alpha.trade_tracker_footnote }}</div>
            {% include directory ~ '/templates/block/wso-alpha-no-access.html.twig' %}
          </div>

          <div class="wso-highcharts">
            <figure class="highcharts-figure">
              <figcaption class="mb-0">{{ site_settings.wso_alpha.wso_alpha.field_category_chart_title }}</figcaption>
              <figure>
                <figcaption>{{ site_settings.wso_alpha.wso_alpha.field_category_chart_subtitle }}</figcaption>
              </figure>
              <div id="wso-sectors-chart"></div>
              <figure>
                <figcaption class="footnote">{{ site_settings.wso_alpha.wso_alpha.field_category_chart_footnote }}</figcaption>
              </figure>
            </figure>
          </div>

          <div class="wso-alpha-table wso-alpha-table--no-access wso-alpha-teaser">
            <h2 class="wso-alpha-table__title mb-0" id="alpha-current-positions">{{ site_settings.wso_alpha.wso_alpha.current_positions_title}}</h2>
            <h6 class="wso-alpha-table__subtitle">{{ site_settings.wso_alpha.wso_alpha.current_positions_subtitle }}</h6>
            <div class="view view-current-positions">
              <div class="view-content">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                      <th class="views-field views-field-nothing"></th>
                      <th id="view-title-table-column" class="views-field views-field-title">Company</th>
                      <th id="view-field-ticker-table-column" class="views-field views-field-field-ticker">Ticker</th>
                      <th id="view-field-asset-type-table-column" class="views-field views-field-field-asset-type">Category</th>
                      <th id="view-field-shares-balance-table-column" class="views-field views-field-field-shares-balance">Shares</th>
                      <th id="view-field-avg-price-table-column" class="views-field views-field-field-avg-price">Avg Cost</th>
                      <th id="view-field-last-close-price-table-column" class="views-field views-field-field-last-close-price">Last Close</th>
                      <th id="view-field-value-table-column" class="views-field views-field-field-value is-active">Value</th>
                      <th id="view-field-gain-loss-table-column" class="views-field views-field-field-gain-loss">% Gain (Loss)</th>
                      <th id="view-total-percentage-table-column" class="views-field views-field-total-percentage">% of Total</th>
                      <th class="views-field views-field-field-analyst-notes"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="views-field views-field-nothing"></td>
                      <td headers="view-title-table-column" class="views-field views-field-title">Demo Facebook</td>
                      <td headers="view-field-ticker-table-column" class="views-field views-field-field-ticker">FB</td>
                      <td headers="view-field-asset-type-table-column" class="views-field views-field-field-asset-type">Compounder</td>
                      <td headers="view-field-shares-balance-table-column" class="views-field views-field-field-shares-balance">3,250</td>
                      <td headers="view-field-avg-price-table-column" class="views-field views-field-field-avg-price">$144.17</td>
                      <td headers="view-field-last-close-price-table-column" class="views-field views-field-field-last-close-price">$316.23</td>
                      <td headers="view-field-value-table-column" class="views-field views-field-field-value is-active">$1,027,748</td>
                      <td headers="view-field-gain-loss-table-column" class="views-field views-field-field-gain-loss"><span>45.6%</span></td>
                      <td headers="view-total-percentage-table-column" class="views-field views-field-total-percentage">62.0%</td>
                      <td class="views-field views-field-field-analyst-notes"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p></td>
                    </tr>
                    <tr>
                      <td class="views-field views-field-nothing"></td>
                      <td headers="view-title-table-column" class="views-field views-field-title">Demo Cash</td>
                      <td headers="view-field-ticker-table-column" class="views-field views-field-field-ticker">-</td>
                      <td headers="view-field-asset-type-table-column" class="views-field views-field-field-asset-type">-</td>
                      <td headers="view-field-shares-balance-table-column" class="views-field views-field-field-shares-balance">457,200</td>
                      <td headers="view-field-avg-price-table-column" class="views-field views-field-field-avg-price">-</td>
                      <td headers="view-field-last-close-price-table-column" class="views-field views-field-field-last-close-price">-</td>
                      <td headers="view-field-value-table-column" class="views-field views-field-field-value is-active">$457,200</td>
                      <td headers="view-field-gain-loss-table-column" class="views-field views-field-field-gain-loss">-</td>
                      <td headers="view-total-percentage-table-column" class="views-field views-field-total-percentage">27.6%</td>
                      <td class="views-field views-field-field-analyst-notes"></td>
                    </tr>
                    <tr>
                      <td class="views-field views-field-nothing"></td>
                      <td headers="view-title-table-column" class="views-field views-field-title">Demo Technology Incorporated Common Stock</td>
                      <td headers="view-field-ticker-table-column" class="views-field views-field-field-ticker">mchp</td>
                      <td headers="view-field-asset-type-table-column" class="views-field views-field-field-asset-type">stock</td>
                      <td headers="view-field-shares-balance-table-column" class="views-field views-field-field-shares-balance">820</td>
                      <td headers="view-field-avg-price-table-column" class="views-field views-field-field-avg-price">$96.34</td>
                      <td headers="view-field-last-close-price-table-column" class="views-field views-field-field-last-close-price">$149.81</td>
                      <td headers="view-field-value-table-column" class="views-field views-field-field-value is-active">$122,844</td>
                      <td headers="view-field-gain-loss-table-column" class="views-field views-field-field-gain-loss"><span>64.3%</span></td>
                      <td headers="view-total-percentage-table-column" class="views-field views-field-total-percentage">7.4%</td>
                      <td class="views-field views-field-field-analyst-notes"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th colspan="6"></th>
                      <th colspan="1" class="text-align-right">TOTAL:</th>
                      <th colspan="3" class="total-value">$1,656,826</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="wso-alpha-table__footnote">{{ site_settings.wso_alpha.wso_alpha.current_positions_footnote }}</div>
            {% include directory ~ '/templates/block/wso-alpha-no-access.html.twig' %}
          </div>

          <div class="wso-alpha-table wso-alpha-table--no-access wso-alpha-teaser">
            <h2 class="wso-alpha-table__title mb-0">{{ site_settings.wso_alpha.wso_alpha.closed_positions_title }}</h2>
            <h6 class="wso-alpha-table__subtitle">{{ site_settings.wso_alpha.wso_alpha.closed_positions_subtitle }}</h6>
            <div class="views-element-container form-group">
              <div class="view view-closed-positions view-id-closed_positions">
                <div class="view-content">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                      <thead>
                      <tr>
                        <th id="view-field-ticker-table-column--3" class="views-field views-field-field-ticker">Ticker</th>
                        <th id="view-field-opened-table-column" class="views-field views-field-field-opened">Opened</th>
                        <th id="view-created-table-column--2" class="views-field views-field-created is-active">Closed</th>
                        <th id="view-position-change-table-column--2" class="views-field views-field-position-change">% of Position</th>
                        <th id="view-field-gain-loss-amount-table-column" class="views-field views-field-field-gain-loss-amount">Gain/Loss $</th>
                        <th id="view-field-gain-loss-table-column--2" class="views-field views-field-field-gain-loss">Gain/Loss %</th>
                        <th id="view-field-avg-price-table-column--2" class="views-field views-field-field-avg-price">$ Avg Price</th>
                        <th id="view-field-share-price-table-column--2" class="views-field views-field-field-share-price">$ Sold Price</th>
                        <th id="view-field-shares-amount-table-column--2" class="views-field views-field-field-shares-amount"># Shares sold</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td headers="view-field-ticker-table-column--3" class="views-field views-field-field-ticker">FB</td>
                        <td headers="view-field-opened-table-column" class="views-field views-field-field-opened">05/03/2021</td>
                        <td headers="view-created-table-column--2" class="views-field views-field-created is-active">05/21/2021</td>
                        <td headers="view-position-change-table-column--2" class="views-field views-field-position-change">-5.71%</td>
                        <td headers="view-field-gain-loss-amount-table-column" class="views-field views-field-field-gain-loss-amount">$28,753.85</td>
                        <td headers="view-field-gain-loss-table-column--2" class="views-field views-field-field-gain-loss">176.99%</td>
                        <td headers="view-field-avg-price-table-column--2" class="views-field views-field-field-avg-price">$162.46</td>
                        <td headers="view-field-share-price-table-column--2" class="views-field views-field-field-share-price">$450.00</td>
                        <td headers="view-field-shares-amount-table-column--2" class="views-field views-field-field-shares-amount">-100</td>
                      </tr>
                      <tr>
                        <td headers="view-field-ticker-table-column--3" class="views-field views-field-field-ticker">FB</td>
                        <td headers="view-field-opened-table-column" class="views-field views-field-field-opened">05/03/2021</td>
                        <td headers="view-created-table-column--2" class="views-field views-field-created is-active">05/20/2021</td>
                        <td headers="view-position-change-table-column--2" class="views-field views-field-position-change">-11.76%</td>
                        <td headers="view-field-gain-loss-amount-table-column" class="views-field views-field-field-gain-loss-amount">$-3,176.47</td>
                        <td headers="view-field-gain-loss-table-column--2" class="views-field views-field-field-gain-loss">-10.19%</td>
                        <td headers="view-field-avg-price-table-column--2" class="views-field views-field-field-avg-price">$155.88</td>
                        <td headers="view-field-share-price-table-column--2" class="views-field views-field-field-share-price">$140.00</td>
                        <td headers="view-field-shares-amount-table-column--2" class="views-field views-field-field-shares-amount">-200</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="wso-alpha-table__footnote">{{ site_settings.wso_alpha.wso_alpha.closed_positions_footnote }}</div>
            {% include directory ~ '/templates/block/wso-alpha-no-access.html.twig' %}
          </div>
        {% endif %}
      </div>

      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {{ page.footer_1 }}

</div>
