{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>

#}


{% if path_args[0] == 'user' and path_args[1] matches '/^\\d+$/' %}
  {% set is_user_page = TRUE %}

  {% if path_args[2] == 'edit' %}
    {% set is_user_edit_page = TRUE %}
  {% endif %}
{% endif %}


<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    {{ page.highlighted }}

    {% if page.breadcrumbs_replacer is not empty %}
      <div class="container container--breadcrumbs">
          <div class="row">
            <div class="col-md-24">
              {{ page.breadcrumbs_replacer.porto_sub_breadcrumbs }}

              {% if page.breadcrumbs_replacer.wsousertabs and show_user_menu %}
                {{ page.breadcrumbs_replacer.wsousertabs }}
              {% endif %}

              {% if logged_in %}
                <{{ title_tag }}>{{ page_account_name|capitalize }}'s Mentor Session Status </{{ title_tag }}>
              {% endif %}

              {% if title_actions %}
                {% if title_actions|length > 1 %}
                  {% set title_actions_class = 'title_action_container title_action_container_multiple' %}
                {% else %}
                  {% set title_actions_class = 'title_action_container' %}
                {% endif %}
                <div class="{{ title_actions_class }}">
                  {% for title_action in title_actions %}
                    {{ title_action }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
        </div>
      </div>
    {% endif %}

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

          {% if wrapper_name is defined %}
            <div id="{{ wrapper_name }}">
          {% endif %}
              <div id="wso-content-outer" class="{{ outer_container_class }}">
                {{ page.help }}
                {% if action_links %}
                  <ul class="action-links list-unstyled">
                    {{ action_links }}
                  </ul>
                {% endif %}
                {{ page.content }}
              </div>
          {% if wrapper_name is defined %}
            </div>
          {% endif %}{# {% if wrapper_name is defined %} #}
          {{ new_message_modal_body }}
        </div>
      </div>
    </div>
  </div>

  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
