{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>

#}

<div class="body">
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    <div class="search-form__block">
      <div class="container search-form__container">
        {{ page.before_content.exposed_form_search_site }}
      </div>
    </div>

    <div class="search-tabs">
      <div class="container search-tabs__container">
        <div id="drupal_tabs" class="tabs hidden-print ">
          <h2 class="element-invisible">Primary tabs</h2>
          <ul class="nav nav-tabs nav-justified text-center">
            <li class="active">
              <a href="#" title="" class="active" aria-selected="true">Site<span class="element-invisible">(active tab)</span></a>
            </li>
            <li>
              <a href="/search/company{{ search_api_fulltext }}" title="">Companies</a>
            </li>
            <li>
              <a href="/search/users{{ search_api_keys }}" title="">Users</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="search-filters">
      <div class="container search-filters__container">
        <div>
          {{ page.before_content.sortbyviewsearchdisplaysearch }}
          {{ page.before_content.forums }}
          {{ page.before_content.date }}
          {{ page.before_content.industry }}
          {{ page.before_content.type }}
        </div>
      </div>
    </div>

    <div id="content" class="content full">
      <div class="container">
        <div class="row">
          {{ messages }}

          {% if page.sidebar_left %}
            <aside id="sidebar-left">
              <div class="{{ left_sidebar_class }}">
                <div id="sticky-sidebar">
                  {{ page.sidebar_left }}
                </div>
              </div>
            </aside>
          {% endif %}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            {#
              <?php $path = explode('/', drupal_get_path_alias()); ?>
            #}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
              {% if pager is defined %}
                {{ pager }}
              {% endif %}

              {#
                <?php if ($tabs = render($tabs)): ?>
              #}
              {% if tabs %}
                <div id="drupal_tabs" class="tabs hidden-print">
                  {{ tabs }}
                </div>
              {% endif %}

              {{ page.help }}

              {% if action_links %}
                <ul class="action-links list-unstyled">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

          {% if page.sidebar_right %}
          <div id="wso-sidebar-right" class="wso-sidebar-right {{ right_sidebar_class }} hidden-print">
            {{ page.sidebar_right }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
  {{ page.footer_1 }}
  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}

</div>
