{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}

<div class="form--inline form-inline clearfix">
  <div class="form-wrapper" id="edit-basic">
    <div class="form-item form-group form-type-textfield form-item-keys d-block">
      <label for="edit-keys" title="Enter terms">Enter terms </label>
      {{ form.search_api_fulltext }}
    </div>
    <div class="form-item form-group form-type-checkbox form-type-checkbox--small form-item-exact d-block">
      <input type="checkbox" id="edit-exact" name="exact" value="0" class="form-checkbox">
      <label class="option" for="edit-exact" title="Exact Match">Exact Match</label>
    </div>
    {{ form|without('search_api_fulltext') }}
  </div>
</div>
