{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */

#}

{% set forum = fields.taxonomy_forums.content|render|striptags|trim|replace({' Forum': ''}) %}
{% set is_company = fields.field_company_logo.content is not empty %}
{% set type = fields.type.content|render|striptags|trim %}

{% if type == 'company' %}
  <div class="search-result search-result--company-node">
    <div class="media">
      {% if fields.field_company_logo.content is not empty %}
        <div class="media-left">
          {{ fields.field_company_logo.content }}
        </div>
      {% endif %}
      <div class="media-body">
        <div class="search-result__title-row">
          <h3 class="title">{{ fields.title.content }}</h3>
          {% if forum %}
            <span class="search-result__type">{{ forum }}</span>
          {% endif %}
        </div>

        <div class="search-result__type--company">{{ fields.taxonomy_vocabulary_9.content }}</div>

        {% if fields.interviews.content or fields.compensations.content or fields.reviews.content %}
          <p class="search-info">
          <span class="search-info__additional-count">
            {% if fields.interviews.content %}
              <span>{{ fields.interviews.content }} {{ 'Interview Reviews' }}</span>
            {% endif %}
            {% if fields.compensations.content %}
              <span>{{ fields.compensations.content }} {{ 'Salaries' }}</span>
            {% endif %}
            {% if fields.reviews.content %}
              <span>{{ fields.reviews.content }} {{ 'Company Reviews' }}</span>
            {% endif %}
            {% if  fields.created.content %}
              <span class="search-info"><span class="search-info__date">{{ fields.created.content }}</span></span>
            {% endif %}
          </span>
          </p>
        {% endif %}
      </div>
    </div>

    <div class="search-snippet-info">
      {{ fields.search_api_excerpt.content  }}
    </div>
  </div>
{% else %}
  <div class="search-result">
    <div class="media">
      <div class="media-body">
        <div class="search-result__title-row">
          <h3 class="title">{{ fields.title.content }}</h3>
          {% if forum %}
            <span class="search-result__type">{{ forum }}</span>
          {% endif %}
        </div>

        <div class="search-result__type--company">{{ fields.taxonomy_vocabulary_9.content }}</div>
          <div class="search-snippet-info">
            {{ fields.search_api_excerpt.content  }}
            <p class="search-info">
              {% if fields.bananas_count.content  %}
                <span class="search-info__bananas">
              +{{ fields.bananas_count.content }}
            </span>
              {% endif %}
              {% if fields.comments_count.content %}
                <span class="search-info__comments">
                <i class="icon icon-comment"></i>
                  {{ fields.comments_count.content }} {{ 'comments'|t }}
              </span>
              {% endif %}
              <span class="search-info__date">{{ fields.created.content }}</span>
            </p>
          </div>
      </div>
    </div>
  </div>
{% endif %}

