//@import './components/common-styles/helpers/mixins';

html {
  @include media('<tablet') {
    //overflow-x: hidden;
    //overflow-y: auto;
  }
}

#database_search {
  border: medium none;
  float: none;
  display: inline-block !important;
  position: relative;
  text-align: center;
  width: 100%;

  .company-database__search {
    position: relative;
    background: var(--color-neutral-0);
    text-align: left;
    margin: 0 auto;

    > div {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;

      @include media('>=desktop') {
        max-width: 860px;
      }
    }

    .company-database__search_label {
      color: var(--color-base);
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 400;
      letter-spacing: .1px;
      line-height: normal;
      margin-bottom: 8px;
      display: block;
      width: 100%;
    }

    .company-database__tabs {
      &.tabs {
        margin-bottom: 24px;

        ul {
          &.nav-tabs {
            li {
              a {
                font-size: 14px;
                font-weight: 400;
                line-height: 48px;
                letter-spacing: .2px;
                color: var(--color-base);
                border: 1px solid var(--color-neutral-4);
                background: var(--color-neutral-0);
                border-radius: 0;
                display: block;

                &.active {
                  border: 1px solid transparent;
                  color: var(--color-base);
                  font-size: 14px;
                  font-weight: 400;
                  letter-spacing: .2px;
                  line-height: 48px;
                  position: relative;
                }
              }

              &.active {
                a {
                  border: 1px solid transparent;
                  color: var(--color-base);
                  font-size: 14px;
                  font-weight: 400;
                  letter-spacing: .2px;
                  line-height: 48px;
                  position: relative;
                }
              }
            }

            a {
              &:hover {
                background: var(--color-neutral-0);
                border: 1px solid var(--color-neutral-4);
                border-radius: 0;
                color: var(--color-base);
                font-size: 14px;
                font-weight: 400;
                letter-spacing: .2px;
                line-height: 48px;
              }
            }
          }
        }

        .nav-tabs {
          &.company-database__nav-tabs {
            > .active {
              > a {
                &:hover {
                  border: 1px solid transparent;
                  color: var(--color-base);
                  font-size: 14px;
                  font-weight: 400;
                  letter-spacing: .2px;
                  line-height: 48px;
                  position: relative;
                }
              }
            }

            > li {
              > a {
                &:hover {
                  border: 1px solid transparent;
                  color: var(--color-base);
                  font-size: 14px;
                  font-weight: 400;
                  letter-spacing: .2px;
                  line-height: 48px;
                  position: relative;
                }
              }
            }
          }
        }
      }

      .nav-tabs {
        li {
          a {
            &:hover {
              &:after {
                border: 2px solid $color-green-100;
                bottom: -1px;
                content: "";
                left: -1px;
                position: absolute;
                right: -1px;
                top: -1px;
                z-index: 2;
              }
            }
          }

          &.active {
            a {
              &:after {
                border: 2px solid $color-green-100;
                bottom: -1px;
                content: "";
                left: -1px;
                position: absolute;
                right: -1px;
                top: -1px;
                z-index: 2;
              }
            }
          }
        }

        &.company-database__nav-tabs {
          > li {
            &.company-database__tab_right {
              > a {
                border-right-color: var(--color-neutral-4);
                width: 100%;
              }
            }
          }
        }
      }

      .nav {
        > li {
          > a {
            height: 48px;
            line-height: 48px;
            padding: 0 15px;
          }
        }
      }
    }
  }

  .views-exposed-form {
    .views-exposed-widget {
      float: left;

      @include media('<tablet') {
        padding: 0;

        input {
          margin-top: 0;
          width: 100%;
        }
      }
    }

    .company-database__exposed-widgets.views-exposed-widgets .form-actions {
      margin-bottom: 0;
    }

    .company-database__exposed-widgets.views-exposed-widgets input[type="submit"] {
      @extend .btn;
      @extend .btn-success;

      @include media('>=tablet') {
        display: inline-block;
        height: 48px;
        margin-top: 0;
        padding: 0 75px;
        width: auto;
      }
    }
  }

  .view-filters {
    .views-submit-button {
      @include media('<tablet') {
        margin-top: 0;
      }
    }
  }
}

.select2-dropdown {
  font-size: 14px;
}

.select2-container--bootstrap4 .select2-selection {
  .select2-search--inline .select2-search__field {
    margin-top: 0.3rem !important;
  }
}

.select2-multiple {
  @include select2--with-checkboxes();
}
