//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';


.col-sm-24 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

// Grid
.company-database__company-search__view-header,
.company-database__search-company__section {
  @include wso-container();
  display: block !important;
}

.page-company {
  .alert {
    margin-bottom: 80px !important;
  }

  .form-item {
    .description {
      display: block;
    }
  }

  .form-wrapper {
    .fieldset-legend {
      display: block;
    }

    .tabledrag-toggle-weight {
      display: block;
    }
  }

  .breadcrumb {
    display: none;
  }

  .container {
    &--breadcrumbs {
      max-width: 100%;
      padding: 0;
    }
  }
}

.company-database__gain-access__wrapper {
  display: flex;
  justify-content: center;
}

.company-database__gain-access__block {
  background: var(--color-neutral-0) url(/themes/custom/porto_sub/images/hero/company-db_get-started.png) no-repeat right;
  border-radius: 50px;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .05);
  display: inline-block;
  max-width: 990px;
}

.company-database__gain-access__text {
  color: var(--color-base);
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.36;
}

.company-database__gain-access__button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .2px;
  background-color: var(--color-neutral-0);
  color: var(--color-base);
  border: 1px solid var(--color-neutral-4);
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  padding: 0 20px;

  .icon {
    color: $color-green-100;
    padding-right: 5px;
  }

  &:hover {
    color: var(--color-base);
  }
}

.company-database__gain-access__button {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-3);
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  color: var(--color-base);
  display: inline-block;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  padding: 0 20px;
}

.no-padding {
  padding: 0 !important;
}

.text-white {
  color: var(--color-neutral-0);
}

.nav-tabs {
  &.company-database__nav-tabs {
    border: none;

    > .active {
      > a {
        border: 1px solid transparent;
        color: var(--color-base);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .2px;
        line-height: 48px;
        position: relative;
      }
    }
  }
}

.company-database__nav-tabs {
  @include media('<tablet') {
    display: block;
  }

  li {
    text-align: center;
    flex: 1;
  }
}

.company-database__filters {
  .company-database__filters__exposed-widget {
    &.views-exposed-widget {
      margin-bottom: 23px;
      padding: 0 8px;
    }

    &.company-database__filter-distance {
      padding: 0;
      position: relative;
    }
  }
}

html {
  &.js {
    .company-database__filters {
      input {
        &.form-autocomplete {
          background-position: calc(100% - 10px) center;
        }
      }
    }
  }
}

.company-database__advanced-widgets__toggler {
  position: relative;
  margin-top: 8px;
  padding: 0 8px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .1px;
  color: $color-blue;

  &:first-letter {
    text-transform: capitalize;
  }

  &:before {
    content: none;
  }

  &:after {
    border-bottom: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $color-blue;
    content: "";
    height: 0;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
  }
}

.company-database__advanced-widgets__toggler[aria-expanded="true"] {
  &:before {
    content: "Hide ";
  }

  &:after {
    border-bottom: 4px solid $color-blue;
    border-top: 0;
    content: "";
  }
}

.company-database__advanced-widgets__toggler[aria-expanded="false"] {
  &:before {
    content: none;
  }

  &:after {
    border-bottom: 0;
    border-top: 4px solid $color-blue;
    content: "";
  }
}

.company-database__filter-distance {
  .views-widget {
    display: flex;
    width: 100%;

    > .form-item {
      align-self: flex-end;
      flex: 100%;
    }
  }
}

.company-database__filters__exposed-widget {
  label {
    color: var(--color-base);
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: normal;
  }
}

.company-database__submit {
  text-align: center;
  width: 100%;
}

.m-t-24 {
  margin-top: 24px;
}

.company-database__industries__section {
  background: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4);
  border-radius: 3px;
  margin-bottom: 40px;
}

h3 {
  &.company-database__company__title {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: .4px;
    line-height: 1.13;
    margin-bottom: 14px;
    padding-left: 40px;
    text-transform: uppercase;
  }
}

.company-database__company__title {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .4px;
  line-height: 1.13;
  margin-bottom: 14px;
  padding-left: 40px;
  text-transform: uppercase;
}

.company-database__companies__part {
  ul {
    position: relative;
    list-style: none;

    li {
      position: relative;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      color: var(--color-base);
      width: 100%;

      a:not(.btn-success) {
        color: var(--color-base);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 2;
        width: 100%;

        &:hover {
          color: $color-blue;
        }
      }

      &:before {
        color: $color-green-100;
        content: "\2022";
        font-size: 7px;
        left: -12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &.company-database__more__item {
        list-style: none;
        width: calc(100% + 12px);
        transform: translateX(-12px);
        margin-top: 16px;

        .btn {
          display: block;
        }

        &:before {
          content: none;
        }
      }
    }
  }

  &:last-child {
    ul {
      margin: 0;
    }
  }

  .col-md-6 {
    padding: 0 10px;
  }
}

.company-database__more__item {
  list-style: none;
  margin-top: 16px;
  transform: translateX(-12px);
  width: calc(100% + 12px);
}

.company-database__search-company__section {
  display: inline-block;
  width: 100%;
  border: 1px solid var(--color-neutral-3);
  background: var(--color-neutral-0);

  .views-row {
    display: inline-block;
    padding: 0;
  }

  .view-content {
    &:empty {
      display: none;
    }
  }
}

.company-database--search-company--item {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid var(--color-neutral-2);

  &:last-child {
    border: none;
  }
}

.company-database__search-company__item {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid var(--color-neutral-2);

  &:last-child {
    border: none;
  }
}

.company-database__search-company__title {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .1px;
  color: var(--color-base);

  a {
    color: var(--color-base);
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: normal;
  }
}

.company-database__search-company__body {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.57;
}

.company-database__search-company__media {
  > .row {
    margin: 0;
  }
}

.company-database__search-company__logo {
  img {
    background-color: rgba(245, 245, 245, .4);
    border: 1px solid var(--color-neutral-2);
    border-radius: 3px;
    height: auto;
    max-width: 158px;
    width: 100%;

    @include media('>=tablet') {
      max-width: 100%;
    }
  }
}

.company-database__search-company__counter {
  margin-top: 16px;
}

.company-database__search-company__counter__block {
  display: inline-block;
  position: relative;
  padding-right: 33px;

  &:after {
    -webkit-transform: translateY(-50%);
    background-color: var(--color-neutral-3);
    content: "";
    height: 12px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

  &:last-child {
    &:after {
      content: none;
    }
  }

  .icon {
    color: $color-blue;
    font-size: 12px;
    padding-right: 8px;
    transform: translateY(-1px);
  }

  .icon-dollar {
    color: $color-yellow;
  }
}

.company-database__search-company__counter__data {
  color: var(--color-neutral-7);
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.08;
  margin: 0;
}

.company-database__search-company__counter__count {
  @include responsive-prop(700, 800, font-weight);
}

.company-database__search-company__counter__description {
  font-weight: 400;
}

.views-field {
  &.views-field-field-compensationyear {
    width: 60px;
  }
}

th {
  &.active {
    img {
      display: none;
    }
  }
}

.company-database__search-company__section,
.company-database--search--section {
  @include responsive-prop(30px, 70px, 'margin-top');
}

.company-database__company-search__view-header + .company-database__search-company__section {
  margin-top: 0;
}

.company-database--search--section {
  table {
    font-size: 14px;
  }

  thead {
    th {
      @include responsive-prop(700, 800, font-weight);
      padding: 8px;
    }

    tr {
      background-color: var(--color-page-bg);
    }
  }

  tr {
    cursor: pointer;

    &.even {
      border: none;
      padding: 0 12px;
    }

    &.odd {
      border: none;
      padding: 0 12px;
    }
  }

  .views-field-view-node {
    display: none;
  }

  .table-sm {
    > thead {
      > tr {
        > th {
          white-space: nowrap;
          padding: 0 12px;
          height: 50px;
          line-height: 50px;
          border: none;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          font-size: 13px;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: .1px;
          color: var(--color-base);

          &:first-child {
            padding-left: 24px;
            width: 72px;
          }

          &:last-child {
            padding-right: 24px;
          }

          a {
            color: var(--color-base);
            font-size: 13px;
            font-stretch: normal;
            font-style: normal;
            font-weight: 500;
            letter-spacing: .1px;
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          padding: 0 12px;
          height: 50px;
          line-height: 50px;
          border: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: .1px;
          color: var(--color-base);

          &:first-child {
            padding-left: 24px;
            width: 72px;
          }

          &:last-child {
            padding-right: 24px;
          }

          a {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: .1px;
            color: var(--color-base);

            &:hover {
              text-decoration: none;
            }
          }

          &.views-field {
            &.views-field-field-industry-detail {
              font-weight: 400;
            }
          }

          &.views-field-title-1 {
            a {
              &:after {
                content: "";
                cursor: pointer;
                left: 0;
                padding-top: 50px;
                position: absolute;
                right: 0;
                width: 100%;
                z-index: 99;
              }
            }
          }

          .lock__element {
            a {
              color: $color-green-100;
            }
          }
        }
      }
    }
    position: relative;
  }

  .table-bordered {
    > tbody {
      > tr {
        > td {
          &.views-field-field-compensationyear {
            background: 0 0;
            text-align: center;
          }
        }
      }
    }
  }

  .table-striped {
    > tbody {
      > tr {
        background-color: transparent;
        border-bottom: 1px solid var(--color-neutral-2);

        &.views-row-last {
          border: none;
        }

        &:hover {
          background-color: rgba(43, 157, 223, .05);
          z-index: 90;
        }

        &:nth-of-type(even) {
          &:hover {
            background-color: rgba(43, 157, 223, .05);
            z-index: 90;
          }
        }
      }
    }
  }

  .table {
    > thead {
      > tr {
        > th {
          &.views-field-field-compensationyear {
            &.active {
              text-align: center;
            }
          }

          &.active {
            background-color: transparent;
          }
        }

        > td {
          &.active {
            background-color: transparent;
          }
        }

        &.active {
          > td {
            background-color: transparent;
          }

          > th {
            background-color: transparent;
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          &.active {
            background-color: transparent;
          }
        }

        > th {
          &.active {
            background-color: transparent;
          }
        }

        &.active {
          > td {
            background-color: transparent;
          }

          > th {
            background-color: transparent;
          }
        }
      }
    }
  }

  .views-field-field-compensationyear {
    a {
      img {
        display: none;
      }
    }
  }

  tbody {
    background: var(--color-neutral-0);
    border-top: 0;
  }

  .views-field {
    text-transform: capitalize;

    &.views-field-field-industry-detail {
      max-width: 154px;
      width: 154px;
    }

    &.views-field-city {
      max-width: 128px;
      width: 128px;
    }
  }

  .views-field-field-confirm-title {
    max-width: 175px;
    width: 175px;
  }

  .views-field-title-1 {
    max-width: 152px;
    width: 152px;
  }

  .views-field-field-address-locality,
  .views-field-field-address-country-code {
    max-width: 140px;
    width: 140px;
  }

  .views-field-field-paytype {
    max-width: 114px;
    width: 114px;
  }

  .views-field-title {
    max-width: 172px;
    width: 172px;
  }

  .views-field-field-groupdivision {
    max-width: 154px;
    width: 154px;
  }

  .views-field-field-cashbonus {
    max-width: 100px;
    width: 100px;
  }

  .views-field-country {
    max-width: 125px;
    width: 125px;
  }

  thead {
    background: var(--color-neutral-0);
    border-bottom: 2px solid var(--color-neutral-2);
  }

  .table-hover {
    > tbody {
      > tr {
        > td {
          &.active {
            &:hover {
              background-color: transparent;
            }
          }
        }

        > th {
          &.active {
            &:hover {
              background-color: transparent;
            }
          }
        }

        &.active {
          &:hover {
            > td {
              background-color: transparent;
            }

            > th {
              background-color: transparent;
            }
          }
        }

        &:hover {
          > .active {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.pager-container {
  @include wso-container();
}

.page-company-salary {
  .company-database--search--section {
    .table-condensed {
      tr {
        .views-field-title-1 {
          //height: 0;
          //width: 0;
        }
      }

      > tbody {
        td {
          &.views-field-title-1 {
            a {
              &:after {
                //transform: translateY(-50%);
              }
            }
          }
        }
      }
    }

    .views-field {
      &.views-field-field-industry-detail {
        max-width: 180px;
        width: 180px;
      }
    }

    .views-field-country {
      max-width: 160px;
      width: 160px;
    }
  }
}

.page-company-review {
  .company-database--search--section {
    .table-condensed {
      tr {
        .views-field-title-1 {
          //height: 0;
          //width: 0;
        }
      }

      > tbody {
        td {
          &.views-field-title-1 {
            a {
              &:after {
                //transform: translateY(-50%);
              }
            }
          }
        }
      }
    }

    .views-field-title {
      max-width: 178px;
      width: 178px;
    }

    .ranking__block_fivestars {
      width: 115px;
    }

    tbody {
      .ranking__block_fivestars {
        padding-top: 17px;
      }
    }
  }
}

.lock__element {
  z-index: 199;
  position: relative;

  a {
    &:after {
      content: " ";
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 299;
    }
  }
}

.page-company-interview {
  .company-database--search--section {
    .views-field-title {
      max-width: 160px;
      width: 160px;
    }
  }
}

.table-condensed {
  a {
    &:hover {
      color: $color-blue;
    }

    &:focus {
      color: $color-blue;
    }
  }
}

.logged-in {
  .company-database--search--section {
    .views-field-title {
      a {
        text-decoration: none;
        color: var(--color-base);

        &:hover {
          color: var(--color-base);
          text-decoration: none;
        }

        &:focus {
          color: var(--color-base);
          text-decoration: none;
        }
      }
    }
  }
}

@include media('>=tablet') {
  .company-database--search--section {
    .table-bordered {
      border: 1px solid var(--color-neutral-3);
    }
  }

  .page-company {
    .views-exposed-form {
      .views-exposed-widget {
        .form-submit {
          display: inline-block;
          height: 48px;
          margin-top: 0;
          padding: 0 75px;
          width: auto;
        }
      }

      .views-submit-button {
        bottom: -24px;
        margin-bottom: 0;
        position: absolute;
        max-width: 100%;
        left: 0;
      }
    }
  }

  .company-database__exposed-widgets {
    &.views-exposed-widgets {
      margin: 0 -8px 0 -8px;

      > div:first-child {
        width: 100%;

        .views-widget-filter-title,
        .views-widget-filter-tid {
          flex: 0 0 50%;
          max-width: 50%;
          width: 50%;
        }
      }

      input[type="submit"] {
        font-size: 16px;
      }
    }
  }

  .company-database__counter-section {
    width: 720px;
  }

  .company-database__tabs {
    &.tabs {
      ul {
        &.nav-tabs {
          li {
            a {
              border-right-color: transparent;
              width: calc(100% + 2px);
            }
          }

          a {
            &:hover {
              border-right-color: transparent;
              width: calc(100% + 2px);
            }
          }
        }
      }
    }

    ul {
      &.nav-tabs {
        li {
          &.company-database__tab_left {
            &.active {
              a {
                &:after {
                  border-radius: 4px 0 0 4px !important;
                }
              }
            }

            a {
              &:hover {
                &:after {
                  border-radius: 4px 0 0 4px !important;
                }
              }
            }
          }

          &.company-database__tab_right {
            &.active {
              a {
                &:after {
                  border-radius: 0 4px 4px 0 !important;
                }
              }
            }

            a {
              &:hover {
                &:after {
                  border-radius: 0 4px 4px 0 !important;
                }
              }
            }
          }
        }
      }
    }

    .company-database__nav-tabs {
      > li {
        &.company-database__tab_left {
          > a {
            border-radius: 4px 0 0 4px !important;

            &:hover {
              border-radius: 4px 0 0 4px !important;
            }
          }
        }

        &.company-database__tab_right {
          > a {
            border-radius: 0 4px 4px 0 !important;

            &:hover {
              border-radius: 0 4px 4px 0 !important;
            }
          }
        }
      }
    }
  }

  .company-database__filter-distance {
    .views-widget {
      > .form-item {
        padding: 0 8px;
      }
    }
  }

  .company-database__search {
    padding: 32px 0;
  }

  .company-database__gain-access__wrapper {
    margin: 64px 0 48px;
  }

  #block-readytopeekinsidewsocompanydatabase + .block {
    .company-database__gain-access__block {
      margin-top: 24px;
    }
  }

  .company-database__gain-access__block {
    background-size: contain;
    padding: 40px 64px 50px;
  }

  .company-database__gain-access__text {
    margin-bottom: 32px;
  }

  .company-database__gain-access__button {
    height: 40px;
    line-height: 40px;
    margin-right: 12px;
  }

  .btn {
    &.company-database__gain-access__button {
      height: 40px;
      line-height: 40px;
      margin-right: 12px;
    }
  }

  .company-database--search-company--item {
    padding: 30px 32px;
  }

  .company-database__search-company__item {
    padding: 30px 32px;
  }
}

@include media('<tablet') {
  .table-responsive {
    display: block;
    overflow-x: auto;
  }

  .view-header {
    .left {
      padding: 20px 0;
      //width: 100%;
    }
  }

  #tabs {
    ul {
      li {
        &:last-child {
          border-radius: 0 0 0 0;
        }

        &:nth-child(2) {
          border-radius: 0 10px 0 0;
        }
      }
    }
  }
}

@include media('>=tablet', '<desktop') {
  .company-database--search--section {
    .table-responsive {
      padding: 0;
      //width: 624px;
    }
  }
}

@include media('>=large-desktop') {
  .company-database--search--section {
    .table-responsive {
      overflow-x: hidden;
    }
  }
}

@include media('>=desktop', '<large-desktop') {
  .company-database--search--section {
    .table-responsive {
      max-width: 100%;
      width: 100%;
    }
  }
}

.ranking__block_fivestars {
  div {
    &.fivestar-widget-static {
      .star {
        span {
          &.off {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
            background-size: cover;
            display: block;
            height: 100%;
            width: 100%;
          }

          &.on {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 -14px;
            background-size: cover;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
        float: left;
        width: 14px;
        height: 14px;
        overflow: hidden;
        text-indent: -999em;
        background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
        margin-bottom: 0;
        background-size: cover;
      }
    }
  }

  .fivestar-default {
    height: 14px;
  }

  .fivestar-summary {
    display: none;
  }
}

.view-header {

  &.company-database__company-search__view-header {
    padding: 64px 0 12px;
    box-shadow: none;

    > .row {
      align-items: center;
    }

    .left {
      padding: 0;
    }

    .xlsx-feed.form-group {
      margin-bottom: 0;
    }
  }

  .left {
    float: left;
    padding: 64px 0 12px;

    > span {
      color: var(--color-base);
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 1.13;
    }

    .total {
      @include responsive-prop(700, 800, font-weight);
    }

    .count-mentors {
      padding-right: 16px;
    }
  }
}

.company-database__company-search__view-header {
  a {
    position: relative;
    background-color: $seagreen_0a733d;
    padding: 4px 12px 5px;
    line-height: 1.17;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .2px;
    text-align: center;
    color: var(--color-neutral-0);
    border-radius: 3px;
    top: -2px;

    img {
      height: 18px;
      margin-right: 8px;
      object-fit: cover;
      transform: translateY(-1px);
      width: 18px;
    }

    &:hover {
      background: rgba(10, 115, 61, .85);
      color: var(--color-neutral-0);
      text-decoration: none;
    }

    &:focus {
      background: rgba(10, 115, 61, .85);
      color: var(--color-neutral-0);
      text-decoration: none;
    }
  }

  .excel-icon {
    padding: 4px 12px 5px 38px;
  }
}

.excel-icon {
  &:before {
    background: url(/themes/custom/porto_sub/images/company_database/images/excel_logo.png) no-repeat;
    background-size: contain;
    content: "";
    height: 18px;
    left: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
  }
}

.advanced-filter-btn {
  margin-top: 80px;
}

.advanced-filter-toggler-outer {
  clear: both;
  margin-bottom: 24px;
  width: 100%;
}

.views-exposed-form {
  .views-exposed-widget {
    margin-bottom: 10px;
    padding: 0;
  }
}

.white-bg {
  background: var(--color-neutral-0);
}

.m-b-sm {
  margin-bottom: 10px !important;
}

.pad20 {
  padding: 20px;
}

.database-info-col {
  h3 {
    font-size: 21px;
    margin-top: 10px;
    text-transform: none;
  }

  ul {
    margin-left: -25px;
  }
}

.text-orange {
  color: $color-red;
}

.database-info {
  h3 {
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: none;
  }
  margin-top: 30px;

  .alert-info {
    background: $gainsboro_cedde0 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;

    h4 {
      color: var(--color-base);
      margin: 0 auto 10px;
      width: 300px;
    }
  }
}

.get-started-add {
  background: $gainsboro_cedde0;
  padding: 30px 20px 0;
}

.m-t-md {
  margin-top: 20px;
}

.search {
  table {
    border: medium none;
  }
}

.q-tip {
  .fa {
    cursor: pointer;
  }
}

.two-ways-gain {
  .btn {
    margin: 0 5px;
  }
}

.search-results-table {
  thead {
    tr {
      th {
        a {
          color: var(--color-base);
        }
        color: var(--color-base);
      }
    }
  }
}

.view-CompanyView {
  .view-content {
    > h3 {
      text-transform: none;
    }
  }
}

.open-advance-search {
  cursor: pointer;
  color: $color-blue;
  padding-top: 5px;
  clear: both;
  display: block;

  &:hover {
    color: var(--color-base);
  }
}

thead {
  tr {
    th {
      a {
        color: $darkslateblue_002256;
      }
    }
  }
}

#ready-to-peek {
  .column {
    float: left;
  }

  h2 {
    text-align: center;
  }

  .disc {
    text-align: center;
  }
  border: 1px solid var(--color-neutral-3);
  background: var(--color-neutral-1);
  padding: 20px;
  float: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

#views-exposed-form-CompanyView-page-12 {
  .view-filters {
    margin-right: 0 !important;
    max-width: 100%;
    width: 100%;
  }
}

div#boxcontainer {
  .databaseintro {
    float: left;
  }
}

.page-node-edit {
  &.node-type-applicant-profile {
    .form-item {
      label {
        display: none;
      }
    }
  }
}

.advance-search-data {
  display: none;
  float: left;
  margin-top: 20px;
  width: 100%;
}

#block-block-124 {
  clear: both;
}

.form-item {
  label {
    display: block;
  }
}

h2 {
  &.databasecallout {
    font-size: 28px;
  }
}

.very-easy {
  background-color: $color-green-100;
}

.very-positive {
  background-color: $color-green-100;
}

.easy {
  background-color: $color-green-100;
}

.positive {
  background-color: $color-green-100;
}

.neutral {
  background-color: var(--color-neutral-6);
}

.average {
  background-color: $color-red;
}

.difficult {
  background-color: $color-orange;
}

.negative {
  background-color: $color-orange;
}

.hard {
  background-color: $color-orange;
}

.very-difficult {
  background-color: $color-red;
}

.very-negative {
  background-color: $color-red;
}

.very-hard {
  background-color: $color-red;
}

/*======================================================================* END OF BACKGROUND CHANGES*======================================================================*/

@include media('<tablet') {
  .page-company {
    .nav-tabs {
      li {
        width: 100%;
      }
    }

    .database-intro {
      .text-center {
        h2 {
          font-size: 1.5em;
          line-height: 1.3;
          padding: 10px 8px 0;
        }
      }
    }

    .content {
      h3 {
        &.text-orange {
          padding: 0;
        }
      }

      .text-center {
        a {
          &.btn {
            margin: 5px 0;
            width: 100%;
          }
        }
      }
    }

    .two-ways-gain {
      .alert {
        h4 {
          width: 100%;
        }

        a {
          &.btn {
            width: 100%;
          }
        }
      }
    }

    form {
      .tabs {
        margin-top: 10px;
      }
    }

    #block-block-125 {
      .two-ways-gain {
        .alert {
          margin-bottom: 30px !important;
        }
      }
    }
  }

  .company-database__counter-section {
    border-radius: 0;
  }

  .hero-bg__light {
    min-height: auto;
  }

  .company-database__counter-block {
    height: auto;
    padding: 10px 0;
  }

  .company-database__header_title {
    font-size: 3.5em;
    margin: 30px 0 0;
    padding: 0 5%;
  }

  .company-database__data_count {
    display: inline-block;
    width: 100%;
  }

  .company-database__counter_data {
    padding: 0 10px;
  }

  .company-database__tabs {
    &.tabs {
      ul {
        &.nav-tabs {
          li {
            a {
              margin: 0;
            }
          }
        }
      }
    }

    ul {
      &.nav-tabs {
        li {
          &.company-database__tab_right {
            &.active {
              a {
                &:after {
                  border-radius: 0 0 4px 4px !important;
                }
              }
            }

            a {
              &:hover {
                &:after {
                  border-radius: 0 0 4px 4px !important;
                }
              }
            }
          }

          &.company-database__tab_left {
            &.active {
              a {
                &:after {
                  border-radius: 4px 4px 0 0 !important;
                }
              }
            }

            a {
              &:hover {
                &:after {
                  border-radius: 4px 4px 0 0 !important;
                }
              }
            }
          }

          a {
            &:hover {
              &:after {
                content: none;
              }
            }
          }
        }
      }
    }

    .company-database__nav-tabs {
      > li {
        &.company-database__tab_right {
          > a {
            border-radius: 0 0 4px 4px !important;

            &:hover {
              border-radius: 0 0 4px 4px !important;
            }
          }
        }

        &.company-database__tab_left {
          > a {
            border-radius: 4px 4px 0 0 !important;

            &:hover {
              border-radius: 4px 4px 0 0 !important;
            }
          }
        }
      }
    }
  }

  .company-database__filter-distance {
    .views-widget {
      flex-flow: wrap;
    }
  }

  .company-database__filters {
    .company-database__filters__exposed-widget {
      &.company-database__filter-distance {
        .form-item {
          margin-bottom: 24px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .company-database__search {
    padding: 15px 0 0;
  }

  .company-database__gain-access__wrapper {
    margin: 30px 0;
  }

  .company-database__gain-access__block {
    background-size: cover;
    padding: 35px;
  }

  .company-database__gain-access__text {
    margin-bottom: 16px;
  }

  .company-database__gain-access__button {
    height: 48px;
    line-height: 48px;
    margin-top: 10px;
    width: 100%;
  }

  .btn {
    &.company-database__gain-access__button {
      height: 48px;
      line-height: 48px;
      margin-top: 10px;
    }
  }

  .company-database--search-company--item {
    border-color: var(--color-neutral-3);
    padding: 15px;
  }

  .company-database__search-company__item {
    border-color: var(--color-neutral-3);
    padding: 15px;
  }

  .company-database__search-company__media {
    margin: 15px 0 25px;
    text-align: center;
  }

  .company-database__search-company__counter__block {
    width: 100%;
    padding: 10px 0 5px;

    &:after {
      content: none;
    }
  }

  .company-database__search-company__counter__data {
    font-size: 16px;
  }

  .company-database__company-search__view-header {
    a {
      display: inline-block;
      //margin-top: 10px;
      padding: 5px 12px;
      width: 100%;
    }
  }

  .company-database--search--section {
    .table-responsive {
      > .table {
        > thead {
          > tr {
            > th {
              white-space: nowrap;
            }

            > td {
              white-space: nowrap;
            }
          }
        }

        > tbody {
          > tr {
            > th {
              white-space: nowrap;
            }

            > td {
              white-space: nowrap;
            }
          }
        }

        > tfoot {
          > tr {
            > th {
              white-space: nowrap;
            }

            > td {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .page-company-salary {
    .company-database--search--section {
      .table-condensed {
        tr {
          .views-field-title-1 {
            //display: inline-block;

            a {
              //color: transparent;
            }
          }
        }
      }
    }
  }

  .page-company-review {
    .company-database--search--section {
      .table-condensed {
        tr {
          .views-field-title-1 {
            //display: inline-block;

            a {
              //color: transparent;
            }
          }
        }
      }
    }
  }
}

@include media('<desktop') {
  .ranking__block_fivestars {
    .fivestar-default {
      min-width: 72px;
    }
  }

  .company-database__companies__part {
    ul {
      li {
        &.company-database__more__item {
          transform: translateX(-40px);
          width: calc(100% + 40px);
        }
      }
      margin-bottom: 0;
    }
    margin-bottom: 24px;
  }

  .company-database__more__item {
    transform: translateX(-40px);
    width: calc(100% + 40px);
  }

  .company-database__industries__section {
    padding: 32px 24px 8px;
  }

  .btn {
    &.company-database__gain-access__button {
      height: 48px;
      line-height: 48px;
      margin-top: 10px;
      width: 100%;
    }
  }
}

@include media('>=desktop') {
  .company-database__nav-tabs {
    li {
      width: 25%;
    }
  }

  .company-database__companies__part {
    ul {
      margin-bottom: 40px;
    }
  }

  .company-database__industries__section {
    padding: 32px 24px;
  }

  .company-database__gain-access__button {
    margin-right: 24px;
  }

  .btn {
    &.company-database__gain-access__button {
      margin-right: 24px;
    }
  }

  .company-database--search--section {
    .table-condensed {
      > thead {
        > tr {
          > th {
            //display: inline-block;
          }
        }
      }

      > tbody {
        > tr {
          > td {
            //display: inline-block;
          }
        }
      }
    }
  }

  .table {
    overflow: hidden;
  }
}
