@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.paragraphs-item-wso-paragraph-title {
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 1.4;
  font-size: 20px;

  .field-name-field-wsop-title-style {
    display: none;
  }

  // Colors.
  &.color-green {
    color: $color-green-100;
  }

  &.color-blue {
    color: $color-blue;
  }

  &.color-grey {
    color: var(--color-neutral-7);
  }

  // Font size:
  &.font-size-big {
    font-size: 36px;
    letter-spacing: 1px;
  }

  &.font-size-middle {
    font-size: 28px;
  }

  // Font weight:
  &.font-weight-normal {
    font-weight: 400;
  }

  // Font style:
  &.font-style-italic {
    font-style: italic;
  }
}
