.paragraphs-item-wso-paragraph-title {
  font-weight: 700;
  line-height: 1.4;
  font-size: 20px
}
.paragraphs-item-wso-paragraph-title .field-name-field-wsop-title-style {
  display: none
}
.paragraphs-item-wso-paragraph-title.color-green {
  color: #0cb930
}
.paragraphs-item-wso-paragraph-title.color-blue {
  color: #087dfd
}
.paragraphs-item-wso-paragraph-title.color-grey {
  color: var(--color-neutral-7)
}
.paragraphs-item-wso-paragraph-title.font-size-big {
  font-size: 36px;
  letter-spacing: 1px
}
.paragraphs-item-wso-paragraph-title.font-size-middle {
  font-size: 28px
}
.paragraphs-item-wso-paragraph-title.font-weight-normal {
  font-weight: 400
}
.paragraphs-item-wso-paragraph-title.font-style-italic {
  font-style: italic
}
@media (min-width: 992px) {
  .paragraphs-item-wso-paragraph-title {
    font-weight: 800
  }
}
/*# sourceMappingURL=paragraph.wsop-title.component.css.map */
