
.font-second-regular {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300 !important;
}

.font-second-it {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
}

.font-second-light-it {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: 300;
}

.font-base-bold-it {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  @include responsive-prop(700, 800, font-weight);
}

.font-base-it {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
}

.font-base-regular {
  &,
  p {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300 !important;
  }
}
