.img-responsive,
.list-brand__img {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-has-border {
  border: 1px solid #5c574e;
}

.img-about-left {
  float: left;
  margin: 0 20px 20px 0;
}

.img-content {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
