.section {
  padding: 50px 0;

  @include media('>=tablet') {
    padding: 100px 0;
  }

  .entity-paragraphs-item {
    .content {
      @include media ('<tablet') {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.entity-paragraphs-item .content:not(.content-static) {
  z-index: 1;
}

.entity-paragraphs-item {
  margin-bottom: 0 !important;

  .content,
  .block__bundle__track_record_section {
    @include wso-container();
    max-width: 981px;
    position: relative;

    @include media('>=tablet') {
      width: $container-sm;
    }

    @media (min-width: $screen-md-min) {
      width: $container-md;
    }

    @media (min-width: $screen-lg-min) {
      width: $container-lg;
      max-width: 981px;
    }

    .content {
      @include media('>=tablet') {
        width: 100%;
      }

      @media (min-width: $screen-md-min) {
        width: 100%;
      }

      @media (min-width: $screen-lg-min) {
        width: 100%;
      }
    }
  }

  p {
    font-size: 16px;
  }

  .field-name-field-wsop-rich-text p {
    strong {
      font-weight: 700;
    }
  }

  h2 {
    &,
    p {
      @include responsive-prop(700, 800, font-weight);
      color: inherit;
      margin-top: 0;
      margin-bottom: 20px;
      font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
      line-height: 1.3;
      font-size: 26px;

      @include media('>=tablet') {
        font-size: 33px;
      }
    }

    .small,
    small {
      color: var(--color-neutral-7);
      display: block;
      font-size: 30px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  h3 {
    &,
    p {
      @include responsive-prop(700, 800, font-weight);
      color: inherit;
      margin-top: 0;
      margin-bottom: 20px;
      font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
      line-height: 1.3;
      font-size: 22px;
      padding-top: 0;

      @include media('>=tablet') {
        font-size: 27px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h5 {
    @include responsive-prop(700, 800, font-weight);
    color: inherit;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3;
    font-size: 21px;
    text-transform: none;
  }
}

.field-type-paragraphs {
  .field-items {
    .paragraph-type--accordion {
      margin-bottom: 40px;

      &:last-child {
        @include media('>=tablet') {
          margin-bottom: 140px;
        }
      }
    }
  }
}

.paragraph-type--feedback-cards + .paragraph-type--flexible {
  .entity-paragraphs-item.paragraphs-item-flexible {
    padding: 20px 0 40px;

    @include media('>=tablet') {
      padding: 40px 0 80px;
    }
  }
}

.paragraph-type--flexible + .paragraph-type--unlimited-access {
  margin-top: -20px;

  @include media('>=tablet') {
    margin-top: -40px;
  }
}

.paragraph-type--course-introduction + .paragraph-type--flexible,
.paragraph-type--feedback-cards + .paragraph-type--flexible {
  margin-top: -40px;

  @include media('>=tablet') {
    margin-top: -80px;
  }
}

.paragraph-type--flexible + .paragraph-type--feedback-cards {
  margin-top: -60px;

  @include media('>=tablet') {
    margin-top: -110px;
  }
}

.paragraphs-item-message-from-seo {
  .box--primary {
    h3 {
      font-weight: 700 !important;
    }
  }
}

.paragraphs-item-wso-paragraph-rich-text  {
  ul {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 10px;

    li {
      margin-bottom: 15px;
      display: table;

      &:before {
        content: "\2022";
        color: $color-green-100;
        font-weight: 800;
        display: table-cell;
        padding: 0 1em 0 0;
      }
    }
  }
}

.paragraphs-item-unlimited-access,
.paragraphs-item-choice-reminder {
  .cta-button {
    .field-name-field-cta {
      position: relative;

      .ajax-progress {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    a {
      @include responsive-prop(24px, 30px, 'font-size');
      display: inline-block;
      margin-bottom: 0;
      white-space: nowrap;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid transparent;
      box-shadow: none;
      text-align: center;
      font-family: Oswald-Regular,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
      text-decoration: none;
      color: var(--color-neutral-0);
      background: #ff6c00;
      border-bottom: 2px solid #b34c00;
      text-shadow: 0 2px 0 rgba(0,0,0,.5);
      font-weight: 500;
      height: 56px;
      line-height: 54px;
      padding: 0 16px;
      text-transform: uppercase;

      &.disabled {
        cursor: default;
        pointer-events: none;
        background: var(--color-neutral-4);
        border-bottom: 2px solid var(--color-base);
      }
    }
  }
}

.paragraphs-item-drupal-block {
  .block__bundle__track_record_section {
    .view-display-id-block_1 {
      .card {
        padding: 0;
        box-shadow: none;

        &:hover {
          box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.41);
          text-decoration: none;
          border-color: transparent;
        }
      }
    }
  }
}
