.underline {
  text-decoration: underline !important;
}

.text-center {
  text-align: center;
}

.initialism,
.text-uppercase {
  text-transform: uppercase !important;
}

.text-with-line {
  border-bottom: 1px solid  var(--color-neutral-4);
  line-height: 220%;
  padding: 0 0 5px;
  display: inline-block;

  .darkmode & {
    border-color: var(--color-neutral-5);
  }

  &--gray {
    border-color: var(--color-base);
  }

  &--semitransparet {
    border-color: rgba(var(--color-black--rgb),.2);
  }
}

.text-with-border:before {
  background: var(--color-neutral-5);
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.text-dark {
  .darkmode & {
    color: var(--color-neutral-8) !important;
  }
}

.title {
  margin-bottom: 40px !important;
}

.title--md {
  margin-bottom: 50px !important;
}

.text-with-lines {
  @include media('>=tablet') {
    position: relative;
    padding-left: 31px;
    padding-right: 31px;
    display: inline-block;

    &:before,
    &:after {
      background: var(--color-neutral-6);
      content: '';
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
    }

    &:before {
      left: 0;
    }

    &:after {
      left: auto;
      right: 0;
    }
  }
}

.caption-sm {
  &,
  p {
    font-size: 30px !important;

    @include media('>=tablet') {
      font-size: 40px !important;
    }
  }
}

.caption-md {
  &,
  p {
    font-size: 33px !important;

    @include media('>=tablet') {
      font-size: 48px !important;
    }
  }
}

.caption-lg {
  &,
  p {
    font-size: 36px !important;

    @include media('>=tablet') {
      font-size: 60px !important;
    }
  }

  small {
    font-size: 20px !important;
    margin-bottom: 0;

    @include media('>=tablet') {
      font-size: 24px !important;
    }
  }
}

//h6 {
//  font-size: 19px;
//
//  &.title {
//    line-height: 1.3;
//    margin-bottom: 45px;
//  }
//}
