{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
#}

{{ attach_library('porto_sub/new-landing_redesign.component') }}
{{ attach_library('porto_sub/new_landing_js') }}

{{ google_fivestar_rich_results }}
<div class="body new-landing wso-alpha new-landing__redesign">
  {% include '@storybook/04-regions/header-redesign/header-redesign.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}

  <div role="main" class="main">
    <div id="content" class="content full">

      {{ page.before_content }}
      {{ page.highlighted }}

      <div class="container-fluid">
          {{ messages }}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="col-lg-24">
              <div class="container container--breadcrumbs">
                {{ page.breadcrumbs_replacer.porto_sub_local_tasks }}
              </div>

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
    </div>
  </div>

  {{ page.after_content }}
  {% include '@storybook/04-regions/footer-redesign/footer-redesign.twig' %}
  {{ drupal_block('block-scroll-to-top') }}

</div>
