//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

html {
  color: var(--color-base);
  font-family: "Lato", sans-serif;
}

body {
  color: var(--color-base);
  font-family: "Lato", sans-serif;

  &.adminimal-admin-toolbar {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.block-wso-darkmode-switcher {
  margin-top: 16px;

  @include media('>=tablet') {
    margin-left: 8px;
  }

  @include media('>=desktop') {
    margin-top: 8px;
  }
}

#toolbar-administration {
  display: none;
}

header {
  &.main-page {
    box-shadow: none;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include media('<tablet') {
      height: auto;

      > .container {
        max-width: 100%;
      }

      .logo {
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }

  .main_menu-nav .list-inline {
    li:first-child {
      border-top: 3.5px solid $color-blue;

      a {
        color: $color-blue;
      }
    }

    .btn {
      display: none;
    }
  }
}

.node-type-job {
  background: var(--color-neutral-0);

  #wso-sidebar-right {
    margin-top: 0;

    @include media('>=tablet') {
      margin-top: 40px;
    }

    .block {
      padding: 20px 25px;
      border-radius: 3px;
      border: solid 1px var(--color-neutral-2);
      background-color: var(--color-neutral-0);

      .h4 {
        font-size: 17px;
        @include responsive-prop(700, 800, font-weight);
        margin-bottom: 5px;
        padding: 0;
      }

      .box-content {
        ul {
          border: 0;
          margin: 5px 0 0;
          padding: 0;
        }
      }
    }

    #block-wso-forum-start-discussion {
      display: none;
    }

    .block-wso-ama-cta {
      display: none !important;
    }
  }

  div.alert {
    width: auto;
    margin: 10px 0;
  }
}

.wso-job__header {
  background: url(/modules/custom/talent_oasis/images/headerbg.jpg) no-repeat center top;
  background-size: cover;
  position: relative;

  &:before {
    background-color: var(--color-neutral-0);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  h1 {
    color: var(--color-base);
    font-size: 36px;
    font-weight: 600;
    letter-spacing: .28px;
    line-height: .88;
    margin: 40px 0 15px;
  }
}

.wso-job__header-content {
  color: var(--color-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  min-height: 200px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.wso-job__header-back {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: .1px;
  color: $color-blue;

  &:before {
    content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
    display: inline-block;
    transform: rotate(180deg);
  }
}

.wso-job__header-info {
  color: var(--color-base);
  font-size: 14px;
  letter-spacing: .1px;
  line-height: 1.25;
}

.wso-job__header-location {
  margin-right: 5px;

  .icon {
    font-size: 20px;
    margin-right: 5px;
  }

  strong {
    font-weight: 700;
  }
  display: inline-block;
  line-height: 32px;
  padding: 0 10px;
  height: 32px;
  border-radius: 3px;
  background: $color-green-100;
  margin-top: 5px;
  color: var(--color-neutral-0);
}

.wso-job__header-terms {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;

  li {
    display: inline-block;
    line-height: 32px;
    padding: 0 10px;
    height: 32px;
    border-radius: 3px;
    background: $color-green-100;
    margin-top: 5px;
    color: var(--color-neutral-0);

    + li {
      margin-left: 5px;
    }
  }
}

.node {
  &.node-job {
    padding-top: 0;
    margin-top: 40px;
    padding-left: 0;

    .btn-danger.btn {
      margin-bottom: 30px;
    }

    .field-name-body {
      clear: both;

      .field-item {
        padding-left: 0;

        > h4 {
          &:first-child {
            &:before {
              display: none;
            }
          }
        }
      }

      h4 {
        font-size: 24px;
        @include responsive-prop(700, 800, font-weight);
        line-height: 1.33;
        letter-spacing: .2px;
        color: var(--color-base);
        padding-top: 0;
        margin-bottom: 24px;

        &:before {
          border-top: var(--color-neutral-4) 1px solid;
          content: '';
          display: block;
          margin-top: 30px;
          padding-top: 30px;
          width: 100%;
        }
      }
    }

    .wso-job__info {
      h4 {
        font-size: 24px;
        @include responsive-prop(700, 800, font-weight);
        line-height: 1.33;
        letter-spacing: .2px;
        color: var(--color-base);
        padding-top: 0;

        &:before {
          border-top: var(--color-neutral-4) 1px solid;
          content: '';
          display: block;
          margin-top: 30px;
          padding-top: 30px;
          width: 100%;
        }
      }
    }

    ul {
      li {
        margin-bottom: 15px;
        display: table;

        &:before {
          color: $color-green-100;
          content: "■";
          display: table-cell;
          font-size: 8px;
          font-weight: 800;
          padding: 0 1em 0 0;
          vertical-align: top;
        }
      }
    }

    .wso-job__location-notes {
      padding: 10px 15px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      list-style: none;

      li {
        margin-bottom: 0;

        &:before {
          display: none;
        }

        .icon-location {
          color: $color-green-100;
          font-size: 20px;
        }

        + li {
          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.wso-job__location {
  h4 {
    color: var(--color-base);
    font-size: 24px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.33;
    margin-bottom: 10px;
    padding-top: 0;
  }
}

.wso-job__date {
  h4 {
    font-size: 24px;
    @include responsive-prop(700, 800, font-weight);
    line-height: 1.33;
    letter-spacing: .2px;
    color: var(--color-base);
    padding-top: 0;

    &:after {
      border-bottom: var(--color-neutral-4) 1px solid;
      content: '';
      display: block;
      margin-bottom: 30px;
      padding-bottom: 40px;
      width: 100%;
    }
  }
}

.wso-job {
  .node {
    &.node-job {
      ul {
        list-style: none;
        margin-bottom: 8px;
        padding-left: 8px;
      }
    }
  }

  #resume-form {
    .form-text {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }

    &.in-progress {
      background: url('/themes/custom/porto_sub/images/animation/line-loader.gif') no-repeat center 40px;

      form {
        opacity: 0;
      }
    }
  }
}

.wso-job__info {
  font-size: 16px;
}

.wso-job__location-content {
  border: solid 1px var(--color-neutral-4);
  border-radius: 3px;
}

.wso-job__location-map {
  height: 240px;
  width: 100%;
}

.block-views-blockrelated-jobs-block-1 {
  .view-header {
    p {
      line-height: 1.25;
      margin: 0 0 5px 0;
      font-size: 17px;
      @include responsive-prop(700, 800, font-weight);
      padding: 0;
    }
  }

  h3 {
    color: var(--color-neutral-7);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.29;
    margin-bottom: 16px;
    margin-top: 5px;
    text-transform: none;
  }

  .box-content {
    ul {
      border-top: var(--color-neutral-2) 1px solid !important;
      list-style: none;
    }
  }

  li {
    padding: 8px 0 12px 0;

    a {
      color: $color-blue !important;
      display: block;
      font-size: 14px;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .1px;
      line-height: 1.38;
      overflow: hidden;
      padding-top: 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span {
      color: var(--color-neutral-7);
      display: block;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: .2px;
      line-height: 1.4;
    }
  }

  .address {
    display: flex;
    flex-wrap: wrap;

    span {
      margin-right: 5px;

      &:after {
        content: ',';
        display: inline;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  .view-footer {
    a {
      //@extend %btn;
      @extend %btn, .btn-secondary, .mono;
      display: block;
      font-size: 14px;
    }
  }

  .btn {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
  }
}

.region-content {
  .social-share-icons {
    display: none;
  }
}

#block-applytothisjob {
  .form-item-visa label {
    font-size: 14px;

    .form-required {
      color: $color-red;
    }
  }

  .form-file {
    border: 0;
  }

  input[type=submit] {
    @extend %btn, .btn-success;
    @extend %btn, .btn-md;
  }

  input[data-drupal-selector=edit-resume-remove-button] {
    @extend %btn, .btn-danger;
    margin-bottom: 10px;
  }
}

#block-wso-job-wso-job-node-resume {
  .btn {
    color: $color-neutral-0 !important;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    line-height: 46px;
    padding: 0 16px;
    text-transform: uppercase;
    width: 100%;
    display: block;

    .darkmode & {
      color: $color-neutral-0--dark !important;
    }
  }
}

@include media('<tablet') {
  .wso-job {
    #wso-content-outer {
      padding-left: 0;
      padding-right: 0;
    }

    .node {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 0;

      .field-name-body {
        .field-item {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  .wso-job__header-back {
    &:before {
      transform: rotate(180deg) translateY(-2px);
    }
  }
}

@include media('<desktop') {
  .wso-job {
    .footer-new {
      padding: 0 20px;
    }
  }
}

@include media('>=tablet') {
  .wso-job__header-content {
    height: 320px;
    margin-top: 0;
  }
}

@include media('>=desktop') {
  .node-type-job {
    #wso-sidebar-right {
      #block-socialshareiconsblock {
        display: block;
      }
    }
  }
}
