@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.pager-container {
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
  padding: 0 15px;

  @include media('>=tablet') {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  form {
    height: 30px;
    display: flex;
    flex-wrap: nowrap;


    .form-group {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 0;
      align-items: center;
    }

    .form-control {
      border-color: var(--color-neutral-3);
    }

    input[type=text] {
      width: 48px;
      border-color: var(--color-neutral-3);
      height: 30px;
      font-size: 14px;
    }

    label {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.2px;
      @include font-color-grey-darkmode;
      margin-left: 10px;
      margin-right: 18px;
      margin-bottom: 0;

      span {
        @include font-color-grey-darkmode;
        margin-left: 5px;
      }
    }

    .btn {
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
      //height: 30px;
      //line-height: 30px;
      //padding: 0 12px;
    }

    input[type=submit] {
      font-size: 14px;
    }
  }

  .pagination {
    margin-top: 0;
    justify-content: flex-start;
  }

  &--center {
    .pagination {
      margin: 0 auto;
    }
  }
}

.pagination {
  @include pager();

  li>a {
    @include font-color-grey-darkmode;
  }
}
