.pager-container {
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
  padding: 0 15px
}
.pager-container form {
  height: 30px;
  display: flex;
  flex-wrap: nowrap
}
.pager-container form .form-group {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0;
  align-items: center
}
.pager-container form .form-control {
  border-color: var(--color-neutral-3)
}
.pager-container form input[type=text] {
  width: 48px;
  border-color: var(--color-neutral-3);
  height: 30px;
  font-size: 14px
}
.pager-container form label {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: #9db2bc;
  margin-left: 10px;
  margin-right: 18px;
  margin-bottom: 0
}
.darkmode .pager-container form label {
  color: #c0beba
}
.pager-container form label span {
  color: #9db2bc;
  margin-left: 5px
}
.darkmode .pager-container form label span {
  color: #c0beba
}
.pager-container form .btn {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.pager-container form input[type=submit] {
  font-size: 14px
}
.pager-container .pagination {
  margin-top: 0;
  justify-content: flex-start
}
.pager-container--center .pagination {
  margin: 0 auto
}
.pagination {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0
}
.pagination .pager--mini {
  padding: 0;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  list-style: none
}
.pagination .pager--mini li {
  display: inline
}
.pagination .pager--mini .pager__icon {
  color: #087dfd;
  display: inline-block;
  font-size: 20px;
  margin-top: -2px
}
.pagination li {
  margin: 0 0 20px
}
.pagination li + li {
  margin: 0 0 20px -1px
}
.pagination li > a {
  display: inline-block;
  background-color: var(--color-neutral-0);
  border-radius: 0;
  border: var(--color-neutral-3) 1px solid;
  padding: 0 10px;
  height: 30px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: .2px;
  text-align: center;
  color: var(--color-neutral-7);
  color: #9db2bc
}
.pagination li > a:hover {
  color: #087dfd
}
.pagination li > a:empty {
  display: none
}
.pagination li.active a {
  background-color: var(--color-page-bg);
  color: var(--color-neutral-6)
}
.pagination li.pager__item--ellipsis {
  height: 30px;
  width: 28px;
  background: var(--color-neutral-0);
  text-align: center;
  border: var(--color-neutral-3) 1px solid
}
.pagination li.pager__item---first a,
.pagination li.pager__item--last a {
  border-radius: 3px;
  color: var(--color-base);
  text-transform: capitalize;
  font-weight: 600
}
.pagination li.pager__item---first .pager__icon,
.pagination li.pager__item--last .pager__icon {
  display: none
}
.pagination li.pager__item--first {
  margin-right: 8px
}
.pagination li.pager__item--last {
  margin-left: 8px
}
.pagination li.pager__item--next a span.pager__icon,
.pagination li.pager__item--previous a span.pager__icon {
  color: #087dfd;
  display: inline-block;
  font-size: 20px;
  margin-top: -2px
}
.darkmode .pagination li > a {
  color: #c0beba
}
@media (min-width: 768px) {
  .pager-container {
    padding: 0;
    display: flex;
    justify-content: space-between
  }
}
/*# sourceMappingURL=pager.component.css.map */
