<div class="formatted-text">
  <h2>Neutral colors:</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-0">--color-neutral-0: #ffffff</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-1">--color-neutral-1: #fafafa</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-2">--color-neutral-2: #f6f7f7</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-3">--color-neutral-3: #eeeeee</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-4">--color-neutral-4: #dfe1e6</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-5">--color-neutral-5: #c6c9cf</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-6">--color-neutral-6: #acb0b7</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-7">--color-neutral-7: #64676e</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-8">--color-neutral-8: #3f4145</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-9">--color-neutral-9: #1c1e24</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-10">--color-almost-black: #141414</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-11">--color-black: #000000</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-12">--color-page-bg, $color-bluish-grey: #f5f7f8</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-13">--color-monkey-grey: #9db2bc</div>
    </div>
  </div>

  <h2>Base Colors:</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-14">--color-warning-bg: #fffdf6</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-15">--color-base, $color-monkey-blue: #0a4059</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-16">$color-oasis-blue: #189eda</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-17">$color-link-blue: #087dfd</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-18">$color-light-oasis: #b7e1f3</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-19">--color-light-blue: #f3f8ff</div>
    </div>


    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-20">$color-green-100: #0cb930;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-21">$color-green-hover: #3dc759;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-22">$color-green-pressed: #0ba72b;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-23">$color-pop-green: #08c42a;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-24">$color-pale-green: #79ba5a;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-25">$color-lightest-green: #f7fcf8;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-26">$color-turquoise: #01b8a4;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-27">$color-yellow: #f5b226;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-28">$color-orange: #ff8c06;</div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 color-demo-29">$color-red: #f04944;</div>
    </div>
  </div>
</div>
