.color-demo {
  &-0 {
    background: var(--color-neutral-0);
  }
  &-1 {
    background: var(--color-neutral-1);
  }
  &-2 {
    background: var(--color-neutral-2);
  }
  &-3 {
    background: var(--color-neutral-3);
  }
  &-4 {
    background: var(--color-neutral-4);
  }
  &-5 {
    background: var(--color-neutral-5);
  }
  &-6 {
    background: var(--color-neutral-6);
  }
  &-7 {
    background: var(--color-neutral-7);
    color: white;
  }
  &-8 {
    background: var(--color-neutral-8);
    color: white;
  }
  &-9 {
    background: var(--color-neutral-9);
    color: white;
  }
  &-10 {
    background: var(--color-almost-black);
    color: white;
  }
  &-11 {
    background: var(--color-black);
    color: white;
  }
  &-12 {
    background: var(--color-page-bg);
  }
  &-13 {
    background: var(--color-monkey-grey);
  }
  &-14 {
    background: var(--color-warning-bg);
  }
  &-15 {
    background: var(--color-base);
    color: white;
  }
  &-16 {
    background: $color-oasis-blue;
  }
  &-17 {
    background: $color-link-blue;
    color: white;
  }
  &-18 {
    background: $color-light-oasis;
  }
  &-19 {
    background: $color-light-blue;
  }

  &-20 {
    background: $color-green-100;
  }
  &-21 {
    background: $color-green-hover;
  }
  &-22 {
    background: $color-green-pressed;
  }
  &-23 {
    background: $color-pop-green;
  }
  &-24 {
    background: $color-pale-green;
  }
  &-25 {
    background: $color-lightest-green;
  }
  &-26 {
    background: $color-turquoise;
  }
  &-27 {
    background: $color-yellow;
  }
  &-28 {
    background: $color-orange;
  }
  &-29 {
    background: $color-red;
  }
}
