.company-database__header_direction {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.company-database__header_title {
  font-weight: 700;
  margin: 30px 0 10px;
  color: var(--color-base);
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.17
}
.company-database__header_description {
  color: var(--color-base);
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 28px
}
.company-database__counter-section {
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px
}
.company-database__counter-block {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 40px;
  background: var(--color-neutral-0);
  padding: 15px
}
.company-database__counter-block:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}
.company-database__counter-block:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}
.company-database__counter-block:after {
  background-color: var(--color-neutral-4);
  content: "";
  display: block;
  height: 18px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px
}
.company-database__counter-block:last-child:after {
  content: none
}
.company-database__counter-block:last-child .icon {
  padding-right: 6px
}
.company-database__counter-block .icon {
  padding-right: 4px
}
.company-database__counter-block:first-child .icon {
  padding-right: 8px
}
.company-database__counter_data {
  align-self: center;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: var(--color-base);
  padding: 0;
  margin: 0
}
.company-database__counter_data .icon {
  color: #f5b226;
  font-size: 14px;
  transform: translateY(-1px)
}
.company-database__data_count {
  font-weight: 800;
  margin-right: 10px
}
.company-database__data_description {
  font-weight: 300
}
.company-database__text_bold {
  font-weight: 700
}
.database-hero-bg {
  background: var(--color-neutral-3) url(/themes/custom/porto_sub/images/company_database/images/intro-bg-2.png) no-repeat right center
}
.hero-bg__light {
  background: rgba(var(--color-neutral-0--rgb), .6) none repeat scroll 0 0;
  min-height: 320px
}
.hero-bg__light .btn {
  margin-bottom: 15px
}
.hero-bg__light .btn.btn-success:after {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_white.png);
  display: inline-block
}
.hero-bg__light .btn.btn-secondary:after {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_green.png);
  display: inline-block
}
.hero-bg__light .btn + .btn {
  margin-bottom: 30px
}
@media (min-width: 768px) {
  .company-database__header_description {
    max-width: 500px
  }
  .company-database__counter-section {
    max-width: 800px;
    width: auto
  }
  .company-database__counter-block {
    width: auto
  }
  .hero-bg__light .btn {
    margin-bottom: 0
  }
  .hero-bg__light .btn + .btn {
    margin-left: 20px;
    margin-bottom: 0
  }
}
@media (min-width: 992px) {
  .company-database__header_title {
    font-weight: 800;
    margin: 5px 0 10px
  }
  .company-database__text_bold {
    font-weight: 800
  }
  .hero-bg__light {
    min-height: 437px
  }
}
/*# sourceMappingURL=database-hp-hero.component.css.map */
