@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.company-database {
  &__header_direction {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header_title {
    @include responsive-prop(700, 800, font-weight);
    @include responsive-prop(30px 0 10px, 5px 0 10px, margin);
    color: var(--color-base);
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.17;
  }

  &__header_description {
    color: var(--color-base);
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 28px;

    @include media('>=tablet') {
      max-width: 500px;
    }
  }

  &__counter-section {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;

    @include media('>=tablet') {
      max-width: 800px;
      width: auto;
    }
  }

  &__counter-block {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 40px;
    background: var(--color-neutral-0);
    padding: 15px;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    @include media('>=tablet') {
      width: auto
    }

    &:after {
      background-color: var(--color-neutral-4);
      content: "";
      display: block;
      height: 18px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
    }

    &:last-child {
      &:after {
        content: none;
      }

      .icon {
        padding-right: 6px;
      }
    }

    .icon {
      padding-right: 4px;
    }

    &:first-child {
      .icon {
        padding-right: 8px;
      }
    }
  }

  &__counter_data {
    align-self: center;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: var(--color-base);
    padding: 0;
    margin: 0;

    .icon {
      color: $color-yellow;
      font-size: 14px;
      transform: translateY(-1px);
    }
  }

  &__data_count {
    font-weight: 800;
    margin-right: 10px;
  }

  &__data_description {
    font-weight: 300;
  }

  &__text_bold {
    @include responsive-prop(700, 800, font-weight);
  }
}

.database-hero-bg {
  background: var(--color-neutral-3) url("/themes/custom/porto_sub/images/company_database/images/intro-bg-2.png") no-repeat right center;
}

.hero-bg__light {
  background: rgba(var(--color-neutral-0--rgb), .6) none repeat scroll 0 0;
  min-height: 320px;

  @include media('>=desktop') {
    min-height: 437px;
  }

  .btn {
    margin-bottom: 15px;

    @include media('>=tablet') {
      margin-bottom: 0;
    }

    &.btn-success {
      &:after {
        content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_white.png);
        display: inline-block;
      }
    }

    &.btn-secondary {
      &:after {
        content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_green.png);
        display: inline-block;
      }
    }

    & +.btn {
      margin-bottom: 30px;

      @include media('>=tablet') {
        margin-left: 20px;
        margin-bottom: 0;
      }
    }
  }
}

