@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.view-course {
  #lesson-header {
    display: none;
  }

  #course-cover {
    z-index: 100;
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 100%;
    page-break-after: always;

    img {
      display: block;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      width: 100%;
    }
  }

  #print-toc {
    @include responsive-prop(700, 800, font-weight);
    page-break-after: always;
    font-size: 20px;
    color: $color-blue;
    background: var(--color-neutral-2);
    padding: 10px 20px;

    h2 {
      @include responsive-prop(700, 800, font-weight);
      font-size: 30px;
      margin: 0 0 15px 0;
    }

    table {
      /* autoprefixer: ignore next */
      page-break-inside: auto;
      width: 100%;

      td {
        padding: 3px 10px;

        &.toc-counter {
          padding: 5px 10px;
        }
      }

      .toc-subsection {
        td {
          font-size: 16px;
          padding: 0 10px;

          &.toc-text {
            color: var(--color-base);
            font-weight: 400;
          }
        }
      }

      .toc-anchor {
        display: none;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .view-content {
    > h3 {
      @include responsive-prop(700, 800, font-weight);
      color: $color-blue;
      font-size: 40px;
      letter-spacing: 1px;
      line-height: 1.3;
    }
  }

  .views-row {
    page-break-after: always;

    > .views-field-title {
      @include responsive-prop(700, 800, font-weight);
      color: $color-green-100;
      font-size: 36px;
      letter-spacing: 1px;
      line-height: 1.3;
    }

    > .views-field-field-wso-paragraphs {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: block;
          line-height: 1.2;
        }
      }
    }
  }
}

.print-version-pdf {
  .view-course {
    #print-toc {
      table {
        .toc-anchor {
          display: block;
        }
      }
    }
  }
}
