.view-course #lesson-header {
  display: none
}
.view-course #course-cover {
  z-index: 100;
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100%;
  page-break-after: always
}
.view-course #course-cover img {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%
}
.view-course #print-toc {
  font-weight: 700;
  page-break-after: always;
  font-size: 20px;
  color: #087dfd;
  background: var(--color-neutral-2);
  padding: 10px 20px
}
.view-course #print-toc h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 15px
}
.view-course #print-toc table {
  page-break-inside: auto;
  width: 100%
}
.view-course #print-toc table td {
  padding: 3px 10px
}
.view-course #print-toc table td.toc-counter {
  padding: 5px 10px
}
.view-course #print-toc table .toc-subsection td {
  font-size: 16px;
  padding: 0 10px
}
.view-course #print-toc table .toc-subsection td.toc-text {
  color: var(--color-base);
  font-weight: 400
}
.view-course #print-toc table .toc-anchor {
  display: none;
  font-size: 16px;
  font-weight: 400
}
.view-course .view-content > h3 {
  font-weight: 700;
  color: #087dfd;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 1.3
}
.view-course .views-row {
  page-break-after: always
}
.view-course .views-row > .views-field-title {
  font-weight: 700;
  color: #0cb930;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.3
}
.view-course .views-row > .views-field-field-wso-paragraphs ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.view-course .views-row > .views-field-field-wso-paragraphs ul li {
  display: block;
  line-height: 1.2
}
.print-version-pdf .view-course #print-toc table .toc-anchor {
  display: block
}
@media (min-width: 992px) {
  .view-course #print-toc,
  .view-course #print-toc h2,
  .view-course .view-content>h3,
  .view-course .views-row>.views-field-title {
    font-weight: 800
  }
}
/*# sourceMappingURL=course.component.css.map */
