@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.block__bundle__track_record_section {
  background: var(--color-neutral-0);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;

  .block__title {
    font-weight: 900;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 20px !important;
    color: $darkslateblue_0A4059;
    line-height: 42px;

    .darkmode & {
      color: $lightskyblue_5cd0ff;
    }
  }

  .field-name-field-block-subtitle {
    font-weight: 400;
    margin: 0 0 14px 0;
    font-size: 1em;
    line-height: 18px;
    color: var(--color-base);
    letter-spacing: .5px;
  }

   .field-name-field-block-label {
     font-weight: 900;
     font-size: 20px;
     margin-bottom: 0;
     color: $darkslateblue_0A4059;
     line-height: 42px;

     .darkmode & {
       color: $lightskyblue_5cd0ff;
     }
   }

  .block {
    &__chart {
      margin-bottom: 40px;

      .field--type-string {
        font-size: 13px;
        font-weight: 800;
      }
    }

    &__track-list {
      .form-group {
        margin-bottom: 0;
      }
    }
  }
}

//#track-record-chart {
//  background: $color-neutral-0;
//}

.view-track-record-chart-data {
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;

  table {
    th {
      background: var(--color-base);
      color: var(--color-neutral-0);

      .darkmode & {
        background: var(--color-neutral-8);
      }
    }

    .views-field-nothing {
      width: 30px;
    }

    .views-field-title {
      text-align: left;
    }
  }
}

.view-wso-alpha-track-records.view-display-id-block_1 {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .views-row {
    position: relative;
    padding: 10px;
    flex: 0 0 calc(100% / 2);
    max-width: calc(100% / 2);

    @include media('>=tablet') {
      padding: 15px;
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
    }

    @include media('>=desktop') {
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4);
    }

    @include media('>=large-desktop') {
      flex: 0 0 calc(100% / 6);
      max-width: calc(100% / 6);
    }
  }

  .eck-entity,
  .card {
    height: 100%;
  }

  .card {
    .card-body {
      background: var(--color-neutral-0) url('/themes/custom/porto_sub/images/icons/pdf.png') no-repeat center -120%;
      transition: all 0.2s ease-in-out;
      padding: 15px;
      text-align: center;
    }

    .card-title {
      font-size: 18px;
      font-weight: 700;
      color: var(--color-base);
    }

    .card-subtitle {
      font-size: 16px;
    }

    .positive {
      color: $color-green-100;
    }

    .negative {
      color: $color-red;
    }

    .card-footnote {
      padding: 0 5px;
      margin-top: -20px;
      color: var(--color-neutral-5);

      .darkmode & {
        color: var(--color-neutral-8);
      }

      span {
        font-size: 14px;
        opacity: 0;
      }

      .icon {
        opacity: 0.5;
      }
    }

    &:hover {
      box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.41);
      text-decoration: none;
      border-color: transparent;

      .darkmode & {
        box-shadow: none;
      }

      .card-body {
        background: var(--color-neutral-0) url('/themes/custom/porto_sub/images/icons/pdf.png') no-repeat center 20px;
        transition: all 0.1s ease-in-out;
      }

      .card-title,
      .card-subtitle {
        opacity: 0;
      }

      .card-footnote {
        span,
        .icon {
          opacity: 1;
        }
      }
    }
  }
}
