.block__bundle__track_record_section {
  background: var(--color-neutral-0);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px
}
.block__bundle__track_record_section .block__title {
  font-weight: 900;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 20px!important;
  color: #0a4059;
  line-height: 42px
}
.darkmode .block__bundle__track_record_section .block__title {
  color: #5cd0ff
}
.block__bundle__track_record_section .field-name-field-block-subtitle {
  font-weight: 400;
  margin: 0 0 14px;
  font-size: 1em;
  line-height: 18px;
  color: var(--color-base);
  letter-spacing: .5px
}
.block__bundle__track_record_section .field-name-field-block-label {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 0;
  color: #0a4059;
  line-height: 42px
}
.darkmode .block__bundle__track_record_section .field-name-field-block-label {
  color: #5cd0ff
}
.block__bundle__track_record_section .block__chart {
  margin-bottom: 40px
}
.block__bundle__track_record_section .block__chart .field--type-string {
  font-size: 13px;
  font-weight: 800
}
.block__bundle__track_record_section .block__track-list .form-group {
  margin-bottom: 0
}
.view-track-record-chart-data {
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px
}
.view-track-record-chart-data table th {
  background: var(--color-base);
  color: var(--color-neutral-0)
}
.darkmode .view-track-record-chart-data table th {
  background: var(--color-neutral-8)
}
.view-track-record-chart-data table .views-field-nothing {
  width: 30px
}
.view-track-record-chart-data table .views-field-title {
  text-align: left
}
.view-wso-alpha-track-records.view-display-id-block_1 .view-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px
}
.view-wso-alpha-track-records.view-display-id-block_1 .views-row {
  position: relative;
  padding: 10px;
  flex: 0 0 50%;
  max-width: 50%
}
.view-wso-alpha-track-records.view-display-id-block_1 .card,
.view-wso-alpha-track-records.view-display-id-block_1 .eck-entity {
  height: 100%
}
.view-wso-alpha-track-records.view-display-id-block_1 .card .card-body {
  background: var(--color-neutral-0) url(/themes/custom/porto_sub/images/icons/pdf.png) no-repeat center -120%;
  transition: .2s ease-in-out;
  padding: 15px;
  text-align: center
}
.view-wso-alpha-track-records.view-display-id-block_1 .card .card-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-base)
}
.view-wso-alpha-track-records.view-display-id-block_1 .card .card-subtitle {
  font-size: 16px
}
.view-wso-alpha-track-records.view-display-id-block_1 .card .positive {
  color: #0cb930
}
.view-wso-alpha-track-records.view-display-id-block_1 .card .negative {
  color: #f04944
}
.view-wso-alpha-track-records.view-display-id-block_1 .card .card-footnote {
  padding: 0 5px;
  margin-top: -20px;
  color: var(--color-neutral-5)
}
.darkmode .view-wso-alpha-track-records.view-display-id-block_1 .card .card-footnote {
  color: var(--color-neutral-8)
}
.view-wso-alpha-track-records.view-display-id-block_1 .card .card-footnote span {
  font-size: 14px;
  opacity: 0
}
.view-wso-alpha-track-records.view-display-id-block_1 .card .card-footnote .icon {
  opacity: .5
}
.view-wso-alpha-track-records.view-display-id-block_1 .card:hover {
  box-shadow: 0 0 11px 0 rgba(50, 50, 50, .41);
  text-decoration: none;
  border-color: transparent
}
.darkmode .view-wso-alpha-track-records.view-display-id-block_1 .card:hover {
  box-shadow: none
}
.view-wso-alpha-track-records.view-display-id-block_1 .card:hover .card-body {
  background: var(--color-neutral-0) url(/themes/custom/porto_sub/images/icons/pdf.png) no-repeat center 20px;
  transition: .1s ease-in-out
}
.view-wso-alpha-track-records.view-display-id-block_1 .card:hover .card-subtitle,
.view-wso-alpha-track-records.view-display-id-block_1 .card:hover .card-title {
  opacity: 0
}
.view-wso-alpha-track-records.view-display-id-block_1 .card:hover .card-footnote .icon,
.view-wso-alpha-track-records.view-display-id-block_1 .card:hover .card-footnote span {
  opacity: 1
}
@media (min-width: 768px) {
  .view-wso-alpha-track-records.view-display-id-block_1 .views-row {
    padding: 15px;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%
  }
}
@media (min-width: 992px) {
  .view-wso-alpha-track-records.view-display-id-block_1 .views-row {
    flex: 0 0 25%;
    max-width: 25%
  }
}
@media (min-width: 1200px) {
  .view-wso-alpha-track-records.view-display-id-block_1 .views-row {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%
  }
}
/*# sourceMappingURL=track-record-section.component.css.map */
