.block.no-background {
  background: inherit;
  border-left: inherit;
  margin: inherit;
  box-shadow: inherit;
  border-right: inherit;
  border-top: inherit;
  border-bottom: inherit;
  min-height: inherit
}
.block.no-background .box-content {
  border: inherit;
  padding: inherit
}
.block .box-content {
  padding: 20px 20px 10px
}
.block .view.view-new-forum-posts ul.list li {
  display: inline-block;
  overflow: hidden!important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}
.block p.h2,
.block p.h3 {
  color: var(--color-neutral-0);
  font-weight: 300
}
.block .progess {
  margin-bottom: 0
}
.block > .field-name-body {
  margin: 0;
  padding: 0
}
.region-under-content .block p.h2,
.region-under-content .block p.h3 {
  color: var(--color-base)
}
.help-block {
  font-size: 10px
}
.block ul.primary {
  border-bottom: 0;
  padding-left: 0
}
.post-block h3 {
  font-weight: inherit
}
#block-apachesolr-search-mlt-001 ul {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  padding: 0
}
#block-apachesolr-search-mlt-001 li {
  overflow: hidden!important;
  text-overflow: ellipsis;
  white-space: nowrap
}
.tweet-box {
  margin-bottom: 20px
}
#block-nivo-slider-nivo-slider {
  margin: auto;
  max-width: 1110px
}
div#block-user-messages-block-1 {
  margin-left: 10px;
  margin-right: 22px
}
#block-views-new-forum-posts-block-1.affix {
  position: fixed;
  top: 50px;
  width: inherit
}
#block-views-contact-us-block {
  margin-top: -70px
}
.page-tracker-bookmarks #block-views-bookmark-comments-block-1 p.h3.m-t-none,
.page-tracker-my-feed #block-views-myfeed-comments-block-1 p.h3.m-t-none {
  color: var(--color-base)
}
#block-user-login .pagination {
  margin-top: 10px
}
#block-user-login .pagination-lg > li > a {
  border-radius: 6px;
  font-size: 13px
}
#block-user-login .pagination-lg > li:first-child > a {
  margin-bottom: 10px
}
#user-login input {
  width: 35%
}
#user-login input[type=submit] {
  width: auto
}
#user-login label {
  display: block
}
#user-login .form-actions {
  background-color: transparent;
  border: none;
  padding: 0
}
#user-register-form input {
  width: 35%
}
#user-register-form input[type=submit] {
  width: auto
}
#user-pass {
  width: 90%
}
.block-dfp img,
.dfp-tag-wrapper img {
  display: block;
  height: auto;
  max-width: 100%
}
@media (min-width: 768px) {
  #user-pass {
    width: 50%
  }
  #user-pass input[type=submit] {
    width: auto
  }
}
@media (max-width: 1199px) {
  #block-nivo-slider-nivo-slider {
    max-width: 910px
  }
}
@media (max-width: 991px) {
  #block-nivo-slider-nivo-slider {
    max-width: 690px
  }
}
@media (max-width: 767px) {
  .apachesolr-browse-blocks {
    display: none
  }
  #block-nivo-slider-nivo-slider {
    margin: 0 30px;
    max-width: 100%
  }
}
/*# sourceMappingURL=block.component.css.map */
