@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.block {
  &.no-background {
    background: inherit;
    border-left: inherit;
    margin: inherit;
    box-shadow: inherit;
    border-right: inherit;
    border-top: inherit;
    border-bottom: inherit;
    min-height: inherit;

    .box-content {
      border: inherit;
      padding: inherit;
    }
  }

  .box-content {
    padding: 20px 20px 10px 20px;
  }

  .view {
    &.view-new-forum-posts {
      ul {
        &.list {
          li {
            display: inline-block;
            overflow: hidden !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }
        }
      }
    }
  }

  p {
    &.h2 {
      color: var(--color-neutral-0);
      font-weight: 300;
    }

    &.h3 {
      color: var(--color-neutral-0);
      font-weight: 300;
    }
  }

  .progess {
    margin-bottom: 0;
  }

  > .field-name-body {
    margin: 0;
    padding: 0;
  }

  .region-under-content & {
    p {
      &.h2,
      &.h3 {
        color: var(--color-base);
      }
    }
  }
}

.help-block {
  font-size: 10px;
}

.block {
  ul {
    &.primary {
      border-bottom: 0;
      padding-left: 0;
    }
  }
}

.post-block {
  h3 {
    font-weight: inherit;
  }
}

#block-apachesolr-search-mlt-001 {
  ul {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    padding: 0;
  }

  li {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include media('<tablet') {
  .apachesolr-browse-blocks {
    display: none;
  }
}

.tweet-box {
  margin-bottom: 20px;
}

#block-nivo-slider-nivo-slider {
  margin: auto;
  max-width: 1110px;

  @include media('<tablet') {
    margin: 0 30px;
    max-width: 100%;
  }

  @include media('<desktop') {
    max-width: 690px;
  }

  @media (max-width: 1199px) {
    max-width: 910px;
  }
}

div#block-user-messages-block-1 {
  margin-left: 10px;
  margin-right: 22px;
}

#block-views-new-forum-posts-block-1 {
  &.affix {
    position: fixed;
    top: 50px;
    width: inherit;
  }
}

#block-views-contact-us-block {
  margin-top: -70px;
}

.page-tracker-bookmarks {
  #block-views-bookmark-comments-block-1 {
    p {
      &.h3 {
        &.m-t-none {
          color: var(--color-base);
        }
      }
    }
  }
}

.page-tracker-my-feed {
  #block-views-myfeed-comments-block-1 {
    p {
      &.h3 {
        &.m-t-none {
          color: var(--color-base);
        }
      }
    }
  }
}

#block-user-login {
  .pagination {
    margin-top: 10px;
  }

  .pagination-lg {
    > li {
      > a {
        border-radius: 6px;
        font-size: 13px;
      }

      &:first-child {
        > a {
          margin-bottom: 10px;
        }
      }
    }
  }
}

#user-login {
  input {
    width: 35%;
  }

  input[type="submit"] {
    width: auto;
  }

  label {
    display: block;
  }

  .form-actions {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

#user-register-form {
  input {
    width: 35%;
  }

  input[type="submit"] {
    width: auto;
  }
}

#user-pass {
  width: 90%;

  @include media('>=tablet') {
    width: 50%;
  }

  input[type="submit"] {
    @include media('>=tablet') {
      width: auto;
    }
  }
}

.block-dfp {
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.dfp-tag-wrapper {
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}
