//@import "../../../../assets/scss/editor";

@media (max-width: 768px) {
  body {
    &.comment-fixed {
      overflow: hidden;
      padding: 0 !important;
      margin: 0 !important;
      width: 100%;
      height: 100vh;

      #content {
        margin-top: 0;
      }

      .comment-overall-layer {
        position: static;
      }

      .comment-form {
        height: 100%;
        top: 0;
        padding: 0 15px;

        .form-actions {
          display: none !important;
        }

        &.shown {
          position: fixed;
        }
      }

      &.admin-menu {
        margin-top: 0 !important;
      }
    }

    &.comment-absolute {
      margin: 0 !important;
      overflow: hidden;
      padding: 0 !important;
      position: relative;
      width: 100%;
    }
  }

  html {
    &.comment-fixed {
      height: 100vh;
      margin: 0 !important;
      overflow: hidden;
      padding: 0 !important;
      width: 100%;
    }

    &.comment-absolute {
      margin: 0 !important;
      overflow: hidden;
      padding: 0 !important;
      position: relative;
      width: 100%;
    }
  }

  form {
    &.comment-form {
      margin-top: 0;
      width: 100%;
    }
  }

  .comment-form {
    .footer-actions {
      position: static;
      padding: 10px 0;
      left: 0;
      margin-top: -15px;
      display: flex;
      flex-direction: column;

      .form-actions-container {
        order: 1;
        margin-top: 20px;
      }

      .form-notify-container {
        order: 2;
      }

      .form-type-checkbox {
        label {
          &.option {
            font-size: 12px;
          }
        }
      }
    }

    .form-notify-container {
      .form-item-pushcrew-subscribe {
        margin-bottom: 0;
      }
      padding: 0;
    }

    fieldset {
      &.collapsible {
        margin-top: 10px;

        &.collapsed {
          height: auto;
        }
      }
    }

    .ui-resizable-handle {
      display: none !important;
    }

    .form-actions-container {
      padding: 0;
    }

    &.shown {
      .form-content {
        overflow-x: hidden;
        overflow-y: scroll;
      }
    }

    .form-content {
      .form-content-container {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }

    .form-textarea-wrapper {
      width: 100% !important;
      padding-top: 0;
    }
  }

  .comment-wrapper-preview {
    .form-type-item {
      display: none;
    }

    .form-type-textarea {
      width: 100%;
    }

    .form-textarea-wrapper {
      .bue-ui {
        a {
          &.bue-button {
            .icon {
              &.icon-header-small {
                font-size: 12px;
              }
              font-size: 16px;
            }
            padding: 7px;
            font-size: 16px;
          }
        }
      }
    }
  }

  a {
    &.comment-add-cancel {
      right: 40px;
    }
  }

  div {
    &.comment-title {
      font-size: 12px;
    }
  }
}
