.comment-form .form-actions-container .form-submit:focus {
  outline: 0
}
.comment-form .form-actions-container .btn-default.form-submit {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.comment-form .form-actions-container .btn-default.form-submit:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.comment-form .form-actions-container .btn-default.form-submit:active,
.comment-form .form-actions-container .btn-default.form-submit:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.comment-form .form-actions-container .btn-default.form-submit:disabled {
  background-color: var(--color-neutral-1)
}
.comment-form .form-actions-container .form-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
.comment-form .form-actions-container .form-submit:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.comment-form .form-actions-container .form-submit:active,
.comment-form .form-actions-container .form-submit:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.comment-form .form-actions-container .form-submit:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comment-form .form-actions-container .btn-danger.form-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.comment-form .form-actions-container .btn-danger.form-submit:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.comment-form .form-actions-container .btn-danger.form-submit:active,
.comment-form .form-actions-container .btn-danger.form-submit:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.comment-form .form-actions-container .btn-danger.form-submit:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comment-form .form-actions-container .btn-lines.form-submit,
.comment-form .form-actions-container .btn-secondary.form-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.comment-form .form-actions-container .btn-lines.form-submit:hover,
.comment-form .form-actions-container .btn-secondary.form-submit:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.comment-form .form-actions-container .btn-lines.form-submit:active,
.comment-form .form-actions-container .btn-lines.form-submit:focus,
.comment-form .form-actions-container .btn-secondary.form-submit:active,
.comment-form .form-actions-container .btn-secondary.form-submit:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.comment-form .form-actions-container .btn-lines.form-submit:disabled,
.comment-form .form-actions-container .btn-secondary.form-submit:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comment-form .form-actions-container .btn-lines.mono.form-submit,
.comment-form .form-actions-container .btn-secondary.mono.form-submit {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.comment-form .form-actions-container .btn-lines.mono.form-submit:hover,
.comment-form .form-actions-container .btn-secondary.mono.form-submit:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.comment-form .form-actions-container .btn-lines.mono.form-submit:active,
.comment-form .form-actions-container .btn-lines.mono.form-submit:focus,
.comment-form .form-actions-container .btn-secondary.mono.form-submit:active,
.comment-form .form-actions-container .btn-secondary.mono.form-submit:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.comment-form .form-actions-container .btn-lines.mono.form-submit:disabled,
.comment-form .form-actions-container .btn-secondary.mono.form-submit:disabled {
  background-color: var(--color-neutral-1)
}
.comment-form .form-actions-container .btn-lines.mono.danger.form-submit,
.comment-form .form-actions-container .btn-secondary.mono.danger.form-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.comment-form .form-actions-container .btn-lines.mono.danger.form-submit:hover,
.comment-form .form-actions-container .btn-secondary.mono.danger.form-submit:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.comment-form .form-actions-container .btn-lines.mono.danger.form-submit:active,
.comment-form .form-actions-container .btn-lines.mono.danger.form-submit:focus,
.comment-form .form-actions-container .btn-secondary.mono.danger.form-submit:active,
.comment-form .form-actions-container .btn-secondary.mono.danger.form-submit:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.comment-form .form-actions-container .btn-lines.mono.danger.form-submit:disabled,
.comment-form .form-actions-container .btn-secondary.mono.danger.form-submit:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comment-form .form-actions-container .btn-other.form-submit,
.comment-form .form-actions-container .btn-success-ghost.form-submit,
.comment-form .form-actions-container .btn-transparency.form-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.comment-form .form-actions-container .btn-other.form-submit:hover,
.comment-form .form-actions-container .btn-success-ghost.form-submit:hover,
.comment-form .form-actions-container .btn-transparency.form-submit:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.comment-form .form-actions-container .btn-other.form-submit:active,
.comment-form .form-actions-container .btn-other.form-submit:focus,
.comment-form .form-actions-container .btn-success-ghost.form-submit:active,
.comment-form .form-actions-container .btn-success-ghost.form-submit:focus,
.comment-form .form-actions-container .btn-transparency.form-submit:active,
.comment-form .form-actions-container .btn-transparency.form-submit:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.comment-form .form-actions-container .btn-other.form-submit:disabled,
.comment-form .form-actions-container .btn-success-ghost.form-submit:disabled,
.comment-form .form-actions-container .btn-transparency.form-submit:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comment-form .form-actions-container .bg-white.form-submit {
  background: var(--color-neutral-0)
}
.comment-form .form-actions-container .btn-info.form-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.comment-form .form-actions-container .btn-info.form-submit:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.comment-form .form-actions-container .btn-info.form-submit:active,
.comment-form .form-actions-container .btn-info.form-submit:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.comment-form .form-actions-container .btn-info.form-submit:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comment-form .form-actions-container .btn-info.btn-lines.form-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.comment-form .form-actions-container .btn-info.btn-lines.form-submit:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.comment-form .form-actions-container .btn-info.btn-lines.form-submit:active,
.comment-form .form-actions-container .btn-info.btn-lines.form-submit:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.comment-form .form-actions-container .btn-info.btn-lines.form-submit:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.comment-form .form-actions-container .btn-xs.form-submit {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.comment-form .form-actions-container .btn-sm.form-submit {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.comment-form .form-actions-container .btn-md.form-submit {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
.comment-form .form-actions-container .btn-lg.form-submit {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.comment-form .form-actions-container .btn-xl.form-submit {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.darkmode .form-textarea-wrapper .cke_button_icon {
  filter: invert(1)
}
.form-textarea-wrapper .cke_reset_all,
.form-textarea-wrapper .cke_reset_all *,
.form-textarea-wrapper .cke_reset_all a,
.form-textarea-wrapper .cke_reset_all textarea {
  color: var(--color-black)
}
.form-textarea-wrapper .cke_reset_all fieldset {
  border: 2px groove var(--color-neutral-4)
}
.form-textarea-wrapper .cke_chrome {
  border: 1px solid var(--color-neutral-4)
}
.form-textarea-wrapper .cke_inner {
  background: var(--color-neutral-0)
}
.form-textarea-wrapper .cke_top {
  background: var(--color-neutral-1);
  border-bottom: 1px solid var(--color-neutral-4)
}
.form-textarea-wrapper .cke_float .cke_top {
  border: 1px solid var(--color-neutral-4)
}
.form-textarea-wrapper .cke_bottom {
  background: var(--color-neutral-1);
  border-top: 1px solid var(--color-neutral-4)
}
.form-textarea-wrapper .cke_resizer {
  border-color: transparent var(--color-neutral-6) transparent transparent
}
.form-textarea-wrapper .cke_resizer_rtl {
  border-color: transparent transparent transparent var(--color-neutral-6)
}
.form-textarea-wrapper .cke_panel {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4)
}
.form-textarea-wrapper .cke_panel_listItem a:hover,
.form-textarea-wrapper .cke_panel_listItem.cke_selected a {
  background-color: var(--color-neutral-4)
}
.form-textarea-wrapper .cke_panel_listItem a:focus {
  background-color: var(--color-neutral-4);
  outline: 1px dotted var(--color-black)
}
.form-textarea-wrapper .cke_panel_listItem a:active {
  background-color: var(--color-neutral-4)
}
.form-textarea-wrapper .cke_panel_grouptitle {
  background: var(--color-neutral-1);
  border-bottom: 1px solid var(--color-neutral-4);
  color: var(--color-base)
}
.form-textarea-wrapper .cke_colorblock,
.form-textarea-wrapper .cke_colorblock a {
  color: var(--color-black)
}
.form-textarea-wrapper a:hover.cke_colorbox {
  border: 2px solid #139ff7;
  border-color: var(--color-neutral-6)
}
.form-textarea-wrapper a:hover.cke_colorauto {
  background-color: var(--color-neutral-1);
  border: 1px solid #139ff7;
  border-color: var(--color-neutral-6)
}
.form-textarea-wrapper a:hover.cke_colormore {
  background-color: var(--color-neutral-1);
  border: 1px solid #139ff7;
  border-color: var(--color-neutral-6)
}
.form-textarea-wrapper a:focus.cke_colorbox {
  border: 2px solid #139ff7
}
.form-textarea-wrapper a:focus.cke_colorauto {
  background-color: var(--color-neutral-1);
  border: 1px solid #139ff7
}
.form-textarea-wrapper a:focus.cke_colormore {
  background-color: var(--color-neutral-1);
  border: 1px solid #139ff7
}
.form-textarea-wrapper a:active.cke_colorbox {
  border: 2px solid #139ff7
}
.form-textarea-wrapper a:active.cke_colorauto {
  background-color: var(--color-neutral-1);
  border: 1px solid #139ff7
}
.form-textarea-wrapper a:active.cke_colormore {
  background-color: var(--color-neutral-1);
  border: 1px solid #139ff7
}
.form-textarea-wrapper a.cke_colorauto,
.form-textarea-wrapper a.cke_colormore {
  border: var(--color-neutral-0) 1px solid
}
.form-textarea-wrapper a.cke_button_on {
  background: var(--color-neutral-0);
  border: 1px var(--color-neutral-6) solid
}
.form-textarea-wrapper a.cke_button_off:active,
.form-textarea-wrapper a.cke_button_off:focus,
.form-textarea-wrapper a.cke_button_off:hover {
  background: var(--color-neutral-4);
  border: 1px var(--color-neutral-6) solid
}
.form-textarea-wrapper a.cke_toolbox_collapser {
  border: 1px solid var(--color-neutral-6)
}
.form-textarea-wrapper a.cke_path_item {
  color: var(--color-base)
}
.form-textarea-wrapper a.cke_path_item:active,
.form-textarea-wrapper a.cke_path_item:focus,
.form-textarea-wrapper a.cke_path_item:hover {
  background-color: var(--color-neutral-4)
}
.form-textarea-wrapper .cke_colorauto span.cke_colorbox {
  border: 1px solid var(--color-neutral-7)
}
.form-textarea-wrapper .cke_hc a.cke_button_off:active,
.form-textarea-wrapper .cke_hc a.cke_button_off:focus,
.form-textarea-wrapper .cke_hc a.cke_button_off:hover,
.form-textarea-wrapper .cke_hc a.cke_button_on {
  background: var(--color-neutral-4);
  border: 3px solid var(--color-black)
}
.form-textarea-wrapper .cke_hc a.cke_button_disabled {
  border-color: var(--color-neutral-6)
}
.form-textarea-wrapper .cke_hc a.cke_button_disabled:focus {
  border: 3px solid var(--color-black)
}
.form-textarea-wrapper .cke_hc .cke_toolgroup a.cke_button.cke_button_disabled:hover:last-child:after,
.form-textarea-wrapper .cke_hc .cke_toolgroup a.cke_button.cke_button_disabled:last-child:after,
.form-textarea-wrapper .cke_hc .cke_toolgroup a.cke_button:last-child:after {
  border-color: var(--color-black)
}
.form-textarea-wrapper .cke_hc .cke_toolbar_separator {
  background-color: var(--color-black)
}
.form-textarea-wrapper .cke_hc .cke_combo:after {
  border-color: var(--color-black)
}
.form-textarea-wrapper .cke_toolgroup a.cke_button.cke_button_disabled:hover:last-child:after,
.form-textarea-wrapper .cke_toolgroup a.cke_button:last-child:after {
  border-right: 1px solid var(--color-neutral-6)
}
.form-textarea-wrapper .cke_rtl .cke_combo:after,
.form-textarea-wrapper .cke_rtl .cke_toolgroup a.cke_button.cke_button_disabled:hover:last-child:after,
.form-textarea-wrapper .cke_rtl .cke_toolgroup a.cke_button:last-child:after {
  border-left: 1px solid var(--color-neutral-6)
}
.form-textarea-wrapper .cke_button_label {
  color: var(--color-base)
}
.form-textarea-wrapper .cke_button_arrow {
  border-top: 3px solid var(--color-base)
}
.form-textarea-wrapper .cke_toolbar_separator {
  background-color: var(--color-neutral-6)
}
.form-textarea-wrapper .cke_toolbox_collapser:hover {
  background: var(--color-neutral-4)
}
.form-textarea-wrapper .cke_toolbox_collapser .cke_arrow {
  border-bottom-color: var(--color-base)
}
.form-textarea-wrapper .cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow {
  border-top-color: var(--color-base)
}
.form-textarea-wrapper .cke_menubutton:active,
.form-textarea-wrapper .cke_menubutton:active .cke_menubutton_icon,
.form-textarea-wrapper .cke_menubutton:focus,
.form-textarea-wrapper .cke_menubutton:focus .cke_menubutton_icon,
.form-textarea-wrapper .cke_menubutton:hover,
.form-textarea-wrapper .cke_menubutton:hover .cke_menubutton_icon {
  background-color: var(--color-neutral-4)
}
.form-textarea-wrapper span.cke_colorbox[style*="#FFFFFF"],
.form-textarea-wrapper span.cke_colorbox[style*="#ffffff"],
.form-textarea-wrapper span.cke_colorbox[style*="rgb(255, 255, 255)"],
.form-textarea-wrapper span.cke_colorbox[style*="rgb(255,255,255)"],
.form-textarea-wrapper span.cke_colorbox[style="background-color:#FFF"],
.form-textarea-wrapper span.cke_colorbox[style="background-color:#fff"] {
  border: 1px solid var(--color-neutral-7)
}
.form-textarea-wrapper .cke_menubutton_disabled:active .cke_menubutton_icon,
.form-textarea-wrapper .cke_menubutton_disabled:focus .cke_menubutton_icon,
.form-textarea-wrapper .cke_menubutton_disabled:hover .cke_menubutton_icon {
  background-color: var(--color-neutral-1)
}
.form-textarea-wrapper .cke_menuitem .cke_menubutton_on {
  background-color: var(--color-neutral-4);
  border: 1px solid var(--color-neutral-4)
}
.form-textarea-wrapper .cke_menubutton_on .cke_menubutton_icon {
  background-color: var(--color-neutral-4)
}
.form-textarea-wrapper .cke_menubutton_shortcut {
  color: var(--color-neutral-7)
}
.form-textarea-wrapper .cke_menuseparator {
  background-color: var(--color-neutral-4)
}
.form-textarea-wrapper .cke_combo:after {
  border-right: 1px solid var(--color-neutral-6)
}
.form-textarea-wrapper .cke_combo_on a.cke_combo_button {
  background: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-6)
}
.form-textarea-wrapper .cke_combo_off a.cke_combo_button:focus,
.form-textarea-wrapper .cke_combo_off a.cke_combo_button:hover {
  background: var(--color-neutral-4);
  border: 1px solid var(--color-neutral-6)
}
.form-textarea-wrapper .cke_combo_off a.cke_combo_button:active {
  background: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-6)
}
.form-textarea-wrapper .cke_combo_text {
  color: var(--color-base)
}
.form-textarea-wrapper .cke_combo_arrow {
  border-top: 3px solid var(--color-base)
}
.form-textarea-wrapper span.cke_path_empty {
  color: var(--color-base)
}
.form-textarea-wrapper .cke_wysiwyg_div,
.form-textarea-wrapper .cke_wysiwyg_frame,
.form-textarea-wrapper textarea.cke_source {
  background-color: var(--color-neutral-0)
}
.comment-form {
  display: none;
  bottom: 0;
  z-index: 1003;
  background: var(--color-neutral-0);
  width: 100%;
  left: 0;
  padding: 0 20px;
  height: 0;
  margin-top: 9px;
  margin-bottom: 0;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, .0784313725)
}
.comment-form.shown {
  overflow: visible!important;
  display: block
}
.comment-form.shown .footer-actions {
  display: flex
}
.comment-form.shown .form-actions-container .form-submit {
  display: inline-block!important
}
.comment-form.shown .form-actions-container .form-submit[disabled] {
  opacity: .5
}
.comment-form.shown .form-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  position: relative
}
.comment-form.scroll {
  overflow-y: scroll!important
}
.comment-form .footer-actions {
  position: absolute;
  padding-top: 0;
  padding-bottom: 20px;
  top: auto;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--color-neutral-0);
  display: none
}
.comment-form .footer-actions .form-type-checkbox label.option {
  font-size: 16px
}
.comment-form .footer-actions .form-type-checkbox input[type=checkbox] {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px
}
.comment-form .form-notify-container {
  float: none
}
.comment-form .form-notify-container .form-item-pushcrew-subscribe {
  position: static
}
.comment-form .form-actions-container {
  float: none;
  display: flex;
  flex-wrap: wrap
}
.comment-form .form-actions-container .form-submit {
  font-size: 14px;
  height: 32px;
  min-width: 160px;
  width: auto;
  text-transform: capitalize
}
.comment-form .form-actions-container .comment-add-cancel {
  height: 32px;
  font-size: 14px;
  text-transform: capitalize;
  min-width: 160px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 6px 12px;
  line-height: 1.42857143;
  user-select: none;
  letter-spacing: .2px;
  font-weight: 400;
  text-shadow: none;
  box-shadow: none;
  transition: none;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-4);
  background-color: var(--color-neutral-0);
  margin-right: 10px;
  color: var(--color-black)
}
.darkmode .comment-form .form-actions-container .comment-add-cancel {
  border: solid 1px var(--color-neutral-3)
}
.comment-form .form-actions-container .comment-add-cancel:hover {
  text-decoration: none
}
.comment-form .ui-resizable-handle {
  height: 9px;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: center
}
.comment-form .ui-resizable-handle:before {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -42px -78px;
  width: 27px;
  height: 5px;
  display: inline-block;
  content: "";
  margin: 2px auto 0
}
.comment-form #edit-author {
  margin-top: 30px
}
.comment-form fieldset.collapsible {
  clear: both;
  margin-top: 10px
}
.comment-form fieldset.collapsible legend {
  margin-bottom: 0
}
.comment-form .field--type-vote-up-down-field,
.comment-form .filter-guidelines,
.comment-form .filter-help,
.comment-form .js-filter-wrapper,
.comment-form details[data-drupal-selector=edit-author],
.comment-form details[data-drupal-selector=edit-flag] {
  display: none
}
.comment-form textarea#edit-comment-body-und-0-value {
  height: inherit
}
.comment-form .comment-title,
.comment-form .filter-wrapper,
.comment-form label[for=edit-comment-body-und-0-value] {
  display: none
}
.comment-wrapper-preview {
  width: 100%;
  max-width: 1280px;
  display: flex
}
.comment-wrapper-preview .field--name-comment-body {
  width: 100%
}
.comment-wrapper-preview .cke_contents {
  height: auto;
  min-height: 150px
}
.comment-wrapper-preview .form-type-textarea label {
  display: none
}
.comment-wrapper-preview .form-type-textarea .form-textarea-wrapper {
  width: 100%;
  padding-top: 10px
}
.comment-wrapper-preview .form-type-textarea textarea {
  border: solid 1px var(--color-neutral-4);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%!important;
  min-height: 150px;
  outline: 0;
  overflow-y: auto!important
}
.comment-wrapper-preview .form-type-item {
  padding-top: 30px;
  width: 50%
}
input.cke_dialog_ui_input_password,
input.cke_dialog_ui_input_tel,
input.cke_dialog_ui_input_text,
textarea.cke_dialog_ui_input_textarea {
  font-size: 16px
}
.comment-container .ajax-progress-throbber {
  display: none
}
.pushcrew-modal-overlay {
  z-index: 1004!important
}
.pushcrew-modal-box {
  z-index: 1005!important
}
.pushcrew-type > .form-item legend {
  font-weight: 600!important;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1;
  display: none
}
.pushcrew-type > .form-item .fieldset-wrapper:before {
  content: "Notify me when new comments are added:";
  display: inline-block;
  margin-right: 15px
}
.pushcrew-type > .form-item .form-radios {
  display: flex;
  flex-wrap: wrap;
  transform: scale(.8);
  transform-origin: left
}
.pushcrew-type > .form-item .form-radios .form-type-radio {
  margin: 5px 10px 5px 0;
  line-height: 0
}
.pushcrew-type > .form-item .form-radios .form-type-radio input[type=radio] {
  display: none
}
.pushcrew-type > .form-item label {
  font-weight: 400!important;
  font-size: 14px;
  margin-bottom: 0
}
.pushcrew-type > .form-item .form-type-radio input:checked + label:before,
.pushcrew-type > .form-item label:before {
  margin-right: 10px
}
.giphy-search {
  list-style: none;
  max-height: 300px;
  overflow-y: scroll;
  text-align: center;
  padding-left: 0
}
.giphy-search li {
  padding: 5px
}
.giphy-search img {
  max-width: 300px
}
@media (min-width: 360px) {
  .comment-form.shown .form-actions-container {
    flex-wrap: nowrap
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 50%;
    max-width: 50%
  }
  .comment-form {
    position: fixed!important;
    top: auto!important
  }
  .pushcrew-type > .form-item .fieldset-wrapper {
    display: flex;
    align-items: center
  }
}
@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%
  }
  .col-lg-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%
  }
  .comment-form .form-actions-container {
    justify-content: flex-end
  }
  .comment-form .form-actions-container .comment-add-cancel {
    margin-bottom: 0
  }
}
@media (max-width: 768px) {
  body.comment-fixed {
    overflow: hidden;
    padding: 0!important;
    margin: 0!important;
    width: 100%;
    height: 100vh
  }
  body.comment-fixed #content {
    margin-top: 0
  }
  body.comment-fixed .comment-overall-layer {
    position: static
  }
  body.comment-fixed .comment-form {
    height: 100%;
    top: 0;
    padding: 0 15px
  }
  body.comment-fixed .comment-form .form-actions {
    display: none!important
  }
  body.comment-fixed .comment-form.shown {
    position: fixed
  }
  body.comment-fixed.admin-menu {
    margin-top: 0!important
  }
  body.comment-absolute {
    margin: 0!important;
    overflow: hidden;
    padding: 0!important;
    position: relative;
    width: 100%
  }
  html.comment-fixed {
    height: 100vh;
    margin: 0!important;
    overflow: hidden;
    padding: 0!important;
    width: 100%
  }
  html.comment-absolute {
    margin: 0!important;
    overflow: hidden;
    padding: 0!important;
    position: relative;
    width: 100%
  }
  form.comment-form {
    margin-top: 0;
    width: 100%
  }
  .comment-form .footer-actions {
    position: static;
    padding: 10px 0;
    left: 0;
    margin-top: -15px;
    display: flex;
    flex-direction: column
  }
  .comment-form .footer-actions .form-actions-container {
    order: 1;
    margin-top: 20px
  }
  .comment-form .footer-actions .form-notify-container {
    order: 2
  }
  .comment-form .footer-actions .form-type-checkbox label.option {
    font-size: 12px
  }
  .comment-form .form-notify-container {
    padding: 0
  }
  .comment-form .form-notify-container .form-item-pushcrew-subscribe {
    margin-bottom: 0
  }
  .comment-form fieldset.collapsible {
    margin-top: 10px
  }
  .comment-form fieldset.collapsible.collapsed {
    height: auto
  }
  .comment-form .ui-resizable-handle {
    display: none!important
  }
  .comment-form .form-actions-container {
    padding: 0
  }
  .comment-form.shown .form-content {
    overflow-x: hidden;
    overflow-y: scroll
  }
  .comment-form .form-content .form-content-container {
    display: flex;
    flex-direction: column;
    height: 100%
  }
  .comment-form .form-textarea-wrapper {
    width: 100%!important;
    padding-top: 0
  }
  .comment-wrapper-preview .form-type-item {
    display: none
  }
  .comment-wrapper-preview .form-type-textarea {
    width: 100%
  }
  .comment-wrapper-preview .form-textarea-wrapper .bue-ui a.bue-button {
    padding: 7px;
    font-size: 16px
  }
  .comment-wrapper-preview .form-textarea-wrapper .bue-ui a.bue-button .icon {
    font-size: 16px
  }
  .comment-wrapper-preview .form-textarea-wrapper .bue-ui a.bue-button .icon.icon-header-small {
    font-size: 12px
  }
  a.comment-add-cancel {
    right: 40px
  }
  div.comment-title {
    font-size: 12px
  }
}
@media (max-width: 767px) {
  .comment-wrapper-preview .cke_combo_text {
    width: auto
  }
  .comment-wrapper-preview .cke_top {
    padding: 0
  }
  .comment-wrapper-preview .cke_contents {
    min-height: 150px!important;
    max-height: 150px!important;
    height: 150px!important
  }
  .comment-wrapper-preview .cke_bottom {
    display: none
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  .icon-question {
    display: none
  }
}
/*# sourceMappingURL=wso-comments-live-preview.component.css.map */
