@import "./components/common-styles/helpers/sprite-png";
@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';
@import "./components/common-styles/editor";
@import "style.mobile";

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .col-lg-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
}

.comment-form {
  display: none;
  bottom: 0;
  z-index: 1003;
  background: var(--color-neutral-0);
  width: 100%;
  left: 0;
  padding: 0 20px;
  height: 0;
  margin-top: 9px;
  margin-bottom: 0;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 -8px 16px 0 #00000014;

  @include media('>=tablet') {
    position: fixed !important;
    top: auto !important;
  }

  &.shown {
    overflow: visible !important;
    display: block;

    .footer-actions {
      display: flex;
    }

    .form-actions-container {
      @media (min-width: 360px) {
        flex-wrap: nowrap;
      }

      .form-submit {
        display: inline-block !important;

        &[disabled] {
          opacity: 0.5;
        }
      }
    }

    .form-container {
      height: 100%;
      margin: 0 auto;
      max-width: 1280px;
      position: relative;
    }
  }

  &.scroll {
    overflow-y: scroll !important;
  }

  .footer-actions {
    position: absolute;
    //bottom: -50px;
    padding-top: 0;
    padding-bottom: 20px;
    top: auto;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--color-neutral-0);
    display: none;

    .form-type-checkbox {
      label {
        &.option {
          font-size: 16px;
        }
      }

      input[type="checkbox"] {
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        position: absolute;
        width: 1px;
      }
    }
  }

  .form-notify-container {
    float: none;

    .form-item-pushcrew-subscribe {
      position: static;
    }
  }

  .form-actions-container {
    float: none;
    display: flex;
    flex-wrap: wrap;

    @include media('>=desktop') {
      justify-content: flex-end;
    }

    .form-submit {
      //@extend %btn;
      @extend %btn, .btn-success;
      font-size: 14px;
      height: 32px;
      min-width: 160px;
      width: auto;
      text-transform: capitalize;
    }

    .comment-add-cancel {
      height: 32px;
      font-size: 14px;
      text-transform: capitalize;
      min-width: 160px;
      display: inline-block;
      margin-bottom: 10px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      padding: 6px 12px;
      line-height: 1.42857143;
      user-select: none;
      letter-spacing: .2px;
      font-weight: 400;
      text-shadow: none;
      box-shadow: none;
      transition: none;
      border-radius: 3px;
      border: solid 1px var(--color-neutral-4);
      background-color: var(--color-neutral-0);
      margin-right: 10px;
      color: var(--color-black);

      .darkmode & {
        border: solid 1px var(--color-neutral-3);
      }

      @include media('>=desktop') {
        margin-bottom: 0;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ui-resizable-handle {
    height: 9px;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;

    &:before {
      @include sprite($grippie);
      display: inline-block;
      content: '';
      margin: 2px auto 0;
    }
  }

  #edit-author {
    margin-top: 30px;
  }

  fieldset {
    &.collapsible {
      clear: both;
      margin-top: 10px;

      legend {
        margin-bottom: 0;
      }
    }
  }

  .filter-guidelines,
  .filter-help,
  .js-filter-wrapper,
  details[data-drupal-selector="edit-author"],
  details[data-drupal-selector="edit-flag"],
  .field--type-vote-up-down-field {
    display: none;
  }

  textarea#edit-comment-body-und-0-value {
    height: inherit;
  }

  .filter-wrapper {
    display: none;
  }

  label[for="edit-comment-body-und-0-value"] {
    display: none;
  }

  .comment-title {
    display: none;
  }
}

.comment-wrapper-preview {
  width: 100%;
  max-width: 1280px;
  display: flex;

  .field--name-comment-body  {
    width: 100%;
  }

  .cke_combo_text {
    @include media('<tablet') {
      width: auto;
    }
  }

  .cke_top {
    @include media('<tablet') {
      padding: 0;
    }
  }

  .cke_contents {
    height: auto;
    min-height: 150px;

    @include media('<tablet') {
      min-height: 150px !important;
      max-height: 150px !important;
      height: 150px !important;
    }
  }

  .cke_bottom {
    @include media('<tablet') {
      display: none;
    }
  }

  .form-type-textarea {
    label {
      display: none;
    }

    .form-textarea-wrapper {
      width: 100%;
      padding-top: 10px;
    }

    textarea {
      border: solid 1px var(--color-neutral-4);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      //border-top: 0;
      height: 100% !important;
      min-height: 150px;
      outline: none;
      overflow-y: auto !important;
    }
  }

  .form-type-item {
    padding-top: 30px;
    width: 50%;
  }
}

input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password,
input.cke_dialog_ui_input_tel,
textarea.cke_dialog_ui_input_textarea {
  font-size: 16px;
}

.icon-question {
  @media (min-width: 320px) and (max-width: 359px) {
    display: none;
  }
}

.comment-container {
  .ajax-progress-throbber {
    display: none;
  }
}

.pushcrew-modal-overlay {
  z-index: 1004 !important;
}

.pushcrew-modal-box {
  z-index: 1005 !important;
}

.pushcrew-type {
  > .form-item {

    legend {
      font-weight: 600 !important;
      font-size: 14px;
      margin-bottom: 0;
      line-height: 1;
      display: none;
    }

    .fieldset-wrapper {
      @include media('>=tablet') {
        display: flex;
        align-items: center;
      }

      &:before {
        content: 'Notify me when new comments are added:';
        display: inline-block;
        margin-right: 15px;
      }
    }

    .form-radios {
      display: flex;
      flex-wrap: wrap;
      transform: scale(0.8);
      transform-origin: left;

      .form-type-radio {
        margin: 5px 10px 5px 0;
        line-height: 0;

        input[type="radio"] {
          display: none;
        }
      }
    }

    label {
      font-weight: 400 !important;
      font-size: 14px;
      margin-bottom: 0;
    }

    label:before,
    .form-type-radio input:checked + label:before {
      margin-right: 10px;
    }
  }
}

.giphy-search {
  list-style: none;
  max-height: 300px;
  overflow-y: scroll;
  text-align: center;
  padding-left: 0;

  li {
    padding: 5px;
  }

  img {
    max-width: 300px;
  }
}

/*
.comment-form {
  .form-actions {
    padding: 20px 0;
    background: transparent;
    border-top: none;

    input[type="submit"] {
      margin-right: 10px;
    }
  }

  .form-type-textfield {
    margin-left: 0;

    input[type="text"] {
      width: 100%;
    }
  }

  .form-item-name {
    margin-right: 30px;
  }

  .form-textarea-wrapper {
    width: 97%;

    .text-full {
      height: 250px;
    }
  }

  .filter-wrapper {
    margin-left: -20px;
    margin-top: 10px;
  }
}
*/
