@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.event-cal-intro {
  background-image: url("/themes/custom/porto_sub/images/events/event-cal-bg3.jpg");
  min-height: 460px;
  background-size: cover;
  background-position: center center;

  .hero-bg-drk {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .select2 {
    margin: 0;

    .select2-selection--single {
      height: 50px;
      background-color: rgba(255, 255, 255, 0.2);
      border: 0;
    }

    .select2-selection__rendered {
      line-height: 50px;
    }

    .select2-selection__placeholder,
    .select2-selection__rendered[title] {
      color: var(--color-neutral-0);
    }

    .select2-selection__arrow b {
      border-color: var(--color-neutral-0) transparent transparent transparent;
    }

    .select2-selection__clear {
      top: 8px;
      padding: 1px;
    }
  }
}

.hero-bg-drk {
  background: rgba(0, 0, 0, .6) none repeat scroll 0 0;
  min-height: 460px;

  h1 {
    color: $color-neutral-0;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 1.04;
    margin-bottom: 0;
    text-align: center;
  }

  h2 {
    color: $color-neutral-0;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: .01px;
    line-height: normal;
    margin-top: 12px;
    text-align: center;
  }

  form {
    padding-top: 40px;

    .form-submit {
      color: var(--color-neutral-0);
      float: left;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: .2px;
      line-height: 1;
      padding: 15px 0;
      text-align: center;
      width: 118px;
    }
  }

  .infusion-field {
    input {
      width: 100%;
      padding: 15px;
      background-color: rgba(255, 255, 255, .2);
      border-radius: 5px;
      border: none;
      outline: none;
      color: var(--color-neutral-0);
      line-height: 1.3;

      @include placeholder() {
        color: var(--color-neutral-0);
        font-size: 16px;
        font-weight: normal;
        letter-spacing: .2px;
      }
    }

    label.error {
      display: block;
      text-align: left;
      color: $color-red;
      margin-top: 5px;
      font-size: 14px;
      font-weight: 700!important;
    }
  }

  .select2-container--bootstrap4 .select2-selection__clear {
    justify-content: center;
  }
}

.view-calendar {
  h4 {
    color: $color-red;
    font-size: 18px;
    font-weight: 600;
  }
  position: relative;

  .view-filters {
    position: absolute;
    right: 0;
    top: 133px !important;
  }

  .views-exposed-form {
    .views-exposed-widget {
      input[type=text] {
        border-color: $color-green-100;
        box-shadow: none;
        height: 48px;
        outline: none;
        text-shadow: none;
      }
    }
  }
}

.calendar-calendar {
  tr {
    background: var(--color-neutral-0)
  }

  td {
    .darkmode & {
      border-color: var(--color-neutral-6);
    }
  }
}

.text-warning {
  color: $color-red !important;
}

.view {
  .date-nav-wrapper {
    .date-prev {
      right: 0;
      background: var(--color-neutral-0) none repeat scroll 0 0;
      position: relative;
      padding: 0;
      left: 0;

      a {
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 3px;
        background-color: var(--color-neutral-2);
        font-size: 0;
        margin: 0;
        padding: 0;
        line-height: 36px;
        vertical-align: middle;

        &:before {
          background-image: url("/themes/custom/porto_sub/images/events/shape-left.png");
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          height: 14px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 8px;
        }
      }
    }

    .date-next {
      background: var(--color-neutral-0) none repeat scroll 0 0;
      position: relative;
      padding: 0;
      left: 0;
      right: 0;

      a {
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 3px;
        background-color: var(--color-neutral-2);
        font-size: 0;
        margin: 0;
        padding: 0;
        line-height: 36px;
        vertical-align: middle;

        &:before {
          background-image: url("/themes/custom/porto_sub/images/events/shape-right.png");
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          height: 14px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 8px;
        }
      }
    }
    margin-top: 20px;

    .date-heading {
      h3 {
        color: var(--color-base);
        font-size: 24px;
        @include responsive-prop(700, 800, font-weight);
        letter-spacing: .2px;
        line-height: 1.17;
        margin: 0;
        text-align: left;
      }
    }

    .date-nav {
      margin: 0;
    }
    width: auto;
    padding-left: 0;
  }
}

.calendar-calendar {
  div {
    &.calendar {
      font-size: 14px;
    }
  }

  td {
    a {
      font-weight: normal;
      text-decoration: none;
    }

    span {
      &.date-display-single {
        font-weight: normal;
      }

      &.date-display-separator {
        font-weight: normal;
      }

      &.date-display-start {
        font-weight: 600;
      }

      &.date-display-end {
        font-weight: 600;
      }
    }
    border-color: var(--color-neutral-4);

    &.empty {
      border-color: var(--color-neutral-4);
    }
  }

  .month-view {
    .full {
      td {
        &.multi-day {
          div {
            &.monthview {
              background: var(--color-neutral-2);
              color: var(--color-neutral-0);
              height: 100%;
              padding: .5px;
              position: relative;
              width: 100%;
            }
          }

          .inner {
            .monthview {
              .continues {
                background: var(--color-neutral-2);
              }

              .cutoff {
                background: var(--color-neutral-2);
              }
            }

            .view-item-calendar {
              padding: 0 2px;
            }
          }

          .calendar {
            &.monthview {
              .contents {
                left: 0;
                padding-top: 0;
                position: relative;
                width: auto;
              }
            }
          }
        }

        &.single-day {
          div {
            &.monthview {
              background: none !important;
              overflow: hidden;
              padding: .5px;
              width: auto;
            }
          }

          .calendar-empty {
            background: var(--color-neutral-2);
          }

          &.empty {
            background: var(--color-neutral-2);
          }

          .inner {
            div {
              a {
                color: var(--color-neutral-8) !important;
              }
            }

            .item {
              padding: 0 5px;
              overflow: hidden;
            }
          }
        }

        &.date-box {
          &.empty {
            background: var(--color-neutral-2);

            .day {
              color: var(--color-neutral-4);
              font-size: 14px;
              font-weight: 500;
              line-height: 1.14;
            }
          }

          .day {
            color: var(--color-base);
            font-size: 14px;
            @include responsive-prop(700, 800, font-weight);
            line-height: 1.14;
          }

          &.today {
            border-color: $color-green-100;
            border-style: solid;
            border-width: 2px 2px 0 2px;
          }
        }

        .inner {
          div {
            &.calendar {
              &.monthview {
                .views-field-title {
                  padding: 0 17px 6px;
                  display: inline-block;
                  width: 100%;
                  background: var(--color-neutral-2);
                  border-bottom-left-radius: 5px;
                  border-bottom-right-radius: 5px;

                  a {
                    color: var(--color-base);
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: .1px;
                    line-height: 1.38;
                  }

                  span {
                    a {
                      color: var(--color-base);
                      font-size: 13px;
                      font-weight: 400;
                      letter-spacing: .1px;
                      line-height: 1.38;
                    }
                  }
                }

                .views-field-field-event-date {
                  display: inline-block;
                  width: 100%;
                  background: var(--color-neutral-2);
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  padding-top: 4px;
                  padding-left: 16px;

                  time {
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 1.09;
                    letter-spacing: .2px;
                    color: $color-blue;
                    padding-left: 0;
                    display: inline;

                    &:before {
                      background-color: $color-blue;
                      border-radius: 3px;
                      content: "";
                      height: 24px;
                      left: 4px !important;
                      line-height: 24px;
                      position: absolute;
                      width: 4px;
                    }
                  }
                }

                .date-display-single {
                  width: 100%;
                  display: block;
                  font-size: 11px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: .2px;
                  color: $color-blue;
                  padding-left: 16px;

                  &:before {
                    background-color: $color-blue;
                    border-radius: 3px;
                    content: "";
                    height: 24px;
                    left: 0;
                    line-height: 24px;
                    position: absolute;
                    width: 3px;
                  }

                  +a {
                    color: var(--color-base);
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: .1px;
                    line-height: 1.38;
                    padding: 0 12px 6px;
                  }
                }
              }
            }

            &.day {
              width: auto;
              padding: 12px 16px 8px 0;
              margin-bottom: 0;
              background: none;
              border: none;

              a {
                background: none;
                border: none;
                margin-bottom: 0;
                padding: 12px 16px 8px 0;
                width: auto;
              }
            }
          }
        }
      }

      tr {
        &.single-day {
          .no-entry {
            height: 65px !important;
            max-height: 65px;
            line-height: 1;

            .inner {
              height: 65px !important;
              line-height: 1;
              max-height: 65px;
            }
          }
        }

        td {
          &.multi-day {
            &.ends-today {
              border-right: 2px solid $color-green-100;
            }

            &.starts-today {
              border-left: 2px solid $color-green-100;
            }
          }

          &.single-day {
            &.today {
              border-bottom: 2px solid $color-green-100;
            }
          }

          &.today {
            background: none;
            border-left: 2px solid $color-green-100;
            border-right: 2px solid $color-green-100;
          }
        }

        &.odd {
          td {
            &.today {
              background: none;
              border-left: 2px solid $color-green-100;
              border-right: 2px solid $color-green-100;
            }
          }
        }

        &.even {
          td {
            &.today {
              background: none;
              border-left: 2px solid $color-green-100;
              border-right: 2px solid $color-green-100;
            }
          }
        }
      }

      .inner {
        .monthview {
          margin: .25em auto !important;
        }
      }
    }
  }

  .week-view {
    .full {
      td {
        &.multi-day {
          div {
            &.weekview {
              background: var(--color-neutral-2);
              color: var(--color-neutral-0);
              height: 100%;
              padding: 3px;
              position: relative;
              width: 100%;
            }
          }

          .inner {
            .weekview {
              .continues {
                background: var(--color-neutral-2);
              }

              .cutoff {
                background: var(--color-neutral-2);
              }
            }
          }

          .calendar {
            &.weekview {
              .contents {
                padding-top: 4px;
                position: relative;
                width: auto;
              }
            }
          }
        }

        &.single-day {
          div {
            &.weekview {
              background: none !important;
              overflow: hidden;
              padding: 0 5px 5px;
              width: auto;
            }
          }
        }
      }

      .inner {
        .weekview {
          margin: .25em auto !important;
        }
      }
    }
  }

  .day-view {
    .full {
      td {
        &.multi-day {
          div {
            &.dayview {
              background: var(--color-neutral-2);
              color: var(--color-neutral-0);
              height: 100%;
              padding: 3px;
              position: relative;
              width: 100%;
            }
          }
        }

        &.single-day {
          div {
            &.dayview {
              background: none !important;
              overflow: hidden;
              padding: 0 5px 5px;
              width: auto;
            }
          }
        }
      }

      .inner {
        .dayview {
          margin: .25em auto !important;
        }
      }
    }
  }

  th {
    &.days {
      background: var(--color-neutral-1);
      border: none;
      color: var(--color-neutral-7);
      font-size: 12px;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .4px;
      line-height: 1.17;
      padding: 17px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.calendar {
  &.monthview {
    .text-primary {
      color: var(--color-neutral-7) !important;
    }
  }
}

.date-nav {
  &.item-list {
    ul {
      margin: 0;
      padding: 0;
      text-align: left;

      .date-heading {
        display: inline-block;
        padding: 0 20px;
        vertical-align: middle;
        width: auto;
      }

      .heading {
        h3 {
          margin: 0;
        }
      }
    }
    padding-bottom: 28px;
  }
}

.view-filters {
  margin-top: -30px;
}

.views-submit-button {
  margin-top: 5px;
}

.form-item-field-eventtype-value {
  min-width: 200px;
}

body {
  &.page-events {
    background: var(--color-neutral-0);
  }
}

.ev-head-new {
  background: var(--color-neutral-1);
  //margin-bottom: 48px;
  padding: 48px 0 35px;

  h3 {
    color: var(--color-base);
    font-size: 24px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: normal;
    line-height: 1.17;
    margin-top: 0;
  }

  p {
    color: var(--color-base);
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1.43;
    opacity: .8;
  }

  a {
    margin-top: 12px;

    &.btn {
      float: right;
      text-transform: capitalize;
    }
  }
}

.ev-foot-new {
  padding: 39px 0 41px;
  background-color: $color-blue;
  margin: 64px 0 48px;
  text-align: center;

  h3 {
    color: var(--color-neutral-0);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: .88;
    margin-bottom: 18px;
    text-align: center;
  }

  p {
    opacity: .8;
    font-size: 13px;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: var(--color-neutral-0);
    margin-bottom: 22px;
    font-weight: 300;

    span {
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .row {
    display: block;
  }
}

.WSO-Happy-Hour {
  color: $color-red !important;
}

.views-field-field-event-date {
  &.WSO-Happy-Hour {
    time {
      color: $color-red !important;

      &:before {
        background-color: $color-red !important;
      }
    }
  }

  &.Other-Happy-Hour {
    time {
      color: $color-orange !important;

      &:before {
        background-color: $color-orange !important;
      }
    }
  }

  &.WSO-Annual-Conference {
    time {
      color: $seagreen_3c763d !important;

      &:before {
        background-color: $seagreen_3c763d !important;
      }
    }
  }

  &.WSO-Meetup {
    time {
      color: $color-green-100 !important;

      &:before {
        background-color: $color-green-100 !important;
      }
    }
  }

  &.Other-Webinar {
    time {
      color: $mediumslateblue_8355e3 !important;

      &:before {
        background-color: $mediumslateblue_8355e3 !important;
      }
    }
  }

  &.WSO-Webinar {
    time {
      color: $cornflowerblue_7376C2 !important;

      &:before {
        background-color: $cornflowerblue_7376C2 !important;
      }
    }
  }

  &.Other-Meetup {
    time {
      color: $deeppink_ff1493 !important;

      &:before {
        background-color: $deeppink_ff1493 !important;
      }
    }
  }

  &.Podcast {
    time {
      color: $skyblue_4fbfda !important;

      &:before {
        background-color: $skyblue_4fbfda !important;
      }
    }
  }

  &.Other-Conference {
    time {
      color: $rosybrown_BC8F8F !important;

      &:before {
        background-color: $rosybrown_BC8F8F !important;
      }
    }
  }
}

.Other-Happy-Hour {
  color: $color-orange !important;
}

.WSO-Annual-Conference {
  color: $seagreen_3c763d !important;
}

.WSO-Meetup {
  color: $color-green-100 !important;
}

.Other-Webinar {
  color: $mediumslateblue_8355e3 !important;
}

.WSO-Webinar {
  color: $cornflowerblue_7376C2 !important;
}

.Other-Meetup {
  color: $deeppink_ff1493 !important;
}

.Podcast {
  color: $skyblue_4fbfda !important;
}

.Other-Conference {
  color: $rosybrown_BC8F8F !important;
}

.ev-view-header {
  &-container {
    background: $color-blue;
    color: var(--color-neutral-0);
  }

  h3 {
    color: var(--color-neutral-0);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.19;
  }

  p {
    color: var(--color-neutral-0);
    font-size: 14px;
    line-height: 1.14;
    opacity: .8;
  }
}

.multi-item-carousel {
  .view-display-id-event_slider {
    padding: 0 50px;
  }

  .carousel-inner {
    >.item {
      transition: 500ms ease-in-out left;
    }

    .active {
      &.left {
        left: -33%;
      }

      &.right {
        left: 33%;
      }
    }

    .next {
      left: 33%;
    }

    .prev {
      left: -33%;
    }
  }

  .carouse-control {
    &.left {
      background-image: none;
    }

    &.right {
      background-image: none;
    }
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel {
    .carousel-inner {
      >.item {
        -webkit-backface-visibility: visible;
        -webkit-transform: none !important;
                backface-visibility: visible;
                transform: none !important;
        transition: 500ms ease-in-out all;
      }
    }
  }
}

.ev-slide-head {
  width: 100%;
  display: inline-block;
  padding: 5px 0 16px;
  border-bottom: 1px solid var(--color-neutral-2);

  .views-field-field-event-date {
    float: left;
    width: 24%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    background-color: var(--color-neutral-2);

    .wso-event-month {
      span {
        color: var(--color-neutral-7);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.14;
        text-align: center;
      }
    }

    .wso-event-day {
      span {
        @include responsive-prop(700, 800, font-weight);
        color: var(--color-base);
        font-size: 28px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: .4px;
        line-height: 1.14;
        text-align: center;
      }
    }
  }

  .views-field-title {
    float: right;
    width: 70%;
    padding: 5px 0;

    a {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    >a {
      color: var(--color-base);
      margin-bottom: -10px;
      padding: 0;
    }

    .wso-event-date {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: .2px;
      color: var(--color-base);

      span {
        @include responsive-prop(700, 800, font-weight);
      }
    }

    .wso-event-city {
      position: relative;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.14;
      letter-spacing: .2px;
      color: var(--color-base);
      padding-left: $side-gap;

      &:before {
        background-image: url(/themes/custom/porto_sub/images/events/icon-location.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 12px;
        left: 0;
        position: absolute;
        top: 2px;
        width: 9px;
      }
    }
  }
}

.ev-slide {
  padding: 0 12px;
}

.ev-slide-body {
  background-color: var(--color-neutral-0);
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  height: 420px;
  margin: 5px 0;
  padding: 28px 32px 86px;
  position: relative;
}

.ev-slide-content {
  .ev-slide_title {
    color: var(--color-base);
    font-size: 24px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.33;
    margin: 11px 0 12px;
  }

  .ev-slide_tag {
    a {
      position: relative;
      font-size: 10px;
      letter-spacing: .2px;
      color: var(--color-neutral-7);
      padding-left: 20px;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 24px;

      &:before {
        background-image: url(/themes/custom/porto_sub/images/events/icon-tag.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 12px;
        left: 0;
        position: absolute;
        top: 2px;
        width: 12px;
      }
    }
  }

  .ev-slide_description {
    color: var(--color-base);
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 1.57;
  }

  .ev-slide_btn {
    bottom: 28px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

.left {
  &.carousel-control {
    background: none;
    opacity: 1;
    text-shadow: none;
    width: auto;
    transform: translateY(calc(50% - 72px));
  }
}

.right {
  &.carousel-control {
    background: none;
    opacity: 1;
    text-shadow: none;
    width: auto;
    transform: translateY(calc(50% - 72px));
  }
}

.carousel-control {
  .icon {
    width: 48px;
    height: 48px;
    background-color: var(--color-neutral-0);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 50%;
    position: relative;

    &:before {
      color: $color-blue;
      font-size: 28px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ev-tabs {
  border-bottom: 2px solid var(--color-neutral-2);
  margin-bottom: 40px;
  background: var(--color-page-bg);

  .nav-tabs {
    border: none;

    > li {
      margin: 0;
      padding: 0 41px 0 0;

      a {
        border: none;
        background: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.11;
        letter-spacing: .2px;
        color: var(--color-neutral-7);
        padding: 10px 0;
        position: relative;

        &:hover {
          background: none;
          border: none;
          color: var(--color-neutral-7);
          font-size: 18px;
          font-weight: 500;
          letter-spacing: .2px;
          line-height: 1.11;
          padding: 10px 0;
        }

        &:focus {
          background: none;
          border: none;
          color: var(--color-neutral-7);
          font-size: 18px;
          font-weight: 500;
          letter-spacing: .2px;
          line-height: 1.11;
          padding: 10px 0;
        }

        &.active {
          border: none;
          font-size: 18px;
          @include responsive-prop(700, 800, font-weight);
          line-height: 1.11;
          letter-spacing: .2px;
          color: $color-blue;
          background: transparent;

          &:hover {
            border: none;
            font-size: 18px;
            @include responsive-prop(700, 800, font-weight);
            line-height: 1.11;
            letter-spacing: .2px;
            color: $color-blue;

            &:before {
              background: $color-blue;
              bottom: -2px;
              content: "";
              height: 2px;
              position: absolute;
              width: 100%;
            }
          }

          &:focus {
            border: none;
            font-size: 18px;
            @include responsive-prop(700, 800, font-weight);
            line-height: 1.11;
            letter-spacing: .2px;
            color: $color-blue;

            &:before {
              background: $color-blue;
              bottom: -2px;
              content: "";
              height: 2px;
              position: absolute;
              width: 100%;
            }
          }

          &:before {
            background: $color-blue;
            bottom: -2px;
            content: "";
            height: 2px;
            position: absolute;
            width: 100%;
          }
        }
      }
    }
  }
}

.page-events {
  .tab-content {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }
}

.ev-all {
  display: block;
  margin: 10px 0;
  border-radius: 10px;
  background-color: var(--color-neutral-0);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);

  .media-left {
    padding: 16px 24px;
  }

  .ev-all_date {
    position: relative;
    background: var(--color-neutral-2);
    border-radius: 50%;
    width: 64px;
    height: 64px;

    .wso-event-day {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;

      span {
        color: var(--color-base);
        font-size: 22px;
        font-weight: 700;
        letter-spacing: .4px;
        line-height: 1.18;
      }
    }

    .wso-event-dow {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 12px;

      span {
        color: var(--color-neutral-7);
        font-size: 9px;
        @include responsive-prop(700, 800, font-weight);
        letter-spacing: .4px;
        line-height: 1.11;
        text-transform: uppercase;
      }
    }
  }

  .media-body {
    padding: 21px 250px 21px 0;
    position: relative;
  }

  .ev-all_title {
    &,
    a {
      color: var(--color-base);
      font-size: 24px;
      font-stretch: normal;
      font-style: normal;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .2px;
      line-height: 1.33;
    }
  }

  .ev-all_cta {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);

    a {
      text-decoration: none;
      color: var(--color-base);
      display: block;
    }
  }

  .ev-all_time {
    position: relative;
    padding-left: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: .2px;
    color: var(--color-base);

    span {
      color: var(--color-base);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .2px;
      line-height: 1.14;
    }

    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 'fa-custom';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e861';
      bottom: 2px;
      height: 12px;
      left: 0;
      position: absolute;
      width: 12px;
    }
  }

  .ev-all_location {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: .2px;
    color: var(--color-base);
    position: relative;
    padding-left: 18px;

    &:before {
      background-image: url(/themes/custom/porto_sub/images/events/icon-location.png);
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 12px;
      left: 0;
      position: absolute;
      top: 2px;
      width: 9px;
    }
  }

  h3 {
    &.media-heading {
      line-height: 1;
    }
  }
}

.win {
  .ev-all {
    .media-body {
      padding: 29px 250px 21px 0;
    }

    .ev-all_location {
      &:before {
        top: 0;
      }
    }
  }
}

.ev-all_head {
  border-bottom: 3px solid $color-blue;
  margin: 38px 0 0;

  h3 {
    color: $color-blue;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.18;
    text-transform: uppercase;
  }
}

.ev-view-footer {
  //margin: 48px 0 64px;
  text-align: center;
  width: 100%;
}

.views-exposed-form {
  .views-exposed-widgets {
    .views-exposed-widget {
      padding: 1em 0 0 8px;

      &.views-submit-button {
        margin: 0;

        .form-submit {
          margin: 0;
          padding: 13px 32px;
        }
      }
    }
  }
}

.m-w-890 {
  margin: 0 auto;
  max-width: 890px;
}

.view-calendar {
  .pager {
    display: none;

    ul {
      margin: 0;
      padding: 0;
      text-align: left;

      li {
        display: inline;
        list-style-type: none;

        &.pager__item {
          &.pager__item--previous,
          &.pager__item--next {
            float: none;
            text-align: right;
            top: 0;
            width: auto;
            z-index: 1;
            font-size: 12px;
            right: 0;
            background: var(--color-neutral-0);
            position: relative;
            padding: 0;
            left: 0;

            a {
              text-decoration: none;
              color: inherit;
              @include responsive-prop(700, 800, font-weight);
              border: none;
              width: 36px;
              height: 36px;
              border-radius: 3px;
              background-color: var(--color-neutral-2);
              font-size: 0;
              margin: 0;
              padding: 0;
              line-height: 36px;
              vertical-align: middle;
              display: inline-block;

              &:before {
                content: "";
                height: 14px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 8px;
              }
            }
          }

          &.pager__item--previous {
            border-radius: 5px 0 0 5px;

            a:before {
              background-image: url(/themes/custom/porto_sub/images/events/shape-left.png);
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

          &.pager__item--next {
            border-radius: 0 5px 5px 0;

            a:before {
              background-image: url(/themes/custom/porto_sub/images/events/shape-right.png);
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

          &.pager__item--current {
            position: relative;
            top: 0;
            text-align: center;
            z-index: 0;
            display: inline-block;
            padding: 0 20px;
            vertical-align: middle;
            width: auto;
            color: var(--color-base);
            font-size: 24px;
            @include responsive-prop(700, 800, font-weight);
            letter-spacing: .2px;
            line-height: 1.17;
            margin: 0;
          }
        }
      }
    }
  }

  .view-header {
    margin-bottom: 30px;

    p {
      color: var(--color-base);
      font-size: 14px;
      line-height: 1.14;
      opacity: .8;
    }

    .pager {
      display: block;
      margin-top: 50px;
    }
  }

  .attachment-after {
    display: none;
  }
}

.popover {
  border: 0;
  box-shadow: 0 -8px 32px 0 rgba(var(--color-black--rgb),.08);

  &.bs-popover-bottom {
    margin-top: -10px;
  }

  .arrow {
    border: 0;

    &:before {
      border-bottom-color: var(--color-neutral-0);
      border-top-color: var(--color-neutral-0);
    }
  }

  .popover-body {
    padding: 18px 24px 0!important;
  }

  .views-field-title {
    &,
    a {
      color: var(--color-almost-black);
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .1px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }

  .btn {
    a {
      color: inherit;
    }
  }

  .pop-when {
    margin-top: 10px;
  }
}

@include media('<desktop') {
  .calendar-calendar {
    overflow-y: auto;
  }

  .view {
    .date-nav-wrapper {
      float: none;
      width: 100%;
    }
  }

  .view-calendar {
    .ev-view-header {
      padding: 0;
    }

    .view-filters {
      left: 0;
      position: relative;
      right: 0;
      top: 0;
    }
  }

  .hero-bg-drk {
    .infusion-field {
      padding: 15px;
    }

    .infusion-submit {
      padding: 15px;
      text-align: center;
    }

    form {
      .form-submit {
        float: none;
      }
    }
  }
}

@include media('<tablet') {
  .ev-tabs {
    .nav-tabs {
      border: none;
      padding: 0 $side-gap;
    }
  }

  .ev-view-header {
    padding: 0 $side-gap;

    p {
      line-height: 1.43;
    }
  }

  .tab-pane {
    &.active {
      padding: 0 $side-gap;
    }
  }

  .ev-head-new {
    .col-sm-10 {
      display: inline-block;
    }

    .btn {
      width: 100%;
    }
  }

  .ev-all {
    .media {
      display: block;
    }

    .media-body {
      padding: 0;

      div {
        .field-content {
          display: inline-block;
          padding: 15px $side-gap 25px;
          width: 100%;
        }
      }
    }

    .ev-all_cta {
      position: relative;
      right: 0;
      top: 10px;
      transform: none;
      width: 100%;
    }

    .ev-all_title {
      display: inline-block;
      font-size: 20px;
      line-height: 1.5;
      margin: 0 0 15px;
      padding: 0 $side-gap;
      width: 100%;
    }

    .ev-all_time {
      display: block;
      margin: 10px $side-gap 0;
      width: 100%;
    }

    .ev-all_location {
      display: block;
      margin: 10px $side-gap 0;
      width: 100%;
    }
    width: 100%;

    .ev-all_date {
      margin: 0 auto;
    }
  }

  .hero-bg-drk {
    h1 {
      font-size: 36px;
      padding-top: 50px;
    }
    min-height: 250px;
  }

  .event-cal-intro {
    min-height: 250px;
  }

  .media-left {
    display: inline-block;
    width: 100%;
  }

  .media-right {
    display: inline-block;
    width: 100%;
  }

  .media-body {
    display: inline-block;
    width: 100%;
  }

  .ev-foot-new {
    h3 {
      font-size: 28px;
      line-height: 1.3;
      padding: 0 $side-gap;
    }

    p {
      padding: 0 $side-gap;
    }
  }

  .form-type-select {
    select {
      &.form-select {
        background: none;
        border: 1px solid var(--color-neutral-4);
        border-radius: 3px;
        box-shadow: none;
        color: var(--color-base);
        font-size: 14px;
        font-weight: 400;
        height: 48px;
        letter-spacing: .2px;
        line-height: 48px;
        margin: 0;
        padding: 0 24px;
        position: relative;
      }
    }

    &:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid var(--color-neutral-7);
      content: "";
      height: 0;
      position: absolute;
      right: 20px;
      transform: translateY(-27px);
      visibility: visible !important;
      width: 0;
    }
  }
}

@include media('>=large-desktop') {
  .page-events {
    .container {
      max-width: 990px;
    }

    header {
      .container {
        max-width: 1170px;
      }
    }
  }

  .event-cal-intro {
    .infusion-form {
      .container {
        max-width: 864px;
      }
    }
  }

  .hero-bg-drk {
    .infusion-field {
      max-width: 248px;
      padding: 0 8px 0 0;
    }

    .infusion-submit {
      padding: 0;
    }
  }

  .ev-head-new {
    .col-sm-20 {
      padding: 0 55px;
    }
  }
}

.popover {
  &.bottom {
    margin-top: 0;

    >.arrow {
      border-bottom-color: var(--color-neutral-0);

      &:after {
        border-top-width: 0;
        border-width: 11px;
        content: "";
        margin-left: -11px;
        top: 0;
      }
    }
  }

  &.fade {
    &.in {
      border: none;
      box-shadow: 0 -8px 32px 0 rgba(0, 0, 0, .08);
      padding: 0;
    }
  }

  >.arrow {
    border-width: 10px;
  }
}

@include media('>=tablet', '<desktop') {
  .view-calendar {
    .view-filters {
      top: 114px;
    }
  }

  .ev-view-header {
    padding: 0 30px;
  }

  .ev-tabs {
    .nav-tabs {
      padding: 0 30px;
    }
  }

  .tab-pane {
    &.active {
      padding: 0 30px;
    }
  }
}

.pop-event-type {
  position: relative;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: .4px;
  padding-left: 13px;
  text-transform: uppercase;

  &:before {
    background-color: var(--color-neutral-0);
    border: 2px solid $color-blue;
    border-radius: 2px;
    bottom: 1px;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    width: 8px;
  }

  &.WSO-Happy-Hour {
    &:before {
      border-color: $color-red;
    }
  }

  &.Other-Happy-Hour {
    &:before {
      border-color: $color-orange;
    }
  }

  &.WSO-Annual-Conference {
    &:before {
      border-color: $seagreen_3c763d;
    }
  }

  &.WSO-Meetup {
    &:before {
      border-color: $color-green-100;
    }
  }

  &.Other-Webinar {
    &:before {
      border-color: $mediumslateblue_8355e3;
    }
  }

  &.WSO-Webinar {
    &:before {
      border-color: $cornflowerblue_7376C2;
    }
  }

  &.Other-Meetup {
    &:before {
      border-color: $deeppink_ff1493;
    }
  }

  &.Podcast {
    &:before {
      border-color: $skyblue_4fbfda;
    }
  }

  &.Other-Conference {
    &:before {
      border-color: $rosybrown_BC8F8F;
    }
  }
}

.pop-event-title {
  color: var(--color-base);
  font-size: 16px;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .1px;
  line-height: 1.5;
}

.pop-when {
  color: var(--color-neutral-7);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.17;
}

.pop-date {
  position: relative;
  padding-left: 20px;

  &:before {
    background-image: url(/themes/custom/porto_sub/images/events/icon-pop-date.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    width: 10px;
  }
}

.pop-time {
  position: relative;
  padding-left: 20px;

  &:before {
    background-image: url(/themes/custom/porto_sub/images/events/icon-pop-time.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    width: 10px;
  }
}

.btn {
  &.btn-other {
    &.pop-btn {
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      margin-left: -24px;
      margin-top: 10px;
      padding: 14.6px 0;
      text-transform: uppercase;
      width: calc(100% + 48px);
    }
  }
}

.popover-content {
  padding: 18px 24px 0 !important;

  .views-field-field-event-date {
    margin-top: 10px;
  }
}

@include media('>=tablet') {
  .ev-all {
    .ev-all_time {
      &:after {
        background: var(--color-neutral-2);
        content: "";
        display: inline-block;
        height: 14px;
        margin: 0 10px -2px !important;
        position: relative;
        width: 1px;
      }
    }
  }
}
