.block__bundle__sidebar_special .field-name-field-bottom-link a:focus {
  outline: 0
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-default {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-default:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-default:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-default:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-default:disabled {
  background-color: var(--color-neutral-1)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-filled,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-filled:hover,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-filled:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-filled:focus,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-filled:disabled,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-danger {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-danger:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-danger:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-danger:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-danger:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines:hover,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines:focus,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines:disabled,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono:hover,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono:focus,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono:disabled,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono:disabled {
  background-color: var(--color-neutral-1)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono.danger,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono.danger {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono.danger:hover,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono.danger:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono.danger:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono.danger:focus,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono.danger:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono.danger:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines.mono.danger:disabled,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-secondary.mono.danger:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-other,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success-ghost,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-transparency {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-other:hover,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success-ghost:hover,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-transparency:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-other:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-other:focus,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success-ghost:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success-ghost:focus,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-transparency:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-transparency:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-other:disabled,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-success-ghost:disabled,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-transparency:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.bg-white {
  background: var(--color-neutral-0)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.block__bundle__sidebar_special .field-name-field-bottom-link a:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.block__bundle__sidebar_special .field-name-field-bottom-link a:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines:active,
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lines:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-xs {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.block__bundle__sidebar_special .field-name-field-bottom-link a {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
  color: var(--color-neutral-0)!important
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-md {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-lg {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.block__bundle__sidebar_special .field-name-field-bottom-link a.btn-xl {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.block__bundle__sidebar_special img {
  max-width: 100%;
  height: auto
}
.block__bundle__sidebar_special p:last-child {
  margin-bottom: 0
}
.block__bundle__sidebar_special .sidebar-special__link {
  position: relative
}
.block__bundle__sidebar_special .sidebar-special__link:hover {
  text-decoration: none
}
.block__bundle__sidebar_special .sidebar-special__link:after {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
  border: var(--color-neutral-0) 1px solid;
  opacity: .5
}
.block__bundle__sidebar_special .sidebar-special__link .sidebar-special__title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #ff0
}
.block__bundle__sidebar_special .sidebar-special__link .sidebar-special__message-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .3);
  text-align: center;
  color: var(--color-neutral-0);
  padding: 20px 40px
}
.block__bundle__sidebar_special .sidebar-special__link .sidebar-special__message-container p {
  font-size: 11px;
  line-height: 1.2;
  margin-bottom: 20px
}
/*# sourceMappingURL=sidebar-special.component.css.map */
