@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';
//@import "./components/common-styles/helpers/sprite-png";

.block__bundle__sidebar_special {
  img {
    max-width: 100%;
    height: auto;
  }

  p:last-child{
    margin-bottom: 0;
  }

  // Boxed styles
  .sidebar-special__link {
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &:after {
      content: '';
      display: block;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      position: absolute;
      top: 10px;
      left: 10px;
      border: var(--color-neutral-0) 1px solid;
      opacity: 0.5;
    }

    .sidebar-special__title {
      font-size: 22px;
      margin-bottom: 20px;
      color: yellow;
    }

    .sidebar-special__message-container {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: rgba(0,0,0, 0.3);
      text-align: center;
      color: var(--color-neutral-0);
      padding: 20px 40px;

      p {
        font-size: 11px;
        line-height: 1.2;
        margin-bottom: 20px;
      }
    }
  }

  // Card styles
  .field-name-field-bottom-link {
    a {
      @extend %btn, .btn-info;
      @extend %btn, .btn-sm;
      color: var(--color-neutral-0) !important;
    }
  }
}
