<div class="user-messages ms-2">
  <ul class="notifications">
    <li>
      <div class="dropdown private-message-notification-wrapper {{ unread_notification_class }}">
        <a href="/messages" class="notification-icon" id="dropdownMessages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="icon icon-envelope"></i>
          {{ pm_inbox_count }}
        </a>
        <div id="dropdown-messages" class="dropdown-menu dropdown-messages" aria-labelledby="dropdownMessages">
          <ul class="header__messages__items">
            <li class="messages__header">
              <span>
                <a href="/messages">{{ 'Messages'|t }}</a>
                &
                <a href="/messages/system">{{ 'Notifications'|t }}</a>
              </span>
            </li>

            <li class="messages__header messages__header--filter pe-0">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link disabled ps-0" href="#" tabindex="-1" aria-disabled="true">{{ 'Show:'|t }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link--filter active" href="#" data-index="0">{{ 'All'|t }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link--filter" href="#" data-index="2"><i class="icon icon-envelope"></i> {{ 'Messages'|t }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link--filter" href="#" data-index="1"><i class="icon icon-bell-alt"></i> {{ 'Notifications'|t }}</a>
                </li>
              </ul>
            </li>

            <li class="loading messages__item">
              <span class="messages__link">{{ 'Loading...'|t }} <img src="/themes/custom/porto_sub/images/animation/line-loader.gif" /></span>
            </li>
            <ul class="content_inner_ul">
              {# Placeholder for the view. #}
            </ul>
            <li class="messages__footer">
              <a href="/messages">{{ 'See All'|t }}</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
