.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile {
  height: 0;
  width: 100%;
  visibility: hidden;
  position: relative;
  display: block;
  background-color: #fff;
  box-shadow: 0 -2px 4px 0 rgba(24, 158, 218, .1019607843);
  padding: 9px 16px 11px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details {
  width: 100%
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details .details__group .details__prices {
  margin-top: 4px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details .details__group .details__prices .unlimited-access__pay {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin-right: 6px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details .details__group .details__prices .unlimited-access__full_price {
  color: rgba(47, 47, 47, .7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-decoration: line-through rgba(47, 47, 47, .7) 1px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details .details__group .unlimited-access__countdown_timer,
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details .details__group .unlimited-access__countdown_timer .countdown-timer-wrapper {
  margin: 0
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details .details__group .unlimited-access__countdown_timer .countdown-timer__icon.icon-exclamation-red svg {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  transform: translateY(-2px)
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details .details__group .unlimited-access__countdown_timer .countdown-timer__text {
  color: rgba(47, 47, 47, .7);
  font-family: Lato,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__details .details__group .unlimited-access__countdown_timer .counter__item {
  display: block;
  color: #2f2f2f;
  font-family: Lato,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget-mobile .unlimited-access__enroll a {
  width: auto;
  height: 100%;
  min-height: 40px;
  max-height: 40px;
  max-width: 129px;
  min-width: 129px;
  font-family: Lato,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0
}
@media (max-width: 991px) {
  .hero-banner__floating-widget__sticky .unlimited-access__content.unlimited-access__content-widget-mobile {
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 102;
    animation-name: float;
    animation-duration: 250ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    height: 100%;
    max-height: 60px
  }
  @keyframes float {
    0% {
      height: 0
    }
    25% {
      height: 20px
    }
    50% {
      height: 40px
    }
    75% {
      height: 60px
    }
    100% {
      height: 100%
    }
  }
}
/*# sourceMappingURL=paragraph.widget-mobile-unlimited-access-with-pay-option.component.css.map */
