@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

// States.
.paragraph--type--unlimited-access-with-pay-option {
  .unlimited-access__content.unlimited-access__content-widget-mobile {
    height: 0;
    width: 100%;
    visibility: hidden;
    position: relative;
    display: block;
    background-color: $color-white-100;
    box-shadow: 0px -2px 4px 0px #189EDA1A;
    padding: 9px 16px 11px;
  }
}

@include media('<desktop') {
  .hero-banner__floating-widget__sticky {
    .unlimited-access__content.unlimited-access__content-widget-mobile {
      visibility: visible;
      position: fixed;
      bottom: 0; left: 0;
      z-index: 102;

      animation-name: float;
      animation-duration: 250ms;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-timing-function: linear;

      height: 100%;
      max-height: 60px;

      @keyframes float {
        0% {height: 0;}
        25% {height: 20px;}
        50% {height: 40px;}
        75% {height: 60px;}
        100% {height: 100%;}
      }
    }
  }
}

// Base styling.
.paragraph--type--unlimited-access-with-pay-option {
  .unlimited-access__content.unlimited-access__content-widget-mobile {
    .unlimited-access__details {
      width: 100%;

      .details__group {
        .details__prices {
          margin-top: 4px;

          .unlimited-access__pay {
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0;
            margin-right: 6px;
          }
          .unlimited-access__full_price {
            color: $color-dark-70;
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0;
            text-align: center;
            text-decoration: line-through $color-dark-70 1px;
          }
        }

        .unlimited-access__countdown_timer {
          &, .countdown-timer-wrapper {
            margin: 0;
          }

          .countdown-timer__icon.icon-exclamation-red svg {
            width: 12px;
            height: 12px;
            vertical-align: middle;
            transform: translateY(-2px);
          }

          .countdown-timer__text {
            color: $color-dark-70;
            font-family: Lato, sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0;
            text-align: left;
          }
          .counter__item {
            display: block;
            color: $color-dark-100;
            font-family: Lato, sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0;
            text-align: left;
          }
        }
      }
    }

    .unlimited-access__enroll {
      a {
        width: auto;
        height: 100%;
        min-height: 40px;
        max-height: 40px;
        max-width: 129px;
        min-width: 129px;

        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
  }
}
