{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}

{%
  set classes = [
  'entity',
  'entity-paragraphs-item',
  'paragraphs-item-' ~ paragraph.bundle|clean_class,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  extra_class,
]
%}

{{ attach_library('porto_sub/paragraph.widget-mobile-unlimited-access-with-pay-option.component') }}

{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="unlimited-access__content unlimited-access__content-widget-mobile">
        <div class="d-flex flex-column justify-content-start align-items-start">

          <div class="unlimited-access__details d-flex flex-row justify-content-between align-items-start">
            <div class="details__group d-flex flex-column justify-content-start align-items-start">
              <div class="details__prices d-flex justify-content-start align-items-end">
                <div class="unlimited-access__pay">
                  {{ field_single_pay }}
                </div>
                <div class="unlimited-access__full_price">
                  {{ field_full_price }}
                </div>
              </div>

              {% if field_countdown_to_next_friday or field_offer_expiration_date %}
                <div class="unlimited-access__countdown_timer">
                  {% include '@storybook/02-molecules/countdown-timers/countdown-timer-base/countdown-timer-base.twig' with {
                      'format': 'days',
                      'field_icon': 'exclamation',
                      'field_offer_expiration_date': field_offer_expiration_date,
                    }
                  %}
                </div>
              {% endif %}
            </div>

            {% if field_cta %}
              <div class="unlimited-access__enroll">
                {% include '@storybook/01-atoms/style-guide-2023/button/button.twig' with {
                    'field': field_cta,
                    'btnClasses': 'btn--primary-xlg',
                } %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
