<div class="vud-widget vud-widget-wso" id="widget-node-347774">
  <ul class="list-unstyled list-inline">
    <li>
      <a href="#" data-link="/vote/node/347774/1/userpoints_karma/wso/U4aUxBlN71em1EWYhCVBpoSMRbCqrOD8dTiwclYYItw/nojs/useful" class="vud-link-up ctools-use-ajax options-toggle">
        <span id="vote-up-node-347774" title="Award this user a silver banana!" class="down-active"><i class="icon-silver-banana"></i></span>
        <span class="badge badge-success">233</span>
      </a>
      <div class="vote-links up-links hidden">
        <div class="vud-arrow"></div>
        <ul class="list-inline vud-vote-select">
          <li class="vud-links-processed">
            <a href="# " data-link="/vote/node/347774/1/userpoints_karma/wso/U4aUxBlN71em1EWYhCVBpoSMRbCqrOD8dTiwclYYItw/nojs/useful" class="vud-link-up ctools-use-ajax" title="Helpful">
              <span class="badge badge-success">224</span><span title="Helpful" class="vote-icon">Helpful</span>
            </a>
          </li>
          <li class="vud-links-processed">
            <a href="# " data-link="/vote/node/347774/1/userpoints_karma/wso/U4aUxBlN71em1EWYhCVBpoSMRbCqrOD8dTiwclYYItw/nojs/funny" class="vud-link-up ctools-use-ajax" title="Funny">
              <span class="badge badge-success">9</span>
              <span title="Funny" class="vote-icon">Funny</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#" data-link="/vote/node/347774/-1/userpoints_karma/wso/WOYQ7s4LHrpRWlvHvRKMw-5uZFpmvoxt6NBXCyb_m6E/nojs/not_helpful" class="vud-link-down ctools-use-ajax options-toggle">
        <span id="vote-down-node-347774" class="down-inactive" title="Throw monkey shit at this user!"><i class="icon-poop"></i></span>
        <span class="badge badge-success">5</span>
      </a>
      <div class="vote-links down-links hidden">
        <div class="vud-arrow"></div>
        <ul class="list-inline vud-vote-select">
          <li>
            <a href="# " data-link="/vote/node/347774/-1/userpoints_karma/wso/WOYQ7s4LHrpRWlvHvRKMw-5uZFpmvoxt6NBXCyb_m6E/nojs/not_helpful" class="vud-link-down ctools-use-ajax" title="Not helpful">
              <span class="badge">0</span>
              <span title="Not helpful" class="vote-icon">Not helpful</span>
            </a>
          </li>
          <li>
            <a href="# " data-link="/vote/node/347774/-1/userpoints_karma/wso/WOYQ7s4LHrpRWlvHvRKMw-5uZFpmvoxt6NBXCyb_m6E/nojs/low_quality" class="vud-link-down ctools-use-ajax" title="Low Quality">
              <span class="badge">0</span>
              <span title="Low Quality" class="vote-icon">Low Quality</span>
            </a>
          </li>
          <li>
            <a href="# " data-link="/vote/node/347774/-1/userpoints_karma/wso/WOYQ7s4LHrpRWlvHvRKMw-5uZFpmvoxt6NBXCyb_m6E/nojs/inaccurate" class="vud-link-down ctools-use-ajax" title="Inaccurate">
              <span class="badge">0</span>
              <span title="Inaccurate" class="vote-icon">Inaccurate</span>
            </a>
          </li>
          <li>
            <a href="# " data-link="/vote/node/347774/-1/userpoints_karma/wso/WOYQ7s4LHrpRWlvHvRKMw-5uZFpmvoxt6NBXCyb_m6E/nojs/spam" class="vud-link-down ctools-use-ajax" title="Spam">
              <span class="badge">0</span>
              <span title="Spam" class="vote-icon">Spam</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
