.vud-widget-wso {
  position: relative
}
.vud-widget-wso ul {
  margin-bottom: 0
}
.vud-widget-wso ul.list-unstyled.list-inline {
  display: flex
}
.vud-widget-wso ul .ajax-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block
}
.vud-widget-wso ul .ajax-progress .throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.vud-widget-wso ul li.options-toggle {
  position: relative;
  padding: 0
}
.vud-widget-wso ul li.options-toggle + li {
  padding-left: 0
}
.vud-widget-wso ul li.options-toggle .options-toggle-container,
.vud-widget-wso ul li.options-toggle a {
  display: flex;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center
}
.vud-widget-wso .badge {
  font-size: 10px;
  padding: 0 7px;
  line-height: 18px;
  background: var(--color-neutral-3);
  color: var(--color-neutral-7);
  margin-left: 5px
}
.vud-widget-wso .up-active,
.vud-widget-wso .up-inactive {
  display: inline-block;
  height: 19px
}
.darkmode .vud-widget-wso .up-active,
.darkmode .vud-widget-wso .up-inactive {
  opacity: .7
}
.vud-widget-wso .up-active:before,
.vud-widget-wso .up-inactive:before {
  display: inline-block;
  content: "";
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -108px -64px;
  width: 23px;
  height: 19px
}
.vud-widget-wso .up-active + .badge {
  background-color: #0cb930;
  color: var(--color-neutral-0)
}
.vud-widget-wso .down-active,
.vud-widget-wso .down-inactive {
  display: inline-block;
  height: 18px
}
.vud-widget-wso .down-active:before,
.vud-widget-wso .down-inactive:before {
  display: inline-block;
  content: "";
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -164px -141px;
  width: 19px;
  height: 18px
}
.vud-widget-wso .down-active + .badge {
  background-color: #f04944;
  color: var(--color-neutral-0)
}
.vud-widget-wso .vote-links {
  background: var(--color-neutral-0);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 1000;
  width: 110px
}
.darkmode .vud-widget-wso .vote-links {
  border: 1px solid rgba(255, 255, 255, .2);
  box-shadow: 0 5px 10px rgba(255, 255, 255, .2)
}
.vud-widget-wso .vote-links .badge {
  margin-right: 5px;
  margin-left: 0;
  line-height: 16px;
  max-height: 16px;
  font-size: 8px
}
.vud-widget-wso .vote-links.up-links {
  left: -30px;
  top: -75px
}
.vud-widget-wso .vote-links.up-links .badge {
  background-color: #0cb930;
  color: var(--color-neutral-0)
}
.vud-widget-wso .vote-links.down-links {
  right: -20px;
  top: -122px
}
.comment .vud-widget-wso .vote-links.down-links {
  right: 0
}
.vud-widget-wso .vote-links.down-links .badge {
  background-color: #f04944;
  color: var(--color-neutral-0)
}
.vud-widget-wso .vote-links li,
.vud-widget-wso .vote-links li a {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start!important;
  font-size: 12px;
  color: #9db2bc;
  align-items: center
}
.darkmode .vud-widget-wso .vote-links li,
.darkmode .vud-widget-wso .vote-links li a {
  color: #c0beba
}
.vud-widget-wso .vote-links li:hover {
  background: var(--color-page-bg)
}
.vud-widget-wso .vote-links .vud-arrow {
  border-color: rgba(0, 0, 0, .25) transparent transparent;
  left: 50%;
  border-width: 11px 11px 0;
  margin-left: -11px;
  bottom: -11px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid
}
.darkmode .vud-widget-wso .vote-links .vud-arrow {
  border-top-color: rgba(255, 255, 255, .25)
}
.darkmode .vud-widget-wso .vote-links .vud-arrow:after {
  border-top-color: #1c1c21!important
}
.vud-widget-wso .vote-links .vud-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: "";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0!important;
  border-top-color: #fff!important;
  border: 10px solid transparent
}
.vud-widget-wso .vote-links .vud-vote-select {
  width: 100%;
  padding: 5px
}
.not-logged-in .vud-widget-wso ul li.options-toggle + li {
  margin-left: 5px
}
.not-logged-in .vud-widget-wso ul li.options-toggle > span {
  display: flex;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center
}
.total-votes-wso {
  color: var(--color-base);
  font-weight: 700
}
.vud-term-table {
  border: 1px solid #dcf3ff;
  float: right;
  margin: .5em 0 .5em 1em;
  width: 40em
}
.vote-widget-logged-in {
  padding: 0
}
@media (min-width: 992px) {
  .vud-widget-wso ul li.options-toggle .options-toggle-container {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: var(--color-base);
    border: 1px solid var(--color-neutral-3);
    height: 33px;
    min-width: 50px;
    border: 0
  }
  .vud-widget-wso ul li.options-toggle .options-toggle-container:hover {
    border-color: var(--color-neutral-3);
    color: var(--color-base);
    box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
  }
  .vud-widget-wso ul li.options-toggle .options-toggle-container:active,
  .vud-widget-wso ul li.options-toggle .options-toggle-container:focus {
    border-color: var(--color-neutral-3);
    box-shadow: none
  }
  .vud-widget-wso ul li.options-toggle .options-toggle-container:disabled {
    background-color: var(--color-neutral-1)
  }
  .comment .vud-widget-wso ul li.options-toggle .options-toggle-container {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 20px
  }
  .comment .vud-widget-wso ul li.options-toggle .options-toggle-container:hover {
    box-shadow: none
  }
  .not-logged-in .vud-widget-wso ul li.options-toggle {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: var(--color-base);
    border: 1px solid var(--color-neutral-3);
    height: 33px;
    min-width: 50px;
    border: 0
  }
  .not-logged-in .vud-widget-wso ul li.options-toggle:hover {
    border-color: var(--color-neutral-3);
    color: var(--color-base);
    box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
  }
  .not-logged-in .vud-widget-wso ul li.options-toggle:active,
  .not-logged-in .vud-widget-wso ul li.options-toggle:focus {
    border-color: var(--color-neutral-3);
    box-shadow: none
  }
  .not-logged-in .vud-widget-wso ul li.options-toggle:disabled {
    background-color: var(--color-neutral-1)
  }
  .not-logged-in .comment .vud-widget-wso ul li.options-toggle {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 20px
  }
  .total-votes-wso {
    font-weight: 800
  }
}
@media (max-width: 991px) {
  .vud-widget-wso > ul {
    padding: .375rem 5px;
    font-size: 1rem;
    border-radius: .25rem;
    color: var(--color-base);
    border: 1px solid var(--color-neutral-3);
    height: 33px;
    border: 0
  }
  .vud-widget-wso > ul:hover {
    border-color: var(--color-neutral-3);
    color: var(--color-base);
    box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
  }
  .vud-widget-wso > ul:active,
  .vud-widget-wso > ul:focus {
    border-color: var(--color-neutral-3);
    box-shadow: none
  }
  .vud-widget-wso > ul:disabled {
    background-color: var(--color-neutral-1)
  }
  .comment .vud-widget-wso > ul {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 20px
  }
  .vud-widget-wso > ul:hover {
    background: 0 0
  }
  .not-logged-in .vud-widget-wso ul li.options-toggle+li,
  .vud-widget-wso ul li.options-toggle+li {
    border-left: var(--color-neutral-3) 1px solid;
    margin-left: 5px;
    padding-left: 10px
  }
  .not-logged-in .comment .vud-widget-wso ul li.options-toggle + li {
    border-left: 0
  }
}
@media (max-width: 575px) {
  .adminimal-admin-toolbar .post-footer {
    flex-wrap: wrap!important
  }
  .adminimal-admin-toolbar .vud-widget-wso {
    float: left!important;
    margin-top: 10px
  }
}
/*# sourceMappingURL=vud-widget.component.css.map */
