@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";
@import "./components/common-styles/helpers/sprite-png";

.vud-widget-wso {
  position: relative;

  > ul {
    @include media('<desktop') {
      @include btn-secondary('sm');
      height: 33px;
      padding-left: 5px;
      padding-right: 5px;
      border: 0;

      .comment & {
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
        height: 20px;
      }

      &:hover {
        background: transparent;
      }
    }
  }

  ul {
    margin-bottom: 0;

    &.list-unstyled.list-inline {
      display: flex;
    }

    .ajax-progress {
      @include absolute-center();
      display: inline-block;

      .throbber {
        @include absolute-center();
      }
    }

    // Buttons
    li.options-toggle {
      position: relative;
      padding: 0;

      .options-toggle-container {
        @include media('>=desktop') {
          @include btn-secondary('sm');
          height: 33px;
          min-width: 50px;
          border: 0;

          .comment & {
            border: 0;
            padding-top: 0;
            padding-bottom: 0;
            height: 20px;

            &:hover {
              box-shadow: none;
            }
          }
        }
      }

      & + li {
        padding-left: 0;

        @include media('<desktop') {
          border-left: var(--color-neutral-3) 1px solid;
          margin-left: 5px;
          padding-left: 10px;
        }
      }

      a,
      .options-toggle-container {
        display: flex;
        height: 100%;
        align-content: center;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .badge {
    font-size: 10px;
    padding: 0 7px;
    line-height: 18px;
    background: var(--color-neutral-3);
    color: var(--color-neutral-7);
    margin-left: 5px;
  }

  .up {
    &-inactive,
    &-active {
      display: inline-block;
      @include sprite-height($silver-banana);

      .darkmode & {
        opacity: 0.7;
      }

      &:before {
        display: inline-block;
        content: '';
        @include sprite($silver-banana);
      }
    }

    &-active + .badge {
      background-color: $color-green-100;
      color: var(--color-neutral-0);
    }
  }

  .down {
    &-inactive,
    &-active {
      display: inline-block;
      @include sprite-height($poop);

      &:before {
        display: inline-block;
        content: '';
        @include sprite($poop);
      }
    }

    &-active + .badge {
      background-color: $color-red;
      color: var(--color-neutral-0);
    }
  }

  // Popup
  .vote-links {
    background: var(--color-neutral-0);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1000;
    width: 110px;

    .darkmode & {
      border: 1px solid rgba(255, 255, 255, .2);
      box-shadow: 0 5px 10px rgba(255, 255, 255, .2);
    }

    .badge {
      margin-right: 5px;
      margin-left: 0;
      line-height: 16px;
      max-height: 16px;
      font-size: 8px;
    }

    &.up-links {
      left: -30px;
      top: -75px;

      .badge {
        background-color: $color-green-100;
        color: var(--color-neutral-0);
      }
    }

    &.down-links {
      right: -20px;
      top: -122px;

      @at-root .comment .vud-widget-wso .vote-links.down-links {
        right: 0;
      }

      .badge {
        background-color: $color-red;
        color: var(--color-neutral-0);
      }
    }

    li {
      &,
      a {
        white-space: nowrap;
        display: flex;
        justify-content: flex-start !important;
        font-size: 12px;
        @include font-color-grey-darkmode;
        align-items: center;
      }

      &:hover {
        background: var(--color-page-bg);
      }
    }

    .vud-arrow {
      border-color: transparent;
      left: 50%;
      border-width: 11px;
      margin-left: -11px;
      border-bottom-width: 0;
      border-top-color: rgba(0, 0, 0, .25);
      bottom: -11px;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;

      .darkmode & {
        border-top-color: rgba(255, 255, 255, .25);

        &:after {
          border-top-color: $color-neutral-0--dark !important;
        }
      }

      &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        content: '';
        border-width: 10px;
        bottom: 1px;
        margin-left: -10px;
        border-bottom-width: 0 !important;
        border-top-color: $color-neutral-0 !important;
      }
    }

    .vud-vote-select {
      width: 100%;
      padding: 5px;
    }
  }
}

.not-logged-in {
  .vud-widget-wso ul li.options-toggle  {
    @include media('>=desktop') {
      @include btn-secondary('sm');
      height: 33px;
      min-width: 50px;
      border: 0;
    }

    & + li {
      margin-left: 5px;

      @include media('<desktop') {
        border-left: var(--color-neutral-3) 1px solid;
        margin-left: 5px;
        padding-left: 10px;
      }
    }

    > span {
      display: flex;
      height: 100%;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
  }

  .comment {
    .vud-widget-wso ul li.options-toggle  {
      @include media('>=desktop') {
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
        height: 20px;
      }

      & + li {
        @include media('<desktop') {
          border-left: 0;
        }
      }
    }
  }
}

.adminimal-admin-toolbar {
  @include media('<phone') {
    .post-footer {
      flex-wrap: wrap !important;
    }

    .vud-widget-wso {
      float: left !important;
      margin-top: 10px;
    }
  }
}

// Todo: review. Do we need it?
.total-votes-wso {
  color: var(--color-base);
  @include responsive-prop(700, 800, font-weight);
}

.vud-term-table {
  border: 1px solid $aliceblue_dcf3ff;
  float: right;
  margin: .5em 0 .5em 1em;
  width: 40em;
}

.vote-widget-logged-in {
  padding: 0;
}
