{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field-name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

<div class="container">
  <div class="d-block d-lg-none mb-4">
    <div class="dropdown bs-dropdown-as-select">
      <button class="btn btn-primary dropdown-toggle btn-xl" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ vertical_tabs_titles[0] }}
      </button>
      <ul class="dropdown-menu">
        {% for vertical_tabs_title in vertical_tabs_titles %}
          {% set tab_id = 'vertical-tab-item-' ~ pids[loop.index - 1] ~ '-' ~ loop.index %}
          <li>
            <a class="dropdown-item" href="#v-pills-{{ tab_id }}">
              {{ vertical_tabs_title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="d-lg-flex align-items-start">
    <div class="col-lg-7 nav flex-column nav-pills d-none d-lg-flex" role="tablist" aria-orientation="vertical">
      {% for vertical_tabs_title in vertical_tabs_titles %}
        {% set active_class = loop.index == 1 ? 'active': '' %}
        {% set aria_state = loop.index == 1 ? 'true': 'false' %}
        {% set tab_id = 'vertical-tab-item-' ~ pids[loop.index - 1] ~ '-' ~ loop.index %}
        <button class="nav-link {{ active_class }}" id="v-pills-{{ tab_id }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ tab_id }}" type="button" role="tab" aria-controls="v-pills-{{ tab_id }}" aria-selected="{{ aria_state }}">
          {{ vertical_tabs_title }}
        </button>
      {% endfor %}
    </div>

    <div class="tab-content col-lg-17">
      {% for item in items %}
        {% set active_class = loop.index == 1 ? 'show active': '' %}
        {% set tab_id = 'vertical-tab-item-' ~ pids[loop.index - 1] ~ '-' ~ loop.index %}
        <div class="tab-pane fade {{ active_class }}" id="v-pills-{{ tab_id }}" role="tabpanel" aria-labelledby="v-pills-{{ tab_id }}-tab">
          <div{{ item.attributes }}>{{ item.content }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<section class="frontpage-logos-strip section section--divider bg-mutted-soft hidden-sm hidden-xs text-center">
  <img loading="lazy" class="img-responsive" src="/themes/custom/porto_sub/images/companies/white-logo-strip2.png" alt="" width="1440" height="66">
</section>

