{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}

<ul class="wso-team-sites__list">
  {% for item in items %}
    <li class="wso-team-sites__item">
      {% set url = url_items[loop.index - 1] %}

      {% if 'twitter' in url %}
        {% set icon_class = 'twitter' %}
      {% elseif 'facebook' in url %}
        {% set icon_class = 'facebook' %}
      {% elseif 'linkedin' in url %}
        {% set icon_class = 'linkedin' %}
      {% else %}
        {% set icon_class = 'link-ext' %}
      {% endif %}

      <a href="{{ url }}" target="_blank" class="wso-team-sites__link icon icon-{{ icon_class }}" rel="nofollow"><span class="util-visually-hidden">{{ item.content['#title'] }}</span></a>
    </li>
  {% endfor %}
</ul>
