{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field-name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

<div{{ attributes.addClass(classes, 'field--items') }}>
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {% for item in items %}
        {% set tab_name = 'tab-item-' ~ item.tab_id %}
        <li class="nav-item" role="presentation">
          {% if item.data_url %}
            <button class="nav-link ajax-tab" id="{{ tab_name }}-tab" data-ajax-url="{{ item.data_url }}" type="button" role="tab">{{ item.tab_title }}</button>
          {% else %}
            <button class="nav-link {{ item.tab_active_class }}" id="{{ tab_name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ tab_name }}" type="button" role="tab" aria-controls="{{ tab_name }}" aria-selected="{{ item.tab_is_selected }}">{{ item.tab_title }}</button>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
      {% for item in items %}
        {% set tab_name = 'tab-item-' ~ item.tab_id %}
        <div class="tab-pane fade {{ item.tab_active_class }}" id="{{ tab_name }}" role="tabpanel" aria-labelledby="{{ tab_name }}-tab">
          {{ item.content }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
