{#
/**
 * @file
 * Theme override for comment fields.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional title output populated by modules, intended to
 *   be displayed after the main title tag that appears in the template.
 * - comments: List of comments rendered through comment.html.twig.
 * - comment_form: The 'Add new comment' form.
 * - comment_display_mode: Is the comments are threaded.
 * - comment_type: The comment type bundle ID for the comment field.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 * @see comment_preprocess_field()
 */
#}

{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  'comment-wrapper',
]
%}

{%
  set title_classes = [
  'title',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
<section{{ attributes.addClass(classes) }}>
  {{ comments }}

  {% if comment_form %}
    <a href="/comments/add/node/{{ nid }}" class="add-comment-show btn-success btn form-submit use-ajax" data-nid="{{ nid }}">{{ "Add Comment"|t }}</a>
    <div id="comment-form-placeholder"></div>

  {% endif %}

  {% if golden_thread_warning %}
    <div class="alert alert-info" role="alert">
      {{ 'Only Certified Users are allowed to post in this thread.'|t }}
    </div>
  {% endif %}
</section>

{% include '@porto_sub/field/share-comments-modal.html.twig' %}
