{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field-name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'field--items',
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

<div{{ attributes.addClass(classes, 'field--items') }}>
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  <div class="row">
    {% for item in items %}
      <div class="col-lg-12 mb-3 d-inline-flex">
        <div class="location__block item__block_border">
          {% if item.content['given_name']['#value']|length > 1 %}
            <div class="location__item overview__left col-md-6 col-xs-24">
              <p class="location_title">{{ item.content['given_name']['#value'] }}</p>
              {#<p class="location__item_map"><?php print 'See in ' . $map_link; ?></p>#}
            </div>
            {% set col_class = 'col-md-18' %}
          {% else %}
            {% set col_class = 'col-md-24 ps-0' %}
          {% endif %}
          <div class="location__item overview__right {{ col_class }} item__block col-xs-24">
            <div class="item__location location__item_address">
              <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
            </div>
            {#<p class="item__location location__item_phone"><?php print $phone; ?></p>#}
          </div>
        </div>
      </div>

    {% endfor %}
  </div>

</div>
