{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field-name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% set carouselId = 'carouselHelpCards' %}
{% set carousel = items|length > 1 ? TRUE : FALSE %}

<div{{ attributes.addClass(classes) }}>
  <div class="alert alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% if carousel %}
  <div id="{{ carouselId }}" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
  {% else %}
    <div id="{{ carouselId }}" class="single-item">
  {% endif %}
    {% if carousel %}
      <ol class="carousel-indicators">
        {% for item in items %}
          {% set item_classes = [loop.index == 1 ? 'active'] %}
          <li{{ item.attributes.addClass(item_classes) }} data-target="{{ carouselId }}" data-slide-to="{{ loop.index0 }}"></li>
        {% endfor %}
      </ol>
    {% endif %}
    {% if carousel %}
      <div class="carousel-inner">
        {% for item in items %}
          {% set item_class = [
            'carousel-item',
            loop.index == 1 ? 'active'
            ]
          %}
          <div{{ item.attributes.addClass(item_class) }}>
            {{ item.content }}
          </div>
        {% endfor %}
      </div>
    {% else %}
      {% for item in items %}
        <div{{ item.attributes }}>
          {{ item.content }}
        </div>
      {% endfor %}
    {% endif %}
    {% if carousel %}
      <a class="carousel-control carousel-control-prev" href="#{{ carouselId }}" role="button" data-slide="prev">
        <i class="icon icon-angle-left"></i>
      </a>
      <a class="carousel-control carousel-control-next" href="#{{ carouselId }}" role="button" data-slide="next">
        <i class="icon icon-angle-right"></i>
      </a>
    {% endif %}
  </div>
</div>
