{% if enable_share %}
  <div class="modal fade" id="shareCommentModal" tabindex="-1" role="dialog" aria-labelledby="shareCommentModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareCommentModalTitle">{{ 'Preview & download comment as image'|t }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0" id="share-comment-modal-body"></div>
        <div class="modal-footer">
          <p class="w-100 text-primary">{{ "You can download this screenshot as image or copy to clipboard using browser's context menu"|t }}</p>
          <div class="d-flex justify-content-between w-100">
            <div>
              <a class="btn btn-light" href="https://mobile.facebook.com/home.php?soft=composer" target="_blank"><i class="icon icon-facebook"></i></a>
              <a class="btn btn-light" href="https://twitter.com/intent/tweet" target="_blank"><i class="icon icon-twitter"></i></a>
            </div>
            <a class="btn btn-secondary btn-download" download="wso-comment.png" href=""><i class="icon icon-download"></i> Download image</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{ attach_library('wso_comments_share/wso_comments_share') }}
{% endif %}
