.node-certificate {
  margin-top: 15px
}
.course-certificate__subtitle {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 20px
}
.course-certificate__title {
  margin-bottom: 40px;
  color: #087dfd
}
.course-certificate__row {
  margin-bottom: 50px
}
.course-certificate__row .course-certificate__info h3 {
  color: var(--color-neutral-0);
  font-size: 28px
}
.course-certificate__row .course-certificate__image img {
  max-width: 100%;
  height: auto
}
.course-certificate__row .well {
  border: 0;
  background: #087dfd;
  color: var(--color-neutral-0);
  padding: 20px
}
.course-certificate__row .well a {
  color: var(--color-neutral-0);
  text-decoration: underline
}
.course-certificate__row .media-object {
  width: 48px;
  height: auto
}
.course-certificate__row .media-body {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto
}
.course-certificate__row .media-heading,
.course-certificate__row .media-sub-heading {
  color: var(--color-neutral-0)
}
.course-certificate__row .media-heading {
  font-weight: 400;
  font-size: 20px
}
.course-certificate__row .media-heading strong {
  font-weight: 600
}
.course-certificate__row .media-text {
  margin-bottom: 0
}
hr {
  margin-bottom: 10px
}
.social-share-icons {
  position: static;
  transform: none;
  display: flex
}
.social-share-icons li {
  margin-right: 15px
}
@media (max-width: 991px) {
  .social-share-icons {
    display: flex!important
  }
}
@media (max-width: 767px) {
  .course-certificate__title {
    font-size: 24px
  }
  .course-certificate__row .course-certificate__info {
    order: 2
  }
  .course-certificate__row .course-certificate__image {
    order: 1;
    margin-bottom: 30px
  }
}
/*# sourceMappingURL=course-certificate.module.component.css.map */
