.node-certificate {
  margin-top: 15px;
}

.course-certificate {
  &__subtitle {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 40px;
    color: $color-blue;

    @include media('<tablet') {
      font-size: 24px;
    }
  }
}

.course-certificate__row {
  margin-bottom: 50px;

  .course-certificate__info {
    @include media('<tablet') {
      order: 2;
    }

    h3 {
      color: var(--color-neutral-0);
      font-size: 28px;
    }
  }

  .course-certificate__image {
    @include media('<tablet') {
      order: 1;
      margin-bottom: 30px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .well {
    border: 0;
    background: $color-blue;
    color: var(--color-neutral-0);
    padding: 20px;

    a {
      color: var(--color-neutral-0);
      text-decoration: underline;
    }
  }

  .media {
    &-object {
      width: 48px;
      height: auto;
    }

    &-body {
      max-width: 100%;
      @include word-wrap-hyphens();
    }

    &-heading,
    &-sub-heading {
      color: var(--color-neutral-0);
    }

    &-heading {
      font-weight: 400;
      font-size: 20px;

      strong {
        font-weight: 600;
      }
    }

    &-text {
      margin-bottom: 0;
    }
  }
}

hr {
  margin-bottom: 10px;
}

.social-share-icons {
  position: static;
  transform: none;
  display: flex;

  @include media('<desktop') {
    display: flex !important
  }

  li {
    margin-right: 15px;
  }
}
