@import "sticky-tables";

body {
  font-size: 14px;
  background: var(--color-neutral-0);
}

.block {
  h3 {
    margin-bottom: 33px !important;
  }

  &.has-access {
    .cta {
      display: none;
    }
  }
}

.region-breadcrumbs-replacer .nav-tabs {
  margin-bottom: 0;
}

.container--breadcrumbs {
  padding: 0;
}

#content {
  > .container {
    padding: 0;
    max-width: 100% !important;

    > .row {
      margin: 0;

      #wso-content-outer {
        padding: 0;
      }
    }
  }
}

.details-table th.no-border-top {
  border-top: initial !important;
}
