.ContenedorTabla {
  thead {
    position: sticky;
    background: var(--color-neutral-0);
    top: 0;
    z-index: 3;
  }

  tfoot {
    position: sticky;
    background: var(--color-neutral-0);
    bottom: 0;
    z-index: 4;
  }

  tfoot td:first-child {
    position: sticky;
    background: var(--color-neutral-0);
    bottom: 0;
    z-index: 5;
    left: 0;
  }

  thead tr:first-child th:first-child {
    position: sticky;
    background: var(--color-neutral-0);
    top: 0;
    z-index: 4;
    left: 0;
  }

  tbody td:first-child {
    position: sticky;
    left: 0;
    background: var(--color-neutral-0);
    z-index: 1;
  }

  th.rotate {
    /* Something you can count on */
    height: 160px;
    white-space: nowrap;
  }

  table.bb th.rotate-width > div {
    transform: /* Magic Numbers */
        translate(-11px, -15px) /* 45 is really 360 - 45 */
        rotate(296deg);
    width: 62px;
  }

  th.rotate > div {
    transform: /* 45 is really 360 - 45 */
        rotate(270deg);
    width: 25px;
  }

  th.rotate > div > span {
    /* border-bottom: 1px solid #ccc; */
    padding: 5px 2px;
  }
}
