.container--alt {
  > .row {
    margin-left: 0;
    margin-right: 0;

    > .col-lg-24 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.page-node-type-category-page {
  .authority-block {
    &__header {
      .authority__block {
        margin-bottom: 10px;
      }
    }
  }

  .authority__block.authority__block_foot {
    margin-bottom: 0;
  }
}

.node-category-page {
  .content > .field-name-field-paragraphs {
    > .field--item:not(:first-child) > .entity-paragraphs-item:not(.paragraph--type--flexible),
    > .field--item:not(:first-child) > .entity-paragraphs-item:not(.paragraph--type--layout),
    .authority-block__container {
      @include wso-container();

      .narrow-container & {
        @include media('>=tablet') {
          max-width: 920px;
        }

        @include media('>=desktop') {
          max-width: 920px;
        }

        @include media('>=large-desktop') {
          max-width: 920px;
        }
      }
    }
  }

  .field--type-text-long,
  .field-name-field-wsop-rich-text,
  .field--type-text-with-summary {
    &,
    p {
      font-size: 18px;
      line-height: 28px;
    }

    blockquote {
      background-color: $color-neutral-0;
    }
  }

  .authority__block.authority__block_foot {
    padding: 0;
    border: 0;
  }
}

.narrow-container .container--wso {
  @include media('>=tablet') {
    max-width: 960px;
  }

  @include media('>=desktop') {
    max-width: 960px;
  }

  @include media('>=large-desktop') {
    max-width: 960px;
  }
}

.paragraph--type--flexible,
.paragraph--type--layout {
  .panel-box {
    @include wso-container();

    .narrow-container & {
      @include media('>=tablet') {
        max-width: 920px;
      }

      @include media('>=desktop') {
        max-width: 920px;
      }

      @include media('>=large-desktop') {
        max-width: 920px;
      }
    }
  }
}

.node-type-category-page.page-company {
  .breadcrumb {
    background: transparent;
    border: none;
  }
}
