@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

#block-faqnodenavigationblock {
  background: transparent;

  .h4 {
    background: var(--color-neutral-0);
  }
}

#faq-navigation {
  margin-top: 15px;

  .panel {
    border: 0;
    box-shadow: none;
    margin-bottom: 10px;
    background-color: transparent;

    .panel-heading {
      h4 {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }

    .panel-body {
      padding: 10px $side-gap;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 5px 0;

        a {
          font-size: 13px;
          font-weight: 500;
          letter-spacing: .2px;
          color: var(--color-base);
          line-height: 1.5;

          &:hover {
            color: $color-blue;
          }
        }

        &:hover {
          a {
            color: $color-blue;
          }
        }
      }
    }
  }

  .panel-heading {
    border: 0;
    box-shadow: none;
    background: var(--color-neutral-1);
    padding: 10px $side-gap;

    &:hover {
      background: var(--color-neutral-0);

      h4 {
        &:after {
          background: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
          content: '';
          display: inline-block;
          height: 10px;
          margin-top: 4px;
          width: 22px;
        }
      }

      a {
        text-decoration: none;
      }
    }

    a {
      @include responsive-prop(700, 800, font-weight);
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: .2px;
      color: var(--color-base);
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .panel-opened {
    .panel-heading {
      background: var(--color-neutral-0);

      h4 {
        &:after {
          background: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
          content: '';
          display: inline-block;
          height: 10px;
          margin-top: 4px;
          width: 22px;
        }
      }
    }
  }
}

.post-tags {
  border-top: 1px solid var(--color-neutral-3);
  margin-top: 8px;
  padding-top: 16px;

  .field-name-taxonomy-vocabulary-15 {
    .field--item {
      border: 1px solid var(--color-neutral-3);
      border-radius: 16px 4px 4px 16px;
      float: left;
      font-size: 95%;
      font-weight: 300;
      margin: 0 8px 0 0;
      padding: 2px 8px 2px 16px;

      a {
        color: var(--color-base);
      }

      &:before {
        bottom: 3px;
        color: var(--color-neutral-4);
        content: ".";
        font-size: 16px;
        font-weight: 800;
        left: -6px;
        line-height: 1;
        position: relative;
      }
    }
  }

}

@include media('>=desktop') {
  #faq-navigation {
    &.position--sticky {
      position: fixed;
      z-index: 1;
    }
  }

  #block-footernew {
    position: relative;
    z-index: 2;
  }
}
