.paragraph--type--text-with-title--callout,
.paragraph--type--text-with-title--callout-width-auto {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 30px
}
.paragraph--type--text-with-title--callout .field-name-field-wsop-title,
.paragraph--type--text-with-title--callout-width-auto .field-name-field-wsop-title {
  margin-top: 20px;
  font-size: 24px
}
.paragraph--type--text-with-title--callout-width-auto.colored,
.paragraph--type--text-with-title--callout.colored {
  position: relative
}
.paragraph--type--text-with-title--callout-width-auto.colored:after,
.paragraph--type--text-with-title--callout-width-auto.colored:before,
.paragraph--type--text-with-title--callout.colored:after,
.paragraph--type--text-with-title--callout.colored:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0
}
.paragraph--type--text-with-title--callout-width-auto.colored:before,
.paragraph--type--text-with-title--callout.colored:before {
  height: 10px
}
.paragraph--type--text-with-title--callout-width-auto.colored:after,
.paragraph--type--text-with-title--callout.colored:after {
  height: 100%;
  opacity: .2
}
.paragraph--type--text-with-title--callout-width-auto.colored .field,
.paragraph--type--text-with-title--callout.colored .field {
  position: relative;
  z-index: 1
}
.darkmode .paragraph--type--text-with-title--callout-width-auto.colored.theme-color-087DFD .field-name-field-wsop-title,
.darkmode .paragraph--type--text-with-title--callout.colored.theme-color-087DFD .field-name-field-wsop-title {
  color: #84befe!important
}
.paragraph--type--text-with-title--callout-width-auto {
  display: inline-block;
  width: auto
}
/*# sourceMappingURL=paragraph.text-and-title.component.css.map */
