.paragraph--type--text-with-title {
  &--callout,
  &--callout-width-auto {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px 30px;

    .field-name-field-wsop-title {
      margin-top: 20px;
      font-size: 24px;
    }

    &.colored {
      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
      }

      &:before {
        height: 10px;
      }

      &:after {
        height: 100%;
        opacity: 0.2;
      }

      .field {
        position: relative;
        z-index: 1;
      }

      // Special case for dark color.
      &.theme-color-087DFD {
        .field-name-field-wsop-title {
          .darkmode & {
            color: #84befe !important;
          }
        }
      }
    }
  }

  &--callout-width-auto {
    display: inline-block;
    width: auto;
  }
}
