{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set view_mode = view_mode ? 'paragraph--view-mode--' ~ view_mode %}
{% set isPublished = not isPublished ? 'paragraph--unpublished' %}
{% set paragraph_type = paragraph_type ? 'paragraph--type--' ~ bundle ~ '--' ~ paragraph_type %}
{% set theme_color_class = paragraph_theme_color|replace({'#': 'theme-color-'}) %}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ bundle,
    'paragraph',
    'paragraph--type--' ~ bundle,
    paragraph_type,
    view_mode,
    isPublished,
    paragraph_theme_color ? 'colored',
    theme_color_class
  ]
%}

{{ attach_library('porto_sub/paragraph.text-and-title.component') }}
{% if paragraph_theme_color %}
  {% if paragraph_theme_color == '#087DFD' %}
    {% set paragraph_theme_color = '#072532' %}
  {% endif %}
  <style>
    #paragraph-id-{{ item_id }}:before {
      background: -webkit-gradient(linear, left top, right top, from({{ paragraph_theme_color }}), to({{ paragraph_light_theme_color }}));
      background: linear-gradient(to right, {{ paragraph_theme_color }}, {{ paragraph_light_theme_color }});
    }
    #paragraph-id-{{ item_id }}:after {
      background: {{ paragraph_bg_theme_color }};
    }
    #paragraph-id-{{ item_id }} .field-name-field-wsop-title {
      color: {{ paragraph_theme_color }};
    }
  </style>
{% endif %}

{% block paragraph %}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }} id="paragraph-id-{{ item_id }}">
    {% block content %}
      {{ field_wsop_title }}
      {{ field_wsop_rich_text }}
    {% endblock %}
  </div>
{% endblock paragraph %}
