.paragraphs-item-text-with-title-redesign {
  display: flex
}
.paragraphs-item-text-with-title-redesign .text-with-title__content__redesign {
  margin-left: 16px
}
.paragraphs-item-text-with-title-redesign .text-with-title__title__redesign {
  margin-bottom: 4px
}
@media (max-width: 767px) {
  .paragraphs-item-text-with-title-redesign .list-item__icon svg {
    width: 24px;
    height: 24px
  }
  .paragraphs-item-text-with-title-redesign .text-with-title__content__redesign {
    margin-left: 12px
  }
}
/*# sourceMappingURL=paragraph.text-and-title--redesign.component.css.map */
