@import "./components/common-styles/helpers/mixins";

.paragraphs-item-text-with-title-redesign {
  display: flex;

  .text-with-title__content__redesign {
    margin-left: 16px;
  }

  .text-with-title__title__redesign {
    margin-bottom: 4px;
  }
}

@include media('<tablet') {
  .paragraphs-item-text-with-title-redesign {
    .list-item__icon {
      svg {
        width: 24px;
        height: 24px;
      }
    }

    .text-with-title__content__redesign {
      margin-left: 12px;
    }
  }
}
