{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set view_mode = view_mode ? 'paragraph--view-mode--' ~ view_mode %}
{% set isPublished = not isPublished ? 'paragraph--unpublished' %}
{% set paragraph_type = paragraph_type ? 'paragraph--type--' ~ bundle ~ '--' ~ paragraph_type %}
{% set theme_color_class = paragraph_theme_color|replace({'#': 'theme-color-'}) %}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ bundle ~ '-redesign',
    'paragraph',
    'paragraph--type--' ~ bundle ~ '-redesign',
    paragraph_type,
    view_mode,
    isPublished,
    paragraph_theme_color ? 'colored',
    theme_color_class
  ]
%}

{{ attach_library('porto_sub/paragraph.text-and-title--redesign.component') }}
{% if paragraph_theme_color %}
  {% if paragraph_theme_color == '#087DFD' %}
    {% set paragraph_theme_color = '#072532' %}
  {% endif %}
  <style>
    #paragraph-id-{{ item_id }}:before {
      background: -webkit-gradient(linear, left top, right top, from({{ paragraph_theme_color }}), to({{ paragraph_light_theme_color }}));
      background: linear-gradient(to right, {{ paragraph_theme_color }}, {{ paragraph_light_theme_color }});
    }
    #paragraph-id-{{ item_id }}:after {
      background: {{ paragraph_bg_theme_color }};
    }
    #paragraph-id-{{ item_id }} .field-name-field-wsop-title {
      color: {{ paragraph_theme_color }};
    }
  </style>
{% endif %}

{% block paragraph %}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }} id="paragraph-id-{{ item_id }}">
    {% block content %}
      {% if field_wsop_title or field_wsop_rich_text %}
        <div class="list-item__icon">
          <svg width="32" height="32" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.83366 10.5001L6.02116 8.68758C5.86838 8.5348 5.68088 8.45842 5.45866 8.45842C5.23644 8.45842 5.04199 8.54175 4.87533 8.70842C4.72255 8.86119 4.64616 9.05564 4.64616 9.29175C4.64616 9.52786 4.72255 9.7223 4.87533 9.87508L7.25033 12.2501C7.4031 12.4029 7.59755 12.4792 7.83366 12.4792C8.06977 12.4792 8.26421 12.4029 8.41699 12.2501L13.1462 7.52092C13.2989 7.36814 13.3753 7.18064 13.3753 6.95842C13.3753 6.73619 13.292 6.54175 13.1253 6.37508C12.9725 6.2223 12.7781 6.14592 12.542 6.14592C12.3059 6.14592 12.1114 6.2223 11.9587 6.37508L7.83366 10.5001ZM9.00033 17.3334C7.84755 17.3334 6.76421 17.1145 5.75033 16.6767C4.73644 16.2395 3.85449 15.6459 3.10449 14.8959C2.35449 14.1459 1.76088 13.264 1.32366 12.2501C0.885881 11.2362 0.666992 10.1529 0.666992 9.00008C0.666992 7.8473 0.885881 6.76397 1.32366 5.75008C1.76088 4.73619 2.35449 3.85425 3.10449 3.10425C3.85449 2.35425 4.73644 1.76036 5.75033 1.32258C6.76421 0.885359 7.84755 0.666748 9.00033 0.666748C10.1531 0.666748 11.2364 0.885359 12.2503 1.32258C13.2642 1.76036 14.1462 2.35425 14.8962 3.10425C15.6462 3.85425 16.2398 4.73619 16.677 5.75008C17.1148 6.76397 17.3337 7.8473 17.3337 9.00008C17.3337 10.1529 17.1148 11.2362 16.677 12.2501C16.2398 13.264 15.6462 14.1459 14.8962 14.8959C14.1462 15.6459 13.2642 16.2395 12.2503 16.6767C11.2364 17.1145 10.1531 17.3334 9.00033 17.3334Z" fill="#08C42A"/>
          </svg>
        </div>
      {% endif %}

      <div class="text-with-title__content__redesign">
        {% if field_wsop_title %}
          <h4 class="text-with-title__title__redesign font-h4 color-dark-100">{{ field_wsop_title }}</h4>
        {% endif %}
        {% if field_wsop_rich_text %}
          <div class="text-with-title__text__redesign font-sm color-dark-70">{{ field_wsop_rich_text }}</div>
        {% endif %}
      </div>

      {{ content|without(
        'field_wsop_title',
        'field_wsop_rich_text'
      ) }}
    {% endblock %}
  </div>
{% endblock paragraph %}
