{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set view_mode = view_mode ? 'paragraph--view-mode--' ~ view_mode %}
{% set isPublished = not isPublished ? 'paragraph--unpublished' %}

{%
  set classes = [
    'section',
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ bundle,
    'paragraph',
    'paragraph--type--' ~ bundle,
    view_mode,
    isPublished
  ]
%}

{{ attach_library('porto_sub/paragraph.course-introduction.component') }}
{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="content">
        <div class="course-introduction-header d-flex flex-column-reverse">
          <h1 class="course-introduction-header__title caption-lg text-center text-warning">
            <span class="text-uppercase text-warning caption-lg"> {{ wsop_title }}</span>
          </h1>
          {% if not hide_subtitle %}
            <div class="course-introduction-header__subtitle text-center"><small class="text-warning">{{ 'The Wall Street Oasis'|t }}</small></div>
          {% endif %}
          <p class="course-introduction-header__intro fs-xs text-center text-dark"><span class="font-base-bold-it text-with-line">{{ 'Introducing...'|t }}</span></p>
        </div>

        {% if course_overview %}
          <div class="text-center short-course-overview">
            {{ course_overview }}
          </div>
        {% endif %}

        <div class="text-center lead font-second-it title--md">
          {{ first_title }}
        </div>

        <div class="text-center img-content">
          {{ wsop_image }}
        </div>

        {% if wsop_cta %}
          <div class="text-center cta-paragraph">
            {{ wsop_cta }}
          </div>
        {% endif %}

        <h2 class="text-center text-dark title font-third text-uppercase">
          {{ list_title }}
        </h2>

        <div class="mb-4">{{ paragraph_text }}</div>

        <div class="paragraphs-items-field-wso-paragraphs">
          {{ wso_paragraphs }}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
