.paragraphs-item-course-introduction .paragraphs-items-field-wso-paragraphs > .field-name-field-wso-paragraphs .field-name-field-wsop-title {
  font-weight: 700;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.3;
  text-transform: none;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 12px;
  color: #ff6c00
}
.paragraphs-item-course-introduction .paragraphs-items-field-wso-paragraphs > .field-name-field-wso-paragraphs > .field-items {
  display: flex;
  flex-wrap: wrap
}
.paragraphs-item-course-introduction .paragraphs-items-field-wso-paragraphs > .field-name-field-wso-paragraphs > .field-items > .field-item {
  width: 100%
}
.paragraphs-item-course-introduction .paragraphs-item-text-with-title {
  padding-left: 30px;
  position: relative
}
.paragraphs-item-course-introduction .paragraphs-item-text-with-title:before {
  font-family: fa-custom;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  color: #999;
  content: "\f14a"
}
.paragraphs-item-course-introduction .course-introduction-header__title {
  font-weight: 700;
  color: inherit;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.3;
  font-size: 26px
}
.paragraphs-item-course-introduction .course-introduction-header__subtitle small {
  color: var(--color-neutral-7);
  display: block;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px
}
.paragraphs-item-course-introduction .course-introduction-header + .short-course-overview {
  margin-top: -10px
}
.paragraphs-item-course-introduction .img-content + .cta-paragraph {
  margin-top: -60px
}
@media (min-width: 992px) {
  .paragraphs-item-course-introduction .paragraphs-items-field-wso-paragraphs > .field-name-field-wso-paragraphs .field-name-field-wsop-title {
    font-weight: 800
  }
  .paragraphs-item-course-introduction .paragraphs-items-field-wso-paragraphs > .field-name-field-wso-paragraphs > .field-items > .field-item {
    width: 50%;
    padding: 0 15px
  }
  .paragraphs-item-course-introduction .course-introduction-header__title {
    font-weight: 800;
    font-size: 33px
  }
  .paragraphs-item-course-introduction .course-introduction-header__subtitle small {
    font-size: 24px
  }
}
/*# sourceMappingURL=paragraph.course-introduction.component.css.map */
