@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.paragraphs-item-course-introduction {
  .paragraphs-items-field-wso-paragraphs {
    > .field-name-field-wso-paragraphs {
      .field-name-field-wsop-title {
        @include responsive-prop(700, 800, 'font-weight');
        margin-top: 0;
        font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
        line-height: 1.3;
        text-transform: none;
        font-size: 17px;
        margin-bottom: 0;
        margin-top: 12px;
        color: #ff6c00;
      }

      > .field-items {
        display: flex;
        flex-wrap: wrap;

        > .field-item {
          width: 100%;

          @media (min-width: 992px) {
            width: 50%;
            padding: 0 15px;
          }
        }
      }
    }
  }

  .paragraphs-item-text-with-title {
    padding-left: 30px;
    position: relative;

    &:before {
      font-family: fa-custom;
      font-size: 16px;
      left: 0;
      position: absolute;
      top: 0;
      color: #999;
      content: '\f14a';
    }
  }

  .course-introduction-header {
    &__title {
      @include responsive-prop(700, 800, font-weight);
      @include responsive-prop(26px, 33px, font-size);
      color: inherit;
      margin-top: 0;
      margin-bottom: 20px;
      font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
      line-height: 1.3;
      font-size: 26px;
    }

    &__subtitle {
      small {
        @include responsive-prop(20px, 24px, font-size);
        color: var(--color-neutral-7);
        display: block;
        font-size: 30px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 10px;
      }
    }
  }

  .course-introduction-header + .short-course-overview {
    margin-top: -10px;
  }

  .img-content + .cta-paragraph {
    margin-top: -60px;
  }
}
