<div class="form-container">
  <div class="form-content">
    <div class="form-content-container">
      {{ form.author_option }}
      {{ form|without('actions', 'subject', 'author_option', 'comment_body', 'pushcrew_subscribe', 'pushcrew_subscribe_options', 'pushcrew_subscriber_id') }}
      <div class="comment-wrapper-preview">
        {{ form.comment_body|without(
          'label'
        ) }}
      </div>
    </div>
  </div>
  <div class="footer-actions">
    <div class="form-notify-container">
      {{ form.pushcrew_subscribe }}
      {{ form.pushcrew_subscribe_options }}
      {{ form.pushcrew_subscriber_id }}
    </div>
    <div class="form-actions-container">
      <a href="#comment-cancel" class="comment-add-cancel">Cancel</a>
      {{ form.actions.submit }}
    </div>
  </div>
</div>
