{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldeset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
  ]
%}

{% set accordion_id = attributes.storage['id']|render %}

{%
  set legend_span_classes = [
  'fieldset-legend',
  required ? 'js-form-required',
  required ? 'form-required',
 ]
%}


<div class="accordion mb-4" id="{{ accordion_id }}">
  <div class="card">
    <div class="card-header" id="heading-{{ accordion_id }}">
      <h2 class="mb-0">
        <button class="btn btn-block text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ accordion_id }}" aria-expanded="false" aria-controls="collapse-{{ accordion_id }}">
          <legend{{ legend.attributes.addClass('mb-0') }}>
            <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span> <small><span data-state="default"><i class="icon icon-chevron-down"></i></span><span data-state="open"><i class="icon icon-chevron-up"></i></span></small>
          </legend>
        </button>
      </h2>
    </div>

    <div id="collapse-{{ accordion_id }}" class="collapse" aria-labelledby="heading-{{ accordion_id }}" data-bs-parent="#{{ accordion_id }}">
      <div class="card-body">
        <div class="fieldset-wrapper">
          {% if errors %}
            <div>
              {{ errors }}
            </div>
          {% endif %}
          {% if prefix %}
            <span class="field-prefix">{{ prefix }}</span>
          {% endif %}
          {{ children }}
          {% if suffix %}
            <span class="field-suffix">{{ suffix }}</span>
          {% endif %}
          {% if description.content %}
            <div{{ description.attributes.addClass('description') }}>{{ description.content }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
