{{ attach_library('custom_mentor/mentor_profile_edit') }}

{% if not form['#is_admin'] %}
  <div class="card-header panel-heading panel-heading--transparent m-t-20">
    <h1><strong>{{ 'Mentor Application'|t }}</strong></h1>
  </div>
{% endif %}

{% if form.title|render|striptags|trim %}
  <div class="card mb-5">
    <div class="card-body">
      {{ form.title }}
      {{ form.title_description }}
    </div>
  </div>
{% endif %}

<div class="row m-t-20">
  <div class="col-lg-16">
    <div class="card mb-5">
      <div class="card-header">Contact Info</div>
      <div class="card-body">
        <div class="row">

          {% set name_class = 'col-lg-12' %}
          {% if form.field_email and form.field_email_2 %}
            {% set name_class = 'col-lg-6' %}
          {% endif %}

          <div class="{{ name_class }}">
            {{ form.field_first_name }}
          </div>
          <div class="{{ name_class }}">
            {{ form.field_last_name }}
          </div>

          {% if form.field_email and form.field_email_2 %}
            <div class="col-lg-6">
              {{ form.field_email }}
            </div>
            <div class="col-lg-6">
              {{ form.field_email_2 }}
            </div>
          {% endif %}
        </div>

        {% if form.field_email and not form.field_email_2 %}
          <div class="row">
            <div class="col-lg-24">
              {{ form.field_email }}
            </div>
          </div>
        {% endif %}


        {% if form.field_site_user %}
          <div class="card-title">Link existing user to mentor's profile</div>
          <div class="row align-items-end">
            <div class="col-lg-9" id="site-linked-user">
              {{ form.field_site_user }}
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <button id="find-user" class="btn btn-info" disabled>Find user</button>
              </div>
            </div>
            <div class="col-lg-10">
              <div id="site-linked-user-status"></div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-header">Current Status</div>
      <div class="card-body">
        <div class="row">

          {% set class = 'col-lg-12' %}
          {% if form.field_resume_reviewer_grade and form.field_current_mentor_grade %}
            {% set class = 'col-lg-6' %}
          {% endif %}

          <div class="{{ class }}">
            {{ form.field_phone }}
          </div>
          <div class="{{ class }}">
            {{ form.field_work_phone_number }}
          </div>
          <div class="col-lg-6">
            {{ form.field_resume_reviewer_grade }}
          </div>
          <div class="col-lg-6">
            {{ form.field_current_mentor_grade }}
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form.field_current_city }}
          </div>
          <div class="col-lg-12">
            {{ form.field_previous_cities }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form.field_hide_location }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form.field_past_firms }}
          </div>
          <div class="col-lg-12">
            {{ form.field_current_firm }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form.field_current_industry }}
          </div>
          <div class="col-lg-12">
            {{ form.field_confirm_title }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form.field_past_industries }}
          </div>
          <div class="col-lg-12">
            {{ form.field_past_titles }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form.field_sector_focus }}
          </div>
          <div class="col-lg-12">
            {{ form.field_expertise }}
          </div>
          <div class="col-lg-24">
            {{ form.field_linkedin_profile }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card mb-5">
      <div class="card-header">Photo</div>
      <div class="card-body">
        {{ form.field_photo }}
        {{ form.field_public_image }}
      </div>
    </div>

    <div class="card">
      <div class="card-header">Education</div>
      <div class="card-body">
        {{ form.field_date_graduation_undergrad }}
        {{ form.field_entity_undergrad_school }}
        {{ form.field_date_of_graduation }}
        {{ form.field_entity_graduate_school }}
        {{ form.field_degree1 }}
        {{ form.field_certifications }}
        {{ form.field_resume_review }}
        {{ form.field_mentor_session }}
      </div>
    </div>
  </div>
</div>

{% if form.field_other_skills or
      form.field_active_jobs or
      form.field_jobs_completed or
      form.field_mentor_completed_jobs_act or
      form.field_mentor_completed_jobs or
      form.field_rejected_ignored_jobs %}

  <div class="card mb-5">
    <div class="card-header">Jobs</div>
    <div class="card-body">
      {{ form.field_other_skills }}

      {% if form['#is_admin'] %}
        {{ form.field_active_jobs }}
        {{ form.field_jobs_completed }}
        {{ form.field_mentor_completed_jobs_act }}
        {{ form.field_mentor_completed_jobs }}
        {{ form.field_rejected_ignored_jobs }}
      {% endif %}
    </div>
  </div>
{% endif %}

<div class="card mb-5">
  <div class="card-header">Bio</div>
  <div class="card-body">
    {{ form.field_bio }}
    {{ form.field_public_bio }}
  </div>
</div>

{% if form.field_reviews %}
  <div class="card mb-5">
    <div class="card-header">Reviews</div>
    <div class="card-body">
      {{ form.field_reviews }}
    </div>
  </div>
{% endif %}

<div class="card mb-5">
  <div class="card-header">{{ 'Resume'|t }}</div>
  <div class="card-body">
    {{ form.field_resume }}
  </div>
</div>

{% if form.field_link_username or form.field_mentorship_type %}
  <div class="card mb-5">
    <div class="card-header">
      {{ 'Privacy and mentorship'|t }}
    </div>
    <div class="card-body">
      {{ form.field_link_username }}
      {{ form.field_mentorship_type }}
    </div>
  </div>
{% endif %}

<div class="card mb-5">
  <div class="card-header">
    {{ 'Prices'|t }}
  </div>
  <div class="card-body">
    <div class="description">
      <div class="red">3 IMPORTANT MESSAGES</div>
      <ol>
        <li><strong>Please only select a payment level if you can be responsive to potential mentees. These can be changed at
          any time. Repeatedly turning down mentees and/or unresponsive mentors will be switched automatically to
            inactive.</strong>
        </li>
        <li><strong>If you want more mentees, lower prices tend to attract more volume. If you'd like less mentees but higher
            pay, that is also an option now with this tiered pricing structure.</strong>
        </li>
        <li><strong>Retail prices shown to potential mentees are ~25-35% higher depending on the payment level you select to
          allow us to cover support, web development and payment processing fees. This program accounts for less than 4%
          of revenue and 1% of profit to WSO to encourage professionals to continue be
            helpful in the forums (helps community and drives more mentee clients to you).</strong>
        </li>
      </ol>
    </div>
    {{ form.field_price_resume_review }}
    {{ form.field_price_cover_letter }}
    {{ form.field_price_30m }}
    {{ form.field_price_1h }}
    {{ form.field_price_3h }}
  </div>
</div>

<div class="card mb-5">
  {% if form.field_infusionsoft_links %}
    <div class="card-body card-body card-body-border-bottom p-b-0">
      <div class="m-b-lg">
        {{ form.field_infusionsoft_links }}
      </div>
    </div>
  {% endif %}
  <div class="card-body p-t-lg">
    {{ form|without(
      'title',
      'title_description',
      'body',
      'field_first_name',
      'field_last_name',
      'field_email',
      'field_email_2',
      'field_site_user',
      'field_phone',
      'field_work_phone_number',
      'field_resume_reviewer_grade',
      'field_current_mentor_grade',
      'field_current_city',
      'field_previous_cities',
      'field_past_firms',
      'field_current_firm',
      'field_current_industry',
      'field_confirm_title',
      'field_past_industries',
      'field_past_titles',
      'field_linkedin_profile',
      'field_sector_focus',
      'field_date_graduation_undergrad',
      'field_entity_undergrad_school',
      'field_date_of_graduation',
      'field_entity_graduate_school',
      'field_degree1',
      'field_certifications',
      'field_resume_review',
      'field_mentor_session',
      'field_other_skills',
      'field_active_jobs',
      'field_jobs_completed',
      'field_photo',
      'field_public_image',
      'field_other_skills',
      'field_active_jobs',
      'field_jobs_completed',
      'field_mentor_completed_jobs_act',
      'field_mentor_completed_jobs',
      'field_rejected_ignored_jobs',
      'field_bio',
      'field_public_bio',
      'field_expertise',
      'field_reviews',
      'field_infusionsoft_links',
      'advanced',
      'field_resume',
      'field_hide_location',
      'is_admin',
      'field_remain_anonymous',
      'field_mentorship_type',
      'field_price_cover_letter',
      'field_price_resume_review',
      'field_price_30m',
      'field_price_1h',
      'field_price_3h',
      'field_link_username'
    ) }}
  </div>
</div>

{% if form['#is_admin'] %}
  <div class="card mb-5">
    <div class="card-header">
      Settings
    </div>
    <div class="card-body">
      {{ form.advanced }}
    </div>
  </div>
{% endif %}
