<div class="row mt-5">
  <div class="col-lg-16">
    <div class="card mb-5">
      <div class="card-body card-body--top">
        <div class="row m-b-lg">
          <div class="col-lg-24 p-lg-0">
            <div class="">
              {{ form.title }}
              {{ form.title_description }}
            </div>
            {{ form.author_option }}
          </div>
        </div>
        <div class="row d-flex-lg">
          <div class="col-lg-12">
            {{ form.field_pricing_type }}
          </div>
          <div class="col-lg-12">
            {{ form.field_resource_type }}
          </div>
        </div>
        <div class="row d-flex-lg">
          <div class="col-lg-12">
            {{ form.field_template_type }}
          </div>
          <div class="col-lg-12">
            {{ form.field_industries }}
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-body panel-body panel-body-border-bottom p-b-0">
        {{ form.body }}
        {{ form.field_vote }}
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-sidebar">
    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        Media
      </div>
      <div class="card-body">
        {{ form.field_cover }}
        {{ form.field_files }}
      </div>
    </div>
  </div>
</div>


<div class="card mb-5">
  <div class="card-header">
    Settings
  </div>
  <div class="card-body">
    {{ form|without(
      'author_option',
      'title',
      'title_description',
      'field_pricing_type',
      'field_resource_type',
      'field_template_type',
      'field_industries',
      'body',
      'field_vote',
      'field_cover',
      'field_files') }}
  </div>
</div>
