<div class="row">
  <div class="col-lg-24">
    <div class="card mb-5">
      <div class="card-body card-body--top">
        <div class="row m-b-lg">
          <div class="col-lg-16">
            {{ form.title }}
            {{ form.title_description }}
          </div>
          <div class="col-lg-8">
            {{ form.field_ideas }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    Content
  </div>
  <div class="card-body">
    {{ form.body }}
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    Other Settings
  </div>
  <div class="card-body">
    {{ form|without(
      'title',
      'title_description',
      'body',
      'field_ideas') }}
  </div>
</div>

