<div class="row mt-5">
  <div class="col-lg-16">

    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        <strong>{{ 'Event Information'|t }}</strong>
      </div>
      <div class="card-body panel-body panel-body-border-bottom p-b-0">
        {{ form.title }}
        {{ form.body }}
        {{ form.field_event_date }}
        {{ form.taxonomy_vocabulary_9 }}
        {{ form.field_eventtype }}

        <div class="accordion mb-4" id="accordionBC">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  WSO Bootcamps settings
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionBC">
              <div class="card-body">
                {{ form.field_event_product }}
                {{ form.field_parent_landing_page }}
                {{ form.field_sold_out }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body panel-body p-t-lg">
        {{ form|without(
          'title',
          'title_description',
          'body',
          'field_event_date',
          'field_eventtype',
          'taxonomy_vocabulary_9',
          'field_image',
          'field_address',
          'field_sold_out',
          'field_event_product',
          'field_parent_landing_page',
          'upload',
          'advanced') }}
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-sidebar">
    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        {{ 'Location'|t }}
      </div>
      <div class="card-body p-t-0">
        {{ form.field_address }}
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        {{ 'Attachments'|t }}
      </div>
      <div class="card-body">
        {{ form.field_image }}
        {{ form.upload }}
      </div>
    </div>

  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    {{ 'Settings'|t }}
  </div>
  <div class="card-body">
    {{ form.advanced }}
  </div>
</div>

