<div class="row mt-5">
  <div class="col-lg-16">
    <div class="card mb-5">
      <div class="card-body">
        <div class="row d-flex-lg">
          <div class="col-lg-24">
            {{ form.title }}
            {{ form.title_description }}
          </div>
        </div>
      </div>
    </div>

    {% if form.field_oembed_url['widget'][0]['value']['#default_value'] != NULL %}
      {% set second_tab_class = "active show" %}
    {% else %}
      {% set first_tab_class = "active show" %}
    {% endif %}

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a class="nav-link {{ first_tab_class }}" href="#ytb" aria-controls="ytb" role="tab" data-bs-toggle="tab">Youtube</a>
      </li>
      <li role="presentation" class="nav-item ">
        <a class="nav-link {{ second_tab_class }}" href="#iframe" aria-controls="iframe" role="tab" data-bs-toggle="tab">Podcast/iframe</a>
      </li>
    </ul>

    <div class="tab-content card mb-5">
      <div role="tabpanel" class="tab-pane {{ first_tab_class }}" id="ytb">
        <div class="m-b-lg">
          {{ form.field_media_reference }}
        </div>
        <div class="m-b-lg">
          {{ form.field_cover_color }}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane {{ second_tab_class }}" id="iframe">
        <div class="m-b-lg">
          {{ form.field_oembed_url }}
        </div>
        <div class="m-b-lg">
          {{ form.field_podcast_subtitle }}
        </div>
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-body panel-body panel-body-border-bottom p-b-0">
        <div class="m-b-lg">
          {{ form.body }}
        </div>
      </div>
      <div class="card-body panel-body p-t-lg">
        {{ form|without(
          'title',
          'title_description',
          'body',
          'field_media_reference',
          'field_cover_color',
          'field_oembed_url',
          'field_podcast_subtitle',
          'field_podcast_file',
          'field_image',
          'field_podcast_subtitle',
          'field_show_name',
          'field_industry_detail',
          'field_media_duration',
          'advanced') }}
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-sidebar">
    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        Common fields:
      </div>
      <div class="card-body">
        {{ form.field_image }}
        {{ form.field_show_name }}
        {{ form.field_industry_detail }}
        {{ form.field_media_duration }}
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    Settings
  </div>
  <div class="card-body">
    {{ form.advanced }}
  </div>
</div>
