<div class="row mt-5">
  <div class="col-lg-16">
    <div class="card mb-5">
      <div class="card-header">Job Information</div>
      <div class="card-body">
        {{ form.title }}
        {{ form.body }}
        {{ form.field_job_starting_date }}
        {{ form.field_start_date }}
        {{ form.field_job_type }}

        <div class="row">
          <div class="col-md-12">
            {{ form.field_compensation }}
          </div>
          <div class="col-md-12">
            {{ form.field_pay_currency }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {{ form.field_desired_industry }}
          </div>
          <div class="col-md-12">
            {{ form.field_desired_title }}
          </div>
        </div>

        {{ form.field_support_h1b_visas }}
        {{ form.field_external_apply_link }}
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-body panel-body p-t-lg">
        {{ form|without(
          'title',
          'field_job_starting_date',
          'field_start_date',
          'body',
          'field_job_type',
          'field_compensation',
          'field_pay_currency',
          'field_desired_industry',
          'field_desired_title',
          'field_support_h1b_visas',
          'field_external_apply_link',
          'field_job_starting_date',
          'field_start_date',
          'field_compensation',
          'field_support_h1b_visas',
          'field_job_type',
          'taxonomy_vocabulary_9',
          'upload',
          'field_address',
          'advanced') }}
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-sidebar">
    <div class="card mb-5">
      <div class="card-header">Attachments</div>
      <div class="card-body">
        {{ form.field_image }}
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-header">Industry</div>
      <div class="card-body">
        {{ form.taxonomy_vocabulary_9 }}
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-header">Location</div>
      <div class="card-body">
        {{ form.field_address }}
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    Settings
  </div>
  <div class="card-body">
    {{ form.advanced }}
  </div>
</div>
