<div class="row mt-5">
  <div class="col-lg-16">
    <div class="card mb-5">
      <div class="card-body">
        <div class="row d-flex-lg">
          <div class="col-lg-24">
            {{ form.title }}
            {{ form.title_description }}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-24">
            {{ form.field_wistia_video }}
            {{ form.taxonomy_vocabulary_17 }}
            {{ form.taxonomy_vocabulary_9 }}
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-body panel-body panel-body-border-bottom p-b-0">
        {{ form.field_video_description }}
        {{ form.field_chapters }}
      </div>
      <div class="card-body panel-body p-t-lg">
        {{ form|without(
          'title',
          'title_description',
          'field_video_description',
          'field_chapters',
          'field_wistia_video',
          'taxonomy_vocabulary_17',
          'taxonomy_vocabulary_9',
          'field_wistia_video_duration',
          'field_featured_video',
          'field_video_type',
          'upload',
          'advanced') }}
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-sidebar">
    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        Video settings
      </div>
      <div class="card-body">
        {{ form.field_featured_video }}
        {{ form.field_video_type }}
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        Attachments
      </div>
      <div class="card-body">
        {{ form.upload }}
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    Settings
  </div>
  <div class="card-body">
    {{ form.advanced }}
  </div>
</div>
