{% set access_upload = false %}
{% set related_content = false %}
{% set has_sidebar = false %}
{% set main_class = 'col-lg-24' %}

{% if form.field_image['#access'] %}
  {% set access_upload = true %}
{% elseif form.upload['#access'] %}
  {% set access_upload = true %}
{% endif %}

{% if form.field_company_related_content_ty['#access'] %}
  {% set related_content = true %}
{% elseif form.field_any_related_company['#access'] %}
  {% set related_content = true %}
{% elseif form.field_companies['#access'] %}
  {% set related_content = true %}
{% elseif form.field_any_related_nodes['#access'] %}
  {% set related_content = true %}
{% elseif form.field_related_nodes['#access'] %}
  {% set related_content = true %}
{% endif %}

{% if (access_upload or related_content) %}
  {% set has_sidebar = true %}
  {% set main_class = 'col-lg-16' %}
{% endif %}

<div class="row {% if has_sidebar %}mt-5{% endif %}">
  <div class="{{ main_class }}">
    <div class="card mb-5">
      <div class="card-body card-body--top">
        <div class="row m-b-lg">
          <div class="col-lg-24 p-lg-0">
            {{ form.author_option }}
          </div>
        </div>
        <div class="row d-flex-lg">
          <div class="col-lg-12">
            {{ form.taxonomy_forums }}
          </div>
          <div class="col-lg-12">
            {{ form.field_region }}
          </div>
        </div>
        <div class="row d-flex-lg">
          {% if form['body']['widget'][0]['format']['format']['#access'] %}
            <div class="col-lg-16">
              {{ form.title }}
              {{ form.title_description }}
            </div>
            <div class="col-lg-8" data-move-target="body-text-formats"></div>
          {% else %}
            <div class="col-lg-24">
              {{ form.title }}
              {{ form.title_description }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-body panel-body panel-body-border-bottom p-b-0">
        {{ form.body }}
        {{ form.taxonomy_vocabulary_15 }}
      </div>
      <div class="card-body panel-body p-t-lg">
        {{ form|without(
          'is_ama',
          'title',
          'body',
          'taxonomy_vocabulary_15',
          'title_description',
          'taxonomy_forums',
          'field_forum_level',
          'field_region',
          'field_image',
          'field_company_related_content_ty',
          'field_any_related_company',
          'field_companies',
          'field_any_related_nodes',
          'field_related_nodes',
          'field_only_allow_certified_users',
          'upload',
          'author_option',
          'advanced') }}
      </div>
    </div>
  </div>

  {% if has_sidebar %}
  <div class="col-lg-8 col-sidebar">
    {% if access_upload %}
    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        Attachments
      </div>
      <div class="card-body">
        {{ form.field_image }}
        {{ form.upload }}
      </div>
    </div>
    {% endif %}

    {% if related_content %}
    <div class="card mb-5">
      <div class="card-header panel-heading panel-heading--transparent">
        Related Content
      </div>
      <div class="card-body">
        {{ form.field_company_related_content_ty }}
        {{ form.field_any_related_company }}
        {{ form.field_companies }}
        {{ form.field_any_related_nodes }}
        {{ form.field_related_nodes }}
      </div>
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>

{% if form['#access_to_form_advanced'] %}
<div class="card mb-5">
  <div class="card-header">
    Settings
  </div>
  <div class="card-body">
    {{ form.advanced }}
  </div>
</div>
{% endif %}

{% if form.is_ama %}
  <div class="modal fade" id="wsoIsAmaModal" tabindex="-1" role="dialog" aria-labelledby="wsoIsAmaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="wsoIsAmaModalLabel">
            {{ 'Q&A (Questions & Answers) Detected:'|t }}
          </h5>
        </div>
        <div class="modal-body">
          {{ 'We have detected your topic as Q&A, uncheck the checkbox below if it is not'|t }}
          <br>
          {{ form.is_ama }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {{ 'Post Discussion'|t }}
          </button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
