{#
/**
 * @file
 * Default theme implementation of modal add paragraph dialog template.
 *
 * Following classes have custom use:
 *   - paragraphs-add-dialog - is used to wrap the dialog.
 *   - paragraphs-add-dialog-row - is used to wrap the paragraph type rows.
 *
 *
 * @ingroup themeable
 */
#}
{{ add }}
<div class="paragraphs-add-dialog js-hide">
    <ul class="paragraphs-add-dialog-list">
    {% for button in buttons %}
      <li class="paragraphs-add-dialog-row">
        {{ button }}
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  <button type="button" class="btn btn-other" data-bs-toggle="modal" data-bs-target="#exampleParagraphs">
    <i class="icon icon-question-circle-o"></i> About paragraphs types
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleParagraphs" tabindex="-1" aria-labelledby="exampleParagraphsModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleParagraphsModal">Paragraphs types list:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <img src="/themes/custom/porto_sub/images/paragraphs-preview/rich-text.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Rich text</h5>
                <p class="card-text">Adds rich text markup by CKEDITOR. Possible to align text, change colors, sizes, styles, add lists, buttons, etc.</p>
              </div>
            </div>
          </div>{#col-md-12#}

          <div class="col-md-12">
            <div class="card">
              <img src="/themes/custom/porto_sub/images/paragraphs-preview/two-columns.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Two columns</h5>
                <p class="card-text">Adds two columns with the possibility to insert other paragraphs inside each column,
                  for example, rich text, image, video. The width or order of columns can be changed also.
                </p>
              </div>
            </div>
          </div>{#col-md-12#}

        </div>
      </div>
    </div>
  </div>
</div>
