<div class="text-center m-t-lg m-b-lg mt-5">
  {% if path_args[2] == "" or path_args[2] == "invite" or path_args[2] == "talentoasis" %}
    <h2 class="m-n">{{ form.extra }}</h2>
    <h2 class="text-center m-n"><strong class="text-lg">{{ form.title }}</strong></h2>
    <span class="lead">{{ form.lead }}</span>
  {% endif %}

  {% if path_args[2] == "comment" %}
    <h1 class="text-center m-n"><strong class="text-lg">{{ form.title }}</strong></h1>
    <span class="lead">{{ form.lead }}</span>
  {% endif %}

  {% if path_args[2] == "blur" or path_args[2] == "companydb" or path_args[2] == "template" or path_args[2] == "anonymous" %}
    <h1 class="text-center"><strong>{{ form.title }}</strong></h1>
    <span class="lead">{{ form.lead }}</span>
  {% endif %}

  {% if path_args[2] != "" %}
    {{ form.extra }}
  {% endif %}
</div>

<div class="row">
  <div class="d-none">
    <h4 class="text-center">Sign in using one of these accounts:</h4>
    <div id="interface_containert"></div>
  </div>

  <div class="col-lg-8 offset-lg-4 text-center">
    <div class="form-group flex-column m-b-xs">
      {{ form.account.mail|without('#errors') }}
      {# This peace of code needed to solve issue with missing error message. #}
      {# Default error messages saved in form.account.mail['#errors']; #}
      {# Restrict Domain Registration module provide validation, #}
      {# error message, that placed in form.account['#errors']; #}
      {% if form.account['#errors'] or form.account.mail['#errors'] %}
        <div class="form-item--error-message alert alert-danger alert-sm">
          {{ form.account['#errors'] }}
          {{ form.account.mail['#errors'] }}
        </div>
      {% endif %}
    </div>
    {{ form.captcha }}
    <div class="d-none">
      {{ form.legal }}
    </div>
    <div class="margin-bottom-10">
      <small>We respect your Name and E-mail privacy. By joining you accept our <a href="/legal" target="_blank">terms of service</a>.</small>
    </div>
    {{ form|without('account', 'legal', 'extra', 'title', 'lead', 'captcha') }}
  </div>
  <div class="col-lg-8 social-login-section">
    <h5 class="text-center">Join us using your Facebook, Google or LinkedIn account with 1 click below</h5>
    <div class="text-center">Already have an account? <a href="/user/login" class="login-link" id="login-link">Log in</a></div>
  </div>
</div>

