{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set uid = form['#uid'] %}
{% set is_admin = form['#is_admin'] %}

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-6 sidebar relative">
        <aside id="sidebar-left">
          <div id="sticky-sidebar">

              <div class="sidebar-sticky">
                <div class="panel p-0">
                  <div class="panel-body">
                    <ul class="list-group nav nav-pills flex-column nav-pills--scrollable" data-menu-for="#wso" role="tablist">
                      <li class="list-group-item nav-item p-0"><a href="#wso" class="nav-link active">WSO User Profile:</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-basic" class="nav-link">Basic info</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-position" class="nav-link">Position</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-other" class="nav-link">Other settings</a></li>
                    </ul>

                    <ul class="list-group nav nav-pills flex-column nav-pills--scrollable" data-menu-for="#job" role="tablist">
                      <li class="list-group-item nav-item p-0"><a href="#job" class="nav-link active">Professional Profile for Jobs:</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-contact" class="nav-link" data-bs-toggle-pane="#personal">Contact / Location</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-job-status" class="nav-link" data-bs-toggle-pane="#resume">Job / Employment Status / Desired position</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-docs" class="nav-link" data-bs-toggle-pane="#resume">Documents</a></li>

                      <li class="list-group-item nav-item p-0"><a href="#card-edit-language" class="nav-link" data-bs-toggle-pane="#skills">Language Skills</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-skills" class="nav-link" data-bs-toggle-pane="#skills">Skills</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-military" class="nav-link" data-bs-toggle-pane="#skills">Millitary Program / Varsity Athlete</a></li>

                      <li class="list-group-item nav-item p-0"><a href="#card-edit-undergraduate" class="nav-link" data-bs-toggle-pane="#education">Undergraduate / Graduate</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-majors" class="nav-link" data-bs-toggle-pane="#education">Majors</a></li>
                      <li class="list-group-item nav-item p-0"><a href="#card-edit-majors-other" class="nav-link" data-bs-toggle-pane="#education">Other</a></li>
                    </ul>
                  </div>
                </div>
              </div>

          </div>
        </aside>
    </div>

    <div class="col-lg-18 ms-sm-auto pt-3 px-4">
      <form{{ attributes }}>
        <div class="user-form-forms">

          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="wso-tab" data-bs-toggle="pill" href="#wso" role="tab" aria-controls="wso" aria-selected="true"><i class="icon icon-user"></i> WSO User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="job-tab" data-bs-toggle="pill" href="#job" role="tab" aria-controls="job" aria-selected="false"><i class="icon icon-briefcase"></i> Professional Profile for Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/{{ uid }}/notifications"><i class="icon icon-envelope"></i> Notifications & Subscriptions</a>
            </li>
          </ul>

          <div class="row">
            <div class="col-sm-24">
              {% if form.status_messages %}
                {{ form.status_messages }}
              {% endif %}

              <div class="alert alert-warning mb-1 alert-dismissible fade show" role="alert">
                <i class="svg-icon"><svg><use xlink:href="#info-circle-solid" /></svg></i> {{ 'New data will be saved after submit.'|t }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>

          <div class="tab-content tab-content--transparent" id="userTabContent">
            {# WSO User Profile #}
            <div class="tab-pane fade show active" id="wso" role="tabpanel" aria-labelledby="wso-tab">
              <div class="row">
                <div class="col-md-10 col-lg-11 col-xl-8">
                  <div class="card" id="card-edit-basic">
                    <h5 class="card-title">Basic info</h5>
                    {% if form.user_picture['widget'][0]["#default_value"]["fids"][0] %}
                      {{ drupal_field('user_picture', 'user', uid, 'teaser') }}
                    {% else %}
                      <div class="field field-name-user-picture field--type-image field--label-hidden field--item">
                        <div class="media media--bundle--user media--blazy media--image is-b-loaded">
                          <img alt="" class="media__image media__element" loading="lazy" src="/themes/custom/porto_sub/images/default_profile_big.png">
                        </div>
                      </div>
                    {% endif %}

                    <h2 class="user__name text-center mb-1">{{ form.account.name["#default_value"] }}</h2>
                    {% if is_admin %}
                      <div class="text-center mb-1">IP: {{ form.field_user_ip['widget'][0]['value']["#default_value"] }}</div>
                    {% endif %}
                    <div class="user__signature">
                      <div class="well">
                        {{ drupal_field('signature', 'user', uid, 'teaser') }}
                      </div>

                      {{ form.account.name }}

                      <a class="btn btn-outline-info btn-collapse collapsed d-block" data-bs-toggle="collapse" href="#collapseEditSignature" role="button" aria-expanded="false" aria-controls="collapseEditSignature">
                        <span data-state="default"><i class="icon icon-pencil"></i> Edit picture & signature</span><span data-state="open"><i class="icon icon-cancel"></i> Close</span>
                      </a>
                      <div class="collapse" id="collapseEditSignature">
                        {{ form.user_picture }}
                        {{ form.signature }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-14 col-lg-13 col-xl-16">
                  <div class="card" id="card-edit-auth">
                    <h5 class="card-title">Auth info</h5>
                    {% if is_admin %}
                      {{ form.account.mail }}
                      {{ form.account.pass }}
                      {{ form.account.current_pass }}
                      {{ form.account.roles }}
                    {% else %}
                      {{ form.account.mail }}
                      {{ form.account.pass }}
                      {{ form.account.current_pass }}
                    {% endif %}
                    {{ form.account|without('mail', 'name', 'pass', 'current_pass', 'status', 'roles', 'blocking_reason') }}
                  </div>
                </div>
              </div>{# row #}

              <div class="row">
                <div class="col-md-24">
                  <div class="card" id="card-edit-position">
                    <h5 class="card-title">Current Status</h5>
                    {{ form.field_current_industry }}
                    {{ form.field_confirm_title }}
                    {{ form.field_groupdivision }}
                  </div>
                </div>
              </div>{# row #}
            </div>

            {# Professional Profile for Jobs #}
            <div class="tab-pane fade" id="job" role="tabpanel" aria-labelledby="job-tab">
              <ul class="nav nav-tabs mt-3" id="job-pills-tab" role="tablist">
                <li class="nav-item"  role="presentation">
                  <a class="nav-link active" id="personal-tab" data-bs-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Personal</a>
                </li>
                <li class="nav-item"  role="presentation">
                  <a class="nav-link" id="resume-tab" data-bs-toggle="tab" href="#resume" role="tab" aria-controls="resume" aria-selected="false">Resume</a>
                </li>
                <li class="nav-item"  role="presentation">
                  <a class="nav-link" id="sills-tab" data-bs-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="false">Skills</a>
                </li>
                <li class="nav-item"  role="presentation">
                  <a class="nav-link" id="education-tab" data-bs-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false">Education</a>
                </li>
              </ul>

              <div class="tab-content tab-content--transparent" id="jobTabContent">
                <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="card" id="card-edit-contact">
                        <h5 class="card-title">Contact Information</h5>
                        {{ form.field_first_name }}
                        {{ form.field_last_name }}
                        {{ form.field_linkedin_profile }}
                        {{ form.field_phone }}
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card" id="card-edit-location">
                        <h5 class="card-title">Location</h5>
                        {{ form.field_state }}
                        {{ form.field_country }}
                        {{ form.field_city }}
                        {{ form.field_google_place_id }}
                        {{ form.field_zipcode }}
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="card" id="card-edit-more">
                        <h5 class="card-title">More About Yourself</h5>
                        <label class="control-label">Race</label>
                        {{ form.field_race }}
                        <label class="control-label">Sex</label>
                        <div class="row">
                          <div class="col-xl-9">
                            {{ form.field_sex }}
                          </div>
                          <div class="col-xl-15">
                            {{ form.field_birthdate }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>{# row #}
                </div>

                <div class="tab-pane fade" id="resume" role="tabpanel" aria-labelledby="resume-tab">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" id="card-edit-job-status">
                        <h5 class="card-title">Job Status</h5>
                        {{ form.field_job_search_status }}

                        <h5 class="card-title">Employment Status</h5>
                        {{ form.field_employment_status }}
                        {{ form.field_company }}
                        {{ form.field_company_size }}
                        {{ form.field_started_working_month_year }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card" id="card-edit-desire">
                        <h5 class="card-title">Desired position</h5>
                        {{ form.field_location_preferences }}
                        {{ form.field_pay_currency }}
                        {{ form.field_desired_title }}
                        {{ form.field_desired_industry }}
                        {{ form.field_desired_group }}
                        {{ form.field_desired_compensation }}
                        {{ form.field_fund_size_preference }}
                        {{ form.field_firm_size_preference }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card" id="card-edit-docs">
                        <h5 class="card-title">Documents</h5>
                        {{ form.upload }}
                        {{ form.field_profile_picture }}
                        {{ form.field_cover_letter }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card" id="card-edit-visa">
                        <h5 class="card-title">I want to be contacted for/by</h5>
                        {{ form.field_be_contacted_by }}

                        <h5 class="card-title">Will You Need Visa Sponsorship?</h5>
                        {{ form.field_visa_sponsorship }}
                      </div>
                    </div>
                  </div>{# row #}
                </div>

                <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
                  <div class="row">
                    <div class="col-md-24">
                      <div class="card" id="card-edit-language">
                        <h5 class="card-title">Language Skills</h5>
                        <div class="pair-item-container">
                          <div class="pair-item col-md-12 d-lg-flex">
                            {{ form.field_language_1 }}
                            {{ form.field_language_level_1 }}
                          </div>
                          <div class="pair-item col-md-12 d-lg-flex">
                            {{ form.field_language_2 }}
                            {{ form.field_language_level_2 }}
                          </div>
                          <div class="pair-item col-md-12 d-lg-flex">
                            {{ form.field_language_3 }}
                            {{ form.field_language_level_3 }}
                          </div>
                          <div class="pair-item col-md-12 d-lg-flex">
                            {{ form.field_language_4 }}
                            {{ form.field_language_level_4 }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>{# row #}

                  <div class="row">
                    <div class="col-md-24">
                      <div class="card" id="card-edit-skills">
                        <h5 class="card-title">Skills</h5>
                        <div class="pair-item-container">
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_overall_financial_modeling }}
                            {{ form.field_ofm_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_excel_skills_macros }}
                            {{ form.field_macro_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_excel_skills_formatting }}
                            {{ form.field_format_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_overall_investing_skills }}
                            {{ form.field_investing_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_powerpoint_skills }}
                            {{ form.field_pp_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_microsoft_word }}
                            {{ form.field_word_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_overall_excel_skill }}
                            {{ form.field_oexs_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_mea }}
                            {{ form.field_mea_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_discounted_cash_flow }}
                            {{ form.field_dcf_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_other_valuation_analysis }}
                            {{ form.field_ova_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_excel_advanced_functions }}
                            {{ form.field_exl_adv_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_restructuring_complex_cap }}
                            {{ form.field_rcc_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_excel_skills_data_tables }}
                            {{ form.field_datatable_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_long_investing_ideas_equi }}
                            {{ form.field_longidea_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_short_investing_ideas_equi }}
                            {{ form.field_short_ideas_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_investing_ideas_derivative }}
                            {{ form.field_derivative_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_investing_ideas_credit }}
                            {{ form.field_investing_ideas_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_investing_macro }}
                            {{ form.field_investing_macro_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_investing_relative_value }}
                            {{ form.field_investing_rltive_year_exp }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_lbo_modeling }}
                            {{ form.field_lbo_year_exp }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>{# row #}

                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" id="card-edit-military">
                        <h5 class="card-title">Millitary Program (ie. ROTC)</h5>
                        {{ form.field_millitary_program }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card" id="card-edit-varsity">
                        <h5 class="card-title">Varsity Athlete</h5>
                        {{ form.field_varsity_athlete }}
                      </div>
                    </div>

                    {#
                    todo: migrate
                    <div class="col-md-16">
                      <div class="card" id="card-edit-other-skills">
                        <h5 class="card-title">Other Skills</h5>
                        {{ form.field_other_skills }}
                      </div>
                    </div>
                    #}

                  </div>{# row #}
                </div>{# tab-pane #}

                <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" id="card-edit-undergraduate">
                        <h5 class="card-title">Undergraduate</h5>
                        {{ form.field_undergrad_school }}
                        {{ form.field_overall_undergrad_gpa }}
                        {{ form.field_undergrad_graduation_year }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card" id="card-edit-graduate">
                        <h5 class="card-title">Graduate</h5>
                        {{ form.field_grad_school }}
                        {{ form.field_overall_grad_gpa }}
                        {{ form.field_grad_graduation_year }}
                      </div>
                    </div>
                  </div>{# row #}

                  <div class="row">
                    <div class="col-md-24">
                      <div class="card" id="card-edit-majors">
                        <h5 class="card-title">Majors</h5>
                        <div class="pair-item-container">
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_major1 }}
                            {{ form.field_degree1 }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_major2 }}
                            {{ form.field_degree2 }}
                          </div>
                          <div class="pair-item col-md-12 col-lg-8">
                            {{ form.field_major3 }}
                            {{ form.field_degree3 }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>{# row #}

                  <div class="row">
                    <div class="col-md-24">
                      <div class="card" id="card-edit-majors-other">
                        <h5 class="card-title">Other</h5>

                        <div class="row">
                          <div class="col-md-16">
                            {{ form.field_certifications }}
                            <div class="row">
                              <div class="col-lg-8">
                                {{ form.field_math_sat }}
                              </div>
                              <div class="col-lg-8">
                                {{ form.field_verbal_sat }}
                              </div>
                              <div class="col-lg-8">
                                {{ form.field_writing_sat }}
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8">
                            {{ form.field_gmat }}
                            {{ form.field_act }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>{# row #}

                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-xl-10">
              <div class="card">
                <h5 class="card-title">Actions</h5>
                {% if is_admin %}
                  <label>Status:</label>
                  {{ form.account.status }}
                  {{ form.account.blocking_reason }}
                {% endif %}

                {{ form.actions }}

                {% if form.one_time_login %}
                  <div class="mt-4">
                    <h5 class="card-title">{{ 'Generate one-time login link'|t }}</h5>
                    {{ form.one_time_login }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col-md-12 col-xl-14">
              <div class="card" id="card-edit-other">
                <h5 class="card-title">Other settings</h5>
                <label>As seen on:</label>
                {{ form.field_wso_alpha_link }}
                <hr>
                {{ form.legal }}

                <button class="btn btn-outline-info btn-collapse collapsed mt-4" data-bs-toggle="collapse" data-bs-target="#collapseEditOther" aria-expanded="false" aria-controls="collapseEditOther">
                  <span data-state="default"><i class="icon icon-pencil"></i> {{ 'View & Edit Other Settings'|t }}</span><span data-state="open"><i class="icon icon-cancel"></i> Close</span>
                </button>
                <div id="collapseEditOther" class="collapse mt-4" aria-labelledby="headingEditOther">
                  {{ form|without(
                    'user_picture',
                    'signature',
                    'account',
                    'legal',
                    'field_wso_alpha_link',
                    'field_current_industry',
                    'field_confirm_title',
                    'field_groupdivision',
                    'field_subscribe_to_dailyupside',
                    'field_subscribe_to_morning_brew',
                    'field_subscribe_to_watercoolest',
                    'field_first_name',
                    'field_last_name',
                    'field_linkedin_profile',
                    'field_phone',
                    'field_race',
                    'field_sex',
                    'field_birthdate',
                    'field_state',
                    'field_country',
                    'field_city',
                    'field_google_place_id',
                    'field_zipcode',
                    'field_job_search_status',
                    'field_employment_status',
                    'field_company',
                    'field_started_working_month_year',
                    'field_company_size',
                    'field_location_preferences',
                    'field_pay_currency',
                    'field_desired_title',
                    'field_desired_industry',
                    'field_desired_group',
                    'field_desired_compensation',
                    'field_fund_size_preference',
                    'field_firm_size_preference',
                    'upload',
                    'field_profile_picture',
                    'field_cover_letter',
                    'field_be_contacted_by',
                    'field_visa_sponsorship',
                    'field_language_1',
                    'field_language_2',
                    'field_language_3',
                    'field_language_4',
                    'field_language_level_1',
                    'field_language_level_2',
                    'field_language_level_3',
                    'field_language_level_4',
                    'field_overall_financial_modeling',
                    'field_ofm_year_exp',
                    'field_excel_skills_macros',
                    'field_macro_year_exp',
                    'field_excel_skills_formatting',
                    'field_format_year_exp',
                    'field_overall_investing_skills',
                    'field_investing_year_exp',
                    'field_powerpoint_skills',
                    'field_pp_year_exp',
                    'field_microsoft_word',
                    'field_word_year_exp',
                    'field_overall_excel_skill',
                    'field_oexs_year_exp',
                    'field_mea',
                    'field_mea_year_exp',
                    'field_discounted_cash_flow',
                    'field_dcf_year_exp',
                    'field_other_valuation_analysis',
                    'field_ova_year_exp',
                    'field_excel_advanced_functions',
                    'field_exl_adv_year_exp',
                    'field_restructuring_complex_cap',
                    'field_rcc_year_exp',
                    'field_excel_skills_data_tables',
                    'field_datatable_year_exp',
                    'field_long_investing_ideas_equi',
                    'field_longidea_year_exp',
                    'field_short_investing_ideas_equi',
                    'field_short_ideas_year_exp',
                    'field_investing_ideas_derivative',
                    'field_derivative_year_exp',
                    'field_investing_ideas_credit',
                    'field_investing_ideas_year_exp',
                    'field_investing_macro',
                    'field_investing_macro_year_exp',
                    'field_investing_relative_value',
                    'field_investing_rltive_year_exp',
                    'field_lbo_modeling',
                    'field_lbo_year_exp',
                    'field_millitary_program',
                    'field_varsity_athlete',
                    'field_other_skills',
                    'field_undergrad_school',
                    'field_overall_undergrad_gpa',
                    'field_undergrad_graduation_year',
                    'field_grad_school',
                    'field_overall_grad_gpa',
                    'field_grad_graduation_year',
                    'field_major1',
                    'field_degree1',
                    'field_major2',
                    'field_degree2',
                    'field_major3',
                    'field_degree3',
                    'field_certifications',
                    'field_math_sat',
                    'field_verbal_sat',
                    'field_writing_sat',
                    'field_gmat',
                    'field_act',
                    'cancellation_flag',
                    'actions'
                  ) }}
                  <div class="mt-4 account-cancellation">
                    <h5 class="card-title">{{ 'Account cancellation'|t }}</h5>
                    {{ form.cancellation_flag }}
                  </div>
                </div>
              </div>
            </div>
          </div>{# row #}

        </div>
      </form>
    </div>
  </div>
</div>
