a.indico {
  font-size: 10px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-neutral-0);
  border-radius: 50%;
  width: 28px;
  height: 28px
}
a.indico:hover {
  color: var(--color-neutral-0);
  text-decoration: none
}
a.indico.prospect {
  background-color: #08c42a
}
a.indico.intern {
  background-color: #369b4a
}
a.indico.analyst {
  background-color: #9ad6ea
}
a.indico.associate {
  background-color: #5bbcdd
}
a.indico.leader {
  background-color: #087dfd
}
a.indico.business-school {
  background-color: #f78bf2
}
a.indico.basic {
  background-color: var(--color-neutral-5)
}
a.indico.director {
  background-color: #008;
  color: var(--color-neutral-0);
  text-shadow: none
}
a.indico.manager {
  background-color: #352fc7;
  color: var(--color-neutral-0)
}
/*# sourceMappingURL=industry-icon.component.css.map */
