@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

a {
  &.indico {
    font-size: 10px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-neutral-0);
    border-radius: 50%;
    width: 28px;
    height: 28px;

    &:hover {
      color: var(--color-neutral-0);
      text-decoration: none;
    }

    &.prospect {
      background-color: $color-pop-green;
    }

    &.intern {
      background-color: $color-green-5;
    }

    &.analyst {
      background-color: $lightblue_9AD6EA;
    }

    &.associate {
      background-color: $skyblue_5BBCDD;
    }

    &.leader {
      background-color: $color-blue;
    }

    &.business-school {
      background-color: $violet_F78BF2;
    }

    &.basic {
      background-color: var(--color-neutral-5);
    }

    &.director {
      background-color: $darkblue_000088;
      color: var(--color-neutral-0);
      text-shadow: none;
    }

    &.manager {
      background-color: $darkblue_352FC7;
      color: var(--color-neutral-0);
    }
  }
}
