//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

// Grid
.premium-video__head__part,
.premium-video__content__section {
  @include wso-container();
}

.breadcrumb {
  display: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  display: block;

  td {
    float: left;
    padding: 0 8px;

    &:first-child {
      min-width: 60px;
      width: auto;
    }
  }

  th {
    &:first-child {
      min-width: 60px;
      width: auto;
    }
    float: left;
    padding: 0 8px;
  }

  tr {
    background-color: var(--color-neutral-0);
    padding: 0 12px;
  }
}

tbody {
  display: block;
  height: 319px;
  overflow-y: auto;
  border-top: 2px solid var(--color-neutral-2);

  td {
    float: left;
    padding: 0 8px;

    &:first-child {
      min-width: 60px;
      width: auto;
    }
  }
}

tr {
  display: block;
  cursor: pointer;

  &:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden;
  }

  &.even {
    padding: 0 12px;
    background-color: var(--color-neutral-0);
    border-color: var(--color-neutral-2);

    td {
      &:last-child {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        width: calc(100% - 70px);
      }

      a {
        color: var(--color-base);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: .1px;
        line-height: 1.29;
      }
    }
  }

  &.odd {
    padding: 0 12px;
    background-color: var(--color-neutral-0);
    border-color: var(--color-neutral-2);

    td {
      &:last-child {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        width: calc(100% - 70px);
      }

      a {
        color: var(--color-base);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: .1px;
        line-height: 1.29;
      }
    }
  }

  td {
    &:last-child {
      a {
        &:after {
          bottom: 0;
          content: "";
          cursor: pointer;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: 99;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    a {
      pointer-events: none;
    }
  }
}

td {
  display: block;
}

th {
  display: block;
}

.table {
  > thead {
    > tr {
      > td {
        color: var(--color-base);
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, font-weight);
        height: 41px;
        letter-spacing: .1px;
        line-height: 41px;
        padding: 0 8px;
      }

      > th {
        color: var(--color-base);
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, font-weight);
        height: 41px;
        letter-spacing: .1px;
        line-height: 41px;
        padding: 0 8px;
      }
    }
  }
}

.table-striped {
  > tbody {
    > tr {
      &:nth-of-type(odd) {
        background-color: var(--color-neutral-0);
        padding: 0 12px;
      }
    }
  }
}

iframe {
  width: 100%;
}

.video-chapters {
  table {
    > tbody {
      > tr {
        position: relative;

        &:hover {
          background-color: rgba(43, 157, 223, .05) !important;
          z-index: 90;
        }
      }
    }
  }
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--color-neutral-0);
}

.premium-video__content__section {
  .table {
    > tbody {
      > tr {
        > td {
          border: none;
        }
      }
    }

    > thead {
      > tr {
        > td {
          border: none;
        }

        > th {
          border: none;
        }
      }
    }
  }

  .field-type-text-long {
    .field-item {
      padding: 0;
    }
  }
}

.video-player__column {
  padding: 0;
}

.video-chapters__column {
  padding: 0;
}

.premium-video__head__section {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 1px 0 0;
  background: var(--color-neutral-0);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .02);
}

.premium-video__head__title {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--color-base);

  div {
    display: inline-block;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.premium-video__head__company-name {
  color: var(--color-neutral-7);
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 1.25;
}

.premium-video__head__content {
  display: flex;
  flex-direction: row;

  > .premium-video__head__content_mark {
    align-items: center;
    display: flex;
  }

  > div {
    &.field-content {
      align-items: center;
      display: flex;
    }
    display: flex;
    align-items: center;
  }

  span {
    padding-right: 5px;
  }
}

.premium-video__head__content_mark {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.29;

  .vote-result {
    display: none;
  }
}

.premium-video__head__content_sessions {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: .1px;
  color: var(--color-base);
  position: relative;
  @include responsive-prop(700, 800, font-weight);
  margin-left: 17px;

  &:before {
    border-left: 1px solid var(--color-neutral-4);
    content: '';
    height: 12px;
    left: -10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

  .field-name-field-video-type {
    display: inline-block;
  }
}

.node-type-premium-video {
  .fivestar-item {
    .form-item {
      margin: 0;
    }
  }

  div {
    &.fivestar-widget {
      .star {
        float: left;
        width: 14px;
        height: 14px;
        overflow: hidden;
        text-indent: -999em;
        background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
        margin-bottom: 0;
        background-size: cover;

        a {
          background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
          background-size: cover;
          float: left;
          height: 14px;
          margin-bottom: 0;
          overflow: hidden;
          text-indent: -999em;
          width: 14px;
        }

        &.on {
          a {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 -14px;
            background-size: 14px 28px;
            display: block;
            height: 100%;
            width: 100%;
          }
        }

        &.off {
          a {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
            background-size: cover;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .fivestar-default {
    height: 14px;
  }

  .fivestar-summary {
    display: none;
  }
}

div {
  &.fivestar-widget {
    display: block;
    margin: -1.5px auto 0;
  }
}

.fivestar-widget {
  &.fivestar-widget-5 {
    display: inline-block;
    margin: -1.5px auto 0;
  }
}

.mac {
  div {
    &.fivestar-widget {
      display: inline-block;
      margin: 1px auto 0;

      &.fivestar-widget-5 {
        display: inline-block;
        margin: 1px auto 0;
      }
    }
  }
}

.field-type-fivestar {
  .description {
    display: none;
  }
  text-align: center;
}

.premium-video__files__section {
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
  background-color: var(--color-neutral-0);
  padding: 24px 32px;

  .field-item {
    &:first-child {
      margin-bottom: 17px;
    }
  }
}

.premium-video__files__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 24px;
}

.premium-video__description__part {
  position: relative;
  display: inline-block;

  p {
    color: var(--color-base);
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: .1px;
    line-height: 1.8;
  }

  .premium-video__description__title {
    color: var(--color-base);
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.13;
  }
}

.premium-video__content-part__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.13;
}

.premium-video__industry__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 14px;
}

.premium-video__industry__part {
  .field-name-taxonomy-vocabulary-9.field--items {
    display: flex;
    flex-wrap: wrap;
  }

  .field--item {
    display: inline-block;
    padding-right: 6px;
    margin-right: 7px;
    margin-bottom: 7px;
  }

  a {
    position: relative;
    padding: 5px 12px 5px 32px;
    background: var(--color-neutral-0);
    display: inline-block;
    border: 1px solid var(--color-neutral-4);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .1px;
    color: var(--color-base);

    &:before {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_label-blue.png);
      background-size: cover;
      content: "";
      height: 12px;
      left: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
    }

    &:hover {
      background: var(--color-neutral-1);
      border-color: var(--color-neutral-4);
      color: var(--color-base);
      text-decoration: none;
    }
  }
}

.field-name-upload {
  .file-size {
    display: none;
  }
}

@include media('<tablet') {
  .premium-video__head__title {
    font-size: 34px;
    margin: 16px 0;
  }

  .premium-video__head__section {
    padding: 27px 0;
  }

  .premium-video__content__section {
    margin-top: 15px;
  }

  .premium-video__head__company-name {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .premium-video__head__content {
    > .premium-video__head__content_mark {
      align-items: center;
      display: flex;
    }
  }

  .premium-video__content {
    padding: 32px 0 24px 0;
  }

  .premium-video__files__section {
    margin: 32px 0;
  }

  .premium-video__description__part {
    margin-bottom: 24px;
  }
}

@include media('>=tablet', '<desktop') {
  .premium-video__head__part {
    margin: 40px auto;
  }

  .premium-video__head__company-name {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .premium-video__content__section {
    margin-top: 30px;
  }

  .premium-video__description__part {
    margin: 30px 0;

    p {
      margin: 0;
    }
  }

  .premium-video__files__section {
    margin-bottom: 30px;
  }

  .premium-video__industry__part {
    margin-bottom: 30px;
  }
}

@include media('>=desktop', '<large-desktop') {
  .premium-video__head__part {
    margin: 40px auto;
  }

  .premium-video__head__company-name {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .premium-video__content__section {
    margin-top: 30px;
  }

  .premium-video__description__part {
    margin: 30px 0;

    p {
      margin: 0;
    }
  }

  .premium-video__files__section {
    margin-bottom: 30px;
  }

  .premium-video__industry__part {
    margin-bottom: 30px;
  }
}

@include media('>=large-desktop') {
  .field-type-fivestar {
    .form-group {
      margin-bottom: 0;
    }
  }

  .bulk-package__block {
    .btn {
      margin-right: 10px;
    }
  }

  .premium-video__head__part {
    margin: 0 auto;
    max-width: 960px;
  }

  .premium-video__content__section {
    margin: 50px auto 0;
    max-width: 960px;
  }

  .premium-video__head__title {
    font-size: 40px;
    margin: 36px 0 8px;
  }

  .premium-video__head__section {
    padding: 27px 0 52px;
  }

  .premium-video__head__company-name {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .premium-video__content {
    padding: 32px 40px 24px 0;
  }

  .premium-video__files__section {
    margin-top: 32px;
  }

  .premium-video__description__part {
    margin-bottom: 48px;
  }
}
