@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local('Oswald-Regular'),
  url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.woff2) format("woff2"),
  url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.woff) format("woff"),
  url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.ttf) format("ttf");
  text-rendering: optimizeLegibility;
  font-display: swap;
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
  -webkit-font-smoothing: antialiased
}

// Grid
#sidebar-left {
  background: var(--color-page-bg);

  @include media('>=desktop') {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 998;
    height: 100%;
    padding-right: 0;

    .toolbar-tray-open.toolbar-horizontal & {
      top: 80px;
      height: calc(100% - 80px);
    }

    #sticky-sidebar {
      display: flex;
      flex-direction: column;
      max-height: 100vh;

      .toolbar-tray-open.toolbar-horizontal & {
        max-height: calc(100vh - 80px);
      }

      .sidebar-top {
        flex: 0 auto;
        margin-right: 0;
      }

      .views-element-container {
        padding-right: 15px;
        flex: 1;
        overflow-y: scroll;
      }

      .flashcards-container {
        transform: translateX(-15px);

        .btn.open-flashcards {
          width: 75%;
          padding: 10px;
          text-transform: unset;
        }
      }
    }
  }
}

.sidebar-top {
  background: var(--color-neutral-0);

  h1 {
    color: var(--color-base);
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    margin-left: 15px;
    margin-top: 15px;
    letter-spacing: 1px;
  }
}

a {
  &.back {
    @include responsive-prop(700, 800, font-weight);
    color: $color-blue;
    font-size: 13px;
    margin-left: 15px;
  }
}

#lesson-header {
  background: var(--color-neutral-0);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 997;
  border-bottom: solid 1px var(--color-neutral-4);
  border-top: solid 1px var(--color-neutral-4);
  display: flex;
  padding: 16px 24px;
  margin-bottom: 24px;

  @include media('>=desktop') {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    padding: 16px 24px 16px 50px;
  }
}

.lesson-links {
  display: flex;
  margin-bottom: 10px;

  .links {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .print__wrapper {
    margin-bottom: 0;
  }

  .print__link--pdf {
    font-size: 0;
    height: 40px;
    width: 34px;
    display: block;
    transform: scale(.7);
    transition: .15s linear;
    transform-origin: center;
    margin: 0 5px;

    &:hover {
      transform: scale(1);
    }

    &:after {
      content: "";
      position: absolute;
      height: 40px;
      width: 34px;
      background-size: cover;
      background: url(/themes/custom/porto_sub/images/icons/pdf.png) no-repeat;
      background-size: cover;
    }
  }

  .field--type-file {
    display: inline-flex;
    flex-wrap: wrap;

    .file {
      .file-icon-link {
        margin: 0 5px;
      }

      .file-link,
      .file-size {
        display: none;
      }

      .file-icon {
        transform-origin: center;
      }
    }
  }

  .file-icon {
    height: 40px;
    transform-origin: bottom;
    transform: scale(.7);
    transition: .15s linear;
    margin: 0 8px;

    &:hover {
      transform: scale(1);
    }
  }
}

body {
  &.position--sticky {
    .body {
      padding-top: 72px;
    }
  }

  &.html {
    margin-top: 0;
  }
}

.position--sticky {
  #lesson-header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
}

.lesson-header__left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.lesson-header__right {
  display: none;

  @include media('>=desktop') {
    flex: 1;
    display: block;
  }
}

.lesson-header__center {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.lesson-header__center-counter {
  color: var(--color-neutral-7);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .4px;
  padding: 0 24px;
}

.lesson-header__center-counter-current {
  color: var(--color-base);
  @include responsive-prop(700, 800, font-weight);
}

.lesson-header__left-chapter {
  color: var(--color-neutral-7);
  font-size: 13px;
  letter-spacing: .2px;
  line-height: 1.45;
}

.lesson-header__left-title {
  h2 {
    color: var(--color-base);
    font-size: 17px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.38;
    margin: 0;
    padding: 0;
  }
}

#sticky-sidebar.position--sticky {
  left: 15px;
  top: 0;
  position: fixed;
  z-index: 100;
}

.node.lesson {
  padding-left: 0;
  padding-right: 0;
}

.answer-wrapper {
  min-height: 688px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .answer-wrapper__title {
    color: var(--color-base);
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  .answer-wrapper__description {
    color: var(--color-base);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 1.47;
    margin-bottom: 16px;
    max-width: 340px;
    text-align: center;
  }

  .answer-wrapper__filesize {
    color: var(--color-neutral-7);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 1.14;
    margin-bottom: 32px;
    text-align: center;
  }

  .answer-wrapper__buttons {
    .btn {
      margin-right: 8px;
      padding: 0 24px;
      text-transform: none;
    }
  }
}

.lesson-pdf {
  background-color: var(--color-neutral-0);
  color: $color-blue;
  font-size: 14px;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.29;
  margin-bottom: 10px;
  padding: 12px 16px;
}

.lesson-links-container {
  padding: 20px 0 0 40px;
}

.certified_user {
  border: 2px solid $color-yellow;
}

.wso-advantage {
  .well {
    &.well-sm {
      background: var(--color-neutral-8) none repeat scroll 0 0;
      border: medium none;
      border-radius: 0;
      font-size: 95%;
      padding: 15px;

      p {
        color: var(--color-neutral-4);
      }
    }

    h3 {
      color: var(--color-neutral-0);
    }
    color: var(--color-neutral-4);
  }
}

.post-header {
  .pre-header {
    justify-content: space-between;
  }

  .list-inline {
    flex: 1;
    font-size: em(16);
    color: var(--color-neutral-6);

    a {
      color: var(--color-neutral-6);
    }
  }

  .pre-header,
  .list-inline {
    display: flex;
    flex-wrap: wrap
  }
}

.post-author-share {
  margin: 25px 0 30px;
  font-size: 14px;

  @include media('>=desktop') {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .author-details {
    margin-top: 0;

    @include media('>=desktop') {
      display: flex;
      flex-wrap: nowrap;
    }

    .username {
      color: var(--color-base);
    }

    &-avatar {

    }
  }
}

.post-left-part {
  border-right: 1px solid var(--color-neutral-3);
}

.post-user-pic {
  img {
    left: 0;
    max-height: 36px;
    max-width: 36px;
    position: absolute;
    top: 0;
  }
}

.flag {
  font-size: 14px;
}

.post-footer {
  .links {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 5px 5px 5px 0;



      /*
      @at-root .post-footer .links.new-design {
        a {
          @include btn-secondary();
          line-height: 28px;
          padding: 0 12px;
          font-size: 14px;
          font-weight: 700;

          svg {
            width: 8px;
            height: 8px;
            display: inline-block;
            fill: $color-blue;
            margin-left: 5px;
          }
        }
      }
      */
    }
  }
}
.form__view__flashcards {
  .form-inline .form-control {
    width: 100% !important;
  }
  .form-group {
    margin-bottom: 0 !important;
  }

  .form-control {
    height: calc(1.5em + 0.876rem);
  }
}

  .flashcards__filters__actions {
    margin-top: 8px;

    .form-actions {
      display: flex;

      .form-control.button {
        width: 100%;
        margin-top: 8px;
        max-width: 100px;

        &:first-child {
          margin-right: 8px;
        }
      }
    }
  }

.select2-dropdown,
.select2-selection__choice {
  font-size: 14px;
}

.select2-multiple {
  @include select2--with-checkboxes();

  .select2-selection__choice {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.post-region-tags {
  background: var(--color-page-bg);
  border-radius: 3px;
  padding: 7px $side-gap;

  .field-name-field-region {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    .field--label {
      float: none;
      color: var(--color-base);
      font-weight: 500 !important;
    }

    .field--items {
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }

    .field--item {
      color: var(--color-base);

      a {
        color: var(--color-base);

        &:hover {
          color: $color-blue;
        }
      }

      @media (min-width: 768px) {
        margin-left: 7px;

        &:before {
          content: '';
          display: inline-block;
          height: 14px;
          width: 1px;
          margin-right: 3px;
          vertical-align: middle;
          background: var(--color-neutral-4);
        }
      }
    }

    .icon-flag {
      vertical-align: bottom;
      transform: scale(0.8);
      transform-origin: center;
    }
  }
}

.post-tags {
  border-top: 1px solid var(--color-neutral-3);
  margin-top: 8px;
  padding-top: 16px;
  margin-bottom: 5px;
}

.flag-abuse-node {
  a {
    color: $color-red !important;
  }
}

.post-time {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.featured-box {
  .box-content {
    border-radius: 0;
  }
}

.post-time-container {
  font-weight: 300;
}

.user-expertise {
  border-bottom: 1px solid var(--color-neutral-3);
  color: var(--color-neutral-6);
  font-weight: 400;
  margin-bottom: 0;
  margin-right: -10px;
  padding-bottom: 5px;
}

.user-profile-image {
  border: 1px solid var(--color-neutral-3);
  height: 50px;
  margin-top: 4px;
  width: auto;
}

.submitted-username {
  margin-left: 22px;
}

.follow-user {
  margin-left: 10px;
  position: absolute;
  top: -3px;
}

.user-info {
  .wso-username {
    margin-bottom: 0;
  }

  .wso-username-link {
    font-size: 100%;
    font-weight: 400;
    width: auto;
  }

  .preview-user-profile {
    font-size: 100%;
    font-weight: 400;
    width: auto;
  }
}

.separate-vertical {
  color: var(--color-neutral-4) !important;
  font-weight: 300;
  margin-left: -5px;
  margin-right: 5px;
}

.post-when {
  color: var(--color-neutral-7);
  font-size: 12px;
  font-weight: normal;
  line-height: 1.7;
  margin-right: 10px;
  white-space: nowrap;
}

.post-wrap {
  .btn {
    &.btn-info {
      background-color: transparent;
      border-color: $color-blue;
      color: $color-blue;
      padding: 0 6px;

      &:hover {
        background-color: $color-blue;
        color: var(--color-neutral-0);
      }
    }

    &.wso-follow-link {
      padding: 0 14px 0 10px;
      vertical-align: baseline;

      .icon {
        padding-right: 5px;
      }
    }
  }

  .field-name-body {
    i {
      &.icon {
        &.icon-star {
          &.icon__star__styles {
            &.icon__star__big {
              color: var(--color-neutral-0);
              font-size: 16px;
              border: 3px solid $color-yellow;
              border-radius: 50%;
              background-color: $color-yellow;
              width: 24px;
              height: 24px;
              position: relative;
              margin-right: 5px;
              top: auto;
              bottom: 0;
              right: 0;

              &:before {
                align-self: center;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .wso-username {
    i {
      &.icon {
        &.icon-star {
          &.icon__star__styles {
            &.icon__star__big {
              color: var(--color-neutral-0);
              font-size: 16px;
              border: 3px solid $color-yellow;
              border-radius: 50%;
              background-color: $color-yellow;
              width: 24px;
              height: 24px;
              position: relative;
              margin-right: 5px;
              top: auto;
              bottom: 0;
              right: 0;

              &:before {
                align-self: center;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .post-header {
    .forum__op__icon {
      i {
        &.icon {
          &.icon-star {
            &.icon__star__styles {
              align-items: center;
              background-color: $color-yellow;
              border: 3px solid $color-yellow;
              border-radius: 50%;
              bottom: 1px;
              color: var(--color-neutral-0);
              display: flex;
              font-size: 14px;
              height: 20px;
              justify-content: center;
              position: absolute;
              right: -4px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}

.hidden-replies {
  margin-top: -40px;
  padding: 5px 30px 10px;
  position: relative;
  z-index: 100;
}

.col-md-21 {
  h6 {
    &.user-expertise {
      width: 105%;
    }
  }
}

@include media('<tablet') {
  .view-display-id-attachment_1 {
    .lessons-list {
      .icon {
        font-size: 12px;
      }
    }

    li {
      font-size: 14px;
    }
  }

  .view-display-id-course_lessons {
    .views-field-title {
      a {
        font-size: 12px;
      }
    }
  }

  .mobile-progress {
    margin-top: 30px;
  }

  #lesson-header {
    display: block;

    .lesson-header__left {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .lesson-header__left-chapter {
    font-size: 16px;
  }

  .lesson-header__left-title {
    h1 {
      font-size: 18px;
    }
  }

  .lesson-header__center {
    .btn {
      &.btn-sm {
        font-size: 16px;
      }
    }
  }

  .sidebar-top {
    padding: 16px 0;
  }
}

@include media('>=desktop') {
  .node-type-lesson {
    .row-flex {
      display: flex;
    }

    #wso-content-outer {
      display: flex;
      flex-direction: column;

      > .container {
        max-width: 100%;
      }

      .region-content {
        //display: flex;
        //flex: 1 1 auto;
      }
    }

    #block-system-main {
      flex: 1 1 auto;
      display: flex;

      >.content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }

      .content {
        .node {
          flex-direction: column;
          display: flex;
          flex: 1 1 auto;
          padding-bottom: 10px;
        }

        .post-wrap {
          flex: 1 1 auto;

          >.content {
            display: flex;
            flex-direction: column;
            height: 100%;
          }
        }
      }
    }

    .field-name-field-pdf {
      flex: 1 auto;
      display: flex;

      .field-items {
        display: flex;
        flex: 1 auto;
      }

      .field-item {
        display: flex;
        flex: 1 auto;
      }
    }
  }

  .position--sticky {
    #lesson-header {
      padding-left: calc(25% + 15px + 24px);
    }
  }
}

.node-type-lesson {
  #header {
    table {
      td {
        padding: 0;
        vertical-align: middle;
        line-height: 0;
      }
    }

    .header-logo {
      img {
        height: 50px;
        width: auto;
      }
    }

    .header-chapter {
      font-size: 11px;
      @include responsive-prop(700, 800, font-weight);
      line-height: 1.45;
      letter-spacing: .2px;
      color: var(--color-neutral-7);
      text-align: right;
    }

    .header-title {
      font-size: 13px;
      @include responsive-prop(700, 800, font-weight);
      line-height: 1.38;
      letter-spacing: .2px;
      color: var(--color-base);
      margin: 0;
      padding: 0;
      text-align: right;
    }
  }

  #footer {
    display: none;
  }

  ul.links.inline li.print_html,
  ul.links.inline li.print_pdf {
    display: inline;
  }

  .node {
    .post-wrap {
      > .content > h2 {
        display: none;
      }
    }
  }

  &.print-version {
    #lesson-header {
      display: none;
    }
  }
}

.field-name-field-wistia-video {
  .embed-responsive {
    &:before {
      display: none;
    }
  }
}

#next-lesson-modal {
  text-align: center;

  .modal-dialog {
    display: inline-block;
    vertical-align: middle;
  }

  .modal-title,
  .modal-footer,
  .modal-body p {
    text-align: center;
  }

  .modal-header {
    border-bottom: 0;
    justify-content: center;
  }

  .modal-body {
    padding-top: 0;

    p {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    border-top: 0;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
}

.lms-container {
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

#comments {
  margin-top: 30px;
  margin-bottom: 20px;

  ul.links.inline li.comment-reply {
    display: inline-block;
  }

  .add-comment-show--bottom {
    display: none;
  }

  &.show-bottom-button .add-comment-show--bottom {
    display: inline-block;
  }

  &.no-pager {
    .pager-container {
      display: none;
    }
  }
}

#lesson-preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: var(--color-neutral-0);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    img {
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
    }
  }
}

.preloading-lesson {
  max-height: 100vh;
  overflow: hidden;

  #lesson-preloader {
    display: block;
    opacity: 1;
  }
}
