@import "./components/03-organisms/wso-braintree/upsels-deals";

.ui-dialog {
  z-index: 2001 !important;
}

.deal-item__popover {
  z-index: 2002 !important;
}

.wso-braintree-refund-confirm {
  .ajax-progress {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-neutral-0);
    text-align: center;
  }

  .btn-link {
    text-decoration: underline;
  }
}
