@import './components/03-organisms/view/view/vbo.scss';

.page-user {
  .container--breadcrumbs {
    padding: 21px 15px 24px;

    h1 {
      font-size: 34px;
      font-weight: 500;
    }
  }
}

#wso-content-outer {
  margin-bottom: 24px;
}

.user-profile-image {
  border-radius: 50%;
  margin: 0 10px 5px 0;
}

.user-picture-certified {
  position: relative;
  display: inline-block;
  float: left;

  .user-profile-image {
    border: 2px solid $color-yellow;
    float: none !important;
  }

  a {
    bottom: 9px;
    display: inline-block;
    height: 16px;
    left: auto;
    position: absolute;
    right: 10px;
    top: auto;
    width: 16px;
  }

  i {
    &.icon {
      &.icon-star {
        align-items: center;
        background-color: $color-yellow;
        border: 3px solid $color-yellow;
        border-radius: 50%;
        color: var(--color-neutral-0);
        display: inline-flex;
        font-size: 10px;
        height: 100%;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.roles {
  .flag {
    color: $indianred_a94442;
  }

  ul {
    &.list {
      li {
        margin-bottom: 5px;
      }
    }
  }
}

.user-info {
  em {
    color: $color-blue;
    font-style: normal;
  }

  .btn-success {
    margin-top: 10px;
  }

  .icon-rounded {
    background-color: $color-yellow;
    border-radius: 50%;
    color: var(--color-neutral-0);
    font-size: .8rem;
    margin-left: 3px;
    padding: 3px;
  }

  .user-picture-certified a {
    bottom: auto;
    top: 30px;
  }
}

.user__status__certified {
  &:hover {
    text-decoration: none;
  }
}

.user-info--name {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .2px;
  display: flex;
  align-items: center;

  a {
    display: flex;

    &:hover {
      text-decoration: none;
    }
  }
}

.user-info--rank {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .2px;
}

ul {
  &.user-info--points-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding-bottom: 5px;
      padding-top: 5px;
      border-bottom: 1px solid var(--color-neutral-2);

      &:last-child {
        border: none;
      }

      a {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: .2px;
        color: var(--color-base);
        align-items: center;

        .icon-poo {
          color: $dimgrey_7f5c5c;
        }

        &:hover {
          text-decoration: none;
        }

        .icon {
          margin-left: auto;
          margin-right: 3px;
        }
      }
    }
  }
}

.navbar-light {
  .navbar-brand {
    font-size: 16px;
  }

  .navbar-toggler {
    color: rgba(var(--color-black--rgb), .5);
    border-color: rgba(var(--color-black--rgb), .1);
    transform: scale(0.75);
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);

    .darkmode & {
      filter: invert(1);
    }
  }
}

#mentor-button-link {
  padding-top: 10px;
  padding-bottom: 5px;

  a {
    display: block;

    span {
      background: $color-green-100;
      color: var(--color-neutral-0);
      display: block;
      font-size: 14px;
      margin-top: 0;
      padding: 6px;
      text-transform: none;
    }
  }
}

.user-info--points {
  font-weight: 300;
}

#drupal_tabs {
  margin-bottom: 0;
}

.page-user {
  .tabs {
    width: 100%;

    &:not(#drupal_tabs) {
      .nav-tabs {
        background: var(--color-neutral-0);
        padding: 0 16px;
        border-bottom: 2px solid var(--color-neutral-2);

        li {
          padding: 0 8px;
        }

        a {
          border: none;
          border-bottom: 0;
          margin: 0;
          padding: 10px 0;
        }

        > li {
          margin-bottom: -2px;
        }

        .active {
          a {
            position: relative;
            color: var(--color-base);
            font-weight: 500;
            margin: 0;
            border: none;
            transition: font-weight 2s ease-in-out;

            &:after {
              background: $color-blue;
              bottom: 0;
              content: "";
              height: 2px;
              left: 0;
              position: absolute;
              width: 100%;
            }
          }
        }
      }

      .tab-content {
        border: none;
        padding: 20px;
      }
    }

    ul {
      &.nav-tabs {
        li {
          &.active {
            a {
              border: none;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }

  .page-top {
    background-color: transparent;
    padding: 24px 0;
    margin-bottom: 8px;

    h1 {
      color: var(--color-base);
      font-family: 'Lato', sans-serif;
      font-size: 34px;
      font-weight: 500;
      letter-spacing: .2px;
    }
  }

  .profile {
    margin: 0;
  }

  .nav-tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 0 14px;
    background: var(--color-neutral-0);
    border-radius: 3px;

    &.nav-justified {
      > li {
        width: auto;

        > a {
          background: transparent;
          border: none;
          border-radius: 4px;
          padding: 15px 10px;
        }
      }
    }
  }

  .panel {
    margin-bottom: 8px;
  }

  .panel-body {
    padding: 16px 20px 24px;
  }

  .user-profile-wrapper {
    .progress {
      align-items: center;
      background: var(--color-neutral-3);
      border-radius: 3px;
      box-shadow: none;
      display: flex;
      height: 16px;
      line-height: 16px;
      margin: 0;
    }

    .progress-bar {
      @include responsive-prop(700, 800, font-weight);
      border-radius: 3px;
      color: var(--color-neutral-0);
      font-size: 11px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: .2px;
      line-height: 16px;
      text-align: center;
    }
  }

  .view {
    table {
      @include wso-table-left-center();
    }

    td {
      position: relative;

      .ajax-progress {
        @include absolute-center();
        z-index: 100;
      }
    }

    .views-exposed-form {
      font-size: 14px;

      .form-item {
        display: flex;
        align-items: center;

        label {
          margin-right: 10px;
          margin-bottom: 0;
        }

        &-sort-order {
          display: none;
        }
      }

      .form-actions {
        display: none;
      }

      .select2-container {
        min-width: 90px;
        margin-top: 0;

        &--bootstrap4 .select2-selection {
          padding: 0 15px 0 5px;

          &__clear {
            display: none;
          }
        }
      }
    }
  }

  form {
    .container-inline {
      display: flex;
      margin: 32px 0 16px;
    }
  }

  form#privatemsg-list {
    #privatemsg-list-form {
      .user__header__part {
        margin-right: auto;
      }

      .btn {
        order: 2;
        text-transform: uppercase;
      }

      .form-submit {
        height: 0;
        position: absolute;
        visibility: hidden;
      }

      .ajax-progress-throbber {
        display: none;
      }
    }
  }

  .form-item-tid {
    margin-right: 10px;
    min-width: 180px;
  }

  #privatemsg-list-form {
    .form-item-operation {
      margin-right: 10px;
      min-width: 180px;
    }
  }

  .modal {
    .form-submit {
      height: 32px;
      margin-right: 32px;
      padding: 0 35px;
      text-transform: uppercase;
    }
  }

  .flag-wrapper {
    .btn {
      margin: 0;
      padding: 0 14px 0 10px;
    }

    .icon {
      margin-right: 4px;
    }
  }
}

.page-user .view-id-transactions .views-exposed-form {
  .form--inline {
    display: flex;
  }

  .form-actions {
    display: block;
    margin-left: 15px;
    margin-bottom: 0;

    input {
      height: 33px;
      line-height: 33px;
      padding: 0 12px;
    }
  }
}

.user-completion {
  .clearfix {
    > div {
      &:first-child {
        margin-bottom: 25px;
      }
    }
  }

  .region-content {
    .progress {
      background-color: var(--color-neutral-3);
      font-size: 11px;
      letter-spacing: .2px;
    }

    .progress-bar {
      background-color: $color-blue;
      border-radius: 3px;
    }
  }

  .widget-toggle-expand {
    > div {
      border-bottom: 1px solid var(--color-neutral-2);

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
      }

      &.widget-header {
        border: none;
      }
    }

    div {
      &.widget-content-collapsed {
        border: none;
      }
    }
  }

  div {
    div {
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: .2px;
      padding-bottom: 12px;
      margin-bottom: 12px;

      &.widget-header {
        margin: 0;
        padding: 0;
      }

      &.progress {
        margin: 0;
        padding: 0;
      }

      &.widget-toggle-expand {
        margin: 0;
        padding: 0;
      }

      &.user-profile-wrapper {
        margin: 0;
        padding: 0;
      }

      &.progress-bar {
        margin: 0;
        padding: 0;
      }

      &.widget-content-collapsed {
        margin: 0;
        padding: 0;
      }
    }

    h5 {
      font-weight: 500;
      text-transform: capitalize;
      margin: 12px 0 4px;
      color: var(--color-neutral-7);
      font-size: 13px;

      &:first-child {
        margin: 0 0 4px;
      }
    }
  }
}

.profile {
  h3 {
    border-bottom: 0;
    text-transform: none;
  }

  .tabs {
    &:not(#drupal_tabs) {
      ul {
        &.nav-tabs {
          a {
            font-size: 14px;
            color: var(--color-neutral-6);
            background: transparent;
            border-bottom: 2px solid var(--color-neutral-2);

            &:hover,
            &.active {
              color: var(--color-base);
              background: transparent;
              border-bottom: $color-blue 2px solid;
            }
          }
        }
      }
    }
  }

  #comments {
    margin: 0;
  }
}

td {
  &.privatemsg-list-date {
    white-space: nowrap;
  }
}

#topics {
  #privatemsg-new {
    .form-item-recipient {
      display: none;
    }

    .filter-wrapper {
      display: none;
    }

    .form-actions {
      a {
        display: none;
      }
    }
  }
}

.card-danger {
  background: $color-red;
}

.card-success {
  background: $forestgreen_47a447;
}

.card-primary {
  background: $color-blue;
}

.card {
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 7px;

  a {
    //color: var(--color-neutral-0);
    text-decoration: none;
  }

  h3 {
    border: 0;
    font-size: 2.6rem;
    font-weight: 600;
    margin: 0;
    color: var(--color-neutral-0);

    a {
      color: var(--color-neutral-0);
      text-transform: none;
    }
  }

  p {
    color: var(--color-neutral-0);
    margin: 0;
    opacity: .7;
  }

  .help-block {
    font-size: 14px;
    padding: 0 15px;
  }

  .tab-content {
    border: 0;
    box-shadow: none;
  }

  .view table thead a {
    font-size: 14px;
  }

  .view-header {
    margin-bottom: 10px;
  }

  .view-empty {
    padding: 0;
  }

  .flag a,
  .wso-unsubscribe-link {
    //@extend %btn;
    @extend %btn, .btn-xs;
    @extend %btn, .btn-success-ghost;
    color: $color-green-100 !important;
    border: $color-green-100 1px solid !important;
    text-transform: uppercase;

    span {
      display: inline;
      color: inherit;
      padding: 0;
      border: 0;
    }
  }
}

.tab-content {
  h5 {
    padding: 0.25rem 1.25rem;
    border-left: $color-blue 0.25rem solid;
  }

  table {
    margin-bottom: 0;

    &.table-borderless thead th {
      border-bottom: 2px solid var(--color-neutral-4) !important;
    }

    .text-black-50 {
      opacity: 0.75;
      display: inline-block;
      padding: 5px 0 0 15px;
    }
  }
}

.view-my-courses {
  .view-content {
    .views-row {
      @include media('>=tablet') {
        width: 100%;
      }

      @include media('>=desktop') {
        width: 50%;
      }
    }
  }
}

.notifications-settings-form {
  .form-type-checkbox {
    @include checkbox-as-toggle();
  }
}

#available-products {
  li {
    font-size: .8em;
  }
}

.btn {
  &.btn-info {
    background-color: transparent;
    border-color: $color-blue;
    color: $color-blue;
    font-size: 11px;
    margin-top: -5px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-top: 2px;
    text-transform: uppercase;

    &:hover {
      background-color: $color-blue;
      color: var(--color-neutral-0);
    }
  }
}

.ui-dialog {
  .ui-dialog-title {
    white-space: normal !important;
  }

  .ui-dialog-buttonpane .ui-dialog-buttonset {
    display: flex;
  }

  .ui-dialog-buttonpane button.button--primary {
    @extend %btn, .btn-danger;
    font-weight: normal;
  }
}

/*
.myfeed--user-nodes--block {
  .table-bordered {
    border: none;
    margin: 0;
  }

  .view-header {
    background: var(--color-neutral-0);
    padding: 0 24px 14px;
    line-height: 1;

    span {
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: .1px;
      line-height: 1;
    }
  }

  tbody {
    border: none;

    > tr {
      > td {
        height: 34px;
        padding: 0;
        vertical-align: middle;
      }

      &:hover {
        background-color: var(--color-light-blue);

        > td {
          background-color: var(--color-light-blue);
        }
      }
    }

    td {
      &:first-child {
        padding-left: 24px;

        a {
          display: inline-block;
          max-width: 450px;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: .1px;
          color: var(--color-base);
          line-height: 34px;

          &:hover {
            cursor: pointer;
            text-decoration: none;
          }
        }
      }

      &:last-child {
        color: var(--color-neutral-7);
        font-size: 14px;
        font-weight: 300;
        letter-spacing: .1px;
        padding-right: 24px;
        text-align: center;
      }
    }

    tr {
      &.views-row-first {
        border-top: 1px solid var(--color-neutral-2);
      }
    }
  }

  td {
    background: var(--color-neutral-0) none repeat scroll 0 0;
  }

  tr {
    &.even {
      border-color: var(--color-neutral-2);
      padding: 0;
    }

    &.odd {
      border-color: var(--color-neutral-2);
      padding: 0;
    }
  }
}

.view-my-applications {
  .table-bordered {
    border: none;
    margin: 0;
  }

  .view-header {
    background: var(--color-neutral-0);
    padding: 0 24px 14px;
    line-height: 1;

    span {
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: .1px;
      line-height: 1;
    }
  }

  tbody {
    border: none;

    > tr {
      > td {
        height: 40px;
        padding: 0;
        vertical-align: middle;
      }

      &:hover {
        background-color: var(--color-light-blue);

        > td {
          background-color: var(--color-light-blue);
        }
      }
    }

    td {
      &:first-child {
        padding-left: 24px;

        a {
          display: inline-block;
          max-width: 450px;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: .1px;
          color: var(--color-base);
          line-height: 40px;

          &:hover {
            cursor: pointer;
            text-decoration: none;
          }

          &:after {
            height: 40px;
          }
        }
      }

      &:last-child {
        color: var(--color-neutral-7);
        font-size: 14px;
        font-weight: 300;
        letter-spacing: .1px;
        padding-right: 24px;
        text-align: center;
      }
    }

    tr {
      &.views-row-first {
        border-top: 1px solid var(--color-neutral-2);
      }
    }
  }

  td {
    background: var(--color-neutral-0) none repeat scroll 0 0;
  }

  tr {
    &.even {
      border-color: var(--color-neutral-2);
      padding: 0;
    }

    &.odd {
      border-color: var(--color-neutral-2);
      padding: 0;
    }
  }
}

.myfeed__user-nodes__count {
  color: $color-blue;
  font-weight: 500;
}

.myfeed__user-nodes__text-grey {
  color: var(--color-neutral-7);
  font-weight: 400;
}
*/

.page-user-community {
  .view-Community {
    .views-field-name {
      a {
        display: inline-block;
        max-width: 450px;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: .1px;
        color: var(--color-base);
        line-height: 34px;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
      padding: 0 15px;
    }

    img {
      height: 28px;
      width: 28px;
    }

    .views-field-picture {
      width: 20px;
    }

    .views-field-ops {
      width: 20px;
    }
  }

  .myfeed--user-nodes--block {
    tbody {
      td {
        &:first-child {
          a {
            line-height: 40px;

            &:after {
              height: 40px;
            }
          }
        }
      }

      > tr {
        > td {
          height: 40px;
        }
      }
    }
  }
}

#block-wsousertabs {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 14px;
    background: var(--color-neutral-0);
    border-radius: 3px;
    width: 100%;
    margin-bottom: 40px;
    list-style: none;

    li {
      a {
        padding: 15px 10px;

        &:hover {
          background: var(--color-page-bg);
        }
      }
    }
  }
}

#sidebar-left {
  @include media('>=desktop') {
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;

    #sticky-sidebar {
      position: sticky;
      top: 110px;
      padding: 0;
    }
  }
}

.tab-pane {
  &-anchor-outer {
    height: 1px;
    overflow: hidden;
    position: relative;
    width: 1px;

    a {
      display: block;
      position: relative;
      visibility: hidden;
      width: 1px;
      height: 1px;
    }

    &,
    a {
      top: -20px;
    }

    @include media('>=desktop') {
      &,
      a {
        top: -60px;
      }
    }
  }
}

@include media('>=desktop') {
  .toolbar-horizontal.toolbar-fixed {
    .tab-pane-anchor-outer {
      &,
      a {
        top: -90px;
      }

      #sidebar-left #sticky-sidebar {
        top: 165px;
      }
    }

    &.toolbar-tray-open {
      .tab-pane-anchor-outer {
        &,
        a {
          top: -100px;
        }

        #sidebar-left #sticky-sidebar {
          top: 205px;
        }
      }
    }
  }
}

#user-notifications-settings {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;

  .tab-pane {
    background-color: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-3);
    border-radius: 0 0 4px 4px;
    border-top: 0;
    box-shadow: 0 1px 5px 0 rgba(var(--color-black--rgb), 0.04);
    padding: 15px;
    margin-bottom: 40px;

    .tab-pane {
      background: none;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
      margin-bottom: 0;
    }
  }

  #edit-uid {
    width: 100%;
  }
}

.view-mentions {
  .item-list {
    ul {
      background: var(--color-neutral-0) none repeat scroll 0 0;
      border: 1px solid var(--color-neutral-4);
      list-style: outside none none;
      padding: 4px 0;
      border-radius: 3px;

      li {
        display: flex;
        height: 40px;
        align-items: center;
        border-bottom: 1px solid var(--color-neutral-2);
        padding: 0 24px;

        &:last-child {
          border: none;
        }

        .views-field-auid {
          padding-right: 4px;
        }

        .views-field-entity-type {
          padding-right: 5px;
        }

        .views-field-mid {
          margin-left: auto;
        }

        .views-field-created {
          span {
            color: var(--color-neutral-7);
            font-size: 11px;
            font-weight: 400;
            letter-spacing: .1px;
            line-height: 1.27;
          }
        }

        span {
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 400;
          letter-spacing: .1px;
          line-height: 1.14;
        }
      }
    }
  }

  ul {
    li {
      .views-field-mid {
        a {
          @include responsive-prop(700, 800, font-weight);
          display: inline-block;
          color: var(--color-neutral-0);
          background-color: $color-green-100;
          padding: 0 14px;
          border-radius: 3px !important;
          letter-spacing: .2px;
          text-transform: capitalize;
          border: 1px solid $color-green-100;
          text-shadow: none;
          box-shadow: none;
          text-align: center;
          transition: none;
          font-size: 11px;
          height: 24px;
          line-height: 22px;

          &:hover {
            background-color: $color-green-100;
            border-color: $color-green-100;
            color: var(--color-neutral-0);
            text-decoration: none;
          }
        }
      }
    }
  }
}

.page-user-points {
  .userpoints-transactions-field-actions {
    a {
      @include responsive-prop(700, 800, font-weight);
      display: inline-block;
      color: var(--color-neutral-0);
      background-color: $color-green-100;
      padding: 0 14px;
      border-radius: 3px !important;
      letter-spacing: .2px;
      text-transform: capitalize;
      border: 1px solid $color-green-100;
      text-shadow: none;
      box-shadow: none;
      text-align: center;
      transition: none;
      font-size: 11px;
      height: 24px;
      line-height: 22px;

      &:first-child {
        &:hover {
          background-color: $color-green-100;
          border-color: $color-green-100;
          color: var(--color-neutral-0);
          text-decoration: none;
        }
      }

      &:last-child {
        background-color: transparent;
        border-color: var(--color-neutral-4);
        color: var(--color-base);

        &:hover {
          color: var(--color-neutral-7);
          text-decoration: none;
        }
      }
    }
  }

  .privatemsg-list {
    tbody {
      > tr {
        > td {
          height: 40px;
        }
      }
    }
  }

  .ajax-progress-throbber {
    display: none;
  }
}

.view-myfeed-user-nodes {
  .views-field-view-node {
    a {
      @include responsive-prop(700, 800, font-weight);
      display: inline-block;
      color: var(--color-neutral-0);
      background-color: $color-green-100;
      padding: 0 14px;
      border-radius: 3px !important;
      letter-spacing: .2px;
      text-transform: capitalize;
      border: 1px solid $color-green-100;
      text-shadow: none;
      box-shadow: none;
      text-align: center;
      transition: none;
      font-size: 11px;
      height: 24px;
      line-height: 22px;

      &:hover {
        background-color: $color-green-100;
        border-color: $color-green-100;
        color: var(--color-neutral-0);
        text-decoration: none;
      }
    }
  }
}

.user__header__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 48px;
  width: 100%;

  h2 {
    margin-bottom: 0 !important;
  }

  a {
    &.btn {
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}

.user__header__title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: normal;
  margin: 0;
}

h2.user__header__title {
  font-size: 2.6em;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 32px;
}

.user__mentions__header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: normal;
  margin: 0;
}

table {
  &.privatemsg-list {
    border: none;
    border-collapse: collapse;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--color-neutral-4);
  }
}

.privatemsg-list {
  tbody {
    border-top: 2px solid var(--color-neutral-2);

    > tr {
      border-bottom: 1px solid var(--color-neutral-2);

      &:last-child {
        border: none;
      }

      > td {
        vertical-align: middle;
        padding: 0 8px;
        margin: 0;
        background: var(--color-neutral-0);
        height: 34px;

        &:first-child {
          padding: 0 8px 0 24px;
          width: 48px;
        }

        &:last-child {
          padding: 0 24px 0 8px;
        }

        input {
          margin: 0;
          padding: 0;
          vertical-align: unset;
        }

        .form-item {
          margin: 0;
          padding: 0;
          vertical-align: unset;
        }
      }
    }

    td {
      a {
        color: var(--color-base);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .1px;
        line-height: 1.14;
      }

      &.privatemsg-list-date {
        color: var(--color-neutral-7);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .1px;
        line-height: 1.14;
      }
    }

    tr {
      &.privatemsg-unread {
        td {
          a {
            font-weight: 400;
          }

          &.privatemsg-list-subject {
            display: flex;
            align-items: center;

            a {
              color: $color-blue;
              display: inline-block;
              font-weight: 500;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .marker {
              @include responsive-prop(700, 800, font-weight);
              background-color: $color-yellow;
              border-radius: 5px;
              color: var(--color-neutral-0);
              font-size: 7px;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: .2px;
              line-height: normal;
              margin-left: 4px;
              padding: 2px 4px;
              text-align: center;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  thead {
    > tr {
      > th {
        vertical-align: middle;
        padding: 0 8px;
        margin: 0;
        background: var(--color-neutral-0);

        &.active {
          background: var(--color-neutral-0);
        }
        height: 36px;

        a {
          img {
            display: none;
          }
        }

        &:first-child {
          padding: 0 8px 0 24px;
          width: 48px;
        }

        &:last-child {
          padding: 0 24px 0 8px;
        }

        input {
          margin: 0;
          padding: 0;
          vertical-align: unset;
        }
      }
    }

    th {
      &.privatemsg-header-participants {
        color: var(--color-base);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: .2px;
      }

      a {
        color: var(--color-base);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: .2px;
      }
    }
  }

  > tbody {
    > tr {
      &:hover {
        > td {
          background-color: var(--color-light-blue);
          z-index: 90;
        }
      }

      &:nth-of-type(even) {
        &:hover {
          > td {
            background-color: var(--color-light-blue);
            z-index: 90;
          }
        }
      }
    }
  }

  .form-type-checkbox {
    label {
      position: absolute;
      width: 0;
      height: 0;
      color: transparent;
      display: inline-block;
      font: normal normal normal 14px/1 'fa-custom';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;

      &:before {
        -o-transition: border .15s ease-in-out;
        -webkit-transition: border .15s ease-in-out;
        background-color: var(--color-neutral-0);
        border: 1px solid transparent;
        border-color: var(--color-neutral-4);
        border-radius: 2px;
        content: "";
        display: inline-block;
        height: 16px;
        overflow: visible;
        position: relative;
        top: 2px;
        transition: border .15s ease-in-out;
        width: 16px;
      }
    }

    input {
      &:checked {
        + label {
          &:before {
            -o-transition: border .15s ease-in-out;
            -webkit-transition: border .15s ease-in-out;
            background-color: $color-green-100;
            border: 1px solid transparent;
            border-color: $color-green-100;
            border-radius: 2px;
            content: "";
            display: inline-block;
            height: 16px;
            position: relative;
            top: 2px;
            transition: border .15s ease-in-out;
            width: 16px;
          }

          &:after {
            color: var(--color-neutral-0);
            content: "\e805";
            font-size: 12px;
            left: 2px;
            position: absolute;
            top: 5px;
            z-index: 9999;
          }
        }
      }
    }

    input[type="checkbox"] {
      height: 0;
      margin: 0;
      opacity: 0;
      width: 0;
    }
  }
}

.follow__link__invisible {
  color: transparent;
  height: 0;
  position: absolute;
}

.view-empty {
  color: var(--color-base);
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1;
  margin: 0;
  padding: 0 24px;
}

.user-comments-empty {
  color: var(--color-base);
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1;
  margin: 0;
  padding: 0 24px;
}

.user__auth__message {
  padding: 0 24px;
  font-size: 14px;
}

.user-info--points-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form#privatemsg-list {
  div {
    &.container-inline {
      * {
        margin: 0;
      }
    }
  }
}

.text-format-wrapper {
  fieldset {
    &.filter-wrapper {
      display: none;
    }
  }
  margin-bottom: 24px;
}

.user__pm__form {
  .modal-header {
    border-bottom: 2px solid var(--color-neutral-2);
    padding: 16px 32px;
  }

  .modal-body {
    padding: 16px 32px;
  }

  .modal-title {
    color: var(--color-base);
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500 !important;
    letter-spacing: .2px;
    line-height: normal;
  }

  .modal-content {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
  }

  .form-type-textarea {
    &.form-item {
      textarea {
        box-shadow: none;
        border-radius: 3px;
        border: solid 1px var(--color-neutral-4);
        background-color: var(--color-neutral-0);
        outline: none;
        height: 80px;
        line-height: 1;

        &:focus {
          border-color: $color-green-100;
          box-shadow: none;
        }
      }

      .grippie {
        display: none;
      }
    }
  }

  .form-item {
    input {
      &:not(.form-submit) {
        box-shadow: none;
        border-radius: 3px;
        border: solid 1px var(--color-neutral-4);
        background-color: var(--color-neutral-0);
        outline: none;
        height: 40px;
        line-height: 40px;

        &:focus {
          border-color: $color-green-100;
          box-shadow: none;
        }
      }
    }

    label {
      color: var(--color-base);
      font-size: 12px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: .2px;
      line-height: 1.33;
    }
  }

  .form-actions {
    position: relative;
    padding-top: 16px;
    margin: 0;

    &:before {
      background: var(--color-neutral-2);
      content: "";
      height: 2px;
      position: absolute;
      top: 0;
      transform: translateX(-32px);
      width: calc(100% + 64px);
    }

    a {
      @include responsive-prop(700, 800, font-weight);
      font-size: 11px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      letter-spacing: .2px;
      text-align: center;
      color: var(--color-neutral-7);
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .form-submit {
    height: 32px;
    margin-right: 32px;
    padding: 0 35px;
    text-transform: uppercase;
  }

  .modal-dialog {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    transform: translateY(50%);
  }

  .close {
    color: var(--color-neutral-7);
    opacity: 1;
  }
}

#privatemsg-new {
  .form-group {
    margin-bottom: 16px;
  }
}

.user__block {
  padding: 16px 20px;
  border-radius: 3px;
  background: var(--color-neutral-0);
  margin-bottom: 8px;

  .view-content {
    list-style: none;
    margin: 12px 0 0;
    padding: 0;

    > div:not(.collapse) {
      display: flex;
    }

    .field-content {
      a {
        color: var(--color-base);
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: .2px;
        line-height: 1.33;
        margin: 0 0 8px 0;
      }

      &:before {
        color: $color-blue;
        content: "\2022";
        font-size: 11px;
        margin-right: 6px;
        vertical-align: bottom;
      }
    }
  }

  &.bold {
    .view-content {
      .field-content {
        a {
          font-weight: 500;
        }
      }
    }

    .user__block__item {
      a,
      .role-item {
        font-weight: 500;
      }
    }

    a {
      &:after {
        color: $color-blue;
        content: '\00a0\e81d';
        font-family: 'fa-custom';
        font-size: 10px;
        margin-left: 4px;
      }
    }
  }
}

.user__block__title {
  color: var(--color-neutral-7);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.33;
  margin: 0;
  padding: 0;
}

.user__block__items {
  list-style: none;
  margin: 12px 0 0;
  padding: 0;
}

.user__block__item {
  a,
  .role-item {
    color: var(--color-base);
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 1.33;
    margin: 0 0 8px 0;
  }

  &:before {
    color: $color-blue;
    content: "\2022";
    font-size: 11px;
    margin-right: 6px;
    vertical-align: bottom;
  }
}

.expires {
  color: $color-blue;
  display: inline-block;
  font-size: 11px;
  padding-left: 10px;
  width: 100%;
}

.tabs__secondary {
  padding-bottom: 15px;
  margin: 0;
  background: var(--color-neutral-0);

  ul {
    li {
      &:first-child {
        order: 2;
      }
    }
  }

  .nav-tabs {
    li {
      a {
        background: transparent;

        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.page-user-track {
  .privatemsg-list {
    tbody {
      > tr {
        > td {
          height: 40px;
        }
      }

      td {
        &.views-field-qtip-views-field {
          a {
            color: $color-blue;

            &:hover {
              color: $color-blue;
            }
          }
        }

        &.views-field-name {
          color: var(--color-base);
        }

        &.views-field-changed {
          color: var(--color-neutral-7);
        }
      }
    }
  }

  .views-table {
    .views-field-qtip-views-field {
      a {
        display: inline-block;
        max-width: 450px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  td {
    &.views-field-qtip-views-field {
      span {
        display: flex;
      }
    }
  }
}

.user__contact__form {
  background: var(--color-neutral-0);
  padding: 24px 32px 16px;

  .contact-form {
    .form-item {
      margin-bottom: 24px;
    }

    .form-type-textarea {
      margin-bottom: 16px;
    }

    .form-type-checkbox {
      margin-bottom: 32px;

      input {
        height: auto;
        line-height: normal;
      }
    }

    .form-actions {
      padding: 16px 0 0;
    }
  }

  .form-actions {
    .form-submit {
      height: 32px;
      padding: 0 35px;
    }
  }

  .form-type-textarea {
    &.form-item {
      textarea {
        height: 160px;
      }
    }
  }

  &.privatemsg-list {
    .form-type-checkbox {
      label {
        position: relative;
        width: auto;
        height: auto;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: .2px;
        color: var(--color-base);
        display: inline-block;
        font-family: "Lato", sans-serif;
        margin: 0;

        &:before {
          font: normal normal normal 14px/1 'fa-custom';
          margin-right: 10px;
        }

        &:after {
          font: normal normal normal 14px/1 'fa-custom';
          margin-right: 10px;
        }
      }

      input[type="checkbox"] {
        position: absolute;
      }
    }
  }
}

.userpoints-myuserpoints-list {
  &.table {
    > tbody {
      > tr {
        > td {
          &.active {
            background: transparent;
          }
        }
      }
    }
  }

  td {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: .1px;

    &:first-child {
      color: var(--color-base);
    }

    &:nth-child(3) {
      color: var(--color-base);
    }

    &:nth-child(4) {
      color: var(--color-neutral-7);
    }

    .count {
      color: $color-green-100;
      font-weight: 500;
      margin-right: 4px;
    }
  }

  &.privatemsg-list {
    tbody {
      td {
        &:nth-child(2) {
          a {
            color: $color-blue;
          }
        }
      }
    }
  }
}

.header__part__banana-points {
  .form-item-tid {
    margin: 0;
  }
}

.userpoints-transactions-field-actions {
  width: 20px;
}

.banana-summary {
  border-radius: 3px;
  border: solid 1px var(--color-neutral-4);
  background-color: var(--color-neutral-0);
  margin-bottom: 8px;
  padding: 14px 24px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: .1px;
  color: var(--color-neutral-7);

  .count {
    color: $color-blue;
    font-weight: 500;
  }
}

.user__table__wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

.view-mentor-jobs {
  table {
    tr {
      > td[colspan="8"] {
        background: var(--color-page-bg);

        table {
          thead {
            tr {
              background: var(--color-neutral-4);
              border-bottom: 1px solid var(--color-neutral-4);
              border-color: var(--color-neutral-4);
            }
          }
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

@include media('>=desktop') {
  /*
  .myfeed--user-nodes--block {
    .table-bordered {
      overflow: hidden;
    }
  }

  .view-my-applications {
    .table-bordered {
      overflow: hidden;
    }
  }

  table {
    &.privatemsg-list {
      overflow: hidden;
    }
  }
  */
}

@include media('>=tablet') {
  .privatemsg-list {
    tbody {
      tr {
        &.privatemsg-unread {
          td {
            &.privatemsg-list-subject {
              a {
                max-width: 350px;
              }
            }
          }
        }
      }
    }
  }
}

@include media('<tablet') {
  .element__xs__hidden {
    display: none;
  }

  .privatemsg-list {
    tbody {
      tr {
        &.privatemsg-unread {
          td {
            &.privatemsg-list-subject {
              a {
                max-width: 195px;
              }
            }
          }
        }
      }

      > tr {
        > td {
          &:first-child {
            padding: 0 8px 0 8px;
          }
        }
      }
    }

    thead {
      > tr {
        > th {
          &:first-child {
            padding: 0 8px 0 8px;
          }
        }
      }
    }
  }

  #privatemsg-list-form {
    th {
      &:nth-child(3) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }
    }

    td {
      &:nth-child(3) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }
    }
  }

  .page-user {
    .form-item-tid {
      background: var(--color-neutral-0);
      margin: 10px 0;
    }

    #privatemsg-list-form {
      .form-item-operation {
        background: var(--color-neutral-0);
        margin: 10px 0;
      }
    }

    .form-type-select {
      &:after {
        color: transparent;
      }
    }

    form {
      .container-inline {
        flex-direction: column;
      }
    }
  }

  .page-user-points {
    .user__header__part {
      flex-direction: column;
      margin: 32px 0 0;
    }
  }

  .view-mentions {
    .item-list {
      ul {
        overflow: hidden;
        overflow-x: scroll;

        li {
          .views-field {
            display: flex;
          }

          span {
            white-space: nowrap;
          }

          .views-field-mid {
            margin-left: auto;
            margin-right: 15px;
            order: -1;
          }
        }
      }
    }
  }

  .user-profile {
    /*
    .table-responsive {
      border: none;
    }
    */
  }
}
.page-user {
  .tabs__secondary {
    background: transparent;
  }
}
