.page-user-login,
.page-user-register,
.page-user-password {
  &.not-logged-in {
    .container--breadcrumbs {
      display: none;
    }
  }

  form {
    font-size: 14px;
  }
}

#login-form-container {
  padding: 40px;
  box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.26);
  border-radius: 5px;
}

.user-login-form {
  .form-item {
    margin-bottom: 15px;
  }

  h2.login {
    font-size: 45px;
  }
}

.user-register-form {
  strong {
    @include responsive-prop(700, 800, 'font-weight');
  }

  .form-type-email {
    display: flex;

    label {
      margin: 7px 15px 0 0;
    }

    .description {
      display: none;
    }
  }
}

.page-user-password {
  form {
    margin-bottom: 30px;
  }

  .btn {
    font-size: 14px;
  }
}

.user-pass-reset {
  .form-submit {
    @extend %btn, .btn-success;
    @extend %btn, .btn-md;
  }
}

.user__header__part {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 16px;

  h2.user__header__title {
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    margin: 0 0 32px;
  }
}

.social-login-section {
  h5 {
    font-size: 14px;
  }
}

.block-social-auth-login {
  margin-bottom: 40px;

  .auth-link {
    display: flex;
    align-items: center;
    height: 34px;
    margin: 0 auto 5px auto;
    width: 170px;
    border-radius: 2px;
    color: var(--color-neutral-0);
    font-size: 16px;
    font-family: Verdana,Lato,Arial,sans-serif;
    text-decoration: none;

    &:after {
      content: 'Facebook';
      display: inline-block;
    }

    img,
    svg {
      height: 34px;
      width: 34px;
      padding: 5px;
      filter: none;
    }

    &.social_auth_facebook-redirect_to_fb {
      background: #3c5b9b;

      &:after {
        content: 'Facebook';
      }
    }

    &.social_auth_google-redirect_to_google {
      background: #dd4b39;

      img {
        display: none;
      }

      &:before {
        margin: 0 4px 0 0;
        height: 34px;
        width: 34px;
        padding: 10px;
        content: '\f0d5';
        display: inline-block;
        font: normal normal normal 14px/1 'fa-custom';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--color-neutral-0);
      }

      &:after {
        content: 'Google';
      }
    }

    &.social_auth_linkedin-redirect_to_linkedin {
      background: #0173b2;

      &:after {
        content: 'LinkedIn';
      }
    }

    &.social_auth_apple-redirect_to_provider {
      background: #ccc;
      color: #000;

      &:after {
        content: 'Apple ID';
      }
    }
  }
}
