.user-form #edit-actions .button--primary:focus {
  outline: 0
}
.user-form #edit-actions .btn-default.button--primary {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.user-form #edit-actions .btn-default.button--primary:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.user-form #edit-actions .btn-default.button--primary:active,
.user-form #edit-actions .btn-default.button--primary:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.user-form #edit-actions .btn-default.button--primary:disabled {
  background-color: var(--color-neutral-1)
}
.user-form #edit-actions .button--primary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
.user-form #edit-actions .button--primary:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.user-form #edit-actions .button--primary:active,
.user-form #edit-actions .button--primary:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.user-form #edit-actions .button--primary:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.user-form #edit-actions .btn-danger.button--primary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.user-form #edit-actions .btn-danger.button--primary:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.user-form #edit-actions .btn-danger.button--primary:active,
.user-form #edit-actions .btn-danger.button--primary:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.user-form #edit-actions .btn-danger.button--primary:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.user-form #edit-actions .btn-lines.button--primary,
.user-form #edit-actions .btn-secondary.button--primary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.user-form #edit-actions .btn-lines.button--primary:hover,
.user-form #edit-actions .btn-secondary.button--primary:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.user-form #edit-actions .btn-lines.button--primary:active,
.user-form #edit-actions .btn-lines.button--primary:focus,
.user-form #edit-actions .btn-secondary.button--primary:active,
.user-form #edit-actions .btn-secondary.button--primary:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.user-form #edit-actions .btn-lines.button--primary:disabled,
.user-form #edit-actions .btn-secondary.button--primary:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.user-form #edit-actions .btn-lines.mono.button--primary,
.user-form #edit-actions .btn-secondary.mono.button--primary {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.user-form #edit-actions .btn-lines.mono.button--primary:hover,
.user-form #edit-actions .btn-secondary.mono.button--primary:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.user-form #edit-actions .btn-lines.mono.button--primary:active,
.user-form #edit-actions .btn-lines.mono.button--primary:focus,
.user-form #edit-actions .btn-secondary.mono.button--primary:active,
.user-form #edit-actions .btn-secondary.mono.button--primary:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.user-form #edit-actions .btn-lines.mono.button--primary:disabled,
.user-form #edit-actions .btn-secondary.mono.button--primary:disabled {
  background-color: var(--color-neutral-1)
}
.user-form #edit-actions .btn-lines.mono.danger.button--primary,
.user-form #edit-actions .btn-secondary.mono.danger.button--primary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.user-form #edit-actions .btn-lines.mono.danger.button--primary:hover,
.user-form #edit-actions .btn-secondary.mono.danger.button--primary:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.user-form #edit-actions .btn-lines.mono.danger.button--primary:active,
.user-form #edit-actions .btn-lines.mono.danger.button--primary:focus,
.user-form #edit-actions .btn-secondary.mono.danger.button--primary:active,
.user-form #edit-actions .btn-secondary.mono.danger.button--primary:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.user-form #edit-actions .btn-lines.mono.danger.button--primary:disabled,
.user-form #edit-actions .btn-secondary.mono.danger.button--primary:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.user-form #edit-actions .btn-other.button--primary,
.user-form #edit-actions .btn-success-ghost.button--primary,
.user-form #edit-actions .btn-transparency.button--primary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.user-form #edit-actions .btn-other.button--primary:hover,
.user-form #edit-actions .btn-success-ghost.button--primary:hover,
.user-form #edit-actions .btn-transparency.button--primary:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.user-form #edit-actions .btn-other.button--primary:active,
.user-form #edit-actions .btn-other.button--primary:focus,
.user-form #edit-actions .btn-success-ghost.button--primary:active,
.user-form #edit-actions .btn-success-ghost.button--primary:focus,
.user-form #edit-actions .btn-transparency.button--primary:active,
.user-form #edit-actions .btn-transparency.button--primary:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.user-form #edit-actions .btn-other.button--primary:disabled,
.user-form #edit-actions .btn-success-ghost.button--primary:disabled,
.user-form #edit-actions .btn-transparency.button--primary:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.user-form #edit-actions .bg-white.button--primary {
  background: var(--color-neutral-0)
}
.user-form #edit-actions .btn-info.button--primary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.user-form #edit-actions .btn-info.button--primary:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.user-form #edit-actions .btn-info.button--primary:active,
.user-form #edit-actions .btn-info.button--primary:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.user-form #edit-actions .btn-info.button--primary:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.user-form #edit-actions .btn-info.btn-lines.button--primary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.user-form #edit-actions .btn-info.btn-lines.button--primary:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.user-form #edit-actions .btn-info.btn-lines.button--primary:active,
.user-form #edit-actions .btn-info.btn-lines.button--primary:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.user-form #edit-actions .btn-info.btn-lines.button--primary:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.user-form #edit-actions .btn-xs.button--primary {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.user-form #edit-actions .btn-sm.button--primary {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.user-form #edit-actions .btn-md.button--primary {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
.user-form #edit-actions .btn-lg.button--primary {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.user-form #edit-actions .btn-xl.button--primary {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.user-form .row > div .card {
  height: calc(100% - 30px)
}
.user-form .pair-item {
  margin-bottom: 15px
}
.user-form .user-form-forms .nav-pills .nav-link {
  border: 1px solid #087dfd;
  border-radius: 7px;
  font-size: 14px;
  line-height: 120%
}
.user-form .user-form-forms .nav-pills .nav-link:hover {
  background: #087dfd;
  color: var(--color-neutral-0)
}
.user-form .user-form-forms .nav-pills .nav-item {
  margin: 5px
}
.user-form fieldset legend {
  display: none
}
.user-form .container-inline {
  margin: 0!important
}
.user-form .svg-icon {
  display: inline-block;
  width: 18px;
  height: 18px
}
.user-form .svg-icon svg {
  width: 100%;
  height: 100%
}
.user-form .card-title {
  padding: .25rem 1.25rem;
  border-left: .25rem solid #087dfd;
  margin-bottom: 20px
}
.user-form .card p {
  color: var(--color-base)
}
.user-form .card .help-block {
  font-size: 12px
}
.user-form .card .account-cancellation .card-title {
  border-left-color: #f04944;
  color: #f04944
}
.user-form .card .account-cancellation .flag a {
  color: #f04944!important;
  border-color: #f04944!important
}
.user-form .list-group[data-menu-for="#job"] {
  display: none
}
.user-form .list-group-item {
  padding: .75rem;
  font-size: 14px;
  line-height: 120%
}
.user-form .nav-tabs {
  background: 0 0!important
}
.user-form .nav-tabs li a,
.user-form .nav-tabs li a:hover {
  background: 0 0;
  border-color: transparent
}
.user-form .form-type-checkbox label.option,
.user-form .form-type-radio label.option {
  font-size: 14px;
  font-weight: normal!important;
  margin-top: 5px;
  margin-bottom: 0;
  white-space: normal;
  line-height: 16px
}
.user-form .tab-content--transparent {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0
}
.user-form .user__name {
  margin-top: 20px;
  font-size: 30px
}
.user-form .user__signature .well {
  text-align: center;
  background: var(--color-page-bg)
}
.user-form .field-name-user-picture {
  text-align: center
}
.user-form .field-name-user-picture img {
  border-radius: 100%;
  margin: 0 auto;
  max-width: 100%;
  height: auto
}
.user-form .field--name-user-picture .form-type-managed-file .description.help-block span:last-of-type {
  display: none
}
.user-form #edit-actions input {
  margin-top: 5px;
  margin-bottom: 5px
}
.user-form #edit-actions .button--danger {
  display: block;
  margin-top: 15px;
  color: #f04944;
  font-weight: 700
}
.user-form #edit-signature-0-format {
  display: none
}
.user-form #edit-roles {
  display: flex;
  flex-wrap: wrap
}
.user-form #edit-roles .form-item-roles-authenticated {
  display: none
}
.user-form #edit-roles .form-type-checkbox + .form-type-checkbox,
.user-form #edit-roles .form-type-radio + .form-type-radio {
  margin-top: 0
}
.user-form #edit-roles > .form-item {
  width: 50%;
  padding: 5px
}
.user-form #edit-roles > .form-item input {
  margin: 0
}
.page-user .ui-widget-overlay {
  opacity: .5;
  background: #000
}
.page-user .ui-dialog .ui-dialog-titlebar {
  background: #087dfd;
  color: var(--color-neutral-0);
  font-weight: normal
}
.page-user .ui-dialog .ui-dialog-titlebar-close {
  filter: invert(1)
}
.page-user .ui-dialog .description,
.page-user .ui-dialog legend {
  margin-top: 15px
}
.page-user .ui-dialog .form-type-radio label.option {
  font-weight: 400!important;
  transform: scale(.9);
  transform-origin: left
}
.page-user .ui-dialog .form-type-radio + .form-type-radio {
  margin-top: 0
}
.page-user .ui-dialog .description {
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic
}
.page-user .ui-dialog .form-group {
  margin-bottom: 0
}
@media (min-width: 768px) {
  .user-form .pair-item-container {
    display: flex;
    flex-wrap: wrap
  }
  .user-form .pair-item {
    border: var(--color-neutral-5) 1px dashed;
    padding: 10px
  }
  .user-form .pair-item > div {
    padding: 0 5px
  }
  .user-form .user-form-forms .nav-pills .nav-link {
    border-radius: 0
  }
  .user-form .user-form-forms .nav-pills .nav-item {
    margin: 0
  }
  .user-form .user-form-forms .nav-pills .nav-item:first-child .nav-link {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px
  }
  .user-form .user-form-forms .nav-pills .nav-item + .nav-item .nav-link {
    border-left: 0
  }
  .user-form .user-form-forms .nav-pills .nav-item:last-child .nav-link {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px
  }
  .user-form #edit-field-employment-status,
  .user-form #edit-field-millitary-program,
  .user-form #edit-field-varsity-athlete,
  .user-form #edit-field-visa-sponsorship,
  .user-form #edit-status {
    display: flex
  }
  .user-form #edit-field-employment-status .form-type-radio + .form-type-radio,
  .user-form #edit-field-millitary-program .form-type-radio + .form-type-radio,
  .user-form #edit-field-varsity-athlete .form-type-radio + .form-type-radio,
  .user-form #edit-field-visa-sponsorship .form-type-radio + .form-type-radio,
  .user-form #edit-status .form-type-radio + .form-type-radio {
    margin-top: 0;
    margin-left: 15px
  }
  .page-user .ui-dialog {
    max-width: 600px
  }
}
@media (min-width: 992px) {
  .user-form #sidebar-left #sticky-sidebar {
    top: 170px
  }
  .user-form .pair-item.d-lg-flex > div {
    width: 50%
  }
}
@media (min-width: 1200px) {
  .user-form #edit-roles > .form-item {
    width: 25%
  }
  .user-form #edit-field-race {
    column-count: 2
  }
}
/*# sourceMappingURL=user-edit.component.css.map */
