@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.user-form {
  // Grid:
  #sidebar-left {
    @include media('>=desktop') {
      #sticky-sidebar {
        top: 170px;
      }
    }
  }

  .row {
    > div {
      .card {
        height: calc(100% - 30px);
      }
    }
  }

  .pair-item-container {
    @include media('>=tablet') {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .pair-item {
    margin-bottom: 15px;

    @include media('>=tablet') {
      border: var(--color-neutral-5) 1px dashed;
      padding: 10px;
    }

    &.d-lg-flex {
      > div {
        @include media('>=desktop') {
          width: 50%;
        }
      }
    }

    > div {
      @include media('>=tablet') {
        padding: 0 5px;
      }
    }
  }

  // Elements:
  .user-form-forms .nav-pills  {
    .nav-link {
      border: $color-blue 1px solid;
      border-radius: 7px;
      font-size: 14px;
      line-height: 120%;

      @include media('>=tablet') {
        border-radius: 0;
      }

      &:hover {
        background: $color-blue;
        color: var(--color-neutral-0);
      }
    }

    .nav-item {
      margin: 5px;

      @include media('>=tablet') {
        margin: 0;
      }
    }

    .nav-item:first-child {
      .nav-link {
        @include media('>=tablet') {
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
        }
      }
    }

    .nav-item + .nav-item {
      .nav-link {
        @include media('>=tablet') {
          border-left: 0;
        }
      }
    }

    .nav-item:last-child {
      .nav-link {
        @include media('>=tablet') {
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
        }
      }
    }
  }

  fieldset {
    legend {
      display: none;
    }
  }

  .container-inline {
    margin: 0 !important;
  }

  .svg-icon {
    display: inline-block;
    width: 18px;
    height: 18px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .card {
    &-title {
      padding: .25rem 1.25rem;
      border-left: .25rem solid $color-blue;
      margin-bottom: 20px;
    }

    p {
      color: var(--color-base);
    }

    .help-block {
      font-size: 12px;
    }

    .account-cancellation {
      .card-title {
        border-left-color: $color-red;
        color: $color-red;
      }

      .flag a {
        color: $color-red !important;
        border-color: $color-red !important;
      }
    }
  }

  .list-group[data-menu-for="#job"] {
    display: none;
  }

  .list-group-item {
    padding: 0.75rem;
    font-size: 14px;
    line-height: 120%;
  }

  .nav-tabs {
    background: transparent !important;

    li a {

      &,
      &:hover {
        background: transparent;
        border-color: transparent;
      }
    }
  }

  .form-type-checkbox label.option,
  .form-type-radio label.option {
    font-size: 14px;
    font-weight: normal !important;
    margin-top: 5px;
    margin-bottom: 0;
    white-space: normal;
    line-height: 16px;
  }

  .tab-content--transparent {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  // Fields:
  .user {
    &__name {
      margin-top: 20px;
      font-size: 30px;
    }

    &__signature {
      .well {
        text-align: center;
        background: var(--color-page-bg);
      }
    }
  }

  .field-name-user-picture {
    text-align: center;

    img {
      border-radius: 100%;
      margin: 0 auto;
      max-width: 100%;
      height: auto
    }
  }

  .field--name-user-picture {
    .form-type-managed-file .description.help-block {
      span:last-of-type {
        display: none;
      }
    }
  }

  #edit-actions {
    input {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .button--primary {
      @extend %btn, .btn-success;
    }

    .button--danger {
      display: block;
      margin-top: 15px;
      color: $color-red;
      font-weight: 700;
    }
  }

  #edit-signature-0-format {
    display: none;
  }

  #edit-roles {
    display: flex;
    flex-wrap: wrap;

    .form-item-roles-authenticated  {
      display: none;
    }

    .form-type-checkbox + .form-type-checkbox, .form-type-radio + .form-type-radio {
      margin-top: 0;
    }

    > .form-item {
      width: 50%;
      padding: 5px;

      @include media('>=large-desktop') {
        width: 25%;
      }

      input {
        margin: 0;
      }
    }
  }

  #edit-field-race {
    @include media('>=large-desktop') {
      column-count: 2;
    }
  }

  #edit-status,
  #edit-field-visa-sponsorship,
  #edit-field-employment-status,
  #edit-field-millitary-program,
  #edit-field-varsity-athlete {
    @include media('>=tablet') {
      display: flex;

      .form-type-radio + .form-type-radio {
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }
}

.page-user {
  .ui-widget-overlay {
    opacity: 0.5;
    background: black;
  }
}

.page-user .ui-dialog {
  @include media('>=tablet') {
    max-width: 600px;
  }

  .ui-dialog-titlebar {
    background: $color-blue;
    color: var(--color-neutral-0);
    font-weight: normal;
  }

  .ui-dialog-titlebar-close {
    filter: invert(1);
  }

  legend,
  .description {
    margin-top: 15px;
  }

  .form-type-radio label.option {
    font-weight: 400 !important;
    transform: scale(0.9);
    transform-origin: left;
  }

  .form-type-radio + .form-type-radio {
    margin-top: 0px;
  }

  .description {
    margin-bottom: 15px;
    font-size: 14px;
    font-style: italic;
  }

  .form-group {
    margin-bottom: 0;
  }
}
