@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.page-top {
  background-color: var(--color-base);
  border-bottom: 5px solid var(--color-neutral-5);
  border-top: 5px solid var(--color-base);
  margin-bottom: 35px;
  min-height: 50px;
  padding: 16px 0;
  position: relative;
  text-align: left;

  @media (max-width: 479px) {
    padding: 16px 0;
  }

  h1 {
    color: var(--color-neutral-0);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 42px;
    margin: 0;
    position: relative;
    text-transform: capitalize;
  }

  h2 {
    @media (max-width: 479px) {
      line-height: 38px;
    }

    &.page-title {
      color: var(--color-neutral-0);
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 42px;
      margin: 0;
      position: relative;
      text-transform: capitalize;
    }
  }

  /*
  &.custom-product {
    background-image: url(../img/custom-header-bg.jpg);
    background-repeat: repeat;
    background-color: var(--color-neutral-6);
    border-top: 5px solid var(--color-neutral-7);

    .row {
      position: relative;
    }

    p {
      &.lead {
        color: var(--color-neutral-3);
      }
    }

    img {
      bottom: -20px;
      position: relative;
    }

    h1 {
      color: var(--color-neutral-0);
      margin-bottom: 10px;
      margin-top: 30px;
    }
  }
  */
}
