.page-top {
  background-color: var(--color-base);
  border-bottom: 5px solid var(--color-neutral-5);
  border-top: 5px solid var(--color-base);
  margin-bottom: 35px;
  min-height: 50px;
  padding: 16px 0;
  position: relative;
  text-align: left
}
.page-top h1,
.page-top h2.page-title {
  color: var(--color-neutral-0);
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 42px;
  margin: 0;
  position: relative;
  text-transform: capitalize
}
@media (max-width: 479px) {
  .page-top {
    padding: 16px 0
  }
  .page-top h2 {
    line-height: 38px
  }
}
/*# sourceMappingURL=page-top.component.css.map */
