{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}

{{ attach_library('porto_sub/paragraph.complex-course-overview.component') }}

{% block paragraph %}
  {{ paragraph_anchor }}
  <div class="course-overview course-overview__complex">
    {% block content %}
      <div class="course-overview__title">{{ label }}</div>

      <div class="course-overview__group d-flex flex-row justify-content-between align-items-start flex-wrap">
        {% if number_of_courses %}
          <div class="course-overview__item number-of-courses d-flex align-items-center">
            <div class="course-overview__item-icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_98_3652)">
                  <mask id="mask0_98_3652" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
                    <path d="M0 9.53674e-07H16V16H0V9.53674e-07Z" fill="white"/>
                  </mask>
                  <g mask="url(#mask0_98_3652)">
                    <path d="M14.589 6.03606L8.46403 8.53606C8.32053 8.59344 8.16397 8.625 8 8.625C7.83606 8.625 7.6795 8.59344 7.536 8.53606L1.411 6.03606C0.950406 5.85181 0.625 5.40141 0.625 4.875C0.625 4.34859 0.950406 3.89819 1.411 3.71394L7.536 1.21394C7.6795 1.15656 7.83606 1.125 8 1.125C8.16397 1.125 8.32053 1.15656 8.46403 1.21394L14.589 3.71394C15.0496 3.89819 15.375 4.34859 15.375 4.875C15.375 5.40141 15.0496 5.85181 14.589 6.03606Z" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.75 9.91394V10.1254C11.75 10.6365 11.4388 11.0961 10.9642 11.286L8.46403 12.2861C8.3205 12.3434 8.16397 12.375 8 12.375C7.83603 12.375 7.6795 12.3434 7.53597 12.2861L5.03578 11.286C4.56119 11.0961 4.25 10.6365 4.25 10.1254V9.91394" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.125 8.91394V13.625" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.875 14.875L14.125 13.625L15.375 14.875" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.375 4.875C7.375 4.52981 7.65481 4.25 8 4.25C8.34519 4.25 8.625 4.52981 8.625 4.875C8.625 5.22019 8.34519 5.5 8 5.5C7.65481 5.5 7.375 5.22019 7.375 4.875Z" fill="#2F2F2F"/>
                  </g>
                </g>
                <defs>
                  <clipPath id="clip0_98_3652">
                    <rect width="16" height="16" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="course-overview__item-text">{{ number_of_courses }}</div>
          </div>
        {% endif %}

        {% if number_of_lessons %}
          <div class="course-overview__item number-of-lessons d-flex align-items-center">
            <div class="course-overview__item-icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_98_3650)">
                  <path d="M8.6875 1.65625C8.11559 1.02297 7.26422 0.625 6.34375 0.625H3.75C2.02412 0.625 0.625 2.02412 0.625 3.75V12.25C0.625 13.9759 2.02412 15.375 3.75 15.375H12.25C13.9759 15.375 15.375 13.9759 15.375 12.25V6.3125C15.375 4.93178 14.2557 3.8125 12.875 3.8125H5.6875C4.30678 3.8125 3.1875 4.93178 3.1875 6.3125V12.5938M7.46875 11.0045V8.55806C7.46875 7.93094 8.1595 7.54359 8.70244 7.86625L10.7608 9.08947C11.2881 9.40284 11.2881 10.1598 10.7608 10.4731L8.70244 11.6963C8.1595 12.0189 7.46875 11.6316 7.46875 11.0045Z" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clipPath id="clip0_98_3650">
                    <rect width="16" height="16" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="course-overview__item-text">{{ number_of_lessons }}</div>
          </div>
        {% endif %}

        {% if course_duration %}
          <div class="course-overview__item course-duration d-flex align-items-center">
            <div class="course-overview__item-icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_98_3705)">
                  <path d="M8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8 4.88892V8.00003H11.1111" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clipPath id="clip0_98_3705">
                    <rect width="16" height="16" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="course-overview__item-text">{{ course_duration }}</div>
          </div>
        {% endif %}

        {% if number_of_exercises %}
          <div class="course-overview__item number-of-exercises d-flex align-items-center">
            <div class="course-overview__item-icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.375 6.625H11.125" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.375 9.125H11.125" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.375 11.625H11.125" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.7002 6.625H5.2002" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.7002 9.125H5.2002" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.7002 11.625H5.2002" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.875 1.875C9.875 2.56534 9.31534 3.125 8.625 3.125H7.375C6.68466 3.125 6.125 2.56534 6.125 1.875C6.125 1.18466 6.68466 0.625 7.375 0.625H8.625C9.31534 0.625 9.875 1.18466 9.875 1.875Z" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.125 1.875H3.625C2.93466 1.875 2.375 2.43466 2.375 3.125V14.125C2.375 14.8153 2.93466 15.375 3.625 15.375H12.375C13.0653 15.375 13.625 14.8153 13.625 14.125V3.125C13.625 2.43466 13.0653 1.875 12.375 1.875" stroke="#2F2F2F" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="course-overview__item-text">{{ number_of_exercises }}</div>
          </div>
        {% endif %}
      </div>

      <div class="course-overview__row">
        {% if number_of_students %}
          <div class="course-overview__item number-of-students d-flex align-items-center">
            <div class="course-overview__item-icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.6663 14V12.6667C10.6663 11.9594 10.3854 11.2811 9.88529 10.781C9.3852 10.281 8.70692 10 7.99967 10H3.99967C3.29243 10 2.61415 10.281 2.11406 10.781C1.61396 11.2811 1.33301 11.9594 1.33301 12.6667V14" stroke="#2F2F2F" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.99967 7.33333C7.47243 7.33333 8.66634 6.13943 8.66634 4.66667C8.66634 3.19391 7.47243 2 5.99967 2C4.52692 2 3.33301 3.19391 3.33301 4.66667C3.33301 6.13943 4.52692 7.33333 5.99967 7.33333Z" stroke="#2F2F2F" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.666 14V12.6667C14.6656 12.0758 14.4689 11.5019 14.1069 11.0349C13.7449 10.5679 13.2381 10.2344 12.666 10.0867M10.666 2.08667C11.2396 2.23354 11.748 2.56714 12.1111 3.03488C12.4742 3.50262 12.6712 4.07789 12.6712 4.67C12.6712 5.26212 12.4742 5.83739 12.1111 6.30513C11.748 6.77287 11.2396 7.10647 10.666 7.25334" stroke="#2F2F2F" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="course-overview__item-text">{{ number_of_students }}</div>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
