.course-overview {
  padding: 20px 0;
  background-color: #fff
}
.course-overview .course-overview__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left
}
.course-overview .course-overview__group .course-overview__item {
  width: 50%;
  flex: 1 1 50%;
  margin-top: 16px
}
.course-overview .course-overview__group .course-overview__item .course-overview__item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  text-align: left;
  padding-right: 15px
}
.course-overview .course-overview__group .course-overview__item .course-overview__item-icon {
  margin-right: 9px
}
.course-overview .course-overview__group .course-overview__item .course-overview__item-icon svg {
  vertical-align: baseline
}
.course-overview .course-overview__row {
  border-top: 1px solid rgba(47, 47, 47, .1019607843);
  margin-top: 24px;
  padding-top: 22px
}
.course-overview .course-overview__row .course-overview__item .course-overview__item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  text-align: left
}
.course-overview .course-overview__row .course-overview__item .course-overview__item-icon {
  margin-right: 10px
}
.course-overview .course-overview__row .course-overview__item .course-overview__item-icon svg {
  vertical-align: baseline
}
@media (min-width: 768px) {
  .course-overview {
    border-top: 1px solid rgba(47, 47, 47, .1019607843);
    border-bottom: 1px solid rgba(47, 47, 47, .1019607843)
  }
  .course-overview .course-overview__title {
    font-size: 14px;
    line-height: 20px
  }
  .course-overview .course-overview__group .course-overview__item .course-overview__item-text {
    font-size: 14px;
    line-height: 1
  }
  .course-overview .course-overview__row {
    margin-top: 20px;
    padding-top: 20px
  }
  .course-overview .course-overview__row .course-overview__item .course-overview__item-text {
    font-size: 14px;
    line-height: 1
  }
}
/*# sourceMappingURL=paragraph.complex-course-overview.component.css.map */
