@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.course-overview {
  padding: 20px 0;
  background-color: $white;
  @include media('>=tablet') {
    border-top: 1px solid #2F2F2F1A;
    border-bottom: 1px solid #2F2F2F1A;
  }

  .course-overview__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;

    @include media('>=tablet') {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .course-overview__group {
    .course-overview__item {
      width: 50%;
      flex: 1 1 50%;
      margin-top: 16px;

      .course-overview__item-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0;
        text-align: left;
        padding-right: 15px;

        @include media('>=tablet') {
          font-size: 14px;
          line-height: 1;
        }
      }

      .course-overview__item-icon {
        margin-right: 9px;

        svg {
          vertical-align: baseline;
        }
      }
    }
  }

  .course-overview__row {
    border-top: 1px solid #2F2F2F1A;

    margin-top: 24px;
    padding-top: 22px;

    @include media('>=tablet') {
      margin-top: 20px;
      padding-top: 20px;
    }

    .course-overview__item {
      .course-overview__item-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0;
        text-align: left;

        @include media('>=tablet') {
          font-size: 14px;
          line-height: 1;
        }
      }

      .course-overview__item-icon {
        margin-right: 10px;

        svg {
          vertical-align: baseline;
        }
      }
    }
  }
}

