.relevant-data__section {
  position: relative;
  background-color: var(--color-neutral-0);
  border: 0;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 22px 32px 24px;
  margin-bottom: 35px;
  cursor: pointer
}
table.forum-table .relevant-data__section {
  margin-bottom: 0
}
table.forum-table #block-forum-ad {
  margin: -14px -10px;
  border: 1px solid rgba(46, 141, 229, .3)
}
table.forum-table #block-forum-ad:hover,
table.forum-table #block-forum-ad:hover .relevant-data__section {
  background-color: var(--color-neutral-1)
}
.relevant-data__head {
  display: inline-block;
  margin-bottom: 6px;
  max-width: 335px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.relevant-data__body {
  overflow-wrap: break-word;
  word-wrap: break-word
}
.relevant-data__header {
  width: 100%
}
.relevant-data__title {
  font-weight: 700;
  color: var(--color-base);
  display: inline-block;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .1px;
  line-height: 1.17;
  margin: 0 0 26px;
  text-align: center
}
.relevant-data__icon {
  position: relative
}
.relevant-data__body ul {
  list-style: none;
  margin: 0;
  padding: 0
}
.relevant-data__body ul li {
  position: relative;
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.71;
  color: var(--color-base)
}
.relevant-data__body ul li:before {
  color: var(--color-neutral-4);
  content: "\e801";
  font-family: fa-custom;
  display: inline-block;
  font-size: 10px;
  left: 0;
  position: absolute;
  top: 3px
}
.relevant-data__image {
  display: block;
  height: 100%;
  position: relative;
  max-width: 166px;
  width: 100%
}
.relevant-data__image-container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative
}
.relevant-data__image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .1);
  padding: 5px 10px;
  left: 0
}
.relevant-data__image img.no-shadow {
  box-shadow: none
}
.relevant-data__link {
  margin-top: 20px
}
.relevant-data__link .btn {
  line-height: 22px!important
}
.relevant-data__label_img {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: 0 0;
  width: 64px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 20px
}
.relevant-data__part_1 {
  padding: 14px 0 0;
  text-align: left!important
}
.relevant-data__part_2 {
  padding: 0
}
.relevant-data__text {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.14
}
a.relevant-data__text:focus,
a.relevant-data__text:hover {
  color: #087dfd;
  text-decoration: none
}
.relevant-data__description {
  color: var(--color-neutral-7);
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.17;
  margin: -7px 0 0
}
span.relevant-data__text {
  position: relative;
  padding-left: 21px
}
span.relevant-data__text:before {
  background-color: var(--color-neutral-4);
  content: "";
  height: 10px;
  left: 10px;
  position: absolute;
  top: 7px;
  transform: translateY(-50%);
  width: 1px
}
.relevant-data__block:nth-child(n+3) .relevant-data__head {
  border-top: 1px solid var(--color-neutral-2);
  margin-top: 12px;
  padding-top: 10px;
  width: 100%
}
.relevant-data__footer {
  display: inline-block;
  width: 100%
}
.relevant-data__link-right {
  float: right;
  margin-top: 10px;
  text-transform: capitalize
}
@media (min-width: 768px) {
  .relevant-data__block:nth-child(odd) {
    padding-left: 0;
    padding-right: 12px
  }
  .relevant-data__block:nth-child(even) {
    padding-left: 12px;
    padding-right: 0
  }
  .relevant-data__block:nth-child(n+3) .relevant-data__head {
    border-top: 1px solid var(--color-neutral-2);
    margin-top: 12px;
    padding-top: 10px;
    width: 100%
  }
}
@media (min-width: 992px) {
  .relevant-data__title {
    font-weight: 800
  }
  .relevant-data__part_1 {
    padding: 14px 0 0 40px
  }
}
@media (max-width: 991px) {
  .relevant-data__head {
    max-width: 315px
  }
}
@media (max-width: 767px) {
  .btn-responsive-nav,
  .btn-responsive-search {
    top: 14px
  }
  #header {
    min-height: inherit
  }
  .apachesolr-browse-blocks {
    display: none
  }
  .anon-user-signature {
    left: 12px;
    margin: 0 15px 0 0;
    padding: 0;
    position: relative;
    width: calc(100% - 75px)
  }
  .relevant-data__block {
    padding-left: 0;
    padding-right: 0
  }
  .relevant-data__block:nth-child(n+2) .relevant-data__head {
    border-top: 1px solid var(--color-neutral-2);
    margin-top: 12px;
    padding-top: 10px;
    width: 100%
  }
  .relevant-data__icon {
    padding-left: 0
  }
  .relevant-data__head {
    max-width: 768px
  }
}
@media (max-width: 355px) {
  .relevant-data__text {
    color: var(--color-base);
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
    width: 100%
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .relevant-data__head {
    max-width: 290px
  }
}
/*# sourceMappingURL=relevant-data.component.css.map */
