article.node-company-interview {
  padding: 0;
  margin-bottom: 15px
}
article.node-company-interview .title__wrapper .position__title {
  color: var(--color-base);
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.2;
  margin-bottom: 0
}
article.node-company-interview .interview-info-dates .info__title,
article.node-company-interview .title__wrapper .info__label_interview_location {
  font-weight: 400;
  color: var(--color-neutral-7)
}
article.node-company-interview .info__item__sample_link .link--sample-answer {
  color: #087dfd
}
/*# sourceMappingURL=interview-insight.component.css.map */
