@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

article.node-company-interview {
  padding: 0;
  margin-bottom: 15px;

  .title__wrapper {
    .position__title {
      color: var(--color-base);
      font-size: 25px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: .2px;
      line-height: 1.2;
      margin-bottom: 0;
    }

    .info__label_interview_location {
      font-weight: 400;
      color: var(--color-neutral-7);
    }
  }

  .interview-info-dates {
    .info__title {
      font-weight: 400;
      color: var(--color-neutral-7);
    }
  }

  .info__item__sample_link {
    .link--sample-answer {
      color: #087dfd;
    }
  }
}
