{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}

{%
  set classes = [
  'entity',
  'entity-paragraphs-item',
  'paragraphs-item-' ~ paragraph.bundle|clean_class,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  extra_class
]
%}

{{ attach_library('porto_sub/paragraph.full-unlimited-access-with-pay-option.component') }}

{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="unlimited-access__content unlimited-access__content-full">
        <div class="d-flex flex-column align-content-center align-items-center">
          <h2 class="unlimited-access__content__title font-h2">{{ field_title }}</h2>

          <div class="unlimited-access__details d-flex flex-row align-content-center align-items-center">
            <div class="unlimited-access__sale">{{ field_sale }}</div>
            <div class="unlimited-access__full_price">{{ field_full_price }}</div>
          </div>

          <div class="unlimited-access__options d-flex flex-md-row flex-column align-center align-items-md-center align-items-center">
            {% if field_single_pay %}
              <a class="unlimited-access__option_link use-ajax braintree-modal" href="{{ field_cta[0]['#url']|render }}" data-dialog-type="modal" data-dialog-options='{"width":480,"classes":{"ui-dialog":"wso-braintree-dialog"}}'>
                <div class="unlimited-access__option_item option_item__pay_once d-flex flex-column">
                  <div class="option_label font-lg">{{ 'Pay once'|t }}</div>
                  <div class="option_value">{{ field_single_pay }}</div>
                </div>
              </a>
            {% endif %}

            {% if field_split_pay %}
              <a class="unlimited-access__option_link use-ajax braintree-modal" href="{{ field_cta[0]['#url']|render ~ '?split-pay=1' }}" data-dialog-type="modal" data-dialog-options='{"width":480,"classes":{"ui-dialog":"wso-braintree-dialog"}}'>
                <div class="unlimited-access__option_item option_item__split_pay d-flex flex-column">
                  <div class="option_label">{{ '3 monthly payments'|t }}</div>
                  <div class="option_value">{{ field_split_pay }}</div>
                </div>
              </a>
            {% endif %}
          </div>

          {% if field_description %}
            <div class="unlimited-access__description">
              {{ field_description }}
            </div>
          {% endif %}

          <div class="unlimited-access__enroll-until-expire">
            {% if field_countdown_to_next_friday or field_offer_expiration_date %}
              <div class="unlimited-access__countdown_timer">
                {% include '@storybook/02-molecules/countdown-timers/countdown-timer-with-text/countdown-timer-with-text.twig' with {
                    'field_include_description': TRUE,
                    'field_icon': 'exclamation',
                    'field_offer_expiration_date': field_offer_expiration_date,
                  }
                %}
              </div>
            {% endif %}

            {% if field_cta %}
              <div class="unlimited-access__enroll">
                {% include '@storybook/01-atoms/style-guide-2023/button/button.twig' with {
                    'field': field_cta,
                    'btnClasses': 'btn--primary-xlg',
                } %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% if not field_guarantee_hide[0]['#markup'] %}
        <div class="unlimited-access__money-back-guarantee">
          <div class="d-flex flex-lg-row justify-content-lg-center align-items-lg-start flex-column justify-content-start align-items-center">
            <div class="money-back-guarantee__logo"></div>

            <div class="money-back-guarantee__text d-flex flex-column align-content-start align-items-start">
              <h2 class="unlimited-access__money-back-guarantee-title font-h2">
                {{ field_guarantee_title }}
              </h2>
              <div class="unlimited-access__money-back-guarantee-description font-lg">
                {{ field_guarantee_text }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
