@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

// Color changes depends on container color.
.labeled-container {
  &.labeled-container__color-monkey_blue {
    .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default {
      background-color: $color-monkey-blue;

      .unlimited-access__content__title,
      .unlimited-access__full_price .field,
      .unlimited-access__option_item .option_label,
      .unlimited-access__option_item .option_value,
      .unlimited-access__description .formatted-text {
        color: $color-white-100;
      }
      .unlimited-access__option_item {
        background-color: $color-white-10;
      }
    }
    .unlimited-access__money-back-guarantee {
      background-color: $color-light-oasis;
      .money-back-guarantee__logo {
        background-image: url('assets/badge-light.svg');
      }

      .unlimited-access__money-back-guarantee-title {
        color: $color-dark-100;
      }

      .unlimited-access__money-back-guarantee-description .formatted-text {
        color: $color-dark-70;

        strong {
          color: $color-dark-100;
        }
      }
    }
  }
  &.labeled-container__color-white {
    .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default {
      background-color: $color-white-100;

      .unlimited-access__content__title,
      .unlimited-access__full_price .field,
      .unlimited-access__option_item .option_label,
      .unlimited-access__option_item .option_value,
      .unlimited-access__description .formatted-text {
        color: $color-dark-100;
      }
      .unlimited-access__option_item {
        background-color: $color-bluish-grey;
      }
    }
    .unlimited-access__money-back-guarantee {
      background-color: $color-monkey-blue;
      .money-back-guarantee__logo {
        background-image: url('assets/badge-dark.svg');
      }

      .unlimited-access__money-back-guarantee-title {
        color: $color-white-100;
      }

      .unlimited-access__money-back-guarantee-description .formatted-text {
        color: $color-white-70;

        strong {
          color: $color-white-100;
        }
      }
    }
  }
}

// Base styling.
.paragraph--type--unlimited-access-with-pay-option {
  .unlimited-access__content.unlimited-access__content-full {
    h2 {
      text-align: center;
      max-width: 630px;
    }

    .unlimited-access__details {
      margin-top: 10px;

      .unlimited-access__sale {
        padding: 0 16px;
        margin-right: 20px;

        background-color: $color-green;
        border-radius: 50px;

        .field {
          color: $color-white-100;
          font-weight: 800;
          font-size: 14px;
          line-height: 37px;
          text-align: center;
          letter-spacing: 0.02em;
          vertical-align: center;
        }
      }
      .unlimited-access__full_price {
        .field {
          font-weight: 400;
          font-size: 24px;
          line-height: 32px;
          text-align: center;
          letter-spacing: 0.02em;
          vertical-align: center;
          text-decoration: line-through currentColor 1px;
        }
      }
    }

    .unlimited-access__options {
      margin: 30px 0 30px 0;
      @include media('>=tablet') {
        margin-bottom: 40px;
      }

      .unlimited-access__option_item {
        border-width: 10px 1px 1px 1px;
        border-radius: 12px;
        border-color: $color-oasis-blue;
        border-style: solid;
        padding: 20px 0 30px 0;

        width: 64vw;
        @include media('>phone') {
          width: 390px;
        }
        @include media('>=tablet') {
          width: 292px;
        }

        &.option_item__pay_once{
          @include media('<tablet') {
            margin-bottom: 16px;
          }
          @include media('>=tablet') {
            margin-right: 20px;
          }
        }

        .option_label {
          font-weight: 900;
          text-align: center;
          letter-spacing: 0.02em;
        }
        .option_value {
          font-weight: 900;
          font-size: 36px;
          line-height: 46px;
          text-align: center;
          letter-spacing: 0.02em;
        }
      }
    }

    .unlimited-access__description .formatted-text {
      margin-bottom: 45px;
    }

    .unlimited-access__enroll-until-expire {
      margin-bottom: 60px;
      @include media('>=tablet') {
        margin-bottom: 80px;
      }

      .unlimited-access__countdown_timer {
        margin-bottom: 20px;
      }
      .unlimited-access__enroll {
        padding: 0 20%;

        a {
          margin: 0 auto;
          height: 68px;
          width: auto;
          max-width: 100%;
        }
      }
    }
  }

  .unlimited-access__money-back-guarantee {
    margin: 0 -16px -40px;
    padding: 40px 16px 60px;

    @include media('>=tablet') {
      margin: 0 0 -80px;
      padding: 80px 0;
    }

    .money-back-guarantee__logo {
      height: 205px;
      width: 205px;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      @include media('>=tablet') {
        height: 311px;
        width: 311px;
        margin-right: 25px;
      }
      @include media('>=large-desktop') {
        margin-right: 117px;
      }
    }

    .money-back-guarantee__text {
      @include media('>=tablet') {
        max-width: 555px;
      }

      .unlimited-access__money-back-guarantee-title {
        margin-bottom: 20px;
        font-weight: 900;

        @include media('<tablet') {
          text-align: center;
        }
      }

      .unlimited-access__money-back-guarantee-description .formatted-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        vertical-align: top;
      }
    }
  }
}
