.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default {
  background-color: #0a4059
}
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__content__title,
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__description .formatted-text,
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__full_price .field,
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__option_item .option_label,
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__option_item .option_value {
  color: #fff
}
.labeled-container.labeled-container__color-monkey_blue .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__option_item {
  background-color: rgba(255, 255, 255, .1)
}
.labeled-container.labeled-container__color-monkey_blue .unlimited-access__money-back-guarantee {
  background-color: #b7e1f3
}
.labeled-container.labeled-container__color-monkey_blue .unlimited-access__money-back-guarantee .money-back-guarantee__logo {
  background-image: url(assets/badge-light.svg)
}
.labeled-container.labeled-container__color-monkey_blue .unlimited-access__money-back-guarantee .unlimited-access__money-back-guarantee-title {
  color: #2f2f2f
}
.labeled-container.labeled-container__color-monkey_blue .unlimited-access__money-back-guarantee .unlimited-access__money-back-guarantee-description .formatted-text {
  color: rgba(47, 47, 47, .7)
}
.labeled-container.labeled-container__color-monkey_blue .unlimited-access__money-back-guarantee .unlimited-access__money-back-guarantee-description .formatted-text strong {
  color: #2f2f2f
}
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default {
  background-color: #fff
}
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__content__title,
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__description .formatted-text,
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__full_price .field,
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__option_item .option_label,
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__option_item .option_value {
  color: #2f2f2f
}
.labeled-container.labeled-container__color-white .paragraph--type--unlimited-access-with-pay-option.paragraph--view-mode--default .unlimited-access__option_item {
  background-color: #f5f7f8
}
.labeled-container.labeled-container__color-white .unlimited-access__money-back-guarantee {
  background-color: #0a4059
}
.labeled-container.labeled-container__color-white .unlimited-access__money-back-guarantee .money-back-guarantee__logo {
  background-image: url(assets/badge-dark.svg)
}
.labeled-container.labeled-container__color-white .unlimited-access__money-back-guarantee .unlimited-access__money-back-guarantee-title {
  color: #fff
}
.labeled-container.labeled-container__color-white .unlimited-access__money-back-guarantee .unlimited-access__money-back-guarantee-description .formatted-text {
  color: rgba(255, 255, 255, .7)
}
.labeled-container.labeled-container__color-white .unlimited-access__money-back-guarantee .unlimited-access__money-back-guarantee-description .formatted-text strong {
  color: #fff
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full h2 {
  text-align: center;
  max-width: 630px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__details {
  margin-top: 10px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__details .unlimited-access__sale {
  padding: 0 16px;
  margin-right: 20px;
  background-color: #08c42a;
  border-radius: 50px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__details .unlimited-access__sale .field {
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  letter-spacing: .02em;
  vertical-align: center
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__details .unlimited-access__full_price .field {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: .02em;
  vertical-align: center;
  text-decoration: line-through currentColor 1px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options {
  margin: 30px 0
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options .unlimited-access__option_item {
  border-width: 10px 1px 1px;
  border-radius: 12px;
  border-color: #189eda;
  border-style: solid;
  padding: 20px 0 30px;
  width: 64vw
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options .unlimited-access__option_item .option_label {
  font-weight: 900;
  text-align: center;
  letter-spacing: .02em
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options .unlimited-access__option_item .option_value {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: .02em
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__description .formatted-text {
  margin-bottom: 45px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__enroll-until-expire {
  margin-bottom: 60px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__enroll-until-expire .unlimited-access__countdown_timer {
  margin-bottom: 20px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__enroll-until-expire .unlimited-access__enroll {
  padding: 0 20%
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__enroll-until-expire .unlimited-access__enroll a {
  margin: 0 auto;
  height: 68px;
  width: auto;
  max-width: 100%
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee {
  margin: 0 -16px -40px;
  padding: 40px 16px 60px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee .money-back-guarantee__logo {
  height: 205px;
  width: 205px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee .money-back-guarantee__text .unlimited-access__money-back-guarantee-title {
  margin-bottom: 20px;
  font-weight: 900
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee .money-back-guarantee__text .unlimited-access__money-back-guarantee-description .formatted-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  vertical-align: top
}
@media (min-width: 577px) {
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options .unlimited-access__option_item {
    width: 390px
  }
}
@media (min-width: 768px) {
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options {
    margin-bottom: 40px
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options .unlimited-access__option_item {
    width: 292px
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options .unlimited-access__option_item.option_item__pay_once {
    margin-right: 20px
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__enroll-until-expire {
    margin-bottom: 80px
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee {
    margin: 0 0 -80px;
    padding: 80px 0
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee .money-back-guarantee__logo {
    height: 311px;
    width: 311px;
    margin-right: 25px
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee .money-back-guarantee__text {
    max-width: 555px
  }
}
@media (min-width: 1200px) {
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee .money-back-guarantee__logo {
    margin-right: 117px
  }
}
@media (max-width: 767px) {
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-full .unlimited-access__options .unlimited-access__option_item.option_item__pay_once {
    margin-bottom: 16px
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__money-back-guarantee .money-back-guarantee__text .unlimited-access__money-back-guarantee-title {
    text-align: center
  }
}
/*# sourceMappingURL=paragraph.full-unlimited-access-with-pay-option.component.css.map */
