table.forum-table {
  border: var(--color-neutral-3) solid 1px!important;
  border-color: var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  border-bottom: 0;
  border-collapse: unset;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 13px;
  border-spacing: 0;
  color: var(--color-base)
}
table.forum-table a:not(.btn) {
  color: var(--color-base)
}
table.forum-table thead a {
  border: none;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 1.08
}
table.forum-table thead tr {
  background-color: var(--color-page-bg)
}
table.forum-table thead th {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: .1px;
  border-bottom: var(--color-neutral-2) 1px solid;
  border-color: var(--color-neutral-2);
  padding: 12px 22px
}
table.forum-table thead th.score {
  text-align: center
}
table.forum-table thead th.views-field-score {
  font-size: 14px
}
table.forum-table thead th.replies-column {
  text-align: center
}
table.forum-table thead .comments {
  min-width: 130px;
  text-align: center
}
table.forum-table thead .icon-bananas:before {
  color: #f5b226
}
table.forum-table tbody {
  border: none
}
table.forum-table tbody tr:hover,
table.forum-table tbody tr:hover>td {
  background-color: var(--color-neutral-1)
}
table.forum-table tr {
  background: var(--color-neutral-0)
}
table.forum-table tr.even,
table.forum-table tr.odd,
table.forum-table tr:nth-child(even),
table.forum-table tr:nth-child(odd) {
  border-bottom: 1px solid var(--color-neutral-2);
  border-color: var(--color-neutral-2)
}
table.forum-table tr.fake-header {
  display: none
}
table.forum-table tr.warning td {
  background-color: var(--color-warning-bg)
}
table.forum-table tr .warning {
  background: var(--color-warning-bg);
  color: var(--color-base)
}
table.forum-table td {
  padding: 14px 10px;
  vertical-align: middle
}
table.forum-table td:first-child {
  color: #0cb930;
  min-width: 10px
}
table.forum-table td:first-child .icon {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  position: relative
}
table.forum-table td:first-child .icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
table.forum-table td:first-child .icon.icon-question-circle:before {
  content: "\e860";
  color: #189eda
}
table.forum-table td:first-child .icon.icon-map-pin:before {
  content: "\e836";
  color: #0cb930
}
table.forum-table td:first-child .icon.icon-podcast:before {
  content: "\e864"
}
table.forum-table td:first-child .counter {
  font-size: 11px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 3px;
  background: 0 0;
  color: #79ba5a;
  font-weight: 700;
  vertical-align: top
}
table.forum-table td:first-child .counter.non-zero {
  background-color: rgba(121, 186, 90, .1)
}
.darkmode table.forum-table td:first-child .counter.non-zero {
  background-color: #29401e
}
table.forum-table td:first-child .counter.zero-banana {
  background-color: var(--color-neutral-3);
  color: var(--color-neutral-7)
}
table.forum-table td:last-child {
  color: var(--color-neutral-7);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.14;
  text-align: center
}
table.forum-table td:nth-child(3) {
  text-align: center
}
table.forum-table td.title,
table.forum-table td.views-field-title,
table.forum-table td.views-field-title-with-tooltip {
  padding: 14px 0;
  font-size: 15px;
  font-stretch: normal;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2px;
  color: var(--color-base)
}
table.forum-table td.title .row-flex,
table.forum-table td.views-field-title .row-flex,
table.forum-table td.views-field-title-with-tooltip .row-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}
table.forum-table td.title .icon-bolt,
table.forum-table td.views-field-title .icon-bolt,
table.forum-table td.views-field-title-with-tooltip .icon-bolt {
  color: #f5b226;
  margin-right: 5px
}
table.forum-table td.title a,
table.forum-table td.views-field-title a,
table.forum-table td.views-field-title-with-tooltip a {
  display: inline-block;
  line-height: 1.14;
  max-width: 450px;
  vertical-align: middle;
  color: inherit;
  text-overflow: ellipsis
}
table.forum-table td.title a:hover,
table.forum-table td.views-field-title a:hover,
table.forum-table td.views-field-title-with-tooltip a:hover {
  color: #087dfd
}
table.forum-table td:not(.title) a,
table.forum-table td:not(.views-field-title) a,
table.forum-table td:not(.views-field-title-with-tooltip) a {
  position: relative;
  z-index: 97
}
table.forum-table td.views-field-taxonomy-forums > span {
  border: var(--color-neutral-4) 1px solid;
  border-color: var(--color-neutral-4);
  font-weight: 800;
  font-size: 11px;
  line-height: 12px;
  color: var(--color-neutral-6);
  border-radius: 3px;
  padding: 4px 2px 2px;
  display: inline-block;
  min-width: 28px
}
table.forum-table td.views-field-comment-count {
  text-align: left;
  padding-left: 25px;
  white-space: nowrap
}
table.forum-table td.views-field-comment-count > span:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-neutral-6)
}
table.forum-table td.views-field-comment-count > span:first-child:before {
  content: "\e86d";
  display: inline-block;
  font: 13px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-neutral-4)
}
table.forum-table td.replies {
  min-width: 90px;
  text-align: center;
  white-space: nowrap
}
table.forum-table td.replies i {
  font-style: normal;
  color: var(--color-neutral-5);
  font-weight: 700;
  margin-right: 3px;
  font-size: 15px
}
table.forum-table td .new-count i {
  font-style: normal;
  display: inline-block;
  margin-right: 2px;
  color: var(--color-neutral-4);
  font-weight: 700
}
table.forum-table td .new-count a {
  white-space: nowrap;
  color: #087dfd!important
}
table.forum-table .topic-new {
  font-weight: 700;
  background-color: #f5b226;
  border-radius: 5px;
  color: var(--color-neutral-0);
  padding: 0 2px;
  width: 38px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: .4px;
  text-align: center
}
table.forum-table .banana-icon {
  height: auto;
  width: 16px
}
table.forum-table .forum-field__text_empty {
  color: var(--color-neutral-4)
}
table.forum-table thead th:nth-child(2) {
  padding-left: 22px
}
table.forum-table tbody td,
table.forum-table thead th {
  text-align: center
}
table.forum-table tbody td:first-child,
table.forum-table thead th:first-child {
  padding-left: 10px;
  text-align: center
}
table.forum-table.forum-table--tracker tbody td:nth-child(2),
table.forum-table.forum-table--tracker thead th:nth-child(2) {
  text-align: left
}
table.forum-table.forum-table--tracker thead th:nth-child(2) {
  padding-left: 10px
}
table.forum-table.forum-table--tracker .views-field-score span {
  font-size: 11px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 3px;
  background: 0 0;
  color: #79ba5a;
  font-weight: 700;
  vertical-align: top
}
table.forum-table.forum-table--tracker .views-field-score span.non-zero {
  background-color: rgba(121, 186, 90, .1)
}
.darkmode table.forum-table.forum-table--tracker .views-field-score span.non-zero {
  background-color: #29401e
}
table.forum-table.forum-table--tracker .views-field-score span.zero-banana {
  background-color: var(--color-neutral-3);
  color: var(--color-neutral-7)
}
table.forum-table.forum-table--tracker .views-field-score > span {
  padding: 0
}
table.forum-table thead th:first-child:after {
  content: "\e84d";
  display: inline-block;
  font: 13px/1 fa-custom;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f5b226
}
table.forum-table td:nth-child(3) a,
table.forum-table td:nth-child(4) a {
  color: #189eda;
  font-weight: 700
}
table.forum-table td:first-child .icon.icon-usd {
  color: #ff8c06
}
.darkmode table.forum-table td:last-child {
  color: var(--color-neutral-8)
}
.forum__filter__section .col-filters {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-top: 5px
}
.forum__filter__section .col-filters > div {
  width: 100%;
  margin-top: 10px;
  max-width: calc(50% - 5px)
}
.forum__filter__section .col-filters > div.forum-best-options__block + .selected-all {
  max-width: calc(100% - 5px)
}
.forum__filter__section .col-filters > div .dropdown-toggle .icon {
  color: var(--color-base)
}
.forum__filter__section .col-filters .form-control {
  font-size: 14px;
  font-weight: 500
}
.forum__filter__section .col-search {
  margin-top: 10px
}
.forum__filter__section .col-search form > div {
  position: relative
}
.forum__filter__section .col-search form input[type=text] {
  height: 36px;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-4);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  padding-right: 50px
}
.forum__filter__section .col-search form input[type=text]::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.forum__filter__section .col-search form input[type=text]:-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.forum__filter__section .col-search form input[type=text]::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.forum__filter__section .col-search form input[type=text]:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.forum__filter__section .col-search form .form-type-textfield + .icon {
  position: absolute;
  right: 25px;
  top: 12px;
  color: var(--color-base)
}
.forum__filter__section .col-search form .form-type-textfield + .icon:hover {
  cursor: pointer
}
.forum__filter__section .col-search form input[type=submit] {
  opacity: 0!important;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  padding: 0!important;
  height: 100%
}
.forum__filter__section .forum-best-options__block.dropdown,
.forum__filter__section .forum-options__block.dropdown {
  margin-right: 5px
}
.forum__filter__section .forum-best-options__block.dropdown .dropdown-menu,
.forum__filter__section .forum-options__block.dropdown .dropdown-menu {
  min-width: 100%
}
.forum__filter__section .selected-all {
  padding: 0
}
.forum__filter__section .selected-all .dropdown-menu {
  z-index: 1002
}
.forum__filter__section .forum-options-links__block {
  margin-left: 12px;
  margin-top: 3px;
  display: inline-flex
}
.forum__filter__section .forum-options-links__block a {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  color: var(--color-base);
  position: relative;
  margin-right: 5px;
  margin-top: 3px
}
.forum__filter__section .forum-options-links__block a span {
  display: none
}
.forum__filter__section .forum-options-links__block a .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.forum__filter__section .forum-options-links__block a:hover {
  color: #087dfd
}
@media (min-width: 768px) {
  .forum__filter__section {
    margin-bottom: 15px
  }
  .forum__filter__section .col-filters {
    flex-wrap: nowrap;
    margin-top: 0
  }
  .forum__filter__section .col-filters > div.forum-best-options__block + .selected-all {
    max-width: 33%
  }
  .forum__filter__section .col-filters > div {
    max-width: 33%;
    width: 33%;
    margin-top: 0
  }
  .forum__filter__section .col-search {
    margin-top: 15px
  }
}
@media (min-width: 992px) {
  table.forum-table .topic-new,
  table.forum-table td:first-child .counter,
  table.forum-table thead a,
  table.forum-table thead th,
  table.forum-table.forum-table--tracker .views-field-score span {
    font-weight: 800
  }
  .forum__filter__section .col-filters > div.forum-options__block.dropdown {
    width: 200px
  }
  .forum__filter__section .col-filters > div.selected-all {
    width: 240px
  }
  .forum__filter__section .col-search {
    margin-top: 0
  }
}
@media (max-width: 767px) {
  table.forum-table thead th {
    padding: 5px!important
  }
  table.forum-table thead th.replies-column {
    max-width: 40px;
    padding: 5px 0!important
  }
  table.forum-table thead .comments {
    min-width: 0!important
  }
  table.forum-table td {
    word-wrap: break-word;
    max-width: 185px;
    padding: 0
  }
  table.forum-table td:first-child {
    min-width: 0!important;
    padding: 5px!important
  }
  table.forum-table td.title a,
  table.forum-table td.views-field-title a,
  table.forum-table td.views-field-title-with-tooltip a {
    max-height: 43px;
    overflow: hidden;
    font-size: 13px
  }
  table.forum-table td.replies {
    min-width: 0!important;
    max-width: 50px
  }
  table.forum-table td.text-center {
    text-align: center;
    padding: 5px!important
  }
  table.forum-table td.views-field-changed,
  table.forum-table td.views-field-taxonomy-forums,
  table.forum-table th.views-field-changed,
  table.forum-table th.views-field-taxonomy-forums {
    display: none
  }
  .forum__filter__section .col-filters .dropdown .dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px
  }
  .forum__filter__section .col-filters .dropdown .dropdown-toggle .caret {
    margin-left: 5px
  }
  .forum__filter__section .selected-all {
    max-width: calc(100% - 100px)
  }
  .forum__filter__section .forum-options-links__block {
    display: none
  }
  .forum__filter__section .forum-options-links__block a {
    margin-top: 0
  }
}
@media (max-width: 574px) {
  table.forum-table {
    border-left: 0!important;
    border-right: 0!important
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  table.forum-table td.title a,
  table.forum-table td.views-field-title a,
  table.forum-table td.views-field-title-with-tooltip a {
    max-width: 180px
  }
}
@media (min-width: 360px) and (max-width: 399px) {
  table.forum-table td.title a,
  table.forum-table td.views-field-title a,
  table.forum-table td.views-field-title-with-tooltip a {
    max-width: 230px
  }
}
@media (min-width: 400px) and (max-width: 430px) {
  table.forum-table td.title a,
  table.forum-table td.views-field-title a,
  table.forum-table td.views-field-title-with-tooltip a {
    max-width: 250px
  }
}
@media (min-width: 431px) and (max-width: 767px) {
  table.forum-table td.title a,
  table.forum-table td.views-field-title a,
  table.forum-table td.views-field-title-with-tooltip a {
    max-width: 290px
  }
}
/*# sourceMappingURL=forum-container-table.component.css.map */
