@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

table.forum-table {
  @include wso-table-left-center();

  @include media('<575px') {
    border-left: 0 !important;
    border-right: 0 !important;
  }

  &.forum-table--tracker {
    thead th:nth-child(2),
    tbody td:nth-child(2) {
      text-align: left;
    }

    thead th:nth-child(2) {
      padding-left: 10px;
    }

    .views-field-score {
      span {
        @include small-green-counter();
      }

      > span {
        padding: 0;
      }
    }
  }

  thead th:first-child,
  tbody td:first-child {
    text-align: center;
  }

  thead th:first-child {
    &:after {
      content: '\e84d';
      display: inline-block;
      font: normal normal normal 13px/1 'fa-custom';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $color-yellow;
    }
  }

  td:nth-child(3),
  td:nth-child(4){
    a {
      color: $color-oasis-blue;
      font-weight: 700;
    }
  }

  th.views-field-taxonomy-forums,
  th.views-field-changed,
  td.views-field-taxonomy-forums,
  td.views-field-changed {
    @include media('<tablet') {
      display: none;
    }
  }

  td:first-child .icon {
    &.icon-building,
    &.icon-question-circle,
    &.icon-book {
    }

    &.icon-usd {
      color: $color-orange;
    }
  }

  td:last-child {
    .darkmode & {
      color: var(--color-neutral-8);
    }
  }
}

.forum__filter__section {
  @include media('>=tablet') {
    margin-bottom: 15px;
  }

  //Grid
  .col-filters {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 5px;

    @include media('>=tablet') {
      flex-wrap: nowrap;
      margin-top: 0;
    }

    > div {
      width: 100%;
      margin-top: 10px;
      max-width: calc(50% - 5px);

      &.forum-best-options__block + .selected-all {
        max-width: calc(100% - 5px);

        @include media('>=tablet') {
          max-width: 33%;
        }
      }

      @include media('>=tablet') {
        max-width: 33%;
        width: 33%;
        margin-top: 0;
      }

      //Special sizes
      @include media('>=desktop') {
        &.forum-options__block.dropdown {
          width: 200px;
        }

        &.selected-all {
          width: 240px;
        }
      }

      .dropdown-toggle {
        .icon {
          color: var(--color-base);
        }
      }
    }

    .form-control {
      font-size: 14px;
      font-weight: 500;
    }

    .dropdown {
      @include media('<tablet') {
        .dropdown-toggle {
          padding-left: 5px;
          padding-right: 5px;

          .caret {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .col-search {
    margin-top: 10px;

    @include media('>=tablet') {
      margin-top: 15px;
    }

    @include media('>=desktop') {
      margin-top: 0;
    }

    form {
      @include search-form();
    }
  }

  .forum-options__block.dropdown,
  .forum-best-options__block.dropdown {
    margin-right: 5px;

    .dropdown-menu {
      min-width: 100%;
    }
  }

  .selected-all {
    padding: 0;

    @include media('<tablet') {
      max-width: calc(100% - 100px);
    }

    .dropdown-menu {
      z-index: 1002;
    }
  }

  .forum-options-links__block {
    margin-left: 12px;
    margin-top: 3px;
    display: inline-flex;

    @include media('<tablet') {
      display: none;
    }

    a {
      width: 30px;
      height: 30px;
      border-radius: 2px;
      border: solid 1px var(--color-neutral-3);
      background-color: var(--color-neutral-0);
      color: var(--color-base);
      position: relative;
      margin-right: 5px;
      margin-top: 3px;

      @include media('<tablet') {
        margin-top: 0;
      }

      span {
        display: none;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        color: $color-blue;
      }
    }
  }
}
