//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';
//@import "../../form/select2/mixins";

// Grid
.view-filters > form,
.view-header {
  @include wso-container();
}

.clx {
  clear: both;
}

.page-wall-street-videos {
  .ajax-progress-throbber {
    display: none;
  }

  .page-top {
    h1 {
      color: var(--color-base);
    }
  }

  .view-wall-street-videos {
    .views-exposed-form {
      .form-item {
        width: 100%;

        @include media('>=desktop') {
          width: 33%;
          padding: 0 15px;
        }
      }
    }
  }
}

.video__hero {
  position: relative;
  width: 100%;

  &:before {
    background: url(/themes/custom/porto_sub/images/wall-street-videos/video-bg.jpg) no-repeat 100% 64%;
    background-size: cover;
    content: "";
    height: 450px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 452px;
    background: rgba(255, 255, 255, .1) linear-gradient(to bottom, rgba(255, 255, 255, .7) 5%, var(--color-neutral-2));
  }
}

.video__image__yt-preview {
  &:after {
    background: url(/themes/custom/porto_sub/images/wall-street-videos/yt-preview.png) no-repeat 99% 50%;
    background-size: contain;
    content: "";
    height: 377px;
    position: absolute;
    right: 0;
    z-index: 3;
  }
}

.video__hero__container {
  position: relative;
  z-index: 2;
}

.video__hero__title {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.22;
  margin: 15px 0;
}

.video__hero__description {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.63;
  margin: 0 0 32px;
}

.video__why-use__container {
  max-width: 780px;
}

.video__why-use__title {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.17;
  text-align: center;
}

.video__why-use__description {
  color: var(--color-base);
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.78;
  text-align: center;
}

.video__why-use__media {
  display: flex;
  flex-wrap: wrap;
}

.video__subscribtion__container {
  @include media('<desktop') {
    > div {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @include media('>=desktop') {
    display: flex;
  }

  .col-md-offset-3 {
    @include media('>=desktop') {
      margin-left: 12.5%;
    }
  }
}

.video__why-use__more-link {
  color: $color-blue;
  font-weight: 500;
  letter-spacing: normal;
  text-decoration: underline;
}

.video__why-use__info__text {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.13;
  text-align: center;
}

.info__image {
  position: relative;
  width: 100%;
  text-align: center;
  height: 64px;

  i {
    &.icon {
      &.icon-star {
        color: $color-blue;
        font-size: 32px;
      }
    }
  }

  .icon {
    font-size: 32px;
    color: $color-blue;

    &:before {
      position: absolute;
      top: 25%;
      transform: translate(-50%);
    }

    &:after {
      background-color: $color-blue;
      border-radius: 3px;
      content: "";
      height: 64px;
      left: 50%;
      opacity: .1;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 64px;
    }
  }
}

.video__subscribtion__option {
  background-color: var(--color-neutral-0);
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);
  text-align: center;
}

.video__subscribtion__price {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.36;
  margin-bottom: 8px;
}

.video__subscribtion__description {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.13;
  margin-bottom: 32px;
  text-align: center;
}

.video__subscribtion__col {
  padding: 0 12px;

  &:nth-child(2) {
    .video__subscribtion__option {
      &:before {
        background-image: url(/themes/custom/porto_sub/images/icons/icon_label-data-yellow.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 73px;
        left: 5px;
        position: absolute;
        top: -7px;
        width: 73px;
      }

      &:after {
        background: $color-yellow;
        color: var(--color-neutral-0);
        content: "Popular";
        font-size: 12px;
        font-weight: 400;
        left: 8px;
        line-height: 14px;
        position: absolute;
        top: 11px;
        transform: rotate(-46deg);
      }
    }
  }
}

.video__section__title {
  @include responsive-prop(700, 800, font-weight);
  position: relative;
  font-size: 32px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-base);
  padding: 20px 15px 0;

  &:before {
    background-color: $color-blue;
    content: "";
    height: 4px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-50%);
    width: 40px;
  }
}

.views-field {
  &.views-field-field-compensationyear {
    width: 60px;
  }
}

th {
  &.active {
    img {
      display: none;
    }
  }
}

.view-wall-street-videos.view-display-id-page_1  {
  tr {
    &.even {
      border: none;
      padding: 0 12px;
    }

    &.odd {
      border: none;
      padding: 0 12px;
    }
  }

  .table-condensed {
    > thead {
      > tr {
        > th {
          white-space: nowrap;
          padding: 0 12px;
          height: 50px;
          line-height: 50px;
          border: none;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;

          &:first-child {
            padding-left: 24px;
          }

          &:last-child {
            padding-right: 24px;
          }
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: .1px;
          color: var(--color-base);

          a {
            color: var(--color-base);
            font-size: 13px;
            font-stretch: normal;
            font-style: normal;
            font-weight: 500;
            letter-spacing: .1px;
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          padding: 0 12px;
          height: 50px;
          line-height: 50px;
          border: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: .1px;
          color: var(--color-base);

          &:first-child {
            padding-left: 24px;
          }

          &:last-child {
            padding-right: 24px;
          }

          a {
            color: var(--color-base);
            font-size: 14px;
            font-stretch: normal;
            font-style: normal;
            font-weight: 400;
            letter-spacing: .1px;
          }

          &.views-field-title {
            a {
              font-weight: 500;
              line-height: 50px;
              color: var(--color-base);

              &:after {
                content: "";
                cursor: pointer;
                left: 0;
                padding-top: 50px;
                position: absolute;
                right: 0;
                width: 100%;
                z-index: 99;
              }
            }

            .file-icon {
              transform-origin: 50% 50%;
              transform: scale(0.7, 0.7) translateY(-8px);

              + .file-icon {
                margin-left: -10px;
              }
            }
          }

          &.views-field-view-node {
            a {
              border: 1px solid $color-green-100;
              border-radius: 3px;
              color: $color-green-100;
              font-size: 12px;
              font-weight: 300;
              letter-spacing: .2px;
              line-height: 1;
              padding: 3.5px 14.5px;
              text-align: center;
            }
          }

          .lock__element {
            a {
              color: $color-green-100;
            }
          }
        }
      }
    }
    position: relative;
  }

  .table-bordered {
    > tbody {
      > tr {
        > td {
          &.views-field-field-compensationyear {
            background: 0 0;
            text-align: center;
          }
        }
      }
    }
  }

  .table-striped {
    > tbody {
      > tr {
        background-color: transparent;
        border-bottom: 1px solid var(--color-neutral-2);

        &.views-row-last {
          border: none;
        }

        &:hover {
          background-color: rgba(43, 157, 223, .05);
          z-index: 90;
        }

        &:nth-of-type(even) {
          &:hover {
            background-color: rgba(43, 157, 223, .05);
            z-index: 90;
          }
        }
      }
    }
  }

  .table {
    > thead {
      > tr {
        > th {
          &.views-field-field-compensationyear {
            &.active {
              text-align: center;
            }
          }

          &.active {
            background-color: transparent;
          }
        }

        > td {
          &.active {
            background-color: transparent;
          }
        }

        &.active {
          > td {
            background-color: transparent;
          }

          > th {
            background-color: transparent;
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          &.active {
            background-color: transparent;
          }
        }

        > th {
          &.active {
            background-color: transparent;
          }
        }

        &.active {
          > td {
            background-color: transparent;
          }

          > th {
            background-color: transparent;
          }
        }
      }
    }
  }

  .views-field-field-compensationyear {
    a {
      img {
        display: none;
      }
    }
  }

  tbody {
    background: var(--color-neutral-0);
    border-top: 0;
  }

  .views-field {
    text-transform: capitalize;
  }

  .views-field-field-vote {
    max-width: 110px;
    min-width: 110px;
  }

  .views-field-title {
    min-width: 520px;
    max-width: 520px;

    a {
      display: inline-block;
      max-width: 435px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  .views-field-taxonomy-vocabulary-9 {
    max-width: 184px;
    width: 184px;
  }

  thead {
    background: var(--color-neutral-0);
    border-bottom: 2px solid var(--color-neutral-2);
  }

  .table-hover {
    > tbody {
      > tr {
        > td {
          &.active {
            &:hover {
              background-color: transparent;
            }
          }
        }

        > th {
          &.active {
            &:hover {
              background-color: transparent;
            }
          }
        }

        &.active {
          &:hover {
            > td {
              background-color: transparent;
            }

            > th {
              background-color: transparent;
            }
          }
        }

        &:hover {
          > .active {
            background-color: transparent;
          }
        }
      }
    }
  }

  .views-exposed-widgets {
    display: flex;
    margin-bottom: 24px;
  }

  .views-exposed-form {
    .select2 {
      @include select2--height-md();
    }

    .views-exposed-widget {
      &.views-submit-button {
        padding-right: 0;
      }

      .form-submit {
        margin: 0;
        width: 100%;
        @extend %btn, .btn-success;
        @extend %btn, .btn-md;
        padding: 0 80px;
      }
    }

    label {
      color: var(--color-base);
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300 !important;
      letter-spacing: .1px;
      line-height: normal;
      margin-bottom: 8px;
    }

    .form-item .form-item {
      width: 100% !important;
    }

    .form-item.p-0 {
      @include media('<desktop') {
        margin-bottom: 15px;
      }

      > label {
        padding-left: 15px;
        text-align: left;
        display: block;

        @include media('<desktop') {
          padding-left: 0;
        }
      }
    }

    .form-item input[type=text] {
      margin-top: 0 !important;
      max-width: 100%;
      width: 100%;
      height: 48px;
      line-height: 48px;

      @include media('<desktop') {
        width: 100%;
      }
    }
  }

  .view-header {
    > span {
      color: var(--color-base);
      font-size: 16px;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.13;
      margin-bottom: 15px;
    }

    .total {
      @include responsive-prop(700, 800, font-weight);
    }
  }

  .vote-form {
    .vote-result {
      display: none;
    }
  }
}

.select2-container--open {
  @include select2drop-wso-video();
}

.video__no-access {
  .view-wall-street-videos.view-display-id-page_1 {
    @include media('<desktop') {
      .views-exposed-widget.views-submit-button {
        padding-left: 0;

        input {
          height: 48px;
          line-height: 48px;
          padding: 0 16px;
        }
      }
    }

    @include media('>=desktop') {
      .views-exposed-form--main-filters {
        width: 75%;
        display: inline-flex;
        float: left;
      }

      .form-item.p-0:first-child .form-item {
        padding-left: 0;
      }

      .views-exposed-widget.views-submit-button {
        width: 25%;
        float: left;
        margin-top: 11px;

        input {
          height: 48px;
          line-height: 48px;
          padding: 0 16px;
        }
      }
    }
  }
}

.lock__element {
  z-index: 199;
  position: relative;

  a {
    &:after {
      content: " ";
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 299;
    }
  }
}

.table-condensed {
  a {
    &:hover {
      color: $color-blue;
    }

    &:focus {
      color: $color-blue;
    }
  }
}

.logged-in {
  .view-wall-street-videos.view-display-id-page_1  {
    .views-field-title {
      a {
        text-decoration: none;
        color: var(--color-base);

        &:hover {
          color: var(--color-base);
          text-decoration: none;
        }

        &:focus {
          color: var(--color-base);
          text-decoration: none;
        }
      }
    }
  }
}

.ranking__block_fivestars {
  div {
    &.fivestar-widget-static {
      .star {
        span {
          &.off {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
            background-size: cover;
            display: block;
            height: 100%;
            width: 100%;
          }

          &.on {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 -14px;
            background-size: 14px;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
        float: left;
        width: 14px;
        height: 14px;
        overflow: hidden;
        text-indent: -999em;
        background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
        margin-bottom: 0;
        background-size: 14px;
      }
    }
  }

  .fivestar-default {
    height: 14px;
  }

  .fivestar-summary {
    display: none;
  }
}


.select-name-video-library-book-now-select {
  .select2-search {
    display: none;
  }
}

.video-library-access-subscribe-form {
  > div {
    @include media('>=tablet') {
      display: flex;
    }
  }

  .form-item-video-library-book-now-select {
    display: inline-block;
    margin: 0;
    width: 100%;

    @include media('>=tablet') {
      width: 288px;
      margin-right: 7px;
    }

    .select2-container {
      margin: 0;

      .select2-selection {
        height: 48px;

        .select2-selection__rendered {
          line-height: 48px;
        }

        .select2-selection__clear {
          margin-top: 13px;
        }
      }
    }
  }

  .form-submit {
    @extend %btn, .btn-success;
    @extend %btn, .btn-md;
    display: inline-block;
    width: auto;
    height: 48px;
  }
}



.views-widget-filter-field_video_description_value {
  input[type="text"] {
    height: 48px;
    padding: 0 24px;
    line-height: 48px;
    font-size: 14px;
    box-shadow: none;
    border-radius: 3px;
    border-color: var(--color-neutral-4);

    &:focus {
      border-color: $color-green-100;
      box-shadow: none;
      outline: none;
    }

    &:active {
      border-color: $color-green-100;
      box-shadow: none;
      outline: none;
    }
  }
}

.video__full-access {
  .view-filters {
    position: relative;
    padding: 32px 0 66px;
    margin-bottom: 100px;

    background: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-0);
    border-bottom-color: var(--color-neutral-4);
    border-top-color: var(--color-neutral-4);
  }

  .view-wall-street-videos.view-display-id-page_1  {
    .views-exposed-widgets {
      flex-direction: row;
      justify-content: center;
    }

    .views-exposed-form {
      .views-exposed-widget {
        margin: 0 8px;
        padding: 0;
      }
    }
  }

  .views-exposed-form {
    .views-exposed-widget {
      &.views-submit-button {
        bottom: -24px;
        left: 50%;
        margin: 0;
        position: absolute;
        transform: translateX(-50%);
        width: auto;
      }

      .form-submit {
        padding: 0 80px;
      }
    }
  }

  .page-top {
    margin: 0;
    top: 0;
    width: 100%;
    background: url(/themes/custom/porto_sub/images/wall-street-videos/video-bg.jpg) no-repeat 100% 64%;
    background-size: cover;
    padding: 28px 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
    }

    .container {
      position: relative;
      z-index: 999;
    }

    .breadcrumb {
      li {
        a {
          color: $color-blue;
          font-size: 12px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 300;
          letter-spacing: .1px;
          line-height: 1.17;
        }

        &:last-child {
          a {
            font-weight: 500;
          }
        }
      }
    }

    .page-title {
      color: var(--color-base);
      font-size: 34px;
      font-weight: 500;
      letter-spacing: .2px;
      line-height: 1.24;
    }
  }

  .breadcrumb {
    > li {
      + li {
        &:before {
          color: var(--color-neutral-2);
          font-size: 12px;
          padding: 0 5px 0 8px;
        }
      }
    }
  }
}

.video__feedback__container {
  max-width: 990px !important;
}

.video__feedback__block {
  background-color: var(--color-neutral-0);
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);
  margin-bottom: 16px;
  padding: 24px 40px;
  width: 100%;
}

.video__feedback__quote {
  margin: 0;
}

.video__feedback__text {
  color: var(--color-base);
  font-size: 18px;
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.44;
}

.feedback__quote {
  quotes: "“" "”";

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

.video__feedback__author {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: .1px;
  color: var(--color-base);

  &:before {
    content: "-";
    padding: 0 5px 0 10px;
  }

  > span {
    color: var(--color-base);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
}

td {
  &.views-field-title {
    > a {
      margin-right: 10px;
    }
  }
}

.file-icon {
  position: relative;
  display: inline-block;
  height: auto;
  width: 24px;
  margin-right: 6px;

  &:after {
    background-size: cover;
    content: "";
    height: 32px;
    position: absolute;
    transform: translateY(-20px);
    width: 24px;
  }
}

.video__no-access {
  .view-content {
    position: relative;

    &:after {
      bottom: 0;
      content: "";
      background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0), var(--color-neutral-2));
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.view-footer {
  position: relative;
  text-align: center;

  @include media('<desktop') {
    margin-top: 15px;
  }

  .btn {
    &.video__subscribe__cta {

      @include media('<tablet') {
        font-size: 16px;
      }
    }
  }
}

.left-part {
  float: left;
  padding: 0 0 15px 0;
}

.sort-right {
  float: right;
  padding: 0 0 15px 0;

  h3 {
    color: var(--color-neutral-7);
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 1.14;
    margin-bottom: 0;
    margin-right: 12px;
  }

  ul {
    &.video-sort {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        display: inline-block;

        a {
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: .2px;
          color: var(--color-base);

          &:hover {
            background: none;
            text-decoration: underline;
            transition: none;
          }

          &.active-sort {
            color: #000;
            font-weight: 500;
          }
        }

        &:first-child {
          margin-right: 20px;
          position: relative;

          &:after {
            border-left: 1px solid var(--color-neutral-4);
            content: '';
            height: 12px;
            position: absolute;
            right: -10px;
            top: 5px;
            width: 1px;
          }
        }
      }
    }
  }
}

.loading {
  .view-content {
    position: relative;

    &:before {
      background: url("/themes/custom/porto_sub/images/animation/loader.gif") no-repeat;
      background-size: contain;
      bottom: 0;
      content: "";
      height: 32px;
      left: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-16px, -16px);
      width: 32px;
      z-index: 999;
    }

    &:after {
      background: rgba(238, 238, 238, .5);
      bottom: 20px;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.view-wso-mock-interview-video-library {
  .view-filters {
    position: relative;
    z-index: 99 !important;
  }
}

#videoLibModal {
  .price-box {
    text-align: center;

    h2 {
      font-size: 16px;
    }
  }
}

@include media('<tablet') {
  .video__hero__container {
    padding-top: 20px;
  }

  .video__hero__title {
    font-size: 32px;
  }

  .video__image__yt-preview {
    &:after {
      content: none;
    }
  }

  .video__section__title {
    margin: 75px 0 20px;
  }

  .form-item-video-library-book-now-select {
    max-width: 100%;
  }

  .page-wall-street-videos {
    .video__hero {
      select {
        &.form-control {
          max-width: 100%;
        }
      }
    }
  }

  .video__hero {
    input[type=submit] {
      margin-top: 15px;
      width: 100%;
    }
  }

  .video__why-use__section {
    padding-top: 75px;
  }

  .info__image {
    margin: 50px 0 16px;
  }

  .view-wall-street-videos.view-display-id-page_1  {
    .views-exposed-widgets {
      align-items: center;
      flex-direction: column;
    }

    .views-exposed-form {
      .views-exposed-widget {
        margin-bottom: 15px;
        padding: 0;
        width: 100%;
      }
    }
  }

  .video__full-access {
    .view-filters {
      margin-bottom: 50px;
    }

    .view-wall-street-videos.view-display-id-page_1  {
      .views-exposed-form {
        .views-exposed-widget {
          width: 100%;
          margin: 0 0 15px;

          &.views-widget-filter-field_video_description_value {
            margin: 0;
          }

          &.views-submit-button {
            margin: 0;
          }
        }
      }

      .views-exposed-widgets {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  .video__feedback__section {
    margin-bottom: 50px;
  }

  .ranking__block_fivestars {
    .fivestar-average-stars {
      width: 72px;
    }
  }

  .views-field-field-vote {
    display: none;
  }

  .views-field-taxonomy-vocabulary-9 {
    display: none;
  }

  .table-responsive {
    display: block;
    overflow-x: auto;
  }

  .video__subscribtion__option {
    margin-bottom: 15px;
    padding: 25px 0;
  }

  .video__subscribtion__col {
    &:last-child {
      .video__subscribtion__option {
        margin: 0;
      }
    }
  }
}

@include media('>=tablet', '<desktop') {
  .view-wall-street-videos.view-display-id-page_1  {
    .table-responsive {
      padding: 0;
    }

    .views-exposed-widgets {
      align-items: flex-end;
    }

    .table-bordered {
      border: 1px solid var(--color-neutral-4);
    }
  }

  .video__hero__container {
    padding-top: 85px;
  }

  .video__hero__title {
    font-size: 36px;
  }

  .video__section__title {
    margin: 160px 0 48px;
  }

  .page-wall-street-videos {
    .video__hero {
      select {
        &.form-control {
          max-width: 280px;
          padding: 0;
        }
      }
    }
  }

  .video__why-use__section {
    padding-top: 130px;
  }

  .info__image {
    margin: 72px 0 16px;
  }

  .video__subscribtion__option {
    margin-bottom: 15px;
    padding: 25px 0;
  }

  .video__feedback__section {
    margin-bottom: 116px;
  }

  .video__subscribtion__col {
    &:last-child {
      .video__subscribtion__option {
        margin: 0;
      }
    }
  }

  .video__image__yt-preview {
    &:after {
      content: none;
    }
  }
}

@include media('>=desktop', '<large-desktop') {
  .view-wall-street-videos.view-display-id-page_1  {
    .table-responsive {
      max-width: 100%;
      width: 100%;
    }

    .views-exposed-widgets {
      align-items: flex-end;
    }

    .table-bordered {
      border: 1px solid var(--color-neutral-4);
    }
  }

  .video__hero__container {
    padding-top: 85px;
  }

  .video__hero__title {
    font-size: 36px;
  }

  .video__section__title {
    margin: 160px 0 48px;
  }

  .page-wall-street-videos {
    .video__hero {
      select {
        &.form-control {
          max-width: 280px;
          padding: 0;
        }
      }
    }
  }

  .video__why-use__section {
    padding-top: 130px;
  }

  .info__image {
    margin: 72px 0 16px;
  }

  .video__subscribtion__option {
    padding: 40px 0;
  }

  .video__feedback__section {
    margin-bottom: 100px;
  }

  .video__image__yt-preview {
    &:after {
      content: none;
    }
  }
}

@include media('>=large-desktop') {
  .view-wall-street-videos.view-display-id-page_1  {
    .table-responsive {
      overflow-x: hidden;
    }

    .views-exposed-widgets {
      align-items: flex-end;
    }

    .table-bordered {
      border: 1px solid var(--color-neutral-4);
    }
  }

  .video__hero__container {
    padding-top: 85px;
  }

  .video__hero__title {
    font-size: 36px;
    line-height: 1.5;
    margin: 15px 0 30px;
  }

  .video__section__title {
    margin: 160px 0 48px;
  }

  .page-wall-street-videos {
    .video__hero {
      select {
        &.form-control {
          max-width: 280px;
          padding: 0;
        }
      }
    }
  }

  .video__why-use__section {
    padding-top: 230px;
  }

  .info__image {
    margin: 72px 0 16px;
  }

  .video__subscribtion__option {
    padding: 40px 0;
  }

  .video__feedback__section {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .video__image__yt-preview {
    &:after {
      top: 25px;
      width: 400px;
    }
  }
}

@media (min-width: 1440px) and (max-width: 1699px) {
  .video__image__yt-preview {
    &:after {
      top: 60px;
      width: 500px;
    }
  }
}

@media (min-width: 1700px) {
  .video__image__yt-preview {
    &:after {
      top: 85px;
      width: 670px;
    }
  }
}
