.region-content .views-element-container.form-group {
  margin-bottom: 0
}
.mentor-simple__section {
  margin: 0
}
.mentor-simple__block {
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
  background-color: var(--color-neutral-0);
  padding: 24px 32px;
  margin: 0 0 24px
}
.mentor-simple__block:last-child {
  margin: 0
}
.mentor-simple__title {
  color: var(--color-base);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .4px;
  line-height: 1.13;
  margin-bottom: 16px
}
.mentor-simple__description {
  color: var(--color-base);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.6
}
.mentor-price__block {
  border-color: var(--color-neutral-4);
  box-shadow: none;
  display: inline-block;
  margin: 0;
  width: 100%
}
.mentor-price__item_head {
  background-color: rgba(224, 224, 224, .4);
  border-radius: 3px;
  display: inline-block;
  padding: 15px 32px;
  width: 100%
}
.list-group {
  display: inline-block;
  width: 100%
}
.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
  border: none;
  border-bottom: 1px solid var(--color-neutral-4);
  display: inline-block;
  width: 100%
}
.mentor-price__head-title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 0
}
.mentor-price__head-description {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: .2px;
  color: var(--color-base);
  margin-bottom: 0;
  text-align: right
}
.mentor-price__head-description span {
  color: var(--color-neutral-7);
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.17
}
.mentor-price__step-title {
  color: var(--color-base);
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.11;
  margin: 0 0 12px
}
.mentor-price__step-description {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.43;
  margin: 0
}
.mentor-price__value {
  font-weight: 700;
  color: var(--color-base);
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .1px;
  line-height: 1.17;
  margin: 0;
  text-align: right
}
.mentor-price__total-title {
  font-weight: 700;
  color: #f04944;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .4px;
  line-height: 1.11;
  margin: 0;
  text-transform: uppercase
}
.mentor-price__value_total {
  color: #f04944
}
.mentor-price__item_main {
  padding: 20px 64px 20px 32px
}
.mentor-price__item_total {
  padding: 26px 64px 26px 36px
}
.mentor-expectation__item {
  position: relative;
  padding: 24px 32px 24px 64px
}
.mentor-expectation__item:before {
  background-color: #087dfd;
  border-radius: 2px;
  content: "";
  height: 16px;
  left: 32px;
  opacity: .2;
  position: absolute;
  top: 26px;
  width: 16px
}
.mentor-expectation__item:after {
  background: url(/themes/custom/porto_sub/images/icons/icon_check-blue.png) 0 0/contain no-repeat;
  content: "";
  height: 6px;
  left: 36px;
  position: absolute;
  top: 31px;
  width: 9px
}
.black-banner__section {
  background-color: #1c1e24;
  padding: 56px 0;
  position: relative
}
.black-banner__title {
  font-weight: 700;
  color: #fafafa;
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.17;
  margin: 0 0 16px
}
.black-banner__description {
  color: #64676e;
  font-size: 17px!important;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.53;
  margin: 0 0 40px!important
}
.mentors-banner__container {
  margin: 0 auto;
  width: 100%
}
.view-display-id-mentor_page {
  width: 100%;
  max-width: 100%;
  margin: 1px auto 0
}
.view-display-id-mentor_page .mentors__img {
  width: auto;
  height: auto;
  max-width: 160px;
  max-height: 160px;
  display: block
}
.view-display-id-mentor_page .mentors__img img {
  height: auto;
  max-height: 160px;
  max-width: 160px;
  width: auto
}
.mentor-price__section {
  border-top: 1px solid var(--color-neutral-4);
  margin: 0 auto;
  max-width: 100%;
  width: 100%
}
.mentor-expectation__section,
.mentor-page__container {
  margin: 0 auto;
  max-width: 100%;
  width: 100%
}
.mentor-head__section {
  position: relative;
  display: flex;
  width: 100%;
  padding: 27px 0 52px;
  margin: 0!important;
  background: var(--color-neutral-0);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .02);
  align-items: center
}
.mentors-img__block {
  border: 1px solid var(--color-neutral-2);
  border-radius: 3px;
  float: right;
  height: auto;
  overflow: hidden;
  width: auto
}
.mentor__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%
}
.mentor-head__title {
  font-size: 40px;
  margin: 36px 0 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--color-base);
  overflow: hidden
}
.mentor-head__title > span {
  align-items: center;
  display: inline-flex;
  float: left;
  height: 48px
}
.mentor-head__title span span {
  border-left: 2px solid var(--color-neutral-5);
  height: 70%;
  margin-right: 10px
}
.mentor-head__title div {
  display: inline
}
.mentor-head__title div:first-child {
  float: left;
  margin-right: 10px
}
.mentor-head__company-name {
  color: var(--color-neutral-7);
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 1.25;
  margin-bottom: 24px
}
.mentor-public-bio__text {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: .1px;
  color: var(--color-base);
  margin-bottom: 32px
}
.mentor-public-bio__text li {
  padding-bottom: 15px
}
.mentor-tag__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.11;
  margin-bottom: 14px
}
.mentor-content__section {
  padding: 64px 0;
  position: relative;
  width: 100%
}
.view-mentor-profile .mentor-content__section {
  padding-bottom: 0
}
.mentor-book__part {
  position: absolute;
  top: -87px;
  width: 100%;
  display: inline-block
}
.mentor-book__part.mentor-book__part_footer {
  position: relative;
  top: 0
}
.mentor-book__part form > div {
  display: inline-flex;
  width: 100%
}
.mentor-book__part form .select2 {
  margin-top: 0
}
.mentor-book__part form .select2 .select2-selection {
  min-height: 48px!important
}
.mentor-book__part form .select2 .select2-selection .select2-selection__rendered {
  line-height: 48px!important
}
.mentor-book__part form .select2 .select2-selection .select2-selection__clear {
  margin-top: 14px
}
.mentor-book__part form .btn-md {
  width: auto;
  margin-left: 7px;
  height: 48px
}
.mentor-book__part .form-item-custom-mentor-book-now-select {
  display: inline-block;
  float: left;
  margin: 0;
  max-width: 320px;
  width: 100%
}
.mentor-content__part {
  padding-right: 40px
}
.mentor-expertise__block {
  margin-bottom: 24px
}
.mentors__content .fivestar-static-form-item {
  height: 0
}
.mentors__content>.mentors__content_mark,
.mentors__content>div,
.mentors__content>div.field-content {
  display: inline-block
}
.mentor-expectation__title,
.mentor-price__title {
  color: var(--color-neutral-7);
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.17;
  margin: 48px 0 16px
}
body.page-mentors #header {
  box-shadow: 0 0 3px rgba(0, 0, 0, .1)
}
.page-mentors .mentor-content__section input[type=text] {
  width: 100%;
  box-shadow: none;
  border-radius: 3px;
  background-color: var(--color-neutral-0);
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  height: 58px;
  line-height: 58px;
  letter-spacing: .2px;
  color: var(--color-base);
  padding: 29px 24px;
  margin: 0;
  min-height: 60px
}
.page-mentors .mentor-content__section input[type=text]:focus {
  background-color: var(--color-neutral-0);
  border: 1px solid #0cb930;
  border-radius: 3px;
  box-shadow: none;
  color: var(--color-base);
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.11;
  outline: 0;
  text-shadow: none
}
.page-mentors div.fivestar-widget-static .star {
  background: 0 0
}
.page-mentors div.fivestar-widget-static .star span.on {
  background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) 0 -14px/14px 28px no-repeat;
  display: block;
  height: 100%;
  width: 100%
}
.page-mentors .mentor-quote__mark div.fivestar-widget-static .star {
  width: 20px;
  height: 20px
}
.page-mentors .mentor-quote__mark div.fivestar-widget-static .star span.on {
  background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) 0 -20px/20px 40px no-repeat
}
input::-webkit-input-placeholder {
  color: silver!important;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.11
}
input:-moz-placeholder {
  color: silver!important;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.11
}
input::-moz-placeholder {
  color: silver!important;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.11
}
input:-ms-input-placeholder {
  color: silver!important;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.11
}
.mentor-quote__section {
  margin-top: 40px
}
.mentor-quote__mark {
  display: inline-block
}
.mentor-quote__mark .form-group {
  margin: 0
}
.mentor-quote__mark .form-type-select:after {
  display: none
}
.br-theme-css-stars .br-widget a {
  width: 20px;
  height: 20px
}
.br-theme-css-stars .br-widget a.br-selected:after {
  color: #279ee0;
  font-size: 25px
}
.mentor-quote__date {
  color: var(--color-neutral-7);
  display: inline-block;
  float: right;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.29;
  margin: 0;
  text-align: right
}
.mentor-quote__content {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: .3px;
  color: var(--color-base);
  text-indent: 24px
}
.mentor-quote__content:before {
  background: url(/themes/custom/porto_sub/images/icons/icon_quote-grey.png) 0 0/cover no-repeat;
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 12px
}
.mentor-quote__block {
  background-color: var(--color-neutral-0);
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 30px 40px
}
.mentor-quote__header-part {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%
}
@media (min-width: 992px) {
  .black-banner__title,
  .mentor-price__total-title,
  .mentor-price__value {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .black-banner__section {
    padding: 20px 15px
  }
  .black-banner__section .btn {
    width: 100%
  }
  .black-banner__title,
  .blue-banner__title {
    font-size: 24px
  }
  .black-banner__description,
  .block-accordion_head p {
    font-size: 14px
  }
  .form-type-select.form-item-custom-mentor-book-now-select:after {
    display: none
  }
}
/*# sourceMappingURL=mentor-profile.component.css.map */
