@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

#wso-sidebar-right {
  table {
    &.total-average__graph_table {
      border: 1px solid var(--color-neutral-4);
      border-collapse: unset !important;
      border-radius: 3px;
      margin-bottom: 10px;
      padding: 0;
      position: relative;
      width: 100%;
    }

    &.graph__table {
      position: relative;
      padding: 0;
      width: 100%;
      border: 1px solid $color-oasis-blue;
      border-radius: 3px;
      border-collapse: unset !important;
      margin-bottom: 10px;
      z-index: 2;

      &.graph__table_ranking {
        margin-bottom: 6px;
      }
    }
  }

  .total-average__part {
    &:last-child {
      table {
        &.graph__table {
          margin: 0;

          &.graph__table_ranking {
            margin: 0;
          }
        }

        &.total-average__graph_table {
          margin: 0;
        }
      }
    }
  }
}

.total-average__graph_table {
  border: 1px solid var(--color-neutral-4);
  border-collapse: unset !important;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  width: 100%;
}

.graph__wrapper {
  position: relative;
}

.graph__wrapper__blue {
  background: $color-oasis-blue;
  border: 1px solid $color-oasis-blue;
  border-radius: 3px 0 0 3px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
  z-index: 1;
}

.graph__table_ranking {
  &.graph__blue {
    &:after {
      height: 12px;
      width: 90%;
    }
  }

  .graph__col {
    padding: 5px !important;
  }
}

.graph__wrapper__green {
  background-color: $color-light-oasis;
  border: 1px solid $color-light-oasis;
  border-radius: 3px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 40%;
  z-index: 0;
}

.overview__rating_title {
  color: var(--color-base);
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.17;
}

.overview__rating_date {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-neutral-6);
  margin: 0;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: 0.4px;

  > span {
    display: inline-flex;
    align-items: center;
  }

  i {
    border: 0;
    min-width: 14px;
    width: 14px;
    height: 14px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    font-style: normal;

    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 2px;
      border: solid 1px var(--color-neutral-4);
      background-color: var(--color-neutral-0);
    }

    &:after {
      font-family: 'fa-custom';
      font-size: 11px;
      display: inline-block;
      position: absolute;
      top: 1px;
      left: 3px;
    }
  }
}

.trend__position {
  &_up {
    color: $color-blue;

    i {
      &:after {
        content: '\f106';
      }
    }
  }

  &_down {
    color: $color-red;

    i {
      &:after {
        content: '\f107';
      }
    }
  }

  &_same {
    i {
      &:after {
        content: '-';
        font-family: "Lato", sans-serif;
        left: 5px;
      }
    }
  }
}

.graph__blue_small {
  border-radius: 3px;
  height: 100%;
}

.graph__col {
  border-right: 1px solid $color-oasis-blue;
  border-top: none !important;
  border-bottom: none !important;
  padding: 7px !important;

  &:last-child {
    border-right: none;
  }
}

.graph__table {
  tbody {
    border: none;
  }
}

.text__block {
  display: inline-block;
  line-height: 1;
  margin-bottom: 6px;
  width: 100%;
}

.total-average__text_block {
  display: inline-block;
  line-height: 1;
  margin-bottom: 6px;
  width: 100%;
}

.block__company-ranking {
  .text__block {
    margin-bottom: 2px;
  }
}

.total-average__title {
  color: var(--color-base);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 1.23;
  letter-spacing: 0.2px;
}

.total-average__price {
  color: var(--color-neutral-7);
  float: right;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.17;
  padding-top: 3px;
  text-align: right;
}

.region-sidebar-right {
  .block {
    .box-content {
      > p {
        font-size: 17px;
        @include responsive-prop(700, 800, font-weight);
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: .2px;
        color: var(--color-base);

        &.block__description {
          padding-top: 0;
          display: flex;
          align-items: center;

          .block__description_industry {
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: 0.2px;
            @include font-color-grey-darkmode;
          }

          .block__description_date {
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: 0.2px;
            @include font-color-grey-darkmode;

            &:after {
              content: '';
              display: inline-block;
              width: 1px;
              height: 12px;
              background: var(--color-neutral-4);
              margin-right: 5px;
              margin-left: 5px;
            }
          }
        }
      }

      ul {
        &.block__content {
          border-top: 2px solid var(--color-neutral-2);
          margin: 0;
          padding: 14px 24px 24px;
        }

        li {
          &.total-average__part {
            border: none;
            padding: 0;

            .overview__rating_title {
              font-size: 13px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.23;
              letter-spacing: 0.2px;
              color: var(--color-base);
            }

            .total-average__price {
              font-size: 13px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.23;
              letter-spacing: 0.2px;
              text-align: right;
              @include font-color-grey-darkmode;
            }
          }
        }
      }
    }
  }
}

.block__part_cta {
  padding: 0 24px;

  .btn {
    @include responsive-prop(700, 800, font-weight);
  }
}

.block__btn {
  text-align: center;
  width: 100%;
}

.wso-sidebar-right {
  .region-sidebar-right {
    .block {
      margin-bottom: 12px;
    }
  }
}

.block__description_industry {
  color: var(--color-monkey-grey);
}

.block__description_date {
  color: var(--color-monkey-grey);
}

.graph__blue_single {
  &:after {
    border-radius: 3px;
    content: "";
  }
}
