<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>
<div class="page print-version print-version-pdf">
  22
    {{ content }}
</div>
</body>
</html>
