{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - $css: An array of CSS files for the current page.
 * - $language: (object) The language the site is being displayed in.
 *   $language->language contains its textual representation.
 *   $language->dir contains the language direction. It will either be 'ltr' or
 *   'rtl'.
 * - $rdf_namespaces: All the RDF namespace prefixes used in the HTML document.
 * - $grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - $head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - $head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the $head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - $head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - $styles: Style tags necessary to import all CSS files for the page.
 * - $scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - $page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - $page: The rendered page content.
 * - $page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - $classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_html()
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}

{%
  set body_classes = [
  logged_in ? 'user-logged-in',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  node_type ? 'page-node-type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
  theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
  theme.has_glyphicons ? 'has-glyphicons',
]
%}
{% set user_type = logged_in ? "Authenticated User" : "Anonymous User" %}
<!DOCTYPE html>
<html {{ html_attributes }}>
<head>
  {% if anti_flicker %}
    <!-- anti-flicker snippet (recommended)  -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
      })(window,document.documentElement,'async-hide','dataLayer',4000,
        {'GTM-MGGHWMD':true});</script>
  {% endif %}
  <link rel="apple-touch-icon" sizes="57x57" href="/themes/custom/porto_sub/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/themes/custom/porto_sub/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/themes/custom/porto_sub/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/themes/custom/porto_sub/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/themes/custom/porto_sub/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/themes/custom/porto_sub/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/themes/custom/porto_sub/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/themes/custom/porto_sub/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/porto_sub/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/themes/custom/porto_sub/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/porto_sub/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/themes/custom/porto_sub/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/porto_sub/images/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/themes/custom/porto_sub/images/ms-icon-144x144.png">
  <link rel="preload" as="font" href="/themes/custom/porto_sub/assets/fonts/fa-custom/font/fa-custom.woff2?v=34" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="/libraries/slick-carousel/slick/fonts/slick.woff" type="font/woff" crossorigin>
  <link href="https://www.facebook.com" rel="preconnect" crossorigin>
  <link href="https://sockjs.pusher.com" rel="preconnect" crossorigin>
  <link href="https://pushcrew.com" rel="preconnect" crossorigin>
  <link href="https://cdn.pushcrew.com" rel="preconnect" crossorigin>
  <link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
  <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
  <script>
    var DrupalDynamicCacheHit = 'MISS';
  </script>
  <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>

    {% if darkmode_script_enabled %}
      {% include '@porto_sub/_darkmode-script.twig' %}
    {% endif %}

    {{ critical_fonts|raw }}
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body{{ attributes.addClass(body_classes) }} ontouchstart>
<div style="visibility: hidden; display: none;">
  {% include svg_sprite %}
</div>
<a href="#main-content" class="visually-hidden focusable skip-link" style="order: 0 !important;clip: rect(1px, 1px, 1px, 1px);height: 1px !important;overflow: hidden;padding: 0 !important;position: absolute !important;width: 1px !important;">
  {{ 'Skip to main content'|t }}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
{{ admin_anchor_link }}
<div class="hover-details d-none"></div>

<js-bottom-placeholder token="{{ placeholder_token|raw }}">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MGGHWMD');</script>
  <!-- End Google Tag Manager -->
  <script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)){
      document.write('<script src="/themes/custom/porto_sub/js/ofi.js"><\/script>');
      document.write('<script src="/themes/custom/porto_sub/js/behaviors/object-fit.js"><\/script>');
    }
  </script>

  <!-- DO NOT MODIFY -->
  {% if pushcrew %}
    <script>
      var isiPad = navigator.userAgent.match(/iPad/i) != null;
      var isiPhone = navigator.userAgent.match(/iPhone/i) != null;

      if (!isiPad && !isiPhone) {
        (function(p,u,s,h) {
          p._pcq = p._pcq || [];
          p._pcq.push(['_currentTime', Date.now()]);
          s = u.createElement('script'); s.type = 'text/javascript';s.defer=true; s.async = true;s.crossOrigin = 'anonymous';
          s.src = 'https://cdn.pushcrew.com/js/d0b417b24e0f1644a35cd9e719b7f71e.js';
          h = u.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h);
        })(window,document);
      }
    </script>
  {% endif %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGGHWMD"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</body>
</html>
