.paragraphs-item-customers-logos .customers-logos__logos {
  margin-top: 40px
}
.paragraphs-item-customers-logos .customers-logos__logos .field-name-field-company-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0
}
.paragraphs-item-customers-logos .customers-logos__logos .field-name-field-company-logo .field--item {
  width: 30%;
  border: 1px solid rgba(10, 64, 89, .1);
  padding: 20px
}
.paragraphs-item-customers-logos .customers-logos__logos .field-name-field-company-logo .field--item img {
  vertical-align: middle;
  width: 100%;
  height: 35px;
  object-fit: contain;
  margin: auto
}
.paragraphs-item-customers-logos .customers-logos__footer {
  margin-top: 20px
}
@media (max-width: 767px) {
  .paragraphs-item-customers-logos .customers-logos__logos {
    margin-top: 30px
  }
  .paragraphs-item-customers-logos .customers-logos__logos .field-name-field-company-logo {
    gap: 10px 0
  }
  .paragraphs-item-customers-logos .customers-logos__logos .field-name-field-company-logo .field--item {
    width: 48%;
    padding: 15px
  }
}
/*# sourceMappingURL=customers-logos.component.css.map */
