@import './components/common-styles/helpers/mixins';

.paragraphs-item-customers-logos {
  .customers-logos__logos {
    margin-top: 40px;

    .field-name-field-company-logo {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px 0;

      .field--item {
        width: 30%;
        border: 1px solid rgba(10, 64, 89, 0.1);
        padding: 20px;

        img {
          vertical-align: middle;
          width: 100%;
          height: 35px;
          object-fit: contain;
          margin: auto;
        }
      }
    }
  }

  .customers-logos__footer {
    margin-top: 20px;
  }
}

@include media('<tablet') {
  .paragraphs-item-customers-logos {
    .customers-logos__logos {
      margin-top: 30px;

      .field-name-field-company-logo {
        gap: 10px 0;

        .field--item {
          width: 48%;
          padding: 15px;
        }
      }
    }
  }
}
