.wso-alpha-table {
  background: var(--color-neutral-0);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px
}
.wso-alpha-table__title {
  font-weight: 900;
  font-size: 26px;
  color: #0a4059;
  margin-top: 0
}
.darkmode .wso-alpha-table__title {
  color: #5cd0ff
}
.wso-alpha-table__footnote {
  font-style: italic
}
.wso-alpha-table table {
  border-right-width: 1px;
  font-size: 13px;
  border-bottom: var(--color-neutral-3) 1px solid!important
}
.wso-alpha-table table thead {
  background: #1277a7;
  color: var(--color-neutral-0)
}
.wso-alpha-table table thead a {
  color: var(--color-neutral-0)
}
.wso-alpha-table table thead th {
  vertical-align: middle;
  color: var(--color-neutral-0)!important;
  white-space: nowrap
}
.wso-alpha-table table tfoot {
  border-top: 1px solid var(--color-neutral-3)
}
.wso-alpha-table table tfoot th {
  font-size: 15px
}
.wso-alpha-table table tbody td,
.wso-alpha-table table tfoot th,
.wso-alpha-table table thead th {
  padding: 10px 18px 10px 10px
}
.wso-alpha-table table tbody td p,
.wso-alpha-table table tfoot th p,
.wso-alpha-table table thead th p {
  margin-bottom: 0
}
.wso-alpha-table table .shown td.details-control:before {
  content: "\e80a"
}
.wso-alpha-table table.table-hovered tbody tr {
  cursor: pointer
}
.wso-alpha-table .views-field-title {
  min-width: 120px;
  max-width: 200px
}
.wso-alpha-table .views-field-field-asset-type {
  min-width: 100px
}
.wso-alpha-table .views-field-field-gain-loss {
  color: #0aa12a!important
}
.wso-alpha-table .views-field-field-gain-loss .down {
  color: #ee322c!important
}
.wso-alpha-table td.views-field-field-position-change {
  text-align: center
}
.wso-alpha-table .views-field-field-context {
  min-width: 350px
}
.wso-alpha-table--expanded .view-current-positions .views-field-field-analyst-notes {
  display: none
}
.wso-alpha-table--expanded td.views-field-nothing {
  text-align: center
}
.wso-alpha-table--expanded td.views-field-nothing:before {
  content: "\e809";
  display: inline-block;
  font: 14px/1 fa-custom;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: .5
}
.opened td.views-field-nothing:before {
  content: "\e80a"
}
.wso-alpha-table--expanded td.views-field-nothing:hover:before {
  opacity: 1
}
.wso-alpha-table--expanded tr {
  cursor: pointer
}
.wso-alpha-table--expanded .fake table {
  border-bottom: 0!important;
  font-weight: 800
}
.wso-alpha-table--expanded .fake table td {
  border: 0!important
}
.wso-alpha-table--expanded .fake table tbody tr:nth-of-type(odd) {
  background-color: transparent!important
}
.wso-alpha-teaser {
  min-height: 450px
}
.wso-alpha-teaser table tbody,
.wso-alpha-teaser table tfoot {
  filter: blur(3px);
  -webkit-filter: blur(3px)
}
@media (min-width: 576px) {
  .wso-alpha-table .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%
  }
}
@media (min-width: 768px) {
  .wso-alpha-table .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%
  }
  .wso-alpha-table .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%
  }
}
/*# sourceMappingURL=wso-alpha-table.component.css.map */
