@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.wso-alpha-table {
  background: var(--color-neutral-0);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  //box-shadow:  0 0 24px 0 rgba(50, 50, 50, 0.35);

  &__title {
    font-weight: 900;
    font-size: 26px;
    color: $darkslateblue_0A4059;
    margin-top: 0;

    .darkmode & {
      color: $lightskyblue_5cd0ff;
    }
  }

  &__footnote {
    font-style: italic;
  }

  .col-sm-12 {
    @media (min-width: 576px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .col-md-5 {
    @media (min-width: 768px) {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  }

  .col-md-7 {
    @media (min-width: 768px) {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  }

  table  {
    border-right-width: 1px;
    font-size: 13px;
    border-bottom: var(--color-neutral-3) 1px solid !important;

    thead {
      background: #1277A7;
      color: var(--color-neutral-0);

      a {
        color: var(--color-neutral-0);
      }

      th {
        vertical-align: middle;
        color: var(--color-neutral-0) !important;
        white-space: nowrap;
      }
    }

    tfoot {
      border-top: 1px solid var(--color-neutral-3);

      th {
        font-size: 15px;
      }
    }

    thead th,
    tfoot th,
    tbody td {
      padding: 10px 18px 10px 10px;

      p {
        margin-bottom: 0;
      }
    }

    .shown {
      td.details-control {
        &:before {
          content: '\e80a';
        }
      }
    }

    &.table-hovered {
      tbody tr {
        cursor: pointer;
      }
    }
  }

  // Special styles for cells.
  .views-field-title {
    min-width: 120px;
    max-width: 200px;
  }

  .views-field-field-asset-type {
    min-width: 100px;
  }

  .views-field-field-gain-loss {
    color:  darken($color-green-100, 5%) !important;

    .down {
      color:  darken($color-red, 5%) !important;
    }
  }

  td.views-field-field-position-change {
    text-align: center;
  }

  .views-field-field-context {
    min-width: 350px;
  }
}

.wso-alpha-table--expanded {
  .view-current-positions {
    .views-field-field-analyst-notes {
      display: none;
    }
  }

  /*
  .view-closed-positions {
    .views-field-field-avg-price,
    .views-field-field-share-price,
    .views-field-field-shares-amount {
      display: none
    }
  }
  */

  td.views-field-nothing {
    text-align: center;

    &:before {
      content: '\e809';
      display: inline-block;
      font: normal normal normal 14px/1 'fa-custom';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      opacity: 0.5;

      @at-root .opened td.views-field-nothing:before {
        content: '\e80a';
      }
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }

  tr {
    cursor: pointer;
  }

  .fake {
    table {
      border-bottom: 0 !important;
      font-weight: 800;

      td {
        border: 0 !important;
      }

      tbody tr:nth-of-type(odd) {
        background-color: transparent !important;
      }
    }
  }
}

.wso-alpha-teaser {
  min-height: 450px;

  table {
    tbody,
    tfoot {
      filter: blur(3px);
      -webkit-filter: blur(3px);
    }
  }
}
