@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.page-finance-jobs {
  .section-pricing {
    .ribbon {
      width: 210px;
    }

    ul {
      min-height: 0;

      li {
        border-bottom: none;
      }
    }
  }

  .big-heading {
    color: var(--color-neutral-5);
  }

  .job-intro {
    .plan-box {
      h2 {
        color: $color-blue;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        margin: 0 auto;
        min-height: 17px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        text-align: center;
        width: 85%;
      }
    }
  }
}

.job-intro {
  .lead {
    color: var(--color-neutral-0);
  }
  background: var(--color-neutral-8) url("/themes/custom/porto_sub/images/hero/finance-jobs-bg.jpg") repeat scroll center top/cover;
  min-height: 260px;
  padding-top: 30px;

  h2 {
    color: var(--color-neutral-3);
    font-size: 48px;
    font-weight: 500;
    margin-top: 15px;
  }

  p {
    color: var(--color-neutral-5);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  h1 {
    color: var(--color-neutral-0);
    font-weight: 700;
    letter-spacing: .2px;
  }
}

.m-t-23 {
  margin-top: 23px;
}

.not-subscribed {
  padding-bottom: 100px;
}

.view-jobs {
  margin-top: -35px;

  &.well {
    border: medium none;
    box-shadow: none;
  }
}

ul#jobsright {
  &.grey {
    li {
      a {
        img {
          float: left;
          height: auto;
          margin-left: 10px;
          margin-top: 10px;
          width: 30px;
        }
        border-top: medium none;
      }

      &.toolsheader {
        background-color: var(--color-base);
        height: 30px;
        color: var(--color-neutral-0);

        p {
          text-shadow: none;
        }
      }
    }
    background-color: var(--color-neutral-0);
    border: medium none;
    margin-top: 25px;
    text-shadow: none;
  }
  list-style: none;
  float: right;
  background-color: $aliceblue_D9ECF4;
  border: 1px solid $lightsteelblue_A5C3D2;
  margin-top: 23px;
  text-shadow: var(--color-neutral-4) 0 -1px 0;
  margin-bottom: 5px;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  padding: 0;
  width: 100%;

  li {
    width: 100%;
    height: 52px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $lightsteelblue_A5C3D2;

    a {
      width: 100%;
      height: 99%;
      margin: 0;
      padding: 0;
      display: block;
      border-top: 1px solid var(--color-neutral-3);
      -moz-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      -ms-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in;

      &.nobordertop {
        border-top: none;
      }

      div {
        color: $slategrey_4a738d;
        float: left;
        line-height: 1.2em;
        margin-left: 8px;
        padding-top: 10px;
      }

      img {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
      }

      &:hover {
        -moz-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        background-color: $lightblue_c6dfec;
        transition: all .2s ease-in;
      }
    }

    &.toolsheader {
      height: 30px;
      background-color: $steelblue_3F8FCC;
      background-image: none;

      p {
        @include responsive-prop(700, 800, 'font-weight');
        color: var(--color-neutral-0);
        font-size: 14px;
        line-height: 1em;
        padding-left: 8px;
        padding-top: 7px;
        text-shadow: $steelblue_285f87 0 -1px 0;
      }
    }
  }

  li#noborder {
    border-bottom: none;
  }
}

.video-access-pricing-table-head {
  background: var(--color-neutral-0) none repeat scroll 0 0;
  border-radius: 6px 6px 0 0;
  padding: 5px;

  h4 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 0;
    padding: 15px 0 0;
    text-align: center;
    text-transform: capitalize;
  }
}

.best-deal {
  color: $cadetblue_5e9c8f;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: -5px;
  text-align: center;
  text-transform: uppercase;
}

.video-access-pricing-table-body {
  background: $gainsboro_cedde0 none repeat scroll 0 0;
  padding: 20px 20px 35px;
}

.video-access-pricing-table-footer {
  background: var(--color-neutral-0) none repeat scroll 0 0;
  border-radius: 0 0 6px 6px;
  margin-top: -20px;
  padding: 15px 30px;

  .btn {
    &.btn-block {
      font-size: 18px;
      padding: 5px;
    }
  }
}

.price-bg-z {
  .video-access-pricing-table-body {
    background: $tan_D9BA9F none repeat scroll 0 0;
  }

  .price {
    background: var(--color-neutral-3) none repeat scroll 0 0;
  }
}

.price-bg-y {
  .video-access-pricing-table-body {
    background: $color-yellow none repeat scroll 0 0;
  }

  .price {
    background: $lemonchiffon_FBEEC6 none repeat scroll 0 0;
  }
}

.price {
  background: var(--color-neutral-2) none repeat scroll 0 0;
  border: 2px solid var(--color-neutral-0);
  font-size: 2em;
  height: 120px;
  letter-spacing: -1px;
  line-height: 1;
  margin: auto;
  padding: 40px 30px;
  text-align: right;
  vertical-align: middle;
  width: 120px;

  span {
    font-size: 20px;
    margin-left: -10px;
    margin-top: 2px;
    padding-right: 10px;
    position: absolute;
    width: 20px;
  }

  .small {
    font-size: 16px;
    opacity: .6;
    padding-top: 4px;
    text-align: center;
  }
}

.form-item-field-start-date-value-min-date {
  .description {
    display: none;
  }
}

.form-item-field-start-date-value-max-date {
  .description {
    display: none;
  }
}

.node-type-job {
  .field-name-field-external-apply-link {
    display: none;
  }
}

label[for="edit-title"] {
  display: none;
}

li {
  &.discouterboxes {
    &.col-md-6 {
      border: 1px solid var(--color-neutral-5);
      border-bottom-color: var(--color-neutral-6);
      min-height: 390px;
    }
  }
}

blockquote {
  &.testimonial {
    a {
      color: var(--color-neutral-5);
    }
  }
}

div {
  &.alert {
    margin: 5px 0 60px 30px;
    width: 900px;
  }
}

.modal-body {
  div {
    &.alert {
      margin: 10px 0;
      width: auto;
    }
  }
}
