.region-breadcrumbs-replacer .tabs .nav-tabs li {
  border-top: 1px solid var(--color-neutral-4);
  border-bottom: 1px solid var(--color-neutral-4);
  border-right: 1px solid var(--color-neutral-4);
  background-color: var(--color-neutral-2)
}
.region-breadcrumbs-replacer .tabs .nav-tabs li a {
  border: none;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: .2px;
  text-align: center;
  color: var(--color-neutral-7);
  background-color: var(--color-neutral-2);
  padding: 24px 0
}
.region-breadcrumbs-replacer .tabs .nav-tabs li a:hover {
  background-color: var(--color-neutral-0)
}
.region-breadcrumbs-replacer .tabs .nav-tabs li a.active {
  border: none
}
.region-breadcrumbs-replacer .tabs .nav-tabs li:first-child {
  border-left: 1px solid var(--color-neutral-4)
}
.region-breadcrumbs-replacer .tabs .nav-tabs li.active,
.region-breadcrumbs-replacer .tabs .nav-tabs li:hover {
  color: #087dfd;
  border-bottom: 1px solid var(--color-neutral-0);
  background: var(--color-neutral-0);
  border-top: 0
}
.region-breadcrumbs-replacer .tabs .nav-tabs li.active a,
.region-breadcrumbs-replacer .tabs .nav-tabs li:hover a {
  background-color: var(--color-neutral-0);
  border-top: 0;
  position: relative;
  border: none
}
.region-breadcrumbs-replacer .tabs .nav-tabs li.active a:before,
.region-breadcrumbs-replacer .tabs .nav-tabs li:hover a:before {
  display: block!important;
  background: #087dfd;
  content: ""!important;
  height: 3px;
  left: -1px;
  position: absolute;
  top: 0;
  width: calc(100% + 2px)
}
.region-breadcrumbs-replacer .nav-tabs>.active>a,
.region-breadcrumbs-replacer .nav-tabs>.active>a:hover {
  border: none
}
.region-breadcrumbs-replacer .nav-tabs {
  border-bottom: 1px solid var(--color-neutral-0);
  border-top-left-radius: 5px;
  text-align: left;
  margin-bottom: 15px
}
.region-breadcrumbs-replacer .nav-tabs li {
  background: 0 0;
  border: none;
  margin-bottom: -1px
}
.region-breadcrumbs-replacer .nav-tabs li a {
  background: var(--color-neutral-1) none repeat scroll 0 0;
  margin-right: 0;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 0;
  color: var(--color-neutral-6);
  text-align: center
}
.region-breadcrumbs-replacer .nav-tabs li a:hover {
  background-color: var(--color-neutral-0)
}
.region-breadcrumbs-replacer .nav-tabs li.active {
  background: 0 0;
  border: none;
  margin-bottom: -1px
}
.region-breadcrumbs-replacer .nav-tabs li.active a {
  background-color: var(--color-neutral-0);
  border-bottom: none!important;
  color: #087dfd;
  border-top: 0;
  text-align: center
}
.region-breadcrumbs-replacer .nav-tabs li.active a.active:before {
  content: none
}
.region-breadcrumbs-replacer .nav-tabs li:first-child a {
  border-left: none
}
.region-breadcrumbs-replacer .nav-tabs a:hover {
  background: var(--color-neutral-1) none repeat scroll 0 0
}
.region-breadcrumbs-replacer .nav-tabs > li {
  display: inline-block;
  width: auto
}
@media (min-width: 768px) {
  .region-breadcrumbs-replacer .nav-tabs li {
    flex: 1
  }
  .region-breadcrumbs-replacer .nav-tabs a:hover,
  .region-breadcrumbs-replacer .nav-tabs li a {
    border-bottom: 1px solid var(--color-neutral-0);
    border-left: 1px solid var(--color-neutral-0);
    border-right: 1px solid var(--color-neutral-0)
  }
}
@media (max-width: 767px) {
  .region-breadcrumbs-replacer .nav-tabs {
    text-align: center;
    margin-top: 5px
  }
  .region-breadcrumbs-replacer .nav-tabs li {
    width: 100%;
    margin-bottom: 5px
  }
  .region-breadcrumbs-replacer .nav-tabs a:hover,
  .region-breadcrumbs-replacer .nav-tabs li a,
  .region-breadcrumbs-replacer .nav-tabs li.active a {
    padding: 15px 10px
  }
}
/*# sourceMappingURL=tabs-new.component.css.map */
