@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.region-breadcrumbs-replacer {
  .tabs {
    .nav-tabs {
      li {
        border-top: 1px solid var(--color-neutral-4);
        border-bottom: 1px solid var(--color-neutral-4);
        border-right: 1px solid var(--color-neutral-4);
        background-color: var(--color-neutral-2);

        a {
          border: none;
          border-radius: 0;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: .2px;
          text-align: center;
          color: var(--color-neutral-7);
          background-color: var(--color-neutral-2);
          padding: 24px 0;

          &:hover {
            background-color: var(--color-neutral-0);
          }

          &.active {
            border: none;
          }
        }

        &:first-child {
          border-left: 1px solid var(--color-neutral-4);
        }

        &.active,
        &:hover {
          color: $color-blue;
          border-bottom: 1px solid var(--color-neutral-0);
          background: var(--color-neutral-0);
          border-top: 0;

          a {
            background-color: var(--color-neutral-0);
            border-top: 0;
            position: relative;
            border: none;

            &:before {
              display: block !important;
              background: $color-blue;
              content: "" !important;
              height: 3px;
              left: -1px;
              position: absolute;
              top: 0;
              width: calc(100% + 2px);
            }
          }
        }
      }
    }
  }

  .nav-tabs {
    > .active {
      > a {
        border: none;

        &:hover {
          border: none;
        }
      }
    }

  }

  .nav-tabs {
    border-bottom: 1px solid var(--color-neutral-0);
    border-top-left-radius: 5px;
    text-align: left;
    margin-bottom: 15px;

    li {
      background: none;
      border: none;
      margin-bottom: -1px;

      a {
        background: var(--color-neutral-1) none repeat scroll 0 0;
        margin-right: 0;
        padding: 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top: 0;
        color: var(--color-neutral-6);
        text-align: center;

        &:hover {
          background-color: var(--color-neutral-0);
        }
      }

      &.active {
        background: none;
        border: none;
        margin-bottom: -1px;

        a {
          background-color: var(--color-neutral-0);
          border-bottom: medium none !important;
          border-top-color: transparent;
          color: $color-blue;
          //font-weight: 800;
          //padding: 15px;
          border-top: 0;
          text-align: center;

          &.active {
            &:before {
              content: none;
            }
          }
        }
      }

      &:first-child {
        a {
          border-left: none;
        }
      }
    }

    a {
      &:hover {
        background: var(--color-neutral-1) none repeat scroll 0 0;
      }
    }

    > li {
      display: inline-block;
      width: auto;
    }
  }

  @include media('<tablet') {
    .nav-tabs {
      text-align: center;
      margin-top: 5px;

      li {
        width: 100%;
        margin-bottom: 5px;

        &.active {
          a {
            padding: 15px 10px;
          }

        }

        a {
          padding: 15px 10px;
        }

      }

      a {
        &:hover {
          padding: 15px 10px;
        }
      }
    }
  }

  @include media('>=tablet') {
    .nav-tabs {
      li {
        flex: 1;

        a {
          border-bottom: 1px solid var(--color-neutral-0);
          border-left: 1px solid var(--color-neutral-0);
          border-right: 1px solid var(--color-neutral-0);
        }
      }

      a {
        &:hover {
          border-bottom: 1px solid var(--color-neutral-0);
          border-left: 1px solid var(--color-neutral-0);
          border-right: 1px solid var(--color-neutral-0);
        }
      }
    }
  }
}


