
{{ attach_library('porto_sub/paragraph.labeled-benefits-list.component') }}

<div class="benefits-list benefits-list__labeled">
  <div class="benefits-list-wrapper">
    {% for item in list %}
      <div class="list-item">
        <div class="list-item__title">{{ item['title'] }}</div>
        <div class="list-item__text">{{ item['text'] }}</div>
      </div>
    {% endfor %}
  </div>
</div>
