.page-top {
  color: var(--color-base);
  border: 0;
  background-size: cover;
  width: 100%;
  margin-bottom: 20px;
  padding: 28px 0 15px;
  position: relative;

  @media (max-width: $screen-sm-max) {
    background: var(--color-neutral-0);
    padding-top: 0 !important;
    margin-bottom: 0;
  }

  &:before {
    @include media('>=tablet') {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/ib-banner-forum.jpg) no-repeat;
      background-position-y: 50%;
      background-size: cover;
      bottom: 0;
      content: "";
      left: 0;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .shortname {
    display: none;
  }

  .breadcrumb {
    margin: 0 4px 0 0;
  }

  .title-container {
    display: flex;
    flex-wrap: wrap;

    @include media('>=tablet') {
      flex-wrap: nowrap;
    }

    &__title {
      color: var(--color-base);
      display: inline-block;
      font-size: 30px;
      font-stretch: normal;
      font-style: normal;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .2px;
      line-height: 1.24;
      margin-right: 14px;
      margin-bottom: 0;

      @include media('>=tablet') {
        margin-bottom: 15px;
      }

      @include media('>=desktop') {
        font-size: 36px;
      }
    }

    .title_action_container {
      margin-top: 5px;
      display: inline-flex;

      .title_action {
        display: inline-block;
        vertical-align: text-bottom;
        margin: 0;
        width: 100%;

        @media (max-width: $screen-sm-max) {
          width: auto;
        }

        .btn {
          //height: 28px;
          //line-height: 28px;
          //@include responsive-prop(700, 600, font-weight);
          white-space: nowrap;

          .icon {
            -webkit-text-stroke: 1px var(--color-neutral-0);
          }
        }
      }
    }
  }

  &__investment-banking {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/ib-banner-forum.jpg) no-repeat;
      background-position-y: 24% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__trading {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/tr-banner-forum.jpg) no-repeat;
      background-position-y: 45% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__private-equity {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/pe-banner-forum.jpg) no-repeat;
      background-position-y: 64% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__hedge-fund {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/hf-banner-forum.jpg) no-repeat;
      background-position-y: 29% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__consulting {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/mc-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__equity-research {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/er-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__asset-management {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/am-banner-forum.jpg) no-repeat;
      background-position-y: 32% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__corporate-finance-fldp {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/cf-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__real-estate {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/re-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__other {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/industry/oi-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__job-search {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/related_topics/job-search-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__school {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/related_topics/bschool-banner-forum.jpg) no-repeat;
      background-position-y: 30% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__investing {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/related_topics/inv-markets-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__resume-review {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/related_topics/resume-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__business-attire-fashion-advice {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/related_topics/fashion4b-banner-forum.jpg) no-repeat;
      background-position-y: 16% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__new-users {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/site/n-user-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__success {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/site/success-stories-banner-forum.jpg) no-repeat;
      background-position-y: 35% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__off-topic {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/site/off-topic-banner-forum.jpg) no-repeat;
      background-position-y: 100% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__wealth-management {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/site/reviews-banner-forum.jpg) no-repeat;
      background-position-y: 50% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__feedback {
    &:before {
      background: linear-gradient(rgba(var(--color-neutral-0--rgb), .8), rgba(var(--color-neutral-0--rgb), .8)),
      url(/themes/custom/porto_sub/images/headers/site/site-suggestion-banner-forum.jpg) no-repeat;
      background-position-y: 75% !important;
      background-size: cover;

      @include media('<tablet') {
        display: none;
      }
    }
  }
}

.page-highest-ranked-comments {
  .page-top {
    min-height: 170px;
  }

  .breadcrumb li a {
    color: $color-link-blue;
  }
}
