.breadcrumb {
  li {
    font-size: 14px;
    padding-bottom: 0;

    span {
      color: color-link-blue;
    }

    a {
      font-size: 14px;
      color: color-link-blue;
    }

    &:last-child {
      &,
      span {
        color: color-link-blue;
        font-weight: normal;
      }

      a {
        color: color-link-blue;
      }
    }
  }

  > li {
    + li {
      &:before {
        color: color-link-blue;
        text-align: center;
      }
    }
  }
}

.forum-options__block .dropdown {
  .dropdown-menu {
    z-index: 1002;
  }
}

#forum {
  border: 1px solid var(--color-neutral-3);

  .icon {
    display: table-cell;

    div {
      width: auto;
    }
  }

  table {
    width: 100%;
  }

  thead {
    background: var(--color-neutral-3);
    border-top: 1px solid var(--color-neutral-2);
    text-align: center;

    th {
      padding: 8px;
    }
  }

  tbody {
    border-top: none;

    td {
      padding: 8px;

      &.forum {
        width: 60%;
      }

      &.topics {
        width: 15%;
      }

      &.posts {
        width: 15%;
      }
    }

    tr {
      &.odd {
        background-color: var(--color-neutral-0);
      }

      &.even {
        background-color: var(--color-neutral-0);
      }
    }
  }
}

.page-tracker-my-feed {
  .region-content {
    margin-top: 0;
  }
}

.page-tracker {
  #drupal_tabs {
    &.tabs {
      margin-bottom: 0;
    }
  }
}

.page-tracker {
  .qtip {
    background-color: var(--color-base);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    margin-top: -14px;
    max-width: 100%;
    width: 560px;
  }
}

.page-forum {
  .qtip {
    background-color: var(--color-base);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    margin-top: -14px;
    max-width: 100%;
    width: 560px;
  }
}

.forum__qtip_image {
  display: inline-block;
  vertical-align: top;

  img {
    border-radius: 50%;
    height: 48px;
    object-fit: cover;
    width: 48px;
  }
}

.forum__qtip_part {
  display: inline-block;
  max-width: calc(100% - 58px);
  padding-left: 10px;
}

.forum__qtip_username {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-neutral-0);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .1px;
  line-height: normal;
  margin-bottom: 4px;
}

.qtip-content {
  color: var(--color-neutral-0);
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.27;
  margin: 0;
  opacity: .8;
}

.forum__qtip_content {
  color: var(--color-neutral-0);
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.27;
  margin: 0;
  opacity: .8;
}

.page-forum {
  #wso-content-outer {
    .action-links {
      display: none;
    }
  }
}

.page-highest-ranked-discussions {
  #drupal_tabs {
    &.tabs {
      margin: 0;
    }
  }
}

.page-tracker-bookmarks {
  table.forum-table thead th:first-child:after {
    display: none;
  }
}

.replies-br {
  color: var(--color-neutral-6);
}

.marker {
  color: $color-red;
  font-size: 13px;
}

.tooltip {
  pointer-events: none;
}

#block-forum-filter-forum-filter-block {
  .form-item-selected {
    margin-right: 0;
    top: 0;
  }
  margin-bottom: 0;
  margin-top: 0;
}

#block-forum-filter-forum-filter-block {
  .form-item-selected {
    margin-right: 0;
    top: 0;
  }
  margin-bottom: 0;
  margin-top: 0;
}

@include media('<desktop') {
  .page-tracker {
    .region-sidebar-right {
      .btn-start-discussion {
        display: none;
      }
    }
  }
}

#forum-filter-form {
  width: 240px;
}

.green {
  i {
    &.icon {
      color: $color-green-100;
    }
  }
}

.zero-comments {
  color: var(--color-neutral-7);
}

#block-forum-search-forum-search-block {
  background: 0 0;
  margin-bottom: 5px;
}

#block-forum-filter-forum-filter-block {
  margin-bottom: 30px;
  margin-top: -15px;

  .form-item-selected {
    width: 300px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: 1.3em;
  }
}

#wso-content-outer {
  @include media('<tablet') {
    padding-left: 0;
    padding-right: 0;
    margin-left: -1px;
    margin-right: -1px;
  }
}

.pushcrew-chicklet-position-tr {
  @include media('<tablet') {
    top: 40% !important;
  }
}

table.forum-table {
  tr:last-child {
    border-bottom: 0;
  }
}

.pager-container {
  background: var(--color-neutral-0);
  margin-top: 0;
  padding: 28px 25px;
  border-bottom: 1px solid var(--color-neutral-3);
  border-left: 1px solid var(--color-neutral-3);
  border-right: 1px solid var(--color-neutral-3);

  @include media('>=tablet') {
    padding: 28px 25px 8px;
  }
}

@include media('<tablet') {
  .page-tracker {
    #forum-tables {
      .block {
        .forum-table_block {
          border: 0;
        }
      }
    }
  }

  .page-forum {
    #forum-tables {
      .block {
        .forum-table_block {
          border: 0;
        }
      }
    }

    &.page-forum- {
      .title_action_container {
        &.title_action_container_multiple {
          .title_action {
            &:first-child {
              margin-left: 10px !important;
            }
          }
        }
      }

      .title_action {
        .btn {
          padding: 0 10px;
          text-transform: uppercase;
        }

        .pushcrew {
          &.bg-white {
            background-color: $color-green-100;
            color: var(--color-neutral-0);
            display: inline-flex;
            flex-direction: row-reverse;
            align-items: center;

            .icon {
              -webkit-text-stroke: 1px $color-green-100;
              margin-left: 5px;
            }

            &.btn-transparency {
              border: $color-green-100 1px solid;
              flex-direction: row;

              .icon {
                -webkit-text-stroke: 0;

                &:before {
                  content: '\e80a';
                }
              }
            }
          }
        }

        &.title_action_create_disscission {
          .btn {
            border: solid 1px var(--color-neutral-4);
            background-color: var(--color-neutral-0);
            color: var(--color-base);
            display: inline-flex !important;
            flex-direction: row-reverse;
            align-items: center;

            .icon {
              color: $color-green-100;
              margin-left: 5px;
            }
          }
        }
      }

      .flag-follow-forum {
        .flag-action {
          &.btn {
            &.btn-secondary {
              &.bg-white {
                background-color: $color-green-100;
                color: var(--color-neutral-0);
                display: inline-flex;
                flex-direction: row-reverse;
                align-items: center;

                .icon {
                  -webkit-text-stroke: 1px $color-green-100;
                  margin-left: 5px;
                }
              }
            }
          }
        }

        .unflag-action {
          &.btn {
            &.btn-secondary {
              &.bg-white {
                border: $color-green-100 1px solid;

                .icon {
                  -webkit-text-stroke: 0;

                  &:before {
                    content: '\e80a';
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #forum-filter-form {
    width: 100%;

    .form-type-select {
      background: none;
      border: none;
      box-shadow: none;
      display: inline-block;
      margin-bottom: 0;
      width: 100%;
    }
  }

  .forum__section_white {
    .form-submit {
      height: 0;
      position: absolute;
      visibility: hidden;
    }
  }

  #highest-ranked-discussions {
    border-bottom: 1px solid var(--color-neutral-4);
    border-radius: 2px;
    margin-bottom: 15px;
  }

  .header-row {
    td {
      font-size: 13px;
    }
  }

  .title_action_container {
    &.title_action_container_multiple {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;

      .title_action {
        &:first-child {
          margin-left: 10px !important;
        }
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  #forum-filter-form {
    margin-bottom: 0;
    padding-left: 5px;
    width: 100%;
  }
}
