@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.list-of-bootcamps {
  .table {
    @include wso-table-left-center();
    border: 0 !important;

    tbody {
      td {
        text-align: left;
        border-top: 1px solid var(--color-neutral-4);

        .icon {
          border: 0 !important;
          color: $color-blue;
        }

        &.views-field-title {
          @include responsive-prop(700, 800, font-weight);
          max-width: 500px;
        }

        &.views-field-field-event-date-1 {
          white-space: nowrap;
        }

        &.views-field-field-price {
          @include responsive-prop(700, 800, font-weight);
          min-width: 80px;
          text-align: center;
        }

        &.views-field-nothing {
          text-align: right;
        }
      }
    }

    tr:hover {
      > td {
        background-color: #badbfe !important;
      }
    }

    .btn {
      white-space: nowrap;
      min-width: 120px;
    }
  }
}

.page-events {
  .list-of-bootcamps {
    .table {
      tr:first-child {
        td {
          border-top: 0;
        }
      }
    }
  }
}

