.list-of-bootcamps .table {
  border: var(--color-neutral-3) solid 1px!important;
  border-color: var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  border-bottom: 0;
  border-collapse: unset;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 13px;
  border-spacing: 0;
  color: var(--color-base);
  border: 0!important
}
.list-of-bootcamps .table a:not(.btn) {
  color: var(--color-base)
}
.list-of-bootcamps .table thead a {
  border: none;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 1.08
}
.list-of-bootcamps .table thead tr {
  background-color: var(--color-page-bg)
}
.list-of-bootcamps .table thead th {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: .1px;
  border-bottom: var(--color-neutral-2) 1px solid;
  border-color: var(--color-neutral-2);
  padding: 12px 22px
}
.list-of-bootcamps .table thead th.score {
  text-align: center
}
.list-of-bootcamps .table thead th.views-field-score {
  font-size: 14px
}
.list-of-bootcamps .table thead th.replies-column {
  text-align: center
}
.list-of-bootcamps .table thead .comments {
  min-width: 130px;
  text-align: center
}
.list-of-bootcamps .table thead .icon-bananas:before {
  color: #f5b226
}
.list-of-bootcamps .table tbody {
  border: none
}
.list-of-bootcamps .table tbody tr:hover,
.list-of-bootcamps .table tbody tr:hover>td {
  background-color: var(--color-neutral-1)
}
.list-of-bootcamps .table tr {
  background: var(--color-neutral-0)
}
.list-of-bootcamps .table tr.even,
.list-of-bootcamps .table tr.odd,
.list-of-bootcamps .table tr:nth-child(even),
.list-of-bootcamps .table tr:nth-child(odd) {
  border-bottom: 1px solid var(--color-neutral-2);
  border-color: var(--color-neutral-2)
}
.list-of-bootcamps .table tr.fake-header {
  display: none
}
.list-of-bootcamps .table tr.warning td {
  background-color: var(--color-warning-bg)
}
.list-of-bootcamps .table tr .warning {
  background: var(--color-warning-bg);
  color: var(--color-base)
}
.list-of-bootcamps .table td {
  padding: 14px 10px;
  vertical-align: middle
}
.list-of-bootcamps .table td:first-child {
  color: #0cb930;
  min-width: 10px
}
.list-of-bootcamps .table td:first-child .icon {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  position: relative
}
.list-of-bootcamps .table td:first-child .icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.list-of-bootcamps .table td:first-child .icon.icon-question-circle:before {
  content: "\e860";
  color: #189eda
}
.list-of-bootcamps .table td:first-child .icon.icon-map-pin:before {
  content: "\e836";
  color: #0cb930
}
.list-of-bootcamps .table td:first-child .icon.icon-podcast:before {
  content: "\e864"
}
.list-of-bootcamps .table td:first-child .counter {
  font-size: 11px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 3px;
  background: 0 0;
  color: #79ba5a;
  font-weight: 700;
  vertical-align: top
}
.list-of-bootcamps .table td:first-child .counter.non-zero {
  background-color: rgba(121, 186, 90, .1)
}
.darkmode .list-of-bootcamps .table td:first-child .counter.non-zero {
  background-color: #29401e
}
.list-of-bootcamps .table td:first-child .counter.zero-banana {
  background-color: var(--color-neutral-3);
  color: var(--color-neutral-7)
}
.list-of-bootcamps .table td:last-child {
  color: var(--color-neutral-7);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.14;
  text-align: center
}
.list-of-bootcamps .table td:nth-child(3) {
  text-align: center
}
.list-of-bootcamps .table td.title,
.list-of-bootcamps .table td.views-field-title,
.list-of-bootcamps .table td.views-field-title-with-tooltip {
  padding: 14px 0;
  font-size: 15px;
  font-stretch: normal;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2px;
  color: var(--color-base)
}
.list-of-bootcamps .table td.title .row-flex,
.list-of-bootcamps .table td.views-field-title .row-flex,
.list-of-bootcamps .table td.views-field-title-with-tooltip .row-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}
.list-of-bootcamps .table td.title .icon-bolt,
.list-of-bootcamps .table td.views-field-title .icon-bolt,
.list-of-bootcamps .table td.views-field-title-with-tooltip .icon-bolt {
  color: #f5b226;
  margin-right: 5px
}
.list-of-bootcamps .table td.title a,
.list-of-bootcamps .table td.views-field-title a,
.list-of-bootcamps .table td.views-field-title-with-tooltip a {
  display: inline-block;
  line-height: 1.14;
  max-width: 450px;
  vertical-align: middle;
  color: inherit;
  text-overflow: ellipsis
}
.list-of-bootcamps .table td.title a:hover,
.list-of-bootcamps .table td.views-field-title a:hover,
.list-of-bootcamps .table td.views-field-title-with-tooltip a:hover {
  color: #087dfd
}
.list-of-bootcamps .table td:not(.title) a,
.list-of-bootcamps .table td:not(.views-field-title) a,
.list-of-bootcamps .table td:not(.views-field-title-with-tooltip) a {
  position: relative;
  z-index: 97
}
.list-of-bootcamps .table td.views-field-taxonomy-forums > span {
  border: var(--color-neutral-4) 1px solid;
  border-color: var(--color-neutral-4);
  font-weight: 800;
  font-size: 11px;
  line-height: 12px;
  color: var(--color-neutral-6);
  border-radius: 3px;
  padding: 4px 2px 2px;
  display: inline-block;
  min-width: 28px
}
.list-of-bootcamps .table td.views-field-comment-count {
  text-align: left;
  padding-left: 25px;
  white-space: nowrap
}
.list-of-bootcamps .table td.views-field-comment-count > span:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-neutral-6)
}
.list-of-bootcamps .table td.views-field-comment-count > span:first-child:before {
  content: "\e86d";
  display: inline-block;
  font: 13px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-neutral-4)
}
.list-of-bootcamps .table td.replies {
  min-width: 90px;
  text-align: center;
  white-space: nowrap
}
.list-of-bootcamps .table td.replies i {
  font-style: normal;
  color: var(--color-neutral-5);
  font-weight: 700;
  margin-right: 3px;
  font-size: 15px
}
.list-of-bootcamps .table td .new-count i {
  font-style: normal;
  display: inline-block;
  margin-right: 2px;
  color: var(--color-neutral-4);
  font-weight: 700
}
.list-of-bootcamps .table td .new-count a {
  white-space: nowrap;
  color: #087dfd!important
}
.list-of-bootcamps .table .topic-new {
  font-weight: 700;
  background-color: #f5b226;
  border-radius: 5px;
  color: var(--color-neutral-0);
  padding: 0 2px;
  width: 38px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: .4px;
  text-align: center
}
.list-of-bootcamps .table .banana-icon {
  height: auto;
  width: 16px
}
.list-of-bootcamps .table .forum-field__text_empty {
  color: var(--color-neutral-4)
}
.list-of-bootcamps .table thead th:nth-child(2) {
  padding-left: 22px
}
.list-of-bootcamps .table tbody td,
.list-of-bootcamps .table thead th {
  text-align: center
}
.list-of-bootcamps .table tbody td:first-child,
.list-of-bootcamps .table thead th:first-child {
  text-align: left;
  padding-left: 10px
}
.list-of-bootcamps .table tbody td {
  text-align: left;
  border-top: 1px solid var(--color-neutral-4)
}
.list-of-bootcamps .table tbody td .icon {
  border: 0!important;
  color: #087dfd
}
.list-of-bootcamps .table tbody td.views-field-title {
  font-weight: 700;
  max-width: 500px
}
.list-of-bootcamps .table tbody td.views-field-field-event-date-1 {
  white-space: nowrap
}
.list-of-bootcamps .table tbody td.views-field-field-price {
  font-weight: 700;
  min-width: 80px;
  text-align: center
}
.list-of-bootcamps .table tbody td.views-field-nothing {
  text-align: right
}
.list-of-bootcamps .table tr:hover > td {
  background-color: #badbfe!important
}
.list-of-bootcamps .table .btn {
  white-space: nowrap;
  min-width: 120px
}
.page-events .list-of-bootcamps .table tr:first-child td {
  border-top: 0
}
@media (min-width: 992px) {
  .list-of-bootcamps .table .topic-new,
  .list-of-bootcamps .table tbody td.views-field-field-price,
  .list-of-bootcamps .table tbody td.views-field-title,
  .list-of-bootcamps .table td:first-child .counter,
  .list-of-bootcamps .table thead a,
  .list-of-bootcamps .table thead th {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .list-of-bootcamps .table thead th {
    padding: 5px!important
  }
  .list-of-bootcamps .table thead th.replies-column {
    max-width: 40px;
    padding: 5px 0!important
  }
  .list-of-bootcamps .table thead .comments {
    min-width: 0!important
  }
  .list-of-bootcamps .table td {
    word-wrap: break-word;
    max-width: 185px;
    padding: 0
  }
  .list-of-bootcamps .table td:first-child {
    min-width: 0!important;
    padding: 5px!important
  }
  .list-of-bootcamps .table td.title a,
  .list-of-bootcamps .table td.views-field-title a,
  .list-of-bootcamps .table td.views-field-title-with-tooltip a {
    max-height: 43px;
    overflow: hidden;
    font-size: 13px
  }
  .list-of-bootcamps .table td.replies {
    min-width: 0!important;
    max-width: 50px
  }
  .list-of-bootcamps .table td.text-center {
    text-align: center;
    padding: 5px!important
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  .list-of-bootcamps .table td.title a,
  .list-of-bootcamps .table td.views-field-title a,
  .list-of-bootcamps .table td.views-field-title-with-tooltip a {
    max-width: 180px
  }
}
@media (min-width: 360px) and (max-width: 399px) {
  .list-of-bootcamps .table td.title a,
  .list-of-bootcamps .table td.views-field-title a,
  .list-of-bootcamps .table td.views-field-title-with-tooltip a {
    max-width: 230px
  }
}
@media (min-width: 400px) and (max-width: 430px) {
  .list-of-bootcamps .table td.title a,
  .list-of-bootcamps .table td.views-field-title a,
  .list-of-bootcamps .table td.views-field-title-with-tooltip a {
    max-width: 250px
  }
}
@media (min-width: 431px) and (max-width: 767px) {
  .list-of-bootcamps .table td.title a,
  .list-of-bootcamps .table td.views-field-title a,
  .list-of-bootcamps .table td.views-field-title-with-tooltip a {
    max-width: 290px
  }
}
/*# sourceMappingURL=list-of-bootcamps.component.css.map */
