{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}


{% set classes = [
  'entity',
  'entity-paragraphs-item',
  'paragraphs-item-' ~ paragraph.bundle|clean_class,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
] %}

{{ attach_library('porto_sub/paragraph.list-with-courses.component') }}
{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="d-lg-flex align-items-center justify-content-between paragraph-header">
        <div class="me-lg-4">
          {{ content.field_paragraph_title }}
        </div>
        <div class="mb-4 mb-lg-0">
          {{ content.field_cta }}
        </div>
      </div>
      {{ content.field_paragraph_text }}

      {% if hide_items %}
        <div class="courses-lists{% if small_grid %} courses-lists--small-grid{% endif %}">
          {{ product_teasers_visible }}
        </div>
        <div class="m-b-md m-t-md text-center">
          <a class="btn btn-primary" data-bs-toggle="collapse" role="button" href="#collapseTSFeedbacks" aria-expanded="false" aria-controls="collapseTSFeedbacks">
            <span data-state="default">{{ 'Show more'|t }} ({{ btnValue }})</span><span data-state="open">{{ 'Hide'|t }}</span>
          </a>
        </div>
        <div class="collapse" id="collapseTSFeedbacks">
          <div class="courses-lists{% if small_grid %} courses-lists--small-grid{% endif %}">
            {{ product_teasers_hidden }}
          </div>
        </div>
      {% else %}
        <div class="courses-lists{% if small_grid %} courses-lists--small-grid{% endif %}">
          {{ product_teasers }}
        </div>
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
