@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

@import "product-course";

.paragraph--type--list-with-courses {
  margin-bottom: 60px;

  .field-name-field-paragraph-title {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 24px;
    letter-spacing: .15px;
    line-height: 1.33;
    margin: 20px 0;
  }

  .paragraph-header {
    .field--type-link a {
      text-transform: capitalize;

      &:after {
        content: '\e807';
        display: inline-block;
        font-family: 'fa-custom';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-left: 10px;
      }
    }
  }

  .field-name-field-paragraph-text {
    margin-bottom: 20px;
  }

  .courses-lists {
    @include media('>=desktop') {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }

    .product-course--teaser {
      margin-bottom: 25px;

      @include media('>=desktop') {
        width: 50%;

        &:nth-child(odd) {
          padding-right: 10px;
        }

        &:nth-child(even) {
          padding-left: 10px;
        }
      }
    }

    &--small-grid {
      .product-course--teaser {
        @media (min-width: 1024px) {
          width: 33%;

          &:nth-child(3n+1) {
            padding-left: 0;
            padding-right: 10px;
          }

          &:nth-child(3n+2) {
            padding-left: 10px;
            padding-right: 10px;
          }

          &:nth-child(3n+3) {
            padding-left: 10px;
            padding-right: 0;
          }
        }
      }
    }
  }
}


