.product-course .field-name-field-course-cover-image {
  background: rgba(224, 224, 224, .098)
}
.product-course img {
  border-radius: 3px;
  height: auto;
  max-width: 300px;
  width: 100%
}
.product-course .product-course__body {
  flex: 1 1 auto;
  padding: 20px 24px 10px
}
.product-course .product-course__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .1px;
  line-height: 120%;
  margin: 0 0 5px
}
.product-course .product-course__title a {
  color: var(--color-base)
}
.product-course .field-name-field-course-subtitle {
  color: #9db2bc;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 1.43;
  margin-bottom: 10px
}
.darkmode .product-course .field-name-field-course-subtitle {
  color: #c0beba
}
.product-course--teaser .product-course__container {
  background-color: var(--color-neutral-0);
  border-radius: 3px;
  border: 1px solid rgba(var(--color-black--rgb), .12);
  box-shadow: 4px 4px 6px rgba(var(--color-black--rgb), .15);
  position: relative
}
.product-course--teaser .product-course__container:hover {
  box-shadow: none
}
.product-course__badge {
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 1;
  overflow: hidden;
  width: 77px;
  height: 77px;
  text-align: right
}
.product-course__badge span {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-neutral-0);
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: linear-gradient(#f5b226 0, #ffc44a 100%);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, .1);
  position: absolute;
  top: 19px;
  right: -21px
}
.product-course__badge span:before {
  border-bottom: 5px solid transparent;
  border-left: 5px solid #b4924d;
  border-radius: 2px;
  border-right: 5px solid transparent;
  border-top: 5px solid #b4924d;
  content: "";
  left: 0;
  position: absolute;
  top: 100%;
  z-index: -1
}
.product-course__badge span:after {
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 2px;
  border-right: 5px solid #b4924d;
  border-top: 5px solid #b4924d;
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1
}
.product-course__teaser-text {
  font-size: 13px;
  line-height: 1.54;
  color: var(--color-neutral-8)
}
.product-course__teaser-text ul {
  list-style: none;
  padding-left: 0!important;
  margin: 0 0 10px!important
}
.product-course__teaser-text ul li {
  margin: 2px 0!important;
  font-size: 13px;
  line-height: 24px;
  display: flex
}
.product-course__teaser-text ul li:before {
  content: "-";
  margin-right: 5px
}
.product-course__body-footer {
  align-items: center;
  border-top: var(--color-neutral-2) 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px
}
.product-course__price,
.product-course__price .field--items {
  display: flex;
  align-items: center
}
.product-course__price .field--item {
  color: var(--color-base);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.13
}
.product-course__price .field-name-field-price-notes {
  color: #9db2bc;
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 1.38;
  margin-left: 10px
}
.darkmode .product-course__price .field-name-field-price-notes {
  color: #c0beba
}
.product-course__price.product-course__price--with-drop .field--item:first-child {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: .2px;
  color: #f04944;
  text-decoration: line-through;
  white-space: nowrap
}
.product-course__price.product-course__price--with-drop .field--item:first-child:after {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_grey.png);
  display: inline-block;
  padding: 0 5px
}
.product-course__links {
  display: flex
}
.product-course__links .field + .field {
  margin-left: 5px
}
.product-course__links .field a {
  font-weight: 700;
  border-radius: 3px;
  display: inline-flex;
  height: 32px;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: var(--color-neutral-0);
  margin-left: 0;
  white-space: nowrap;
  background-color: #0cb930;
  border: 1px solid #0cb930
}
.product-course__links .field a:hover {
  text-decoration: none
}
.product-course__links.product-course__links--large-button .field a {
  padding: 0 30px
}
.product-course__links .field-name-field-info-link a {
  background-color: transparent;
  color: #0cb930
}
.product-course__links .field-name-field-info-link a:hover {
  border-color: #08c42a;
  color: #08c42a
}
.product-course__links .field-name-field-enroll-link {
  position: relative
}
.product-course__links .field-name-field-enroll-link a {
  background: #0cb930;
  border-color: #0cb930;
  color: var(--color-neutral-0)
}
.product-course__links .field-name-field-enroll-link a:focus,
.product-course__links .field-name-field-enroll-link a:hover {
  background: #08c42a
}
.product-course__links .field-name-field-enroll-link .ajax-progress {
  position: absolute;
  left: 50%
}
.courses-lists--small-grid .product-course .product-course__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .2px
}
.courses-lists--small-grid .product-course .product-course__body {
  padding: 15px 20px 10px
}
.courses-lists--small-grid .product-course .field-name-field-course-cover-image {
  background: var(--color-neutral-0)
}
.courses-lists--small-grid .product-course__teaser-text ul li {
  line-height: 120%
}
.courses-lists--small-grid .product-course__links .field a {
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px
}
.paragraph--type--list-with-courses {
  margin-bottom: 60px
}
.paragraph--type--list-with-courses .field-name-field-paragraph-title {
  font-weight: 700;
  color: var(--color-base);
  font-size: 24px;
  letter-spacing: .15px;
  line-height: 1.33;
  margin: 20px 0
}
.paragraph--type--list-with-courses .paragraph-header .field--type-link a {
  text-transform: capitalize
}
.paragraph--type--list-with-courses .paragraph-header .field--type-link a:after {
  content: "\e807";
  display: inline-block;
  font-family: fa-custom;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-left: 10px
}
.paragraph--type--list-with-courses .field-name-field-paragraph-text {
  margin-bottom: 20px
}
.paragraph--type--list-with-courses .courses-lists .product-course--teaser {
  margin-bottom: 25px
}
@media (min-width: 576px) {
  .product-course .field-name-field-course-cover-image {
    width: 160px;
    min-width: 160px;
    position: relative
  }
  .product-course .field-name-field-course-cover-image .field-items {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 20px)
  }
  .product-course img {
    max-width: 100%
  }
  .product-course--teaser .product-course__container {
    height: 100%
  }
  .product-course__row {
    display: flex;
    height: 100%
  }
  .courses-lists--small-grid .product-course .field-name-field-course-cover-image {
    width: 125px;
    min-width: 125px
  }
  .courses-lists--small-grid .product-course .field-name-field-course-cover-image .field-items {
    left: 20px;
    width: calc(100% - 40px)
  }
  .courses-lists--small-grid .product-course .product-course__body {
    padding: 15px 20px 10px 0
  }
}
@media (min-width: 992px) {
  .product-course .product-course__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  .courses-lists--small-grid .product-course .product-course__title,
  .paragraph--type--list-with-courses .field-name-field-paragraph-title,
  .product-course .field-name-field-course-subtitle,
  .product-course .product-course__title,
  .product-course__badge span,
  .product-course__links .field a,
  .product-course__price .field--item,
  .product-course__price .field-name-field-price-notes,
  .product-course__price.product-course__price--with-drop .field--item:first-child {
    font-weight: 800
  }
  .paragraph--type--list-with-courses .courses-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: start
  }
  .paragraph--type--list-with-courses .courses-lists .product-course--teaser {
    width: 50%
  }
  .paragraph--type--list-with-courses .courses-lists .product-course--teaser:nth-child(odd) {
    padding-right: 10px
  }
  .paragraph--type--list-with-courses .courses-lists .product-course--teaser:nth-child(even) {
    padding-left: 10px
  }
}
@media (min-width: 1024px) {
  .paragraph--type--list-with-courses .courses-lists--small-grid .product-course--teaser {
    width: 33%
  }
  .paragraph--type--list-with-courses .courses-lists--small-grid .product-course--teaser:nth-child(3n+1) {
    padding-left: 0;
    padding-right: 10px
  }
  .paragraph--type--list-with-courses .courses-lists--small-grid .product-course--teaser:nth-child(3n+2) {
    padding-left: 10px;
    padding-right: 10px
  }
  .paragraph--type--list-with-courses .courses-lists--small-grid .product-course--teaser:nth-child(3n+3) {
    padding-left: 10px;
    padding-right: 0
  }
}
/*# sourceMappingURL=paragraph.list-with-courses.component.css.map */
