.product-course {
  .field-name-field-course-cover-image {
    background: rgba(224, 224, 224, 0.098);

    @media (min-width: 576px) {
      width: 160px;
      min-width: 160px;
      position: relative;

      .field-items {
        left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 20px);
      }
    }
  }

  img {
    border-radius: 3px;
    height: auto;
    max-width: 300px;
    width: 100%;

    @media (min-width: 576px) {
      max-width: 100%;
    }
  }

  .product-course__body {
    flex: 1 1 auto;
    padding: 20px 24px 10px 24px;

    @include media('>=desktop') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .product-course__title {
    @include responsive-prop(700, 800, font-weight);
    font-size: 20px;
    letter-spacing: .1px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 5px;

    a {
     color: var(--color-base);
    }
  }

  .field-name-field-course-subtitle {
    @include font-color-grey-darkmode;
    font-size: 14px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .1px;
    line-height: 1.43;
    margin-bottom: 10px;
  }
}

.product-course--teaser {
  .product-course__container {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    border: $card-border;
    box-shadow: $card-box-shadow;
    position: relative;

    &:hover {
      box-shadow: none;
    }

    @media (min-width: 576px) {
      height: 100%;
    }
  }
}

.product-course__row {
  @media (min-width: 576px) {
    display: flex;
    height: 100%;
  }
}

.product-course__badge {
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 1;
  overflow: hidden;
  width: 77px;
  height: 77px;
  text-align: right;

  span {
    font-size: 12px;
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-neutral-0);
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: linear-gradient($color-yellow 0%, #ffc44a 100%);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .1);
    position: absolute;
    top: 19px;
    right: -21px;

    &:before {
      border-bottom: 5px solid transparent;
      border-left: 5px solid $darkkhaki_B4924D;
      border-radius: 2px;
      border-right: 5px solid transparent;
      border-top: 5px solid $darkkhaki_B4924D;
      content: "";
      left: 0;
      position: absolute;
      top: 100%;
      z-index: -1;
    }

    &:after {
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      border-radius: 2px;
      border-right: 5px solid $darkkhaki_B4924D;
      border-top: 5px solid $darkkhaki_B4924D;
      content: "";
      position: absolute;
      right: 0;
      top: 100%;
      z-index: -1;
    }
  }
}

.product-course__teaser-text {
  font-size: 13px;
  line-height: 1.54;
  color: var(--color-neutral-8);

  ul {
    list-style: none;
    padding-left: 0 !important;
    margin: 0 0 10px !important;

    li {
      margin: 2px 0 !important;
      font-size: 13px;
      line-height: 24px;
      display: flex;

      &:before {
        content: '-';
        margin-right: 5px;
      }
    }
  }
}

.product-course__body-footer {
  align-items: center;
  border-top: var(--color-neutral-2) 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.product-course__price {
  display: flex;
  align-items: center;

  .field--items {
    display: flex;
    align-items: center;
  }

  .field--item {
    color: var(--color-base);
    font-size: 16px;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.13;
  }

  .field-name-field-price-notes {
    @include font-color-grey-darkmode;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .1px;
    line-height: 1.38;
    margin-left: 10px;
  }

  &.product-course__price--with-drop {
    .field--item {
      &:first-child {
        font-size: 13px;
        @include responsive-prop(700, 800, font-weight);
        line-height: 1.38;
        letter-spacing: .2px;
        color: $color-red;
        text-decoration: line-through;
        white-space: nowrap;

        &:after {
          content: url("/themes/custom/porto_sub/images/icons/icon_arrow_right_grey.png");
          display: inline-block;
          padding: 0 5px;
        }
      }
    }
  }
}

.product-course__links {
  display: flex;

  .field {
    +.field {
      margin-left: 5px;
    }

    a {
      @include responsive-prop(700, 800, font-weight);
      border-radius: 3px;
      display: inline-flex;
      height: 32px;
      padding: 0 16px;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-size: 12px;
      text-align: center;
      letter-spacing: .4px;
      text-transform: uppercase;
      color: var(--color-neutral-0);
      margin-left: 0;
      white-space: nowrap;
      background-color: $color-green-100;
      border: $color-green-100 1px solid;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.product-course__links--large-button {
    .field {
      a {
        padding: 0 30px;
      }
    }
  }

  .field-name-field-info-link {
    a {
      background-color: transparent;
      color: $color-green-100;

      &:hover {
        border-color: $color-pop-green;
        color: $color-pop-green;
      }
    }
  }

  .field-name-field-enroll-link {
    position: relative;

    a {
      background: $color-green-100;
      border-color: $color-green-100;
      color: var(--color-neutral-0);

      &:hover,
      &:focus {
        background: $color-pop-green;
      }
    }

    .ajax-progress {
      position: absolute;
      left: 50%;
    }
  }
}

.courses-lists--small-grid {
  .product-course {
    .product-course__title {
      font-size: 16px;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .2px;
    }

    .product-course__body {
      padding: 15px 20px 10px 20px;
    }

    .field-name-field-course-cover-image {
      background: var(--color-neutral-0);
    }

    @media (min-width: 576px) {
      .field-name-field-course-cover-image {
        width: 125px;
        min-width: 125px;

        .field-items {
          left: 20px;
          width: calc(100% - 40px);
        }
      }

      .product-course__body {
        padding: 15px 20px 10px 0;
      }
    }
  }

  .product-course__teaser-text {
    ul {
      li {
        line-height: 120%;
      }
    }
  }

  .product-course__links {
    .field {
      a {
        font-size: 11px;
        height: 24px;
        line-height: 24px;
        padding: 0 10px;
      }
    }
  }
}
