.block-views-blockjob-offers-block-2 {
  margin-bottom: 24px
}
.block-views-blockjob-offers-block-2 p.block-title {
  font-size: 34px;
  font-weight: 500;
  color: var(--color-base);
  margin-bottom: 32px
}
/*# sourceMappingURL=mentor-jobs.component.css.map */
