@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.block-views-blockjob-offers-block-2 {
  margin-bottom: 24px;

  p.block-title {
    font-size: 34px;
    font-weight: 500;
    color: var(--color-base);
    margin-bottom: 32px;
  }
}
