$color-neutral-7: #777777;
$silver_C5C5C5: #c5c5c5;
$color-neutral-5: #c3c3c3;
$color-neutral-3: #eeeeee;

.private-message {
  padding: 30px;
  background: var(--color-neutral-0);
  border-radius: 5px;
}

ul.inline, ul.links.inline {
  display: inline;
  padding-left: 0;
}

.flag-abuse-privatemsg {
  a {
    color: red !important;
  }
}

.privatemsg-system {
  .flag-abuse-privatemsg {
    display: none;
  }
}

.privatemsg-author-avatar {
  padding-top: 2px;
  margin-right: 20px;

  a {
    display: block;
    text-align: center;
  }

  img {
    border-radius: 100%;
    height: auto;
    max-width: 36px;
    margin: 0 auto;
  }

}

.quote-msg {
  background-color: var(--color-neutral-3);
  border-left: 3px solid var(--color-neutral-5);
  padding: 4px 16px;
}

.privatemsg-message {
  width: 100%;

  &-header {
    margin-bottom: 20px;
    display: flex;
  }
}

.well {
  padding: 16px 24px 16px 24px;
}

div {
  &.privatemsg-message-information {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    .privatemsg-message-flag {
      flex: 1;
      text-align: right;
      font-size: 13px;
    }
  }

  &.privatemsg-message {
    ul {
      &.privatemsg-message-actions {
        padding: 0;
      }
    }
  }
}

.privatemsg-author-name {
  @include responsive-prop(700, 800, font-weight);
  padding-right: 1em;
}

.privatemsg-message-date {
  color: var(--color-neutral-7);
  font-size: 80%;
  padding-right: 1em;
}

.privatemsg-message-body {
  overflow: visible;
  padding: 0;
}

.privatemsg-view-pager {
  margin: 20px 0 20px 0;
  max-width: 300px;
  padding-left: 0;
}

p {
  &.privatemsg-token-notice {
    font-size: 80%;
    font-style: italic;
  }
}

.flag-abuse-privatemsg {
  text-align: right;
  font-size: 12px;
}

span {
  &.privatemsg-token-invalid {
    color: red;
  }

  &.privatemsg-token-valid {
    @include responsive-prop(700, 800, font-weight);
  }

  &.privatemsg-message-new {
    float: right;
    font-size: 80%;
    @include responsive-prop(700, 800, font-weight);
  }
}
