@import './components/common-styles/helpers/mixins';
@import './components/03-organisms/view/view/vbo.scss';

#private-message-page {
  .private-message-recipients,
  .field-name-owner {
    //display: none !important;
  }

  .field-name-field-subject {
    display: flex;
    margin-bottom: 20px;

    .field--label {
      @include responsive-prop(700, 800, font-weight);
      margin-right: 10px;
    }
  }
}

.page-messages-system {
  .block-send-message {
    display: none;
  }
}

.field-name-private-messages {
  > .private-message-wrapper {
    padding-top: 20px;
  }
}

.private_message_thread_delete_link_wrapper a {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  @include wso-button-variant('danger', $color-red);
  margin-bottom: 20px;
}

.private-message-form {
  padding: 30px;
  background: var(--color-neutral-0);
  border-radius: 5px;
  margin-top: -20px;
  margin-bottom: 40px;

  &:before {
    content: 'Reply';
    display: block;
    color: var(--color-base);
    font-size: 36px;
    margin-bottom: 20px;
  }

  .button--primary {
    //@extend %btn;
    @extend %btn, .btn-success;
    width: auto;
    min-width: 120px;
  }

  label {
    display: block;
  }

  #thread-members-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dedede;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 0.25rem;

    &:focus {
      border-color: $color-green-100 !important;
      box-shadow: 0 0 4px 0 rgba(8, 196, 42, 0.5) !important;
      outline: none;
    }

    &.error:focus {
      border-color: $color-red !important;
      box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.5) !important;
    }
  }

  #thread-members-display-container {
    margin-bottom: 20px;
  }
}

.page-private-message-create .private-message-form {
  margin-top: 30px;

  &:before {
    content: 'Write New Message';
  }
}

#pm-members-autocomplete-results-wrapper {
  z-index: 10;
}

.view-pm-inbox {
  .view-content {
    background: var(--color-neutral-0);
    box-shadow: 0 0 0 1px var(--color-neutral-4);
  }
}

#vbo-action-form-wrapper {
  .form-type-select {
    flex: 1;
    padding-right: 15px;
  }

  input[type=submit] {
    margin-left: 0;
  }
}

.vbo-table {
  @include wso-table-left();

  td:first-child {
    width: 50px;
  }
}
