#sidebar-left {
  @include media('>=desktop') {
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
  }

  .list-group {
    list-style: none;

    &-item {
      padding: .75rem;
      font-size: 14px;
      line-height: 120%;
    }
  }

  #sticky-sidebar {
    @include media('>=desktop') {
      position: sticky;
      top: 110px;
      padding: 0;
    }
  }
}

article.node-help-cards {
  background-color: transparent;
  margin-bottom: 24px;
  padding: 0;

  .alert,
  .carousel-indicators,
  .carousel-control {
    display: none;
  }

  .carousel-item {
    margin-bottom: 40px;
  }

  .card {
    @include media('>=tablet') {
      display: flex;
      flex-direction: row;
    }

    &:hover {
      text-decoration: none;
    }

    &-header {
      display: none;
    }

    .blazy {
      min-width: 220px;
    }

    p {
      color: var(--color-base);
    }
  }
}

@include media('>=desktop') {
  .toolbar-horizontal.toolbar-fixed {
    #sidebar-left #sticky-sidebar {
      top: 165px;
    }

    &.toolbar-tray-open {
      #sidebar-left #sticky-sidebar {
        top: 205px;
      }
    }
  }
}
