<div id="wso-social-share-container">
  <ul class="social-share nav">
    <li class="nav-item">
      <a class="social-share__button nav-link {% if followed %}active{% endif %}" href="#">
      <span class="social-share__button-icon">
        <i class="icon icon-rss"></i>
        <span class="badge">
          <svg class="svg-icon">
            <use xlink:href="{{ svg_sprite }}#plus"></use>
          </svg>
        </span>
        <span class="badge badge--active">
          <svg class="svg-icon">
            <use xlink:href="{{ svg_sprite }}#minus"></use>
          </svg>
        </span>
      </span>
        <span class="social-share__button-label">{{ 'Get Notified'|t }}</span>
        <span class="social-share__button-label social-share__button-label--active">{{ 'Stop Following'|t }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="social-share__button nav-link {% if bookmarked %}active{% endif %}" href="#">
      <span class="social-share__button-icon">
        <i class="icon icon-bookmark icon--active"></i>
        <i class="icon icon-bookmark-empty"></i>
        <span class="badge">
          <svg class="svg-icon">
            <use xlink:href="{{ svg_sprite }}#plus"></use>
          </svg>
        </span>
        <span class="badge badge--active">
          <svg class="svg-icon">
            <use xlink:href="{{ svg_sprite }}#minus"></use>
          </svg>
        </span>
      </span>
        <span class="social-share__button-label">{{ 'Add to Bookmark'|t }}</span>
        <span class="social-share__button-label social-share__button-label--active">{{ 'Remove'|t }}</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="social-share__button nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
       <span class="social-share__button-icon">
        <i class="icon icon--active">
          <svg class="svg-icon">
            <use xlink:href="{{ svg_sprite }}#close-bold"></use>
          </svg>
        </i>
        <i class="icon icon-reply"></i>
      </span>
      </a>
      <div class="dropdown-menu">
        <a href="#" class="social-icon facebook-icon">
          <i class="icon icon-facebook"></i>
        </a>
        <a href="#" class="social-icon linkedin-icon">
          <i class="icon icon-linkedin"></i>
        </a>
        <a href="#" class="social-icon twitter-icon">
          <i class="icon icon-twitter"></i>
        </a>
      </div>
    </li>
  </ul>
</div>

