@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

body {
  &.sticky-menu-active {
    #header {
      .social-icons {
        margin-top: 2px;
      }
    }
  }
}

#header {
  .social-icons {
    margin-top: 2px;
  }
}

.social-share-icons {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  .page-node-edit & {
    display: none;
  }

  @include media('<desktop') {
    display: none;
  }
}

.social-share-icons-head {
  display: none;
}

@include media('<desktop') {
  .social-share-icons-head {
    visibility: hidden;
    display: block;
    float: right;
    margin: 2px 104px 0 0;

    &.logged-in {
      margin-right: 155px;
    }

    &.list {
      li {
        margin-right: 10px;
        margin-bottom: 0;
        float: left;

        .social-icon {
          width: 39px;
          height: 34px;

          .icon-facebook {
            font-size: 27px;
            left: 45%;
            top: 22%;
          }

          .icon-linkedin {
            font-size: 24px;
            left: 24%;
            top: 15%;
          }

          .icon-twitter {
            font-size: 23px;
            left: 21%;
            top: 14%;
          }
        }
      }
    }
  }

  #header {
    #userbox {
      right: 115px;
      top: 3px;
    }
  }
}

@media (max-width: 350px) {
  .social-share-icons-head {
    li {
      &:first-child {
        display: none;
      }
    }
  }
}

@include media('>=tablet', '<desktop') {
  .social-share-icons-head {
    &.logged-in {
      margin-right: 240px;
    }
  }
}

.social-icon {
  width: 48px;
  height: 48px;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-0);
  color: var(--color-neutral-0);
  text-align: right;
  position: relative;

  i {
    &.icon {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.envelope-icon {
    background-color: $color-blue;
  }

  .icon-envelope {
    font-size: 24px;
  }

  .icon-facebook {
    font-size: 25px;
  }

  &.facebook-icon {
    background-color: $darkslateblue_3c5a9a;
  }

  &.google-plus-icon {
    background-color: var(--color-base);
  }

  .icon-google-plus {
    font-size: 25px;
  }

  &.linkedin-icon {
    background-color: $cornflowerblue_1662b0;
  }

  .icon-linkedin {
    font-size: 25px;
  }

  &.twitter-icon {
    background-color: $color-blue;
  }

  .icon-twitter {
    font-size: 25px;
  }

  &.link-icon {
    background-color: var(--color-neutral-0);
    border: solid 1px var(--color-neutral-4);
    cursor: pointer;
  }

  .icon-link {
    color: var(--color-base);
    font-size: 24px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.social-icon-sm {
  width: 18px;
  height: 18px;
  color: var(--color-neutral-0);
  text-align: right;
  position: relative;

  i {
    &.icon-facebook {
      font-size: 15px;
    }

    &.icon-google-plus {
      font-size: 15px;
    }
  }
}

#block-socialshareiconsblock {
  @include media('<tablet') {
    display: none;
  }

  .wso-job__social-share-icons {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 5px 3px 0 0;
      padding: 0;
    }
  }
}
