#header .social-icons,
body.sticky-menu-active #header .social-icons {
  margin-top: 2px
}
.social-share-icons {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1
}
.page-node-edit .social-share-icons,
.social-share-icons-head {
  display: none
}
.social-icon {
  width: 48px;
  height: 48px;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-0);
  color: var(--color-neutral-0);
  text-align: right;
  position: relative
}
.social-icon i.icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%)
}
.social-icon.envelope-icon {
  background-color: #087dfd
}
.social-icon .icon-envelope {
  font-size: 24px
}
.social-icon .icon-facebook {
  font-size: 25px
}
.social-icon.facebook-icon {
  background-color: #3c5a9a
}
.social-icon.google-plus-icon {
  background-color: var(--color-base)
}
.social-icon .icon-google-plus {
  font-size: 25px
}
.social-icon.linkedin-icon {
  background-color: #1662b0
}
.social-icon .icon-linkedin {
  font-size: 25px
}
.social-icon.twitter-icon {
  background-color: #087dfd
}
.social-icon .icon-twitter {
  font-size: 25px
}
.social-icon.link-icon {
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-4);
  cursor: pointer
}
.social-icon .icon-link {
  color: var(--color-base);
  font-size: 24px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg)
}
.social-icon-sm {
  width: 18px;
  height: 18px;
  color: var(--color-neutral-0);
  text-align: right;
  position: relative
}
.social-icon-sm i.icon-facebook,
.social-icon-sm i.icon-google-plus {
  font-size: 15px
}
#block-socialshareiconsblock .wso-job__social-share-icons {
  display: flex;
  flex-wrap: wrap
}
#block-socialshareiconsblock .wso-job__social-share-icons li {
  margin: 5px 3px 0 0;
  padding: 0
}
@media (max-width: 991px) {
  .social-share-icons {
    display: none
  }
  .social-share-icons-head {
    visibility: hidden;
    display: block;
    float: right;
    margin: 2px 104px 0 0
  }
  .social-share-icons-head.logged-in {
    margin-right: 155px
  }
  .social-share-icons-head.list li {
    margin-right: 10px;
    margin-bottom: 0;
    float: left
  }
  .social-share-icons-head.list li .social-icon {
    width: 39px;
    height: 34px
  }
  .social-share-icons-head.list li .social-icon .icon-facebook {
    font-size: 27px;
    left: 45%;
    top: 22%
  }
  .social-share-icons-head.list li .social-icon .icon-linkedin {
    font-size: 24px;
    left: 24%;
    top: 15%
  }
  .social-share-icons-head.list li .social-icon .icon-twitter {
    font-size: 23px;
    left: 21%;
    top: 14%
  }
  #header #userbox {
    right: 115px;
    top: 3px
  }
}
@media (max-width: 767px) {
  #block-socialshareiconsblock {
    display: none
  }
}
@media (max-width: 350px) {
  .social-share-icons-head li:first-child {
    display: none
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .social-share-icons-head.logged-in {
    margin-right: 240px
  }
}
/*# sourceMappingURL=social-share.component.css.map */
