{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set view_mode = view_mode ? 'paragraph--view-mode--' ~ view_mode %}
{% set isPublished = not isPublished ? 'paragraph--unpublished' %}

{%
  set classes = [
    'section',
    'section-lg',
    'text-white',
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ bundle,
    'paragraph',
    'paragraph--type--' ~ bundle,
    view_mode,
    isPublished,
    bg_class
  ]
%}

{{ attach_library('porto_sub/paragraph.choice-reminder.component') }}
{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }} {{ styles }}>
    {% block content %}
      <div class="content">
        <h2 class="text-center text-white text-real-white">
          {{ wsop_title }}
        </h2>

        <div class="divider divider--lg divider--mutted"></div>

        {{ wso_paragraphs }}

        <div class="m-b-40">
          {{ first_title }}
        </div>

        <div class="text-center m-b-20 cta-button">
          {{ field_cta }}
        </div>

        <p class="fs-mini text-gray-thin font-base-it text-center"><i class="wso-icon-lock"></i>  Secure checkout <br> 100% Unconditional Money-Back Guarantee</p>
        <img loading="lazy" class="img-responsive center-block"
             src="/themes/custom/porto_sub/images/landing-page/temp/credit-cards.png"
             width="204" height="28" alt="Credit Cards">
      </div>

      {% if background %}
        <div class="section-background">
          <div class="section-background__image" {{ bg_image_styles }}></div>
          <div class="section-background__cover" {{ bg_cover_styles }}></div>
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
