.paragraphs-item-choice-reminder {
  background: #303030
}
.paragraphs-item-choice-reminder.section--no-bg {
  background: 0 0
}
.paragraphs-item-choice-reminder .field-name-field-image {
  text-align: center
}
.paragraphs-item-choice-reminder .field-name-field-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px
}
.paragraphs-item-choice-reminder ul {
  padding: 0;
  margin: 0
}
.paragraphs-item-choice-reminder ul li {
  position: relative;
  padding-left: 30px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 16px;
  list-style: none
}
.paragraphs-item-choice-reminder ul li:before {
  font-family: fa-custom;
  font-size: 16px;
  left: 0;
  position: absolute;
  content: "\f14a";
  background: var(--color-neutral-0);
  border-radius: 30px;
  color: #3a3c3e;
  height: 13px;
  line-height: 13px;
  top: 6px;
  width: 12px;
  padding: 0;
  display: inline-block
}
.paragraphs-item-choice-reminder ul li ul {
  padding-left: 40px
}
.paragraphs-item-choice-reminder ul li ul li {
  display: list-item;
  list-style: circle;
  padding-left: 0
}
.paragraphs-item-choice-reminder ul li ul li:before {
  display: none
}
.paragraphs-item-choice-reminder .entity-paragraphs-item {
  margin-bottom: 30px!important
}
.paragraphs-item-choice-reminder .section-background,
.paragraphs-item-choice-reminder .section-background > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.paragraphs-item-choice-reminder .section-background__image {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover
}
@media (min-width: 992px) {
  .paragraphs-item-choice-reminder ul {
    column-count: 2;
    column-gap: 40px
  }
  .paragraphs-item-choice-reminder ul li ul {
    column-count: 1;
    column-gap: 0
  }
}
/*# sourceMappingURL=paragraph.choice-reminder.component.css.map */
