@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.paragraphs-item-choice-reminder {
  background: #303030;

  &.section--no-bg {
    background: transparent;
  }

  .field-name-field-image {
    text-align: center;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px;
    }
  }

  ul {
    @include landing-list();
  }

  .entity-paragraphs-item {
    margin-bottom: 30px !important;
  }

  .section-background {
    &,
    > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__image {
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
