@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.hello-bar {
  background: $color-pop-green;
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;

  &.show {
    display: block;
    animation-delay: 3s;
  }

  .alert {
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 0;
  }

  &__text {
    color: var(--color-neutral-0);
    padding-right: 20px;

    .field-name-body,
    p {
      margin-bottom: 0;
      font-size: 19px;
    }
  }

  &__button {
    //@extend %btn;
    @extend %btn, .btn-sm;
    background-color: var(--color-neutral-0);
    color: $color-pop-green;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    @include responsive-prop(700, 800, font-weight);
    white-space: nowrap;
    height: auto;
    min-height: 32px;
    line-height: 1.2;
    align-content: center;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
      color: inherit;
    }

    i {
      margin-right: 10px;
      margin-top: -2px;
      color: inherit;
    }

    span {
      white-space: normal;
    }
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes wobble {
  0% {
    transform: translate3d(0, 0, 0);
  }

  5% {
    transform: translate3d(-12.5%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  10% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  15% {
    transform: translate3d(-7.5%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  20% {
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  25% {
    transform: translate3d(-2.5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  30%,
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.wobble {
  animation-name: wobble;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
