.modal.second-step .modal-body {
  overflow: visible;
  width: 100%;
  display: inline-block
}
.modal.second-step .modal-body .password-strength {
  float: none;
  width: auto
}
.modal.second-step .modal-body label {
  display: inline-block;
  text-align: right
}
.modal.second-step .modal-body label.error {
  text-align: left;
  font-size: 14px;
  color: #f04944
}
.modal.second-step .modal-body .form-control.error {
  border-color: #f04944
}
.modal.second-step .modal-body .select-wrapper,
.modal.second-step .modal-body input {
  display: block;
  width: 100%
}
.modal.second-step .modal-body input[type=checkbox] {
  display: block!important
}
.modal.second-step .modal-body #legal_accept-error.error:not([style*="display: none;"]) + label.option:before {
  border-color: #f04944
}
.modal.second-step .modal-body .form-type-checkbox input:checked ~ label:before {
  background-color: #0cb930;
  border: 1px solid #0cb930;
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 24px;
  left: 0;
  margin-right: 16px;
  transition: border .15s ease-in-out;
  width: 24px
}
.modal.second-step .modal-body .form-type-checkbox input:checked ~ label:after {
  background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 10px;
  left: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13px
}
.modal.second-step .modal-header {
  display: block
}
.modal.second-step #field-google-place-id-add-more-wrapper,
.modal.second-step #field-state-add-more-wrapper,
.modal.second-step #field-user-ip-add-more-wrapper,
.modal.second-step .form-item-field-country-und {
  display: none
}
.modal.second-step #edit-actions {
  text-align: center;
  width: 100%
}
.modal.second-step #edit-actions .form-submit {
  height: auto
}
.modal.second-step #edit-actions #edit-delete {
  display: none
}
.modal.second-step .form-type-checkbox input {
  width: auto
}
.modal.second-step .form-type-checkbox label {
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 400!important
}
.modal.second-step .form-type-checkbox label strong {
  font-weight: 400
}
.form-type-password-confirm {
  margin-bottom: 0
}
.form-type-password-confirm .description {
  display: none
}
div.form-item-field-subscribe-to-morning-brew-und label,
div.form-item-field-subscribe-to-watercoolest-und label {
  width: initial
}
.wso-reg-step2.main-part,
input.password-confirm,
input.password-field {
  width: 100%
}
.wso-reg-step2.main-part .description {
  margin-top: 10px
}
.wso-reg-step2.main-part .description.help-block {
  padding-left: 0;
  font-size: 12px;
  line-height: 1.4
}
.wso-reg-step2 .icon-lock {
  color: var(--color-neutral-6)
}
.wso-reg-step2 label {
  position: relative;
  padding-right: 12px
}
.wso-reg-step2 label .icon-lock {
  line-height: 22px;
  position: absolute;
  right: 0;
  top: 0
}
.wso-reg-step2 .wso-reg-step2__section-title {
  font-weight: 700
}
.modal-footer .btn {
  margin: 0 auto;
  max-width: 500px;
  width: 100%
}
.pac-container {
  z-index: 1051!important
}
.form-item-field-nearest-city-und {
  display: none
}
@media (min-width: 576px) {
  .modal.second-step .modal-dialog {
    max-width: 100%
  }
}
@media (min-width: 768px) {
  .modal.second-step .modal-dialog {
    width: 600px
  }
  .wso-reg-modal-right-part {
    transition: .3s ease-in-out
  }
  .wso-reg-step2.parts {
    padding: 25px
  }
  .wso-reg-step2.main-part.left-side {
    border-right: 2px solid var(--color-neutral-3);
    float: left;
    width: 50%
  }
  .wso-reg-step2.additional.right-side {
    float: left;
    width: 50%
  }
}
@media (min-width: 992px) {
  .modal-dialog {
    transition: .3s ease-in-out
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset legend {
    border: none;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    text-align: right
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset .fieldset-wrapper .file-widget input.form-submit {
    padding-left: 0
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset .fieldset-wrapper .form-item label {
    padding-left: 5px;
    width: auto
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset .fieldset-wrapper .form-item .file-widget {
    margin: 0
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset .fieldset-wrapper .form-item .file-widget input {
    padding-left: 5px
  }
  .modal-body .wso-reg-step2.additional.right-side .field-name-upload .description {
    margin-left: 0
  }
  .modal-body .wso-reg-step2.additional.right-side .description {
    padding-right: 35px
  }
}
@media (min-width: 1200px) {
  .modal.second-step .modal-body label {
    width: 30%
  }
  .modal.second-step .modal-body label.error:not(#legal_accept-error) {
    left: 30%;
    width: 70%
  }
  .modal.second-step .modal-body .select-wrapper,
  .modal.second-step .modal-body input {
    display: inline-block!important;
    max-width: 325px
  }
  .modal.second-step .form-type-select label {
    transform: translateY(-10px)
  }
  .modal.second-step .form-type-checkbox label {
    width: 70%;
    margin-left: 30%
  }
  .modal-dialog.wso-reg-modal-right-part {
    margin: 30px auto;
    transition: .3s ease-in-out;
    width: 1200px
  }
  .modal-body .description,
  .modal-body .wso-reg-step2__section-title {
    margin-left: 30%;
    padding-left: 5px
  }
  .modal-body input,
  .modal-body select {
    display: inline-block;
    max-width: 325px
  }
  #edit-field-subscribe-to-morning-brew-und,
  #edit-field-subscribe-to-watercoolest-und {
    margin-left: 30%;
    padding-left: 5px
  }
  .wso-reg-step2 {
    min-width: 550px
  }
  .wso-reg-step2.main-part .description {
    padding-right: 70px
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset legend {
    width: 30%
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset .fieldset-wrapper {
    float: right;
    width: 70%
  }
}
@media (max-width: 1199px) {
  .wso-reg-step2.additional.right-side .field-name-upload fieldset .fieldset-wrapper .file-widget input.form-submit {
    width: 100%
  }
}
@media (max-width: 991px) {
  .wso-reg-step2.main-part > .description {
    text-align: center
  }
  .form-item-field-subscribe-to-morning-brew-und label.option {
    font-size: 11px;
    font-weight: 700;
    text-align: left
  }
  .form-item-field-subscribe-to-morning-brew-und .description {
    margin: 0
  }
  .form-item-field-subscribe-to-watercoolest-und label.option {
    font-size: 11px;
    font-weight: 700;
    text-align: left
  }
  .form-item-field-subscribe-to-watercoolest-und .description {
    margin: 0
  }
  .form-item-upload-und-0 label {
    font-size: 11px
  }
}
@media (max-width: 767px) {
  .modal-body label {
    display: inline-block;
    max-width: 100%;
    text-align: left
  }
  .modal-body input {
    max-width: 100%
  }
  .modal-body .description {
    margin-left: 0;
    max-width: 100%
  }
  .modal-body input[type=submit] {
    display: block;
    width: 100%
  }
  #edit-field-subscribe-to-morning-brew-und,
  #edit-field-subscribe-to-watercoolest-und {
    margin-left: 0;
    max-width: 100%
  }
  .form-type-managed-file .description,
  .form-type-managed-file .form-managed-file {
    margin-left: 0
  }
  .modal-dialog .modal-header .modal-title {
    font-size: 18px
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset {
    padding: 0;
    margin-bottom: 0
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset legend {
    border: none;
    font-size: 14px;
    margin: 0
  }
}
@media (max-width: 991px) and (min-width: 992px) {
  .form-item-field-subscribe-to-morning-brew-und label.option,
  .form-item-field-subscribe-to-watercoolest-und label.option {
    font-weight: 800
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .modal-dialog {
    margin: 30px auto;
    width: 650px
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset {
    padding: 0;
    margin-bottom: 0
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset legend {
    border: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0
  }
  .wso-reg-modal-right-part .modal-body {
    padding: 15px 0
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .modal-dialog.wso-reg-modal-right-part {
    margin: 30px auto;
    transition: .3s ease-in-out;
    width: 992px
  }
  #edit-field-subscribe-to-morning-brew-und,
  #edit-field-subscribe-to-watercoolest-und {
    padding-left: 5px
  }
  .form-item-field-subscribe-to-watercoolest-und label.option {
    font-size: 13px
  }
  .wso-reg-step2 {
    min-width: 480px
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset legend {
    width: 155px
  }
  .wso-reg-step2.additional.right-side .field-name-upload fieldset .fieldset-wrapper {
    float: right;
    max-width: 260px
  }
}
/*# sourceMappingURL=second-step-registration.component.css.map */
