@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.modal {
  &.second-step {
    .modal-dialog {
      @media (min-width: 576px) {
        max-width: 100%;
      }

      @media (min-width: 768px) {
        width: 600px;
      }
    }

    .modal-body {
      overflow: visible;
      width: 100%;

      .password-strength {
        float: none;
        width: auto;
      }
    }

    .modal-body {
      display: inline-block;

      label {
        display: inline-block;
        text-align: right;

        @include media('>=large-desktop') {
          width: 30%;
        }

        &.error {
          text-align: left;
          font-size: 14px;
          color: $color-red;

          @include media('>=large-desktop') {
            &:not(#legal_accept-error) {
              left: 30%;
              width: 70%;
            }
          }
        }
      }

      .form-control.error {
        border-color: $color-red;
      }

      input,
      .select-wrapper {
        display: block;
        width: 100%;

        @media (min-width: 1200px) {
          display: inline-block !important;
          max-width: 325px;
        }
      }

      input[type=checkbox] {
        display: block !important;
      }

      #legal_accept-error.error:not([style*="display: none;"]) + label.option {
        &:before {
          border-color: $color-red;
        }
      }

      .form-type-checkbox input:checked ~ label {
        &:before {
          background-color: $color-green-100;
          border: 1px solid $color-green-100;
          border-radius: 2px;
          content: '';
          display: inline-block;
          height: 24px;
          left: 0;
          margin-right: 16px;
          transition: border .15s ease-in-out;
          width: 24px;
        }

        &:after {
          background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          height: 10px;
          left: 6px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 13px;
        }
      }
    }

    .modal-header {
      display: block;
    }

    #field-state-add-more-wrapper {
      display: none;
    }

    .form-item-field-country-und {
      display: none;
    }

    #field-user-ip-add-more-wrapper {
      display: none;
    }

    #field-google-place-id-add-more-wrapper {
      display: none;
    }

    #edit-actions {
      text-align: center;
      width: 100%;

      .form-submit {
        height: auto;
      }

      #edit-delete {
        display: none;
      }
    }

    .form-type-select {
      @media (min-width: 1200px) {
        label {
          transform: translateY(-10px);
        }
      }
    }

    .form-type-checkbox {
      input {
        width: auto;
      }

      label {
        display: flex;
        width: 100%;
        text-align: left;
        font-size: 14px;
        font-weight: 400 !important;

        strong {
          font-weight: 400;
        }

        @media (min-width: 1200px) {
          width: 70%;
          margin-left: 30%;
        }
      }
    }
  }
}

.form-type-password-confirm {
  margin-bottom: 0;

  .description {
    display: none;
  }
}

div {
  &.form-item-field-subscribe-to-morning-brew-und {
    label {
      width: initial;
    }
  }

  &.form-item-field-subscribe-to-watercoolest-und {
    label {
      width: initial;
    }
  }
}

input {
  &.password-confirm {
    width: 100%;
  }

  &.password-field {
    width: 100%;
  }
}

.wso-reg-step2 {
  &.main-part {
    width: 100%;

    .description {
      margin-top: 10px;

      &.help-block {
        padding-left: 0;
        font-size: 12px;
        line-height: 1.4;
      }
    }
  }

  .icon-lock {
    color: var(--color-neutral-6);
  }

  label {
    position: relative;
    padding-right: 12px;

    .icon-lock {
      line-height: 22px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .wso-reg-step2__section-title {
    font-weight: 700;
  }
}

.modal-footer {
  .btn {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
}

@include media('<desktop') {
  .wso-reg-step2 {
    &.main-part {
      > .description {
        text-align: center;
      }
    }
  }

  .form-item-field-subscribe-to-morning-brew-und {
    label {
      &.option {
        font-size: 11px;
        @include responsive-prop(700, 800, font-weight);
        text-align: left;
      }
    }

    .description {
      margin: 0;
    }
  }

  .form-item-field-subscribe-to-watercoolest-und {
    label {
      &.option {
        font-size: 11px;
        @include responsive-prop(700, 800, font-weight);
        text-align: left;
      }
    }

    .description {
      margin: 0;
    }
  }

  .form-item-upload-und-0 {
    label {
      font-size: 11px;
    }
  }
}

@media (max-width: 1199px) {
  .wso-reg-step2 {
    &.additional {
      &.right-side {
        .field-name-upload {
          fieldset {
            .fieldset-wrapper {
              .file-widget {
                input {
                  &.form-submit {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media('<tablet') {
  .modal-body {
    label {
      display: inline-block;
      max-width: 100%;
      text-align: left;
    }

    input {
      max-width: 100%;
    }

    .description {
      margin-left: 0;
      max-width: 100%;
    }

    input[type="submit"] {
      display: block;
      width: 100%;
    }
  }

  #edit-field-subscribe-to-watercoolest-und {
    margin-left: 0;
    max-width: 100%;
  }

  #edit-field-subscribe-to-morning-brew-und {
    margin-left: 0;
    max-width: 100%;
  }

  .form-type-managed-file {
    .form-managed-file {
      margin-left: 0;
    }

    .description {
      margin-left: 0;
    }
  }

  .modal-dialog {
    .modal-header {
      .modal-title {
        font-size: 18px;
      }
    }
  }

  .wso-reg-step2 {
    &.additional {
      &.right-side {
        .field-name-upload {
          fieldset {
            padding: 0;
            margin-bottom: 0;

            legend {
              border: none;
              font-size: 14px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@include media('>=tablet', '<desktop') {
  .modal-dialog {
    margin: 30px auto;
    width: 650px;
  }

  .wso-reg-step2 {
    &.additional {
      &.right-side {
        .field-name-upload {
          fieldset {
            legend {
              border: none;
              display: inline-block;
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 0;
            }
            padding: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .wso-reg-modal-right-part {
    .modal-body {
      padding: 15px 0;
    }
  }
}

@include media('>=tablet') {
  .wso-reg-modal-right-part {
    transition: all .3s ease-in-out;
  }

  .wso-reg-step2 {
    &.parts {
      padding: 25px;
    }

    &.main-part {
      &.left-side {
        border-right: 2px solid var(--color-neutral-3);
        float: left;
        width: 50%;
      }
    }

    &.additional {
      &.right-side {
        float: left;
        width: 50%;
      }
    }
  }
}

@include media('>=desktop') {
  .modal-dialog {
    transition: all .3s ease-in-out;
  }

  .wso-reg-step2 {
    &.additional {
      &.right-side {
        .field-name-upload {
          fieldset {
            legend {
              border: none;
              display: inline-block;
              float: left;
              font-size: 14px;
              font-weight: 600;
              text-align: right;
            }

            .fieldset-wrapper {
              .file-widget {
                input {
                  &.form-submit {
                    padding-left: 0;
                  }
                }
              }

              .form-item {
                label {
                  padding-left: 5px;
                  width: auto;
                }

                .file-widget {
                  margin: 0;

                  input {
                    padding-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .modal-body {
    .wso-reg-step2 {
      &.additional {
        &.right-side {
          .field-name-upload {
            .description {
              margin-left: 0;
            }
          }

          .description {
            padding-right: 35px;
          }
        }
      }
    }
  }
}

@include media('>=desktop', '<large-desktop') {
  .modal-dialog {
    &.wso-reg-modal-right-part {
      margin: 30px auto;
      transition: all .3s ease-in-out;
      width: 992px;
    }
  }

  /*
  .modal-body {
    label {
      width: 155px;
    }

    .description {
      margin-left: 155px;
      padding-left: 5px;
    }

    input {
      display: inline-block;
      max-width: 265px;
    }

    select {
      display: inline-block;
      max-width: 265px;
    }
  }
*/

  #edit-field-subscribe-to-watercoolest-und {
    //margin-left: 155px;
    padding-left: 5px;
  }

  #edit-field-subscribe-to-morning-brew-und {
    //margin-left: 155px;
    padding-left: 5px;
  }

  .form-item-field-subscribe-to-watercoolest-und {
    label {
      &.option {
        font-size: 13px;
      }
    }
  }

  .wso-reg-step2 {
    &.additional {
      &.right-side {
        .field-name-upload {
          fieldset {
            legend {
              width: 155px;
            }

            .fieldset-wrapper {
              float: right;
              max-width: 260px;
            }
          }
        }
      }
    }
    min-width: 480px;
  }
}

@include media('>=large-desktop') {
  .modal-dialog {
    &.wso-reg-modal-right-part {
      margin: 30px auto;
      transition: all .3s ease-in-out;
      width: 1200px;
    }
  }

  .modal-body {
    .description,
    .wso-reg-step2__section-title {
      margin-left: 30%;
      padding-left: 5px;
    }

    input {
      display: inline-block;
      max-width: 325px;
    }

    select {
      display: inline-block;
      max-width: 325px;
    }
  }

  #edit-field-subscribe-to-watercoolest-und {
    margin-left: 30%;
    padding-left: 5px;
  }

  #edit-field-subscribe-to-morning-brew-und {
    margin-left: 30%;
    padding-left: 5px;
  }

  .wso-reg-step2 {
    &.main-part {
      .description {
        padding-right: 70px;
      }
    }

    &.additional {
      &.right-side {
        .field-name-upload {
          fieldset {
            legend {
              width: 30%;
            }

            .fieldset-wrapper {
              float: right;
              width: 70%;
            }
          }
        }
      }
    }
    min-width: 550px;
  }
}

.pac-container {
  z-index: 1051 !important;
}

.form-item-field-nearest-city-und {
  display: none;
}
