.paragraphs-item-fact-section {
  background: #262b2e!important;
  color: #e5e5e5!important;
  padding: 100px 0;
  position: relative
}
.paragraphs-item-fact-section ul {
  font-size: 16px;
  line-height: 26px
}
.paragraphs-item-fact-section p {
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 16px;
  overflow-wrap: break-word;
  word-wrap: break-word
}
/*# sourceMappingURL=paragraph.fact-section.component.css.map */
