.paragraphs-item-fact-section {
  background: #262b2e !important;
  color: #e5e5e5 !important;
  padding: 100px 0;
  position: relative;

  ul {
    font-size: 16px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
