#academy-header {
  width: 100%;
  z-index: 9;

  .adminimal-admin-toolbar & {
    top: 80px;
  }
}

header {
  .main_menu-nav {
    &.collapse {
      display: none;

      &.show {
        display: block;
      }

      @include media('>=tablet') {
        display: block;
      }
    }

    ul.navbar-nav {
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      align-items: center;

      @include media('<tablet') {
        display: block;

        li {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .container-fluid {
    display: block;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    padding: 0;

    .logo {
      .header__logo {
        display: block;
        min-width: 96px;
        max-width: 96px;

        &-img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .navbar-header {
    section.block.block-wso-darkmode.block-wso-darkmode-switcher {
      margin-left: 15px;
      display: flex;
      align-items: center;
    }
    @include media('<tablet') {
      width: 100%;
    }
  }

  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 34px;

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #888;

      & + .icon-bar {
        margin-top: 4px;
      }
    }
  }
}

body.sticky-menu-active header .logo {
  margin: 0 !important;
}

@include media('>=tablet') {
  .navbar-header {
    float: left;
  }

  .navbar-collapse.collapse {
    flex-basis: auto;
    flex-grow: 0;
  }

  .navbar-toggle {
    display: none;
  }
}

#academy-header {
  @include media('<tablet') {
    .navbar {
      padding: 0;
      margin: 0;
    }
    .navbar-header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  @include media('>=tablet') {
    .navbar {
      margin: 0;
      padding: 0;
    }
    .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      padding: 0;

      .main_menu-nav {
        width: 100%;
      }
    }
  }
}

.main_menu-nav {
  ul.nav  {
    @include media('<=tablet') {
      display: flex;
      justify-content: center;
    }
    @include media('>=tablet') {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;

      > li:nth-last-child(1) {
        margin-left: auto;
        white-space: nowrap;

        // It's bad I know.
        // But some code adds padding with important.
        // And I need to fix bug with !important.
        // Reproduces only on /academy/program-overview and /academy/about-us.
        padding: 0!important;
      }
    }

    > li {
      text-align: center;
      border-top: 3.5px solid transparent;
      margin: 0 13px;
      width: 100%;

      @include media('<tablet') {
        margin: 0;
        padding: 20px 0;
      }
      @include media('>=tablet') {
        margin: 0;
      }
      @include media('>=desktop') {
        width: auto;
        padding: 0;
        margin: 0 0 0 50px;
      }

      &.active {
        border-top: 3.5px solid $color-blue;
      }
    }

    li {
      > a {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        @include responsive-prop(700, 800, 'font-weight');
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: .2px;
        text-align: center;
        color: var(--color-base);

        &:focus {
          text-decoration: none;
        }

        &.btn-lines {
          border-radius: 0.25rem;
          padding: 0.5rem 1rem;

          @include media('<=tablet') {
            width: max-content;
            margin: auto;
            margin-bottom: 20px;
          }
          @include media('>=tablet') {
            line-height: 1;
            margin: 12px 0 19px 0;
          }

          &:hover {
            color: var(--color-base);
            border-color: transparent;
          }

          .darkmode & {
            color: #1c1e24;
          }
        }
      }

      &.active {
        > a {
          color: $color-blue;
        }

        > span {
          color: $color-blue;
        }
      }

      a {
        &:hover {
          color: var(--color-neutral-7);
          text-decoration: none;
          text-shadow: none;
        }
      }

      > span {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .2px;
        line-height: 1.13;
        text-align: center;
      }
    }

    > button {
      background: transparent;
      border: solid 2px $color-blue;
      border-radius: 20px;
      color: $color-blue;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      @include responsive-prop(700, 800, 'font-weight');
      height: 40px;
      letter-spacing: .2px;
      line-height: 1.13;
      margin: 0 5px;
      text-align: center;
      width: 120px;
    }

    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  a {
    &.btn {
      &.btn-primary {
        line-height: 1.7;
      }
    }
  }
}

a {
  &.btn {
    &.btn-primary {
      font-size: 14px !important;

      &.btn-special {
        &:hover {
          border: none;
        }

        &.blue {
          &:hover {
            border: 1px solid $color-blue;
          }
        }

        &.white {
          &:hover {
            border: 1px solid var(--color-neutral-0);
          }
        }
      }
    }
  }
}

.btn-special {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05);
  margin: 0 12px;
  width: 240px;
  height: 52px;
  border-radius: 26px !important;
  font-family: "Lato", sans-serif;
  @include responsive-prop(700, 800, 'font-weight');
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .1px;
  text-align: center;
  border-color: transparent;
  background-image: none;
  padding-top: 14px;
  text-shadow: none;

  &.head {
    width: 260px;
  }

  &.blue {
    background-color: $color-blue;
    color: var(--color-neutral-0);
  }

  &.white {
    background-color: var(--color-neutral-0);
    color: $color-blue;
  }
}

.main_menu-nav .nav > li.active {
  padding: 21.5px 0;
}
@include media('>=tablet') {
  .navbar-nav {
    > li {
      > a {
        padding: 0;
      }
    }
  }

  .main_menu-nav {
    display: inline-block;
    float: right;
  }
}

@include media('<tablet') {
  .navbar {
    background-color: var(--color-neutral-1);
    border-color: var(--color-neutral-3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;

    .main_menu-nav {
      width: 100%;
      padding: 0;
      border: none;
      margin: 25px 0 0;

      .nav {
        > li {
          &.active {
            border: 0;
          }
        }
      }
    }
  }

  .header__logo-img {
    max-width: 96px;
  }

  .main_menu-nav {
    .nav {
      margin: 0 auto;
      padding: 0;

      li {
        &.active {
          > span {
            color: $color-blue;
            display: inline-block;
            width: 100%;
          }
        }
      }

      > li {
        margin: 0;
      }
    }
  }

  header {
    &.main-page {
      > .container {
        padding: 0;
      }
      height: 100vh;

      section {
        &.cover-block {
          width: 100%;
        }
      }
    }
  }

  .btn-cta {
    margin: 5% 10%;
    width: 80%;
  }

  .logo {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .navbar-default {
    .navbar-toggle {
      margin-top: 10px;
    }
  }
}

@include media('>=tablet', '<large-desktop') {
  .main_menu-nav {
    .nav {
      > li {
        margin: 0 8px;
      }

      li {
        > span {
          font-size: 14px;
        }

        > a {
          font-size: 14px;
        }
      }
    }
  }

  .btn-cta {
    margin: 11px 0 0 8px;
    padding: 11px 20px;
  }
}

.navbar-toggle {
  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}
