.block-accordion_head {
  text-align: center;
}
.nav .btn {
  display: flex;
  background-color: #ffba00 !important;
  color: #0a4059;
  width: auto;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin: 15px;
  border-radius: 999rem;
  padding: 0px 20px;
  border: 4px solid #ffba00;
}

// Companies Logo
.paragraphs-item-customers-logos {
  &.section--divider--sm {
    padding: 22px 0!important;
    .title {
      margin-bottom: 15px!important;
    }
  }
  .field-name-field-company-logo {
    justify-content: center;
    .field--item {
      width: 33%;
      @include media('>=tablet') {
        width: 25%;
      }
      @include media('>=desktop') {
        width: 14%;
      }
      img {
        height: 50px;
        margin: auto;
        object-fit: contain;
        display: flex;
        width: 100%;
    }
  }
  }
}

// Academy Team List
.paragraph--person-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: var(--color-base);
  .field-name-field-wso-paragraphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > .field--item {
      width: 100%;
      padding: 15px;
      text-align: center;
      margin: auto;
      @include media('>=tablet') {
        width: 48%;
        text-align: left;
        margin: 0;
      }
      .field-name-field-person-photo {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
        margin: auto;
        img {
          width: 100%;
          height: auto;
        }
        @include media('>=tablet') {
          margin: 0;
        }
      }
      .field-name-field-person-name {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 22px;
        line-height: 1.6;
      }
      .person-card--header {
        .person-card--photo {
          width: 100%;
          @include media('>=tablet') {
            width: 25%;
          }
        }
        .person-card--name--position {
          flex-direction: column;
          justify-content: center;
          width: 100%;
          @include media('>=tablet') {
            width: 75%;
          }
        }
      }
    }
  }
}

.field-name-field-cta.field--type-link {
  a {
    background-color: #ffba00 !important;
    color: var(--color-base);
    width: auto;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px;
    border-radius: 999rem !important;
    border: 4px solid #ffba00;
    display: inline-block;
    padding: 15px 25px;
  }
}

.monkey-blue-bg {
  background-color: var(--color-base);
  color: #fff;
}

.oasis-blue-bg {
  background-color: #1277A7;
  color: #fff;
}

p, .formated-text {
  font-size: 18px;
}

.field-name-field-wsop-title,
.field.field-name-field-paragraph-title {
  text-align: center;
  @include media('>=tablet') {
    margin-bottom: 40px;
    font-size: 36px;
  }
}

.paragraph--type--accordion-item .field-name-field-wsop-title {
  text-align: left;
  @include media('>=tablet') {
    font-size: 18px;
    margin-bottom: 0;
  }
}

// Review
.field-name-field-custom-review {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .card {
    text-align: left;
  }
  & > .field--item {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    @include media('>=tablet') {
      width: 40%;
      margin: 20px;
    }
  }
  .field-name-field-person-name {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6;
  }
  .formatted-text p {
    margin-bottom: 0;
  }
  .text-right {
    text-align: right;
  }
}
