{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
?>
#}
{{ attach_library('porto_sub/new-landing.component') }}
{{ attach_library('porto_sub/new_landing_js') }}
{{ attach_library('porto_sub/academy') }}

<div {{ attributes.addClass(['new-landing']) }}>
  {% if page.content is defined %}
    <header id="academy-header">
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="d-flex align-items-center">
              <div class="logo">
                <a href="/" class="header__logo">
                  <img loading="eager"
                       src="/themes/custom/porto_sub/images/wso-logo-2019.png"
                       srcset="/themes/custom/porto_sub/images/wso-logo-2019.png 1x, /themes/custom/porto_sub/images/wso-logo-2019-2x.png 2x"
                       alt="WSO" class="header__logo-img" width="96" height="32">
                </a>
              </div>
              {% if darkmode_enabled %}
                {{ drupal_block('wso_darkmode_switcher') }}
              {% endif %}
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse main_menu-nav" id="bs-example-navbar-collapse-1">
            {{ drupal_menu('wso-academy') }}
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>

    <div id="wso-content-outer" class="col-md-24">
      <div class="container container--breadcrumbs">
        {{ page.breadcrumbs_replacer.porto_sub_local_tasks }}
      </div>
    </div>

    {{ page.highlighted }}
    {{ page.help }}

    {% if action_links %}
      <ul class="action-links list-unstyled">
        {{ action_links }}
      </ul>
    {% endif %}

    {% if page.content is defined %}
      {{ page.content }}
    {% endif %}

    {% if page.under_content is defined %}
      {{ page.under_content }}
    {% endif %}
  {% endif %}

  {{ page.after_content }}

  <div class="footer footer-academy"></div>
</div>
