:root {
  --bs-body-font-family: sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: normal;
  --bs-body-line-height: 22px;
  --bs-body-color: var(--color-base);
}

body {
  background-color: var(--color-page-bg);
  color: var(--color-base);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 22px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 479px) {
    font-size: 13px;
  }

  @media (min-width: 992px) {
    font-family: "Lato", sans-serif;
  }
}

a {
  color: $color-blue;
  outline: none !important;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-blue;
    transition: all .2s ease-in;
  }

  &.text-muted {
    &:hover {
      color: inherit;
    }

    &:focus {
      color: inherit;
    }
  }

  &.file-link {
    font-weight: 400;
  }

  &[data-bs-toggle=popover] {
    cursor: pointer;

    .tooltip-icon {
      cursor: pointer;
    }
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ol {
  li {
    padding-bottom: 8px;
    padding-left: 4px;
  }
}

li {
  line-height: 24px;

  &.textcomplete-item {
    img {
      width: 40px;
    }
  }

  a {
    &.active {
      color: var(--color-base);
    }
  }
}

.item-list {
  ul {
    li {
      margin: 0 !important;
    }
  }
}

ul {
  &.primary {
    li {
      a {
        background-color: transparent;
        border-color: none;
        border-style: none;
      }
    }
  }

  &.links {
    &.inline {
      li {
        padding-left: 10px;
      }
    }
  }
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

mark {
  &.highlighter {
    background: $color-yellow;
  }
}

.alert {
  ul {
    padding-left: 20px;
  }
}

.hr-line {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  border-top: var(--color-neutral-4) 1px solid !important;
  height: 1px;
  margin: 25px 10px;
}

hr {
  border: none !important;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .2), transparent);
  border: 0;
  height: 1px;
  margin: 22px 0 22px 0;

  /*
  &.short {
    margin: 11px 0 11px 0;
  }

  &.tall {
    margin: 44px 0 44px 0;
  }

  &.taller {
    margin: 66px 0 66px 0;
  }

  &.light {
    background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, .2), transparent);
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .2), transparent);
  }
   */
}

.well {
  border-radius: 3px !important;
  box-shadow: none !important;
  background-color: var(--color-neutral-0);
  margin-bottom: 24px;
  padding: 8px 24px 16px 24px;

  &.node-landing-page {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0 !important;
  }

  &-default {
    background-color: var(--color-neutral-3);
  }

  &-no-border {
    border: 0;
  }

  blockquote {
    background-color: var(--color-neutral-3);
    border-left: 3px solid $color-oasis-blue;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.messages__wrapper {
  margin-top: 20px;
}

blockquote {
  font-size: inherit;
  padding: 4px 16px;
  border-left: 3px solid $color-oasis-blue;
  margin: 0 0 24px 8px;
  font-style: italic;
  color: var(--color-neutral-7);
  line-height: 26px;
  letter-spacing: -0.15px;

  &.testimonial {
    background: var(--color-neutral-5);
    border-radius: 10px;
    border: 0;
    color: var(--color-neutral-7);
    font-family: Georgia, serif;
    font-style: italic;
    margin: 0;
    padding: 10px 50px;
    position: relative;

    &:before {
      color: var(--color-neutral-0);
      content: "\201C";
      font-size: 80px;
      font-style: normal;
      left: 10px;
      line-height: 1;
      position: absolute;
      top: 0;
    }

    &:after {
      bottom: -0.5em;
      color: var(--color-neutral-0);
      content: "\201D";
      font-size: 80px;
      font-style: normal;
      line-height: 1;
      position: absolute;
      right: 10px;
    }

    p {
      color: var(--color-neutral-0);
      font-family: Georgia, serif;
      font-size: 1.2em;
      font-style: italic;
      line-height: 1.3;
    }
  }

  &.quote-msg {
    line-height: 26px;
    font-style: italic;
    color: var(--color-neutral-7);
    letter-spacing: -0.15px;

    p {
      &:first-of-type {
        display: inline;
      }

      &:nth-of-type(2) {
        margin-top: 10px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.offset-anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;

  @include media('<desktop') {
    top: 0;
  }
}

.wso-username {
  i {
    &.icon {
      &.icon-star {
        &.icon__star__styles {
          align-items: center;
          background-color: $color-yellow;
          border: 3px solid $color-yellow;
          border-radius: 50%;
          color: var(--color-neutral-0);
          display: flex;
          font-size: 10px;
          height: 16px;
          justify-content: center;
          position: absolute;
          right: 9px;
          top: 12px;
          width: 16px;
        }
      }
    }
  }
}

.wso-certified-user {
  img {
    background-color: $color-yellow;
    border: 2px solid $color-yellow;
    border-radius: 50%;
    bottom: 5px;
    color: var(--color-neutral-0);
    font-size: 1em;
    height: 16px;
    left: 26px;
    position: absolute;
    width: 16px;
  }
}

.position--affix {
  &--fixed {
    position: fixed !important;
  }
}

.sticky {
  background: $aliceblue_dcf3ff none repeat scroll 0 0 !important;
}

.not-logged-in {
  .hidden-not-logged-in {
    display: none;
  }
}

.greeting {
  color: var(--color-monkey-grey);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.33;
}

.dropdown-menu {
  background-color: var(--color-neutral-0);
}

//todo: move into boostrap
.form-control {
  background-color: var(--color-neutral-0);
  color: var(--color-base);

  &:focus {
    background-color: var(--color-neutral-0);
    color: var(--color-base);
  }

  .darkmode & {
    border-color: var(--color-neutral-5);
  }
}
