@import "darkmode-switcher";

:root {
  --color-neutral-0--rgb: 255, 255, 255;
  --color-neutral-0: #{$color-neutral-0};
  --color-neutral-1: #{$color-neutral-1};
  --color-neutral-2: #{$color-neutral-2};
  --color-neutral-3: #{$color-neutral-3};
  --color-neutral-4: #{$color-neutral-4};
  --color-neutral-5: #{$color-neutral-5};
  --color-neutral-6: #{$color-neutral-6};
  --color-neutral-7: #{$color-neutral-7};
  --color-neutral-8: #{$color-neutral-8};
  --color-neutral-9: #{$color-neutral-9};
  --color-almost-black: #{$color-almost-black};
  --color-black: #{$color-black};
  --color-black--rgb: 0, 0, 0;
  --color-page-bg: #{$color-page-bg};
  --color-monkey-grey: #{$color-monkey-grey};
  --color-warning-bg: #{$color-warning-bg};
  --color-base: #{$color-monkey-blue};
  --color-light-blue: #{$color-light-blue};

  &.darkmode {
    --color-neutral-0--rgb: 0, 0, 0;
    --color-neutral-0: #{$color-neutral-0--dark};
    --color-neutral-1: #{$color-neutral-1--dark};
    --color-neutral-2: #{$color-neutral-2--dark};
    --color-neutral-3: #{$color-neutral-3--dark};
    --color-neutral-4: #{$color-neutral-4--dark};
    --color-neutral-5: #{$color-neutral-5--dark};
    --color-neutral-6: #{$color-neutral-6--dark};
    --color-neutral-7: #{$color-neutral-7--dark};
    --color-neutral-8: #{$color-neutral-8--dark};
    --color-neutral-9: #{$color-neutral-9--dark};
    --color-almost-black: #{$color-almost-black--dark};
    --color-black: #{$color-black--dark};
    --color-black--rgb: 255, 255, 255;
    --color-page-bg: #{$color-page-bg--dark};
    --color-monkey-grey: #{$color-monkey-grey--dark};
    --color-warning-bg: #{$color-warning-bg--dark};

    --color-base: #{$color-base--dark};
    --color-light-blue: #{$color-light-blue--dark};
  }
}

.bg-white {
  background-color: var(--color-neutral-0) !important;
  background: var(--color-neutral-0);
}

.bg-light-gray {
  background: var(--color-neutral-2);
}

.white-bg {
  background: var(--color-neutral-0);
}

.text-white {
  color: var(--color-neutral-0) !important;
}

.text-blue {
  color: $color-blue;
}

.text-primary {
  color: var(--color-neutral-6) !important;
}

.color-success {
  color: $color-green-100 !important;
}

.alternative-font {
  color: $color-blue;
}

.inverted {
  color: var(--color-neutral-0);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $color-blue;
}

.b-sh-none {
  box-shadow: none !important;
}

.shadow {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05) !important;
}

.flat-shadow {
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1) !important;
}

.flat-white {
  background-color: var(--color-neutral-0) !important;
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1);
}

.label-dark {
  background: var(--color-base);
  text-decoration: none;
  font-weight: normal;

  &:hover {
    background: var(--color-base);
    font-weight: normal;
    text-decoration: none;
  }
}
