.wso-darkmode-switcher {
  position: relative;
  height: 100%;
  cursor: pointer;

  &__body {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: $color-yellow;
    border-radius: 22px;
    transition: background 0.3s ease-in-out;

    .darkmode & {
      background: #342B39;
    }

    .darkmoding & {
      background: darken($color-yellow, 20%);
    }
  }

  &__element {
    color: $color-neutral-0;
    position: absolute;
    display: inline-block;
    transition: all 0.5s ease-in-out;

    &.sun {
      right: 3px;
      transform: translateY(-1px);
      left: auto;
      opacity: 1;

      .darkmode & {
        left: auto;
        transform: translateY(20px);
        opacity: 0;
      }

      svg {
        width: 17px;
        height: 17px;
      }

      &--secondary {
        opacity: 0.7;
      }
    }

    &.moon {
      opacity: 0;
      left: 3px;
      transform: translateY(20px);

      .darkmode & {
        opacity: 1;
        transform: translateY(-3px);
      }

      svg {
        width: 22px;
        height: 22px;
      }

      &--secondary {
        opacity: 0.6;
      }
    }
  }
}
