textarea {
  resize: vertical;
}

.field--label-inline {
  display: flex;
  flex-wrap: wrap;
}

.field--label {
  font-weight: 600;

  &:after {
    content: ': ';
    display: inline-block;
    margin-right: 10px;
  }
}

.location-wrapper {
  margin-top: 30px;

  .form-item-locations-0-city {
    font-size: 18px;
    margin-top: -25px !important;
  }
}

.location {
  .form-item {
    input {
      width: 100%;
    }

    label {
      display: inherit;
      float: inherit;
      padding-right: inherit;
      text-align: inherit;
      width: inherit;
    }
  }
}

#edit-preview {
  margin-left: 10px;
}

#edit-checkout {
  margin-left: 10px;
}

/*
.map-section {
  margin-top: 10px;
}

.google-map {
  background: var(--color-neutral-4);
  height: 400px;
  margin: -35px 0 30px 0;
  width: 100%;

  img {
    max-width: 9999px;
  }
}
*/

.field-name-field-interviewquestions {
  .field-item {
    display: table-row;
    width: auto;
  }
}

.form-managed-file {
  .form-file {
    margin-bottom: 10px;
  }
}

.oembed {
  clear: inherit;
  display: inherit;
  float: inherit;
  margin: inherit;
  border-top: inherit;
  border-bottom: inherit;
  border-right: inherit;
  border-left: inherit;
  padding: inherit;
  color: inherit;
  background: inherit;
  border-radius: inherit;

  .oembed-title {
    display: none;
  }
}

/*
#edit-field-race-und {
  div {
    float: left;
    margin-right: 15px;
    width: auto;
  }
}
 */

