.darkmode {
  //img:not([src*=".svg"]):not(.logo-img) {
  //  filter: grayscale(75%) brightness(75%);
  //}

  img[src*=".svg"] {
    filter: invert(100%);
  }
}

.image__filter__grey {
  filter: grayscale(1);
}

.image__filter__gray {
  filter: grayscale(1);
}

.svgicon {
  display: inline-block;
}

.svg-icon {
  max-width: 100%;
  max-height: 100%;
}

.thumbnail {
  .zoom {
    background-color: $color-blue;
  }

  @include media('<desktop') {
    border: 0;
    text-align: center;
  }
}

.thumb-info {
  @include media('<desktop') {
    .thumb-info-title {
      font-size: 14px;
    }

    .thumb-info-more {
      font-size: 11px;
    }
  }

  .thumb-info-title {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    background: rgba(36, 27, 28, 0.9);

    .darkmode & {
      text-shadow: 1px 1px 1px rgba(255, 255, 255, .2);
      background: rgba(180, 180, 180, 0.9);
    }
  }
}

.img-thumbnail {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4);
  border-radius: 8px;
  position: relative;

  .zoom {
    background: var(--color-neutral-5);
    border-radius: 100%;
    bottom: 8px;
    color: var(--color-neutral-0);
    display: block;
    height: 30px;
    padding: 6px;
    position: absolute;
    right: 8px;
    text-align: center;
    width: 30px;

    i {
      font-size: 14px;
      left: -1px;
      position: relative;
      top: -3px;
    }
  }
}

.rounded-circle {
  border-radius: 100%;
}

.video-container {
  padding-top: 25px;
  padding-bottom: 50.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  height: 0;

  &.vimeo {
    padding-bottom: 56.4%;
    padding-top: 0;
  }

  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.post-image {
  img {
    height: auto;
    max-width: 100%;
  }
}

.user-profile-image {
  height: 50px;
  width: 50px;
}

.post-medium-image {
  .single-post-image {
    overflow: hidden;
  }
}

.single-post-image {
  li {
    list-style: none;
    margin-bottom: 30px;
    margin-left: -60px;
  }
}

.profile {
  .user-picture {
    margin-top: 60px !important;
  }
}

section {
  &.video {
    width: 100%;
    margin: 70px 0;
    padding: 50px 0;
    overflow: hidden;
    position: relative;

    > video {
      display: none;
    }

    blockquote {
      border: 0;
      padding: 0 10%;

      i {
        &.icon-quote-left {
          font-size: 34px;
          left: -5px;
          position: relative;
        }
      }

      p {
        font-size: 24px;
        line-height: 30px;
      }

      span {
        color: var(--color-neutral-6);
        font-size: 16px;
        left: -5px;
        line-height: 20px;
        position: relative;
      }
    }

    .mejs-container {
      position: absolute;
      top: 0;

      .mejs-controls {
        display: none !important;
      }

      .mejs-layers {
        display: none !important;
      }
    }
  }
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

@each $embed-responsive-aspect-ratio in $embed-responsive-aspect-ratios {
  $embed-responsive-aspect-ratio-x: nth($embed-responsive-aspect-ratio, 1);
  $embed-responsive-aspect-ratio-y: nth($embed-responsive-aspect-ratio, 2);

  .embed-responsive-#{$embed-responsive-aspect-ratio-x}by#{$embed-responsive-aspect-ratio-y} {
    &::before {
      padding-top: percentage(calc($embed-responsive-aspect-ratio-y / $embed-responsive-aspect-ratio-x));
    }
  }
}

