.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.d-none {
  display: none;
}

.hidden {
  display: none!important
}

.visually-hidden,
.element-invisible {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.center {
  text-align: center;
}

.placeholder {
  vertical-align: baseline;
  background-color: transparent;
  opacity: 1;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px
}

.panel {
  margin-bottom: 20px;
  background-color: var(--color-neutral-0);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(var(--color-black--rgb),.05);
}

.table > :not(:first-child) {
  border-top: 2px solid transparent;
}

.table > :not(caption) > * > * {
  box-shadow: none;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: var(--color-base);
}

/**
 * BS5 migration.
 */
.alert-dismissible .close {
  border: 0;
  border-radius: 0.25rem;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-base);
  text-shadow: 0 1px 0 var(--color-neutral-0);
  opacity: .5;
}

.row--w-auto > * {
  width: auto;
}

.relative {
  position: relative;
}

.form-control {
  height: calc(1.5em + 0.876rem + 2px);

  &.form-checkbox {
    appearance: auto;
    padding: 0;
  }
}

.btn-link {
  text-decoration: none;
}

@media (min-width: 576px) {
  .form-inline {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }
}

@media (min-width: 768px) {
  .form-group {
    margin-bottom: 1rem;
  }
}

