@import "../helpers/sprite-png";

.modal {
  &-content {
    background-color: var(--color-neutral-0);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .modal-header {
    border-bottom: 1px solid var(--color-neutral-4);

    .darkmode & {
      border-bottom: 1px solid var(--color-neutral-5);
    }
  }

  &-open {
    .navbar-fixed-bottom {
      margin-right: 0 !important;
    }

    &-noscroll {
      margin-right: 0 !important;
      overflow: hidden;

      .navbar-fixed-top {
        margin-right: 0 !important;
      }
    }
  }

  &-header {
    h3 {
      color: var(--color-base);
      text-transform: none;
    }

    .btn-close {
      background: transparent url('/themes/custom/porto_sub/assets/sprites/src/png/icon-close.png') center center no-repeat;
      width: 8px;
      height: 8px;
      opacity: 1;

      .darkmode & {
        background: transparent url('/themes/custom/porto_sub/assets/sprites/build/icon-close-dark.png') center center no-repeat;
      }
    }
  }
}

.close {
  color: var(--color-base);
  text-shadow: 0 1px 0 var(--color-neutral-0);
}

/*
.modal-dialog {
  @include media('>=tablet') {
    max-width: 630px;
  }
}
*/

.ui-widget {
  font-family: "Lato", sans-serif !important;

  &-overlay {
    z-index: 1002 !important;
  }

  &-content {
    color: var(--color-base);
  }
}

.ui-dialog .ui-dialog-titlebar-close {
  @include sprite($icon-close);
  width: 16px;
  height: 16px;
  border: 0;
  background-color: transparent;
}

#discountModal {
  .modal-dialog {
    .modal-content {
      padding: 2rem 2.5rem;
    }

    .modal-header {
      padding: 0 0 1rem 0;
      border-bottom: none;

      div.text-center {
        font-size: 1rem;
        color: rgb(240, 73, 68);
        font-style: italic;
        flex: 1 1 0%;
      }
    }

    .modal-body {
      padding: 0;

      .content {
        .discount-text {
          line-height: 1.3;
          font-weight: 700;
          color: #08C42A;
          font-size: 2.6rem;
          background-color: var(--color-page-bg);
          padding: 1rem 0;
        }

        .additional-text {
          font-size: 1rem;
          color: rgb(240, 73, 68);
          font-style: italic;
          padding: 0.5rem 0 2rem;
        }

        .logo.m-b-md {
          margin-bottom: 0;
        }
      }
    }
  }
}
