@import './components/common-styles/helpers/mixins';

.clearfix {
  display: block;

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

html[xmlns] {
  .clearfix {
    display: block;
  }
}

* {
  html {
    .clearfix {
      height: 1%;
    }
  }
}

@include media('>=desktop') {
  .wso-col-5 {
    width: 20%;
  }
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  @include media('>=large-desktop') {
    max-width: 1170px;
  }
}

.container--wide {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media('>=1630px') {
    max-width: 1600px;
  }
}

.container--wso {
  @include wso-container();
}

.col-xs-24 {
  width: 100%;
}

.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
  display: none;
}

.visible-sm {
  @include media('>=tablet', '<desktop') {
    display: block !important;
  }
}

.visible-xs {
  @include media('<tablet') {
    display: block !important;
  }
}

.p-xxs {
  padding: 5px!important
}
.p-xs {
  padding: 10px!important
}
.p-sm {
  padding: 15px!important
}
.p-m {
  padding: 20px!important
}
.p-md {
  padding: 25px!important
}
.p-lg {
  padding: 30px!important
}
.p-xl {
  padding: 40px!important
}
.p-b-xxxl {
  padding-bottom: 60px
}
.p-t-0 {
  padding-top: 0!important
}
.p-b-0 {
  padding-bottom: 0!important
}
.p-t-lg {
  padding-top: 30px!important
}
.m-xxs {
  margin: 2px 4px
}
.m-xs {
  margin: 5px
}
.m-sm {
  margin: 10px
}
.m {
  margin: 15px
}
.m-md {
  margin: 20px
}
.m-lg {
  margin: 30px
}
.m-xl {
  margin: 50px
}
.m-n {
  margin: 0!important
}
.m-l-none {
  margin-left: 0
}
.m-l-xs {
  margin-left: 5px
}
.m-l-sm {
  margin-left: 10px
}
.m-l {
  margin-left: 15px
}
.m-l-md {
  margin-left: 20px
}
.m-l-lg {
  margin-left: 30px
}
.m-l-xl {
  margin-left: 40px
}
.m-l-n-xxs {
  margin-left: -1px
}
.m-l-n-xs {
  margin-left: -5px
}
.m-l-n-sm {
  margin-left: -10px
}
.m-l-n {
  margin-left: -15px
}
.m-l-n-md {
  margin-left: -20px
}
.m-l-n-lg {
  margin-left: -30px
}
.m-l-n-xl {
  margin-left: -40px
}
.m-t-none {
  margin-top: 0
}
.m-t-xxs {
  margin-top: 1px
}
.m-t-5,
.m-t-xs {
  margin-top: 5px
}
.m-t-10,
.m-t-sm {
  margin-top: 10px
}
.m-t {
  margin-top: 15px
}
.m-t-20,
.m-t-md {
  margin-top: 20px
}
.m-t-30,
.m-t-lg {
  margin-top: 30px
}
.m-t-xl {
  margin-top: 40px
}
.m-t-xxl {
  margin-top: 50px
}
.m-t-xxxl {
  margin-top: 60px
}
.m-t-n-xxs {
  margin-top: -1px
}
.m-t-n-xs {
  margin-top: -5px
}
.m-t-n-sm {
  margin-top: -10px
}
.m-t-n {
  margin-top: -15px
}
.m-t-n-md {
  margin-top: -20px
}
.m-t-n-lg {
  margin-top: -30px
}
.m-t-n-xl {
  margin-top: -40px
}
.m-r-none {
  margin-right: 0
}
.m-r-xxs {
  margin-right: 1px
}
.m-r-xs {
  margin-right: 5px
}
.m-r-sm {
  margin-right: 10px
}
.m-r {
  margin-right: 15px
}
.m-r-md {
  margin-right: 20px
}
.m-r-22 {
  margin-right: 22px
}
.m-r-lg {
  margin-right: 30px
}
.m-r-xl {
  margin-right: 40px
}
.m-r-n-xxs {
  margin-right: -1px
}
.m-r-n-xs {
  margin-right: -5px
}
.m-r-n-sm {
  margin-right: -10px
}
.m-r-n {
  margin-right: -15px
}
.m-r-n-md {
  margin-right: -20px
}
.m-r-n-lg {
  margin-right: -30px
}
.m-r-n-xl {
  margin-right: -40px
}
.m-b-none {
  margin-bottom: 0
}
.m-b-xxs {
  margin-bottom: 1px
}
.m-b-xs {
  margin-bottom: 5px
}
.m-b-sm {
  margin-bottom: 10px
}
.m-b {
  margin-bottom: 15px
}
.m-b-md {
  margin-bottom: 20px
}
.m-b-lg {
  margin-bottom: 30px
}
.m-b-xl {
  margin-bottom: 40px
}
.m-b-xxl {
  margin-bottom: 50px
}
.m-b-xxxl {
  margin-bottom: 60px
}
.m-b-n-xxs {
  margin-bottom: -1px
}
.m-b-n-xs {
  margin-bottom: -5px
}
.m-b-n-sm {
  margin-bottom: -10px
}
.m-b-n {
  margin-bottom: -15px
}
.m-b-n-md {
  margin-bottom: -20px
}
.m-b-n-lg {
  margin-bottom: -30px
}
.m-b-n-xl {
  margin-bottom: -40px
}

.w100 {
  width: 100%;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-left-1 {
  padding-left: 1px;
}

.inline-block {
  display: inline-block;
}

.push-bottom {
  margin-bottom: 35px;
}

.push-top {
  margin-top: 35px;
}

.container {
  .container--wso {
    @include media('<phone') {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

body:not(.page-node-edit).full-width-page,
body:not(.page-node-edit) .full-width-page {
  .container {
    &--alt {
      max-width: 100% !important;
      margin: 0;
      padding: 0;

      .container--wso {
        @include media('<phone') {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

