.panel-body {
  &.panel-body-border-bottom {
    border-bottom: var(--color-neutral-4) 1px solid;
  }
}

.panel-heading {
  &.panel-heading--transparent {
    background: transparent;
    border: 0;
  }
}

.panel-group {
  .panel-heading {
    padding: 0;

    a {
      display: block;
      padding: 10px 15px;
      color: $color-blue;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }

      [class^="icon-"] {
        margin-right: 4px;
        position: relative;
        top: 1px;
      }
    }
  }

  &.secundary {
    .panel-heading {
      background-color: $color-blue;

      a {
        color: var(--color-neutral-0);
      }
    }
  }
}

[data-bs-toggle="collapse"] {
  &[aria-expanded="false"] {
    [data-state="default"] {
      display: inline;
    }

    [data-state="open"] {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    [data-state="default"] {
      display: none;
    }

    [data-state="open"] {
      display: inline;
    }
  }
}

// List items.
.list-group-item-action {
  color: var(--color-base);
}

.list-group-item {
  background-color: var(--color-neutral-0);
  border: 1px solid rgba(var(--color-neutral-0--rgb), 0.125);
}

.list-group-item-action:hover,
.list-group-item-action:focus {
  color: var(--color-base);

  .darkmode & {
    background-color: $color-black;
  }
}

// Nav tabs.
.nav-tabs {
  .darkmode & {
    border-bottom-color: $color-black;
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--color-base);
  border-color: var(--color-neutral-4) var(--color-neutral-4) var(--color-neutral-0);

  .darkmode & {
    background-color: $color-black;
  }
}
