.progress {
  background: var(--color-neutral-1);
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
  height: 20px;
  overflow: visible;
}

.progress-bar {
  border-radius: 25px;
  box-shadow: none;
  position: relative;
}

.progress-bar-tooltip {
  position: absolute;
  padding: 4px 8px;
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  line-height: 15px;
  font-size: 11px;
  display: block;
  top: -28px;
  right: 5px;
  border-radius: 3px;
  filter: alpha(opacity=0);
  opacity: 0;

  &:after {
    border-color: var(--color-neutral-8) transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: -5px;
    content: "";
    display: block;
    left: 13px;
    position: absolute;
    width: 0;
  }
}
