// Base styles.
.table-responsive {
  width: 100%;
}

.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > td,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > thead > tr > th {
  @media screen and (max-width: 767px) {
    white-space: nowrap;
    max-width: none;
  }
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 1.42857;
}

.table-bordered {
  border: 1px solid var(--color-neutral-3);
  border-color: var(--color-neutral-3);

  > thead {
    > tr {
      > th {
        border: inherit;
      }

      > td {
        border: inherit;
      }
    }
  }

  > tbody {
    > tr {
      > th {
        border: inherit;
      }

      > td {
        border: inherit;
      }
    }
  }

  > tfoot {
    > tr {
      > th {
        border: inherit;
      }

      > td {
        border: inherit;
      }
    }
  }
}

.table-striped {
  > tbody {
    > tr {
      &:nth-of-type(even) {
        &:hover {
          background-color: var(--color-neutral-2);
        }

        background-color: var(--color-neutral-0);
      }
    }
  }
}

.table {
  color: var(--color-base);

  tbody tr:hover {
    color: var(--color-base);
    background-color: rgba(255, 255, 255, 0.075);
  }
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--color-neutral-1);
}

.wso-table-left {
  @include wso-table-left();
}

.wso-table-left-center {
  @include wso-table-left-center();
}

.wso-admin-table {
  @include wso-admin-table();
}

// Styles for a Tables inside Formatted Text.
.formatted-text {
  table {
    @include wso-admin-table();
    border: 0;

    thead {
      tr {
        th {
          @include responsive-prop(700, 800, font-weight);
        }
      }

      tr:first-child {
        th {
          color: white;
          background-color: #072532;
          border-color: #072532;
        }
      }
    }

    tbody {
      font-size: 16px;

      tr {
        th {
          @include media('>=tablet') {
            min-width: 300px;
          }

          ul {
            padding-left: 1rem;

            li {
              list-style: disc;
              display: list-item;
            }
          }
        }
      }

      tr:nth-of-type(odd) {
        background-color: #f9f9f9;
      }

      tr:nth-of-type(even) {
        background-color: var(--color-neutral-0);
      }
    }

    th,
    td {
      padding: 12px 15px;
      font-size: 14px;
      border: 0;
    }

    &.table-bordered {
      th,
      td {
        border: 1px solid #e5e5e5;
      }
    }
  }
}

// Special styles.
#financial-data-table {
  padding: 10px;

  th {
    color: #ffffff;
    background-color: #072532;
    text-align: left;
    //border-color: #189eda;

    .darkmode & {
      background-color: #0a4059;
      font-size: 1.2em;
      border-color: #072532;
    }
  }

  td {
    text-align: left;
    border-color: #072532;

    .darkmode & {
      border-color: #189eda;
    }
  }
}

#shortcut-table {
  @include wso-admin-table();
  text-align: center;
  border: 0;

  td {
    height: 2.5em;
    font-weight: 700;
    width: 33%;
  }

  .mac-shortcut,
  .pc-shortcut {
    padding: 5px 10px;
    margin: 4px;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
  }

  .pc-shortcut {
    border: $color-blue 2px solid;
  }

  .mac-shortcut {
    border: $color-orange 2px solid;
  }
}
