.captcha {
  background: none;
  margin: 10px 0;
  max-width: 100%;
  width: auto;

  clear: both;
  overflow: hidden;
  background: var(--color-neutral-3);
  text-align: center;
  margin-bottom: 20px;

  input {
    border: 0;
  }

  &-image {
    float: left;
    left: -13px;
    position: relative;
    top: -25px;
  }
}

.featured-icon {
  background: var(--color-neutral-5);
  border-radius: 35px;
  color: var(--color-neutral-0);
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  top: 5px;
  width: 35px;

  i {
    color: var(--color-neutral-0);
    font-size: .9em;
    font-weight: normal;
  }
}

.popup-inline-content {
  background: none repeat scroll 0 0 var(--color-neutral-0);
  display: none;
  margin: 40px auto;
  max-width: 1170px;
  padding: 20px 30px;
  position: relative;
  text-align: left;
}

.read-more {
  display: inline-block;
  white-space: nowrap;
}

.learn-more {
  display: inline-block;
  white-space: nowrap;
}

.scroll-to-top {
  transition: all .3s;
  background: var(--color-base);
  border-radius: 7px 7px 0 0;
  bottom: 0;
  color: var(--color-neutral-0);
  display: block;
  height: 9px;
  opacity: 0;
  padding: 13px 0 35px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  width: 49px;
  z-index: 1040;

  &:hover {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  &.visible {
    filter: alpha(opacity=75);
    opacity: .75;
  }

  @include media('<desktop') {
    display: none !important;
  }
}

.arrow {
  @media (max-width: 479px) {
    display: none;
  }
}

.counters {
  strong {
    display: block;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
  }

  label {
    display: block;
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
  }
}

.card {
  .nav-tabs .nav-link {
    background: transparent;
    color: $color-blue;
    border-bottom: 1px solid transparent;

    &.active {
      background: var(--color-neutral-0);
      border-bottom-color: var(--color-neutral-0);
      color: var(--color-base);
    }
  }
}

.featured-box {
  &.block {
    background: inherit;
    background-color: var(--color-neutral-0);
  }

  &-secundary {
    i {
      &.icon-featured {
        background-color: $color-blue;
      }
    }

    h4 {
      color: $color-blue;
    }

    .box-content {
      border-top-color: $color-blue;
    }
  }
}

.search-results {
  min-height: 300px;
}

.parallax {
  blockquote {
    i {
      &.icon-quote-left {
        color: $color-blue;
      }
    }
  }

  /*
  + .google-map {
    margin-top: -70px;
  }
  */
}

.flag-throbber {
  display: none;
}

.quote-author {
  .fa-quote-left {
    vertical-align: middle;
  }
}

.recent-posts {
  .date {
    .month {
      background-color: $color-blue;
    }

    .day {
      color: $color-blue;
    }
  }
}

iframe[name='google_conversion_frame'] {
  display: none;
}

.link-highlight {
  display: inline-block;

  &.c-blue {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .4px;
    color: $color-blue;

    &:hover {
      color: $color-blue;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.greeting {
  color: var(--color-neutral-7);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.33;
}

.title_action_container {
  display: inline-block;
  margin-top: 0;

  .btn {
    .icon {
      margin-right: 2px;

      &.icon-pencil {
        -webkit-text-stroke: 0;
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }

  .title_action {
    &:first-child {
      margin-left: 0;
    }
  }
}

.link-wrapper {
  float: right;
  padding: 20px 0;
}

.tabbed-title {
  font-size: 12px;
}

.home-intro {
  background-color: var(--color-base);

  p {
    em {
      color: $color-blue;
    }
  }
}

.home-concept {
  strong {
    color: $color-blue;
  }

  @include media('<desktop') {
    background: none;

    .project-image {
      margin: 60px auto 0 auto;
    }

    .process-image {
      margin-top: 60px;
    }
  }
}

.toggle {
  label {
    font-weight: normal;
  }
}

section {
  &.highlight {
    background-color: $color-blue;
    border-color: $color-blue;
  }

  &.page-top {
    h2 {
      border-bottom-color: $color-blue;
    }

    &.custom-product {
      background-color: $color-blue;
      border-top-color: $color-blue;
    }
  }

  &.toggle {
    label {
      border-left-color: $color-blue;
      color: $color-blue;
    }

    &.active {
      > label {
        background-color: $color-blue;
        border-color: $color-blue;
        color: var(--color-neutral-0);
      }
    }
  }

  &.video {
    blockquote {
      i {
        &.icon-quote-left {
          color: $color-blue;
        }
      }
    }
  }

  &.timeline {
    .timeline-box {
      &.left {
        &:before {
          background: $color-blue;
          box-shadow: 0 0 0 3px var(--color-neutral-0), 0 0 0 6px #0995e0;
        }
      }

      &.right {
        &:before {
          background: $color-blue;
          box-shadow: 0 0 0 3px var(--color-neutral-0), 0 0 0 6px #0995e0;
        }
      }
    }
  }
}
