[data-bs-toggle="tooltip"] {
  cursor: pointer;
}

.tooltip-inner {
  background: $color-black;
  box-shadow: 0 1px 0 0 $color-black;
  max-width: 400px;
  text-align: left !important;
  color: $color-neutral-2;

  .darkmode & {
    background: #000;
    box-shadow: 0 1px 0 0 #000;
  }
}

.tooltip {
  pointer-events: none;

  &.show {
    opacity: 1;
  }

  strong {
    font-weight: 700;
    font-size: 13px;
    display: block;
    margin-bottom: 5px;

    &:before {
      content: '\e80c';
      display: inline-block;
      font-family: 'fa-custom';
      color: $color-green-100;
      margin-right: 5px;
    }
  }

  p {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
  }
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: var(--color-neutral-8);

  .darkmode & {
    border-top-color: #000;
  }
}

.qtip-link {
  border-bottom: none;
  color: inherit;
  cursor: inherit;
}

//@todo: move into popovers
.popover {
  background-color: var(--color-neutral-0);
}

.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  border-bottom-color: var(--color-neutral-0);
}

.popover-header {
  background-color: var(--color-neutral-1);
  border-bottom: 1px solid var(--color-neutral-3);
}

.popover-body {
  color: var(--color-base);
}
