h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-base);
}

h1 {
  letter-spacing: -1px;
  margin: 0 0 8px 0;
  font-size: 3.2em;
  line-height: 44px;

  .path-node & {
    @include responsive-prop(700, 800, 'font-weight');
  }

  &.wso-forum-title {
    @include responsive-prop(24px, 36px, 'font-size');
    display: inline;
    line-height: 1.2;
    letter-spacing: .3px;
    text-transform: capitalize;
  }
}

.formatted-text {
  @include rich-text();
}

p {
  line-height: 24px;

  &.uniqueness-description {
    font-size: .85em;
  }

  &.featured {
    font-size: 1.6em;
    line-height: 1.5em;
  }

  &.short {
    margin-bottom: 0;
  }

  &.tall {
    margin-bottom: 20px;
  }

  &.taller {
    margin-bottom: 40px;
  }
}

b,
strong,
.bold {
  @include responsive-prop(700, 800, 'font-weight');
}

.font-600 {
  font-weight: 400 !important;
}

.font-400 {
  font-weight: 300 !important;
}

.fontawesome-icon-list {
  [class*="col-md-"] {
    margin-bottom: 9px;
  }

  i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
    position: relative;
    text-align: center;
    top: 2px;
    width: 30px;
  }
}

i {
  &.icon {
    &.icon-star {
      color: $color-yellow;
      font-size: 1.2em;
    }
  }

  &.icon-featured {
    background-color: $color-blue;
  }
}

.icon-bananas {
  @include media('<tablet') {
    &:before {
      font-size: 17px;
    }
  }
}

.icon {
  @include media('<tablet') {
    font-size: 17px;
  }
}

.icon-right-dir {
  @include media('<tablet') {
    &.icon-rotate-90 {
      transform: translate(-0.5px, 2px) rotate(90deg);
    }
  }
}

/* Fontello custom settings */
.icon-bananas:before {
  color: #F6BB42;
  font-size: 14px;
} /* '' */

.grey.icon-bananas:before {
  color: #C9C9C9;
}

.icon-check:before {
  content: '\e801';
} /* '' */

/*Replace old icons with new ones */
.icon-time:before {
  content: '\e861'; /* icon-clock-solid */
}

.icon-calendar:before {
  content: '\f274';
}

i[class~="icon"][class*="icon-industry--"] {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.icon-industry {
  &--ib:before {
    content: 'IB';
  }

  &--pe:before {
    content: 'PE';
  }

  &--vc:before {
    content: 'VC';
  }

  &--hf:before {
    content: 'HF';
  }

  &--re:before {
    content: 'RE';
  }

  &--co:before {
    content: 'CO';
  }

  &--tr:before {
    content: 'TR';
  }

  &--am:before {
    content: 'AM';
  }

  &--er:before {
    content: 'ER';
  }

  &--cf:before {
    content: 'CF';
  }
}
