{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set view_mode = view_mode ? 'paragraph--view-mode--' ~ view_mode %}
{% set isPublished = not isPublished ? 'paragraph--unpublished' %}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ bundle,
    'paragraph',
    'paragraph--type--' ~ bundle,
    view_mode,
    isPublished
  ]
%}

{{ attach_library('porto_sub/paragraph.collapsible-sm.component') }}
{% block paragraph %}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
  <div class="content">
    <div role="tab" id="landing-accordion-heading-{{ item_id }}">
      {% if collapsible_text_above %}
        <div class="d-none d-md-block">{{ collapsible_text_above }}</div>
      {% endif %}
      <a class="collapsed visible-xs collapsible-sm-title w-100 bold" role="button" data-bs-toggle="collapse" data-parent="#accordion-{{ parent_pid }}" href="#landing-accordion-collapse-{{ item_id }}"
        aria-expanded="false" aria-controls="collapse-{{ item_id }}">{{ collapsible_titile_sm }}
        <i class="icon icon-angle-up collapsible-icon d-flex align-items-center justify-content-center"></i> 
      </a>
      <div class="d-none d-md-block text-center bold h2">{{ collapsible_titile_sm }}</div>
    </div>
    <div id="landing-accordion-collapse-{{ item_id }}" class="collapse dont-collapse-sm" role="tabpanel"
         aria-labelledby="landing-accordion-heading-{{ item_id }}">
      {% if collapsible_text_above %}
        <div class="visible-xs">{{ collapsible_text_above }}</div>
      {% endif %}
      <div class="panel-body">
        {{ collapsible_content_sm }}
      </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
