@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block!important;
    height: auto!important;
    visibility: visible
  }
}
/*# sourceMappingURL=paragraph.collapsible-sm.component.css.map */
