#wso-sidebar-right table,
#wso-sidebar-right table tbody {
  border: none
}
#wso-sidebar-right .table-striped>tbody>tr:nth-of-type(even),
#wso-sidebar-right .table-striped>tbody>tr:nth-of-type(even):hover,
#wso-sidebar-right .table-striped>tbody>tr:nth-of-type(odd),
#wso-sidebar-right .table-striped>tbody>tr:nth-of-type(odd):hover {
  background-color: transparent
}
#wso-sidebar-right .table-condensed>tbody>tr>td,
#wso-sidebar-right .table-condensed>tbody>tr>th,
#wso-sidebar-right .table-condensed>tfoot>tr>td,
#wso-sidebar-right .table-condensed>tfoot>tr>th,
#wso-sidebar-right .table-condensed>thead>tr>td,
#wso-sidebar-right .table-condensed>thead>tr>th {
  padding: 8px 0
}
#wso-sidebar-right .ajax-progress,
#wso-sidebar-right .ajax-progress-throbber {
  display: none!important
}
.region-sidebar-right h4 {
  margin-top: 25px
}
.region-sidebar-right h4:first-child {
  margin-top: 0
}
.region-sidebar-right > .block {
  border: 0
}
.region-sidebar-right .block {
  background-color: var(--color-neutral-0);
  margin-bottom: 20px;
  border-radius: 0
}
.region-sidebar-right .block .h4 {
  font-weight: 700;
  padding-bottom: 8px;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: .2px;
  color: var(--color-base)
}
.region-sidebar-right .block .block-title,
.region-sidebar-right .block p.h3,
.region-sidebar-right .block p.h4 {
  line-height: 1.25;
  margin: 0;
  padding: 20px 24px
}
.region-sidebar-right .block a:not(.btn) {
  color: var(--color-base)
}
.region-sidebar-right .block .wso-btn-see-all {
  float: right;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.region-sidebar-right .block .wso-btn-see-all:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  text-decoration: none
}
.region-sidebar-right .block .wso-btn-see-all:active,
.region-sidebar-right .block .wso-btn-see-all:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.region-sidebar-right .block .wso-btn-see-all:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.region-sidebar-right .block .wso-btn-see-all:hover {
  background-color: #087dfd;
  color: #fff
}
.region-sidebar-right .block .list li {
  line-height: inherit;
  margin-bottom: 0
}
.region-sidebar-right .block .block__description {
  padding: 0 24px
}
.region-sidebar-right .block .box-content {
  padding: 0
}
.region-sidebar-right .block .box-content ul {
  border-top: 2px solid var(--color-neutral-2);
  padding: 10px 24px 0
}
.region-sidebar-right .block .box-content ul li {
  border-bottom: 1px solid var(--color-neutral-2);
  padding: 5px 0 12px
}
.region-sidebar-right .block .box-content ul li:last-child {
  border: none
}
.region-sidebar-right .block .box-content .block__part_cta {
  padding-bottom: 20px
}
.region-sidebar-right .line {
  background: #087dfd;
  height: 2px;
  position: absolute;
  transition: .5s
}
.region-sidebar-right .block-views .form-group {
  margin-bottom: 0
}
.win.ie .region-sidebar-right .block a.wso-btn-see-all {
  margin-top: -1px
}
#block-block-206 ul.career-resources {
  margin-bottom: 0
}
#block-topcontentblock .box-content > p {
  padding: 20px 24px
}
#block-adib0connectionsblock a,
#block-adib10rejectionsblock a,
#block-adib16interviewnotesblock a,
#block-adib7keysblock a {
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  display: block;
  padding-bottom: 128%
}
#block-adib0connectionsblock a img,
#block-adib10rejectionsblock a img,
#block-adib16interviewnotesblock a img,
#block-adib7keysblock a img {
  position: absolute;
  display: block;
  width: 100%;
  object-fit: cover
}
.investment-banking-forum .region-sidebar-right .block__bundle__sidebar_special .field--type-image img {
  object-fit: cover;
  width: 100%
}
@media (min-width: 992px) {
  .region-sidebar-right .block .h4 {
    font-weight: 800
  }
  #block-topcontentblock {
    min-height: 868px
  }
  #block-topcontentblock [data-big-pipe-placeholder-id] {
    position: relative;
    display: block;
    width: 100%;
    height: 26px;
    background: url(/themes/custom/porto_sub/images/animation/line-loader.gif) center center no-repeat
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .region-sidebar-right .block .wso-btn-see-all {
    position: absolute;
    right: 24px
  }
}
/*# sourceMappingURL=sidebar-right.component.css.map */
