@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#wso-sidebar-right {
  table {
    border: none;

    tbody {
      border: none;
    }
  }

  .table-striped {
    > tbody {
      > tr {
        &:nth-of-type(odd) {
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }

        &:nth-of-type(even) {
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  .table-condensed {
    > thead {
      > tr {
        > th {
          padding: 8px 0;
        }

        > td {
          padding: 8px 0;
        }
      }
    }

    > tbody {
      > tr {
        > th {
          padding: 8px 0;
        }

        > td {
          padding: 8px 0;
        }
      }
    }

    > tfoot {
      > tr {
        > th {
          padding: 8px 0;
        }

        > td {
          padding: 8px 0;
        }
      }
    }
  }

  .ajax-progress {
    display: none !important;
  }

  .ajax-progress-throbber {
    display: none !important;
  }
}

.region-sidebar-right {
  h4 {
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }
  }

  > .block {
    border: 0;
  }

  .block {
    background-color: var(--color-neutral-0);
    margin-bottom: 20px;
    border-radius: 0;

    .h4 {
      @include responsive-prop(700, 800, 'font-weight');
      padding-bottom: 8px;
      font-size: 17px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: 0.2px;
      color: var(--color-base);
    }

    .block-title,
    p.h3,
    p.h4 {
      line-height: 1.25;
      margin: 0;
      padding: 20px 24px;
    }

    a:not(.btn) {
      color: var(--color-base);
    }

    .wso-btn-see-all {
      @include wso-button-outline-variant('success', $color-blue);
      float: right;
      text-transform: uppercase;

      &:hover {
        background-color: $color-blue;
        color: white;
      }

      @include media('>=desktop', '<large-desktop') {
        position: absolute;
        right: 24px;
      }
    }

    .list {
      li {
        line-height: inherit;
        margin-bottom: 0;
      }
    }

    .block__description {
      padding: 0 24px;
    }

    .box-content {
      padding: 0;

      ul {
        border-top: 2px solid var(--color-neutral-2);
        padding: 10px 24px 0;

        li {
          border-bottom: 1px solid var(--color-neutral-2);
          padding: 5px 0 12px;

          &:last-child {
            border: none;
          }
        }
      }

      .block__part_cta {
        padding-bottom: 20px;
      }
    }
  }

  .line {
    background: $color-blue;
    height: 2px;
    position: absolute;
    transition: all .5s;
  }

  .block-views {
    .form-group {
      margin-bottom: 0;
    }
  }
}

.win {
  &.ie {
    .region-sidebar-right {
      .block {
        a {
          &.wso-btn-see-all {
            margin-top: -1px;
          }
        }
      }
    }
  }
}

// Small blocks
#block-block-206 {
  ul {
    &.career-resources {
      margin-bottom: 0;
    }
  }
}

#block-topcontentblock {
  @include media('>=desktop') {
    min-height: 868px;

    [data-big-pipe-placeholder-id] {
      position: relative;
      display: block;
      width: 100%;
      height: 26px;
      background: url('/themes/custom/porto_sub/images/animation/line-loader.gif') no-repeat center center;
    }
  }

  .box-content > p {
    padding: 20px 24px;
  }
}

#block-adib16interviewnotesblock,
#block-adib10rejectionsblock,
#block-adib0connectionsblock,
#block-adib7keysblock {
  a {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    display: block;
    padding-bottom: 128%;

    img {
      position: absolute;
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}

.investment-banking-forum {
  .region-sidebar-right {
    .block__bundle__sidebar_special {
      .field--type-image {
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}
