.container--alt {
  > .row {
    margin-left: 0;
    margin-right: 0;

    > .col-lg-24 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.node-financial-dictionary-term {
  .field--type-text-long,
  .field-name-field-wsop-rich-text,
  .field--type-text-with-summary {
    &,
    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.page-finance-dictionary {
  .container--wso,
  #content > .container {
    @include media('>=tablet') {
      max-width: 920px;
    }

    @include media('>=desktop') {
      max-width: 920px;
    }

    @include media('>=large-desktop') {
      max-width: 920px;
    }
  }

  .container--wso {
    @include media('>=tablet') {
      padding-left: 15px !important;
    }
  }
}
