<div class="container">
  <h2>Views table:</h2>
  <div class="table-responsive">
  <table class="table table-bordered table-sm table-hover wso-table-left">
    <thead>
    <tr>
      <th id="view-title-table-column" class="views-field views-field-title" scope="col">Title</th>
      <th id="view-changed-table-column" class="views-field views-field-changed" scope="col">Changed</th>
      <th id="view-delete-node-table-column" class="views-field views-field-delete-node" scope="col">Link to delete
        Content
      </th>
      <th id="view-edit-node-table-column" class="views-field views-field-edit-node" scope="col">Link to edit
        Content
      </th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">The Talent
                                                                                     Oasis - FAQs</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">March 20, 2023</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node"></td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">sdfsdf
                                                                                     sddfsf</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">January 8, 2023</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete</td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">Test template
          Here - Cloned - Cloned</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 25, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete</td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">Subscription</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 25, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete
      </td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">Subscription</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 25, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete
      </td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">Super Premium template</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 25, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete</td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">Premium
                                                                                     template</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 25, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete</td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">Cloned</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 24, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete</td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">Test template Here</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 24, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete</td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit
      </td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">sdfsdf
                                                                                     sddfsf</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 23, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete</td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">Template
                                                                                     Library</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 9, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node">delete</td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    <tr>
      <td headers="view-title-table-column" class="views-field views-field-title">New Landing
                                                                                     from Nabil</td>
      <td headers="view-changed-table-column" class="views-field views-field-changed">November 2, 2022</td>
      <td headers="view-delete-node-table-column" class="views-field views-field-delete-node"></td>
      <td headers="view-edit-node-table-column" class="views-field views-field-edit-node">edit</td>
    </tr>
    </tbody>
  </table>
</div>

<h2 class="mt-6">Default Table inside Body:</h2>
<h3>Header style: first row</h3>

<div class="formatted-text">
  <div class="table-responsive">
  <table border="1" cellpadding="5" cellspacing="0" class="table" id="private-equity-fund-pay-by-aum"
         itemtype="https://schema.org/table" style="width: 100%;"
         summary="This table gives a summary of private equity pay by AUM">
    <caption about="" itemprop="">Private Equity Compensation by AUM</caption>
    <thead>
    <tr>
      <th scope="col"><strong>Regions and roles</strong></th>
      <th scope="col"><strong>&lt; $500M</strong></th>
      <th scope="col"><strong>$500M - $1B</strong></th>
      <th scope="col"><strong>$1B - $2B</strong></th>
      <th scope="col"><strong>$2B - $4B</strong></th>
      <th scope="col"><strong>$4B - $6B</strong></th>
      <th scope="col"><strong>$6B - $10B</strong></th>
      <th scope="col"><strong>&gt; $10B</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Associate/Senior Associate</td>
      <td>$177,000</td>
      <td>$203,000</td>
      <td>$211,000</td>
      <td>$249,000</td>
      <td>$260,000</td>
      <td>$284,000</td>
      <td>$300,000</td>
    </tr>
    <tr>
      <td>Vice President</td>
      <td>$266,000</td>
      <td>$304,000</td>
      <td>$349,000</td>
      <td>$410,000</td>
      <td>$409,000</td>
      <td>$457,000</td>
      <td>$520,000</td>
    </tr>
    <tr>
      <td>Principal</td>
      <td>$471,000</td>
      <td>$461,000</td>
      <td>$500,000</td>
      <td>$608,000</td>
      <td>$609,000</td>
      <td>$752,000</td>
      <td>$840,000</td>
    </tr>
    <tr>
      <td>Partner/MD</td>
      <td>$592,000</td>
      <td>$845,000</td>
      <td>$885,000</td>
      <td>$998,000</td>
      <td>$1,392,000</td>
      <td>$1,642,000</td>
      <td>$1,490,000</td>
    </tr>
    <tr>
      <td>Managing Partner</td>
      <td>$1,900,000</td>
      <td>$915,000</td>
      <td>$2,455,000</td>
      <td>$1,669,000</td>
      <td>$3,086,000</td>
      <td>N/A</td>
      <td>$3,300,000</td>
    </tr>
    </tbody>
  </table>
</div>
</div>

<h2 class="mt-6">Bordered, stripped, hovered Table inside Body:</h2>
<h3>Header style: first row</h3>
<div class="formatted-text">
  <div class="table-responsive">
  <table border="1" cellpadding="5" cellspacing="0" class="table table-striped table-hover table-bordered"
         id="private-equity-fund-pay-by-aum" itemtype="https://schema.org/table" style="width: 100%;"
         summary="This table gives a summary of private equity pay by AUM">
    <caption about="" itemprop="">Private Equity Compensation by AUM</caption>
    <thead>
    <tr>
      <th scope="col"><strong>Regions and roles</strong></th>
      <th scope="col"><strong>&lt; $500M</strong></th>
      <th scope="col"><strong>$500M - $1B</strong></th>
      <th scope="col"><strong>$1B - $2B</strong></th>
      <th scope="col"><strong>$2B - $4B</strong></th>
      <th scope="col"><strong>$4B - $6B</strong></th>
      <th scope="col"><strong>$6B - $10B</strong></th>
      <th scope="col"><strong>&gt; $10B</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Associate/Senior Associate</td>
      <td>$177,000</td>
      <td>$203,000</td>
      <td>$211,000</td>
      <td>$249,000</td>
      <td>$260,000</td>
      <td>$284,000</td>
      <td>$300,000</td>
    </tr>
    <tr>
      <td>Vice President</td>
      <td>$266,000</td>
      <td>$304,000</td>
      <td>$349,000</td>
      <td>$410,000</td>
      <td>$409,000</td>
      <td>$457,000</td>
      <td>$520,000</td>
    </tr>
    <tr>
      <td>Principal</td>
      <td>$471,000</td>
      <td>$461,000</td>
      <td>$500,000</td>
      <td>$608,000</td>
      <td>$609,000</td>
      <td>$752,000</td>
      <td>$840,000</td>
    </tr>
    <tr>
      <td>Partner/MD</td>
      <td>$592,000</td>
      <td>$845,000</td>
      <td>$885,000</td>
      <td>$998,000</td>
      <td>$1,392,000</td>
      <td>$1,642,000</td>
      <td>$1,490,000</td>
    </tr>
    <tr>
      <td>Managing Partner</td>
      <td>$1,900,000</td>
      <td>$915,000</td>
      <td>$2,455,000</td>
      <td>$1,669,000</td>
      <td>$3,086,000</td>
      <td>N/A</td>
      <td>$3,300,000</td>
    </tr>
    </tbody>
  </table>
</div>
</div>

<h2 class="mt-6">Default Table inside Paragraph 'Rich text':</h2>
<h3>Header style: first row</h3>
<div class="paragraphs-item-wso-paragraph-rich-text">
  <div class="formatted-text">
    <div class="table-responsive">
    <table border="1" cellpadding="5" cellspacing="0" class="table" id="private-equity-fund-pay-by-aum"
           itemtype="https://schema.org/table" style="width: 100%;"
           summary="This table gives a summary of private equity pay by AUM">
      <caption about="" itemprop="">Private Equity Compensation by AUM</caption>
      <thead>
      <tr>
        <th scope="col"><strong>Regions and roles</strong></th>
        <th scope="col"><strong>&lt; $500M</strong></th>
        <th scope="col"><strong>$500M - $1B</strong></th>
        <th scope="col"><strong>$1B - $2B</strong></th>
        <th scope="col"><strong>$2B - $4B</strong></th>
        <th scope="col"><strong>$4B - $6B</strong></th>
        <th scope="col"><strong>$6B - $10B</strong></th>
        <th scope="col"><strong>&gt; $10B</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Associate/Senior Associate</td>
        <td>$177,000</td>
        <td>$203,000</td>
        <td>$211,000</td>
        <td>$249,000</td>
        <td>$260,000</td>
        <td>$284,000</td>
        <td>$300,000</td>
      </tr>
      <tr>
        <td>Vice President</td>
        <td>$266,000</td>
        <td>$304,000</td>
        <td>$349,000</td>
        <td>$410,000</td>
        <td>$409,000</td>
        <td>$457,000</td>
        <td>$520,000</td>
      </tr>
      <tr>
        <td>Principal</td>
        <td>$471,000</td>
        <td>$461,000</td>
        <td>$500,000</td>
        <td>$608,000</td>
        <td>$609,000</td>
        <td>$752,000</td>
        <td>$840,000</td>
      </tr>
      <tr>
        <td>Partner/MD</td>
        <td>$592,000</td>
        <td>$845,000</td>
        <td>$885,000</td>
        <td>$998,000</td>
        <td>$1,392,000</td>
        <td>$1,642,000</td>
        <td>$1,490,000</td>
      </tr>
      <tr>
        <td>Managing Partner</td>
        <td>$1,900,000</td>
        <td>$915,000</td>
        <td>$2,455,000</td>
        <td>$1,669,000</td>
        <td>$3,086,000</td>
        <td>N/A</td>
        <td>$3,300,000</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<h2 class="mt-6">Default Table inside Paragraph 'Table':</h2>
<h3>Header style: first row</h3>
<div
  class="entity entity-paragraphs-item paragraphs-item-wso-paragraph-table paragraph paragraph--type--wso-paragraph-table paragraph--view-mode--default header-type-0">
  <div class="formatted-text">

    <table border="1" cellpadding="5" cellspacing="0" class="table" id="private-equity-fund-pay-by-aum"
           itemtype="https://schema.org/table" style="width: 100%;"
           summary="This table gives a summary of private equity pay by AUM">
      <caption about="" itemprop="">Private Equity Compensation by AUM</caption>
      <thead>
      <tr>
        <th scope="col"><strong>Regions and roles</strong></th>
        <th scope="col"><strong>&lt; $500M</strong></th>
        <th scope="col"><strong>$500M - $1B</strong></th>
        <th scope="col"><strong>$1B - $2B</strong></th>
        <th scope="col"><strong>$2B - $4B</strong></th>
        <th scope="col"><strong>$4B - $6B</strong></th>
        <th scope="col"><strong>$6B - $10B</strong></th>
        <th scope="col"><strong>&gt; $10B</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr class="odd">
        <td>Associate/Senior Associate</td>
        <td>$177,000</td>
        <td>$203,000</td>
        <td>$211,000</td>
        <td>$249,000</td>
        <td>$260,000</td>
        <td>$284,000</td>
        <td>$300,000</td>
      </tr>
      <tr class="even">
        <td>Vice President</td>
        <td>$266,000</td>
        <td>$304,000</td>
        <td>$349,000</td>
        <td>$410,000</td>
        <td>$409,000</td>
        <td>$457,000</td>
        <td>$520,000</td>
      </tr>
      <tr class="odd">
        <td>Principal</td>
        <td>$471,000</td>
        <td>$461,000</td>
        <td>$500,000</td>
        <td>$608,000</td>
        <td>$609,000</td>
        <td>$752,000</td>
        <td>$840,000</td>
      </tr>
      <tr class="even">
        <td>Partner/MD</td>
        <td>$592,000</td>
        <td>$845,000</td>
        <td>$885,000</td>
        <td>$998,000</td>
        <td>$1,392,000</td>
        <td>$1,642,000</td>
        <td>$1,490,000</td>
      </tr>
      <tr class="odd">
        <td>Managing Partner</td>
        <td>$1,900,000</td>
        <td>$915,000</td>
        <td>$2,455,000</td>
        <td>$1,669,000</td>
        <td>$3,086,000</td>
        <td>N/A</td>
        <td>$3,300,000</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<h2 class="mt-6">Same table inside 'Resource page':</h2>
<h3>Header style: first row</h3>
<div class="node-type-category-page">
  <div class="paragraphs-item-wso-paragraph-rich-text">
    <div class="formatted-text">
      <div class="table-responsive">
      <table border="1" cellpadding="5" cellspacing="0" class="table" id="private-equity-fund-pay-by-aum"
             itemtype="https://schema.org/table" style="width: 100%;"
             summary="This table gives a summary of private equity pay by AUM">
        <caption about="" itemprop="">Private Equity Compensation by AUM</caption>
        <thead>
        <tr>
          <th scope="col"><strong>Regions and roles</strong></th>
          <th scope="col"><strong>&lt; $500M</strong></th>
          <th scope="col"><strong>$500M - $1B</strong></th>
          <th scope="col"><strong>$1B - $2B</strong></th>
          <th scope="col"><strong>$2B - $4B</strong></th>
          <th scope="col"><strong>$4B - $6B</strong></th>
          <th scope="col"><strong>$6B - $10B</strong></th>
          <th scope="col"><strong>&gt; $10B</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Associate/Senior Associate</td>
          <td>$177,000</td>
          <td>$203,000</td>
          <td>$211,000</td>
          <td>$249,000</td>
          <td>$260,000</td>
          <td>$284,000</td>
          <td>$300,000</td>
        </tr>
        <tr>
          <td>Vice President</td>
          <td>$266,000</td>
          <td>$304,000</td>
          <td>$349,000</td>
          <td>$410,000</td>
          <td>$409,000</td>
          <td>$457,000</td>
          <td>$520,000</td>
        </tr>
        <tr>
          <td>Principal</td>
          <td>$471,000</td>
          <td>$461,000</td>
          <td>$500,000</td>
          <td>$608,000</td>
          <td>$609,000</td>
          <td>$752,000</td>
          <td>$840,000</td>
        </tr>
        <tr>
          <td>Partner/MD</td>
          <td>$592,000</td>
          <td>$845,000</td>
          <td>$885,000</td>
          <td>$998,000</td>
          <td>$1,392,000</td>
          <td>$1,642,000</td>
          <td>$1,490,000</td>
        </tr>
        <tr>
          <td>Managing Partner</td>
          <td>$1,900,000</td>
          <td>$915,000</td>
          <td>$2,455,000</td>
          <td>$1,669,000</td>
          <td>$3,086,000</td>
          <td>N/A</td>
          <td>$3,300,000</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

