.block-accordion {
  background: var(--color-neutral-0);
  padding: 32px 48px
}
.block-accordion .panel-title {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: .1px;
  color: var(--color-base)
}
.block-accordion .panel-title a {
  position: relative
}
.block-accordion .panel-title a:before {
  background-color: #087dfd;
  border-radius: 1.5px;
  content: " ";
  height: 3px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  z-index: 999
}
.block-accordion .panel-title a:after {
  background-color: #087dfd;
  border-radius: 1.5px;
  content: " ";
  height: 15px;
  left: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  z-index: 999
}
.block-accordion .panel-title a[aria-expanded=true]:after {
  content: none
}
.block-accordion .panel-group {
  margin: 0
}
.block-accordion .panel-group .panel + .panel {
  margin-top: 0
}
.block-accordion .panel-group .panel-heading a {
  display: inline-block;
  padding: 0 0 0 40px
}
.block-accordion .panel-default > .panel-heading {
  background: 0 0;
  border: none;
  padding: 0
}
.block-accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
  color: var(--color-base);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.75
}
.block-accordion .panel-body {
  padding: 0
}
.block-accordion_head {
  margin-bottom: 10px
}
.block-accordion_head p {
  color: #9db2bc;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.13;
  margin: 0 0 40px
}
.darkmode .block-accordion_head p {
  color: #c0beba
}
.block-accordion_head h3 {
  color: var(--color-base);
  font-size: 32px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.19;
  margin: 0 0 8px
}
.faq__block .panel-title {
  padding: 10px 0;
  margin-bottom: 0
}
.faq__block .panel-group .panel-title a {
  color: var(--color-base);
  font-size: 16px
}
.faq__block .panel.panel-default {
  border: none;
  border-bottom: 2px solid var(--color-light-blue);
  border-radius: 0;
  box-shadow: none
}
.faq__block .panel.panel-default:first-child {
  border-radius: 0;
  border-top: 2px solid var(--color-light-blue);
  border-bottom: 0
}
.node-category-page .block-accordion,
.node-financial-dictionary-term .block-accordion,
.node-page .block-accordion {
  padding: 20px 0 0
}
.node-category-page .block-accordion_head h3,
.node-financial-dictionary-term .block-accordion_head h3,
.node-page .block-accordion_head h3 {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-base)
}
.node-category-page .block-accordion_head p,
.node-financial-dictionary-term .block-accordion_head p,
.node-page .block-accordion_head p {
  color: var(--color-base);
  font-size: 1rem;
  line-height: 22px;
  margin-bottom: 20px
}
.node-category-page .block-accordion .paragraph--type--accordion-item,
.node-financial-dictionary-term .block-accordion .paragraph--type--accordion-item,
.node-page .block-accordion .paragraph--type--accordion-item {
  margin-bottom: 0
}
.node-category-page .block-accordion .panel,
.node-financial-dictionary-term .block-accordion .panel,
.node-page .block-accordion .panel {
  margin: 0
}
.node-category-page .block-accordion .panel-title,
.node-financial-dictionary-term .block-accordion .panel-title,
.node-page .block-accordion .panel-title {
  font-weight: 700;
  margin: 0;
  color: var(--color-base)
}
.node-category-page .block-accordion .panel-title a,
.node-financial-dictionary-term .block-accordion .panel-title a,
.node-page .block-accordion .panel-title a {
  font-size: 18px;
  line-height: 28px
}
.node-category-page .block-accordion .panel-body,
.node-financial-dictionary-term .block-accordion .panel-body,
.node-page .block-accordion .panel-body {
  padding-bottom: 0
}
.node-category-page .block-accordion {
  padding: 20px
}
@media (min-width: 768px) {
  .block-accordion.faq__block {
    margin: 80px 0 140px
  }
  .block-accordion.faq__block .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding-left: 40px
  }
  .block-accordion .panel-group .panel-heading a {
    font-weight: 900;
    width: 100%
  }
  .node-category-page .block-accordion.faq__block,
  .node-financial-dictionary-term .block-accordion.faq__block,
  .node-page .block-accordion.faq__block {
    margin: 0
  }
  .node-category-page .block-accordion.faq__block {
    margin: 20px 0
  }
}
@media (min-width: 992px) {
  .block-accordion_head h3 {
    font-weight: 800
  }
  .node-category-page .block-accordion_head h3,
  .node-financial-dictionary-term .block-accordion_head h3,
  .node-page .block-accordion_head h3 {
    font-size: 26px;
    font-weight: 800
  }
  .node-category-page .block-accordion .panel-title,
  .node-financial-dictionary-term .block-accordion .panel-title,
  .node-page .block-accordion .panel-title {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .block-accordion {
    padding: 20px 15px 10px;
    margin-bottom: 20px
  }
  .block-accordion .panel-group .panel-heading a {
    display: inline-block;
    font-size: 14px;
    position: relative
  }
  .block-accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
    font-size: 13px
  }
  .block-accordion .panel-body {
    padding: 0 0 15px
  }
  .block-accordion_head h3 {
    font-size: 24px
  }
  .block-accordion_head p {
    font-size: 14px
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .block-accordion {
    padding: 60px 10px 0
  }
  .block-accordion .panel-group .panel-heading a {
    display: inline-block;
    font-size: 24px;
    margin-right: 45px
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .block-accordion .panel-group .panel-heading a {
    display: inline-block;
    font-size: 24px;
    margin-right: 45px
  }
  .block-accordion.faq__block .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding-left: 40px
  }
}
/*# sourceMappingURL=faq.component.css.map */
