@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.block-accordion {
  background: var(--color-neutral-0);
  padding: 32px 48px;

  .panel-title {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: .1px;
    color: var(--color-base);

    a {
      position: relative;

      &:before {
        background-color: $color-blue;
        border-radius: 1.5px;
        content: " ";
        height: 3px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        z-index: 999;
      }

      &:after {
        background-color: $color-blue;
        border-radius: 1.5px;
        content: " ";
        height: 15px;
        left: 6px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        z-index: 999;
      }
    }

    a[aria-expanded=true] {
      &:after {
        content: none;
      }
    }
  }

  .panel-group {
    .panel {
      + .panel {
        margin-top: 0;
      }
    }

    .panel-heading {
      a {
        display: inline-block;
        padding: 0 0 0 40px;
      }
    }
    margin: 0;
  }

  .panel-default {
    > .panel-heading {
      background: 0 0;
      border: none;
      padding: 0;

      + .panel-collapse {
        > .panel-body {
          border-top: none;
          color: var(--color-base);
          font-size: 16px;
          font-weight: 300;
          letter-spacing: .2px;
          line-height: 1.75;
        }
      }
    }
  }

  .panel-body {
    padding: 0;
  }
}

.block-accordion_head {
  margin-bottom: 10px;

  p {
    @include font-color-grey-darkmode;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.13;
    margin: 0 0 40px;
  }

  h3 {
    color: var(--color-base);
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: normal;
    line-height: 1.19;
    margin: 0 0 8px;
  }
}

.faq__block {
  .panel-title {
    padding: 10px 0;
    margin-bottom: 0;
  }

  .panel-group {
    .panel-title {
      a {
        color: var(--color-base);
        font-size: 16px;
      }
    }
  }

  .panel {
    &.panel-default {
      border: none;
      border-bottom: 2px solid  var(--color-light-blue);
      border-radius: 0;
      box-shadow: none;

      &:first-child {
        border-radius: 0;
        border-top: 2px solid  var(--color-light-blue);
        border-bottom: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .block-accordion {
    padding: 20px 15px 10px;
    margin-bottom: 20px;

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 14px;
          position: relative;
        }
      }
    }

    .panel-default {
      > .panel-heading {
        + .panel-collapse {
          > .panel-body {
            font-size: 13px;
          }
        }
      }
    }

    .panel-body {
      padding: 0 0 15px;
    }
  }

  .block-accordion_head {
    h3 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) {
  .block-accordion {
    &.faq__block {
      margin: 80px 0 140px;

      .panel-default {
        > .panel-heading {
          + .panel-collapse {
            > .panel-body {
              padding-left: 40px;
            }
          }
        }
      }
    }
    .panel-group {
      .panel-heading {
        a {
          font-weight: 900;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .block-accordion {
    padding: 60px 10px 0;

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 24px;
          margin-right: 45px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .block-accordion {
    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 24px;
          margin-right: 45px;
        }
      }
    }

    &.faq__block {
      .panel-default {
        > .panel-heading {
          + .panel-collapse {
            > .panel-body {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }
}

// Special styles for FAQ blocks inside 'page' node or 'finance dictionary term' nodes or 'category page' nodes.
.node-financial-dictionary-term,
.node-category-page,
.node-page {
  .block-accordion {
    padding: 20px 0 0;

    &.faq__block {
      @include media('>=tablet') {
        margin: 0;
      }
    }

    &_head {
      h3 {
        @include responsive-prop(16px, 26px, 'font-size');
        @include responsive-prop(700, 800, 'font-weight');
        color: var(--color-base);
      }

      p {
        color: var(--color-base);
        font-size: 1rem;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }

    .paragraph--type--accordion-item {
      margin-bottom: 0;
    }

    .panel {
      margin: 0;
    }

    .panel-title {
      @include responsive-prop(700, 800, 'font-weight');
      margin: 0;
      color: var(--color-base);

      a {
        font-size: 18px;
        line-height: 28px;
      }
    }

    .panel-body {
      padding-bottom: 0;
    }
  }
}

.node-category-page .block-accordion {
  padding: 20px;

  &.faq__block {
    @include media('>=tablet') {
      margin: 20px 0;
    }
  }
}
