<div class="ajaxprofilepane">
  <div class="preview-profile-full-width">
    <div class="preview-profile-name">
      <div class="name">{{ details.name }}</div>
      <div class="name-icons">
        <div class="preview-wso-credits preview-float-left"><i class="icon grey icon-bananas" title="Silver Banana"></i> {{ details.silver_bananas }}</div> <br />
        <div class="preview-wso-bananas preview-float-left"><i class="icon icon-bananas" title="Bananas"></i> {{ details.banana_points }}</div> <br />
        <div class="preview-wso-ms preview-float-left"><i class="icon icon-poo"></i> {{ details.monkey_shit }}</div> <br />
        {{ banana_points }}
      </div>
    </div>

    {% if details.certified_user %}
      <div class="preview-profile-certification">
        <i class="icon icon-star"></i>&nbsp;&nbsp;Certified User&nbsp;&nbsp;<i class="icon icon-star"></i>
      </div>
    {% else %}
      <div class="preview-profile-certification preview-profile-certification">Not Certified</div>
    {% endif %}

    <div class="preview-profile-section">
      <div class="preview-profile-list-item">{{ details.title }} - {{ details.industry }}</div>
      {% if is_admin %}
        <div class="preview-profile-list-item">Number of violations of this user: {{ details.violations }}</div>
      {% endif %}
    </div>
  </div>
</div>
