@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include wso-button-variant($color, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include wso-button-outline-variant($color, $value);
  }
}

.btn {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.015em;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);

  &.btn-xs {
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-border-radius-sm);
    line-height: 1.5;
  }

  &.btn-md,
  &.btn-lg,
  &.btn-xl,
  &.lg-btn-xl {
    text-transform: uppercase;
  }

  //&.btn-lg {
    //@include button-size(14px, 20px, 18px, 1.5, 3px);
  //}

  &.btn-xl {
    @include button-size(18px, 20px, 18px, 3px);
  }

  &.lg-btn-xl {
    @include media('>=desktop') {
      @include button-size(18px, 20px, 18px, 3px);
    }
  }

  &-success {
    @include wso-button-variant('primary', $color-green-100);
  }

  &-info {
    @include wso-button-variant('primary', $color-blue);
  }

  // Special styles
  &-outline {
    &-secondary {
      @include btn-secondary();
    }

    &-info {
      @include wso-button-outline-variant('primary', $color-blue);
    }
  }

  &.btn-secondary {
    @include wso-button-outline-variant('success', $color-green-100);

    &.mono {
      @include btn-secondary();
    }
  }

  // Legacy classes
  &-mono-danger {
    @include wso-button-outline-variant('danger', $color-red);
  }

  &.btn-success-ghost {
    @include wso-button-outline-variant('success', $color-green-100);
  }

  &.btn-link {
    border: 0 !important;
    background: transparent !important;
  }

  &.btn-default-outline {
    @include btn-default--white();
  }

  &.btn-default-dark-outline {
    border: $btn-border-width solid var(--color-base);
    background-color: transparent;
    color: var(--color-base);

    &:hover {
      background-color: var(--color-base);
      color: var(--color-neutral-0);
    }
  }

  &.btn-primary-outline {
    @include wso-button-outline-variant('primary', $color-blue);
  }

  &.btn-other {
    display: inline-block;
    border-color: transparent;
    background-color: rgba(121, 186, 90, .1);
    color: $color-green-100;
  }

  &.btn-lines {
    @include wso-button-outline-variant('success', $color-green-100);
    color: $color-green-100;
    background: transparent !important;
  }

  &.btn--svg-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &.btn-success svg {
      fill: var(--color-neutral-0);
    }

    &.btn-link svg {
      fill: $color-blue;
    }

    &.btn-lines svg {
      fill: $color-green-100;
    }

    &.btn-default-outline {
      svg {
        fill: var(--color-neutral-0);
      }

      &:hover svg{
        fill: var(--color-base);
      }
    }

    .icon {
      margin-right: 10px;
    }

    .svgicon {
      margin-left: 10px;

      svg {
        vertical-align: top;
      }
    }
  }

  // Disabled state
  &.disabled,
  &:disabled {
    opacity: 1;
  }

  &:focus {
    outline: 0;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//
.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

//
// Block button
//
.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-head {
  margin: 0 8px;
}

.btn-foot {
  margin: 0 12px;
}

.btn-icon {
  i {
    margin-right: 10px;
  }

  &-right {
    i {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}

.btn-responsive-nav {
  display: none;

  @include media('<tablet') {
    //top: 14px;
    top: 55px;
  }

  @include media('<desktop') {
    padding: 6px 12px;
    //right: 15px;
    //top: 2px;
    background: var(--color-base);
    top: 11px;
    display: block;
    position: absolute;
    right: 20px;
    color: var(--color-neutral-0);

    &:hover {
      color: var(--color-neutral-5);
    }

    &:active {
      color: var(--color-neutral-5);
    }

    &:focus {
      color: var(--color-neutral-5);
    }
  }
}

.btn-responsive-search {
  display: none;

  @include media('<tablet') {
    top: 14px;
  }

  @include media('<desktop') {
    top: 2px;
    background: var(--color-base);
    display: block;
    position: absolute;
    right: 65px;
    color: var(--color-neutral-0);
    padding: 6px 12px;

    &:hover {
      color: var(--color-neutral-5);
    }

    &:active {
      color: var(--color-neutral-5);
    }

    &:focus {
      color: var(--color-neutral-5);
    }
  }
}

// Special buttons.
.btn-lp-orange {
  @extend .btn;
  @extend .btn-warning;
  background-color: #ffba00 !important;
  border-bottom-color: #FF6C00 !important;

  @include media('>=desktop') {
    padding: 14px 16px 12px;
    font-size: 19px;
  }
}
