@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.paragraph--type--table-of-contents {
  background: var(--color-neutral-0);
  padding: 10px 10px 0;

  @include media('>=desktop') {
    position: sticky;
    top: 150px;
  }

  .field-name-field-wsop-title {
    font-weight: 600;
    padding-left: 0.5rem;
  }

  .field-name-field-paragraph-text {
    ul,
    ol {
      margin-bottom: 1em;
    }
  }
}

#scroll-spy-nav {
  ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;

    a {
      display: block;
      font-weight: normal;
      border-color: transparent;
      background: transparent;
      color: $color-monkey-blue;
      line-height: 1.2;
      padding: 0.5rem;
      text-align: left;
      font-size: 15px;

      &:hover {
        color: white;
        border-color: $color-link-blue;
        background: $color-link-blue;
      }

      &.active {
        color: white;
        border-color: $color-oasis-blue;
        background: $color-oasis-blue;
      }
    }
  }
}

.scroll-spy-link-active {
  display: block;
}
