.paragraph--type--table-of-contents {
  background: var(--color-neutral-0);
  padding: 10px 10px 0
}
.paragraph--type--table-of-contents .field-name-field-wsop-title {
  font-weight: 600;
  padding-left: .5rem
}
.paragraph--type--table-of-contents .field-name-field-paragraph-text ol,
.paragraph--type--table-of-contents .field-name-field-paragraph-text ul {
  margin-bottom: 1em
}
#scroll-spy-nav ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0
}
#scroll-spy-nav ul a {
  display: block;
  font-weight: normal;
  border-color: transparent;
  background: 0 0;
  color: #0a4059;
  line-height: 1.2;
  padding: .5rem;
  text-align: left;
  font-size: 15px
}
#scroll-spy-nav ul a:hover {
  color: #fff;
  border-color: #087dfd;
  background: #087dfd
}
#scroll-spy-nav ul a.active {
  color: #fff;
  border-color: #189eda;
  background: #189eda
}
.scroll-spy-link-active {
  display: block
}
@media (min-width: 992px) {
  .paragraph--type--table-of-contents {
    position: sticky;
    top: 150px
  }
}
/*# sourceMappingURL=paragraph.toc.component.css.map */
