@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

blockquote.testimonial {
  min-height: 105px;
}

/*
 * Remove bottom links
 */
.vud-widget,
ul.links.inline,
.field-name-taxonomy-vocabulary-15 a {
  display: none;
}

.server-img,
.book-img {
  width: 100%;
  height: 100%;
  display: none;
}

/*.field.field-name-field-free-download .field-item.even {
  margin-left: -15px;
  margin-right: -15px;
}*/
.page-node- .well {
  padding: 0 !important;
  border: 0;
}

.page-node- .tabs {
  margin-bottom: 0;
}

/*.page-node- #admin-menu-wrapper {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.page-node- #admin-menu {
  top: -2rem;
}*/

#block-block-139 {
  background: rgba(238, 238, 238, 1);
  background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(251, 251, 251, 1) 16%, rgba(251, 251, 251, 1) 49%, rgba(240, 240, 240, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(16%, rgba(251, 251, 251, 1)), color-stop(49%, rgba(251, 251, 251, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
  background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(251, 251, 251, 1) 16%, rgba(251, 251, 251, 1) 49%, rgba(240, 240, 240, 1) 100%);
  background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(251, 251, 251, 1) 16%, rgba(251, 251, 251, 1) 49%, rgba(240, 240, 240, 1) 100%);
  background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(251, 251, 251, 1) 16%, rgba(251, 251, 251, 1) 49%, rgba(240, 240, 240, 1) 100%);
  background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(251, 251, 251, 1) 16%, rgba(251, 251, 251, 1) 49%, rgba(240, 240, 240, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f0f0f0', GradientType=0);
}

section.page-top.custom-product {
  margin-bottom: 0;
  padding-bottom: 3rem;
  background: none;
  border: 0;
}

.page-top.custom-product h1 {
  /*margin-top: 0;*/
  /*padding-bottom: 3rem;*/
  /*font-size: 34px;*/
  color: #0084bf;
  /*border-bottom: 1px solid #ebebeb;*/
}

.page-top.custom-product h1 span {
  font-weight: 800;
  font-size: 45px;
}

.page-top.custom-product h4 {
  font-size: 20px;
}

.page-top.custom-product p.lead {
  margin-top: 2rem;
  font-size: 18px;
  color: #5a6063;
}

.black-cta .get-items {
  margin-left: 32px;
}

.page-top.custom-product .get-items li {
  margin-bottom: 1rem;
  font-size: 16px;
}

.black-cta .get-items li {
  margin-bottom: 3px;
  font-size: 16px;
  color: #FFF;
  /*font-family: "Open Sans", serif;*/
}

.page-top.custom-product .get-items li i {
  margin-right: 5px;
  color: #0078ae;
}

.black-cta .get-items li i {
  margin-right: 5px;
  color: #5cd0ff;
}

.black-cta .get-items li a {
  color: #5cd0ff;
}

.page-top.custom-product .fa-arrow-down {
  margin-left: 5px;
  color: #0078ae;
}

.guide-thumb {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  border: 21px solid var(--color-neutral-2);
  background: #FFF;
  text-align: center;
}

.page-top.custom-product img {
  bottom: 0;
}

.page-top.custom-product .small-text {
  font-size: 14px;
}

.title {
  text-align: center;
}

.big-heading {
  font-weight: 800;
}

.checkout-worst h1 {
  padding-top: 2rem;
}

.checkout-worst .section-pricing {
  padding-bottom: 4rem;
}

.bluearea .big-heading {
  font-weight: lighter;
}

.checkout-area {
  background: #171c20;
  /* Old browsers */

  background: -moz-linear-gradient(top, #171c20 0%, #13171b 99%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #171c20), color-stop(99%, #13171b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #171c20 0%, #13171b 99%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #171c20 0%, #13171b 99%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #171c20 0%, #13171b 99%);
  /* IE10+ */

  background: linear-gradient(to bottom, #171c20 0%, #13171b 99%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171c20', endColorstr='#13171b', GradientType=0);
  /* IE6-9 */
}

.bluearea {
  background: #01608b;
}

.interview-questions {
  background: #FFF;
}

.checkout-area h1,
.bluearea h1 {
  color: #FFF;
}

.bluearea h1,
.interview-questions h1 {
  padding-top: 2rem;
}

.interview-questions h1 {
  color: #0078ae;
}

.ribbon {
  margin-top: 14rem;
  position: absolute;
  /*  left: -33px;*/
}

.price-head {
  display: inline-block;
  position: relative;
}

.price-circle {
  font-size: 1.8em;
  background-color: #fff;
  border: 5px solid #0182b6;
  border-radius: 50%;
  box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  display: table;
}

.section-pricing {
  margin-top: 38px;
  text-align: center;
}

.section-pricing h3 {
  background: none;
  font-size: 210%;
  min-width: 200px;
  padding: 8rem 1rem;
  color: #0182b6;
  font-weight: 800;
  font-family: "Georgia", serif;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.plan-box {
  margin-top: 4rem;
  border-radius: 12px;
  border-top: 1px solid #363f46;
  background: #23282e;
  /* Old browsers */

  background: -moz-linear-gradient(top, #23282e 0%, #1b2024 8%, #171d20 18%, #111111 60%, #1a2023 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23282e), color-stop(8%, #1b2024), color-stop(18%, #171d20), color-stop(60%, #111111), color-stop(100%, #1a2023));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #23282e 0%, #1b2024 8%, #171d20 18%, #111111 60%, #1a2023 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #23282e 0%, #1b2024 8%, #171d20 18%, #111111 60%, #1a2023 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #23282e 0%, #1b2024 8%, #171d20 18%, #111111 60%, #1a2023 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #23282e 0%, #1b2024 8%, #171d20 18%, #111111 60%, #1a2023 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23282e', endColorstr='#1a2023', GradientType=0);
  /* IE6-9 */
}

.plan-box h2 {
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 85%;
  min-height: 115px;
  font-weight: 600;
  font-size: 24px;
  color: #0182b6;
  line-height: 29px;
  text-align: center;
}

/*.plan-box ul {
  margin-left: 1rem;
  padding-left: 0;
}*/
.plan-box ul li {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.section-pricing li {
  font-family: Open Sans, serif;
  font-size: 14px;
  border-top: 0;
  border-bottom: 1px solid #252a30;
  color: #f9f9f9;
}

/*.section-pricing ul {
  min-height: 204px;
}*/

.text {
  margin-top: 5rem;
}

.text p {
  font-size: 18px;
  color: #c1c1c1;
  line-height: 30px;
}

.white-text p {
  padding-bottom: 2rem;
  color: #FFF;
  line-height: 30px;
}

.wrapper-arrow-down {
  position: absolute;
  text-align: center;
  top: -44px;
  width: 100%;
  z-index: 2;
}

.arrow-down {
  padding: 1rem;
  position: relative;
  width: 88px;
  border-radius: 64px;
  border: 6px solid #12171c;
  background: #01628f;
  display: inline-block;
}

.arrow-down i {
  font-size: 55px;
  color: #009ddc;
}

.arrow-down-white {
  border: 6px solid #005f8b;
  background: #f8f8f8;
}

.arrow-down-gray {
  border: 6px solid #FFF;
  background: #eaedee;
}

.arrow-down-black {
  border: 6px solid #12171c;
  background: #eaedee;
}

.top-boxes {
  margin-top: 2rem;
}

.interview-block {
  clear: both;
  position: relative;
}

.interview-label {
  margin-top: 20px;
  padding: 1rem 3rem 1rem 1rem;
  background: #009ddc;
  color: #FFF;
  position: absolute;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.interview-label span {
  font-size: 17px;
  font-family: "Open Sans", serif;
  text-shadow: 1px 1px 1px rgba(98, 178, 229, 1);
}

.black-cta {
  background: #020001;
}

.black-cta h3 {
  color: #fff;
  font-family: "Open Sans", serif;
  font-weight: 800;
  padding-bottom: 5px;
  padding-top: 3rem;
  text-align: center;
  text-transform: none;
}

.gain-left img,
.gain-right img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.seemore {
  margin-top: 4px;
  margin-bottom: 5rem;
  text-align: center;
  background: #0078ae;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.32);
  box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.32);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  white-space: normal;
}

.seemore a {
  font-size: 17px;
  font-family: "Open Sans", serif;
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 0px -3px 2px rgba(150, 150, 150, 1);
}

.interview-questions .text {
  margin-top: 0;
}

.interview-questions .text p {
  color: #1d2021;
}

.question.accordion .panel-default > .panel-heading .panel-title {
  position: relative;
}

.question.accordion .panel-default > .panel-heading .panel-title a:before {
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  margin: auto 0;
  position: absolute;
  width: 0;
}

.question.accordion .panel-default > .panel-heading .panel-title a.accordion-link.collapsed:before {
  content: "\E809";
}

.question.accordion .panel-default > .panel-heading .panel-title a.accordion-link:before {
  content: "\E80A";
  font-family: 'fa-custom';
  margin: auto 0;
  right: 30px;
  top: -20px;
  color: #FFF;
}

.question .panel-heading {
  background-color: #01608b;
  border: 0 none;
}

.panel-group .panel-heading a {
  color: #FFF;
  font-size: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.questions h2 {
  margin-top: 1rem;
  margin-bottom: 19px;
  font-size: 28px;
  font-family: "Open Sans", serif;
  color: #0078ae;
}

.question .panel-heading {
  border-radius: 0;
}

.question .panel-heading:hover,
.question .accordion-link {
  background: #009ddc;
}

.question .accordion-link.collapsed {
  background-color: #01608b;
}

.question .accordion-link.collapsed:hover {
  background: #009ddc;
}

.question .panel-body {
  font-size: 16px;
  /*font-family: "Open Sans", serif;*/
}

.question .panel-body img {
  margin-right: 2rem;
  margin-bottom: 2rem;
  float: left;
}

.blue-text p {
  font-size: 18px;
  color: #0078ae;
  /*font-family: "Open Sans", serif;*/
}

.fa-question::before {
  margin-right: 15px;
  padding: 4px 9px;
  background: #009ddc;
  border-radius: 43px;
  font-size: 23px;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.section-head {
  /*padding-top: 2rem;*/
  /*min-height: 350px;*/
  background-size: cover !important;
}

.bluearea,
.gpa-low,
.non-target,
.interview-questions,
.technical-guide,
.behavioral-guide,
.checkout-area {
  padding-top: 0;
}

.bluearea,
.interview-questions,
.gpa-low,
.non-target,
.who-will-review,
.is-it-worth,
.technical-guide,
.behavioral-guide,
.networking-guide,
.checkout-area,
.video-guide,
.database-guide {
  padding-bottom: 5rem;
  position: relative;
}

.database-guide {
  padding-bottom: 0;
}

.gpa-low .section-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.non-target .section-wrapper,
.who-will-review .section-wrapper,
.is-it-worth .section-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.non-target .section-head {
  background: url('https://www.wallstreetoasis.com/files/target.jpg') repeat-x right top;
}

.gpa-low .section-head {
  background: #eaedee url('https://www.wallstreetoasis.com/files/road_0.jpg') repeat-x top;
}

.who-will-review .section-head {
  background: #eaedee url('https://www.wallstreetoasis.com/files/who_will_review.jpg') repeat-x top;
}

.is-it-worth .section-head {
  background: #eaedee url('https://www.wallstreetoasis.com/files/is_it_worth_2.jpg') repeat-x top;
}

.technical-guide .section-head {
  background: #eaedee url('//madjennsy.com/design/technical-guide.jpg') repeat-x top;
}

.behavioral-guide .section-head {
  background: #eaedee url('//madjennsy.com/design/behavioral-guide.jpg') repeat-x left top;
}

.networking-guide .section-head {
  background: #eaedee url('//madjennsy.com/design/networking-guide.jpg') repeat-x center top;
}

.video-guide .section-head {
  background: #eaedee url('//madjennsy.com/design/networking-guide.jpg') repeat-x center top;
}

.database-guide .section-head {
  background: #eaedee url('//madjennsy.com/design/networking-guide.jpg') repeat-x center top;
}

.db-banner {
  padding-bottom: 3rem;
  background: #eaedee url('//madjennsy.com/design/bg-tie.jpg') repeat-x center;
  min-height: 366px;
  background-size: cover
}

.gpa-low h1,
.non-target h1,
.who-will-review h1,
.is-it-worth h1,
.technical-guide h1,
.behavioral-guide h1,
.networking-guide h1,
.video-guide h1,
.database-guide h1,
.checkout-area h1,
.checkout-area h2.text-center {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #FFF;
}

h2.text-center {
  letter-spacing: -1px;
  color: #000;
}

.bluearea h1,
.interview-questions h1,
.gpa-low h1,
.technical-guide h1 {
  margin-top: 5rem;
}

.video-guide h1 span {
  font-size: 25px;
  font-weight: 300;
}

.database-guide h1 span {
  font-size: 25px;
  font-weight: 300;
}

.gpa-low .white-text,
.non-target .white-text,
.who-will-review .white-text,
.is-it-worth .white-text,
.technical-guide .white-text,
.behavioral-guide .white-text,
.networking-guide .white-text,
.video-guide .white-text,
.database-guide .white-text {
  text-shadow: 3px 2px 4px #666666;
}

.technical-guide .guide-list {
  padding-top: 6rem;
}

.behavioral-guide .guide-list {
  padding-top: 4rem;
}

.networking-guide .guide-list {
  padding-top: 5rem;
}

.networking-guide .guide-content p {
  color: #1a1e22;
}

.video-guide h4 {
  padding-top: 4rem;
  font-weight: 300;
  font-size: 28px;
  color: #24221d;
}

.webinar-video h5 {
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  text-transform: none;
  line-height: 24px;
  color: #FFF;
  min-height: 115px;
  background: #009ddc;
}

.webinar-previews {
  margin-top: 3rem;
}

.webinar-video .webinar-video-wrapper {
  max-height: 270px;
  position: relative;
}

.webinar-video .webinar-video-wrapper img {
  width: 100%;
}

.webinar-video .btn-webinar-play {
  position: absolute;
  display: table;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.webinar-video .btn-webinar-play i {
  display: table-cell;
  color: #009ddc;
  vertical-align: middle;
}

.video-guide p {
  margin-top: 2rem;
}

.guide-list {
  margin-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.guide-list ul li {
  padding-top: 1rem;
  font-size: 17px;
  font-family: "Open Sans", serif;
  color: #2f78a0;
}

.guide-list ul li i {
  color: #009ddc;
  font-size: 19px;
  margin-right: 5px;
}

.gpa-low .guide-content p,
.non-target .guide-content p,
.technical-guide .guide-content p,
.behavioral-guide .guide-content p,
.networking-guide guide-content p,
.video-guide .guide-content p {
  font-family: "Open Sans", serif;
  color: #676767;
  line-height: 29px;
}

.blue-box {
  color: #FFF;
  background: #009ddc;
}

.blue-box h3 {
  padding-top: 2rem;
  font-size: 18px;
  color: #FFF;
  text-transform: none;
  text-align: center;
}

.blue-box ul {
  padding-bottom: 2rem;
  padding-left: 4rem;
}

.blue-box ul li {
  padding-bottom: 1rem;
  font-size: 16px;
  font-family: "Open Sans", serif;
}

.blue-box ul li i {
  font-size: 22px;
  vertical-align: middle;
}

.gpa-low h2,
.non-target h2,
.who-will-review h2,
.is-it-worth h2,
.technical-guide h2,
.behavioral-guide h2,
.networking-guide h2,
.video-guide h2 {
  margin-top: 3rem;
  font-family: "Open Sans", serif;
  font-size: 30px;
  color: #0099e6;
}

.testimonial-pic {
  padding-left: 0;
}

.testimonial-pic img {
  box-shadow: 0 7px 5px #c6c8c9, 0 -21px 0 #999 inset;
}

.testimonial-description {
  min-height: 105px;
  padding: 2rem 2rem 1rem;
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  background: #0099e6 url('//i62.tinypic.com/znug48.png') no-repeat left center;
  background-attachment: fixed;
  background-position: 50px 100px;
}

.testimonial-description .fa-quote-left {
  margin-right: 2px;
}

.testimonial-description p,
.testimonial-description span {
  font-family: "Georgia", serif;
  font-style: italic;
  color: #FFF;
}

.webinar-col i {
  color: #009ddc;
}

.webinar-col li {
  padding-bottom: 5px;
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: #0a0c0e;
}

.webinar-list {
  padding-bottom: 3rem;
}

.database-guide .info-text {
  font-size: 28px;
  text-align: center;
  min-height: 187px;
  font-weight: lighter;
}

.info-text p {
  padding-bottom: 2rem;
  font-family: Open Sans, serif;
  color: #FFF;
  line-height: 30px;
}

/*
.cta {
  padding-bottom: 0;
  padding-top: 0;
  color: #595959;
  background: #eee;
}
.cta > .row-database:nth-of-type(2n+1) {
  background: #12a3dd;
}
.cta > .row-database {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #eaedee;
}
*/
.row-database:nth-of-type(2n+1) {
  background: #12a3dd;
}

.row-database {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #eaedee;
}

.db-description span,
.db-cta span,
.db-description .heading,
.db-cta .heading {
  display: inline;
}

.db-description span,
.db-cta span {
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 23px;
  font-weight: 800;
  font-family: "Open sans", serif;
  color: #0f90c4;
  background: #fff8f9;
  border: 3px solid #FFF;
  border-radius: 25px;
}

.db-description .heading,
.db-cta .heading {
  font-size: 26px;
  font-family: "Open sans", serif;
}

.db-description .heading {
  color: #FFF;
}

.db-cta .heading {
  color: #000;
}

.db-description p,
.db-cta p {
  font-size: 16px;
  font-family: "Open sans", serif;
}

.db-description p {
  color: #FFF;
}

.db-cta p {
  color: #000;
}

.division,
.division-black {
  padding-top: 1rem;
  margin-bottom: 2rem;
  height: 3px;
  width: 100%;
}

.division {
  background: url("//madjennsy.com/design/border-white.png") no-repeat 37px bottom;
}

.division-black {
  background: url("//madjennsy.com/design/border-black.png") no-repeat 37px bottom;
}

.db-banner .title {
  padding-top: 0;
}

.db-banner .white-text a {
  color: #12a3dd;
}

.db-banner .white-text {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#worst-case .title {
  margin-top: 3rem;
}

.video-wistia-wrapper {
  margin-top: -2rem;
}

.jumbotron .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jumbotron-video,
.container .jumbotron .jumbotron-video,
.container-fluid .jumbotron .jumbotron-video {
  margin-bottom: 0;
  padding: 0 !important;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  background: none;
}

.jumbotron-bg {
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-size: cover;
  vertical-align: baseline;
  display: inline-block;
}

.video-overlay {
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.video-as-bg {
  position: absolute;
  width: 100%;
}

.jumbotron-video .video-container {
  padding-bottom: 56.25%;
  padding-top: 35px;
}

.jumbotron-video .video-container iframe {
  border: 0;
}

.video-library-content {
  margin-top: -360px;
  position: relative;
  z-index: 1;
}

/*Added on the resume review page*/
.resume-review-header {
  position: absolute;
  width: 100%;
  opacity: 0.2;
}

@include media('<tablet') {
  h1 {
    font-size: 33px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  .price-head {
    margin-top: 2rem;
  }

  .price-head .ribbon img {
    width: 100%;
  }

  .price-head .ribbon {
    left: 0;
  }

  .black-cta h3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .testimonial-pic {
    text-align: center;
  }

  .testimonial-description {
    margin-top: 3rem;
  }

  .webinar-previews {
    margin-top: 3rem;
    max-width: 390px;
  }

  .webinar-previews .webinar-video {
    margin-bottom: 3rem;
  }

  .webinar-video .btn-webinar-play {
    height: 270px;
  }

  .webinar-video .btn-webinar-play i {
    font-size: 90px;
  }

  .jumbotron .video-container iframe,
  .jumbotron .video-overlay {
    display: none;
  }

  .server-img,
  .book-img {
    display: block;
  }
}

@media (max-width: 480px) {
  .page-top.custom-product h1 {
    text-align: center;
  }

  .page-top.custom-product h1,
  .page-top.custom-product h1 span {
    font-size: 29px;
  }

  .page-top.custom-product p,
  .page-top.custom-product h4,
  .page-top.custom-product .get-items li {
    text-align: center;
  }

  #section-pricing .title,
  #section-pricing .big-heading {
    font-size: 29px;
  }

  .plan-box {
    min-height: 308px !important;
  }

  .text p {
    padding-left: 13px;
    font-size: 16px;
    line-height: 26px;
  }

  .interview-label {
    width: 100%;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0;
  }
}

@media (max-width: 380px) {
  #section-pricing .title,
  #section-pricing .big-heading {
    font-size: 18px;
    line-height: 28px;
  }

  .text p {
    font-size: 13px;
    line-height: 24px;
    padding-left: 13px;
  }
}

@include media('<desktop') {
  .guide-thumb {
    border: 0;
    background: none;
  }

  .jumbotron-video {
    height: 358px;
  }
}

@include media('>=tablet') {
  .page-node- .content.full > .container {
    width: 100%;
    padding: 0;
  }

  .white-text p {
    font-size: 18px;
  }

  .title {
    font-size: 34px;
  }

  .big-heading {
    font-size: 45px;
  }

  .black-cta {
    min-height: 521px;
  }

  .black-cta h3 {
    font-size: 29px;
  }

  .land-left,
  .bottom-boxes {
    margin-top: 4px;
  }

  .gain-left {
    padding-right: 2px;
  }

  .gain-right {
    padding-left: 2px;
  }

  .gpa-low p,
  .non-target p,
  .who-will-review p,
  .is-it-worth p,
  .technical-guide p,
  .behavioral-guide p,
  .networking-guide p,
  .video-guide p {
    font-size: 18px;
  }

  .testimonial-description p {
    line-height: 22px;
  }

  .testimonial-description p,
  .testimonial-description span {
    font-size: 17px;
  }

  .webinar-previews .webinar-video {
    min-height: 350px;
  }

  .webinar-video .btn-webinar-play {
    height: 163px;
  }

  .webinar-video .btn-webinar-play i {
    font-size: 80px;
  }
}

@media (max-width: 1200px) {
  .jumbotron-video {
    height: 400px;
  }

  .webinar-video .btn-webinar-play {
    height: 270px;
  }
}

@include media('>=desktop') {
  .testimonials-wrapper > .testimonials:nth-of-type(2n) .testimonial-pic-wrapper {
    float: right;
  }

  .webinar-video .btn-webinar-play {
    height: 218px;
  }

  .webinar-video .btn-webinar-play i {
    font-size: 100px;
  }
}
