.will-this-really-help.section-head {
  background: #eaedee url('/files/mentor_background_0.jpg') repeat-x center top;
}

div#lbo-section {
  background: #eaedee url('/files/mentor_background-2_0.jpg') repeat-x left top;
}

div#strong-network {
  background: #eaedee url('/files/mentor_background-3_0.jpg') repeat-x left top;
}

.mentor-video-header {
  position: absolute;
  width: 100%;
  opacity: 0.2;
  height: 100%;
  overflow: hidden;
  top: 0;
}

.plan-box h2 {
  min-height: 80px;
}

.section-pricing .plan-box ul {
  min-height: 138px;
}