div#consulting {
  background: url(/files/consulting_0.jpg) left top repeat-x #eaedee
}
.plan-box h2 {
  min-height: 80px
}
.section-pricing .plan-box ul {
  min-height: 138px
}
/*# sourceMappingURL=product-consulting.component.css.map */
