.page-node- .content.full > .container {
  width: 100%;
  padding: 0
}
.page-node- .node {
  padding: 0!important;
  border: 0
}
.list-group li {
  margin-bottom: .8em;
  font-size: 1.2em
}
.list-group li i {
  margin-right: 5px;
  color: #0078ae
}
.field-type-taxonomy-term-reference.field-label-hidden,
ul.links.inline {
  display: none
}
.big-heading {
  font-size: 1.35em;
  font-weight: 800
}
h2 {
  color: #fff;
  margin: .5em 0 .8em
}
h2 small {
  font-weight: 300;
  color: #fff
}
.text p {
  font-size: 1.3em;
  color: #c1c1c1;
  line-height: 1.7em
}
hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .6), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .6), transparent);
  margin: 13px 0
}
hr.white {
  background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, .6), transparent);
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .6), transparent)
}
section.page-top {
  margin-bottom: 0;
  padding-bottom: 3rem;
  border: 0;
  background: rgb(238, 238, 238);
  background: linear-gradient(to bottom, rgb(238, 238, 238) 0, rgb(251, 251, 251) 16%, rgb(251, 251, 251) 49%, rgb(240, 240, 240) 100%)
}
.page-top h1,
.page-top h2.title {
  margin-top: 0;
  padding-bottom: 1rem;
  font-size: 34px;
  color: #0084bf;
  border-bottom: 1px solid #ebebeb
}
.page-top .fa-arrow-down {
  margin-left: 5px;
  color: #0078ae
}
.page-top img {
  bottom: 0
}
.guide-thumb {
  border: 21px solid var(--color-neutral-2);
  background: #fff;
  text-align: center;
  padding: 2rem 6rem
}
.blue-background {
  background: #01608b;
  padding: 0 0 3em
}
.black-background p,
.blue-background p {
  color: #fff;
  line-height: 1.7em;
  font-size: 1.3em
}
.black-background {
  background: #171c20;
  background: linear-gradient(to bottom, #171c20 0, #13171b 99%);
  padding: 0 0 3em
}
.white-background {
  padding: 0 0 3em
}
.white-background p {
  color: #1d2021;
  font-size: 1.3em
}
h2.text-center {
  color: #000
}
.white-background h2 {
  color: #0078ae;
  letter-spacing: .5px;
  font-size: 2.6em;
  font-weight: 300;
  line-height: 42px
}
.black-background .container,
.blue-background .container,
.white-background .container {
  padding: 50px 0 25px
}
.db-banner .container {
  padding: 25px 0 35px
}
.black-square {
  background-color: #000;
  color: #fff;
  padding: 32px
}
.black-square h3 {
  color: #fff;
  font-weight: 800;
  padding-bottom: 1em;
  text-transform: none
}
.section-pricing {
  margin-top: 38px;
  text-align: center
}
.price-head {
  display: inline-block;
  position: relative
}
.ribbon {
  bottom: 0;
  position: absolute
}
.price-circle {
  font-size: 1.8em;
  background-color: #fff;
  border: 5px solid #0182b6;
  border-radius: 50%;
  box-shadow: 0 5px 20px #ddd inset,0 3px 0 #999 inset;
  display: table
}
.section-pricing h3 {
  background: 0 0;
  font-size: 210%;
  min-width: 200px;
  padding: 8rem 1rem;
  color: #0182b6;
  font-weight: 800;
  font-family: Georgia,serif;
  text-align: center;
  display: table-cell;
  vertical-align: middle
}
.plan-box {
  margin-top: 4rem;
  border-radius: 12px;
  border-top: 1px solid #363f46;
  background: #23282e;
  background: linear-gradient(to bottom, #23282e 0, #1b2024 8%, #171d20 18%, #111 60%, #1a2023 100%)
}
.plan-box h2 {
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 85%;
  min-height: 107px;
  font-weight: 600;
  font-size: 24px;
  color: #0182b6;
  line-height: 29px;
  text-align: center
}
.section-pricing ul {
  min-height: 204px
}
.plan-box ul {
  margin-left: 1rem;
  padding-left: 0
}
.plan-box ul li {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center
}
.section-pricing li {
  font-family: Open Sans,serif;
  font-size: 14px;
  border-top: 0;
  border-bottom: 1px solid #252a30;
  color: #f9f9f9
}
.wrapper-arrow-down {
  position: absolute;
  text-align: center;
  left: 50%;
  z-index: 2
}
.arrow-down {
  padding: .8em;
  position: relative;
  border-radius: 100%;
  border: 6px solid #12171c;
  background: #01628f;
  display: inline-block;
  left: -50%
}
.arrow-down i {
  font-size: 3.8em;
  color: #009ddc
}
.arrow-down-white {
  border-color: #005f8b;
  background: #f8f8f8
}
.arrow-down-gray {
  border-color: #fff;
  background: #eaedee
}
.arrow-down-black {
  border-color: #12171c;
  background: #eaedee
}
.overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%
}
.section-head {
  min-height: 350px;
  background-size: cover!important;
  position: relative
}
.section-head p {
  text-shadow: 3px 2px 4px #666;
  padding-bottom: 1em;
  color: #fff;
  line-height: 1.7em;
  font-size: 1.3em
}
.section-head-content {
  padding-top: 40px;
  color: #676767
}
.question .panel-heading {
  border-radius: 0;
  background-color: #01608b;
  border: 0
}
.question .accordion-link.collapsed:hover {
  background: #009ddc
}
.panel-group .panel-heading a {
  color: #fff;
  font-size: 16px;
  padding-bottom: 16px;
  padding-top: 16px
}
.fa-question::before {
  margin-right: 15px;
  padding: 4px 9px;
  background: #009ddc;
  border-radius: 43px;
  font-size: 23px
}
.question.accordion .panel-default > .panel-heading .panel-title {
  position: relative
}
.question.accordion .panel-default > .panel-heading .panel-title a.accordion-link.collapsed:before {
  content: "\e809"
}
.question .accordion-link.collapsed {
  background-color: #01608b
}
.question .accordion-link,
.question .panel-heading:hover {
  background: #009ddc
}
.question.accordion .panel-default > .panel-heading .panel-title a.accordion-link:before {
  content: "\e80a";
  font-family: fa-custom;
  margin: auto 0;
  right: 30px;
  top: -20px;
  color: #fff
}
.question.accordion .panel-default > .panel-heading .panel-title a:before {
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  margin: auto 0;
  position: absolute;
  width: 0
}
.testimonials:nth-of-type(2n) .testimonial-pic-wrapper {
  float: right
}
blockquote.testimonial {
  min-height: 105px
}
.row-database:nth-of-type(2n+1) {
  background: #12a3dd
}
.row-database {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background: #eaedee
}
.db-cta span,
.db-description span {
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 23px;
  font-weight: 800;
  font-family: "Open sans",serif;
  color: #0f90c4;
  background: #fff8f9;
  border: 3px solid #fff;
  border-radius: 25px
}
.db-description .heading {
  color: #fff
}
.db-cta .heading {
  color: #000
}
.db-cta .heading,
.db-description .heading {
  font-size: 26px;
  font-family: "Open sans",serif
}
.db-cta .heading,
.db-cta span,
.db-description .heading,
.db-description span {
  display: inline
}
.db-description p {
  color: #fff
}
.db-cta p,
.db-description p {
  font-size: 16px;
  font-family: "Open sans",serif
}
.db-banner {
  padding-bottom: 3rem;
  background: url(//madjennsy.com/design/bg-tie.jpg) center/cover repeat-x #eaedee;
  min-height: 366px
}
.database-guide .section-head .container {
  min-height: 350px
}
.database-guide {
  padding: 0 0 3em;
  margin-bottom: -3em
}
.webinar-video .btn-webinar-play {
  height: 218px;
  position: absolute;
  display: table;
  text-align: center;
  width: 100%;
  text-decoration: none
}
.webinar-video .webinar-video-wrapper img {
  width: 100%
}
.webinar-video-wrapper {
  border: 5px solid #009ddc
}
.webinar-video .btn-webinar-play i {
  font-size: 7.2em;
  display: table-cell;
  color: #009ddc;
  vertical-align: middle
}
.webinar-video h5 {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  text-transform: none;
  line-height: 24px;
  color: #fff;
  min-height: 115px;
  background: #009ddc;
  padding: 2rem
}
.webinar-video-header {
  font-size: 22px;
  color: #fff;
  min-height: 90px;
  background: #009ddc;
  margin: 0 auto;
  line-height: 90px
}
.section-head .container {
  position: relative;
  padding-left: 0;
  padding-right: 0
}
.video-wrapper {
  position: relative
}
.section-head h2,
.video-wrapper h2 {
  margin-top: 60px
}
.video-wrapper h3 {
  text-transform: none;
  color: #fff;
  font-weight: 300
}
.fluid-width-video-wrapper {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  position: absolute
}
video {
  position: absolute;
  width: 100%;
  height: auto
}
video.video-library {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%)
}
video.company-db {
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%)
}
.interview-block {
  clear: both;
  position: relative
}
.interview-label {
  margin-top: 20px;
  padding: 1rem 3rem 1rem 1rem;
  background: #009ddc;
  color: #fff;
  position: absolute;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-radius: 0 8px 8px 0
}
.interview-label span {
  font-size: 17px;
  font-family: "Open Sans",serif;
  text-shadow: 1px 1px 1px rgb(98, 178, 229)
}
.gain-left img,
.gain-right img {
  display: inline-block;
  width: 100%;
  height: 100%
}
.gain-left {
  padding-right: 2px
}
.gain-right {
  padding-left: 2px
}
.black-cta {
  background: #020001;
  min-height: 521px
}
.black-cta h3 {
  font-size: 29px;
  color: #fff;
  font-family: "Open Sans",serif;
  font-weight: 800;
  padding-bottom: 5px;
  padding-top: 3rem;
  text-align: center;
  text-transform: none
}
.black-cta .get-items {
  margin-left: 32px
}
.black-cta .get-items li {
  margin-bottom: 3px;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans",serif
}
.black-background .indent {
  color: #fff
}
.indent {
  padding-left: 1em;
  color: #2f78a0
}
/*# sourceMappingURL=product-generic.component.css.map */
