.will-this-really-help.section-head {
  background: url(/files/mentor_background_0.jpg) center top repeat-x #eaedee
}
div#lbo-section {
  background: url(/files/mentor_background-2_0.jpg) left top repeat-x #eaedee
}
div#strong-network {
  background: url(/files/mentor_background-3_0.jpg) left top repeat-x #eaedee
}
.mentor-video-header {
  position: absolute;
  width: 100%;
  opacity: .2;
  height: 100%;
  overflow: hidden;
  top: 0
}
.plan-box h2 {
  min-height: 80px
}
.section-pricing .plan-box ul {
  min-height: 138px
}
/*# sourceMappingURL=product-wall-st-mentor.component.css.map */
