blockquote.testimonial {
  min-height: 105px
}
.field-name-taxonomy-vocabulary-15 a,
.vud-widget,
ul.links.inline {
  display: none
}
.book-img,
.server-img {
  width: 100%;
  height: 100%;
  display: none
}
.page-node- .well {
  padding: 0!important;
  border: 0
}
.page-node- .tabs {
  margin-bottom: 0
}
#block-block-139 {
  background: rgb(238, 238, 238);
  background: -moz-linear-gradient(top, rgb(238, 238, 238) 0, rgb(251, 251, 251) 16%, rgb(251, 251, 251) 49%, rgb(240, 240, 240) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0, rgb(238, 238, 238)), color-stop(16%, rgb(251, 251, 251)), color-stop(49%, rgb(251, 251, 251)), color-stop(100%, rgb(240, 240, 240)));
  background: -webkit-linear-gradient(top, rgb(238, 238, 238) 0, rgb(251, 251, 251) 16%, rgb(251, 251, 251) 49%, rgb(240, 240, 240) 100%);
  background: -o-linear-gradient(top, rgb(238, 238, 238) 0, rgb(251, 251, 251) 16%, rgb(251, 251, 251) 49%, rgb(240, 240, 240) 100%);
  background: -ms-linear-gradient(top, rgb(238, 238, 238) 0, rgb(251, 251, 251) 16%, rgb(251, 251, 251) 49%, rgb(240, 240, 240) 100%);
  background: linear-gradient(to bottom, rgb(238, 238, 238) 0, rgb(251, 251, 251) 16%, rgb(251, 251, 251) 49%, rgb(240, 240, 240) 100%)
}
section.page-top.custom-product {
  margin-bottom: 0;
  padding-bottom: 3rem;
  background: 0 0;
  border: 0
}
.page-top.custom-product h1 {
  color: #0084bf
}
.page-top.custom-product h1 span {
  font-weight: 800;
  font-size: 45px
}
.page-top.custom-product h4 {
  font-size: 20px
}
.page-top.custom-product p.lead {
  margin-top: 2rem;
  font-size: 18px;
  color: #5a6063
}
.black-cta .get-items {
  margin-left: 32px
}
.page-top.custom-product .get-items li {
  margin-bottom: 1rem;
  font-size: 16px
}
.black-cta .get-items li {
  margin-bottom: 3px;
  font-size: 16px;
  color: #fff
}
.page-top.custom-product .get-items li i {
  margin-right: 5px;
  color: #0078ae
}
.black-cta .get-items li i {
  margin-right: 5px;
  color: #5cd0ff
}
.black-cta .get-items li a {
  color: #5cd0ff
}
.page-top.custom-product .fa-arrow-down {
  margin-left: 5px;
  color: #0078ae
}
.guide-thumb {
  border: 21px solid var(--color-neutral-2);
  background: #fff;
  text-align: center;
  padding: 2rem 6rem
}
.page-top.custom-product img {
  bottom: 0
}
.page-top.custom-product .small-text {
  font-size: 14px
}
.title {
  text-align: center
}
.big-heading {
  font-weight: 800
}
.checkout-worst h1 {
  padding-top: 2rem
}
.checkout-worst .section-pricing {
  padding-bottom: 4rem
}
.bluearea .big-heading {
  font-weight: lighter
}
.checkout-area {
  background: #171c20;
  background: -moz-linear-gradient(top, #171c20 0, #13171b 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #171c20), color-stop(99%, #13171b));
  background: -webkit-linear-gradient(top, #171c20 0, #13171b 99%);
  background: -o-linear-gradient(top, #171c20 0, #13171b 99%);
  background: -ms-linear-gradient(top, #171c20 0, #13171b 99%);
  background: linear-gradient(to bottom, #171c20 0, #13171b 99%)
}
.bluearea {
  background: #01608b
}
.interview-questions {
  background: #fff
}
.bluearea h1,
.checkout-area h1 {
  color: #fff
}
.bluearea h1,
.interview-questions h1 {
  padding-top: 2rem
}
.interview-questions h1 {
  color: #0078ae
}
.ribbon {
  margin-top: 14rem;
  position: absolute
}
.price-head {
  display: inline-block;
  position: relative
}
.price-circle {
  font-size: 1.8em;
  background-color: #fff;
  border: 5px solid #0182b6;
  border-radius: 50%;
  box-shadow: 0 5px 20px #ddd inset,0 3px 0 #999 inset;
  display: table
}
.section-pricing {
  margin-top: 38px;
  text-align: center
}
.section-pricing h3 {
  background: 0 0;
  font-size: 210%;
  min-width: 200px;
  padding: 8rem 1rem;
  color: #0182b6;
  font-weight: 800;
  font-family: Georgia,serif;
  text-align: center;
  display: table-cell;
  vertical-align: middle
}
.plan-box {
  margin-top: 4rem;
  border-radius: 12px;
  border-top: 1px solid #363f46;
  background: #23282e;
  background: -moz-linear-gradient(top, #23282e 0, #1b2024 8%, #171d20 18%, #111 60%, #1a2023 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #23282e), color-stop(8%, #1b2024), color-stop(18%, #171d20), color-stop(60%, #111), color-stop(100%, #1a2023));
  background: -webkit-linear-gradient(top, #23282e 0, #1b2024 8%, #171d20 18%, #111 60%, #1a2023 100%);
  background: -o-linear-gradient(top, #23282e 0, #1b2024 8%, #171d20 18%, #111 60%, #1a2023 100%);
  background: -ms-linear-gradient(top, #23282e 0, #1b2024 8%, #171d20 18%, #111 60%, #1a2023 100%);
  background: linear-gradient(to bottom, #23282e 0, #1b2024 8%, #171d20 18%, #111 60%, #1a2023 100%)
}
.plan-box h2 {
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 85%;
  min-height: 115px;
  font-weight: 600;
  font-size: 24px;
  color: #0182b6;
  line-height: 29px;
  text-align: center
}
.plan-box ul li {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center
}
.section-pricing li {
  font-family: Open Sans,serif;
  font-size: 14px;
  border-top: 0;
  border-bottom: 1px solid #252a30;
  color: #f9f9f9
}
.text {
  margin-top: 5rem
}
.text p {
  font-size: 18px;
  color: #c1c1c1;
  line-height: 30px
}
.white-text p {
  padding-bottom: 2rem;
  color: #fff;
  line-height: 30px
}
.wrapper-arrow-down {
  position: absolute;
  text-align: center;
  top: -44px;
  width: 100%;
  z-index: 2
}
.arrow-down {
  padding: 1rem;
  position: relative;
  width: 88px;
  border-radius: 64px;
  border: 6px solid #12171c;
  background: #01628f;
  display: inline-block
}
.arrow-down i {
  font-size: 55px;
  color: #009ddc
}
.arrow-down-white {
  border: 6px solid #005f8b;
  background: #f8f8f8
}
.arrow-down-gray {
  border: 6px solid #fff;
  background: #eaedee
}
.arrow-down-black {
  border: 6px solid #12171c;
  background: #eaedee
}
.top-boxes {
  margin-top: 2rem
}
.interview-block {
  clear: both;
  position: relative
}
.interview-label {
  margin-top: 20px;
  padding: 1rem 3rem 1rem 1rem;
  background: #009ddc;
  color: #fff;
  position: absolute;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-radius: 0 8px 8px 0
}
.interview-label span {
  font-size: 17px;
  font-family: "Open Sans",serif;
  text-shadow: 1px 1px 1px rgb(98, 178, 229)
}
.black-cta {
  background: #020001
}
.black-cta h3 {
  color: #fff;
  font-family: "Open Sans",serif;
  font-weight: 800;
  padding-bottom: 5px;
  padding-top: 3rem;
  text-align: center;
  text-transform: none
}
.gain-left img,
.gain-right img {
  display: inline-block;
  width: 100%;
  height: 100%
}
.seemore {
  margin-top: 4px;
  margin-bottom: 5rem;
  text-align: center;
  background: #0078ae;
  -webkit-box-shadow: 0 3px 7px 0 rgba(50, 50, 50, .32);
  -moz-box-shadow: 0 3px 7px 0 rgba(50, 50, 50, .32);
  box-shadow: 0 3px 7px 0 rgba(50, 50, 50, .32);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  white-space: normal
}
.seemore a {
  font-size: 17px;
  font-family: "Open Sans",serif;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 -3px 2px rgb(150, 150, 150)
}
.interview-questions .text {
  margin-top: 0
}
.interview-questions .text p {
  color: #1d2021
}
.question.accordion .panel-default > .panel-heading .panel-title {
  position: relative
}
.question.accordion .panel-default > .panel-heading .panel-title a:before {
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  margin: auto 0;
  position: absolute;
  width: 0
}
.question.accordion .panel-default > .panel-heading .panel-title a.accordion-link.collapsed:before {
  content: "\e809"
}
.question.accordion .panel-default > .panel-heading .panel-title a.accordion-link:before {
  content: "\e80a";
  font-family: fa-custom;
  margin: auto 0;
  right: 30px;
  top: -20px;
  color: #fff
}
.question .panel-heading {
  background-color: #01608b;
  border: 0;
  border-radius: 0
}
.panel-group .panel-heading a {
  color: #fff;
  font-size: 16px;
  padding-bottom: 16px;
  padding-top: 16px
}
.questions h2 {
  margin-top: 1rem;
  margin-bottom: 19px;
  font-size: 28px;
  font-family: "Open Sans",serif;
  color: #0078ae
}
.question .accordion-link,
.question .panel-heading:hover {
  background: #009ddc
}
.question .accordion-link.collapsed {
  background-color: #01608b
}
.question .accordion-link.collapsed:hover {
  background: #009ddc
}
.question .panel-body {
  font-size: 16px
}
.question .panel-body img {
  margin-right: 2rem;
  margin-bottom: 2rem;
  float: left
}
.blue-text p {
  font-size: 18px;
  color: #0078ae
}
.fa-question::before {
  margin-right: 15px;
  padding: 4px 9px;
  background: #009ddc;
  border-radius: 43px;
  font-size: 23px
}
.panel-group .panel + .panel {
  margin-top: 0
}
.section-head {
  background-size: cover!important
}
.behavioral-guide,
.bluearea,
.checkout-area,
.gpa-low,
.interview-questions,
.non-target,
.technical-guide {
  padding-top: 0
}
.behavioral-guide,
.bluearea,
.checkout-area,
.database-guide,
.gpa-low,
.interview-questions,
.is-it-worth,
.networking-guide,
.non-target,
.technical-guide,
.video-guide,
.who-will-review {
  padding-bottom: 5rem;
  position: relative
}
.database-guide {
  padding-bottom: 0
}
.gpa-low .section-wrapper {
  background-color: rgba(0, 0, 0, .3)
}
.is-it-worth .section-wrapper,
.non-target .section-wrapper,
.who-will-review .section-wrapper {
  background-color: rgba(0, 0, 0, .5)
}
.non-target .section-head {
  background: url(https://www.wallstreetoasis.com/files/target.jpg) right top repeat-x
}
.gpa-low .section-head {
  background: url(https://www.wallstreetoasis.com/files/road_0.jpg) top repeat-x #eaedee
}
.who-will-review .section-head {
  background: url(https://www.wallstreetoasis.com/files/who_will_review.jpg) top repeat-x #eaedee
}
.is-it-worth .section-head {
  background: url(https://www.wallstreetoasis.com/files/is_it_worth_2.jpg) top repeat-x #eaedee
}
.technical-guide .section-head {
  background: url(//madjennsy.com/design/technical-guide.jpg) top repeat-x #eaedee
}
.behavioral-guide .section-head {
  background: url(//madjennsy.com/design/behavioral-guide.jpg) left top repeat-x #eaedee
}
.database-guide .section-head,
.networking-guide .section-head,
.video-guide .section-head {
  background: url(//madjennsy.com/design/networking-guide.jpg) center top repeat-x #eaedee
}
.db-banner {
  padding-bottom: 3rem;
  background: url(//madjennsy.com/design/bg-tie.jpg) center/cover repeat-x #eaedee;
  min-height: 366px
}
.behavioral-guide h1,
.checkout-area h1,
.checkout-area h2.text-center,
.database-guide h1,
.gpa-low h1,
.is-it-worth h1,
.networking-guide h1,
.non-target h1,
.technical-guide h1,
.video-guide h1,
.who-will-review h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #fff
}
h2.text-center {
  letter-spacing: -1px;
  color: #000
}
.bluearea h1,
.gpa-low h1,
.interview-questions h1,
.technical-guide h1 {
  margin-top: 5rem
}
.database-guide h1 span,
.video-guide h1 span {
  font-size: 25px;
  font-weight: 300
}
.behavioral-guide .white-text,
.database-guide .white-text,
.gpa-low .white-text,
.is-it-worth .white-text,
.networking-guide .white-text,
.non-target .white-text,
.technical-guide .white-text,
.video-guide .white-text,
.who-will-review .white-text {
  text-shadow: 3px 2px 4px #666
}
.technical-guide .guide-list {
  padding-top: 6rem
}
.behavioral-guide .guide-list {
  padding-top: 4rem
}
.networking-guide .guide-list {
  padding-top: 5rem
}
.networking-guide .guide-content p {
  color: #1a1e22
}
.video-guide h4 {
  padding-top: 4rem;
  font-weight: 300;
  font-size: 28px;
  color: #24221d
}
.webinar-video h5 {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  text-transform: none;
  line-height: 24px;
  color: #fff;
  min-height: 115px;
  background: #009ddc;
  padding: 2rem
}
.webinar-previews {
  margin-top: 3rem
}
.webinar-video .webinar-video-wrapper {
  max-height: 270px;
  position: relative
}
.webinar-video .webinar-video-wrapper img {
  width: 100%
}
.webinar-video .btn-webinar-play {
  position: absolute;
  display: table;
  text-align: center;
  width: 100%;
  text-decoration: none
}
.webinar-video .btn-webinar-play i {
  display: table-cell;
  color: #009ddc;
  vertical-align: middle
}
.video-guide p {
  margin-top: 2rem
}
.guide-list {
  margin-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem
}
.guide-list ul li {
  padding-top: 1rem;
  font-size: 17px;
  font-family: "Open Sans",serif;
  color: #2f78a0
}
.guide-list ul li i {
  color: #009ddc;
  font-size: 19px;
  margin-right: 5px
}
.behavioral-guide .guide-content p,
.gpa-low .guide-content p,
.networking-guide guide-content p,
.non-target .guide-content p,
.technical-guide .guide-content p,
.video-guide .guide-content p {
  font-family: "Open Sans",serif;
  color: #676767;
  line-height: 29px
}
.blue-box {
  color: #fff;
  background: #009ddc
}
.blue-box h3 {
  padding-top: 2rem;
  font-size: 18px;
  color: #fff;
  text-transform: none;
  text-align: center
}
.blue-box ul {
  padding-bottom: 2rem;
  padding-left: 4rem
}
.blue-box ul li {
  padding-bottom: 1rem;
  font-size: 16px;
  font-family: "Open Sans",serif
}
.blue-box ul li i {
  font-size: 22px;
  vertical-align: middle
}
.behavioral-guide h2,
.gpa-low h2,
.is-it-worth h2,
.networking-guide h2,
.non-target h2,
.technical-guide h2,
.video-guide h2,
.who-will-review h2 {
  margin-top: 3rem;
  font-family: "Open Sans",serif;
  font-size: 30px;
  color: #0099e6
}
.testimonial-pic {
  padding-left: 0
}
.testimonial-pic img {
  box-shadow: 0 7px 5px #c6c8c9,0 -21px 0 #999 inset
}
.testimonial-description {
  min-height: 105px;
  padding: 2rem 2rem 1rem;
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  background: url(//i62.tinypic.com/znug48.png) 50px 100px no-repeat fixed #0099e6
}
.testimonial-description .fa-quote-left {
  margin-right: 2px
}
.testimonial-description p,
.testimonial-description span {
  font-family: Georgia,serif;
  font-style: italic;
  color: #fff
}
.webinar-col i {
  color: #009ddc
}
.webinar-col li {
  padding-bottom: 5px;
  font-family: "Open Sans",serif;
  font-size: 16px;
  color: #0a0c0e
}
.webinar-list {
  padding-bottom: 3rem
}
.database-guide .info-text {
  font-size: 28px;
  text-align: center;
  min-height: 187px;
  font-weight: lighter
}
.info-text p {
  padding-bottom: 2rem;
  font-family: Open Sans,serif;
  color: #fff;
  line-height: 30px
}
.row-database:nth-of-type(2n+1) {
  background: #12a3dd
}
.row-database {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #eaedee
}
.db-cta .heading,
.db-cta span,
.db-description .heading,
.db-description span {
  display: inline
}
.db-cta span,
.db-description span {
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 23px;
  font-weight: 800;
  font-family: "Open sans",serif;
  color: #0f90c4;
  background: #fff8f9;
  border: 3px solid #fff;
  border-radius: 25px
}
.db-cta .heading,
.db-description .heading {
  font-size: 26px;
  font-family: "Open sans",serif
}
.db-description .heading {
  color: #fff
}
.db-cta .heading {
  color: #000
}
.db-cta p,
.db-description p {
  font-size: 16px;
  font-family: "Open sans",serif
}
.db-description p {
  color: #fff
}
.db-cta p {
  color: #000
}
.division,
.division-black {
  padding-top: 1rem;
  margin-bottom: 2rem;
  height: 3px;
  width: 100%
}
.division {
  background: url(//madjennsy.com/design/border-white.png) 37px bottom no-repeat
}
.division-black {
  background: url(//madjennsy.com/design/border-black.png) 37px bottom no-repeat
}
.db-banner .title {
  padding-top: 0
}
.db-banner .white-text a {
  color: #12a3dd
}
.db-banner .white-text {
  margin: 0 auto;
  width: 90%;
  text-align: center
}
#worst-case .title {
  margin-top: 3rem
}
.video-wistia-wrapper {
  margin-top: -2rem
}
.jumbotron .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.container .jumbotron .jumbotron-video,
.container-fluid .jumbotron .jumbotron-video,
.jumbotron-video {
  margin-bottom: 0;
  padding: 0!important;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  background: 0 0
}
.jumbotron-bg {
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-size: cover;
  vertical-align: baseline;
  display: inline-block
}
.video-overlay {
  background: #000;
  -moz-opacity: .5;
  -khtml-opacity: .5;
  opacity: .5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0
}
.video-as-bg {
  position: absolute;
  width: 100%
}
.jumbotron-video .video-container {
  padding-bottom: 56.25%;
  padding-top: 35px
}
.jumbotron-video .video-container iframe {
  border: 0
}
.video-library-content {
  margin-top: -360px;
  position: relative;
  z-index: 1
}
.resume-review-header {
  position: absolute;
  width: 100%;
  opacity: .2
}
@media (min-width: 768px) {
  .page-node- .content.full > .container {
    width: 100%;
    padding: 0
  }
  .white-text p {
    font-size: 18px
  }
  .title {
    font-size: 34px
  }
  .big-heading {
    font-size: 45px
  }
  .black-cta {
    min-height: 521px
  }
  .black-cta h3 {
    font-size: 29px
  }
  .bottom-boxes,
  .land-left {
    margin-top: 4px
  }
  .gain-left {
    padding-right: 2px
  }
  .gain-right {
    padding-left: 2px
  }
  .behavioral-guide p,
  .gpa-low p,
  .is-it-worth p,
  .networking-guide p,
  .non-target p,
  .technical-guide p,
  .video-guide p,
  .who-will-review p {
    font-size: 18px
  }
  .testimonial-description p {
    line-height: 22px
  }
  .testimonial-description p,
  .testimonial-description span {
    font-size: 17px
  }
  .webinar-previews .webinar-video {
    min-height: 350px
  }
  .webinar-video .btn-webinar-play {
    height: 163px
  }
  .webinar-video .btn-webinar-play i {
    font-size: 80px
  }
}
@media (min-width: 992px) {
  .testimonials-wrapper > .testimonials:nth-of-type(2n) .testimonial-pic-wrapper {
    float: right
  }
  .webinar-video .btn-webinar-play {
    height: 218px
  }
  .webinar-video .btn-webinar-play i {
    font-size: 100px
  }
}
@media (max-width: 1200px) {
  .jumbotron-video {
    height: 400px
  }
  .webinar-video .btn-webinar-play {
    height: 270px
  }
}
@media (max-width: 991px) {
  .guide-thumb {
    border: 0;
    background: 0 0
  }
  .jumbotron-video {
    height: 358px
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 33px;
    line-height: 40px
  }
  h2 {
    font-size: 28px
  }
  h3 {
    font-size: 25px
  }
  h4 {
    font-size: 20px
  }
  h5 {
    font-size: 18px
  }
  .price-head {
    margin-top: 2rem
  }
  .price-head .ribbon img {
    width: 100%
  }
  .price-head .ribbon {
    left: 0
  }
  .black-cta h3 {
    padding-left: 2rem;
    padding-right: 2rem
  }
  .testimonial-pic {
    text-align: center
  }
  .testimonial-description {
    margin-top: 3rem
  }
  .webinar-previews {
    margin-top: 3rem;
    max-width: 390px
  }
  .webinar-previews .webinar-video {
    margin-bottom: 3rem
  }
  .webinar-video .btn-webinar-play {
    height: 270px
  }
  .webinar-video .btn-webinar-play i {
    font-size: 90px
  }
  .jumbotron .video-container iframe,
  .jumbotron .video-overlay {
    display: none
  }
  .book-img,
  .server-img {
    display: block
  }
}
@media (max-width: 480px) {
  .page-top.custom-product h1 {
    text-align: center
  }
  .page-top.custom-product h1,
  .page-top.custom-product h1 span {
    font-size: 29px
  }
  .page-top.custom-product .get-items li,
  .page-top.custom-product h4,
  .page-top.custom-product p {
    text-align: center
  }
  #section-pricing .big-heading,
  #section-pricing .title {
    font-size: 29px
  }
  .plan-box {
    min-height: 308px!important
  }
  .text p {
    padding-left: 13px;
    font-size: 16px;
    line-height: 26px
  }
  .interview-label {
    width: 100%;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0
  }
}
@media (max-width: 380px) {
  #section-pricing .big-heading,
  #section-pricing .title {
    font-size: 18px;
    line-height: 28px
  }
  .text p {
    font-size: 13px;
    line-height: 24px;
    padding-left: 13px
  }
}
/*# sourceMappingURL=products.component.css.map */
