.never-stops-growing.section-head {
  background: url(//madjennsy.com/design/networking-guide.jpg) center top repeat-x #eaedee
}
div#lbo-section {
  background: url(/files/9-lbo-background.jpg) right top repeat-x #eaedee
}
.plan-box h2 {
  min-height: 127px
}
/*# sourceMappingURL=product-pe-prep-pack.component.css.map */
