.never-stops-growing.section-head {
  background: #eaedee url('//madjennsy.com/design/networking-guide.jpg') repeat-x center top;
}

div#lbo-section {
  background: #eaedee url('/files/9-lbo-background.jpg') repeat-x right top;
}

.plan-box h2 {
  min-height: 127px;
}