{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set width = content.field_wso_grid[0]['#markup'] %}
{% set order = content.field_wsop_reverse_order[0]['#markup'] %}

{% if order == 'Reverse order' %}
  {% set row_class = 'flex-lg-row-reverse' %}
{% endif %}

{% if width == '25' %}
  {% set first_column_class = 'col-sm-6' %}
  {% set second_column_class = 'col-sm-18' %}
{% elseif width == '33' %}
  {% set first_column_class = 'col-sm-8' %}
  {% set second_column_class = 'col-sm-16' %}
{% elseif width == '50' %}
  {% set first_column_class = 'col-sm-12' %}
  {% set second_column_class = 'col-sm-12' %}
{% elseif width == '66' %}
  {% set first_column_class = 'col-sm-16' %}
  {% set second_column_class = 'col-sm-8' %}
{% elseif width == '75' %}
  {% set first_column_class = 'col-sm-16' %}
  {% set second_column_class = 'col-sm-6' %}
{% else %}
  {% set first_column_class = 'col-sm-12' %}
  {% set second_column_class = 'col-sm-12' %}
{% endif %}

{% block paragraph %}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="row {{ row_class }}">
        <div class="col p-l-0 col-first {{ first_column_class }}">
          {{ content.field_wsop_image }}
        </div>
        <div class="col p-r-0 col-last {{ second_column_class }}">
          {{ content.field_wsop_rich_text }}
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
