{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraphs-item-paragraph-wista-video--in-grid',
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div>
        <a href="#" data-bs-toggle="modal" data-bs-target=".modal-lg-{{ item_id }}" class="embed-responsive embed-responsive-16by9">
          {% if thumbnail_url %}
            <img loading="lazy" class="embed-responsive-item" src="{{ thumbnail_url }}"/>
          {% endif %}
          <div class="media__cover-icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 612 432" style="enable-background:new 0 0 612 432;" xml:space="preserve">
  <path d="M598.7,69.7c-7-26.4-22.4-48.7-48.8-55.7C502.1,1.2,306,0,306,0S109.9,1.2,62.1,14
    c-26.4,7-41.7,29.3-48.8,55.7C0.5,117.5,0,216,0,216s0.5,98.5,13.3,146.3c7,26.4,22.4,48.7,48.8,55.7c47.8,12.8,243.9,14,243.9,14
    s196.1-1.2,243.9-14c26.4-7,41.8-29.3,48.8-55.7C611.5,314.5,612,216,612,216S611.5,117.5,598.7,69.7z M243,306V126l162,90L243,306z
    "/>
  </svg>
          </div>
        </a>
        {{ content.field_wsop_title }}
        {{ content.field_paragraph_text }}

        <div class="modal fade modal-lg-{{ item_id }}" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              {{ content.field_media_reference }}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}




