{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}
  <div id="paragraph-id-{{ item_id }}" class="d-none"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if cta_title %}
        <div class="card">
          <div class="card-header"></div>
          {{ content.field_paragraph_image }}
          <div class="card-body">
            <h2 class="card-title">{{ content.field_card_title }}</h2>
            <div class="card-text">
              {{ content.field_paragraph_text }}
            </div>
            <a href="{{ content.field_cta.0['#url'] }}" class="btn btn-primary btn-sm btn-outline-info">{{ cta_title }}</a>
          </div>
        </div>
      {% else %}
        <a class="card" href="{{ content.field_cta.0['#url'] }}">
          <div class="card-header"></div>
          {{ content.field_paragraph_image }}
          <div class="card-body">
            <h2 class="card-title">{{ content.field_card_title }}</h2>
            <div class="card-text">
              {{ content.field_paragraph_text|render|striptags('<div><b><strong><i><em><p><span>')|raw }}
            </div>
          </div>
        </a>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
