{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'section',
  'section-lg',
  'p-t-0',
  'entity',
  'entity-paragraphs-item',
  'paragraphs-item-' ~ paragraph.bundle|clean_class,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="panel panel--mutted content p-l-0 p-r-0">
        <div class="panel-heading">
          <h3 class="text-center panel-heading__title panel-heading__title--it font-italic">{{ content.field_first_title|render|striptags }}</h3>
        </div><!-- panel-heading -->

        <div class="panel-body text-center">
          {{ content.field_wsop_rich_text }}

          {% if with_events %}
            <form id="bootcamp-dates-form" class="mb-4">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <h5 class="mb-0">Select date of event:</h5>
                  <div class="select-wrapper">
                    <select
                        data-drupal-selector="bootcamp-date"
                        data-msg-required="Date is required."
                        id="bootcamp-date"
                        name="bootcamp_date"
                        class="form-select required form-control"
                        required="required"
                        aria-required="true">
                      <option value="" selected="selected">- Select -</option>
                      {% for option in dates_list %}
                        {{ option }}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </form>
          {% endif %}

          <div class="m-b-sm cta-button">
            {{ content.field_cta }}
          </div>
          {% if not hide_guarantee %}
            <p class="fs-mini text-gray-thin font-base-it"><i class="wso-icon-lock"></i> Secure checkout <br> <i class="wso-icon-lock"></i> 100%
              Unconditional Money-Back Guarantee</p>
          {% else %}
            <p class="fs-mini text-gray-thin font-base-it"><i class="wso-icon-lock"></i> Secure checkout</p>
          {% endif %}
          <img loading="lazy" class="img-responsive center-block"
               src="/themes/custom/porto_sub/images/landing-page/temp/credit-cards.png"
               width="204" height="28" alt="Credit Cards">
        </div><!-- panel-body -->
      </div>

      {% if not hide_guarantee %}
        <div class="panel panel--primary panel--has-shadow-primary content p-l-0 p-r-0">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-sm-8 push-xs-down">
                <img loading="lazy" class="img-responsive center-block"
                     src="/themes/custom/porto_sub/images/landing-page/temp/guarantee.png"
                     width="184" height="184" alt="Guarantee">
              </div><!-- col -->

              <div class="col-md-18 col-sm-16">
                <h2 class="title--xs">
                  <span class="text-blue">
                    {% if content.field_wsop_title %}
                      {{ content.field_wsop_title }}
                    {% else %}
                      {{ '12 Month Risk-Free Guarantee'|t }}
                    {% endif %}
                  </span>
                </h2>

                {% if content.field_wsop_rich_text2 %}
                  {{ content.field_wsop_rich_text2 }}
                {% else %}
                  <p class="fs-xs">Your investment is protected by our 12-Month Risk-Free Guarantee. If, for any reason,
                    you
                    don’t think the WSO Private Equity Interview Prep Course is right for you, just send us an email, and
                    we’ll refund every penny. No questions asked. <span class="text-blue font-base-bold-it">In short,
                    you get a great return on your investment, or you get your money back.</span> It’s that simple.</p>
                {% endif %}
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- panel-body -->
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}



