{% include '@storybook/03-organisms/paragraphs/title-with-items/title-with-items.twig' with {
  'bundle': paragraph.bundle|clean_class,
  'view_mode': view_mode|clean_class,
  'isPublished': paragraph.isPublished(),
  'item_id': item_id,
  items_in_column,
  'field_title': content.field_title.0,
  'field_wso_paragraphs': content.field_wso_paragraphs,
} %}
