{% include '@storybook/03-organisms/paragraphs/text-wtih-title/text-with-title.twig' with {
  'bundle': paragraph.bundle|clean_class,
  'view_mode': view_mode|clean_class,
  'isPublished': paragraph.isPublished(),
  'item_id': item_id,
  paragraph_theme_color,
  theme_color_class,
  'field_wsop_title': content.field_wsop_title,
  'field_wsop_rich_text': content.field_wsop_rich_text
} %}
