{% include '@storybook/03-organisms/paragraphs/style-guide-2023/contact-us/contact-us.twig' with {
  'bundle': paragraph.bundle|clean_class,
  'view_mode': view_mode|clean_class,
  'isPublished': paragraph.isPublished(),
  'item_id': item_id,
  'field_title': content.field_title.0,
  'field_description': content.field_description,
  'field_image': content.field_image,
  'field_cta': content.field_cta,
  'field_main_button': content.field_main_button,
} %}
