{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
    'block__bundle__basic--megamenu'
  ]
%}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <p{{ title_attributes.addClass('h3 m-t-none block-title') }}>{{ label }}</p>
  {% endif %}
  {{ title_suffix }}

  {% block content %}

    {% if content.field_block_title_url|render|striptags|trim |length > 1 and  content.field_fa_custom_icon|render|striptags|trim |length > 1 %}
      <a class="media align-items-center" href="{{ content.field_block_title_url|render|striptags|trim }}">
        {% set color = '#' ~ content.field_image_overlay_color|render|striptags|trim %}
        <div class="media-icon me-3" style="color: {{ color }}; border-color: {{ color }}"><i class="icon {{ content.field_fa_custom_icon|render|striptags|trim }}"></i></div>
        <div class="media-body">
          <h5 class="mt-0 mb-0 media-title">{{ content.field_block_title }}</h5>
        </div>
      </a>
    {% endif %}

    {{ content|without('field_block_title', 'field_block_title_url', 'field_fa_custom_icon', 'field_image_overlay_color') }}
  {% endblock %}
</section>
