{% block content %}
  <div id="userLeaveModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg animated bounceIn" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="tagline text-center">{{ content.field_block_subtitle }} {{ modal_date }}</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-media">
            <div class="modal-media-left">
              {{ content.field_block_image }}
            </div>
            <div class="modal-media-body">
              <div class="modal-media-heading">{{ content.field_block_title }}</div>
            </div>
          </div>
          <div class="content signup-popup-content">
            <div class="text-center">{{ content.body }}</div>
            <div class="tip-text tip-text--mobile">{{ content.field_block_label }}</div>
            <div class="row">
              <div class="col-lg-14">
                <div>
                  {{ form }}
                  <div class="comments__register__social">
                    <p class="comments__register__social__title">{{ 'or Want to <strong>Sign up</strong> with your social account?'|t }}</p>
                    <div class="comments__register__social__buttons">
                      <a href="/user/login/facebook" class="btn popup-link comments__register__social__button social__button__facebook"><i class="icon icon-facebook-square"></i> Facebook</a>
                      <a href="/user/login/google" class="btn popup-link comments__register__social__button social__button__google"><i class="icon icon-google-plus"></i> Google</a>
                      <a href="/user/login/linkedin" class="btn popup-link comments__register__social__button social__button__linkedin"><i class="icon icon-linkedin"></i> Linkedin</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="tip-text tip-text--desktop">{{ content.field_block_label }}</div>
                </div>
              </div>
              <div class="d-none d-lg-block col-lg-10">
                {{ content.field_block_image }}
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {{ content|without('field_block_title', 'body', 'field_block_label', 'field_block_image', 'field_block_subtitle') }}
{% endblock %}
