{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <p{{ title_attributes.addClass('h3 m-t-none block-title') }}>{{ label }}</p>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <div class="col-sm-24 ir-pdf-part">
      <div class="col-sm-12 ir-text-part">
        <p class="ir-date">Updated as of {{ 'now' | date('F') }}, {{ 'now' | date('Y') }}</p>
        <h3 class="ir-title">Consulting {{ 'now' | date('Y') }} Report</h3>
        <p class="ir-description">If you’re looking to access details on pay, interview and company specific metrics in the Consulting industry, then you've come to the right place.</p>
        <a class="btn btn-success btn-lg" href="/consulting-industry-report">View Report</a>
      </div>
      <div class="col-sm-12 ir-image-part">
        <img loading="lazy" src="/modules/custom/company_database/company_db_reports/img/cc-cover-book-b.png" alt="">
      </div>
      <ul class="col-sm-24 list-inline quick-links">
        <li>Quick links</li>
        <li><a href="/consulting-industry-report">Compensation</a></li>
        <li><a href="/consulting-industry-report/reviews/{{ 'now' | date('Y') }}">Company Review</a></li>
        <li><a href="/consulting-industry-report/universities/{{ 'now' | date('Y') }}">University Stats</a></li>
        <li><a href="/consulting-industry-report/diversity/{{ 'now' | date('Y') }}">Diversity Stats</a></li>
        <li><a href="/consulting-industry-report/aggregate/{{ 'now' | date('Y') }}">Aggregate Stats</a></li>
      </ul>
    </div>
  {% endblock %}
</section>
