{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}

{% set classes = [
  custom_block_class,
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'clearfix',
] %}

<section{{ attributes.addClass(classes) }}>
  {% block content %}

    {% if is_boxed %}
      <a class="sidebar-special__link d-block" href="{{ cta_url }}">
        {{ content.field_block_image }}
        {% if title %}
          <div class="sidebar-special__message-container">
            <div class="sidebar-special__title">{{ title }}</div>
            {{ content.body }}
            {% if cta_title %}
              <button class="btn btn-success btn-sm">{{ cta_title }}</button>
            {% endif %}
          </div>
        {% endif %}
      </a>
    {% else %}
      <p class="h4 m-t-none pb-2">{{ title }}</p>
      <section class="sidebar-special__message-container p-2">
        <a href="{{ cta_url }}">
          <div class="card mb-2">
            {{ content.field_block_image }}
          </div>
        </a>
        <div class="mb-2">
          {{ content.body }}
        </div>
        {{ content.field_bottom_link }}
      </section>
    {% endif %}

  {% endblock %}
</section>
