{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}

<section{{ attributes.addClass(classes) }}>
  <div class="block-actions row">
    <div class="block-actions-title">
      {{ title_prefix }}
      {% if label %}
        <p{{ title_attributes.addClass('h3 m-t-none block-title') }}>{{ label }}</p>
      {% endif %}
      {{ title_suffix }}
    </div>
    <div class="block-actions-op">
      <div class="btn-group" style="opacity:0;">
        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a href="#">Actions...</a><span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" id="pm-actions-read">Mark as read</a>
          <a class="dropdown-item" href="#" id="pm-actions-unread">Mark as unread</a>
          <a class="dropdown-item" href="#" id="pm-actions-delete">Delete thread</a>
        </div>
      </div>
      <a href="/private_message/create" class="btn btn-success btn-xs">Send a message</a>
    </div>
  </div>


  {% block content %}
    <div class="block-content">
      <div class="row block-content-head">
        <div>
          <div>
            <div class="form-item form-type-checkbox" style="opacity:0;">
              <input class="form-checkbox" type="checkbox" value="pm-all" name="checkbox-pm-all" id="checkbox-pm-all">
              <label for="checkbox-pm-all" class="option"></label>
            </div>
            Last message/subject
          </div>
          <div>Last updated</div>
        </div>
        <div>Username</div>
      </div>
      {{ content }}
    </div>
  {% endblock %}
</section>
