{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{% if not attributes.hasClass('no-background') %}
  {% if (add_review_cta or has_reviews) %}
    <div{{ attributes }}>
      <div class="box-content clearfix">
        <p class="h4 m-t-none">Course feedbacks</p>
        <div class="views-course-feedbacks-content">
          {{ content }}

          <div class="view-footer">
            {{ reviews_link }}
            {{ add_review_cta }}
          </div>
        </div>

      </div>
    </div>
  {% endif %}
{% else %}
  {% if has_reviews %}
    {% block content %}
      <div class="text-center margin-bottom-20">
        {{ content }}
      </div>
    {% endblock %}
  {% endif %}
{% endif %}
