{% set module = 'social-auth' %}

{{ attach_library('social_auth/auth-icons') }}

{% for social_network in social_networks %}
  {% set class_name = social_network.route|replace({'.': '-'}) %}
  {% if destination %}
    <a class="{{ module }} auth-link {{ class_name }}" href="{{ path(social_network.route) }}?destination={{ destination }}">
  {% else %}
    <a class="{{ module }} auth-link {{ class_name }}" href="{{ path(social_network.route) }}">
  {% endif %}
    <img loading="lazy" class="{{ module }} auth-icon {{ class_name }}" src="{{ base_path }}{{ social_network.img_path }}" alt="">
  </a>
{% endfor %}
