<div class="private-message-notification-wrapper {{ unread_notification_class }}">
  <div class="notification-icon">
    <i class="icon icon-envelope"></i>
    <span class="badge">{{ private_message_page_link }}</span>
    {{ private_message_page_link }}
  </div>
</div>
