<div class="wso-alpha-no-access">
  <h2 class="wso-alpha-no-access__title">$0 to Get 100% Access</h2>
  <h6 class="wso-alpha-no-access_subttile">Unlock WSO Alpha premium content for free</h6>
  <div class="wso-alpha-no-access__buttons">
    <a href="{{ buy_url }}" class="use-ajax btn--svg-icon btn btn-success" rel="nofollow" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:480,&quot;classes&quot;:{&quot;ui-dialog&quot;:&quot;wso-braintree-dialog&quot;}}">GET ACCESS - FOR FREE <i class="svgicon"><svg class="svg-icon"><use xlink:href="#arrow-right" /></svg></i></a>
    <a href="/wso-alpha-overview" class="btn--svg-icon btn btn-lines">LEARN MORE <i class="svgicon"><svg class="svg-icon"><use xlink:href="#arrow-right" /></svg></i></a>
  </div>
</div>
