.node-type-wso-alpha,
.page-wso-alpha.page-node-type-page {
  .navbar__bottom__part {
    @include media(">=tablet") {
      min-height: 0;
      padding-bottom: 0;
    }
  }
}

.wso-alpha-teaser {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(var(--color-neutral-0--rgb), 0) 10%, rgba(var(--color-neutral-0--rgb), 1) 100%);
  }
}

.wso-alpha-no-access {
  background: var(--color-neutral-0--rgb);
  padding: 40px 40px 60px 40px;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 22px;
  }

  &__buttons {
    .btn {
      margin: 10px 6px;

      .svgicon {
        width: 15px;
        height: 12px;
      }
    }
  }
}

.ajax-progress {
  position: relative;

  .throbber {
    top: 0;
    left: 0;
  }
}
