@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";
@import "../../../trustpilot-reviews-slider/featured-trustpilot-reviews-slider.component";

.paragraphs-item-short-course-overview {
  .course-overview-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 0.25rem 0 0.75rem;

    .course-overview-item {
      color: $color-blue;
      padding: 0.25rem 0;

      .icon {
        color: var(--color-base);
        margin-right: 0.25rem;
      }

      &:not(:first-child)::before {
        content: '\2022';
        padding: 0 0.5rem;
        display: inline-block;
        color: var(--color-base);
      }
    }

    .course-overview-item.trustpilot-reviews {
      display: flex;

      .tp-widget {
        .tp-stars {
          width: 100px;

          &.tp-stars--5 .tp-star:nth-of-type(-n+5) .tp-star__canvas,
          &.tp-stars--5 .tp-star:nth-of-type(-n+5) .tp-star__canvas--half {
            fill: #00b67a;
          }
        }
      }

      .number-of-reviews {
        width: 100%;
      }
    }
  }
}
