{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ bundle,
    'paragraph',
    'paragraph--type--' ~ bundle,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not isPublished ? 'paragraph--unpublished',
    extra_class
  ]
%}

{{ attach_library('porto_sub/paragraph.short-course-overview.component') }}
{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="course-overview-main">
        {% if number_of_lessons %}
          <div class="course-overview-item number-of-lessons"><i class="icon icon-videocam"></i>{{ number_of_lessons }}</div>
        {% endif %}
        {% if course_duration %}
          <div class="course-overview-item course-duration"><i class="icon icon-time"></i>{{ course_duration }}</div>
        {% endif %}
        {% if number_of_students %}
          <div class="course-overview-item number-of-students"><i class="icon icon-graduation-cap"></i>{{ number_of_students }}</div>
        {% endif %}
        {% if star_rate %}
          <div class="course-overview-item trustpilot-reviews">
              <div class="tp-widget">
                <div class="tp-widget-stars me-2">
                  <a class="d-block" id="tp-widget-stars" target="_blank">
                    <div class="tp-stars tp-stars--{{ review_star }} {{ four_half_star }}">
                      <svg role="img" aria-labelledby="starRating" viewBox="0 0 251 46"
                           xmlns="http://www.w3.org/2000/svg">
                        <title id="starRating" lang="en">{{ star_rate }} out of five star rating on Trustpilot</title>
                        <g class="tp-star">
                          <path class="tp-star__canvas" fill="#dcdce6" d="M0 46.330002h46.375586V0H0z"></path>
                          <path class="tp-star__shape"
                                d="M39.533936 19.711433L13.230239 38.80065l3.838216-11.797827L7.02115 19.711433h12.418975l3.837417-11.798624 3.837418 11.798624h12.418975zM23.2785 31.510075l7.183595-1.509576 2.862114 8.800152L23.2785 31.510075z"
                                fill="#FFF"></path>
                        </g>
                        <g class="tp-star">
                          <path class="tp-star__canvas" fill="#dcdce6"
                                d="M51.24816 46.330002h46.375587V0H51.248161z"></path>
                          <path class="tp-star__shape"
                                d="M74.990978 31.32991L81.150908 30 84 39l-9.660206-7.202786L64.30279 39l3.895636-11.840666L58 19.841466h12.605577L74.499595 8l3.895637 11.841466H91L74.990978 31.329909z"
                                fill="#FFF"></path>
                        </g>
                        <g class="tp-star">
                          <path class="tp-star__canvas" fill="#dcdce6"
                                d="M102.532209 46.330002h46.375586V0h-46.375586z"></path>
                          <path class="tp-star__shape"
                                d="M142.066994 19.711433L115.763298 38.80065l3.838215-11.797827-10.047304-7.291391h12.418975l3.837418-11.798624 3.837417 11.798624h12.418975zM125.81156 31.510075l7.183595-1.509576 2.862113 8.800152-10.045708-7.290576z"
                                fill="#FFF"></path>
                        </g>
                        <g class="tp-star">
                          <path class="tp-star__canvas" fill="#dcdce6"
                                d="M153.815458 46.330002h46.375586V0h-46.375586z"></path>
                          <path class="tp-star__shape"
                                d="M193.348355 19.711433L167.045457 38.80065l3.837417-11.797827-10.047303-7.291391h12.418974l3.837418-11.798624 3.837418 11.798624h12.418974zM177.09292 31.510075l7.183595-1.509576 2.862114 8.800152-10.045709-7.290576z"
                                fill="#FFF"></path>
                        </g>
                        <g class="tp-star">
                          <path class="tp-star__canvas" fill="#dcdce6"
                                d="M205.064416 46.330002h46.375587V0h-46.375587z"></path>
                          <path class="tp-star__canvas--half" fill="#dcdce6"
                                d="M205.064416 46.330002h23.187793V0h-23.187793z"></path>
                          <path class="tp-star__shape"
                                d="M244.597022 19.711433l-26.3029 19.089218 3.837419-11.797827-10.047304-7.291391h12.418974l3.837418-11.798624 3.837418 11.798624h12.418975zm-16.255436 11.798642l7.183595-1.509576 2.862114 8.800152-10.045709-7.290576z"
                                fill="#FFF"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
                </div></div>
              <div class="number-of-reviews">
                <a href="#block-views-block-trustpilot-reviews-product-reviews">
                  {{ number_of_reviews }}
                </a>
              </div>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
