.comment-form {
  padding: 0 40px 40px;
  background: var(--color-neutral-0);

  .page-comment & {
    position: static !important;
    display: block;
    height: auto;
  }

  .form-textarea-wrapper {
    width: 100%;
  }

  .filter-guidelines {
    font-size: 12px;
  }

  .footer-actions {
    .page-comment & {
      position: static;
      display: flex;
      margin: 0;
    }

    @include media('>=desktop') {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
    }

    .form-actions-container {
      @include media('>=desktop') {
        text-align: right;
      }

      .comment-add-cancel {
        display: none !important;
      }

      .form-submit {
        display: inline-block !important;
        @extend %btn, .btn-success;
        width: auto;
        //margin-left: 20px
      }
    }
  }
}
