.page-node-edit--step-form {
  &.path-company-interview,
  &.path-company-compensation,
  &.path-company-review {
    .company-submission-form {
      .company-submission__step_head,
      .company-submission__step-header_head,
      .company-submission__step-header_body,
      .company-submission__header_prefix {
        display: none;
      }
    }

    .card--actions {
      @include media('>=desktop') {
        .form-type-checkbox {
          max-width: 50%;
        }
      }
    }

    .form-actions {
      display: inline-flex;
      float: right;
    }
  }
}
