html {
  &.js {
    .node-form {
      input {
        &.form-autocomplete {
          background-position: 100% 50%;
        }
      }
    }
  }
}

.node-form {
  .card-body--top {
    padding: 15px;

    @include media('>=tablet') {
      padding: 50px;
    }
  }

  .col-body {
    .panel-body {
      padding: $side-gap;
    }
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="date"]{
    height: 58px;
    border-radius: 3px;
    border: solid 1px var(--color-neutral-6);
    font-size: 18px;
    line-height: 58px;
    letter-spacing: .2px;
    color: var(--color-base);
    padding: 29px 24px;
    box-shadow: none;
    width: 100%;
    background-color: var(--color-neutral-0);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    margin: 0;

    @include placeholder {
      color: var(--color-neutral-6);
    }
  }

  .form-type-date {
    .is-touch & {
      display: block;
    }
  }

  input[type="date"],
  input[type="time"] {
    .is-touch & {
      height: auto;
      line-height: normal;
    }
  }

  .form-actions {
    text-align: center;

    input {
      border-radius: 3px;
      font-size: 16px;
      @include responsive-prop(700, 800, font-weight);
      height: 48px;
      letter-spacing: .2px;
      line-height: 1.13;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .field-name-field-event-date {
    .date-float {
      float: none;
    }
  }

  .col-md-8 {
    .container-inline-date {
      .form-item {
        width: 100%;
      }
    }

    .field-type-link-field {
      .link-field-column {
        float: none;
        width: 100%;
      }
    }

    .location-wrapper {
      .form-item-locations-0-city {
        margin-top: 0 !important;
      }
    }
  }

  .field-type-paragraphs {
    border-top: var(--color-neutral-2) 40px solid;
    border-bottom: var(--color-neutral-2) 40px solid;
    margin-left: -$side-gap;
    margin-right: -$side-gap;
    padding-left: $side-gap;
    padding-right: $side-gap;

    .field-multiple-drag {
      .tabledrag-handle {
        display: block;
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;

        .handle {
          display: block;
          height: 30px;
          margin: 0;
          padding: 0;
          width: 30px;
        }
      }
    }

    input {
      height: auto;
      width: auto;
    }

    input[type="text"] {
      line-height: 1.44;
      padding: 6px;
    }

    input[value=Remove] {
      background-color: $color-red;
      border-color: $color-red;
    }
  }

  #edit-field-wso-paragraphs-und-add-more {
    input {
      margin: 15px 15px 0 0;
    }
  }

  .select2-container--bootstrap4 {
    margin-top: 0;

    .select2-selection--single,
    .select2-selection--multiple {
      min-height: 58px !important;
      border: solid 1px var(--color-neutral-6);

      .select2-selection__clear {
        margin-top: 18px;
      }

      .select2-selection__rendered {
        line-height: 58px !important;
      }
    }

    .select2-selection--multiple {
      .select2-selection__rendered {
        margin-top: 12px;

        .select2-selection__clear {
          right: 30px;
          margin-top: 0;
          transform: translateY(-50%);
          top: 50%;
          position: absolute;
        }
      }
    }
  }
}

#mentor-profile-node-form {
  #find-user {
    margin-top: 22px;
  }

  #site-linked-user-status {
    margin-top: 22px;
  }
}

.node-mentor-profile-form {
  #edit-field-bio-0-value {
    min-height: 200px;
  }
}

/*
.page-node-edit {
  &--landing_page {
    .region-content {
      @include wso-container();

      [id]:before {
        content: 'ID: ' attr(id);
        display: inline;
        font-size: 14px;
      }
    }
  }
}
*/

@include media('<tablet') {
  .col-md-16 {
    &.col-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include media('>=tablet') {
  .node-form {
    .col-body {
      .panel-body {
        padding: 35px;
      }
    }

    .form-actions {
      input {
        min-width: 240px;

        +input {
          margin-left: 20px !important;
        }
      }
    }

    .field-type-paragraphs {
      input {
        min-width: 100px;
      }
    }

    .company-submission__section {
      .company-submission__part {
        .location-wrapper {
          .fieldset-wrapper {
            >.form-group {
              &:nth-child(2n) {
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.city-autocomplete-item {
  font-size: 16px;

  a {
    border: 1px solid transparent;


    &.ui-state-active {
      margin: 0;
      color: var(--color-neutral-0);
    }
  }

  i {
    opacity: 0.5;
  }
}
