//@import "./components/common-styles/helpers/colors";
//@import "./components/common-styles/helpers/mixins";

.field--widget-paragraphs {
  .field--type-link {
    .draggable {
      td {
        > .form-item {
          width: 45%;
          float: left;
        }
      }
    }
  }
}

table[id^=field-wso-paragraphs-values] {
  tr.draggable {
    opacity: .7;
    background-color: var(--color-neutral-4);

    &:hover {
      opacity: 1;
      background-color: $color-neutral-0 !important;

      .darkmode & {
        background-color: $color-neutral-0--dark !important;
      }
    }

    > td:nth-child(2) {
      border: 2px dashed var(--color-base);
    }
  }

  .paragraph-top {
    padding: 5px 5px 0 5px;
    background: var(--color-base);
    color: var(--color-neutral-0);
  }

 .slick-slider .slick-track {
   max-width: 90vw;

   .slick-slide {
     max-height: 200px;
   }
 }
}

.paragraph-type-add-modal-button {
  @extend %btn, .btn-success;
  @extend %btn, .btn-md;
  width: auto;
  margin: 10px;
}

.paragraphs-tabs {
  border-bottom: 1px solid var(--color-neutral-4);
  border-top-left-radius: 5px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  left: 0;
  width: 100%;
  background: white !important;
  margin: 0;
  box-shadow: 0px -3px 12px 0px rgba(50, 50, 50, 0.3);

  #wso-content-outer & {
    padding-top: 0 !important;
    top: auto !important;
    position: fixed !important;
    bottom: 0 !important;
  }

  .tabs__tab {
    border-top: 1px solid var(--color-neutral-4) !important;
    border-bottom: 1px solid var(--color-neutral-4);
    border-right: 1px solid var(--color-neutral-4);
    background: var(--color-neutral-2);
    flex: 1;
    display: inline-block;
    width: auto;
    background: 0 0;
    margin-bottom: -1px;
    line-height: 24px;

    &:first-child {
      border-left: 1px solid var(--color-neutral-4);

      a {
        border-left: none;
      }
    }

    &.is-active,
    &:hover {
      color: $color-blue;
      border-bottom: 1px solid var(--color-neutral-0);
      background: var(--color-neutral-0);
      border-top: 0;
      background: 0 0;
      margin-bottom: -1px;

      a {
        background-color: var(--color-neutral-0);
        border-top: 0;
        position: relative;
        border: none;

        &:before {
          display: block !important;
          background: $color-blue;
          content: "" !important;
          height: 3px;
          left: -1px;
          position: absolute;
          top: 0;
          width: calc(100% + 2px);
        }
      }
    }

    a {
      border: none;
      border-radius: 0;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: .2px;
      text-align: center;
      color: var(--color-neutral-7);
      background-color: var(--color-neutral-2);
      padding: 10px 24px;
      background: var(--color-neutral-1) none repeat scroll 0 0;
      margin-right: 0;
      display: block;
    }
  }
}

.js .paragraphs-add-dialog--categorized.paragraphs-style-list .paragraphs-add-dialog--categorized .paragraphs-button--icon,
.ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas.paragraphs-style-list .paragraphs-add-dialog--categorized .paragraphs-button--icon {
  display: block;
  width: 100%;
  height: 250px;
}

.js .paragraphs-add-dialog--categorized.paragraphs-style-list .paragraphs-add-dialog--categorized .paragraphs-button--add-more,
.ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas.paragraphs-style-list .paragraphs-add-dialog--categorized .paragraphs-button--add-more {
  padding: 10px;
}

.js .paragraphs-features__add-in-between__wrapper {
  width: 100%;
}
