//Region filter styles
%fake-checkbox {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-neutral-5);
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 10px;
}

.fake-checkbox {
  @extend %fake-checkbox;
}

.node-form {
  .select2-container {
    max-width: 100%;

    &.select2-container--focus {
      .select2-selection--multiple {
        border-color: $color-green-100;
      }
    }

    .select2-selection--multiple {
      min-height: 58px;
      border: 1px solid silver;
      border-radius: 3px;

      &[aria-expanded="true"] {
        .select2-selection__rendered:after {
          border-top: 6px solid $color-green-100;
          transform: translateY(-50%) rotate(180deg);
        }
      }

      .select2-selection__rendered {
        padding: 5px 30px 0 10px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0 !important;

        &:after {
          background: 0 0!important;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid var(--color-neutral-7);
          content: "";
          height: 0;
          margin: 0;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 0;
          z-index: 1;
        }
      }

      .select2-selection__clear {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: var(--color-neutral-7);
        border-radius: 100%;
        width: 20px;
        height: 20px;
        color: var(--color-neutral-0);
        display: inline-flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-weight: 400;
        z-index: 2;
        margin-top: 0;
        padding: 0;
      }

      .select2-selection__choice {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 36px;
        line-height: 36px;
        border-radius: 3px;
        background-color: var(--color-page-bg);
        white-space: nowrap;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .3px;
        color: var(--color-base);
        padding: 0 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        border: none;

        .select2-selection__choice__remove {
          cursor: pointer;
          color: var(--color-base);
          font-size: 16px;
          margin-right: 5px;
          background: var(--color-neutral-0);
          display: inline-flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          border: 1px solid var(--color-neutral-4);
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 3px;
          font-weight: 400;
          margin-left: 10px;
        }

        span {
          display: flex;
          align-items: center;

          .icon-flag {
            margin-right: 5px;
          }
        }
      }
    }

    .select2-search--inline {
      .select2-search__field {
        color: var(--color-base);
        background: var(--color-neutral-0);
        font-size: 18px;
        margin-left: 10px;
        margin-top: 12px;
      }
    }
  }
}

//Region filter dropdown styles
.select2-container--default .select2-results > .select2-results__options {
  @media (min-width: 768px) {
    max-height: 400px !important;
  }
}

.select2-container--open {
  .select2-dropdown--region-filter {
    font-size: 18px;
    font-weight: 400;

    .icon-flag {
      margin-right: 10px;
    }

    .select2-results__option {
      border-bottom: var(--color-neutral-4) 1px solid;
      padding: 16px 20px;

      span {
        display: flex;
        align-items: center;
      }

      &--highlighted,
      &[aria-selected=true] {
        background: var(--color-neutral-0) !important;
        color: $color-green-100 !important;

        .fake-checkbox {
          position: relative;

          &:before {
            font-family: fa-custom;
            content: '\e801';
            color: #08c42a;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 10px;
          }
        }
      }
    }

    .select2-results__option[role=group] {
      position: relative;

      &:after {
        font-family: fa-custom;
        content: '\e808';
        font-size: 10px;
        color: var(--color-neutral-7);
        display: inline-block;
        transform: rotate(180deg);
        position: absolute;
        top: 15px;
        right: 20px;
      }

      .select2-results__options--nested {
        height: 0;
        overflow: hidden;
      }

      &.opened {
        .select2-results__group:before {
          display: none;
        }

        .select2-results__options--nested {
          height: auto;
          border-top: var(--color-neutral-4) 1px solid;
        }

        &:after {
          transform: rotate(90deg);
        }
      }
    }

    .select2-results__group {
      align-items: center;
      display: inline-flex;
      cursor: pointer;
      padding: 16px 20px;
      font-weight: 500 !important;
      color: var(--color-base);
      background: transparent;

      &:before {
        @extend %fake-checkbox;
      }

      &:hover {
        color: $color-green-100;
      }
    }
  }
}

.field--name-field-region {
  .select2-container--bootstrap4 .select2-selection--multiple:after {
    display: none;
  }
}

