@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./components/common-styles/helpers/wso-bootstrap-variables--override";
@import "./node_modules/bootstrap/scss/mixins";


@import "./components/03-organisms/paragraphs/paragraphs.component";
@import "./components/03-organisms/node/forum-post/flags-icons";
@import "region-filter";
@import "node-edit.style";
@import "company-database-nodes-form.style";
@import "paragraphs-ui";
@import "./components/common-styles/editor";


.page-node-edit {
  .company-submission__alert {
    border-radius: 3px;
    border: solid 1px $color-green-100;
    background-color: rgba(121, 186, 90, .1);
    padding: 12px 50px 12px 20px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: .1px;
    color: $color-green-100;

    .close {
      opacity: 1;

      span {
        color: $color-green-100;
      }
    }

    &-section {
      display: inline-block;
      position: relative;
      border-radius: 3px;
      border: solid 1px $color-red;
      background-color: rgba(223, 71, 67, .1);
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: $color-red;
      padding: 10px;
      margin-top: 8px;

      .icon-exclamation {
        position: relative;
        padding: 0 5px 0 15px;
        vertical-align: top;

        &:after {
          background: $color-red;
          border-radius: 50%;
          content: "";
          height: 16px;
          left: 0;
          position: absolute;
          width: 16px;
          z-index: 0;
        }

        &:before {
          color: var(--color-neutral-0);
          font-size: 10px;
          left: -9px;
          position: relative;
          top: 0;
          z-index: 15;
        }
      }
    }
  }

  .region-breadcrumbs-replacer {
    @extend .container;
    padding: 0;
    margin-top: 20px;

    .breadcrumb {
      margin: 0;
      background: var(--color-neutral-0);
      border-bottom: 1px solid var(--color-neutral-3);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 15px 36px;
    }
  }

  &.page-node-edit--forum {
    .breadcrumbs-created {
      display: none;
    }
  }

  &--step-form {
    .breadcrumb {
      li,
      a {
        color: $color-link-blue;
      }
    }

    .row--two-columns {
      @include media('>=desktop') {
        > div {
          width: 50%;
          padding: 0 $side-gap;
        }
      }
    }
  }

  #wso-content-outer {
    padding: 0;
  }

  &.node-type-landing-page {
    .form-type-textarea {
      position: relative;
    }

    .mention-wrapper {
      margin-top: 15px;
    }
  }

  .vertical-tabs {
    border: 1px solid var(--color-neutral-5);

    &__menu {
      border-top: 1px solid var(--color-neutral-5);

      &-item {
        border: 1px solid var(--color-neutral-5);
        background: var(--color-neutral-3);
      }
    }
  }

  .accordion {
    legend {
      color: var(--color-base);
    }
  }
}

.node-form {
  img {
    max-width: 100%;
    height: auto;
  }

  .form-actions {
    display: flex;

    .page-node-edit--step-form & {
      justify-content: flex-end;
    }

    input, a {
      @media (min-width: 992px) {
        min-width: 150px;
        flex: 0 1 auto;
        width: auto;
      }
    }

    input[data-drupal-selector="edit-submit"] {
      @extend %btn, .btn-success;
      @extend %btn, .btn-md;

      @include media('<tablet') {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
      }
    }

    input[data-drupal-selector="edit-previous"] {
      @extend %btn, .btn-secondary;
      @extend %btn, .btn-md;
      margin-right: 10px;

      @include media('<tablet') {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
      }
    }

    input[data-drupal-selector="edit-preview"] {
      @extend %btn, .bg-white;
      @extend %btn, .btn-md;
      margin-left: 10px;

      @include media('<tablet') {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
      }
    }

    input[data-drupal-selector="edit-delete"],
    a[data-drupal-selector="edit-delete"] {
      //@extend %btn;
      @extend %btn, .btn-danger;
      @extend %btn, .btn-md;
      margin-left: 10px;

      @include media('<tablet') {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
      }
    }
  }

  label {
    @include form-label();

    .field-edit-link {
      display: block;
      width: 100%;
    }

    &.form-required {
      &:after {
        content: '*';
        display: inline-block;
        margin-left: 5px;
        color: $color-red;
      }

      &.form-item--min-check {
        &:after {
          display: none;
        }

        .label-text {
          &:after {
            content: '*';
            display: inline-block;
            margin-left: 5px;
            color: $color-red;
          }
        }
      }
    }
  }

  .description {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: .2px;
    color: var(--color-neutral-7);
    margin-top: 10px;

    code {
      display: none;
    }
  }

  .message-alert {
    color: $color-red;
  }

  .link-edit-summary {
    @include link();
  }

  .panel-uniqueness {
    border-radius: 3px;
    border: solid 1px var(--color-neutral-2);
    background-color: var(--color-neutral-3);

    .panel-heading {
      border: 0;
      background: transparent;
      display: flex;
      flex-wrap: wrap;

      h4 {
        background: url(/themes/custom/porto_sub/images/icons/light_bulb.png) no-repeat left top;
        color: var(--color-base);
        font-size: 13px;
        @include responsive-prop(700, 800, font-weight);
        letter-spacing: -0.2px;
        line-height: 16px;
        margin: 0;
        margin-right: 5px;
        padding-left: 16px;
      }

      p {
        font-size: 13px;
        letter-spacing: -0.2px;
        line-height: 20px;
        margin: 0;
      }
    }

    .panel-body {
      height: auto;
      max-height: 180px;
      overflow-y: auto;
    }
  }

  .field--type-file {
    font-size: 14px;

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    tbody {
      height: auto;
      border-top: 0;

      input[type=submit] {
        //@extend %btn;
        @extend %btn, .btn-danger;
        @extend %btn, .btn-sm;
      }
    }

    .file-icon {
      display: none !important;
    }

    .checkbox {
      padding: 0.75rem 0;

      .form-type-checkbox input[type="checkbox"] {
        height: 20px;
        opacity: 1;
        width: 20px;
      }
    }
  }

  .form-managed-file .form-file {
    border: 0;
    padding: 1px;
  }

  .field--type-file {
    details {
      margin: 0;
      padding: 0;
      border: 0;
      background: transparent;

      summary {
        display: none;
      }
    }
  }

  .filter-help,
  .filter-guidelines,
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  .field-multiple-table {
    th {
      border: 0;
      padding: 0;
    }

    td {
      border: 0;
    }

    h4 {
      color: var(--color-base);
      font-size: 16px;
      letter-spacing: .1px;
      line-height: 1.13;
      font-weight: 400 !important;
      margin: 0;
    }
  }

  .field-add-more-submit {
    //@extend %btn;
    @extend %btn, .btn-success;
    @extend %btn, .btn-sm;
    display: inline-block;
    width: auto;

    &[disabled] {
      opacity: 0.5;
    }
  }

  .field--name-field-applynow {
    legend {
      display: none;
    }

    @include media('>=desktop') {
      .fieldset-wrapper {
        display: flex;

        .form-item {
          width: 50%;
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 10px;
        }
      }
    }
  }

  .field--type-address {
    .address-container-inline {
      margin-top: 15px;

      @include media('>=desktop') {
        display: flex;
        flex-wrap: wrap;

        .form-type-select {
          flex: 1;
        }
      }
    }

    .form-item {
      margin-bottom: 15px;
    }
  }

  &.node-event-edit-form,
  &.node-event-form {
    .field--type-address {
      td {
        padding: 0;
      }

      h4,
      .field-multiple-drag {
        display: none;
      }
    }
  }

  .draggable {
    .field-multiple-drag {
      padding: 15px 0;
      width: 36px;
    }

    .tabledrag-handle {
      width: 36px;
      height: 36px;
      margin: 0;

      .handle {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }

  details {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--color-neutral-6);
    border-radius: 3px;
    background-color: var(--color-neutral-1);
    padding: 15px;

    summary {
      margin-bottom: 10px;
      text-transform: uppercase;
      @include responsive-prop(700, 800, font-weight);

      input[type=submit] {
        //@extend %btn;
        background: $color-blue;
        border-color: $color-blue;
        color: var(--color-neutral-0);
      }
    }
  }

  .filter-wrapper {
    border: 0;

    .filter-guidelines {
      font-size: 12px;
    }

    .filter-help a {
      font-size: 14px;
    }

    .select-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;

      @include media('>=desktop') {
        max-width: 250px;
      }
    }
  }

  .nav-tabs .nav-item .nav-link {
    border-top-width: 3px;
  }

  .vertical-tabs {
    font-size: 14px;

    &__pane {
      padding: 15px;
      margin: 30px;
    }
  }

  .fieldgroup {
    legend {
      @include form-label();
    }

    &.required {
      legend {
        &:after {
          content: '*';
          display: inline;
          color: $color-red;
        }
      }
    }
  }

  .col-sidebar .panel-heading {
    font-size: 16px;
    @include responsive-prop(700, 800, font-weight);
    line-height: 1.13;
    letter-spacing: 0.1px;
    color: var(--color-base);
    padding-top: 20px;
  }

  .page-node-edit--step-form & {
    .form-body {
      .card-body {
        padding: 24px 38px;
      }

      .form-radios,
      .form-checkboxes {
        @include w50-input();

        .form-item {
          border: var(--color-neutral-4) 1px solid;
          border-radius: $input-border-radius;
          padding: 15px 10px 15px 20px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .remove-button {
    //@extend %btn;
    @extend %btn, .btn-danger;
  }

  .edit-button {
    @extend %btn, .btn-secondary;
  }

  .form-actions {
    .dropbutton-wrapper {
      display: none;
    }
  }

  .field--name-field-media-reference {
    .field--name-revision-log-message {
      display: none;
    }
  }

  &.node-forum-form {
    .card {
      padding: 0;
      text-align: start;

      .select2-selection__arrow:after {
        top: 3px;
      }
    }
  }
}

.block-forms-steps {
  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--color-neutral-0);
    border-top-left-radius: 3px;
    border: 1px solid var(--color-neutral-4);
    border-top-right-radius: 3px;

    @include media('>=desktop') {
      flex-wrap: nowrap;
    }

    li {
      flex: 1;
      float: left;
      text-align: center;
      padding: 20px 0 26px;
      border-right: 1px solid var(--color-neutral-3);
      border-bottom: 4px solid var(--color-neutral-3);
      color: var(--color-neutral-7);
      font-size: 14px;

      span {
        display: block;
        font-size: 16px;
      }

      a {
        color: inherit;
      }

      &.active {
        border-bottom-color: $color-blue;
        color: var(--color-base);

        a {
          color: inherit;
        }
      }
    }
  }
}

.ui-dialog {
  border: 0 !important;

  .ui-dialog-titlebar {
    border: 0;
    border-radius: 0;
    background: var(--color-base);
    padding: 15px 49px 15px 15px;
  }

  .ui-dialog-titlebar-close {
    background: url(/core/misc/icons/ffffff/ex.svg) 4px 4px no-repeat;
  }
}

.field--type-text-with-summary,
.field--name-body {
  .select-wrapper + .form-item--error-message {
    display: none;
  }
}

.form-item--min-check {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .counter {
    background-color: transparent;
    margin: 0;
    padding: 0 0 0 25px;
    border: none;
    background-position: left center;
    background-repeat: no-repeat;

    &.warning {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_warning.png);
    }

    &.status {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_status.png);
    }
  }
}

%fake-text {
  color: var(--color-almost-black);
  display: block;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.17;
  margin-top: 14px;
  position: relative;
  width: 100%;
  min-width: 100%;
  margin-bottom: 20px;
}

//Form-steps
.node-company-review-step-5-form {
  .field--name-field-pros:before,
  .row--name-field-intern:before {
    @extend %fake-text;
  }

  .field--name-field-pros:before {
    content: "Company Review Detail";
  }

  .row--name-field-intern:before {
    content: "If it was an internship..";
    margin-left: $side-gap;
  }
}

.node-company-review-step-6-form {
  .field--name-title:before,
  .field--name-field-cr1:before {
    @extend %fake-text;
  }

  .field--name-title:before {
    content: "First of all..";
  }

  .field--name-field-cr1:before {
    content: "Rate the company";
    margin: 38px 0 32px;
    text-align: center;
  }
}

.page-node-edit--landing_page {
  .region-content {
    max-width: 100% !important;
  }
}

// Media Library. Todo: move into component.
#media-library-wrapper {
  input[type="Submit"] {
    @extend %btn, .btn-success;
    margin-top: 20px;
  }
}

.media-library-views-form {
  > div {
    width: 100%;
  }

  .file {
    &-size {
      display: none;
    }
  }
}

.media-library-view .media-library-view--form-actions {
  margin-top: 5px;
}

#node-template-form,
#node-template-edit-form {
  .media-library-selection .media-library-item--grid {
    width: 100% !important;
  }
}
