#book-mentor-block,
div[data-mentor] {
  display: none
}
.embeded-book-mentor[data-mentor] {
  display: block;
  margin: 20px 0
}
.embeded-book-mentor[data-mentor] form > div {
  align-items: center;
  display: flex
}
.embeded-book-mentor[data-mentor] .form-item-custom-mentor-book-now-select {
  margin-bottom: 0;
  margin-right: 15px
}
.mentor-book__part {
  position: absolute;
  top: -87px;
  width: 100%;
  display: inline-block
}
.mentor-book__part.mentor-book__part_footer {
  position: relative;
  top: 0
}
.mentor-book__part form > div {
  display: inline-block;
  width: 100%
}
.mentor-book__part .form-item-custom-mentor-book-now-select {
  display: inline-block;
  float: left;
  margin: 0;
  max-width: 320px;
  width: 100%
}
.mentor-content__part {
  padding-right: 40px
}
.mentor-expertise__block {
  margin-bottom: 24px
}
.mentors__content .fivestar-static-form-item {
  height: 0
}
.mentors__content>.mentors__content_mark,
.mentors__content>div,
.mentors__content>div.field-content {
  display: inline-block
}
.mentor-content__section_book-now_footer {
  position: relative;
  top: 0;
  background: linear-gradient(to bottom, var(--color-page-bg) 0, var(--color-page-bg) 49.5%, var(--color-neutral-3) 49.5%, var(--color-neutral-3) 50.5%, var(--color-neutral-0) 50.5%, var(--color-neutral-0) 100%)
}
.mentor-book__part_bg {
  background: var(--color-neutral-0);
  width: 100%;
  padding: 140px 0 0
}
.mentor-book__part_foot {
  width: 100%;
  display: inline-block
}
.mentor-book__part_foot form > div {
  display: inline-block;
  width: 100%
}
.mentor-book__part_foot .form-item-custom-mentor-book-now-select {
  display: inline-block;
  float: left;
  margin: 0;
  max-width: 320px;
  width: 100%
}
.mentor-price__section {
  border-top: 1px solid var(--color-neutral-4)
}
.mentor-expectation__title,
.mentor-price__title {
  color: var(--color-neutral-7);
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.17;
  margin: 48px 0 16px
}
body.page-mentors #header {
  box-shadow: 0 0 3px rgba(0, 0, 0, .1)
}
@media (min-width: 992px) {
  #block-mentorpagefaq .mentors-banner__container {
    max-width: 960px!important
  }
}
/*# sourceMappingURL=book-mentor.component.css.map */
