#header .navbar__top__part {
  height: 65px
}
#header .navbar__top__part .navbar__top__user {
  margin-right: 16px
}
#header .navbar__top__part .navbar__top__user button {
  background-color: inherit;
  border: none;
  outline: 0;
  box-shadow: none;
  width: 20px;
  height: 20px;
  margin: 0
}
#header .navbar__top__part .navbar__top__user button .icon::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}
#header .navbar__top__part .navbar__top__user button .icon.icon-cancel {
  width: 20px;
  height: 20px;
  position: relative
}
#header .navbar__top__part .navbar__top__user button .icon.icon-cancel::after,
#header .navbar__top__part .navbar__top__user button .icon.icon-cancel::before {
  width: 2px;
  height: 20px;
  background-color: #9db2bc;
  position: absolute;
  top: 0;
  right: 9px
}
#header .navbar__top__part .navbar__top__user button .icon.icon-cancel::before {
  transform: rotate(-45deg)
}
#header .navbar__top__part .navbar__top__user button .icon.icon-cancel::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transform: rotate(45deg)
}
#header .navbar__top__part .navbar__top__user button.m-search .icon-search::before {
  height: 20px;
  width: 20px;
  background-image: url(assets/large-search.svg)
}
#header .navbar__top__part .navbar__top__user button.m-menu {
  margin-left: 24px
}
#header .navbar__top__part .navbar__top__user button.m-menu .icon-menu {
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
#header .navbar__top__part .navbar__top__user button.m-menu .icon-menu .menu-line {
  width: 20px;
  height: 2px;
  background-color: #9db2bc
}
#header .navbar__top__part .navbar__top__user button.m-menu .icon-menu::before {
  content: none
}
#header .navbar__top__part .navbar__top__user button.m-menu[data-bs-toggle=collapse][aria-expanded=true] .icon-menu {
  display: none
}
#header .navbar__top__part .navbar__top__user button.m-menu img {
  vertical-align: baseline
}
#header .navbar__top__part .navbar__top__user .nav-main-mobile {
  top: 65px
}
#header .navbar__top__part .navbar__top__user .nav-main-mobile .buttons-wrapper {
  padding: 10px 24px
}
#header .navbar__top__part .navbar__top__user .nav-main-mobile .buttons-wrapper a {
  color: #0a4059;
  padding: 7px 20px;
  margin: 0;
  background-color: inherit;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5;
  text-align: center
}
#header .navbar__top__part .navbar__top__user .nav-main-mobile .buttons-wrapper a.authorize__link__signup {
  border: 1px solid #0a4059;
  border-radius: 6px
}
#header .navbar__bottom__part {
  padding-top: 2px
}
#header.header-disabled-sticky {
  position: relative;
  display: block;
  top: 0!important
}
#header.header-monkey-blue,
#header.header-monkey-blue ul#megamenu>li>a {
  background-color: #0a4059;
  color: #fff
}
#header.header-monkey-blue ul#megamenu .btn.btn-info {
  display: block
}
#header.header-monkey-blue .header__forum-options__block .dropdown-menu,
#header.header-monkey-blue .header__forum-options__block button,
#header.header-monkey-blue .header__forum-options__block button > a {
  border: none;
  background-color: #0a4059;
  color: #fff
}
#header.header-monkey-blue .header__forum-options__block button.forum__dropdown a {
  padding: 0;
  justify-content: start
}
#header.header-monkey-blue .header__forum-options__block button.forum__dropdown a:after,
#header.header-monkey-blue .header__forum-options__block button.forum__dropdown a:before {
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center
}
#header.header-monkey-blue .header__forum-options__block button.forum__dropdown a:before {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-image: url(assets/compass.svg)
}
#header.header-monkey-blue .header__forum-options__block button.forum__dropdown a:after {
  width: 10px;
  height: 5px;
  margin-left: 8px;
  background-image: url(assets/arrow-white.svg)
}
#header.header-monkey-blue .header__search form.views-exposed-form input {
  background-color: rgba(255, 255, 255, .1)!important;
  border: none;
  border-radius: 0 0 6px 6px!important;
  margin-top: -4px;
  height: 42px
}
#header.header-monkey-blue .header__search form.views-exposed-form .form-actions:after {
  content: "";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #0a4059;
  pointer-events: none;
  width: 16px;
  height: 16px;
  right: 13px;
  top: 13px;
  background-image: url(assets/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center
}
#header.header-monkey-blue span.caret:before {
  content: none
}
#header.header-monkey-blue span.caret:after {
  background-color: #0a4059;
  color: #fff
}
#header.header-monkey-blue .authorize__links a {
  color: #fff;
  padding: 7px 20px;
  margin: 0
}
#header.header-monkey-blue .authorize__links a.authorize__link__signup {
  border: 1px solid #9db2bc;
  border-radius: 6px
}
#header > .container {
  border: none!important
}
.header-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0
}
@media (min-width: 768px) {
  #header.header-monkey-blue .block-monkey-head-floating .profile-info span {
    background-color: #0a4059;
    color: #fff
  }
  #header.header-monkey-blue .authorize__links a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left
  }
}
@media (min-width: 992px) {
  #header .navbar__top__part {
    border-bottom: 1px solid rgba(255, 255, 255, .1019607843)
  }
  #header.header-monkey-blue .header__search form.views-exposed-form .form-actions:after {
    top: 8px
  }
}
@media (min-width: 1500px) {
  .header-container {
    max-width: 1400px!important
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    max-width: 100%!important
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-container {
    max-width: 720px!important
  }
}
@media (min-width: 992px) and (max-width: 1250px) {
  .header-container {
    max-width: 960px!important
  }
}
@media (min-width: 1250px) and (max-width: 1500px) {
  .header-container {
    max-width: 1200px!important
  }
}
/*# sourceMappingURL=header-redesign.component.css.map */
