@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.dynamic-header-block {
  height: 0;
  visibility: hidden;
  background-color: $color-monkey-blue;
  box-shadow: 0 2px 4px 0 #0A40591A;

  &.dynamic-header__sticky {
    top: 0;
    z-index: 100;
    position: sticky;
    visibility: visible;
    animation-name: float;
    animation-duration: 250ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    height: 100%;
    max-height: 40px;
    @include media('>=tablet') {
      max-height: 60px;
      &[data-administrative-mode="1"] {
        top: 79px;
      }
    }

    @keyframes float {
      0% {height: 0;}
      25% {height: 20px;}
      50% {height: 40px;}
      75% {height: 100%;}
      100% {height: 100%;}
    }
  }

  .dynamic-header-block.form-group {
    margin: 0;

    ul.dynamic-header-block__menu {
      @include media('<tablet') {
        padding-left: 16px;
      }

      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-wrap: nowrap;
      list-style: none;

      @include media('<tablet') {
        overflow-x: scroll;
        overflow-y: hidden;

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        &::-webkit-scrollbar {
          width: 0;  /* Remove scrollbar space */
          background: transparent;  /* Optional: just make scrollbar invisible */
        }
      }

      li {
        display: block;

        a {
          display: block;
          color: $color-white-70;
          height: 40px;
          font-size: 12px;
          font-weight: 400;
          line-height: 3.4;
          letter-spacing: 0;
          text-align: left;
          margin-right: 23px;
          white-space: nowrap;

          @include media('>=tablet') {
            height: 60px;
            font-size: 16px;
            font-weight: 700;
            line-height: 3.8;
            letter-spacing: 0;
            margin-right: 51px;
          }


          &:hover {
            color: $color-white-100;
          }

          &:active, &.active {
            color: $color-light-oasis;
            border-bottom: 3px solid $color-light-oasis;
          }
        }
      }
    }
  }
}
