@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

@mixin header-monkey-blue {
  background-color: $color-monkey-blue;
  color: $color-white-100;
}

#header {
  .navbar__top__part {
    height: 65px;
    @include media('>=desktop') {
      border-bottom: 1px solid #FFFFFF1A
    }

    .navbar__top__user {
      margin-right: 16px;

      button {
        background-color: inherit;
        border: none;
        outline: none;
        box-shadow: none;
        width: 20px;
        height: 20px;
        margin: 0;

        .icon {
          &::before {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
          }

          &.icon-cancel {
            width: 20px;
            height: 20px;
            position: relative;

            &::before,
            &::after {
              width: 2px;
              height: 20px;
              background-color: $color-monkey-grey;
              position: absolute;
              top: 0;
              right: 9px;
            }
            &::before {
              transform: rotate(-45deg);
            }
            &::after {
              content: '';
              display: block;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
              transform: rotate(45deg);
            }
          }
        }

        &.m-search {
          .icon-search::before {
            height: 20px;
            width: 20px;
            background-image: url("./assets/large-search.svg");
          }
        }
        &.m-menu {
          margin-left: 24px;
          .icon-menu {
            height: 20px;
            width: 30px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .menu-line {
              width: 20px;
              height: 2px;
              background-color: $color-monkey-grey;
            }

            &::before {
              content: none;
            }
          }

          &[data-bs-toggle="collapse"][aria-expanded="true"] {
            .icon-menu {
              display: none;
            }
          }

          img {
            vertical-align: baseline;
          }
        }
      }

      .nav-main-mobile {
        top: 65px;

        .buttons-wrapper {
          padding: 10px 24px;

          a {
            color: $color-monkey-blue;
            padding: 7px 20px;
            margin: 0;
            background-color: inherit;

            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 1.5;
            text-align: center;

            &.authorize__link__signup {
              border: 1px solid $color-monkey-blue;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
  .navbar__bottom__part {
    padding-top: 2px;
  }

  &.header-disabled-sticky {
    position: relative;
    display: block;
    top: 0!important;
  }

  &.header-monkey-blue {
    @include header-monkey-blue();

    ul#megamenu {
      > li > a {
        @include header-monkey-blue();
      }

      .btn.btn-info {
        display: block;
      }
    }

    .header__forum-options__block {
      button, button > a,
      .dropdown-menu {
        border: none;
        @include header-monkey-blue();
      }

      button.forum__dropdown a {
        padding: 0;
        justify-content: start;

        &:before,
        &:after {
          content: '';
          display: inline-block;

          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &:before {
          width: 16px;
          height: 16px;
          margin-right: 6px;
          background-image: url("./assets/compass.svg");
        }
        &:after {
          width: 10px;
          height: 5px;
          margin-left: 8px;
          background-image: url("./assets/arrow-white.svg");
        }
      }
    }

    .header__search form.views-exposed-form {
      input {
        background-color: $color-white-10!important;
        border: none;
        border-radius: 0 0 6px 6px!important;
        margin-top: -4px;
        height: 42px;
      }

      .form-actions:after {
        content: "";
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: #0a4059;
        pointer-events: none;

        width: 16px;
        height: 16px;

        right: 13px;
        top: 13px;
        @include media('>=desktop') {
          top: 8px;
        }

        background-image: url("./assets/search.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    @include media('>=tablet') {
      .block-monkey-head-floating {
        .profile-info {
          span {
            @include header-monkey-blue();
          }
        }
      }
    }

    span.caret {
      &:before {
        content: none;
      }
      &:after {
        @include header-monkey-blue();
      }
    }

    .authorize__links {
      a {
        color: $color-white-100;
        padding: 7px 20px;
        margin: 0;

        @include media('>=tablet') {
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 0;
          text-align: left;
        }

        &.authorize__link__signup {
          border: 1px solid $color-monkey-grey;
          border-radius: 6px;
        }
      }
    }
  }
}

#header > .container {
  border: none!important;
}

.header-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;

  @media screen and (max-width: 768px) {
    max-width: 100% !important
  }

  @media (min-width: 768px) and (max-width: 992px) {
    max-width: 720px!important;
  }

  @media (min-width: 992px) and (max-width: 1250px) {
    max-width: 960px!important;
  }

  @media (min-width: 1250px) and (max-width: 1500px) {
    max-width: 1200px!important;
  }

  @media (min-width: 1500px) {
    max-width: 1400px!important;
  }
}
