{# Get menu items #}
{% set items = simplify_menu('wso-menu') %}

{# Main overrides here: #}
{{ attach_library('porto_sub/header-redesign.component') }}

{{ attach_library('porto_sub/header.component') }}
{{ attach_library('porto_sub/navbar--top-part.component') }}
{{ attach_library('porto_sub/navbar--bottom-part.component') }}
{{ attach_library('porto_sub/megamenu.component') }}
{{ attach_library('porto_sub/megamenu-custom-blocks.component') }}
{{ attach_library('porto_sub/mobile-menu-styles.component') }}

{% if logged_in %}
  {{ attach_library('porto_sub/monkey-head.user.component') }}
  {{ attach_library('porto_sub/messages.user.component') }}
  {{ attach_library('porto_sub/user-menu.user.component') }}
{% endif %}

{% if is_admin %}
  {{ attach_library('porto_sub/header-redesign.tabs.component') }}
{% endif %}

<header id="header" class="header-monkey-blue header-disabled-sticky hidden-print">
  <div class="header-container container">
    <div class="navbar__top__part">
      <div class="navbar__top__branding">
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo" class="navbar-brand logo">
          <img decoding="async" loading="eager"
            src="/themes/custom/porto_sub/components/04-regions/header-redesign/assets/wso-logo-2023.png"
            srcset="/themes/custom/porto_sub/components/04-regions/header-redesign/assets/wso-logo-2023.png 1x, /themes/custom/porto_sub/components/04-regions/header-redesign/assets/wso-logo-2023-2x.png 2x"
            alt="{{ 'Home'|t }}" class="logo-img" width="96" height="32">
        </a>

        {% if darkmode_enabled %}
          {{ drupal_block('wso_darkmode_switcher') }}
        {% endif %}

        {% set header_classes = 'mobile-forum-menu header__forum-options__block collapse d-lg-none' %}
        {% set role = 'role=menu' %}
        {% set aria = 'aria-expanded=false' %}

        {% include '@storybook/02-molecules/forum-menu-items/forum-menu-items.twig' with {
          'classes': header_classes,
          'role': role,
          'aria': aria
        } %}

        <nav class="d-none d-lg-flex align-items-center navbar navbar-expand-lg">
          {% include '@storybook/03-organisms/megamenu/megamenu--desktop.twig' with {'id': 'megamenu'} %}
        </nav>
      </div>

      <div class="navbar__top__user">
        <button href="/search" class="m-search btn d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target=".header__search" aria-expanded="false">
          <i class="icon icon-search"></i>
          <i class="icon icon-cancel"></i>
        </button>

        <button class="m-menu m-user btn b-block d-lg-none {% if logged_in %}btn-transparent{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target=".nav-main-mobile" aria-expanded="false">
          {% if logged_in %}
            <img decoding="async" loading="lazy" class="icon-ellipsis-v img-fluid rounded-circle" src="{{ user_picture }}">
          {% else %}
            <i class="icon icon-menu">
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
            </i>
            <i class="icon icon-cancel"></i>
          {% endif %}
        </button>

        <nav class="nav-main-mobile navbar d-none d-lg-none">
          {% if logged_in %}
            <div class="block-monkey-head-floating">
              {{ monkey_header }}
            </div>
          {% endif %}

          {% include '@storybook/03-organisms/megamenu/megamenu.twig' with {'id': 'mobile-menu'} %}

          <div class="buttons-wrapper">
            {% if logged_in %}
              <a href="/user/logout" class="user-menu__link">Sign Out</a>
            {% else %}
              <a href="/user/login?destination={{ path('<current>') }}" class="authorize__link authorize__link__login">Sign In</a>
              <a href="/user/register" class="btn btn-success btn-sm authorize__link authorize__link__signup">Join Us</a>
            {% endif %}
          </div>
        </nav>

        {% if logged_in %}
          <div class="block-monkey-head-floating d-none d-lg-block">
            {{ monkey_header }}
          </div>
          {% include '@storybook/02-molecules/user-messages/user-messages.twig' %}
          <div class="ms-2 user-courses d-none d-lg-inline-block">
            <ul class="notifications system">
              <li>
                <a href="/courses" class="notification-icon" title="{{ 'Courses'|t }}">
                  <i class="icon icon-graduation-cap"></i>
                </a>
              </li>
            </ul>
          </div>
        {% else %}
          <div class="authorize__links">
            <a href="/user/login?destination={{ path('<current>') }}" class="authorize__link authorize__link__login">Sign In</a>
            <a href="/user/register" class="btn btn-success btn-sm authorize__link authorize__link__signup">Join Us</a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="navbar__bottom__part d-flex">
      <div class="nav__forum d-none d-lg-flex">
        <div class="btn-group header__forum-options__block">
          <button type="button" class="form-control dropdown-toggle forum__dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-hover="dropdown">
            <a href="/forum/investment-banking" class="forum__dropdown_option">{{ 'Explore Discussions'|t }}</a>
          </button>

          {% set classes = 'dropdown-menu' %}
          {% set role = 'role=menu' %}

          {% include '@storybook/02-molecules/forum-menu-items/forum-menu-items.twig' with {
            'classes': classes,
            'role': role,
            'aria': ''
          } %}
        </div>
        <div class="header__forum-industries__block d-sm-block d-md-none">
          <ul class="list list-unstyled list-inline short-links m-t-xs header__industry__items header__industry__items--icons">
            <li><a href="/tracker" class="forum__dropdown_option" title="Recently Active"><i class="icon icon-time"></i></a></li>
            <li><a href="/tracker/top/72-hours" class="forum__dropdown_option" title="Top Discussions"><i class="icon icon-bolt"></i></a></li>
            {% if logged_in %}
              <li><a href="/tracker/bookmarks" class="forum__dropdown_option" title="My Bookmarks"><i class="icon icon-bookmark"></i></a></li>
            {% endif %}
            <li><a href="/tracker/top" class="forum__dropdown_option" title="Best Content"><i class="icon icon-trophy"></i></a></li>
            <li><a href="/media" class="forum__dropdown_option" title="WSO Media"><i class="icon icon-youtube-play"></i></a></li>
          </ul>
          <ul class="list list-unstyled list-inline short-links m-t-xs header__industry__items">
            {% for item in selected_forums_list.by_industry %}
              <li><a href="{{ item.url }}" title="{{ item.long_title }}">{{ item.short_title }}</a></li>
            {% endfor %}
            <li><a href="/forum" title="All Forums">ALL</a></li>
            {% for item in selected_forums_list.related %}
              <li><a href="{{ item.url }}" title="{{ item.long_title }}">{{ item.short_title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="header__search d-none d-lg-block">
        {{ header_search }}
      </div>
    </div>
  </div>
</header>

<div class="dynamic-header-block" data-administrative-mode="{{ is_admin ?? 0 }}">
  <div class="header-container container">
    {{ attach_library('porto_sub/header-redesign.dynamic.component') }}
    {{ drupal_block('wso_dynamic_header_block') }}
  </div>
</div>
