@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

body:not(.page-node-edit) {
  .region-highlighted {
    background-color: $color-monkey-blue;

    .messages__wrapper {
      margin: 0;
      padding: 10px 0;

      .alert {
        margin: 0;
      }
    }
  }

  @include media('>=tablet') {
    .block-wso-admin-helper {
      display: block;
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 999;
      width: fit-content;
      margin: 0 25px 15px 0;

      &, * {
        color: $color-white-100;
        background-color: $color-monkey-blue;
      }
    }

    .container--breadcrumbs {
      display: block;
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 998;
      width: 100%;
      max-width: 100%;

      &, * {
        color: $color-white-100;
        background-color: $color-monkey-blue;
      }

      .tabs--primary.nav.nav-tabs {
        border: unset;
        width: fit-content;
        margin: 0 auto;
        padding: 10px 0;
      }

      a.nav-link {
        &.active, &.is-active {
          text-decoration: underline 1px $color-white-100;
        }

        &:hover, &:focus, &:active, &.active, &.is-active {
          color: $color-white-100;
          background-color: $color-monkey-blue;
        }
      }
    }
  }
}
