body:not(.page-node-edit) .region-highlighted {
  background-color: #0a4059
}
body:not(.page-node-edit) .region-highlighted .messages__wrapper {
  margin: 0;
  padding: 10px 0
}
body:not(.page-node-edit) .region-highlighted .messages__wrapper .alert {
  margin: 0
}
@media (min-width: 768px) {
  body:not(.page-node-edit) .block-wso-admin-helper {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: fit-content;
    margin: 0 25px 15px 0
  }
  body:not(.page-node-edit) .block-wso-admin-helper,
  body:not(.page-node-edit) .block-wso-admin-helper * {
    color: #fff;
    background-color: #0a4059
  }
  body:not(.page-node-edit) .container--breadcrumbs {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 998;
    width: 100%;
    max-width: 100%
  }
  body:not(.page-node-edit) .container--breadcrumbs,
  body:not(.page-node-edit) .container--breadcrumbs * {
    color: #fff;
    background-color: #0a4059
  }
  body:not(.page-node-edit) .container--breadcrumbs .tabs--primary.nav.nav-tabs {
    border: unset;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0
  }
  body:not(.page-node-edit) .container--breadcrumbs a.nav-link.active,
  body:not(.page-node-edit) .container--breadcrumbs a.nav-link.is-active {
    text-decoration: underline 1px #fff
  }
  body:not(.page-node-edit) .container--breadcrumbs a.nav-link.active,
  body:not(.page-node-edit) .container--breadcrumbs a.nav-link.is-active,
  body:not(.page-node-edit) .container--breadcrumbs a.nav-link:active,
  body:not(.page-node-edit) .container--breadcrumbs a.nav-link:focus,
  body:not(.page-node-edit) .container--breadcrumbs a.nav-link:hover {
    color: #fff;
    background-color: #0a4059
  }
}
/*# sourceMappingURL=header-redesign.tabs.component.css.map */
