.dynamic-header-block {
  height: 0;
  visibility: hidden;
  background-color: #0a4059;
  box-shadow: 0 2px 4px 0 rgba(10, 64, 89, .1019607843)
}
.dynamic-header-block.dynamic-header__sticky {
  top: 0;
  z-index: 100;
  position: sticky;
  visibility: visible;
  animation-name: float;
  animation-duration: 250ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  height: 100%;
  max-height: 40px
}
@keyframes float {
  0% {
    height: 0
  }
  25% {
    height: 20px
  }
  50% {
    height: 40px
  }
  100%,
  75% {
    height: 100%
  }
}
.dynamic-header-block .dynamic-header-block.form-group {
  margin: 0
}
.dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none
}
.dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu li {
  display: block
}
.dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu li a {
  display: block;
  color: rgba(255, 255, 255, .7);
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 3.4;
  letter-spacing: 0;
  text-align: left;
  margin-right: 23px;
  white-space: nowrap
}
.dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu li a:hover {
  color: #fff
}
.dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu li a.active,
.dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu li a:active {
  color: #b7e1f3;
  border-bottom: 3px solid #b7e1f3
}
@media (min-width: 768px) {
  .dynamic-header-block.dynamic-header__sticky {
    max-height: 60px
  }
  .dynamic-header-block.dynamic-header__sticky[data-administrative-mode="1"] {
    top: 79px
  }
  .dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu li a {
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 3.8;
    letter-spacing: 0;
    margin-right: 51px
  }
}
@media (max-width: 767px) {
  .dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu {
    padding-left: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none
  }
  .dynamic-header-block .dynamic-header-block.form-group ul.dynamic-header-block__menu::-webkit-scrollbar {
    width: 0;
    background: 0 0
  }
}
/*# sourceMappingURL=header-redesign.dynamic.component.css.map */
