label {
  font-weight: 400!important;
  clear: both
}
.form-control {
  border-color: #ced4da
}
.form-control.hidden {
  display: none
}
.form-item input[type=text] {
  box-shadow: none
}
.form-item input[type=search]::-webkit-search-cancel-button,
.form-item input[type=search]::-webkit-search-decoration,
.form-item input[type=search]::-webkit-search-results-button,
.form-item input[type=search]::-webkit-search-results-decoration {
  display: none
}
.node-form .votingapi-widgets.fivestar {
  border: 1px solid var(--color-neutral-4);
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 20px 24px 12px
}
.node-form .votingapi-widgets.fivestar .select2 {
  display: none
}
.dropdown {
  font-size: 13px;
  font-weight: 700
}
.dropdown .dropdown-toggle {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base)
}
.dropdown .dropdown-toggle > span {
  display: inline-flex;
  align-items: center
}
.dropdown .dropdown-toggle .icon {
  margin-right: 10px;
  font-size: 12px;
  color: #189eda
}
.dropdown .dropdown-toggle a {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.dropdown .dropdown-toggle a i {
  margin-right: 10px;
  color: #189eda
}
.dropdown .dropdown-toggle .dropdown-toggle-text {
  max-width: calc(100% - 20px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.dropdown .dropdown-toggle .caret {
  border: 0;
  min-width: 16px;
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 20px
}
.dropdown .dropdown-toggle .caret:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-3)
}
.dropdown .dropdown-toggle .caret:after {
  font-family: fa-custom;
  content: "\e808";
  font-size: 9px;
  color: var(--color-base);
  display: inline-block;
  transform: rotate(-90deg);
  position: absolute;
  top: 3px;
  left: 5px
}
.dropdown .dropdown-toggle:after {
  display: none
}
.dropdown .dropdown-menu {
  column-count: 1;
  column-gap: initial;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base);
  padding: 0
}
.dropdown .dropdown-menu > li {
  font-size: 13px;
  line-height: 1.23
}
.dropdown .dropdown-menu > li:last-child {
  border-bottom: 0
}
.dropdown .dropdown-menu > li > a {
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 16px;
  color: var(--color-base)
}
.dropdown .dropdown-menu > li > a:hover {
  text-decoration: none;
  background: var(--color-neutral-2)
}
.dropdown .dropdown-menu > li > a.dropdown__option_noicon {
  padding: 12px 10px 12px 16px
}
.dropdown .dropdown-menu > li > a i {
  margin-right: 10px
}
.dropdown.open .dropdown-toggle {
  box-shadow: none;
  border-color: var(--color-neutral-5)
}
.dropdown.open .dropdown-toggle .caret:after {
  color: #189eda;
  transform: rotate(90deg);
  top: 2px;
  left: 4px
}
.form-type-select {
  background: url(/themes/custom/porto_sub/images/animation/line-loader.gif) center center no-repeat;
  position: relative
}
.form-type-select.select2--processed {
  background: 0 0
}
.form-type-select select {
  opacity: 0;
  max-height: 38px
}
.form-type-select .ajax-progress-throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  margin-top: 15px
}
.form-type-select .ajax-progress-throbber .throbber {
  background: url(/themes/custom/porto_sub/images/animation/line-loader.gif) center center no-repeat;
  display: inline-block;
  width: 60px
}
.form-type-select .ajax-progress-throbber + .select2 {
  opacity: 0
}
.form-item input[type=text]:focus,
input[type=text].form-control:focus {
  border-color: #08c42a!important;
  box-shadow: 0 0 4px 0 rgba(8, 196, 42, .5)!important;
  outline: 0
}
.fivestar .select2 {
  display: none
}
.clientside-validation.error,
.form-control.error {
  border: 1px solid #f04944!important
}
.clientside-validation.error:focus,
.form-control.error:focus {
  border: 1px solid #f04944!important;
  box-shadow: 0 0 4px 0 rgba(255, 0, 0, .5)!important
}
.required {
  font-size: inherit
}
.form-item input[type=text].error:focus,
input[type=text].form-control.error:focus {
  border: 1px solid #f04944!important;
  box-shadow: 0 0 4px 0 rgba(255, 0, 0, .5)!important
}
.form-item label.error,
.form-item label.error strong,
.form-item--error-message,
.form-item--error-message strong,
.node-form label.error,
.node-form label.error strong {
  color: #f04944;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700!important;
  display: block
}
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important
}
.ui-dialog.editor-image-dialog {
  max-width: 100%
}
.ui-autocomplete.ui-front {
  z-index: 2000;
  font-size: 13px
}
.ui-widget {
  background: var(--color-neutral-0);
  color: var(--color-base);
  border: 1px solid var(--color-neutral-5);
  font-family: Lato,sans-serif
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0
}
.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer
}
.ui-menu.search-api-autocomplete-search .ui-menu-item a {
  display: block;
  padding: 0
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px .4em
}
.ui-button.ui-state-active:hover,
.ui-button:active,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: 400;
  color: #fff
}
.contact-form .form-actions {
  background: 0 0;
  border-top: none;
  padding: 20px 0
}
.contact-form .form-item-name,
.contact-form .form-item-subject {
  margin-left: 0
}
.contact-form .form-textarea-wrapper textarea {
  height: 200px
}
#block-search-form form {
  margin-bottom: -10px
}
.form-actions,
.form-item {
  margin-top: inherit
}
form label {
  font-weight: 500
}
form input.form-checkbox,
input.form-radio {
  vertical-align: inherit
}
input.form-text[readonly=readonly] {
  background-color: var(--color-neutral-4);
  color: var(--color-neutral-6)
}
.field-type-datetime .container-inline-date .date-padding {
  float: inherit;
  padding: inherit
}
.field-type-datetime .description {
  display: none
}
html.js .header__search input.form-autocomplete {
  background: 0 0
}
@media (min-width: 768px) {
  .ui-dialog.editor-image-dialog {
    max-width: 620px
  }
}
@media (min-width: 992px) {
  .node-form .votingapi-widgets.fivestar .form-item {
    display: flex
  }
  .node-form .votingapi-widgets.fivestar .form-item > * {
    margin: 0
  }
  .node-form .votingapi-widgets.fivestar .form-item label {
    flex: 1;
    text-align: center
  }
}
/*# sourceMappingURL=form.component.css.map */
