@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

label {
  font-weight: 400 !important;
  clear: both;
}

.form-control {
  border-color: $input-border-color;

  &.hidden {
    display: none;
  }
}

.form-item {
  input[type=text] {
    box-shadow: none;
  }

  input[type=search] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

.node-form {
  .votingapi-widgets.fivestar {
    border: 1px solid var(--color-neutral-4);
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 20px 24px 12px;

    .select2 {
      display: none;
    }

    .form-item {
      @include media('>=desktop') {
        display: flex;

        > * {
          margin: 0;
        }

        label {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}

.dropdown {
  @include dropdown();
}

.form-type-select {
  background: url('/themes/custom/porto_sub/images/animation/line-loader.gif') no-repeat center center;
  position: relative;

  &.select2--processed {
    background: none;
  }

  select {
    opacity: 0;
    max-height: 38px;
  }

  .ajax-progress-throbber {
    @include absolute-center();
    z-index: 99;
    margin-top: 15px;

    .throbber {
      background: url('/themes/custom/porto_sub/images/animation/line-loader.gif') no-repeat center center;
      display: inline-block;
      width: 60px;
    }

    & + .select2 {
      opacity: 0;
    }
  }
}

input[type=text].form-control,
.form-item input[type=text] {
  @include focused-input();
}

.fivestar {
  .select2 {
    display: none;
  }
}

.clientside-validation,
.form-control {
  &.error {
    border: $color-red 1px solid !important;

    &:focus {
      border: $color-red 1px solid !important;
      box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.5) !important;
    }
  }
}

.required {
  font-size: inherit;
}

input[type=text].form-control.error:focus,
.form-item input[type=text].error:focus {
  border: $color-red 1px solid !important;
  box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.5) !important;
}

.node-form label.error,
.form-item--error-message,
.form-item label.error {
  &,
  strong {
    color: $color-red;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700 !important;
    display: block;
  }
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ui-dialog {
  &.editor-image-dialog {
    max-width: 100%;

    @include media('>=tablet') {
      max-width: 620px;
    }
  }
}

.ui-autocomplete.ui-front {
  z-index: 2000;
  font-size: 13px;
}

.ui-widget {
  background: var(--color-neutral-0);
  color: var(--color-base);
  border: 1px solid var(--color-neutral-5);
  font-family: Lato,sans-serif;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}

.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;

  .ui-menu-item {
    margin: 0;
    cursor: pointer;
  }

  &.search-api-autocomplete-search {
    .ui-menu-item a {
      display: block;
      padding: 0;
    }
  }

  .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
  }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: 400;
  color: #fff;
}

//Todo: review
.contact-form {
  .form-actions {
    background: transparent;
    border-top: none;
    padding: 20px 0;
  }

  .form-item-name {
    margin-left: 0;
  }

  .form-item-subject {
    margin-left: 0;
  }

  .form-textarea-wrapper {
    textarea {
      height: 200px;
    }
  }
}

#block-search-form {
  form {
    margin-bottom: -10px;
  }
}

.form-item {
  margin-top: inherit;
}

.form-actions {
  margin-top: inherit;
}

form {
  label {
    font-weight: 500;
  }

  input {
    &.form-checkbox {
      vertical-align: inherit;
    }
  }
}

input {
  &.form-radio {
    vertical-align: inherit;
  }

  &.form-text[readonly="readonly"] {
    background-color: var(--color-neutral-4);
    color: var(--color-neutral-6);
  }
}

.field-type-datetime {
  .container-inline-date {
    .date-padding {
      float: inherit;
      padding: inherit;
    }
  }

  .description {
    display: none;
  }
}

html {
  &.js {
    .header__search {
      input {
        &.form-autocomplete {
          background: none;
        }
      }
    }
  }
}
