@import "./components/common-styles/helpers/sprite-png";

.ui-dialog {
  &-title {
    display: none;
    border: none;
  }

  .ui-dialog-content {
    padding: 0 25px 15px;

    @include media('>=desktop') {
      padding: 0 50px 25px;
    }
  }
}

.ui-widget {
  padding: 0;
  border: 0;

  &-overlay {
    z-index: 1002 !important;
  }

  &-header {
    background: none;
    border: 0;
    min-height: 45px;
    padding: 0 20px !important;

    button.ui-dialog-titlebar-close {
      @include sprite($icon-close);
      background-color: transparent;
      border: 0;
      right: 20px;

      .darkmode & {
        filter: invert(1);
      }

      span {
        display: none;
      }
    }
  }

  &-content {
    z-index: 1003 !important;
    border: 0 !important;
    border-radius: 10px;
    max-width: 100%;

    .field-name-field-course-cover-image {
      margin-bottom: 20px;

      img {
        max-height: 264px;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }
    }

    .product-course__title {
      font-style: normal;
      @include responsive-prop(700, 800, font-weight);
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.2px;
      text-align: center;
      margin-bottom: 10px
    }

    .field-name-field-course-subtitle {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: var(--color-neutral-7);
      text-align: center;
    }

    .field-name-field-description {
      background: var(--color-page-bg);
      padding: 15px;
      margin-top: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color:var(--color-neutral-7);

      ul {
        list-style: none;
        padding-left: 0 !important;
        margin: 0 0 10px !important;

        li {
          display: flex;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          &:before {
            content: '-';
            margin-right: 5px;
          }
        }
      }
    }

    .product-course__body-footer {
      padding-top: 20px;
      align-items: start;
    }

    .field-name-field-price {
      font-style: normal;
      @include responsive-prop(700, 800, font-weight);
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: var(--color-base);
      margin-bottom: 10px;
    }

    .field-name-field-price-notes {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: var(--color-neutral-7);
      letter-spacing: 0.2px;
    }

    .field-name-field-enroll-link {
      a {
        //@extend %btn;
        @extend %btn, .btn-success;
        @extend %btn, .btn-md;
      }
    }
  }
}

.product-course__links .field-name-field-info-link {
  position: relative;

  .ajax-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-neutral-0);

    .throbber {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
