//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.container--alt {
  > .row {
    margin-left: 0;
    margin-right: 0;

    > .col-lg-24 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.paragraph--type--wide-low-jumbotron {
  margin-bottom: 0;

  .jumbotron__header {
    margin-bottom: 0 !important;
  }

  abbr {
    text-decoration: none;
  }

  a {
    color: var(--color-neutral-0);
  }
}

.paragraph--type--list-with-courses {
  @include wso-container();
  margin-top: 30px;

  @include media('>=tablet') {
    margin-top: 50px;
  }

  @include media('<phone') {
    padding-left: 0;
    padding-right: 0;
  }
}

.view-product-courses-lists {
  .views-row {
    margin-bottom: 25px;
  }
}

.course-progress {
  width: 100%;
}

.course-progress__bar {
  width: 100%;
  position: relative;
}
.course-progress__bar-placeholder {
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-neutral-2);
}
.course-progress__bar-completed {
  height: 4px;
  border-radius: 2px;
  background-color: $color-blue;
  position: absolute;
  z-index: 2;
  top: 0;
}
