{% if rows %}
  <div class="user__header__part mt-5 mb-4">
    <h2 class="user__header__title">{{ 'My Certificates'|t }}</h2>
    <h6>{{ '(block visible only for you)'|t }}</h6>
  </div>
  <div class="row">
    {% for row in rows %}
      <div class="d-flex col-md-12 col-lg-8">
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>
{% endif %}
