{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{# @FIXMI for now this is default template + charts #}

{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="salary__head">
    <div class="d-flex flex-wrap align-items-end">
      <div class="row justify-content-between align-items-center w-100 m-0">
        <h1 class="salary__title m-r-sm p-0 w-auto">{{ node_title }} {{ 'Interview Questions'|t }}</h1>
        {% if follow_company_flag %}
          <div class="follow_company_flag_outer p-0 w-auto">
            {{ follow_company_flag }}
          </div>
        {% endif %}
      </div>
    </div>

    <p class="salary__description">
      <span class="salary__description_count">{{ view.total_rows|number_format }}</span> {{ 'total interview insight submissions'|t }}
    </p>
  </div>

  <div class="company-stats__block">
    <div class="row justify-content-around align-items-start company-stats__items">
      {% if interview_experience_percentile != '(NA)' %}
        <div class="ranking__item__interview col-xs-24 col-sm-12 col-lg-8">
          <div class="company-stats__title block__q-tip">Interview Experience {{ interview_experience_percentile }}
            <div class="q-tip">
              <span class="q-tip-q"></span>
              <div class="q-tip-data">
                <div class="q-tip-content">
                  <p>The Interview Experience is a score from 1 star (very negative) to 5 stars (very positive)
                    generated based on the Interview Insights at this company.</p>
                  <p>The number you see in the middle of the doughnut pie chart is the simple average of these scores.
                    If you hover over the various sections of the donut, you will see the % breakdown of each score
                    given.</p>
                  <p>The percentile score in the title is calculated across the entire Company Database and uses an
                    adjusted score based on Bayesian Estimates (to account for companies that have few interview
                    insights). Simply put, as a company gets more reviews, the confidence of a "true score" increases
                    so it is pulled closer to its simple average and away from the average of the entire dataset.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="chart-1">{{ interview_experience|raw }}</div>
        </div>
      {% endif %}

      {% if overall_difficulty_percentile != '(NA)' %}
        <div class="ranking__item__interview col-xs-24 col-sm-12 col-lg-8">
          <div class="company-stats__title block__q-tip">Interview Difficulty {{ overall_difficulty_percentile }}

            <div class="q-tip">
              <span class="q-tip-q"></span>
              <div class="q-tip-data">
                <div class="q-tip-content">
                  <p>The Interview Difficulty is a score ranging from very difficult (red) to very easy (green)
                    generated based on the Interview Insights at this company.</p>
                  <p>The number you see in the middle of the doughnut pie chart is the simple average of these scores.
                    The higher the number, the more difficult the interviews on average. If you hover over the various
                    sections of the doughnut, you will see the % breakdown of each score given.</p>
                  <p>The percentile score in the title is calculated across the entire Company Database and uses an
                    adjusted score based on Bayesian Estimates (to account for companies that have few interview
                    insights). Simply put, as a company gets more insights, the confidence of a "true score" increases
                    so it is pulled closer to its simple average and away from the average of the entire data set.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="chart-2">{{ overall_difficulty|raw }}</div>
        </div>
      {% endif %}

      {% if intern_get_FT_percentile != '(NA)' %}
        <div class="ranking__item__interview col-xs-24 col-sm-12 col-lg-8">
          <div class="company-stats__title block__q-tip">% Interns - FT Offers {{ intern_get_FT_percentile }}

            <div class="q-tip">
              <span class="q-tip-q"></span>
              <div class="q-tip-data">
                <div class="q-tip-content">
                  <p>The % of Interns Getting a Full Time Offer chart is meant to provide a realistic estimate of the
                    hiring practices of the company based on the reviews at this company.</p>
                  <p>The number you see in the middle of the doughnut pie chart is the simple average of these scores.
                    If you hover over the various sections of the doughnut, you will see the % breakdown of each score
                    given.</p>

                  <p>The percentile score in the title is calculated across the entire Company Database and uses an
                    adjusted score based on Bayesian Estimates (to account for companies that have few reviews).
                    Simply put, as a company gets more reviews, the confidence of a "true score" increases so it is
                    pulled closer to the simple company average and away from the average of the entire data set.</p>
                </div>
              </div>
            </div>

          </div>
          <div class="chart-3">{{ intern_get_FT|raw }}</div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="salary__second-head">
    <h2 class="salary__second-title m-r-sm p-0 w-auto">{{ 'Interviews at' }} {{ node_title }}</h2>
  </div>

  <div class="ev-tabs">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-all-tab" data-bs-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">
          {{ 'All data'|t }}
        </a>
        <a class="nav-item nav-link" id="company-stats-tab" href="{{ prep_link }}" aria-selected="false">
          {{ 'Get Prepared'|t }}
        </a>
      </div>
    </nav>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
      {% if exposed %}
        <div class="view-filters form-group">
          {{ exposed }}
        </div>
      {% endif %}
      {% if attachment_before %}
        <div class="attachment attachment-before">
          {{ attachment_before }}
        </div>
      {% endif %}

      {% if pager %}
        {{ pager }}
      {% endif %}

      {% if rows %}
        <div class="view-content">
          {{ rows }}
        </div>
      {% elseif empty %}
        <div class="view-empty">
          {{ empty }}
        </div>
      {% endif %}

      {% if pager %}
        {{ pager }}
      {% endif %}
      {% if attachment_after %}
        <div class="attachment attachment-after">
          {{ attachment_after }}
        </div>
      {% endif %}
      {% if more %}
        {{ more }}
      {% endif %}
      {% if footer %}
        <div class="view-footer">
          {{ footer }}
        </div>
      {% endif %}
      {% if feed_icons %}
        <div class="feed-icons">
          {{ feed_icons }}
        </div>
      {% endif %}

      {% if charts %}
        {{ charts }}
      {% endif %}
    </div>
  </div>

  {% if interview_insights %}
    <div class="section__interview-insights">
      {{ interview_insights }}
    </div>
  {% endif %}

  {% if related_content %}
    <div class="section__related-content">
      {{ related_content }}
    </div>
  {% endif %}

</div>

