{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */

{{ field_mentor_rating }} == Mentor Rating
{{ field_review_date }} == Review Date
{{ field_review }} == Review
{{ field_review__value }} == Raw value
{{ field_review__format }} == Raw format
{{ arguments.nid }} == Content: ID title
{{ raw_arguments.nid }} == Content: ID input
#}

<div class="mentor-quote__block">
  <div class="mentor-quote__header-part">
    <div class="mentor-quote__mark">
      {{ fields.field_mentor_rating.content }}
    </div>
    <div class="mentor-quote__date">{{ fields.field_review_date.content }}</div>
  </div>
  <div class="mentor-quote__content">{{ fields.field_review.content }}</div>
</div>
