{#
/**
* @file
* Default view template to display all the fields in a row.
*
* Available variables:
* - view: The view in use.
* - fields: A list of fields, each one contains:
*   - content: The output of the field.
*   - raw: The raw data for the field, if it exists. This is NOT output safe.
*   - class: The safe class ID to use.
*   - handler: The Views field handler controlling this field.
*   - inline: Whether or not the field should be inline.
*   - wrapper_element: An HTML element for a wrapper.
*   - wrapper_attributes: List of attributes for wrapper element.
*   - separator: An optional separator that may appear before a field.
*   - label: The field's label text.
*   - label_element: An HTML element for a label wrapper.
*   - label_attributes: List of attributes for label wrapper.
*   - label_suffix: Colon after the label.
*   - element_type: An HTML element for the field content.
*   - element_attributes: List of attributes for HTML element for field content.
*   - has_label_colon: A boolean indicating whether to display a colon after
*     the label.
*   - element_type: An HTML element for the field content.
*   - element_attributes: List of attributes for HTML element for field content.
* - row: The raw result from the query, with all data it fetched.
*
* @see template_preprocess_views_view_fields()
*
* @ingroup themeable
*/
#}

{% set sessions = fields.field_sessions_completed.content|render|striptags|trim %}
{% set mentor30min_price = fields.field_price_30m.content|render|striptags|trim|number_format(0) %}

<div class="mentors__item">
  <div class="col-sm-24">
    <div class="d-md-flex flex-wrap wso-ms-n1 wso-me-n1">
      <div class="col-md-4">
        <div class="row h-100">
          <a href="/mentors/{{ fields.mentor_id }}">
            <div class="mentors__img relative text-align-center mb-2 mb-md-0">
              {{ fields.field_public_image.content }}
            </div>
          </a>
        </div>
      </div>
      <div class="mentors__content-block col-sm-16">

          <p class="mentors__title">
            <a href="/mentors/{{ fields.mentor_id }}">
              <span class="mentors__title_industry">{{ fields.field_current_industry.content }}</span> <span class="mentors__title_title">{{ fields.field_confirm_title.content }}</span>
            </a>
          </p>
          <div class="mentors__content">
            {% if sessions == 0 %}
              <span class="mentors__content_mark">{{ 'New Mentor!'|t }}</span>
            {% else %}
              <span class="mentors__content_mark">{{ fields.field_current_mentor_grade_1.content }}</span>
              {{ fields.field_current_mentor_grade.content }}
              <span class="mentors__content_sessions"><span><b>{{ sessions }}</b></span>Sessions Completed</span>
            {% endif %}
            <span class="mentors__content_sessions"><b>${{ mentor30min_price }}</b> {{ 'for 30min' }}</span>
          </div>
          <ul class="mentors__tags">
            {% if fields.field_current_industry.content|render|striptags|trim is not empty %}
              <li class="mentors__tag tag"><span class="mentors__label">{{ fields.field_current_industry.content }}</span></li>
            {% endif %}
            <li class="mentors__tag tag tag--multi">{{ fields.field_past_industries.content }}</li>
            {{ fields.field_entity_graduate_school.content }}
            {{ fields.field_entity_undergrad_school.content }}

            {% if fields.field_hide_location.content|render|striptags|trim != 'True' %}
              {{ fields.field_current_city.content }}
              <li class="mentors__tag location tag--multi">{{ fields.field_previous_cities.content }}</li>
            {% endif %}
          </ul>

        <div class="mentors__bio panel panel-default">
          <div id="publicBio-{{ fields.mentor_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ fields.mentor_id }}">
            <div class="panel-heading" role="tab" id="heading-{{ fields.mentor_id }}">
              <h4 class="panel-title">Public bio:</h4>
            </div>
            <div class="panel-body">
              {{ fields.field_public_bio.content }}
            </div>
          </div>
        </div>

      </div>
      <div class="mentors__buttons">
        <a href="/mentors/{{ fields.mentor_id }}/book/492651" class="is-book btn btn-sm btn-success use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:480,&quot;classes&quot;:{&quot;ui-dialog&quot;:&quot;wso-braintree-dialog&quot;}}">Book Now</a>
        <a href="/mentors/{{ fields.mentor_id }}" class="btn btn-sm btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
</div>

