{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% set date = fields.field_event_date.content|render|striptags|trim %}

{% set day = start_date|date("d") %}
{% set week_day = start_date|date("D") %}
{% set start_time = start_date|date("g:i") %}

{% if end_date %}
  {% set end_time = end_date|date("g:i") %}
  {% set day_end = end_date|date("d") %}
  {% set week_day_end = end_date|date("D") %}
{% endif %}

<div class="ev-all">
  <div class="media">
    <div class="media-left media-middle">
      <div class="ev-all_date">
        <div class="wso-event-day">
          <div class="field-content">
            <span class="date-display-single" property="schema:startDate" datatype="xsd:dateTime" content="{{ date }}">{{ day }}</span>
          </div>
        </div>
        <div class="wso-event-dow">
          <div class="field-content">
            <span class="date-display-single" property="schema:startDate" datatype="xsd:dateTime" content="{{ date }}">{{ week_day }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="media-body">
      <span class="field-content">
        <h3 class="media-heading ev-all_title">
          {{ fields.title.content }}
        </h3>
      </span>
      <div>
        {% if end_date %}
          {{ day }} {{ start_date|date("M") }}. - {{ day_end }} {{ end_date|date("M") }}.
        {% else %}
          {{ day }} {{ start_date|date("M") }}.
        {% endif %}
        <span class="ev-all_time">
          <span class="date-display-single" property="schema:startDate" datatype="xsd:dateTime" content="{{ date }}">{{ start_time }}</span>
          {% if end_date %}
            <span class="date-display-single" property="schema:startDate" datatype="xsd:dateTime" content="{{ date }}"> - {{ end_time }}</span>
          {% endif %} GMT
        </span>
        <span class="field-content">
          {{ fields.view_node.content }}
        </span>
      </div>
    </div>
  </div>
</div>
