{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% if system %}
  <a href="{{ link }}" class="messages__link messages__link--system">
    <div class="notification__content__part">
      <p class="notification__content__header">
        <i class="icon icon-bell-o"></i>
        {{ fields.thread_subject.content }}
      </p>
      <p class="notification__content__description">
        {{ fields.message__value.content }}
      </p>
      <p class="messages__content__date">
        {{ fields.updated.content }}
      </p>
    </div>
  </a>
  <div class="messages__link messages__link--system p-t-0 p-b-0">
    <div class="notification__content__part">
      <div class="messages__content__date">
        {{ fields.target_action.content }}
      </div>
    </div>
  </div>
{% else %}
  <a href="{{ link }}" class="messages__link">
    {% if owner_default_picture %}
      <figure class="profile-picture">
        <img loading="lazy" src="/themes/custom/porto_sub/images/default_profile.png" class="rounded-circle">
      </figure>
    {% else %}
      {{ fields.user_picture.content }}
    {% endif %}
    <div class="messages__content__part">
      <div class="messages__content__header">
        <span class="messages__content__username">
          <i class="icon icon-envelope"></i>
          {{ fields.owner.content }}
        </span>
        <span class="messages__content__date">
          {{ fields.created.content }}
        </span>
      </div>
      <p class="messages__content__description">
        {{ fields.message__value.content }}
      </p>
    </div>
  </a>
{% endif %}
