{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if rows %}
    <div class="glossary-quick-links"><span> | </span><a href="#Dict_">#</a><span> | </span><a href="#DictA">A</a><span> | </span><a href="#DictB">B</a><span> | </span><a href="#DictC">C</a><span> | </span><a href="#DictD">D</a><span> | </span><a href="#DictE">E</a><span> | </span><a href="#DictF">F</a><span> | </span><a href="#DictG">G</a><span> | </span><a href="#DictH">H</a><span> | </span><a href="#DictI">I</a><span> | </span><a href="#DictJ">J</a><span> | </span><a href="#DictK">K</a><span> | </span><a href="#DictL">L</a><span> | </span><a href="#DictM">M</a><span> | </span><a href="#DictN">N</a><span> | </span><a href="#DictO">O</a><span> | </span><a href="#DictP">P</a><span> | </span><a href="#DictQ">Q</a><span> | </span><a href="#DictR">R</a><span> | </span><a href="#DictS">S</a><span> | </span><a href="#DictT">T</a><span> | </span><a href="#DictU">U</a><span> | </span><a href="#DictV">V</a><span> | </span><a href="#DictW">W</a><span> | </span><a href="#DictY">Y</a><span> | </span><a href="#DictZ">Z</a></div>

    <div class="view-content">
      {{ rows }}
    </div>
  {% endif %}
</div>
