{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
<div class="pagination">
  <nav role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager pager--mini js-pager__items">
      {% if items.previous %}
        <li class="previous">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="sr-only">{{ 'Previous page'|t }}</span>
            <span class="pager__icon" aria-hidden="true">‹</span>
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li class="active">
          <a href="#">
            {% trans %}
              Page {{ items.current }}
            {% endtrans %}
          </a>
        </li>
      {% endif %}
      {% if items.next %}
        <li class="next">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="sr-only">{{ 'Next page'|t }}</span>
            <span class="pager__icon" aria-hidden="true">›</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
