{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable <a href="#DicM">M</a>
 */
#}

{% if title %}
  {% set title = title|render|striptags|trim %}
  {% if title == '#' %}
    <a href="#Dic_">#</a>
  {% else %}
    | <a href="#Dic{{ title }}">{{ title }}</a>
  {% endif %}
{% endif %}
