{#
/**
* @file
* Default view template to display all the fields in a row.
*
* Available variables:
* - view: The view in use.
* - fields: A list of fields, each one contains:
*   - content: The output of the field.
*   - raw: The raw data for the field, if it exists. This is NOT output safe.
*   - class: The safe class ID to use.
*   - handler: The Views field handler controlling this field.
*   - inline: Whether or not the field should be inline.
*   - wrapper_element: An HTML element for a wrapper.
*   - wrapper_attributes: List of attributes for wrapper element.
*   - separator: An optional separator that may appear before a field.
*   - label: The field's label text.
*   - label_element: An HTML element for a label wrapper.
*   - label_attributes: List of attributes for label wrapper.
*   - label_suffix: Colon after the label.
*   - element_type: An HTML element for the field content.
*   - element_attributes: List of attributes for HTML element for field content.
*   - has_label_colon: A boolean indicating whether to display a colon after
*     the label.
*   - element_type: An HTML element for the field content.
*   - element_attributes: List of attributes for HTML element for field content.
* - row: The raw result from the query, with all data it fetched.
*
* @see template_preprocess_views_view_fields()
*
* @ingroup themeable
*/

{{ title }} == Title
{{ nid }} == ID
{{ field_image }} == image
{{ field_cover_color }} == Cover color
{{ field_podcast_subtitle }} == Subtitle
{{ field_show_name }} == Show Name
{{ field_oembed_url }} == Oembed URL
{{ field_media_duration }} == Media duration
{{ field_media_duration__value }} == Raw value
{{ field_media_reference }} == Media Reference
{{ field_media_reference__target_id }} == Raw target_id

#}

{# transparent png 350x200px #}
{% set fake_img_src = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAV4AAADICAQAAAAKakF7AAABgklEQVR42u3SAQkAAADCMO1f2hz
CFuG8gVOVAPOCecG8mBfMC+YF82JeMC+YF/OCecG8YF7MC+YF82JeMC+YF8yLecG8YF7MC+YF84J5MS+YF8yLecG8YF4wL+YF84J5MS+YF8wL5sW8YF4wL+Y
F84J5wbyYF8wL5gXzYl4wL5gX84J5wbxgXswL5gXzYl4wL5gXzIt5wbxgXswL5gXzgnkxL5gXzIt5wbxgXjAv5gXzgnkxL5gXzAvmxbxgXjAv5gXzgnnBvJg
XzAvmxbxgXjAvmBfzgnnBvGBezAvmBfNiXjAvmBfMi3nBvGBezAvmBfOCeTEvmBfMi3nBvGBeMC/mBfOCeTEvmBfMC+bFvGBeMC/mBfOCecG8mBfMC+bFvGB
eMC+YF/OCecG8mBfMC+YF82JeMC+YF8yLecG8YF7MC+YF84J5MS+YF8yLecG8YF4wL+YF84J5MS+YF8wL5sW8YF4wL+YF84J5wbyYF8wL5sW8YF4wL5gX84J
5wbyYF/4ML9MAyWW0FlkAAAAASUVORK5CYII=' %}

{% if media_has_video %}
  <a href="{{ media_path }}" class="media__item media__item-youtube">
    {% if render_cover == 'color' %}
      <div class="media__cover media__cover--with-background" style="background-color: {{ cover_color }}">
        <div class="media__cover-icon"><svg class="svg-icon"><use xlink:href="#yt-icon" /></svg></div>
        <div class="media__cover-title">{{ fields.title.content }}</div>
      </div>
    {% elseif render_cover == 'default_color' %}
      <div class="media__cover media__cover--with-background" style="background-color: #4a6fff">
        <div class="media__cover-icon"><svg class="svg-icon"><use xlink:href="#yt-icon" /></svg></div>
        <div class="media__cover-title">{{ fields.title.content }}</div>
      </div>
    {% elseif render_cover == 'thumbnail' %}
      <div class="media__cover media__cover--with-image">
        {{ fields.field_media_reference.content }}
        <div class="media__cover-icon"><svg class="svg-icon"><use xlink:href="#yt-icon" /></svg></div>
      </div>
    {% elseif render_cover == 'thumbnail_color' %}
      <div class="media__cover media__cover--with-image" style="background-color: #4a6fff">
        <div class="media media--bundle--media media--ratio media--ratio--169 media--image">
          <img class="media__image media__element" src="{{ fake_img_src }}" width="350" height="200">
        </div>
        <div class="media__cover-icon"><svg class="svg-icon"><use xlink:href="#yt-icon" /></svg></div>
      </div>
    {% elseif render_cover == 'image' %}
      <div class="media__cover media__cover--with-image">
        {{ fields.field_image.content }}
      <div class="media__cover-icon"><svg class="svg-icon"><use xlink:href="#yt-icon" /></svg></div>
      </div>
    {% endif %}
{% endif %}

{% if media_has_oembed %}
  <a href="{{ media_path }}" class="media__item media__item-podcast media__item-podcast--{{ podcast_type }}">
    {% if podcast_type == 'wsopodcast' %}
      {% if media_has_image %}
        <div class="media__cover media__cover--with-image">
          {{ fields.field_image.content }}
        </div>
      {% else %}
        <div class="media__cover">
          <div class="media__cover-title">
            <div class="media__cover-title-1">wso<br>podcast</div>
            <div class="media__cover-title-2">{{ fields.field_podcast_subtitle.content }}</div>
          </div>
        </div>
      {% endif %}
    {% else %}
      {% if media_has_image %}
        <div class="media__cover media__cover--with-image">
          {{ fields.field_image.content }}
        </div>
      {% else %}
        <div class="media__cover"></div>
      {% endif %}
    {% endif %}
{% endif %}

  <div class="media__date">
    {{ fields.created.content }}
  </div>
  <div class="media__title">
    {{ fields.title.content }}
  </div>

  {% if media_has_duration %}
    <div class="media__duration">
      {{ fields.field_media_duration.content }}
    </div>
  {% endif %}
</a>
