{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="form__view__flashcards">
  <div class="views-exposed-form col-24 form-inline clearfix d-flex justify-content-between align-items-bottom flex-wrap">
    <div class="row m-0">
      <div class="flashcards__filters__exposed-widget views-exposed-widget col-md-12 col-lg-12 col-xl-5 p-1">
        {{ form.field_questions_topics }}
      </div>
      <div class="flashcards__filters__exposed-widget views-exposed-widget col-md-12 col-lg-12 col-xl-5 p-1">
        {{ form.field_company }}
      </div>
      <div class="flashcards__filters__exposed-widget views-exposed-widget col-md-12 col-lg-12 col-xl-5 p-1">
        {{ form.field_industry_detail }}
      </div>
      <div class="flashcards__filters__exposed-widget views-exposed-widget col-md-12 col-lg-12 col-xl-5 p-1">
        {{ form.field_groupdivision }}
      </div>
      <div class="flashcards__filters__actions views-exposed-widget col-md-12 col-lg-12 col-xl-4 p-1 d-flex justify-content-between align-items-start">
          {{ form.actions }}
      </div>
    </div>
  </div>
</div>
