{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

<div id="pop-item-id-{{ popup_nid }}">
  <p class="pop-event-type {{ popup_event_type|replace({' ': '-'}) }}">{{ popup_event_type }}</p>
  <div class="views-field views-field-title">{{ popup_title }}</div>
  <div class="views-field views-field-field-event-date text-primary">
    <div class="pop-when pop-date">{{ popup_event_date }}</div>
  </div>
  <div class="pop-when pop-time">{{ popup_event_time }}</div>
  <div class="btn btn-other pop-btn">{{ popup_link }}</div>
</div>
