{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{# @FIXMI for now this is default template + charts #}

{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}

  <div class="salary__head">
    <div class="d-flex flex-wrap align-items-end">
      <div class="row m-0 align-items-center">
        <h1 class="salary__title m-r-sm p-0 w-auto">{{ node_title }} - {{ count|number_format }} {{ 'Reviews'|t }}</h1>
        {% if follow_company_flag %}
          <div class="follow_company_flag_outer p-0 w-auto">
            {{ follow_company_flag }}
          </div>
        {% endif %}
      </div>
    </div>

    <p class="salary__description">
      <span class="salary__description_count">{{ view.total_rows|number_format }}</span> {{ 'total review submissions'|t }}
    </p>
  </div>

  <div class="ev-tabs">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-all-tab" data-bs-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">
          {{ 'All data'|t }}
        </a>
        {% if charts %}
          <a class="nav-item nav-link" id="company-stats-tab" data-bs-toggle="tab" href="#company-stats" role="tab" aria-controls="company-stats" aria-selected="false">
            {{ 'Company Stats'|t }}
          </a>
        {% endif %}
      </div>
    </nav>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
      {% if exposed %}
        <div class="view-filters form-group">
          {{ exposed }}
        </div>
      {% endif %}
      {% if attachment_before %}
        <div class="attachment attachment-before">
          {{ attachment_before }}
        </div>
      {% endif %}

      {% if pager %}
        {{ pager }}
      {% endif %}

      {% if rows %}
        <div class="view-content">
          {{ rows }}
        </div>
      {% elseif empty %}
        <div class="view-empty">
          {{ empty }}
        </div>
      {% endif %}

      {% if pager %}
        {{ pager }}
      {% endif %}
      {% if attachment_after %}
        <div class="attachment attachment-after">
          {{ attachment_after }}
        </div>
      {% endif %}
      {% if more %}
        {{ more }}
      {% endif %}
      {% if footer %}
        <div class="view-footer">
          {{ footer }}
        </div>
      {% endif %}
      {% if feed_icons %}
        <div class="feed-icons">
          {{ feed_icons }}
        </div>
      {% endif %}
    </div>

    {% if charts %}
      <div class="tab-pane fade company-stats__tab-pane" id="company-stats" role="tabpanel" aria-labelledby="company-stats">
        {{ charts }}
      </div>
    {% endif %}
  </div>

</div>

