<div class="views-field views-field-field-lesson-type">
  <{{ fields.field_lesson_type.element_type }}{{ fields.field_lesson_type.element_attributes }}>{{ fields.field_lesson_type.content }}</{{ fields.field_lesson_type.element_type }}>
</div>
<div class="views-field views-field-title">
  <{{ fields.title.element_type }}{{ fields.title.element_attributes }}>{{ fields.title.content }}</{{ fields.title.element_type }}>
</div>

<div class="views-field-lesson-duration-complete">
  <div class="views-field views-field-nothing">
    <{{ fields.nothing.element_type }}{{ fields.nothing.element_attributes }}>{{ fields.nothing.content }}</{{ fields.nothing.element_type }}>
  </div>
  <div class="views-field views-field-lesson-complete">
    <{{ fields.lesson_complete.element_type }}{{ fields.lesson_complete.element_attributes }}>{{ fields.lesson_complete.content }}</{{ fields.lesson_complete.element_type }}>
  </div>
</div>
