{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>

  {% if exposed %}
    <div class="view-filters form-group">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="glossary-quick-links mt-4"><span> | </span><a href="/finance-dictionary/*">#</a><span> | </span><a href="/finance-dictionary/A">A</a><span> | </span><a href="/finance-dictionary/B">B</a><span> | </span><a href="/finance-dictionary/C">C</a><span> | </span><a href="/finance-dictionary/D">D</a><span> | </span><a href="/finance-dictionary/E">E</a><span> | </span><a href="/finance-dictionary/F">F</a><span> | </span><a href="/finance-dictionary/G">G</a><span> | </span><a href="/finance-dictionary/H">H</a><span> | </span><a href="/finance-dictionary/I">I</a><span> | </span><a href="/finance-dictionary/J">J</a><span> | </span><a href="/finance-dictionary/K">K</a><span> | </span><a href="/finance-dictionary/L">L</a><span> | </span><a href="/finance-dictionary/M">M</a><span> | </span><a href="/finance-dictionary/N">N</a><span> | </span><a href="/finance-dictionary/O">O</a><span> | </span><a href="/finance-dictionary/P">P</a><span> | </span><a href="/finance-dictionary/Q">Q</a><span> | </span><a href="/finance-dictionary/R">R</a><span> | </span><a href="/finance-dictionary/S">S</a><span> | </span><a href="/finance-dictionary/T">T</a><span> | </span><a href="/finance-dictionary/U">U</a><span> | </span><a href="/finance-dictionary/V">V</a><span> | </span><a href="/finance-dictionary/W">W</a><span> | </span><a href="/finance-dictionary/Y">Y</a><span> | </span><a href="/finance-dictionary/Z">Z</a></div>

    <h1 class="d-block m-r-sm mb-5 mt-3 wso-forum-title">
      <span property="dc:title">{{ custom_page_title }}</span>
    </h1>

    <section class="glossary-section">
      <div class="view-content glossary-section__rows">
        {{ rows }}
      </div>
    </section>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
