{% for row in rows %}
  <tr {{ row.attributes.addClass('assessment-row') }}>
    {% for key, column in row.columns %}
      {% if column.default_classes %}
        {% set column_classes = [ 'views-field' ] %}
        {% for field in column.fields %}
          {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
        {% endfor %}
      {% endif %}
    <td{{ column.attributes.addClass(column_classes) }}>
      {%- if column.wrapper_element -%}
        <{{ column.wrapper_element }}>
        {% for content in column.content %}
          {{ content.separator }}{{ content.field_output }}
        {% endfor %}
        </{{ column.wrapper_element }}>
      {%- else -%}
        {% for content in column.content %}
          {{- content.separator }}{{ content.field_output -}}
        {% endfor %}
      {%- endif %}
      </td>
    {% endfor %}
  </tr>
{% endfor %}
