{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

<section class="glossary-section">
  {% if title %}
    {% set letter = title|render|striptags|trim %}
    {% set linkletter = title|render|striptags|trim %}

    {% if letter == '#' %}
      {% set letter = '_' %}
      {% set linkletter = '*' %}
    {% endif %}

    <div class="glossary-section__anchor">
      <a id="Dict{% spaceless %}{{ letter }}{% endspaceless %}" name="Dict{% spaceless %}{{ letter }}{% endspaceless %}"></a>
    </div>
    <h3>{{ title }}</h3>
  {% endif %}

  <div class="glossary-section__rows">
    {% for row in rows %}
      {%
        set row_classes = [
        default_row_class ? 'views-row',
      ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
      </div>
    {% endfor %}
  </div>


  <a class="glossary-section__link" href="/finance-dictionary/{{linkletter}}">See complete list of {{ title }} terms <i class="icon icon-angle-right"></i></a>
</section>
