<div class="card">
  <a href="{{ fields.view_node.content  }}">
    {{ fields.field_certificate_image.content }}
    <div class="card-body">
      <p class="card-title" style="color:var(--color-neutral-9);">
        {{ fields.field_course.content }}
      </p>
    </div>
  </a>
</div>
