{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      <div class="container">
        <div class="row">
          <div class="col-sm-24">
            <h4 class="student-group-dashboard__stats-title mb-2">{{ 'Totals'|t }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-8 student-group-dashboard__stats-card">
            <div class="card">
              <div class="card-body">
                <div class="student-group-dashboard__stats-card-title mb-2">
                  {{ attachment_before.2 }}
                </div>
                <div class="student-group-dashboard__stats-card-subtitle">
                  {{ 'Total users'|t }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-8 student-group-dashboard__stats-card">
            <div class="card">
              <div class="card-body">
                <div class="student-group-dashboard__stats-card-title mb-2">
                  {{ attachment_before.1 }}
                </div>
                <div class="student-group-dashboard__stats-card-subtitle">
                  {{ 'Started the course'|t }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-8 student-group-dashboard__stats-card">
            <div class="card">
              <div class="card-body">
                <div class="student-group-dashboard__stats-card-title mb-2">
                  {{ attachment_before.0 }}
                </div>
                <div class="student-group-dashboard__stats-card-subtitle">
                  {{ 'Downloads'|t }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  {% endif %}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters form-group">
      {{ exposed }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
