{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{# @FIXMI for now this is default template + charts #}

{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="salary__head">
    <div class="d-flex flex-wrap align-items-end">
      <div class="row justify-content-between align-items-center w-100 m-0">
        <h1 class="salary__title m-r-sm p-0 w-auto">{{ node_title }} {{ title_suffix }}</h1>
        {% if follow_company_flag %}
          <div class="follow_company_flag_outer p-0 w-auto">
            {{ follow_company_flag }}
          </div>
        {% endif %}
      </div>
    </div>

    <p class="salary__description mb-1">
      <span class="salary__description_count">{{ view.total_rows|number_format }}</span> {{ submissions_title }}
    </p>

    <div class="salary__wso-company-rating mb-3">{{ company_ranking }}</div>
  </div>

  <div class="salary__section company-charts">
    <div class="company-stats__block">
      <div class="row justify-content-around align-items-start company-stats__items">
        {% if avg_hours_worked and avg_hours_worked_percentile != '(NA)' %}
          <div class="ranking__item__salary col-xs-24 col-sm-12 col-lg-8">
            <div class="company-stats__title block__q-tip">Avg. Hours Worked {{ avg_hours_worked_percentile }}
              <div class="q-tip">
                <span class="q-tip-q"></span>
                <div class="q-tip-data">
                  <div class="q-tip-content">
                    <p>The average hours worked chart shows the distribution of average hours worked per week generated
                      based on the Compensation data at this company.</p>
                    <p>The number you see in the middle of the doughnut pie chart is the adjusted average of these
                      scores. If you hover over the various sections of the donut, you will see the % breakdown of each
                      workload given.</p>
                    <p>The percentile score in the title is calculated across the entire Company Database and uses an
                      adjusted score based on Bayesian Estimates (to account for companies that have few interview
                      insights). Simply put, as a company gets more data points, the confidence of a "true measure"
                      increases so it is pulled closer to its simple average and away from the average of the entire
                      dataset.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-1">{{ avg_hours_worked|raw }}</div>
          </div>
        {% endif %}

        {% if Comp_compared_similar_jobs and Comp_compared_similar_jobs_percentile != '(NA)' %}
          <div class="ranking__item__salary col-xs-24 col-sm-12 col-lg-8">
            <div class="company-stats__title block__q-tip">Relative Compensation {{ Comp_compared_similar_jobs_percentile }}
              <div class="q-tip">
                <span class="q-tip-q"></span>
                <div class="q-tip-data">
                  <div class="q-tip-content">
                    <p>The Relative Compensation is a score from 1 star (very bad) to 5 stars (excellent) generated
                      based on the Company Reviews of current and former employees at this company based on relative
                      pay.</p>
                    <p>The number you see in the middle of the donut pie chart is the simple average of these scores. If
                      you hover over the various sections of the donut, you will see the % breakdown of each score
                      given.</p>
                    <p>The percentile score in the title is calculated across the entire Company Database and uses an
                      adjusted score based on Bayesian Estimates (to account for companies that have few reviews).
                      Simply put, as a company gets more reviews, the confidence of a "true score" increases so it is
                      pulled closer to its simple average and away from the average of the entire dataset.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-2"> {{ Comp_compared_similar_jobs|raw }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="salary__section company-pay">
    <div class="salary__second-head">
      <h2 class="salary__second-title mt-5 mb-4 p-0 w-auto">{{ ['Average'|t ~ ' ', node_title, ' ' ~ 'Salary'|t]|join }}</h2>
    </div>

    <div class="compensation__block d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-start align-items-md-center">
      <div class="compensation__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title_green">{{ 'Total Median Pay'|t }}</p>
        <p class="item__description item__description_lg ">
          ${{ pay_bonus_sum|number_format }}</p>
      </div>

      <div class="compensation__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title_green">{{ 'Median Base Pay'|t }}</p>
        <p class="item__description item__description_lg ">
          ${{ pay_median|number_format }}</p>
      </div>

      <div class="compensation__item item__block item__block_border col-xs-24 col-lg-8">
        <p class="item__title item__title_green">{{ 'Median Bonus Pay'|t }}</p>
        <p class="item__description item__description_lg ">
          ${{ bonus_median|number_format }}</p>
      </div>
    </div>
  </div>

  {% if not no_submissions %}
    <div class="salary__section company-pay-text">
      <div class="salary__second-head">
        <h2 class="salary__second-title mt-5 mb-4 p-0 w-auto">{{ ['How much does'|t ~ ' ', node_title, ' ' ~ 'pay?'|t]|join }}</h2>
      </div>

      <div class="compensation__block compensation__details">
        {% if pay_percentile_10 and pay_percentile_90 %}
          <div class="compensation__details__item">
            <p class="salary__description m-b-none" style="display: inline;">Base range:
              <span class="salary__description_count">${{ pay_percentile_10|number_format }} - ${{ pay_percentile_90|number_format }}</span>
            </p>
            <div class="block__q-tip" style="display:inline;">
              <div class="q-tip">
                <span class="q-tip-q"></span>
                <div class="q-tip-data">
                  <div class="q-tip-content">
                    <p>For this salary and bonus range, Low is the 10th Percentile and
                      High is the 90th Percentile. These ranges are from employer
                      specific salaries submitted by WSO members.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compensation__details__item">
            <p class="salary__description m-b-none">Bonus range: <span
                class="salary__description_count">${{ bonus_percentile_10|number_format }} - ${{ bonus_percentile_90|number_format }}</span>
            </p>
          </div>
        {% endif %}

        <div class="detailed_compensation_info">
          <div class="compensation__item col-24">
            <p class="compensation__salary__calculation salary__text mb-2">
              <span>{{ base_pay_per_year }}</span>
              <span>{{ base_pay_per_hour }}</span>
              <span>{{ pay_by_avg_hours }}</span>
              <span>{{ bonus_pay_by_avg_hours }}</span>
            </p>
          </div>

          <div class="compensation__item col-24">
            <p class="compensation__salary__calculation salary__text mb-0">
              <span>{{ pay_range }}</span>
              <span>{{ pay_by_division }}</span>
              <span>{{ pay_by_city }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="salary__section company-salaries">
    <div class="salary__second-head">
      <h2 class="salary__second-title mt-5 p-0 w-auto">{{ ['Filter'|t ~ ' ', node_title, ' ' ~ 'Compensation by Position, Location and/or Division'|t]|join }}</h2>
    </div>

    {% if header %}
      <div class="view-header">
        {{ header }}
      </div>
    {% endif %}

    <div class="ev-tabs">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="all-tab" data-bs-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">
            {{ 'All data'|t }}
          </a>
          {% if charts %}
            <a class="nav-item nav-link" id="summary-tab" data-bs-toggle="tab" href="#summary" role="tab" aria-controls="nav-profile" aria-selected="false">
              {{ 'Summary'|t }}
            </a>
          {% endif %}
        </div>
      </nav>
    </div>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        {% if exposed_custom %}
          <div class="view-filters form-group">
            {{ exposed_custom }}
          </div>
        {% endif %}
        {% if attachment_before %}
          <div class="attachment attachment-before">
            {{ attachment_before }}
          </div>
        {% endif %}

        {% if pager %}
          {{ pager }}
        {% endif %}

        {% if rows %}
          <div class="view-content">
            {{ rows }}
          </div>
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}

        {% if pager %}
          {{ pager }}
        {% endif %}
        {% if attachment_after %}
          <div class="attachment attachment-after">
            {{ attachment_after }}
          </div>
        {% endif %}
        {% if more %}
          {{ more }}
        {% endif %}
        {% if footer %}
          <div class="view-footer">
            {{ footer }}
          </div>
        {% endif %}
        {% if feed_icons %}
          <div class="feed-icons">
            {{ feed_icons }}
          </div>
        {% endif %}
      </div>
      {% if charts %}
        <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">
          <div class="salary__chart_above m-t-md m-b-lg">
            {{ charts }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {% if not no_submissions %}
    <div class="salary__section top-salaries">
      <div class="salary__second-head">
        <h2 class="salary__second-title mt-5 mb-4 p-0 w-auto">{{ ['Highest Paying Jobs at'|t ~ ' ', node_title]|join }}</h2>
      </div>

      {% if top_salaries %}
        <div class="section__top-salaries">
          {{ top_salaries }}
        </div>
      {% endif %}
    </div>

    {% if top_pay_city and top_cities_table %}
      <div class="salary__section top-by-city-text">
        <div class="salary__second-head">
          <h2 class="salary__second-title mt-5 mb-4 p-0 w-auto">{{ ['Average Pay by City for'|t ~ ' ', node_title]|join }}</h2>
        </div>

        {% if top_pay_city %}
          <div class="detailed_compensation_info">
            <div class="compensation__item col-24">
              <p class="compensation__salary__calculation salary__text mb-0">
                <span>{{ top_pay_city }}</span>
              </p>
            </div>
          </div>
        {% endif %}
      </div>


      <div class="salary__section top-by-city">
        <div class="salary__second-head">
          <h2 class="salary__second-title mt-5 mb-4 p-0 w-auto">{{ ['Salaries by Location at'|t ~ ' ', node_title]|join }}</h2>
        </div>

        {% if top_cities_table %}
          <div class="section__top-salaries top-by-city">
            <div class="table-company-database-company-table table-responsive">
              {{ top_cities_table }}
            </div>

            {{ top_cities_description }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if top_pay_division and top_divisions_table %}
      <div class="salary__section top-by-division">
        <div class="salary__second-head">
          <h2 class="salary__second-title mt-5 mb-4 p-0 w-auto">{{ [node_title, ' ' ~ 'Salaries by Department'|t, ]|join }}</h2>
        </div>

        {% if top_pay_division %}
          <div class="detailed_compensation_info">
            <div class="compensation__item col-24">
              <p class="compensation__salary__calculation salary__text mb-0">
                <span>{{ top_pay_division }}</span>
              </p>
            </div>
          </div>
        {% endif %}

        {% if top_divisions_table %}
          <div class="section__top-salaries top-by-division">
            <div class="table-company-database-company-table table-responsive mt-4">
              {{ top_divisions_table }}
            </div>

            {{ top_divisions_description }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="salary__section last-5-reviews">
      <div class="salary__second-head">
        <h2 class="salary__second-title mt-5 mb-4 p-0 w-auto">{{ ['Recently Added'|t ~ ' ', node_title, ' ' ~ 'Salaries'|t]|join }}</h2>
      </div>

      {% if last_5_reviews %}
        <div class="section__top-salaries last-5-reviews">
          {{ last_5_reviews }}
        </div>
      {% endif %}
    </div>
  {% endif %}

</div>

