<div class="col-sm-24">
  <div class="row">
    {% if fields.field_company_logo is not empty %}
      <div class="company-database__search-company__media col-sm-4">
        <div class="row">
          <div class="company-database__search-company__logo">
            {{ fields.field_company_logo.content }}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="company-database__search-company__content {{ (fields.field_company_logo.content is not empty) ? 'col-sm-20' : 'col-sm-24' }}">
      <div class="row d-block">
        <{{ fields.title.element_type }}{{ fields.title.element_attributes }}>{{ fields.title.content }}</{{ fields.title.element_type }}>
        <{{ fields.body.element_type }}{{ fields.body.element_attributes }}>{{ fields.body.content }}{{ fields.company_db_counters.content }}</{{ fields.body.element_type }}>
      </div>
    </div>
  </div>
</div>

