{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% set itemsLength = rows|length %}
{% set split_value = 10 %}
{% set btnValue = itemsLength - split_value  %}

{% if itemsLength > split_value %}
  {% set collapsedLength = itemsLength - split_value %}
  {% for row in rows|slice(0, split_value) %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
      'mb-4'
    ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}

  <div class="m-b-md m-t-md text-center">
    <a class="btn btn-primary" data-bs-toggle="collapse" role="button" href="#collapseTSFeedbacks" aria-expanded="false" aria-controls="collapseTSFeedbacks">
      <span data-state="default">{{ 'Show more'|t }} ({{ btnValue }})</span><span data-state="open">{{ 'Hide'|t }}</span>
    </a>
  </div>

  <div class="collapse" id="collapseTSFeedbacks">
    {% for row in rows|slice(split_value, collapsedLength) %}
      {%
        set row_classes = [
        default_row_class ? 'views-row',
        'mb-4'
      ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>

{% else %}
  {% for row in rows %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
      'mb-4'
    ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
{% endif %}


