{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
{{ tid }} == Term ID
{{ name }} == Term Name
{{ title }} == Title
{{ body }} == Body
{{ body__value }} == Raw value
{{ body__summary }} == Raw summary
{{ body__format }} == Raw format
#}

<div class="panel panel-default" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
  <div class="panel-heading" role="tab" id="heading-{{ row.nid }}">
    <h4 class="panel-title">
      <a role="button" data-bs-toggle="collapse" href="#collapse-{{ row.nid }}" aria-expanded="true" aria-controls="collapse-{{ row.nid }}">
        <span itemprop="name">{{ fields.title.content }}</span><span class="panel-actions-view btn btn-success">View</span><span class="panel-actions-close btn btn-warning"><i class="icon icon-cancel"></i></span>
      </a>
      {% if user_is_admin %}
        <span class="panel-actions-edit"><a class="btn btn-primary" href="/node/{{ row.nid }}/edit"><i class="icon icon-pencil"></i></a></span>
      {% endif %}
    </h4>
  </div>
  <div id="collapse-{{ row.nid }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ row.nid }}">
    <div class="panel-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div>
        <a href="/node/{{ row.nid }}">{{ fields.title.content }}</a>
      </div>
      <span itemprop="text">{{ fields.body.content }}</span>
    </div>
  </div>
</div>

