{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}


{% set date = fields.field_event_date.content|render|striptags|trim %}

{% set day = start_date|date("d") %}
{% set week_day = start_date|date("D") %}
{% set start_time = start_date|date("g:i") %}

{% if end_date %}
  {% set end_time = end_date|date("g:i") %}
  {% set day_end = end_date|date("d") %}
  {% set week_day_end = end_date|date("D") %}
{% endif %}

<div class="views-field views-field-field-event-date text-primary">
  <div class="wso-event-month">
    <span>
      {{ fields.field_event_date_2.content }}
    </span>
  </div>
  <div class="wso-event-day">
    <span>
      {{ fields.field_event_date.content }}
    </span>
  </div>
</div>

<div class="views-field views-field-title">
  {{ fields.title.content }}
  {% if end_date and day != day_end %}
    <span>
      {{ start_date|date("M") }} {{ day }} - {{ (end_date|date("M") != start_date|date("M")) ? end_date|date("M") ~ ' ' : '' }}{{ day_end }}
    </span>
  {% endif %}
  <span class="wso-event-time">
    <span>
      {{ fields.field_event_date_1.content }}
    </span>
  </span>
  <span class="wso-event-city">
    {{ fields.field_address_administrative_area.content }}
  </span>
</div>
