{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}

<div class="row">
  <div class="col-lg-17">
    <div class="d-lg-flex">
      {{ form.tid }}
      {{ form.sort_by }}
    </div>
  </div>
  <div class="col-lg-7">
    <div class="d-lg-flex">
      {{ form.search }}
      {{ form.actions }}
    </div>
  </div>
</div>

{{ form|without('tid', 'sort_by', 'search', 'actions' ) }}
