{#
/**
* @file
* Default view template to display all the fields in a row.
*
* Available variables:
* - view: The view in use.
* - fields: A list of fields, each one contains:
*   - content: The output of the field.
*   - raw: The raw data for the field, if it exists. This is NOT output safe.
*   - class: The safe class ID to use.
*   - handler: The Views field handler controlling this field.
*   - inline: Whether or not the field should be inline.
*   - wrapper_element: An HTML element for a wrapper.
*   - wrapper_attributes: List of attributes for wrapper element.
*   - separator: An optional separator that may appear before a field.
*   - label: The field's label text.
*   - label_element: An HTML element for a label wrapper.
*   - label_attributes: List of attributes for label wrapper.
*   - label_suffix: Colon after the label.
*   - element_type: An HTML element for the field content.
*   - element_attributes: List of attributes for HTML element for field content.
*   - has_label_colon: A boolean indicating whether to display a colon after
*     the label.
*   - element_type: An HTML element for the field content.
*   - element_attributes: List of attributes for HTML element for field content.
* - row: The raw result from the query, with all data it fetched.
*
* @see template_preprocess_views_view_fields()
*
* @ingroup themeable
*/

{{ field_current_mentor_grade_1 }} == Current Mentor Grade (text)
{{ field_current_mentor_grade }} == Current Mentor Grade (stars)
{{ field_current_city }} == Current City
{{ field_current_industry }} == Current Industry
{{ nid }} == ID
{{ field_past_industries }} == Past Industries
{{ field_confirm_title }} == Confirm Job Title / Status
{{ field_entity_undergrad_school }} ==
{{ field_current_firm }} == Current Firm
{{ field_public_bio }} == Public Bio
{{ field_public_image }} == Public Image
{{ nothing_1 }} == Back to mentor search
{{ field_previous_cities }} == Previous Cities
{{ field_sessions_completed }} == Sessions Completed
{{ field_sessions_completed__value }} == Raw value
{{ arguments.nid }} == Content: ID title
{{ raw_arguments.nid }} == Content: ID input

#}
<div class="mentor-head__section">
  <div class="container">
    <div class="row">
      <div class="col-lg-17">
        <div class="row d-block row--w-auto">
          <!-- Back to mentor search -->
          <a href="/career-services/mentors"
             class="btn btn-secondary mono back-to-mentors-search">{{ 'Back to Mentor Search'|t }}</a>

          <h2 class="mentor-head__title">
            <div>
              {{ fields.field_current_industry.content }}
            </div>

            {% if fields.field_confirm_title.content|striptags|length %}
              <span><span class="vertical"></span></span> {{ fields.field_confirm_title.content }}
            {% endif %}
          </h2> <!-- Investment Banking Analyst -->
          <p class="mentor-head__company-name">{{ fields.field_current_firm.content }}</p>  <!-- Goldman Sachs -->

          <div class="mentors__content">
            {# Show grade only if has completed sessions #}
            {% if row._entity.field_sessions_completed.value %}
              {% if fields.field_current_mentor_grade_1.content|striptags|length %}
                <span class="mentors__content_mark">{{ fields.field_current_mentor_grade_1.content }}</span>
              {% endif %}
              {% if fields.field_current_mentor_grade.content|striptags|length %}
                <span class="mentors__content_mark">{{ fields.field_current_mentor_grade.content }}</span>
              {% endif %}
            {% endif %}

            {% if row._entity.field_sessions_completed.value %}
              {{ fields.field_sessions_completed.content }}
            {% else %}
              {{ 'New mentor!'|t }}
            {% endif %}
          </div>

        </div>
      </div>
      <div class="col-lg-7 align-center align-items-center d-lg-flex justify-content-center">
        <div class="row row--w-auto">
          <div class="mentors-img__block">
            <div class="mentors__img mentor__img relative">
              {{ fields.field_public_image.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="mentor-content__section">
  <div class="container">
    <div class="row">
      <div class="col-lg-17">
        <div class="row row--w-auto">
          <div class="mentor-content__part relative">

            <div class="mentor-book__part">
              {{ book_form }}
            </div>

            {{ fields.field_public_bio.content }}

            <div class="mentor-expertise__block">
              <p class="mentor-expertise__title mentor-tag__title">{{ 'Expertise'|t }}</p>
              <ul class="mentors__tags">
                {{ fields.field_current_industry_1.content }}
                {{ fields.field_past_industries.content }}
              </ul>
            </div>

            <div class="mentor-about__block">
              <p class="mentor-about__title mentor-tag__title">{{ 'About the mentor'|t }}</p>
              <ul class="mentors__tags">
                {{ fields.field_entity_graduate_school.content }}
                {{ fields.field_entity_undergrad_school.content }}

                {% if fields.field_hide_location.content|render|striptags|trim != 'True' %}
                  {{ fields.field_current_city.content }}
                  {{ fields.field_previous_cities.content }}
                {% endif %}
              </ul>
            </div>

            {{ drupal_view('mentor_reviews', 'block_1') }}

          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="row row--w-auto">
          <div class="mentor-simple__section">
            <div class="mentor-simple__block d-flex flex-column">
              {{ block_become_mentor }}
            </div>
            <div class="mentor-simple__block">
              {{ block_why }}
            </div>
            <div class="mentor-simple__block">
              {{ block_how }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
