<div class="container">
  <div class="row">
    <div class="col-sm-24">
      <h4 class="student-group-dashboard__stats-title mb-2">{{ 'Averages'|t }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-8 student-group-dashboard__stats-card">
      <div class="card">
        <div class="card-body">
          <div class="student-group-dashboard__stats-card-title mb-2">
            {{ fields.time_spent.content }}
          </div>
          <div class="student-group-dashboard__stats-card-subtitle">
            {{ 'Time in course'|t }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-8 student-group-dashboard__stats-card">
      <div class="card">
        <div class="card-body">
          <div class="student-group-dashboard__stats-card-title mb-2">
            {{ fields.field_total_questions.content }}
          </div>
          <div class="student-group-dashboard__stats-card-subtitle">
            {{ 'Questions answered'|t }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-8 student-group-dashboard__stats-card">
      <div class="card">
        <div class="card-body">
          <div class="student-group-dashboard__stats-card-title mb-2">
            {{ fields.field_course_total_lessons.content }}
          </div>
          <div class="student-group-dashboard__stats-card-subtitle">
            {{ 'Lessons completed'|t }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
