{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% set split_value = 8 %}
{% set itemsLength = rows|length %}
{% set btnValue = itemsLength - split_value  %}
{% set row_classes = [
    default_row_class ? 'views-row',
    'trustpilot-reviews__review__default-wrapper',
    'flex-grow-1',
    'flex-shrink-1',
    'multi-columns-item',
  ]
%}

{% if itemsLength > split_value %}
  {% set collapsedLength = itemsLength - split_value %}
  <div class="trustpilot-reviews__flex-wrapper wrapper-cut d-flex flex-row flex-wrap justify-content-between">
    {% for row in rows|slice(0, split_value) %}
      <div{{ row.attributes.addClass(row_classes) }} data-item-index="{{ loop.index }}">
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>

  <div class="m-b-md m-t-md text-center">
    <div class="btn--wrapper btn--secondary-lg btn-icon-right">
      <a class="m-auto" data-bs-toggle="collapse" role="button" href="#collapseTSFeedbacks" aria-expanded="false" aria-controls="collapseTSFeedbacks">
        <span data-state="default">{{ 'Show more'|t }} ({{ btnValue }})</span>
        <span data-state="open">{{ 'Hide'|t }}</span>
      </a>
    </div>
  </div>

  <div class="collapse" id="collapseTSFeedbacks">
    <div class="trustpilot-reviews__flex-wrapper d-flex flex-row flex-wrap justify-content-between">
      {% for row in rows|slice(split_value, collapsedLength) %}
        <div{{ row.attributes.addClass(row_classes) }} data-item-index="{{ loop.index }}">
          {{- row.content -}}
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="trustpilot-reviews__flex-wrapper wrapper-cut d-flex flex-row flex-wrap justify-content-between">
    {% for row in rows %}
      <div{{ row.attributes.addClass(row_classes) }} data-item-index="{{ loop.index }}">
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>
{% endif %}


