{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="view-filters">
  <form {{ attributes }}>
    <div>
      <div id="database_search" class="company-database__search_wrapper clearfix">
        <div class="company-database__search">
          <div class="tabs company-database__tabs">
            <ul class="nav nav-tabs company-database__nav-tabs">
              <p class="company-database__tabs_label company-database__search_label">Search for</p>
              <li class="company-database__tab_left active"><a class="active" href="/company">Companies</a>
              </li>
              <li><a href="/company/interview">Interview Insights</a></li>
              <li><a href="/company/salary">Salary Data</a></li>
              <li class="company-database__tab_right"><a href="/company/review">Company Reviews</a></li>
            </ul>
          </div>
          <div class="view-filters company-database__filters">
            <div class="views-exposed-form company-database__exposed-form">
              <div class="views-exposed-widgets company-database__exposed-widgets clearfix">
                <div class="row m-0">
                  <div class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-title col-sm-12">
                    {{ form.title }}
                  </div>
                  <div class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-tid col-sm-12">
                    {{ form.tid }}
                  </div>
                </div>
                <div class="advanced-filter-toggler-outer">
                  <div>
                    <a class="company-database__advanced-widgets__toggler" role="button" data-bs-toggle="collapse"
                       href="#advanced-filter">Advanced Filters</a>
                  </div>
                </div>
                <div id="advanced-filter" class="collapse">
                  <div
                    class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-body_value col-sm-24">
                    {{ form.body_value }}
                  </div>
{#                  @todo#}
{#                  <div class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-distance company-database__filter-distance col-sm-24">#}
{#                  </div>#}
                  <div
                    class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-field_aum_value col-sm-12">
                    {{ form.field_aum_value }}
                  </div>
                  <div
                    class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-field_revenue_value col-sm-12">
                    {{ form.field_revenue_value }}
                  </div>
                  <div
                    class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-city col-sm-8">
                    {{ form.city }}
                  </div>
                  <div
                    class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-province col-sm-8">
                    {{ form.province }}
                  </div>
                  <div
                    class="company-database__filters__exposed-widget views-exposed-widget views-widget-filter-country col-sm-8">
                    {{ form.country }}
                  </div>
                </div>
                <div class="views-exposed-widget views-submit-button col-sm-24 text-center ">
                  {{ form.actions }}
                </div>
              </div>  <!-- view filters -->
            </div>
          </div>  <!-- database search -->
        </div>
      </div>
    </div>
  </form>
</div>
