{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% set content_type = fields.type.content|raw %}
{% set link = fields.view_node.content|render|striptags|trim %}

{% set yt_icon = '<svg version="1.1" class="yt-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 432" xml:space="preserve">
<path d="M598.7,69.7c-7-26.4-22.4-48.7-48.8-55.7C502.1,1.2,306,0,306,0S109.9,1.2,62.1,14
	c-26.4,7-41.7,29.3-48.8,55.7C0.5,117.5,0,216,0,216s0.5,98.5,13.3,146.3c7,26.4,22.4,48.7,48.8,55.7c47.8,12.8,243.9,14,243.9,14
	s196.1-1.2,243.9-14c26.4-7,41.8-29.3,48.8-55.7C611.5,314.5,612,216,612,216S611.5,117.5,598.7,69.7z M243,306V126l162,90L243,306z
	"></path>
</svg>' %}

{#<div class="col-sm-12 push-xs-down">#}
  <div class="card__item card__item--default card__item--media">
    <div class="card__body">
      <div class="card__media-cover">
        {{ fields.field_image.content }}

        {% if content_type == 'media' %}
          {{ fields.field_media.content }}
          {{ yt_icon }}
        {% endif %}
      </div><!-- card__media-cover -->
      <div class="card__media-content">
        {% if content_type == 'event' %}
          <a href="/events">Events</a>
        {% elseif content_type == 'job' %}
          <a href="/the-talent-oasis/candidates">Talent Oasis</a>
        {% elseif content_type == 'media' %}
          <a href="/wso-media">Media</a>
        {% else %}
          {{ forum_link }}
        {% endif %}
        <h5 class="field-content card__title--smaller">{{ fields.title.content }}</h5>
        <div class="field-body">{{ fields.body.content }}</div>
        <div class="holder-between">
          <a href="{{ link }}" class="btn btn-success btn-xs">read more</a>
          <span>
            <a href="{{ link }}#comments">{{ fields.comment_count.content }} comments</a> <span class="comments-new node-{{ row.nid }}"></span>
          </span>
        </div><!-- holder-between -->
      </div><!-- card__media-content -->
    </div><!-- card__body -->
  </div><!-- cards__item -->
{#</div>#}
