//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.field-name-body .field-item {
  padding: 0 !important;
}

.main_menu-nav .list-inline > li.active {
  padding: 16.5px 0;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .main_menu-nav .list-inline > li {margin: 0 5px;}
}

.node-type-landing-page {
  header {
    box-shadow: none !important;
  }
}

.page-node-type-landing-page .field-name-body {
  margin: 180px 0 0 0 !important;
}

h3 {
  margin-top: 20px;
}

body {
  background-color: var(--color-neutral-0);
  font-family: "Lato", sans-serif;
  color: var(--color-base);

  &.sticky-menu-active {
    header {
      .logo {
        margin: 10px 0 0 !important;
      }
    }
    padding-top: 0 !important;
  }
}

section {
  &.cover-block {
    &.container {
      margin-top: 6vh;
      text-align: center;

      h1 {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 48px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .1px;
        line-height: 1.17;
        margin-bottom: 16px;
        text-align: center;
      }

      h4 {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 48px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .1px;
        line-height: 1.17;
        margin-bottom: 16px;
        text-align: center;
      }

      h3 {
        color: var(--color-neutral-7);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .1px;
        line-height: 28px;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
        width: 680px;
      }
    }
  }

  &.steps-container {
    h3 {
      color: var(--color-base);
      font-family: "Lato", sans-serif;
      font-size: 36px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .2px;
      line-height: 1.39;
    }

    p {
      color: var(--color-base);
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .2px;
      line-height: 1.67;
      margin-bottom: 48px;
    }

    .learn-more {
      @include responsive-prop(700, 800, font-weight);
      background-color: rgba(43, 157, 223, .1);
      border: transparent;
      border-radius: 3px !important;
      color: $color-blue;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      height: 48px;
      letter-spacing: .6px;
      line-height: 35px;
      width: 160px;
    }

    .step-assets {
      > img {
        display: block;
        margin: auto;
        width: 80%;
      }
    }
  }

  &.banner-footer {
    &.container-fluid {
      background-color: var(--color-base);
      height: 340px;
      text-align: center;

      h2 {
        color: var(--color-neutral-0);
        font-family: "Lato", sans-serif;
        font-size: 36px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.39;
        margin-bottom: 17px;
        margin-top: 27px;
        text-align: center;
      }

      p {
        color: var(--color-neutral-0);
        display: block;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 60px;
        letter-spacing: .2px;
        line-height: 1.67;
        margin: auto;
        margin-bottom: 48px;
        text-align: center;
        width: 680px;
      }

      a {
        background-color: $color-blue;
        border-radius: 26px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
        color: var(--color-neutral-0);
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        height: 52px;
        letter-spacing: .1px;
        line-height: 1.13;
        text-align: center;
        width: 240px;
      }
    }
  }

  &.clients-front {
    height: 100px;
    background-color: var(--color-neutral-2);
    text-align: center;
    overflow: hidden;

    img {
      display: inline-block;
      margin: 32px 10px;
    }
  }

  &.wso-special-row {
    text-align: center;
    margin: 120px 0;
    background-image: url(/modules/custom/talent_oasis/images/bigbluespot.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 45% 95%;

    .intro-text {
      letter-spacing: .2px;

      h2 {
        color: var(--color-base);
        font-size: 36px;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.39;
        margin-bottom: 8px;
        margin-top: 24px;
      }

      p {
        color: var(--color-base);
        font-size: 18px;
        letter-spacing: .2px;
        line-height: 1.67;
      }
    }

    .cards {
      margin-top: 48px;

      .card-container {
        margin: 5px 10px;
        width: 30.5%;
        display: inline-flex;
        height: 440px;
        border-radius: 10px;
        background-color: $color-neutral-0;
        box-shadow: 0 20px 48px 0 rgba(var(--color-black--rgb), .05);
        position: relative;
        padding: 0 48px;

        .darkmode & {
          background-color: $color-black;
        }

        .card-block {
          height: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          text-align: left;
          padding-right: 48px;

          .circle {
            border-radius: 5px;
            height: 64px;
            width: 64px;
          }

          h3 {
            color: var(--color-base);
            font-size: 22px;
            font-stretch: normal;
            font-style: normal;
            @include responsive-prop(700, 800, 'font-weight');
            letter-spacing: .2px;
            line-height: 1.18;
            margin-bottom: 14px;
          }

          img {
            .darkmode & {
              filter: invert(1);
            }
          }

          p {
            font-size: 16px;
          }
        }

        .learn-more {
          bottom: 64px;
          font-size: 16px;
          font-stretch: normal;
          font-style: normal;
          @include responsive-prop(700, 800, 'font-weight');
          letter-spacing: .4px;
          line-height: 1.13;
          position: absolute;
        }
      }
    }

    &.wso-puzzle-blocks {
      background: none;
      margin: 100px 0 420px;
      padding: 0;
      position: relative;

      .cards {
        @include media('>=desktop', '<1200px') {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }

  &.container-fluid {
    &.looking-section {
      height: 500px;
      position: relative;
      margin-bottom: 100px;

      .container {
        height: 100%;

        .looking-container {
          height: 100%;
          position: relative;

          .looking-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 15px;

            h1 {
              color: var(--color-base);
              font-size: 36px;
              letter-spacing: .2px;
              line-height: 1.39;
            }

            h4 {
              color: var(--color-base);
              font-size: 36px;
              letter-spacing: .2px;
              line-height: 1.39;
            }

            p {
              color: var(--color-base);
              font-size: 18px;
              letter-spacing: .2px;
              line-height: 1.67;
            }

            .learn-more {
              @include responsive-prop(700, 800, font-weight);
              background-color: rgba(43, 157, 223, .1);
              border: transparent;
              border-radius: 3px !important;
              color: $color-blue;
              font-size: 14px;
              height: 48px;
              letter-spacing: .6px;
              line-height: 1.14;
              margin: 48px 0;
              width: 160px;
            }
          }
        }
      }

      .img-container {
        height: inherit;
        position: unset;
        right: 0;

        img {
          height: inherit;
          position: absolute;
          right: 0;
        }
      }
    }

    &.promo-footer {
      height: 460px;
      position: relative;
      margin: 0;
      padding: 0;
      background-image: url(/modules/custom/talent_oasis/images/bluetinyspot.png);
      background-repeat: no-repeat;
      background-position-x: 250px;

      .promo-container {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          margin-bottom: 17px;
        }

        h4 {
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          margin-bottom: 17px;
        }

        p {
          font-size: 18px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.56;
          margin: 0 auto;
          margin-bottom: 48px;
          width: 480px;
        }
      }

      &.promo-employers {
        background: none;
      }
    }
  }

  &.roles {
    background-image: url(/modules/custom/talent_oasis/images/greenspot.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 110px;
    background-size: 36% 66%;
    margin-bottom: 95px;

    .container {
      &.roles-container {
        position: relative;
        height: 800px;

        .roles-block {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .logo-container {
      float: left;
      width: 204px;
      height: 244px;
      border-radius: 10px;
      background-color: var(--color-neutral-0);
      box-shadow: 20px 20px 48px 0 rgba(0, 0, 0, .05);
      position: relative;
      margin-bottom: 15px;

      &:nth-child(3n+2) {
        margin: 0 15px;
        margin-top: -65px;
      }

      .logo-block {
        position: absolute;
        width: 100%;
        padding: 20px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          color: var(--color-base);
          font-family: Montserrat;
          font-size: 24px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          letter-spacing: .4px;
          line-height: 1.17;
          margin-bottom: 12px;
          text-align: center;
        }

        h4 {
          color: var(--color-base);
          font-family: Montserrat;
          font-size: 24px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          letter-spacing: .4px;
          line-height: 1.17;
          margin-bottom: 12px;
          text-align: center;
        }

        p {
          color: var(--color-neutral-7);
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          @include responsive-prop(700, 800, 'font-weight');
          letter-spacing: .8px;
          line-height: 1.07;
          text-align: center;
        }

        img {
          padding-top: 16px;
        }
      }
    }

    .col-xs-10 {
      &.logos-copy {
        h1 {
          color: var(--color-base);
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          width: 440px;
        }

        h4 {
          color: var(--color-base);
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          width: 440px;
        }

        p {
          color: var(--color-base);
          font-size: 18px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.67;
        }

        .learn-more {
          @include responsive-prop(700, 800, font-weight);
          background-color: var(--color-neutral-0);
          border: transparent;
          border-radius: 3px !important;
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
          color: $color-green-100;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          height: 48px;
          letter-spacing: .6px;
          line-height: 1.14;
          margin: 48px 0;
          width: 137px;
        }

        .logos-box {
          img {
            margin: 12px;
          }
        }
      }
    }
  }

  &.head-steps {
    height: 350px;

    .block-description {
      height: 350px;
      position: relative;
    }

    /*
    h3 {
      color: var(--color-base);
      font-size: 42px;
      font-weight: 800;
      letter-spacing: .2px;
      line-height: 1.29;
      margin-bottom: 10px;
    }
    */

    p {
      &.sub-title {
        color: var(--color-base);
        font-size: 28px;
        font-weight: normal;
        letter-spacing: .4px;
        margin-bottom: 32px;
      }

      &.description {
        bottom: 0;
        color: var(--color-base);
        font-size: 18px;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.67;
        margin-bottom: 64px;
        position: absolute;
      }
    }

    .blue-stripe {
      background-color: $color-blue;
      height: 4px;
      margin-bottom: 180px;
      width: 40px;
    }

    &.foot-steps {
      background: var(--color-neutral-0);
      border: none;
      border-bottom: 2px solid var(--color-neutral-2);
      border-top: 2px solid var(--color-neutral-2);
      height: 374px;
    }
  }

  &.foot-steps {
    h3 {
      margin-top: 120px;
    }

    .block-jb-description {
      margin-top: 141px;
      text-align: right;

      .btn {
        margin: 0;
      }

      p {
        color: var(--color-base);
        font-size: 18px;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.67;
        margin-bottom: 10px;
        text-align: right;
      }
    }
  }

  &.wso-puzzle-blocks {
    .intro-text {
      padding: 0 15%;

      .circle {
        display: block;
      }

      h2 {
        color: var(--color-base);
        font-size: 36px;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.39;
        text-align: left;
        width: 72%;
      }
    }

    .cards {
      .card-container {
        margin: 12px 12px;

        &.card-up {
          top: -300px;
        }

        &.card-down {
          top: 300px;
        }

        img {
          width: 64px;
        }
      }
    }
  }
}

a {
  &.btn {
    &.btn-primary {
      width: 240px;
      height: 52px;
      border-radius: 26px !important;
      background-color: $color-blue;
      font-family: "Lato", sans-serif;
      font-size: 14px !important;
      @include responsive-prop(700, 800, 'font-weight');
      font-style: normal;
      font-stretch: normal;
      line-height: 35px;
      letter-spacing: .1px;
      text-align: center;
      color: var(--color-neutral-0);
      border-color: transparent;
      box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05);
      margin: 0 12px;
      background-image: none;
      text-shadow: none;

      &.find-button {
        background-color: var(--color-neutral-0);
        color: $color-blue;
      }

      &.btn-green {
        background-color: $color-green-100;
        background-image: none;
      }
    }
  }
}

img {
  &.candidates-banner {
    margin-bottom: 200px;
    max-height: 520px;
    width: 100vw;
  }
}

.circle {
  width: 78px;
  height: 78px;
  border-radius: 40.5px;
  background-color: rgba(43, 157, 223, .1);
  display: inline-block;
  position: relative;
  text-align: left;

  >.square {
    background-color: $color-blue;
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    margin: 30px;
    position: absolute;
    width: 20px;
  }

  img {
    margin: 16px 20px;
    display: inline !important;
  }
}

.step-block {
  &.row {
    padding: 100px 0;

    &:nth-child(even) {
      background-color: var(--color-neutral-0);
    }

    &:nth-child(odd) {
      background-color: var(--color-neutral-1);
    }
  }

  img {
    width: 280px;
    height: 280px;
    object-fit: contain;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    margin-top: 40px;


    .darkmode & {
      filter: none !important;
    }

    &.timer {
      width: 234px;
    }
  }
}

.field-name-body {
  .field-item {
    margin-bottom: 0;
    padding: 0;
  }
}

ul {
  &.inline {
    display: none;
  }

  &.links {
    &.inline {
      display: none;
    }
  }
}

html {
  font-family: "Lato", sans-serif;
  color: var(--color-base);

  body {
    &.admin-menu {
      margin-top: 0 !important;
    }
  }
}

header {
  &.main-page {
    height: 82vh;
    position: relative;
    z-index: 3;

    section {
      &.cover-block {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.header-bg {
  background-image: url("/modules/custom/talent_oasis/images/headerbg.jpg");
  background-size: cover;
  height: 82vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.opacity-bg {
  background-color: var(--color-neutral-0);
  height: inherit;
  opacity: .8;
  width: inherit;
  z-index: 2;
}

.green-bg {
  background-color: rgba(121, 186, 90, .1) !important;
  color: $color-green-100 !important;
}

.green-color {
  background-color: $color-green-100 !important;
  color: $color-green-100 !important;
}

.main_menu-nav {
  .list-inline {
    >li {
      border-top: 3.5px solid transparent;
      margin: 0 13px;
      padding: 20px 0;

      &.active {
        border-top: 3.5px solid $color-blue;
      }
    }

    li {
      > a {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        @include responsive-prop(700, 800, 'font-weight');
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: .2px;
        text-align: center;
        color: var(--color-base);

        &:focus {
          text-decoration: none;
        }
      }

      &.active {
        >a {
          color: $color-blue;
        }

        >span {
          color: $color-blue;
        }
      }

      a {
        &:hover {
          color: var(--color-neutral-7);
          text-decoration: none;
          text-shadow: none;
        }
      }

      > span {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .2px;
        line-height: 1.13;
        text-align: center;
      }
    }

    >a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  a {
    &.btn {
      &.btn-primary {
        line-height: 1.7;
      }
    }
  }
}

.logo {
  display: inline-block;
  margin-top: 10px;
  width: 150px;
}

.header__logo-img {
  width: 100%;
}

.employers-banner {
  margin: 120px 0;
  object-fit: cover;
  width: 100%;
}

.panel-steps {
  .circle {
    > .square {
      background-size: contain;
      border-radius: 3px;
      display: inline-block;
      height: 40px;
      left: 50%;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;

      .darkmode & {
        filter: invert(1) grayscale(1);
      }
    }
  }

  .step-block {
    p {
      margin-bottom: 48px;
    }
  }
}

.panel-step-1 {
  .circle {
    >.square {
      background: url(/modules/custom/talent_oasis/images/massive.png) no-repeat;
      background-size: contain;
    }
  }
}

.panel-step-2 {
  .circle {
    >.square {
      background: url(/modules/custom/talent_oasis/images/icon-heart.png) no-repeat;
      background-size: contain;
    }
  }
}

.panel-step-3 {
  .circle {
    >.square {
      background: url(/modules/custom/talent_oasis/images/icon-lamp.png) no-repeat;
      background-size: contain;
    }
  }
}

.panel-step-4 {
  .circle {
    >.square {
      background: url(/modules/custom/talent_oasis/images/icon-clock.png) no-repeat;
      background-size: contain;
    }
  }
}

.panel-step-5 {
  .circle {
    >.square {
      background: url(/modules/custom/talent_oasis/images/icon-search.png) no-repeat;
      background-size: contain;
    }
  }
}

.panel-step-6 {
  .circle {
    >.square {
      background: url(/modules/custom/talent_oasis/images/deal.png) no-repeat;
      background-size: contain;
    }
  }
}

.bluespot2 {
  background-image: url(/modules/custom/talent_oasis/images/puzzle-bluespot2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  position: absolute;
  right: 0;
  width: 880px;
}

.bluespot1 {
  background-image: url(/modules/custom/talent_oasis/images/puzzle-bluespot1.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  height: 672px;
  position: absolute;
  width: 680px;
}

#admin-menu {
  display: none;
}

.looking-content {
  .learn-more {
    border-radius: 3px !important;
    font-size: 14px;
    @include responsive-prop(700, 800, 'font-weight');
    line-height: 16px;
    letter-spacing: .6px;
    border: transparent;
    font-style: normal;
    font-stretch: normal;
    text-shadow: none;
    box-shadow: none;
    padding: 16px 32px;
    text-align: center;
    text-transform: uppercase;
    transition: none;

    &.c-blue {
      background-color: rgba(43, 157, 223, .1);
      color: $color-blue;

      &:hover {
        background-color: rgba(43, 157, 223, .05);
        color: $color-blue;
      }
    }

    &.c-green {
      background-color: rgba(121, 186, 90, .1);
      color: $color-green-100;

      &:hover {
        background-color: rgba(121, 186, 90, .05);
        color: $color-green-100;
      }
    }

    &:hover {
      text-decoration: none;
    }
    display: inline-block;
  }
}

.btn-fill {
  border-radius: 100px;
  padding: 17px 40px;
  font-size: 16px;
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 18px;
  letter-spacing: .1px;
  border: transparent;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  transition: none;
  background-image: none;
  color: var(--color-neutral-0);

  &.c-blue {
    background-color: $color-blue;

    &:hover {
      background-color: $steelblue_268cc8;
      color: var(--color-neutral-0);
    }
  }

  &.c-green {
    background-color: $color-green-100;

    &:hover {
      background-color: $color-green-100;
      color: var(--color-neutral-0);
    }
  }

  &.c-white {
    background-color: var(--color-neutral-0);
    color: $color-blue;

    &:hover {
      background-color: var(--color-neutral-0);
      color: $steelblue_268cc8;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.btn-head {
  margin: 0 8px;
}

.btn-foot {
  margin: 0 12px;
}

.shadow {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05) !important;
}

.flat-shadow {
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1) !important;
}

.btn-line {
  border-radius: 100px;
  padding: 11px 32px;
  font-size: 16px;
  border: 2px solid var(--color-neutral-3);
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 18px;
  letter-spacing: .2px;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  transition: none;
  background-image: none;
  color: var(--color-neutral-3);

  &.c-blue {
    border-color: $color-blue;
    color: $color-blue;

    &:hover {
      border-color: $steelblue_268cc8;
      color: $steelblue_268cc8;
    }
  }

  &.c-green {
    border-color: $color-green-100;
    color: $color-green-100;

    &:hover {
      border-color: $color-green-100;
      color: $color-green-100;
    }
  }

  &.c-white {
    border-color: var(--color-neutral-0);
    color: var(--color-neutral-0);

    &:hover {
      background-color: rgba(255, 255, 255, .4);
      border-color: var(--color-neutral-0);
      color: var(--color-neutral-0);
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.btn-transparent {
  border-radius: 3px !important;
  font-size: 14px;
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 16px;
  letter-spacing: .6px;
  border: transparent;
  font-style: normal;
  font-stretch: normal;
  text-shadow: none;
  box-shadow: none;
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
  transition: none;

  &.c-blue {
    background-color: rgba(43, 157, 223, .1);
    color: $color-blue;

    &:hover {
      background-color: rgba(43, 157, 223, .05);
      color: $color-blue;
    }
  }

  &.c-green {
    background-color: rgba(121, 186, 90, .1);
    color: $color-green-100;

    &:hover {
      background-color: rgba(121, 186, 90, .05);
      color: $color-green-100;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.flat-white {
  background-color: var(--color-neutral-0) !important;
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1);
}

.link-highlight {
  &.c-blue {
    @include responsive-prop(700, 800, 'font-weight');
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .4px;
    color: $color-blue;

    &:hover {
      color: $color-blue;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

@include media('>=tablet') {
  .navbar-nav {
    >li {
      >a {
        padding: 0;
      }
    }
  }

  .main_menu-nav {
    display: inline-block;
    float: right;
  }
}

.btn-cta {
  margin: 11px 0 0 13px;
}

.navbar {
  background: none;
  border: none;
}

@include media('<tablet') {
  .navbar {
    background-color: var(--color-neutral-1);
    border-color: var(--color-neutral-3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;

    .main_menu-nav {
      width: 100%;
      padding: 0;
      border: none;
      margin: 25px 0 0;

      .list-inline {
        >li {
          &.active {
            border: 0;
          }
        }
      }
    }
  }

  section {
    &.cover-block {
      &.container {
        margin-top: 140px;

        h1 {
          font-size: 38px;
        }

        h4 {
          font-size: 38px;
        }

        h3 {
          font-size: 16px;
          width: auto;
        }
      }
    }

    &.wso-special-row {
      background-size: 66% 24%;
      margin: 120px 0 0;

      .cards {
        .card-container {
          width: 100%;
          margin: 10px 0;

          .card-block {
            top: 35%;
          }
        }
      }

      &.wso-puzzle-blocks {
        margin: 0;
      }

      .intro-text {
        h2 {
          width: 100%;
        }
      }
    }

    &.roles {
      .container {
        &.roles-container {
          width: 100%;
          height: auto;
          display: inline-block;

          .roles-block {
            position: relative;
            top: 0;
            transform: none;
          }
        }
      }

      .logos-copy {
        h1 {
          width: 100%;
        }

        h4 {
          width: 100%;
        }
        padding: 0 15px;

        .logos-box {
          img {
            margin: 12px 0;
            max-width: 260px;
          }
        }
      }

      .logo-container {
        width: 100%;

        &:nth-child(3n+2) {
          margin: 0 0 15px;
        }
      }

      .roles-container {
        padding-right: 0;
      }
      margin-top: 250px;
      background: none;
    }

    &.container-fluid {
      &.looking-section {
        width: 100%;
        height: auto;
        display: inline-block;

        .img-container {
          img {
            max-height: 243px;
            top: 100%;
            transform: none;
          }
          display: none;
        }

        .container {
          .looking-container {
            .looking-content {
              position: relative;
              top: 0;
              transform: none;
            }
          }

          .looking-container-m {
            margin-top: 250px;
          }
        }
      }

      &.promo-footer {
        .promo-container {
          p {
            width: 100%;
          }
          padding: 0 15px;
        }
      }
    }

    &.wso-cards {
      .cards {
        padding: 0;

        .card-container {
          margin: 10px auto;
          max-width: 100%;
        }
      }
    }

    &.how-it-works {
      &.comissions {
        p {
          height: auto;
          width: auto;
        }
      }

      p {
        width: auto;
      }

      .hiw-block {
        padding: 0 15px;
      }
    }

    &.steps-container {
      h3 {
        width: auto;
      }

      &.container-fluid {
        &.second-section {
          .second-step-block {
            .copy {
              p {
                width: auto;
              }
            }

            .step-assets {
              &:nth-child(even) {
                border: none;
              }

              &:nth-child(odd) {
                border: none;
              }
            }
          }
        }
      }

      &.funnel {
        .funnel-img-container {
          padding: 0;
          top: 50px;
          transform: none;
        }
      }

      .funnel-part {
        .funnel-description {
          left: 0;
          position: relative;
          top: 0;
          transform: none;
        }

        .funnel-percentage {
          left: 0;
        }

        .funnel-skew-left {
          display: none;
        }

        .funnel-skew-right {
          display: none;
        }

        .funnel-content {
          margin-top: 20px;
          min-width: 290px;
          width: 100%;
        }
      }

      .funnel-description {
        p {
          &:after {
            background-color: $color-blue;
            bottom: -1px;
            content: "";
            height: 1px;
            position: absolute;
            right: 50%;
            transform: rotate(90deg) translateX(50%);
            width: 21px;
          }
        }
      }

      .step-assets {
        >img {
          display: none;
        }
      }
    }

    &.wso-puzzle-blocks {
      .cards {
        .card-container {
          &.card-up {
            top: 0;
          }

          &.card-down {
            top: 0;
          }
        }
      }

      .intro-text {
        padding: 0 15px;
      }
    }

    &.head-steps {
      height: auto;

      .block-description {
        height: auto;
      }

      &.foot-steps {
        height: auto;
      }

      .blue-stripe {
        margin-bottom: 50px;
      }

      p {
        &.description {
          position: relative;
        }
      }
    }

    &.foot-steps {
      .block-jb-description {
        margin-top: 20px;
        margin-bottom: 20px;

        a {
          width: 100%;
        }
      }

      h3 {
        margin-top: 20px;
      }
    }
  }

  .main_menu-nav {
    .list-inline {
      margin: 0 auto;
      padding: 0;

      li {
        &.active {
          >span {
            color: $color-blue;
            display: inline-block;
            width: 100%;
          }
        }
      }

      >li {
        margin: 0;
      }
    }
  }

  header {
    &.main-page {
      >.container {
        padding: 0;
      }
      height: 100vh;

      section {
        &.cover-block {
          width: 100%;
        }
      }
    }

    &.header {
      padding: 0;
    }
  }

  .btn-cta {
    margin: 5% 10%;
    width: 80%;
  }

  .logo {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .navbar-default {
    .navbar-toggle {
      margin-top: 15px;
    }
  }

  a {
    &.btn-head {
      font-size: 14px;
      margin: 0 0 10px;
      max-width: 290px;
      width: 100%;
    }

    &.btn-foot {
      font-size: 14px;
      margin: 0 0 10px;
      max-width: 290px;
      width: 100%;
    }
  }

  .header-bg {
    height: 100vh;
  }

  .block-accordion {
    padding: 50px 0 0;

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 18px;
          margin-right: 45px;
        }
      }
    }

    .panel-title {
      a {
        &:after {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      a[aria-expanded="true"] {
        &:after {
          top: 50%;
          transform: rotate(180deg) translateY(50%);
        }
      }
    }
  }

  .bluespot1 {
    display: none;
  }

  .bluespot2 {
    display: none;
  }

  .employers-banner {
    height: 300px;
    margin: 20px 0;
    object-fit: cover;
    width: 100%;
  }

  .step-block {
    img {
      display: none;
      height: 0;
    }

    a {
      width: 100%;
    }
  }
}

@include media('>=tablet', '<large-desktop') {
  .main_menu-nav {
    .list-inline {
      >li {
        margin: 0 8px;
      }

      li {
        >span {
          font-size: 14px;
        }

        >a {
          font-size: 14px;
        }
      }
    }
  }

  .btn-cta {
    margin: 11px 0 0 8px;
    padding: 11px 20px;
  }

  section {
    &.container-fluid {
      &.looking-section {
        height: auto;

        .container {
          .looking-container {
            .looking-content {
              position: relative;
              top: 0;
              transform: none;
            }
          }
        }
      }
    }

    &.roles {
      .container {
        &.roles-container {
          .roles-block {
            position: relative;
            top: 0;
            transform: none;
          }
          height: 0;
          padding: 0;
        }
      }

      .logo-container {
        &:nth-child(3n+2) {
          margin: 1%;
        }
        width: 31%;
        margin: 1%;
      }
    }

    &.wso-cards {
      .cards {
        .card-container {
          margin: 10px auto;
          max-width: 100%;
        }
      }
    }

    &.steps-container {
      &.container-fluid {
        &.second-section {
          .second-step-block {
            .copy {
              p {
                width: auto;
              }
            }
          }
        }
      }

      h3 {
        width: auto;
      }

      &.funnel {
        .funnel-img-container {
          top: 0;
          transform: translateY(50px);
        }
      }

      .funnel-percentage {
        .funnel-content {
          padding: 9px 0;
        }
      }
    }

    &.wso-special-row {
      &.wso-puzzle-blocks {
        margin: 0;
      }

      .intro-text {
        h2 {
          width: 100%;
        }
      }
    }

    &.wso-puzzle-blocks {
      .cards {
        .card-container {
          &.card-up {
            top: 0;
          }

          &.card-down {
            top: 0;
          }
        }
      }

      .intro-text {
        padding: 0 15px;
      }
    }

    &.head-steps {
      height: auto;

      .block-description {
        height: auto;
      }

      &.foot-steps {
        height: auto;
      }

      .blue-stripe {
        margin-bottom: 50px;
      }

      p {
        &.description {
          position: relative;
        }
      }
    }

    &.foot-steps {
      .block-jb-description {
        margin-bottom: 20px;
        margin-top: 20px;
      }

      h3 {
        margin-top: 20px;
      }
    }
  }

  .block-accordion {
    .panel-title {
      a {
        &:after {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      a[aria-expanded="true"] {
        &:after {
          top: 50%;
          transform: rotate(180deg) translateY(50%);
        }
      }
    }

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 24px;
          margin-right: 45px;
        }
      }
    }
  }

  .bluespot1 {
    display: none;
  }

  .bluespot2 {
    display: none;
  }

  .step-block {
    img {
      width: 150px;
      height: 150px;

      &.timer {
        height: 150px;
        width: 150px;
      }
    }
  }
}

@include media('>=tablet', '<desktop') {
  section {
    &.wso-special-row {
      .cards {
        .card-container {
          margin: 10px 0;
          width: 100%;
        }
      }
    }

    &.container-fluid {
      &.looking-section {
        .img-container {
          img {
            display: none;
          }
        }
      }
    }

    &.steps-container {
      .step-assets {
        >img {
          display: none;
        }
      }

      &.funnel {
        .funnel-img-container {
          top: 0;
          transform: translateY(100px);
        }
      }

      &.container-fluid {
        &.second-section {
          .second-step-block {
            .step-assets {
              &:nth-child(even) {
                border: none;
              }

              &:nth-child(odd) {
                border: none;
              }
            }
          }
        }
      }
    }
  }

  .block-accordion {
    padding: 60px 30px 0;

    .panel-group {
      .panel-heading {
        a {
          display: inline-block;
          font-size: 24px;
          margin-right: 45px;
        }
      }
    }
  }
}

@include media('>=desktop', '<large-desktop') {
  section {
    &.container-fluid {
      &.looking-section {
        .img-container {
          &.free-image-container {
            img {
              left: 0;
              position: relative;
              top: 0;
              transform: translate(30%, 25%);
            }
          }

          &.h-278 {
            img {
              &.center-abs-tr-y {
                right: 30%;
              }
            }
          }
        }
      }
    }

    &.wso-special-row {
      .cards {
        .card-container {
          .card-block {
            top: 34%;
          }
        }
      }
    }
  }
}
