.node-template.full {
  .cover-container {
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -8px;
  }

  .field-name-field-cover {
    img {
      width: 100%;
      height: auto;
    }
  }

  .field-name-field-pricing-type {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: $color-blue;
    color: var(--color-neutral-1);
    padding: 5px 40px;
    font-weight: 700;
    font-size: 18px;
  }
}

@mixin template-library-content() {
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include media('>=tablet') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include media('>=desktop') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include media('>=large-desktop') {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@mixin template-library-filters() {
  .views-exposed-form {
    margin-bottom: 60px;

    .form-group {
      margin-bottom: 0;
    }

    .form--inline {
      display: flex;
      align-items: flex-end;
    }

    .form-item {
      margin-right: 15px;
    }

    label {
      display: block;
    }

    input[type="submit"] {
      @extend %btn, .btn-success;
      @extend %btn, .btn-sm;
      height: 38px;
      margin-top: 0;
      width: auto;
      margin-right: 10px;
      min-width: 75px;
    }
  }

  .view-footer {
    margin-top: 40px;
  }
}

@mixin template-library-card() {
  .card {
    flex: 1;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.15);
    height: 100%;

    &:hover {
      box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.05);
    }

    &-header {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      background: $color-blue;
      color: var(--color-neutral-1);
      padding: 5px 40px;
      font-weight: 700;
      font-size: 18px;

      &__container {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .field-name-field-paragraph-image {
      height: 180px;
    }

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 100%;
      object-fit: cover;
      width: 100%;
      font-family: 'object-fit: cover;';
    }

    &-title {
      margin-top: 0;
      font-size: 18px;
      letter-spacing: 0;
      font-weight: 600;
      color: var(--color-base);
      line-height: 1.2;
      display: block;

      @include media('>=tablet') {
        font-size: 22px;
      }

      h2 {
        margin-top: 20px;
      }
    }

    &-text {
      .field {
        font-size: 18px;
      }
    }

    &-body {
      padding: 1.75rem;
      color: var(--color-base);

      p:last-child {
        margin-bottom: 0;
      }

      .btn {
        margin-top: 30px
      }

      .field-name-body {
        padding: 0;
      }
    }

    .field-name-field-template-type {
      font-size: 14px;
      display: inline-block;
      font-weight: 700;
    }

    .field-name-field-industries {
      display: flex;
      flex-wrap: wrap;

      .field--item {
        margin: 0 10px 10px 0;
        background: #f2f2f2;
        color: #666;
        display: inline-block;
        padding: 0 5px;
        line-height: 19px;
        font-size: 12px;
      }
    }
  }
}

.view-template-library {
  @include template-library-card();

  &.view-display-id-block_1 {
    @include template-library-filters();

    .view-content > div {
      @include template-library-content();
    }
  }

  &.view-display-id-similar_templates {
    margin-bottom: 40px;

    .block-title {
      margin-bottom: 20px;
    }

    .view-content {
      display: grid;
      grid-gap: 1rem;
      gap: 1rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));

      @include media('>=tablet') {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include media('>=desktop') {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}

.view-my-template-library {
  @include template-library-card();

  &.view-display-id-uploaded_templates {
    @include template-library-filters();

    .view-content {
      @include template-library-content();
    }
  }
}

.ui-dialog {
  min-width: 320px;

  input[type="Submit"] {
    @extend %btn, .btn-success;
    margin-top: 20px;
  }

  .template__register__social {
    margin-top: 20px;

    .comments__register__social__button {
      width: 100%;
      color: white;
      white-space: nowrap;
    }
  }
}

.template-library-popup {
  .btn.btn-success {
    color: white;

    &:hover {
      background: white;
      color: $color-green-100;
    }
  }
}
