{% set auto_year = 'now'|date('Y') %}

{{ attach_library('porto_sub/footer-redesign.component') }}
<section class="footer-redesign">
  <div class="footer-redesign__container">
    <div class="footer-container footer-redesign__logo">
      <img loading="lazy"
           src="{{ drupal_theme_path }}images/wso-logo-2019.png"
           srcset="{{ drupal_theme_path }}images/wso-logo-2019.png 1x, {{ drupal_theme_path }}images/wso-logo-2019-2x.png 2x"
           alt="Home" class="img-responsive" width="158" height="67">
      <div class="font-lg color-dark-50">{{ 'All prices are in U.S. dollars.'|t }}</div>
    </div>
    <div class="footer-container footer-redesign__main font-lg color-dark-50">
      <p class="footer-redesign__copy">©2005-{{ auto_year }} {{ 'Wall Street Oasis. All Rights Reserved.'|t }}</p>
      <div class="footer-redesign__menu">
        <ul>
          <li><a href="/legal">{{ 'Terms of Service'|t }}</a></li>
          <li><a href="/privacy-policy-wall-street-oasis">{{ 'Privacy Policy'|t }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
