@charset "UTF-8";
.footer-redesign {
  padding: 40px 0
}
.footer-redesign .footer-redesign__container {
  width: 90%;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around
}
.footer-redesign .footer-redesign__logo {
  width: 25%
}
.footer-redesign .footer-redesign__main {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-end
}
.footer-redesign .__copy {
  margin-bottom: .5rem
}
.footer-redesign .footer-redesign__menu ul {
  display: flex;
  list-style-type: none
}
.footer-redesign .footer-redesign__menu ul li:not(:first-child) {
  margin-left: 5px
}
.footer-redesign .footer-redesign__menu ul li:not(:first-child) .footer-redesign:before {
  content: "•";
  height: 1rem;
  margin-right: 5px
}
.footer-redesign .footer-redesign__menu ul a {
  color: unset
}
@media (max-width: 767px) {
  .footer-redesign {
    padding-top: 30px
  }
  .footer-redesign .footer-redesign__container {
    flex-direction: column
  }
  .footer-redesign .footer-redesign__logo {
    width: 100%
  }
  .footer-redesign .footer-redesign__logo img {
    margin-bottom: 25px
  }
  .footer-redesign .footer-redesign__main {
    width: 100%;
    align-items: flex-start
  }
  .footer-redesign .footer-redesign__menu ul {
    padding-left: 0
  }
}
/*# sourceMappingURL=footer-redesign.component.css.map */
