@import './components/common-styles/helpers/mixins';

.footer-redesign {
  padding: 40px 0;

  .footer-redesign__container {
    width: 90%;
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .footer-redesign__logo {
    width: 25%;
  }

  .footer-redesign__main {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .__copy {
    margin-bottom: .5rem;
  }

  .footer-redesign__menu {
    ul {
      display: flex;
      list-style-type: none;

      li:not(:first-child) {
        margin-left: 5px;

        .footer-redesign:before {
          content: '•';
          height: 1rem;
          margin-right: 5px;
        }
      }

      a {
        color: unset;
      }
    }
  }
}

@include media('<tablet') {
  .footer-redesign {
    padding-top: 30px;

    .footer-redesign__container {
      flex-direction: column;
    }

    .footer-redesign__logo {
      width: 100%;

      img {
        margin-bottom: 25px;
      }
    }

    .footer-redesign__main {
      width: 100%;
      align-items: flex-start;
    }

    .footer-redesign__menu {
      ul {
        padding-left: 0;
      }
    }
  }
}
