<link rel="stylesheet" media="all" href="/themes/custom/porto_sub/components/03-organisms/block/hello-bar/hello-bar.component.css">
<style>
  .hello-bar {
    position: static !important;
    display: block !important;
  }
</style>

<div id="hello-bar-wrapper">
  <section id="block-hello-bar-{{ id }}"
           class="block__bundle__hello_bar block block-block-content clearfix hello-bar" {{ style_background_color }}>
    {% block content %}
      <div class="hello-bar__container">
        <div class="container">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="hello-bar__content d-md-flex justify-content-between align-items-center">
              <div class="hello-bar__text d-flex mb-2 mb-md-0" {{ style_text_color }}>
                {{ body }}
              </div>

              {% if bottom_link %}
                <a href="{{ bottom_link }}" class="hello-bar__button d-flex animated wobble" {{ button_styles }}>
                  {{ button_icon }}<span>{{ bottom_link_title }}</span>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {{ content|without('field_block_image', 'body', 'field_footer_buttons', 'field_title') }}
    {% endblock %}
  </section>
</div>

<div style="margin-top:30px;">
  <a id="hello-bar-copy-code" href="#" class="btn btn-info">Copy code</a>
</div>

<script>
  (function ($) {
    var $btn = $('#hello-bar-copy-code'),
      $helloBar = $('#hello-bar-wrapper');

    function getRemote(remote_url) {
      return $.ajax({
        type: "GET",
        url: remote_url,
        async: false
      }).responseText;
    }

    var jsCode = '<script>' + getRemote("/modules/custom/hello_bar/js/hello-bar.js") + '</' + 'script>';
    var cssCode = '<style>' + getRemote("/themes/custom/porto_sub/components/03-organisms/block/hello-bar/hello-bar.component.css") + '</style>';

    $btn.click(function () {
      var $temp = $("<input>");
      $('#drupal-modal').append($temp);
      $helloBar.find('.hello-bar').removeClass('show animated bounceInUp');
      $temp.val($helloBar.html() + jsCode + cssCode).select();
      document.execCommand("copy");
      $temp.remove();
      alert('Code copied to clipboard');
    });

  })(jQuery);
</script>
