@font-face {
  font-family: 'fa-custom';
  src: url('../font/fa-custom.eot?77028153');
  src: url('../font/fa-custom.eot?77028153#iefix') format('embedded-opentype'),
       url('../font/fa-custom.woff2?77028153') format('woff2'),
       url('../font/fa-custom.woff?77028153') format('woff'),
       url('../font/fa-custom.ttf?77028153') format('truetype'),
       url('../font/fa-custom.svg?77028153#fa-custom') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fa-custom';
    src: url('../font/fa-custom.svg?77028153#fa-custom') format('svg');
  }
}
*/
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 'fa-custom';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
.icon-fw {
  width: 1.28571429em;
  text-align: center;
}
.icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.icon-ul > li {
  position: relative;
}
.icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.icon-li.icon-lg {
  left: -1.85714286em;
}
.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em var(--color-neutral-3);
  border-radius: .1em;
}
.icon-pull-left {
  float: left;
}
.icon-pull-right {
  float: right;
}
.icon.icon-pull-left {
  margin-right: .3em;
}
.icon.icon-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.icon.pull-left {
  margin-right: .3em;
}
.icon.pull-right {
  margin-left: .3em;
}
.icon-spin {
  animation: icon-spin 2s infinite linear;
}
.icon-pulse {
  animation: icon-spin 1s infinite steps(8);
}
@-webkit-keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.icon-rotate-90 {
  transform: rotate(90deg);
}
.icon-rotate-180 {
  transform: rotate(180deg);
}
.icon-rotate-270 {
  transform: rotate(270deg);
}
.icon-flip-horizontal {
  transform: scale(-1, 1);
}
.icon-flip-vertical {
  transform: scale(1, -1);
}

.icon-clock:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-layout:before { content: '\e803'; } /* '' */
.icon-gift:before { content: '\e804'; } /* '' */
.icon-ok-1:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-minus:before { content: '\e80a'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-power-off:before { content: '\e80d'; } /* '' */
.icon-trash-o:before { content: '\e80e'; } /* '' */
.icon-time:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-bookmark:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-exclamation-triangle:before { content: '\e813'; } /* '' */
.icon-right-dir:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-left-dir:before { content: '\e816'; } /* '' */
.icon-bolt:before { content: '\e817'; } /* '' */
.icon-book:before { content: '\e818'; } /* '' */
.icon-question-circle:before { content: '\e819'; } /* '' */
.icon-chevron-up:before { content: '\e81a'; } /* '' */
.icon-italic:before { content: '\e81b'; } /* '' */
.icon-bold:before { content: '\e81c'; } /* '' */
.icon-link:before { content: '\e81d'; } /* '' */
.icon-photo:before { content: '\e81e'; } /* '' */
.icon-upload:before { content: '\e81f'; } /* '' */
.icon-briefcase:before { content: '\e820'; } /* '' */
.icon-videocam:before { content: '\e821'; } /* '' */
.icon-eye:before { content: '\e822'; } /* '' */
.icon-heart-empty:before { content: '\e823'; } /* '' */
.icon-chart-bar:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e825'; } /* '' */
.icon-location:before { content: '\e826'; } /* '' */
.icon-lightbulb:before { content: '\e827'; } /* '' */
.icon-ok-circled2:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e829'; } /* '' */
.icon-pencil-1:before { content: '\e82a'; } /* '' */
.icon-lock:before { content: '\e82b'; } /* '' */
.icon-bell-o:before { content: '\e82c'; } /* '' */
.icon-comments:before { content: '\e82d'; } /* '' */
.icon-trophy:before { content: '\e82e'; } /* '' */
.icon-home-1:before { content: '\e82f'; } /* '' */
.icon-cog:before { content: '\e830'; } /* '' */
.icon-print:before { content: '\e831'; } /* '' */
.icon-ok-squared-1:before { content: '\e832'; } /* '' */
.icon-download:before { content: '\e833'; } /* '' */
.icon-arrows-cw:before { content: '\e834'; } /* '' */
.icon-comment:before { content: '\e835'; } /* '' */
.icon-pin:before { content: '\e836'; } /* '' */
.icon-dollar:before { content: '\e837'; } /* '' */
.icon-info-circled:before { content: '\e838'; } /* '' */
.icon-home-2:before { content: '\e839'; } /* '' */
.icon-gauge:before { content: '\e83a'; } /* '' */
.icon-bananas:before { content: '\e84d'; } /* '' */
.icon-poo:before { content: '\e84e'; } /* '' */
.icon-question-bubble:before { content: '\e860'; } /* '' */
.icon-clock-solid:before { content: '\e861'; } /* '' */
.icon-radiowaves-icon:before { content: '\e864'; } /* '' */
.icon-question-bubble-1:before { content: '\e865'; } /* '' */
.icon-clock-solid-1:before { content: '\e866'; } /* '' */
.icon-round-quote:before { content: '\e86c'; } /* '' */
.icon-round-chat:before { content: '\e86d'; } /* '' */
.icon-file-circle-check-solid:before { content: '\e86e'; } /* '' */
.icon-map-solid:before { content: '\e86f'; } /* '' */
.icon-people-group-solid:before { content: '\e870'; } /* '' */
.icon-book-open-reader-solid:before { content: '\e871'; } /* '' */
.icon-screwdriver-wrench-solid:before { content: '\e872'; } /* '' */
.icon-file-excel-solid:before { content: '\e878'; } /* '' */
.icon-table-solid:before { content: '\e879'; } /* '' */
.icon-monkey:before { content: '\e87a'; } /* '' */
.icon-copy-solid:before { content: '\e87b'; } /* '' */
.icon-tag:before { content: '\f02b'; } /* '' */
.icon-chevron-down:before { content: '\f078'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-bars:before { content: '\f0c9'; } /* '' */
.icon-list-ul:before { content: '\f0ca'; } /* '' */
.icon-list-ol:before { content: '\f0cb'; } /* '' */
.icon-google-plus:before { content: '\f0d5'; } /* '' */
.icon-envelope:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-building-1:before { content: '\f0f7'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-smile-o:before { content: '\f118'; } /* '' */
.icon-question:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-exclamation:before { content: '\f12a'; } /* '' */
.icon-ellipsis-v:before { content: '\f142'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-usd:before { content: '\f155'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-building:before { content: '\f1ad'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-share-alt:before { content: '\f1e0'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */
.icon-facebook-square:before { content: '\f308'; } /* '' */
.icon-graduation-cap:before { content: '\f800'; } /* '' */
.icon-group:before { content: '\f839'; } /* '' */
.icon-round-dollar:before { content: '\f869'; } /* '' */
