@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

// Grid
.premium-video__head__part,
.premium-video__content__section {
  @include wso-container();
}

.breadcrumb {
  display: none;
}

.premium-video__head__section {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 1px 0 0;
  background: var(--color-neutral-0);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .02);
}

.premium-video__head__title {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--color-base);
  margin-top: 20px;

  div {
    display: inline-block;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.premium-video__head__company-name {
  color: var(--color-neutral-7);
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 1.25;
}

.premium-video__head__content {
  display: flex;
  flex-direction: row;

  >.premium-video__head__content_mark {
    align-items: center;
    display: flex;
  }

  >div {
    &.field-content {
      align-items: center;
      display: flex;
    }
    display: flex;
    align-items: center;
  }

  span {
    padding-right: 5px;
  }
}

.premium-video__head__content_mark {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.29;
}

.premium-video__head__content_sessions {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: .1px;
  color: var(--color-base);
  position: relative;
  @include responsive-prop(700, 800, font-weight);
  margin-left: 17px;

  &:before {
    border-left: 1px solid var(--color-neutral-4);
    content: '';
    height: 12px;
    left: -10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }
}

.premium-video__description__part {
  margin-top: 40px;
  text-align: justify;

  .field-name-body {
    .field-item {
      padding: 0;
    }
  }

  p {
    color: var(--color-base);
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: .1px;
    line-height: 1.8;
  }

  .premium-video__description__title {
    color: var(--color-base);
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.13;
  }
}

.video--iframe {
  +.premium-video__description__part {
    margin-top: 0;
  }
}

.node-media {
  margin-bottom: 30px;

  .links {
    &.inline {
      display: none;
    }
  }

  .video {
    .custom-iframe {
      position: relative;
      line-height: 0;

      iframe {
        height: auto;
        position: relative;
        width: 100%;
        z-index: 1;
      }

      &:before {
        background: var(--color-neutral-2) url("/themes/custom/porto_sub/images/preloading-content-grey.gif") no-repeat center center;
        background-size: contain;
        border: 0;
        bottom: 0;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }

    .file-video-oembed {
      .embed-responsive {
        &:before {
          background: var(--color-neutral-2) url("/themes/custom/porto_sub/images/preloading-content-grey.gif") no-repeat center center;
          background-size: contain;
          border: 0;
          bottom: 0;
          content: '';
          display: block;
          height: 50%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 0;
        }
      }
    }
  }
}

.node-type-media {
  &.loaded {
    .video {
      .file-video-oembed {
        .embed-responsive {
          &:before {
            display: none;
          }
        }
      }

      .custom-iframe {
        &:before {
          display: none;
        }
      }
    }
  }
}

.premium-video__content-part__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.13;
}

.premium-video__industry__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 14px;
}

.premium-video__industry__part {
  .field--item {
    display: inline-block;
    position: relative;
    padding: 5px 12px 5px 32px;
    background: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-4);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .1px;
    color: var(--color-base);
    margin-right: $side-gap;
    margin-bottom: 10px;

    &:before {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_label-blue.png);
      background-size: cover;
      content: "";
      height: 12px;
      left: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
    }

    &:hover {
      background: var(--color-neutral-1);
      border-color: var(--color-neutral-4);
      color: var(--color-base);
      text-decoration: none;
    }
  }
}

.podcast-subscribe {
  span {
    display: inline-block;
    margin-right: 5px;
  }
}

@include media('<tablet') {
  .premium-video__head__title {
    font-size: 26px;
    margin: 16px 0;
  }

  .premium-video__head__section {
    padding: 27px 0;
  }

  .premium-video__content__section {
    margin-top: 15px;
  }

  .premium-video__head__company-name {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .premium-video__head__content {
    >.premium-video__head__content_mark {
      align-items: center;
      display: flex;
    }
  }

  .premium-video__content {
    padding: 32px 0 24px 0;
  }

  .premium-video__description__part {
    margin-bottom: 24px;
  }
}

@include media('>=tablet', '<desktop') {
  .premium-video__head__part {
    margin: 40px auto;
  }

  .premium-video__head__company-name {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .premium-video__content__section {
    margin-top: 30px;
  }

  .premium-video__description__part {
    margin: 30px 0;

    p {
      margin: 0;
    }
  }
}

@include media('>=desktop') {
  .node-media {
    .video {
      .custom-iframe {
        iframe {
          min-height: 200px;
        }

        &:before {
          background-size: auto;
          height: 100%;
        }
      }

      .file-video-oembed {
        .embed-responsive {
          &:before {
            background-size: auto;
            height: 100%;
          }
        }
      }
    }
  }
}

@include media('>=desktop', '<large-desktop') {
  .premium-video__head__part {
    margin: 40px auto;
  }

  .premium-video__head__company-name {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .premium-video__content__section {
    margin-top: 30px;
  }

  .premium-video__description__part {
    margin: 30px 0;

    p {
      margin: 0;
    }
  }
}

@include media('>=large-desktop') {
  .premium-video__head__part {
    margin: 0 auto;
    max-width: 960px;
  }

  .premium-video__content__section {
    margin: 50px auto 0;
    max-width: 960px;
  }

  .premium-video__head__title {
    font-size: 40px;
    margin: 36px 0 8px;
  }

  .premium-video__head__section {
    padding: 27px 0 52px;
  }

  .premium-video__head__company-name {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .premium-video__content {
    padding: 32px 40px 24px 0;
  }

  .premium-video__description__part {
    margin-bottom: 48px;
  }
}
