.content-block__part {
  border-top: 1px solid var(--color-neutral-4);
  margin-top: 24px;
  padding-top: 24px
}
.content-block__section {
  background: var(--color-neutral-0);
  border-radius: 3px;
  margin: 0 0 16px
}
.content-block__header {
  align-items: center;
  border-bottom: 2px solid var(--color-neutral-2);
  display: flex;
  height: 60px;
  justify-content: space-between;
  line-height: 60px;
  padding: 0 24px;
  position: relative
}
.content-block__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1;
  margin: 0
}
.content-block__main-part {
  padding: 10px 24px
}
.content-block__list {
  margin: 0
}
ul.list li.content-block__list-item {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-neutral-2);
  margin: 0
}
ul.list li.content-block__list-item:last-child {
  border: none
}
.content-block__list-item {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-neutral-2);
  margin: 0
}
.content-block__list-item:last-child {
  border: none
}
.content-block__rank {
  color: #0cb930;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1
}
.content-block__text-wrapper {
  margin-right: 4px
}
.content-block__text-wrapper a {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 24px
}
.content-block__industry {
  color: #087dfd;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .4px;
  line-height: 1
}
.content-block__author-info {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: .1px;
  font-weight: normal;
  color: var(--color-neutral-7)
}
.content-block__author-info a {
  color: var(--color-neutral-7);
  font-weight: normal
}
.content-block__author {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: .1px;
  font-weight: normal;
  color: var(--color-neutral-7)
}
.content-block__author:active,
.content-block__author:focus,
.content-block__author:hover {
  box-shadow: none;
  color: inherit;
  outline: 0
}
.content-block__text {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 24px
}
.content-block__wrapper:not(.content-block__text-wrapper) {
  display: inline-block
}
.content-block__rank-wrapper {
  float: left;
  margin-right: 8px
}
.content-block__author-wrapper {
  margin-right: 2px
}
.content-block__industry-wrapper {
  font-size: 12px;
  color: var(--color-neutral-7)
}
.content-block__industry-wrapper a {
  color: #087dfd
}
@media (min-width: 992px) {
  .content-block__title {
    font-weight: 800
  }
}
@media (min-width: 1200px) {
  .content-block__text,
  .content-block__text-wrapper a {
    display: inline-block;
    max-width: 510px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap
  }
  .content-block__list-item,
  ul.list li.content-block__list-item {
    align-items: flex-end;
    border-bottom: 1px solid var(--color-neutral-2);
    display: flex;
    height: 36px;
    margin: 0;
    padding: 0 0 5px
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-block__text,
  .content-block__text-wrapper a {
    display: inline-block;
    max-width: 440px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap
  }
  .content-block__list-item,
  ul.list li.content-block__list-item {
    align-items: flex-end;
    border-bottom: 1px solid var(--color-neutral-2);
    display: flex;
    height: 36px;
    margin: 0;
    padding: 0 0 5px
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .content-block__text,
  .content-block__text-wrapper a {
    display: inline-block;
    max-width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap
  }
  .content-block__list-item,
  ul.list li.content-block__list-item {
    align-items: flex-end;
    border-bottom: 1px solid var(--color-neutral-2);
    display: flex;
    height: 36px;
    margin: 0;
    padding: 0 0 5px
  }
}
/*# sourceMappingURL=content-blocks.component.css.map */
