//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.view-wso-media {
  .lazyloader-icon {
    height: 11px !important;
    object-fit: none !important;
    transform: none !important;
    width: 16px !important;
  }

  .view-header {
    display: none;
  }

  .view-content {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #0000000c;
    margin-bottom: 60px;
    padding: 20px;
  }

  .view-content-rows {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;
  }

  .views-row {
    margin-bottom: 40px !important;
    width: 100%;
  }

  .media__item {
    padding: 10px;
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    .media__cover {
      padding: 20px;
      border: solid 1px var(--color-neutral-4);

      @include media('>=tablet') {
        //height: 205px;
      }

      article,
      .field--type-image {
        width: 100%;
        height: 100%;

        &.blazy {
          .media {
            position: static;
          }
        }
      }

      &.media__cover--with-image {
        padding: 0;
      }
    }

    &.media__item-youtube {
      .media__cover--with-background {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .media__cover-icon {
          text-align: right;

          svg {
            display: inline-block;
            fill: var(--color-neutral-0);
            height: 18px;
            width: 24px;
          }
        }

        .media__cover-title {
          @include responsive-prop(700, 800, font-weight);
          color: var(--color-neutral-0);
          font-size: 17px;
          letter-spacing: .4px;
          max-height: 155px;
          overflow: hidden;
        }
      }

      &:hover {
        .media__cover--with-background {
          .media__cover-icon {
            svg {
              fill: $color-red;
            }
          }
        }

        .media__cover {
          &.media__cover--with-image {
            .media__cover-icon {
              svg {
                fill: $color-red;
              }
            }
          }
        }
      }

      .media__cover {
        &.media__cover--with-image {
          position: relative;

          .field-content {
            height: 100%;
            overflow: hidden;

            .oembed-youtube {
              height: 100%;
              overflow: hidden;
            }
          }

          .file-video-oembed {
            .content {
              height: 100%;
              overflow: hidden;
              position: relative;
              display: block;
              width: 100%;
              padding: 0;

              &:before {
                content: "";
                display: block;
                padding-top: 100%;
              }

              &:after {
                background: black;
                content: '';
                height: 100%;
                left: 0;
                opacity: .2;
                position: absolute;
                top: 0;
                width: 100%;
              }
            }
          }

          img {
            //border: 0;
            //height: 100%;
            //object-fit: cover;
            //position: absolute;
            //top: 0;
            width: 100%;
            height: auto;
          }

          .media__cover-icon {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 68px;
            height: 48px;

            svg {
              display: inline-block;
              fill: var(--color-neutral-0);
            }
          }
        }
      }
    }

    &.media__item-podcast {
      .media__cover {
        background: $darkslategray_093f5a;

        &.media__cover--with-image {
          .field-content {
            height: 100%;
            position: relative;
          }

          img {
            //height: auto;
            //max-height: 100%;
            //max-width: 100%;
            //object-fit: contain;
            //position: relative;
            //top: 50%;
            //transform: translateY(-50%);
            width: 100%;
            height: auto;
          }
        }
      }

      &.media__item-podcast--wsopodcast {
        .media__cover {
          background: var(--color-neutral-0);
          text-align: right;

          .media__cover-title {
            @include responsive-prop(700, 800, 'font-weight');
            font-family: 'Montserrat', sans-serif;
            text-align: left;
            text-transform: uppercase;
          }

          .media__cover-title-1 {
            color:  var(--color-light-blue);
            font-size: 24px;
            letter-spacing: .2px;
          }

          .media__cover-title-2 {
            -webkit-text-stroke: 2px $color-blue;
            color: var(--color-neutral-0);
            font-size: 48px;
            letter-spacing: .8px;
            line-height: 1.17;
            text-stroke: 2px $color-blue;
          }

          &:before {
            background: url("/themes/custom/porto_sub/images/wso-media/wso-podcast.png") no-repeat center center;
            background-size: contain;
            content: '';
            display: inline-block;
            height: 72px;
            width: 72px;
          }

          &.media__cover--with-image {
            &:before {
              display: none;
            }
          }
        }
      }

      &.media__item-podcast--movinguppodcast {
        .media__cover {
          &:before {
            background: url("/themes/custom/porto_sub/images/wso-media/wso-podcast-moving-up.png") no-repeat center center;
            background-size: contain;
            content: '';
            display: block;
            height: 100%;
            width: 100%;
          }

          &.media__cover--with-image {
            &:before {
              display: none;
            }
          }
        }
      }
    }

    .media__date {
      @include responsive-prop(700, 800, 'font-weight');
      color: var(--color-neutral-7);
      font-size: 12px;
      letter-spacing: .3px;
      line-height: 1.33;
      margin-top: 10px;
      text-decoration: underline;
    }

    .media__title {
      @include responsive-prop(700, 800, 'font-weight');
      color: var(--color-base);
      font-size: 13px;
      letter-spacing: .2px;
      line-height: 1.38;
      margin-top: 10px;
    }

    .media__duration {
      color: var(--color-neutral-7);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: .3px;
      line-height: 1.33;
      margin-top: 10px;
    }
  }

  .views-exposed-form {
    margin: 0 -10px;

    label {
      display: none;
    }

    .form--inline {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }

    .form-item-title {
      position: relative;
      margin: 5px 0;

      @include media('>=tablet') {
        order: 4;
      }

      input[type="text"] {
        border: 1px solid var(--color-neutral-4);
        padding-right: 30px;
        background-color: var(--color-neutral-0);
        border-radius: 3px;
        box-shadow: none;
        color: var(--color-base);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 400;
        height: 32px;
        letter-spacing: .2px;
        line-height: 32px;
        margin: 0;
        width: 100%;
      }

      &:after {
        color: $color-green-100;
        content: "\e829";
        font-family: "fa-custom";
        font-size: 14px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
        z-index: 12;
      }
    }

    .form-item {
      padding: 0 10px;
      width: 100%;

      @include media('>=tablet') {
        width: 25%;
      }

      &.form-item-industry-detail {
        @include media('<tablet') {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }

    .form-actions {
      width: 100%;
      padding: 0 10px;
      display: flex;
      margin-top: 5px;

      @include media('>=tablet') {
        width: 25%;
        margin-top: 0;
      }

      .form-submit {
        @extend %btn, .btn-success;
        @extend %btn, .btn-sm;
        height: 32px;
        margin-top: 0;
        width: auto;
        margin-right: 10px;

        @include media('>=tablet') {
          display: inline-block;
        }
      }
    }

    select {
      display: none;
    }

    .select2 {
      margin-top: 0;
      font-size: 14px;
      color: var(--color-base);

      .select2-selection__placeholder {
        color: var(--color-base);
      }

      .select2-selection {
        min-height: 32px !important;

        &.select2-selection--multiple {
          box-shadow: none;
          border: 1px dashed var(--color-neutral-4);
          cursor: pointer;
          font-size: 14px;

          &:before {
            content: 'Add industry';
            padding-top: 5px;
            position: absolute;
          }

          &:after {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRFM6DgdL7oVLDk+/v7dM7BLgAAACZJREFUeNpiYGZmZmQEEgxAzMSEwmBkYmJgYGJiRDAw1cC0AwQYABUYAJWfEojsAAAAAElFTkSuQmCC);
            border: 0;
            content: "";
            height: 8px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;

            .darkmode & {
              filter: invert(1);
            }
          }

          .select2-selection__rendered {
            display: none;
          }
        }
      }

      &.select2-container--open {
        .select2-selection.select2-selection--multiple {
          &:after {
            border-bottom: 6px solid $color-green-100;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 0;
            content: "";
            height: 0;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
          }
        }
      }
    }
  }
}

.view-wso-media--inner-page.view-wso-media {
  .views-exposed-form .form-actions {
    @include media('>=tablet') {
      width: auto;
    }
  }
}

.select2-container {
  font-size: 14px;

  &.select2-multiple {
    @include select2--with-checkboxes();
  }
}

.wso-media__header {
  background: url(/themes/custom/porto_sub/images/headers/wso-media.jpg?v=2) no-repeat center center;
  background-size: cover;
}

.wso-media__subscribe-header {
  @include responsive-prop(700, 800, 'font-weight');
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: .4px;
  color: $color-neutral-0;
  background-color: $color-neutral-8;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;

  .icon {
    color: $color-green-3;
    margin-right: 5px;
  }
}

.wso-media__subscribe-buttons {
  color: $color-neutral-0;
  background-color: $color-neutral-8;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: .2px;

  i {
    height: 20px;
    display: inline-block;
    vertical-align: middle;

    &.icon-soundcloud {
      height: 15px;
    }

    svg {
      fill: $color-neutral-0;
      height: 100%;
      width: 100%;
      vertical-align: top;
    }
  }

  ul {
    list-style: none;
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;

    @include media('>=desktop') {
      justify-content: center;
    }

    li {
      display: inline-flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding-right: 15px;
      margin-right: 15px;
      border-right: var(--color-neutral-8) 1px solid;
      min-height: 36px;

      &:last-child {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
      }

      i {
        margin-left: 10px;
      }
    }
  }
}

.wso-media_featured {
  margin-top: 36px;
  margin-bottom: 40px;

  h2 {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 20px;
    letter-spacing: .2px;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    .col-lg-8 {
      float: none;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .well {
    border: 0;
    box-shadow: 0 1px 2px 0 #0000000c !important;
    margin: 0;
    height: 100%;
    padding: 20px 20px;

    h4 {
      @include responsive-prop(700, 800, 'font-weight');
      color: var(--color-base);
      font-size: 18px;
      letter-spacing: .2px;
      line-height: 1.11;
    }

    p {
      color: var(--color-base);
      font-size: 13px;
      letter-spacing: .12px;
      line-height: 1.54;
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: .2px;
    color: $color-blue;
    padding: 0;
    margin: 17px 0 0;
    display: flex;

    li {
      margin-right: 8px;
      padding-right: 8px;
      border-right: var(--color-neutral-4) 1px solid;
      line-height: 13px;

      &:last-child {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

.wso-media_featured-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .yblink {
    height: 24px;
    max-width: 90px;
  }

  img {
    background-color: var(--color-neutral-0);
    border: solid 1px var(--color-neutral-3);
    border-radius: 6px;
    height: 48px;
    width: 48px;
  }
}

.wso-media_featured-movingup {
  .wso-media_featured-header {
    img {
      background-color: $darkslategray_093f5a;
    }
  }
}

.wso-media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px 20px;

  h1 {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-neutral-0);
    font-size: 32px;
    letter-spacing: .2px;
    line-height: 1.13;
    text-align: center;
  }

  h2 {
    color: var(--color-neutral-0);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.56;
    margin-bottom: 10px;
    max-width: 550px;
    text-align: center;
  }
}

/* Detect IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .view-wso-media .media__item.media__item-podcast.media__item-podcast--wsopodcast .media__cover .media__cover-title-2 {
    /* IE do not support text stoke */
    color: $color-blue;
  }
}

/*
.select2-multiple {
  li {
    &.result-selected {
      position: relative;

      .fake-choice-close {
        display: block;
        height: 32px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
*/

.wso-media__selected-industry {
  border-bottom: var(--color-neutral-2) 1px solid;
  padding: 0 10px;
  margin-bottom: 10px;

  &:empty {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @include responsive-prop(700, 800, 'font-weight');
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      line-height: 28px;
      border-radius: 3px;
      background-color:  var(--color-light-blue);
      white-space: nowrap;
      font-size: 12px;
      letter-spacing: .3px;
      color: $color-blue;
      text-transform: uppercase;
      padding: 0 20px 0 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      flex-direction: row-reverse;

      &.search-field {
        display: none;
      }

      .select2-selection__choice__remove {
        text-indent: -9999px;
        cursor: pointer;
        display: inline-block;
        width: 10px;
        height: 10px;
        position: relative;
        transform: rotate(45deg);
        margin-left: 5px;

        &:before {
          background: $color-blue;
          content: '';
          display: block;
          height: 1px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }

        &:after {
          background: $color-blue;
          content: '';
          display: block;
          height: 100%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 1px;
        }
      }
    }
  }
}

@include media('>=tablet') {
  .wso-media-content {
    min-height: 220px;

    h1 {
      font-size: 48px;
    }
  }

  .view-wso-media {
    .form-item {

    }

    .views-row {
      margin-bottom: 0;
      width: 50%;
    }
  }
}

@include media('<desktop') {
  .wso-media_featured {
    .row {
      .col-lg-8 {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }
}

@include media('>=desktop') {
  .view-wso-media {
    .views-row {
      width: 33.3333%;
    }
  }
}

@media (min-width: 960px) {
  .page-wso-media {
    .main {
      .container {
        max-width: 960px;
      }
    }
  }
}

@include media('>=large-desktop') {
  .view-wso-media {
    .views-row {
      //width: 25%;
    }
  }
}
