.signup-popup-content {
  font-size: 1em;
  padding: 0 1em;
  color: var(--color-base);

  @include media('>=desktop') {
    padding: 0 2em;
    font-size: 1.2em;
  }

  .row {
    @include media('>=desktop') {
      margin-top: 40px;
      display: flex;
    }

    img {
      display: none;
      max-height: 260px;
      margin: 0 auto;

      @include media('>=desktop') {
        display: block;
      }
    }
  }

  .col-lg-14 {
    @include media('>=desktop') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  form {
    > div {
      margin-bottom: 15px;

      @include media('>=desktop') {
        display: flex;
      }
    }

    .form-item {
      margin-bottom: 10px;

      @include media('>=desktop') {
        margin-bottom: 0;
        width: 70%;
      }

      .form-text {
        border-radius: 3px;
        height: 41px;
        margin: 0;

        @include media('>=desktop') {
          height: 56px;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }

    .form-email {
      height: 41px;

      @media (min-width: 992px) {
        height: 56px;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: 0;
      }
    }

    .button {
      display: block;
      width: 100%;
      text-transform: uppercase;
      background: $color-green-100;
      border-color: $color-green-100;
      color: var(--color-neutral-0);
      border-radius: 3px;
      height: 41px;
      font-size: 14px;

      @media (min-width: 992px) {
        width: 30%;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        height: 56px;
      }
    }
  }

  .comments__register__social__title {
    text-align: left;
  }

  .comments__register__social {
    padding-top: 0;
  }

  .comments__register__social__buttons {
    @include media('>=tablet') {
      margin: 0;
    }

    @include media('>=desktop') {
      display: flex;
      justify-content: space-between;
    }
  }

  .comments__register__social__button {
    width: 100%;

    @include media('>=desktop') {
      width: 30%;
    }
  }

  .tip-text {
    margin-bottom: 20px;
    font-style: italic;
    line-height: 1.2;
    text-align: center;

    &--desktop {
      display: none;
      text-align: left;
    }

    @include media('>=desktop') {
      font-size: 16px;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }
  }
}
