.comments__register__social__title {
  color: var(--color-neutral-7);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: normal;
  margin-bottom: 18px;
  text-align: center;
}

.comments__register__social__button {
  @include responsive-prop(700, 800, 'font-weight');
  position: relative;
  width: 195px;
  border-radius: 3px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .1px;
  color: var(--color-neutral-0);
  padding: 0 15px 0 45px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;

  .icon {
    font-size: 1.7em;
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    box-shadow: none;
    color: var(--color-neutral-0);
    opacity: .85;
    outline: none;
    text-decoration: none;
  }

  &:focus {
    box-shadow: none;
    color: var(--color-neutral-0);
    opacity: .85;
    outline: none;
    text-decoration: none;
  }
}

.social__button__facebook {
  background-color: $steelblue_3a5a98;
}

.social__button__google {
  background-color: $color-red;
}

.social__button__linkedin {
  background-color: $steelblue_007bb6;
}

@media (max-width: 767px) {
  .comments__register__social__button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .comments__register__social__title {
    span {
      display: block;
      color: var(--color-base);
      margin: 10px auto;

      strong {
        color: var(--color-base);
      }
    }
  }

  .comments__register__social__buttons {
    margin: 0 -15px;

    .btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
