#userLeaveModal .modal-dialog {
  @include media('>=desktop'){
    max-width: 900px;
  }

  .modal-content {
    background: var(--color-page-bg);
  }

  .modal-header {
    border: none;
    padding-bottom: 0;
  }

  .modal-body {
    padding-top: 0;
  }

  .tagline {
    font-size: 1em;
    color: $color-red;
    padding: 1em 0 1em;
    font-style: italic;
    flex: 1;
  }

  .field-name-field-block-subtitle {
    display: inline;
  }

  .modal-media {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 1em;
    margin-bottom: 20px;

    @include media('>=desktop') {
      padding: 0 2em;
    }

    .modal-media-left {
      margin-right: 15px;

      img {
        max-height: 100px;
      }

      @include media('>=desktop') {
        display: none;
      }
    }

    .modal-media-heading {
      font-size: 1.6em;
      line-height: 1.3;
      font-weight: 700;
      color: var(--color-base);

      @include media('>=desktop') {
        text-align: center;
        padding: 0 1em 0;
        font-size: 2.6em;
      }
    }
  }
}
