:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1
}
.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both
}
.animated.infinite {
  animation-iteration-count: infinite
}
.animated.repeat-1 {
  animation-iteration-count: var(--animate-repeat)
}
.animated.repeat-2 {
  animation-iteration-count: calc(var(--animate-repeat) * 2)
}
.animated.repeat-3 {
  animation-iteration-count: calc(var(--animate-repeat) * 3)
}
.animated.delay-1s {
  animation-delay: var(--animate-delay)
}
.animated.delay-2s {
  animation-delay: calc(var(--animate-delay) * 2)
}
.animated.delay-3s {
  animation-delay: calc(var(--animate-delay) * 3)
}
.animated.delay-4s {
  animation-delay: calc(var(--animate-delay) * 4)
}
.animated.delay-5s {
  animation-delay: calc(var(--animate-delay) * 5)
}
.animated.faster {
  animation-duration: calc(var(--animate-duration) / 2)
}
.animated.fast {
  animation-duration: calc(var(--animate-duration) * .8)
}
.animated.slow {
  animation-duration: calc(var(--animate-duration) * 2)
}
.animated.slower {
  animation-duration: calc(var(--animate-duration) * 3)
}
@keyframes bounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1)
  }
  40% {
    transform: scale3d(.9, .9, .9)
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03)
  }
  80% {
    transform: scale3d(.97, .97, .97)
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1)
  }
}
@keyframes bounceInCenter {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(.3, .3, .3)
  }
  20% {
    transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1)
  }
  40% {
    transform: translate(-50%, -50%) scale3d(.9, .9, .9)
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1.03, 1.03, 1.03)
  }
  80% {
    transform: translate(-50%, -50%) scale3d(.97, .97, .97)
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1, 1, 1)
  }
}
.bounceInCenter {
  animation-duration: calc(var(--animate-duration) * .75);
  animation-name: bounceInCenter
}
.comments__register__social__title {
  color: var(--color-neutral-7);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: normal;
  margin-bottom: 18px;
  text-align: center
}
.comments__register__social__button {
  font-weight: 700;
  position: relative;
  width: 195px;
  border-radius: 3px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .1px;
  color: var(--color-neutral-0);
  padding: 0 15px 0 45px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px
}
.comments__register__social__button .icon {
  font-size: 1.7em;
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.comments__register__social__button:focus,
.comments__register__social__button:hover {
  box-shadow: none;
  color: var(--color-neutral-0);
  opacity: .85;
  outline: 0;
  text-decoration: none
}
.social__button__facebook {
  background-color: #3a5a98
}
.social__button__google {
  background-color: #f04944
}
.social__button__linkedin {
  background-color: #007bb6
}
.signup-popup-content {
  font-size: 1em;
  padding: 0 1em;
  color: var(--color-base)
}
.signup-popup-content .row img {
  display: none;
  max-height: 260px;
  margin: 0 auto
}
.signup-popup-content form > div {
  margin-bottom: 15px
}
.signup-popup-content form .form-item {
  margin-bottom: 10px
}
.signup-popup-content form .form-item .form-text {
  border-radius: 3px;
  height: 41px;
  margin: 0
}
.signup-popup-content form .form-email {
  height: 41px
}
.signup-popup-content form .button {
  display: block;
  width: 100%;
  text-transform: uppercase;
  background: #0cb930;
  border-color: #0cb930;
  color: var(--color-neutral-0);
  border-radius: 3px;
  height: 41px;
  font-size: 14px
}
.signup-popup-content .comments__register__social__title {
  text-align: left
}
.signup-popup-content .comments__register__social {
  padding-top: 0
}
.signup-popup-content .comments__register__social__button {
  width: 100%
}
.signup-popup-content .tip-text {
  margin-bottom: 20px;
  font-style: italic;
  line-height: 1.2;
  text-align: center
}
.signup-popup-content .tip-text--desktop {
  display: none;
  text-align: left
}
#userLeaveModal .modal-dialog .modal-content {
  background: var(--color-page-bg)
}
#userLeaveModal .modal-dialog .modal-header {
  border: none;
  padding-bottom: 0
}
#userLeaveModal .modal-dialog .modal-body {
  padding-top: 0
}
#userLeaveModal .modal-dialog .tagline {
  font-size: 1em;
  color: #f04944;
  padding: 1em 0;
  font-style: italic;
  flex: 1
}
#userLeaveModal .modal-dialog .field-name-field-block-subtitle {
  display: inline
}
#userLeaveModal .modal-dialog .modal-media {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 1em;
  margin-bottom: 20px
}
#userLeaveModal .modal-dialog .modal-media .modal-media-left {
  margin-right: 15px
}
#userLeaveModal .modal-dialog .modal-media .modal-media-left img {
  max-height: 100px
}
#userLeaveModal .modal-dialog .modal-media .modal-media-heading {
  font-size: 1.6em;
  line-height: 1.3;
  font-weight: 700;
  color: var(--color-base)
}
@media (min-width: 768px) {
  .comments__register__social__title span {
    display: block;
    color: var(--color-base);
    margin: 10px auto
  }
  .comments__register__social__title span strong {
    color: var(--color-base)
  }
  .comments__register__social__buttons {
    margin: 0 -15px
  }
  .comments__register__social__buttons .btn {
    margin-right: 10px
  }
  .comments__register__social__buttons .btn:last-child {
    margin-right: 0
  }
  .signup-popup-content .comments__register__social__buttons {
    margin: 0
  }
}
@media (min-width: 992px) {
  .comments__register__social__button {
    font-weight: 800
  }
  .signup-popup-content {
    padding: 0 2em;
    font-size: 1.2em
  }
  .signup-popup-content .row {
    margin-top: 40px;
    display: flex
  }
  .signup-popup-content .row img {
    display: block
  }
  .signup-popup-content .col-lg-14 {
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  .signup-popup-content form > div {
    display: flex
  }
  .signup-popup-content form .form-item {
    margin-bottom: 0;
    width: 70%
  }
  .signup-popup-content form .form-item .form-text {
    height: 56px;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important
  }
  .signup-popup-content form .form-email {
    height: 56px;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right: 0
  }
  .signup-popup-content form .button {
    width: 30%;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    height: 56px
  }
  .signup-popup-content .comments__register__social__buttons {
    display: flex;
    justify-content: space-between
  }
  .signup-popup-content .comments__register__social__button {
    width: 30%
  }
  .signup-popup-content .tip-text {
    font-size: 16px
  }
  .signup-popup-content .tip-text--mobile {
    display: none
  }
  .signup-popup-content .tip-text--desktop {
    display: block
  }
  #userLeaveModal .modal-dialog {
    max-width: 900px
  }
  #userLeaveModal .modal-dialog .modal-media {
    padding: 0 2em
  }
  #userLeaveModal .modal-dialog .modal-media .modal-media-left {
    display: none
  }
  #userLeaveModal .modal-dialog .modal-media .modal-media-heading {
    text-align: center;
    padding: 0 1em;
    font-size: 2.6em
  }
}
@media (max-width: 767px) {
  .comments__register__social__button {
    width: 100%
  }
}
@media print,
(prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms!important;
    transition-duration: 1ms!important;
    animation-iteration-count: 1!important
  }
  .animated[class*=Out] {
    opacity: 0
  }
}
/*# sourceMappingURL=user-leave-modal.component.css.map */
