@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.wso-braintree-form {
  width: 100%;
}

.slick-slider {
  .slick-arrow {
    width: 25px;
    height: 25px;
    box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.25);
    background: var(--color-neutral-0);
    border-radius: 100%;
    z-index: 1;
    top: auto;
    bottom: 45%;

    @include media('>=tablet') {
      width: 50px;
      height: 50px;
    }

    &:hover {
      background: var(--color-neutral-0);
      opacity: 1;
    }

    &:before {
      content: '\f105';
      display: inline-block;
      font: normal normal normal 14px/1 'fa-custom';
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: var(--color-neutral-7);
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      @include media('>=tablet') {
        font-size: 40px;
        line-height: 37px;
      }
    }
  }

  .slick-prev {
    left: 0;

    &:before {
      transform: translate(-50%,-50%) rotate(180deg);
    }
  }

  .slick-next {
    right: 0;
  }

  .slick-track {
    display: flex;

    .slick-slide {
      float: none;
      height: auto;

      // Nested styles.
      .slick-slide {
        margin: 0;
      }
    }
  }
}

.view-trustpilot-reviews {
  .slick-slider {
    margin: auto;
    padding: 0;
    width: 100%;

    .slick-slide {
      margin: 0 10px;

      @media (min-width: 414px) {
        margin: 0 15px;
      }
    }
  }

  &.view-display-id-product_reviews_carousel {
    .slick-slide {
      margin: 0 15px;

      @include media('<tablet') {
        margin: 0;
      }
    }
  }

  &.view-display-id-product_reviews_slider {
    @include media('>=desktop') {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.tp-widget {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .tp-stars .tp-star__canvas,
  .tp-stars .tp-star__canvas--half {
    fill: #dcdce6;
  }

  .tp-stars--4 .tp-star:nth-of-type(-n+4) .tp-star__canvas,
  .tp-stars--4 .tp-star:nth-of-type(-n+4) .tp-star__canvas--half {
    fill: #73cf11;
  }

  .tp-stars--4--half .tp-star:nth-of-type(-n+4) .tp-star__canvas,
  .tp-stars--4--half .tp-star:nth-of-type(-n+4) .tp-star__canvas--half {
    fill: #00b67a;
  }

  .tp-stars--4--half .tp-star:nth-of-type(-n+5) .tp-star__canvas--half {
    fill: #00b67a;
  }

  .tp-star {
    width: 30px;
    height: 30px;
  }

  .tp-widget-humanscore {
    font-size: 20px;
  }

  .tp-widget-businessinfo {
    a {
      color: var(--color-base);
    }

    .bold-underline {
      font-weight: normal;
      text-decoration: underline;
    }
  }

  .tp-stars {
    width: 130px;
  }

  .tp-widget-logo {
    width: 100px;
    transform: translateY(-5px);
  }
}

.card.tp-widget-review {
  padding: 17px 20px;
}

.tp-widget-review {
  &,
  &:hover {
    color: var(--color-base);
    text-decoration: none;
  }

  padding: 15px 20px;
  background: var(--color-neutral-0);
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 3px;

  .ts-logo {
    width: 80px;
    margin-right: 15px;
  }

  .date {
    font-size: 12px;
  }

  svg {
    margin-right: 1px;
  }

  .tp-widget-stars-container {
    height: 18px;
    margin-bottom: 2px;
  }

  .tp-stars {
    .tp-star__canvas {
      fill: #DCDCE7;
    }

    &--5 {
      .tp-star__canvas {
        fill: #00B67B;
      }
    }

    &--4 {
      svg:nth-child(-n + 4) {
        .tp-star__canvas {
          fill: #75CC1A;
        }
      }
    }

    &--3 {
      svg:nth-child(-n + 3) {
        .tp-star__canvas {
          fill: #FFCD02;
        }
      }
    }

    &--2 {
      svg:nth-child(-n + 2) {
        .tp-star__canvas {
          fill: #FE3625;
        }
      }
    }

    &--1 {
      svg:nth-child(-n + 1) {
        .tp-star__canvas {
          fill: #FE3625;
        }
      }
    }
  }

  .header {
    @include responsive-prop(700, 800, font-weight);
    font-size: 18px;
    line-height: 1.2;
  }

  .text {
    font-size: 22px;
    line-height: 1.4;

    .slick-list & {
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: .2px;
      color: #094059CC;

      .darkmode & {
        color: var(--color-neutral-8);
      }
    }

    br + br {
      display: none;
    }
  }

  .name {
    font-size: 14px;
    @include responsive-prop(700, 800, font-weight);
  }

  .product-name {
    font-size: 13px;
    color: var(--color-neutral-6);
    font-weight: 700;

    .darkmode & {
      color: var(--color-neutral-8);
    }
  }
}

.paragraph--type--wide-low-jumbotron {
  a.btn-default {
    background-color: white;
    border-color: white;
    color: $color-blue;

    .tp-widget {
      display: flex;

      .tp-stars {
        width: auto;
      }

      .tp-star {
        width: 15px;
        height: 15px;
      }

      svg {
        height: 15px;
      }

      .text {
        margin-right: 10px;
      }
    }
  }
}

.wso--trustpilot {
  max-width: 190px;
  margin: auto;
  @include media('>tablet') {
    max-width: initial;
  }
}
