.slick-slider .slick-slide {
  margin: 0 8px
}
.slick-slider .slick-arrow {
  width: 25px;
  height: 25px;
  box-shadow: 0 3px 8px 0 rgba(50, 50, 50, .25);
  background: var(--color-neutral-0);
  border-radius: 100%;
  z-index: 1;
  top: auto;
  bottom: 45%
}
.slick-slider .slick-arrow:hover {
  background: var(--color-neutral-0);
  opacity: 1
}
.slick-slider .slick-arrow:before {
  content: "\f105";
  display: inline-block;
  font: 20px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-neutral-7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.slick-slider .slick-prev {
  left: 0
}
.slick-slider .slick-prev:before {
  transform: translate(-50%, -50%) rotate(180deg)
}
.slick-slider .slick-next {
  right: 0
}
.slick-slider .slick-track {
  display: flex
}
.slick-slider .slick-track .slick-slide {
  float: none;
  height: auto
}
.slick-slider .slick-track .slick-slide .slick-slide {
  margin: 0
}
.view-trustpilot-reviews .slick-slider .slick-slide {
  margin: 12px
}
.tp-widget {
  width: 100%;
  margin: 0 auto;
  text-align: center
}
.tp-widget .tp-stars .tp-star__canvas,
.tp-widget .tp-stars .tp-star__canvas--half {
  fill: #dcdce6
}
.tp-widget .tp-stars--4 .tp-star:nth-of-type(-n+4) .tp-star__canvas,
.tp-widget .tp-stars--4 .tp-star:nth-of-type(-n+4) .tp-star__canvas--half {
  fill: #73cf11
}
.tp-widget .tp-stars--4--half .tp-star:nth-of-type(-n+4) .tp-star__canvas,
.tp-widget .tp-stars--4--half .tp-star:nth-of-type(-n+4) .tp-star__canvas--half,
.tp-widget .tp-stars--4--half .tp-star:nth-of-type(-n+5) .tp-star__canvas--half {
  fill: #00b67a
}
.tp-widget .tp-star {
  width: 30px;
  height: 30px
}
.tp-widget .tp-widget-humanscore {
  font-size: 20px
}
.tp-widget .tp-widget-businessinfo a {
  color: var(--color-base)
}
.tp-widget .tp-widget-businessinfo .bold-underline {
  font-weight: normal;
  text-decoration: underline
}
.tp-widget .tp-stars {
  width: 130px
}
.tp-widget .tp-widget-logo {
  width: 100px;
  transform: translateY(-5px)
}
.tp-widget-review {
  padding: 15px 20px;
  background: var(--color-neutral-0);
  text-align: left;
  border: 1px solid rgba(0, 0, 0, .12);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .15);
  border-radius: 3px
}
.tp-widget-review,
.tp-widget-review:hover {
  color: var(--color-base);
  text-decoration: none
}
.tp-widget-review .ts-logo {
  width: 80px;
  margin-right: 15px
}
.tp-widget-review .date {
  font-size: 12px
}
.tp-widget-review svg {
  margin-right: 1px
}
.tp-widget-review .tp-widget-stars-container {
  height: 18px;
  margin-bottom: 2px
}
.tp-widget-review .tp-stars .tp-star__canvas {
  fill: #dcdce7
}
.tp-widget-review .tp-stars--5 .tp-star__canvas {
  fill: #00b67b
}
.tp-widget-review .tp-stars--4 svg:nth-child(-n+4) .tp-star__canvas {
  fill: #75cc1a
}
.tp-widget-review .tp-stars--3 svg:nth-child(-n+3) .tp-star__canvas {
  fill: #ffcd02
}
.tp-widget-review .tp-stars--1 svg:nth-child(-n+1) .tp-star__canvas,
.tp-widget-review .tp-stars--2 svg:nth-child(-n+2) .tp-star__canvas {
  fill: #fe3625
}
.tp-widget-review .header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2
}
.tp-widget-review .text {
  font-size: 22px;
  line-height: 1.4
}
.slick-list .tp-widget-review .text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: .2px;
  color: rgba(9, 64, 89, .8)
}
.darkmode .slick-list .tp-widget-review .text {
  color: var(--color-neutral-8)
}
.tp-widget-review .text br + br {
  display: none
}
.tp-widget-review .name {
  font-size: 14px;
  font-weight: 700
}
.tp-widget-review .product-name {
  font-size: 13px;
  color: #9db2bc;
  font-weight: 700
}
.darkmode .tp-widget-review .product-name {
  color: #c0beba
}
.paragraph--type--wide-low-jumbotron a.btn-default {
  background-color: #fff;
  border-color: #fff;
  color: #087dfd
}
.paragraph--type--wide-low-jumbotron a.btn-default .tp-widget {
  display: flex
}
.paragraph--type--wide-low-jumbotron a.btn-default .tp-widget .tp-stars {
  width: auto
}
.paragraph--type--wide-low-jumbotron a.btn-default .tp-widget .tp-star {
  width: 15px;
  height: 15px
}
.paragraph--type--wide-low-jumbotron a.btn-default .tp-widget svg {
  height: 15px
}
.paragraph--type--wide-low-jumbotron a.btn-default .tp-widget .text {
  margin-right: 10px
}
@media (min-width: 768px) {
  .slick-slider .slick-arrow {
    width: 50px;
    height: 50px
  }
  .slick-slider .slick-arrow:before {
    font-size: 40px;
    line-height: 37px
  }
}
@media (min-width: 992px) {
  .view-trustpilot-reviews.view-display-id-product_reviews {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto
  }
  .tp-widget-review .header,
  .tp-widget-review .name {
    font-weight: 800
  }
}
/*# sourceMappingURL=trustpilot-reviews-slider.component.css.map */
