.anonymous-post .icon {
  height: 48px;
  min-width: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid var(--color-neutral-2);
  position: relative;
  background: var(--color-neutral-0);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: calc(100% - 70px)
}
.anonymous-post .icon:before {
  color: #0cb930;
  font-size: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%)
}
.comment .anonymous-post .icon:before {
  font-size: 15px
}
.anonymous-post li {
  font-size: 14px;
  letter-spacing: .1px;
  color: #9db2bc
}
.darkmode .anonymous-post li {
  color: #c0beba
}
.anonymous-post li.anonymous-post__label {
  position: relative;
  margin-left: 7px;
  white-space: nowrap;
  flex: 1 1 auto;
  display: none;
  color: #9db2bc
}
.darkmode .anonymous-post li.anonymous-post__label {
  color: #c0beba
}
.anonymous-post li.anonymous-post__label:before {
  background: var(--color-neutral-4);
  content: "";
  height: 12px;
  left: -4px;
  margin-right: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px
}
.anonymous-post li.anonymous-post__name {
  max-width: 100%
}
.anonymous-post li .bold {
  color: var(--color-base)
}
.anonymous-post .post-user-pic {
  margin-right: 0
}
.anonymous-post .post-user-pic.certified {
  position: relative!important
}
.anonymous-post .post-user-pic.certified .icon {
  border: 2px solid #f5b226;
  border-radius: 100%
}
.anonymous-post .post-user-pic.certified:after {
  background-color: #f5b226;
  border: 3px solid #f5b226;
  border-radius: 50%;
  bottom: 8px;
  color: var(--color-neutral-0);
  content: "\e825";
  display: inline-block;
  font: 10px/1 fa-custom;
  height: 16px;
  position: absolute;
  right: 0;
  text-rendering: auto;
  width: 16px
}
.anonymous-post .author-details-container {
  display: flex;
  color: #9db2bc
}
.darkmode .anonymous-post .author-details-container {
  color: #c0beba
}
.anonymous-post.author-details {
  margin: 0;
  font-size: 16px;
  display: flex;
  align-items: center
}
.anonymous-post.author-details .author-details-info {
  max-width: calc(100% - 60px)
}
.anonymous-post.author-details .author-details-info > div {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.anonymous-post.author-details .author-details-info .author-details-position {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9db2bc
}
.darkmode .anonymous-post.author-details .author-details-info .author-details-position {
  color: #c0beba
}
.anonymous-post.author-details .author-details-info .author-details-insustry {
  display: block
}
.anonymous-post .tooltip.in {
  opacity: 1
}
.anonymous-post .tooltip .tooltip-inner {
  color: var(--color-neutral-7);
  font-size: 11px;
  text-align: center;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-5);
  padding: 5px 8px
}
.anonymous-post .tooltip .tooltip-inner strong {
  font-weight: 600
}
.anonymous-post .tooltip.top .tooltip-arrow {
  border-top-color: var(--color-neutral-0);
  border: 0;
  width: 10px;
  height: 10px
}
.anonymous-post .tooltip.top .tooltip-arrow:before {
  background: var(--color-neutral-0);
  border-left: var(--color-neutral-4) 1px solid;
  border-top: var(--color-neutral-4) 1px solid;
  content: "";
  display: inline-block;
  height: 100%;
  transform: rotate(-135deg) translateY(2px);
  width: 100%
}
.comment .anonymous-post .icon {
  height: 28px;
  width: 28px;
  min-width: 28px;
  max-width: 28px
}
.comment .anonymous-post .post-user-pic.certified:after {
  bottom: 0;
  font-size: 8px;
  width: 13px;
  height: 13px
}
.comment .post-header > span {
  display: flex;
  width: 100%;
  align-content: center;
  flex-wrap: nowrap
}
.comment .post-header > span > .post-time-container {
  align-items: center;
  display: flex;
  margin-left: auto;
  white-space: nowrap
}
.comment .author-details {
  margin-top: 0
}
.comment .author-details-position {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.comment .author-details-insustry {
  display: block
}
.comment .author-details-info {
  display: flex;
  align-items: center
}
.comment .author-details-info .author-details-info-rank {
  margin-left: 10px
}
.comment .author-details-avatar img {
  width: 36px;
  height: 38px
}
.node .anonymous-post {
  max-width: 100%
}
.post-user-pic {
  margin-right: 0;
  padding: 0
}
.post-user-pic img {
  position: static;
  border-radius: 100%
}
.author-details-avatar {
  position: relative;
  line-height: 0
}
.author-details-avatar.certified .icon {
  border: 2px solid #f5b226
}
.author-details-avatar.certified:after {
  background-color: #f5b226;
  border: 3px solid #f5b226;
  border-radius: 50%;
  bottom: 0;
  color: var(--color-neutral-0);
  content: "\e825";
  display: inline-block;
  font: 10px/1 fa-custom;
  height: 16px;
  position: absolute;
  right: 4px;
  text-rendering: auto;
  width: 16px
}
.author-details-avatar .certified_user {
  border: 2px solid #f5b226;
  border-radius: 100%
}
.author-details-avatar .certified_user ~ .forum__op__icon i.icon.icon-star {
  background-color: #f5b226;
  border: 3px solid #f5b226;
  border-radius: 50%;
  color: var(--color-neutral-0);
  font-size: 10px;
  height: 16px;
  width: 16px
}
.anonymous-post--type-2 .submitted-industry {
  font-size: 14px;
  height: 48px;
  width: 48px
}
.anonymous-post--type-2 .certified .submitted-industry {
  border: 2px solid #f5b226
}
.anonymous-post--type-2 .post-user-pic.certified:after {
  bottom: 0
}
.post-comments .anonymous-post--type-2 .post-user-pic .submitted-industry {
  font-size: 12px;
  height: 28px;
  width: 28px
}
@media (min-width: 768px) {
  .wso-username {
    flex-wrap: nowrap;
    max-width: calc(100% - 140px);
    flex: 1
  }
  .wso-username .post-user-name {
    max-width: calc(100% - 360px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  .anonymous-post li.anonymous-post__label {
    display: block
  }
  .anonymous-post li.anonymous-post__name {
    max-width: calc(100% - 160px)
  }
}
@media (max-width: 991px) {
  .comment .author-details .author-details-info-rank,
  .comment .author-details .flag-wrapper {
    display: none
  }
}
@media (max-width: 767px) {
  .comment .post-user-pic img {
    max-height: 24px;
    max-width: 24px
  }
}
/*# sourceMappingURL=wso-alternate-identity.component.css.map */
