@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.wso-username {
  @include media('>=tablet') {
    flex-wrap: nowrap;
    max-width: calc(100% - 140px);
    flex: 1;

    .post-user-name {
      max-width: calc(100% - 360px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.anonymous-post {
  .icon {
    height: 48px;
    min-width: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid var(--color-neutral-2);
    position: relative;
    background: var(--color-neutral-0);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: calc(100% - 70px);

    &:before {
      color: $color-green-100;
      font-size: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      .comment & {
        font-size: 15px;
      }
    }
  }

  li {
    font-size: 14px;
    letter-spacing: .1px;
    @include font-color-grey-darkmode;

    &.anonymous-post__label {
      position: relative;
      margin-left: 7px;
      white-space: nowrap;
      flex: 1 1 auto;
      display: none;
      @include font-color-grey-darkmode;

      @include media('>=tablet') {
        display: block;
      }

      &:before {
        background: var(--color-neutral-4);
        content: "";
        height: 12px;
        left: -4px;
        margin-right: 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }
    }

    &.anonymous-post__name {
      max-width: 100%;

      @include media('>=tablet') {
        max-width: calc(100% - 160px);
      }
    }

    .bold {
      color: var(--color-base);
    }
  }

  .post-user-pic {
    margin-right: 0;

    &.certified {
      position: relative !important;

      .icon {
        border: 2px solid $color-yellow;
        border-radius: 100%;
      }

      &:after {
        background-color: $color-yellow;
        border: 3px solid $color-yellow;
        border-radius: 50%;
        bottom: 8px;
        color: var(--color-neutral-0);
        content: '\e825';
        display: inline-block;
        font: normal normal normal 14px/1 'fa-custom';
        font-size: 10px;
        height: 16px;
        position: absolute;
        right: 0;
        text-rendering: auto;
        width: 16px;
      }
    }
  }

  .author-details-container {
    display: flex;
    @include font-color-grey-darkmode;
  }

  &.author-details {
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;

    .author-details-info {
      max-width: calc(100% - 60px);

      > div {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .author-details-position {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include font-color-grey-darkmode;
      }

      .author-details-insustry {
        display: block;
      }
    }
  }

  .tooltip {
    &.in {
      opacity: 1;
    }

    .tooltip-inner {
      color: var(--color-neutral-7);
      font-size: 11px;
      text-align: center;
      background-color: var(--color-neutral-0);
      border: 1px solid var(--color-neutral-5);
      padding: 5px 8px;

      strong {
        font-weight: 600;
      }
    }

    &.top {
      .tooltip-arrow {
        border-top-color: var(--color-neutral-0);
        border: 0;
        width: 10px;
        height: 10px;

        &:before {
          background: var(--color-neutral-0);
          border-left: var(--color-neutral-4) 1px solid;
          border-top: var(--color-neutral-4) 1px solid;
          content: '';
          display: inline-block;
          height: 100%;
          transform: rotate(-135deg) translateY(2px);
          width: 100%;
        }
      }
    }
  }
}

.comment {
  .anonymous-post {
    .icon {
      height: 28px;
      width: 28px;
      min-width: 28px;
      max-width: 28px;
    }

    .post-user-pic.certified {
      &:after {
        bottom: 0;
        font-size: 8px;
        width: 13px;
        height: 13px;
      }
    }
  }

  .post-header {
    > span {
      display: flex;
      width: 100%;
      align-content: center;
      flex-wrap: nowrap;

      > .post-time-container {
        align-items: center;
        display: flex;
        margin-left: auto;
        white-space: nowrap;
      }
    }
  }

  .author-details {
    margin-top: 0;

    @include media('<desktop') {
      .author-details-info-rank,
      .flag-wrapper {
        display: none;
      }
    }
  }

  .author-details-position {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .author-details-insustry {
    display: block;
  }

  .author-details-info {
    display: flex;
    align-items: center;

    .author-details-info-rank {
      margin-left: 10px;
    }
  }

  .author-details-avatar {
    img {
      width: 36px;
      height: 38px;
    }
  }

  .post-user-pic img {
    @include media('<tablet') {
      max-height: 24px;
      max-width: 24px;
    }
  }
}

.node {
  .anonymous-post {
    max-width: 100%;
  }
}

.post-user-pic {
  margin-right: 0;
  padding: 0;

  img {
    position: static;
    border-radius: 100%;
  }
}

.author-details-avatar {
  position: relative;
  line-height: 0;

  &.certified {
    .icon {
      border: 2px solid $color-yellow;
    }

    &:after {
      background-color: $color-yellow;
      border: 3px solid $color-yellow;
      border-radius: 50%;
      bottom: 0;
      color: var(--color-neutral-0);
      content: '\e825';
      display: inline-block;
      font: normal normal normal 14px/1 'fa-custom';
      font-size: 10px;
      height: 16px;
      position: absolute;
      right: 4px;
      text-rendering: auto;
      width: 16px;
    }
  }

  .certified_user {
    border: 2px solid $color-yellow;
    border-radius: 100%;

    ~ {
      .forum__op__icon {
        i {
          &.icon {
            &.icon-star {
              background-color: $color-yellow;
              border: 3px solid $color-yellow;
              border-radius: 50%;
              color: var(--color-neutral-0);
              font-size: 10px;
              height: 16px;
              width: 16px;
            }
          }
        }
      }
    }
  }
}

.anonymous-post--type-2 {
  .submitted-industry {
    font-size: 14px;
    height: 48px;
    width: 48px;
  }

  .certified {
    .submitted-industry {
      border: 2px solid $color-yellow;
    }
  }

  .post-user-pic {
    &.certified {
      &:after {
        bottom: 0;
      }
    }
  }
}

.post-comments {
  .anonymous-post--type-2 {
    .post-user-pic {
      .submitted-industry {
        font-size: 12px;
        height: 28px;
        width: 28px;
      }
    }
  }
}
