@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.comment-form {
  .anonymous-post {
    max-width: 100%;

    .icon {
      height: 40px;
      width: 40px;
      min-width: 40px;
    }

    .anonymous-post__name {
      .author-details-position {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .author-details-insustry {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .certified {
      .submitted-industry {
        border: 2px solid $color-yellow;
      }
    }
  }

  .anonymous-post--type-2 {
    .submitted-industry {
      font-size: 12px;
      height: 40px;
      width: 40px;
    }
  }

  .form-author-option {
    padding-top: 0;
    margin-bottom: 0;

    @include media('>=tablet') {
      padding-top: 20px;
    }

    .form-header {
      label {
        font-size: 13px;

        @include media('<tablet') {
          margin-bottom: 0;
        }
      }
    }

    .tooltip-icon {
      background: var(--color-neutral-0);

      .icon {
        color: var(--color-neutral-7);
        cursor: pointer;
        font-size: 10px;
        line-height: 16px;
      }
    }

    .author-details {
      align-items: center;
      font-size: 13px;

      @include media('>=desktop') {
        margin-bottom: 0 !important;
      }
    }

    .author-details-info {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form-header {
    .form-header-info {
      font-size: 13px;

      @include media('<tablet') {
        font-size: 11px;
        line-height: 120%;
      }
    }
  }

  .wso-username {
    max-width: 100%;
  }

  .post-time-container {
    display: none;
  }

  .tooltip {
    &.in {
      @include media('<tablet') {
        left: 15px !important;
      }
    }
  }

  .author-info {
    @include media('>=large-desktop') {
      width: 50%;
    }

    .comment-title {
      display: block!important;
    }
  }

  .identity-options {
    @include media('>=large-desktop') {
      width: 50%;
    }
  }
}

.node-form {
  .anonymous-post {
    @include media('>=tablet') {
      max-width: 100%;
    }

    .certified {
      .submitted-industry {
        border: 2px solid $color-yellow;
      }
    }
  }

  .author-details-avatar {
    img {
      width: 42px;
      height: 42px;
    }
  }
}

.form-author-option {
  display: flex;
  flex-wrap: wrap;

  .form-header {
    float: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;

    @include media('<tablet') {
      padding: 0;
    }

    @include media('>=tablet') {
      margin-top: -10px;
      margin-bottom: 10px;
    }

    label {
      color: var(--color-base);
      font-size: 16px;
      font-weight: bold !important;
      letter-spacing: .1px;
      line-height: 1.13;
    }

    .form-header-info {
      color: var(--color-neutral-7);
      font-size: 14px;
    }
  }

  .author-info {
    display: inline-block;
    float: none;
    margin-bottom: 0;

    @include media('<tablet') {
      padding: 0;
    }

    .form-group {
      margin-bottom: 0;
    }

    [data-drupal-selector="submitted-by-refresh"] {
      .comment__clearfix {
        display: flex;
        align-items: center;
      }
    }
  }

  .identity-options {
    float: none;
    display: inline-block;
    margin-bottom: 0;

    @include media('<tablet') {
      padding: 0;
    }

    label.sr-only {
      display: none;
    }

    .dropdown {
      .dropdown-text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .dropdown-as-select {
      li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        font-weight: 600;

        span {
          font-weight: normal;
        }

        &.active {
          &:before {
            background: $color-green-100;
            border-radius: 100%;
            color: var(--color-neutral-0);
            content: '\e801';
            display: inline-block;
            font-family: 'fa-custom';
            font-size: 8px;
            height: 14px;
            line-height: 14px;
            margin-right: 12px;
            min-width: 14px;
            position: relative;
            text-align: center;
            top: -3px;
            width: 14px;
          }

          &.disabled {
            &:before {
              background: var(--color-neutral-5);
            }
          }
        }
      }

      .dropdown-button {
        &:before {
          background: $color-green-100;
          border-radius: 100%;
          color: var(--color-neutral-0);
          content: '\e801';
          display: inline-block;
          font-family: 'fa-custom';
          font-size: 8px;
          height: 14px;
          line-height: 14px;
          margin-right: 12px;
          min-width: 14px;
          text-align: center;
          width: 14px;
        }
      }

      li[data-value="refresh"] {
        &:before {
          background: transparent;
          border-radius: 100%;
          color: inherit;
          content: '\e834';
          display: inline-block;
          font-family: 'fa-custom';
          font-size: 13px;
          height: 14px;
          line-height: 14px;
          margin-right: 12px;
          min-width: 14px;
          position: relative;
          text-align: center;
          top: -1px;
          width: 14px;
        }
        color: $color-blue;
        font-size: 16px;
      }
    }
  }

  .tooltip {
    font-size: 11px;
    line-height: 1.45;

    &.in {
      opacity: 1;
    }

    &.right {
      .tooltip-arrow {
        &:before {
          transform: rotate(-45deg);
        }
      }
    }

    &.top {
      .tooltip-arrow {
        &:before {
          transform: rotate(-135deg) translateY(2px);
        }
      }
    }

    &.bottom {
      .tooltip-arrow {
        &:before {
          transform: rotate(45deg);
        }
      }
    }

    &.left {
      .tooltip-arrow {
        &:before {
          transform: rotate(135deg);
        }
      }
    }

    .tooltip-inner {
      background-color: var(--color-neutral-0);
      border: solid 1px var(--color-neutral-4);
      box-shadow: 0 8px 16px 0 var(--color-base);
      color: var(--color-neutral-7);
      max-width: 300px;
      padding: 12px 15px 12px 20px;
      text-align: left;

      @include media('>=tablet') {
        max-width: 400px;
      }
    }

    .tooltip-arrow {
      border-top-color: var(--color-neutral-0);
      border: 0;
      width: 10px;
      height: 10px;

      &:before {
        background: var(--color-neutral-0);
        border-left: var(--color-neutral-4) 1px solid;
        border-top: var(--color-neutral-4) 1px solid;
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  }

  .tooltip-icon {
    align-content: center;
    align-items: center;
    border: var(--color-neutral-4) 1px solid;
    border-radius: 100%;
    display: inline-flex;
    height: 16px;
    justify-content: center;
    margin-left: 5px;
    width: 16px;
  }

  i[data-bs-toggle="tooltip"] {
    color: var(--color-neutral-7);
    cursor: pointer;
    font-size: 10px;
    line-height: 16px;
  }

  .author-details {
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    max-width: 100%;

    .wso-username-link {
      color: var(--color-base);
      @include responsive-prop(700, 800, font-weight);
    }
  }

  .author-details-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .author-details-info {
    max-width: calc(100% - 60px);

    .author-details-position {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .author-details-insustry {
      display: block;
    }
  }

  .author-details-info-name {
    display: flex;

    span {
      &:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:last-child {
        flex: 1;
        white-space: nowrap;
      }
    }
  }

  .author-details-info-rank {
    display: flex;

    span {
      &:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:last-child {
        flex: 1;
        white-space: nowrap;
      }
    }
  }

  .spin-wrapper {
    background: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-2);
    border-radius: 50%;
    display: block;
    height: 40px;
    padding-left: 12px;
    padding-top: 8px;
    position: relative;
    width: 40px;
  }

  .form-header-info {
    cursor: pointer;
    display: block;
    color: var(--color-base);
    font-size: 14px;
  }
}

//Select/dropdown
.select2-container.select-name-alternate-identity {
  .select2-search {
    display : none;
  }
}

.form-item-show-modal {
  display: none;
}

#refresh-info-modal {
  fieldset {
    display: none;
  }

  input.form-text {
    width: 100%;
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding-left: 20px;
  }
}

.alt-id-tips-popover-trigger {
  cursor: pointer;
  font-size: 14px;

  &:focus {
    outline: none;
    color: var(--color-base);
  }

  .icon {
    font-size: 14px;
  }
}

.alt-id-popover,
.alt-id-requirements.modal {
  .alt-id-requirement {
    &-allowed,
    &-not-allowed {
      &:after {
        display: inline-block;
        font: 14px/1 fa-custom;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        pointer-events: none;
        margin-left: 5px;
      }
    }

    &-allowed {
      &:after {
        content: '\e805';
        color: $color-green-100;
      }
    }

    &-not-allowed {
      color: $color-red;

      &:after {
        content: '\e815';
      }
    }
  }

  .popover-header,
  h3 {
    font-size: 16px;
    line-height: 1.2;
  }

  ul {
    margin-bottom: 5px;

    li strong {
      font-weight: 700!important;
    }
  }
}

.alt-id-requirements {
  z-index: 1090;

  &--select {
    .alt-id-after {
      display: none;
    }

    &--1 {
      .company-separate-requirement:nth-child(1) {
        display: none;
      }
    }

    &--2 {
      .company-separate-requirement:nth-child(2) {
        display: none;
      }
    }
  }
}

.select-name-alternate-identity {
  .select2-results__option {
    font-size: 15px;
    letter-spacing: -0.2px;
  }

  .select2-results__option[aria-disabled="true"] {
    cursor: pointer;
    display: flex;
    align-items: center;

    > * {
      order: 1;
    }

    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 'fa-custom';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f29c';
      order: 2;
      margin-left: 10px;
      margin-right: 5px;
    }

    &:after {
      order: 2;
      content: ' Why disabled?';
    }
  }
}

.modal-backdrop {
  z-index: 1002;
}
