.comment-form .anonymous-post {
  max-width: 100%
}
.comment-form .anonymous-post .icon {
  height: 40px;
  width: 40px;
  min-width: 40px
}
.comment-form .anonymous-post .anonymous-post__name .author-details-insustry,
.comment-form .anonymous-post .anonymous-post__name .author-details-position {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.comment-form .anonymous-post .certified .submitted-industry {
  border: 2px solid #f5b226
}
.comment-form .anonymous-post--type-2 .submitted-industry {
  font-size: 12px;
  height: 40px;
  width: 40px
}
.comment-form .form-author-option {
  padding-top: 0;
  margin-bottom: 0
}
.comment-form .form-author-option .form-header label {
  font-size: 13px
}
.comment-form .form-author-option .tooltip-icon {
  background: var(--color-neutral-0)
}
.comment-form .form-author-option .tooltip-icon .icon {
  color: var(--color-neutral-7);
  cursor: pointer;
  font-size: 10px;
  line-height: 16px
}
.comment-form .form-author-option .author-details {
  align-items: center;
  font-size: 13px
}
.comment-form .form-author-option .author-details-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap
}
.comment-form .form-header .form-header-info {
  font-size: 13px
}
.comment-form .wso-username {
  max-width: 100%
}
.comment-form .post-time-container {
  display: none
}
.comment-form .author-info .comment-title {
  display: block!important
}
.node-form .anonymous-post .certified .submitted-industry {
  border: 2px solid #f5b226
}
.node-form .author-details-avatar img {
  width: 42px;
  height: 42px
}
.form-author-option {
  display: flex;
  flex-wrap: wrap
}
.form-author-option .form-header {
  float: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0
}
.form-author-option .form-header label {
  color: var(--color-base);
  font-size: 16px;
  font-weight: bold!important;
  letter-spacing: .1px;
  line-height: 1.13
}
.form-author-option .form-header .form-header-info {
  color: var(--color-neutral-7);
  font-size: 14px
}
.form-author-option .author-info {
  display: inline-block;
  float: none;
  margin-bottom: 0
}
.form-author-option .author-info .form-group {
  margin-bottom: 0
}
.form-author-option .author-info [data-drupal-selector=submitted-by-refresh] .comment__clearfix {
  display: flex;
  align-items: center
}
.form-author-option .identity-options {
  float: none;
  display: inline-block;
  margin-bottom: 0
}
.form-author-option .identity-options label.sr-only {
  display: none
}
.form-author-option .identity-options .dropdown .dropdown-text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.form-author-option .identity-options .dropdown-as-select li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-weight: 600
}
.form-author-option .identity-options .dropdown-as-select li span {
  font-weight: normal
}
.form-author-option .identity-options .dropdown-as-select li.active:before {
  background: #0cb930;
  border-radius: 100%;
  color: var(--color-neutral-0);
  content: "\e801";
  display: inline-block;
  font-family: fa-custom;
  font-size: 8px;
  height: 14px;
  line-height: 14px;
  margin-right: 12px;
  min-width: 14px;
  position: relative;
  text-align: center;
  top: -3px;
  width: 14px
}
.form-author-option .identity-options .dropdown-as-select li.active.disabled:before {
  background: var(--color-neutral-5)
}
.form-author-option .identity-options .dropdown-as-select .dropdown-button:before {
  background: #0cb930;
  border-radius: 100%;
  color: var(--color-neutral-0);
  content: "\e801";
  display: inline-block;
  font-family: fa-custom;
  font-size: 8px;
  height: 14px;
  line-height: 14px;
  margin-right: 12px;
  min-width: 14px;
  text-align: center;
  width: 14px
}
.form-author-option .identity-options .dropdown-as-select li[data-value=refresh] {
  color: #087dfd;
  font-size: 16px
}
.form-author-option .identity-options .dropdown-as-select li[data-value=refresh]:before {
  background: 0 0;
  border-radius: 100%;
  color: inherit;
  content: "\e834";
  display: inline-block;
  font-family: fa-custom;
  font-size: 13px;
  height: 14px;
  line-height: 14px;
  margin-right: 12px;
  min-width: 14px;
  position: relative;
  text-align: center;
  top: -1px;
  width: 14px
}
.form-author-option .tooltip {
  font-size: 11px;
  line-height: 1.45
}
.form-author-option .tooltip.in {
  opacity: 1
}
.form-author-option .tooltip.right .tooltip-arrow:before {
  transform: rotate(-45deg)
}
.form-author-option .tooltip.top .tooltip-arrow:before {
  transform: rotate(-135deg) translateY(2px)
}
.form-author-option .tooltip.bottom .tooltip-arrow:before {
  transform: rotate(45deg)
}
.form-author-option .tooltip.left .tooltip-arrow:before {
  transform: rotate(135deg)
}
.form-author-option .tooltip .tooltip-inner {
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-4);
  box-shadow: 0 8px 16px 0 var(--color-base);
  color: var(--color-neutral-7);
  max-width: 300px;
  padding: 12px 15px 12px 20px;
  text-align: left
}
.form-author-option .tooltip .tooltip-arrow {
  border-top-color: var(--color-neutral-0);
  border: 0;
  width: 10px;
  height: 10px
}
.form-author-option .tooltip .tooltip-arrow:before {
  background: var(--color-neutral-0);
  border-left: var(--color-neutral-4) 1px solid;
  border-top: var(--color-neutral-4) 1px solid;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%
}
.form-author-option .tooltip-icon {
  align-content: center;
  align-items: center;
  border: var(--color-neutral-4) 1px solid;
  border-radius: 100%;
  display: inline-flex;
  height: 16px;
  justify-content: center;
  margin-left: 5px;
  width: 16px
}
.form-author-option i[data-bs-toggle=tooltip] {
  color: var(--color-neutral-7);
  cursor: pointer;
  font-size: 10px;
  line-height: 16px
}
.form-author-option .author-details {
  margin: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  max-width: 100%
}
.form-author-option .author-details .wso-username-link {
  color: var(--color-base);
  font-weight: 700
}
.form-author-option .author-details-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.form-author-option .author-details-info {
  max-width: calc(100% - 60px)
}
.form-author-option .author-details-info .author-details-position {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.form-author-option .author-details-info .author-details-insustry {
  display: block
}
.form-author-option .author-details-info-name {
  display: flex
}
.form-author-option .author-details-info-name span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.form-author-option .author-details-info-name span:last-child {
  flex: 1;
  white-space: nowrap
}
.form-author-option .author-details-info-rank {
  display: flex
}
.form-author-option .author-details-info-rank span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.form-author-option .author-details-info-rank span:last-child {
  flex: 1;
  white-space: nowrap
}
.form-author-option .spin-wrapper {
  background: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-2);
  border-radius: 50%;
  display: block;
  height: 40px;
  padding-left: 12px;
  padding-top: 8px;
  position: relative;
  width: 40px
}
.form-author-option .form-header-info {
  cursor: pointer;
  display: block;
  color: var(--color-base);
  font-size: 14px
}
#refresh-info-modal fieldset,
.form-item-show-modal,
.select2-container.select-name-alternate-identity .select2-search {
  display: none
}
#refresh-info-modal input.form-text {
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 20px
}
.alt-id-tips-popover-trigger {
  cursor: pointer;
  font-size: 14px
}
.alt-id-tips-popover-trigger:focus {
  outline: 0;
  color: var(--color-base)
}
.alt-id-tips-popover-trigger .icon {
  font-size: 14px
}
.alt-id-popover .alt-id-requirement-allowed:after,
.alt-id-popover .alt-id-requirement-not-allowed:after,
.alt-id-requirements.modal .alt-id-requirement-allowed:after,
.alt-id-requirements.modal .alt-id-requirement-not-allowed:after {
  display: inline-block;
  font: 14px/1 fa-custom;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  margin-left: 5px
}
.alt-id-popover .alt-id-requirement-allowed:after,
.alt-id-requirements.modal .alt-id-requirement-allowed:after {
  content: "\e805";
  color: #0cb930
}
.alt-id-popover .alt-id-requirement-not-allowed,
.alt-id-requirements.modal .alt-id-requirement-not-allowed {
  color: #f04944
}
.alt-id-popover .alt-id-requirement-not-allowed:after,
.alt-id-requirements.modal .alt-id-requirement-not-allowed:after {
  content: "\e815"
}
.alt-id-popover .popover-header,
.alt-id-popover h3,
.alt-id-requirements.modal .popover-header,
.alt-id-requirements.modal h3 {
  font-size: 16px;
  line-height: 1.2
}
.alt-id-popover ul,
.alt-id-requirements.modal ul {
  margin-bottom: 5px
}
.alt-id-popover ul li strong,
.alt-id-requirements.modal ul li strong {
  font-weight: 700!important
}
.alt-id-requirements {
  z-index: 1090
}
.alt-id-requirements--select .alt-id-after,
.alt-id-requirements--select--1 .company-separate-requirement:nth-child(1),
.alt-id-requirements--select--2 .company-separate-requirement:nth-child(2) {
  display: none
}
.select-name-alternate-identity .select2-results__option {
  font-size: 15px;
  letter-spacing: -.2px
}
.select-name-alternate-identity .select2-results__option[aria-disabled=true] {
  cursor: pointer;
  display: flex;
  align-items: center
}
.select-name-alternate-identity .select2-results__option[aria-disabled=true] > * {
  order: 1
}
.select-name-alternate-identity .select2-results__option[aria-disabled=true]:before {
  display: inline-block;
  font: 14px/1 fa-custom;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f29c";
  order: 2;
  margin-left: 10px;
  margin-right: 5px
}
.select-name-alternate-identity .select2-results__option[aria-disabled=true]:after {
  order: 2;
  content: " Why disabled?"
}
.modal-backdrop {
  z-index: 1002
}
@media (min-width: 768px) {
  .comment-form .form-author-option {
    padding-top: 20px
  }
  .node-form .anonymous-post {
    max-width: 100%
  }
  .form-author-option .form-header {
    margin-top: -10px;
    margin-bottom: 10px
  }
  .form-author-option .tooltip .tooltip-inner {
    max-width: 400px
  }
}
@media (min-width: 992px) {
  .comment-form .form-author-option .author-details {
    margin-bottom: 0!important
  }
  .form-author-option .author-details .wso-username-link {
    font-weight: 800
  }
}
@media (min-width: 1200px) {
  .comment-form .author-info,
  .comment-form .identity-options {
    width: 50%
  }
}
@media (max-width: 767px) {
  .comment-form .form-author-option .form-header label {
    margin-bottom: 0
  }
  .comment-form .form-header .form-header-info {
    font-size: 11px;
    line-height: 120%
  }
  .comment-form .tooltip.in {
    left: 15px!important
  }
  .form-author-option .author-info,
  .form-author-option .form-header,
  .form-author-option .identity-options {
    padding: 0
  }
}
/*# sourceMappingURL=wso-alternate-identity.user.component.css.map */
