<ul class="{{ classes }}" {{ role }} {{ aria }}>
  <div class="dropdown forum_course__only_mobile">
    <a class="btn dropdown-toggle forum__dropdown_option d-flex justify-content-between"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span><i class="icon icon-graduation-cap"></i>{{ 'Courses'|t }}</span>
      <i class="icon icon-angle-up"></i>   
    </a>
    <ul class="dropdown-menu forum_course__dropdown__submenu">
      {% for item in selected_forums_list.courses %}
        <li><a href="{{ item.url }}" class="forum__dropdown_option {{ item.title }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <li><a href="/tracker" class="forum__dropdown_option" title="Recently Active"><i class="icon icon-time"></i>{{ 'Recently Active'|t }}</a></li>
  <li><a href="/tracker/top/72-hours" class="forum__dropdown_option" title="Top Discussions"><i class="icon icon-bolt"></i>{{ 'Top Discussions'|t }}</a></li>
  {% if logged_in %}
    <li><a href="/tracker/bookmarks" class="forum__dropdown_option" title="My Bookmarks"><i class="icon icon-bookmark"></i>{{ 'My Bookmarks'|t }}</a></li>
  {% endif %}
  <li><a href="/tracker/top" class="forum__dropdown_option" title="Best Content"><i class="icon icon-trophy"></i>{{ 'Best Content'|t }}</a></li>
  <li><a href="/media" class="forum__dropdown_option" title="WSO Media"><i class="icon icon-youtube-play"></i>{{ 'WSO Media'|t }}</a></li>
  <li>
    <ul class="dropdown-menu forum__dropdown__submenu" role="menu"><h3>{{ 'By Industry'|t }}</h3>
      {% for item in selected_forums_list.by_industry %}
        <li><a href="{{ item.url }}" class="forum__dropdown_option">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <ul class="dropdown-menu forum__dropdown__submenu" role="menu"><h3>{{ 'Related'|t }}</h3>
      {% for item in selected_forums_list.related %}
        <li><a href="{{ item.url }}" class="forum__dropdown_option">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
</ul>
