.paragraphs-item-card-with-navigation {
  .field-name-field-card-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-neutral-3);
    padding-bottom: 30px;
    @include responsive-prop(700, 800, 'font-weight');
  }
}
