.paragraph--type--carousels-list {
  @include responsive-prop(40px, 96px, padding-top);

  > .content {
    @include media('<tablet') {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    @include media('>large-desktop') {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  .paragraph--type--carousel-item {
    padding-right: 0;
    padding-left: 0;
  }

  .card {
    text-align: left;

    .card-title,
    .card-text {
      font-style: italic;
      font-weight: 700;
    }

    .card-title {
      font-size: 13px;
      margin-bottom: 0;
      color: $color-oasis-blue;

      .darkmode & {
        color: $color-blue;
      }
    }

    .card-text {
      font-size: 15px;
      letter-spacing: 0.2px;
      color: $color-neutral-8;

      .field {
        &:after {
          content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_green.png);
          display: inline-block;
          margin-left: -3px;
        }
      }
    }
  }

  .slick-dots {
    bottom: 5px;
  }
}
