.paragraph--type--carousel {
  .card {
    padding: 0;
    border-radius: 3px;
    border: 1px solid var(--color-neutral-3);
    box-shadow: none;
  }

  .slick {
    &-dots {
      li {
        margin: 0;

        button {
          padding: 0;

          &:before {
            font-size: 10px;
            opacity: 1;
            color: var(--color-neutral-4);
          }
        }

        &.slick-active {
          button:before {
            color: $color-oasis-blue;

            .darkmode & {
              color: $color-blue;
            }
          }
        }
      }
    }
  }
}
