@import "video-grid";
@import "video";

@media (min-width: 768px) {
	.collapse.dont-collapse-sm {
    display: block !important;
    height: auto !important;
    visibility: visible;
    .panel-body {
      .section {
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .paragraphs-item-collapsible-on-small-devices {
    .content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .panel-body {
      padding: 15px 0;
      .section {
        padding-top: 20px;
      }
    }
    .visible-xs.collapsible-sm-title {
      display: flex !important;
    }
    .field-name-field-collapsible-title-sm {
      width: 100%;
    }
    a.collapsible-sm-title {
      color: var(--color-base);
      font-size: 1rem;
      padding-top: 12px;
      padding-bottom: 12px;
      line-height: 1.2;
      .collapsible-icon {
        width: 50px;
        transition: .2s;
      }
    }
    a[aria-expanded="true"] {
      color: $color-oasis-blue;
      i {
        transform: rotate(180deg);
        color: $color-oasis-blue;
      }
    }
  }
}
