.paragraph--type--cpe-credits {
  background: $color-blue;
  color: var(--color-neutral-0);
  padding: 50px 0 40px;

  a {
    color: var(--color-neutral-0);

    &,
    &:hover {
      text-decoration: none;
      cursor: default;
      pointer-events: none;
    }
  }

  .field-name-field-wsop-image {
    min-width: 130px;
    margin-top: 10px;

    @include media('<tablet') {
      min-width: 100%;
    }

    img {
      border-radius: 100%;
      max-width: 75px;
      height: auto;
    }
  }
}
