.section--divider--sm.paragraphs-item-customers-logos {
  padding: 40px 0!important;
}
.paragraphs-item-customers-logos {
  h6.title {
    margin-bottom: 20px !important;
  }
  .field-name-field-company-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
    .field--item {
      width: 33%;
      padding: 15px 15px 0 15px;
      @include media('>=tablet') {
        width: 25%;
      }
      @include media('>=desktop') {
        width: 14%;
      }
      img {
        max-height: 50px;
        margin: auto;
        object-fit: contain;
        display: flex;
        width: 100%;
    }
  }
  }

  img.list-brand__img__all {
    max-width: 100%;
    height: auto;
  }

  .text-white {
    .darkmode & {
      color: var(--color-neutral-9) !important;
    }
  }
}
