//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.editorial__section,
.view-editorial-board {
  background-color: var(--color-neutral-0);
}

.editorial__blocks,
.view-content > .item-list > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 !important;
  width: 100%;
  padding: 0;

  .separate-line-sm {
    display: none;
  }
}

.view-content > .item-list > ul > li {
  list-style: none;

  @include media('>=tablet') {
    width: 50%;
    flex: 0 0 auto;
  }

  @include media('>=desktop') {
    width: 33.3333%;
    flex: 0 0 auto;
  }
}

.editorial__tags {
  display: inline-block;
  width: 100%;
  list-style: none;
  padding: 0 !important;
  margin-bottom: 24px;

  ul {
    padding: 0 !important;
  }

  li {
    line-height: 1 !important;
  }
}

.editorial__edus {
  display: inline-block;
  list-style: none;
  margin-bottom: 4px;
  padding: 0 !important;
  width: 100%;
}

.editorial__block {
  position: relative;
  padding: 16px;
  margin-bottom: 64px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    &:before {
      border: solid 1px var(--color-neutral-4);
      border-radius: 10px;
      bottom: 0;
      box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .1);
      content: "";
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .editorial__img-block {
      &:after {
        background-color: $color-green-100;
        border-radius: 3px;
        color: var(--color-neutral-0);
        content: "Full Bio";
        cursor: pointer;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 500;
        left: 50%;
        letter-spacing: .2px;
        line-height: 1.13;
        padding: 15px 50px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
    }
  }
}

.editorial__img-block {
  background-blend-mode: screen;
  background-position: center !important;
  background-size: cover !important;
  display: inline-block;
  //height: 300px;
  position: relative;
  width: 100%;

  img {
    height: auto;
  }

  .media {
    img {
      filter: grayscale(1) ;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgb(44, 170, 246);
      mix-blend-mode: screen;

      .darkmode & {
        display: none;
      }
    }
  }
}

.editorial__uname {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-size: 28px !important;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.1px;
  line-height: normal;
  margin: 24px 0 12px;
}

.editorial__text {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 1.63;
}

.editorial__tag {
  padding: 4px 12px 5px;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-4);
  margin-bottom: 6px;
  margin-right: 3px;
  display: inline-block;

  &:last-child {
    margin: 0;
  }

}

.editorial__tag_link {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .1px;
  color: var(--color-base);
  padding-left: 20px;

  &:before {
    background-image: url(/themes/custom/porto_sub/images/icons/icon_label-blue.png);
    background-size: cover;
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
  }
}

.editorial__edu {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57 !important;
  letter-spacing: normal;
  color: var(--color-base);
  padding-left: 28px;
  margin-bottom: 8px;

  span {
    font-weight: 500;
  }

  &:before {
    background-image: url(/themes/custom/porto_sub/images/icons/icon_student-cap-green.png);
    background-size: cover;
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    width: 20px;
  }
}

.editorial__modal {
  .modal-body {
    padding: 15px;
  }

  .editorial__blocks {
    display: block;
  }

  .editorial__tags {
    display: block;
    margin-bottom: 10px;
    margin-top: 8px;
  }

  .editorial__edus {
    display: inline-block;
    width: auto;
    margin-bottom: 16px;
    margin-top: 8px;

    .field--item {
      position: relative;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57 !important;
      letter-spacing: normal;
      color: var(--color-base);
      padding-left: 28px;
      margin-bottom: 8px;

      span {
        font-weight: 500;
      }

      &:before {
        background-image: url(/themes/custom/porto_sub/images/icons/icon_student-cap-green.png);
        background-size: cover;
        content: "";
        height: 12px;
        left: 0;
        position: absolute;
        top: 49%;
        transform: translateY(-50%);
        width: 20px;
      }
    }
  }

  .editorial__buttons {
    margin-top: 0;

    .field--item {
      a {
        display: inline-block;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: .2px;
        text-align: center;
        width: 100%;
        margin-bottom: 7px;
        padding: 8px 0;
        //@extend %btn;
        @extend %btn, .btn-success;
        @extend %btn, .btn-sm;

        &:before {
          content: "";
          height: 12px;
          margin-left: -20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 12px;
          background-image: url(/themes/custom/porto_sub/images/icons/icon_phone-white.png);
          background-size: contain;
        }
      }

      &:nth-child(even) {
        a {
          border-color: transparent;
          background-color: rgba(121,186,90,.1);
          color: #0cb930;

          &:before {
            background-image: url(/themes/custom/porto_sub/images/icons/icon_document-green.png);
            background-size: contain;
            content: "";
          }
        }
      }
    }
  }

  .editorial__uname {
    display: inline-block;
    margin: 5px 0 12px;
  }

  .editorial__text {
    color: var(--color-base);
    display: inline-block;
    width: 100%;
  }

  button {
    &.close {
      font-size: 32px;
      position: relative;
      right: 0;
      top: -9px;
    }
  }
}

.editorial__img-modal-block {
  float: left;
  margin-bottom: 16px;
}

.editorial__modal_img {
  background-blend-mode: normal;
  background-size: cover !important;
  display: inline-block;
  height: 280px;
  margin-right: 24px;
  position: relative;
  width: 280px;
}

.editorial__part_left {
  display: inline-block;
  float: left;
  position: relative;
}

.editorial__part_right {
  display: inline-block;
  left: 0;
  width: 100%;
}

.editorial__buttons {
  margin-top: 24px;
}

.editorial__modal_button {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: .2px;
  text-align: center;
  width: 100%;
  margin-bottom: 7px;
  padding: 8px 0;

  &:before {
    content: "";
    height: 12px;
    margin-left: -20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
  }

  &.btn-success {
    &:before {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_phone-white.png);
      background-size: contain;
      content: "";
    }
  }

  &.btn-other {
    &:before {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_document-green.png);
      background-size: contain;
      content: "";
    }
  }
}

.editorial__title {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  display: inline-block;
  font-size: 48px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.17;
  margin: 0 0 16px;
  text-align: center;
  width: 100%;
}

.editorial__description_block {
  display: inline-block;
  width: 100%;
}

.editorial__description {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.1px;
  line-height: 1.63;
  margin: 0 auto 32px;
  max-width: 800px;
  text-align: center;
}

.editorial__head {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}

.editorial__head_link {
  text-transform: capitalize;
}

.page-node-417000 {
  .post-wrap {
    .post-header {
      height: 0;
      visibility: hidden;
    }

    .post-footer {
      height: 0;
      visibility: hidden;
    }
  }

  .well {
    padding: 0 24px;
  }

  .field-name-body {
    .field-item {
      margin-bottom: 0;
    }
  }

  .main {
    margin-top: 0;
  }
}

.editorial__logos {
  display: inline-block;
  margin-top: 16px;
  width: 100%;

  .field-name-field-media-reference {
    display: flex;
    flex-wrap: wrap;

    .field--item {
      display: inline-block;
      width: auto;
      margin-right: 8px;
      margin-bottom: 8px;
      border-radius: 3px;

      img {
        display: inline-block;
        max-height: 48px;
        width: auto;
        object-fit: contain;
      }
    }
  }
}

.block__q-tip {
  .q-tip-q {
    background: url(/themes/custom/porto_sub/images/icons/icon_qtip.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-bottom: -3px;
    margin-left: 5px;
    width: 17px;
  }
}

.q-tip-data {
  display: none;
  position: absolute;
  z-index: 999999;
  font-size: 11px;
  cursor: pointer;
  text-align: left;
  font-weight: 400;
  color: var(--color-base);

  .q-tip-content {
    background: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-5);
    cursor: auto;
    font-family: 'Lato', "Lucida Grande", Lucida, Verdana, sans-serif;
    max-width: 225px;
    min-height: 150px;
    min-width: 225px;
    padding: 5px;
    text-transform: none;
  }

  p {
    color: var(--color-neutral-7);
    line-height: 14px;
    margin: 0 0 8px;
  }
}

#help-txt {
  .q-tip-data {
    display: none;
    position: absolute;
    z-index: 999999;
    font-size: 11px;
    cursor: pointer;
    text-align: left;
    font-weight: 400;
    color: var(--color-base);

    .q-tip-content {
      background: var(--color-neutral-0);
      border: 1px solid var(--color-neutral-5);
      cursor: auto;
      font-family: 'Lato', "Lucida Grande", Lucida, Verdana, sans-serif;
      max-width: 225px;
      min-height: 150px;
      min-width: 225px;
      padding: 5px;
      text-transform: none;
    }
  }
}

.editorial__modal .modal-content {
  border: 0;
}

.editorial__modal .modal-dialog {
  margin: 0;
}

.editorial__social-link,
.editorial__part_right .field-name-field-cta a {
  line-height: 0;
  font-size: 0;
  color: transparent;

  &:before {
    color: var(--color-neutral-5);
    padding-left: 10px;
    vertical-align: bottom;
    content: '\f0e1';
    font: normal normal normal 20px/1 'fa-custom';
    display: inline-block;
  }
}

@include media('<tablet') {
  .editorial__block {
    width: 100% !important;
  }

  .editorial__head {
    padding: 20px 15px;
  }

  .editorial__title {
    font-size: 36px;
  }

  .editorial__modal {
    .in {
      padding: 0 !important;
    }
  }
}

@media (max-width: 413px) {
  .editorial__modal_img {
    height: 200px;
    width: 200px;
  }
}

@include media('<desktop') {
  .editorial__part_left {
    text-align: center;
    width: 100%;
  }

  .editorial__modal_img {
    margin: 0;
  }

  .editorial__modal {
    button {
      &.close {
        position: absolute;
        right: 16px;
        top: 8px;
      }
    }
  }
}

@include media('>=tablet', '<large-desktop') {
  .editorial__section,
  .view-editorial-board {
    padding: 15px;
  }
}

@include media('>=tablet', '<desktop') {
  .editorial__head {
    padding: 50px 15px;
  }
}

@include media('>=tablet') {
  .editorial__modal .modal-content {
    border-radius: 0;
  }
}

@include media('>=desktop') {
  .separate-line-lg {
    display: none;
  }

  .editorial__modal .modal-dialog {
    width: 100%;
    max-width: 100%;
  }

  .editorial__part_right {
    position: relative;
    width: calc(100% - 304px);
  }

  .editorial__head {
    padding: 80px 15px;
  }
}

@include media('>=large-desktop') {
  .page-node-417000 {
    .main {
      .container {
        max-width: 1180px;
      }
    }
  }

  .editorial__section,
  .view-editorial-board {
    padding: 55px 46px 0;
  }

  .editorial__modal {
    .modal-body {
      padding: 32px 40px;
    }

    button {
      &.close {
        right: -16px;
        top: -16px;
      }
    }
  }

  .editorial__head {
    padding: 108px 30px;

    &:after {
      background: url(/themes/custom/porto_sub/images/bg/bg-logos.jpg) center no-repeat;
      background-size: contain;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;

      .darkmode & {
        filter: invert(1);
      }
    }
  }

  .editorial__img-modal-block {
    margin-bottom: 32px;
  }
}
