.paragraph--type--feedback-cards {
  > .content{
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  h2.title--md {
    strong {
      color: $color-oasis-blue;
    }
  }

  .entity-paragraphs-item {
    padding: 0;
  }

  .field-name-field-wso-paragraphs {
    .field--item + .field--item {
      margin-top: 25px;
    }
  }

  .card__stars {
    .icon {
      color: var(--color-neutral-4);
    }

    &.rating-1 {
      .icon:nth-child(1) {
        color: $color-yellow;
      }
    }

    &.rating-2 {
      .icon:nth-child(1),
      .icon:nth-child(2){
        color: $color-yellow;
      }
    }

    &.rating-3 {
      .icon:nth-child(1),
      .icon:nth-child(2),
      .icon:nth-child(3) {
        color: $color-yellow;
      }
    }

    &.rating-4 {
      .icon:nth-child(1),
      .icon:nth-child(2),
      .icon:nth-child(3),
      .icon:nth-child(4) {
        color: $color-yellow;
      }
    }

    &.rating-5 {
      .icon {
        color: $color-yellow;
      }
    }
  }

  // Special styles for carousel.
  &.carousel {
    @include responsive-prop(45px 0 45px, 90px 0 96px, 'padding');

    .path-frontpage & {
      @include responsive-prop(45px 0 10px, 45px 0 10px, 'padding');
    }

    .field-name-field-wsop-title {
      @include responsive-prop(700,800, 'font-weight');
      color: $color-oasis-blue;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
    }

    .field-name-field-wsop-rich-text {
      font-size: 14px;
    }

    .feedbacks-slider {
      padding-top: 20px;
    }

    .card {
      @include responsive-prop(15px 20px, 30px 45px, 'padding');
      background: var(--color-neutral-0);
      box-shadow: 0 2px 12px 3px rgba(218, 218, 218, 0.25);
      border-radius: 3px;
      border: 0;
      text-align: center;

      &__icon {
        color: $color-oasis-blue;
        font-size: 40px;
        margin-bottom: 20px;
        display: inline-block !important;
      }

      &__author {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
      }

      &__author-position {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: $color-oasis-blue !important;
      }

      .path-frontpage  & {
        &__stars {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
  }
}
