.entity-paragraphs-item.paragraph--type--layout,
.entity-paragraphs-item.paragraphs-item-flexible {
  padding: 40px 0;
  position: relative;

  @media (min-width: 768px) {
    padding: 80px 0;
  }

  .entity-paragraphs-item {
    margin-bottom: 30px !important;
  }

  &.color-inverse {
    .entity-paragraphs-item {
      margin-bottom: 0 !important;
    }
  }

  .paragraphs-item-wso-paragraph-table {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      font-style: italic;
      font-size: 16px;
      border: 1px solid var(--color-neutral-5);
    }

    th {
      font-weight: normal;
      text-align: left;
      border: 1px solid var(--color-base);
      padding: 20px;

      p {
        margin: 0;
      }
    }

    tr {
      &.even {
        background-color: transparent;
        border: none;

        td {
          background-color: transparent;
          border: 1px solid var(--color-neutral-5);
        }

        th {
          background-color: transparent;
          border-bottom: var(--color-neutral-0) 1px solid;
        }
      }

      &.odd {
        background-color: transparent;
        border: none;

        td {
          background-color: transparent;
          border: 1px solid var(--color-neutral-5);
        }

        th {
          background-color: transparent;
          border-bottom: var(--color-neutral-0) 1px solid;
        }
      }
    }

    td {
      border: 1px solid var(--color-neutral-5);
      padding: 20px;
      text-align: left;

      p {
        margin: 0 0 5px;
        line-height: 26px;

        &:first-child {
          color: #0076c8;
          font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 18px;
          @include responsive-prop(700, 800, 'font-weight');
          margin: 0 0 16px;
          line-height: 1.3;
        }
      }
    }

    .tablefield-wrapper {
      position: relative;

      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid var(--color-neutral-4);

        > table {
          background-color: var(--color-neutral-0);
          margin-bottom: 0;
        }
      }
    }

    &.header-type-0 {
      th {
        background-color: var(--color-base);
        color: var(--color-neutral-0);
        @include responsive-prop(700, 800, 'font-weight');
      }
    }

    &.header-type-1 {
      th {
        background-color: var(--color-base);

        &,
        p {
          color: var(--color-neutral-0) !important;
          font-weight: normal !important;
        }
      }

      tr {
        &:last-child {
          background-color: transparent;

          &,
          p {
            font-size: 18px;
            @include responsive-prop(700, 800, 'font-weight');
            color: #ff6c00;
          }
        }
      }
    }

    &.header-type-2 {
      th {
        &:first-child {
          background-color: var(--color-base);
          color: var(--color-neutral-0);
          @include responsive-prop(700, 800, 'font-weight');
        }
      }
    }

    &.header-type-3 {
      th {
        &:first-child {
          background-color: var(--color-base);
          color: var(--color-neutral-0);
          @include responsive-prop(700, 800, 'font-weight');
        }

        &:last-child {
          background-color: transparent;
          @include responsive-prop(700, 800, 'font-weight');
        }
      }

      td {
        &:first-child {
          background-color: var(--color-base);
          color: var(--color-neutral-0);
          @include responsive-prop(700, 800, 'font-weight');
        }

        &:last-child {
          background-color: transparent;
          @include responsive-prop(700, 800, 'font-weight');
        }
      }
    }

    &.header-type-4 {
      th {
        background-color: var(--color-base);
        color: var(--color-neutral-0);
        @include responsive-prop(700, 800, 'font-weight');
      }

      td {
        &:first-child {
          background-color: transparent;
          @include responsive-prop(700, 800, 'font-weight');
        }
      }
    }
  }

  .paragraphs-item-text-with-title {
    padding-left: 30px;
    position: relative;

    .field-name-field-wsop-title {
      @include responsive-prop(700, 800, 'font-weight');
      margin-top: 0;
      font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
      line-height: 1.3;
      text-transform: none;
      font-size: 17px;
      margin-bottom: 10px;
      color: #ff6c00;
    }

    &:before {
      font-family: fa-custom;
      font-size: 16px;
      left: 0;
      position: absolute;
      top: 0;
      color: var(--color-neutral-7);
      content: '\f14a';
    }
  }

  .paragraph-type--wso-paragraph-rich-text.field-item + .field-item {
    //margin-top: -30px;
  }
}

.paragraph-type--feedback-cards + .paragraph-type--flexible .entity-paragraphs-item.paragraphs-item-flexible.color-inverse {
  padding: 20px 0 20px;

  @media (min-width: 768px) {
    padding: 40px 0 40px;
  }
}

.paragraph-type--accordion + .paragraph-type--flexible {
  .entity-paragraphs-item.paragraphs-item-flexible {
    padding: 0 0 40px;

    @media (min-width: 768px) {
      padding: 0 0 80px;
    }
  }
}
