.paragraphs-item-wso-paragraph-image {
  text-align: center;

  .content {
    /* autoprefixer: ignore next */
    page-break-inside: avoid;
  }

  .field--type-string {
    margin-top: 15px;
    font-weight: 700;
    font-size: 14px;

    @media (min-width: 992px) {
      font-weight: 800;
    }
  }
}

.entity-paragraphs-item {
  .field-name-field-wsop-image {
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;

      .print-version & {
        max-height: 890px;
        height: auto;
        width: auto;
        margin: 0;
      }
    }
  }
}
