.paragraph--type--list-with-cards {
  @include wso-container();

  .paragraph-header {
    font-size: 18px;

    .field-name-field-wsop-title {
      margin-bottom: 0;
      font-weight: 800;
    }
  }

  .paragraph-header + .field-name-field-wso-paragraphs {
    margin-top: 20px;
  }

  .field-name-field-wso-paragraphs {
    $gap: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @include media('>=tablet') {
      margin-left: -#{$gap};
      margin-right: -#{$gap};
    }

    .paragraphs-item-help-card {
      margin: 0;
      display: inline-flex;
    }

    > .field--item {
      margin-bottom: 40px;
      display: inline-flex;
      width: 100%;
      flex: 0 0 100%;

      @include media('>=tablet') {
        width: calc(50% - #{$gap * 2});
        flex: 0 0 calc(50% - #{$gap * 2});
      }

      @include media('>=desktop') {
        width: calc(33.33% - 40px);
        flex: 0 0 calc(33.33% - 40px);
      }
    }
  }

  .card {
    flex: 1;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.15);

    &:hover {
      box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.05);
    }

    .field-name-field-paragraph-image {
      height: 180px;
    }

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 100%;
      object-fit: cover;
      width: 100%;
      font-family: 'object-fit: cover;';
    }

    &-header {
      display: none;
    }

    &-title {
      margin-top: 0;
      font-size: 18px;
      letter-spacing: 0;
      font-weight: 600;

      @media (max-width: 479px) {
        line-height: 1.2;
      }

      @include media('>=tablet') {
        font-size: 22px;
      }

      @include media('>=desktop') {
        font-size: 24px;
      }
    }

    &-text {
      .field {
        font-size: 18px;
      }
    }

    &-body {
      padding: 1.75rem;
      color: var(--color-base);

      p:last-child {
        margin-bottom: 0;
      }

      .btn {
        margin-top: 30px
      }
    }
  }

  // Variation: small cards, 4 in a row.
  &.small-cards {
    .field-name-field-wso-paragraphs {
      $gap: 15px;

      @include media('>=tablet') {
        margin-left: -#{$gap};
        margin-right: -#{$gap};
      }

      > .field--item {
        @include media('>=tablet') {
          width: calc(50% - #{$gap * 2});
          flex: 0 0 calc(50% - #{$gap * 2});
        }

        @include media('>=desktop') {
          width: calc(25% - #{$gap * 2});
          flex: 0 0 calc(25% - #{$gap * 2});
        }
      }
    }

    .card {
      &-title {
        @include media('>=tablet') {
          font-size: 20px;
        }

        @include media('>=desktop') {
          font-size: 22px;
        }
      }

      &-text {
        .field {
          font-size: 16px;
        }
      }
    }
  }

  // Carousel variation.
  .slick-slider {
    .slick-prev {
      left: 3px;
    }

    .slick-next {
      right: 3px;
    }

    .slick-prev,
    .slick-next {
      z-index: 9;
      opacity: 0;

      .is-touch & {
        opacity: 0.75;
      }

      &:before {
        color: $color-blue;
      }
    }

    &:hover {
      .slick-prev,
      .slick-next {
        opacity: 0.75;
      }
    }

    .slick-track {
      padding: 10px 0;
      display: flex;
    }

    .slick-slide {
      margin: 0 15px;
      float: none;
      height: auto;
    }

    .paragraphs-item-help-card {
      height: 100%;
    }
  }
}
