@import "./components/03-organisms/view/list-of-bootcamps/list-of-bootcamps.component";

.paragraph--type--list-of-bootcamps {
  .field-name-field-wsop-title {
    @include responsive-prop(700, 800, font-weight);
    color: inherit;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3;
    font-size: 22px;
    padding-top: 0;
    text-align: center;

    @include media('>=tablet') {
      font-size: 27px;
    }
  }

  .btn {
    min-width: 100px;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  }
}
