.paragraph-type--message-from-seo {
  .img-about-left {
    width: 190px;
    height: 190px;
    float: none;

    @include media('>=375px') {
      float: left;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .box--primary {
    .darkmode & {
      color: var(--color-neutral-8) !important;
    }
  }

  .section--has-overlay--blue:before {
    .darkmode & {
      background: rgba(23, 81, 105, 1);
    }
  }
}
