.paragraphs-item-module {
  background: #2C3033;

  .field-name-field-image {
    text-align: center;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px;
    }
  }

  .module-listing {
    ul {
      @include landing-list();
    }
  }

  &.text-white {
    .darkmode & {
      color: $color-neutral-4 !important;
    }
  }
}
