.paragraphs-item-bonus-modules {
  .field-name-field-wso-paragraphs {
    > .field--item + .field--item {
      margin-top: 40px;
    }
  }
}

.paragraphs-item-bonus-module-item {
  .field-type-paragraphs {
    > .field--item {
      margin-bottom: 30px;
    }
  }

  .paragraphs-item-wso-paragraph-rich-text {
    ul {
      @include landing-list();
    }

    &:nth-child(odd) {
      ul li:before {
        color: #ff6c00;
      }
    }

    &:nth-child(even) {
      ul li:before {
        color: #0076c8;
      }
    }
  }

  .paragraphs-item-wso-paragraph-sibe-by-side ul li:before {
    color: var(--color-base);
  }

  .paragraphs-item-wso-paragraph-title {
    font-weight: 700;
  }

  .panel-heading {
    h3 {
      font-family: Oswald-Regular, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}
