@import "./components/common-styles/helpers/colors";

.paragraphs-item-wso-paragraphs-in-block {
  .field-name-field-wsop-paragraphs-in-block  {
    border: var(--color-neutral-9) 1px solid;
    /* autoprefixer: ignore next */
    page-break-inside: avoid;

    > .field--item {
      padding: 20px;

      .print-version & {
        padding: 20px;
      }
    }
  }

  .paragraphs-item-wso-paragraph-image {
    img {
      width: 100%;
    }
  }
}
