.paragraphs-item-wso-paragraph-pdf {
  iframe {
    min-height: 600px;
  }

  .content-print {
    display: none;
  }

  //Print styles
  .print-version & {
    .content {
      display: none;
    }

    .content-print {
      display: block;

      a {
        display: block;
      }
    }
  }
}
