@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";
// Academy Team List
.paragraph--person-cards {
    .field-name-field-wso-paragraphs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      & > .field--item {
        width: 100%;
        padding: 15px;
        text-align: center;
        @include media('>=tablet') {
          width: 50%;
          text-align: left;
        }
      }
    }
  }