@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./components/common-styles/helpers/wso-bootstrap-variables--override";
@import "./node_modules/bootstrap/scss/mixins";

@import "./components/common-styles/helpers/colors";

.paragraph--type--resources-block {
  @include wso-container();

  .wso-resources__section {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 20px;
  }

  .wso-resources__section-body {
    border-bottom: var(--color-neutral-2) 2px solid;
    padding: 20px 28px;

    h4 {
      @include font-color-grey-darkmode;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: .1px;
      line-height: 1.25;
    }

    h3 {
      @include responsive-prop(700, 800, font-weight);
      color: var(--color-base);
      font-size: 26px;
      letter-spacing: .2px;
      line-height: 1.25;
      margin-bottom: 10px;
    }

    p {
      color: var(--color-base);
      font-size: 18px;
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 1.56;
    }
  }

  .wso-resources__section-body--no-border {
    border: 0;
  }

  .wso-resources__section-links {
    padding: 10px 28px 10px;
  }

  .wso-resources__section-text {
    padding-right: 50px;
  }

  .wso-resources__section-image {
    height: 140px;

    @include media('>=tablet') {
      height: auto;
      width: 40%;
    }

    div {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px;
      height: 100%;

      .darkmode & {
        filter: grayscale(75%) brightness(75%);
      }
    }
  }

  .wso-resources__section-cta {
    .field-name-field-paragraph-link {
      display: flex;
      flex-wrap: wrap;
      align-itemst: center;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      .field--item {
        margin: 0;
        width: 100%;
        padding: 4px 0;
        white-space: nowrap;

        @include media('>=tablet') {
          padding: 7px 20px 7px 0;
          width: 50%;
        }

        @include media('>=desktop') {
          width: 33%;
        }

        a {
          color: $color-blue;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: .1px;
          line-height: 1.25;
          white-space: normal;
        }

        i {
          content: url("/themes/custom/porto_sub/images/icons/icon_arrow_right.png");
        }
      }
    }
  }

  @include media('>=tablet') {
    .wso-resources__section {
      margin-bottom: 30px;

      .row-flex {
        align-content: center;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }

    .wso-resources__section-image {
      margin-top: 0;
      width: 40%;
    }

    .wso-resources__section-body {
      padding: 40px 56px;

      h4 {
        font-size: 16px;
      }

      h3 {
        font-size: 32px;
      }
    }

    .wso-resources__section-links {
      padding: 20px 56px 20px;
    }

    .wso-resources__section-text {
      padding-right: 90px;
      width: 60%;
    }
  }
}
