.paragraph--type--review-list {
  .content-gaps > .field-name-field-wso-paragraphs {
    display: grid;
    grid-row-gap: 40px;
    row-gap: 40px;
    grid-column-gap: 60px;
    column-gap: 60px;
    grid-template-columns: repeat(1,minmax(0,1fr));

    @include media('>=tablet') {
      grid-template-columns: repeat(2,minmax(0,1fr));
      grid-column-gap: 100px;
      column-gap: 100px;
    }
  }
}

.paragraph--type--review-item {
  color: #1277A7;

  img {
    width: 90px;
    height: auto;
    border-radius: 100%;
  }

  .field-name-field-first-name {
    @include responsive-prop(700, 800, font-weight);
    font-size: 22px;
  }

  .field-name-field-paragraph-text p {
    font-size: 18px;
  }
}
