@import "./components/common-styles/helpers/mixins.scss";

.formatted-text {
  @include rich-text();
}

.paragraphs-item-wso-paragraph-rich-text {
  //Print styles
  .print-version & {
    a:after{
      content: " (" attr(href) ") ";
    }

    ul {
      li {
        display: block;

        &:before {
          display: inline-block;
        }
      }
    }
  }
}

.entity-paragraphs-item {
  .field-name-field-wsop-rich-text {
    p {
      margin-top: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      em {
        .print-version & {
          line-height: 18px;
        }
      }

      strong {
        .print-version & {
          font-weight: 800;
        }
      }
    }

    .print-version & {
      h4 {
        line-height: 22px;
        font-weight: 800;
      }

      h5 {
        line-height: 20px;
      }

      h6 {
        line-height: 20px;
        font-weight: 800;
      }

      ul {
        li {
          display: block;
          padding-left: 20px;
          position: relative;

          &:before {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
