@import "rich-text--print";

.paragraphs-item-wso-paragraph-rich-text {
  .btn {
    margin-bottom: 15px;

    @include media('>=tablet') {
      margin-bottom: 0;
    }

    .icon-right {
      &:before {
        content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_white.png);
        display: inline-block;
      }
    }

    &-default {
      color: $color-blue;
      font-size: 18px;
      padding-left: 0;

      .icon-right {
        content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_alt_blue.png);
      }
    }

    &-info {
      @include wso-button-outline-variant('success', $color-green-100);
      background-color: transparent !important;

      .icon-right {
        &:before {
          content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_green.png);
        }
      }
    }

    & +.btn {
      @include media('>=tablet') {
        margin-left: 15px;
      }
    }
  }
}
