@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./components/common-styles/helpers/wso-bootstrap-variables--override";
@import "./node_modules/bootstrap/scss/mixins";
@import "./components/common-styles/helpers/colors";

.paragraph--type--services-block {
  @include wso-container();

  .wso-resources__section {
    background-color: var(--color-neutral-0);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 20px;
  }

  .wso-resources__section-body {
    border-bottom: var(--color-neutral-2) 2px solid;
    padding: 20px 28px;

    h4 {
      @include font-color-grey-darkmode;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: .1px;
      line-height: 1.25;
    }

    h3 {
      @include responsive-prop(700, 800, font-weight);
      color: var(--color-base);
      font-size: 26px;
      letter-spacing: .2px;
      line-height: 1.25;
      margin-bottom: 10px;
    }

    p {
      color: var(--color-base);
      font-size: 18px;
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 1.56;
    }
  }

  .wso-resources__section-body--no-border {
    border: 0;
  }

  .wso-resources__section-links {
    padding: 10px 28px 10px;
  }

  .wso-resources__section-text {
    padding-right: 50px;
  }

  .wso-resources__section-image {
    height: 250px;
    margin-top: 20px;
    position: relative;

    .field-name-field-paragraph-image {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        font-family: 'object-fit: cover;';
        border-radius: 8px;
      }
    }
  }

  .wso-resources__section-cta {
    .field-name-field-paragraph-link {
      display: flex;
      flex-wrap: wrap;
      align-itemst: center;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      .field--item {
        margin: 10px 10px 0 0;

        a {
          color: $color-blue;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: .1px;
          line-height: 48px;
          margin-left: 14px;
          white-space: normal;
        }

        a:not(.btn) {
          white-space: nowrap;
          display: inline-flex;

          &:after {
            content: url("/themes/custom/porto_sub/images/icons/icon_arrow_right.png");
            display: block;
            transition: margin-left 0.3s linear;
          }

          &:hover:after {
            margin-left: 5px;
          }
        }

        .btn-success {
          @include responsive-prop(700, 800, font-weight);
          border-radius: 3px;
          display: inline-flex;
          height: 48px;
          padding: 0 20px;
          align-items: center;
          justify-content: center;
          font-style: normal;
          font-size: 16px;
          text-align: center;
          letter-spacing: .4px;
          text-transform: uppercase;
          color: var(--color-neutral-0);
          margin-left: 0;
          white-space: nowrap;

          &:hover {
            text-decoration: none;
          }
        }

        .btn-warning {
          @include responsive-prop(700, 800, font-weight);
          border-radius: 3px;
          display: inline-flex;
          height: 48px;
          padding: 0 20px;
          align-items: center;
          justify-content: center;
          font-style: normal;
          font-size: 16px;
          text-align: center;
          letter-spacing: .4px;
          text-transform: uppercase;
          color: $color-green-100;
          margin-left: 0;
          white-space: nowrap;
          background-color: var(--color-neutral-2);

          &:hover {
            text-decoration: none;
            border-color: $color-green-100;
          }
        }

        &:first-child {
          a {
            margin-left: 0;
          }
        }
      }
    }
  }

  @include media('>=tablet') {
    .wso-resources__section {
      margin-bottom: 30px;

      .row-flex {
        align-content: center;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }

    .wso-resources__section-image {
      margin-top: 0;
      width: 40%;
    }

    .wso-resources__section-body {
      padding: 40px 56px;

      h4 {
        font-size: 16px;
      }

      h3 {
        font-size: 32px;
      }
    }

    .wso-resources__section-links {
      padding: 20px 56px 20px;
    }

    .wso-resources__section-text {
      padding-right: 90px;
      width: 60%;
    }
  }
}
