.paragraphs-item-wso-paragraph-sibe-by-side {
  /* autoprefixer: ignore next */
  page-break-inside: avoid;

  .print-version & {
    .row {
      &:before,
      &:after {
        display: table;
        content: " ";
      }

      &:after {
        clear: both;
      }
    }

    .col {
      position: relative;
      min-height: 1px;
      float: left;

      .field {
        padding-right: 15px;
        padding-left: 15px;
      }

      &.col-first {
        .field {
          padding-left: 0;
        }
      }

      &.col-last {
        .field {
          padding-right: 0;
        }
      }
    }

    .col-sm-6 {
      width: calc(100% / 24 * 6);
    }

    .col-sm-8 {
      width: calc(100% / 24 * 8);
    }

    .col-sm-12 {
      width: calc(100% / 24 * 12);
    }

    .col-sm-16 {
      width: calc(100% / 24 * 16);
    }

    .col-sm-18 {
      width: calc(100% / 24 * 18);
    }
  }
}


