.paragraph--type--tabs {
  .nav-tabs {
    margin-bottom: 40px;
    border-bottom-width: 3px;

    @include media('<desktop') {
      border: none;
    }

    .nav-item {
      @include media('<desktop') {
        width: 100%;
      }
    }

    .nav-link {
      margin-bottom: -3px;
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
      border-bottom-width: 3px;
      background: transparent;
      border-left-width: 0;
      border-top-width: 0;
      border-right-width: 0;
      padding: 10px 25px;

      @include media('<desktop') {
        width: 100%;
        border-bottom-color: var(--color-neutral-4);
      }

      &.active {
        border-color: var(--color-neutral-4) var(--color-neutral-4) var(--color-base);
      }
    }
  }

  table {
    width: 100% !important;
  }
}
