//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.team-item {
  img {
    min-height: 293px;
  }

  .thumb-info-social-icons {
    margin: 0 10px;
  }
}
.thumb-info-caption {
  p {
    height: 234px;
  }
}
img {
  border: none;
  max-width: 100%;
}
.layout--container {
  margin-left: auto;
  margin-right: auto;
  max-width: 72.875em;
  overflow: hidden;
  width: 90%;
}
.layout--vertical-space {
  margin-top: 1em;
}
.layout--vertical-space-2x {
  margin-top: 2em;
}
.layout--layer-above-nav {
  position: relative;
  z-index: 2;
}
.layout--x-wide {
  &.layout--container {
    max-width: 135em;
  }
}
.is-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.is-animated--fadeInScale {
  animation-delay: 200ms;
  animation-duration: 800ms;
  animation-name: fadeInScale;
  animation-timing-function: ease-in-out;
}
* {
  &:focus {
    outline: none !important;
  }
}
.wso-team--logo-fallback {
  display: none;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.team__container {
  margin-bottom: 4rem;
}
.team__list {
  display: block;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;

  @media (min-width: 560px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team__item {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  margin-bottom: 20px !important;

  &:nth-of-type(even) {
    .wso-team__photo {
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
      float: right;
      order: 2;
    }
  }
}
.wso-team {
  -ms-flex-wrap: wrap;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-3);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: 560px) {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.wso-team__info {
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: flex;
  width: 100%;
}
.wso-team__photo {
  float: left;
  width: 30%;

  .media {
    overflow: hidden;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
.wso-team__name-container {
  -moz-box-align: center;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-preferred-size: 70%;
  align-items: center;
  background-color: var(--color-neutral-0);
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.wso-team__full-name {
  margin: 0;
  text-align: center;
}
.wso-team__first-name {
  color: $darkslategrey_1C4C55;
  display: block;
  margin: 0 !important;
  text-transform: capitalize;

  .darkmode & {
    color: var(--color-neutral-8);
  }
}
.wso-team__last-name {
  @include responsive-prop(700, 800, 'font-weight');
  color: $darkslategrey_1C4C55;
  display: block;
  margin: 0 !important;
  text-transform: capitalize;

  .darkmode & {
    color: var(--color-neutral-8);
  }
}
.wso-team__title {
  color: $teal_2D818F;
  display: block;
  margin: .125em 0 0 !important;
  text-align: center;
  text-transform: capitalize;
}
.wso-team__anchor {
  background-color: var(--color-neutral-3);
  border-top: 1px solid var(--color-neutral-3);
  width: 100%;
}
.wso-team__link {
  width: 100%;
  display: flex;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: .25rem .125rem;
  transition: color ease-in-out 150ms, background-color ease-in-out 150ms;
  font-size: .875rem;
  color: var(--color-neutral-7);
  text-transform: capitalize;
  line-height: 1.2;

  &:before {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background-color: $teal_2D818F;
    color: var(--color-neutral-0);
  }
}
.safe-focus {
  .wso-team__link {
    &:focus {
      background-color: $teal_2D818F;
      color: var(--color-neutral-0);
      position: relative;
      z-index: 100;
    }
  }

  .wso-team-sites__link {
    &:focus {
      background-color: $color-green-100;
      box-shadow: none !important;
      color: var(--color-neutral-0);
      text-decoration: none;
    }
  }
}
.wso-team-sites {
  background-color: var(--color-neutral-3);
  border-top: 1px solid var(--color-neutral-3);
  position: relative;
  width: 100%;
  z-index: 200;
}
.wso-team-sites__list {
  -moz-box-pack: space-evenly;
  -moz-box-sizing: border-box;
  -ms-flex-pack: space-evenly;
  -ms-flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  width: 100%;
}
.wso-team-sites__item {
  -moz-box-align: stretch;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  margin: 0 !important;
  padding: 0 !important;
}
.wso-team-sites__link {
  width: 100%;
  display: flex !important;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding: .25rem .125rem;
  transition: fill ease-in-out 250ms;
  color: var(--color-neutral-4);

  &:hover {
    background-color: $color-green-100;
    box-shadow: none !important;
    color: var(--color-neutral-0);
    text-decoration: none;
  }

  &:active {
    background-color: $teal_27707c;
  }
}
.util-visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.skip-link {
  display: block;
  bottom: 100%;
  position: absolute;
  height: 5em;
  width: 100%;
  padding: 1em;
  text-align: center;

  &:active {
    background-color: var(--color-base);
    bottom: auto;
    color: var(--color-neutral-0);
    top: 0;
    z-index: 800;
  }

  &:focus {
    background-color: var(--color-base);
    bottom: auto;
    color: var(--color-neutral-0);
    top: 0;
    z-index: 800;
  }
}
.field-name-body {
  p {
    &.about-wso__subtitle {
      @include responsive-prop(700, 800, 'font-weight');
      font-size: 28px;
    }
  }
}
@media (min-width: 448px) {
  .wso-team__first-name {
    font-size: .75rem;
  }

  .wso-team__last-name {
    font-size: 1.625rem;
    margin-top: .25em;
  }

  .wso-team__title {
    margin-top: .25em;
  }
}
@media (max-width: 360px) {
  .wso-team__photo {
    float: none;
    width: 80px;
  }
}
@media (min-width: 361px) and (max-width: 400px) {
  .wso-team__photo {
    width: 150px;
  }
}
@media (min-width: 401px) and (max-width: 439px) {
  .wso-team__name-container {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
  }

  .wso-team__photo {
    width: 180px;
  }
}
@media (max-width: 559px) {
  .wso-team__first-name {
    font-size: 10px;
    line-height: 1;
  }

  .wso-team__title {
    font-size: 10px;
    line-height: 1;
  }

  .field-name-body {
    .field-item {
      p {
        &.about-wso__subtitle {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }

  .wso-team__last-name {
    font-size: 16px;
    line-height: 2;
    margin-top: 0;
  }

  .well {
    padding: 5px !important;
  }
}
@media (min-width: 440px) and (max-width: 559px) {
  .wso-team__photo {
    width: 40%;
  }

  .wso-team__first-name {
    font-size: 12px;
    line-height: 1;
  }

  .wso-team__title {
    font-size: 12px;
    line-height: 1;
  }

  .wso-team__last-name {
    font-size: 18px;
    line-height: 2;
    margin-top: 0;
  }
}
@media (min-width: 560px) {
  .team__list {
    width: 100%;
  }

  .team__item {
    margin-bottom: 0;
    padding: 1rem;

    &:nth-child(even) {
      .wso-team__photo {
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 0;
        float: none;
        order: 0;
      }
    }
  }

  .wso-team__info {
    display: block;
  }

  .wso-team__photo {
    float: none;
    width: 100%;
  }

  .wso-team__name-container {
    -moz-box-flex: 2;
    -ms-flex-positive: 2;
    -ms-flex-preferred-size: 100%;
    display: block;
    flex-basis: 100%;
    flex-grow: 2;
    width: 100%;
  }

  .wso-team__first-name {
    font-size: 14px !important;
    line-height: 14px !important;
  }

  .wso-team__last-name {
    font-size: 22px !important;
  }

  .wso-team__title {
    font-size: 14px;
    line-height: 14px !important;
  }
}
@media (min-width: 600px) {
  .wso-team__last-name {
    font-size: 1.625rem;
  }
}
@media (min-width: 672px) {
  .site-nav--link {
    line-height: 1.125;

    &:hover {
      &:after {
        left: .6rem;
        right: .6rem;
      }
    }
  }
}
@media (min-width: 720px) {
  .layout--vertical-space {
    margin-top: 2.5em;
  }

  .layout--vertical-space-2x {
    margin-top: 3em;
  }
}
@media (min-width: 880px) {
  .wso-team__name-container {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 2rem 1rem;
  }

  .wso-team__last-name {
    font-size: 1.25rem;
  }
}
@media (min-width: 928px) {
  .wso-team__last-name {
    font-size: 1.75rem;
  }
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
