.paragraphs-item-grid {
  .field-name-field-first-title p {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;

    @media (min-width: 768px){
      font-size: 33px;
      margin-bottom: 60px;
    }
  }

  .field-name-field-wsop-paragraphs-in-block{
    > .field--items {

      @media (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
      }

      > .field--item {
        @media (min-width: 768px){
          flex: 0 0 50%;
        }

        @media (min-width: 992px){
          flex: 0 0 33%;
        }
      }
    }
  }

  .paragraphs-item-paragraph-with-youtube,
  .paragraphs-item-paragraph-wista-video {
    padding: 15px;

    .field-name-field-wsop-title {
      @include responsive-prop(700, 800, 'font-weight');
      text-align: left;
      font-size: 14px;
      line-height: 1.4;
      margin-top: 10px;
    }

    .field-name-field-paragraph-text {
      &,
      p {
        font-size: 12px;
        line-height: 120%;
      }
    }

    .modal-dialog {
      @media (max-width: 767px) {
        width: calc(100% - 40px);
      }
    }

    .modal-content {
      border: 0;
      background: none;

      .content {
        padding: 0 !important;
      }
    }

    button.close {
      color: var(--color-neutral-0);
      right: -30px;
      top: -8px;
      position: absolute;
      opacity: 1;
      font-size: 30px;
      font-weight: 400;

      @media (max-width: 767px) {
        right: -20px;
      }
    }

    a {
      display: block;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .paragraphs-item-paragraph-with-youtube {
    .modal-dialog {
      @media (max-width: 767px) {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0 0 0 -10px;
      }
    }

    .embed-responsive {
      &:hover {
        .media__cover-icon svg {
          fill: #fff;
        }
      }

      .embed-responsive-item {
        top: 50%;
        transform: translateY(-50%);
      }

      .media__cover-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        width: 68px;
        height: 48px;

        svg {
          display: inline-block;
          fill: #f04944;
        }
      }
    }
  }
}

// Temp fix
.new-landing--static {
  .paragraphs-item-grid {
    .field-name-field-wso-paragraphs {
      > .field--items {

        @media (min-width: 768px){
          display: flex;
          flex-wrap: wrap;
        }

        > .field--item {
          @media (min-width: 768px){
            flex: 0 0 50%;
          }

          @media (min-width: 992px){
            flex: 0 0 33%;
          }
        }
      }
    }
  }
}

