.paragraphs-item-paragraph-wista-video {
  .content-print {
    display: none;

    img {
      width: 100%;
      height: auto;
    }
  }

  //Print styles
  .print-version & {
    .content {
      display: none;
    }

    .content-print {
      display: block;
      /* autoprefixer: ignore next */
      page-break-inside: avoid;

      a {
        display: block;
      }
    }
  }

  .field-name-field-wistia-video {
    position: relative;
  }

  .wistia-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
  }
}
