@import './components/03-organisms/form/compact-subscription-webform/compact-subscription-webform.component';

.webform-submission-form {
  background: var(--color-neutral-0);
  padding: 30px 30px 20px 30px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.49);

  @include media('>=tablet') {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
  }

  // Common styles.
  label {
    @include responsive-prop(700, 800, 'font-weight');
    color: var(--color-base);
    margin-bottom: 0;

    &.form-required {
      position: relative;

      &:after {
        content: '*';
        color: $color-red;
        display: inline-block;
        margin-left: 5px;
        transform: translateY(-5px);
      }
    }
  }

  .form-item {
    margin-bottom: 5px;

    .form-control,
    .select2-container--bootstrap4 .select2-selection {
      border-color: var(--color-neutral-3);
      background-color: var(--color-neutral-3);
      color: var(--color-base);
    }
  }

  .form-actions {
    margin-top: 20px;

    input[type=submit] {
      width: auto;
      min-width: 120px;
    }
  }

  // Specific styles.
  .form-text {
    margin: 0;
  }

  > label {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.webform-confirmation__message {
  text-align: center;
}

.webform-flex--container {
  .form-item {
    margin-bottom: 0;
  }

  .form-actions {
    margin-top: 0;
  }
}

