@media (min-width: 992px) {
  @font-face {
    font-family: 'Lato';
    src: url('fonts/lato-heavy.eot?v=2');
    src: url('fonts/lato-heavy.eot?v=2#iefix') format('embedded-opentype'),
    url('fonts/lato-heavy.woff2?v=2') format('woff2'),
    url('fonts/lato-heavy.woff?v=2') format('woff'),
    url('fonts/lato-heavy.svg?v=2#latoheavy') format('svg');
    font-weight: 800;
    font-style: normal;
    text-rendering: optimizeLegibility;
    unicode-range: U+0-7F,U+A0,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
    -webkit-font-smoothing: antialiased;
  }
  @font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bold.eot?v=2');
    src: url('fonts/lato-bold.eot?v=2#iefix') format('embedded-opentype'),
    url('fonts/lato-bold.woff2?v=2') format('woff2'),
    url('fonts/lato-bold.woff?v=2') format('woff'),
    url('fonts/lato-bold.svg?v=2#latobold') format('svg');
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    unicode-range: U+0-7F,U+A0,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
    -webkit-font-smoothing: antialiased;
  }
  @font-face {
    font-family: 'Lato';
    src: url('fonts/lato-medium.eot?v=2');
    src: url('fonts/lato-medium.eot?v=2#iefix') format('embedded-opentype'),
    url('fonts/lato-medium.woff2?v=2') format('woff2'),
    url('fonts/lato-medium.woff?v=2') format('woff'),
    url('fonts/lato-medium.svg?v=2#latomedium') format('svg');
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    unicode-range: U+0-7F,U+A0,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
    -webkit-font-smoothing: antialiased;
  }
  @font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular.eot?v=2');
    src: url('fonts/lato-regular.eot?v=2#iefix') format('embedded-opentype'),
    url('fonts/lato-regular.woff2?v=2') format('woff2'),
    url('fonts/lato-regular.woff?v=2') format('woff'),
    url('fonts/lato-regular.svg?v=2#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    unicode-range: U+0-7F,U+A0,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
    -webkit-font-smoothing: antialiased;
  }
}
