{% if not submitted_array.wso_alpha_submitted %}
  <div class="author-details m-t-md clearfix">
    <div class="author-details-avatar pull-left m-r-sm">
      <img class="rounded-circle {{ submitted_array.certified_user_css_class }}" typeof="foaf:Image"
           src="{{ submitted_array.user_picture }}"
           width="48" height="48" alt="{{ submitted_array.picture_alt_text}}" title="{{ submitted_array.picture_alt_text }}">

      {% if submitted_array.certified_user %}
        <div class="forum__op__icon">
          <div style="position: absolute; width: 16px; left: 27px; bottom: 0;">
            <a title="{{ submitted_array.name }} - Certified Professional" href="/wallstreetoasiscom-certified-users">
              <i class="icon icon-star icon__star__styles"></i>
            </a>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="author-details-info pull-left clearfix">
      <div class="author-details-info-name m-b-xxs m-t-xxs d-flex">
        <span class="m-r-xs"><a class="username" href="/user/{{ submitted_array.uid }}">{{ submitted_array.username }}</a></span>
        <span class="d-flex align-items-start">
          <span class="m-r-xs">
            {% if show_full_submitted_data %}
              {{ submitted_array.industry_icon }}
            {% endif %}
          </span>
          {% if submitted_array.mentor_link %}
            <span>{{ submitted_array.mentor_link }}</span>
          {% endif %}
          {% if show_full_submitted_data %}
            {{ submitted_array.follow_link }}
          {% endif %}
        </span>
      </div>

      <div class="author-details-info-rank m-t-xxs">
        {% if show_full_submitted_data %}
          {% if submitted_array.rank %}
            <span>
              <span style="color: #909090;">Rank:</span> <a alt="Monkey Rankings" class="WSO Member Rankings" href="/rankings">{{ submitted_array.rank }}</a>
            </span>
          {% endif %}
          {% if submitted_array.userpoints %}
            <span>
              <span class="d-inline-flex flex-nowrap">
                <a href="/rankings" title="Total Banana Points" class="vud-widget-wso mt-0">
                  <i class="icon icon-bananas me-1"></i>
                </a> {{ (submitted_array.userpoints) }}
              </span>
            </span>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% else %}
  <div class="author-details m-t-md clearfix">
    <div class="author-details-avatar pull-left m-r-sm">
      <img class="rounded-circle {{ submitted_array.certified_user_css_class }}" typeof="foaf:Image"
           src="{{ submitted_array.user_picture }}"
           width="48" height="48" alt="{{ submitted_array.picture_alt_text}}" title="{{ submitted_array.picture_alt_text }}">

      {% if submitted_array.certified_user %}
        <div class="forum__op__icon">
          <div style="position: absolute; width: 16px; left: 27px; bottom: 0;">
            <a title="{{ submitted_array.name }} - Certified Professional" href="/wallstreetoasiscom-certified-users">
              <i class="icon icon-star icon__star__styles"></i>
            </a>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="author-details-info pull-left clearfix">
      <div class="author-details-info-name m-b-xxs m-t-xxs d-flex">
        <span class="m-r-xs"><a class="username" href="/user/{{ submitted_array.uid }}">{{ submitted_array.username }}</a></span>
        <span class="d-flex">
        {% if submitted_array.mentor_link %}
          <span>{{ submitted_array.mentor_link }}</span>
        {% endif %}
          {% if show_full_submitted_data %}
            {{ submitted_array.follow_link }}
          {% endif %}
      </span>
      </div>

      <div class="author-details-info-rank m-t-xxs">
        {{ submitted_array.as_seen_on }}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endif %}

