@import "./components/common-styles/helpers/colors";

// General.
.jp-audio {
  * {
    &:focus {
      outline: none;
    }
  }

  button {
    &:-moz-focus-inner {
      border: 0;
    }
  }

  .jp-interface {
    height: 80px;
  }
}

.jp-jplayer {
  audio {
    height: 0;
    width: 0;
  }
}

// Play/Pause/Stop.
button {
  border: none;
  cursor: pointer;
  display: block;
  overflow: hidden;
  background: transparent;
}

.jp-controls {
  button {
    &.jp-play {
      color: $color-blue;
      width: 60px;

      &:focus {
        color: $color-green-100;
      }
    }

    &.jp-stop {
      color: var(--color-neutral-5);
      width: 40px;

      &:focus {
        color: $color-green-100;
      }
    }
  }
}

.jp-play--pause {
    display: none;
}

.jp-state-playing {
  .jp-play--play {
    display: none;
  }

  .jp-play--pause {
    display: block;
  }

  .jp-stop {
    color: $color-blue;
  }
}

// Progress & time.
.jp-progress-container {
  position: relative;
  transform: translateY(8px);
  flex: 1;
}

.jp-progress {
  width: 100%;
  height: 10px;
  background: var(--color-neutral-3);
  border-radius: 5px;
  overflow: hidden;
}

.jp-play-bar {
  background: $color-blue;
  height: 100%;
  width: 0;
}

.jp-seek-bar {
  cursor: pointer;
  height: 100%;
  width: 100% !important;
}

.jp-seeking-bg {
  background-image: linear-gradient(45deg,rgba(var(--color-neutral-0--rgb),.15) 25%,transparent 25%,transparent 50%,rgba(var(--color-neutral-0--rgb),.15) 50%,rgba(var(--color-neutral-0--rgb),.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
  animation: progress-bar-stripes 1s linear infinite;
}

// Volume.
.jp-state-no-volume {
  .jp-volume-controls {
    display: none;
  }
}

.jp-volume-controls {
  width: 120px;

  button {
    width: 30px;
    color: var(--color-neutral-5);
  }
}

.jp-mute--unmute {
  display: none;
}

.jp-state-muted {
  .jp-mute--mute {
    display: none;
  }

  .jp-mute--unmute {
    display: block;
  }
}

.jp-volume-bar {
  cursor: pointer;
  height: 5px;
  overflow: hidden;
  flex: 1;
  background: var(--color-neutral-3);
}

.jp-volume-bar-value {
  height: 5px;
  width: 0;
  background: $color-blue;
}

.jp-current-time {
  cursor: default;
  display: inline;
  float: left;
  font-size: 11px;
}

.jp-duration {
  cursor: pointer;
  display: inline;
  float: right;
  font-size: 11px;
  text-align: right;
}
