.glossary-quick-links {
  background: var(--color-neutral-0);
  padding: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.glossary-quick-links a,
.glossary-quick-links span {
  display: inline-block;
  margin: 7px 5px
}
.glossary-quick-links a {
  color: var(--color-base)
}
.glossary-section {
  margin-bottom: 60px
}
.glossary-section__rows {
  margin-bottom: 20px
}
.glossary-section__rows .views-row {
  margin-bottom: 30px
}
.glossary-section__rows a {
  color: var(--color-base);
  font-size: 17px
}
.glossary-section__link {
  display: block;
  text-align: right;
  font-weight: 700
}
.glossary-section__anchor {
  height: 1px;
  overflow: hidden;
  position: relative;
  width: 1px;
  top: 0
}
.glossary-section__anchor a {
  top: -20px;
  position: relative
}
@media (min-width: 768px) {
  .glossary-section__rows {
    column-count: 2;
    column-gap: 60px
  }
}
@media (min-width: 992px) {
  .glossary-section__rows {
    column-count: 3
  }
  .glossary-section__anchor a {
    top: -100px
  }
  .toolbar-tray-open.toolbar-horizontal .glossary-section__anchor a {
    top: -180px
  }
}
/*# sourceMappingURL=glossary-sections.component.css.map */
