@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.glossary-quick-links {
  background: var(--color-neutral-0);
  padding: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a,
  span {
    display: inline-block;
    margin: 7px 5px;
  }

  a {
    color: var(--color-base);
  }
}

.glossary-section {
  margin-bottom: 60px;

  &__rows {
    margin-bottom: 20px;

    @include media('>=tablet') {
      column-count: 2;
      column-gap: 60px;
    }

    @include media('>=desktop') {
      column-count: 3;
    }

    .views-row {
      margin-bottom: 30px;
    }

    a {
      color: var(--color-base);
      font-size: 17px;
    }
  }

  &__link {
    display: block;
    text-align: right;
    font-weight: 700;
  }

  &__anchor {
    height: 1px;
    overflow: hidden;
    position: relative;
    width: 1px;
    top: 0;

    a {
      top: -20px;
      position: relative;

      @include media('>=desktop') {
        top: -100px;
      }

      .toolbar-tray-open.toolbar-horizontal & {
        @include media('>=desktop') {
          top: -180px;
        }
      }
    }
  }
}
