.block-wso-custom.block-frontpage-popular-latest-block .more-link {
  text-align: right
}
.block-wso-custom.block-frontpage-popular-latest-block .more-link a {
  text-transform: capitalize;
  border-width: 1px;
  padding: 0 6px
}
.block-wso-custom.block-frontpage-popular-latest-block .view-frontpage-recent ul {
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  font-size: 14px;
  margin-bottom: 20px
}
.block-wso-custom.block-frontpage-popular-latest-block .view-frontpage-recent ul li {
  position: relative;
  padding-left: 10px;
  line-height: 1.7;
  color: var(--color-neutral-7)
}
.block-wso-custom.block-frontpage-popular-latest-block .view-frontpage-recent ul li:before {
  background: var(--color-neutral-7);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 4px
}
.block-wso-custom.block-frontpage-popular-latest-block .view-frontpage-recent ul li:after {
  color: #087dfd;
  content: "\f105";
  font-family: fa-custom;
  font-weight: 500;
  margin-left: 5px;
  position: absolute;
  top: -2px;
  right: 0
}
.block-wso-custom.block-frontpage-popular-latest-block .view-frontpage-recent ul li a {
  color: var(--color-neutral-7);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 30px)
}
.block-wso-custom.block-frontpage-popular-latest-block .cards-holder .col-lg-8 {
  margin-bottom: 20px
}
.view-top-content-block ul {
  padding-left: 0
}
.view-top-content-block ul li {
  padding-left: 10px;
  list-style: none;
  position: relative;
  line-height: 30px
}
.view-top-content-block ul li:before {
  background: #7f7f7f;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 4px
}
.view-top-content-block ul li:after {
  color: #087dfd;
  content: "\f105";
  font-family: fa-custom;
  font-weight: 500;
  margin-left: 5px;
  position: absolute;
  right: 0
}
.view-top-content-block ul li a {
  color: var(--color-neutral-7)
}
.view-top-content-block ul li a:focus,
.view-top-content-block ul li a:hover {
  color: #087dfd
}
@media (min-width: 992px) {
  .block-wso-custom.block-frontpage-popular-latest-block .cards-holder .col-lg-8 {
    margin-bottom: 0
  }
}
/*# sourceMappingURL=home-popular-latest.component.css.map */
