@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.block-wso-custom.block-frontpage-popular-latest-block {
  .more-link {
    text-align: right;

    a {
      text-transform: capitalize;
      border-width: 1px;
      padding: 0 6px;
    }
  }

  .view-frontpage-recent {
    ul {
      list-style: none;
      padding-left: 0;
      flex-grow: 1;
      font-size: 14px;
      margin-bottom: 20px;

      li {
        position: relative;
        padding-left: 10px;
        line-height: 1.7;
        color: var(--color-neutral-7);

        &:before {
          background: var(--color-neutral-7);
          border-radius: 50%;
          content: '';
          display: inline-block;
          height: 4px;
          left: 0;
          position: absolute;
          top: 10px;
          width: 4px;
        }

        &:after {
          color: $color-blue;
          content: "\f105";
          font-family: fa-custom;
          font-weight: 500;
          margin-left: 5px;
          position: absolute;
          top: -2px;
          right: 0;
        }

        a {
          color: var(--color-neutral-7);
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 30px);
        }
      }
    }
  }

  .cards-holder {
    .col-lg-8 {
      margin-bottom: 20px;

      @include media('>=desktop') {
        margin-bottom: 0;
      }
    }
  }
}

.view-top-content-block {
  ul {
    padding-left: 0;

    li {
      padding-left: 10px;
      list-style: none;
      position: relative;
      line-height: 30px;

      &:before {
        background: #7f7f7f;
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 4px;
        left: 0;
        position: absolute;
        top: 14px;
        width: 4px;
      }

      &:after {
        color: $color-blue;
        content: "\f105";
        font-family: fa-custom;
        font-weight: 500;
        margin-left: 5px;
        position: absolute;
        right: 0;
      }

      a {
        color: var(--color-neutral-7);

        &:hover {
          color: $color-blue;
        }

        &:focus {
          color: $color-blue;
        }
      }
    }
  }
}
