.related-content--section.featured-box {
  text-align: left
}
.related-content--section.featured-box .box-content {
  border: none!important
}
.related-content--section.featured-box .box-content h3 {
  color: var(--color-base);
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.2;
  margin: 0;
  text-align: left;
  text-transform: capitalize
}
.related-content--section.featured-box .related-content__body {
  margin-top: 24px
}
.related-content--section.featured-box .related-content__block {
  border-top: 1px solid var(--color-neutral-2)
}
.related-content--section.featured-box .related-content__block:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0
}
.featured-box .box-content .related-content__text {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.43;
  margin: 0
}
.featured-box .box-content .related-content__link {
  color: #087dfd;
  display: inline-block;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 8px;
  text-transform: capitalize
}
.featured-box.featured-box-secundary {
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-4);
  border-radius: 0;
  box-shadow: none!important;
  margin-top: 24px
}
.related-content__block:first-child {
  border-top: none;
  color: #087dfd;
  margin-top: 0;
  padding-top: 0
}
.block-custom-solr .block h3 {
  margin: 0!important
}
@media (min-width: 768px) {
  .related-content--section.featured-box .box-content {
    padding: 32px 40px
  }
  .related-content--section.featured-box .box-content h3 {
    font-size: 30px
  }
  .related-content--section.featured-box .related-content__block {
    margin-top: 24px;
    padding-top: 24px
  }
  .featured-box .box-content .related-content__link {
    font-size: 18px
  }
}
@media (min-width: 992px) {
  .related-content--section.featured-box .box-content h3 {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .related-content--section.featured-box .box-content {
    padding: 15px
  }
  .related-content--section.featured-box .box-content h3 {
    font-size: 24px
  }
  .related-content--section.featured-box .related-content__block {
    margin-top: 12px;
    padding-top: 12px
  }
  .featured-box .box-content .related-content__link {
    font-size: 14px
  }
}
/*# sourceMappingURL=related-content.component.css.map */
