@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.related-content--section {
  &.featured-box {
    text-align: left;

    .box-content {
      border: none !important;

      h3 {
        color: var(--color-base);
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, font-weight);
        letter-spacing: .2px;
        line-height: 1.2;
        margin: 0;
        text-align: left;
        text-transform: capitalize;
      }
    }

    .related-content__body {
      margin-top: 24px;
    }

    .related-content__block {
      border-top: 1px solid var(--color-neutral-2);

      &:first-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

.featured-box {
  .box-content {
    .related-content__text {
      color: var(--color-base);
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 1.43;
      margin: 0;
    }

    .related-content__link {
      color: $color-blue;
      display: inline-block;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: normal;
      line-height: normal;
      margin-bottom: 8px;
      text-transform: capitalize;
    }
  }

  &.featured-box-secundary {
    background-color: var(--color-neutral-0);
    border: solid 1px var(--color-neutral-4);
    border-radius: 0;
    box-shadow: none !important;
    margin-top: 24px;
  }
}

.related-content__block {
  &:first-child {
    border-top: none;
    color: $color-blue;
    margin-top: 0;
    padding-top: 0;
  }
}

.block-custom-solr {
  .block {
    h3 {
      margin: 0 !important;
    }
  }
}

@include media('<tablet') {
  .related-content--section {
    &.featured-box {
      .box-content {
        padding: 15px;

        h3 {
          font-size: 24px;
        }
      }

      .related-content__block {
        margin-top: 12px;
        padding-top: 12px;
      }
    }
  }

  .featured-box {
    .box-content {
      .related-content__link {
        font-size: 14px;
      }
    }
  }
}

@include media('>=tablet') {
  .related-content--section {
    &.featured-box {
      .box-content {
        padding: 32px 40px;

        h3 {
          font-size: 30px;
        }
      }

      .related-content__block {
        margin-top: 24px;
        padding-top: 24px;
      }
    }
  }

  .featured-box {
    .box-content {
      .related-content__link {
        font-size: 18px;
      }
    }
  }
}
