{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 * @see stable_preprocess_image_widget()
 */
#}

<span{{ attributes }}>
  <a class="file-icon-link" href="{{ url }}" title="{{ filename }}"><span class="file-icon file-{{ file_type }}"></span></a>
  <span class="file-link">{{ link }}</span>
  <span class="file-size">{{ file_size }}</span>
</span>
