.wso-leaderboard-block {
  font-size: 14px
}
.wso-leaderboard-block .wso-users-block {
  margin-bottom: 10px;
  table-layout: fixed;
  overflow-wrap: break-word
}
.wso-leaderboard-block td {
  vertical-align: middle;
  box-shadow: none
}
.wso-leaderboard-block td.wso-leader-block-count {
  width: 30px
}
.wso-leaderboard-block td.wso-leader-block-uimage {
  align-items: center;
  display: flex;
  border: 0
}
.wso-leaderboard-block td.wso-leader-block-points {
  width: 80px
}
.wso-leaderboard-block tr {
  border-top: 1px solid var(--color-neutral-2);
  border-bottom: 1px solid var(--color-neutral-2);
  height: 55px
}
.wso-leaderboard-block tr:last-child {
  border: none
}
.wso-leaderboard-block .wso-certified-user {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 42px;
  height: 36px
}
.wso-sidebar-right .wso-leaderboard-block .wso-certified-user {
  left: 0;
  top: 8px
}
.wso-leaderboard-block .wso-certified-user .icon-star.icon__star__styles {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  color: var(--color-neutral-0);
  font-size: 10px;
  border: 3px solid #f5b226;
  border-radius: 50%;
  background-color: #f5b226;
  width: 16px;
  height: 16px;
  right: 6px;
  bottom: 0;
  z-index: 1
}
.wso-leaderboard-block .wso-certified-user .icon-star.icon__star__styles:before {
  margin-left: 1px
}
.wso-leaderboard-block .wso-leader-block-points {
  min-width: 72px;
  vertical-align: middle;
  text-align: center
}
.wso-leaderboard-block .wso-leader-block-points .icon {
  vertical-align: bottom
}
.wso-leaderboard-block .wso-leader-block-points .icon-bananas:before {
  content: "";
  display: inline-block;
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -140px -120px;
  width: 18px;
  height: 15px
}
.wso-leaderboard-block .wso-leader-block-points .icon-bananas.grey {
  transform: scale(.8);
  transform-origin: center
}
.wso-leaderboard-block .wso-leader-block-points .icon-bananas.grey:before {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -108px -64px;
  width: 23px;
  height: 19px
}
.wso-leaderboard-block .wso-leader-block-points span {
  color: #9db2bc;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .1px
}
.darkmode .wso-leaderboard-block .wso-leader-block-points span {
  color: #c0beba
}
.wso-leaderboard-block .wso-leader-block-count {
  min-width: 25px;
  vertical-align: middle;
  text-align: center
}
.wso-leaderboard-block .wso-leader-block-count span {
  display: inline-block;
  color: #9db2bc;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  padding: 0 5px;
  margin-right: 5px;
  border: var(--color-neutral-3) 1px solid;
  border-radius: 3px
}
.darkmode .wso-leaderboard-block .wso-leader-block-count span {
  color: #c0beba
}
.wso-leaderboard-block .wso-leader-uimage {
  display: inline;
  padding-right: 6px
}
.wso-leaderboard-block .wso-leader-uimage img.img-circle {
  max-height: 36px;
  max-width: 36px
}
.wso-leaderboard-block .wso-leader-uimage img.certified_user {
  border: 2px solid #f5b226;
  border-radius: 100%
}
.wso-leaderboard-block .wso-leader-block-uimage {
  position: relative
}
.wso-leaderboard-block .wso-leader-uname {
  color: var(--color-base);
  letter-spacing: .1px;
  padding-left: 8px;
  font-size: 14px
}
#block-leaderboard .list-inline li {
  padding: 5px 10px;
  border-bottom: 1px solid var(--color-neutral-2);
  transition: 1s;
  font-size: 14px
}
#block-leaderboard .list-inline li a {
  color: var(--color-neutral-7);
  text-decoration: none
}
.darkmode #block-leaderboard .list-inline li a {
  color: var(--color-neutral-8)
}
#block-leaderboard .list-inline li.active {
  border: none
}
#block-leaderboard .list-inline li.active a {
  color: #087dfd;
  border-bottom: 2px solid #087dfd
}
#block-leaderboard .list-inline li.active:first-child ~ .line {
  left: 7%;
  width: 12%
}
#block-leaderboard .list-inline li.active:nth-child(2) ~ .line {
  width: 27%;
  left: 27%
}
#block-leaderboard .list-inline li.active:nth-child(3) ~ .line {
  left: 62%;
  width: 29%
}
#block-leaderboard .list-inline li:hover a {
  color: var(--color-base)
}
#block-leaderboard .box-content > p {
  margin-bottom: 24px;
  padding: 20px 24px 0
}
#block-leaderboard .box-content ul {
  position: relative;
  border-top: none;
  border-bottom: 2px solid var(--color-neutral-2);
  padding: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0
}
#block-leaderboard .box-content ul.list-inline li:first-child {
  padding-left: 24px
}
#block-leaderboard .box-content ul.list-inline li:last-child {
  padding-right: 24px
}
#block-leaderboard .box-content ul.list-inline li a {
  font-weight: normal;
  letter-spacing: .1px;
  padding-bottom: 13px
}
#block-leaderboard .box-content .wso-leaderboard-block {
  border: none;
  margin-bottom: 0;
  padding: 0 24px
}
#block-leaderboard .box-content ul.list-inline li {
  border-bottom: none;
  padding: 0 13px 10px
}
#block-leaderboard .more-link {
  padding: 0 24px 20px
}
.line {
  background: #189eda;
  height: 2px;
  position: absolute;
  transition: .5s
}
.region-sidebar-right .wso-leader-uname {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 70%
}
.region-sidebar-right .wso-certified-user img {
  bottom: 8px;
  left: 20px
}
@media (max-width: 1199px) {
  #block-leaderboard .list-inline li {
    padding: 0 7px 10px
  }
  #block-leaderboard .list-inline li a {
    font-size: 12px
  }
  .region-sidebar-right .wso-leader-uname {
    width: 65%
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wso-leaderboard-block .wso-leader-block-points {
    transform: translateX(-15px)
  }
  .wso-sidebar-right .wso-leaderboard-block .wso-leader-block-uimage {
    display: flex
  }
  #block-leaderboard .wso-leaderboard-block {
    padding: 0
  }
  .region-sidebar-right .table-condensed > tbody > tr > td.wso-leader-block-uimage {
    align-items: center;
    border: none;
    padding: 9px 0
  }
}
/*# sourceMappingURL=wso-karma.component.css.map */
