@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";
@import "./components/common-styles/helpers/sprite-png";

.wso-leaderboard-block {
  font-size: 14px;

  .wso-users-block {
    margin-bottom: 10px;
    table-layout: fixed;
    overflow-wrap: break-word;
  }

  td {
    vertical-align: middle;
    box-shadow: none;

    &.wso-leader-block-count {
      width: 30px;
    }

    &.wso-leader-block-uimage {
      align-items: center;
      display: flex;
      border: 0;
    }

    &.wso-leader-block-points {
      width: 80px;
    }
  }

  tr {
    border-top: 1px solid var(--color-neutral-2);
    border-bottom: 1px solid var(--color-neutral-2);
    height: 55px;

    &:last-child {
      border: none;
    }
  }

  .wso-certified-user {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 42px;
    height: 36px;

    .wso-sidebar-right & {
      left: 0;
      top: 8px;
    }

    .icon-star {
      &.icon__star__styles {
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        color: var(--color-neutral-0);
        font-size: 10px;
        border: 3px solid $color-yellow;
        border-radius: 50%;
        background-color: $color-yellow;
        width: 16px;
        height: 16px;
        right: 6px;
        bottom: 0;
        z-index: 1;

        &:before {
          margin-left: 1px;
        }
      }
    }
  }

  .wso-leader-block-points {
    min-width: 72px;
    vertical-align: middle;
    text-align: center;

    @include media('>=desktop', '<large-desktop') {
      transform: translateX(-15px);
    }

    .icon {
      vertical-align: bottom;
    }

    .icon-bananas {
      &:before {
        content: '';
        display: inline-block;
        @include sprite($banana);
      }

      &.grey {
        transform: scale(0.8);
        transform-origin: center;

        &:before {
          @include sprite($silver-banana);
        }
      }
    }

    span {
      @include font-color-grey-darkmode;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: .1px;
    }
  }

  .wso-leader-block-count {
    min-width: 25px;
    vertical-align: middle;
    text-align: center;

    span {
      display: inline-block;
      @include font-color-grey-darkmode;
      font-size: 11px;
      font-weight: 600;
      line-height: 18px;
      padding: 0 5px;
      margin-right: 5px;
      border: var(--color-neutral-3) 1px solid;
      border-radius: 3px;
    }
  }

  .wso-leader-uimage {
    display: inline;
    padding-right: 6px;

    img {
      &.img-circle {
        max-height: 36px;
        max-width: 36px;
      }

      &.certified_user {
        border: 2px solid $color-yellow;
        border-radius: 100%;
      }
    }
  }

  .wso-leader-block-uimage {
    position: relative;

    .wso-sidebar-right & {
      @include media('>=desktop', '<large-desktop') {
        display: flex;
      }
    }
  }

  .wso-leader-uname {
    color: var(--color-base);
    letter-spacing: .1px;
    padding-left: 8px;
    font-size: 14px;
  }
}

#block-leaderboard {
  .list-inline {
    li {
      padding: 5px 10px;
      border-bottom: 1px solid var(--color-neutral-2);
      transition: all 1s ease;
      font-size: 14px;

      @media (max-width: 1199px) {
        padding: 0 7px 10px;
      }

      a {
        color: var(--color-neutral-7);
        text-decoration: none;

        @media (max-width: 1199px) {
          font-size: 12px;
        }

        .darkmode & {
          color: var(--color-neutral-8)
        }
      }

      &.active {
        border: none;

        a {
          color: $color-blue;
          border-bottom: 2px solid $color-blue;
        }

        &:first-child {
          ~ {
            .line {
              left: 7%;
              width: 12%;
            }
          }
        }

        &:nth-child(2) {
          ~ {
            .line {
              width: 27%;
              left: 27%;
            }
          }
        }

        &:nth-child(3) {
          ~ {
            .line {
              left: 62%;
              width: 29%;
            }
          }
        }
      }

      &:hover {
        a {
          color: var(--color-base);
        }
      }
    }
  }

  .box-content {
    > p {
      margin-bottom: 24px;
      padding: 20px 24px 0;
    }

    ul {
      position: relative;
      border-top: none;
      border-bottom: 2px solid var(--color-neutral-2);
      padding: 0;
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      &.list-inline {
        li {
          padding: 0 13px 10px;
          border-bottom: none;

          &:first-child {
            padding-left: 24px;
          }

          &:last-child {
            padding-right: 24px;
          }

          a {
            font-weight: normal;
            letter-spacing: .1px;
            padding-bottom: 13px;
          }
        }
      }
    }

    .wso-leaderboard-block {
      border: none;
      margin-bottom: 0;
      padding: 0 24px;
    }
  }

  .box-content {
    ul {
      &.list-inline {
        li {
          border-bottom: none;
          padding: 0 13px 10px;
        }
      }
    }
  }

  .more-link {
    padding: 0 24px 20px;
  }

  .wso-leaderboard-block {
    @include media('>=desktop', '<large-desktop') {
      padding: 0;
    }
  }
}

.line {
  background: $color-oasis-blue;
  height: 2px;
  position: absolute;
  transition: all .5s;
}

.region-sidebar-right {
  .wso-leader-uname {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 70%;

    @media (max-width: 1199px) {
      width: 65%;
    }
  }

  .wso-certified-user {
    img {
      bottom: 8px;
      left: 20px;
    }
  }

  .table-condensed {
    > tbody {
      > tr {
        > td {
          &.wso-leader-block-uimage {
            @include media('>=desktop', '<large-desktop') {
              align-items: center;
              border: none;
              padding: 9px 0;
            }
          }
        }
      }
    }
  }
}


