@media (min-width: 768px) {
  .form-group {
    margin-bottom: 1rem
  }

  .formatted-text table tbody tr th {
    min-width: 300px
  }

  .ui-dialog.editor-image-dialog {
    max-width: 620px
  }

  .pager-container {
    padding: 0;
    display: flex;
    justify-content: space-between
  }

  .dropdown .dropdown-toggle-text .icon-flag {
    margin-right: 10px
  }

  .compact-subscription-webform {
    max-width: 720px !important;
    margin-left: auto;
    margin-right: auto
  }

  .compact-subscription-webform .field-name-field-paragraph-text {
    max-width: 720px;
    margin: 0 auto
  }

  .compact-subscription-webform .node-type-forum {
    margin-top: 80px;
    margin-bottom: 80px
  }

  .indented .indented .indented {
    border-left: 2px solid rgba(46, 141, 229, .3)
  }

  .indented .indented .indented .indented {
    border-left: 2px solid rgba(254, 202, 6, .5)
  }

  .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(46, 141, 229, .3)
  }

  .indented .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(254, 202, 6, .5)
  }

  .indented .indented .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(46, 141, 229, .3)
  }

  .indented .indented .indented .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(254, 202, 6, .5)
  }

  .indented .indented .indented .indented .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(46, 141, 229, .3)
  }

  .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(254, 202, 6, .5)
  }

  .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(46, 141, 229, .3)
  }

  .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented {
    border-left: transparent !important;
    margin-left: 0 !important;
    padding-left: 0 !important
  }

  .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(46, 141, 229, .3)
  }

  .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented .indented {
    border-left: 2px solid rgba(254, 202, 6, .5)
  }

  .post-region-tags .field-name-field-region {
    display: flex;
    flex-wrap: nowrap;
    align-items: center
  }

  .post-region-tags .field-name-field-region .field--items {
    display: flex;
    flex-wrap: wrap;
    align-items: center
  }

  .post-region-tags .field-name-field-region .field--item {
    margin-left: 7px
  }

  .post-region-tags .field-name-field-region .field--item:before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 1px;
    margin-right: 3px;
    vertical-align: middle;
    background: var(--color-neutral-4)
  }

  .node.node-event .location__block.item__block_border {
    display: flex
  }
}

@media (min-width: 992px) {
  body {
    font-family: Lato, sans-serif
  }

  .path-node h1 {
    font-weight: 800
  }

  h1.wso-forum-title {
    font-size: 36px
  }

  .formatted-text h2, .formatted-text h3, .formatted-text h4, .formatted-text h5, .formatted-text h6 {
    font-weight: 800
  }

  .formatted-text h2 {
    font-size: 38px
  }

  .formatted-text h3 {
    font-size: 26px
  }

  .formatted-text h4 {
    font-size: 20px
  }

  .formatted-text h5 {
    font-size: 18px
  }

  .formatted-text h6 {
    font-size: 16px
  }

  .bold, .formatted-text p strong, .formatted-text table thead tr th, .wso-table-left .topic-new, .wso-table-left td:first-child .counter, .wso-table-left thead a, .wso-table-left thead th, .wso-table-left-center .topic-new, .wso-table-left-center td:first-child .counter, .wso-table-left-center thead a, .wso-table-left-center thead th, b, strong {
    font-weight: 800
  }

  .btn.lg-btn-xl, .lg-btn-xl.btn-lp-orange {
    padding: 18px 20px;
    font-size: 1.125rem;
    border-radius: 3px
  }

  .btn-lp-orange {
    padding: 14px 16px 12px;
    font-size: 19px
  }

  .node-form .votingapi-widgets.fivestar .form-item {
    display: flex
  }

  .node-form .votingapi-widgets.fivestar .form-item > * {
    margin: 0
  }

  .node-form .votingapi-widgets.fivestar .form-item label {
    flex: 1;
    text-align: center
  }

  .breadcrumbs-created .breadcrumb, .breadcrumbs-created .created, .breadcrumbs-created span[data-big-pipe-placeholder-id], .page-company .breadcrumb {
    padding: 12px 25px 8px
  }

  .vud-widget-wso ul li.options-toggle .options-toggle-container {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: var(--color-base);
    border: 1px solid var(--color-neutral-3);
    height: 33px;
    min-width: 50px;
    border: 0
  }

  .vud-widget-wso ul li.options-toggle .options-toggle-container:hover {
    border-color: var(--color-neutral-3);
    color: var(--color-base);
    box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
  }

  .vud-widget-wso ul li.options-toggle .options-toggle-container:active, .vud-widget-wso ul li.options-toggle .options-toggle-container:focus {
    border-color: var(--color-neutral-3);
    box-shadow: none
  }

  .vud-widget-wso ul li.options-toggle .options-toggle-container:disabled {
    background-color: var(--color-neutral-1)
  }

  .comment .vud-widget-wso ul li.options-toggle .options-toggle-container {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 20px
  }

  .comment .vud-widget-wso ul li.options-toggle .options-toggle-container:hover {
    box-shadow: none
  }

  .not-logged-in .vud-widget-wso ul li.options-toggle {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: var(--color-base);
    border: 1px solid var(--color-neutral-3);
    height: 33px;
    min-width: 50px;
    border: 0
  }

  .not-logged-in .vud-widget-wso ul li.options-toggle:hover {
    border-color: var(--color-neutral-3);
    color: var(--color-base);
    box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
  }

  .not-logged-in .vud-widget-wso ul li.options-toggle:active, .not-logged-in .vud-widget-wso ul li.options-toggle:focus {
    border-color: var(--color-neutral-3);
    box-shadow: none
  }

  .not-logged-in .vud-widget-wso ul li.options-toggle:disabled {
    background-color: var(--color-neutral-1)
  }

  .not-logged-in .comment .vud-widget-wso ul li.options-toggle {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 20px
  }

  #comments-title-wrapper, #comments-title-wrapper h3, .dropdown .sub-dropdown-item.opened .sub-dropdown-toggle, .total-votes-wso {
    font-weight: 800
  }

  .comment-name-anchor-outer a {
    top: -100px
  }

  .toolbar-tray-open.toolbar-horizontal .comment-name-anchor-outer a {
    top: -180px
  }

  .comments__sub-thread a {
    font-weight: 800
  }

  .post-share .dropdown .dropdown-menu--post-share {
    position: static;
    display: flex
  }

  .post-author-share {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
  }

  .post-author-share .author-details {
    display: flex;
    flex-wrap: nowrap
  }

  .bookmarks-links {
    height: 33px;
    flex-wrap: nowrap
  }

  .comment .bookmarks-links {
    height: 20px
  }

  .node.node-event .field-name-field-address .field--label, .node.node-event .field-name-field-event-date .field--label, .node.node-event .field-name-field-eventtype .field--label {
    font-weight: 800
  }
}

@media (min-width: 1200px) {
  .node-type-forum .container, .node-type-forum .container-lg, .node-type-forum .container-md, .node-type-forum .container-sm, .node-type-forum .container-xl {
    max-width: 1170px
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .social-share-icons-head.logged-in {
    margin-right: 240px
  }
}
