#block-wsoadminhelpertrigger a.wso-admin-tools:focus {
  outline: 0
}
#block-wsoadminhelpertrigger a.btn-default.wso-admin-tools {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
#block-wsoadminhelpertrigger a.btn-default.wso-admin-tools:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
#block-wsoadminhelpertrigger a.btn-default.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-default.wso-admin-tools:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-default.wso-admin-tools:disabled {
  background-color: var(--color-neutral-1)
}
#block-wsoadminhelpertrigger a.btn-filled.wso-admin-tools,
#block-wsoadminhelpertrigger a.btn-success.wso-admin-tools {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
#block-wsoadminhelpertrigger a.btn-filled.wso-admin-tools:hover,
#block-wsoadminhelpertrigger a.btn-success.wso-admin-tools:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
#block-wsoadminhelpertrigger a.btn-filled.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-filled.wso-admin-tools:focus,
#block-wsoadminhelpertrigger a.btn-success.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-success.wso-admin-tools:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
#block-wsoadminhelpertrigger a.btn-filled.wso-admin-tools:disabled,
#block-wsoadminhelpertrigger a.btn-success.wso-admin-tools:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-danger.wso-admin-tools {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
#block-wsoadminhelpertrigger a.btn-danger.wso-admin-tools:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
#block-wsoadminhelpertrigger a.btn-danger.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-danger.wso-admin-tools:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
#block-wsoadminhelpertrigger a.btn-danger.wso-admin-tools:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools,
#block-wsoadminhelpertrigger a.btn-secondary.wso-admin-tools {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools:hover,
#block-wsoadminhelpertrigger a.btn-secondary.wso-admin-tools:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools:focus,
#block-wsoadminhelpertrigger a.btn-secondary.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-secondary.wso-admin-tools:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools:disabled,
#block-wsoadminhelpertrigger a.btn-secondary.wso-admin-tools:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-lines.mono.wso-admin-tools,
#block-wsoadminhelpertrigger a.btn-secondary.mono.wso-admin-tools {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
#block-wsoadminhelpertrigger a.btn-lines.mono.wso-admin-tools:hover,
#block-wsoadminhelpertrigger a.btn-secondary.mono.wso-admin-tools:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
#block-wsoadminhelpertrigger a.btn-lines.mono.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-lines.mono.wso-admin-tools:focus,
#block-wsoadminhelpertrigger a.btn-secondary.mono.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-secondary.mono.wso-admin-tools:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-lines.mono.wso-admin-tools:disabled,
#block-wsoadminhelpertrigger a.btn-secondary.mono.wso-admin-tools:disabled {
  background-color: var(--color-neutral-1)
}
#block-wsoadminhelpertrigger a.btn-lines.mono.danger.wso-admin-tools,
#block-wsoadminhelpertrigger a.btn-secondary.mono.danger.wso-admin-tools {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
#block-wsoadminhelpertrigger a.btn-lines.mono.danger.wso-admin-tools:hover,
#block-wsoadminhelpertrigger a.btn-secondary.mono.danger.wso-admin-tools:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
#block-wsoadminhelpertrigger a.btn-lines.mono.danger.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-lines.mono.danger.wso-admin-tools:focus,
#block-wsoadminhelpertrigger a.btn-secondary.mono.danger.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-secondary.mono.danger.wso-admin-tools:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-lines.mono.danger.wso-admin-tools:disabled,
#block-wsoadminhelpertrigger a.btn-secondary.mono.danger.wso-admin-tools:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-other.wso-admin-tools,
#block-wsoadminhelpertrigger a.btn-success-ghost.wso-admin-tools,
#block-wsoadminhelpertrigger a.btn-transparency.wso-admin-tools {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
#block-wsoadminhelpertrigger a.btn-other.wso-admin-tools:hover,
#block-wsoadminhelpertrigger a.btn-success-ghost.wso-admin-tools:hover,
#block-wsoadminhelpertrigger a.btn-transparency.wso-admin-tools:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
#block-wsoadminhelpertrigger a.btn-other.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-other.wso-admin-tools:focus,
#block-wsoadminhelpertrigger a.btn-success-ghost.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-success-ghost.wso-admin-tools:focus,
#block-wsoadminhelpertrigger a.btn-transparency.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-transparency.wso-admin-tools:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-other.wso-admin-tools:disabled,
#block-wsoadminhelpertrigger a.btn-success-ghost.wso-admin-tools:disabled,
#block-wsoadminhelpertrigger a.btn-transparency.wso-admin-tools:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.bg-white.wso-admin-tools {
  background: var(--color-neutral-0)
}
#block-wsoadminhelpertrigger a.wso-admin-tools {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
#block-wsoadminhelpertrigger a.wso-admin-tools:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
#block-wsoadminhelpertrigger a.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.wso-admin-tools:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
#block-wsoadminhelpertrigger a.wso-admin-tools:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools:active,
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-lines.wso-admin-tools:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#block-wsoadminhelpertrigger a.btn-xs.wso-admin-tools {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
#block-wsoadminhelpertrigger a.wso-admin-tools {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
  position: fixed;
  top: 45%;
  left: -40px;
  transform: rotate(-90deg);
  z-index: 9000
}
#block-wsoadminhelpertrigger a.btn-md.wso-admin-tools {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
#block-wsoadminhelpertrigger a.btn-lg.wso-admin-tools {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
#block-wsoadminhelpertrigger a.btn-xl.wso-admin-tools {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
#block-wsoadminhelpertrigger a.wso-admin-tools:before {
  content: "\e830";
  display: inline-block;
  font: 14px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  margin-right: 10px
}
/*# sourceMappingURL=wso-admin-helper.component.css.map */
