@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

#block-wsoadminhelpertrigger {
  a.wso-admin-tools {
    @extend %btn, .btn-info;
    @extend %btn, .btn-sm;
    position: fixed;
    top: 45%;
    left: -40px;
    transform: rotate(-90deg);
    z-index: 9000;

    &:before {
      content: '\e830';
      display: inline-block;
      font: normal normal normal 14px/1 'fa-custom';
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      pointer-events: none;
      margin-right: 10px;
    }
  }
}
