@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.page-mentors-database  {
  font-size: 14px;

  .container {
    max-width: 100%;
  }

  .view-header {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.views-exposed-form {
  .form--inline {
    display: flex;
    flex-wrap: wrap;
  }

  .form-item {
    margin: 0 10px 10px 0;

    label {
      text-align: left;
      justify-content: start;
    }
  }

  .form-actions {
    margin-top: 15px;

    input {
      margin-right: 10px;
      @extend %btn, .btn-success;
    }
  }
}

.view-mentor-profile {
  .views-table {
    td ul {
      margin-left: 15px;
      padding-left: 5px;

      li {
        line-height: 14px;
        font-size: 12px;
      }
    }

    td.views-field-field-mentor-completed-jobs-act {
      width: 20%;
    }

    th.views-field-field-current-mentor-grade,
    th.views-field-field-resume-reviewer-grade {
      font-size: 9px;
    }
  }
}
