.views-exposed-form .form-actions input:focus {
  outline: 0
}
.views-exposed-form .form-actions input.btn-default {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.views-exposed-form .form-actions input.btn-default:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.views-exposed-form .form-actions input.btn-default:active,
.views-exposed-form .form-actions input.btn-default:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-default:disabled {
  background-color: var(--color-neutral-1)
}
.views-exposed-form .form-actions input {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930;
  margin-right: 10px
}
.views-exposed-form .form-actions input:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.views-exposed-form .form-actions input:active,
.views-exposed-form .form-actions input:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.views-exposed-form .form-actions input:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-danger {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.views-exposed-form .form-actions input.btn-danger:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.views-exposed-form .form-actions input.btn-danger:active,
.views-exposed-form .form-actions input.btn-danger:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.views-exposed-form .form-actions input.btn-danger:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-lines,
.views-exposed-form .form-actions input.btn-secondary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.views-exposed-form .form-actions input.btn-lines:hover,
.views-exposed-form .form-actions input.btn-secondary:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.views-exposed-form .form-actions input.btn-lines:active,
.views-exposed-form .form-actions input.btn-lines:focus,
.views-exposed-form .form-actions input.btn-secondary:active,
.views-exposed-form .form-actions input.btn-secondary:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-lines:disabled,
.views-exposed-form .form-actions input.btn-secondary:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-lines.mono,
.views-exposed-form .form-actions input.btn-secondary.mono {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.views-exposed-form .form-actions input.btn-lines.mono:hover,
.views-exposed-form .form-actions input.btn-secondary.mono:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.views-exposed-form .form-actions input.btn-lines.mono:active,
.views-exposed-form .form-actions input.btn-lines.mono:focus,
.views-exposed-form .form-actions input.btn-secondary.mono:active,
.views-exposed-form .form-actions input.btn-secondary.mono:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-lines.mono:disabled,
.views-exposed-form .form-actions input.btn-secondary.mono:disabled {
  background-color: var(--color-neutral-1)
}
.views-exposed-form .form-actions input.btn-lines.mono.danger,
.views-exposed-form .form-actions input.btn-secondary.mono.danger {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.views-exposed-form .form-actions input.btn-lines.mono.danger:hover,
.views-exposed-form .form-actions input.btn-secondary.mono.danger:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.views-exposed-form .form-actions input.btn-lines.mono.danger:active,
.views-exposed-form .form-actions input.btn-lines.mono.danger:focus,
.views-exposed-form .form-actions input.btn-secondary.mono.danger:active,
.views-exposed-form .form-actions input.btn-secondary.mono.danger:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-lines.mono.danger:disabled,
.views-exposed-form .form-actions input.btn-secondary.mono.danger:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-other,
.views-exposed-form .form-actions input.btn-success-ghost,
.views-exposed-form .form-actions input.btn-transparency {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.views-exposed-form .form-actions input.btn-other:hover,
.views-exposed-form .form-actions input.btn-success-ghost:hover,
.views-exposed-form .form-actions input.btn-transparency:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.views-exposed-form .form-actions input.btn-other:active,
.views-exposed-form .form-actions input.btn-other:focus,
.views-exposed-form .form-actions input.btn-success-ghost:active,
.views-exposed-form .form-actions input.btn-success-ghost:focus,
.views-exposed-form .form-actions input.btn-transparency:active,
.views-exposed-form .form-actions input.btn-transparency:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-other:disabled,
.views-exposed-form .form-actions input.btn-success-ghost:disabled,
.views-exposed-form .form-actions input.btn-transparency:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.views-exposed-form .form-actions input.bg-white {
  background: var(--color-neutral-0)
}
.views-exposed-form .form-actions input.btn-info {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.views-exposed-form .form-actions input.btn-info:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.views-exposed-form .form-actions input.btn-info:active,
.views-exposed-form .form-actions input.btn-info:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.views-exposed-form .form-actions input.btn-info:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-info.btn-lines {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.views-exposed-form .form-actions input.btn-info.btn-lines:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.views-exposed-form .form-actions input.btn-info.btn-lines:active,
.views-exposed-form .form-actions input.btn-info.btn-lines:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-info.btn-lines:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.views-exposed-form .form-actions input.btn-xs {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.views-exposed-form .form-actions input.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.views-exposed-form .form-actions input.btn-md {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
.views-exposed-form .form-actions input.btn-lg {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.views-exposed-form .form-actions input.btn-xl {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.page-mentors-database {
  font-size: 14px
}
.page-mentors-database .container {
  max-width: 100%
}
.page-mentors-database .view-header {
  font-weight: bold;
  margin-bottom: 10px
}
.views-exposed-form .form--inline {
  display: flex;
  flex-wrap: wrap
}
.views-exposed-form .form-item {
  margin: 0 10px 10px 0
}
.views-exposed-form .form-item label {
  text-align: left;
  justify-content: start
}
.views-exposed-form .form-actions {
  margin-top: 15px
}
.view-mentor-profile .views-table td ul {
  margin-left: 15px;
  padding-left: 5px
}
.view-mentor-profile .views-table td ul li {
  line-height: 14px;
  font-size: 12px
}
.view-mentor-profile .views-table td.views-field-field-mentor-completed-jobs-act {
  width: 20%
}
.view-mentor-profile .views-table th.views-field-field-current-mentor-grade,
.view-mentor-profile .views-table th.views-field-field-resume-reviewer-grade {
  font-size: 9px
}
/*# sourceMappingURL=mentors-database.component.css.map */
