@import './components/common-styles/helpers/mixins';
@import "./components/03-organisms/view/view/view.component";

#toolbar-bar,
.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  z-index: 1002 !important;
}

#toolbar {
  &.clearfix {
    display: block;
  }
}

.toolbar-menu {
  &.clearfix {
    display: block;
  }
}

.toolbar-drawer {
  &.clearfix {
    display: block;
  }
}

#admin-menu {
  @include media('<desktop') {
    height: auto;
    top: 48px;
  }

  li {
    line-height: 1.4em !important;
  }
}

.adminimal-admin-toolbar.toolbar-fixed {
  #header {
    top: 39px;
  }

  &.toolbar-horizontal.toolbar-tray-open {
    #header {
      top: 80px;
    }
  }
}
