.views-field.views-field-field-job-type:last-child {
  width: 190px
}
.view-jobs .views-field.views-field-nothing {
  width: 135px
}
.view-jobs .views-field.views-field-title:first-child {
  width: 300px
}
.view-course-feedbacks a.tabledrag-handle .handle {
  height: auto;
  width: auto
}
#toolbar-bar,
.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  z-index: 1002!important
}
#toolbar.clearfix,
.toolbar-drawer.clearfix,
.toolbar-menu.clearfix {
  display: block
}
#admin-menu li {
  line-height: 1.4em!important
}
.adminimal-admin-toolbar.toolbar-fixed #header {
  top: 39px
}
.adminimal-admin-toolbar.toolbar-fixed.toolbar-horizontal.toolbar-tray-open #header {
  top: 80px
}
@media (max-width: 991px) {
  #admin-menu {
    height: auto;
    top: 48px
  }
}
/*# sourceMappingURL=admin.component.css.map */
