{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}


{%
  set classes = [
  'entity',
  'entity-paragraphs-item',
  'paragraphs-item-' ~ paragraph.bundle|clean_class,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  extra_class
]
%}

{{ attach_library('porto_sub/paragraph.card-with-discount.component') }}
{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="card-with-discount__wrapper card-with-discount__wrapper__color-{{ color }}">
        <div class="card-with-discount__main">
          {% if field_title %}
            <div class="card-with-discount__title d-flex align-items-center">
              {% if field_icon_type %}
                <div class="card-with-discount__title-icon-{{ field_icon_type }}"></div>
              {% endif %}

              <h3 class="card-with-discount__title-label font-h3">
                {{ field_title }}
              </h3>
            </div>
          {% endif %}

          {% if field_description %}
            <div class="card-with-discount__description font-lg">
              {{ field_description }}
            </div>
          {% endif %}
        </div>
        {% if field_wso_paragraphs[0] %}
          <div class="card-with-discount__discount-items">
            {% for key, item in field_wso_paragraphs if key|first != '#' %}
              {{ item }}
            {% endfor %}

            <div class="card-with-discount__instead-action">
              <div class="btn-wrapper btn--tertiary-xlg btn-icon-right--animation font-h4 link-scroll">
                <a class="inline-btn">{{ 'Instead...'|t }}</a>
              </div>
            </div>
          </div>
        {% endif %}

        {{ content|without(
          'field_title',
          'field_description',
          'field_icon_type',
          'field_wso_paragraphs'
        ) }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
