@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/color-variables';

// Base style.
.card-with-discount__wrapper {
  border-radius: 12px;
  padding: 40px;
  margin-top: 30px;
  @include media('<tablet') {
    padding: 20px;
  }

  // Color change according to chosen background color.
  &.card-with-discount__wrapper__color-blush_grey {
    background-color: $color-blush-grey;
  }
  &.card-with-discount__wrapper__color-white {
    background-color: $color-white-100;
  }
  &.card-with-discount__wrapper__color-oasis_blue {
    background-color: $color-oasis-blue;
  }
  &.card-with-discount__wrapper__color-monkey_blue {
    background-color: $color-monkey-blue;
  }

  .card-with-discount__main {
    .card-with-discount__title {
      .card-with-discount__title-icon-goal,
      .card-with-discount__title-icon-dollar {
        min-width: 42px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
        align-self: flex-start;
      }
      .card-with-discount__title-icon-goal {
        background-image: url("assets/goal.svg");
        background-color: $color-light-oasis;
      }
      .card-with-discount__title-icon-dollar {
        background-image: url("assets/dollar.svg");
        background-color: $color-monkey-grey;
      }

      .card-with-discount__title-label {
        margin: 0;
      }
    }

    .card-with-discount__description {
      margin-top: 30px;
      @include media('<tablet') {
        margin-top: 16px;
      }

      .formatted-text {
        p {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .card-with-discount__discount-items {
    margin-top: 30px;

    .card-with-discount__instead-action {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: -10px;

      a {
        &:hover, &:visited {
          background-color: transparent;
        }
      }
    }
  }
}

// Color change according to parent background color.
.card-with-discount__wrapper {
  &.card-with-discount__wrapper__color-white,
  &.card-with-discount__wrapper__color-oasis_blue,
  &.card-with-discount__wrapper__color-blush_grey {
    .card-with-discount__title-label,
    .card-with-discount__description .formatted-text p,
    .card-with-discount__instead-action a {
      color: $color-dark-100;
    }

    .card-with-discount__description .formatted-text p {
      color: $color-dark-70;
    }
  }
  &.card-with-discount__wrapper__color-monkey_blue {
    .card-with-discount__title-label,
    .card-with-discount__description .formatted-text p strong,
    .card-with-discount__instead-action a {
      color: $color-white-100;
    }

    .card-with-discount__description .formatted-text p {
      color: $color-white-70;
    }
  }
}
