.card-with-discount__wrapper {
  border-radius: 12px;
  padding: 40px;
  margin-top: 30px
}
.card-with-discount__wrapper.card-with-discount__wrapper__color-blush_grey {
  background-color: #f5f7f8
}
.card-with-discount__wrapper.card-with-discount__wrapper__color-white {
  background-color: #fff
}
.card-with-discount__wrapper.card-with-discount__wrapper__color-oasis_blue {
  background-color: #189eda
}
.card-with-discount__wrapper.card-with-discount__wrapper__color-monkey_blue {
  background-color: #0a4059
}
.card-with-discount__wrapper .card-with-discount__main .card-with-discount__title .card-with-discount__title-icon-dollar,
.card-with-discount__wrapper .card-with-discount__main .card-with-discount__title .card-with-discount__title-icon-goal {
  min-width: 42px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  align-self: flex-start
}
.card-with-discount__wrapper .card-with-discount__main .card-with-discount__title .card-with-discount__title-icon-goal {
  background-image: url(assets/goal.svg);
  background-color: #b7e1f3
}
.card-with-discount__wrapper .card-with-discount__main .card-with-discount__title .card-with-discount__title-icon-dollar {
  background-image: url(assets/dollar.svg);
  background-color: #9db2bc
}
.card-with-discount__wrapper .card-with-discount__main .card-with-discount__title .card-with-discount__title-label {
  margin: 0
}
.card-with-discount__wrapper .card-with-discount__main .card-with-discount__description {
  margin-top: 30px
}
.card-with-discount__wrapper .card-with-discount__main .card-with-discount__description .formatted-text p {
  margin-bottom: 20px
}
.card-with-discount__wrapper .card-with-discount__main .card-with-discount__description .formatted-text p:last-child {
  margin-bottom: 0
}
.card-with-discount__wrapper .card-with-discount__discount-items {
  margin-top: 30px
}
.card-with-discount__wrapper .card-with-discount__discount-items .card-with-discount__instead-action {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -10px
}
.card-with-discount__wrapper .card-with-discount__discount-items .card-with-discount__instead-action a:hover,
.card-with-discount__wrapper .card-with-discount__discount-items .card-with-discount__instead-action a:visited {
  background-color: transparent
}
.card-with-discount__wrapper.card-with-discount__wrapper__color-blush_grey .card-with-discount__description .formatted-text p,
.card-with-discount__wrapper.card-with-discount__wrapper__color-blush_grey .card-with-discount__instead-action a,
.card-with-discount__wrapper.card-with-discount__wrapper__color-blush_grey .card-with-discount__title-label,
.card-with-discount__wrapper.card-with-discount__wrapper__color-oasis_blue .card-with-discount__description .formatted-text p,
.card-with-discount__wrapper.card-with-discount__wrapper__color-oasis_blue .card-with-discount__instead-action a,
.card-with-discount__wrapper.card-with-discount__wrapper__color-oasis_blue .card-with-discount__title-label,
.card-with-discount__wrapper.card-with-discount__wrapper__color-white .card-with-discount__description .formatted-text p,
.card-with-discount__wrapper.card-with-discount__wrapper__color-white .card-with-discount__instead-action a,
.card-with-discount__wrapper.card-with-discount__wrapper__color-white .card-with-discount__title-label {
  color: #2f2f2f
}
.card-with-discount__wrapper.card-with-discount__wrapper__color-blush_grey .card-with-discount__description .formatted-text p,
.card-with-discount__wrapper.card-with-discount__wrapper__color-oasis_blue .card-with-discount__description .formatted-text p,
.card-with-discount__wrapper.card-with-discount__wrapper__color-white .card-with-discount__description .formatted-text p {
  color: rgba(47, 47, 47, .7)
}
.card-with-discount__wrapper.card-with-discount__wrapper__color-monkey_blue .card-with-discount__description .formatted-text p strong,
.card-with-discount__wrapper.card-with-discount__wrapper__color-monkey_blue .card-with-discount__instead-action a,
.card-with-discount__wrapper.card-with-discount__wrapper__color-monkey_blue .card-with-discount__title-label {
  color: #fff
}
.card-with-discount__wrapper.card-with-discount__wrapper__color-monkey_blue .card-with-discount__description .formatted-text p {
  color: rgba(255, 255, 255, .7)
}
@media (max-width: 767px) {
  .card-with-discount__wrapper {
    padding: 20px
  }
  .card-with-discount__wrapper .card-with-discount__main .card-with-discount__description {
    margin-top: 16px
  }
}
/*# sourceMappingURL=paragraph.card-with-discount.component.css.map */
