@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

#user-profile-form {
  label {
    color: var(--color-base);
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal !important;
    letter-spacing: .1px;
    line-height: 1.13;
    margin-bottom: 10px;
  }

  .description {
    color: var(--color-neutral-7);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    margin-top: 6px;
  }

  .field-group-div {
    margin-top: 48px;
    border-top: 1px solid var(--color-neutral-2);
    padding-top: 40px;

    h3 {
      color: var(--color-base);
      font-size: 24px;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .2px;
      line-height: 1.17;
    }
  }

  fieldset {
    margin-top: 48px;

    &:first-child {
      margin-top: 48px;

      legend {
        border-top: none;
        padding-top: 0;
      }
    }

    legend {
      border-bottom: none;
      border-top: 1px solid var(--color-neutral-2);
      color: var(--color-base);
      font-size: 24px;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .2px;
      line-height: 1.17;
      margin-top: 48px;
      padding-top: 40px;
    }
    padding: 0;
    clear: both;

    &.label-regular {
      fieldset {
        legend {
          color: var(--color-base);
          font-size: 16px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal !important;
          letter-spacing: .1px;
          line-height: 1.13;
          margin-bottom: 10px;
        }
      }
    }
  }

  #edit-socialloginandsocialshare-linked {
    display: none;
  }

  .form-actions {
    .form-submit {
      display: inline-block;
      font-size: 16px;
      @include responsive-prop(700, 800, font-weight);
      width: 200px;
      min-width: 100%;
      height: 48px;

      + .form-submit {
        margin-top: 20px;
      }
    }
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .form-type-checkbox {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 62px;
    border-radius: 3px;
    background-color: var(--color-neutral-0);
    border: none;
    float: left;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    input[type="checkbox"] {
      height: 0;
      margin: 0 0 0 24px;
      opacity: 0;
      width: 0;
    }

    label {
      &.option {
        position: absolute;
        width: 87%;
        height: 60px;
        padding-left: 17px;
        cursor: pointer;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        left: 0;
        font-size: 16px;
        font-weight: bold !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: .1px;
        color: var(--color-base);

        &:before {
          -o-transition: border .15s ease-in-out;
          -webkit-transition: border .15s ease-in-out;
          background-color: var(--color-neutral-0);
          border: 1px solid var(--color-neutral-4);
          border-radius: 2px;
          content: "";
          display: inline-block;
          height: 24px;
          left: 0;
          margin-left: -17px;
          margin-right: 16px;
          overflow: visible;
          position: relative;
          top: 5px;
          transition: border .15s ease-in-out;
          width: 24px;
        }
      }
    }

    input {
      &:checked {
        + label {
          &:before {
            -o-transition: border .15s ease-in-out;
            -webkit-transition: border .15s ease-in-out;
            background-color: $color-green-100;
            border: 1px solid $color-green-100;
            border-radius: 2px;
            content: " ";
            display: inline-block;
            height: 24px;
            left: 0;
            margin-left: -17px;
            margin-right: 16px;
            position: relative;
            top: 5px;
            transition: border .15s ease-in-out;
            width: 24px;
          }

          &:after {
            background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
            background-repeat: no-repeat;
            background-size: contain;
            content: " ";
            height: 10px;
            left: 6px;
            position: absolute;
            top: 12px;
            width: 13px;
            //z-index: 9999;
          }
        }
      }
    }

    .description {
      color: var(--color-base);
      font-size: 13px;
      font-weight: 500;
      letter-spacing: .2px;
      line-height: 1.54;
      margin-left: 42px;
      margin-top: 16px;
    }
  }

  .form-type-checkboxes {
    .form-type-checkbox {
      max-width: 49%;
      margin-right: 0;

      &.form-item-roles-2 {
        max-width: 100%;
      }

      &:nth-child(even) {
        margin-left: 15px;
      }
    }
  }

  .form-type-radios {
    .form-type-radio {
      max-width: 49%;
      margin-right: 0;

      &:nth-child(even) {
        margin-left: 15px;
      }
    }
  }

  .form-item-picture-delete {
    margin-top: 20px;
  }

  .form-item-files-picture-upload {
    input {
      display: none;
    }

    label {
      max-width: 184px;
      border-radius: 5px;
      background-color: $color-green-100;
      padding: 14px 35px;
      color: var(--color-neutral-0);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .form-textarea {
    height: auto;
  }
  margin-bottom: 40px;

  .form-checkboxes {
    .form-type-textfield {
      display: inline-block;
      width: 50%;
    }
  }

  #edit-field-sex-und {
    input[value="_none"] {
      display: none;
    }
  }

  .field-group-fieldset {
    &.group-div-r1 {
      .fieldset-wrapper {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .field-group-div {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .form-item-field-be-contacted-by-und {
    .form-type-checkbox {
      margin-left: 0 !important;
      max-width: 100%;
    }
  }

  .form-item-roles {
    .form-type-checkbox {
      margin-left: 0 !important;
      margin-right: 17px;
      max-width: 47%;
    }
  }

  .col-md-12 {
    padding: 0;
  }

  .file-widget {
    &.form-managed-file {
      input[type="file"] {
        display: none;
      }

      input[type="submit"] {
        display: none;
      }
    }
  }

  .form-item {
    > .file-widget {
      &.form-managed-file {
        background-color: var(--color-neutral-1);
        border: 1px dashed var(--color-neutral-4);
        border-radius: 5px;
        height: 196px;
        position: relative;
        text-align: center;
        width: 100%;
      }
    }
  }

  .form-type-managed-file {
    label {
      background-color: $color-green-100;
      border-radius: 5px;
      color: var(--color-neutral-0) !important;
      display: inline-block;
      height: 56px;
      line-height: 1.6;
      margin-left: -95px;
      padding: 14px 35px;
      position: absolute;
      top: 30%;
      width: 184px;
      z-index: 9;
    }
    position: relative;

    .description {
      position: absolute;
      top: 130px;
      text-align: center;
      width: 100%;

      strong {
        color: var(--color-base);
        font-size: 13px;
      }
    }
  }

  .field-type-file {
    text-align: center;

    fieldset {
      margin-top: 0;
    }
  }

  .table-striped {
    > tbody {
      > tr {
        &:nth-of-type(odd) {
          background: none;
        }
      }
    }
  }

  span {
    &.file {
      display: inline-block;
      margin: 10px;
    }
  }
}

#bootstrap-fieldgroup-nav-item--professional-profile {
  .form-actions {
    margin-top: 120px;

    .form-submit {
      bottom: 110px;
    }
  }
}

.multipage-link-previous {
  width: auto !important;
}

#edit-picture {
  img {
    border: 1px solid var(--color-neutral-2);
    border-radius: 50%;
    height: 93px;
    margin-bottom: 20px;
    padding: 8px;
    width: 93px;
  }
}

fieldset#edit-signature-format {
  margin-top: 0;
}

#edit-signature-format {
  .form-item-signature-format {
    margin-top: 20px;
    padding: 0;
    width: 100%;
  }
}

html {
  &.js {
    #user-profile-form {
      fieldset {
        &.collapsed {
          height: auto;
        }
      }
    }
  }
}

.field-group-multipage {
  .field-name-field-city {
    &.field-widget-text-textfield {
      margin-top: 0;
    }
  }
}

#edit-field-birthdate-und-0-value {
  position: relative;
}

.icon-calendar {
  color: $color-blue;
  font-size: 18px;
  left: 200px;
  position: absolute;
  top: 22px;
}

.field-group-div {
  &.form-wrapper {
    .col-md-12 {
      &:nth-child(even) {
        padding-left: 15px;
      }
    }
  }
}

.field-group-fieldset {
  &.form-wrapper {
    .col-md-12 {
      &:nth-child(even) {
        padding-left: 15px;
      }
    }
  }
}

.field-type-file {
  legend {
    display: none;
  }

  .fieldset-legend {
    display: none;
  }

  table {
    border: none !important;

    td {
      vertical-align: middle !important;

      input[type="submit"] {
        &:first-child {
          display: none;
        }
      }
    }

    thead {
      display: none;
    }

    tbody {
      border: none;
    }
  }

  .tabledrag-toggle-weight {
    display: none;
  }

  .tabledrag-handle {
    display: none;
  }
}

.file-widget-title-upload {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal !important;
  letter-spacing: .1px;
  line-height: 1.13;
  margin-bottom: 10px;
  text-align: left;
}

.file-widget {
  input[name="upload_und_0_remove_button"] {
    margin-left: 140px !important;
  }
}

.form-item-upload-und-0-display {
  display: none;
}

td {
  &.checkbox {
    display: none;
  }
}

@media (min-width: 500px) {
  #user-profile-form {
    .form-actions {
      justify-content: flex-start;
      flex-wrap: nowrap;

      .form-submit {
        min-width: 200px;

        + .form-submit {
          margin-right: 20px;
          margin-top: 0;
        }
      }
    }
  }
}
