#user-profile-form {
  margin-bottom: 40px
}
#user-profile-form label {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal!important;
  letter-spacing: .1px;
  line-height: 1.13;
  margin-bottom: 10px
}
#user-profile-form .description {
  color: var(--color-neutral-7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  margin-top: 6px
}
#user-profile-form .field-group-div {
  margin-top: 48px;
  border-top: 1px solid var(--color-neutral-2);
  padding-top: 40px
}
#user-profile-form .field-group-div h3 {
  color: var(--color-base);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.17
}
#user-profile-form fieldset {
  margin-top: 48px;
  padding: 0;
  clear: both
}
#user-profile-form fieldset:first-child {
  margin-top: 48px
}
#user-profile-form fieldset:first-child legend {
  border-top: none;
  padding-top: 0
}
#user-profile-form fieldset legend {
  border-bottom: none;
  border-top: 1px solid var(--color-neutral-2);
  color: var(--color-base);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.17;
  margin-top: 48px;
  padding-top: 40px
}
#user-profile-form fieldset.label-regular fieldset legend {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal!important;
  letter-spacing: .1px;
  line-height: 1.13;
  margin-bottom: 10px
}
#user-profile-form #edit-socialloginandsocialshare-linked {
  display: none
}
#user-profile-form .form-actions {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center
}
#user-profile-form .form-actions .form-submit {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  min-width: 100%;
  height: 48px
}
#user-profile-form .form-actions .form-submit + .form-submit {
  margin-top: 20px
}
#user-profile-form .form-type-checkbox {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 62px;
  border-radius: 3px;
  background-color: var(--color-neutral-0);
  border: none;
  float: left;
  margin-right: 16px
}
#user-profile-form .form-type-checkbox:last-child {
  margin-right: 0
}
#user-profile-form .form-type-checkbox input[type=checkbox] {
  height: 0;
  margin: 0 0 0 24px;
  opacity: 0;
  width: 0
}
#user-profile-form .form-type-checkbox label.option {
  position: absolute;
  width: 87%;
  height: 60px;
  padding-left: 17px;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  left: 0;
  font-size: 16px;
  font-weight: bold!important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: .1px;
  color: var(--color-base)
}
#user-profile-form .form-type-checkbox label.option:before {
  -o-transition: border .15s ease-in-out;
  -webkit-transition: border .15s ease-in-out;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4);
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 24px;
  left: 0;
  margin-left: -17px;
  margin-right: 16px;
  overflow: visible;
  position: relative;
  top: 5px;
  transition: border .15s ease-in-out;
  width: 24px
}
#user-profile-form .form-type-checkbox input:checked + label:before {
  -o-transition: border .15s ease-in-out;
  -webkit-transition: border .15s ease-in-out;
  background-color: #0cb930;
  border: 1px solid #0cb930;
  border-radius: 2px;
  content: " ";
  display: inline-block;
  height: 24px;
  left: 0;
  margin-left: -17px;
  margin-right: 16px;
  position: relative;
  top: 5px;
  transition: border .15s ease-in-out;
  width: 24px
}
#user-profile-form .form-type-checkbox input:checked + label:after {
  background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  height: 10px;
  left: 6px;
  position: absolute;
  top: 12px;
  width: 13px
}
#user-profile-form .form-type-checkbox .description {
  color: var(--color-base);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.54;
  margin-left: 42px;
  margin-top: 16px
}
#user-profile-form .form-type-checkboxes .form-type-checkbox {
  max-width: 49%;
  margin-right: 0
}
#user-profile-form .form-type-checkboxes .form-type-checkbox.form-item-roles-2 {
  max-width: 100%
}
#user-profile-form .form-type-checkboxes .form-type-checkbox:nth-child(even) {
  margin-left: 15px
}
#user-profile-form .form-type-radios .form-type-radio {
  max-width: 49%;
  margin-right: 0
}
#user-profile-form .form-type-radios .form-type-radio:nth-child(even) {
  margin-left: 15px
}
#user-profile-form .form-item-picture-delete {
  margin-top: 20px
}
#user-profile-form .form-item-files-picture-upload input {
  display: none
}
#user-profile-form .form-item-files-picture-upload label {
  max-width: 184px;
  border-radius: 5px;
  background-color: #0cb930;
  padding: 14px 35px;
  color: var(--color-neutral-0)
}
#user-profile-form .form-item-files-picture-upload label:hover {
  cursor: pointer
}
#user-profile-form .form-textarea {
  height: auto
}
#user-profile-form .form-checkboxes .form-type-textfield {
  display: inline-block;
  width: 50%
}
#user-profile-form #edit-field-sex-und input[value=_none] {
  display: none
}
#user-profile-form .field-group-fieldset.group-div-r1 .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap
}
#user-profile-form .field-group-fieldset .field-group-div {
  border-top: none;
  margin-top: 0;
  padding-top: 0
}
#user-profile-form .form-item-field-be-contacted-by-und .form-type-checkbox {
  margin-left: 0!important;
  max-width: 100%
}
#user-profile-form .form-item-roles .form-type-checkbox {
  margin-left: 0!important;
  margin-right: 17px;
  max-width: 47%
}
#user-profile-form .col-md-12 {
  padding: 0
}
#user-profile-form .file-widget.form-managed-file input[type=file],
#user-profile-form .file-widget.form-managed-file input[type=submit] {
  display: none
}
#user-profile-form .form-item > .file-widget.form-managed-file {
  background-color: var(--color-neutral-1);
  border: 1px dashed var(--color-neutral-4);
  border-radius: 5px;
  height: 196px;
  position: relative;
  text-align: center;
  width: 100%
}
#user-profile-form .form-type-managed-file {
  position: relative
}
#user-profile-form .form-type-managed-file label {
  background-color: #0cb930;
  border-radius: 5px;
  color: var(--color-neutral-0)!important;
  display: inline-block;
  height: 56px;
  line-height: 1.6;
  margin-left: -95px;
  padding: 14px 35px;
  position: absolute;
  top: 30%;
  width: 184px;
  z-index: 9
}
#user-profile-form .form-type-managed-file .description {
  position: absolute;
  top: 130px;
  text-align: center;
  width: 100%
}
#user-profile-form .form-type-managed-file .description strong {
  color: var(--color-base);
  font-size: 13px
}
#user-profile-form .field-type-file {
  text-align: center
}
#user-profile-form .field-type-file fieldset {
  margin-top: 0
}
#user-profile-form .table-striped > tbody > tr:nth-of-type(odd) {
  background: 0 0
}
#user-profile-form span.file {
  display: inline-block;
  margin: 10px
}
#bootstrap-fieldgroup-nav-item--professional-profile .form-actions {
  margin-top: 120px
}
#bootstrap-fieldgroup-nav-item--professional-profile .form-actions .form-submit {
  bottom: 110px
}
.multipage-link-previous {
  width: auto!important
}
#edit-picture img {
  border: 1px solid var(--color-neutral-2);
  border-radius: 50%;
  height: 93px;
  margin-bottom: 20px;
  padding: 8px;
  width: 93px
}
fieldset#edit-signature-format {
  margin-top: 0
}
#edit-signature-format .form-item-signature-format {
  margin-top: 20px;
  padding: 0;
  width: 100%
}
html.js #user-profile-form fieldset.collapsed {
  height: auto
}
.field-group-multipage .field-name-field-city.field-widget-text-textfield {
  margin-top: 0
}
#edit-field-birthdate-und-0-value {
  position: relative
}
.icon-calendar {
  color: #087dfd;
  font-size: 18px;
  left: 200px;
  position: absolute;
  top: 22px
}
.field-group-div.form-wrapper .col-md-12:nth-child(even),
.field-group-fieldset.form-wrapper .col-md-12:nth-child(even) {
  padding-left: 15px
}
.field-type-file .fieldset-legend,
.field-type-file legend {
  display: none
}
.field-type-file table {
  border: none!important
}
.field-type-file table td {
  vertical-align: middle!important
}
.field-type-file table td input[type=submit]:first-child,
.field-type-file table thead {
  display: none
}
.field-type-file table tbody {
  border: none
}
.field-type-file .tabledrag-handle,
.field-type-file .tabledrag-toggle-weight {
  display: none
}
.file-widget-title-upload {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal!important;
  letter-spacing: .1px;
  line-height: 1.13;
  margin-bottom: 10px;
  text-align: left
}
.file-widget input[name=upload_und_0_remove_button] {
  margin-left: 140px!important
}
.form-item-upload-und-0-display,
td.checkbox {
  display: none
}
@media (min-width: 500px) {
  #user-profile-form .form-actions {
    justify-content: flex-start;
    flex-wrap: nowrap
  }
  #user-profile-form .form-actions .form-submit {
    min-width: 200px
  }
  #user-profile-form .form-actions .form-submit + .form-submit {
    margin-right: 20px;
    margin-top: 0
  }
}
@media (min-width: 992px) {
  #user-profile-form .field-group-div h3,
  #user-profile-form .form-actions .form-submit,
  #user-profile-form fieldset legend {
    font-weight: 800
  }
}
/*# sourceMappingURL=user-profile.component.css.map */
