{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}

{{ attach_library('porto_sub/footer.component') }}
<section{{ attributes.addClass(classes) }}>
  {% block content %}
    <footer class="footer-new">
      <div class="container">
        <div class="row">
          <div class="footer-container main-footer">
            {{ content }}
          </div>
          <div class="under-main-footer-list">
            <img loading="lazy"
                 src="{{ drupal_theme_path }}images/wso-logo-2019.png"
                 srcset="{{ drupal_theme_path }}images/wso-logo-2019.png 1x, {{ drupal_theme_path }}images/wso-logo-2019-2x.png 2x"
                 alt="Home" class="img-responsive" width="96" height="32">
            {% set auto_year = 'now'|date('Y') %}
            <p class="footer-cr">©2005-{{ auto_year }} Wall Street Oasis. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  {% endblock %}
</section>
