.footer-new {
  background-color: var(--color-neutral-0);
  box-shadow: 0 -1px 0 0 var(--color-neutral-3)
}
.footer-new h2 {
  font-size: 1.8em;
  line-height: 27px;
  margin-bottom: 14px
}
.footer-new .footer-container .formatted-text {
  width: 100%;
  display: flex;
  justify-content: space-between
}
.footer-new .footer-container .main-footer-list {
  list-style: none;
  padding: 0
}
.footer-new .footer-container .main-footer-list p.list-caption {
  font-weight: 700;
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .2px;
  line-height: normal;
  margin-bottom: 12px
}
.footer-new .footer-container .main-footer-list li {
  line-height: 28.5px
}
.footer-new .footer-container .main-footer-list li a {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.71
}
.footer-new .under-main-footer-list {
  margin-top: 38px;
  width: 100%
}
.footer-new .under-main-footer-list .footer-logo {
  display: inline-block;
  width: 96px;
  height: 32px;
  position: relative
}
.footer-new .under-main-footer-list .footer-logo img {
  display: inline-block;
  margin-bottom: 38px;
  width: 100%;
  height: auto
}
.darkmode .footer-new .under-main-footer-list .footer-logo img {
  opacity: 0
}
.darkmode .footer-new .under-main-footer-list .footer-logo:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/themes/custom/porto_sub/images/wso-logo-2019-dark-2x.png) center left/contain no-repeat
}
.footer-new .under-main-footer-list p {
  color: #9db2bc;
  float: right;
  font-size: 12px!important;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.17!important;
  margin: 0
}
.darkmode .footer-new .under-main-footer-list p {
  color: #c0beba
}
@media (min-width: 992px) {
  .footer-new .footer-container .formatted-text {
    padding: 43px 15px 0
  }
  .footer-new .footer-container .main-footer-list p.list-caption {
    font-weight: 800
  }
}
@media (min-width: 1200px) {
  .footer-new > .container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto
  }
}
@media (max-width: 991px) {
  .footer-new {
    padding: 0 30px
  }
  .footer-new .footer-container .formatted-text {
    display: block;
    margin: 30px 0 0;
    padding: 30px 0 0;
    width: 100%
  }
  .footer-new .under-main-footer-list {
    width: 100%;
    margin: 0
  }
  .footer-new .under-main-footer-list .footer-logo img {
    display: inherit;
    margin: 48px auto
  }
  .footer-new .under-main-footer-list p {
    float: none;
    margin-bottom: 40px;
    text-align: center
  }
}
/*# sourceMappingURL=footer.component.css.map */
