.footer-new {
  background-color: var(--color-neutral-0);
  box-shadow: 0 -1px 0 0 var(--color-neutral-3);

  @include media('<desktop') {
    padding: 0 30px;
  }

  > .container {
    @include media('>=large-desktop') {
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  h2 {
    font-size: 1.8em;
    line-height: 27px;
    margin-bottom: 14px;
  }

  .footer-container {
    .formatted-text {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include media('<desktop') {
        display: block;
        margin: 30px 0 0;
        padding: 30px 0 0;
        width: 100%;
      }

      @include media('>=desktop') {
        padding: 43px 15px 0;
      }
    }

    .main-footer-list {
      list-style: none;
      padding: 0;

      p {
        &.list-caption {
          @include responsive-prop(700, 800, 'font-weight');
          color: var(--color-base);
          font-size: 16px;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: .2px;
          line-height: normal;
          margin-bottom: 12px;
        }
      }

      li {
        line-height: 28.5px;

        a {
          color: var(--color-base);
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .1px;
          line-height: 1.71;
        }
      }
    }
  }

  .under-main-footer-list {
    margin-top: 38px;
    width: 100%;

    @include media('<desktop') {
      width: 100%;
      margin: 0;
    }

    .footer-logo {
      display: inline-block;
      width: 96px;
      height: 32px;
      position: relative;

      img {
        display: inline-block;
        margin-bottom: 38px;
        width: 100%;
        height: auto;

        @include media('<desktop') {
          display: inherit;
          margin: 48px auto;
        }
      }

      .darkmode & {
        img {
          opacity: 0;
        }

        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url('/themes/custom/porto_sub/images/wso-logo-2019-dark-2x.png') no-repeat center left;
          background-size: contain;
        }
      }
    }

    p {
      @include font-color-grey-darkmode;
      float: right;
      font-size: 12px !important;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .1px;
      line-height: 1.17 !important;
      margin: 0;

      @include media('<desktop') {
        float: none;
        margin-bottom: 40px;
        text-align: center;
      }
    }
  }
}
