Footer (new) ->

<ul class="main-footer-list">
  <li>
    <p class="list-caption">Courses, Certifications &amp; Services</p>
  </li>
  <li><a href="/courses">All WSO Courses &amp; Certifications</a></li>
  <li><a href="/courses/financial-modeling-prep/elite-modeling-valuation-certification">WSO Elite Modeling Package</a></li>
  <li><a href="/resources/financial-modeling">Financial Modeling Resources</a></li>
  <li><a href="/career-services/resume-review-edits">Resume Review</a></li>
  <li><a href="/career-services/mentors">Find a Mentor</a></li>
  <li><a href="/wso-alpha">WSO Alpha</a></li>
  <li><a href="/the-talent-oasis/">The Talent Oasis</a></li>
</ul>

<ul class="main-footer-list">
  <li>
    <p class="list-caption">Community</p>
  </li>
  <li><a href="/forum">All Forums</a></li>
  <li><a href="/events">All Events</a></li>
  <li><a href="/resources">WSO Resources</a></li>
  <li><a href="/finance-dictionary">Finance Dictionary</a></li>
  <li><a href="/wall-street-oasis-editorial-board">WSO Editorial Board</a></li>
  <li><a href="/resources/excel">Excel Resources</a></li>
  <li><a href="/media/podcasts">WSO Podcasts</a></li>
  <li><a href="/media/newsletters">WSO Newsletters</a></li>
</ul>

<ul class="main-footer-list">
  <li>
    <p class="list-caption">Data, Reports &amp; Resources</p>
  </li>
  <li><a href="/wso-alpha">WSO Alpha</a></li>
  <li><a href="/resources/industry-reports">Industry Reports</a></li>
  <li><a href="/company/salary">Salary Data</a></li>
  <li><a href="/company/interview">Interview Data</a></li>
  <li><a href="/company/review">Company Reviews</a></li>
  <li><a href="/resources/templates">Free Templates</a></li>
  <li><a href="/wso-financial-aid-program">WSO Financial Aid Program</a></li>
</ul>

<ul class="main-footer-list">
  <li>
    <p class="list-caption">Contact &amp; Legal</p>
  </li>
  <li><a href="/about-wallstreetoasiscom">About Us</a></li>
  <li><a href="/wall-street-oasis-careers-internships">WSO Careers</a></li>
  <li><a href="/contact-us">Contact Us</a></li>
  <li><a href="/legal">Terms of Service</a></li>
  <li><a href="/privacy-policy-wall-street-oasis">Privacy Policy</a></li>
  <li><a href="/files/2023%20WSO%20Ads%20Media%20Kit%20Call%20CTA.pdf">Advertise with WSO</a></li>
  <li><a href="/courses/affiliates">WSO Affiliate Program</a></li>
</ul>
