@import "./components/common-styles/helpers/mixins";
@import './components/00-base/style-guide-2023/colors/color-variables';
@import './components/00-base/style-guide-2023/fonts/fonts.component';

.wso-paragraph-table-redesign {
  margin-top: 30px;

  @include media('<tablet') {
    margin-left: -16px;
    margin-right: -16px;
  }

  .field-name-field-wsop-table-header-type {
    display: none;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;

    tr {
      th {
        padding: 8px 16px 10px;
      }

      td {
        padding: 16px;
      }

      th:last-child,
      td:last-child {
        width: fit-content;
        max-width: 20%;
        text-align: end;
        white-space: nowrap;

        @include media('<tablet') {
          max-width: 25%;
        }
      }
    }
  }

  thead {
    background: linear-gradient(270.42deg, #0A4059 -18.13%, #1D688B 73.53%, #189EDA 119%) fixed;

    tr:first-child {
      th {
        &:first-child {
          border-top-left-radius: 12px;
        }

        &:last-child {
          border-top-right-radius: 12px;
        }
      }
    }

    th {
      background-color: transparent !important;
    }

    p {
      @extend .font-h5;
      margin-bottom: 0;
    }
  }

  tbody {
    counter-reset: item;

    tr {
      background-color: transparent !important;

      td {
        border: 1px solid $color-dark-10;

        p {
          margin-bottom: 0;
        }
      }
    }

    tr:not(:last-child) {
      td {
        &:first-child {
          p:first-child {
            display: flex;

            @include media('<tablet') {
              display: block;
            }

            &::before {
              @extend .font-sm;
              font-weight: 700;
              display: inline-flex;
              justify-content: center;
              align-self: center;
              align-items: center;
              line-height: 1;
              content: counter(item) "";
              counter-increment: item;
              min-width: 24px;
              min-height: 24px;
              width: 24px;
              height: 24px;
              margin-right: 16px;
              background-color: $color-yellow;
              border-radius: 50%;

              @include media('<tablet') {
                display: block;
                min-width: 22px;
                min-height: 22px;
                width: 22px;
                height: 22px;
                margin-bottom: 6px;
                font-weight: 700;
                line-height: 22px;
              }
            }
          }
        }

        p:first-child {
          @extend .font-h4;
          color: $color-dark-100;

          @include media('<tablet') {
            @include font-lg-bold-mobile;
          }
        }

        p:not(:first-child) {
          @extend .font-sm;
          color: $color-dark-70;
          margin-top: 6px;
          margin-left: 40px;

          @include media('<tablet') {
            margin-left: 0;
          }
        }
      }
    }

    tr:last-child {
      td {
        &:first-child {
          border-bottom-left-radius: 12px;
        }

        &:last-child {
          border-bottom-right-radius: 12px;
        }
      }

      p {
        @extend .font-h3;
        color: $color-dark-100;

        @include media('<tablet') {
          @include font-lg-bold-mobile;
        }
      }
    }
  }
}
