@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.paragraphs-item-wso-paragraph-table {
  .field-name-field-wsop-table-header-type {
    display: none;
  }

  caption {
    caption-side: top;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    color: var(--color-neutral-6);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    p {
      margin: 0 0 10px;
    }
  }

  th {
    border-bottom: var(--color-neutral-0) 1px solid;
    font-weight: normal;
    padding: 3px 5px;
    text-align: center;
  }

  tr {
    &.even {
      background-color: $lightblue_b8e3f5;
      border: none;

      td {
        background-color: $lightblue_b8e3f5;
        border-bottom: var(--color-neutral-0) 1px solid;
      }

      th {
        background-color: $lightblue_b8e3f5;
        border-bottom: var(--color-neutral-0) 1px solid;
      }
    }

    &.odd {
      background-color: $lightblue_b8e3f5;
      border: none;

      td {
        background-color: $lightblue_b8e3f5;
        border-bottom: var(--color-neutral-0) 1px solid;
      }

      th {
        background-color: $lightblue_b8e3f5;
        border-bottom: var(--color-neutral-0) 1px solid;
      }
    }
  }

  td {
    padding: 3px 5px;
    text-align: center;
  }

  .tablefield-wrapper {
    position: relative;
  }

  &.header-type-0 {
    th {
      background-color: $color-blue;
      color: var(--color-neutral-0);
      @include responsive-prop(700, 800, 'font-weight');
    }
  }

  &.header-type-1 {
    th {
      background-color: $color-blue;
      color: var(--color-neutral-0);
      @include responsive-prop(700, 800, 'font-weight');
    }

    tr {
      &:last-child {
        background-color: $skyblue_88d1ee;
        @include responsive-prop(700, 800, 'font-weight');
      }
    }
  }

  &.header-type-2 {
    th {
      &:first-child {
        background-color: $color-blue;
        color: var(--color-neutral-0);
        @include responsive-prop(700, 800, 'font-weight');
      }
    }
  }

  &.header-type-3 {
    th {
      &:first-child {
        background-color: $color-blue;
        color: var(--color-neutral-0);
        @include responsive-prop(700, 800, 'font-weight');
      }

      &:last-child {
        background-color: $skyblue_88d1ee;
        @include responsive-prop(700, 800, 'font-weight');
      }
    }

    td {
      &:first-child {
        background-color: $color-blue;
        color: var(--color-neutral-0);
        @include responsive-prop(700, 800, 'font-weight');
      }

      &:last-child {
        background-color: $skyblue_88d1ee;
        @include responsive-prop(700, 800, 'font-weight');
      }
    }
  }

  &.header-type-4 {
    th {
      background-color: $color-blue;
      color: var(--color-neutral-0);
      @include responsive-prop(700, 800, 'font-weight');
    }

    td {
      &:first-child {
        background-color: $skyblue_88d1ee;
        @include responsive-prop(700, 800, 'font-weight');
      }
    }
  }
}

@include media('<desktop') {
  .paragraphs-item-wso-paragraph-table {
    .tablefield-wrapper {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid var(--color-neutral-4);
      overflow-x: scroll;
      overflow-y: hidden;

      >table {
        background-color: var(--color-neutral-0);
        margin-bottom: 0;
      }
    }
  }

  .print-version {
    .paragraphs-item-wso-paragraph-table {
      .tablefield-wrapper {
        >table {
          /* autoprefixer: ignore next */
          page-break-inside: avoid;
        }
      }
    }
  }
}

@media (max-width: 991px) and (max-width: 991px) {
  .print-version {
    .paragraphs-item-wso-paragraph-table {
      .tablefield-wrapper {
        border: none;
        overflow: visible;
      }
    }
  }
}

.page-courses {
  .node-landing-page {
    .paragraphs-item-wso-paragraph-table {
      .tablefield-wrapper {
        .table {
          tr, td {
            padding: 20px 15px;
          }

          @include media('>=tablet', '<desktop') {
            .col_0 {
              width: 85%;
            }
          }

          @include media('<tablet') {
            .col_0 {
              width: 70%;
            }
          }
        }
      }
    }
  }
}

.entity-paragraphs-item.paragraph--type--layout,
.entity-paragraphs-item.paragraphs-item-flexible {
  .paragraphs-item-wso-paragraph-table {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      font-style: italic;
      font-size: 16px;
      border: 1px solid var(--color-neutral-5);
    }

    th {
      font-weight: normal;
      text-align: left;
      border: 1px solid var(--color-base);
      padding: 20px;

      p {
        margin: 0;
      }
    }

    tr {
      &.even {
        background-color: transparent;
        border: none;

        td {
          background-color: transparent;
          border: 1px solid var(--color-neutral-5);
        }

        th {
          background-color: transparent;
          border-bottom: var(--color-neutral-0) 1px solid;
        }
      }

      &.odd {
        background-color: transparent;
        border: none;

        td {
          background-color: transparent;
          border: 1px solid var(--color-neutral-5);
        }

        th {
          background-color: transparent;
          border-bottom: var(--color-neutral-0) 1px solid;
        }
      }
    }

    td {
      border: 1px solid var(--color-neutral-5);
      padding: 20px;
      text-align: left;

      p {
        margin: 0 0 5px;
        line-height: 26px;

        &:first-child {
          color: #0076c8;
          font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 18px;
          @include responsive-prop(700, 800, 'font-weight');
          margin: 0 0 16px;
          line-height: 1.3;
        }
      }
    }

    .tablefield-wrapper {
      position: relative;

      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid var(--color-neutral-4);

        > table {
          background-color: var(--color-neutral-0);
          margin-bottom: 0;
        }
      }
    }

    &.header-type-0 {
      th {
        background-color: var(--color-base);
        color: var(--color-neutral-0);
        @include responsive-prop(700, 800, 'font-weight');
      }
    }

    &.header-type-1 {
      th {
        background-color: var(--color-base);

        &,
        p {
          color: var(--color-neutral-0) !important;
          font-weight: normal !important;
        }
      }

      tr {
        &:last-child {
          background-color: transparent;

          &,
          p {
            font-size: 18px;
            @include responsive-prop(700, 800, 'font-weight');
            color: #ff6c00;
          }
        }
      }
    }

    &.header-type-2 {
      th {
        &:first-child {
          background-color: var(--color-base);
          color: var(--color-neutral-0);
          @include responsive-prop(700, 800, 'font-weight');
        }
      }
    }

    &.header-type-3 {
      th {
        &:first-child {
          background-color: var(--color-base);
          color: var(--color-neutral-0);
          @include responsive-prop(700, 800, 'font-weight');
        }

        &:last-child {
          background-color: transparent;
          @include responsive-prop(700, 800, 'font-weight');
        }
      }

      td {
        &:first-child {
          background-color: var(--color-base);
          color: var(--color-neutral-0);
          @include responsive-prop(700, 800, 'font-weight');
        }

        &:last-child {
          background-color: transparent;
          @include responsive-prop(700, 800, 'font-weight');
        }
      }
    }

    &.header-type-4 {
      th {
        background-color: var(--color-base);
        color: var(--color-neutral-0);
        @include responsive-prop(700, 800, 'font-weight');
      }

      td {
        &:first-child {
          background-color: transparent;
          @include responsive-prop(700, 800, 'font-weight');
        }
      }
    }
  }
}
