.font-h1-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px
}
.font-h1-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px
}
.font-h2-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px
}
.font-h2-mobile,
.font-h3-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.font-h3-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px
}
.font-h4-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px
}
.font-h4-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px
}
.font-h5-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px
}
.font-h5-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px
}
.font-lg-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.font-lg-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.font-lg-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px
}
.font-lg-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700
}
.font-sm-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.font-sm-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700
}
.font-sm-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px
}
.font-sm-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700
}
.font-xs-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px
}
.font-xs-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700
}
.font-xs-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px
}
.font-xs-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700
}
.font-h1 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px
}
.font-h2 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px
}
.font-h3,
.wso-paragraph-table-redesign tbody tr:last-child p {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.font-h4,
.wso-paragraph-table-redesign tbody tr:not(:last-child) td p:first-child {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px
}
.font-h5,
.wso-paragraph-table-redesign thead p {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px
}
.font-lg {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.font-lg-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.font-sm,
.wso-paragraph-table-redesign tbody tr:not(:last-child) td p:not(:first-child),
.wso-paragraph-table-redesign tbody tr:not(:last-child) td:first-child p:first-child::before {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.font-sm-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700
}
.font-xs {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px
}
.font-xs-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700
}
.wso-paragraph-table-redesign {
  margin-top: 30px
}
.wso-paragraph-table-redesign .field-name-field-wsop-table-header-type {
  display: none
}
.wso-paragraph-table-redesign table {
  border-collapse: separate;
  border-spacing: 0
}
.wso-paragraph-table-redesign table tr th {
  padding: 8px 16px 10px
}
.wso-paragraph-table-redesign table tr td {
  padding: 16px
}
.wso-paragraph-table-redesign table tr td:last-child,
.wso-paragraph-table-redesign table tr th:last-child {
  width: fit-content;
  max-width: 20%;
  text-align: end;
  white-space: nowrap
}
.wso-paragraph-table-redesign thead {
  background: linear-gradient(270.42deg, #0a4059 -18.13%, #1d688b 73.53%, #189eda 119%) fixed
}
.wso-paragraph-table-redesign thead tr:first-child th:first-child {
  border-top-left-radius: 12px
}
.wso-paragraph-table-redesign thead tr:first-child th:last-child {
  border-top-right-radius: 12px
}
.wso-paragraph-table-redesign thead th {
  background-color: transparent!important
}
.wso-paragraph-table-redesign thead p {
  margin-bottom: 0
}
.wso-paragraph-table-redesign tbody {
  counter-reset: item
}
.wso-paragraph-table-redesign tbody tr {
  background-color: transparent!important
}
.wso-paragraph-table-redesign tbody tr td {
  border: 1px solid rgba(47, 47, 47, .1)
}
.wso-paragraph-table-redesign tbody tr td p {
  margin-bottom: 0
}
.wso-paragraph-table-redesign tbody tr:not(:last-child) td:first-child p:first-child {
  display: flex
}
.wso-paragraph-table-redesign tbody tr:not(:last-child) td:first-child p:first-child::before {
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  line-height: 1;
  content: counter(item) "";
  counter-increment: item;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-color: #f5b226;
  border-radius: 50%
}
.wso-paragraph-table-redesign tbody tr:not(:last-child) td p:first-child {
  color: #2f2f2f
}
.wso-paragraph-table-redesign tbody tr:not(:last-child) td p:not(:first-child) {
  color: rgba(47, 47, 47, .7);
  margin-top: 6px;
  margin-left: 40px
}
.wso-paragraph-table-redesign tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px
}
.wso-paragraph-table-redesign tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px
}
.wso-paragraph-table-redesign tbody tr:last-child p {
  color: #2f2f2f
}
@media (max-width: 767px) {
  .font-h1 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px
  }
  .font-h2 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px
  }
  .font-h3,
  .wso-paragraph-table-redesign tbody tr:last-child p {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px
  }
  .font-h4,
  .wso-paragraph-table-redesign tbody tr:not(:last-child) td p:first-child {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px
  }
  .font-h5,
  .wso-paragraph-table-redesign thead p {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px
  }
  .font-lg {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px
  }
  .font-lg-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700
  }
  .font-sm,
  .wso-paragraph-table-redesign tbody tr:not(:last-child) td p:not(:first-child),
  .wso-paragraph-table-redesign tbody tr:not(:last-child) td:first-child p:first-child::before {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px
  }
  .font-sm-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700
  }
  .font-xs {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px
  }
  .font-xs-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700
  }
  .wso-paragraph-table-redesign {
    margin-left: -16px;
    margin-right: -16px
  }
  .wso-paragraph-table-redesign table tr td:last-child,
  .wso-paragraph-table-redesign table tr th:last-child {
    max-width: 25%
  }
  .wso-paragraph-table-redesign tbody tr:not(:last-child) td:first-child p:first-child {
    display: block
  }
  .wso-paragraph-table-redesign tbody tr:not(:last-child) td:first-child p:first-child::before {
    display: block;
    min-width: 22px;
    min-height: 22px;
    width: 22px;
    height: 22px;
    margin-bottom: 6px;
    font-weight: 700;
    line-height: 22px
  }
  .wso-paragraph-table-redesign tbody tr:not(:last-child) td p:first-child {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700
  }
  .wso-paragraph-table-redesign tbody tr:not(:last-child) td p:not(:first-child) {
    margin-left: 0
  }
  .wso-paragraph-table-redesign tbody tr:last-child p {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700
  }
}
/*# sourceMappingURL=paragraph.wsop-table-redesign.component.css.map */
