.paragraphs-item-wso-paragraph-table .field-name-field-wsop-table-header-type {
  display: none
}
.paragraphs-item-wso-paragraph-table caption {
  caption-side: top;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  color: var(--color-neutral-6)
}
.paragraphs-item-wso-paragraph-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%
}
.paragraphs-item-wso-paragraph-table table p {
  margin: 0 0 10px
}
.paragraphs-item-wso-paragraph-table th {
  border-bottom: var(--color-neutral-0) 1px solid;
  font-weight: normal;
  padding: 3px 5px;
  text-align: center
}
.paragraphs-item-wso-paragraph-table tr.even {
  background-color: #b8e3f5;
  border: none
}
.paragraphs-item-wso-paragraph-table tr.even td,
.paragraphs-item-wso-paragraph-table tr.even th {
  background-color: #b8e3f5;
  border-bottom: var(--color-neutral-0) 1px solid
}
.paragraphs-item-wso-paragraph-table tr.odd {
  background-color: #b8e3f5;
  border: none
}
.paragraphs-item-wso-paragraph-table tr.odd td,
.paragraphs-item-wso-paragraph-table tr.odd th {
  background-color: #b8e3f5;
  border-bottom: var(--color-neutral-0) 1px solid
}
.paragraphs-item-wso-paragraph-table td {
  padding: 3px 5px;
  text-align: center
}
.paragraphs-item-wso-paragraph-table .tablefield-wrapper {
  position: relative
}
.paragraphs-item-wso-paragraph-table.header-type-0 th,
.paragraphs-item-wso-paragraph-table.header-type-1 th {
  background-color: #087dfd;
  color: var(--color-neutral-0);
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child {
  background-color: #88d1ee;
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
.paragraphs-item-wso-paragraph-table.header-type-3 th:first-child {
  background-color: #087dfd;
  color: var(--color-neutral-0);
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-3 th:last-child {
  background-color: #88d1ee;
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-3 td:first-child {
  background-color: #087dfd;
  color: var(--color-neutral-0);
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-3 td:last-child {
  background-color: #88d1ee;
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-4 th {
  background-color: #087dfd;
  color: var(--color-neutral-0);
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-4 td:first-child {
  background-color: #88d1ee;
  font-weight: 700
}
.page-courses .node-landing-page .paragraphs-item-wso-paragraph-table .tablefield-wrapper .table td,
.page-courses .node-landing-page .paragraphs-item-wso-paragraph-table .tablefield-wrapper .table tr {
  padding: 20px 15px
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table table,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-style: italic;
  font-size: 16px;
  border: 1px solid var(--color-neutral-5)
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table th {
  font-weight: normal;
  text-align: left;
  border: 1px solid var(--color-base);
  padding: 20px
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table th p,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table th p {
  margin: 0
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.even,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.even {
  background-color: transparent;
  border: none
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.even td,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.even td {
  background-color: transparent;
  border: 1px solid var(--color-neutral-5)
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.even th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.even th {
  background-color: transparent;
  border-bottom: var(--color-neutral-0) 1px solid
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.odd,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.odd {
  background-color: transparent;
  border: none
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.odd td,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.odd td {
  background-color: transparent;
  border: 1px solid var(--color-neutral-5)
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.odd th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.odd th {
  background-color: transparent;
  border-bottom: var(--color-neutral-0) 1px solid
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table td,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table td {
  border: 1px solid var(--color-neutral-5);
  padding: 20px;
  text-align: left
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table td p,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table td p {
  margin: 0 0 5px;
  line-height: 26px
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table td p:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table td p:first-child {
  color: #0076c8;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 16px;
  line-height: 1.3
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table .tablefield-wrapper,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
  position: relative
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-0 th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-0 th {
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 th {
  background-color: var(--color-base)
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 th,
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 th p,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 th p {
  color: var(--color-neutral-0)!important;
  font-weight: normal!important
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child {
  background-color: transparent
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child p,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child p {
  font-size: 18px;
  font-weight: 700;
  color: #ff6c00
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child {
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child {
  background-color: transparent;
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child {
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child {
  background-color: transparent;
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-4 th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-4 th {
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child {
  background-color: transparent;
  font-weight: 700
}
@media (min-width: 992px) {
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table td p:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-0 th,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child p,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-4 th,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table td p:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-0 th,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child p,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-4 th,
  .paragraphs-item-wso-paragraph-table.header-type-0 th,
  .paragraphs-item-wso-paragraph-table.header-type-1 th,
  .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
  .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
  .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
  .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child,
  .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
  .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child,
  .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child,
  .paragraphs-item-wso-paragraph-table.header-type-4 th {
    font-weight: 800
  }
}
@media (max-width: 991px) {
  .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid var(--color-neutral-4);
    overflow-x: scroll;
    overflow-y: hidden
  }
  .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table {
    background-color: var(--color-neutral-0);
    margin-bottom: 0
  }
  .print-version .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table {
    page-break-inside: avoid
  }
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table .tablefield-wrapper,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid var(--color-neutral-4)
  }
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table {
    background-color: var(--color-neutral-0);
    margin-bottom: 0
  }
}
@media (max-width: 991px) and (max-width: 991px) {
  .print-version .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
    border: none;
    overflow: visible
  }
}
@media (max-width: 767px) {
  .page-courses .node-landing-page .paragraphs-item-wso-paragraph-table .tablefield-wrapper .table .col_0 {
    width: 70%
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-courses .node-landing-page .paragraphs-item-wso-paragraph-table .tablefield-wrapper .table .col_0 {
    width: 85%
  }
}
/*# sourceMappingURL=paragraph.wsop-table.component.css.map */
