.bookmarks-links {
  font-size: 14px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  height: auto;
  min-height: 33px;
  line-height: 1;

  .comment & {
    min-height: 20px;
  }

  @include media('<414px') {
    display: flex;
    flex-wrap: wrap;

    &:not(:empty) {
      @include btn-secondary('xs');
    }

    &:hover {
      background: transparent;
    }
  }

  @include media('>=desktop') {
    height: 33px;
    flex-wrap: nowrap;

    .comment & {
      height: 20px;
    }
  }

  a {
    font-weight: 600;
    white-space: nowrap;
    padding: 0.438rem 0.75rem;
    border-radius: 0.25rem;

    .comment & {
      padding: 0 0.75rem;
      border: 0 !important;
    }

    &:focus,
    &:active {
      background-color: var(--color-neutral-3);
    }

    i {
      color: $color-blue;
      font-style: normal;
    }
  }

  > div {
    &.comment-add,
    &.comment-edit {
      order: 1;
    }

    &.forward,
    &.comment-reply {
      order: 2;
    }

    &.node-quote-all,
    &.comment-quote-all {
      order: 3;
    }

    &.node-bookmark,
    &.comment-bookmark {
      order: 4;
    }

    &.share-comment {
      order: 5;

      a {
        transition: none;

        &:focus,
        &:active {
          transition: none;
          background: var(--color-neutral-3) url('/core/misc/throbber-active.gif') no-repeat center center;

          i {
            opacity: 0;
          }
        }
      }
    }

    &.trash,
    &.flag-bookmarks,
    &.flag-bookmarks-comment {
      order: 6;
    }

    &.flag-comment {
      order: 7;
    }

    &.node-trash {
      order: 8;
    }

    .icon-bookmark,
    .icon-bookmark-empty {
      margin-right: 3px;
    }
  }

  .flag-bookmarks {
    div {
      display: none;
    }

    a {
      white-space: nowrap;
    }
  }

  .links {
    margin: 0 !important;
    padding: 0 !important;
  }

  .ajax-progress {
    display: none;
  }

  .anon-user-signature-vote & {
    margin-top: 11px;
  }
}


.node.full {
  .bookmarks-links {
    a {
      span {
        display: none;
      }
    }
  }
}
