@import "./components/common-styles/helpers/sprite-png";

.icon-flag {
  display: inline-block;
}

.icon-flag.global,
.icon-flag.apac {
  @include sprite($flag-global);
}

.icon-flag.usa,
.icon-flag.usa_northeast,
.icon-flag.usa_west,
.icon-flag.usa_south,
.icon-flag.usa_midwest {
  @include sprite($flag-usa);
}

.icon-flag.uk {
  @include sprite($flag-uk);
}

.icon-flag.canada {
  @include sprite($flag-canada);
}

.icon-flag.apac_singapore {
  @include sprite($flag-singapore);
}

.icon-flag.apac_hongkong {
  @include sprite($flag-hongkong);
}

.icon-flag.apac_china {
  @include sprite($flag-china);
}

.icon-flag.apac_australia {
  @include sprite($flag-australia);
}

.icon-flag.apac_india {
  @include sprite($flag-india);
}

.icon-flag.apac_other {
  @include sprite($flag-apac-other);
}

.icon-flag.europe {
  @include sprite($flag-europe);
}

.icon-flag.europe_germany {
  @include sprite($flag-germany);
}

.icon-flag.europe_france {
  @include sprite($flag-france);
}

.icon-flag.europe_italy {
  @include sprite($flag-italy);
}

.icon-flag.europe_western {
  @include sprite($flag-europe-western);
}

.icon-flag.europe_eastern {
  @include sprite($flag-ukraine);
}

.icon-flag.southamerica {
  @include sprite($flag-south-america);
}

.icon-flag.centralamerica {
  @include sprite($flag-central-america);
}

.icon-flag.middleeast {
  @include sprite($flag-middle-east);
}

.icon-flag.africa {
  @include sprite($flag-africa);
}

.icon-flag.centralasia {
  @include sprite($flag-central_asia);
}

/*
.dropdown {
  .dropdown-toggle-text {
    .icon-flag {
      vertical-align: bottom;
      margin-right: 5px;
      min-width: 22px;

      @include media('>=tablet') {
        margin-right: 10px;
      }
    }
  }

  .regional-item {
    a {
      padding: 6px 40px 6px 10px !important;
    }
  }

  .sub-dropdown-item {
    .sub-dropdown-toggle {
      padding: 6px 40px 6px 10px;
      transition: none;

      &:hover:after,
      &:after {
        font-family: fa-custom;
        content: '\e808';
        font-size: 10px;
        color: var(--color-neutral-7);
        display: inline-block;
        transform: rotate(180deg);
        position: absolute;
        top: 8px;
        right: 20px;
      }
    }

    &.opened {
      .sub-dropdown-toggle {
        @include responsive-prop(700, 800, font-weight);
        position: relative;
        padding: 8px 40px 8px 10px;
        transition: none;

        &:hover:after,
        &:after {
          transform: rotate(90deg);
        }

        .icon-flag {
          display: none;
        }
      }

      .sub-dropdown-menu {
        height: auto;
        border-top: var(--color-neutral-4) 1px solid;
      }
    }

    .sub-dropdown-menu {
      height: 0;
      overflow: hidden;
      list-style: none;
      padding: 0;

      li {
        border-bottom: var(--color-neutral-4) 1px solid;
        font-size: 13px;
        line-height: 1.23;

        a {
          color: var(--color-base);
          display: flex;
          align-items: center;
          padding: 6px 40px 6px 10px;
          position: relative;

          &:hover:after {
            font-family: fa-custom;
            content: '\e801';
            color: $color-pop-green;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 10px;
          }
        }

        .icon-flag {
          vertical-align: bottom;
          margin-right: 10px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
*/
