//todo: move into comments

ul {
  &.comments {
    .comment-block {
      background-color: var(--color-neutral-0);
      border-radius: inherit;
      padding: 15px 20px;

      p {
        font-size: 1em;
        line-height: 24px;
        margin: 0;
        padding: 0;
      }
    }
  }

  &.links {
    li {
      &.flag-abuse_comment {
        a {
          color: $color-red !important;
        }
      }
    }
  }
}

.comment {
  &.ads {
    border: 5px solid var(--color-neutral-5);

    .post-user-pic {
      img {
        left: -8px;
        top: -8px;
      }
    }

    .post-header {
      border-bottom: 1px solid var(--color-neutral-3);

      .btn {
        white-space: nowrap;
      }
    }

    .comment-content {
      p {
        display: inline;
      }
    }
  }
}

.reply-comment {
  border-top: 1px dotted var(--color-neutral-3);
  margin: 20px 0 -20px;

  .btn {
    &.btn-sm {
      &.btn-block {
        width: 96%;
      }
    }
  }
}

.reply-comments-container {
  .comment {
    &.comment-container {
      border-top: 1px dotted var(--color-neutral-3);
      margin: 20px 0 -20px;
    }
  }

  .comment_replies {
    margin-left: 30px;
  }
}

.comment-container {
  background: var(--color-neutral-0) none repeat scroll 0 0;
  margin-bottom: 20px;
  padding: 0 0 8px;
  position: relative;
  width: 100%;

  .post-wrap {
    .post-header {
      padding: 8px 13px;
    }

    .comment-content {
      padding: 0 13px;

      .field-name-comment-body {
        padding-top: 0;
      }

      blockquote {
        background-color: var(--color-page-bg);
      }
    }

    .post-footer {
      padding: 0 13px;
    }
  }
}

.more-reply-comments {
  .btn {
    background-color: var(--color-neutral-3);
    border: 1px solid var(--color-neutral-3);
    font-size: 14px;
    padding: 8px 0;
  }
}

.new-comment-prefix {
  border: transparent none;
  display: block;
  height: 0;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
