// Header
.post-header {
  .pre-header {
    justify-content: space-between;
  }

  .list-inline {
    flex: 1;
    font-size: em(16);
    color: var(--color-neutral-6);

    a {
      color: var(--color-neutral-6);
    }
  }

  .pre-header,
  .list-inline {
    display: flex;
    flex-wrap: wrap
  }

  h1.wso-forum-title {
    @include word-wrap-hyphens();
    //font-weight: 700;
    //@include responsive-prop(24px, 32px, 'font-size');
    //@include responsive-prop(28px, 40px, 'line-height');
    max-width: 100%;
    //color: var(--color-base);
  }
}

// Header author
.post-author-share {
  margin: 25px 0 30px;
  font-size: 14px;
  flex: 1;

  @include media('<tablet') {
    width: 100%;
    max-width: calc(100% - 60px);
  }

  @include media('>=desktop') {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .author-details {
    margin-top: 0;

    @include media('>=desktop') {
      display: flex;
      flex-wrap: nowrap;
    }

    &-info {
      @include media('<tablet') {
        width: 100%;
        max-width: calc(100% - 60px);
      }

      &-rank {
        @include media('<tablet') {
          font-size: 12px;
        }
      }

      &-name {
        .indico {
          vertical-align: inherit;

          &.indico-mentor {
            background: $color-green-100;
            margin-right: 5px;
          }
        }
      }
    }

    //todo: add proper classname
    .author-details-info-name > .m-r-xs {
      @include media('<tablet') {
        overflow: hidden;
      }
    }

    .username {
      font-weight: 700;
      font-size: 15px;
      color: var(--color-base);

      @include media('<tablet') {
        @include ellipsis();
        display: block;
      }
    }

    .flag {
      &.action-unflag {
        .btn {
          background: $color-blue;
          color: var(--color-neutral-0);

          &:after {
            content: ' -';
          }
        }
      }

      .btn {
        padding: 0 14px 0 10px;
        vertical-align: baseline;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;

        &:after {
          content: ' +';
        }
      }
    }
  }
}
