@import "./components/common-styles/helpers/sprite-png";
@import "./components/common-styles/helpers/wso-variables";

// Post share group
.post-share {
  $icon-width: 48px;
  margin: 25px 0 30px;

  .dropdown .dropdown-menu {
    padding: 0;
    border: 0;
    margin: 0;
    min-width: $icon-width;
    background: transparent;

    &--post-share {
      z-index: #{$header-z-index + 1};

      @include media('>=desktop') {
        position: static;
        display: flex;
      }
    }

    &--social {
      @include media('<desktop') {
        position: static;
        display: flex;
        flex-direction: column;
      }

      li {
        margin-bottom: 10px;
      }

      .social-icon {
        border-radius: 100%;
      }
    }
  }

  .dropdown .dropdown-toggle {
    padding: 0;
    border: 0;
    margin: 0;

    &:hover {
      text-decoration: none;

      .icon {
        color: $color-blue;
      }
    }

    &--post-share {
      &[aria-expanded="false"] {
        > span {
          position: relative;
        }
      }

      .icon-rss {
        font-size: 23px;
        @include font-color-grey-darkmode;
      }
    }

    .icon {
      margin: 0;
      font-size: 23px;
      @include font-color-grey-darkmode;
    }

    .icon-close-sprite {
      display: none;
      @include sprite($icon-close);
    }

    &[aria-expanded="true"] {
      .icon {
        display: none;
      }

      .icon-close-sprite {
        display: inline-block;
      }
    }
  }

  .dropdown-item {
    padding: 0;

    &:hover {
      background: 0;
    }
  }

  .flag-follow-forum-topic,
  .flag-bookmarks,
  .dropdown-toggle {
    height: $icon-width !important;
    width: $icon-width !important;
    position: relative;
  }

  .flag-follow-forum-topic a,
  .flag-bookmarks a,
  .dropdown-toggle > span {
    height: 100%;
    width: 100%;
    background: var(--color-neutral-0);
    border: var(--color-neutral-3) 2px solid;
    border-radius: 100% !important;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .flag-follow-forum-topic,
  .flag-bookmarks,
  .dropdown-toggle {
    a {
      &:hover {
        text-decoration: none;
        background: var(--color-neutral-0);
        border: var(--color-neutral-3) 2px solid;
        box-shadow: none;

        .icon {
          color: $color-blue;
        }
      }

      .icon {
        margin: 0;
        font-size: 23px;
        @include font-color-grey-darkmode;
      }
    }
  }

  .flag-follow-forum-topic,
  .flag-bookmarks {
    &.action-unflag {
      a {
        background: $color-green-100;
        border: $color-green-100 2px solid;

        .icon {
          color: var(--color-neutral-0);
        }
      }
    }

    a {
      span {
        display: none;
      }
    }

    .ajax-progress {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: $icon-width;
      height: $icon-width;

      .throbber {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        width: 13px;
        height: 13px;
        padding: 0;
        display: inline-block;
      }
    }
  }

  // Special styles: flag for anonimous user & Pushcrew buttons
  a.flag-follow-forum-topic,
  .subscription-link {
    height: $icon-width !important;
    width: $icon-width !important;
    position: relative;
    background: var(--color-neutral-0);
    border: var(--color-neutral-3) 2px solid;
    border-radius: 100% !important;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
      background: var(--color-neutral-0);
      border: var(--color-neutral-3) 2px solid;
      box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.2);
    }

    .icon {
      margin: 0;
      font-size: 23px;
      color: var(--color-neutral-7);
    }

    span {
      display: none;
    }
  }

  .subscription-link.btn-secondary {
    background: $color-green-100;
    border: $color-green-100 2px solid;

    &:after {
      display: none !important;
    }

    .icon {
      color: var(--color-neutral-0);
    }
  }
}
