.post-tags {
  .field-name-taxonomy-vocabulary-15 {
    display: flex;
    flex-wrap: wrap;

    .field--item {
      background: var(--color-neutral-1);
      border: 1px solid var(--color-neutral-3);
      border-radius: 14px;
      font-size: 95%;
      font-weight: 300;
      margin: 0 8px 8px 0;
      padding: 2px 8px 2px;

      a {
        font-size: 13px;
        font-weight: 500;
        color: var(--color-base);
      }

      &:before {
        color: $color-green-100;
        content: "#";
        font-size: 16px;
        font-weight: 800;
        margin-right: 5px;
      }
    }
  }
}

.post-region-tags {
  background: var(--color-page-bg);
  border-radius: 3px;
  padding: 7px $side-gap;

  .field-name-field-region {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    .field--label {
      float: none;
      color: var(--color-base);
      font-weight: 500 !important;
      white-space: nowrap;
    }

    .field--items {
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }

    .field--item {
      color: var(--color-base);

      a {
        color: var(--color-base);

        &:hover {
          color: $color-blue;
        }
      }

      @media (min-width: 768px) {
        margin-left: 7px;

        &:before {
          content: '';
          display: inline-block;
          height: 14px;
          width: 1px;
          margin-right: 3px;
          vertical-align: middle;
          background: var(--color-neutral-4);
        }
      }
    }

    .icon-flag {
      vertical-align: bottom;
      transform: scale(0.8) translateY(-2px);
      transform-origin: center;
    }
  }
}

.adminimal-admin-toolbar .post-action-bar > .row {
  @include media('<phone') {
    flex-wrap: wrap !important;
  }
}

.post-footer {
  .post-action-bar {
    > .row {
      > .col-sm-18 {
        @include media('<tablet') {
          margin-bottom: 15px;
        }
      }
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 5px 5px 5px 0;
    }
  }

  .comment-forbidden {
    padding-left: 0;

    @include media('<desktop') {
    }

    a {
      //@extend %btn;
      @extend %btn, .btn-sm;
      line-height: 30px !important;
      padding: 0 10px !important;
    }

    a:first-child {
      @extend %btn, .btn-success;
    }

    a:last-child {
      @extend %btn, .btn-lines;
    }
  }
}
