@import 'post-share';
@import 'post-header';
@import 'post-footer';
@import 'bookmark-links';
@import 'forum-post-comments';
@import "./components/03-organisms/industry-icon/industry-icon.component";

// OP elements
.node-forum {
  .feature-box {
    font-size: 95%;
    margin-top: 5px;
  }

  .content {
    p {
      //font-size: 16px;
    }
  }

  &.well {
    background-color: var(--color-neutral-0);
    border-radius: 0;
    box-shadow: none;
    padding: 20px 24px;

    @include media('<tablet') {
      padding: 15px;
    }
  }
}

// Page elements
.node-type-forum {
  #wso-content-outer {
    > .pager-container {
      margin-top: 0;
    }
  }

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    @include media('>=large-desktop') {
      max-width: 1170px;
    }
  }
}

.node {
  &.certified-user-discussion {
    border: 3px solid $color-yellow;
  }

  &.node-event {
    .field-name-body {
      margin-bottom: 0;
    }

    .field-name-field-event-date {
      margin-bottom: 20px;
    }

    .location__item.overview__left.col-md-6 {
      padding-left: 0;
    }

    .field-name-field-event-date,
    .field-name-field-eventtype,
    .field-name-field-address {
      font-size: 14px;
      padding-left: 15px;

      .field--label {
        display: block !important;
        @include responsive-prop(700, 800, font-weight);
        font-size: 16px;
      }
    }

    .location__block.item__block_border {
      @include media('>=tablet') {
        display: flex;
      }
    }
  }

  .field-name-body {
    @include media ('<tablet') {
      overflow-x: hidden;
    }
  }
}

// Uncategorized todo: check
.post-wrap {
  .btn {
    &.btn-info {
      background-color: transparent;
      border-color: $color-blue;
      color: $color-blue;
      padding: 0 6px;

      &:hover {
        background-color: $color-blue;
        color: var(--color-neutral-0);
      }
    }
  }
}

.wso-advantage {
  .well {
    &.well-sm {
      background: var(--color-neutral-8) none repeat scroll 0 0;
      border: medium none;
      border-radius: 0;
      font-size: 95%;
      padding: 15px;

      p {
        color: var(--color-neutral-4);
      }
    }

    h3 {
      color: var(--color-neutral-0);
    }
    color: var(--color-neutral-4);
  }
}

.featured-box {
  .box-content {
    border-radius: 0;
  }
}

.user-expertise {
  border-bottom: 1px solid var(--color-neutral-3);
  color: var(--color-neutral-6);
  font-weight: 400;
  margin-bottom: 0;
  margin-right: -10px;
  padding-bottom: 5px;
}

.field-name-upload {
  .file-size {
    display: none;
  }

  .file-icon {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 34px;
    margin-right: 5px;
    transform: scale(0.75);
    transform-origin: top;
  }

  thead,
  tbody {
    font-size: 14px;
  }

  tbody td {
    padding-bottom : 0;
  }
}

.form-type-textarea {
  position: relative;
}

.certified_user {
  border: 2px solid $color-yellow;
}

.hidden-replies {
  margin-top: -40px;
  padding: 5px 30px 10px;
  position: relative;
  z-index: 100;
}

.col-md-21 {
  h6 {
    &.user-expertise {
      width: 105%;
    }
  }
}

button#go {
  background-color: var(--color-neutral-3);
  margin: 20px 0 0;
}

abbr[title] {
  border-bottom: transparent none;
  cursor: pointer;
  text-decoration: none;
}

abbr[data-original-title] {
  border-bottom: transparent none;
  cursor: pointer;
  text-decoration: none;
}

.separate-vertical {
  color: var(--color-neutral-4) !important;
  font-weight: 300;
  margin-left: -5px;
  margin-right: 5px;
}
