@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.paragraphs-item-contact-us {
  background-color: $color-monkey-blue;
  margin: 20px -16px -30px;
  @include media('>=tablet') {
    margin: 30px 0 -80px;
  }

  .contact-us__wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 888px;
    height: auto;
    min-height: 368px;
    margin: 0 auto;
    padding: 74px 0;
  }

  .contact-us__image {
    width: 220px;
    height: 220px;

    img {
      object-fit: contain;
    }
  }

  .contact-us__content {
    width: 70%;
    margin-left: 5%;
    max-width: 610px;
    height: auto;
  }

  .contact-us__title {
    margin-top: 12px;
  }

  .contact-us__description {
    padding-top: 12px;

    .formatted-text {
      font-size: unset;

      p {
        font-size: unset;
        line-height: unset;
      }
    }

  }

  .contact-us__buttons {
    display: flex;
    justify-content: flex-start;
    padding-top: 12px;
  }

  .contact-us__button-chat-with-us {
    margin-right: 16px;
  }

  .contact-us__button-cta {
    a {
      color: $color-white-100;
      border-color: $color-white-100;
    }
  }
}


@include media('<tablet') {
  .paragraphs-item-contact-us {
    .contact-us__wrapper {
      flex-direction: column;
      padding: 40px 0;
    }

    .contact-us__image {
      align-self: center;
    }

    .contact-us__content {
      padding-top: 20px;
      margin: 0;
      width: 100%;
    }
  }
}
