.paragraphs-item-contact-us {
  background-color: #0a4059;
  margin: 20px -16px -30px
}
.paragraphs-item-contact-us .contact-us__wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 888px;
  height: auto;
  min-height: 368px;
  margin: 0 auto;
  padding: 74px 0
}
.paragraphs-item-contact-us .contact-us__image {
  width: 220px;
  height: 220px
}
.paragraphs-item-contact-us .contact-us__image img {
  object-fit: contain
}
.paragraphs-item-contact-us .contact-us__content {
  width: 70%;
  margin-left: 5%;
  max-width: 610px;
  height: auto
}
.paragraphs-item-contact-us .contact-us__title {
  margin-top: 12px
}
.paragraphs-item-contact-us .contact-us__description {
  padding-top: 12px
}
.paragraphs-item-contact-us .contact-us__description .formatted-text {
  font-size: unset
}
.paragraphs-item-contact-us .contact-us__description .formatted-text p {
  font-size: unset;
  line-height: unset
}
.paragraphs-item-contact-us .contact-us__buttons {
  display: flex;
  justify-content: flex-start;
  padding-top: 12px
}
.paragraphs-item-contact-us .contact-us__button-chat-with-us {
  margin-right: 16px
}
.paragraphs-item-contact-us .contact-us__button-cta a {
  color: #fff;
  border-color: #fff
}
@media (min-width: 768px) {
  .paragraphs-item-contact-us {
    margin: 30px 0 -80px
  }
}
@media (max-width: 767px) {
  .paragraphs-item-contact-us .contact-us__wrapper {
    flex-direction: column;
    padding: 40px 0
  }
  .paragraphs-item-contact-us .contact-us__image {
    align-self: center
  }
  .paragraphs-item-contact-us .contact-us__content {
    padding-top: 20px;
    margin: 0;
    width: 100%
  }
}
/*# sourceMappingURL=contact-us.component.css.map */
