{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'entity',
    'paragraphs-item-' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{{ attach_library('porto_sub/contact-us.component') }}
{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="contact-us__wrapper">
        {% if field_image %}
          <div class="contact-us__image">
            {{ field_image }}
          </div>
        {% endif %}
        <div class="contact-us__content">
          {% if field_title %}
            <h3 class="font-h3 color-white-100 contact-us__title">{{ field_title }}</h3>
          {% endif %}
          {% if field_description %}
            <div class="font-sm color-white-70 contact-us__description">
              {{ field_description }}
            </div>
          {% endif %}
          <div class="contact-us__buttons">
            {% if field_main_button %}
              <div class="contact-us__button-chat-with-us">
                {% include '@storybook/01-atoms/style-guide-2023/button/button.twig' with {
                  'field': field_main_button,
                  'btnClasses': 'btn--primary-xlg',
                } %}
              </div>
            {% endif %}
            {% if field_cta %}
              <div class="contact-us__button-cta">
                {% include '@storybook/01-atoms/style-guide-2023/button/button.twig' with {
                  'field': field_cta,
                  'btnClasses': 'btn--secondary-xlg',
                } %}
              </div>
            {% endif %}
          </div>
        </div>

        {{ content|without(
          'field_image',
          'field_title',
          'field_description',
          'field_main_button',
          'field_cta',
        ) }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
