.paragraph-type--counted-list-with-image-text {
  counter-reset: section
}
.paragraph-type--counted-list-with-image-text .paragraphs-item-hover-box {
  display: flex;
  align-items: center;
  position: relative
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row {
  display: flex;
  flex-wrap: wrap
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item {
  position: relative;
  display: flex;
  box-shadow: 0 14px 206px -16px rgba(0, 0, 0, .06);
  width: 100%;
  background-color: var(--color-neutral-0);
  border-radius: 3px;
  color: var(--color-base);
  padding: 20px;
  margin: 10px 0;
  min-height: 300px;
  counter-increment: section
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item .field-name-field-hover-box-back {
  opacity: 0;
  padding-top: 12px
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item .field-name-field-hover-box-front {
  position: absolute;
  width: 100%;
  top: 22px
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item .field-name-field-hover-box-front span {
  font-size: 17px;
  letter-spacing: .5px
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item .field-name-field-hover-box-front .black-lms-heading,
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item .field-name-field-hover-box-front .black-lms-heading a {
  font-size: 24px;
  letter-spacing: .2px;
  -webkit-text-stroke-width: .5px;
  line-height: 2
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item .field-name-field-hover-box-icon {
  position: absolute;
  bottom: -20px;
  right: -20px
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item .field-name-field-hover-box-icon img {
  width: 44px;
  height: 44px;
  object-fit: contain
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item:hover .field-name-field-hover-box-front {
  opacity: 0
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item:hover .field-name-field-hover-box-back {
  display: block;
  opacity: 1
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item:hover .field-name-field-hover-box-icon {
  opacity: 0
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item:hover::before {
  border: 0
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item .field-name-field-wsop-rich-text {
  margin: 0
}
.paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item::before {
  content: counter(section);
  background: #189eda;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999rem;
  position: absolute;
  border: 5px solid var(--color-page-bg);
  color: var(--color-neutral-0);
  font-weight: 900;
  font-size: 24px;
  -webkit-text-stroke-width: .3px;
  width: 55px;
  height: 55px;
  top: -15px;
  left: -15px;
  transition: .4s .2s
}
.paragraph-type--counted-list-with-image-text .paragraphs-item-wso-paragraph-rich-text ul {
  padding-left: 5px
}
.paragraph-type--counted-list-with-image-text .paragraphs-item-wso-paragraph-rich-text ul li {
  margin-bottom: 6px;
  line-height: 1.2
}
.paragraph-type--counted-list-with-image-text .paragraphs-item-wso-paragraph-rich-text ul li::before {
  color: #189eda
}
@media (min-width: 768px) {
  .paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row {
    justify-content: center
  }
  .paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item {
    width: 38%;
    padding: 30px;
    margin: 14px;
    min-height: 240px
  }
  .paragraph-type--counted-list-with-image-text .field-name-field-counted-list-row > .field--item::before {
    width: 64px;
    height: 64px;
    top: -17px;
    left: -17px
  }
}
/*# sourceMappingURL=paragraph.counted-list-with-image-text.component.css.map */
