@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.paragraph-type--counted-list-with-image-text {
  counter-reset: section;
  .paragraphs-item-hover-box {
    display: flex;
    align-items: center;
    position: relative;
  }
  .field-name-field-counted-list-row {
    display: flex;
    flex-wrap: wrap;
    @include media('>=tablet') {
      justify-content: center
    }
    &>.field--item {
      position: relative;
      display: flex;
      box-shadow: 0px 14px 206px -16px rgb(0 0 0 / 6%);
      .field-name-field-hover-box-back {
        opacity: 0;
        padding-top: 12px;
      }
      .field-name-field-hover-box-front {
        position: absolute;
        width: 100%;
        top: 22px;
        span {
          font-size: 17px;
          letter-spacing: .5px;
        }
        .black-lms-heading,
        .black-lms-heading a {
          font-size: 24px;
          letter-spacing: 0.2px;
          -webkit-text-stroke-width: 0.5px;
          line-height: 2;
        }
      }
      .field-name-field-hover-box-icon {
        position: absolute;
        bottom: -20px;
        right: -20px;
        img {
          width: 44px;
          height: 44px;
          object-fit: contain;
        }
      }
      &:hover {
        .field-name-field-hover-box-front {
          opacity: 0;
        }
        .field-name-field-hover-box-back {
          display: block;
          opacity: 1;
        }
        .field-name-field-hover-box-icon {
          opacity: 0;
        }
        &::before {
          border: 0;
        }
      }
      width: 100%;
      background-color: var(--color-neutral-0);
      border-radius: 3px;
      color: var(--color-base);
      padding: 20px;
      margin: 10px 0;
      min-height: 300px;
      @include media('>=tablet') {
        width: 38%;
        padding: 30px;
        margin: 14px;
        min-height: 240px;
      }
      .field-name-field-wsop-rich-text {
        margin: 0;
      }
      counter-increment: section;
      &::before {
        content: counter(section);
        background: $color-oasis-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999rem;
        position: absolute;
        border: 5px solid var(--color-page-bg);
        color: var(--color-neutral-0);
        font-weight: 900;
        font-size: 24px;
        -webkit-text-stroke-width: 0.3px;
        width: 55px;
        height: 55px;
        top: -15px;
        left: -15px;
        transition: 0.4s;
        transition-delay: 0.2s;
        @include media('>=tablet') {
          width: 64px;
          height: 64px;
          top: -17px;
          left: -17px;
        }
      }
    }
  }
  .paragraphs-item-wso-paragraph-rich-text ul {
    padding-left: 5px;
    li {
      margin-bottom: 6px;
      line-height: 1.2;
    }
  }
  .paragraphs-item-wso-paragraph-rich-text ul li::before {
    color: $color-oasis-blue;
  }
}
