.btn-start-discussion .icon {
  color: var(--color-neutral-0);
  margin-right: 10px
}
.btn-start-discussion .svgicon {
  width: 15px;
  height: 12px;
  margin-left: 10px
}
.btn-start-discussion .svgicon svg {
  vertical-align: top
}
/*# sourceMappingURL=forum-start-discussion.component.css.map */
