@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.btn-start-discussion {
  .icon {
    color: var(--color-neutral-0);
    margin-right: 10px;
  }

  .svgicon {
    width: 15px;
    height: 12px;
    margin-left: 10px;

    svg {
      vertical-align: top;
    }
  }
}
