.mfp-bg {
  background: var(--color-base);
  filter: alpha(opacity=80);
  height: 100%;
  left: 0;
  opacity: .8;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1042;
}

.mfp-wrap {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: 0 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1043;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.mfp-align-top {
  .mfp-container {
    &:before {
      display: none;
    }
  }
}

.mfp-content {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: left;
  vertical-align: middle;
  z-index: 1045;
}

.mfp-ajax-holder {
  .mfp-content {
    cursor: auto;
    width: 100%;
  }
}

.mfp-inline-holder {
  .mfp-content {
    cursor: auto;
    width: 100%;
  }
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur {
  cursor: zoom-out;

  .mfp-image-holder {
    .mfp-close {
      cursor: zoom-out;
    }
  }
}

.mfp-zoom {
  cursor: zoom-in;
}

.mfp-auto-cursor {
  .mfp-content {
    cursor: auto;
  }
}

.mfp-arrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  opacity: .65;
  filter: alpha(opacity=65);
  margin: -55px 0 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;

  &:active {
    margin-top: -54px;
  }

  &:focus {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  &:hover {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  .mfp-a {
    border: inset transparent;
    border-bottom-width: 13px;
    border-top-width: 13px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-left: 35px;
    margin-top: 35px;
    position: absolute;
    top: 8px;
    width: 0;
  }

  .mfp-b {
    border: inset transparent;
    border-bottom-width: 21px;
    border-top-width: 21px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-left: 35px;
    margin-top: 35px;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 0;
  }

  &:after {
    border: inset transparent;
    border-bottom-width: 13px;
    border-top-width: 13px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-left: 35px;
    margin-top: 35px;
    position: absolute;
    top: 8px;
    width: 0;
  }

  &:before {
    border: inset transparent;
    border-bottom-width: 21px;
    border-top-width: 21px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-left: 35px;
    margin-top: 35px;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 0;
  }
}

.mfp-close {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: .65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: var(--color-neutral-0);
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;

  &:focus {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  &:hover {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  &:active {
    top: 1px;
  }
}

.mfp-counter {
  -moz-user-select: none;
  -webkit-user-select: none;
  color: var(--color-neutral-5);
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  white-space: nowrap;
}

.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: var(--color-neutral-5);
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;

  a {
    color: var(--color-neutral-5);

    &:hover {
      color: var(--color-neutral-0);
    }
  }
}

.mfp-loading {
  &.mfp-figure {
    display: none;
  }
}

.mfp-hide {
  display: none !important;
}

.mfp-s-error {
  .mfp-content {
    display: none;
  }
}

.mfp-s-ready {
  .mfp-preloader {
    display: none;
  }
}

button {
  &.mfp-arrow {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    background: 0 0;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: 0;
    overflow: visible;
    padding: 0;
    z-index: 1046;
  }

  &.mfp-close {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    background: 0 0;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: 0;
    overflow: visible;
    padding: 0;
    z-index: 1046;
  }

  &:-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.mfp-close-btn-in {
  .mfp-close {
    color: var(--color-base);
  }
}

.mfp-iframe-holder {
  .mfp-close {
    color: var(--color-neutral-0);
    padding-right: 6px;
    right: -6px;
    text-align: right;
    top: -40px;
    width: 100%;
  }
  padding-top: 40px;
  padding-bottom: 40px;

  .mfp-content {
    line-height: 0;
    max-width: 900px;
    width: 100%;
  }
}

.mfp-image-holder {
  .mfp-close {
    color: var(--color-neutral-0);
    padding-right: 6px;
    right: -6px;
    text-align: right;
    width: 100%;
  }

  .mfp-content {
    max-width: 100%;
  }
}

.mfp-arrow-left {
  left: 0;

  .mfp-a {
    border-right: 17px solid var(--color-neutral-0);
    margin-left: 31px;
  }

  &:after {
    border-right: 17px solid var(--color-neutral-0);
    margin-left: 31px;
  }

  .mfp-b {
    border-right: 27px solid var(--color-base);
    margin-left: 25px;
  }

  &:before {
    border-right: 27px solid var(--color-base);
    margin-left: 25px;
  }
}

.mfp-arrow-right {
  right: 0;

  .mfp-a {
    border-left: 17px solid var(--color-neutral-0);
    margin-left: 39px;
  }

  &:after {
    border-left: 17px solid var(--color-neutral-0);
    margin-left: 39px;
  }

  .mfp-b {
    border-left: 27px solid var(--color-base);
  }

  &:before {
    border-left: 27px solid var(--color-base);
  }
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;

  iframe {
    background: var(--color-base);
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

img {
  &.mfp-img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: auto;
    line-height: 0;
    margin: 0 auto;
    max-width: 100%;
    padding: 40px 0;
    width: auto;
  }
}

.mfp-figure {
  line-height: 0;

  &:after {
    background: var(--color-base);
    bottom: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    content: '';
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
    width: auto;
    z-index: -1;
  }

  small {
    color: var(--color-neutral-5);
    display: block;
    font-size: 12px;
    line-height: 14px;
  }

  figure {
    margin: 0;
  }
}

.mfp-bottom-bar {
  cursor: auto;
  left: 0;
  margin-top: -36px;
  position: absolute;
  top: 100%;
  width: 100%;
}

.mfp-title {
  color: var(--color-neutral-3);
  line-height: 18px;
  padding-right: 36px;
  text-align: left;
  word-wrap: break-word;
}

.mfp-gallery {
  .mfp-image-holder {
    .mfp-figure {
      cursor: pointer;
    }
  }
}

@media (max-width: 800px) and (orientation: landscape), (max-height: 300px) {
  .mfp-img-mobile {
    .mfp-image-holder {
      padding-left: 0;
      padding-right: 0;
    }

    img {
      &.mfp-img {
        padding: 0;
      }
    }

    .mfp-figure {
      &:after {
        bottom: 0;
        top: 0;
      }

      small {
        display: inline;
        margin-left: 5px;
      }
    }

    .mfp-bottom-bar {
      background: rgba(0, 0, 0, .6);
      bottom: 0;
      margin: 0;
      top: auto;
      padding: 3px 5px;
      position: fixed;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:empty {
        padding: 0;
      }
    }

    .mfp-counter {
      right: 5px;
      top: 3px;
    }

    .mfp-close {
      background: rgba(0, 0, 0, .6);
      height: 35px;
      line-height: 35px;
      padding: 0;
      position: fixed;
      right: 0;
      text-align: center;
      top: 0;
      width: 35px;
    }
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.mfp-ie7 {
  .mfp-img {
    padding: 0;
  }

  .mfp-bottom-bar {
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 600px;
  }

  .mfp-container {
    padding: 0;
  }

  .mfp-content {
    padding-top: 44px;
  }

  .mfp-close {
    padding-top: 0;
    right: 0;
    top: 0;
  }
}
