.page-node {
  &.node-type-guide {
    #content {
      > .container {
        padding: 0;
        width: 100%;
      }
    }

    .post-footer {
      display: none;
    }
  }
}

#reply-form-node-290004 {
  display: none;
}

.video-access-pricing-table {
  > a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
  margin-bottom: 20px;

  ul {
    li {
      font-size: 1.1em;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }
}

.img-responsive {
  &.prep-pack {
    padding-left: 20px;
  }
}

.m-t-0 {
  margin-top: 0 !important;
}

.p-t-30 {
  padding-top: 30px;
}

#intro-guides-pages {
  padding-top: 40px;
  background: var(--color-neutral-2);
  min-height: 300px;

  h1 {
    color: var(--color-base);
    margin-bottom: 15px;
    font-size: 4em;
    line-height: 1.1;

    span {
      color: $steelblue_0075bb;
      font-weight: 600;
    }
  }

  h2 {
    &.text-center {
      color: var(--color-base);
      margin-bottom: 15px;
      font-size: 4em;
      line-height: 1.1;

      span {
        color: $steelblue_0075bb;
        font-weight: 600;
      }
    }
  }

  .card-white {
    li {
      box-sizing: border-box;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}

#guides .media-box {
  width: 100%;
}

h2 {
  &.text-center {
    letter-spacing: -1px;
    font-size: 3.2em;
    line-height: 44px;
    font-weight: 500;

    strong {
      color: $color-green-100;
    }

    b {
      color: $color-green-100;
    }
  }
}

.card-white {
  background: var(--color-neutral-0);
  padding: 20px 20px 30px;
  border: 1px solid var(--color-neutral-3);

  h4 {
    border-bottom: 1px solid var(--color-neutral-3);
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .fa {
    margin-right: 5px;
  }

  li {
    line-height: 1.6;

    strong {
      color: $color-blue;
    }
  }

  &.ul-card {
    background: var(--color-neutral-2);
    border-radius: 10px;
    letter-spacing: -0.01em;
    margin-bottom: 30px;
    padding: 20px 30px 10px;
  }
}

.checkout-area {
  h1 {
    color: var(--color-light-blue);
    font-size: 2.6em;
    font-weight: 500;
    margin-top: 50px;

    span {
      color: var(--color-neutral-5);
      font-size: 30px;
      font-weight: 300;
    }
  }

  h2 {
    &.text-center {
      color: var(--color-light-blue);
      font-size: 2.6em;
      font-weight: 500;
      margin-top: 50px;

      span {
        color: var(--color-neutral-5);
        font-size: 30px;
        font-weight: 300;
      }
    }
  }
  background: var(--color-neutral-9) none repeat scroll 0 0;
}

.bonus {
  background: rgba(255, 255, 255, .2) none repeat scroll 0 0;
  border: 1px dashed rgba(255, 255, 255, .6);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 22px;
  padding: 2px 10px;
  text-align: center;
}

#section-pricing {
  p {
    color: var(--color-neutral-5);
    margin-bottom: 15px;
  }
  padding-bottom: 30px;
}

.cta-1 {
  h1 {
    color: var(--color-base);
    font-size: 2.6em;
    font-weight: 600;
    margin-top: 50px;

    span {
      color: var(--color-neutral-7);
      font-size: 30px;
      font-weight: 300;
    }
  }

  h2 {
    &.text-center {
      color: var(--color-base);
      font-size: 2.6em;
      font-weight: 600;
      margin-top: 50px;

      span {
        color: var(--color-neutral-7);
        font-size: 30px;
        font-weight: 300;
      }
    }
  }

  .get-items {
    li {
      font-size: 1em;
      margin-bottom: 15px;
      margin-left: 3px;
      margin-top: 20px;
    }
  }
}

.interview-questions {
  background: var(--color-neutral-2) none repeat scroll 0 0;
  margin-top: 10px;
  padding-bottom: 30px;

  h1 {
    color: $steelblue_0075bb;
    font-size: 2.6em;
    font-weight: 600;
    margin-top: 10px;

    span {
      font-weight: 300;
    }
    padding-top: 2rem;
  }

  h2 {
    &.text-center {
      color: $steelblue_0075bb;
      font-size: 2.6em;
      font-weight: 600;
      margin-top: 10px;

      span {
        font-weight: 300;
      }
      padding-top: 2rem;
    }
  }

  .text {
    margin-top: 0;

    p {
      color: var(--color-base);
    }
  }
}

.panel-default {
  border-color: var(--color-neutral-3);
}

.best-deal {
  color: $color-green-100;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: -5px;
  text-align: center;
  text-transform: uppercase;
}

.ul-card {
  &.card-white {
    li {
      margin-top: 5px;
      font-size: 16px;
      margin-bottom: 10px;

      .fa {
        color: $forestgreen_47a447;
      }
    }
  }
}

.page-previews {
  .col-sm-5 {
    float: left;
    margin-bottom: 20px;
    min-height: 200px;
    width: 150px;
  }
}

blockquote {
  &.testimonial {
    &:before {
      color: var(--color-neutral-5);
      font-size: 64px;
    }

    &:after {
      color: var(--color-neutral-5);
      font-size: 64px;
    }
    min-height: 105px;
    background: var(--color-base);

    p {
      color: var(--color-neutral-2);
    }
  }
}

.behavioral-guide {
  background-color: var(--color-neutral-2);
  padding-top: 50px;
  padding-bottom: 10px;

  .lead {
    font-size: 16px;
    font-weight: normal;
  }

  .card-white {
    &.ul-card {
      background: var(--color-neutral-0);
    }
  }
}

.bg-f5 {
  background: var(--color-neutral-2);
}

.bg-e5 {
  background: var(--color-neutral-4);
}

h1 {
  b {
    color: $color-green-100;
  }

  strong {
    color: $color-green-100;
  }
}

.blue-bg-light {
  h1 {
    b {
      color: var(--color-neutral-0);
    }
  }

  h2 {
    &.text-center {
      b {
        color: var(--color-neutral-0);
      }
    }
  }
}

.gain-left {
  padding-right: 0;

  img {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

.gain-right {
  padding-left: 0;

  img {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

.black-cta {
  background: var(--color-base);
  min-height: 521px;
  padding: 0 30px;

  .get-items {
    li {
      margin-bottom: 3px;
      color: var(--color-neutral-0);

      i {
        color: $lightskyblue_5cd0ff;
        margin-right: 5px;
      }

      a {
        color: $lightskyblue_5cd0ff;
      }
    }
  }

  h3 {
    color: var(--color-neutral-0);
    margin-left: 20px;
    padding-bottom: 5px;
    padding-top: 3rem;
    text-align: center;
    text-transform: none;
  }
}

.lead-md {
  font-size: 16px;
  line-height: 1.6;
}

.see-more-wrapper {
  margin-bottom: 20px;

  .btn {
    &.btn-default {
      border: medium none;

      a {
        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background-color: var(--color-neutral-3);
      }
    }
  }
}

.video-guide {
  padding-bottom: 10px;
  padding-top: 50px;

  h1 {
    span {
      font-size: 25px;
      font-weight: 300;
    }
  }

  h2 {
    &.text-center {
      font-size: 25px;
      font-weight: 300;
    }
  }

  h4 {
    color: var(--color-base);
    font-size: 28px;
    padding-top: 4rem;
  }
}

.row-database {
  h3 {
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .img-responsive {
    min-width: 100%;
    padding: 0 60px;
  }
  margin-bottom: 50px;
}

.video-access-pricing {
  h4 {
    font-size: 1.8em;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
  }

  h5 {
    font-weight: 600;
  }

  .resleft {
    background: var(--color-neutral-0);
    padding: 20px 30px;
  }

  h3 {
    margin-bottom: 10px;
  }

  blockquote {
    &.testimonial {
      background: var(--color-base);
      margin-bottom: 20px;
      padding: 10px 25px 10px 45px;
    }
  }
}

.video-access-pricing-table-head {
  background: var(--color-neutral-0);
  padding: 5px;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;

  h4 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.3em;
    margin-top: 0;
    padding: 15px 0 0;
    text-align: center;
    text-transform: capitalize;
  }
}

.video-access-pricing-table-body {
  background: $gainsboro_cedde0;
  padding: 20px 20px 30px 20px;
}

.video-access-pricing-table-footer {
  .btn {
    border: 2px solid var(--color-neutral-0);
    color: var(--color-neutral-0);
    font-size: 1.2em;
    font-weight: 600;
    padding: 15px 0;
    text-transform: uppercase;
    background-color: $color-green-100;
    background: $color-green-100 none repeat scroll 0 0;
    border-radius: 50px;
    margin: auto;

    &:hover {
      background-color: $forestgreen_449d44;
    }
  }
  background: var(--color-neutral-0) none repeat scroll 0 0;
  margin-top: -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  padding: 15px 50px;

  .fa-angle-right {
    display: none;
  }
}

.price-bg-z {
  .video-access-pricing-table-body {
    background: $tan_D9BA9F;
  }

  .price {
    background: var(--color-neutral-3);
  }
}

.price-bg-y {
  .video-access-pricing-table-body {
    background: $color-yellow;
  }

  .price {
    background: $lemonchiffon_FBEEC6;
  }

  .best-deal {
    color: $color-red;
  }
}

.price {
  &.price-center {
    letter-spacing: -2px;
    padding-left: 22px;
    text-align: center;
  }

  span {
    font-size: 20px;
    margin-left: -10px;
    margin-top: 2px;
    padding-right: 10px;
    position: absolute;
    width: 20px;
  }
  background: var(--color-neutral-2);
  border: 2px solid var(--color-neutral-0);
  font-size: 2.2em;
  height: 110px;
  line-height: 1;
  margin: auto;
  padding: 38px 30px;
  text-align: right;
  vertical-align: middle;
  width: 110px;
}

.technical-guide {
  background: var(--color-neutral-0);
  padding-top: 50px;
  padding-bottom: 10px;

  .white-text {
    color: var(--color-neutral-5);
    line-height: 2;
    margin-bottom: 20px;
  }

  .ul-card {
    li {
      font-size: 16px;
      margin-top: 5px;
    }
  }
}

.types-q {
  .fa {
    color: $forestgreen_47a447;
    margin-right: 5px;
  }
}

.networking-guide {
  padding-bottom: 20px;
  padding-top: 50px;

  .card-white {
    &.ul-card {
      background: var(--color-neutral-0);
    }
  }
}

.text-orange {
  color: $color-red;
}

.server-img {
  display: none;
  height: 100%;
  width: 100%;
}

.book-img {
  display: none;
  height: 100%;
  width: 100%;
}

.page-node- {
  .well {
    border: 0;
    padding: 0 !important;
  }

  .tabs {
    margin-bottom: 0;
  }
}

section {
  &.page-top {
    &.custom-product {
      background: none;
      border: 0;
      margin-bottom: 0;
      padding-bottom: 3rem;
    }
  }
}

.page-top {
  &.custom-product {
    h1 {
      margin-top: 0;
      padding-bottom: 3rem;
      font-size: 34px;
      color: $steelblue_0084bf;
      border-bottom: 1px solid var(--color-neutral-3);

      span {
        font-size: 45px;
        @include responsive-prop(700, 800, font-weight);
      }
    }

    h2 {
      &.text-center {
        margin-top: 0;
        padding-bottom: 3rem;
        font-size: 34px;
        color: $steelblue_0084bf;
        border-bottom: 1px solid var(--color-neutral-3);

        span {
          font-size: 45px;
          @include responsive-prop(700, 800, font-weight);
        }
      }
    }

    h4 {
      font-size: 20px;
    }

    p {
      &.lead {
        color: var(--color-neutral-7);
        font-size: 18px;
        margin-top: 2rem;
      }
    }

    .get-items {
      li {
        margin-bottom: 1rem;
        font-size: 16px;

        i {
          color: $steelblue_64A0C8;
          margin-right: 5px;
        }
      }
    }

    .fa-arrow-down {
      color: $steelblue_64A0C8;
      margin-left: 5px;
    }

    img {
      bottom: 0;
    }

    .small-text {
      font-size: 14px;
    }
  }
}

.guide-thumb {
  background: var(--color-neutral-0);
  border: 21px solid var(--color-neutral-2);
  padding-bottom: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  text-align: center;
}

.title {
  text-align: center;
}

.big-heading {
  @include responsive-prop(700, 800, font-weight);
}

.checkout-worst {
  h1 {
    &.checkout-worst {
      h2 {
        &.text-center {
          padding-top: 2rem;
        }
      }
    }
  }

  .section-pricing {
    padding-bottom: 4rem;
  }
}

.bluearea {
  .big-heading {
    font-weight: lighter;
  }
  background: $steelblue_288EBB;

  h1 {
    padding-top: 2rem;
  }

  h2 {
    &.text-center {
      padding-top: 2rem;
    }
  }
}

.ribbon {
  margin-top: 14rem;
  position: absolute;
}

.price-head {
  display: inline-block;
  position: relative;
}

.price-circle {
  background-color: var(--color-neutral-0);
  border: 5px solid $color-blue;
  border-radius: 50%;
  box-shadow: 0 5px 20px var(--color-neutral-4) inset, 0 3px 0 #999999 inset;
  display: table;
  font-size: 1.8em;
}

.section-pricing {
  margin-top: 50px;
  text-align: center;

  h3 {
    background: none;
    color: $color-blue;
    display: table-cell;
    font-family: "Georgia", serif;
    font-size: 210%;
    font-weight: 800;
    min-width: 200px;
    padding: 8rem 1rem;
    text-align: center;
    vertical-align: middle;
  }

  li {
    border-bottom: 1px solid var(--color-base);
    border-top: 0;
    color: var(--color-neutral-1);
    font-family: Open Sans, serif;
    font-size: 14px;
    line-height: 1.2;
  }

  ul {
    min-height: 204px;
  }
}

.plan-box {
  h2 {
    color: $color-blue;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin: 0 auto;
    min-height: 107px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    text-align: center;
    width: 85%;
  }

  ul {
    margin-left: 1rem;
    padding-left: 0;

    li {
      padding-bottom: 1rem;
      padding-top: 1rem;
      text-align: center;
    }
  }
}

.wrapper-arrow-down {
  position: absolute;
  text-align: center;
  top: -44px;
  width: 100%;
  z-index: 2;
}

.arrow-down {
  background: var(--color-neutral-5) none repeat scroll 0 0;
  border-radius: 100%;
  display: inline-block;
  height: 74px;
  padding: 15px 0 0;
  position: relative;
  vertical-align: middle;
  width: 74px;

  i {
    color: var(--color-base);
    font-size: 46px;
  }
}

.arrow-down-white {
  background: var(--color-neutral-1);
  border: 6px solid $steelblue_005f8b;
}

.arrow-down-gray {
  background: var(--color-neutral-3);
  border: 6px solid var(--color-neutral-0);
}

.arrow-down-black {
  background: var(--color-neutral-3);
  border: 6px solid var(--color-base);
}

.top-boxes {
  margin-top: 2rem;
}

.interview-block {
  clear: both;
  position: relative;
}

.interview-label {
  margin-top: 20px;
  padding: 1rem 3rem 1rem 1rem;
  background: $steelblue_0075bb;
  color: var(--color-neutral-0);
  position: absolute;

  span {
    font-size: 18px;
  }
}

.seemore {
  margin-top: 4px;
  text-align: center;
  background: var(--color-base);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  white-space: normal;

  a {
    color: var(--color-neutral-0);
    font-size: 18px;
    text-transform: uppercase;
  }
}

.question {
  &.accordion {
    .panel-default {
      > .panel-heading {
        .panel-title {
          position: relative;

          a {
            &:before {
              bottom: 0;
              content: "";
              display: block;
              height: 0;
              margin: auto 0;
              position: absolute;
              width: 0;
            }

            &.accordion-link {
              &.collapsed {
                &:before {
                  content: "\E809";
                }
              }

              &:before {
                color: var(--color-neutral-0);
                content: "\E80A";
                font-family: "fa-custom", serif;
                margin: auto 0;
                right: 30px;
                top: -20px;
              }
            }
          }
        }
      }
    }
  }

  .panel-heading {
    background-color: $steelblue_01608b;
    border: 0 none;
    border-radius: 0;

    &:hover {
      background: $steelblue_64A0C8;
    }
  }

  .accordion-link {
    &.collapsed {
      background-color: var(--color-base);

      &:hover {
        background: $steelblue_64A0C8;
      }
    }
    background: var(--color-base);
  }

  .panel-body {
    img {
      float: left;
      margin-bottom: 2rem;
      margin-right: 2rem;
    }
    font-size: 1em;
    line-height: 1.8;
    padding: 20px 30px;
  }
}

.questions {
  h2 {
    color: $steelblue_0075bb;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 1rem;
  }
}

.blue-text {
  p {
    color: $steelblue_64A0C8;
    font-size: 18px;
  }
}

.fa-question {
  &:before {
    background: $steelblue_64A0C8 none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 18px;
    left: 15px;
    margin-bottom: 43px;
    margin-right: 15px;
    padding: 5px 9px 4px;
    position: absolute;
    top: 20px;
  }
}

.panel-group {
  .panel {
    + .panel {
      margin-top: 0;
    }
  }

  .panel-heading {
    a {
      color: var(--color-neutral-0);
      font-size: 16px;
      padding: 20px 20px 20px 60px;
    }
  }
}

.database-guide {
  padding-top: 50px;
  padding-bottom: 0;

  h1 {
    span {
      font-size: 25px;
      font-weight: 300;
    }
  }

  h2 {
    &.text-center {
      span {
        font-size: 25px;
        font-weight: 300;
      }
    }
  }

  .info-text {
    font-size: 28px;
    font-weight: lighter;
    min-height: 187px;
    text-align: center;
  }
}

.bronze-bg {
  background: var(--color-neutral-0);
}

.webinar-previews {
  margin-top: 3rem;
}

.webinar-video {
  .webinar-video-wrapper {
    max-height: 270px;
    position: relative;

    img {
      width: 100%;
    }
  }

  h5 {
    background: $steelblue_64A0C8 none repeat scroll 0 0;
    color: var(--color-neutral-0);
    font-size: 21px;
    line-height: 1;
    margin-bottom: 0;
    padding: 20px 0;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
  }

  .btn-webinar-play {
    i {
      color: var(--color-neutral-0);
      display: table-cell;
      font-size: 100px;
      left: 40%;
      position: absolute;
      top: 25%;
      vertical-align: middle;
    }
  }
}

.guide-list {
  margin-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;

  ul {
    li {
      padding-top: 1rem;
      font-size: 17px;
      font-family: "Open Sans", serif;
      color: $steelblue_2f78a0;

      i {
        color: $steelblue_64A0C8;
        font-size: 19px;
        margin-right: 5px;
      }
    }
  }
}

.testimonial-pic {
  padding-left: 0;

  img {
    border: 1px solid var(--color-neutral-3);
    height: 80px;
    width: 80px;
  }
}

.testimonial-description {
  min-height: 105px;
  padding: 2rem 2rem 1rem;
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  background: $color-blue url("//i62.tinypic.com/znug48.png") no-repeat left center;
  background-attachment: fixed;
  background-position: 50px 100px;

  .fa-quote-left {
    margin-right: 2px;
  }

  p {
    color: var(--color-neutral-0);
    font-family: "Georgia", serif;
    font-style: italic;
  }

  span {
    color: var(--color-neutral-0);
    font-family: "Georgia", serif;
    font-style: italic;
  }
}

.info-text {
  p {
    color: var(--color-neutral-0);
    font-family: Open Sans, serif;
    line-height: 30px;
    padding-bottom: 2rem;
  }
}

.white-text {
  p {
    color: var(--color-neutral-0);
    font-size: 17px;
  }
}

.guide-content {
  li {
    margin-bottom: 2px;
  }
}

p {
  line-height: 1.8;
}

.light-font {
  font-weight: 300;
}

.money-back-sticker {
  background: var(--color-neutral-0) none repeat scroll 0 0;
  border-radius: 100%;
  box-shadow: 0 2px 1px 2px rgba(0, 0, 0, .1);
  font-size: 21px;
  height: 160px;
  padding: 6% 0;
  position: absolute;
  right: -25px;
  text-align: center;
  top: -50px;
  transform: rotate(10deg);
  width: 160px;
}

.money-back {
  letter-spacing: -1px;
  margin-bottom: -4px;

  h3 {
    color: $color-green-100 !important;
    font-size: 40px;
    font-weight: 600;
  }
}

.col-sm-8 {
  &.smaller-price-left {
    width: 35.5%;
  }

  &.bigger-price {
    margin-left: -45px;
    margin-right: -45px !important;
    margin-top: -30px;
    padding-bottom: 30px;
    width: 36%;
    z-index: 1000;
  }

  &.smaller-price-right {
    width: 35.5%;
  }
}

.bigger-price {
  .price-box {
    .btn {
      margin: 0 35px 5px;
      padding: 0;
    }
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $black_292830 2%, #151518 45%, #15151a 58%) repeat scroll 0 0;
    border-top: 1px solid var(--color-neutral-7);
    box-shadow: 0 20px 70px 15px rgba(255, 255, 255, .1);
  }

  .plan-box {
    h2 {
      margin-top: 15px;
    }
  }
}

.price-box {
  .btn {
    margin: 0 35px 0;
    width: 82%;
  }
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $black_292830 2%, #151518 45%, #15151a 58%) repeat scroll 0 0;
  border-radius: 10px;
  border-top: 1px solid var(--color-base);
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, .8);
  padding: 30px 0;
}

.lead {
  font-weight: 400;
}

@include media('<tablet') {
  .gain-left {
    padding-right: 15px;
  }

  .gain-right {
    padding-left: 15px;
  }
}

@media (max-width: 800px) {
  .col-sm-8 {
    &.smaller-price-right {
      margin: 20px auto;
      width: 100%;
    }

    &.bigger-price {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      width: 100%;
      z-index: 1000;
    }

    &.smaller-price-left {
      margin: 20px auto;
      width: 100%;
    }
  }
}

@media (min-width: 801px) and (max-width: 1199px) {
  .col-sm-8 {
    &.bigger-price {
      margin-left: -30px;
      margin-right: -30px !important;
      margin-top: -30px;
      padding-bottom: 30px;
      width: 35%;
      z-index: 1000;
    }
  }

  .price-box {
    .btn {
      margin: 5px 35px 0;
    }
  }

  .bigger-price {
    .price-box {
      .btn {
        margin: 10px 35px 5px;
      }
    }
  }
}
