@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#block-forum-related-event-forum-related-events {
  .box-content {
    ul {
      padding: 10px 16px 0;
      margin-bottom: 0;

      li {
        display: inline-block;
        width: 100%;
      }
    }

    li {
      .views-field-title {
        float: right;
        width: 75%;
        padding: 0 0 5px;

        .wso-event-city {
          font-weight: normal;
        }

        > a {
          margin-bottom: -10px;
          padding: 0;
        }

        a {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          @include responsive-prop(700, 800, 'font-weight');
          @include font-color-grey-darkmode;
          font-size: 12px;
        }
      }

      .wso-event-time:before {
        display: inline-block;
        font: normal normal normal 14px/1 'fa-custom';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\e861';
        height: 12px;
        width: 12px;
        display: inline-block;
        margin-right: 5px;
      }

      .views-field-field-event-date {
        float: left;
        padding-bottom: 4px;
        padding-top: 4px;
        text-align: center;
        width: 20%;
      }
    }

    .h4 {
      line-height: 1.25;
      margin: 0;
      padding: 20px 24px;
    }
  }

  .views-field-field-event-date {
    border-radius: 3px;
    background-color: var(--color-neutral-0);
    border: solid 1px var(--color-neutral-2);

    .wso-event-month {
      span {
        color: $color-blue;
        font-size: 12px;
        letter-spacing: .1px;
        line-height: 14px;
      }
    }

    .wso-event-day {
      span {
        color: var(--color-base);
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
}
