#block-forum-related-event-forum-related-events .box-content ul {
  padding: 10px 16px 0;
  margin-bottom: 0
}
#block-forum-related-event-forum-related-events .box-content ul li {
  display: inline-block;
  width: 100%
}
#block-forum-related-event-forum-related-events .box-content li .views-field-title {
  float: right;
  width: 75%;
  padding: 0 0 5px
}
#block-forum-related-event-forum-related-events .box-content li .views-field-title .wso-event-city {
  font-weight: normal
}
#block-forum-related-event-forum-related-events .box-content li .views-field-title > a {
  margin-bottom: -10px;
  padding: 0
}
#block-forum-related-event-forum-related-events .box-content li .views-field-title a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}
#block-forum-related-event-forum-related-events .box-content li .views-field-title a:hover {
  text-decoration: underline
}
#block-forum-related-event-forum-related-events .box-content li .views-field-title span {
  font-weight: 700;
  color: #9db2bc;
  font-size: 12px
}
.darkmode #block-forum-related-event-forum-related-events .box-content li .views-field-title span {
  color: #c0beba
}
#block-forum-related-event-forum-related-events .box-content li .wso-event-time:before {
  font: 14px/1 fa-custom;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e861";
  height: 12px;
  width: 12px;
  display: inline-block;
  margin-right: 5px
}
#block-forum-related-event-forum-related-events .box-content li .views-field-field-event-date {
  float: left;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
  width: 20%
}
#block-forum-related-event-forum-related-events .box-content .h4 {
  line-height: 1.25;
  margin: 0;
  padding: 20px 24px
}
#block-forum-related-event-forum-related-events .views-field-field-event-date {
  border-radius: 3px;
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-2)
}
#block-forum-related-event-forum-related-events .views-field-field-event-date .wso-event-month span {
  color: #087dfd;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 14px
}
#block-forum-related-event-forum-related-events .views-field-field-event-date .wso-event-day span {
  color: var(--color-base);
  font-size: 22px;
  font-weight: 700;
  line-height: 24px
}
@media (min-width: 992px) {
  #block-forum-related-event-forum-related-events .box-content li .views-field-title span {
    font-weight: 800
  }
}
/*# sourceMappingURL=forum-related-events.component.css.map */
