{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}

{% set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    extra_class
  ]
%}

{{ attach_library('porto_sub/paragraph.hero-banner.component') }}

{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="hero-banner d-flex flex-column flex-lg-row justify-content-between align-items-start">
        <div class="hero-banner__wrapper">
          <h5 class="hero-banner__label font-h5">
            {{- content.field_label.0|render -}}
          </h5>

          <h1 class="hero-banner__title font-h1 color-white-100">
            {{- content.field_title.0|raw -}}
          </h1>

          <div class="hero-banner__description font-lg color-white-70">
            {{ content.field_description }}
          </div>

          {# Mobile benefits list. #}
          {% if content.field_list_of_benefits %}
            <div class="floating-widget__benefits-list benefits-list__mobile d-block d-md-none">
              {% set list = [] %}
              {% for key, item in content.field_list_of_benefits if key|first != '#' %}
                {% set list = list|merge([{'text': item}]) %}
              {% endfor %}

              {# Desktop benefits list. #}
              {% include '@storybook/03-organisms/paragraphs/benefits-list/simple/simple-benefits-list.twig' with {'list': list} %}
            </div>
          {% endif %}

          {% if content.field_include_trustpilot_reviews %}
            {% include '@storybook/02-molecules/trustpilot-reviews/summary/humanreadable-simple/summary-humanreadable-simple.twig' with {
                'ts_stars': ts_stars,
                'ts_score': ts_score,
                'ts_reviews': ts_reviews,
              }
            %}
          {% endif %}

          {{ content|without(
            'field_title',
            'field_description',
            'field_include_trustpilot_reviews',
            'field_list_of_benefits',
            'field_total_courses_duration',
            'field_total_number_of_courses',
            'field_total_number_of_exercises',
            'field_total_number_of_lessons',
            'field_total_number_of_students',
          ) }}
        </div>

        <div class="hero-banner__floating-widget">
          {% if unlimited_access %}
            {{ unlimited_access|raw }}
          {% else %}
            {{ 'Unlimited Access with Pay Options paragraph is missing.'|t }}
          {% endif %}

          {% if content.field_list_of_benefits %}
            <div class="floating-widget__benefits-list benefits-list__tablet-plus d-none d-md-block">
              {% set list = [] %}
              {% for key, item in content.field_list_of_benefits if key|first != '#' %}
                {% set list = list|merge([{'text': item}]) %}
              {% endfor %}

              {# Desktop benefits list. #}
              {% include '@storybook/03-organisms/paragraphs/benefits-list/simple/simple-benefits-list.twig' with {'list': list} %}
            </div>
          {% endif %}

          <div class="floating-widget__course-overview">
            {% include '@storybook/03-organisms/paragraphs/course-overview/complex/complex-course-overview.twig' with {
              'bundle': 'complex-course-overview',
              'view_mode': 'default',
              'isPublished': 1,
              'item_id': item_id ~ '-course-overview',
              'label': 'This Program includes'|t,
              'number_of_courses': content.field_total_number_of_courses.0,
              'number_of_lessons': content.field_total_number_of_lessons.0,
              'course_duration': content.field_total_courses_duration.0,
              'number_of_exercises': content.field_total_number_of_exercises.0,
              'number_of_students': content.field_total_number_of_students.0,
            } %}
          </div>

          {% if content.field_include_trustpilot_reviews %}
            <div class="floating-widget__trustpilot-review d-none d-md-block">
              {% include '@storybook/02-molecules/trustpilot-reviews/summary/humanreadable-short/summary-humanreadable-short.twig' with {
                  'ts_stars': ts_stars,
                  'ts_score': ts_score,
                  'ts_reviews': ts_reviews,
                }
              %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
