.paragraph--type--hero-banner {
  background-color: #0a4059;
  position: relative;
  width: 100%;
  padding: 60px 16px 20px
}
.paragraph--type--hero-banner .hero-banner {
  width: 100%;
  margin-left: auto;
  margin-right: auto
}
.paragraph--type--hero-banner .hero-banner .hero-banner__wrapper {
  position: relative;
  width: 100%;
  max-width: 635px
}
.paragraph--type--hero-banner .hero-banner .hero-banner__wrapper .hero-banner__label {
  color: #189eda;
  text-transform: uppercase;
  margin-bottom: 10px
}
.paragraph--type--hero-banner .hero-banner .hero-banner__wrapper .hero-banner__title {
  margin-bottom: 20px
}
.paragraph--type--hero-banner .hero-banner .hero-banner__wrapper .hero-banner__description {
  font-weight: 400;
  margin-bottom: 60px
}
.paragraph--type--hero-banner .hero-banner .hero-banner__wrapper .hero-banner__description strong {
  font-weight: 700;
  color: #fff
}
.paragraph--type--hero-banner .hero-banner .hero-banner__wrapper .floating-widget__benefits-list.benefits-list__mobile * {
  color: #fff
}
.paragraph--type--hero-banner .hero-banner__floating-widget {
  width: auto;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  padding: 25px 16px 0;
  margin: 20px -16px -21px;
  background-color: #fff
}
.paragraph--type--hero-banner .hero-banner__floating-widget .countdown-timer-wrapper {
  padding: 0;
  margin-top: 30px
}
.paragraph--type--hero-banner .hero-banner__floating-widget .countdown-timer-wrapper .countdown-timer__text-n-mark {
  margin: 0
}
.paragraph--type--hero-banner .hero-banner__floating-widget .countdown-timer-wrapper .countdown-timer__text-n-mark .countdown-timer__icon.icon-exclamation-red {
  margin-right: 2px
}
.paragraph--type--hero-banner .hero-banner__floating-widget .countdown-timer-wrapper .countdown-timer__counter .counter__item,
.paragraph--type--hero-banner .hero-banner__floating-widget .countdown-timer-wrapper .countdown-timer__text {
  color: #2f2f2f;
  margin: 0 2px;
  vertical-align: baseline
}
@media screen and (min-width: 768px) {
  .paragraph--type--hero-banner .hero-banner {
    max-width: 100%
  }
}
@media (min-width: 768px) {
  .paragraph--type--hero-banner .hero-banner .hero-banner__wrapper .hero-banner__label {
    margin-bottom: 12px
  }
  .paragraph--type--hero-banner .hero-banner__floating-widget .countdown-timer-wrapper .countdown-timer__counter .counter__item,
  .paragraph--type--hero-banner .hero-banner__floating-widget .countdown-timer-wrapper .countdown-timer__text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0
  }
}
@media (min-width: 992px) {
  .paragraph--type--hero-banner {
    padding: 100px 0 80px;
    max-height: 490px
  }
  .paragraph--type--hero-banner .hero-banner__floating-widget {
    margin: -10px 0 0;
    padding: 30px 30px 0;
    border-radius: 24px;
    box-shadow: 0 10px 24px 0 rgba(10, 64, 89, .1019607843);
    width: 26.875vw;
    max-width: 442px;
    min-width: 385px;
    height: auto;
    z-index: 101
  }
  .paragraph--type--hero-banner .hero-banner__floating-widget.hero-banner__floating-widget__sticky {
    position: fixed
  }
  .paragraph--type--hero-banner .hero-banner__floating-widget.hero-banner__floating-widget__fixed {
    z-index: 99;
    position: absolute
  }
}
@media (min-width: 1500px) {
  .paragraph--type--hero-banner .hero-banner {
    max-width: 1400px
  }
}
@media (max-width: 767px) {
  .paragraph--type--hero-banner .hero-banner__floating-widget .countdown-timer-wrapper {
    flex-direction: row!important
  }
}
@media (min-width: 992px) and (max-width: 1250px) {
  .paragraph--type--hero-banner .hero-banner {
    max-width: 960px
  }
}
@media (min-width: 1250px) and (max-width: 1500px) {
  .paragraph--type--hero-banner .hero-banner {
    max-width: 1200px
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .paragraph--type--hero-banner .hero-banner .hero-banner__wrapper {
    max-width: 575px
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .paragraph--type--hero-banner .hero-banner__floating-widget {
    display: none
  }
}
/*# sourceMappingURL=paragraph.hero-banner.component.css.map */
