@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.paragraph--type--hero-banner {
  background-color: $color-monkey-blue;
  position: relative;
  width: 100%;

  padding: 60px 16px 20px 16px;
  @include media('>=desktop') {
    padding: 100px 0 80px 0;
    // @TODO
    max-height: 490px;
  }

  .hero-banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      max-width: 100%
    }

    @media (min-width: 992px) and (max-width: 1250px) {
      max-width: 960px
    }

    @media (min-width: 1250px) and (max-width: 1500px) {
      max-width: 1200px
    }

    @media (min-width: 1500px) {
      max-width: 1400px
    }

    .hero-banner__wrapper {
      position: relative;
      width: 100%;

      // @TODO
      max-width: 635px;
      @include media('>=desktop', '<large-desktop') {
        max-width: 575px;
      }

      .hero-banner__label {
        color: $color-oasis-blue;
        text-transform: uppercase;
        margin-bottom: 10px;
        @include media('>=tablet') {
          margin-bottom: 12px;
        }
      }

      .hero-banner__title {
        margin-bottom: 20px;
      }

      .hero-banner__description {
        font-weight: 400;
        margin-bottom: 60px;

        strong {
          font-weight: 700;
          color: $color-white-100;
        }
      }

      .floating-widget__benefits-list.benefits-list__mobile {
        * {
          color: $color-white-100;
        }
      }
    }
  }

  .hero-banner__floating-widget {
    width: auto;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

    padding: 25px 16px 0;
    margin: 20px -16px -21px;
    background-color: $color-white-100;

    // @FIXME no idea how to display this widget on small laptops.
    @include media('>=tablet', '<desktop') {
      display: none;
    }

    @include media('>=desktop')  {
      margin: -10px 0 0 0;
      padding: 30px 30px 0;
      border-radius: 24px;
      box-shadow: 0 10px 24px 0 #0A40591A;

      width: 26.875vw;
      max-width: 442px;
      min-width: 385px;

      height: auto;
      z-index: 101;

      &.hero-banner__floating-widget__sticky {
        position: fixed;
      }

      &.hero-banner__floating-widget__fixed {
        z-index: 99;
        position: absolute;
      }
    }

    .countdown-timer-wrapper {
      padding: 0;
      margin-top: 30px;

      @include media('<tablet') {
        flex-direction: row!important;
      }

      .countdown-timer__text-n-mark {
        margin: 0;

        .countdown-timer__icon.icon-exclamation-red {
          margin-right: 2px;
        }
      }

      .countdown-timer__text,
      .countdown-timer__counter .counter__item {
        color: $color-dark-100;

        margin: 0 2px;
        vertical-align: baseline;
        @include media('>=tablet') {
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0;
        }
      }
    }
  }
}
