//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';

.page-industry-reports-wall-street-oasis {
  .region-breadcrumbs-replacer {
    display: none;
  }
}

.ir-head {
  background: url(/themes/custom/porto_sub/images/headers/industry/ir-head.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 30px;
}

.ir-head-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 280px;
  padding: 20px;
}

.ir-head_title {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-neutral-0);
  font-size: 32px;
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 20px;
  text-align: center;
}

.ir-head_description {
  color: var(--color-neutral-0);
  font-size: 16px;
  letter-spacing: .2px;
  line-height: 1.56;
  margin-bottom: 0;
  opacity: .8;
  text-align: center;
}

.ir-pdf-part {
  border-radius: 10px;
  background-color: var(--color-neutral-0);
  box-shadow: -1px 2px 1px 0 rgba(0, 0, 0, .03);
  padding: 48px 0 0;
  margin-top: 48px;
  float: none;
  clear: both;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  .ir-text-part {
    padding-left: 56px;
  }

  .ir-image-part {
    img {
      max-height: 350px;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      padding: 5px 20px 50px 0;
      width: 100%;
    }
  }

  .ir-date {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-neutral-7);
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: .4px;
    line-height: 1.14;
    opacity: .8;
    text-transform: uppercase;
  }

  .ir-title {
    color: var(--color-base);
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.19;
    margin-bottom: 17px;
    margin-top: 8px;
    opacity: .8;
  }

  .ir-description {
    color: var(--color-base);
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.56;
    margin-bottom: 39px;
    opacity: .8;
  }

  .ir-submit {
    display: inline-block;
    opacity: .8;
    border-radius: 26px;
    background-color: $color-green-100;
    padding: 17px 40px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    border: none;
    line-height: 1.13;
    letter-spacing: .1px;
    text-align: center;
    color: var(--color-neutral-0);

    &:hover {
      background-color: $color-green-100;
      text-decoration: none;
    }
  }
}

.quick-links {
  border-top: 2px solid var(--color-neutral-2);
  padding-left: 56px;
  margin-bottom: 0;

  li {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: .4px;
    padding: 24px 16px;

    i {
      content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
    }

    a {
      color: $color-blue;

      &:hover {
        color: $color-blue;
        text-decoration: none;
      }
    }

    &:first-child {
      @include responsive-prop(700, 800, font-weight);
      color: var(--color-neutral-6);
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: .4px;
      line-height: 1.14;
      padding-right: 24px;
      text-transform: uppercase;
    }
  }
}

.no-opacity {
  opacity: 1 !important;
}

@include media('<tablet') {
  .ir-head_title {
    font-size: 30px;
    margin: 15px 0;
  }

  .ir-head_description {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .ir-pdf-part {
    padding-top: 20px;
    margin: 0;

    .ir-title {
      font-size: 26px;
    }

    .ir-description {
      font-size: 16px;
    }

    .ir-submit {
      width: 100%;
    }

    .ir-text-part {
      padding-left: 15px;
    }

    .ir-image-part {
      display: none;
    }
  }

  .quick-links {
    padding-left: 15px;
    text-align: center;
    margin: 15px 0;

    li {
      padding: 15px 5px;

      &:first-child {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 15px;
      }
    }
  }
}

@include media('>=tablet') {
  .ir-head {
    margin-bottom: 50px;
  }

  .ir-head_title {
    font-size: 48px;
  }

  .ir-head_description {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
  }
}

@include media('>=tablet', '<desktop') {
  .ir-pdf-part {
    .ir-text-part {
      padding-left: 25px;
    }
  }

  .quick-links {
    padding: 0 25px;
  }
}

@include media('<desktop') {
  .quick-links {
    border-top: 0;
  }
}

@include media('>=desktop', '<large-desktop') {
  .quick-links {
    padding: 0 56px;

    li {
      padding: 24px 10px;

      &:first-child {
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .ir-pdf-part {
    .ir-image-part {
      img {
        width: 100%;
      }
    }
  }
}

@include media('>=desktop') {
  .main {
    margin-bottom: 48px;
  }

  .ir-pdf-part {
    .ir-text-part {
      margin-bottom: 24px;
    }
  }
}
