// Primary
$color-monkey-blue: #0a4059;
$color-oasis-blue: #189eda;
$color-monkey-grey: #9db2bc;
$color-light-oasis: #b7e1f3;
$color-blush-grey: #f5f7f8;

// Semantics
$color-green: #08c42a;
$color-yellow: #f5b226;
$color-red: #f04944;

// Link Blue
$color-link-blue-darker: #085ebd;
$color-link-blue-dark: #0C6AD0;
$color-link-blue-100: #087dfd;
$color-link-blue-50: rgba(8, 125, 253, 0.5);
$color-link-blue-15: rgba(8, 125, 253, 0.15);
$color-link-blue-10: rgba(8, 125, 253, 0.1);

// Neutrals
$color-dark-100: #2f2f2f;
$color-dark-70: rgba(47, 47, 47, 0.7);
$color-dark-50: rgba(47, 47, 47, 0.5);
$color-dark-30: rgba(47, 47, 47, 0.3);
$color-dark-10: rgba(47, 47, 47, 0.1);
$color-white-100: #fff;
$color-white-70: rgba(255, 255, 255, 0.7);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-30: rgba(255, 255, 255, 0.3);
$color-white-10: rgba(255, 255, 255, 0.1);
