<div>
  <hr/>
  <h3>Primary</h3>
  <hr/>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-monkey-blue" style="width: 400px">Monkey Blue: #0A4059</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorMonkeyBlue }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-oasis-blue" style="width: 400px">Oasis Blue: #189EDA</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorOasisBlue }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-monkey-grey" style="width: 400px">Monkey Grey: #9DB2BC</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorMonkeyGrey }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-light-oasis" style="width: 400px">Light Oasis: #B7E1F3C</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorLightOasis }};'></div>
  </div>
  <div style="display: flex; padding: 5px; background-color: {{ colorMonkeyBlue }};">
    <h4 class="color-blush-grey" style="width: 400px">Blush Grey: #F5F7F8</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorblushGrey }};'></div>
  </div>
</div>

<div>
  <hr/>
  <h3>Semantics</h3>
  <hr/>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-green" style="width: 400px">Green: #08C42A</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorGreen }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-yellow" style="width: 400px">Yellow: #F5B226</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorYellow }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-red" style="width: 400px">Red: #F04944</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorRed }};'></div>
  </div>
</div>

<div>
  <hr/>
  <h3>Link Blue</h3>
  <hr/>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-link-blue-darker" style="width: 400px">Link Blue Darker: #085EBD</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorLinkBlueDarker }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-link-blue-darker" style="width: 400px">Link Blue Dark: #0C6AD0D</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorLinkBlueDark }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-link-blue" style="width: 400px">Link Blue 100: #087DFD</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorLinkBlue100 }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-link-blue-50" style="width: 400px">Link Blue 50: #087DFD 50%</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorLinkBlue50 }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-link-blue-15" style="width: 400px">Link Blue 15: #087DFD 15%</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorLinkBlue15 }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-link-blue-10" style="width: 400px">Link Blue 10: #087DFD 10%</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorLinkBlue10 }};'></div>
  </div>
</div>


<div>
  <hr/>
  <h3>Neutrals</h3>
  <hr/>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-dark-100" style="width: 400px">Dark 100: #2F2F2F</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorDark100 }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-dark-70" style="width: 400px">Dark 70: #2F2F2F 70%</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorDark70 }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-dark-50" style="width: 400px">Dark 50: #2F2F2F 50%</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorDark50 }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-dark-30" style="width: 400px">Dark 30: #2F2F2F 30%</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorDark30 }};'></div>
  </div>
  <div style="display: flex; padding: 5px;">
    <h4 class="color-dark-10" style="width: 400px">Dark 10: #2F2F2F 10%</h4>
    <div style='width: 200px; height: 50px; background-color: {{ colorDark10 }};'></div>
  </div>
  <div style="background-color: {{ colorMonkeyBlue }};">
    <div style="display: flex; padding: 5px;">
      <h4 class="color-white-100" style="width: 400px">White 100: #FFFFFF</h4>
      <div style='width: 200px; height: 50px; background-color: {{ colorWhite100 }};'></div>
    </div>
    <div style="display: flex; padding: 5px;">
      <h4 class="color-white-70" style="width: 400px">White 70: #FFFFFF 70%</h4>
      <div style='width: 200px; height: 50px; background-color: {{ colorWhite70 }};'></div>
    </div>
    <div style="display: flex; padding: 5px;">
      <h4 class="color-white-50" style="width: 400px">White 50: #FFFFFF 50%</h4>
      <div style='width: 200px; height: 50px; background-color: {{ colorWhite50 }};'></div>
    </div>
    <div style="display: flex; padding: 5px;">
      <h4 class="color-white-30" style="width: 400px">White 30: #FFFFFF 30%</h4>
      <div style='width: 200px; height: 50px; background-color: {{ colorWhite30 }};'></div>
    </div>
    <div style="display: flex; padding: 5px;">
      <h4 class="color-white-10" style="width: 400px">White 10: #FFFFFF 10%</h4>
      <div style='width: 200px; height: 50px; background-color: {{ colorWhite10 }};'></div>
    </div>
  </div>
</div>
