@import "color-variables";

.color-monkey-blue {
  color: $color-monkey-blue;
}

.color-oasis-blue {
  color: $color-oasis-blue;
}

.color-link-blue-100 {
  color: $color-link-blue-100;
}

.color-link-blue-dark {
  color: $color-link-blue-dark;
}

.color-link-blue-darker {
  color: $color-link-blue-darker;
}

.color-link-blue-50 {
  color: $color-link-blue-50;
}

.color-link-blue-15 {
  color: $color-link-blue-15;
}

.color-link-blue-10 {
  color: $color-link-blue-10;
}

.color-monkey-grey {
  color: $color-monkey-grey;
}

.color-light-oasis {
  color: $color-light-oasis;
}

.color-blush-grey {
  color: $color-blush-grey;
}

.color-green {
  color: $color-green;
}

.color-yellow {
  color: $color-yellow;
}

.color-red {
  color: $color-red;
}

.color-dark-100 {
  color: $color-dark-100;
}

.color-dark-70 {
  color: $color-dark-70;
}

.color-dark-50 {
  color: $color-dark-50;
}

.color-dark-30 {
  color: $color-dark-30;
}

.color-dark-10 {
  color: $color-dark-10;
}

.color-white-100 {
  color: $color-white-100;
}

.color-white-70 {
  color: $color-white-70;
}

.color-white-50 {
  color: $color-white-50;
}

.color-white-30 {
  color: $color-white-30;
}

.color-white-10 {
  color: $color-white-10;
}
