@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.region-under-content-columns {
  width: 100%;

  .page-frontpage2 & {
    background-color: #f1f1f1;

    .block {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        @include make-col(8);

        @media (min-width: 768px) {
          padding-left: 17.5px;
          padding-right: 17.5px;
          margin-bottom: 0;
        }
      }

      .content {
        background: #fff;
        border: #ccc 1px solid;
        color: #989898;
        height: 100%;
      }
    }
  }
}
