.region-under-content-columns {
  width: 100%
}
.page-frontpage2 .region-under-content-columns {
  background-color: #f1f1f1
}
.page-frontpage2 .region-under-content-columns .block {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px
}
.page-frontpage2 .region-under-content-columns .block .content {
  background: #fff;
  border: 1px solid #ccc;
  color: #989898;
  height: 100%
}
@media (min-width: 768px) {
  .page-frontpage2 .region-under-content-columns .block {
    flex: 0 0 auto;
    width: 66.66666667%
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .page-frontpage2 .region-under-content-columns .block {
    padding-left: 17.5px;
    padding-right: 17.5px;
    margin-bottom: 0
  }
}
/*# sourceMappingURL=region-under-content-columns.component.css.map */
