@import "./components/00-base/style-guide-2023/colors/colors.component";
@import "./components/00-base/style-guide-2023/fonts/fonts.component";
@import "./components/common-styles/vendors/include-media";

@mixin xxlg {
  width: fit-content;
  max-width: 217px;
  min-height: 66px;
  max-height: auto;
  padding: 20px 30px;
  @include font-lg-bold-desktop;

  @include media('<tablet') {
    min-width: 189px;
    min-height: 60px;
  }
}

@mixin xlg {
  width: fit-content;
  max-width: 205px;
  min-height: 54px;
  max-height: auto;
  padding: 14px 24px;
  @include font-lg-bold-desktop;

  @include media('<tablet') {
    min-width: 161px;
    min-height: 48px;
    padding: 14px 16px;
  }
}

@mixin lg {
  width: fit-content;
  max-width: 195px;
  min-height: 44px;
  max-height: auto;
  padding: 10px 24px;

  @include media('<tablet') {
    min-width: 161px;
    min-height: 40px;
    padding: 10px 16px;
  }
}

@mixin md {
  width: fit-content;
  max-width: 187px;
  min-height: 38px;
  max-height: auto;
  padding: 8px 24px;

  @include media('<tablet') {
    min-width: 161px;
    min-height: 36px;
    padding: 8px 16px;
  }
}

@mixin sm {
  width: fit-content;
  max-width: 179px;
  min-height: 34px;
  max-height: auto;
  padding: 6px 24px;

  @include media('<tablet') {
    min-width: 153px;
    min-height: 32px;
    padding: 6px 16px;
  }
}

.button-base {
  @include font-sm-bold-desktop;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;

  @include media('<tablet') {
    @include font-lg-bold-mobile;
  }
}

.btn--primary-base {
  @extend .button-base;
  color: $color-white-100;
  background-color: $color-link-blue-100;

  &:visited {
    color: $color-white-100;
  }

  &:hover {
    color: $color-white-100;
    background-color: $color-link-blue-dark;
  }

  &:active {
    background-color: $color-link-blue-darker;
  }

  &.disabled {
    color: $color-dark-70;
    background-color: $color-dark-10;
  }
}

.btn--secondary-base {
  @extend .button-base;
  color: $color-link-blue-100;
  border: 1px solid $color-link-blue-100;
  background-color: transparent;

  &:visited {
    color: $color-link-blue-100;
  }

  &:hover {
    color: $color-link-blue-100;
    background-color: $color-link-blue-10;
  }

  &:active {
    background-color: $color-link-blue-15;
  }

  &.disabled {
    color: $color-dark-70;
    background-color: transparent;
    border: 1px solid $color-dark-30;
  }
}

.btn--tertiary-base {
  @extend .button-base;
  color: $color-link-blue-100;
  background-color: transparent;

  &:visited {
    color: $color-link-blue-100;
  }

  &:hover {
    color: $color-link-blue-100;
    background-color: $color-link-blue-10;
  }

  &:active {
    background-color: $color-link-blue-15;;
  }

  &.disabled {
    color: $color-dark-70;
    background-color: transparent;
  }
}

.btn--primary-xxlg a {
  @extend .btn--primary-base;
  @include xxlg;
}

.btn--primary-xlg a {
  @extend .btn--primary-base;
  @include xlg;
}

.btn--primary-lg a {
  @extend .btn--primary-base;
  @include lg;
}

.btn--primary-md a {
  @extend .btn--primary-base;
  @include md;
}

.btn--primary-sm a {
  @extend .btn--primary-base;
  @include sm;
}

.btn--secondary-xxlg a {
  @extend .btn--secondary-base;
  @include xxlg;
}

.btn--secondary-xlg a {
  @extend .btn--secondary-base;
  @include xlg;
}

.btn--secondary-lg a {
  @extend .btn--secondary-base;
  @include lg;
}

.btn--secondary-md a {
  @extend .btn--secondary-base;
  @include md;
}

.btn--secondary-sm a {
  @extend .btn--secondary-base;
  @include sm;
}

.btn--tertiary-xxlg a {
  @extend .btn--tertiary-base;
  @include xlg;
}

.btn--tertiary-xlg a {
  @extend .btn--tertiary-base;
  @include xlg;
}

.btn--tertiary-lg a {
  @extend .btn--tertiary-base;
  @include lg;
}

.btn--tertiary-md a {
  @extend .btn--tertiary-base;
  @include md;
}

.btn--tertiary-sm a {
  @extend .btn--tertiary-base;
  @include sm;
}

.btn-icon-left {
  a:before {
    width: 18px;
    height: 18px;
    content: '';
    background-color: currentColor;
    display: inline-block;
    margin-right: 6px;
    -webkit-mask: url("assets/vector.svg") no-repeat 50% 50%;
    mask: url("assets/vector.svg") no-repeat 50% 50%;
    -webkit-mask-size: auto;
    mask-size: auto;
    vertical-align: middle;
  }
}

.btn-icon-left--animation {
  @extend .btn-icon-left;

  a::before {
    animation: mover 1s infinite alternate;
  }
}

.btn-icon-right {
  a:after {
    width: 18px;
    height: 18px;
    content: '';
    background-color: currentColor;
    display: inline-block;
    margin-left: 6px;
    -webkit-mask: url("assets/vector.svg") no-repeat 50% 50%;
    mask: url("assets/vector.svg") no-repeat 50% 50%;
    -webkit-mask-size: auto;
    mask-size: auto;
    vertical-align: middle;
  }
}

.btn-icon-right--animation {
  @extend .btn-icon-right;

  a::after {
    animation: mover 1s infinite alternate;
  }
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}
