{#
  Possible button styles:
    - btn--primary-xxlg/xlg/lg/md/sm
    - btn--secondary-xxlg/xlg/lg/md/sm
    - btn--tertiary-xxlg/xlg/lg/md/sm
    - disabled
    - btn-icon-left or btn-icon-right
    - btn-icon-left--animation or btn-icon-right--animation

  Example of including:
  {% include '@storybook/01-atoms/style-guide-2023/button/button.twig' with {
    'field': field_cta,
    'btnClasses': 'btn--primary-xlg',
  } %}
#}

{{ attach_library('porto_sub/button.component') }}
{% set btnClasses = btnClasses ? btnClasses : 'btn--primary-lg' %}
<div class="{{ 'btn--wrapper ' ~ btnClasses }}">{{ field }}</div>
