.color-monkey-blue {
  color: #0a4059
}
.color-oasis-blue {
  color: #189eda
}
.color-link-blue-100 {
  color: #087dfd
}
.color-link-blue-dark {
  color: #0c6ad0
}
.color-link-blue-darker {
  color: #085ebd
}
.color-link-blue-50 {
  color: rgba(8, 125, 253, .5)
}
.color-link-blue-15 {
  color: rgba(8, 125, 253, .15)
}
.color-link-blue-10 {
  color: rgba(8, 125, 253, .1)
}
.color-monkey-grey {
  color: #9db2bc
}
.color-light-oasis {
  color: #b7e1f3
}
.color-blush-grey {
  color: #f5f7f8
}
.color-green {
  color: #08c42a
}
.color-yellow {
  color: #f5b226
}
.color-red {
  color: #f04944
}
.color-dark-100 {
  color: #2f2f2f
}
.color-dark-70 {
  color: rgba(47, 47, 47, .7)
}
.color-dark-50 {
  color: rgba(47, 47, 47, .5)
}
.color-dark-30 {
  color: rgba(47, 47, 47, .3)
}
.color-dark-10 {
  color: rgba(47, 47, 47, .1)
}
.color-white-100 {
  color: #fff
}
.color-white-70 {
  color: rgba(255, 255, 255, .7)
}
.color-white-50 {
  color: rgba(255, 255, 255, .5)
}
.color-white-30 {
  color: rgba(255, 255, 255, .3)
}
.color-white-10 {
  color: rgba(255, 255, 255, .1)
}
.font-h1-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px
}
.font-h1-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px
}
.font-h2-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px
}
.font-h2-mobile,
.font-h3-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.font-h3-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px
}
.font-h4-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px
}
.font-h4-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px
}
.font-h5-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px
}
.font-h5-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px
}
.font-lg-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.font-lg-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.font-lg-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px
}
.font-lg-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700
}
.font-sm-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.font-sm-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700
}
.font-sm-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px
}
.font-sm-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700
}
.font-xs-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px
}
.font-xs-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700
}
.font-xs-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px
}
.font-xs-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700
}
.font-h1 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px
}
.font-h2 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px
}
.font-h3 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.font-h4 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px
}
.font-h5 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px
}
.font-lg {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.font-lg-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.font-sm {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.font-sm-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700
}
.font-xs {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px
}
.font-xs-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700
}
.btn--primary-base,
.btn--primary-lg a,
.btn--primary-md a,
.btn--primary-sm a,
.btn--primary-xlg a,
.btn--primary-xxlg a,
.btn--secondary-base,
.btn--secondary-lg a,
.btn--secondary-md a,
.btn--secondary-sm a,
.btn--secondary-xlg a,
.btn--secondary-xxlg a,
.btn--tertiary-base,
.btn--tertiary-lg a,
.btn--tertiary-md a,
.btn--tertiary-sm a,
.btn--tertiary-xlg a,
.btn--tertiary-xxlg a,
.button-base {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center
}
.btn--primary-base,
.btn--primary-lg a,
.btn--primary-md a,
.btn--primary-sm a,
.btn--primary-xlg a,
.btn--primary-xxlg a {
  color: #fff;
  background-color: #087dfd
}
.btn--primary-base:visited,
.btn--primary-lg a:visited,
.btn--primary-md a:visited,
.btn--primary-sm a:visited,
.btn--primary-xlg a:visited,
.btn--primary-xxlg a:visited {
  color: #fff
}
.btn--primary-base:hover,
.btn--primary-lg a:hover,
.btn--primary-md a:hover,
.btn--primary-sm a:hover,
.btn--primary-xlg a:hover,
.btn--primary-xxlg a:hover {
  color: #fff;
  background-color: #0c6ad0
}
.btn--primary-base:active,
.btn--primary-lg a:active,
.btn--primary-md a:active,
.btn--primary-sm a:active,
.btn--primary-xlg a:active,
.btn--primary-xxlg a:active {
  background-color: #085ebd
}
.btn--primary-base.disabled,
.btn--primary-lg a.disabled,
.btn--primary-md a.disabled,
.btn--primary-sm a.disabled,
.btn--primary-xlg a.disabled,
.btn--primary-xxlg a.disabled {
  color: rgba(47, 47, 47, .7);
  background-color: rgba(47, 47, 47, .1)
}
.btn--secondary-base,
.btn--secondary-lg a,
.btn--secondary-md a,
.btn--secondary-sm a,
.btn--secondary-xlg a,
.btn--secondary-xxlg a {
  color: #087dfd;
  border: 1px solid #087dfd;
  background-color: transparent
}
.btn--secondary-base:visited,
.btn--secondary-lg a:visited,
.btn--secondary-md a:visited,
.btn--secondary-sm a:visited,
.btn--secondary-xlg a:visited,
.btn--secondary-xxlg a:visited {
  color: #087dfd
}
.btn--secondary-base:hover,
.btn--secondary-lg a:hover,
.btn--secondary-md a:hover,
.btn--secondary-sm a:hover,
.btn--secondary-xlg a:hover,
.btn--secondary-xxlg a:hover {
  color: #087dfd;
  background-color: rgba(8, 125, 253, .1)
}
.btn--secondary-base:active,
.btn--secondary-lg a:active,
.btn--secondary-md a:active,
.btn--secondary-sm a:active,
.btn--secondary-xlg a:active,
.btn--secondary-xxlg a:active {
  background-color: rgba(8, 125, 253, .15)
}
.btn--secondary-base.disabled,
.btn--secondary-lg a.disabled,
.btn--secondary-md a.disabled,
.btn--secondary-sm a.disabled,
.btn--secondary-xlg a.disabled,
.btn--secondary-xxlg a.disabled {
  color: rgba(47, 47, 47, .7);
  background-color: transparent;
  border: 1px solid rgba(47, 47, 47, .3)
}
.btn--tertiary-base,
.btn--tertiary-lg a,
.btn--tertiary-md a,
.btn--tertiary-sm a,
.btn--tertiary-xlg a,
.btn--tertiary-xxlg a {
  color: #087dfd;
  background-color: transparent
}
.btn--tertiary-base:visited,
.btn--tertiary-lg a:visited,
.btn--tertiary-md a:visited,
.btn--tertiary-sm a:visited,
.btn--tertiary-xlg a:visited,
.btn--tertiary-xxlg a:visited {
  color: #087dfd
}
.btn--tertiary-base:hover,
.btn--tertiary-lg a:hover,
.btn--tertiary-md a:hover,
.btn--tertiary-sm a:hover,
.btn--tertiary-xlg a:hover,
.btn--tertiary-xxlg a:hover {
  color: #087dfd;
  background-color: rgba(8, 125, 253, .1)
}
.btn--tertiary-base:active,
.btn--tertiary-lg a:active,
.btn--tertiary-md a:active,
.btn--tertiary-sm a:active,
.btn--tertiary-xlg a:active,
.btn--tertiary-xxlg a:active {
  background-color: rgba(8, 125, 253, .15)
}
.btn--tertiary-base.disabled,
.btn--tertiary-lg a.disabled,
.btn--tertiary-md a.disabled,
.btn--tertiary-sm a.disabled,
.btn--tertiary-xlg a.disabled,
.btn--tertiary-xxlg a.disabled {
  color: rgba(47, 47, 47, .7);
  background-color: transparent
}
.btn--primary-xxlg a {
  width: fit-content;
  max-width: 217px;
  min-height: 66px;
  max-height: auto;
  padding: 20px 30px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.btn--primary-xlg a {
  width: fit-content;
  max-width: 205px;
  min-height: 54px;
  max-height: auto;
  padding: 14px 24px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.btn--primary-lg a {
  width: fit-content;
  max-width: 195px;
  min-height: 44px;
  max-height: auto;
  padding: 10px 24px
}
.btn--primary-md a {
  width: fit-content;
  max-width: 187px;
  min-height: 38px;
  max-height: auto;
  padding: 8px 24px
}
.btn--primary-sm a {
  width: fit-content;
  max-width: 179px;
  min-height: 34px;
  max-height: auto;
  padding: 6px 24px
}
.btn--secondary-xxlg a {
  width: fit-content;
  max-width: 217px;
  min-height: 66px;
  max-height: auto;
  padding: 20px 30px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.btn--secondary-xlg a {
  width: fit-content;
  max-width: 205px;
  min-height: 54px;
  max-height: auto;
  padding: 14px 24px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.btn--secondary-lg a {
  width: fit-content;
  max-width: 195px;
  min-height: 44px;
  max-height: auto;
  padding: 10px 24px
}
.btn--secondary-md a {
  width: fit-content;
  max-width: 187px;
  min-height: 38px;
  max-height: auto;
  padding: 8px 24px
}
.btn--secondary-sm a {
  width: fit-content;
  max-width: 179px;
  min-height: 34px;
  max-height: auto;
  padding: 6px 24px
}
.btn--tertiary-xlg a,
.btn--tertiary-xxlg a {
  width: fit-content;
  max-width: 205px;
  min-height: 54px;
  max-height: auto;
  padding: 14px 24px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.btn--tertiary-lg a {
  width: fit-content;
  max-width: 195px;
  min-height: 44px;
  max-height: auto;
  padding: 10px 24px
}
.btn--tertiary-md a {
  width: fit-content;
  max-width: 187px;
  min-height: 38px;
  max-height: auto;
  padding: 8px 24px
}
.btn--tertiary-sm a {
  width: fit-content;
  max-width: 179px;
  min-height: 34px;
  max-height: auto;
  padding: 6px 24px
}
.btn-icon-left a:before,
.btn-icon-left--animation a:before {
  width: 18px;
  height: 18px;
  content: "";
  background-color: currentColor;
  display: inline-block;
  margin-right: 6px;
  -webkit-mask: url(assets/vector.svg) no-repeat 50% 50%;
  mask: url(assets/vector.svg) no-repeat 50% 50%;
  -webkit-mask-size: auto;
  mask-size: auto;
  vertical-align: middle
}
.btn-icon-left--animation a::before {
  animation: 1s infinite alternate mover
}
.btn-icon-right a:after,
.btn-icon-right--animation a:after {
  width: 18px;
  height: 18px;
  content: "";
  background-color: currentColor;
  display: inline-block;
  margin-left: 6px;
  -webkit-mask: url(assets/vector.svg) no-repeat 50% 50%;
  mask: url(assets/vector.svg) no-repeat 50% 50%;
  -webkit-mask-size: auto;
  mask-size: auto;
  vertical-align: middle
}
.btn-icon-right--animation a::after {
  animation: 1s infinite alternate mover
}
@keyframes mover {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-5px)
  }
}
@media (max-width: 767px) {
  .font-h1 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px
  }
  .font-h2 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px
  }
  .font-h3 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px
  }
  .font-h4 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px
  }
  .font-h5 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px
  }
  .font-lg {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px
  }
  .font-lg-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700
  }
  .font-sm {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px
  }
  .font-sm-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700
  }
  .font-xs {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px
  }
  .font-xs-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700
  }
  .btn--primary-base,
  .btn--primary-lg a,
  .btn--primary-md a,
  .btn--primary-sm a,
  .btn--primary-xlg a,
  .btn--primary-xxlg a,
  .btn--secondary-base,
  .btn--secondary-lg a,
  .btn--secondary-md a,
  .btn--secondary-sm a,
  .btn--secondary-xlg a,
  .btn--secondary-xxlg a,
  .btn--tertiary-base,
  .btn--tertiary-lg a,
  .btn--tertiary-md a,
  .btn--tertiary-sm a,
  .btn--tertiary-xlg a,
  .btn--tertiary-xxlg a,
  .button-base {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700
  }
  .btn--primary-xxlg a {
    min-width: 189px;
    min-height: 60px
  }
  .btn--primary-xlg a {
    min-width: 161px;
    min-height: 48px;
    padding: 14px 16px
  }
  .btn--primary-lg a {
    min-width: 161px;
    min-height: 40px;
    padding: 10px 16px
  }
  .btn--primary-md a {
    min-width: 161px;
    min-height: 36px;
    padding: 8px 16px
  }
  .btn--primary-sm a {
    min-width: 153px;
    min-height: 32px;
    padding: 6px 16px
  }
  .btn--secondary-xxlg a {
    min-width: 189px;
    min-height: 60px
  }
  .btn--secondary-xlg a {
    min-width: 161px;
    min-height: 48px;
    padding: 14px 16px
  }
  .btn--secondary-lg a {
    min-width: 161px;
    min-height: 40px;
    padding: 10px 16px
  }
  .btn--secondary-md a {
    min-width: 161px;
    min-height: 36px;
    padding: 8px 16px
  }
  .btn--secondary-sm a {
    min-width: 153px;
    min-height: 32px;
    padding: 6px 16px
  }
  .btn--tertiary-xlg a,
  .btn--tertiary-xxlg a {
    min-width: 161px;
    min-height: 48px;
    padding: 14px 16px
  }
  .btn--tertiary-lg a {
    min-width: 161px;
    min-height: 40px;
    padding: 10px 16px
  }
  .btn--tertiary-md a {
    min-width: 161px;
    min-height: 36px;
    padding: 8px 16px
  }
  .btn--tertiary-sm a {
    min-width: 153px;
    min-height: 32px;
    padding: 6px 16px
  }
}
/*# sourceMappingURL=button.component.css.map */
