@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.intro-video {
  .close {
    background: rgba(0, 0, 0, .3) none repeat scroll 0 0;
    color: var(--color-neutral-0);
    font-size: 40px;
    font-weight: normal;
    left: 680px;
    line-height: 1;
    opacity: 1;
    padding: 2px 11px;
    position: absolute;
    text-shadow: 0 1px 0 var(--color-neutral-0);
    top: 15px;
    z-index: 10000;
  }

  .modal-dialog {
    background: var(--color-neutral-0) none repeat scroll 0 0;
    margin: 30px auto;
    width: 740px;
  }

  .modal-body {
    padding: 0;
    position: relative;
  }
}

.hero-bg-drk {
  background-color: rgba(0, 0, 0, .6);
  min-height: 375px;

  .darkmode & {
    background-color: rgba(255, 255, 255, .6);
  }

  .btn-default {
    background-color: var(--color-neutral-0);
    border-color: var(--color-neutral-0);
  }

  h1 {
    color: var(--color-neutral-0);
    font-size: 6em;
    line-height: 1.3;
    margin-bottom: -5px;

    &.hero-title-lg {
      @include responsive-prop(700, 800, font-weight);
      color: var(--color-neutral-0);
      font-size: 4em;
      letter-spacing: .2px;
      line-height: 1.04;
      margin: 0;
      text-align: center;
    }
  }

  h2 {
    color: var(--color-neutral-0);
    font-size: 2.2em;
    font-weight: 300;
    margin-bottom: inherit;
    text-transform: capitalize;

    &.hero-description {
      color: var(--color-neutral-0);
      font-size: 1.43em;
      font-weight: normal;
      letter-spacing: .2px;
      line-height: normal;
      margin-top: 12px;
      text-align: center;
      text-transform: none;
    }
  }
}

.or {
  margin-top: 10px;
}

#home-hero {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  background-attachment: fixed;
  background-color: var(--color-base);
  background-image: url("/themes/custom/porto_sub/images/home/home-hero-bg.jpg");
  background-position: center -90pt;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transform: translate3d(0, 0, 0);
}

.why-join {
  .lead {
    font-size: 1.4em;
    line-height: 1.6;
    margin: 10px auto 15px;
    width: 70%;
  }
}

.hero-left-offset {
  margin-left: 27.33%;
}

.m-l--5 {
  margin-left: -5px;
}

.pd-row {
  h2 {
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--color-base);

    a {
      color: var(--color-base);
      font-size: 24px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 700;
      letter-spacing: normal;
      line-height: 1.17;
    }
    font-weight: 700;
  }
  padding: 20px 24px 16px;
  margin-bottom: 24px;
  background: var(--color-neutral-0);
  border-radius: 10px;

  p {
    color: var(--color-base);
    font-size: 1em;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
}

@include media('<tablet') {
  .hero-bg-drk {
    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 1.8em;
    }
    min-height: 470px;
  }

  .hero-left-offset {
    margin-left: auto;
  }

  .pd-row {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 15px 8px;
  }
}

@media (max-width: 690px) {
  .hero-bg-drk {
    min-height: 320px;
  }
}

@media (max-width: 460px) {
  .user-stats-wrap {
    padding-top: 15%;
  }

  #waypoint {
    padding-bottom: 10%;
  }

  .hero-bg-drk {
    h1 {
      &.hero-title-lg {
        font-size: 3.2em;
        padding: 0;
      }
    }

    h2 {
      font-size: 2em;
    }
  }

  .why-join {
    .lead {
      width: 90%;
    }
  }
}

@media (max-width: 990px) {
  #home-hero {
    background-position: center top;
    background-size: cover;
  }

  .hero-left-offset {
    margin-left: auto;
  }
}

@media (min-width: 1900px) {
  #home-hero {
    background-position: center -220px;
  }
}

@media (min-width: 991px) and (max-width: 1279px) {
  #home-hero {
    background-position: center top;
  }
}
