{% if results.vote_field_count|default is empty %}
  <p>{{ 'No votes have been submitted yet.'|t }}</p>
{% else %}
  <p>{{ results.vote_field_count }} {{ 'Votes | Avg:'|t }} {{ results.vote_field_average|round(1, 'floor')}}</p>
{% endif %}
