@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.page-mentor-job {
  &--accept,
  &--reject {
    .main {
      @include media('>=tablet') {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.job-reject-form,
.job-confirm-form,
.job-backup-confirm-form,
.job-backup-reject-confirm-form {
  margin-top: 60px;
  margin-bottom: 60px;
  background: var(--color-neutral-0);
  padding: 40px 60px;
  border: $card-border;
  box-shadow: $card-box-shadow;
  border-radius: 3px;

  input {
    margin: 40px 0;
  }

  @include media('>=tablet') {
    padding: 80px 120px;
    margin-bottom: 120px;
  }
}

.job-confirm-form,
.job-backup-confirm-form {
  input {
    @extend %btn, .btn-success;
  }
}

.job-reject-form,
.job-backup-reject-confirm-form {
  input {
    @extend %btn, .btn-danger;
  }
}
