.job-backup-confirm-form input:focus,
.job-backup-reject-confirm-form input:focus,
.job-confirm-form input:focus,
.job-reject-form input:focus {
  outline: 0
}
.job-backup-confirm-form input.btn-default,
.job-backup-reject-confirm-form input.btn-default,
.job-confirm-form input.btn-default,
.job-reject-form input.btn-default {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.job-backup-confirm-form input.btn-default:hover,
.job-backup-reject-confirm-form input.btn-default:hover,
.job-confirm-form input.btn-default:hover,
.job-reject-form input.btn-default:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.job-backup-confirm-form input.btn-default:active,
.job-backup-confirm-form input.btn-default:focus,
.job-backup-reject-confirm-form input.btn-default:active,
.job-backup-reject-confirm-form input.btn-default:focus,
.job-confirm-form input.btn-default:active,
.job-confirm-form input.btn-default:focus,
.job-reject-form input.btn-default:active,
.job-reject-form input.btn-default:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.job-backup-confirm-form input.btn-default:disabled,
.job-backup-reject-confirm-form input.btn-default:disabled,
.job-confirm-form input.btn-default:disabled,
.job-reject-form input.btn-default:disabled {
  background-color: var(--color-neutral-1)
}
.job-backup-confirm-form input,
.job-backup-reject-confirm-form input.btn-filled,
.job-backup-reject-confirm-form input.btn-success,
.job-confirm-form input,
.job-reject-form input.btn-filled,
.job-reject-form input.btn-success {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
.job-backup-confirm-form input:hover,
.job-backup-reject-confirm-form input.btn-filled:hover,
.job-backup-reject-confirm-form input.btn-success:hover,
.job-confirm-form input:hover,
.job-reject-form input.btn-filled:hover,
.job-reject-form input.btn-success:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.job-backup-confirm-form input:active,
.job-backup-confirm-form input:focus,
.job-backup-reject-confirm-form input.btn-filled:active,
.job-backup-reject-confirm-form input.btn-filled:focus,
.job-backup-reject-confirm-form input.btn-success:active,
.job-backup-reject-confirm-form input.btn-success:focus,
.job-confirm-form input:active,
.job-confirm-form input:focus,
.job-reject-form input.btn-filled:active,
.job-reject-form input.btn-filled:focus,
.job-reject-form input.btn-success:active,
.job-reject-form input.btn-success:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.job-backup-confirm-form input:disabled,
.job-backup-reject-confirm-form input.btn-filled:disabled,
.job-backup-reject-confirm-form input.btn-success:disabled,
.job-confirm-form input:disabled,
.job-reject-form input.btn-filled:disabled,
.job-reject-form input.btn-success:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.job-backup-confirm-form input.btn-danger,
.job-backup-reject-confirm-form input,
.job-confirm-form input.btn-danger,
.job-reject-form input {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.job-backup-confirm-form input.btn-danger:hover,
.job-backup-reject-confirm-form input:hover,
.job-confirm-form input.btn-danger:hover,
.job-reject-form input:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.job-backup-confirm-form input.btn-danger:active,
.job-backup-confirm-form input.btn-danger:focus,
.job-backup-reject-confirm-form input:active,
.job-backup-reject-confirm-form input:focus,
.job-confirm-form input.btn-danger:active,
.job-confirm-form input.btn-danger:focus,
.job-reject-form input:active,
.job-reject-form input:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.job-backup-confirm-form input.btn-danger:disabled,
.job-backup-reject-confirm-form input:disabled,
.job-confirm-form input.btn-danger:disabled,
.job-reject-form input:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.job-backup-confirm-form input.btn-lines,
.job-backup-confirm-form input.btn-secondary,
.job-backup-reject-confirm-form input.btn-lines,
.job-backup-reject-confirm-form input.btn-secondary,
.job-confirm-form input.btn-lines,
.job-confirm-form input.btn-secondary,
.job-reject-form input.btn-lines,
.job-reject-form input.btn-secondary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.job-backup-confirm-form input.btn-lines:hover,
.job-backup-confirm-form input.btn-secondary:hover,
.job-backup-reject-confirm-form input.btn-lines:hover,
.job-backup-reject-confirm-form input.btn-secondary:hover,
.job-confirm-form input.btn-lines:hover,
.job-confirm-form input.btn-secondary:hover,
.job-reject-form input.btn-lines:hover,
.job-reject-form input.btn-secondary:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.job-backup-confirm-form input.btn-lines:active,
.job-backup-confirm-form input.btn-lines:focus,
.job-backup-confirm-form input.btn-secondary:active,
.job-backup-confirm-form input.btn-secondary:focus,
.job-backup-reject-confirm-form input.btn-lines:active,
.job-backup-reject-confirm-form input.btn-lines:focus,
.job-backup-reject-confirm-form input.btn-secondary:active,
.job-backup-reject-confirm-form input.btn-secondary:focus,
.job-confirm-form input.btn-lines:active,
.job-confirm-form input.btn-lines:focus,
.job-confirm-form input.btn-secondary:active,
.job-confirm-form input.btn-secondary:focus,
.job-reject-form input.btn-lines:active,
.job-reject-form input.btn-lines:focus,
.job-reject-form input.btn-secondary:active,
.job-reject-form input.btn-secondary:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.job-backup-confirm-form input.btn-lines:disabled,
.job-backup-confirm-form input.btn-secondary:disabled,
.job-backup-reject-confirm-form input.btn-lines:disabled,
.job-backup-reject-confirm-form input.btn-secondary:disabled,
.job-confirm-form input.btn-lines:disabled,
.job-confirm-form input.btn-secondary:disabled,
.job-reject-form input.btn-lines:disabled,
.job-reject-form input.btn-secondary:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.job-backup-confirm-form input.btn-lines.mono,
.job-backup-confirm-form input.btn-secondary.mono,
.job-backup-reject-confirm-form input.btn-lines.mono,
.job-backup-reject-confirm-form input.btn-secondary.mono,
.job-confirm-form input.btn-lines.mono,
.job-confirm-form input.btn-secondary.mono,
.job-reject-form input.btn-lines.mono,
.job-reject-form input.btn-secondary.mono {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.job-backup-confirm-form input.btn-lines.mono:hover,
.job-backup-confirm-form input.btn-secondary.mono:hover,
.job-backup-reject-confirm-form input.btn-lines.mono:hover,
.job-backup-reject-confirm-form input.btn-secondary.mono:hover,
.job-confirm-form input.btn-lines.mono:hover,
.job-confirm-form input.btn-secondary.mono:hover,
.job-reject-form input.btn-lines.mono:hover,
.job-reject-form input.btn-secondary.mono:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.job-backup-confirm-form input.btn-lines.mono:active,
.job-backup-confirm-form input.btn-lines.mono:focus,
.job-backup-confirm-form input.btn-secondary.mono:active,
.job-backup-confirm-form input.btn-secondary.mono:focus,
.job-backup-reject-confirm-form input.btn-lines.mono:active,
.job-backup-reject-confirm-form input.btn-lines.mono:focus,
.job-backup-reject-confirm-form input.btn-secondary.mono:active,
.job-backup-reject-confirm-form input.btn-secondary.mono:focus,
.job-confirm-form input.btn-lines.mono:active,
.job-confirm-form input.btn-lines.mono:focus,
.job-confirm-form input.btn-secondary.mono:active,
.job-confirm-form input.btn-secondary.mono:focus,
.job-reject-form input.btn-lines.mono:active,
.job-reject-form input.btn-lines.mono:focus,
.job-reject-form input.btn-secondary.mono:active,
.job-reject-form input.btn-secondary.mono:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.job-backup-confirm-form input.btn-lines.mono:disabled,
.job-backup-confirm-form input.btn-secondary.mono:disabled,
.job-backup-reject-confirm-form input.btn-lines.mono:disabled,
.job-backup-reject-confirm-form input.btn-secondary.mono:disabled,
.job-confirm-form input.btn-lines.mono:disabled,
.job-confirm-form input.btn-secondary.mono:disabled,
.job-reject-form input.btn-lines.mono:disabled,
.job-reject-form input.btn-secondary.mono:disabled {
  background-color: var(--color-neutral-1)
}
.job-backup-confirm-form input.btn-lines.mono.danger,
.job-backup-confirm-form input.btn-secondary.mono.danger,
.job-backup-reject-confirm-form input.btn-lines.mono.danger,
.job-backup-reject-confirm-form input.btn-secondary.mono.danger,
.job-confirm-form input.btn-lines.mono.danger,
.job-confirm-form input.btn-secondary.mono.danger,
.job-reject-form input.btn-lines.mono.danger,
.job-reject-form input.btn-secondary.mono.danger {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.job-backup-confirm-form input.btn-lines.mono.danger:hover,
.job-backup-confirm-form input.btn-secondary.mono.danger:hover,
.job-backup-reject-confirm-form input.btn-lines.mono.danger:hover,
.job-backup-reject-confirm-form input.btn-secondary.mono.danger:hover,
.job-confirm-form input.btn-lines.mono.danger:hover,
.job-confirm-form input.btn-secondary.mono.danger:hover,
.job-reject-form input.btn-lines.mono.danger:hover,
.job-reject-form input.btn-secondary.mono.danger:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.job-backup-confirm-form input.btn-lines.mono.danger:active,
.job-backup-confirm-form input.btn-lines.mono.danger:focus,
.job-backup-confirm-form input.btn-secondary.mono.danger:active,
.job-backup-confirm-form input.btn-secondary.mono.danger:focus,
.job-backup-reject-confirm-form input.btn-lines.mono.danger:active,
.job-backup-reject-confirm-form input.btn-lines.mono.danger:focus,
.job-backup-reject-confirm-form input.btn-secondary.mono.danger:active,
.job-backup-reject-confirm-form input.btn-secondary.mono.danger:focus,
.job-confirm-form input.btn-lines.mono.danger:active,
.job-confirm-form input.btn-lines.mono.danger:focus,
.job-confirm-form input.btn-secondary.mono.danger:active,
.job-confirm-form input.btn-secondary.mono.danger:focus,
.job-reject-form input.btn-lines.mono.danger:active,
.job-reject-form input.btn-lines.mono.danger:focus,
.job-reject-form input.btn-secondary.mono.danger:active,
.job-reject-form input.btn-secondary.mono.danger:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.job-backup-confirm-form input.btn-lines.mono.danger:disabled,
.job-backup-confirm-form input.btn-secondary.mono.danger:disabled,
.job-backup-reject-confirm-form input.btn-lines.mono.danger:disabled,
.job-backup-reject-confirm-form input.btn-secondary.mono.danger:disabled,
.job-confirm-form input.btn-lines.mono.danger:disabled,
.job-confirm-form input.btn-secondary.mono.danger:disabled,
.job-reject-form input.btn-lines.mono.danger:disabled,
.job-reject-form input.btn-secondary.mono.danger:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.job-backup-confirm-form input.btn-other,
.job-backup-confirm-form input.btn-success-ghost,
.job-backup-confirm-form input.btn-transparency,
.job-backup-reject-confirm-form input.btn-other,
.job-backup-reject-confirm-form input.btn-success-ghost,
.job-backup-reject-confirm-form input.btn-transparency,
.job-confirm-form input.btn-other,
.job-confirm-form input.btn-success-ghost,
.job-confirm-form input.btn-transparency,
.job-reject-form input.btn-other,
.job-reject-form input.btn-success-ghost,
.job-reject-form input.btn-transparency {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.job-backup-confirm-form input.btn-other:hover,
.job-backup-confirm-form input.btn-success-ghost:hover,
.job-backup-confirm-form input.btn-transparency:hover,
.job-backup-reject-confirm-form input.btn-other:hover,
.job-backup-reject-confirm-form input.btn-success-ghost:hover,
.job-backup-reject-confirm-form input.btn-transparency:hover,
.job-confirm-form input.btn-other:hover,
.job-confirm-form input.btn-success-ghost:hover,
.job-confirm-form input.btn-transparency:hover,
.job-reject-form input.btn-other:hover,
.job-reject-form input.btn-success-ghost:hover,
.job-reject-form input.btn-transparency:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.job-backup-confirm-form input.btn-other:active,
.job-backup-confirm-form input.btn-other:focus,
.job-backup-confirm-form input.btn-success-ghost:active,
.job-backup-confirm-form input.btn-success-ghost:focus,
.job-backup-confirm-form input.btn-transparency:active,
.job-backup-confirm-form input.btn-transparency:focus,
.job-backup-reject-confirm-form input.btn-other:active,
.job-backup-reject-confirm-form input.btn-other:focus,
.job-backup-reject-confirm-form input.btn-success-ghost:active,
.job-backup-reject-confirm-form input.btn-success-ghost:focus,
.job-backup-reject-confirm-form input.btn-transparency:active,
.job-backup-reject-confirm-form input.btn-transparency:focus,
.job-confirm-form input.btn-other:active,
.job-confirm-form input.btn-other:focus,
.job-confirm-form input.btn-success-ghost:active,
.job-confirm-form input.btn-success-ghost:focus,
.job-confirm-form input.btn-transparency:active,
.job-confirm-form input.btn-transparency:focus,
.job-reject-form input.btn-other:active,
.job-reject-form input.btn-other:focus,
.job-reject-form input.btn-success-ghost:active,
.job-reject-form input.btn-success-ghost:focus,
.job-reject-form input.btn-transparency:active,
.job-reject-form input.btn-transparency:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.job-backup-confirm-form input.btn-other:disabled,
.job-backup-confirm-form input.btn-success-ghost:disabled,
.job-backup-confirm-form input.btn-transparency:disabled,
.job-backup-reject-confirm-form input.btn-other:disabled,
.job-backup-reject-confirm-form input.btn-success-ghost:disabled,
.job-backup-reject-confirm-form input.btn-transparency:disabled,
.job-confirm-form input.btn-other:disabled,
.job-confirm-form input.btn-success-ghost:disabled,
.job-confirm-form input.btn-transparency:disabled,
.job-reject-form input.btn-other:disabled,
.job-reject-form input.btn-success-ghost:disabled,
.job-reject-form input.btn-transparency:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.job-backup-confirm-form input.bg-white,
.job-backup-reject-confirm-form input.bg-white,
.job-confirm-form input.bg-white,
.job-reject-form input.bg-white {
  background: var(--color-neutral-0)
}
.job-backup-confirm-form input.btn-info,
.job-backup-reject-confirm-form input.btn-info,
.job-confirm-form input.btn-info,
.job-reject-form input.btn-info {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.job-backup-confirm-form input.btn-info:hover,
.job-backup-reject-confirm-form input.btn-info:hover,
.job-confirm-form input.btn-info:hover,
.job-reject-form input.btn-info:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.job-backup-confirm-form input.btn-info:active,
.job-backup-confirm-form input.btn-info:focus,
.job-backup-reject-confirm-form input.btn-info:active,
.job-backup-reject-confirm-form input.btn-info:focus,
.job-confirm-form input.btn-info:active,
.job-confirm-form input.btn-info:focus,
.job-reject-form input.btn-info:active,
.job-reject-form input.btn-info:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.job-backup-confirm-form input.btn-info:disabled,
.job-backup-reject-confirm-form input.btn-info:disabled,
.job-confirm-form input.btn-info:disabled,
.job-reject-form input.btn-info:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.job-backup-confirm-form input.btn-info.btn-lines,
.job-backup-reject-confirm-form input.btn-info.btn-lines,
.job-confirm-form input.btn-info.btn-lines,
.job-reject-form input.btn-info.btn-lines {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.job-backup-confirm-form input.btn-info.btn-lines:hover,
.job-backup-reject-confirm-form input.btn-info.btn-lines:hover,
.job-confirm-form input.btn-info.btn-lines:hover,
.job-reject-form input.btn-info.btn-lines:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.job-backup-confirm-form input.btn-info.btn-lines:active,
.job-backup-confirm-form input.btn-info.btn-lines:focus,
.job-backup-reject-confirm-form input.btn-info.btn-lines:active,
.job-backup-reject-confirm-form input.btn-info.btn-lines:focus,
.job-confirm-form input.btn-info.btn-lines:active,
.job-confirm-form input.btn-info.btn-lines:focus,
.job-reject-form input.btn-info.btn-lines:active,
.job-reject-form input.btn-info.btn-lines:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.job-backup-confirm-form input.btn-info.btn-lines:disabled,
.job-backup-reject-confirm-form input.btn-info.btn-lines:disabled,
.job-confirm-form input.btn-info.btn-lines:disabled,
.job-reject-form input.btn-info.btn-lines:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.job-backup-confirm-form input.btn-xs,
.job-backup-reject-confirm-form input.btn-xs,
.job-confirm-form input.btn-xs,
.job-reject-form input.btn-xs {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.job-backup-confirm-form input.btn-sm,
.job-backup-reject-confirm-form input.btn-sm,
.job-confirm-form input.btn-sm,
.job-reject-form input.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.job-backup-confirm-form input.btn-md,
.job-backup-reject-confirm-form input.btn-md,
.job-confirm-form input.btn-md,
.job-reject-form input.btn-md {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
.job-backup-confirm-form input.btn-lg,
.job-backup-reject-confirm-form input.btn-lg,
.job-confirm-form input.btn-lg,
.job-reject-form input.btn-lg {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.job-backup-confirm-form input.btn-xl,
.job-backup-reject-confirm-form input.btn-xl,
.job-confirm-form input.btn-xl,
.job-reject-form input.btn-xl {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.job-backup-confirm-form,
.job-backup-reject-confirm-form,
.job-confirm-form,
.job-reject-form {
  margin-top: 60px;
  margin-bottom: 60px;
  background: var(--color-neutral-0);
  padding: 40px 60px;
  border: 1px solid rgba(var(--color-black--rgb), .12);
  box-shadow: 4px 4px 6px rgba(var(--color-black--rgb), .15);
  border-radius: 3px
}
.job-backup-confirm-form input,
.job-backup-reject-confirm-form input,
.job-confirm-form input,
.job-reject-form input {
  margin: 40px 0
}
@media (min-width: 768px) {
  .page-mentor-job--accept .main,
  .page-mentor-job--reject .main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
  }
  .job-backup-confirm-form,
  .job-backup-reject-confirm-form,
  .job-confirm-form,
  .job-reject-form {
    padding: 80px 120px;
    margin-bottom: 120px
  }
}
/*# sourceMappingURL=mentor-jobs.component.css.map */
