@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/fonts/fonts.component';
@import './components/00-base/style-guide-2023/colors/colors.component';

.labeled-container-wrapper {
  &.labeled-container-wrapper__size-spaced {
    .trustpilot-reviews__review__default-wrapper.multi-columns-item {
      margin-bottom: 20px;
      @include media('>=tablet') {
        flex-basis: 50%;
        &:nth-child(odd) {
          padding-right: 14px;
        }

        &:nth-child(even) {
          padding-left: 14px;
        }
      }
    }
  }

  &.labeled-container-wrapper__size-full_screen {
    .trustpilot-reviews__review__default-wrapper.multi-columns-item {
      margin-bottom: 20px;

      @include media('>=tablet') {
        flex-basis: 33%;
        &:nth-child(odd) {
          padding-right: 15px;
        }

        &:nth-child(even) {
          padding-left: 15px;
        }
      }
    }
  }
}

// Hide last 3 items on mobile (only grid view display).
.trustpilot-reviews__flex-wrapper.wrapper-cut {
  margin-top: 30px;
  @include media('<tablet') {
    .trustpilot-reviews__review__default-wrapper:nth-child(n+6):nth-child(-n+8) {
      display: none;
    }
  }
}

.trustpilot-reviews.trustpilot-reviews__review__default {
  border: 0 solid;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 #0000001A;
  background-color: #F8F9FA;
  padding: 15px 20px;
  height: 100%;
  @include media('>tablet') {
    padding: 26px 20px;
    min-height: 10rem;

    &.limit-width-item {
      max-width: 400px;
    }
  }

  .trustpilot-reviews__stars_n_date {
    width: 100%;
    padding-bottom: 14px;
    flex-wrap: wrap;

    .trustpilot-reviews__stars {
      .tp-stars {
        svg {
          margin-right: 2px;
          vertical-align: top;
        }

        .tp-star__canvas {
          fill: #D9D9D9;
        }

        &--5 {
          .tp-star__canvas {
            fill: #219653;
          }
        }

        &--4 {
          svg:nth-child(-n + 4) {
            .tp-star__canvas {
              fill: #75CC1A;
            }
          }
        }

        &--3 {
          svg:nth-child(-n + 3) {
            .tp-star__canvas {
              fill: #FFCD02;
            }
          }
        }

        &--2 {
          svg:nth-child(-n + 2) {
            .tp-star__canvas {
              fill: #ff8622;
            }
          }

        }

        &--1 {
          svg:nth-child(-n + 1) {
            .tp-star__canvas {
              fill: #FE3625;
            }
          }
        }
      }
    }

    .trustpilot-reviews__date {
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
    }
  }

  .trustpilot-reviews__title {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;

    width: 90%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .trustpilot-reviews__description {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;

    width: 98%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .trustpilot-reviews__author {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
  }
}

.trustpilot-reviews__button {
  span[data-state=open] {
    &:after {
      transform: rotate(180deg);
    }
  }
}

ul.slick-dots {
  bottom: -35px;

  li  {
    button {
      &::before {
        font-size: 8px;
        color: $color-monkey-grey;
      }
    }

    &:hover, &.slick-active {
      button {
        &::before {
          color: $color-monkey-blue;
        }
      }
    }
  }
}
