.font-h1-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px
}
.font-h1-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px
}
.font-h2-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px
}
.font-h2-mobile,
.font-h3-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.font-h3-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px
}
.font-h4-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px
}
.font-h4-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px
}
.font-h5-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px
}
.font-h5-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px
}
.font-lg-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.font-lg-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.font-lg-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px
}
.font-lg-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700
}
.font-sm-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.font-sm-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700
}
.font-sm-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px
}
.font-sm-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700
}
.font-xs-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px
}
.font-xs-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700
}
.font-xs-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px
}
.font-xs-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700
}
.font-h1 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px
}
.font-h2 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px
}
.font-h3 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.font-h4 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px
}
.font-h5 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px
}
.font-lg {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.font-lg-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.font-sm {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.font-sm-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700
}
.font-xs {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px
}
.font-xs-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700
}
.color-monkey-blue {
  color: #0a4059
}
.color-oasis-blue {
  color: #189eda
}
.color-link-blue-100 {
  color: #087dfd
}
.color-link-blue-dark {
  color: #0c6ad0
}
.color-link-blue-darker {
  color: #085ebd
}
.color-link-blue-50 {
  color: rgba(8, 125, 253, .5)
}
.color-link-blue-15 {
  color: rgba(8, 125, 253, .15)
}
.color-link-blue-10 {
  color: rgba(8, 125, 253, .1)
}
.color-monkey-grey {
  color: #9db2bc
}
.color-light-oasis {
  color: #b7e1f3
}
.color-blush-grey {
  color: #f5f7f8
}
.color-green {
  color: #08c42a
}
.color-yellow {
  color: #f5b226
}
.color-red {
  color: #f04944
}
.color-dark-100 {
  color: #2f2f2f
}
.color-dark-70 {
  color: rgba(47, 47, 47, .7)
}
.color-dark-50 {
  color: rgba(47, 47, 47, .5)
}
.color-dark-30 {
  color: rgba(47, 47, 47, .3)
}
.color-dark-10 {
  color: rgba(47, 47, 47, .1)
}
.color-white-100 {
  color: #fff
}
.color-white-70 {
  color: rgba(255, 255, 255, .7)
}
.color-white-50 {
  color: rgba(255, 255, 255, .5)
}
.color-white-30 {
  color: rgba(255, 255, 255, .3)
}
.color-white-10 {
  color: rgba(255, 255, 255, .1)
}
.labeled-container-wrapper.labeled-container-wrapper__size-full_screen .trustpilot-reviews__review__default-wrapper.multi-columns-item,
.labeled-container-wrapper.labeled-container-wrapper__size-spaced .trustpilot-reviews__review__default-wrapper.multi-columns-item {
  margin-bottom: 20px
}
.trustpilot-reviews__flex-wrapper.wrapper-cut {
  margin-top: 30px
}
.trustpilot-reviews.trustpilot-reviews__review__default {
  border: 0 solid;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1019607843);
  background-color: #f8f9fa;
  padding: 15px 20px;
  height: 100%
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date {
  width: 100%;
  padding-bottom: 14px;
  flex-wrap: wrap
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date .trustpilot-reviews__stars .tp-stars svg {
  margin-right: 2px;
  vertical-align: top
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date .trustpilot-reviews__stars .tp-stars .tp-star__canvas {
  fill: #d9d9d9
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date .trustpilot-reviews__stars .tp-stars--5 .tp-star__canvas {
  fill: #219653
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date .trustpilot-reviews__stars .tp-stars--4 svg:nth-child(-n+4) .tp-star__canvas {
  fill: #75cc1a
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date .trustpilot-reviews__stars .tp-stars--3 svg:nth-child(-n+3) .tp-star__canvas {
  fill: #ffcd02
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date .trustpilot-reviews__stars .tp-stars--2 svg:nth-child(-n+2) .tp-star__canvas {
  fill: #ff8622
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date .trustpilot-reviews__stars .tp-stars--1 svg:nth-child(-n+1) .tp-star__canvas {
  fill: #fe3625
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__stars_n_date .trustpilot-reviews__date {
  font-family: Roboto,sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__title {
  font-family: Roboto,sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 10px;
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__description {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 10px;
  width: 98%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical
}
.trustpilot-reviews.trustpilot-reviews__review__default .trustpilot-reviews__author {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left
}
.trustpilot-reviews__button span[data-state=open]:after {
  transform: rotate(180deg)
}
ul.slick-dots {
  bottom: -35px
}
ul.slick-dots li button::before {
  font-size: 8px;
  color: #9db2bc
}
ul.slick-dots li.slick-active button::before,
ul.slick-dots li:hover button::before {
  color: #0a4059
}
@media (min-width: 768px) {
  .labeled-container-wrapper.labeled-container-wrapper__size-spaced .trustpilot-reviews__review__default-wrapper.multi-columns-item {
    flex-basis: 50%
  }
  .labeled-container-wrapper.labeled-container-wrapper__size-spaced .trustpilot-reviews__review__default-wrapper.multi-columns-item:nth-child(odd) {
    padding-right: 14px
  }
  .labeled-container-wrapper.labeled-container-wrapper__size-spaced .trustpilot-reviews__review__default-wrapper.multi-columns-item:nth-child(even) {
    padding-left: 14px
  }
  .labeled-container-wrapper.labeled-container-wrapper__size-full_screen .trustpilot-reviews__review__default-wrapper.multi-columns-item {
    flex-basis: 33%
  }
  .labeled-container-wrapper.labeled-container-wrapper__size-full_screen .trustpilot-reviews__review__default-wrapper.multi-columns-item:nth-child(odd) {
    padding-right: 15px
  }
  .labeled-container-wrapper.labeled-container-wrapper__size-full_screen .trustpilot-reviews__review__default-wrapper.multi-columns-item:nth-child(even) {
    padding-left: 15px
  }
}
@media (min-width: 769px) {
  .trustpilot-reviews.trustpilot-reviews__review__default {
    padding: 26px 20px;
    min-height: 10rem
  }
  .trustpilot-reviews.trustpilot-reviews__review__default.limit-width-item {
    max-width: 400px
  }
}
@media (max-width: 767px) {
  .font-h1 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px
  }
  .font-h2 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px
  }
  .font-h3 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px
  }
  .font-h4 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px
  }
  .font-h5 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px
  }
  .font-lg {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px
  }
  .font-lg-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700
  }
  .font-sm {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px
  }
  .font-sm-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700
  }
  .font-xs {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px
  }
  .font-xs-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700
  }
  .trustpilot-reviews__flex-wrapper.wrapper-cut .trustpilot-reviews__review__default-wrapper:nth-child(n+6):nth-child(-n+8) {
    display: none
  }
}
/*# sourceMappingURL=review-default.component.css.map */
