
{{ attach_library('porto_sub/review-default.component') }}

<div class="trustpilot-reviews trustpilot-reviews__review__default">
  <div class="d-flex flex-column justify-content-between align-items-start flex-nowrap">
    <div class="trustpilot-reviews__stars_n_date d-flex justify-content-between align-items-center">
      <div class="trustpilot-reviews__stars">
        <div class="tp-widget-stars-container d-flex justify-content-between">
          <div class="tp-widget-stars">
            <div class="tp-stars tp-stars--{{ field_stars }}">
              <div class="d-flex">
                {% for i in range(1, field_stars) %}
                  <svg width="20" height="20" role="img" aria-labelledby="starRating" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
                    <title lang="en">{{ field_stars }} out of five star rating on Trustpilot</title>
                    <g class="tp-star">
                      <path class="tp-star__canvas" d="M0 46.330002h46.375586V0H0z"></path>
                      <path class="tp-star__shape" d="M39.533936 19.711433L13.230239 38.80065l3.838216-11.797827L7.02115 19.711433h12.418975l3.837417-11.798624 3.837418 11.798624h12.418975zM23.2785 31.510075l7.183595-1.509576 2.862114 8.800152L23.2785 31.510075z" fill="#FFF"></path>
                    </g>
                  </svg>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="trustpilot-reviews__date">
        {{ created }}
      </div>
    </div>

    <div class="trustpilot-reviews__title">
      {{ field_title }}
    </div>

    <div class="trustpilot-reviews__description">
      {{ field_text }}
    </div>

    <div class="trustpilot-reviews__author">
      {{ field_author_dispaly_name }}
    </div>
  </div>
</div>


