@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.benefits-list.benefits-list__simple {
  margin: 22px 0;

  .benefits-list-wrapper {
    .list-item {
      .list-item__icon {
        margin-right: 8px;
      }
      .list-item__text {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
        padding-bottom: 2px;

        @include media('>=tablet') {
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
        }
      }
    }
  }
}
