.benefits-list.benefits-list__simple {
  margin: 22px 0
}
.benefits-list.benefits-list__simple .benefits-list-wrapper .list-item .list-item__icon {
  margin-right: 8px
}
.benefits-list.benefits-list__simple .benefits-list-wrapper .list-item .list-item__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding-bottom: 2px
}
@media (min-width: 768px) {
  .benefits-list.benefits-list__simple .benefits-list-wrapper .list-item .list-item__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px
  }
}
/*# sourceMappingURL=paragraph.simple-benefits-list.component.css.map */
