@charset "UTF-8";
.formatted-text span.green-lms-heading {
  font-size: 28px;
  color: #0cb930
}
.formatted-text span.blue-lms-heading {
  font-size: 20px;
  font-weight: 400;
  color: #087dfd;
  font-style: italic
}
.formatted-text span.black-lms-heading {
  font-weight: 800;
  font-size: 20px;
  color: var(--color-base);
  text-transform: none;
  line-height: 1.2
}
.clearfix {
  display: block
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden
}
html[xmlns] .clearfix {
  display: block
}
* html .clearfix {
  height: 1%
}
.container--wide {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}
.container--wso {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}
.col-xs-24 {
  width: 100%
}
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
  display: none
}
.p-xxs {
  padding: 5px!important
}
.p-xs {
  padding: 10px!important
}
.p-sm {
  padding: 15px!important
}
.p-m {
  padding: 20px!important
}
.p-md {
  padding: 25px!important
}
.p-lg {
  padding: 30px!important
}
.p-xl {
  padding: 40px!important
}
.p-b-xxxl {
  padding-bottom: 60px
}
.p-t-0 {
  padding-top: 0!important
}
.p-b-0 {
  padding-bottom: 0!important
}
.p-t-lg {
  padding-top: 30px!important
}
.m-xxs {
  margin: 2px 4px
}
.m-xs {
  margin: 5px
}
.m-sm {
  margin: 10px
}
.m {
  margin: 15px
}
.m-md {
  margin: 20px
}
.m-lg {
  margin: 30px
}
.m-xl {
  margin: 50px
}
.m-n {
  margin: 0!important
}
.m-l-none {
  margin-left: 0
}
.m-l-xs {
  margin-left: 5px
}
.m-l-sm {
  margin-left: 10px
}
.m-l {
  margin-left: 15px
}
.m-l-md {
  margin-left: 20px
}
.m-l-lg {
  margin-left: 30px
}
.m-l-xl {
  margin-left: 40px
}
.m-l-n-xxs {
  margin-left: -1px
}
.m-l-n-xs {
  margin-left: -5px
}
.m-l-n-sm {
  margin-left: -10px
}
.m-l-n {
  margin-left: -15px
}
.m-l-n-md {
  margin-left: -20px
}
.m-l-n-lg {
  margin-left: -30px
}
.m-l-n-xl {
  margin-left: -40px
}
.m-t-none {
  margin-top: 0
}
.m-t-xxs {
  margin-top: 1px
}
.m-t-5,
.m-t-xs {
  margin-top: 5px
}
.m-t-10,
.m-t-sm {
  margin-top: 10px
}
.m-t {
  margin-top: 15px
}
.m-t-20,
.m-t-md {
  margin-top: 20px
}
.m-t-30,
.m-t-lg {
  margin-top: 30px
}
.m-t-xl {
  margin-top: 40px
}
.m-t-xxl {
  margin-top: 50px
}
.m-t-xxxl {
  margin-top: 60px
}
.m-t-n-xxs {
  margin-top: -1px
}
.m-t-n-xs {
  margin-top: -5px
}
.m-t-n-sm {
  margin-top: -10px
}
.m-t-n {
  margin-top: -15px
}
.m-t-n-md {
  margin-top: -20px
}
.m-t-n-lg {
  margin-top: -30px
}
.m-t-n-xl {
  margin-top: -40px
}
.m-r-none {
  margin-right: 0
}
.m-r-xxs {
  margin-right: 1px
}
.m-r-xs {
  margin-right: 5px
}
.m-r-sm {
  margin-right: 10px
}
.m-r {
  margin-right: 15px
}
.m-r-md {
  margin-right: 20px
}
.m-r-22 {
  margin-right: 22px
}
.m-r-lg {
  margin-right: 30px
}
.m-r-xl {
  margin-right: 40px
}
.m-r-n-xxs {
  margin-right: -1px
}
.m-r-n-xs {
  margin-right: -5px
}
.m-r-n-sm {
  margin-right: -10px
}
.m-r-n {
  margin-right: -15px
}
.m-r-n-md {
  margin-right: -20px
}
.m-r-n-lg {
  margin-right: -30px
}
.m-r-n-xl {
  margin-right: -40px
}
.m-b-none {
  margin-bottom: 0
}
.m-b-xxs {
  margin-bottom: 1px
}
.m-b-xs {
  margin-bottom: 5px
}
.m-b-sm {
  margin-bottom: 10px
}
.m-b {
  margin-bottom: 15px
}
.m-b-md {
  margin-bottom: 20px
}
.m-b-lg {
  margin-bottom: 30px
}
.m-b-xl {
  margin-bottom: 40px
}
.m-b-xxl {
  margin-bottom: 50px
}
.m-b-xxxl {
  margin-bottom: 60px
}
.m-b-n-xxs {
  margin-bottom: -1px
}
.m-b-n-xs {
  margin-bottom: -5px
}
.m-b-n-sm {
  margin-bottom: -10px
}
.m-b-n {
  margin-bottom: -15px
}
.m-b-n-md {
  margin-bottom: -20px
}
.m-b-n-lg {
  margin-bottom: -30px
}
.m-b-n-xl {
  margin-bottom: -40px
}
.w100 {
  width: 100%
}
.margin-bottom-30 {
  margin-bottom: 30px!important
}
.margin-bottom-20 {
  margin-bottom: 20px!important
}
.margin-bottom-10 {
  margin-bottom: 10px!important
}
.margin-bottom-0 {
  margin-bottom: 0
}
.margin-right-10 {
  margin-right: 10px
}
.margin-top-10 {
  margin-top: 10px!important
}
.padding-top-15 {
  padding-top: 15px
}
.padding-left-1 {
  padding-left: 1px
}
.inline-block {
  display: inline-block
}
.push-bottom {
  margin-bottom: 35px
}
.push-top {
  margin-top: 35px
}
body:not(.page-node-edit) .full-width-page .container--alt,
body:not(.page-node-edit).full-width-page .container--alt {
  max-width: 100%!important;
  margin: 0;
  padding: 0
}
.img-responsive {
  max-width: 100%;
  height: auto
}
.img-circle {
  border-radius: 50%
}
.d-none {
  display: none
}
.hidden {
  display: none!important
}
.element-invisible,
.visually-hidden {
  border: 0!important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px!important;
  overflow: hidden;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important
}
.center {
  text-align: center
}
.placeholder {
  vertical-align: baseline;
  background-color: transparent;
  opacity: 1
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px
}
.panel {
  margin-bottom: 20px;
  background-color: var(--color-neutral-0);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(var(--color-black--rgb), .05)
}
.table > :not(:first-child) {
  border-top: 2px solid transparent
}
.table > :not(caption) > * > * {
  box-shadow: none
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: var(--color-base)
}
.alert-dismissible .close {
  border: 0;
  border-radius: .25rem;
  background: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-base);
  text-shadow: 0 1px 0 var(--color-neutral-0);
  opacity: .5
}
.row--w-auto > * {
  width: auto
}
.relative {
  position: relative
}
.form-control {
  height: calc(1.5em + .876rem + 2px)
}
.form-control.form-checkbox {
  appearance: auto;
  padding: 0
}
.btn-link {
  text-decoration: none
}
.captcha {
  background: 0 0;
  margin: 10px 0 20px;
  max-width: 100%;
  width: auto;
  clear: both;
  overflow: hidden;
  background: var(--color-neutral-3);
  text-align: center
}
.captcha input {
  border: 0
}
.captcha-image {
  float: left;
  left: -13px;
  position: relative;
  top: -25px
}
.featured-icon {
  background: var(--color-neutral-5);
  border-radius: 35px;
  color: var(--color-neutral-0);
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  top: 5px;
  width: 35px
}
.featured-icon i {
  color: var(--color-neutral-0);
  font-size: .9em;
  font-weight: normal
}
.popup-inline-content {
  background: none repeat scroll 0 0 var(--color-neutral-0);
  display: none;
  margin: 40px auto;
  max-width: 1170px;
  padding: 20px 30px;
  position: relative;
  text-align: left
}
.learn-more,
.read-more {
  display: inline-block;
  white-space: nowrap
}
.scroll-to-top {
  transition: .3s;
  background: var(--color-base);
  border-radius: 7px 7px 0 0;
  bottom: 0;
  color: var(--color-neutral-0);
  display: block;
  height: 9px;
  opacity: 0;
  padding: 13px 0 35px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  width: 49px;
  z-index: 1040
}
.scroll-to-top:hover {
  opacity: 1
}
.scroll-to-top.visible {
  opacity: .75
}
.counters strong {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px
}
.counters label {
  display: block;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px
}
.card .nav-tabs .nav-link {
  background: 0 0;
  color: #087dfd;
  border-bottom: 1px solid transparent
}
.card .nav-tabs .nav-link.active {
  background: var(--color-neutral-0);
  border-bottom-color: var(--color-neutral-0);
  color: var(--color-base)
}
.featured-box.block {
  background: inherit;
  background-color: var(--color-neutral-0)
}
.featured-box-secundary i.icon-featured {
  background-color: #087dfd
}
.featured-box-secundary h4 {
  color: #087dfd
}
.featured-box-secundary .box-content {
  border-top-color: #087dfd
}
.search-results {
  min-height: 300px
}
.parallax blockquote i.icon-quote-left {
  color: #087dfd
}
.flag-throbber {
  display: none
}
.quote-author .fa-quote-left {
  vertical-align: middle
}
.recent-posts .date .month {
  background-color: #087dfd
}
.recent-posts .date .day {
  color: #087dfd
}
iframe[name=google_conversion_frame] {
  display: none
}
.link-highlight {
  display: inline-block
}
.link-highlight.c-blue {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: .4px;
  color: #087dfd
}
.link-highlight.c-blue:hover {
  color: #087dfd
}
.link-highlight:hover {
  text-decoration: none
}
.title_action_container {
  display: inline-block;
  margin-top: 0
}
.title_action_container .btn .icon {
  margin-right: 2px
}
.title_action_container .btn .icon.icon-pencil {
  -webkit-text-stroke: 0;
  font-size: 14px;
  margin-right: 5px
}
.title_action_container .title_action:first-child {
  margin-left: 0
}
.link-wrapper {
  float: right;
  padding: 20px 0
}
.tabbed-title {
  font-size: 12px
}
.home-intro {
  background-color: var(--color-base)
}
.home-concept strong,
.home-intro p em {
  color: #087dfd
}
.toggle label {
  font-weight: normal
}
section.highlight {
  background-color: #087dfd;
  border-color: #087dfd
}
section.page-top h2 {
  border-bottom-color: #087dfd
}
section.page-top.custom-product {
  background-color: #087dfd;
  border-top-color: #087dfd
}
section.toggle label {
  border-left-color: #087dfd;
  color: #087dfd
}
section.toggle.active > label {
  background-color: #087dfd;
  border-color: #087dfd;
  color: var(--color-neutral-0)
}
section.video blockquote i.icon-quote-left {
  color: #087dfd;
  font-size: 34px;
  left: -5px;
  position: relative
}
section.timeline .timeline-box.left:before,
section.timeline .timeline-box.right:before {
  background: #087dfd;
  box-shadow: 0 0 0 3px var(--color-neutral-0),0 0 0 6px #0995e0
}
:root {
  --bs-body-font-family: sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: normal;
  --bs-body-line-height: 22px;
  --bs-body-color: var(--color-base);
  --color-neutral-0--rgb: 255,255,255;
  --color-neutral-0: #ffffff;
  --color-neutral-1: #fafafa;
  --color-neutral-2: #f6f7f7;
  --color-neutral-3: #eeeeee;
  --color-neutral-4: #dfe1e6;
  --color-neutral-5: #c6c9cf;
  --color-neutral-6: #acb0b7;
  --color-neutral-7: #64676e;
  --color-neutral-8: #3f4145;
  --color-neutral-9: #1c1e24;
  --color-almost-black: #141414;
  --color-black: #000000;
  --color-black--rgb: 0,0,0;
  --color-page-bg: #f5f7f8;
  --color-monkey-grey: #9db2bc;
  --color-warning-bg: #fffdf6;
  --color-base: #0a4059;
  --color-light-blue: #f3f8ff
}
body {
  background-color: var(--color-page-bg);
  color: var(--color-base);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 22px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale
}
a {
  color: #087dfd;
  outline: 0!important;
  text-decoration: none
}
a:focus,
a:hover {
  color: #087dfd;
  transition: .2s ease-in
}
a.text-muted:focus,
a.text-muted:hover {
  color: inherit
}
a.file-link {
  font-weight: 400
}
a[data-bs-toggle=popover],
a[data-bs-toggle=popover] .tooltip-icon {
  cursor: pointer
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}
ol li {
  padding-bottom: 8px;
  padding-left: 4px
}
li {
  line-height: 24px
}
li.textcomplete-item img {
  width: 40px
}
li a.active {
  color: var(--color-base)
}
.item-list ul li {
  margin: 0!important
}
ul.primary li a {
  background-color: transparent;
  border-color: none;
  border-style: none
}
ul.links.inline li {
  padding-left: 10px
}
.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none
}
mark.highlighter {
  background: #f5b226
}
.alert ul {
  padding-left: 20px
}
.hr-line {
  background: rgba(0, 0, 0, 0)!important;
  border-top: var(--color-neutral-4) 1px solid!important;
  height: 1px;
  margin: 25px 10px
}
hr {
  border: none!important;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .2), transparent);
  height: 1px;
  margin: 22px 0
}
.well {
  border-radius: 3px!important;
  box-shadow: none!important;
  background-color: var(--color-neutral-0);
  margin-bottom: 24px;
  padding: 8px 24px 16px
}
.well.node-landing-page {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  border-radius: 0!important
}
.well-default {
  background-color: var(--color-neutral-3)
}
.well-no-border {
  border: 0
}
.well blockquote {
  background-color: var(--color-neutral-3);
  border-left: 3px solid #189eda;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word
}
.messages__wrapper {
  margin-top: 20px
}
blockquote {
  font-size: inherit;
  padding: 4px 16px;
  border-left: 3px solid #189eda;
  margin: 0 0 24px 8px;
  font-style: italic;
  color: var(--color-neutral-7);
  line-height: 26px;
  letter-spacing: -.15px
}
blockquote.testimonial {
  background: var(--color-neutral-5);
  border-radius: 10px;
  border: 0;
  color: var(--color-neutral-7);
  font-family: Georgia,serif;
  font-style: italic;
  margin: 0;
  padding: 10px 50px;
  position: relative
}
blockquote.testimonial:before {
  color: var(--color-neutral-0);
  content: "“";
  font-size: 80px;
  font-style: normal;
  left: 10px;
  line-height: 1;
  position: absolute;
  top: 0
}
blockquote.testimonial:after {
  bottom: -.5em;
  color: var(--color-neutral-0);
  content: "”";
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  position: absolute;
  right: 10px
}
blockquote.testimonial p {
  color: var(--color-neutral-0);
  font-family: Georgia,serif;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.3
}
blockquote.quote-msg {
  line-height: 26px;
  font-style: italic;
  color: var(--color-neutral-7);
  letter-spacing: -.15px
}
blockquote.quote-msg p:first-of-type {
  display: inline
}
blockquote.quote-msg p:nth-of-type(2) {
  margin-top: 10px
}
blockquote.quote-msg p:last-of-type {
  margin-bottom: 0
}
.offset-anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden
}
.wso-username i.icon.icon-star.icon__star__styles {
  align-items: center;
  background-color: #f5b226;
  border: 3px solid #f5b226;
  border-radius: 50%;
  color: var(--color-neutral-0);
  display: flex;
  font-size: 10px;
  height: 16px;
  justify-content: center;
  position: absolute;
  right: 9px;
  top: 12px;
  width: 16px
}
.wso-certified-user img {
  background-color: #f5b226;
  border: 2px solid #f5b226;
  border-radius: 50%;
  bottom: 5px;
  color: var(--color-neutral-0);
  font-size: 1em;
  height: 16px;
  left: 26px;
  position: absolute;
  width: 16px
}
.position--affix--fixed {
  position: fixed!important
}
.sticky {
  background: #dcf3ff!important
}
.not-logged-in .hidden-not-logged-in {
  display: none
}
.greeting {
  color: var(--color-neutral-7);
  letter-spacing: .2px;
  color: var(--color-monkey-grey);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.33
}
.dropdown-menu {
  background-color: var(--color-neutral-0)
}
.form-control,
.form-control:focus {
  background-color: var(--color-neutral-0);
  color: var(--color-base)
}
.darkmode .form-control {
  border-color: var(--color-neutral-5)
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-base)
}
h1 {
  letter-spacing: -1px;
  margin: 0 0 8px;
  font-size: 3.2em;
  line-height: 44px
}
.path-node h1 {
  font-weight: 700
}
h1.wso-forum-title {
  font-size: 24px;
  display: inline;
  line-height: 1.2;
  letter-spacing: .3px;
  text-transform: capitalize
}
.formatted-text {
  font-size: 16px;
  word-break: break-word
}
.formatted-text h2,
.formatted-text h3,
.formatted-text h4,
.formatted-text h5,
.formatted-text h6 {
  line-height: 1.2;
  font-weight: 700
}
.formatted-text h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 44px 0 8px
}
.formatted-text h3 {
  font-size: 20px;
  margin: 38px 0 8px
}
.formatted-text h4 {
  font-size: 18px;
  margin: 34px 0 8px
}
.formatted-text h5 {
  font-size: 16px;
  margin: 32px 0 8px
}
.formatted-text h6 {
  font-size: 16px;
  margin: 30px 0 8px
}
.formatted-text img {
  height: auto;
  max-width: 100%
}
.formatted-text figure.align-center img {
  margin-left: auto;
  margin-right: auto;
  display: block
}
.formatted-text figure.align-center figcaption {
  text-align: center
}
.formatted-text p {
  margin-bottom: 30px
}
.formatted-text p strong {
  font-weight: 700
}
.formatted-text p a {
  word-wrap: break-word
}
.formatted-text blockquote {
  font-size: inherit;
  border-left: 3px solid #b7e1f3;
  margin: 0 0 24px 8px;
  font-style: italic;
  color: var(--color-neutral-7);
  line-height: 26px;
  letter-spacing: -.15px;
  padding: 1em;
  background-color: var(--color-neutral-2);
  border-color: #b7e1f3
}
.formatted-text blockquote strong.quote-author {
  margin-right: 5px
}
.formatted-text blockquote strong.quote-author:before {
  display: inline-block;
  font: 14px/1 fa-custom;
  font-size: inherit;
  content: "\f10d";
  margin-right: 5px
}
.formatted-text blockquote p:first-of-type {
  display: inline
}
.formatted-text dl,
.formatted-text ol,
.formatted-text ul {
  page-break-before: avoid
}
.formatted-text li {
  line-height: 26px;
  margin-bottom: 4px
}
.formatted-text ol,
.formatted-text ul {
  margin-bottom: 16px;
  margin-top: 8px;
  padding-left: 24px
}
.formatted-text span.alt-font {
  font-family: Oswald-Regular,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif!important
}
.formatted-text span.uppercase-text {
  text-transform: uppercase!important
}
.formatted-text span.color-pale-blue {
  color: #189eda!important
}
.formatted-text span.color-bright-blue {
  color: #7ad9ea!important
}
.formatted-text span.color-blue {
  color: #087dfd!important
}
.formatted-text span.color-dark-blue {
  color: #1982cd!important
}
.formatted-text span.color-green {
  color: #0cb930!important
}
.formatted-text span.color-orange {
  color: #ff6c00!important
}
.formatted-text span.color-grey {
  color: #3c4245!important
}
p {
  line-height: 24px
}
p.uniqueness-description {
  font-size: .85em
}
p.featured {
  font-size: 1.6em;
  line-height: 1.5em
}
p.short {
  margin-bottom: 0
}
p.tall {
  margin-bottom: 20px
}
p.taller {
  margin-bottom: 40px
}
.bold,
b,
strong {
  font-weight: 700
}
.font-600 {
  font-weight: 400!important
}
.font-400 {
  font-weight: 300!important
}
.fontawesome-icon-list [class*=col-md-] {
  margin-bottom: 9px
}
.fontawesome-icon-list i {
  display: inline-block;
  font-size: 1.3em;
  margin-right: 5px;
  position: relative;
  text-align: center;
  top: 2px;
  width: 30px
}
i.icon.icon-star {
  color: #f5b226;
  font-size: 1.2em
}
i.icon-featured {
  background-color: #087dfd
}
.icon-bananas:before {
  color: #f6bb42;
  font-size: 14px
}
.grey.icon-bananas:before {
  color: #c9c9c9
}
.icon-check:before {
  content: "\e801"
}
.icon-time:before {
  content: "\e861"
}
.icon-calendar:before {
  content: "\f274"
}
i[class~=icon][class*=icon-industry--] {
  font-family: Lato,sans-serif;
  font-weight: 600
}
.icon-industry--ib:before {
  content: "IB"
}
.icon-industry--pe:before {
  content: "PE"
}
.icon-industry--vc:before {
  content: "VC"
}
.icon-industry--hf:before {
  content: "HF"
}
.icon-industry--re:before {
  content: "RE"
}
.icon-industry--co:before {
  content: "CO"
}
.icon-industry--tr:before {
  content: "TR"
}
.icon-industry--am:before {
  content: "AM"
}
.icon-industry--er:before {
  content: "ER"
}
.icon-industry--cf:before {
  content: "CF"
}
.wso-darkmode-switcher {
  position: relative;
  height: 100%;
  cursor: pointer
}
.wso-darkmode-switcher__body {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #f5b226;
  border-radius: 22px;
  transition: background .3s ease-in-out
}
.darkmode .wso-darkmode-switcher__body {
  background: #342b39
}
.darkmoding .wso-darkmode-switcher__body {
  background: #ad7808
}
.wso-darkmode-switcher__element {
  color: #fff;
  position: absolute;
  display: inline-block;
  transition: .5s ease-in-out
}
.wso-darkmode-switcher__element.sun {
  right: 3px;
  transform: translateY(-1px);
  left: auto;
  opacity: 1
}
.darkmode .wso-darkmode-switcher__element.sun {
  left: auto;
  transform: translateY(20px);
  opacity: 0
}
.wso-darkmode-switcher__element.sun svg {
  width: 17px;
  height: 17px
}
.wso-darkmode-switcher__element.sun--secondary {
  opacity: .7
}
.wso-darkmode-switcher__element.moon {
  opacity: 0;
  left: 3px;
  transform: translateY(20px)
}
.darkmode .wso-darkmode-switcher__element.moon {
  opacity: 1;
  transform: translateY(-3px)
}
.wso-darkmode-switcher__element.moon svg {
  width: 22px;
  height: 22px
}
.wso-darkmode-switcher__element.moon--secondary {
  opacity: .6
}
:root.darkmode {
  --color-neutral-0--rgb: 0,0,0;
  --color-neutral-0: #1c1c21;
  --color-neutral-1: #1f1f21;
  --color-neutral-2: #090808;
  --color-neutral-3: #3e3e3e;
  --color-neutral-4: #201e19;
  --color-neutral-5: #624d43;
  --color-neutral-6: #624d43;
  --color-neutral-7: #624d43;
  --color-neutral-8: #c0beba;
  --color-neutral-9: #e3e1db;
  --color-almost-black: #ebebeb;
  --color-black: #fff;
  --color-black--rgb: 255,255,255;
  --color-page-bg: #212121;
  --color-monkey-grey: #624d43;
  --color-warning-bg: #000209;
  --color-base: #c0beba;
  --color-light-blue: #141418
}
.bg-white {
  background-color: var(--color-neutral-0)!important;
  background: var(--color-neutral-0)
}
.bg-light-gray {
  background: var(--color-neutral-2)
}
.white-bg {
  background: var(--color-neutral-0)
}
.text-white {
  color: var(--color-neutral-0)!important
}
.text-blue {
  color: #087dfd
}
.text-primary {
  color: var(--color-neutral-6)!important
}
.color-success {
  color: #0cb930!important
}
.alternative-font {
  color: #087dfd
}
.inverted {
  color: var(--color-neutral-0);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #087dfd
}
.b-sh-none {
  box-shadow: none!important
}
.shadow {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05)!important
}
.flat-shadow {
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1)!important
}
.flat-white {
  background-color: var(--color-neutral-0)!important;
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1)
}
.label-dark {
  background: var(--color-base);
  text-decoration: none;
  font-weight: normal
}
.label-dark:hover {
  background: var(--color-base);
  font-weight: normal;
  text-decoration: none
}
textarea {
  resize: vertical
}
.field--label-inline {
  display: flex;
  flex-wrap: wrap
}
.field--label {
  font-weight: 600
}
.field--label:after {
  content: ": ";
  display: inline-block;
  margin-right: 10px
}
.location-wrapper {
  margin-top: 30px
}
.location-wrapper .form-item-locations-0-city {
  font-size: 18px;
  margin-top: -25px!important
}
.location .form-item input {
  width: 100%
}
.location .form-item label {
  display: inherit;
  float: inherit;
  padding-right: inherit;
  text-align: inherit;
  width: inherit
}
#edit-checkout,
#edit-preview {
  margin-left: 10px
}
.field-name-field-interviewquestions .field-item {
  display: table-row;
  width: auto
}
.form-managed-file .form-file {
  margin-bottom: 10px
}
.oembed {
  clear: inherit;
  display: inherit;
  float: inherit;
  margin: inherit;
  border-top: inherit;
  border-bottom: inherit;
  border-right: inherit;
  border-left: inherit;
  padding: inherit;
  color: inherit;
  background: inherit;
  border-radius: inherit
}
.oembed .oembed-title {
  display: none
}
.table-responsive {
  width: 100%
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 1.42857
}
.table-bordered {
  border: 1px solid var(--color-neutral-3);
  border-color: var(--color-neutral-3)
}
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: inherit
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: var(--color-neutral-0)
}
.table-striped > tbody > tr:nth-of-type(even):hover {
  background-color: var(--color-neutral-2)
}
.table {
  color: var(--color-base)
}
.table tbody tr:hover {
  color: var(--color-base);
  background-color: rgba(255, 255, 255, .075)
}
.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--color-neutral-1)
}
.wso-table-left {
  border: var(--color-neutral-3) solid 1px!important;
  border-color: var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  border-bottom: 0;
  border-collapse: unset;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 13px;
  border-spacing: 0
}
.wso-table-left a:not(.btn) {
  color: var(--color-base)
}
.wso-table-left thead a {
  border: none;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 1.08
}
.wso-table-left thead tr {
  background-color: var(--color-page-bg)
}
.wso-table-left thead th {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: .1px;
  border-bottom: var(--color-neutral-2) 1px solid;
  border-color: var(--color-neutral-2)
}
.wso-table-left thead th:first-child {
  text-align: center
}
.wso-table-left thead th:nth-child(2) {
  padding-left: 0
}
.wso-table-left thead th.score {
  text-align: center
}
.wso-table-left thead th.views-field-score {
  font-size: 14px
}
.wso-table-left thead th.replies-column {
  text-align: center
}
.wso-table-left thead .comments {
  min-width: 130px;
  text-align: center
}
.wso-table-left thead .icon-bananas:before {
  color: #f5b226
}
.wso-table-left tbody {
  border: none
}
.wso-table-left tbody tr:hover,
.wso-table-left tbody tr:hover>td {
  background-color: var(--color-neutral-1)
}
.wso-table-left tr {
  background: var(--color-neutral-0)
}
.wso-table-left tr.even,
.wso-table-left tr.odd,
.wso-table-left tr:nth-child(even),
.wso-table-left tr:nth-child(odd) {
  border-bottom: 1px solid var(--color-neutral-2);
  border-color: var(--color-neutral-2)
}
.wso-table-left tr.fake-header {
  display: none
}
.wso-table-left tr.warning td {
  background-color: var(--color-warning-bg)
}
.wso-table-left tr .warning {
  background: var(--color-warning-bg);
  color: var(--color-base)
}
.wso-table-left td {
  padding: 14px 10px;
  vertical-align: middle
}
.wso-table-left td:first-child {
  color: #0cb930;
  min-width: 10px
}
.wso-table-left td:first-child .icon {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  position: relative
}
.wso-table-left td:first-child .icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.wso-table-left td:first-child .icon.icon-question-circle:before {
  content: "\e860";
  color: #189eda
}
.wso-table-left td:first-child .icon.icon-map-pin:before {
  content: "\e836";
  color: #0cb930
}
.wso-table-left td:first-child .icon.icon-podcast:before {
  content: "\e864"
}
.wso-table-left td:first-child .counter {
  font-size: 11px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 3px;
  background: 0 0;
  color: #79ba5a;
  font-weight: 700;
  vertical-align: top
}
.wso-table-left td:first-child .counter.non-zero {
  background-color: rgba(121, 186, 90, .1)
}
.darkmode .wso-table-left td:first-child .counter.non-zero {
  background-color: #29401e
}
.wso-table-left td:first-child .counter.zero-banana {
  background-color: var(--color-neutral-3);
  color: var(--color-neutral-7)
}
.wso-table-left td:last-child {
  color: var(--color-neutral-7);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.14;
  text-align: center
}
.wso-table-left td:nth-child(3) {
  text-align: center
}
.wso-table-left td.title,
.wso-table-left td.views-field-title,
.wso-table-left td.views-field-title-with-tooltip {
  padding: 14px 0;
  font-size: 15px;
  font-stretch: normal;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2px;
  color: var(--color-base)
}
.wso-table-left td.title .row-flex,
.wso-table-left td.views-field-title .row-flex,
.wso-table-left td.views-field-title-with-tooltip .row-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}
.wso-table-left td.title .icon-bolt,
.wso-table-left td.views-field-title .icon-bolt,
.wso-table-left td.views-field-title-with-tooltip .icon-bolt {
  color: #f5b226;
  margin-right: 5px
}
.wso-table-left td.title a,
.wso-table-left td.views-field-title a,
.wso-table-left td.views-field-title-with-tooltip a {
  display: inline-block;
  line-height: 1.14;
  max-width: 450px;
  vertical-align: middle;
  color: inherit;
  text-overflow: ellipsis
}
.wso-table-left td.title a:hover,
.wso-table-left td.views-field-title a:hover,
.wso-table-left td.views-field-title-with-tooltip a:hover {
  color: #087dfd
}
.wso-table-left td:not(.title) a,
.wso-table-left td:not(.views-field-title) a,
.wso-table-left td:not(.views-field-title-with-tooltip) a {
  position: relative;
  z-index: 97
}
.wso-table-left td.views-field-taxonomy-forums > span {
  border: var(--color-neutral-4) 1px solid;
  border-color: var(--color-neutral-4);
  font-weight: 800;
  font-size: 11px;
  line-height: 12px;
  color: var(--color-neutral-6);
  border-radius: 3px;
  padding: 4px 2px 2px;
  display: inline-block;
  min-width: 28px
}
.wso-table-left td.views-field-comment-count {
  text-align: left;
  padding-left: 25px;
  white-space: nowrap
}
.wso-table-left td.views-field-comment-count > span:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-neutral-6)
}
.wso-table-left td.views-field-comment-count > span:first-child:before {
  content: "\e86d";
  display: inline-block;
  font: 13px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-neutral-4)
}
.wso-table-left td.replies {
  min-width: 90px;
  text-align: center;
  white-space: nowrap
}
.wso-table-left td.replies i {
  font-style: normal;
  color: var(--color-neutral-5);
  font-weight: 700;
  margin-right: 3px;
  font-size: 15px
}
.wso-table-left td .new-count i {
  font-style: normal;
  display: inline-block;
  margin-right: 2px;
  color: var(--color-neutral-4);
  font-weight: 700
}
.wso-table-left td .new-count a {
  white-space: nowrap;
  color: #087dfd!important
}
.wso-table-left .topic-new {
  font-weight: 700;
  background-color: #f5b226;
  border-radius: 5px;
  color: var(--color-neutral-0);
  padding: 0 2px;
  width: 38px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: .4px;
  text-align: center
}
.wso-table-left .banana-icon {
  height: auto;
  width: 16px
}
.wso-table-left .forum-field__text_empty {
  color: var(--color-neutral-4)
}
.wso-table-left tbody td,
.wso-table-left thead th {
  text-align: left!important;
  padding: 12px 22px!important
}
.wso-table-left-center {
  border: var(--color-neutral-3) solid 1px!important;
  border-color: var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  border-bottom: 0;
  border-collapse: unset;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 13px;
  border-spacing: 0;
  color: var(--color-base)
}
.wso-table-left-center a:not(.btn) {
  color: var(--color-base)
}
.wso-table-left-center thead a {
  border: none;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 1.08
}
.wso-table-left-center thead tr {
  background-color: var(--color-page-bg)
}
.wso-table-left-center thead th {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: .1px;
  border-bottom: var(--color-neutral-2) 1px solid;
  border-color: var(--color-neutral-2);
  padding: 12px 22px
}
.wso-table-left-center thead th.score {
  text-align: center
}
.wso-table-left-center thead th.views-field-score {
  font-size: 14px
}
.wso-table-left-center thead th.replies-column {
  text-align: center
}
.wso-table-left-center thead .comments {
  min-width: 130px;
  text-align: center
}
.wso-table-left-center thead .icon-bananas:before {
  color: #f5b226
}
.wso-table-left-center tbody {
  border: none
}
.wso-table-left-center tbody tr:hover,
.wso-table-left-center tbody tr:hover>td {
  background-color: var(--color-neutral-1)
}
.wso-table-left-center tr {
  background: var(--color-neutral-0)
}
.wso-table-left-center tr.even,
.wso-table-left-center tr.odd,
.wso-table-left-center tr:nth-child(even),
.wso-table-left-center tr:nth-child(odd) {
  border-bottom: 1px solid var(--color-neutral-2);
  border-color: var(--color-neutral-2)
}
.wso-table-left-center tr.fake-header {
  display: none
}
.wso-table-left-center tr.warning td {
  background-color: var(--color-warning-bg)
}
.wso-table-left-center tr .warning {
  background: var(--color-warning-bg);
  color: var(--color-base)
}
.wso-table-left-center td {
  padding: 14px 10px;
  vertical-align: middle
}
.wso-table-left-center td:first-child {
  color: #0cb930;
  min-width: 10px
}
.wso-table-left-center td:first-child .icon {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  position: relative
}
.wso-table-left-center td:first-child .icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.wso-table-left-center td:first-child .icon.icon-question-circle:before {
  content: "\e860";
  color: #189eda
}
.wso-table-left-center td:first-child .icon.icon-map-pin:before {
  content: "\e836";
  color: #0cb930
}
.wso-table-left-center td:first-child .icon.icon-podcast:before {
  content: "\e864"
}
.wso-table-left-center td:first-child .counter {
  font-size: 11px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 3px;
  background: 0 0;
  color: #79ba5a;
  font-weight: 700;
  vertical-align: top
}
.wso-table-left-center td:first-child .counter.non-zero {
  background-color: rgba(121, 186, 90, .1)
}
.darkmode .wso-table-left-center td:first-child .counter.non-zero {
  background-color: #29401e
}
.wso-table-left-center td:first-child .counter.zero-banana {
  background-color: var(--color-neutral-3);
  color: var(--color-neutral-7)
}
.wso-table-left-center td:last-child {
  color: var(--color-neutral-7);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.14;
  text-align: center
}
.wso-table-left-center td:nth-child(3) {
  text-align: center
}
.wso-table-left-center td.title,
.wso-table-left-center td.views-field-title,
.wso-table-left-center td.views-field-title-with-tooltip {
  padding: 14px 0;
  font-size: 15px;
  font-stretch: normal;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2px;
  color: var(--color-base)
}
.wso-table-left-center td.title .row-flex,
.wso-table-left-center td.views-field-title .row-flex,
.wso-table-left-center td.views-field-title-with-tooltip .row-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}
.wso-table-left-center td.title .icon-bolt,
.wso-table-left-center td.views-field-title .icon-bolt,
.wso-table-left-center td.views-field-title-with-tooltip .icon-bolt {
  color: #f5b226;
  margin-right: 5px
}
.wso-table-left-center td.title a,
.wso-table-left-center td.views-field-title a,
.wso-table-left-center td.views-field-title-with-tooltip a {
  display: inline-block;
  line-height: 1.14;
  max-width: 450px;
  vertical-align: middle;
  color: inherit;
  text-overflow: ellipsis
}
.wso-table-left-center td.title a:hover,
.wso-table-left-center td.views-field-title a:hover,
.wso-table-left-center td.views-field-title-with-tooltip a:hover {
  color: #087dfd
}
.wso-table-left-center td:not(.title) a,
.wso-table-left-center td:not(.views-field-title) a,
.wso-table-left-center td:not(.views-field-title-with-tooltip) a {
  position: relative;
  z-index: 97
}
.wso-table-left-center td.views-field-taxonomy-forums > span {
  border: var(--color-neutral-4) 1px solid;
  border-color: var(--color-neutral-4);
  font-weight: 800;
  font-size: 11px;
  line-height: 12px;
  color: var(--color-neutral-6);
  border-radius: 3px;
  padding: 4px 2px 2px;
  display: inline-block;
  min-width: 28px
}
.wso-table-left-center td.views-field-comment-count {
  text-align: left;
  padding-left: 25px;
  white-space: nowrap
}
.wso-table-left-center td.views-field-comment-count > span:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-neutral-6)
}
.wso-table-left-center td.views-field-comment-count > span:first-child:before {
  content: "\e86d";
  display: inline-block;
  font: 13px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-neutral-4)
}
.wso-table-left-center td.replies {
  min-width: 90px;
  text-align: center;
  white-space: nowrap
}
.wso-table-left-center td.replies i {
  font-style: normal;
  color: var(--color-neutral-5);
  font-weight: 700;
  margin-right: 3px;
  font-size: 15px
}
.wso-table-left-center td .new-count i {
  font-style: normal;
  display: inline-block;
  margin-right: 2px;
  color: var(--color-neutral-4);
  font-weight: 700
}
.wso-table-left-center td .new-count a {
  white-space: nowrap;
  color: #087dfd!important
}
.wso-table-left-center .topic-new {
  font-weight: 700;
  background-color: #f5b226;
  border-radius: 5px;
  color: var(--color-neutral-0);
  padding: 0 2px;
  width: 38px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: .4px;
  text-align: center
}
.wso-table-left-center .banana-icon {
  height: auto;
  width: 16px
}
.wso-table-left-center .forum-field__text_empty {
  color: var(--color-neutral-4)
}
.wso-table-left-center thead th:nth-child(2) {
  padding-left: 22px
}
.wso-table-left-center tbody td,
.wso-table-left-center thead th {
  text-align: center
}
.wso-table-left-center tbody td:first-child,
.wso-table-left-center thead th:first-child {
  text-align: left;
  padding-left: 10px
}
.wso-admin-table a {
  text-decoration: none;
  color: #087dfd!important
}
.wso-admin-table ul {
  padding: 0;
  margin: 0
}
.wso-admin-table ul li {
  list-style: none;
  display: block
}
.wso-admin-table.table-sm td,
.wso-admin-table.table-sm th {
  padding: 5px!important
}
.formatted-text table {
  border: 0
}
.formatted-text table a {
  text-decoration: none;
  color: #087dfd!important
}
.formatted-text table ul {
  padding: 0;
  margin: 0
}
.formatted-text table ul li {
  list-style: none;
  display: block
}
.formatted-text table.table-sm td,
.formatted-text table.table-sm th {
  padding: 5px!important
}
.formatted-text table thead tr th {
  font-weight: 700
}
.formatted-text table thead tr:first-child th {
  color: #fff;
  background-color: #072532;
  border-color: #072532
}
.formatted-text table tbody {
  font-size: 16px
}
.formatted-text table tbody tr th ul {
  padding-left: 1rem
}
.formatted-text table tbody tr th ul li {
  list-style: disc;
  display: list-item
}
.formatted-text table tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9
}
.formatted-text table tbody tr:nth-of-type(even) {
  background-color: var(--color-neutral-0)
}
.formatted-text table td,
.formatted-text table th {
  padding: 12px 15px;
  font-size: 14px;
  border: 0
}
.formatted-text table.table-bordered td,
.formatted-text table.table-bordered th {
  border: 1px solid #e5e5e5
}
#financial-data-table {
  padding: 10px
}
#financial-data-table th {
  color: #fff;
  background-color: #072532;
  text-align: left
}
.darkmode #financial-data-table th {
  background-color: #0a4059;
  font-size: 1.2em;
  border-color: #072532
}
#financial-data-table td {
  text-align: left;
  border-color: #072532
}
.darkmode #financial-data-table td {
  border-color: #189eda
}
#shortcut-table {
  text-align: center;
  border: 0
}
#shortcut-table a {
  text-decoration: none;
  color: #087dfd!important
}
#shortcut-table ul {
  padding: 0;
  margin: 0
}
#shortcut-table ul li {
  list-style: none;
  display: block
}
#shortcut-table.table-sm td,
#shortcut-table.table-sm th {
  padding: 5px!important
}
#shortcut-table td {
  height: 2.5em;
  font-weight: 700;
  width: 33%
}
#shortcut-table .mac-shortcut,
#shortcut-table .pc-shortcut {
  padding: 5px 10px;
  margin: 4px;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px
}
#shortcut-table .pc-shortcut {
  border: 2px solid #087dfd
}
#shortcut-table .mac-shortcut {
  border: 2px solid #ff8c06
}
.darkmode img[src*=".svg"] {
  filter: invert(100%)
}
.image__filter__gray,
.image__filter__grey {
  filter: grayscale(1)
}
.svgicon {
  display: inline-block
}
.svg-icon {
  max-width: 100%;
  max-height: 100%
}
.thumbnail .zoom {
  background-color: #087dfd
}
.thumb-info .thumb-info-title {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  background: rgba(36, 27, 28, .9)
}
.darkmode .thumb-info .thumb-info-title {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .2);
  background: rgba(180, 180, 180, .9)
}
.img-thumbnail {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4);
  border-radius: 8px;
  position: relative
}
.img-thumbnail .zoom {
  background: var(--color-neutral-5);
  border-radius: 100%;
  bottom: 8px;
  color: var(--color-neutral-0);
  display: block;
  height: 30px;
  padding: 6px;
  position: absolute;
  right: 8px;
  text-align: center;
  width: 30px
}
.img-thumbnail .zoom i {
  font-size: 14px;
  left: -1px;
  position: relative;
  top: -3px
}
.rounded-circle {
  border-radius: 100%
}
.video-container {
  padding-top: 25px;
  padding-bottom: 50.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  height: 0
}
.video-container.vimeo {
  padding-bottom: 56.4%;
  padding-top: 0
}
.video-container embed,
.video-container iframe,
.video-container object,
.video-container video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}
.post-image img {
  height: auto;
  max-width: 100%
}
.user-profile-image {
  height: 50px;
  width: 50px
}
.post-medium-image .single-post-image {
  overflow: hidden
}
.single-post-image li {
  list-style: none;
  margin-bottom: 30px;
  margin-left: -60px
}
.profile .user-picture {
  margin-top: 60px!important
}
section.video {
  width: 100%;
  margin: 70px 0;
  padding: 50px 0;
  overflow: hidden;
  position: relative
}
section.video > video {
  display: none
}
section.video blockquote {
  border: 0;
  padding: 0 10%
}
section.video blockquote p {
  font-size: 24px;
  line-height: 30px
}
section.video blockquote span {
  color: var(--color-neutral-6);
  font-size: 16px;
  left: -5px;
  line-height: 20px;
  position: relative
}
section.video .mejs-container {
  position: absolute;
  top: 0
}
section.video .mejs-container .mejs-controls,
section.video .mejs-container .mejs-layers {
  display: none!important
}
.media {
  display: flex;
  align-items: flex-start
}
.media-body {
  flex: 1
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden
}
.embed-responsive::before {
  display: block;
  content: ""
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0
}
.embed-responsive-21by9::before {
  padding-top: 42.8571428571%
}
.embed-responsive-16by9::before {
  padding-top: 56.25%
}
.embed-responsive-4by3::before {
  padding-top: 75%
}
.embed-responsive-1by1::before {
  padding-top: 100%
}
.modal-content {
  background-color: var(--color-neutral-0);
  border: 1px solid rgba(0, 0, 0, .2)
}
.modal .modal-header {
  border-bottom: 1px solid var(--color-neutral-4)
}
.darkmode .modal .modal-header {
  border-bottom: 1px solid var(--color-neutral-5)
}
.modal-open .navbar-fixed-bottom {
  margin-right: 0!important
}
.modal-open-noscroll {
  margin-right: 0!important;
  overflow: hidden
}
.modal-open-noscroll .navbar-fixed-top {
  margin-right: 0!important
}
.modal-header h3 {
  color: var(--color-base);
  text-transform: none
}
.modal-header .btn-close {
  background: url(/themes/custom/porto_sub/assets/sprites/src/png/icon-close.png) center center no-repeat;
  width: 8px;
  height: 8px;
  opacity: 1
}
.darkmode .modal-header .btn-close {
  background: url(/themes/custom/porto_sub/assets/sprites/build/icon-close-dark.png) center center no-repeat
}
.close {
  color: var(--color-base);
  text-shadow: 0 1px 0 var(--color-neutral-0)
}
.ui-widget {
  font-family: Lato,sans-serif!important
}
.ui-widget-overlay {
  z-index: 1002!important
}
.ui-widget-content {
  color: var(--color-base)
}
.ui-dialog .ui-dialog-titlebar-close {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: 0 -162px;
  width: 16px;
  height: 16px;
  border: 0;
  background-color: transparent
}
#discountModal .modal-dialog .modal-content {
  padding: 2rem 2.5rem
}
#discountModal .modal-dialog .modal-header {
  padding: 0 0 1rem;
  border-bottom: none
}
#discountModal .modal-dialog .modal-header div.text-center {
  font-size: 1rem;
  color: rgb(240, 73, 68);
  font-style: italic;
  flex: 1 1 0%
}
#discountModal .modal-dialog .modal-body {
  padding: 0
}
#discountModal .modal-dialog .modal-body .content .discount-text {
  line-height: 1.3;
  font-weight: 700;
  color: #08c42a;
  font-size: 2.6rem;
  background-color: var(--color-page-bg);
  padding: 1rem 0
}
#discountModal .modal-dialog .modal-body .content .additional-text {
  font-size: 1rem;
  color: rgb(240, 73, 68);
  font-style: italic;
  padding: .5rem 0 2rem
}
#discountModal .modal-dialog .modal-body .content .logo.m-b-md {
  margin-bottom: 0
}
.progress {
  background: var(--color-neutral-1);
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
  height: 20px;
  overflow: visible
}
.progress-bar {
  border-radius: 25px;
  box-shadow: none;
  position: relative
}
.progress-bar-tooltip {
  position: absolute;
  padding: 4px 8px;
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  line-height: 15px;
  font-size: 11px;
  display: block;
  top: -28px;
  right: 5px;
  border-radius: 3px;
  opacity: 0
}
.progress-bar-tooltip:after {
  border-color: var(--color-neutral-8) transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  bottom: -5px;
  content: "";
  display: block;
  left: 13px;
  position: absolute;
  width: 0
}
.panel-body.panel-body-border-bottom {
  border-bottom: var(--color-neutral-4) 1px solid
}
.panel-heading.panel-heading--transparent {
  background: 0 0;
  border: 0
}
.panel-group .panel-heading {
  padding: 0
}
.panel-group .panel-heading a {
  display: block;
  padding: 10px 15px;
  color: #087dfd
}
.panel-group .panel-heading a:focus,
.panel-group .panel-heading a:hover {
  text-decoration: none
}
.panel-group .panel-heading a [class^=icon-] {
  margin-right: 4px;
  position: relative;
  top: 1px
}
.panel-group.secundary .panel-heading {
  background-color: #087dfd
}
.panel-group.secundary .panel-heading a {
  color: var(--color-neutral-0)
}
[data-bs-toggle=collapse][aria-expanded=false] [data-state=default],
[data-bs-toggle=collapse][aria-expanded=true] [data-state=open] {
  display: inline
}
[data-bs-toggle=collapse][aria-expanded=false] [data-state=open],
[data-bs-toggle=collapse][aria-expanded=true] [data-state=default] {
  display: none
}
.list-group-item-action {
  color: var(--color-base)
}
.list-group-item {
  background-color: var(--color-neutral-0);
  border: 1px solid rgba(var(--color-neutral-0--rgb), .125)
}
.list-group-item-action:focus,
.list-group-item-action:hover {
  color: var(--color-base)
}
.darkmode .list-group-item-action:focus,
.darkmode .list-group-item-action:hover {
  background-color: #000
}
.darkmode .nav-tabs {
  border-bottom-color: #000
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--color-base);
  border-color: var(--color-neutral-4) var(--color-neutral-4) var(--color-neutral-0)
}
.darkmode .nav-tabs .nav-item.show .nav-link,
.darkmode .nav-tabs .nav-link.active {
  background-color: #000
}
[data-bs-toggle=tooltip] {
  cursor: pointer
}
.tooltip-inner {
  background: #000;
  box-shadow: 0 1px 0 0 #000;
  max-width: 400px;
  text-align: left!important;
  color: #f6f7f7
}
.darkmode .tooltip-inner {
  background: #000;
  box-shadow: 0 1px 0 0 #000
}
.tooltip {
  pointer-events: none
}
.tooltip.show {
  opacity: 1
}
.tooltip strong {
  font-weight: 700;
  font-size: 13px;
  display: block;
  margin-bottom: 5px
}
.tooltip strong:before {
  content: "\e80c";
  display: inline-block;
  font-family: fa-custom;
  color: #0cb930;
  margin-right: 5px
}
.tooltip p {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: .2px;
  margin-bottom: 5px
}
.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: var(--color-neutral-8)
}
.darkmode .bs-tooltip-auto[x-placement^=top] .arrow::before,
.darkmode .bs-tooltip-top .arrow::before {
  border-top-color: #000
}
.qtip-link {
  border-bottom: none;
  color: inherit;
  cursor: inherit
}
.popover {
  background-color: var(--color-neutral-0)
}
.bs-popover-auto[x-placement^=bottom] > .arrow::after,
.bs-popover-bottom > .arrow::after {
  border-bottom-color: var(--color-neutral-0)
}
.popover-header {
  background-color: var(--color-neutral-1);
  border-bottom: 1px solid var(--color-neutral-3)
}
.popover-body {
  color: var(--color-base)
}
@media (min-width: 576px) {
  .container--wso {
    max-width: 540px
  }
  .form-inline label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle
  }
}
@media (min-width: 768px) {
  .container--wso {
    max-width: 720px
  }
  .form-group {
    margin-bottom: 1rem
  }
  .formatted-text table tbody tr th {
    min-width: 300px
  }
}
@media (min-width: 992px) {
  .wso-col-5 {
    width: 20%
  }
  .container--wso {
    max-width: 960px
  }
  body {
    font-family: Lato,sans-serif
  }
  .path-node h1 {
    font-weight: 800
  }
  h1.wso-forum-title {
    font-size: 36px
  }
  .formatted-text h2,
  .formatted-text h3,
  .formatted-text h4,
  .formatted-text h5,
  .formatted-text h6 {
    font-weight: 800
  }
  .formatted-text h2 {
    font-size: 38px
  }
  .formatted-text h3 {
    font-size: 26px
  }
  .formatted-text h4 {
    font-size: 20px
  }
  .formatted-text h5 {
    font-size: 18px
  }
  .formatted-text h6 {
    font-size: 16px
  }
  .bold,
  .formatted-text p strong,
  .formatted-text table thead tr th,
  .wso-table-left .topic-new,
  .wso-table-left td:first-child .counter,
  .wso-table-left thead a,
  .wso-table-left thead th,
  .wso-table-left-center .topic-new,
  .wso-table-left-center td:first-child .counter,
  .wso-table-left-center thead a,
  .wso-table-left-center thead th,
  b,
  strong {
    font-weight: 800
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px
  }
  .container--wso {
    max-width: 1140px
  }
}
@media (min-width: 1400px) {
  .container--wso {
    max-width: 1320px
  }
}
@media (min-width: 1630px) {
  .container--wide {
    max-width: 1600px
  }
}
@media (max-width: 991px) {
  .scroll-to-top {
    display: none!important
  }
  .home-concept {
    background: 0 0
  }
  .home-concept .project-image {
    margin: 60px auto 0
  }
  .home-concept .process-image {
    margin-top: 60px
  }
  .offset-anchor {
    top: 0
  }
  .thumbnail {
    border: 0;
    text-align: center
  }
  .thumb-info .thumb-info-title {
    font-size: 14px
  }
  .thumb-info .thumb-info-more {
    font-size: 11px
  }
}
@media (max-width: 767px) {
  .visible-xs {
    display: block!important
  }
  .icon,
  .icon-bananas:before {
    font-size: 17px
  }
  .icon-right-dir.icon-rotate-90 {
    transform: translate(-.5px, 2px) rotate(90deg)
  }
  .wso-table-left thead th {
    padding: 5px!important
  }
  .wso-table-left thead th.replies-column {
    max-width: 40px;
    padding: 5px 0!important
  }
  .wso-table-left thead .comments {
    min-width: 0!important
  }
  .wso-table-left td {
    word-wrap: break-word;
    max-width: 185px;
    padding: 0
  }
  .wso-table-left td:first-child {
    min-width: 0!important;
    padding: 5px!important
  }
  .wso-table-left td.title a,
  .wso-table-left td.views-field-title a,
  .wso-table-left td.views-field-title-with-tooltip a {
    max-height: 43px;
    overflow: hidden;
    font-size: 13px
  }
  .wso-table-left td.replies {
    min-width: 0!important;
    max-width: 50px
  }
  .wso-table-left td.text-center {
    text-align: center;
    padding: 5px!important
  }
  .wso-table-left-center thead th {
    padding: 5px!important
  }
  .wso-table-left-center thead th.replies-column {
    max-width: 40px;
    padding: 5px 0!important
  }
  .wso-table-left-center thead .comments {
    min-width: 0!important
  }
  .wso-table-left-center td {
    word-wrap: break-word;
    max-width: 185px;
    padding: 0
  }
  .wso-table-left-center td:first-child {
    min-width: 0!important;
    padding: 5px!important
  }
  .wso-table-left-center td.title a,
  .wso-table-left-center td.views-field-title a,
  .wso-table-left-center td.views-field-title-with-tooltip a {
    max-height: 43px;
    overflow: hidden;
    font-size: 13px
  }
  .wso-table-left-center td.replies {
    min-width: 0!important;
    max-width: 50px
  }
  .wso-table-left-center td.text-center {
    text-align: center;
    padding: 5px!important
  }
}
@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > thead > tr > th {
    white-space: nowrap;
    max-width: none
  }
}
@media (max-width: 575px) {
  .container .container--wso {
    padding-left: 0;
    padding-right: 0
  }
  body:not(.page-node-edit) .full-width-page .container--alt .container--wso,
  body:not(.page-node-edit).full-width-page .container--alt .container--wso {
    padding-left: 15px;
    padding-right: 15px
  }
}
@media (max-width: 479px) {
  .arrow {
    display: none
  }
  body {
    font-size: 13px
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block!important
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  .wso-table-left td.title a,
  .wso-table-left td.views-field-title a,
  .wso-table-left td.views-field-title-with-tooltip a,
  .wso-table-left-center td.title a,
  .wso-table-left-center td.views-field-title a,
  .wso-table-left-center td.views-field-title-with-tooltip a {
    max-width: 180px
  }
}
@media (min-width: 360px) and (max-width: 399px) {
  .wso-table-left td.title a,
  .wso-table-left td.views-field-title a,
  .wso-table-left td.views-field-title-with-tooltip a,
  .wso-table-left-center td.title a,
  .wso-table-left-center td.views-field-title a,
  .wso-table-left-center td.views-field-title-with-tooltip a {
    max-width: 230px
  }
}
@media (min-width: 400px) and (max-width: 430px) {
  .wso-table-left td.title a,
  .wso-table-left td.views-field-title a,
  .wso-table-left td.views-field-title-with-tooltip a,
  .wso-table-left-center td.title a,
  .wso-table-left-center td.views-field-title a,
  .wso-table-left-center td.views-field-title-with-tooltip a {
    max-width: 250px
  }
}
@media (min-width: 431px) and (max-width: 767px) {
  .wso-table-left td.title a,
  .wso-table-left td.views-field-title a,
  .wso-table-left td.views-field-title-with-tooltip a,
  .wso-table-left-center td.title a,
  .wso-table-left-center td.views-field-title a,
  .wso-table-left-center td.views-field-title-with-tooltip a {
    max-width: 290px
  }
}
/*# sourceMappingURL=styles.css.map */
