@font-face {
  font-family: 'wso-chart-markers';
  src: url('../font/wso-chart-markers.eot?69939206');
  src: url('../font/wso-chart-markers.eot?69939206#iefix') format('embedded-opentype'),
       url('../font/wso-chart-markers.woff2?69939206') format('woff2'),
       url('../font/wso-chart-markers.woff?69939206') format('woff'),
       url('../font/wso-chart-markers.ttf?69939206') format('truetype'),
       url('../font/wso-chart-markers.svg?69939206#wso-chart-markers') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wso-chart-markers';
    src: url('../font/wso-chart-markers.svg?69939206#wso-chart-markers') format('svg');
  }
}
*/
[class^="chart-icon-"]:before, [class*=" chart-icon-"]:before {
  font-family: "wso-chart-markers";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.chart-icon-plus:before { content: '\e800'; } /* '' */
.chart-icon-d3:before { content: '\e801'; } /* '' */
.chart-icon-d2:before { content: '\e802'; } /* '' */
.chart-icon-d1:before { content: '\e803'; } /* '' */
.chart-icon-d4:before { content: '\e804'; } /* '' */
.chart-icon-d10:before { content: '\e805'; } /* '' */
.chart-icon-d9:before { content: '\e806'; } /* '' */
.chart-icon-d8:before { content: '\e807'; } /* '' */
.chart-icon-d7:before { content: '\e808'; } /* '' */
.chart-icon-d6:before { content: '\e809'; } /* '' */
.chart-icon-d5:before { content: '\e80a'; } /* '' */
.chart-icon-square:before { content: '\e80c'; } /* '' */
.chart-icon-rhombus:before { content: '\e80d'; } /* '' */
.chart-icon-star:before { content: '\e80e'; } /* '' */
.chart-icon-rocket:before { content: '\e80f'; } /* '' */
.chart-icon-circle:before { content: '\f111'; } /* '' */
