<!-- .storybook/preview-head.html -->
<!-- https://storybook.js.org/docs/react/configure/story-rendering#adding-to-head -->

<link rel="stylesheet" media="all" href="fonts/fa-custom/css/fa-custom.css" />
<link rel="stylesheet" media="all" href="fonts/Lato/latofonts.css" />
<link rel="stylesheet" media="all" href="/app/css/bootstrap.css" />
<link rel="stylesheet" media="all" href="/app/css/styles.css" />
