@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.countdown-timer-wrapper {
  padding-top: 30px;
  @include media('>=tablet') {
    padding-top: 40px;
  }

  .countdown-timer__text-n-mark {
    @include media('>phone') {
      margin-right: 60px;
    }

    .countdown-timer__icon {
      margin-right: 8px;
      @include media('>=tablet') {
        margin-right: 12px;
      }

      svg {
        vertical-align: text-bottom;
      }
    }

    .countdown-timer__text {
      color: $white;
      font-weight: 500;
      text-align: left;
      letter-spacing: 0.1em;
      vertical-align: top;
    }
  }

  .countdown-timer__counter {
    .counter__item {
      color: $white;
      font-weight: 900;
      text-align: left;
      letter-spacing: 0.1em;

      & + .counter__colon {
        margin: 0 6px;
        vertical-align: top;
      }
    }
  }
}
