{#
/**
  * @file
  * Countdown timer base.
  *
  * @example:
  *
  * {% include '@storybook/02-molecules/countdown-timers/countdown-timer-base/countdown-timer-base.twig' with {
  *     'field_include_description': field_include_description,
  *     'field_icon': field_icon,
  *     'field_offer_expiration_date': field_offer_expiration_date,
  *   }
  * %}
  */
#}

{% set format = format ?? 'full' %}
{% set field_offer_expiration_date = field_offer_expiration_date ?? 'auto' %}

{{ attach_library('porto_sub/countdown-timer-base.component') }}

<div class="countdown-timer-wrapper d-flex flex-sm-row flex-column align-items-center justify-content-between">
  <div class="countdown-timer__text-n-mark d-flex flex-row align-items-center justify-content-start">
    {% if field_icon == 'exclamation' %}
      <div class="countdown-timer__icon icon-exclamation-red">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.16783 8.3335H10.8345V12.5002H9.16783V8.3335ZM9.16699 13.3335H10.8337V15.0002H9.16699V13.3335Z" fill="#F04944"/>
          <path d="M11.4731 3.50023C11.1831 2.9544 10.6181 2.61523 9.99979 2.61523C9.38146 2.61523 8.81646 2.9544 8.52646 3.50107L2.41146 15.0536C2.27577 15.3073 2.20855 15.5919 2.21644 15.8795C2.22433 16.1671 2.30706 16.4477 2.45646 16.6936C2.60371 16.9406 2.81283 17.1449 3.06317 17.2863C3.31351 17.4278 3.59642 17.5015 3.88396 17.5002H16.1156C16.7056 17.5002 17.2398 17.1986 17.544 16.6936C17.6931 16.4476 17.7757 16.1671 17.7836 15.8795C17.7915 15.592 17.7244 15.3073 17.589 15.0536L11.4731 3.50023ZM3.88396 15.8336L9.99979 4.28107L16.1198 15.8336H3.88396Z" fill="#F04944"/>
        </svg>
      </div>
    {% endif %}

    <div class="countdown-timer__text font-lg">
      {{ field_label ?? 'Offer expires in:'|t }}
    </div>
  </div>

  <div class="countdown-timer__counter" data-timestamp="{{ field_offer_expiration_date }}" data-fromat="{{ format }}">
    {% if format == 'days' %}
      <span class="counter__item counter__days-hours">0 days</span>
    {% else %}
      <span class="counter__item counter__days font-lg">0d</span>
      <span class="counter__item counter__colon">:</span>
      <span class="counter__item counter__hours font-lg">0h</span>
      <span class="counter__item counter__colon">:</span>
      <span class="counter__item counter__minutes font-lg">0m</span>
      <span class="counter__item counter__colon">:</span>
      <span class="counter__item counter__seconds font-lg">0s</span>
    {% endif %}
  </div>
</div>
