.countdown-timer-wrapper {
  padding-top: 30px
}
.countdown-timer-wrapper .countdown-timer__text-n-mark .countdown-timer__icon {
  margin-right: 8px
}
.countdown-timer-wrapper .countdown-timer__text-n-mark .countdown-timer__icon svg {
  vertical-align: text-bottom
}
.countdown-timer-wrapper .countdown-timer__text-n-mark .countdown-timer__text {
  color: #fff;
  font-weight: 500;
  text-align: left;
  letter-spacing: .1em;
  vertical-align: top
}
.countdown-timer-wrapper .countdown-timer__counter .counter__item {
  color: #fff;
  font-weight: 900;
  text-align: left;
  letter-spacing: .1em
}
.countdown-timer-wrapper .countdown-timer__counter .counter__item + .counter__colon {
  margin: 0 6px;
  vertical-align: top
}
@media (min-width: 577px) {
  .countdown-timer-wrapper .countdown-timer__text-n-mark {
    margin-right: 60px
  }
}
@media (min-width: 768px) {
  .countdown-timer-wrapper {
    padding-top: 40px
  }
  .countdown-timer-wrapper .countdown-timer__text-n-mark .countdown-timer__icon {
    margin-right: 12px
  }
}
/*# sourceMappingURL=countdown-timer-base.component.css.map */
