@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

@import "../list-with-courses/product-course";

.paragraph--type--vertical-tabs-with-entity-cards {
  background-color: var(--color-neutral-0);

  .bs-dropdown-as-select {
    .btn {
      border: 1px solid $color-blue;
      font-weight: 600;
      color: $color-blue;
      background-color: var(--color-neutral-0);

      &:after {
        display: inline-block;
        font-family: 'fa-custom';
        content: '\f078';
        border: 0;
        margin-left: 10px;
      }
    }
  }

  .nav-pills {
    @include media('>=desktop') {
      padding-right: 80px;
    }

    .nav-link {
      border: $card-border;
      box-shadow: $card-box-shadow;
      margin-bottom: 20px;
      border-radius: 3px;
      padding: 1rem;
      text-align: left;

      &:hover {
        border-color: $color-blue;
      }
    }
  }

  .tab-content {
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;

    .field-name-field-cta {
      margin-top: 20px;
      margin-bottom: 90px;

      a:after {
        content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
        display: inline-block;
      }
    }
  }
}

.paragraph--type--entity-cards {
  margin-bottom: 60px;

  .field-name-field-paragraph-title {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 24px;
    letter-spacing: .15px;
    line-height: 1.33;
    margin: 20px 0;
  }

  .paragraph-header {
    .field--type-link a {
      text-transform: capitalize;

      &:after {
        content: '\e807';
        display: inline-block;
        font-family: 'fa-custom';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-left: 10px;
      }
    }
  }

  .field-name-field-paragraph-text {
    margin-bottom: 20px;
  }

  .field-name-field-entity {
    @include media('>=desktop') {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }

    > .field--item {
      margin-bottom: 25px;

      @include media('>=desktop') {
        width: 50%;

        &:nth-child(odd) {
          padding-right: 10px;
        }

        &:nth-child(even) {
          padding-left: 10px;
        }
      }
    }
  }

  // .product-course--teaser
  .product-course--teaser  {
    .product-course__container {
      box-sizing: border-box;
      border-radius: 3px;
      border: $card-border;
      box-shadow: $card-box-shadow;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .product-course {
    @include media('>=tablet') {
      height: 100%;
    }

    .field-name-field-course-subtitle {
      display: none;
    }

    &__teaser-text {
      .field--item {
        @include media('>=desktop') {
          width: 100%;
        }
      }

      ul {
        li {
          line-height: 1.2;
          margin: 4px 0!important;
        }
      }
    }

    .field-name-field-course-cover-image {
      width: 130px;
      min-width: 130px;
      background: transparent;

      .field-items {
        width: calc(100% - 40px);
        left: 20px;
      }
    }

    .product-course__body {
      padding: 20px 24px 10px 0;
    }

    &__links {
      &.product-course__links {
        &--large-button {
          .field {
            a {
              padding: 0 10px;
            }
          }
        }
      }

      .field-name-field-info-link {
        a {
          font-weight: 600;
          font-size: 14px;
          color: #3F4145;
          border-color: #3F4145;
        }
      }
    }
  }

  .company-teaser-card {
    background: var(--color-neutral-0);
    border: $card-border;
    box-sizing: border-box;
    box-shadow: $card-box-shadow;
    border-radius: 3px;
    padding: 20px;
    color: var(--color-base);
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: none;
    }

    .field-name-field-company-logo {
      width: 180px;
      max-height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
      }
    }

    .company-stats {
      font-weight: normal;
      font-size: 14px;

      .icon {
        color: $color-blue;
        width: 15px;

        &.icon-dollar {
          color: $color-yellow;
        }
      }
    }
  }
}
