//@import "./components/common-styles/helpers/colors";
//@import "./components/common-styles/helpers/mixins";

.page-faq {
  #header {
    box-shadow: 0 1px 1px 0 var(--color-neutral-3);
  }

  .main {
    margin-top: 1px;
  }

  #drupal_tabs {
    display: none;
  }

  .highlighter {
    background: $color-yellow;
  }
}

.faq__header {
  box-shadow: 0 1px 1px 0 var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  margin-bottom: 30px;

  h1 {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 32px;
    letter-spacing: .2px;
    text-align: center;
  }

  h2 {
    color: var(--color-neutral-7);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.56;
    text-align: center;

    a {
      &,
      &:visited {
        color: var(--color-neutral-0);
      }
    }
  }
}

.faq__header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 268px;
  padding: 50px 20px 20px 20px;
}

.view-faq {
  section {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 50px;
    }

    h4 {
      @include responsive-prop(700, 800, font-weight);
      color: var(--color-base);
      font-size: 24px;
      letter-spacing: .2px;
      line-height: 60px;
    }
  }

  .panel {
    border: 0;
    margin-bottom: 10px;

    .panel-heading {
      padding: 10px 15px;
      box-shadow: 0 1px 2px 0 var(--color-neutral-3);
      background-color: var(--color-neutral-0);
      border-radius: 3px;
      border: 0;

      &:hover {
        box-shadow: none;
      }

      .panel-title {
        a {
          color: var(--color-base);
          display: flex;
          flex: 1;
          font-size: 16px;
          font-weight: 500;
          justify-content: space-between;
          letter-spacing: .1px;
          line-height: 1.25;
          padding: 0;
        }

        .btn {
          padding: 5px 10px;
          color: var(--color-neutral-0);
          font-size: 11px;
          line-height: 11px;
          height: 24px;
          text-transform: uppercase;

          .icon {
            font-size: 13px;
          }

          &.panel-actions-close {
            display: none;
          }
        }
      }
    }

    &:hover {
      box-shadow: none;
    }

    .panel-actions-edit {
      margin-left: 10px;
    }
  }

  .panel-title {
    display: flex;

    .panel-actions-view {
      margin-left: 20px;
    }
  }

  .panel-opened {
    .panel-heading {
      .panel-title {
        .btn {
          &.panel-actions-view {
            display: none;
          }

          &.panel-actions-close {
            display: inline-block;
          }
        }
      }
    }
  }
}

#faq-search {
  max-width: 720px;
  width: 100%;

  .form-group {
    position: relative;
  }

  .btn {
    position: absolute;
    left: 10px;
    top: 50%;
    background: transparent;
    font-size: 18px;
    transform: translateY(-50%);

    &:hover {
      border-color: transparent;
    }

    &:active {
      border-color: transparent;
    }

    &:focus {
      border-color: transparent;
    }
  }

  input[type=text] {
    @include responsive-prop(700, 800, font-weight);
    height: 56px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 var(--color-neutral-3);
    border: solid 1px var(--color-neutral-4);
    background-color: var(--color-neutral-0);
    padding-left: 55px;
    padding-top: 8px;
    font-size: 16px;

    @include placeholder {
      color: var(--color-neutral-7);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 1.25;
      opacity: .6;
    }
  }
}

#scroll2top {
  position: fixed;
  bottom: 60px;
  right: 10px;
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, .4);
  width: 35px;
  height: 35px;
  border-radius: 3px;
  opacity: .6;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
  z-index: 99;

  .icon {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
  }
}

@include media('>=tablet') {
  .faq__header {
    margin-bottom: 50px;

    h1 {
      font-size: 40px;
    }
  }

  .view-faq {
    section {
      &:last-child {
        margin-bottom: 100px;
      }
    }

    .panel {
      .panel-heading {
        padding: 20px 25px;
      }
    }

    .panel-body {
      font-size: 16px;
      padding: 40px;
    }
  }
}

@include media('>=desktop') {
  #faq-navigation {
    &.position--sticky {
      position: fixed;
    }
  }
}
