.entity-paragraphs-item {
  margin-bottom: 30px;
  display: block;

  &:not([class*="col-"]) {
    width: 100%;
  }

  &.color-inverse {
    color: #fafafa;
  }

  &.paragraph--unpublished {
    opacity: 0.5;
  }

  .field-type-text-with-summary,
  .field-type-text {
    text-align: justify;
  }

  .print-version & {
    &.page-break--before {
      page-break-before: always;
    }

    &.page-break--after {
      page-break-after: always;
    }

    .hidden--print {
      display: none !important;
    }
  }

  iframe {
    max-width: 100%;
  }

  form label.error {
    display: none !important;
  }
}
