// Layouts Admin area.
.layout-paragraphs-add-more-menu__item {
  &.paragraph-type-two_columns,
  &.paragraph-type-flexible {
    display: none;
  }
}

.layout-paragraphs-field .layout-select {
  .layout-select__item {
    margin-top: 0;
  }

  .control-label {
    flex-direction: column;

    &:before,
    &:after {
      display: none;
    }
  }

  .layout-select__item-title {
    white-space: normal;
    text-align: center;
  }
}

// 2-col.
.layout--twocol {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 768px) {
  .layout--twocol > .layout__region--first,
  .layout--twocol > .layout__region--second {
    flex: 0 1 50%;
  }

  .with-gaps .layout--twocol > {
    .layout__region--first {
      padding-right: 15px;
    }

    .layout__region--second {
      padding-left: 15px;
    }
  }

  .reverse-order .layout--twocol {
    flex-direction: row-reverse;
  }

  .reverse-order.with-gaps .layout--twocol > {
    .layout__region--first {
      padding-left: 15px;
      padding-right: 0;
    }

    .layout__region--second {
      padding-right: 15px;
      padding-left: 0;
    }
  }

  .grid-25 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 6;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 18;
    }
  }

  .grid-33 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 8;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 16;
    }
  }

  .grid-37_5 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 9;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 15;
    }
  }

  .grid-41_6 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 10;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 14;
    }
  }

  .grid-45_8 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 11;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 13;
    }
  }

  .grid-54_2 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 13;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 11;
    }
  }

  .grid-58_3 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 14;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 10;
    }
  }

  .grid-62_5 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 15;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 9;
    }
  }

  .grid-66 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 16;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 8;
    }
  }

  .grid-75 .layout--twocol > {
    .layout__region--first {
      flex: 0 1 calc(100% / 24) * 18;
    }
    .layout__region--second {
      flex: 0 1 calc(100% / 24) * 6;
    }
  }
}

.layout--twocol-bricks {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-bricks > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 768px) {
  .layout--twocol-bricks > .layout__region--first-above,
  .layout--twocol-bricks > .layout__region--second-above,
  .layout--twocol-bricks > .layout__region--first-below,
  .layout--twocol-bricks > .layout__region--second-below {
    flex: 0 1 50%;
  }

  .with-gaps .layout--twocol-bricks > .layout__region--first-above,
  .with-gaps .layout--twocol-bricks > .layout__region--first-below {
    padding-right: 15px;
  }

  .with-gaps .layout--twocol-bricks > .layout__region--second-above,
  .with-gaps .layout--twocol-bricks > .layout__region--second-below {
    padding-left: 15px;
  }
}

.layout--threecol-25-50-25 {
  display: flex;
  flex-wrap: wrap;
}

.layout--threecol-25-50-25 > .layout__region,
.layout--threecol-25-50-25 > .layout__region--second {
  flex: 0 1 100%;
}

@media screen and (min-width: 992px) {
  .layout--threecol-25-50-25 > .layout__region--first,
  .layout--threecol-25-50-25 > .layout__region--third {
    flex: 0 1 25%;
  }

  .layout--threecol-25-50-25 > .layout__region--second {
    flex: 0 1 50%;
  }

  .with-gaps .layout--threecol-25-50-25 > .layout__region--first {
    padding-right: 15px;
  }

  .with-gaps .layout--threecol-25-50-25 > .layout__region--second {
    padding-left: 15px;
    padding-right: 15px;
  }

  .with-gaps .layout--threecol-25-50-25 > .layout__region--third {
    padding-right: 15px;
  }
}


.layout--threecol-33-34-33 {
  display: flex;
  flex-wrap: wrap;
}

.layout--threecol-33-34-33 > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 992px) {
  .layout--threecol-33-34-33 > .layout__region--first,
  .layout--threecol-33-34-33 > .layout__region--third {
    flex: 0 1 33%;
  }
  .layout--threecol-33-34-33 > .layout__region--second {
    flex: 0 1 34%;
  }

  .with-gaps .layout--threecol-33-34-33 > .layout__region--first {
    padding-right: 15px;
  }

  .with-gaps .layout--threecol-33-34-33 > .layout__region--second {
    padding-left: 15px;
    padding-right: 15px;
  }

  .with-gaps .layout--threecol-33-34-33 > .layout__region--third {
    padding-right: 15px;
  }
}
