@import "common";
@import "types/image";
@import "types/paragraphs-in-block";
@import "types/pdf";
@import "types/rich-text";
@import "types/side-by-side";
@import "wso-paragraph-title/paragraph.wsop-title.component";
@import "types/video";
//@import "two-columns/two-columns";
@import "layouts";
//@import "types/wide-low-jumbotron";
//@import "types/services-block";

body:not(.page-node-edit) {
  &.with-paragraphs {
    .node.well {
      padding: 0;
      background: transparent;
      margin: 0;

      &.well--white {
        background-color: var(--color-neutral-0);
        margin-bottom: 24px;
        padding: 8px 24px 16px;

        // Override default styles.
        @media (max-width: 559px) {
          padding: 8px 24px 16px !important;
        }
      }
    }
  }
}
