@import "common";
@import "types/image";
@import "types/paragraphs-in-block";
@import "types/pdf";
@import "types/rich-text";
@import "types/side-by-side";
@import "types/video";
@import "types/services-block";
@import "types/resourses-block";
@import "types/list-with-cards";
@import "types/cards";
@import "types/feedback-cards";
@import "types/module";
@import "types/module-bonus-item";
@import "types/flexible";
@import "types/collapsible-sm";
@import "types/customers-logos";
@import "types/video-grid";
@import "types/team-list";
@import "types/editorial-board";
@import "types/webform";
@import "types/list-of-bootcamps-events";
@import "types/cpe-credits";
@import "types/carousel";
@import "types/carousels-list";
@import "types/message-from-seo";
@import "types/person-card";
@import "types/audio";
@import "types/custom-review-list";
@import "types/attachments";
@import "types/drupal-block";
@import "types/tabs";
@import "types/review-list";
@import "./components/03-organisms/block/faq/faq.component";
@import "layouts";

body:not(.page-node-edit) {
  &.with-paragraphs {
    .node.well {
      padding: 0;
      background: transparent;
      margin: 0;

      &.well--white {
        background-color: var(--color-neutral-0);
        margin-bottom: 24px;
        padding: 8px 24px 16px;

        // Override default styles.
        @media (max-width: 559px) {
          padding: 8px 24px 16px !important;
        }
      }
    }
  }
}
