%fivestar-md {
  $h: 27px;

  .br-widget {
    height: $h;

    a {
      width: $h - 3;
      height: $h;

      &:after {
        font-size: $h;
        line-height: $h;
      }
    }
  }
}

.votingapi-widgets {
  margin-bottom: 0;

  &.fivestar {
    .br-widget {
      height: 18px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;

      a {
        margin: 0;
        display: inline-block;

        &.br-selected {
          &:after {
            color: $color-blue;
          }
        }

        &:after {
          font-size: 20px;
          display: inline-block;
          vertical-align: top;
          line-height: 18px;
        }
      }
    }
  }
}
