@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

// Base styling.
.paragraph--type--unlimited-access-with-pay-option {
  .unlimited-access__content.unlimited-access__content-widget {
    .unlimited-access__details {
      width: 100%;

      .details__group {
        .details__prices {
          margin-bottom: 8px;

          .unlimited-access__pay {
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0;
            margin-right: 6px;
          }
          .unlimited-access__full_price {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0;
            text-decoration: line-through black 1px;
          }
        }
        .details__action {
          position: relative;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0;
          cursor: pointer;
          user-select: none;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: -13px;
            width: 8px;
            height: 16px;
            margin-left: 8px;
            background-image: url("./assets/arrow-down.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
          }

          &.active {
            &::after {
              transform: rotate(180deg);
            }
          }
        }
      }

      .unlimited-access__sale {
        padding: 0 16px;
        background-color: $color-green;
        border-radius: 50px;

        .field {
          color: $color-white-100;
          font-weight: 800;
          font-size: 14px;
          line-height: 37px;
          text-align: center;
          letter-spacing: 0.02em;
          vertical-align: center;
        }
      }
    }

    .unlimited-access__options {
      height: auto;
      width: 100%;
      margin-top: 20px;
      transition: all 0.5s ease;

      &.hidden {
        height: 0;
      }

      .unlimited-access__option_link {
        width: 100%;
      }
      .unlimited-access__option_item {
        border-radius: 8px;
        border: 1px solid $color-dark-10;
        box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.1);

        width: 100%;
        padding: 20px 15px 17px 15px;
        cursor: pointer;

        .option_label {
          input {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }

          @include media('>=tablet') {
            color: $color-dark-100;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0;
            text-align: left;
          }
        }
        .option_value .field {
          @include media('>=tablet') {
            color: $color-dark-100;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0;
            text-align: left;
          }
        }
      }
    }

    .unlimited-access__enroll-until-expire {
      width: 100%;

      .unlimited-access__countdown_timer {
        margin-bottom: 20px;
      }
      .unlimited-access__enroll {
        a {
          height: 54px;
          width: 100%;
          max-width: 100%;

          @include media('>=tablet') {
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
