.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details {
  width: 100%
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details .details__group .details__prices {
  margin-bottom: 8px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details .details__group .details__prices .unlimited-access__pay {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin-right: 6px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details .details__group .details__prices .unlimited-access__full_price {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-decoration: line-through #000 1px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details .details__group .details__action {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  cursor: pointer;
  user-select: none
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details .details__group .details__action::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -13px;
  width: 8px;
  height: 16px;
  margin-left: 8px;
  background-image: url(assets/arrow-down.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details .details__group .details__action.active::after {
  transform: rotate(180deg)
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details .unlimited-access__sale {
  padding: 0 16px;
  background-color: #08c42a;
  border-radius: 50px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__details .unlimited-access__sale .field {
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  letter-spacing: .02em;
  vertical-align: center
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__options {
  height: auto;
  width: 100%;
  margin-top: 20px;
  transition: .5s
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__options.hidden {
  height: 0
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__options .unlimited-access__option_link {
  width: 100%
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__options .unlimited-access__option_item {
  border-radius: 8px;
  border: 1px solid rgba(47, 47, 47, .1);
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, .1);
  width: 100%;
  padding: 20px 15px 17px;
  cursor: pointer
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__options .unlimited-access__option_item .option_label input {
  width: 20px;
  height: 20px;
  margin-right: 10px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__enroll-until-expire {
  width: 100%
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__enroll-until-expire .unlimited-access__countdown_timer {
  margin-bottom: 20px
}
.paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__enroll-until-expire .unlimited-access__enroll a {
  height: 54px;
  width: 100%;
  max-width: 100%
}
@media (min-width: 768px) {
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__options .unlimited-access__option_item .option_label {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__options .unlimited-access__option_item .option_value .field {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left
  }
  .paragraph--type--unlimited-access-with-pay-option .unlimited-access__content.unlimited-access__content-widget .unlimited-access__enroll-until-expire .unlimited-access__enroll a {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center
  }
}
/*# sourceMappingURL=paragraph.widget-unlimited-access-with-pay-option.component.css.map */
