{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}

{%
  set classes = [
  'entity',
  'entity-paragraphs-item',
  'paragraphs-item-' ~ paragraph.bundle|clean_class,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  extra_class
]
%}

{{ attach_library('porto_sub/paragraph.widget-unlimited-access-with-pay-option.component') }}

{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="unlimited-access__content unlimited-access__content-widget">
        <div class="d-flex flex-column justify-content-start align-items-start">

          <div class="unlimited-access__details d-flex flex-row justify-content-between align-items-start">
            <div class="details__group d-flex flex-column justify-content-start align-items-start">
              <div class="details__prices d-flex justify-content-start align-items-end">
                <div class="unlimited-access__pay">
                  {{ field_single_pay }}
                </div>
                <div class="unlimited-access__full_price">
                  {{ field_full_price }}
                </div>
              </div>

              <div class="details__action">
                {{ 'Value & Payment options'|t }}
              </div>
            </div>

            <div class="unlimited-access__sale">
              {{ field_sale }}
            </div>
          </div>

          <div class="unlimited-access__options hidden d-flex flex-column justify-content-start align-items-start">
            {% if field_single_pay %}
              <a class="unlimited-access__option_link use-ajax braintree-modal" href="{{ field_cta[0]['#url']|render }}" data-dialog-type="modal" data-dialog-options='{"width":480,"classes":{"ui-dialog":"wso-braintree-dialog"}}'>
                <div class="unlimited-access__option_item option_item__pay_once d-flex justify-content-between align-items-center">
                  <div class="option_label d-flex align-items-center">
                    <input type="radio" checked="checked" readonly="readonly">
                    {{ 'Pay once'|t }}
                  </div>
                  <div class="option_value">{{ field_single_pay }}</div>
                </div>
              </a>
            {% endif %}

            {% if field_split_pay %}
              <a class="unlimited-access__option_link use-ajax braintree-modal" href="{{ field_cta[0]['#url']|render ~ '?split-pay=1' }}"  data-dialog-type="modal" data-dialog-options='{"width":480,"classes":{"ui-dialog":"wso-braintree-dialog"}}'>
                <div class="unlimited-access__option_item option_item__split_pay d-flex justify-content-between align-items-center mt-2">
                  <div class="option_label d-flex align-items-center">
                    <input type="radio" readonly="readonly">
                    {{ '3 monthly payments'|t }}
                  </div>
                  <div class="option_value">{{ field_split_pay }}</div>
                </div>
              </a>
            {% endif %}
          </div>

          <div class="unlimited-access__enroll-until-expire">
            {% if field_countdown_to_next_friday or field_offer_expiration_date %}
              <div class="unlimited-access__countdown_timer">
                {% include '@storybook/02-molecules/countdown-timers/countdown-timer-base/countdown-timer-base.twig' with {
                    'field_icon': 'exclamation',
                    'field_offer_expiration_date': field_offer_expiration_date,
                  }
                %}
              </div>
            {% endif %}

            {% if field_cta %}
              <div class="unlimited-access__enroll">
                {% include '@storybook/01-atoms/style-guide-2023/button/button.twig' with {
                    'field': field_cta,
                    'btnClasses': 'btn--primary-xlg',
                } %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
