#vbo-action-form-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .form-type-select  {
    flex: 1;
  }

  label.control-label,
  details.vbo-multipage-selector,
  .form-item-select-all {
    display: none;
  }

  .form-group {
    margin: 0;
  }

  input[type=submit] {
    @extend %btn, .btn-success;
    @extend %btn, .btn-sm;
    margin-left: 15px;
    width: auto;
    height: 38px;
    margin-top: 4px;
  }
}

.views-field-views-bulk-operations-bulk-form {
  input[type="checkbox"],
  input[type="radio"] {
    opacity: 1;
    width: 13px;
    height: 13px;
  }
}
