.views-field.views-field-field-job-type:last-child {
  width: 190px
}
.view-jobs .views-field.views-field-nothing {
  width: 135px
}
.view-jobs .views-field.views-field-title:first-child {
  width: 300px
}
.view-course-feedbacks a.tabledrag-handle .handle {
  height: auto;
  width: auto
}
/*# sourceMappingURL=view.component.css.map */
