@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

#user-stats {
  background-attachment: fixed;
  background-color: var(--color-base);
  background-image: url("/themes/custom/porto_sub/images/home/beach-isle.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 260px;

  .container.stats {
    padding: 15px;
  }

  .row {
    width: 100%;
  }

  a {
    color: var(--color-neutral-0);

    &:hover {
      opacity: .8;
      text-decoration: none;
    }

    &:focus {
      opacity: .8;
      text-decoration: none;
    }
  }

  h3 {
    color: var(--color-neutral-0);
    font-size: 3.2em;
    font-weight: 600;
    line-height: 1;
    margin: 0;

    .darkmode & {
      color: var(--color-base);
    }

    @include media('>=desktop', '<large-desktop') {
      font-size: 40px;
    }

    &:after {
      content: '';
      display: block;
      border: 2px solid var(--color-neutral-0);
      height: 3px;
      margin: 20px auto 15px;
      text-align: center;
      width: 60px;
    }
  }

  p {
    color: var(--color-neutral-0);
    font-size: 18px;
    font-weight: 300;
    margin: 0;
  }
}
