#user-stats {
  background-attachment: fixed;
  background-color: var(--color-base);
  background-image: url(/themes/custom/porto_sub/images/home/beach-isle.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 260px
}
#user-stats .container.stats {
  padding: 15px
}
#user-stats .row {
  width: 100%
}
#user-stats a {
  color: var(--color-neutral-0)
}
#user-stats a:focus,
#user-stats a:hover {
  opacity: .8;
  text-decoration: none
}
#user-stats h3 {
  color: var(--color-neutral-0);
  font-size: 3.2em;
  font-weight: 600;
  line-height: 1;
  margin: 0
}
.darkmode #user-stats h3 {
  color: var(--color-base)
}
#user-stats h3:after {
  content: "";
  display: block;
  border: 2px solid var(--color-neutral-0);
  height: 3px;
  margin: 20px auto 15px;
  text-align: center;
  width: 60px
}
#user-stats p {
  color: var(--color-neutral-0);
  font-size: 18px;
  font-weight: 300;
  margin: 0
}
@media (min-width: 992px) and (max-width: 1199px) {
  #user-stats h3 {
    font-size: 40px
  }
}
/*# sourceMappingURL=paragraph.site-stats.component.css.map */
