ul.cke_autocomplete_panel {
  width: 300px
}
ul.cke_autocomplete_panel li {
  display: flex;
  align-items: center
}
ul.cke_autocomplete_panel li.cke_autocomplete_selected,
ul.cke_autocomplete_panel li:focus,
ul.cke_autocomplete_panel li:hover {
  background-color: #087dfd;
  color: var(--color-neutral-0)
}
ul.cke_autocomplete_panel .photo {
  border-radius: 50%;
  margin-right: 5px;
  width: 25px;
  height: 25px
}
ul.cke_autocomplete_panel .ckeditor-mentions {
  display: block;
  padding-left: 5px
}
/*# sourceMappingURL=wso-mentions.component.css.map */
