@import "./components/common-styles/helpers/colors";

ul.cke_autocomplete_panel {
  width: 300px;

  li {
    display: flex;
    align-items: center;

    &.cke_autocomplete_selected,
    &:hover,
    &:focus {
      background-color: $color-blue;
      color: var(--color-neutral-0);
    }
  }

  .photo {
    border-radius: 50%;
    margin-right: 5px;
    width: 25px;
    height: 25px;
  }

  .ckeditor-mentions {
    display: block;
    padding-left: 5px;
  }
}
