#header {
  background: var(--color-neutral-0) none repeat scroll 0 0;
  border-top: inherit;
  min-height: inherit!important;
  top: 0;
  z-index: 1001;
  position: sticky;
  transition: top .5s ease-in-out
}
#header > .container {
  border-bottom: 1px solid var(--color-neutral-4)
}
.darkmode #header > .container {
  border-bottom: 1px solid var(--color-neutral-3)
}
#header .separator {
  background-color: var(--color-neutral-2);
  background-image: linear-gradient(var(--color-neutral-2) 60%, #ededed);
  display: inline-block;
  height: 100%;
  margin: 0 12px;
  vertical-align: middle;
  width: 2px
}
#header .forum_course__only_mobile.dropdown {
  display: none
}
.nav__forum .content {
  display: flex;
  padding-top: 1px
}
.header__forum-options__block {
  font-size: 13px;
  font-weight: 700;
  width: 100%;
  transition: width .3s
}
.header__forum-options__block .dropdown-toggle {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base)
}
.header__forum-options__block .dropdown-toggle > span {
  display: inline-flex;
  align-items: center
}
.header__forum-options__block .dropdown-toggle .icon {
  margin-right: 10px;
  font-size: 12px;
  color: #087dfd
}
.header__forum-options__block .dropdown-toggle a {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-base)
}
.header__forum-options__block .dropdown-toggle a i {
  margin-right: 10px;
  color: #189eda
}
.header__forum-options__block .dropdown-toggle .dropdown-toggle-text {
  max-width: calc(100% - 20px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.header__forum-options__block .dropdown-toggle .caret {
  border: 0;
  min-width: 16px;
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 20px
}
.header__forum-options__block .dropdown-toggle .caret:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-3)
}
.header__forum-options__block .dropdown-toggle .caret:after {
  font-family: fa-custom;
  content: "\e808";
  font-size: 9px;
  color: var(--color-base);
  display: inline-block;
  transform: rotate(-90deg);
  position: absolute;
  top: 3px;
  left: 5px
}
.header__forum-options__block .dropdown-toggle:after {
  display: none
}
.header__forum-options__block .dropdown-menu {
  column-count: 1;
  column-gap: initial;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base)
}
.header__forum-options__block .dropdown-menu > li {
  font-size: 13px;
  line-height: 1.23
}
.header__forum-options__block .dropdown-menu > li:last-child {
  border-bottom: 0
}
.header__forum-options__block .dropdown-menu > li > a {
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 16px;
  color: var(--color-base)
}
.header__forum-options__block .dropdown-menu > li > a:hover {
  text-decoration: none;
  background: var(--color-neutral-2)
}
.header__forum-options__block .dropdown-menu > li > a.dropdown__option_noicon {
  padding: 12px 10px 12px 16px
}
.header__forum-options__block .dropdown-menu > li > a i {
  margin-right: 10px
}
.header__forum-options__block.open .dropdown-toggle {
  box-shadow: none;
  border-color: var(--color-neutral-5)
}
.header__forum-options__block.open .dropdown-toggle .caret:after {
  color: #189eda;
  transform: rotate(90deg);
  top: 2px;
  left: 4px
}
.header__forum-options__block .dropdown-toggle {
  width: 100%;
  transition: width .3s;
  position: relative;
  box-shadow: none!important;
  outline: 0;
  background: var(--color-neutral-0);
  text-align: left!important;
  padding: 0!important;
  height: 36px;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0)
}
.header__forum-options__block .dropdown-toggle span.caret {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%)
}
.header__forum-options__block .forum__dropdown_option {
  position: relative;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .2px;
  color: var(--color-base);
  padding: 10px 10px 10px 16px;
  width: 100%
}
.header__forum-options__block .forum__dropdown_option:hover,
.header__forum-options__block .forum__dropdown_option:hover i {
  color: #087dfd
}
.header__forum-options__block .forum__dropdown_option.dropdown__option_noicon {
  padding: 10px 10px 10px 16px
}
.header__forum-options__block .dropdown-menu {
  background: 0 0!important;
  width: 100%;
  column-count: auto;
  column-gap: initial;
  border-radius: 0 0 4px 4px;
  margin: 0;
  padding: 0;
  border-top: 0
}
.header__forum-options__block .dropdown-menu li:last-child {
  border: none!important
}
.header__forum-options__block .dropdown-menu li .forum__dropdown__submenu {
  border-top: 0
}
.header__forum-options__block .dropdown-menu i {
  display: inline-block
}
.header__forum-options__block .forum__dropdown__submenu {
  border: none;
  box-shadow: none;
  display: block;
  height: 100%;
  max-height: 100%;
  position: relative;
  background: 0 0
}
.header__forum-options__block .forum__dropdown__submenu h3 {
  border-bottom: 1px solid var(--color-neutral-2);
  color: var(--color-neutral-5);
  font-size: 13px;
  letter-spacing: .4px;
  line-height: 1;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  font-weight: normal;
  text-transform: uppercase
}
.header__forum-options__block .icon {
  color: var(--color-base);
  font-size: 16px;
  margin-right: 12px;
  text-align: center;
  width: 15px
}
.header__forum-options__block .forum-option__link {
  padding: 5px 8.5px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 8px
}
.header__forum-options__block .forum-option__link.active,
.header__forum-options__block .forum-option__link:hover {
  background: var(--color-neutral-2)
}
.header__forum-options__block.open .forum__dropdown,
.header__forum-options__block:hover .forum__dropdown {
  border-bottom: none;
  border-color: var(--color-neutral-5);
  box-shadow: 0 0 12px rgba(0, 0, 0, .175)!important;
  border-radius: 3px 3px 0 0
}
.header__forum-options__block.open .forum__dropdown a,
.header__forum-options__block:hover .forum__dropdown a {
  color: #087dfd
}
.header__forum-options__block.open .forum__dropdown .caret,
.header__forum-options__block:hover .forum__dropdown .caret {
  border-top: none;
  color: #087dfd
}
.header__forum-options__block:hover > .dropdown-menu {
  margin-top: 3px;
  display: block!important
}
.header__search {
  width: 100%
}
.header__search.collapsing,
.header__search.show {
  display: block!important;
  min-height: 38px;
  padding-bottom: 10px
}
.header__search form {
  padding: 8px 15px
}
.header__search form .form--inline {
  position: relative
}
.header__search input[type=text] {
  font-size: 14px;
  height: 36px;
  background: var(--color-neutral-1)!important;
  border-color: var(--color-neutral-3);
  box-shadow: none;
  border-radius: 4px!important;
  margin-top: 0;
  width: 100%
}
.header__search input[type=text]::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--color-monkey-grey)
}
.header__search input[type=text]:-moz-placeholder {
  font-size: 14px;
  color: var(--color-monkey-grey)
}
.header__search input[type=text]::-moz-placeholder {
  font-size: 14px;
  color: var(--color-monkey-grey)
}
.header__search input[type=text]:-ms-input-placeholder {
  font-size: 14px;
  color: var(--color-monkey-grey)
}
.header__search .form-actions {
  position: absolute;
  right: 0;
  top: 0;
  display: block
}
.header__search .form-actions input,
.header__search .form-actions:after {
  position: absolute;
  right: 0;
  top: 0
}
.header__search .form-actions input {
  opacity: 0
}
.header__search .form-actions:after {
  content: "\e829";
  display: inline-block;
  font: 14px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  right: 12px;
  top: 10px;
  color: #0a4059;
  pointer-events: none
}
.header__search .icon {
  color: var(--color-neutral-6)
}
body.header-menu--opened,
body.mobile-forum-menu-from-bottom {
  overflow: hidden
}
.header-menu--opened #header button[aria-expanded=false] {
  opacity: 0
}
@media (min-width: 992px) {
  #header {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05)
  }
  .darkmode #header {
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .05)
  }
  #header > .container {
    border-bottom: none
  }
  .header__forum-options__block {
    width: 180px
  }
  .header__forum-options__block .forum__dropdown_option {
    font-weight: 800
  }
  .header__forum-options__block .dropdown-menu {
    background: var(--color-neutral-0)!important
  }
  .header__forum-options__block:hover > .dropdown-menu {
    max-height: calc(100vh - 100px);
    overflow: auto;
    width: 220px
  }
  .authorize__links {
    align-items: center;
    display: flex;
    height: 48px;
    transform: translateX(3px)
  }
  .authorize__link,
  .btn.authorize__link {
    font-weight: 700;
    text-transform: uppercase
  }
  .authorize__link__login {
    color: #087dfd;
    margin-right: 16px
  }
  .authorize__link__signup {
    padding: 7px 14px
  }
  .header__search {
    max-width: 210px;
    margin-left: 6px
  }
  .header__search form {
    padding: 0
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .authorize__link,
  .btn.authorize__link {
    font-weight: 800
  }
}
@media (min-width: 1024px) {
  .header__forum-options__block {
    width: 200px
  }
}
@media (min-width: 1200px) {
  #header > .container {
    max-width: 1170px
  }
}
@media (max-width: 991px) {
  #header {
    min-height: inherit
  }
  #header > .container {
    height: inherit;
    padding: 0;
    margin-bottom: 0;
    max-width: 1170px
  }
  #header .dropdown-menu {
    column-count: initial;
    column-gap: initial
  }
  #header .forum_course__only_mobile.dropdown {
    display: block
  }
  .header__forum-options__block .forum__dropdown__submenu {
    border: 0
  }
  .buttons-wrapper {
    padding: 10px 32px;
    border-top: 1px solid var(--color-neutral-2);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end
  }
  .buttons-wrapper > a {
    margin-right: .75rem
  }
  .buttons-wrapper > a.wso-level-1-link {
    color: #087dfd;
    font-family: Lato,sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 1.33;
    text-transform: uppercase
  }
  .buttons-wrapper > a.btn {
    font-family: Lato,sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: .2px;
    text-transform: uppercase;
    background: #0cb930;
    padding: 9px 14px
  }
  .buttons-wrapper > a.btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
  }
  .buttons-wrapper > a.user-menu__link {
    height: 38px;
    width: auto;
    border-radius: 3px;
    background-color: var(--color-neutral-2);
    font-family: Lato,sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: .2px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-base);
    padding: 0 14px
  }
  .buttons-wrapper > a.user-menu__link:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
  }
  .authorize__links {
    align-items: center;
    display: flex;
    height: 48px;
    transform: translateX(3px)
  }
  .btn.authorize__link {
    text-transform: uppercase
  }
  .authorize__link__login {
    color: #087dfd;
    margin-right: 16px
  }
  .authorize__link__signup {
    padding: 7px 14px
  }
}
@media (max-width: 767px) {
  #header > .container {
    height: inherit;
    width: 100%
  }
  #header .search,
  #header .separator {
    display: none
  }
}
/*# sourceMappingURL=header.component.css.map */
