{# Get menu items #}
{% set items = simplify_menu('wso-alpha-menu') %}

{{ attach_library('porto_sub/header.component') }}
{{ attach_library('porto_sub/navbar--top-part.component') }}
{{ attach_library('porto_sub/navbar--bottom-part.component') }}
{{ attach_library('porto_sub/megamenu.component') }}
{{ attach_library('porto_sub/megamenu-custom-blocks.component') }}
{{ attach_library('porto_sub/mobile-menu-styles.component') }}

{% if logged_in %}
  {{ attach_library('porto_sub/monkey-head.user.component') }}
  {{ attach_library('porto_sub/messages.user.component') }}
  {{ attach_library('porto_sub/user-menu.user.component') }}
{% endif %}

<header id="header" class="hidden-print">
  <div class="container">
    <div class="navbar__top__part">
      <div class="navbar__top__branding">
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo" class="navbar-brand logo">
          <img loading="eager"
               src="/themes/custom/porto_sub/images/wso-logo-2019.png"
               srcset="/themes/custom/porto_sub/images/wso-logo-2019.png 1x, /themes/custom/porto_sub/images/wso-logo-2019-2x.png 2x"
               alt="{{ 'Home'|t }}" class="logo-img" width="96" height="32">
        </a>

        {% if darkmode_enabled %}
          {{ drupal_block('wso_darkmode_switcher') }}
        {% endif %}

        <nav class="d-none d-lg-block navbar navbar-expand-lg">
          <ul id="megamenu" class="megamenu-dynamic navbar-nav me-auto">
            {% for menu_item in items.menu_tree %}
              <li class="nav-item dropdown">
                <a href="{{ menu_item.url }}" class="nav-link dropdown-toggle">{{ menu_item.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="navbar__top__user">
        <button href="/search" class="m-search btn d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target=".header__search" aria-expanded="false">
          <i class="icon icon-search"></i><i class="icon icon-cancel"></i>
        </button>

        <button class="m-menu m-user btn b-block d-lg-none {% if logged_in %}btn-transparent{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target=".nav-main-mobile" aria-expanded="false">
          {% if logged_in %}
            <img loading="lazy" class="icon-ellipsis-v img-fluid rounded-circle" src="{{ user_picture }}">
          {% else %}
            <i class="icon icon-ellipsis-v"></i><i class="icon icon-cancel"></i>
          {% endif %}
        </button>

        <nav class="nav-main-mobile navbar d-none d-lg-none">
          {% if logged_in %}
            <div class="block-monkey-head-floating">
              {{ monkey_header }}
            </div>
          {% endif %}

          <ul id="mobile-menu" class="navbar-nav me-auto">
            {% for menu_item in items.menu_tree %}
              <li class="nav-item">
                <a href="{{ menu_item.url }}" class="nav-link">{{ menu_item.text }}</a>
              </li>
            {% endfor %}
          </ul>

          <div class="buttons-wrapper">
          {% if logged_in %}
            <a href="/user/logout" class="user-menu__link">Sign Out</a>
          {% else %}
            <a href="/user/login?destination={{ path('<current>') }}" class="authorize__link authorize__link__login">Sign In</a>
            <a href="/user/register" class="btn btn-success btn-sm authorize__link authorize__link__signup">Join Us</a>
          {% endif %}
          </div>
        </nav>

        {% if logged_in %}
          <div class="block-monkey-head-floating d-none d-lg-block">
            {{ monkey_header }}
          </div>
          {% include '@storybook/02-molecules/user-messages/user-messages.twig' %}
          <div class="ms-2 user-courses d-none d-lg-inline-block">
            <ul class="notifications system">
              <li>
                <a href="/courses" class="notification-icon" title="{{ 'Courses'|t }}">
                  <i class="icon icon-graduation-cap"></i>
                </a>
              </li>
            </ul>
          </div>
        {% else %}
          <div class="authorize__links">
            <a href="/user/login?destination={{ path('<current>') }}" class="authorize__link authorize__link__login">Sign In</a>
            <a href="/user/register" class="btn btn-success btn-sm authorize__link authorize__link__signup">Join Us</a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="navbar__bottom__part d-flex">

      <div class="header__search d-none">
        {{ header_search }}
      </div>
    </div>
  </div>
</header>
