@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#header {
  background: var(--color-neutral-0) none repeat scroll 0 0;
  border-top: inherit;
  min-height: inherit !important;
  top: 0;
  z-index: $header-z-index;
  position: sticky;
  transition: top .5s ease-in-out;

  @include media('<desktop') {
    min-height: inherit;
  }

  @include media('>=desktop') {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);

    .darkmode & {
      box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .05);
    }
  }

  > .container {
    border-bottom: 1px solid var(--color-neutral-4);

    .darkmode & {
      border-bottom: 1px solid var(--color-neutral-3);
    }

    @include media('<tablet') {
      height: inherit;
      width: 100%;
    }

    @include media('<desktop') {
      height: inherit;
      padding: 0;
      margin-bottom: 0;
      max-width: 1170px;
    }

    @include media('>=desktop') {
      border-bottom: none;
    }
  }
}

// Common blocks
#header {
  > .container {
    @include media('>=large-desktop') {
      max-width: 1170px;
    }
  }

  .separator {
    background-color: var(--color-neutral-2);
    background-image: linear-gradient(var(--color-neutral-2) 60%, #ededed);
    display: inline-block;
    height: 100%;
    margin: 0 12px 0;
    vertical-align: middle;
    width: 2px;

    @include media('<tablet') {
      display: none;
    }
  }

  .dropdown-menu {
    @include media('<desktop') {
      column-count: initial;
      column-gap: initial;
    }
  }

  .search {
    @include media('<tablet') {
      display: none;
    }
  }

  .forum_course__only_mobile.dropdown {
    display: none;

    @include media('<desktop') {
      display: block;
    }
  }
}

.nav__forum {
  .content {
    display: flex;
    padding-top: 1px;
  }
}

.header__forum-options__block {
  @include dropdown();
  width: 100%;
  transition: width .3s ease;

  @include media('>=desktop') {
    width: 180px;
  }

  @media (min-width: 1024px) {
    width: 200px;
  }

  .dropdown-toggle {
    width: 100%;
    transition: width .3s ease;
    position: relative;
    box-shadow: none !important;
    outline: none;
    background: var(--color-neutral-0);
    text-align: left !important;
    padding: 0 !important;
    height: 36px;
    border-radius: 3px;
    border: solid 1px var(--color-neutral-3);
    background-color: var(--color-neutral-0);

    a {
      color: var(--color-base);
    }

    .icon {
      color: $color-blue;
    }

    span {
      &.caret {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .forum__dropdown_option {
    position: relative;
    font-size: 13px;
    @include responsive-prop(700, 800, font-weight);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .2px;
    color: var(--color-base);
    padding: 10px 10px 10px 16px;
    width: 100%;

    &:hover {
      color: $color-blue;

      i {
        color: $color-blue;
      }
    }

    &.dropdown__option_noicon {
      padding: 10px 10px 10px 16px;
    }

  }

  .dropdown-menu {
    background: transparent !important;
    width: 100%;
    column-count: auto;
    column-gap: initial;
    border-radius: 0 0 4px 4px;
    margin: 0;
    padding: 0;
    border-top: 0;

    @include media('>=desktop') {
      background: var(--color-neutral-0) !important;
    }

    li {
      &:last-child {
        border: none !important;
      }

      .forum__dropdown__submenu {
        border-top: 0;
      }
    }

    i {
      display: inline-block;
    }
  }

  .forum__dropdown__submenu {
    border: none;
    box-shadow: none;
    display: block;
    height: 100%;
    max-height: 100%;
    position: relative;
    background: transparent;

    @include media('<desktop') {
      border: 0
    }

    h3 {
      border-bottom: 1px solid var(--color-neutral-2);
      color: var(--color-neutral-5);
      font-size: 13px;
      letter-spacing: .4px;
      line-height: 1;
      margin: 0;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 18px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .icon {
    color: var(--color-base);
    font-size: 16px;
    margin-right: 12px;
    text-align: center;
    width: 15px;
  }

  .forum-option__link {
    padding: 5px 8.5px;
    display: inline-block;
    border-radius: 3px;
    margin-right: 8px;

    &.active {
      background: var(--color-neutral-2);
    }

    &:hover {
      background: var(--color-neutral-2);
    }
  }

  &.open,
  &:hover {
    .forum__dropdown {
      border-bottom: none;
      border-color: var(--color-neutral-5);
      box-shadow: 0 0 12px rgba(0,0,0,.175)!important;
      border-radius: 3px 3px 0 0;

      a {
        color: $color-blue;
      }

      .caret {
        border-top: none;
        color: $color-blue;
      }
    }
  }

  &:hover {
    > .dropdown-menu {
      margin-top: 3px;
      display: block!important;

      @include media('>=desktop') {
        max-height: calc(100vh - 100px);
        overflow: auto;
        width: 220px;
      }
    }
  }
}

@include media('<desktop') {
  .buttons-wrapper {
    padding: 10px 32px;
    border-top: 1px solid var(--color-neutral-2);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;

    > a {
      margin-right: $side-gap;

      &.wso-level-1-link {
        color: $color-blue;
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 700;
        letter-spacing: .2px;
        line-height: 1.33;
        text-transform: uppercase;
      }

      &.btn {
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: .2px;
        text-transform: uppercase;
        background: $color-green-100;
        padding: 9px 14px;

        &:active {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }
      }

      &.user-menu__link {
        height: 38px;
        width: auto;
        border-radius: 3px;
        background-color: var(--color-neutral-2);
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 38px;
        letter-spacing: .2px;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-base);
        padding: 0 14px;

        &:active {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }
      }
    }
  }

  .authorize__links {
    align-items: center;
    display: flex;
    height: 48px;
    transform: translateX(3px);
  }

  .btn {
    &.authorize__link {
      text-transform: uppercase;
    }
  }

  .authorize__link__login {
    color: $color-blue;
    margin-right: 16px;
  }

  .authorize__link__signup {
    padding: 7px 14px;
  }
}

@include media('>=desktop') {
  .authorize__links {
    align-items: center;
    display: flex;
    height: 48px;
    transform: translateX(3px);
  }

  .btn {
    &.authorize__link {
      @include responsive-prop(700, 800, 'font-weight');
      text-transform: uppercase;
    }
  }

  .authorize__link {
    @include responsive-prop(700, 800, 'font-weight');
    text-transform: uppercase;
  }

  .authorize__link__login {
    color: $color-blue;
    margin-right: 16px;
  }

  .authorize__link__signup {
    padding: 7px 14px;
  }
}

/* Header bottom right part */
.header__search {
  width: 100%;

  &.show,
  &.collapsing {
    display: block !important;
    min-height: $bottom-height + 2;
    padding-bottom: 10px;
  }

  @include media('>=desktop') {
    max-width: 210px;
    margin-left: 6px;
  }

  form {
    padding: 8px 15px;

    @include media('>=desktop') {
      padding: 0;
    }

    .form--inline {
      position: relative;
    }
  }

  input[type=text] {
    font-size: 14px;
    height: $bottom-height;
    background: var(--color-neutral-1) !important;
    border-color: var(--color-neutral-3);
    box-shadow: none;
    border-radius: 4px !important;
    margin-top: 0;
    width: 100%;

    @include placeholder {
      font-size: 14px;
      color: var(--color-monkey-grey);
    }
  }

  .form-actions {
    position: absolute;
    right: 0;
    top: 0;
    display: block;

    input,
    &:after {
      position: absolute;
      right: 0;
      top: 0;
    }

    input {
      opacity: 0;
    }

    &:after {
      content: '\e829';
      display: inline-block;
      font: normal normal normal 14px/1 'fa-custom';
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      right: 12px;
      top: 10px;
      color: $color-monkey-blue;
      pointer-events: none;
    }
  }

  .icon {
    color: var(--color-neutral-6);
  }
}

// Special states
body {
  &.header-menu--opened,
  &.mobile-forum-menu-from-bottom {
    overflow: hidden;
  }
}

.header-menu--opened #header button[aria-expanded="false"] {
  opacity: 0;
}
