#header #megamenu .media--loading::before {
  display: none
}
#header #megamenu .region-megamenu-courses-right .block__bundle__megamenu_links_listing .media {
  margin: 16px 0
}
#header #megamenu .region-megamenu-resources-top {
  border-bottom: var(--color-neutral-2) 1px solid
}
#header #megamenu .row--courses {
  width: 100%
}
#header #megamenu .btn-info {
  font-weight: 700;
  height: 48px;
  width: 100%;
  background: 0 0;
  border-radius: 3px;
  color: #087dfd;
  font-size: 17px;
  line-height: 48px;
  text-align: center;
  letter-spacing: .2px;
  padding: 0;
  text-transform: none;
  border: 1px solid #087dfd
}
#header #megamenu .btn-info:after {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
  display: inline-block
}
#header #megamenu .btn-info:hover {
  background: #087dfd;
  border-color: #087dfd;
  color: var(--color-neutral-0)
}
#header #megamenu .paragraphs-item-megamenu-link-item {
  margin-bottom: 20px!important;
  display: block;
  width: 100%
}
#header #megamenu .block__bundle__megamenu_links_listing .field-name-field-link-item > .field--item:last-child .paragraphs-item-megamenu-link-item {
  margin-bottom: 10px!important
}
#header #megamenu.megamenu-dynamic .megamenu-container {
  background: var(--color-neutral-0);
  padding: 20px 15px 18px!important;
  border: 1px solid var(--color-neutral-3);
  box-shadow: 0 20px 40px rgba(0, 0, 0, .08);
  border-radius: 5px
}
#header #megamenu.megamenu-dynamic .megamenu-container .block {
  break-inside: avoid-column
}
#megamenu .dropdown .dropdown-toggle {
  font-weight: 700;
  border: 0;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .2px;
  line-height: 1.23;
  color: var(--color-base);
  margin: 0;
  padding: 0;
  height: auto
}
#megamenu .dropdown .dropdown-toggle:after {
  display: none
}
#megamenu .dropdown .row--no-max-height .wso-col:nth-child(n+5) {
  max-height: unset!important
}
#megamenu .dropdown .row--courses img {
  margin-left: auto;
  margin-right: auto
}
@media (min-width: 992px) {
  #header #megamenu .region-megamenu-courses-left {
    height: 100%
  }
  #header #megamenu .region-megamenu-courses-right {
    column-count: 2
  }
  #header #megamenu .region-megamenu-alpha,
  #header #megamenu .region-megamenu-corporate,
  #header #megamenu .region-megamenu-resources-bottom,
  #header #megamenu .region-megamenu-resources-top,
  #header #megamenu .region-megamenu-services {
    column-count: 3
  }
  #header #megamenu .btn-info,
  #megamenu .dropdown .dropdown-toggle {
    font-weight: 800
  }
  #megamenu .dropdown {
    position: static;
    height: fit-content;
    max-height: 48px;
    padding: 16px 0 0;
    margin: 0 16px 12px;
    border-bottom: 2px solid transparent;
    color: var(--color-base);
    background: 0 0
  }
  #megamenu .dropdown:hover .dropdown-menu {
    display: block
  }
  #megamenu .dropdown .dropdown-menu {
    position: fixed;
    left: 50%;
    width: 960px;
    top: 38px;
    background: 0 0;
    border: 0;
    border-radius: 0;
    transform: translateX(-50%) scale(.8);
    transform-origin: top
  }
  .adminimal-admin-toolbar.toolbar-horizontal.toolbar-fixed #megamenu .dropdown .dropdown-menu {
    top: 78px
  }
  .adminimal-admin-toolbar.toolbar-horizontal.toolbar-fixed.toolbar-tray-open #megamenu .dropdown .dropdown-menu {
    top: 118px
  }
  #megamenu .dropdown .dropdown-menu .megamenu-container {
    background: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
    overflow: hidden;
    padding: 0
  }
  .darkmode #megamenu .dropdown .dropdown-menu .megamenu-container {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, .05)
  }
  #megamenu .dropdown .dropdown-menu .megamenu-container .row {
    width: 100%;
    margin: 0
  }
  #megamenu .dropdown .wso-col {
    padding: 20px 30px
  }
  #megamenu .dropdown .wso-col:after {
    background-color: var(--color-neutral-2);
    content: "";
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px
  }
  #megamenu .dropdown .wso-col.no-border:after,
  #megamenu .dropdown .wso-col:last-child:after {
    display: none
  }
  #megamenu .dropdown .wso-col.text-center ul li.mega__group__title {
    text-align: center
  }
  #megamenu .dropdown .wso-col img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto
  }
  #megamenu .dropdown ul {
    padding: 0;
    list-style: none;
    margin-bottom: 10px
  }
  #megamenu .dropdown ul li {
    display: block;
    float: none;
    list-style: none;
    margin-left: 0;
    color: var(--color-base);
    font-size: 12px;
    letter-spacing: .2px;
    text-transform: none;
    line-height: 1.33;
    border: none;
    font-weight: 300;
    padding: 5px 0
  }
  #megamenu .dropdown ul li a {
    color: inherit
  }
  #megamenu .dropdown ul li.mega__group__title {
    font-weight: 700;
    color: #087dfd;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: .2px;
    line-height: normal;
    text-align: left;
    text-transform: uppercase
  }
  #megamenu .dropdown ul li.mega__group__title a {
    color: inherit
  }
  #megamenu .dropdown ul li.menu__more a {
    color: var(--color-neutral-7)
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  #megamenu .dropdown ul li.mega__group__title {
    font-weight: 800
  }
}
@media (min-width: 1200px) {
  #megamenu .dropdown.nav-item--resources .wso-col {
    max-height: 224px
  }
  #megamenu .dropdown.nav-item--resources .wso-col:nth-child(n+5) {
    border-top: 1px solid var(--color-neutral-2);
    max-height: 234px
  }
  #megamenu .dropdown .dropdown-menu {
    width: 1170px;
    transform: translateX(-50%) scale(.9);
    transform-origin: top
  }
  #megamenu .dropdown .wso-col:nth-child(n+5) {
    border-top: 1px solid var(--color-neutral-2);
    max-height: 234px
  }
}
@media (min-width: 1440px) {
  #megamenu .dropdown .dropdown-menu {
    transform: translateX(-50%)
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  #megamenu .dropdown .wso-col:nth-child(n+5) {
    border-top: 1px solid var(--color-neutral-2);
    max-height: 280px
  }
}
/*# sourceMappingURL=megamenu.component.css.map */
