@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#megamenu {
  .field-name-field-footer-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    @include media('>=desktop') {
      flex-wrap: nowrap;
    }

    a {
      //@extend %btn;
      @extend %btn, .btn-info;
      @extend %btn, .btn-sm;
      margin-right: 10px;
    }

    .field--item + .field--item {
      a {
        //@extend %btn;
        @extend %btn, .btn-info, .btn-lines;
        @extend %btn, .btn-sm;
      }
    }
  }
}

.block__bundle__megamenu_links_listing {
  margin-bottom: 0;

  .field-name-field-block-title {
    @include responsive-prop(700, 800, 'font-weight');
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $color-oasis-blue;
    margin-bottom: 20px;
  }

  .card {
    border: 0;
    margin-bottom: 10px;
    padding: 0;
    background: transparent;
    box-shadow: none;

    img {
      max-width: 100%;
      height: auto;
      border: 0 !important;
    }

    .card-img-overlay {
      top: auto;
      padding: 15px;

      .card-title {
        .field-name-field-block-title {
          margin: 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: $color-oasis-blue;
          text-transform: none;
        }
      }
    }
  }

  a.media {
    &:hover {
      transition: all 0.3s linear;
      text-decoration: none;
      transform: translateX(5px);
    }
  }

  .media {
    margin: 10px 0;

    &:hover {
      text-decoration: none;
    }

    &-image {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      border: var(--color-neutral-3) 1px solid;

      img {
        max-width: 100%;
        height: auto;
        border: 0 !important;
        border-radius: 100%;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: var(--color-base);
      margin: 0;
      text-transform: capitalize;
    }

    &-subtitle {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: $color-monkey-grey;
    }
  }

  .media-icon {
    width: 48px;
    height: 48px;
    background: var(--color-neutral-2);
    border-radius: 100%;
    position: relative;
    border: var(--color-neutral-3) 1px solid;

    .icon {
      font-size: 20px !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .field-name-field-bottom-link {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: var(--color-neutral-7);
    margin-top: 15px;
  }

  .field-name-field-link-item {
    .field--item {
      &:last-child {
        a.media {
          margin-bottom: 0;
        }
      }
    }
  }
}

.block__bundle__basic--megamenu {
  a.media {
    &:hover {
      text-decoration: none;
    }
  }

  .media {
    margin: 0 0 20px 0;

    &:hover {
      text-decoration: none;
    }

    &-image {
      width: 48px;
      height: 48px;
      border-radius: 100%;

      img {
        max-width: 100%;
        height: auto;
        border: 0 !important;
        border-radius: 100%;
      }
    }

    &-title {
      @include responsive-prop(700, 800, 'font-weight');
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: var(--color-base);
    }
  }

  .media-icon {
    width: 48px;
    height: 48px;
    background: var(--color-neutral-2);
    border-radius: 100%;
    position: relative;
    border: var(--color-neutral-3) 1px solid;

    .icon {
      font-size: 20px !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

.block__bundle__megamenu_most_popular_course {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  border-radius: 5px;
  padding: 15px 30px;
  margin-bottom: 15px;
  text-align: center;
  height: calc(50% - 8px);
  border: transparent 1px solid;

  &:hover {
    border: solid 1px var(--color-neutral-3);
    background: var(--color-neutral-2);
  }

  .field-name-field-block-label {
    @include responsive-prop(700, 800, 'font-weight');
    height: 22px;
    line-height: 22px;
    background: $color-orange;
    font-style: normal;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding: 0 10px;
    color: var(--color-neutral-0);
    display: inline-block;
  }

  .field-name-field-block-image {
    margin-top: 15px;

    img {
      max-width: 150px;
      height: auto;
    }
  }

  .block-rating {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .icon {
      color: $color-yellow;
      font-size: 16px;
    }
  }

  .field-name-field-block-title {
    margin-top: 5px;
    font-style: normal;
    font-weight:600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $color-monkey-blue;
  }

  .field-name-field-block-subtitle {
    margin-top: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--color-neutral-7);
  }

  .field-name-field-footer-buttons {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 15px;
  }
}

.region-megamenu-courses-left .block__bundle__megamenu_most_popular_course:last-child {
  .field-name-field-block-image {
    margin-top: 10px;
  }
}

.region-megamenu-resources {
  &-top,
  &-bottom {
    padding: 10px 0;

    .block {
      .block-title {
        display: none;
      }

      p {
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: var(--color-neutral-7);
        }
      }

      ul {
        li {
          a {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: var(--color-base);

            &:hover {
              text-decoration: underline;
              color: $color-blue !important;
            }
          }
        }
      }

      ul ~ p {
        margin-bottom: 0;

        a {
          &,
          span {
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: var(--color-neutral-7);
          }
        }
      }
    }
  }

  &-bottom {
    padding: 10px 0 0 0;
  }
}
