#megamenu .field-name-field-footer-buttons .field--item + .field--item a:focus,
#megamenu .field-name-field-footer-buttons a:focus {
  outline: 0
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-default,
#megamenu .field-name-field-footer-buttons a.btn-default {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
#megamenu .field-name-field-footer-buttons a.btn-default:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
#megamenu .field-name-field-footer-buttons a.btn-default:active,
#megamenu .field-name-field-footer-buttons a.btn-default:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons a.btn-default:disabled {
  background-color: var(--color-neutral-1)
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-filled,
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-success,
#megamenu .field-name-field-footer-buttons a.btn-filled,
#megamenu .field-name-field-footer-buttons a.btn-success {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
#megamenu .field-name-field-footer-buttons a.btn-filled:hover,
#megamenu .field-name-field-footer-buttons a.btn-success:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
#megamenu .field-name-field-footer-buttons a.btn-filled:active,
#megamenu .field-name-field-footer-buttons a.btn-filled:focus,
#megamenu .field-name-field-footer-buttons a.btn-success:active,
#megamenu .field-name-field-footer-buttons a.btn-success:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
#megamenu .field-name-field-footer-buttons a.btn-filled:disabled,
#megamenu .field-name-field-footer-buttons a.btn-success:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-danger,
#megamenu .field-name-field-footer-buttons a.btn-danger {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
#megamenu .field-name-field-footer-buttons a.btn-danger:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
#megamenu .field-name-field-footer-buttons a.btn-danger:active,
#megamenu .field-name-field-footer-buttons a.btn-danger:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
#megamenu .field-name-field-footer-buttons a.btn-danger:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a,
#megamenu .field-name-field-footer-buttons a.btn-lines,
#megamenu .field-name-field-footer-buttons a.btn-secondary {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:hover,
#megamenu .field-name-field-footer-buttons a.btn-lines:hover,
#megamenu .field-name-field-footer-buttons a.btn-secondary:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:active,
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:focus,
#megamenu .field-name-field-footer-buttons a.btn-lines:active,
#megamenu .field-name-field-footer-buttons a.btn-lines:focus,
#megamenu .field-name-field-footer-buttons a.btn-secondary:active,
#megamenu .field-name-field-footer-buttons a.btn-secondary:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:disabled,
#megamenu .field-name-field-footer-buttons a.btn-lines:disabled,
#megamenu .field-name-field-footer-buttons a.btn-secondary:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono:hover,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono:hover,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono:active,
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono:focus,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono:active,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono:focus,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono:active,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono:disabled,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono:disabled,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono:disabled {
  background-color: var(--color-neutral-1)
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono.danger,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono.danger,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono.danger {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono.danger:hover,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono.danger:hover,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono.danger:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono.danger:active,
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono.danger:focus,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono.danger:active,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono.danger:focus,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono.danger:active,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono.danger:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.mono.danger:disabled,
#megamenu .field-name-field-footer-buttons a.btn-lines.mono.danger:disabled,
#megamenu .field-name-field-footer-buttons a.btn-secondary.mono.danger:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-other,
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-success-ghost,
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-transparency,
#megamenu .field-name-field-footer-buttons a.btn-other,
#megamenu .field-name-field-footer-buttons a.btn-success-ghost,
#megamenu .field-name-field-footer-buttons a.btn-transparency {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
#megamenu .field-name-field-footer-buttons a.btn-other:hover,
#megamenu .field-name-field-footer-buttons a.btn-success-ghost:hover,
#megamenu .field-name-field-footer-buttons a.btn-transparency:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
#megamenu .field-name-field-footer-buttons a.btn-other:active,
#megamenu .field-name-field-footer-buttons a.btn-other:focus,
#megamenu .field-name-field-footer-buttons a.btn-success-ghost:active,
#megamenu .field-name-field-footer-buttons a.btn-success-ghost:focus,
#megamenu .field-name-field-footer-buttons a.btn-transparency:active,
#megamenu .field-name-field-footer-buttons a.btn-transparency:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons a.btn-other:disabled,
#megamenu .field-name-field-footer-buttons a.btn-success-ghost:disabled,
#megamenu .field-name-field-footer-buttons a.btn-transparency:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.bg-white,
#megamenu .field-name-field-footer-buttons a.bg-white {
  background: var(--color-neutral-0)
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a,
#megamenu .field-name-field-footer-buttons a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:hover,
#megamenu .field-name-field-footer-buttons a:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:active,
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:focus,
#megamenu .field-name-field-footer-buttons a:active,
#megamenu .field-name-field-footer-buttons a:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:disabled,
#megamenu .field-name-field-footer-buttons a:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a,
#megamenu .field-name-field-footer-buttons a.btn-lines {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:hover,
#megamenu .field-name-field-footer-buttons a.btn-lines:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:active,
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:focus,
#megamenu .field-name-field-footer-buttons a.btn-lines:active,
#megamenu .field-name-field-footer-buttons a.btn-lines:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a:disabled,
#megamenu .field-name-field-footer-buttons a.btn-lines:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-xs,
#megamenu .field-name-field-footer-buttons a.btn-xs {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a,
#megamenu .field-name-field-footer-buttons a {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-md,
#megamenu .field-name-field-footer-buttons a.btn-md {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-lg,
#megamenu .field-name-field-footer-buttons a.btn-lg {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
#megamenu .field-name-field-footer-buttons .field--item + .field--item a.btn-xl,
#megamenu .field-name-field-footer-buttons a.btn-xl {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
#megamenu .field-name-field-footer-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px
}
#megamenu .field-name-field-footer-buttons a {
  margin-right: 10px
}
.block__bundle__megamenu_links_listing {
  margin-bottom: 0
}
.block__bundle__megamenu_links_listing .field-name-field-block-title {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .2px;
  color: #189eda;
  margin-bottom: 20px
}
.block__bundle__megamenu_links_listing .card {
  border: 0;
  margin-bottom: 10px;
  padding: 0;
  background: 0 0;
  box-shadow: none
}
.block__bundle__megamenu_links_listing .card img {
  max-width: 100%;
  height: auto;
  border: 0!important
}
.block__bundle__megamenu_links_listing .card .card-img-overlay {
  top: auto;
  padding: 15px
}
.block__bundle__megamenu_links_listing .card .card-img-overlay .card-title .field-name-field-block-title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #189eda;
  text-transform: none
}
.block__bundle__megamenu_links_listing a.media:hover {
  transition: .3s linear;
  text-decoration: none;
  transform: translateX(5px)
}
.block__bundle__megamenu_links_listing .media {
  margin: 10px 0
}
.block__bundle__megamenu_links_listing .media:hover {
  text-decoration: none
}
.block__bundle__megamenu_links_listing .media-image {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: var(--color-neutral-3) 1px solid
}
.block__bundle__megamenu_links_listing .media-image img {
  max-width: 100%;
  height: auto;
  border: 0!important;
  border-radius: 100%
}
.block__bundle__megamenu_links_listing .media-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .2px;
  color: var(--color-base);
  margin: 0;
  text-transform: capitalize
}
.block__bundle__megamenu_links_listing .media-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .2px;
  color: #9db2bc
}
.block__bundle__megamenu_links_listing .media-icon {
  width: 48px;
  height: 48px;
  background: var(--color-neutral-2);
  border-radius: 100%;
  position: relative;
  border: var(--color-neutral-3) 1px solid
}
.block__bundle__megamenu_links_listing .media-icon .icon {
  font-size: 20px!important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.block__bundle__megamenu_links_listing .field-name-field-bottom-link {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  margin-top: 15px
}
.block__bundle__megamenu_links_listing .field-name-field-link-item .field--item:last-child a.media {
  margin-bottom: 0
}
.block__bundle__basic--megamenu a.media:hover {
  text-decoration: none
}
.block__bundle__basic--megamenu .media {
  margin: 0 0 20px
}
.block__bundle__basic--megamenu .media:hover {
  text-decoration: none
}
.block__bundle__basic--megamenu .media-image {
  width: 48px;
  height: 48px;
  border-radius: 100%
}
.block__bundle__basic--megamenu .media-image img {
  max-width: 100%;
  height: auto;
  border: 0!important;
  border-radius: 100%
}
.block__bundle__basic--megamenu .media-title {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: .2px;
  color: var(--color-base)
}
.block__bundle__basic--megamenu .media-icon {
  width: 48px;
  height: 48px;
  background: var(--color-neutral-2);
  border-radius: 100%;
  position: relative;
  border: var(--color-neutral-3) 1px solid
}
.block__bundle__basic--megamenu .media-icon .icon {
  font-size: 20px!important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.block__bundle__megamenu_most_popular_course {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  border-radius: 5px;
  padding: 15px 30px;
  margin-bottom: 15px;
  text-align: center;
  height: calc(50% - 8px);
  border: 1px solid transparent
}
.block__bundle__megamenu_most_popular_course:hover {
  border: solid 1px var(--color-neutral-3);
  background: var(--color-neutral-2)
}
.block__bundle__megamenu_most_popular_course .field-name-field-block-label {
  font-weight: 700;
  height: 22px;
  line-height: 22px;
  background: #ff8c06;
  font-style: normal;
  font-size: 11px;
  letter-spacing: .4px;
  text-transform: uppercase;
  padding: 0 10px;
  color: var(--color-neutral-0);
  display: inline-block
}
.block__bundle__megamenu_most_popular_course .field-name-field-block-image {
  margin-top: 15px
}
.block__bundle__megamenu_most_popular_course .field-name-field-block-image img {
  max-width: 150px;
  height: auto
}
.block__bundle__megamenu_most_popular_course .block-rating {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center
}
.block__bundle__megamenu_most_popular_course .block-rating .icon {
  color: #f5b226;
  font-size: 16px
}
.block__bundle__megamenu_most_popular_course .field-name-field-block-title {
  margin-top: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: .2px;
  color: #0a4059
}
.block__bundle__megamenu_most_popular_course .field-name-field-block-subtitle {
  margin-top: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.block__bundle__megamenu_most_popular_course .field-name-field-footer-buttons {
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 15px
}
.region-megamenu-courses-left .block__bundle__megamenu_most_popular_course:last-child .field-name-field-block-image {
  margin-top: 10px
}
.region-megamenu-resources-bottom,
.region-megamenu-resources-top {
  padding: 10px 0
}
.region-megamenu-resources-bottom .block .block-title,
.region-megamenu-resources-top .block .block-title {
  display: none
}
.region-megamenu-resources-bottom .block p a,
.region-megamenu-resources-top .block p a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.region-megamenu-resources-bottom .block ul li a,
.region-megamenu-resources-top .block ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .2px;
  color: var(--color-base)
}
.region-megamenu-resources-bottom .block ul li a:hover,
.region-megamenu-resources-top .block ul li a:hover {
  text-decoration: underline;
  color: #087dfd!important
}
.region-megamenu-resources-bottom .block ul ~ p,
.region-megamenu-resources-top .block ul ~ p {
  margin-bottom: 0
}
.region-megamenu-resources-bottom .block ul ~ p a,
.region-megamenu-resources-bottom .block ul ~ p a span,
.region-megamenu-resources-top .block ul ~ p a,
.region-megamenu-resources-top .block ul ~ p a span {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.region-megamenu-resources-bottom {
  padding: 10px 0 0
}
@media (min-width: 992px) {
  #megamenu .field-name-field-footer-buttons {
    flex-wrap: nowrap
  }
  .block__bundle__basic--megamenu .media-title,
  .block__bundle__megamenu_links_listing .field-name-field-block-title,
  .block__bundle__megamenu_most_popular_course .field-name-field-block-label {
    font-weight: 800
  }
}
/*# sourceMappingURL=megamenu-custom-blocks.component.css.map */
