@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#header #megamenu {
  .media--loading::before {
    display: none;
  }

  .region-megamenu-courses-left {
    @include media('>=desktop') {
      height: 100%;
    }
  }

  .region-megamenu-courses-right {
    @include media('>=desktop') {
      column-count: 2;
    }

    .block__bundle__megamenu_links_listing .media {
      margin: 16px 0;
    }
  }

  .region-megamenu-resources {
    &-top {
      border-bottom: var(--color-neutral-2) 1px solid;
    }

    &-top,
    &-bottom {
      @include media('>=desktop') {
        column-count: 3;
      }
    }
  }

  .region-megamenu-services,
  .region-megamenu-corporate,
  .region-megamenu-alpha {
    @include media('>=desktop') {
      column-count: 3;
    }
  }

  /*
  .region-megamenu-reports {
    @include media('>=desktop') {
      column-count: 4;
    }

    .block__bundle__megamenu_links_listing {
      margin-bottom: 0;
    }
  }
  */

  .row--courses {
    width: 100%;
  }

  .btn-info {
    @include responsive-prop(700, 800, 'font-weight');
    height: 48px;
    width: 100%;
    background: transparent;
    border-radius: 3px;
    color: $color-blue;
    font-size: 17px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 0;
    text-transform: none;
    border: $color-blue 1px solid;

    &:after {
      content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
      display: inline-block;
    }

    &:hover {
      background: $color-blue;
      border-color: $color-blue;
      color: var(--color-neutral-0);
    }
  }

  .paragraphs-item-megamenu-link-item {
    margin-bottom: 20px !important;
    display: block;
    width: 100%;
  }

  .block__bundle__megamenu_links_listing .field-name-field-link-item > .field--item:last-child .paragraphs-item-megamenu-link-item {
    margin-bottom: 10px !important;
  }
}

#header #megamenu.megamenu-dynamic {
  .megamenu-container {
    background: var(--color-neutral-0);
    padding: 20px 15px 18px 15px !important;
    border: 1px solid var(--color-neutral-3);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
    border-radius: 5px;

    .block {
      break-inside: avoid-column;
    }
  }
}

#megamenu {
  .dropdown {
    .dropdown-toggle {
      @include responsive-prop(700, 800, font-weight);
      border: 0;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: .2px;
      line-height: 1.23;
      color: var(--color-base);
      margin: 0;
      padding: 0;
      height: auto;

      &:after {
        display: none;
      }
    }

    .row {
      &--no-max-height {
        .wso-col {

          &:nth-child(n+5) {
            max-height: unset !important;
          }
        }
      }

      &--courses {
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &.nav-item--resources{
      @include media('>=large-desktop') {
        .wso-col {
          max-height: 224px;

          &:nth-child(n+5) {
            border-top: 1px solid var(--color-neutral-2);
            max-height: 234px;
          }
        }
      }
    }

    @include media('>=desktop') {
      position: static;
      height: fit-content;
      max-height: 48px;
      padding: 16px 0 0;
      margin: 0 16px 12px;
      border-bottom: 2px solid transparent;
      color: var(--color-base);
      background: transparent;

      &:hover {
        .dropdown-menu {
          display: block;
        }
      }

      .dropdown-menu {
        position: fixed;
        left: 50%;
        width: 960px;
        top: $mobile-header-height - 10;
        background: transparent;
        border: 0;
        border-radius: 0;
        transform: translateX(-50%) scale(0.8);
        transform-origin: top;

        .adminimal-admin-toolbar.toolbar-horizontal.toolbar-fixed & {
          top: 40px + $mobile-header-height - 10;
        }

        .adminimal-admin-toolbar.toolbar-horizontal.toolbar-fixed.toolbar-tray-open & {
          top: 80px + $mobile-header-height - 10;
        }

        .megamenu-container {
          background: var(--color-neutral-0);
          border: 1px solid var(--color-neutral-2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
          overflow: hidden;
          padding: 0;

          .darkmode & {
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, .05);
          }

          .row {
            width: 100%;
            margin: 0;
          }
        }
      }

      .wso-col {
        padding: 20px 30px;

        &:after {
          background-color: var(--color-neutral-2);
          content: "";
          height: 100vh;
          position: absolute;
          right: 0;
          top: 0;
          width: 1px;
        }

        &:last-child:after,
        &.no-border:after {
          display: none;
        }

        &.text-center ul li.mega__group__title {
          text-align: center;
        }

        img {
          margin-bottom: 10px;
          max-width: 100%;
          height: auto;
        }
      }

      ul {
        padding: 0;
        list-style: none;
        margin-bottom: 10px;

        li {
          display: block;
          float: none;
          list-style: none;
          margin-left: 0;
          color: var(--color-base);
          font-size: 12px;
          letter-spacing: .2px;
          text-transform: none;
          line-height: 1.33;
          border: none;
          font-weight: 300;
          padding: 5px 0;

          a {
            color: inherit;
          }

          &.mega__group__title {
            @include responsive-prop(700, 800, font-weight);
            color: $color-blue;
            font-size: 13px;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: .2px;
            line-height: normal;
            text-align: left;
            text-transform: uppercase;

            a {
              color: inherit;
            }
          }

          &.menu__more a {
            color: var(--color-neutral-7);
          }
        }
      }
    }

    @include media('>=large-desktop') {
      .dropdown-menu {
        width: 1170px;
      }
    }

    @media (max-width: 1199px) and (min-width: 992px) {
      .wso-col {
        &:nth-child(n+5) {
          border-top: 1px solid var(--color-neutral-2);
          max-height: 280px;
        }
      }
    }

    @include media('>=large-desktop') {
      .wso-col {
        &:nth-child(n+5) {
          border-top: 1px solid var(--color-neutral-2);
          max-height: 234px;
        }
      }

      .dropdown-menu {
        transform: translateX(-50%) scale(0.9);
        transform-origin: top;
      }
    }

    @media (min-width: 1440px) {
      .dropdown-menu {
        transform: translateX(-50%);
      }
    }
  }
}


