.dropdown-messages .nav-pills {
  font-size: 12px
}
.dropdown-messages .nav-pills .nav-link {
  padding: 5px 10px
}
.dropdown-messages .nav-pills .nav-link.active:hover {
  color: var(--color-neutral-0)!important;
  cursor: default
}
.dropdown-messages .views-exposed-form {
  display: none
}
.dropdown-messages .view-content {
  padding: 0!important
}
.dropdown-messages .messages__item .icon {
  font-size: 12px!important
}
.dropdown-messages .messages__item img {
  border-radius: 100%
}
.dropdown-messages .messages__item .messages__content__part {
  max-width: calc(100% - 40px)
}
.dropdown-messages .messages__item .messages__content__description {
  width: auto
}
.header__messages__items {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
  border: 1px solid var(--color-neutral-2);
  background-color: var(--color-neutral-0);
  border-radius: 4px
}
.header__messages__items:before {
  background-color: var(--color-neutral-0);
  border-left: 1px solid var(--color-neutral-2);
  border-top: 1px solid var(--color-neutral-2);
  content: "";
  height: 6px;
  position: absolute;
  right: 15px;
  top: -4px;
  transform: rotate(45deg);
  width: 6px;
  z-index: 10
}
.messages__item {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid var(--color-neutral-2)
}
.messages__item:last-child {
  border: none
}
.messages__item:hover {
  background-color: var(--color-neutral-3);
  border-color: var(--color-neutral-2)
}
.messages__item.active {
  background-color: var(--color-light-blue);
  border-bottom: 1px solid var(--color-light-blue)
}
.messages__item.active:hover {
  background-color: var(--color-neutral-3);
  border-color: var(--color-neutral-2)
}
.messages__item.active .messages__content__username,
.messages__item.active .notification__content__header {
  color: var(--color-base)
}
.messages__item a:hover {
  text-decoration: none;
  color: #087dfd
}
.messages__footer {
  border-top: 1px solid var(--color-neutral-2)
}
.messages__footer:hover {
  background-color: var(--color-neutral-3);
  border-color: var(--color-neutral-2)
}
.messages__footer a {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .2px;
  text-align: center;
  height: 40px;
  line-height: 40px
}
.messages__footer a:hover {
  text-decoration: none
}
.messages__items__inside {
  list-style: none;
  margin: 0;
  max-height: 360px;
  overflow-y: scroll;
  padding: 0;
  position: relative
}
.messages__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-neutral-2);
  padding: 13px 20px
}
.messages__header > span {
  color: var(--color-neutral-7);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  border-top: 1px solid var(--color-neutral-2);
  letter-spacing: .1px;
  line-height: normal
}
.messages__header a {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: .1px
}
.messages__header a:hover {
  text-decoration: none
}
.messages__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 20px
}
.messages__link figure {
  margin: 0
}
.messages__link img {
  max-height: 40px;
  width: 40px
}
.messages__link .flag {
  display: inline-block;
  padding-bottom: 10px
}
.messages__link .btn.btn-info {
  padding: 0 5px;
  margin: 1px 0 2px 2px
}
.messages__content__part {
  padding-left: 10px;
  max-width: calc(100% - 40px)
}
.messages__content__description {
  color: var(--color-base);
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2px;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 220px
}
.messages__content__header {
  display: flex;
  justify-content: space-between
}
.messages__content__username {
  color: var(--color-base);
  font-size: 12px;
  border-top: 1px solid var(--color-neutral-2);
  letter-spacing: .2px;
  line-height: 1.5
}
.messages__content__date {
  color: var(--color-neutral-7);
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.6;
  margin: 0
}
.notification__content__header {
  color: var(--color-base);
  font-size: 13px;
  border-top: 1px solid var(--color-neutral-2);
  letter-spacing: .1px;
  line-height: normal;
  margin-bottom: 4px
}
.notification__content__description {
  color: var(--color-base);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .2px;
  line-height: 1.5;
  margin-bottom: 6px
}
@media (min-width: 992px) {
  .dropdown-messages {
    left: auto!important;
    right: 0!important;
    transform: translate(4px, 35px)!important
  }
  .messages__footer a {
    font-weight: 800
  }
}
@media (max-width: 991px) {
  .dropdown-messages {
    position: fixed!important;
    transform: translate(-50%, 40px)!important;
    right: auto!important;
    left: 50%!important;
    z-index: 1002
  }
}
/*# sourceMappingURL=messages.user.component.css.map */
