@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

/* Header-footer common parts */
.nav-main-mobile,
.mobile-forum-menu {
  position: absolute;
  left: 0;
  top: $mobile-header-height + 1;
  width: 100%;
  height: calc(100vh - #{$mobile-header-height});
  overflow-y: auto;
  transition: height .5s;
  transition-duration: .5s !important;
  background: var(--color-neutral-0);
  padding: 0;
  z-index: 1001;
}

.mobile-forum-menu {
  &--bottom {
    height: calc(100vh - 66px);
    display: none;

    .node-type-forum &,
    .page-forum &,
    .node-type-blog & {
      height: calc(100vh - 122px);
    }
  }

  @include media('<desktop') {

    .forum__dropdown_option {
      width: 100%;
      font-weight: normal;
      font-size: 14px;

      .icon {
        font-size: 16px;
      }

      .icon-angle-up {
        transition: all .2s ease-in;
        font-size: 24px !important;
      }

      &.show {
        .icon-angle-up {
          transform: rotate(180deg);
        }
      }

      .shortname {
        align-content: center;
        border-radius: 8px;
        display: inline-flex;
        height: 32px;
        justify-content: center;
        line-height: 24px;
        margin-right: 5px;
        min-width: 32px;
        padding: 2px 5px;
        text-align: center;
        width: auto;
      }
    }

    > li {
      &:not(:last-child) {
        line-height: 38px;
        overflow: hidden;
      }

      &:first-child {
        margin-top: 10px;
      }
    }

    .dropdown-menu {
      > li {
        > a {
          &.forum__dropdown_option {
            width: 100%;
            padding: 12px 10px 10px 45px;
          }
        }
      }
      &.forum_course__dropdown__submenu {
        > li:last-child a {
          width: fit-content;
          background: $color-oasis-blue;
          margin-left: 45px;
          text-transform: uppercase;
          padding: 8px 14px;
          border-radius: 3px;
          color: var(--color-neutral-0);
          letter-spacing: 1px;
          font-size: 13px;
          font-weight: 600;
          margin-top: 8px;
          margin-bottom: 9px;
        }
      }
    }

    &.collapsing {
      transition: height .1s;
    }
  }

  .forum_course__only_mobile.dropdown {
    display: block;
    line-height: 38px;
    overflow: hidden;

    .forum__dropdown_option.dropdown-toggle {
      display: block;
      background: inherit;
      border: none;
      color: inherit;
      padding: 10px 10px 10px 16px !important;
      &.show, &.show i {
        color: $color-oasis-blue;
      }

      .icon {
        color: var(--color-base);
        font-size: 16px;
        margin-right: 12px;
        text-align: center;
        width: 15px;
      }
    }
  }

  .forum_course__dropdown__submenu.dropdown-menu {
    border: 0;
    box-shadow: none;
    display: none !important;
    height: 100%;
    max-height: 100%;
    position: relative;
    background: 0 0;

    &.show {
      display: block !important;
      position: relative !important;
      transform: none !important;
    }

    li {
      border: none;
    }
  }
}

.show-bottom-panel.mobile-forum-menu-from-bottom .mobile-forum-menu--bottom {
  position: fixed;
  display: block;
  top: -1px !important;
  margin: 0;
  opacity: 1;
  transition: all .3s ease-in-out;
}
