.mobile-forum-menu,
.nav-main-mobile {
  position: absolute;
  left: 0;
  top: 49px;
  width: 100%;
  height: calc(100vh - 48px);
  overflow-y: auto;
  transition: height .5s;
  transition-duration: .5s!important;
  background: var(--color-neutral-0);
  padding: 0;
  z-index: 1001
}
.mobile-forum-menu--bottom {
  height: calc(100vh - 66px);
  display: none
}
.node-type-blog .mobile-forum-menu--bottom,
.node-type-forum .mobile-forum-menu--bottom,
.page-forum .mobile-forum-menu--bottom {
  height: calc(100vh - 122px)
}
.mobile-forum-menu .forum_course__only_mobile.dropdown {
  display: block;
  line-height: 38px;
  overflow: hidden
}
.mobile-forum-menu .forum_course__only_mobile.dropdown .forum__dropdown_option.dropdown-toggle {
  display: block;
  background: inherit;
  border: none;
  color: inherit;
  padding: 10px 10px 10px 16px!important
}
.mobile-forum-menu .forum_course__only_mobile.dropdown .forum__dropdown_option.dropdown-toggle.show,
.mobile-forum-menu .forum_course__only_mobile.dropdown .forum__dropdown_option.dropdown-toggle.show i {
  color: #189eda
}
.mobile-forum-menu .forum_course__only_mobile.dropdown .forum__dropdown_option.dropdown-toggle .icon {
  color: var(--color-base);
  font-size: 16px;
  margin-right: 12px;
  text-align: center;
  width: 15px
}
.mobile-forum-menu .forum_course__dropdown__submenu.dropdown-menu {
  border: 0;
  box-shadow: none;
  display: none!important;
  height: 100%;
  max-height: 100%;
  position: relative;
  background: 0 0
}
.mobile-forum-menu .forum_course__dropdown__submenu.dropdown-menu.show {
  display: block!important;
  position: relative!important;
  transform: none!important
}
.mobile-forum-menu .forum_course__dropdown__submenu.dropdown-menu li {
  border: none
}
.show-bottom-panel.mobile-forum-menu-from-bottom .mobile-forum-menu--bottom {
  position: fixed;
  display: block;
  top: -1px!important;
  margin: 0;
  opacity: 1;
  transition: .3s ease-in-out
}
@media (max-width: 991px) {
  .mobile-forum-menu .forum__dropdown_option {
    width: 100%;
    font-weight: normal;
    font-size: 14px
  }
  .mobile-forum-menu .forum__dropdown_option .icon {
    font-size: 16px
  }
  .mobile-forum-menu .forum__dropdown_option .icon-angle-up {
    transition: .2s ease-in;
    font-size: 24px!important
  }
  .mobile-forum-menu .forum__dropdown_option.show .icon-angle-up {
    transform: rotate(180deg)
  }
  .mobile-forum-menu .forum__dropdown_option .shortname {
    align-content: center;
    border-radius: 8px;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    line-height: 24px;
    margin-right: 5px;
    min-width: 32px;
    padding: 2px 5px;
    text-align: center;
    width: auto
  }
  .mobile-forum-menu > li:not(:last-child) {
    line-height: 38px;
    overflow: hidden
  }
  .mobile-forum-menu > li:first-child {
    margin-top: 10px
  }
  .mobile-forum-menu .dropdown-menu > li > a.forum__dropdown_option {
    width: 100%;
    padding: 12px 10px 10px 45px
  }
  .mobile-forum-menu .dropdown-menu.forum_course__dropdown__submenu > li:last-child a {
    width: fit-content;
    background: #189eda;
    margin-left: 45px;
    text-transform: uppercase;
    padding: 8px 14px;
    border-radius: 3px;
    color: var(--color-neutral-0);
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 9px
  }
  .mobile-forum-menu.collapsing {
    transition: height .1s
  }
}
/*# sourceMappingURL=mobile-menu-styles.component.css.map */
