@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.userbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  @include media('<desktop') {
    position: absolute;
    top: 14px;
    right: 119px;
  }

  > a {
    display: flex;
    text-decoration: none;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  figure {
    margin: 0;
  }

  .profile-info {
    display: flex;
    align-items: center;
    margin: 0 8px;
    position: relative;
    vertical-align: middle;

    @include media('<desktop') {
      flex-wrap: wrap;
    }

    .caret {
      border: 0;
      min-width: 16px;
      width: 16px;
      height: 16px;
      position: relative;
      margin-left: 5px;

      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border: solid 1px var(--color-neutral-4);
        background-color: var(--color-neutral-0);
      }

      &:after {
        font-family: 'fa-custom';
        content: '\e808';
        font-size: 9px;
        color: var(--color-neutral-7);
        display: inline-block;
        transform: translate(-50%,-50%) rotate(-90deg);
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }

    .greeting,
    .profile {
      @include media('<desktop') {
        display: block;
        width: 100%;
      }
    }

  }

  .profile-picture {
    display: inline-block;
    vertical-align: middle;

    img {
      width: 32px;
      height: 32px;
      max-width: 32px;
      max-height: 32px;
      object-fit: cover;
      color: transparent;
      transition: .3s ease-in-out;

      &:hover {
        opacity: .6;
      }
    }
  }

  .profile__info {
    .name {
      display: block;
    }
  }

  .role {
    color: var(--color-base);
    display: block;
    font-size: 1.1rem;
    line-height: 1.2em;
  }

  .name {
    color: var(--color-base);
    font-size: 14px;
    line-height: 1.2em;
    max-width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.open {
    .profile-info {
      &.hidden {
        display: inline !important;
        left: 34px;
        position: absolute;
        top: 4px;
      }

      .caret {
        &:after {
          color: $color-blue;
          transform: rotate(90deg);
          top: -3px;
          left: 4px;
        }
      }
    }

    .dropdown-menu {
      border: none;
      box-shadow: none;
      left: auto;
      padding: 0;
      right: -4px;
      top: 42px;
      width: 180px;
      z-index: 992;

      @include media('<desktop') {
        left: -5px;
        padding: 37px 5px 0;
      }
    }
  }
}

.notifications {
  display: inline-block;
  list-style: none;
  padding: 0;
  vertical-align: middle;
  margin-bottom: 0;

  @include media('<tablet') {
    float: right;
    //margin: 16px 8px 0 0;
    margin: auto;

    > li {
      position: static;

      &.open {
        .notification-icon {
          &:before {
            display: block;
          }
        }
      }
    }
  }

  @include media('<desktop') {
    margin: auto;

    > li {
      .notification-menu.show {
        left: 0;
        right: 0;
        width: 100vw;

        ul {
          width: 100%;
        }

        &:before {
          display: none;
        }
      }

      .notification-icon {
        background: var(--color-neutral-2);
        border: 1px solid transparent;
        border-radius: 3px;
        color: var(--color-base);
        font-weight: 600;
        letter-spacing: .2px;
        text-shadow: none;
        text-transform: capitalize;
        margin: 8px 5px;
      }
    }
  }

  > li {
    position: relative;

    .notification-icon {
      background: var(--color-neutral-0);
      border-radius: 50%;
      border: solid 1px var(--color-neutral-4);
      display: inline-block;
      height: 32px;
      position: relative;
      width: 32px;
      text-align: center;
      transition: .3s ease-in-out;

      .darkmode & {
        border: solid 1px var(--color-neutral-3);
      }

      i {
        color: var(--color-base);
        line-height: 30px;
        vertical-align: middle;

        &.fa-tasks {
          line-height: 32px;
        }
      }

      &:hover {
        i {
          color: $color-blue;
        }
      }
    }

    > a {
      border: none;
      display: inline-block;
    }

    .private-message-notification-wrapper {
      .badge {
        a {
          color: var(--color-neutral-0);
        }
      }

      .notification-icon {
        > a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }
  }

  .notification-menu {
    border: none;
    box-shadow: none;
    top: auto !important;
    left: auto !important;
    right: -4px;
    margin: 7px 0 0 0;
    padding: 0;
    transform: none !important;
    will-change: unset !important;
    color: var(--color-neutral-6);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 0;

      a {
        &:hover {
          background-color: var(--color-neutral-3);
        }
      }
    }

    .image {
      float: left;
      margin: 0 10px 0 0;

      i {
        border-radius: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        width: 35px;
      }
    }

    .truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .title {
      color: var(--color-base);
      display: block;
      font-family: inherit;
      font-size: 1.3rem;
      line-height: 1.7rem;
      margin-bottom: inherit;
      padding: 2px 0 0;
    }

    .message {
      color: var(--color-neutral-6);
      display: block;
      font-size: 1.1rem;
      line-height: 1.5rem;
      padding: 0;
    }

    &.large {
      width: 325px;
    }

    .notification-title {
      background: $color-blue;
      border-radius: 3px 3px 0 0;
      color: var(--color-neutral-0);
      font-size: 1.1rem;
      line-height: 1.5rem;
      padding: 8px 6px 8px 12px;
      text-transform: uppercase;

      .label {
        font-size: 1rem;
        font-weight: 200;
        line-height: 14px;
        margin-left: 10px;
        margin-top: -2px;
        min-width: 35px;
      }

      .label-default {
        background: $steelblue_006697;
        color: var(--color-neutral-0);
      }
    }

    hr {
      background: var(--color-neutral-4);
      height: 1px;
      margin: 12px 0;
    }

    .view-more {
      color: var(--color-base);
      font-size: 1.1rem;
      line-height: 1.1rem;
      text-transform: uppercase;
    }

    &:before {
      bottom: 100%;
      right: 16px;
    }
  }

  .notification-icon {
    &:before {
      display: none;
      right: 11px;
      top: 35px;
      z-index: 9999;
    }

    .badge {
      background: $color-red;
      color: var(--color-neutral-0);
      font-size: 10px;
      font-weight: normal;
      height: 16px;
      padding: 3px 5px 3px 5px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -5px;
    }
    &.badge {
      background: $color-red;
      color: var(--color-neutral-0);
      font-size: 10px;
      font-weight: normal;
      height: 16px;
      padding: 3px 5px 3px 5px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -5px;
    }
    &.notification-icon-danger {
      &.badge {
        background: $color-red;
        color: var(--color-neutral-0);
        font-size: 10px;
        font-weight: normal;
        height: 16px;
        padding: 3px 5px 3px 5px;
        position: absolute;
        right: -5px;
        text-align: center;
        top: -5px;
      }
    }

  }

  .notification-icon-success {
    &.badge {
      background-color: $color-green-100;
      border-color: $forestgreen_4cae4c;
    }
  }

  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
}

@include media('<desktop') {
  .nav-main-mobile {
    .userbox {
      .profile-picture {
        img {
          color: transparent;
          height: 48px;
          max-height: 48px;
          max-width: 48px;
          object-fit: cover;
          width: 48px;
        }
      }
    }

    .block-monkey-head-floating {
      .userbox {
        position: relative;
        padding: 16px 26px;
        top: auto;
        left: auto;
        right: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        border-bottom: 1px solid var(--color-neutral-2);

        > a {
          span {
            &.profile {
              font-family: Lato, sans-serif;
              font-size: 13px;
              font-weight: 700;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.23;
              letter-spacing: .2px;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              margin: 0;
              color: $color-blue;

              .icon {
                font-size: 9px;
                margin-left: 5px;
              }
            }
          }
        }

        > .dropdown-menu {
          left: 20px;
          margin-top: 30px;
          padding: 0;
          position: absolute;
          width: 180px;
        }

        .dropdown-backdrop {
          display: none;
        }

        .header__user-menu__items {
          li {
            &:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}
