.userbox {
  display: inline-block;
  position: relative;
  vertical-align: middle
}
.userbox > a {
  display: flex;
  text-decoration: none
}
.userbox a:hover {
  text-decoration: none
}
.userbox figure {
  margin: 0
}
.userbox .profile-info {
  display: flex;
  align-items: center;
  margin: 0 8px;
  position: relative;
  vertical-align: middle
}
.userbox .profile-info .caret {
  border: 0;
  min-width: 16px;
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 5px
}
.userbox .profile-info .caret:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: solid 1px var(--color-neutral-4);
  background-color: var(--color-neutral-0)
}
.userbox .profile-info .caret:after {
  font-family: fa-custom;
  content: "\e808";
  font-size: 9px;
  color: var(--color-neutral-7);
  display: inline-block;
  transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%
}
.userbox .profile-picture {
  display: inline-block;
  vertical-align: middle
}
.userbox .profile-picture img {
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
  object-fit: cover;
  color: transparent;
  transition: .3s ease-in-out
}
.userbox .profile-picture img:hover {
  opacity: .6
}
.userbox .profile__info .name {
  display: block
}
.userbox .role {
  color: var(--color-base);
  display: block;
  font-size: 1.1rem;
  line-height: 1.2em
}
.userbox .name {
  color: var(--color-base);
  font-size: 14px;
  line-height: 1.2em;
  max-width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.userbox.open .profile-info.hidden {
  display: inline!important;
  left: 34px;
  position: absolute;
  top: 4px
}
.userbox.open .profile-info .caret:after {
  color: #087dfd;
  transform: rotate(90deg);
  top: -3px;
  left: 4px
}
.userbox.open .dropdown-menu {
  border: none;
  box-shadow: none;
  left: auto;
  padding: 0;
  right: -4px;
  top: 42px;
  width: 180px;
  z-index: 992
}
.notifications {
  display: inline-block;
  list-style: none;
  padding: 0;
  vertical-align: middle;
  margin-bottom: 0
}
.notifications > li {
  position: relative
}
.notifications > li .notification-icon {
  background: var(--color-neutral-0);
  border-radius: 50%;
  border: solid 1px var(--color-neutral-4);
  display: inline-block;
  height: 32px;
  position: relative;
  width: 32px;
  text-align: center;
  transition: .3s ease-in-out
}
.darkmode .notifications > li .notification-icon {
  border: solid 1px var(--color-neutral-3)
}
.notifications > li .notification-icon i {
  color: var(--color-base);
  line-height: 30px;
  vertical-align: middle
}
.notifications > li .notification-icon i.fa-tasks {
  line-height: 32px
}
.notifications > li .notification-icon:hover i {
  color: #087dfd
}
.notifications > li > a {
  border: none;
  display: inline-block
}
.notifications > li .private-message-notification-wrapper .badge a {
  color: var(--color-neutral-0)
}
.notifications > li .private-message-notification-wrapper .notification-icon > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}
.notifications .notification-menu {
  border: none;
  box-shadow: none;
  top: auto!important;
  left: auto!important;
  right: -4px;
  margin: 7px 0 0;
  padding: 0;
  transform: none!important;
  will-change: unset!important;
  color: var(--color-neutral-6)
}
.notifications .notification-menu ul {
  list-style: none;
  margin: 0;
  padding: 0
}
.notifications .notification-menu li {
  margin-bottom: 0
}
.notifications .notification-menu li a:hover {
  background-color: var(--color-neutral-3)
}
.notifications .notification-menu .image {
  float: left;
  margin: 0 10px 0 0
}
.notifications .notification-menu .image i {
  border-radius: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px
}
.notifications .notification-menu .truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.notifications .notification-menu .title {
  color: var(--color-base);
  display: block;
  font-family: inherit;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: inherit;
  padding: 2px 0 0
}
.notifications .notification-menu .message {
  color: var(--color-neutral-6);
  display: block;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 0
}
.notifications .notification-menu.large {
  width: 325px
}
.notifications .notification-menu .notification-title {
  background: #087dfd;
  border-radius: 3px 3px 0 0;
  color: var(--color-neutral-0);
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 8px 6px 8px 12px;
  text-transform: uppercase
}
.notifications .notification-menu .notification-title .label {
  font-size: 1rem;
  font-weight: 200;
  line-height: 14px;
  margin-left: 10px;
  margin-top: -2px;
  min-width: 35px
}
.notifications .notification-menu .notification-title .label-default {
  background: #006697;
  color: var(--color-neutral-0)
}
.notifications .notification-menu hr {
  background: var(--color-neutral-4);
  height: 1px;
  margin: 12px 0
}
.notifications .notification-menu .view-more {
  color: var(--color-base);
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-transform: uppercase
}
.notifications .notification-menu:before {
  bottom: 100%;
  right: 16px
}
.notifications .notification-icon:before {
  display: none;
  right: 11px;
  top: 35px;
  z-index: 9999
}
.notifications .notification-icon .badge,
.notifications .notification-icon.badge,
.notifications .notification-icon.notification-icon-danger.badge {
  background: #f04944;
  color: var(--color-neutral-0);
  font-size: 10px;
  font-weight: normal;
  height: 16px;
  padding: 3px 5px;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -5px
}
.notifications .notification-icon-success.badge {
  background-color: #0cb930;
  border-color: #4cae4c
}
.notifications .dropdown-toggle:after {
  display: none
}
@media (max-width: 991px) {
  .userbox {
    position: absolute;
    top: 14px;
    right: 119px
  }
  .userbox .profile-info {
    flex-wrap: wrap
  }
  .userbox .profile-info .greeting,
  .userbox .profile-info .profile {
    display: block;
    width: 100%
  }
  .userbox.open .dropdown-menu {
    left: -5px;
    padding: 37px 5px 0
  }
  .notifications {
    margin: auto
  }
  .notifications > li .notification-menu.show {
    left: 0;
    right: 0;
    width: 100vw
  }
  .notifications > li .notification-menu.show ul {
    width: 100%
  }
  .notifications > li .notification-menu.show:before {
    display: none
  }
  .notifications > li .notification-icon {
    background: var(--color-neutral-2);
    border: 1px solid transparent;
    border-radius: 3px;
    color: var(--color-base);
    font-weight: 600;
    letter-spacing: .2px;
    text-shadow: none;
    text-transform: capitalize;
    margin: 8px 5px
  }
  .nav-main-mobile .userbox .profile-picture img {
    color: transparent;
    height: 48px;
    max-height: 48px;
    max-width: 48px;
    object-fit: cover;
    width: 48px
  }
  .nav-main-mobile .block-monkey-head-floating .userbox {
    position: relative;
    padding: 16px 26px;
    top: auto;
    left: auto;
    right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: 1px solid var(--color-neutral-2)
  }
  .nav-main-mobile .block-monkey-head-floating .userbox > a span.profile {
    font-family: Lato,sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: .2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 0;
    color: #087dfd
  }
  .nav-main-mobile .block-monkey-head-floating .userbox > a span.profile .icon {
    font-size: 9px;
    margin-left: 5px
  }
  .nav-main-mobile .block-monkey-head-floating .userbox > .dropdown-menu {
    left: 20px;
    margin-top: 30px;
    padding: 0;
    position: absolute;
    width: 180px
  }
  .nav-main-mobile .block-monkey-head-floating .userbox .dropdown-backdrop,
  .nav-main-mobile .block-monkey-head-floating .userbox .header__user-menu__items li:first-child {
    display: none
  }
}
@media (max-width: 767px) {
  .notifications {
    float: right;
    margin: auto
  }
  .notifications > li {
    position: static
  }
  .notifications > li.open .notification-icon:before {
    display: block
  }
}
/*# sourceMappingURL=monkey-head.user.component.css.map */
