@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

/* Header bottom */
.navbar__bottom__part {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  @include media('>=desktop') {
    min-height: $bottom-height + 2;
    padding-bottom: 10px;
  }

  /* Header bottom left part */
  .nav__forum {
    display: flex;

    /* Left part's industries shortnames */
    .header__forum-industries__block {
      display: flex;

      .header__industry__items {
        position: relative;
        margin: 0;
        padding: 0 11px;
        display: flex;
        justify-content: space-between;

        @include media('>=desktop') {
          padding: 0 6px;
        }

        @media (min-width: 1024px) {
          padding: 0 11px;
        }

        li {
          height: $bottom-height - 2;
          line-height: $bottom-height - 2;
          margin: 0;
          display: inline-flex;
          align-items: center;
          padding-right: 5px;
          padding-left: 5px;

          &.divider {
            color: var(--color-neutral-3);
            font-weight: 400;
            font-size: 12px;
          }

          a {
            color: var(--color-base);
            width: 30px;
            height: 30px;
            background-color: var(--color-neutral-1);
            display: inline-block;
            border-radius: 2px;
            font-size: 11px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.27;
            letter-spacing: .2px;
            padding: 0;
            position: relative;

            .darkmode & {
              background-color: var(--color-page-bg);
            }

            .icon {
              @include absolute-center();
              color: var(--color-base);
              font-size: 14px;
            }

            &:hover {
              color: $color-blue;
              text-decoration: none;

              .icon {
                color: $color-blue;
              }
            }
          }
        }

        + .header__industry__items {
          display: flex;
          justify-content: space-between;
          border-radius: 3px;
          border: solid 1px var(--color-neutral-3);
          padding: 0 10px;
          margin-left: 0;

          @media (min-width: 1024px) {
            margin-left: 7px;
          }

          li {
            a {
              height: auto;
              margin-top: 0;
              width: auto;
              background: transparent;
            }
          }
        }

        &--icons {
          padding-right: 2px;

          li {
            margin-top: 1px;
          }
        }
      }
    }
  }
}
