.navbar__bottom__part {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap
}
.navbar__bottom__part .nav__forum,
.navbar__bottom__part .nav__forum .header__forum-industries__block {
  display: flex
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items {
  position: relative;
  margin: 0;
  padding: 0 11px;
  display: flex;
  justify-content: space-between
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items li {
  height: 34px;
  line-height: 34px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items li.divider {
  color: var(--color-neutral-3);
  font-weight: 400;
  font-size: 12px
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items li a {
  color: var(--color-base);
  width: 30px;
  height: 30px;
  background-color: var(--color-neutral-1);
  display: inline-block;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: .2px;
  padding: 0;
  position: relative
}
.darkmode .navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items li a {
  background-color: var(--color-page-bg)
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items li a .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-base);
  font-size: 14px
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items li a:hover {
  color: #087dfd;
  text-decoration: none
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items li a:hover .icon {
  color: #087dfd
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items + .header__industry__items {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-3);
  padding: 0 10px;
  margin-left: 0
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items + .header__industry__items li a {
  height: auto;
  margin-top: 0;
  width: auto;
  background: 0 0
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items--icons {
  padding-right: 2px
}
.navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items--icons li {
  margin-top: 1px
}
@media (min-width: 992px) {
  .navbar__bottom__part {
    min-height: 38px;
    padding-bottom: 10px
  }
  .navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items {
    padding: 0 6px
  }
}
@media (min-width: 1024px) {
  .navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items {
    padding: 0 11px
  }
  .navbar__bottom__part .nav__forum .header__forum-industries__block .header__industry__items + .header__industry__items {
    margin-left: 7px
  }
}
/*# sourceMappingURL=navbar--bottom-part.component.css.map */
