@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

/* Header top */
.navbar__top__part {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: $mobile-header-height;

  @include media('<desktop') {
    .navbar__top__branding > button.forum-dropdown {
      height: 32px;
      width: 32px;
      margin: 8px 5px;
      padding: 7px;
    
      .icon-bar {
        width: 22px;
        transition: all 0.2s;
        background-color: var(--color-base);
        display: block;
        width: 18px;
        height: 2px;
        border-radius: 1px;
        &+.icon-bar {
          margin-top: 3px;
        }
      }
    
      .icon-bar:nth-of-type(1) {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
    
      &[aria-expanded="false"] .icon-bar:nth-of-type(1) {
        transform: rotate(0);
        margin-left: -1px;
      }
    
      .icon-bar:nth-of-type(2) {
        opacity: 0;
      }
    
      &[aria-expanded="false"] .icon-bar:nth-of-type(2) {
        opacity: 1;
        margin-left: -1px;
      }
    
      .icon-bar:nth-of-type(3) {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    
      &[aria-expanded="false"] .icon-bar:nth-of-type(3) {
        transform: rotate(0);
        margin-left: -1px;
      }
    }
    .forum__dropdown_option {
      display: block;
    }

  }

  @include media('>=desktop') {
    height: auto;
  }

  .icon {
    font-size: 14px;

    &-graduation-cap {
      font-size: 16px;
    }
  }

  .logo {
    transition: inherit;
    position: relative;
    z-index: 1;
    padding: 0 !important;
    min-width: 96px;
    max-width: 96px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {
      height: auto;
      width: 100%;
      margin-top: 0;
    }

    .darkmode & {
      img {
        opacity: 0;
      }

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('/themes/custom/porto_sub/images/wso-logo-2019-dark-2x.png') no-repeat center left;
        background-size: contain;
      }
    }

    @include media('<desktop') {
      margin: 6px;
    }
  }

  /* Header top left part */
  .navbar__top__branding {
    display: flex;

    nav.navbar {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  /* Header right part */
  .navbar__top__user {
    display: flex;
    align-items: center;
    margin-right: 5px;

    @include media('<desktop') {
      .user-messages {
        &,
        &--notifications {
          display: none;
        }
      }

      .header-user-menu--opened & {
        .user-messages {
          order: 1;
          display: inline-block;

          &--notifications {
            order: 2;
          }
        }

        .user-courses {
          display: inline-block !important;
          order: 3;
        }

        .m-user {
          order: 4;
          display: inline-block;
          margin-left: 15px;
        }
      }

      .authorize__links {
        display: none;
      }
    }
  }

  .nav-main-mobile {
    background: var(--color-neutral-0);

    &.show,
    &.collapsing {
      display: block !important;
      z-index: 1001;
    }
  }

  button[data-bs-toggle="collapse"] {
    padding: 0;
    height: 32px;
    width: 32px;
    background: var(--color-neutral-2);
    color: var(--color-base);
    margin: 8px 5px;

    .icon-cancel {
      display: none;
    }

    &[aria-expanded="true"] {
      .icon {
        display: none;
      }

      .icon-cancel {
        display: block;
      }
    }

    &.btn-transparent {
      background: transparent;
      border: 0;
    }
  }

  #mobile-menu {
    .nav-link {
      color: var(--color-base);
      display: block;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .4px;
      line-height: 1.2;
      text-transform: uppercase;
      width: calc(100% - 40px);
      height: auto;
      padding: 0;
      border: 0;
      background: 0;
    }

    .nav-item {
      padding: 16px 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      border: 0;
      cursor: pointer;
      &.dropdown > a {
        transition: .2s ease-in;
        position: relative;
        width: 100%;
        &::after {
          position: absolute;
          border-style: solid;
          border-width: 0.2em 0.2em 0 0;
          content: '';
          display: inline-block;
          height: 0.7em;
          right: 25px;
          top: 7px;
          transform: rotate(-45deg);
          vertical-align: top;
          border-bottom: 0;
          border-left: 0;
          width: 0.7em;
          border-radius: 1px;
          border-top: 0.2em solid;
          border-right: 0.2em solid;
          transition: .2s ease-in;
        }
        &.show {
          color: $color-oasis-blue;
          &::after {
            transform: rotate(135deg);
          }
        }
      }
      .dropdown-menu {
        border: 0;
        width: 100%;
      }
    }

    .mega__group__title {
      display: block;
      list-style: none;
      border-bottom: 1px solid var(--color-neutral-2);

      a {
        padding: 14px 0;
        width: 100%;
        color: #4f4f4f;
        display: block;
        font-family: Lato, sans-serif;
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, font-weight);
        letter-spacing: .2px;
        line-height: 1.54;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
}

.not-logged-in {
  .btn {
    &.btn-logged-in {
      display: none;
    }
  }
}

.logged-in {
  .navbar__top__part {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    &.btn-logged-out {
      display: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
