.navbar__top__part {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 48px
}
.navbar__top__part .icon {
  font-size: 14px
}
.navbar__top__part .icon-graduation-cap {
  font-size: 16px
}
.navbar__top__part .logo {
  transition: inherit;
  position: relative;
  z-index: 1;
  padding: 0!important;
  min-width: 96px;
  max-width: 96px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center
}
.navbar__top__part .logo img {
  height: auto;
  width: 100%;
  margin-top: 0
}
.darkmode .navbar__top__part .logo img {
  opacity: 0
}
.darkmode .navbar__top__part .logo:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/themes/custom/porto_sub/images/wso-logo-2019-dark-2x.png) center left/contain no-repeat
}
.navbar__top__part .navbar__top__branding {
  display: flex
}
.navbar__top__part .navbar__top__branding nav.navbar {
  padding-top: 0;
  padding-bottom: 0
}
.navbar__top__part .navbar__top__user {
  display: flex;
  align-items: center;
  margin-right: 5px
}
.navbar__top__part .nav-main-mobile {
  background: var(--color-neutral-0)
}
.navbar__top__part .nav-main-mobile.collapsing,
.navbar__top__part .nav-main-mobile.show {
  display: block!important;
  z-index: 1001
}
.navbar__top__part button[data-bs-toggle=collapse] {
  padding: 0;
  height: 32px;
  width: 32px;
  background: var(--color-neutral-2);
  color: var(--color-base);
  margin: 8px 5px
}
.navbar__top__part button[data-bs-toggle=collapse] .icon-cancel,
.navbar__top__part button[data-bs-toggle=collapse][aria-expanded=true] .icon {
  display: none
}
.navbar__top__part button[data-bs-toggle=collapse][aria-expanded=true] .icon-cancel {
  display: block
}
.navbar__top__part button[data-bs-toggle=collapse].btn-transparent {
  background: 0 0;
  border: 0
}
.navbar__top__part #mobile-menu .nav-link {
  color: var(--color-base);
  display: block;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .4px;
  line-height: 1.2;
  text-transform: uppercase;
  width: calc(100% - 40px);
  height: auto;
  padding: 0;
  border: 0;
  background: 0
}
.navbar__top__part #mobile-menu .nav-item {
  padding: 16px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 0;
  cursor: pointer
}
.navbar__top__part #mobile-menu .nav-item.dropdown > a {
  transition: .2s ease-in;
  position: relative;
  width: 100%
}
.navbar__top__part #mobile-menu .nav-item.dropdown > a::after {
  position: absolute;
  border-style: solid;
  border-width: .2em .2em 0 0;
  content: "";
  display: inline-block;
  height: .7em;
  right: 25px;
  top: 7px;
  transform: rotate(-45deg);
  vertical-align: top;
  border-bottom: 0;
  border-left: 0;
  width: .7em;
  border-radius: 1px;
  border-top: .2em solid;
  border-right: .2em solid;
  transition: .2s ease-in
}
.navbar__top__part #mobile-menu .nav-item.dropdown > a.show {
  color: #189eda
}
.navbar__top__part #mobile-menu .nav-item.dropdown > a.show::after {
  transform: rotate(135deg)
}
.navbar__top__part #mobile-menu .nav-item .dropdown-menu {
  border: 0;
  width: 100%
}
.navbar__top__part #mobile-menu .mega__group__title {
  display: block;
  list-style: none;
  border-bottom: 1px solid var(--color-neutral-2)
}
.navbar__top__part #mobile-menu .mega__group__title a {
  padding: 14px 0;
  width: 100%;
  color: #4f4f4f;
  display: block;
  font-family: Lato,sans-serif;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.54;
  text-transform: uppercase;
  white-space: nowrap
}
.not-logged-in .btn.btn-logged-in {
  display: none
}
.logged-in .navbar__top__part {
  align-items: center;
  display: flex;
  justify-content: space-between
}
.logged-in .btn.btn-logged-out {
  display: none
}
.logged-in img {
  max-width: 100%;
  height: auto
}
@media (min-width: 992px) {
  .navbar__top__part {
    height: auto
  }
  .navbar__top__part #mobile-menu .mega__group__title a,
  .navbar__top__part #mobile-menu .nav-link {
    font-weight: 800
  }
}
@media (max-width: 991px) {
  .navbar__top__part .navbar__top__branding > button.forum-dropdown {
    height: 32px;
    width: 32px;
    margin: 8px 5px;
    padding: 7px
  }
  .navbar__top__part .navbar__top__branding > button.forum-dropdown .icon-bar {
    transition: .2s;
    background-color: var(--color-base);
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 1px
  }
  .navbar__top__part .navbar__top__branding > button.forum-dropdown .icon-bar + .icon-bar {
    margin-top: 3px
  }
  .navbar__top__part .navbar__top__branding > button.forum-dropdown .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%
  }
  .navbar__top__part .navbar__top__branding > button.forum-dropdown[aria-expanded=false] .icon-bar:nth-of-type(1) {
    transform: rotate(0);
    margin-left: -1px
  }
  .navbar__top__part .navbar__top__branding > button.forum-dropdown .icon-bar:nth-of-type(2) {
    opacity: 0
  }
  .navbar__top__part .navbar__top__branding > button.forum-dropdown[aria-expanded=false] .icon-bar:nth-of-type(2) {
    opacity: 1;
    margin-left: -1px
  }
  .navbar__top__part .navbar__top__branding > button.forum-dropdown .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%
  }
  .navbar__top__part .navbar__top__branding > button.forum-dropdown[aria-expanded=false] .icon-bar:nth-of-type(3) {
    transform: rotate(0);
    margin-left: -1px
  }
  .navbar__top__part .forum__dropdown_option {
    display: block
  }
  .navbar__top__part .logo {
    margin: 6px
  }
  .navbar__top__part .navbar__top__user .user-messages,
  .navbar__top__part .navbar__top__user .user-messages--notifications {
    display: none
  }
  .header-user-menu--opened .navbar__top__part .navbar__top__user .user-messages {
    order: 1;
    display: inline-block
  }
  .header-user-menu--opened .navbar__top__part .navbar__top__user .user-messages--notifications {
    order: 2
  }
  .header-user-menu--opened .navbar__top__part .navbar__top__user .user-courses {
    display: inline-block!important;
    order: 3
  }
  .header-user-menu--opened .navbar__top__part .navbar__top__user .m-user {
    order: 4;
    display: inline-block;
    margin-left: 15px
  }
  .navbar__top__part .navbar__top__user .authorize__links {
    display: none
  }
}
/*# sourceMappingURL=navbar--top-part.component.css.map */
