@import "./components/common-styles/helpers/wso-variables";
@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.header__user-menu__items {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
  border: 1px solid var(--color-neutral-2);
  background-color: var(--color-neutral-0);
  border-radius: 4px;

  &:before {
    background-color: var(--color-neutral-0);
    border-left: 1px solid var(--color-neutral-2);
    border-top: 1px solid var(--color-neutral-2);
    content: "";
    height: 6px;
    position: absolute;
    right: 15px;
    top: -4px;
    transform: rotate(45deg);
    width: 6px;
    z-index: 10;
  }
}

.header__user-menu__item {
  display: inline-block;
  width: 100%;

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: var(--color-neutral-3);
    border-color: var(--color-neutral-2);

    .user-menu__link {
      color: var(--color-base);
      text-decoration: none;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.user-menu__link {
  color: var(--color-base);
  display: inline-block;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, 'font-weight');
  height: 38px;
  letter-spacing: .1px;
  line-height: 38px;
  padding: 0 16px;
  width: 100%;
}

.user-menu__rank__link {
  display: flex;
  justify-content: space-between;
}

.user-menu__item__cta {
  padding: 8px 16px;

  .btn {
    width: 100%;
  }

  &:hover {
    background: var(--color-neutral-0);
  }
}

.header__user-menu__title {
  &:hover {
    background: var(--color-neutral-0);
  }
}

.user-menu__title {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-neutral-5);
  display: inline-block;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .4px;
  line-height: normal;
  padding: 28px 16px 12px;
  text-transform: uppercase;
}

.user-menu__username_link {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 13px;
  border-top: 1px solid var(--color-neutral-2);
  height: 45px;
  line-height: 45px;
  letter-spacing: .2px;
  color: var(--color-base);

  .profile-picture {
    display: flex;
    padding-right: 8px;

    img {
      height: 32px;
      width: 32px;
    }
  }

  &:hover {
    span {
      color: var(--color-base);
      text-decoration: none;
    }
  }
}

.user-menu__rank__title {
  color: var(--color-base);
  display: inline-block;
  letter-spacing: .2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.user-menu__rank__value {
  align-self: center;
  color: var(--color-base);
  display: flex;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1;
}
