.header__user-menu__items {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
  border: 1px solid var(--color-neutral-2);
  background-color: var(--color-neutral-0);
  border-radius: 4px
}
.header__user-menu__items:before {
  background-color: var(--color-neutral-0);
  border-left: 1px solid var(--color-neutral-2);
  border-top: 1px solid var(--color-neutral-2);
  content: "";
  height: 6px;
  position: absolute;
  right: 15px;
  top: -4px;
  transform: rotate(45deg);
  width: 6px;
  z-index: 10
}
.header__user-menu__item {
  display: inline-block;
  width: 100%
}
.header__user-menu__item:last-child {
  border: none
}
.header__user-menu__item:hover {
  background-color: var(--color-neutral-3);
  border-color: var(--color-neutral-2)
}
.header__user-menu__item:hover .user-menu__link {
  color: var(--color-base);
  text-decoration: none
}
.header__user-menu__item a:hover {
  text-decoration: none
}
.user-menu__link {
  color: var(--color-base);
  display: inline-block;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: 38px;
  letter-spacing: .1px;
  line-height: 38px;
  padding: 0 16px;
  width: 100%
}
.user-menu__rank__link {
  display: flex;
  justify-content: space-between
}
.user-menu__item__cta {
  padding: 8px 16px
}
.user-menu__item__cta .btn {
  width: 100%
}
.header__user-menu__title:hover,
.user-menu__item__cta:hover {
  background: var(--color-neutral-0)
}
.user-menu__title {
  font-weight: 700;
  color: var(--color-neutral-5);
  display: inline-block;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .4px;
  line-height: normal;
  padding: 28px 16px 12px;
  text-transform: uppercase
}
.user-menu__username_link {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 13px;
  border-top: 1px solid var(--color-neutral-2);
  height: 45px;
  line-height: 45px;
  letter-spacing: .2px;
  color: var(--color-base)
}
.user-menu__username_link .profile-picture {
  display: flex;
  padding-right: 8px
}
.user-menu__username_link .profile-picture img {
  height: 32px;
  width: 32px
}
.user-menu__username_link:hover span {
  color: var(--color-base);
  text-decoration: none
}
.user-menu__rank__title {
  color: var(--color-base);
  display: inline-block;
  letter-spacing: .2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}
.user-menu__rank__value {
  align-self: center;
  color: var(--color-base);
  display: flex;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1
}
@media (min-width: 992px) {
  .user-menu__link,
  .user-menu__title {
    font-weight: 800
  }
}
/*# sourceMappingURL=user-menu.user.component.css.map */
