@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.wso-resources__header {
  background: url("/themes/custom/porto_sub/images/wso-resources/header.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 30px;

  h1 {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-neutral-0);
    font-size: 32px;
    letter-spacing: .2px;
    line-height: 1.13;
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    color: var(--color-neutral-0);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.56;
    margin-bottom: 0;
    opacity: .8;
    text-align: center;
  }

  abbr {
    text-decoration: none;
  }
}

.wso-resources__header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 280px;
  padding: 20px;
}

.wso-resources__section {
  background-color: var(--color-neutral-0);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  margin-bottom: 20px;
}

.wso-resources__section-body {
  border-bottom: var(--color-neutral-2) 2px solid;
  padding: 20px 28px;

  h4 {
    @include font-color-grey-darkmode;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: .1px;
    line-height: 1.25;
  }

  h3 {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 26px;
    letter-spacing: .2px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  p {
    color: var(--color-base);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 1.56;
  }
}

.wso-resources__section-links {
  padding: 10px 28px 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 100%;
    padding: 4px 0;
    white-space: nowrap;

    a {
      color: $color-blue;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 1.25;
      white-space: normal;
    }

    i {
      content: url("/themes/custom/porto_sub/images/icons/icon_arrow_right.png");
    }
  }
}

.wso-resources__section-text {
  padding-right: 50px;
}

.wso-resources__section-image {
  height: 140px;

  div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 100%;
  }
}

@include media('>=tablet') {
  .wso-resources__header {
    margin-bottom: 50px;

    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
      max-width: 550px;
    }
  }

  .wso-resources__section {
    margin-bottom: 30px;

    .row-flex {
      align-content: center;
      align-items: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .wso-resources__section-body {
    padding: 40px 56px;

    h4 {
      font-size: 16px;
    }

    h3 {
      font-size: 32px;
    }
  }

  .wso-resources__section-links {
    padding: 20px 56px 20px;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      padding: 7px 20px 7px 0;
      width: 50%;
    }
  }

  .wso-resources__section-text {
    padding-right: 90px;
    width: 60%;
  }

  .wso-resources__section-image {
    height: auto;
    width: 40%;
  }
}

@include media('>=desktop') {
  .wso-resources__section-links {
    li {
      width: 33%;
    }
  }
}
