.wso-resources__header {
  background: url(/themes/custom/porto_sub/images/wso-resources/header.jpg) center center/cover no-repeat;
  margin-bottom: 30px
}
.wso-resources__header h1 {
  font-weight: 700;
  color: var(--color-neutral-0);
  font-size: 32px;
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 20px;
  text-align: center
}
.wso-resources__header h2 {
  color: var(--color-neutral-0);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.56;
  margin-bottom: 0;
  opacity: .8;
  text-align: center
}
.wso-resources__header abbr {
  text-decoration: none
}
.wso-resources__header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 280px;
  padding: 20px
}
.wso-resources__section {
  background-color: var(--color-neutral-0);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  margin-bottom: 20px
}
.wso-resources__section-body {
  border-bottom: var(--color-neutral-2) 2px solid;
  padding: 20px 28px
}
.wso-resources__section-body h4 {
  color: #9db2bc;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.25
}
.darkmode .wso-resources__section-body h4 {
  color: #c0beba
}
.wso-resources__section-body h3 {
  font-weight: 700;
  color: var(--color-base);
  font-size: 26px;
  letter-spacing: .2px;
  line-height: 1.25;
  margin-bottom: 10px
}
.wso-resources__section-body p {
  color: var(--color-base);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.56
}
.wso-resources__section-links {
  padding: 10px 28px
}
.wso-resources__section-links ul {
  list-style: none;
  margin: 0;
  padding: 0
}
.wso-resources__section-links li {
  width: 100%;
  padding: 4px 0;
  white-space: nowrap
}
.wso-resources__section-links li a {
  color: #087dfd;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1.25;
  white-space: normal
}
.wso-resources__section-links li i {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png)
}
.wso-resources__section-text {
  padding-right: 50px
}
.wso-resources__section-image {
  height: 140px
}
.wso-resources__section-image div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 100%
}
@media (min-width: 768px) {
  .wso-resources__header {
    margin-bottom: 50px
  }
  .wso-resources__header h1 {
    font-size: 48px
  }
  .wso-resources__header h2 {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px
  }
  .wso-resources__section {
    margin-bottom: 30px
  }
  .wso-resources__section .row-flex {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
  }
  .wso-resources__section-body {
    padding: 40px 56px
  }
  .wso-resources__section-body h4 {
    font-size: 16px
  }
  .wso-resources__section-body h3 {
    font-size: 32px
  }
  .wso-resources__section-links {
    padding: 20px 56px
  }
  .wso-resources__section-links ul {
    display: flex;
    flex-wrap: wrap
  }
  .wso-resources__section-links li {
    padding: 7px 20px 7px 0;
    width: 50%
  }
  .wso-resources__section-text {
    padding-right: 90px;
    width: 60%
  }
  .wso-resources__section-image {
    height: auto;
    width: 40%
  }
}
@media (min-width: 992px) {
  .wso-resources__header h1,
  .wso-resources__section-body h3 {
    font-weight: 800
  }
  .wso-resources__section-links li {
    width: 33%
  }
}
/*# sourceMappingURL=resources.component.css.map */
