@charset "UTF-8";
.eck-entity .button:focus {
  outline: 0
}
.eck-entity .btn-default.button {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.eck-entity .btn-default.button:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.eck-entity .btn-default.button:active,
.eck-entity .btn-default.button:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.eck-entity .btn-default.button:disabled {
  background-color: var(--color-neutral-1)
}
.eck-entity .button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
.eck-entity .button:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
.eck-entity .button:active,
.eck-entity .button:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
.eck-entity .button:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.eck-entity .btn-danger.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
.eck-entity .btn-danger.button:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
.eck-entity .btn-danger.button:active,
.eck-entity .btn-danger.button:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
.eck-entity .btn-danger.button:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.eck-entity .btn-lines.button,
.eck-entity .btn-secondary.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.eck-entity .btn-lines.button:hover,
.eck-entity .btn-secondary.button:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.eck-entity .btn-lines.button:active,
.eck-entity .btn-lines.button:focus,
.eck-entity .btn-secondary.button:active,
.eck-entity .btn-secondary.button:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.eck-entity .btn-lines.button:disabled,
.eck-entity .btn-secondary.button:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.eck-entity .btn-lines.mono.button,
.eck-entity .btn-secondary.mono.button {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
.eck-entity .btn-lines.mono.button:hover,
.eck-entity .btn-secondary.mono.button:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
.eck-entity .btn-lines.mono.button:active,
.eck-entity .btn-lines.mono.button:focus,
.eck-entity .btn-secondary.mono.button:active,
.eck-entity .btn-secondary.mono.button:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
.eck-entity .btn-lines.mono.button:disabled,
.eck-entity .btn-secondary.mono.button:disabled {
  background-color: var(--color-neutral-1)
}
.eck-entity .btn-lines.mono.danger.button,
.eck-entity .btn-secondary.mono.danger.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
.eck-entity .btn-lines.mono.danger.button:hover,
.eck-entity .btn-secondary.mono.danger.button:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
.eck-entity .btn-lines.mono.danger.button:active,
.eck-entity .btn-lines.mono.danger.button:focus,
.eck-entity .btn-secondary.mono.danger.button:active,
.eck-entity .btn-secondary.mono.danger.button:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
.eck-entity .btn-lines.mono.danger.button:disabled,
.eck-entity .btn-secondary.mono.danger.button:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.eck-entity .btn-other.button,
.eck-entity .btn-success-ghost.button,
.eck-entity .btn-transparency.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
.eck-entity .btn-other.button:hover,
.eck-entity .btn-success-ghost.button:hover,
.eck-entity .btn-transparency.button:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
.eck-entity .btn-other.button:active,
.eck-entity .btn-other.button:focus,
.eck-entity .btn-success-ghost.button:active,
.eck-entity .btn-success-ghost.button:focus,
.eck-entity .btn-transparency.button:active,
.eck-entity .btn-transparency.button:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
.eck-entity .btn-other.button:disabled,
.eck-entity .btn-success-ghost.button:disabled,
.eck-entity .btn-transparency.button:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.eck-entity .bg-white.button {
  background: var(--color-neutral-0)
}
.eck-entity .btn-info.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
.eck-entity .btn-info.button:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
.eck-entity .btn-info.button:active,
.eck-entity .btn-info.button:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
.eck-entity .btn-info.button:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.eck-entity .btn-info.btn-lines.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
.eck-entity .btn-info.btn-lines.button:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
.eck-entity .btn-info.btn-lines.button:active,
.eck-entity .btn-info.btn-lines.button:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
.eck-entity .btn-info.btn-lines.button:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
.eck-entity .btn-xs.button {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
.eck-entity .btn-sm.button {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
.eck-entity .btn-md.button {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
.eck-entity .btn-lg.button {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.eck-entity .btn-xl.button {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.page-node-edit--course #content,
.wso-lms-admin-import-users-form {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}
table {
  border-collapse: collapse;
  table-layout: fixed
}
tr:after {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden
}
tr.even {
  padding: 0 12px;
  background-color: var(--color-neutral-0);
  border-color: var(--color-neutral-2)
}
tr.even td:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle
}
tr.even td a {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.29
}
tr.odd {
  padding: 0 12px;
  background-color: var(--color-neutral-0);
  border-color: var(--color-neutral-2)
}
tr.odd td:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle
}
tr.odd td a {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.29
}
tr td:last-child a {
  position: relative
}
tr td:last-child a:after {
  bottom: 0;
  content: "";
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99
}
tr td:last-child a:hover {
  text-decoration: none
}
.table>thead>tr>td,
.table>thead>tr>th {
  color: var(--color-base);
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: 41px;
  letter-spacing: .1px;
  line-height: 41px;
  padding: 0 8px
}
tbody {
  border-top: 2px solid var(--color-neutral-2)
}
tbody td,
thead td,
thead th {
  padding: 0 8px
}
tbody td:first-child,
thead td:first-child,
thead th:first-child {
  min-width: 60px;
  width: auto
}
thead tr {
  background-color: var(--color-neutral-0);
  padding: 0 12px
}
.table-striped > tbody > tr:nth-of-type(odd) {
  padding: 0 12px
}
.course__content__section .table>tbody>tr>td,
.course__content__section .table>thead>tr>td,
.course__content__section .table>thead>tr>th {
  border: none
}
.course__content__section .field-type-text-long .field-item,
.video-chapters__column,
.video-player__column {
  padding: 0
}
.video-chapters {
  background-color: var(--color-neutral-0);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px
}
.course__head__section {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 1px 0 0;
  background: var(--color-neutral-0);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .02);
  padding: 46px 0 24px
}
.course__head__section .actions-container {
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding-left: 0;
  padding-right: 0
}
.course__head__section .actions-container .enroll-container,
.course__head__section .actions-container .flashcards-container {
  width: auto;
  max-width: max-content;
  margin: 0
}
.course__head__section .btn.enroll-continue,
.course__head__section .btn.open-flashcards {
  width: max-content;
  bottom: -25px;
  left: .75rem;
  text-transform: none;
  transform: translateY(50%)
}
.course__head__section h1 {
  font-weight: 700;
  color: var(--color-base);
  font-size: 40px;
  letter-spacing: normal;
  line-height: 1.2
}
.course__head__information {
  list-style: none;
  padding: 0;
  color: var(--color-base);
  text-decoration: none
}
.course__head__information > li {
  padding: 0 5px;
  white-space: nowrap
}
.course__head__information div.field {
  display: inline-block;
  font-weight: 700
}
.course__head__information .icon {
  color: var(--color-neutral-5);
  font-size: 16px;
  margin-right: 4px
}
.course__head__information a {
  color: var(--color-base);
  text-decoration: none
}
.course__head__information li:after {
  border-left: 1px solid var(--color-neutral-4);
  content: "";
  height: 12px;
  margin-left: 10px
}
.course__head__information li:last-child:after {
  display: none
}
.course__head__title {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--color-base);
  margin: 0
}
.course__head__title div {
  display: inline-block
}
.course__head__title div:first-child {
  margin-right: 10px
}
.course__head__company-name {
  color: var(--color-neutral-7);
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 1.25
}
.course__head__content {
  display: flex;
  flex-direction: row
}
.course__head__content > .course__head__content_mark {
  align-items: center;
  display: flex
}
.course__head__content > div {
  display: flex;
  align-items: center
}
.course__head__content > div.field-content {
  align-items: center;
  display: flex
}
.course__head__content span {
  padding-right: 5px
}
.course__head__content_mark {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.29
}
.course__head__content_sessions {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: .1px;
  color: var(--color-base);
  position: relative;
  font-weight: 700;
  margin-left: 17px
}
.course__head__content_sessions:before {
  border-left: 1px solid var(--color-neutral-4);
  content: "";
  height: 12px;
  left: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px
}
.course__head__content_sessions .field-name-field-video-type {
  display: inline-block
}
.node-type-course .fivestar-item .form-item {
  margin: 0
}
.node-type-course div.fivestar-widget .star {
  float: left;
  width: 14px;
  height: 14px;
  overflow: hidden;
  text-indent: -999em;
  background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) 0 0/cover no-repeat;
  margin-bottom: 0
}
.node-type-course div.fivestar-widget .star a {
  background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) 0 0/cover no-repeat;
  float: left;
  height: 14px;
  margin-bottom: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 14px
}
.node-type-course div.fivestar-widget .star.on a {
  background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) 0 -14px/14px 28px no-repeat;
  display: block;
  height: 100%;
  width: 100%
}
.node-type-course div.fivestar-widget .star.off a {
  background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) 0 0/cover no-repeat;
  display: block;
  height: 100%;
  width: 100%
}
.node-type-course .fivestar-default {
  height: 14px
}
.node-type-course .fivestar-summary {
  display: none
}
.node-type-course .region-after-content {
  margin-bottom: 30px
}
.node-type-course .region-sidebar-right .block {
  background: 0 0
}
.node-type-course .region-sidebar-right .block .box-content ul li {
  border: 0
}
.node-type-course .lms-reviews-form {
  height: auto;
  position: static
}
.node-type-course #comments .comment-add-cancel,
.node-type-course #comments .comment-title,
.node-type-course #comments .filter-wrapper,
.node-type-course #comments .live-preview {
  display: none!important
}
.node-type-course #comments .form-submit {
  display: inline-block!important
}
.node-type-course #comments .form-submit.add-comment-show {
  display: none!important
}
.node-type-course #comments .comment-wrapper-preview {
  display: block
}
.node-type-course #comments .comment-wrapper-preview .form-type-textarea {
  width: 100%
}
.node-type-course #comments .comment-wrapper-preview .form-type-textarea label {
  clip: auto;
  height: auto;
  position: static!important
}
div.fivestar-widget {
  display: block;
  margin: -1.5px auto 0
}
.fivestar-widget.fivestar-widget-5 {
  display: inline-block;
  margin: -1.5px auto 0
}
.mac div.fivestar-widget,
.mac div.fivestar-widget.fivestar-widget-5 {
  display: inline-block;
  margin: 1px auto 0
}
.field-type-fivestar {
  text-align: center
}
.field-type-fivestar .description {
  display: none
}
.course__files__section {
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
  background-color: var(--color-neutral-0);
  padding: 24px 32px
}
.course__files__section .field-item:first-child {
  margin-bottom: 17px
}
.course__files__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 24px
}
.course__description__part {
  position: relative;
  display: inline-block
}
.course__description__part p {
  color: var(--color-base);
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.8
}
.course__content-part__title,
.course__description__part .course__description__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.13
}
.course__industry__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 14px
}
.course__industry__part .field-item {
  display: inline-block;
  padding-right: 6px
}
.course__industry__part a {
  position: relative;
  padding: 5px 12px 5px 32px;
  background: var(--color-neutral-0);
  display: inline-block;
  border: 1px solid var(--color-neutral-4);
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .1px;
  color: var(--color-base)
}
.course__industry__part a:before {
  background-image: url(/themes/custom/porto_sub/images/icons/icon_label-blue.png);
  background-size: cover;
  content: "";
  height: 12px;
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px
}
.course__industry__part a:hover {
  background: var(--color-neutral-1);
  border-color: var(--color-neutral-4);
  color: var(--color-base);
  text-decoration: none
}
.course__head__part__back {
  margin-bottom: 24px
}
.course__head__part__back a.courses-back {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .1px;
  color: #087dfd
}
.course__head__part__back a.courses-back:before {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
  display: inline-block;
  transform: rotate(180deg)
}
.course__head__part .row .col-md-2 {
  padding-left: 0
}
.course__head__part .row .col-md-2 img {
  height: 88px;
  object-fit: cover;
  width: 64px;
  font-family: "object-fit: cover;"
}
.course__head__part__description {
  margin-top: 20px
}
.course__head__part__description .field-name-body .field-item {
  color: var(--color-base);
  line-height: 1.63;
  padding: 0
}
.view-id-course.view-display-id-block_1 .view-header {
  color: var(--color-base);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  margin-bottom: 10px;
  margin-top: 74px
}
.view-id-course.view-display-id-block_1 .view-content {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  background-color: var(--color-neutral-0);
  padding: 12px 16px
}
.view-id-course.view-display-id-block_1 .view-content ul {
  list-style: none;
  padding: 0!important;
  margin: 0;
  border-top: 0!important
}
.view-id-course.view-display-id-block_1 .view-content ul a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}
.view-id-course.view-display-id-block_1 .view-content ul a:hover {
  white-space: normal
}
.view-id-course.view-display-id-block_1 .view-content ul .file {
  max-width: 100%
}
.view-id-course.view-display-id-block_1 .view-content ul .file .file-icon:after {
  background-size: contain;
  width: 100%
}
.view-id-course.view-display-id-block_1 .view-content ul .file .file-link {
  max-width: calc(100% - 50px);
  display: inline-flex
}
.view-id-course.view-display-id-block_1 .view-content ul .file .file-link a {
  width: 100%
}
.view-id-course.view-display-id-block_1 .view-content ul .file .file-size {
  display: none
}
.view-id-course.view-display-id-block_3 {
  margin-top: 32px
}
.view-id-course.view-display-id-block_3 .views-row {
  width: 100%;
  border-radius: 3px;
  background-color: var(--color-neutral-1);
  margin-bottom: 8px;
  position: relative
}
.view-id-course.view-display-id-block_3 .views-row a {
  color: var(--color-base);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  padding: 9px 16px;
  display: block;
  max-width: 95%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}
.view-id-course.view-display-id-block_3 .views-row a:hover {
  color: var(--color-base);
  text-decoration: none
}
.view-id-course.view-display-id-block_3 .views-row:hover {
  background-color: var(--color-neutral-0);
  cursor: pointer
}
.view-id-course.view-display-id-block_3 .views-row:hover:after {
  color: #087dfd;
  content: "→";
  position: absolute;
  right: 10px;
  top: 7px
}
.node > .col-md-18 {
  margin-bottom: 60px
}
.view-display-id-course_lessons {
  margin-top: 74px;
  max-width: 836px
}
.view-display-id-course_lessons h3 {
  margin-top: 74px
}
.region-sidebar-right .block .box-content ul {
  border: 0
}
#wso-lms-admin-member-list-filter-form fieldset.collapsed {
  height: auto
}
.view-group-invitation .views-field {
  margin-bottom: 10px
}
.view-group-invitation .views-label {
  font-weight: 700
}
.view-group-invitation .views-field-field-company-name {
  display: flex
}
.view-group-invitation .views-field-field-company-name .views-label {
  margin-right: 10px
}
.view-group-invitation .views-field-field-courses ul {
  list-style: none;
  padding: 0
}
.eck-entity {
  background-color: var(--color-neutral-0);
  margin-bottom: 24px;
  padding: 8px 24px 16px
}
.eck-entity .button {
  width: auto
}
@media (min-width: 414px) {
  .course__head__information {
    display: flex
  }
}
@media (min-width: 576px) {
  .page-node-edit--course #content,
  .wso-lms-admin-import-users-form {
    max-width: 540px
  }
}
@media (min-width: 768px) {
  .page-node-edit--course #content,
  .wso-lms-admin-import-users-form {
    max-width: 720px
  }
  .node-type-course #comments .comment-form .form-actions {
    display: block
  }
  .node-type-course .region-after-content {
    margin-bottom: 70px
  }
}
@media (min-width: 992px) {
  .page-node-edit--course #content,
  .wso-lms-admin-import-users-form {
    max-width: 960px
  }
  .course__content-part__title,
  .course__description__part .course__description__title,
  .course__files__title,
  .course__head__content_sessions,
  .course__head__information div.field,
  .course__head__section h1,
  .course__industry__title,
  .table>thead>tr>td,
  .table>thead>tr>th,
  .view-id-course.view-display-id-block_1 .view-header,
  .view-id-course.view-display-id-block_3 .views-row a {
    font-weight: 800
  }
  .course-content__sideblocks--position--sticky {
    position: fixed
  }
  .node > .col-md-18 {
    margin-bottom: 138px
  }
  .col-md-6 .row {
    margin-left: 0
  }
}
@media (min-width: 1200px) {
  .page-node-edit--course #content,
  .wso-lms-admin-import-users-form {
    max-width: 1140px
  }
  .node-type-course .container {
    width: 1190px
  }
  .node-type-course .region-after-content {
    margin-bottom: 140px
  }
  .course-content__container,
  .course__head__part__container {
    padding-right: 60px
  }
}
@media (min-width: 1400px) {
  .page-node-edit--course #content,
  .wso-lms-admin-import-users-form {
    max-width: 1320px
  }
}
@media (max-width: 767px) {
  h1.course__head__title {
    font-size: 30px
  }
  .view-id-course.view-display-id-block_1 .view-content,
  .view-id-course.view-display-id-block_3 .views-row {
    width: 100%
  }
  .view-display-id-course_lessons {
    margin-top: 30px
  }
  .course-chart.course-chart-progress .graph__col {
    padding: 12px 9.8%!important
  }
  .course__head__part > .col-md-6 {
    padding: 0
  }
}
@media screen and (max-width: 425px) {
  .course__head__section .btn.enroll-continue,
  .course__head__section .btn.open-flashcards {
    font-size: 1rem
  }
}
/*# sourceMappingURL=group-invitation.component.css.map */
