@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';
@import './components/03-organisms/node/course/course.component';

.view-group-invitation {
  .views-field {
    margin-bottom: 10px;
  }

  .views-label {
    font-weight: 700;
  }

  .views-field-field-company-name {
    display: flex;

    .views-label {
      margin-right: 10px;
    }
  }

  .views-field-field-courses {
    ul {
      list-style: none;
      padding: 0;
    }
  }
}

.eck-entity {
  background-color: var(--color-neutral-0);
  margin-bottom: 24px;
  padding: 8px 24px 16px;

  .button {
    @extend %btn, .btn-success;
    width: auto;
  }
}
