@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.paragraph--type--wide-low-jumbotron {
  .jumbotron__header {
    //background: url("/themes/custom/porto_sub/images/wso-resources/header.jpg") no-repeat center center;
    //background-size: cover;
    margin-bottom: 30px;
    position: relative;

    @include media('>=tablet') {
      margin-bottom: 30px;

      .category-page-cards & {
        margin-bottom: 0;
      }
    }

    .field-name-field-paragraph-image {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        font-family: 'object-fit: cover;';
      }

      &:not(.no-gradient) {
        img {
          filter: grayscale(1);

          .darkmode & {
            filter:grayscale(1) brightness(75%);
          }
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: linear-gradient(to top, #0076af, #0893d0, #025f8f);
          opacity: 0.75;

          .darkmode & {
            background: linear-gradient(to top, #2b404a, #2e414a, #1e333e);
          }
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 280px;
      padding: 40px 20px;
      position: relative;

      .node-type-category-page &,
      .node-type-financial-dictionary-term & {
        @include media('>=tablet') {
          min-height: 370px;
        }
      }
    }

    &-title {
      @include responsive-prop(700, 800, font-weight);
      color: var(--color-neutral-0);
      font-size: 32px;
      letter-spacing: .2px;
      line-height: 1.13;
      margin-bottom: 20px;
      text-align: center;

      .darkmode & {
        color: var(--color-base);
      }

      @include media('>=tablet') {
        font-size: 48px;
      }
    }

    &-subtitle {
      color: var(--color-neutral-0);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .2px;
      line-height: 1.56;
      margin-bottom: 0;
      opacity: .8;
      text-align: center;

      @include media('>=tablet') {
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    abbr {
      text-decoration: none;
    }
  }

  .breadcrumb {
    .node-type-category-page.narrow-container & {
      @include media('>=tablet') {
        padding-left: 20px;
      }
    }

    li {
      &,
      a {
        font-weight: 700;
        font-size: 14px;
      }
    }
  }

  .jumbotron__header-search {
    margin: 0 auto;
    position: relative;

    input.form-control {
      padding-right: 35px;
      margin-top: 0;
    }

    #jumbotron-actions {
      &,
      input {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        margin: 0;
      }

      input {
        opacity: 0;
      }

      &:after {
        content: '\e829';
        display: inline-block;
        position: absolute;
        font: 14px/1 fa-custom;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        right: 12px;
        top: 13px;
        opacity: 0.7;
        color: var(--color-base);
        pointer-events: none;
      }
    }
  }
}

