.paragraph--type--wide-low-jumbotron .jumbotron__header {
  margin-bottom: 30px;
  position: relative
}
.paragraph--type--wide-low-jumbotron .jumbotron__header .field-name-field-paragraph-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0
}
.paragraph--type--wide-low-jumbotron .jumbotron__header .field-name-field-paragraph-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  font-family: "object-fit: cover;"
}
.paragraph--type--wide-low-jumbotron .jumbotron__header .field-name-field-paragraph-image:not(.no-gradient) img {
  filter: grayscale(1)
}
.darkmode .paragraph--type--wide-low-jumbotron .jumbotron__header .field-name-field-paragraph-image:not(.no-gradient) img {
  filter: grayscale(1) brightness(75%)
}
.paragraph--type--wide-low-jumbotron .jumbotron__header .field-name-field-paragraph-image:not(.no-gradient):after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to top, #0076af, #0893d0, #025f8f);
  opacity: .75
}
.darkmode .paragraph--type--wide-low-jumbotron .jumbotron__header .field-name-field-paragraph-image:not(.no-gradient):after {
  background: linear-gradient(to top, #2b404a, #2e414a, #1e333e)
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 280px;
  padding: 40px 20px;
  position: relative
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-title {
  font-weight: 700;
  color: var(--color-neutral-0);
  font-size: 32px;
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 20px;
  text-align: center
}
.darkmode .paragraph--type--wide-low-jumbotron .jumbotron__header-title {
  color: var(--color-base)
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-subtitle {
  color: var(--color-neutral-0);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.56;
  margin-bottom: 0;
  opacity: .8;
  text-align: center
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-subtitle p:last-child {
  margin-bottom: 0
}
.paragraph--type--wide-low-jumbotron .jumbotron__header abbr {
  text-decoration: none
}
.paragraph--type--wide-low-jumbotron .breadcrumb li,
.paragraph--type--wide-low-jumbotron .breadcrumb li a {
  font-weight: 700;
  font-size: 14px
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-search {
  margin: 0 auto;
  position: relative
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-search input.form-control {
  padding-right: 35px;
  margin-top: 0
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-search #jumbotron-actions,
.paragraph--type--wide-low-jumbotron .jumbotron__header-search #jumbotron-actions input {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  margin: 0
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-search #jumbotron-actions input {
  opacity: 0
}
.paragraph--type--wide-low-jumbotron .jumbotron__header-search #jumbotron-actions:after {
  content: "\e829";
  display: inline-block;
  position: absolute;
  font: 14px/1 fa-custom;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  right: 12px;
  top: 13px;
  opacity: .7;
  color: var(--color-base);
  pointer-events: none
}
@media (min-width: 768px) {
  .paragraph--type--wide-low-jumbotron .jumbotron__header {
    margin-bottom: 30px
  }
  .category-page-cards .paragraph--type--wide-low-jumbotron .jumbotron__header {
    margin-bottom: 0
  }
  .node-type-category-page .paragraph--type--wide-low-jumbotron .jumbotron__header-content,
  .node-type-financial-dictionary-term .paragraph--type--wide-low-jumbotron .jumbotron__header-content {
    min-height: 370px
  }
  .paragraph--type--wide-low-jumbotron .jumbotron__header-title {
    font-size: 48px
  }
  .paragraph--type--wide-low-jumbotron .jumbotron__header-subtitle {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px
  }
  .node-type-category-page.narrow-container .paragraph--type--wide-low-jumbotron .breadcrumb {
    padding-left: 20px
  }
}
@media (min-width: 992px) {
  .paragraph--type--wide-low-jumbotron .jumbotron__header-title {
    font-weight: 800
  }
}
/*# sourceMappingURL=paragraph.wide-low-jumbotron.component.css.map */
