{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set view_mode = view_mode ? 'paragraph--view-mode--' ~ view_mode %}
{% set isPublished = not isPublished ? 'paragraph--unpublished' %}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ bundle,
    'paragraph',
    'paragraph--type--' ~ bundle,
    view_mode,
    isPublished
  ]
%}

{{ attach_library('porto_sub/paragraph.wide-low-jumbotron.component') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="jumbotron__header">
        {% if not default_image %}
          {{ paragraph_image }}
        {% else %}
          <div class="field field-name-field-paragraph-image field--type-entity-reference field--label-hidden field--item no-gradient">
            <img decoding="async" src="/themes/custom/porto_sub/images/headers/new-york-blue.jpg" width="1920" height="445" loading="lazy" typeof="foaf:Image">
          </div>
        {% endif %}
        <div class="container">
          <div class="row">
            <div class="col-md-24 text-center jumbotron__header-content">
              <h1 class="jumbotron__header-title">{{ paragraph_title }}</h1>
              <div class="jumbotron__header-subtitle">{{ paragraph_text }}</div>
              {% if search_enabled %}
                <div class="col-md-12 jumbotron__header-search mt-4">
                  <input placeholder="Search WSO Resources" class="form-text form-control jumbotron-search-widget ui-input valid" data-msg-maxlength="This field field has a maximum length of 128." type="text" id="edit-search-api-fulltext" name="search_api_fulltext" value="" size="30" maxlength="128" aria-invalid="false">
                  <div class="form-actions form-group form-wrapper" id="jumbotron-actions">
                    <input type="submit" id="jumbotron-submit-search" value="go" class="button form-submit form-control">
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if show_breadcrumbs %}
        <div class="container--wso">
          {{ drupal_block('system_breadcrumb_block') }}
        </div>
      {% endif %}

      {% if show_mentor %}
        <div class="authority-block__header">
          <div class="authority-block__container">
            {{ mentor_profile_head_content }}
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
