{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    extra_class
  ]
%}

{{ attach_library('porto_sub/paragraph.course-with-details.component') }}

{% block paragraph %}
  {{ paragraph_anchor }}
  <div id="paragraph-id-{{ item_id }}"></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="course-with-details">
        <div class="course-with-details__wrapper d-flex flex-row flex-nowrap justify-content-start">
          <div class="course-with-details__poster d-none d-sm-block">
            {{ content.field_image }}
          </div>
          <div class="course-with-details__info d-flex flex-column justify-content-between align-items-start">
            <div class="info__wrapper d-flex flex-column justify-content-between align-items-start">
              <h5 class="course-with-details__caption caption_color-{{ paragraph.field_caption_color[0].value }}">
                {{- content.field_caption.0|raw -}}
              </h5>
              <h3 class="course-with-details__title font-h3">
                {{- content.field_title.0|raw -}}
              </h3>
              <div class="course-with-details__description font-lg">
                {{ content.field_description }}
              </div>
            </div>

            <div class="course-with-details__details_n_button d-flex flex-column justify-content-between align-items-start">
              <div class="course-with-details__details">
                <div class="d-flex flex-row justify-content-start flex-wrap">
                  {% for key, detail in content.field_details if key|first != '#' %}
                    <div class="details__item font-sm color-dark-70">
                      {{- detail -}}
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div class="course-with-details__button">
                <div class="btn-wrapper btn--secondary-lg btn-icon-right">
                  <a class="inline-btn">{{ 'Learn More'|t }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="course-with-details__hidden-section hidden">
          {% if content.field_course_overview['#items'] %}
            <div class="course-with-details__course-overview course-with-details__item">
              {{ content.field_course_overview }}
            </div>
          {% endif %}

          {% if content.field_modules['#items'] %}
            <div class="course-with-details__modules course-with-details__item">
              {{ content.field_modules }}
            </div>
          {% endif %}

          {% if content.field_student_review['#items'] or content.field_certificate_of_completion['#items'] %}
          <div class="hidden-section__group d-flex flex-lg-row flex-column justify-content-between">
            {% if content.field_student_review['#items'] %}
              <div class="course-with-details__student-review course-with-details__item">
                {{ content.field_student_review }}
              </div>
            {% endif %}

            {% if content.field_certificate_of_completion['#items'] %}
              <div class="course-with-details__certificate-of-completion course-with-details__item">
                {{ content.field_certificate_of_completion }}
              </div>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>

      {{ content|without(
        'field_image',
        'field_caption',
        'field_caption_color',
        'field_title',
        'field_description',
        'field_details',
        'field_cta',
        'field_course_overview',
        'field_modules',
        'field_student_review',
        'field_certificate_of_completion',
      ) }}
    {% endblock %}
  </div>
{% endblock paragraph %}
