@charset "UTF-8";
.paragraph--type--course-with-details .course-with-details {
  padding: 30px 0
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__poster {
  width: auto;
  height: fit-content;
  margin-right: 28px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__poster img {
  max-width: 214px;
  height: fit-content
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__caption {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: .1em;
  text-align: left;
  margin-bottom: 5px;
  text-transform: uppercase
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__caption.caption_color-green {
  color: #195c37
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__caption.caption_color-yellow {
  color: #d2a341
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__caption.caption_color-light_green {
  color: #79ba5a
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__caption.caption_color-blue {
  color: #16aebf
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__caption.caption_color-purple {
  color: #7e3ec2
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__caption.caption_color-dark_blue {
  color: #2b9ddf
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__title {
  margin-bottom: 10px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__description {
  color: rgba(47, 47, 47, .7)
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__description p:nth-last-child(1) {
  margin-bottom: 0
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__details_n_button .course-with-details__details {
  margin: 12px 0
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__details_n_button .course-with-details__details .details__item {
  width: auto;
  white-space: nowrap
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__details_n_button .course-with-details__details .details__item:not(:nth-last-child(1))::after {
  content: "•";
  font-size: 16px;
  color: rgba(47, 47, 47, .1);
  margin: 0 6px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__details_n_button .course-with-details__button a::after {
  transition: transform .5s
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__details_n_button .course-with-details__button a.active {
  background-color: rgba(8, 125, 253, .1490196078)
}
.paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__details_n_button .course-with-details__button a.active::after {
  transition: transform .5s;
  transform: rotate3d(1, 0, 0, 180deg)
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section {
  margin-top: 20px;
  padding: 20px 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #f5f7f8;
  transition: .5s ease-in-out;
  height: auto
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section.hidden {
  height: 0
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__item .field--label {
  color: rgba(47, 47, 47, .5);
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__course-overview {
  margin-bottom: 20px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__course-overview p {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group {
  margin-top: 50px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__student-review {
  position: relative
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__student-review::before {
  content: "";
  display: inline-block;
  width: 88px;
  height: 88px;
  border-radius: 44px;
  -moz-border-radius: 44px;
  -webkit-border-radius: 44px;
  background-color: rgba(245, 178, 38, .2);
  position: absolute;
  z-index: 0;
  left: 10px;
  top: -38px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__student-review p {
  font-family: Lato,sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  z-index: 1
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__student-review p strong {
  font-family: Lato,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 20px
}
.paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__certificate-of-completion img {
  width: 100%;
  height: auto
}
@media (min-width: 768px) {
  .paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__info .course-with-details__caption {
    font-size: 16px;
    line-height: 22px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__details_n_button .course-with-details__details {
    margin: 18px 0
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__wrapper .course-with-details__details_n_button .course-with-details__details .details__item:not(:nth-last-child(1))::after {
    margin: 0 16px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section {
    padding: 20px 20px 40px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__item .field--label {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__course-overview {
    margin-bottom: 40px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__course-overview p {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__modules .field--items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-items: start;
    align-items: start;
    flex-wrap: wrap
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__modules .field--items .field--item {
    max-width: 50%;
    flex: 1 1 50%;
    padding-right: 40px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .course-with-details__modules .field--items .field--item strong {
    font-weight: 700
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group > div {
    max-width: 48%;
    flex: 1 1 50%
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__student-review::before {
    top: -8px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__student-review p {
    font-size: 14px;
    line-height: 20px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__student-review p:nth-child(1) {
    padding-top: 30px;
    padding-right: 20px;
    margin-bottom: 20px
  }
  .paragraph--type--course-with-details .course-with-details .course-with-details__hidden-section .hidden-section__group .course-with-details__student-review p strong {
    font-size: 16px;
    line-height: 22px
  }
}
@media (max-width: 767px) {
  .field--item:not(:nth-last-child(1)) .course-with-details {
    border-bottom: 1px solid rgba(47, 47, 47, .1)
  }
}
/*# sourceMappingURL=paragraph.course-with-details.component.css.map */
