@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.paragraph--type--course-with-details {
  .course-with-details {
    padding: 30px 0;

    .course-with-details__wrapper {
      .course-with-details__poster {
        width: auto;
        height: fit-content;
        margin-right: 28px;

        img {
          max-width: 214px;
          height: fit-content;
        }
      }

      .course-with-details__info {
        .course-with-details__caption {
          font-size: 14px;
          font-weight: 800;
          line-height: 20px;
          letter-spacing: 0.1em;
          text-align: left;
          margin-bottom: 5px;
          text-transform: uppercase;

          @include media('>=tablet') {
            font-size: 16px;
            line-height: 22px;
          }

          &.caption_color-green {
            color: #195C37;
          }
          &.caption_color-yellow {
            color: #D2A341;
          }
          &.caption_color-light_green {
            color: #79BA5A;
          }
          &.caption_color-blue {
            color: #16AEBF;
          }
          &.caption_color-purple {
            color: #7E3EC2;
          }
          &.caption_color-dark_blue {
            color: #2B9DDF;
          }
        }
        .course-with-details__title {
          margin-bottom: 10px;
        }
        .course-with-details__description {
          color: $color-dark-70;

          p:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }

      .course-with-details__details_n_button {
        .course-with-details__details {
          margin: 12px 0;
          @include media('>=tablet') {
            margin: 18px 0;
          }

          .details__item {
            width: auto;
            white-space: nowrap;

            &:not(:nth-last-child(1)) {
              &::after {
                content: '•';
                font-size: 16px;
                color: $color-dark-10;

                margin: 0 6px;
                @include media('>=tablet') {
                  margin: 0 16px;
                }
              }
            }
          }
        }

        .course-with-details__button {
          a {
            &::after {
              transition: transform 0.5s;
            }

            &.active {
              background-color: #087DFD26;

              &::after {
                transition: transform 0.5s;
                transform: rotate3d(1, 0, 0, 180deg);
              }
            }
          }
        }
      }
    }

    .course-with-details__hidden-section {
      margin-top: 20px;
      padding: 20px 16px;
      border: 1px transparent solid;
      border-radius: 12px;
      background-color: $color-bluish-grey;
      transition: all .5s ease-in-out;
      height: auto;

      @include media('>=tablet') {
        padding: 20px 20px 40px 20px;
      }

      &.hidden {
        height: 0;
      }

      .course-with-details__item {
        .field--label {
          color: $color-dark-50;
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 10px;

          @include media('>=tablet') {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
          }
        }
      }

      .course-with-details__course-overview {
        margin-bottom: 20px;
        @include media('>=tablet') {
          margin-bottom: 40px;
        }

        p {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 20px;

          @include media('>=tablet') {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .course-with-details__modules .field--items {
        @include media('>=tablet') {
          display: flex;
          flex-direction: row;
          justify-content: start;
          justify-items: start;
          align-items: start;
          flex-wrap: wrap;

          .field--item {
            max-width: 50%;
            flex: 1 1 50%;
            padding-right: 40px;

            strong {
              font-weight: 700;
            }
          }
        }
      }

      .hidden-section__group {
        margin-top: 50px;

        @include media('>=tablet') {
          > div {
            max-width: 48%;
            flex: 1 1 50%;
          }
        }

        .course-with-details__student-review {
          position: relative;

          &::before {
            content: '';
            display: inline-block;
            width: 88px;
            height: 88px;
            border-radius: 44px;
            -moz-border-radius: 44px;
            -webkit-border-radius: 44px;
            background-color: #F5B22633;

            position: absolute;
            z-index: 0;
            left: 10px;

            top: -38px;
            @include media('>=tablet') {
              top: -8px;
            }
          }

          p {
            font-family: "Lato", sans-serif;
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0;
            text-align: left;
            z-index: 1;

            @include media('>=tablet') {
              font-size: 14px;
              line-height: 20px;

              &:nth-child(1) {
                padding-top: 30px;
                padding-right: 20px;
                margin-bottom: 20px;
              }
            }

            strong {
              font-family: "Lato", sans-serif;
              font-size: 14px;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0;
              text-align: left;

              margin-top: 20px;

              @include media('>=tablet') {
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }

        .course-with-details__certificate-of-completion {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@include media('<tablet') {
  .field--item:not(:nth-last-child(1)) {
    .course-with-details {
      border-bottom: 1px solid $color-dark-10;
    }
  }
}
