#talen-oasis-header {
  position: absolute;
  width: 100%;
  z-index: 9;
  left: 0;
  top: 0;

  .adminimal-admin-toolbar & {
    top: 80px;
  }
}

.main_menu-nav .list-inline > li.active {
  padding: 20px 0 !important;
}

header {
  .main_menu-nav {
    &.collapse {
      display: none;

      &.show {
        display: block;
      }

      @include media('>=tablet') {
        display: block;
      }
    }

    ul.nav {
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      align-items: center;

      @include media('<tablet') {
        display: block;

        li {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .container-fluid {
    display: block;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    padding: 0;
  }

  .navbar-header {
    @include media('<tablet') {
      width: 100%;
    }
  }

  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 34px;

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #888;

      & + .icon-bar {
        margin-top: 4px;
      }
    }
  }
}

body.sticky-menu-active header .logo {
  margin: 0 !important;
}

@include media('>=tablet') {
  .navbar-header {
    float: left;
  }

  .navbar-collapse.collapse {
    flex-basis: auto;
    flex-grow: 0;
  }

  .navbar-toggle {
    display: none;
  }
}
