.field-name-body .field-item {
  padding: 0 !important;
}

.main_menu-nav .list-inline > li.active {
  padding: 16.5px 0;
}

.node-type-landing-page {
  header {
    box-shadow: none !important;
  }
}

h3 {
  margin-top: 20px;
}

body {
  background-color: var(--color-neutral-0);
  font-family: "Lato", sans-serif;
  color: var(--color-base);

  &.sticky-menu-active:not(.toolbar-horizontal) {
    header {
      .logo {
        margin: 10px 0 0 !important;
      }
    }

    padding-top: 0 !important;
  }
}

button {
  &.btn {
    &.btn-primary {
      background-image: none;
      text-shadow: none;
      width: 240px;
      height: 52px;
      border-radius: 26px !important;
      background-color: $color-blue;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      @include responsive-prop(700, 800, 'font-weight');
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: .1px;
      text-align: center;
      color: var(--color-neutral-0);
      border-color: transparent;
      box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05);
      margin: 0 12px;

      &.find-button {
        background-color: var(--color-neutral-0);
        color: $color-blue;
      }
    }
  }
}

section {
  &.cover-block {
    &.container {
      margin-top: 6vh;
      text-align: center;

      h1 {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 48px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .1px;
        line-height: 1.17;
        margin-bottom: 16px;
        text-align: center;
      }

      h4 {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 48px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .1px;
        line-height: 1.17;
        margin-bottom: 16px;
        text-align: center;
      }

      h3 {
        color: var(--color-neutral-7);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .1px;
        line-height: 28px;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
        width: 680px;
      }
    }
  }

  &.steps-container {
    h3 {
      color: var(--color-base);
      font-family: "Lato", sans-serif;
      font-size: 36px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .2px;
      line-height: 1.39;
    }

    p {
      color: var(--color-base);
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .2px;
      line-height: 1.67;
      margin-bottom: 48px;
    }

    .learn-more {
      @include responsive-prop(700, 800, font-weight);
      background-color: rgba(43, 157, 223, .1);
      border: transparent;
      border-radius: 3px !important;
      color: $color-blue;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      height: 48px;
      letter-spacing: .6px;
      line-height: 1.14;
      width: 160px;
    }

    .step-assets {
      > img {
        display: block;
        margin: auto;
        width: 80%;
      }
    }
  }

  &.banner-footer {
    &.container-fluid {
      background-color: var(--color-base);
      height: 340px;
      text-align: center;

      h2 {
        color: var(--color-neutral-0);
        font-family: "Lato", sans-serif;
        font-size: 36px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.39;
        margin-bottom: 17px;
        margin-top: 27px;
        text-align: center;
      }

      p {
        color: var(--color-neutral-0);
        display: block;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 60px;
        letter-spacing: .2px;
        line-height: 1.67;
        margin: auto;
        margin-bottom: 48px;
        text-align: center;
        width: 680px;
      }

      button {
        background-color: $color-blue;
        border-radius: 26px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
        color: var(--color-neutral-0);
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        height: 52px;
        letter-spacing: .1px;
        line-height: 1.13;
        text-align: center;
        width: 240px;
      }
    }
  }

  &.clients-front {
    height: 100px;
    background-color: var(--color-neutral-2);
    text-align: center;
    overflow: hidden;

    img {
      display: inline-block;
      margin: 32px auto;
      max-width: unset !important;
    }
  }

  &.wso-special-row {
    text-align: center;
    margin: 120px 0;
    background-image: url(/modules/custom/talent_oasis/images/bigbluespot.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 45% 95%;

    .intro-text {
      letter-spacing: .2px;

      h2 {
        color: var(--color-base);
        font-size: 36px;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.39;
        margin-bottom: 8px;
        margin-top: 24px;
      }

      p {
        color: var(--color-base);
        font-size: 18px;
        letter-spacing: .2px;
        line-height: 1.67;
      }
    }

    .cards {
      margin-top: 48px;

      @include media('>=desktop') {
        display: flex;
      }

      .card-container {
        margin: 5px 10px;
        width: 31%;
        display: inline-flex;
        height: 440px;
        border-radius: 10px;
        background-color: $color-neutral-0;
        box-shadow: 0 20px 48px 0 rgba(var(--color-black--rgb), .05);
        position: relative;
        padding: 0 48px;

        .darkmode & {
          background-color: $color-black;
        }

        .card-block {
          height: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          text-align: left;
          padding-right: 48px;

          .circle {
            border-radius: 5px;
            height: 64px;
            width: 64px;
          }

          img {
            .darkmode & {
              filter: invert(1);
            }
          }

          h3 {
            color: var(--color-base);
            font-size: 22px;
            font-stretch: normal;
            font-style: normal;
            @include responsive-prop(700, 800, 'font-weight');
            letter-spacing: .2px;
            line-height: 1.18;
            margin-bottom: 14px;
          }

          p {
            font-size: 16px;
          }
        }

        .learn-more {
          bottom: 64px;
          font-size: 16px;
          font-stretch: normal;
          font-style: normal;
          @include responsive-prop(700, 800, 'font-weight');
          letter-spacing: .4px;
          line-height: 1.13;
          position: absolute;
        }
      }
    }
  }

  &.container-fluid {
    &.looking-section {
      height: 680px;
      position: relative;

      .container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        .looking-container {
          height: 100%;
          position: relative;

          .looking-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 15px;

            h1 {
              color: var(--color-base);
              font-size: 36px;
              letter-spacing: .2px;
              line-height: 1.39;
            }

            h4 {
              color: var(--color-base);
              font-size: 36px;
              letter-spacing: .2px;
              line-height: 1.39;
              padding-top: 0;
            }

            p {
              color: var(--color-base);
              font-size: 18px;
              letter-spacing: .2px;
              line-height: 1.67;
              margin-bottom: 48px;
            }
          }
        }
      }

      .img-container {
        height: inherit;
        position: unset;
        right: 0;

        img {
          height: inherit;
          max-height: 500px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &.promo-footer {
      height: 460px;
      position: relative;
      margin: 0;
      padding: 0;
      background-image: url(/modules/custom/talent_oasis/images/bluetinyspot.png);
      background-repeat: no-repeat;
      background-position-x: 250px;

      .promo-container {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          margin-bottom: 17px;
        }

        h4 {
          font-size: 36px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.39;
          margin-bottom: 17px;
        }

        p {
          font-size: 18px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: .2px;
          line-height: 1.56;
          margin: 0 auto;
          margin-bottom: 48px;
          width: 480px;
        }
      }
    }
  }

  &.roles {
    background-image: url(/modules/custom/talent_oasis/images/greenspot.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 110px;
    background-size: 36% 66%;
    margin-bottom: 95px;
    margin-top: 160px;

    .container {
      &.roles-container {
        position: relative;
        height: 800px;

        .roles-block {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .logo-container {
      float: left;
      width: 204px;
      height: 244px;
      border-radius: 10px;
      background-color: $color-neutral-0;
      box-shadow: 20px 20px 48px 0 rgba(var(--color-black--rgb), .05);
      position: relative;
      margin-bottom: 15px;

      .darkmode & {
        background-color: $color-black;
      }

      &:nth-child(2n+3) {
        //margin: 0 15px;
        //margin-top: -65px;
      }

      .logo-block {
        position: absolute;
        width: 100%;
        padding: 20px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          color: var(--color-base);
          font-family: Montserrat;
          font-size: 24px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          letter-spacing: .4px;
          line-height: 1.17;
          margin-bottom: 12px;
          margin-top: 32px;
          text-align: center;
        }

        h4 {
          color: var(--color-base);
          font-family: Montserrat;
          font-size: 24px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          letter-spacing: .4px;
          line-height: 1.17;
          margin-bottom: 12px;
          margin-top: 32px;
          text-align: center;
        }

        p {
          color: var(--color-neutral-7);
          font-family: "Lato", sans-serif;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          @include responsive-prop(700, 800, 'font-weight');
          letter-spacing: .8px;
          line-height: 1.6;
          text-align: center;
        }

        img {
          padding-top: 16px;
          display: inline-block;

          .darkmode & {
            filter: invert(1);
          }
        }
      }
    }

    .logos-copy {
      padding-right: 0;
      padding-left: 40px;

      h1 {
        color: var(--color-base);
        font-size: 36px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.39;
        width: 440px;
      }

      h4 {
        color: var(--color-base);
        font-size: 36px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.39;
        width: 440px;
        padding-top: 0;
      }

      p {
        color: var(--color-base);
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .2px;
        line-height: 1.67;
        margin-bottom: 48px;
      }

      .learn-more {
        @include responsive-prop(700, 800, font-weight);
        background-color: var(--color-neutral-0);
        border: transparent;
        border-radius: 3px !important;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
        color: $color-green-100;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        height: 48px;
        letter-spacing: .6px;
        line-height: 1.14;
        margin: 48px 0;
        width: 137px;
      }

      .logos-box {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        img {
          margin: 12px;
          display: inline;
        }
      }
    }

    .roles-container {
      padding: 0;
      padding-left: 0;
      padding-right: 40px;
    }
  }
}

img {
  &.candidates-banner {
    margin-bottom: 200px;
    max-height: 520px;
    width: 100vw;
  }
}

.circle {
  width: 78px;
  height: 78px;
  border-radius: 40.5px;
  background-color: rgba(43, 157, 223, .1);
  display: inline-block;
  position: relative;
  text-align: left;

  > .square {
    background-color: $color-blue;
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    margin: 30px;
    position: absolute;
    width: 20px;
  }

  img {
    margin: 16px 20px;
  }
}

.step-block {
  &.row {
    padding: 100px 0;

    &:nth-child(even) {
      background-color: var(--color-neutral-1);
    }
  }
}

.field-name-body {
  .field-item {
    margin-bottom: 0;
    padding: 0;
  }
}

ul {
  &.inline {
    display: none;
  }

  &.links {
    &.inline {
      display: none;
    }
  }
}

html {
  font-family: "Lato", sans-serif;
  color: var(--color-base);

  body {
    &.admin-menu {
      margin-top: 0 !important;
    }
  }
}

header {
  &.main-page {
    height: 82vh;
    position: relative;
    z-index: 3;

    section {
      &.cover-block {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
}

.header-bg {
  background-image: url("/modules/custom/talent_oasis/images/headerbg.jpg");
  background-size: cover;
  height: 82vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.opacity-bg {
  background-color: var(--color-neutral-0);
  height: inherit;
  opacity: .8;
  width: inherit;
  z-index: 2;
}

.green-bg {
  background-color: rgba(121, 186, 90, .1) !important;
  color: $color-green-100 !important;
}

.green-color {
  background-color: $color-green-100 !important;
  color: $color-green-100 !important;
}

.main_menu-nav {
  .list-inline {
    > li {
      border-top: 3.5px solid transparent;
      margin: 0 13px;
      padding: 20px 0 !important;

      &.active {
        border-top: 3.5px solid $color-blue;
      }
    }

    li {
      > a {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        @include responsive-prop(700, 800, 'font-weight');
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: .2px;
        text-align: center;
        color: var(--color-base);

        &:focus {
          text-decoration: none;
        }
      }

      &.active {
        > a {
          color: $color-blue;
        }

        > span {
          color: $color-blue;
        }
      }

      a {
        &:hover {
          color: var(--color-neutral-7);
          text-decoration: none;
          text-shadow: none;
        }
      }

      > span {
        color: var(--color-base);
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, 'font-weight');
        letter-spacing: .2px;
        line-height: 1.13;
        text-align: center;
      }
    }

    > button {
      background: transparent;
      border: solid 2px $color-blue;
      border-radius: 20px;
      color: $color-blue;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      @include responsive-prop(700, 800, 'font-weight');
      height: 40px;
      letter-spacing: .2px;
      line-height: 1.13;
      margin: 0 5px;
      text-align: center;
      width: 120px;
    }

    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  a {
    &.btn {
      &.btn-primary {
        line-height: 1.7;
      }
    }
  }
}

a {
  &.btn {
    &.btn-primary {
      font-size: 14px !important;

      &.btn-special {
        &:hover {
          border: none;
        }

        &.blue {
          &:hover {
            border: 1px solid $color-blue;
          }
        }

        &.white {
          &:hover {
            border: 1px solid var(--color-neutral-0);
          }
        }
      }
    }
  }
}

.btn-special {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05);
  margin: 0 12px;
  width: 240px;
  height: 52px;
  border-radius: 26px !important;
  font-family: "Lato", sans-serif;
  @include responsive-prop(700, 800, 'font-weight');
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .1px;
  text-align: center;
  border-color: transparent;
  background-image: none;
  padding-top: 14px;
  text-shadow: none;

  &.head {
    width: 260px;
  }

  &.blue {
    background-color: $color-blue;
    color: var(--color-neutral-0);
  }

  &.white {
    background-color: var(--color-neutral-0);
    color: $color-blue;
  }
}

#admin-menu {
  display: none;
}

.looking-content {
  .learn-more {
    border-radius: 3px !important;
    font-size: 14px;
    @include responsive-prop(700, 800, 'font-weight');
    line-height: 16px;
    letter-spacing: .6px;
    border: transparent;
    font-style: normal;
    font-stretch: normal;
    text-shadow: none;
    box-shadow: none;
    padding: 16px 32px;
    text-align: center;
    text-transform: uppercase;
    transition: none;

    &.c-blue {
      background-color: rgba(43, 157, 223, .1);
      color: $color-blue;

      &:hover {
        background-color: rgba(43, 157, 223, .05);
        color: $color-blue;
      }
    }

    &.c-green {
      background-color: rgba(121, 186, 90, .1);
      color: $color-green-100;

      &:hover {
        background-color: rgba(121, 186, 90, .05);
        color: $color-green-100;
      }
    }

    &:hover {
      text-decoration: none;
    }
    display: inline-block;
  }
}

.btn-fill {
  border-radius: 100px;
  padding: 17px 40px;
  font-size: 16px;
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 18px;
  letter-spacing: .1px;
  border: transparent;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  transition: none;
  background-image: none;
  color: var(--color-neutral-0);

  &.c-blue {
    background-color: $color-blue;

    &:hover {
      background-color: $steelblue_268cc8;
      color: var(--color-neutral-0);
    }
  }

  &.c-green {
    background-color: $color-green-100;

    &:hover {
      background-color: $color-green-100;
      color: var(--color-neutral-0);
    }
  }

  &.c-white {
    background-color: var(--color-neutral-0);
    color: $color-blue;

    &:hover {
      background-color: var(--color-neutral-0);
      color: $steelblue_268cc8;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.btn-head {
  margin: 0 8px;
}

.btn-foot {
  margin: 0 12px;
}

.shadow {
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, .05) !important;
}

.flat-shadow {
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1) !important;
}

.btn-line {
  border-radius: 100px;
  padding: 11px 32px;
  font-size: 16px;
  border: 2px solid var(--color-neutral-3);
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 18px;
  letter-spacing: .2px;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  transition: none;
  background-image: none;
  color: var(--color-neutral-3);

  &.c-blue {
    border-color: $color-blue;
    color: $color-blue;

    &:hover {
      border-color: $steelblue_268cc8;
      color: $steelblue_268cc8;
    }
  }

  &.c-green {
    border-color: $color-green-100;
    color: $color-green-100;

    &:hover {
      border-color: $color-green-100;
      color: $color-green-100;
    }
  }

  &.c-white {
    border-color: var(--color-neutral-0);
    color: var(--color-neutral-0);

    &:hover {
      background-color: rgba(255, 255, 255, .4);
      border-color: var(--color-neutral-0);
      color: var(--color-neutral-0);
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.btn-transparent {
  border-radius: 3px !important;
  font-size: 14px;
  @include responsive-prop(700, 800, 'font-weight');
  line-height: 16px;
  letter-spacing: .6px;
  border: transparent;
  font-style: normal;
  font-stretch: normal;
  text-shadow: none;
  box-shadow: none;
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
  transition: none;

  &.c-blue {
    background-color: rgba(43, 157, 223, .1);
    color: $color-blue;

    &:hover {
      background-color: rgba(43, 157, 223, .05);
      color: $color-blue;
    }
  }

  &.c-green {
    background-color: rgba(121, 186, 90, .1);
    color: $color-green-100;

    &:hover {
      background-color: rgba(121, 186, 90, .05);
      color: $color-green-100;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

.flat-white {
  background-color: var(--color-neutral-0) !important;
  box-shadow: 0 1px .5px 0 rgba(0, 0, 0, .1);
}

.link-highlight {
  &.c-blue {
    @include responsive-prop(700, 800, 'font-weight');
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .4px;
    color: $color-blue;

    &:hover {
      color: $color-blue;
    }
  }

  &:hover {
    text-decoration: none;
  }
  display: inline-block;
}

@include media('>=tablet') {
  .navbar-nav {
    > li {
      > a {
        padding: 0;
      }
    }
  }

  .main_menu-nav {
    display: inline-block;
    float: right;
  }
}

.btn-cta {
  margin: 11px 0 0 13px;
}

.navbar {
  background: none;
  border: none;
}

@include media('<tablet') {
  .navbar {
    background-color: var(--color-neutral-1);
    border-color: var(--color-neutral-3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;

    .main_menu-nav {
      width: 100%;
      padding: 0;
      border: none;
      margin: 25px 0 0;

      .list-inline {
        > li {
          &.active {
            border: 0;
          }
        }
      }
    }
  }

  .header__logo-img {
    max-width: 96px;
  }

  .main_menu-nav {
    .list-inline {
      margin: 0 auto;
      padding: 0;

      li {
        &.active {
          > span {
            color: $color-blue;
            display: inline-block;
            width: 100%;
          }
        }
      }

      > li {
        margin: 0;
      }
    }
  }

  header {
    &.main-page {
      > .container {
        padding: 0;
      }
      height: 100vh;

      section {
        &.cover-block {
          width: 100%;
        }
      }
    }
  }

  .btn-cta {
    margin: 5% 10%;
    width: 80%;
  }

  .logo {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .navbar-default {
    .navbar-toggle {
      margin-top: 10px;
    }
  }

  section {
    &.cover-block {
      &.container {
        h1 {
          font-size: 38px;
        }

        h4 {
          font-size: 38px;
        }

        h3 {
          font-size: 16px;
          width: auto;
        }
      }
    }

    &.wso-special-row {
      .cards {
        .card-container {
          width: 100%;
          margin: 10px 0;
          height: auto;
          padding: 20px;
          display: block;
          text-align: left;
          margin-bottom: 15px;

          .card-block {
            height: auto;
            position: static;
            transform: none;
          }

          .learn-more {
            position: static;
          }
        }
      }
      background-size: 66% 24%;
      margin: 120px 0 0;
    }

    &.roles {
      .container {
        &.roles-container {
          width: 100%;
          height: auto;
          display: inline-block;

          .roles-block {
            position: relative;
            top: 0;
            transform: none;
          }
        }
      }

      .logos-copy {
        h1 {
          width: 100%;
        }

        h4 {
          width: 100%;
        }
        padding: 0 15px;

        .logos-box {
          img {
            margin: 12px 0;
            max-width: 260px;
          }
        }
      }

      .logo-container {
        width: 100%;

        &:nth-child(3n+2) {
          margin: 0 0 15px;
        }
      }

      .roles-container {
        padding-right: 0;
      }
      background: none;
    }

    &.container-fluid {
      &.looking-section {
        width: 100%;
        height: auto;
        display: inline-block;

        .img-container {
          img {
            display: none;
          }
        }

        .container {
          .looking-container {
            .looking-content {
              position: relative;
              top: 0;
              transform: none;
            }
          }
        }
      }

      &.promo-footer {
        .promo-container {
          p {
            width: 100%;
          }
          padding: 0 15px;
        }
      }
    }
  }

  a {
    &.btn-head {
      font-size: 14px;
      margin: 0 0 10px;
      max-width: 290px;
      width: 100%;
    }

    &.btn-foot {
      font-size: 14px;
      margin: 0 0 10px;
      max-width: 290px;
      width: 100%;
    }
  }

  .header-bg {
    height: 100vh;
  }
}

@include media('>=tablet', '<large-desktop') {
  .main_menu-nav {
    .list-inline {
      > li {
        margin: 0 8px;
      }

      li {
        > span {
          font-size: 14px;
        }

        > a {
          font-size: 14px;
        }
      }
    }
  }

  .btn-cta {
    margin: 11px 0 0 8px;
    padding: 11px 20px;
  }

  section {
    &.container-fluid {
      &.looking-section {
        height: auto;
        margin-bottom: 120px;

        .container {
          .looking-container {
            .looking-content {
              position: relative;
              top: 0;
              transform: none;
            }
          }
        }
      }
    }

    &.roles {
      .container {
        &.roles-container {
          height: auto;
          padding: 0;

          .roles-block {
            position: relative;
            top: 0;
            transform: none;
          }
        }
      }

      .logo-container {
        width: 31%;
        margin: 1%;

        &:nth-child(3n+2) {
          margin: 1%;
        }
      }
    }
  }
}

@include media('>=tablet', '<desktop') {
  section {
    &.wso-special-row {
      .cards {
        .card-container {
          margin: 10px 0;
          width: 100%;
        }
      }
    }

    &.container-fluid {
      &.looking-section {
        .img-container {
          img {
            display: none;
          }
        }
      }
    }
  }
}

@include media('<desktop') {
  body {
    &.html {
      margin-top: 0;
    }
  }
}

@include media('>=desktop') {
  .roles {
    .col-md-10 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-md-14 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  }
}
