body {
  margin-top: 0 !important;

  @include media('<desktop') {
    margin-top: 0 !important;
  }

  &.not-logged-in {
    .container--breadcrumbs {
      margin-top: 0;
    }
  }
}

.container--breadcrumbs {
  margin-top: 24px;

  .not-logged-in & {
    display: none;
  }
}

.entity-browser-media-entity-browser-modal-form {
  .view-filters,
  #edit-inline-entity-form {
    padding: 15px;
  }

  .views-exposed-form {
    padding: 10px 0;

    .form--inline {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
    }
  }

  input.form-submit {
    @extend %btn, .btn-success;
    @extend %btn, .btn-md;
    margin-top: 15px;
  }
}

.page-not-found {
  margin: 50px 0;

  @media (max-width: 479px) {
    margin: 0;
  }

  h2 {
    font-size: 140px;
    font-weight: 600;
    letter-spacing: -10px;
    line-height: 140px;

    @media (max-width: 479px) {
      font-size: 100px;
      letter-spacing: 0;
      line-height: 100px;
    }
  }

  h4 {
    color: var(--color-neutral-7);
  }

  p {
    font-size: 1.4em;
    line-height: 36px;
  }
}
