@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.smartbanner {
  position: fixed;
  top: auto;
  bottom: -120px;
  left: 0;
  overflow-x: hidden;
  width: 100%;
  height: 84px;
  background: var(--color-neutral-3);
  font-family: Helvetica, sans, sans-serif;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  .wso-app-banner & {
    transition: all 0.5s ease-in-out;
    bottom: 0;
    opacity: 1;
  }

  &.smartbanner--android {
    background: $color-neutral-8 url("data:image/gif;base64,R0lGODlhCAAIAIABAFVVVf///yH5BAEHAAEALAAAAAAIAAgAAAINRG4XudroGJBRsYcxKAA7");
    box-shadow: inset 0 4px 0 $color-green-100;

    .smartbanner__exit {
      left: 6px;
      margin-right: 7px;
      width: 17px;
      height: 17px;
      border-radius: 14px;
      background: var(--color-base);
      box-shadow: 0 1px 2px rgba(0, 0, 0, .8) inset, 0 1px 1px rgba(255, 255, 255, .3);
      color: var(--color-neutral-6);
      font-family: 'ArialRoundedMTBold', Arial;
      font-size: 20px;
      line-height: 17px;
      text-shadow: 0 1px 1px var(--color-base);

      &:before {
        background: var(--color-neutral-6);
        height: 11px;
        left: 8px;
        top: 3px;
        width: 2px;
      }

      &:after {
        background: var(--color-neutral-6);
        height: 11px;
        left: 8px;
        top: 3px;
        width: 2px;
      }

      &:active {
        color: var(--color-neutral-3);
      }

      &:hover {
        color: var(--color-neutral-3);
      }
    }

    .smartbanner__icon {
      background-color: transparent;
      box-shadow: none;

      .darkmode & {
        opacity: 0.6;
      }
    }

    .smartbanner__info {
      color: var(--color-neutral-5);
      text-shadow: 0 1px 2px var(--color-base);

      .darkmode & {
        text-shadow: none;
        color: var(--color-base);
      }
    }

    .smartbanner__info__title {
      color: var(--color-neutral-0);
      @include responsive-prop(700, 800, font-weight);

      .darkmode & {
        color: var(--color-base);
      }
    }

    .smartbanner__button {
      top: 30px;
      right: 20px;
      padding: 0;
      min-width: 12%;
      border-radius: 0;
      background: none;
      box-shadow: 0 0 0 1px var(--color-neutral-8), 0 0 0 2px #dddcdc;
      color: var(--color-neutral-5);
      font-size: 14px;
      @include responsive-prop(700, 800, font-weight);

      &:active {
        background: none;
      }

      &:hover {
        background: none;
      }
    }

    .smartbanner__button__label {
      display: block;
      padding: 0 10px;
      background: linear-gradient(to bottom, $cadetblue_42b6c9, #39a9bb);
      box-shadow: none;
      line-height: 24px;
      text-align: center;
      text-shadow: none;
      text-transform: none;

      &:active {
        background: $darkturquoise_2ac7e1;
      }

      &:hover {
        background: $darkturquoise_2ac7e1;
      }
    }
  }
}

.smartbanner__exit {
  position: absolute;
  top: calc(50% - 6px);
  left: 9px;
  display: block;
  margin: 0;
  width: 12px;
  height: 12px;
  border: 0;
  text-align: center;

  &:before {
    background: var(--color-neutral-7);
    content: ' ';
    height: 12px;
    position: absolute;
    transform: rotate(45deg);
    width: 1px;
  }

  &:after {
    background: var(--color-neutral-7);
    content: ' ';
    height: 12px;
    position: absolute;
    transform: rotate(-45deg);
    width: 1px;
  }
}

.smartbanner__icon {
  background-size: 64px 64px;
  border-radius: 15px;
  height: 64px;
  left: 30px;
  position: absolute;
  top: 10px;
  width: 64px;
}

.smartbanner__info {
  align-items: center;
  color: var(--color-base);
  display: flex;
  height: 64px;
  left: 104px;
  overflow-y: hidden;
  position: absolute;
  top: 10px;
  width: 60%;
}

.smartbanner__info__title {
  font-size: 14px;
}

.smartbanner__info__author {
  font-size: 12px;
}

.smartbanner__info__price {
  font-size: 12px;
}

.smartbanner__button {
  background: var(--color-neutral-3);
  border-radius: 5px;
  color: $color-blue;
  display: block;
  font-size: 18px;
  min-width: 10%;
  padding: 0 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  text-decoration: none;
  top: 32px;
  z-index: 1;
}

.smartbanner__button__label {
  text-align: center;
}
