.wso-braintree-form {
  position: relative;

  .form-header,
  .form-body,
  .form-footer {
    padding-left: 10px;
    padding-right: 10px;

    @include media('>=414px') {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .form-header {
    box-shadow: none;
    padding-top: 30px;

    .close {
      @include sprite($icon-close);
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 25px;
      opacity: 1 !important;
      top: 20px;
      border: 0;
      background-color: transparent;

      .darkmode & {
        @include sprite($icon-close-dark);
      }

      &:focus {
        border: 0 !important;
        outline: none;
      }
    }

    .logo-img {
      margin-bottom: 10px;
    }

    p {
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  .form-body {
    &__intro {

      p {
        margin-bottom: 1rem;
      }
    }

    .company-special {
      margin-bottom: 20px;

      .main-text {
        background-color: #F5F7F8;
        color: #08C42A;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
      }

      .additional-text {
        color: #9DB2BC;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .2px;
        font-style: italic;
        padding-top: 5px;
      }
    }
  }

  .form-footer {
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--color-neutral-7);
    margin-top: -5px;
    padding-bottom: 10px;
    margin-bottom: 1rem;

    .well {
      padding: 15px;
      background: var(--color-page-bg);
      border-radius: 3px;
      margin-bottom: 0;
      border: 0;
    }

    .icon {
      display: block;
      margin: 0 auto 15px auto;
    }

    span {
      display: inline-block;
      max-width: 116px;
    }
  }

  .card-icons {
    @include media('<414px') {
      margin-top: 10px;
    }
  }

  .icon {
    display: inline-block;
    content: '';

    &--visa {
      @include sprite($card-visa);
    }

    &--mastercard {
      @include sprite($card-mastercard);
    }

    &--ae {
      @include sprite($card-ae);
    }

    &--discover {
      @include sprite($card-discover);
    }

    &--paypal {
      @include sprite($paypal);
      vertical-align: middle;
    }

    &--protect {
      @include sprite($icon-privacy);
    }

    &--money-back {
      @include sprite($icon-money-back);
    }

    &--secure {
      @include sprite($icon-secure);
    }
  }

  .col-sm-8 {
    @include media('>=320px') {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }

  input[type=text],
  input[type=email],
  input[type=tel]{
    height: 48px;

    &:focus {
      background:  var(--color-light-blue);
      border: 2px solid $color-blue;
      box-shadow: 0 0 0 2px rgba(8, 125, 253, 0.08);
    }
  }

  .form-control {
    box-shadow: none;

    &--transparent {
      @include media('>=414px') {
        border: 0;
        background: transparent;
        padding: 0 5px;
        height: 22px;
      }
    }

    &.is-valid,
    &.is-invalid {
      padding-right: 5px;
      background-image: none;
    }

    &.is-invalid {
      border-color: $color-red;
    }
  }

  .clientside-validation.error,
  .form-control.error {
    border: 2px solid $color-red !important;
  }

  .form-item--error-message strong {
    color: $color-red;
    font-size: 13px;
    font-weight: 400 !important;
  }

  .form-type-radio input:checked {
    + label:before {
      background-color: var(--color-neutral-0);
      border: 1px solid var(--color-neutral-4);
    }

    + label:after {
      background: $color-blue;
    }
  }

  button {
    font-family: "Lato", sans-serif !important;

    &:focus {
      border-color: #0b9227;
    }

    &:disabled {
      &,
      &:hover {
        background: var(--color-neutral-5);
        border-color: var(--color-neutral-5);
        color: var(--color-neutral-0);

        svg {
          fill: #495057;
        }
      }
    }
  }

  .payment-submit {
    button {
      margin-bottom: 10px;
      height: auto;
      min-height: 43px;
      font-weight: 700;
      font-size: 17px;

      .icon-svg {
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 10px;
        margin-bottom: -1px;

        svg {
          width: 11px;
          height: 15px;
          fill: var(--color-neutral-0);
        }
      }
    }

    p {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.2px;
      @include font-color-grey-darkmode;
      margin-bottom: 0;

      .icon-svg {
        display: inline-block;
        vertical-align: text-bottom;
        margin-left: 3px;
        margin-bottom: -1px;

        svg {
          width: 10px;
          height: 13px;
          fill: var(--color-neutral-5);
        }
      }
    }
  }

  .ajax-progress-throbber {
    position: absolute;
    background: var(--color-neutral-0);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 110;

    .throbber,
    .message {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }

    .throbber {
      width: 150px;
      height: 150px;
      background: var(--color-neutral-0) url("/themes/custom/porto_sub/images/preloading-content.gif") no-repeat center center;

      .darkmode & {
        filter: invert(1);
      }
    }

    .message {
      margin-top: 95px;
      font-size: 20px;
      color: $color-blue;
      @include responsive-prop(700, 800, font-weight);
    }
  }

  table,
  thead,
  tbody,
  tr,
  td {
    border: 0;
  }

  .left {
    opacity: 1;
    padding: 0;
    float: none;
  }
}

.no-12m-money-back .money-back {
  display: none;
}

.braintree-hosted-fields-focused {
  border: 0;
  box-shadow: none !important;
  outline: 0;

  @include media('<414px') {
    background: var(--color-light-blue) !important;
    border: 2px solid $color-blue !important;
    box-shadow: 0px 0px 0px 2px rgba(8, 125, 253, 0.08) !important;

    .darkmode & {
      background: $color-light-blue--dark !important;
    }
  }
}

.braintree-hosted-fields-focused.is-invalid {
  color: $color-red;
  border: 0;
  box-shadow: none !important;
}
