.ui-dialog.wso-braintree-dialog {
  z-index: 2001 !important;
  border-radius: 10px;
  border: 0 !important;
  padding: 0;

  @media (max-width: 767px) {
    width: 100% !important;
  }

  .ui-widget-header {
    display: none;
    height: 0;
  }

  .ui-dialog-content {
    padding: .5em 0;
    border-radius: 10px;
  }
}

.select2-container--open {
  z-index: 2002;
}
