.deal-item__popover {
  z-index: 2003 !important;
  opacity: 1 !important;

  .popover-header {
    line-height: 120%;
  }

  .popover-body {
    h3 {
      font-size: 14px;
      line-height: 120%;
    }

    ul {
      padding-left: 20px;
      margin-bottom: 10px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
