.wso-braintree-form {
  section {
    label {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: var(--color-neutral-7);
    }

    .payment-plan {
      margin-bottom: 20px;

      .form-radios {
        @include media('>=320px') {
          display: flex;
          flex-wrap: nowrap;
        }

        .form-item {
          border-radius: 5px;
          margin-right: 5px;
          flex: 1;

          & + .form-item {
            @include media('>=320px') {
              margin-top: 0;
              margin-left: 5px;
            }
          }

          label {
            padding: 20px 30px;
            border: 2px solid var(--color-neutral-3);
            box-sizing: border-box;
            border-radius: 3px;
            display: block;
            min-height: 105px;
            text-align: center;

            &:before {
              width: 16px;
              min-width: 16px;
              min-height: 16px;
              height: 16px;
              position: absolute;
              margin: 0;
              top: 5px;
              right: 5px;
              left: auto;
            }

            span {
              text-align: center;
              font-weight: 500;
              font-size: 13px;
              line-height: 18px;
              letter-spacing: 0.2px;
              color: var(--color-neutral-7);
              display: block;

              b {
                display: block;
                font-weight: 600;
                font-size: 32px;
                line-height: 40px;
                text-align: center;
                letter-spacing: -0.5px;
                color: var(--color-base);
              }
            }

            @media (max-width: 450px) {
              padding: 25px 10px;
            }
          }

          input:checked + label {
            border-color: $color-blue;

            &:before {
              background-color: $color-blue;
              border-color: $color-blue;
            }

            &:after {
              background: transparent url(/themes/custom/porto_sub/images/icons/icon_check_hover.png) center center no-repeat;
              background-size: contain;
              position: absolute;
              top: 8px;
              right: 7px;
              left: auto;
              transform: scale(0.85);
              transform-origin: center center;
            }
          }
        }
      }
    }

    .section-container {
      padding: 15px !important;
      border: var(--color-neutral-3) 2px solid !important;
      box-sizing: border-box;
      border-radius: 5px !important;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 40px;
      }
    }

    .card {
      box-shadow: none;
      text-align: left;
      background: transparent;
    }

    .card-header {
      background: transparent;
      border: 0;
      padding: 0;
    }

    .card-body {
      padding: 0;
    }

    .collapse.show,
    .collapsing {
      margin-top: 20px;
    }

    .well {
      background: rgba(245, 247, 248, 0.8);
      border-radius: 3px;
      padding: 10px 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: var(--color-neutral-7);
      margin-bottom: 10px;

      .darkmode & {
        background: rgba(10, 10, 10, 0.8);
      }
    }

    .section-option {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form-item {
        display: flex;
        line-height: 100%;

        label {
          margin-bottom: 0 !important;

          span {
            font-size: 14px;
            font-weight: 500;
            color: var(--color-neutral-7);
            margin-left: 10px;
          }
        }
      }

      .d-flex {
        width: 100%;
      }
    }
  }

  .form-type-email,
  .form-item-first-name,
  .form-item-last-name  {
    margin-bottom: 10px;

    @include media('>=414px') {
      input {
        border: 2px solid var(--color-neutral-3);
      }
    }
  }

  .payment-info {
    border: 0;
    margin-bottom: 20px;

    @include media('<414px') {
      height: auto;
      padding: 0;
    }

    @include media('>=414px') {
      border: 2px solid var(--color-neutral-3);
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      padding: 11px 12px;
      height: 48px;

      &.active {
        background:  var(--color-light-blue);
        border: 2px solid $color-blue;
        box-shadow: 0px 0px 0px 2px rgba(8, 125, 253, 0.08);
      }
    }

    .card-number {
      @include media('>=414px') {
        width: 56.410%;
        min-width: 190px;
      }

      .form-control {
        position: relative;
        padding-left: 45px;

        &:before {
          @include sprite($card);
          display: inline-block;
          content: '';
          position: absolute;
          z-index: 0;
          left: 5px;

          @include media('>=414px') {
            left: 0;
          }
        }

        iframe {
          position: relative;
          z-index: 1;
        }
      }

      &.visa .form-control:before {
        @include sprite($card-visa);
      }

      &.master-card .form-control:before {
        @include sprite($card-mastercard);
      }

      &.american-express .form-control:before {
        @include sprite($card-ae);
      }

      &.discover .form-control:before {
        @include sprite($card-discover);
      }
    }

    .card-number,
    .expiration-date {
      margin-bottom: 15px;

      @include media('>=414px') {
        margin-bottom: 0;
      }
    }

    .expiration-date,
    .cvv {
      @include media('>=450px') {
        width: 21.795%;
      }
    }

    .cvv {
      @include media('>=414px', '<450px') {
        max-width: 50px;
      }
    }

    .invalid-feedback {
      @include media('>=414px') {
        display: none !important;
      }
    }
  }

  #cloned-invalid-feedbacks {
    padding: 0;
    list-style: none;

    @include media('<414px') {
      display: none;
    }

    li:first-child {
      margin-top: -15px;
    }
  }

  /*
  .payment-name {
    @include media('>=414px') {
      display: flex;
      flex-wrap: nowrap;
      margin-left: -15px;
      margin-right: -15px;

      .payment-first-name,
      .payment-last-name {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
  */
}
