@import "upsels-deals";

.wso-braintree-form--upsell {
  .form-header {
    background:  var(--color-light-blue);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
    padding-top: 15px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -.5em;

    .logo-img {
      margin-bottom: -20px;
    }

    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      margin: 20px auto 0;

      i {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: $color-blue;
        margin-left: 10px;
        margin-bottom: -3px;
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 13px;
          height: 10px;
          background: transparent url(/themes/custom/porto_sub/images/icons/icon_check_hover.png) center center no-repeat;
          background-size: contain;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }
  }

  .form-body {
    padding-top: 25px;
    padding-bottom: 35px;

    sup {
      color: $color-red;
      font-size: 1em;
      top: -0.05em;
    }

    &__intro {
      h3 {
        @include responsive-prop(700, 800, font-weight);
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: var(--color-base);
      }

      p {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: var(--color-neutral-7);
      }
    }

    &__notice {
      font-style: italic;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.2px;
      color: var(--color-neutral-7);
    }
  }

  .form-footer {
    margin-top: 0;
    padding-bottom: 5px;
  }
}

.total {
  background: var(--color-page-bg);
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 10px;

  table {
    width: 100%;

    thead {
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.2px;
      color: var(--color-base);
    }

    tbody {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: var(--color-neutral-7);
    }
  }

  .total-sum,
  .total-save {
    text-align: right;
  }

  .total-save {
    span {
      color: $color-turquoise;
      @include responsive-prop(700, 800, font-weight);
    }
  }
}

input[type=submit] {
  @extend %btn, .btn-success;
}
