.wso-braintree-dialog {
  border-radius: 10px;
  border: 0 !important;
  font-family: "Lato", sans-serif !important;
  text-align: center;

  @media (max-width: 767px) {
    width: 100% !important;
  }

  .ui-dialog-titlebar {
    background: none;
    border: 0;

    .ui-dialog-title {
      opacity: 0;
    }

    .ui-button {
      right: 15px;

      @include sprite($icon-close);
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 0;

      .darkmode & {
        @include sprite($icon-close-dark);
      }

      span {
        display: none;
      }
    }
  }

  .messages__wrapper {
    display: none;
  }

  form {
    > div {
      display: flex;
      flex-direction: column;

      @include media('>=tablet') {
        position: relative;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    .ajax-progress {
      position: absolute;
      top: -5px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      background: var(--color-neutral-0);
    }

    .form-type-textfield {
      margin-bottom: 10px;
      order: 1;
      text-align: left;

      @include media('>=tablet') {
        margin-right: 5px;
        margin-bottom: 0;
        width: calc(50% - 5px);
      }

      label {
        display: none;
      }

      input {
        margin: 0;
      }

      .form-item--error-message {
        text-align: left;
      }
    }

    .form-type-password {
      margin-right: 5px;
      display: flex;
      flex-direction: column-reverse;
      text-align: left;

      input {
        margin: 0;
        border: 1px solid $color-red !important;
      }

      label {
        color: $color-red;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 700!important;
      }
    }

    input[type=submit] {
      @extend %btn, .btn-success;
      text-transform: uppercase;
      order: 2;

      @include media('>=tablet') {
        width: 50%;
      }
    }

    .captcha {
      order: 3;
      margin: 0 auto;
      margin-top: 10px;
      background: none;
    }
  }
}
