#upsell-deals {
  .deal-item {
    padding: 20px;
    border: 1px dashed var(--color-neutral-5);
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover,
    &.active {
      border: 1px solid $color-blue;
      background:  var(--color-light-blue);
    }

    .row {
      margin-left: 0;
      margin-right: 0;

      &:before,
      &:after {
        display: none;
      }

      @include media('>=414px') {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      &--first-row {
        .left {
          @include media('<414px') {
            width: 100%;
            margin-bottom: 5px;
          }
        }
      }

      &--second-row {
        margin-top: 10px;
      }
    }

    .left {
      flex-shrink: 1;
    }

    .right {
      line-height: 0;

      @include media('>=414px') {
        flex-shrink: 1;
        width: 40%;
        text-align: right;
      }
    }

    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 19px;
      letter-spacing: 0.2px;
      color: var(--color-base);
    }

    &__subtitle {
      font-size: 14px;
      line-height: 20px;
      color: var(--color-neutral-7);
      margin-top: 3px;
    }

    &__price-container {
      flex-wrap: nowrap;

      i {
        content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_grey.png);
        display: inline-block;
        padding: 0 5px;
        margin: 0 5px;
      }
    }

    &__product-price {
      @include responsive-prop(700, 800, font-weight);
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.2px;
      color: var(--color-neutral-7);
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: $color-red;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__price {
      @include responsive-prop(700, 800, font-weight);
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: var(--color-base);
    }

    &__checkbox {
      input {
        margin: 0;
        opacity: 0;
        width: 0;
        height: 0;
        line-height: 0;

        + label {
          margin: 0;
          font-weight: bold !important;
          font-size: 14px;
          line-height: 16px;
          color: $color-blue;
          padding: 9px 14px;
          border: 1px solid var(--color-neutral-3);
          box-sizing: border-box;
          border-radius: 3px;
          background: var(--color-neutral-0);
          white-space: nowrap;
          pointer-events: none;

          span {
            display: flex;
            align-items: center;
            white-space: nowrap;

            i {
              display: block;
              position: relative;
              width: 8px;
              height: 8px;
              margin-right: 10px;

              &:before,
              &:after {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 2px;
                background: $color-blue;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }

              &:after {
                transform: translate(-50%,-50%) rotate(90deg);
              }
            }
          }

          .on {
            display: none;
          }
        }

        &:checked {
          + label {
            color: var(--color-base);
            background: var(--color-page-bg);

            span {
              i {
                &:before {
                  background-color: var(--color-neutral-7);
                }

                &:after {
                  display: none;
                }
              }
            }

            .off {
              display: none;
            }

            .on {
              display: flex;
            }
          }
        }
      }
    }

    &__money-save {
      padding: 1px 6px;
      height: 20px;
      background: $color-orange;
      border-radius: 3px;
      color: var(--color-neutral-0);
      @include responsive-prop(700, 800, font-weight);
      font-size: 13px;
      white-space: nowrap;
      display: inline-block;
      line-height: 20px;
      width: auto;
    }
  }

  .deal-item__tip {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 0;
    margin-left: 5px;
    vertical-align: text-top;
  }

  .tooltip-icon {
    align-content: center;
    align-items: center;
    border: var(--color-neutral-4) 1px solid;
    border-radius: 100%;
    display: inline-flex;
    height: 16px;
    justify-content: center;
    width: 16px;

    i {
      color: var(--color-neutral-6);
      cursor: pointer;
      font-size: 10px;
      line-height: 16px;
    }
  }
}
