input[type=submit]:focus {
  outline: 0
}
input.btn-default[type=submit] {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
input.btn-default[type=submit]:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
input.btn-default[type=submit]:active,
input.btn-default[type=submit]:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
input.btn-default[type=submit]:disabled {
  background-color: var(--color-neutral-1)
}
input[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #0cb930;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #0cb930
}
input[type=submit]:hover {
  background-color: #0cb930;
  border-color: #0cb930;
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  color: #fff;
  text-decoration: none
}
input[type=submit]:active,
input[type=submit]:focus {
  background-color: #0cb930;
  border-color: #0bab2c;
  box-shadow: none;
  color: #fff
}
input[type=submit]:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
input.btn-danger[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #f04944;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #f04944
}
input.btn-danger[type=submit]:hover {
  background-color: #f04944;
  border-color: #f04944;
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  color: #fff;
  text-decoration: none
}
input.btn-danger[type=submit]:active,
input.btn-danger[type=submit]:focus {
  background-color: #f04944;
  border-color: #ef3b36;
  box-shadow: none;
  color: #fff
}
input.btn-danger[type=submit]:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
input.btn-lines[type=submit],
input.btn-secondary[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
input.btn-lines[type=submit]:hover,
input.btn-secondary[type=submit]:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
input.btn-lines[type=submit]:active,
input.btn-lines[type=submit]:focus,
input.btn-secondary[type=submit]:active,
input.btn-secondary[type=submit]:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
input.btn-lines[type=submit]:disabled,
input.btn-secondary[type=submit]:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
input.btn-lines.mono[type=submit],
input.btn-secondary.mono[type=submit] {
  color: var(--color-base);
  border: 1px solid var(--color-neutral-3)
}
input.btn-lines.mono[type=submit]:hover,
input.btn-secondary.mono[type=submit]:hover {
  border-color: var(--color-neutral-3);
  color: var(--color-base);
  box-shadow: 0 0 0 2px rgba(223, 225, 230, .2)
}
input.btn-lines.mono[type=submit]:active,
input.btn-lines.mono[type=submit]:focus,
input.btn-secondary.mono[type=submit]:active,
input.btn-secondary.mono[type=submit]:focus {
  border-color: var(--color-neutral-3);
  box-shadow: none
}
input.btn-lines.mono[type=submit]:disabled,
input.btn-secondary.mono[type=submit]:disabled {
  background-color: var(--color-neutral-1)
}
input.btn-lines.mono.danger[type=submit],
input.btn-secondary.mono.danger[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #f04944;
  font-weight: 600;
  color: #f04944;
  background-color: var(--color-neutral-0)
}
input.btn-lines.mono.danger[type=submit]:hover,
input.btn-secondary.mono.danger[type=submit]:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(240, 73, 68, .1);
  border-color: #f15752;
  color: #f15752;
  text-decoration: none
}
input.btn-lines.mono.danger[type=submit]:active,
input.btn-lines.mono.danger[type=submit]:focus,
input.btn-secondary.mono.danger[type=submit]:active,
input.btn-secondary.mono.danger[type=submit]:focus {
  background-color: var(--color-neutral-0);
  border-color: #ef3b36;
  color: #ef3b36;
  box-shadow: none
}
input.btn-lines.mono.danger[type=submit]:disabled,
input.btn-secondary.mono.danger[type=submit]:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
input.btn-other[type=submit],
input.btn-success-ghost[type=submit],
input.btn-transparency[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #0cb930;
  font-weight: 600;
  color: #0cb930;
  background-color: var(--color-neutral-0)
}
input.btn-other[type=submit]:hover,
input.btn-success-ghost[type=submit]:hover,
input.btn-transparency[type=submit]:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(12, 185, 48, .1);
  border-color: #0dc734;
  color: #0dc734;
  text-decoration: none
}
input.btn-other[type=submit]:active,
input.btn-other[type=submit]:focus,
input.btn-success-ghost[type=submit]:active,
input.btn-success-ghost[type=submit]:focus,
input.btn-transparency[type=submit]:active,
input.btn-transparency[type=submit]:focus {
  background-color: var(--color-neutral-0);
  border-color: #0bab2c;
  color: #0bab2c;
  box-shadow: none
}
input.btn-other[type=submit]:disabled,
input.btn-success-ghost[type=submit]:disabled,
input.btn-transparency[type=submit]:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
input.bg-white[type=submit] {
  background: var(--color-neutral-0)
}
input.btn-info[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: 1px solid #087dfd;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #087dfd
}
input.btn-info[type=submit]:hover {
  background-color: #087dfd;
  border-color: #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  color: #fff;
  text-decoration: none
}
input.btn-info[type=submit]:active,
input.btn-info[type=submit]:focus {
  background-color: #087dfd;
  border-color: #0275f4;
  box-shadow: none;
  color: #fff
}
input.btn-info[type=submit]:disabled {
  background-color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
input.btn-info.btn-lines[type=submit] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #087dfd;
  font-weight: 600;
  color: #087dfd;
  background-color: var(--color-neutral-0)
}
input.btn-info.btn-lines[type=submit]:hover {
  background-color: var(--color-neutral-0);
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .1);
  border-color: #1785fd;
  color: #1785fd;
  text-decoration: none
}
input.btn-info.btn-lines[type=submit]:active,
input.btn-info.btn-lines[type=submit]:focus {
  background-color: var(--color-neutral-0);
  border-color: #0275f4;
  color: #0275f4;
  box-shadow: none
}
input.btn-info.btn-lines[type=submit]:disabled {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  box-shadow: none
}
input.btn-xs[type=submit] {
  padding: .15rem .25rem;
  font-size: .6875rem;
  border-radius: .2rem
}
input.btn-sm[type=submit] {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}
input.btn-md[type=submit] {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-transform: uppercase
}
input.btn-lg[type=submit] {
  padding: 14px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
input.btn-xl[type=submit] {
  padding: 18px 20px;
  font-size: 1.125rem;
  border-radius: 3px;
  text-transform: uppercase
}
.ui-dialog.wso-braintree-dialog {
  z-index: 2001!important;
  border-radius: 10px;
  border: 0!important;
  padding: 0
}
.ui-dialog.wso-braintree-dialog .ui-widget-header {
  display: none;
  height: 0
}
.ui-dialog.wso-braintree-dialog .ui-dialog-content {
  padding: .5em 0;
  border-radius: 10px
}
.select2-container--open {
  z-index: 2002
}
.wso-braintree-form {
  position: relative
}
.wso-braintree-form .form-body,
.wso-braintree-form .form-footer,
.wso-braintree-form .form-header {
  padding-left: 10px;
  padding-right: 10px
}
.wso-braintree-form .form-header {
  box-shadow: none;
  padding-top: 30px
}
.wso-braintree-form .form-header .close {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: 0 -162px;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 25px;
  opacity: 1!important;
  top: 20px;
  border: 0;
  background-color: transparent
}
.darkmode .wso-braintree-form .form-header .close {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -90px -44px;
  width: 16px;
  height: 16px
}
.wso-braintree-form .form-header .close:focus {
  border: 0!important;
  outline: 0
}
.wso-braintree-form .form-header .logo-img {
  margin-bottom: 10px
}
.wso-braintree-form .form-header p {
  font-weight: 600;
  margin-bottom: 1rem
}
.wso-braintree-form .form-body__intro p {
  margin-bottom: 1rem
}
.wso-braintree-form .form-body .company-special {
  margin-bottom: 20px
}
.wso-braintree-form .form-body .company-special .main-text {
  background-color: #f5f7f8;
  color: #08c42a;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center
}
.wso-braintree-form .form-body .company-special .additional-text {
  color: #9db2bc;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  font-style: italic;
  padding-top: 5px
}
.wso-braintree-form .form-footer {
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  margin-top: -5px;
  padding-bottom: 10px;
  margin-bottom: 1rem
}
.wso-braintree-form .form-footer .well {
  padding: 15px;
  background: var(--color-page-bg);
  border-radius: 3px;
  margin-bottom: 0;
  border: 0
}
.wso-braintree-form .form-footer .icon {
  display: block;
  margin: 0 auto 15px
}
.wso-braintree-form .form-footer span {
  display: inline-block;
  max-width: 116px
}
.wso-braintree-form .icon {
  display: inline-block;
  content: ""
}
.wso-braintree-form .icon--visa {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: 0 -112px;
  width: 34px;
  height: 24px
}
.wso-braintree-form .icon--mastercard {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -72px -86px;
  width: 34px;
  height: 24px
}
.wso-braintree-form .icon--ae {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: 0 -86px;
  width: 34px;
  height: 24px
}
.wso-braintree-form .icon--discover {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -36px -86px;
  width: 34px;
  height: 24px
}
.wso-braintree-form .icon--paypal {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -42px -44px;
  width: 46px;
  height: 32px;
  vertical-align: middle
}
.wso-braintree-form .icon--protect {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: 0 -44px;
  width: 40px;
  height: 40px
}
.wso-braintree-form .icon--money-back {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -66px 0;
  width: 40px;
  height: 40px
}
.wso-braintree-form .icon--secure {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -108px 0;
  width: 30px;
  height: 40px
}
.wso-braintree-form input[type=email],
.wso-braintree-form input[type=tel],
.wso-braintree-form input[type=text] {
  height: 48px
}
.wso-braintree-form input[type=email]:focus,
.wso-braintree-form input[type=tel]:focus,
.wso-braintree-form input[type=text]:focus {
  background: var(--color-light-blue);
  border: 2px solid #087dfd;
  box-shadow: 0 0 0 2px rgba(8, 125, 253, .08)
}
.wso-braintree-form .form-control {
  box-shadow: none
}
.wso-braintree-form .form-control.is-invalid,
.wso-braintree-form .form-control.is-valid {
  padding-right: 5px;
  background-image: none
}
.wso-braintree-form .form-control.is-invalid {
  border-color: #f04944
}
.wso-braintree-form .clientside-validation.error,
.wso-braintree-form .form-control.error {
  border: 2px solid #f04944!important
}
.wso-braintree-form .form-item--error-message strong {
  color: #f04944;
  font-size: 13px;
  font-weight: 400!important
}
.wso-braintree-form .form-type-radio input:checked + label:before {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4)
}
.wso-braintree-form .form-type-radio input:checked + label:after {
  background: #087dfd
}
.wso-braintree-form button {
  font-family: Lato,sans-serif!important
}
.wso-braintree-form button:focus {
  border-color: #0b9227
}
.wso-braintree-form button:disabled,
.wso-braintree-form button:disabled:hover {
  background: var(--color-neutral-5);
  border-color: var(--color-neutral-5);
  color: var(--color-neutral-0)
}
.wso-braintree-form button:disabled svg,
.wso-braintree-form button:disabled:hover svg {
  fill: #495057
}
.wso-braintree-form .payment-submit button {
  margin-bottom: 10px;
  height: auto;
  min-height: 43px;
  font-weight: 700;
  font-size: 17px
}
.wso-braintree-form .payment-submit button .icon-svg {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 10px;
  margin-bottom: -1px
}
.wso-braintree-form .payment-submit button .icon-svg svg {
  width: 11px;
  height: 15px;
  fill: var(--color-neutral-0)
}
.wso-braintree-form .payment-submit p {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: .2px;
  color: #9db2bc;
  margin-bottom: 0
}
.darkmode .wso-braintree-form .payment-submit p {
  color: #c0beba
}
.wso-braintree-form .payment-submit p .icon-svg {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 3px;
  margin-bottom: -1px
}
.wso-braintree-form .payment-submit p .icon-svg svg {
  width: 10px;
  height: 13px;
  fill: var(--color-neutral-5)
}
.wso-braintree-form .ajax-progress-throbber {
  position: absolute;
  background: var(--color-neutral-0);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 110
}
.wso-braintree-form .ajax-progress-throbber .message,
.wso-braintree-form .ajax-progress-throbber .throbber {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block
}
.wso-braintree-form .ajax-progress-throbber .throbber {
  width: 150px;
  height: 150px;
  background: var(--color-neutral-0) url(/themes/custom/porto_sub/images/preloading-content.gif) no-repeat center center
}
.darkmode .wso-braintree-form .ajax-progress-throbber .throbber {
  filter: invert(1)
}
.wso-braintree-form .ajax-progress-throbber .message {
  margin-top: 95px;
  font-size: 20px;
  color: #087dfd;
  font-weight: 700
}
.wso-braintree-form table,
.wso-braintree-form tbody,
.wso-braintree-form td,
.wso-braintree-form thead,
.wso-braintree-form tr {
  border: 0
}
.wso-braintree-form .left {
  opacity: 1;
  padding: 0;
  float: none
}
.no-12m-money-back .money-back {
  display: none
}
.braintree-hosted-fields-focused {
  border: 0;
  box-shadow: none!important;
  outline: 0
}
.braintree-hosted-fields-focused.is-invalid {
  color: #f04944;
  border: 0;
  box-shadow: none!important
}
.wso-braintree-form section label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.wso-braintree-form section .payment-plan {
  margin-bottom: 20px
}
.wso-braintree-form section .payment-plan .form-radios .form-item {
  border-radius: 5px;
  margin-right: 5px;
  flex: 1
}
.wso-braintree-form section .payment-plan .form-radios .form-item label {
  padding: 20px 30px;
  border: 2px solid var(--color-neutral-3);
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  min-height: 105px;
  text-align: center
}
.wso-braintree-form section .payment-plan .form-radios .form-item label:before {
  width: 16px;
  min-width: 16px;
  min-height: 16px;
  height: 16px;
  position: absolute;
  margin: 0;
  top: 5px;
  right: 5px;
  left: auto
}
.wso-braintree-form section .payment-plan .form-radios .form-item label span {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  display: block
}
.wso-braintree-form section .payment-plan .form-radios .form-item label span b {
  display: block;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -.5px;
  color: var(--color-base)
}
.wso-braintree-form section .payment-plan .form-radios .form-item input:checked + label {
  border-color: #087dfd
}
.wso-braintree-form section .payment-plan .form-radios .form-item input:checked + label:before {
  background-color: #087dfd;
  border-color: #087dfd
}
.wso-braintree-form section .payment-plan .form-radios .form-item input:checked + label:after {
  background: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png) center center/contain no-repeat;
  position: absolute;
  top: 8px;
  right: 7px;
  left: auto;
  transform: scale(.85);
  transform-origin: center center
}
.wso-braintree-form section .section-container {
  padding: 15px!important;
  border: var(--color-neutral-3) 2px solid!important;
  box-sizing: border-box;
  border-radius: 5px!important;
  margin-bottom: 20px
}
.wso-braintree-form section .section-container:last-child {
  margin-bottom: 40px
}
.wso-braintree-form section .card {
  box-shadow: none;
  text-align: left;
  background: 0 0
}
.wso-braintree-form section .card-header {
  background: 0 0;
  border: 0;
  padding: 0
}
.wso-braintree-form section .card-body {
  padding: 0
}
.wso-braintree-form section .collapse.show,
.wso-braintree-form section .collapsing {
  margin-top: 20px
}
.wso-braintree-form section .well {
  background: rgba(245, 247, 248, .8);
  border-radius: 3px;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  margin-bottom: 10px
}
.darkmode .wso-braintree-form section .well {
  background: rgba(10, 10, 10, .8)
}
.wso-braintree-form section .section-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.wso-braintree-form section .section-option .form-item {
  display: flex;
  line-height: 100%
}
.wso-braintree-form section .section-option .form-item label {
  margin-bottom: 0!important
}
.wso-braintree-form section .section-option .form-item label span {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-neutral-7);
  margin-left: 10px
}
.wso-braintree-form section .section-option .d-flex {
  width: 100%
}
.wso-braintree-form .form-item-first-name,
.wso-braintree-form .form-item-last-name,
.wso-braintree-form .form-type-email {
  margin-bottom: 10px
}
.wso-braintree-form .payment-info {
  border: 0;
  margin-bottom: 20px
}
.wso-braintree-form .payment-info .card-number .form-control {
  position: relative;
  padding-left: 45px
}
.wso-braintree-form .payment-info .card-number .form-control:before {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -108px -42px;
  width: 30px;
  height: 20px;
  display: inline-block;
  content: "";
  position: absolute;
  z-index: 0;
  left: 5px
}
.wso-braintree-form .payment-info .card-number .form-control iframe {
  position: relative;
  z-index: 1
}
.wso-braintree-form .payment-info .card-number.visa .form-control:before {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: 0 -112px;
  width: 34px;
  height: 24px
}
.wso-braintree-form .payment-info .card-number.master-card .form-control:before {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -72px -86px;
  width: 34px;
  height: 24px
}
.wso-braintree-form .payment-info .card-number.american-express .form-control:before {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: 0 -86px;
  width: 34px;
  height: 24px
}
.wso-braintree-form .payment-info .card-number.discover .form-control:before {
  background-image: url(/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4);
  background-position: -36px -86px;
  width: 34px;
  height: 24px
}
.wso-braintree-form .payment-info .card-number,
.wso-braintree-form .payment-info .expiration-date {
  margin-bottom: 15px
}
.wso-braintree-form #cloned-invalid-feedbacks {
  padding: 0;
  list-style: none
}
.wso-braintree-form #cloned-invalid-feedbacks li:first-child {
  margin-top: -15px
}
#upsell-deals .deal-item {
  padding: 20px;
  border: 1px dashed var(--color-neutral-5);
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer
}
#upsell-deals .deal-item.active,
#upsell-deals .deal-item:hover {
  border: 1px solid #087dfd;
  background: var(--color-light-blue)
}
#upsell-deals .deal-item .row {
  margin-left: 0;
  margin-right: 0
}
#upsell-deals .deal-item .row:after,
#upsell-deals .deal-item .row:before {
  display: none
}
#upsell-deals .deal-item .row--second-row {
  margin-top: 10px
}
#upsell-deals .deal-item .left {
  flex-shrink: 1
}
#upsell-deals .deal-item .right {
  line-height: 0
}
#upsell-deals .deal-item__title {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: .2px;
  color: var(--color-base)
}
#upsell-deals .deal-item__subtitle {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-neutral-7);
  margin-top: 3px
}
#upsell-deals .deal-item__price-container {
  flex-wrap: nowrap
}
#upsell-deals .deal-item__price-container i {
  content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right_grey.png);
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px
}
#upsell-deals .deal-item__product-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  position: relative
}
#upsell-deals .deal-item__product-price:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f04944;
  left: 0;
  top: 50%;
  transform: translateY(-50%)
}
#upsell-deals .deal-item__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .2px;
  color: var(--color-base)
}
#upsell-deals .deal-item__checkbox input {
  margin: 0;
  opacity: 0;
  width: 0;
  height: 0;
  line-height: 0
}
#upsell-deals .deal-item__checkbox input + label {
  margin: 0;
  font-weight: bold!important;
  font-size: 14px;
  line-height: 16px;
  color: #087dfd;
  padding: 9px 14px;
  border: 1px solid var(--color-neutral-3);
  box-sizing: border-box;
  border-radius: 3px;
  background: var(--color-neutral-0);
  white-space: nowrap;
  pointer-events: none
}
#upsell-deals .deal-item__checkbox input + label span {
  display: flex;
  align-items: center;
  white-space: nowrap
}
#upsell-deals .deal-item__checkbox input + label span i {
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  margin-right: 10px
}
#upsell-deals .deal-item__checkbox input + label span i:after,
#upsell-deals .deal-item__checkbox input + label span i:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background: #087dfd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#upsell-deals .deal-item__checkbox input + label span i:after {
  transform: translate(-50%, -50%) rotate(90deg)
}
#upsell-deals .deal-item__checkbox input + label .on {
  display: none
}
#upsell-deals .deal-item__checkbox input:checked + label {
  color: var(--color-base);
  background: var(--color-page-bg)
}
#upsell-deals .deal-item__checkbox input:checked + label span i:before {
  background-color: var(--color-neutral-7)
}
#upsell-deals .deal-item__checkbox input:checked+label .off,
#upsell-deals .deal-item__checkbox input:checked+label span i:after {
  display: none
}
#upsell-deals .deal-item__checkbox input:checked + label .on {
  display: flex
}
#upsell-deals .deal-item__money-save {
  padding: 1px 6px;
  height: 20px;
  background: #ff8c06;
  border-radius: 3px;
  color: var(--color-neutral-0);
  font-weight: 700;
  font-size: 13px;
  white-space: nowrap;
  display: inline-block;
  line-height: 20px;
  width: auto
}
#upsell-deals .deal-item__tip {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 0;
  margin-left: 5px;
  vertical-align: text-top
}
#upsell-deals .tooltip-icon {
  align-content: center;
  align-items: center;
  border: var(--color-neutral-4) 1px solid;
  border-radius: 100%;
  display: inline-flex;
  height: 16px;
  justify-content: center;
  width: 16px
}
#upsell-deals .tooltip-icon i {
  color: var(--color-neutral-6);
  cursor: pointer;
  font-size: 10px;
  line-height: 16px
}
.wso-braintree-form--upsell .form-header {
  background: var(--color-light-blue);
  box-shadow: 0 2px 0 rgba(0, 0, 0, .08);
  padding-top: 15px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -.5em
}
.wso-braintree-form--upsell .form-header .logo-img {
  margin-bottom: -20px
}
.wso-braintree-form--upsell .form-header p {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin: 20px auto 0
}
.wso-braintree-form--upsell .form-header p i {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #087dfd;
  margin-left: 10px;
  margin-bottom: -3px;
  position: relative
}
.wso-braintree-form--upsell .form-header p i:after {
  content: "";
  display: block;
  width: 13px;
  height: 10px;
  background: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png) center center/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.wso-braintree-form--upsell .form-body {
  padding-top: 25px;
  padding-bottom: 35px
}
.wso-braintree-form--upsell .form-body sup {
  color: #f04944;
  font-size: 1em;
  top: -.05em
}
.wso-braintree-form--upsell .form-body__intro h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: .2px;
  color: var(--color-base)
}
.wso-braintree-form--upsell .form-body__intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.wso-braintree-form--upsell .form-body__notice {
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.wso-braintree-form--upsell .form-footer {
  margin-top: 0;
  padding-bottom: 5px
}
.total {
  background: var(--color-page-bg);
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 10px
}
.total table {
  width: 100%
}
.total table thead {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: .2px;
  color: var(--color-base)
}
.total table tbody {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.total .total-save,
.total .total-sum {
  text-align: right
}
.total .total-save span {
  color: #01b8a4;
  font-weight: 700
}
.deal-item__popover {
  z-index: 2003!important;
  opacity: 1!important
}
.deal-item__popover .popover-header {
  line-height: 120%
}
.deal-item__popover .popover-body h3 {
  font-size: 14px;
  line-height: 120%
}
.deal-item__popover .popover-body ul {
  padding-left: 20px;
  margin-bottom: 10px
}
.deal-item__popover .popover-body p:last-child {
  margin-bottom: 0
}
@media (min-width: 320px) {
  .wso-braintree-form .col-sm-8 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%
  }
  .wso-braintree-form section .payment-plan .form-radios {
    display: flex;
    flex-wrap: nowrap
  }
  .wso-braintree-form section .payment-plan .form-radios .form-item + .form-item {
    margin-top: 0;
    margin-left: 5px
  }
}
@media (min-width: 414px) {
  .wso-braintree-form .form-body,
  .wso-braintree-form .form-footer,
  .wso-braintree-form .form-header {
    padding-left: 15px;
    padding-right: 15px
  }
  .wso-braintree-form .form-control--transparent {
    border: 0;
    background: 0 0;
    padding: 0 5px;
    height: 22px
  }
  .wso-braintree-form .form-item-first-name input,
  .wso-braintree-form .form-item-last-name input,
  .wso-braintree-form .form-type-email input {
    border: 2px solid var(--color-neutral-3)
  }
  .wso-braintree-form .payment-info {
    border: 2px solid var(--color-neutral-3);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    padding: 11px 12px;
    height: 48px
  }
  .wso-braintree-form .payment-info.active {
    background: var(--color-light-blue);
    border: 2px solid #087dfd;
    box-shadow: 0 0 0 2px rgba(8, 125, 253, .08)
  }
  .wso-braintree-form .payment-info .card-number {
    width: 56.41%;
    min-width: 190px
  }
  .wso-braintree-form .payment-info .card-number .form-control:before {
    left: 0
  }
  .wso-braintree-form .payment-info .card-number,
  .wso-braintree-form .payment-info .expiration-date {
    margin-bottom: 0
  }
  .wso-braintree-form .payment-info .invalid-feedback {
    display: none!important
  }
  #upsell-deals .deal-item .row {
    flex-wrap: nowrap;
    justify-content: space-between
  }
  #upsell-deals .deal-item .right {
    flex-shrink: 1;
    width: 40%;
    text-align: right
  }
}
@media (min-width: 450px) {
  .wso-braintree-form .payment-info .cvv,
  .wso-braintree-form .payment-info .expiration-date {
    width: 21.795%
  }
}
@media (min-width: 992px) {
  #upsell-deals .deal-item__money-save,
  #upsell-deals .deal-item__price,
  #upsell-deals .deal-item__product-price,
  .total .total-save span,
  .wso-braintree-form .ajax-progress-throbber .message,
  .wso-braintree-form--upsell .form-body__intro h3 {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  .ui-dialog.wso-braintree-dialog {
    width: 100%!important
  }
}
@media (max-width: 450px) {
  .wso-braintree-form section .payment-plan .form-radios .form-item label {
    padding: 25px 10px
  }
}
@media (max-width: 413px) {
  .wso-braintree-form .card-icons {
    margin-top: 10px
  }
  .braintree-hosted-fields-focused {
    background: var(--color-light-blue)!important;
    border: 2px solid #087dfd!important;
    box-shadow: 0 0 0 2px rgba(8, 125, 253, .08)!important
  }
  .darkmode .braintree-hosted-fields-focused {
    background: #141418!important
  }
  .wso-braintree-form .payment-info {
    height: auto;
    padding: 0
  }
  .wso-braintree-form #cloned-invalid-feedbacks {
    display: none
  }
  #upsell-deals .deal-item .row--first-row .left {
    width: 100%;
    margin-bottom: 5px
  }
}
@media (min-width: 414px) and (max-width: 449px) {
  .wso-braintree-form .payment-info .cvv {
    max-width: 50px
  }
}
/*# sourceMappingURL=wso-braintree.component.css.map */
