@mixin small-green-counter() {
  font-size: 11px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 3px;
  background: none;
  color: $color-pale-green;
  @include responsive-prop(700, 800, font-weight);
  vertical-align: top;

  &.non-zero {
    background-color: rgba(121, 186, 90, 0.1);

    .darkmode & {
      background-color: #29401e;
    }
  }

  &.zero-banana {
    background-color: var(--color-neutral-3);
    color: var(--color-neutral-7);
  }
}

@mixin small-mono-label() {
  @include responsive-prop(700, 800, font-weight);
  height: 16px;
  line-height: 16px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid var(--color-neutral-4);
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--color-neutral-7);
  padding: 0 2px;

  a {
    color: inherit;
  }
}

@mixin forum-container-table() {
  $cvp: 14px;

  border: var(--color-neutral-3) solid 1px !important;
  border-color: var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  border-bottom: 0;
  border-collapse: unset;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 13px;
  border-spacing: 0;

  a:not(.btn) {
    color: var(--color-base);
  }

  thead {
    a {
      border: none;
      //color: $color-blue;
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      @include responsive-prop(700, 800, font-weight);
      letter-spacing: .1px;
      line-height: 1.08;
    }

    tr {
      background-color: var(--color-page-bg);
    }

    th {
      @include responsive-prop(700, 800, font-weight);
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: .1px;
      border-bottom: var(--color-neutral-2) 1px solid;
      border-color: var(--color-neutral-2);
      padding: 12px 22px;
      text-align: left;

      @media (max-width: $screen-sm-max) {
        padding: 5px !important;
      }

      &:first-child {
        text-align: center;
      }

      &:nth-child(2) {
        padding-left: 0;
      }

      &.score {
        text-align: center;
      }

      &.views-field-score {
        font-size: 14px;
      }

      &.replies-column {
        text-align: center;

        @media (max-width: $screen-sm-max) {
          max-width: 40px;
          padding: 5px 0 !important;
        }
      }
    }

    .comments {
      min-width: 130px;
      text-align: center;

      @media (max-width: $screen-sm-max) {
        min-width: 0 !important;
      }
    }

    .icon-bananas:before {
      color: $color-yellow;
    }
  }

  tbody {
    border: none;

    tr {
      &:hover {
        background-color: var(--color-neutral-1);

        > td {
          background-color: var(--color-neutral-1);
        }
      }
    }
  }

  tr {
    background: var(--color-neutral-0);

    &.even,
    &:nth-child(even) {
      border-bottom: 1px solid var(--color-neutral-2);
      border-color: var(--color-neutral-2);
    }

    &.odd,
    &:nth-child(odd) {
      border-bottom: 1px solid var(--color-neutral-2);
      border-color: var(--color-neutral-2);
    }

    &.fake-header {
      display: none;
    }

    &.warning {
      td {
        background-color: var(--color-warning-bg);
      }
    }

    .warning {
      background: var(--color-warning-bg);
      color: var(--color-base);
    }

    &:last-child td {
      //border-bottom: 1px solid var(--color-neutral-4);
    }
  }

  td {
    padding: $cvp 10px;
    vertical-align: middle;

    @media (max-width: $screen-sm-max) {
      word-wrap: break-word;
      max-width: 185px;
      padding: 0;
    }

    &:first-child {
      color: $color-green-100;
      min-width: 10px;

      @media (max-width: $screen-sm-max) {
        min-width: 0 !important;
        padding: 5px !important;
      }

      .icon {
        width: 22px;
        height: 22px;
        border-radius: 2px;
        border: solid 1px var(--color-neutral-3);
        position: relative;

        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }

        &.icon-question-circle {
          &:before {
            content: '\e860';
            color: $color-oasis-blue;
          }
        }

        &.icon-map-pin {
          &:before {
            content: '\e836';
            color: $color-green-100;
          }
        }

        &.icon-podcast {
          &:before {
            content: '\e864';
          }
        }
      }

      .counter {
        @include small-green-counter();
      }
    }

    &:last-child {
      color: var(--color-neutral-7);
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 1.14;
      text-align: center;
    }

    &:nth-child(3) {
      text-align: center;
    }

    &.title,
    &.views-field-title,
    &.views-field-title-with-tooltip {
      padding: $cvp 0;
      font-size: 15px;
      font-stretch: normal;
      line-height: 20px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .2px;
      color: var(--color-base);

      .row-flex {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      }

      .icon-bolt {
        color: $color-yellow;
        margin-right: 5px;
      }

      a {
        display: inline-block;
        line-height: 1.14;
        max-width: 450px;
        vertical-align: middle;
        color: inherit;
        text-overflow: ellipsis;

        &:hover {
          color: $color-blue;
        }

        @media (min-width: 320px) and (max-width: 359px) {
          max-width: 180px;
        }

        @media (min-width: 360px) and (max-width: 399px) {
          max-width: 230px;
        }

        @media (min-width: 400px) and (max-width: 430px) {
          max-width: 250px;
        }

        @media (min-width: 431px) and (max-width: $screen-sm-max) {
          max-width: 290px;
        }

        @media (max-width: $screen-sm-max) {
          max-height: 43px;
          overflow: hidden;
          font-size: 13px;
        }
      }
    }

    &:not(.title),
    &:not(.views-field-title),
    &:not(.views-field-title-with-tooltip){
      a {
        position: relative;
        z-index: 97; // bottom-panel == 98
      }
    }

    &.views-field-taxonomy-forums {
      > span {
        border: var(--color-neutral-4) 1px solid;
        border-color: var(--color-neutral-4);
        font-weight: 800;
        font-size: 11px;
        line-height: 12px;
        color: var(--color-neutral-6);
        border-radius: 3px;
        padding: 4px 2px 2px;
        display: inline-block;
        min-width: 28px;
      }

    }

    &.views-field-comment-count {
      text-align: left;
      padding-left: 25px;
      white-space: nowrap;

      > span:first-child {
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        color: var(--color-neutral-6);

        &:before {
          content: '\e86d';
          display: inline-block;
          font: normal normal normal 14px/1 'fa-custom';
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: var(--color-neutral-4);
          font-size: 13px;
        }
      }
    }

    &.replies {
      min-width: 90px;
      text-align: center;
      white-space: nowrap;

      @media (max-width: $screen-sm-max) {
        min-width: 0 !important;
        max-width: 50px;
      }

      i {
        font-style: normal;
        color: var(--color-neutral-5);
        font-weight: 700;
        margin-right: 3px;
        font-size: 15px;
      }
    }

    &.text-center {
      @media (max-width: $screen-sm-max) {
        text-align: center;
        padding: 5px !important;
      }
    }

    .new-count {
      i {
        font-style: normal;
        display: inline-block;
        margin-right: 2px;
        color: var(--color-neutral-4);
        font-weight: 700;
      }

      a {
        white-space: nowrap;
        color: $color-blue !important;
      }
    }
  }

  .topic-new {
    @include responsive-prop(700, 800, font-weight);
    background-color: $color-yellow;
    border-radius: 5px;
    color: var(--color-neutral-0);
    padding: 0 2px;
    width: 38px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-align: center;
  }

  .banana-icon {
    height: auto;
    width: 16px;
  }

  .forum-field__text_empty {
    color: var(--color-neutral-4);
  }
}

@mixin wso-table() {
  @include forum-container-table();
  color: var(--color-base);

  thead th:nth-child(2) {
    padding-left: 22px;
  }
}

@mixin wso-table-left() {
  @include forum-container-table();

  thead th,
  tbody td {
    text-align: left !important;
    padding: 12px 22px !important;
  }
}

@mixin wso-table-left-center() {
  @include wso-table();

  thead th,
  tbody td {
    text-align: center;

    &:first-child {
      text-align: left;
      padding-left: 10px;
    }
  }
}

@mixin wso-admin-table() {
  a {
    text-decoration: none;
    color: $color-blue !important;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: block;
    }
  }

  &.table-sm {
    th,
    td {
      padding: 5px !important;
    }
  }
}
