@mixin link() {
  display: inline;
  border: 0;
  padding: 0;
  background: transparent;
  color: $color-blue;
}

@mixin dropdown() {
  font-size: 13px;
  font-weight: 700;

  .dropdown-toggle {
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border-radius: 3px;
    border: solid 1px var(--color-neutral-3);
    background-color: var(--color-neutral-0);
    box-shadow: none;
    color: var(--color-base);

    > span {
      display: inline-flex;
      align-items: center;
    }

    .icon {
      margin-right: 10px;
      font-size: 12px;
      color: $color-oasis-blue;
    }

    a {
      color: inherit;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.2px;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        margin-right: 10px;
        color: $color-oasis-blue;
      }
    }

    .dropdown-toggle-text {
      max-width: calc(100% - 20px);
      @include ellipsis();
    }

    .caret {
      border: 0;
      min-width: 16px;
      width: 16px;
      height: 16px;
      position: relative;
      margin-left: 20px;

      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border: solid 1px var(--color-neutral-3);
        background-color: var(--color-neutral-3);
      }

      &:after {
        font-family: 'fa-custom';
        content: '\e808';
        font-size: 9px;
        color: var(--color-base);
        display: inline-block;
        transform: rotate(-90deg);
        position: absolute;
        top: 3px;
        left: 5px;
      }
    }

    &:after {
      display: none;
    }
  }

  .dropdown-menu {
    column-count: 1;
    column-gap: initial;
    border: solid 1px var(--color-neutral-3);
    background-color: var(--color-neutral-0);
    box-shadow: none;
    color: var(--color-base);
    padding: 0;

    > li {
      font-size: 13px;
      line-height: 1.23;

      &:last-child {
        border-bottom: 0;
      }

      > a {
        display: flex;
        align-items: center;
        padding: 12px 10px 12px 16px;
        color: var(--color-base);

        &:hover {
          text-decoration: none;
          background: var(--color-neutral-2);
        }

        &.dropdown__option_noicon {
          padding: 12px 10px 12px 16px;
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }

  &.open {
    .dropdown-toggle {
      box-shadow: none;
      border-color: var(--color-neutral-5);

      .caret {
        &:after {
          color: $color-oasis-blue;
          transform: rotate(90deg);
          top: 2px;
          left: 4px;
        }
      }
    }
  }
}

@mixin dropdown-small-borderless() {
  .dropdown-toggle {
    border: 0;
    font-size: 13px;
    padding: 6px 10px;

    .caret {
      margin-left: 10px;
    }
  }

  ul {
    &.dropdown-menu {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);

      > li {
        border-bottom-color: var(--color-neutral-3);

        a {
          padding: 10px 10px 10px 16px;

          &:hover {
            text-decoration: none;
            background: var(--color-neutral-3);
          }
        }
      }
    }
  }
}

@mixin dropdown--multiple-checkboxes() {
  .dropdown-menu {
    > li {
      > a {
        position: relative;
        padding: 12px 10px 12px 40px;

        &:before,
        &:after {
          display: inline-block;
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:before {
          content: '';
          width: 14px;
          height: 14px;
          border-radius: 2px;
          border: solid 1px var(--color-neutral-3);
          background-color: var(--color-neutral-0);
        }

        &:after {
          font-family: 'fa-custom';
          content: '\e801';
          color: $color-oasis-blue;
          font-size: 8px;
          left: 19px;
          opacity: 0;
          transition: 0.1s opacity linear;
        }

        &:hover,
        &.active {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

@mixin dropdown--single-checkbox() {
  .dropdown-menu {
    > li {
      > a {
        position: relative;
        padding: 9px 40px 9px 10px;

        &.active {
          @include responsive-prop(700, 800, font-weight);
        }

        &.active,
        &:hover {
          &:after {
            font-family: 'fa-custom';
            content: '\e801';
            color: $color-pop-green;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 10px;
          }
        }
      }
    }
  }
}

@mixin search-form() {
  > div {
    position: relative;
  }

  input[type=text] {
    height: 36px;
    border-radius: 3px;
    border: solid 1px var(--color-neutral-4);
    background-color: var(--color-neutral-0);
    box-shadow: none;
    padding-right: 50px;

    @include placeholder {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.2px;
      color: var(--color-neutral-7);
    }
  }

  .form-type-textfield + .icon {
    position: absolute;
    right: 25px;
    top: 12px;
    color: var(--color-base);

    &:hover {
      cursor: pointer;
    }
  }

  input[type=submit] {
    opacity: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    padding: 0 !important;
    height: 100%;
  }
}

@mixin focused-input() {
  &:focus {
    border-color: $color-pop-green !important;
    box-shadow: 0 0 4px 0 rgba(8, 196, 42, 0.5) !important;
    outline: none;
  }
}

%ui-autocomplete {
  border: solid 1px var(--color-neutral-3);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  color: var(--color-base);
  padding: 0;

  > li {
    border-bottom: solid 1px var(--color-neutral-4);
    font-size: 13px;
    line-height: 1.23;
    border-bottom: var(--color-neutral-4) 1px solid;

    &:last-child {
      border-bottom: 0;
    }

    > a {
      display: flex;
      align-items: center;
      padding: 8px 15px;
      color: var(--color-base);

      &.ui-state-active,
      &:hover {
        text-decoration: none;
        background: var(--color-neutral-2);
        border: 0;
        margin: 0;
      }
    }
  }
}

%form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-base);
  background-color: var(--color-neutral-0);
  background-clip: padding-box;
  border: 1px solid var(--color-neutral-4);
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@mixin form-label() {
  color: var(--color-base);
  font-size: 16px;
  letter-spacing: .1px;
  line-height: 1.13;
  font-weight: 400 !important;
}

@mixin w50-input() {
  label {
    @include form-label();
    margin: 0;
  }

  @include media('>=tablet') {
    display: flex;
    flex-wrap: wrap;

    > .form-item {
      width: calc(50% - 10px);

      &:nth-child(even) {
        margin-left: 20px;
      }
    }

    .form-item + .form-item {
      margin-top: 0;
    }
  }
}

@mixin pager() {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;

  .pager--mini {
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    list-style: none;

    li {
      display: inline;
    }

    .pager__icon {
      color: $color-blue;
      display: inline-block;
      font-size: 20px;
      margin-top: -2px;
    }
  }

  li {
    margin: 0 0 20px 0;

    & + li {
      margin: 0 0 20px -1px;
    }

    > a {
      display: inline-block;
      background-color: var(--color-neutral-0);
      border-radius: 0;
      border: var(--color-neutral-3) 1px solid;
      padding: 0 10px;
      height: 30px;
      font-size: 13px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 30px;
      letter-spacing: 0.2px;
      text-align: center;
      color: var(--color-neutral-7);

      &:hover {
        color: $color-blue;
      }

      &:empty {
        display: none;
      }
    }

    &.active {
      a {
        background-color: var(--color-page-bg);
        color: var(--color-neutral-6);
      }
    }

    &.pager__item--ellipsis {
      height: 30px;
      width: 28px;
      background: var(--color-neutral-0);
      text-align: center;
      border: var(--color-neutral-3) 1px solid;
    }

    &.pager__item---first,
    &.pager__item--last {
      a {
        border-radius: 3px;
        color: var(--color-base);
        text-transform: capitalize;
        font-weight: 600;
      }

      .pager__icon {
        display: none;
      }
    }

    &.pager__item--first {
      margin-right: 8px;
    }

    &.pager__item--last {
      margin-left: 8px;
    }

    &.pager__item--previous,
    &.pager__item--next {
      a {
        span {
          //display: none;

          &.pager__icon {
            color: $color-blue;
            display: inline-block;
            font-size: 20px;
            margin-top: -2px;
          }
        }
      }
    }
  }
}

@mixin select2--with-checkboxes() {
  .select2-results__option {
    position: relative;
    padding-left: 40px;

    &:before {
      background-color: var(--color-neutral-0);
      border: 1px solid $input-border-color;
      border-radius: 2px;
      content: "";
      display: inline-block;
      height: 16px;
      margin-left: 0;
      margin-right: 12px;
      overflow: visible;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      transition: border .15s ease-in-out;
      width: 16px;
      position: absolute;
    }

    &:after {
      display: block;
      content: "\e801";
      font: normal normal normal 11px/1 'fa-custom';
      color: $color-green-100;
      left: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      //z-index: 9999;
      opacity: 0;
      transition: opacity 0.1s linear;
    }

    &[aria-selected=true],
    &--highlighted {
      &:before {
        border-color: var(--color-neutral-0);
      }

      &:after {
        opacity: 1;
      }
    }
  }
}

@mixin select2--height-md() {
  .select2-selection {
    min-height: 48px !important;

    .select2-selection__rendered {
      line-height: 48px !important;
    }

    .select2-selection__clear {
      margin-top: 14px;
    }
  }
}

//tmp solution. todo: ask Hanna
@mixin select2drop-wso-video() {
  .select2-dropdown {
    .select2-results__option {
      padding: 16px 20px 16px 24px;
      font-size: 14px;
      letter-spacing: .1px;
      color: var(--color-base);
      font-weight: 400;
      line-height: 15px;

      &--highlighted,
      &:hover {
        background-color: rgba(121, 186, 90, .1);
        color: $color-green-100;
        font-weight: 500;
      }
    }
  }
}

@mixin checkbox-as-toggle() {
  input[type=checkbox],
  .ajax-progress {
    display: none;
  }

  input[type=checkbox] + label {
    display: inline-block;
    background-color: $color-red;
    color: var(--color-neutral-0);
    font-family: sans-serif;
    font-size: 14px;
    @include responsive-prop(700, 800, font-weight);
    height: 30px;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
    width: 70px;
    border-radius: 30px;
    transition: all 200ms ease;
    opacity: 0.75;

    &:before,
    &:after {
      content: '';
      width: 50%;
      display: inline-block !important;
      height: 100%;
      text-align: center;
      white-space: nowrap;
    }

    &:before {
      content: 'No';
      background: transparent;
      border: 0;
      width: 100%;
      text-align: right;
      padding: 0 10px;
    }

    &:after {
      background: var(--color-neutral-0);
      height: 26px;
      width: 26px;
      left: 2px;
      top: 2px;
      position: absolute;
      border-radius: 100%;
      transform: none;
    }
  }

  // Checked.
  input[type=checkbox]:checked + label {
    background-color: $color-green-100;
    opacity: 1;

    &:before {
      content: 'Yes';
      text-align: left;
    }

    &:after {
      right: 2px;
      left: auto;
      transform: none;
    }
  }
}
