@import "components/common-styles/vendors/include-media";

$browser-context: 14;

@function em($pixels, $context: $browser-context) {
  @return #{calc($pixels / $context)}em;
}

@mixin responsive-prop($tablet, $desktop, $prop) {
  #{$prop}: $tablet;

  @include media('>=desktop') {
    #{$prop}: $desktop;
  }
}

// Include Font
// $name - name of the font
// $path - relative path to the font without extension
// $style - font-style of the font
// $weight - font-weight of the font
@mixin font ($name, $path, $style, $weight) {
  @font-face {
    font-family: $name;
    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), // sass-lint:disable-line no-duplicate-properties
    url('#{$path}.woff2') format('woff2'),
    url('#{$path}.woff') format('woff'),
    url('#{$path}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

%green-lms-heading {
  font-size: 28px;
  color: #0cb930;
}

%blue-lms-heading {
  font-size: 20px;
  font-weight: 400;
  color: #087dfd;
  font-style: italic;
}

%black-lms-heading {
  font-weight: 800;
  font-size: 20px;
  color: var(--color-base);
  text-transform: none;
  line-height: 1.2;
}

@mixin ckeditor-styles() {
  span.alt-font {
    font-family: Oswald-Regular, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }

  span.uppercase-text {
    text-transform: uppercase !important;
  }

  span.color-pale-blue {
    color: $color-oasis-blue !important;
  }

  span.color-bright-blue {
    color: #7ad9ea !important;
  }

  span.color-blue {
    color: #087dfd !important;
  }

  span.color-dark-blue {
    color: #1982cd !important;
  }

  span.color-green {
    color: #0cb930 !important;
  }

  span.color-orange {
    color: #ff6c00 !important;
  }

  span.color-grey {
    color: #3c4245 !important;
  }
}

// Safe for pdf
@mixin rich-text() {
  font-size: 16px;
  word-break: break-word;

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    @include responsive-prop(700, 800, font-weight);
  }

  h2 {
    @include responsive-prop(24px, 38px, 'font-size');//32
    text-transform: capitalize;
    margin: 44px 0 8px;
  }

  h3 {
    @include responsive-prop(20px, 26px, 'font-size');//28
    margin: 38px 0 8px;
  }

  h4 {
    @include responsive-prop(18px, 20px, 'font-size');//24
    margin: 34px 0 8px;
  }

  h5 {
    @include responsive-prop(16px, 18px, 'font-size');//20
    margin: 32px 0 8px;
  }

  h6 {
    @include responsive-prop(16px, 16px, 'font-size');
    margin: 30px 0 8px;
  }


  img {
    height: auto;
    max-width: 100%;
  }

  figure {
    &.align-center {
      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      figcaption {
        text-align: center;
      }
    }
  }

  p {
    margin-bottom: 30px;

    strong {
      @include responsive-prop(700, 800, font-weight);
    }

    a {
      word-wrap: break-word;
    }
  }

  blockquote {
    font-size: inherit;
    border-left: 3px solid $color-light-oasis;
    margin: 0 0 24px 8px;
    font-style: italic;
    color: var(--color-neutral-7);
    line-height: 26px;
    letter-spacing: -.15px;
    padding: 1em;
    background-color: var(--color-neutral-2);
    border-color: $color-light-oasis;

    strong.quote-author {
      margin-right: 5px;

      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 'fa-custom';
        font-size: inherit;
        //text-rendering: auto;
        content: '\f10d';
        margin-right: 5px;
      }
    }

    p:first-of-type {
      display: inline;
    }
  }

  ul, ol, dl {
    page-break-before: avoid
  }

  li {
    line-height: 26px;
    margin-bottom: 4px;
  }

  ul {
    margin-bottom: 16px;
    margin-top: 8px;
    padding-left: 24px;
  }

  ol {
    margin-bottom: 16px;
    margin-top: 8px;
    padding-left: 24px;
  }

  span.green-lms-heading {
    @extend %green-lms-heading;
  }

  span.blue-lms-heading {
    @extend %blue-lms-heading;
  }

  span.black-lms-heading {
    @extend %black-lms-heading;
  }

  @include ckeditor-styles();
}

// Extra styles for desktop, danger for PDF
@mixin rich-text-desktop() {
  @include rich-text();

  span.text-shadow {
    text-shadow: 0 1px 1px rgba(var(--color-black--rgb),.4) !important;
  }
}

@mixin landing-list() {
  padding: 0;
  margin: 0;

  @include media('>=desktop') {
    column-count: 2;
    column-gap: 40px;
  }

  li {
    position: relative;
    padding-left: 30px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 16px;
    list-style: none;

    &:before {
      font-family: fa-custom;
      font-size: 16px;
      left: 0;
      position: absolute;
      content: '\f14a';
      background: var(--color-neutral-0);
      border-radius: 30px;
      color: #3a3c3e;
      height: 13px;
      line-height: 13px;
      top: 6px;
      width: 12px;
      padding: 0;
      display: inline-block;
    }

    ul {
      padding-left: 40px;

      @include media('>=desktop') {
        column-count: 1;
        column-gap: 0;
      }

      li {
        display: list-item;
        list-style: circle;
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@mixin word-wrap-hyphens() {
  @include word-wrap();
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
