@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;

  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  }
  @else {
    font-family: 'object-fit: #{$fit}';
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin responsive-prop($tablet, $desktop, $prop) {
  #{$prop}: $tablet;

  @include media('>=desktop') {
    #{$prop}: $desktop;
  }
}

// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

@mixin wso-container() {
  @include make-container();
  @include make-container-max-widths();
}

@mixin hover() {
  &:hover { @content; }
}
