@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./components/common-styles/helpers/wso-bootstrap-variables--override";

@import "./node_modules/bootstrap/scss/mixins";

@mixin wso-button-variant($color, $value) {
  & {
    display: inline-block;
    //font-family: $btn-font-family;
    //font-weight: 600;
    //color: $body-color;
    text-align: center;
    white-space: $btn-white-space;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border: $btn-border-width solid $value;
    text-decoration: none;
    //background-color: transparent;
    //border: $btn-border-width solid transparent;
    //@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

    color: white;
    font-weight: 600;
    background-color: $value;
  }

  &:hover {
    background-color: $value;
    border-color: $value;
    box-shadow: 0 0 0 2px rgba($value, 0.1);
    color: white;
    text-decoration: none;
  }

  &:focus,
  &:active {
    background-color: $value;
    border-color: darken($value, 3%);
    box-shadow: none;
    color: white;
  }

  &:disabled {
    background-color: var(--color-neutral-5);
    border-color: var(--color-neutral-5);
    box-shadow: none;
  }
}

@mixin wso-button-outline-variant($color, $value) {
  & {
    display: inline-block;
    //font-family: $btn-font-family;
    //font-weight: 600;
    //color: $body-color;
    text-align: center;
    white-space: $btn-white-space;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    border: $btn-border-width solid $value;
    //background-color: transparent;
    //border: $btn-border-width solid transparent;
    //@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

    font-weight: 600;
    color: $value;
    background-color: var(--color-neutral-0);
  }

  &:hover {
    background-color: var(--color-neutral-0);
    box-shadow: 0 0 0 2px rgba($value, 0.1);
    border-color: lighten($value, 3%);
    color: lighten($value, 3%);
    text-decoration: none;
  }

  &:focus,
  &:active {
    background-color: var(--color-neutral-0);
    border-color: darken($value, 3%);
    color: darken($value, 3%);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-5);
    border-color: var(--color-neutral-5);
    box-shadow: none;
  }
}

// Old name btn-default
@mixin btn-secondary($size: null) {
  @if ($size) {
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  } @else {
    @if ($size == 'xs') {
      @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-border-radius-sm);
    } @else if ($size == 'sm'){
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
    } @else if ($size == 'md'){
      @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
      text-transform: uppercase;
    } @else if ($size == 'lg'){
      @include button-size(14px, 20px, 18px, 3px);
      text-transform: uppercase;
    } @else if ($size == 'xl'){
      @include button-size(18px, 20px, 18px, 3px);
      text-transform: uppercase;
    }
  }

  color: var(--color-base);
  border: $btn-border-width solid var(--color-neutral-3);

  &:hover {
    border-color: var(--color-neutral-3);
    color: var(--color-base);
    box-shadow: 0 0 0 2px rgba(223, 225, 230, 0.2);
  }

  &:focus,
  &:active {
    border-color: var(--color-neutral-3);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--color-neutral-1);
  }
}

@mixin btn-default() {
  @include wso-button-outline-variant('success', $color-green-100);
}

@mixin btn-default--blue() {
  @include wso-button-outline-variant('primary', $color-blue);
}

@mixin btn-default--white() {
  border: $btn-border-width solid var(--color-neutral-0);
  background-color: transparent;
  color: var(--color-neutral-0);

  &:hover {
    background-color: var(--color-neutral-0);
    color: var(--color-base);
  }
}

%button {
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
}

%btn {
  //@include wso-button();

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    //box-shadow: none;
  }

  //////////////////////////////////////////////////////////////////////////////////
  &.btn-default {
    @include btn-secondary();
  }

  &.btn-success,
  &.btn-filled {
    @include wso-button-variant('success', $color-green-100);
  }

  &.btn-danger {
    @include wso-button-variant('danger', $color-red);
  }

  &.btn-secondary,
  &.btn-lines {
    @include wso-button-outline-variant('success', $color-green-100);

    &.mono {
      @include btn-secondary();

      &.danger {
        @include wso-button-outline-variant('danger', $color-red);
      }
    }
  }

  &.btn-success-ghost,
  &.btn-transparency,
  &.btn-other{
    @include wso-button-outline-variant('success', $color-green-100);
  }

  &.bg-white {
    background: var(--color-neutral-0);
  }

  &.btn-info {
    @include wso-button-variant('primary', $color-blue);

    &.btn-lines {
      @include wso-button-outline-variant('primary', $color-blue);
    }
  }

  //Sizes
  &.btn-xs {
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-border-radius-sm);
  }

  &.btn-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  }

  &.btn-md {
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    text-transform: uppercase;
  }

  &.btn-lg {
    @include button-size(14px, 20px, 18px, 3px);
    text-transform: uppercase;
  }

  &.btn-xl {
    @include button-size(18px, 20px, 18px, 3px);
    text-transform: uppercase;
  }
}

