@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./components/common-styles/helpers/wso-bootstrap-variables--override";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/carousel";

@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

#block-helpcardslazyblock {
  #help-cards {
    @include media('<desktop') {
      display: none !important;
    }

    @include media('>=desktop') {
      position: fixed;
      right: -400px;
      top: 400px;
      left: auto;
      width: 220px;
      z-index: 100;
      opacity: 0;
      transition: all 1s ease-in-out;

      &.show {
        display: block !important;
        right: 0;
        opacity: 1;
        transition: all 1s ease-in-out;
      }
    }
  }

  .alert {
    .close {
      padding: .5rem;
    }
  }

  .well {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
  }

  .carousel {
    &-inner {
      overflow: visible;
    }

    &-item {
      box-shadow: -10px 0px 15px 0px rgba(50, 50, 50, 0.20);
    }

    &-control {
      top: 4px;
      bottom: auto;
      color: var(--color-base);
    }

    &-indicators {
      margin-bottom: 0;
      top: 10px;
      bottom: auto;

      li {
        border: 0;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: var(--color-base);
        padding: 0;
      }
    }
  }

  .card {
    border: 0;

    &:hover {
      text-decoration: none;
    }

    @at-root #block-helpcardslazyblock .card {
      box-shadow: -10px 0px 15px 0px rgba(50, 50, 50, 0.20);

      img {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
    }

    &-header {
      padding: .75rem 1.25rem;
      background-color: var(--color-neutral-3);
      border-bottom: 1px solid rgba(0, 0, 0, .125);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      display: none;

      @at-root #block-helpcardslazyblock #help-cards .carousel-item .card-header {
        display: block;
      }
    }

    .blazy {
      max-height: 190px;
      overflow: hidden;
    }

    h5 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
      line-height: 1.2;
      color: var(--color-base);
    }
  }
}
