.carousel {
  position: relative
}
.carousel.pointer-event {
  touch-action: pan-y
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: ""
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block
}
.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
  transform: translateX(100%)
}
.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
  transform: translateX(-100%)
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none
}
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end,
.carousel-fade .carousel-item.active {
  z-index: 1;
  opacity: 1
}
.carousel-fade .active.carousel-item-end,
.carousel-fade .active.carousel-item-start {
  z-index: 0;
  opacity: 0;
  transition: opacity .6s
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9
}
.carousel-control-prev {
  left: 0
}
.carousel-control-next {
  right: 0
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s
}
.carousel-indicators .active {
  opacity: 1
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center
}
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: invert(1) grayscale(100)
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000
}
.carousel-dark .carousel-caption {
  color: #000
}
#block-helpcardslazyblock .alert .close {
  padding: .5rem
}
#block-helpcardslazyblock .well {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0
}
#block-helpcardslazyblock .carousel-inner {
  overflow: visible
}
#block-helpcardslazyblock .carousel-item {
  box-shadow: -10px 0 15px 0 rgba(50, 50, 50, .2)
}
#block-helpcardslazyblock .carousel-control {
  top: 4px;
  bottom: auto;
  color: var(--color-base)
}
#block-helpcardslazyblock .carousel-indicators {
  margin-bottom: 0;
  top: 10px;
  bottom: auto
}
#block-helpcardslazyblock .carousel-indicators li {
  border: 0;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--color-base);
  padding: 0
}
#block-helpcardslazyblock .card {
  border: 0;
  box-shadow: -10px 0 15px 0 rgba(50, 50, 50, .2)
}
#block-helpcardslazyblock .card:hover {
  text-decoration: none
}
#block-helpcardslazyblock .card img {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}
#block-helpcardslazyblock .card-header {
  padding: .75rem 1.25rem;
  background-color: var(--color-neutral-3);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  display: none
}
#block-helpcardslazyblock #help-cards .carousel-item .card-header {
  display: block
}
#block-helpcardslazyblock .card .blazy {
  max-height: 190px;
  overflow: hidden
}
#block-helpcardslazyblock .card h5 {
  font-size: 14px
}
#block-helpcardslazyblock .card p {
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-base)
}
@media (min-width: 992px) {
  #block-helpcardslazyblock #help-cards {
    position: fixed;
    right: -400px;
    top: 400px;
    left: auto;
    width: 220px;
    z-index: 100;
    opacity: 0;
    transition: 1s ease-in-out
  }
  #block-helpcardslazyblock #help-cards.show {
    display: block!important;
    right: 0;
    opacity: 1;
    transition: 1s ease-in-out
  }
}
@media (max-width: 991px) {
  #block-helpcardslazyblock #help-cards {
    display: none!important
  }
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-next,
  .carousel-control-prev,
  .carousel-fade .active.carousel-item-end,
  .carousel-fade .active.carousel-item-start,
  .carousel-indicators [data-bs-target],
  .carousel-item {
    transition: none
  }
}
/*# sourceMappingURL=help-cards.component.css.map */
