@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.popover.user-profile-ajax {
  max-width: 320px;
  min-width: 300px;

  img.card-preloader {
    max-height: 134px;
    width: auto;
    margin: 0 auto;
  }

  .hover-details {
    display: block !important;
  }
}

.ajaxprofilepane {
  padding: 5px;
  color: var(--color-base);
  background-color: var(--color-neutral-0);

  .preview-profile-avatar {
    background-color: var(--color-neutral-0);
    display: block;
    float: right;
    height: 57px;
    margin: 2px;
    padding: 2px;
    width: 57px;
  }

  .preview-profile-name {
    display: block;
    font-weight: normal;
    color: var(--color-neutral-7);
    height: 24px;
    padding: 0;
    margin: 0;

    .name {
      @include responsive-prop(700, 800, font-weight);
      color: var(--color-base);
      display: block;
      float: left;
      font-size: 12pt;
      margin-right: 6px;
    }

    .name-icons {
      display: block;
      float: left;
      margin: 3px 0 0 0;
      width: 190px;
    }
  }

  .preview-profile-section {
    background-color: var(--color-neutral-0);
    display: block;
    width: 100%;
  }

  .preview-profile-list-item {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  .silver-banana {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.preview-float-left {
  display: block;
  float: left;
  margin-right: 4px;
}

.preview-profile-certification {
  background-color: var(--color-neutral-0);
  clear: left;
  color: $steelblue_3F8FCC;
  display: block;
  font-size: 10pt;
  @include responsive-prop(700, 800, font-weight);
  width: 100%;
}

.preview-profile-certification-not {
  color: $steelblue_3F8FCC;
}
