.popover.user-profile-ajax {
  max-width: 320px;
  min-width: 300px
}
.popover.user-profile-ajax img.card-preloader {
  max-height: 134px;
  width: auto;
  margin: 0 auto
}
.popover.user-profile-ajax .hover-details {
  display: block!important
}
.ajaxprofilepane {
  padding: 5px;
  color: var(--color-base);
  background-color: var(--color-neutral-0)
}
.ajaxprofilepane .preview-profile-avatar {
  background-color: var(--color-neutral-0);
  display: block;
  float: right;
  height: 57px;
  margin: 2px;
  padding: 2px;
  width: 57px
}
.ajaxprofilepane .preview-profile-name {
  display: block;
  font-weight: normal;
  color: var(--color-neutral-7);
  height: 24px;
  padding: 0;
  margin: 0
}
.ajaxprofilepane .preview-profile-name .name {
  font-weight: 700;
  color: var(--color-base);
  display: block;
  float: left;
  font-size: 12pt;
  margin-right: 6px
}
.ajaxprofilepane .preview-profile-name .name-icons {
  display: block;
  float: left;
  margin: 3px 0 0;
  width: 190px
}
.ajaxprofilepane .preview-profile-section {
  background-color: var(--color-neutral-0);
  display: block;
  width: 100%
}
.ajaxprofilepane .preview-profile-list-item {
  display: block;
  overflow: hidden;
  width: 100%
}
.ajaxprofilepane .silver-banana {
  float: left;
  margin-right: 10px;
  margin-top: 5px
}
.preview-float-left {
  display: block;
  float: left;
  margin-right: 4px
}
.preview-profile-certification {
  background-color: var(--color-neutral-0);
  clear: left;
  color: #3f8fcc;
  display: block;
  font-size: 10pt;
  font-weight: 700;
  width: 100%
}
.preview-profile-certification-not {
  color: #3f8fcc
}
@media (min-width: 992px) {
  .ajaxprofilepane .preview-profile-name .name,
  .preview-profile-certification {
    font-weight: 800
  }
}
/*# sourceMappingURL=user-hover-card.component.css.map */
