.bonuses__wrapper {
  margin-top: 40px
}
@media (min-width: 768px) {
  .bonuses__wrapper {
    margin-top: 60px
  }
  .bonuses__wrapper > div {
    flex: 1 1 50%;
    width: 100%
  }
  .bonuses__wrapper > div:nth-child(odd) {
    padding-right: 20px
  }
  .bonuses__wrapper > div:nth-child(even) {
    padding-left: 20px
  }
}
@media (max-width: 768px) {
  .bonuses__wrapper > div:not(:nth-last-child(1)) {
    margin-bottom: 40px
  }
}
/*# sourceMappingURL=paragraph.bonuses-wrapper.component.css.map */
