@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.bonuses__wrapper {
  margin-top: 40px;
  @include media('>=tablet') {
    margin-top: 60px;
  }

  > div {
    @include media('<=tablet') {
      &:not(:nth-last-child(1)) {
        margin-bottom: 40px;
      }
    }
    @include media('>=tablet') {
      flex: 1 1 50%;
      width: 100%;

      &:nth-child(odd) {
        padding-right: 20px;
      }
      &:nth-child(even) {
        padding-left: 20px;
      }
    }
  }
}
