@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.authority__block {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 32px 0 32px;

  p {
    display: block;
    margin: 0;
  }

  .authority__label {
    margin-bottom: 5px;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
  }

  &.authority__block_head {
    .node-financial-dictionary-term &,
    .node-page & {
      margin-top: 5px;
    }

    img {
      height: 56px;
      width: 56px;
      min-width: 56px;
    }

    .authority__user_link {
      padding-right: 16px;

      &:after {
        background-color: var(--color-neutral-4);
        border-radius: 2px;
        content: "";
        height: 4px;
        position: relative;
        right: -2px;
        top: -5px;
        width: 4px;
        display: inline-block;
      }
    }
  }

  &.authority__block_foot {
    margin: 68px 0 32px;
    padding: 15px 0;
    border-top: 1px solid var(--color-neutral-4);
    border-bottom: 1px solid var(--color-neutral-4);

    img {
      height: 96px;
      width: 96px;
    }

    &:before {
      color: var(--color-neutral-7);
      content: "About this content";
      font-size: 12px;
      font-weight: 400;
      letter-spacing: .1px;
      line-height: 1.17;
      position: absolute;
      top: -18px;
      left: 0;
    }
  }
}

.authority__label {
  @include responsive-prop(700, 800, font-weight);
  @include font-color-grey-darkmode;
  font-size: 9px;
  letter-spacing: .6px;
  line-height: 1.11;
  text-transform: uppercase;
}

.authority__user_link {
  @include responsive-prop(700, 800, font-weight);
  color: var(--color-base);
  font-size: 16px;
  letter-spacing: .1px;
  line-height: 1.07;
  position: relative;
}

.authority__editorial_link {
  color: $color-blue;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.14;
}

.authority-expertize__title {
  @include font-color-grey-darkmode;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.14;
}

.authority-expertize__label {
  color: var(--color-base);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.14;
}

.authority__text {
  color: var(--color-base);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.57;
}

.authority__part_right {
  margin-left: 14px;
}

.authority-expertize__block {
  .authority-expertize__label {
    position: relative;
    padding: 0 7px;

    &:last-child {
      padding: 0 0 0 7px;

      &:after {
        content: none;
      }
    }

    &:after {
      background-color: var(--color-neutral-4);
      content: "";
      height: 10px;
      position: absolute;
      right: -2px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
    }
  }
}

.authority__block_foot {
  .authority__part_right {
    width: calc(100% - 110px);
  }
}

@include media('<tablet') {
  .authority__block {
    &.authority__block_head {
      .authority__part_right {
        display: inline-block;
        margin-left: 10px;
        max-width: calc(100% - 66px);
      }
    }

    &.authority__block_foot {
      .authority__part_right {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  .content {
    p {
      &.authority__label {
        font-size: 9px;
      }
    }
  }

  .authority__block_foot {
    .authority__part_left {
      display: none;
    }
  }
}

@media (max-width: 374px) {
  .authority__block {
    &.authority__block_head {
      .authority__user_link {
        &:after {
          content: none;
        }
        display: inline-block;
        width: 100%;
      }

      .authority__editorial_link {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
