.form-type-checkbox,
.form-type-radio {
  label {
    &.option {
      position: relative;
      //padding-left: 40px;
      cursor: pointer;
      font-weight: bold !important;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      left: auto;
      font-size: 18px;
      letter-spacing: .2px;
      color: var(--color-base);
      min-height: 24px;
      display: inline-flex;
      align-items: center;
      align-content: center;

      @include media('>=desktop') {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:before {
        background-color: var(--color-neutral-0);
        border: 1px solid var(--color-neutral-4);
        border-radius: 2px;
        content: "";
        display: inline-block;
        height: 24px;
        left: 0;
        margin-right: 16px;
        overflow: visible;
        //position: absolute;
        transition: border .15s ease-in-out;
        width: 24px;
        min-width: 24px;

        .darkmode & {
          background-color: $color-black;
          border: 1px solid var(--color-neutral-5);
        }
      }
    }
  }

  input {
    &:checked {
      + label {
        &:before {
          background-color: $color-green-100;
          border: 1px solid $color-green-100;
          border-radius: 2px;
          content: " ";
          display: inline-block;
          height: 24px;
          left: 0;
          margin-right: 16px;
          //position: absolute;
          transition: border .15s ease-in-out;
          width: 24px;
          //top: 50%;
          //transform: translateY(-50%);

          .darkmode & {
            background-color: $color-green-100;
            border: 1px solid $color-green-100;
          }
        }

        &:after {
          background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
          background-repeat: no-repeat;
          background-size: contain;
          content: " ";
          height: 10px;
          left: 6px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 13px;
          //z-index: 9999;
        }
      }
    }

    &.error {
      + label {
        &:before {
          border-color: $color-red;
        }
      }
    }
  }

  &--small {
    label {
      &.option {
        &:before {
          height: 16px;
          width: 16px;
          min-width: 16px;
          min-height: 16px;
          margin-right: 5px;
        }
      }
    }

    input {
      &:checked {
        + label {
          &:before {
            height: 16px;
            width: 16px;
            margin-right: 5px;
          }

          &:after {
            height: 8px;
            width: 10px;
            top: 50%;
            left: 3px;
          }
        }
      }
    }
  }

  &.form-disabled {
    opacity: 0.7;

    label.option {
      cursor: default;
    }
  }
}

.form-type-checkbox input[type="checkbox"],
.form-type-radio input[type="radio"]{
  height: 0;
  margin: 0;
  opacity: 0;
  width: 0;
}

.form-type-radio {
  label {
    &.option {
      &:before {
        border-radius: 100%;
      }
    }
  }

  input {
    &:checked {
      + label {
        &:before {
          border-radius: 100%;
        }

        &:after {
          background: var(--color-neutral-0);
          display: block;
          width: 10px;
          height: 10px;
          left: 7px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 100%;
        }
      }
    }
  }
}

.form-type-checkbox + .form-type-checkbox,
.form-type-radio + .form-type-radio {
  margin-top: 15px;
}

.dropdown {
  &--multiple-checkboxes {
    @include dropdown--multiple-checkboxes();
  }

  &--single-checkbox {
    @include dropdown--single-checkbox();
  }
}

/* Dropdown as select */
select {
  &.select-as-dropdown {
    display: none;
  }
}

.dropdown-as-select {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: .2px;
  color: var(--color-base);

  li {
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: .2px;
    color: var(--color-base);
    padding: 15px 25px;
    cursor: pointer;
    clear: both;
    border-bottom: solid 1px var(--color-neutral-6);
    display: flex;
    align-items: center;

    &:last-child {
      border: 0;
    }

    &.active {
      color: $color-green-100;

      &.disabled {
        background: var(--color-neutral-4);
        color: var(--color-neutral-5);
        cursor: not-allowed;
      }
    }

    &.disabled {
      background: var(--color-neutral-4);
      color: var(--color-neutral-5);
      cursor: not-allowed;
    }
  }

  .caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid \9
  ;
    color: var(--color-neutral-7);
    margin-left: 2px;
    vertical-align: middle;
  }

  button {
    background-color: var(--color-neutral-0);
    border: solid 1px var(--color-neutral-6);
    border-radius: 3px;
    min-height: 60px;
    text-align: left;
    width: 100%;
  }

  .dropdown-button {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
  }

  ul {
    &.dropdown-menu {
      column-count: 1;
      max-width: 100%;
    }
  }

  &.open {
    .caret {
      border-bottom: 6px solid \9
    ;
      border-top: 0;
      color: $color-green-100;
    }

    button {
      border-color: $color-green-100;

      &:focus {
        outline: 0;
      }

      &:active {
        outline: 0;
      }
    }
  }
}
