.wso-alpha {
  .navbar__bottom__part {
    @include media(">=tablet") {
      min-height: 0;
      padding-bottom: 0;
    }
  }

  &__header {
    background: url('/themes/custom/porto_sub/images/alpha/cover.jpg') no-repeat center center;
    background-size: cover;
    padding: 40px;
    margin-bottom: 40px;

    @include media('>=tablet') {
      padding: 80px 40px;
    }

    @include media('>=desktop') {
      padding: 110px 40px;
    }
  }

  &__buttons {
    .btn {
      margin: 10px;
    }
  }

  &__title,
  &__subtitle {
    color: var(--color-neutral-0);
  }

  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 54px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }

  &.teaser {
    img {
      border: 1px solid var(--color-neutral-4);
    }

    h5 {
      @include responsive-prop(700, 800, font-weight);
      font-size: 18px;
    }

    .created {
      font-size: 14px;
      white-space: nowrap;
    }

    .media-body p {
      font-size: 14px;
    }

    .field-name-field-teaser-text {
      font-size: 16px;
      line-height: 155%;
    }

    .btn-link {
      margin-top: 10px;
      padding-left: 0;
      padding-bottom: 0;
      font-size: 14px;
      font-weight: 600;

      .svgicon {
        width: 10px;
        height: 8px;
      }
    }
  }

  .svgicon {
    width: 15px;
    height: 12px;
  }
}

.views-exposed-form {
  label {
    display: none;
  }

  .form-item-tid {
    margin-right: 10px;
  }

  .form-item-sort-by {
    margin-top: 10px;

    @include media('>=desktop') {
      margin-top: 0;
    }
  }

  .form-item-search {
    margin: 10px 0;

    @include media('>=desktop') {
      margin: 0 10px 0 0;
    }

    .form-text {
      margin: 0;
    }
  }

  .select2-container {
    min-width: 200px;
  }
}

.view-wso-alpha {
  .views-row {
    background: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-2);
    border-radius: 3px;
    padding: 25px 30px;
    margin-bottom: 15px;
  }

  .view-filters {
    margin-bottom: 30px;
  }

  .views-exposed-form {
    .select2-container {
      margin-top: 0;

      @include media('>=tablet') {
        min-width: 230px;
      }
    }

    .form-submit {
      display: none;
    }
  }
}

.wso-alpha-table--no-access {
  .wso-alpha-no-access {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
  }
}

.wso-alpha-teaser:after {
  background: linear-gradient(180deg, rgba(var(--color-neutral-0--rgb), 0) 10%, rgba(var(--color-neutral-0--rgb), 1) 60%);
}

#tracker-anchor-container {
  height: 1px;
  overflow: hidden;
  position: relative;
  width: 1px;
  top: 0;

  a {
    top: -20px;
    position: relative;

    @include media('>=desktop') {
      top: -100px;
    }

    .toolbar-tray-open.toolbar-horizontal & {
      @include media('>=desktop') {
        top: -180px;
      }
    }
  }
}

