.new-landing {
  .section {
    position: relative;

    &--lg {
      padding: 130px 0 !important;
    }

    &--divider {
      padding: 20px 0 !important;

      &--sm {
        padding: 45px 0 !important;
      }
    }

    &.bg-mutted-thin {
      background: var(--color-neutral-4) !important;
    }

    &.bg-gray-soft {
      background: var(--color-neutral-9) !important;
    }

    &--has-overlay {
      &--blue {
        &:before {
          background: rgba(43, 149, 193, .9);
          z-index: 0 !important;
        }
      }
    }

    &--has-overlay,
    &--has-striped {
      &:before,
      &:after {
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }

    &--has-striped--blue:after {
      background: repeating-linear-gradient(-55deg, #00a7ce, #00a7ce 1.5px, #0096ba 1.5px, #0096ba 3px);
    }

    &--has-bg {
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .bg-gray {
    background: #333;
  }

  .bg-mutted {
    background: var(--color-neutral-4);

    .darkmode & {
      background: var(--color-neutral-5);
    }
  }

  .box {
    padding: 30px 15px;
    text-align: center;

    &--primary {
      background: #00a7ce;
      color: var(--color-neutral-0) !important;

      h3 {
        &,
        p {
          font-weight: 300 !important;
          line-height: 1.3 !important;
        }
      }
    }

    &--primary-semitransparent {
      background: rgba(3, 36, 49, .75);
      border: 1px solid #032431;
    }
  }

  .panel {
    position: relative;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;

    &-heading {
      background: var(--color-black);
      border-radius: 0;
      color: var(--color-neutral-0);
      padding: 27px 15px;

      .darkmode & {
        background: var(--color-neutral-7);
      }

      &__title {
        font-family: Oswald-Regular, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      }
    }

    &-body {
      padding: 15px 20px;

      @include media('>=tablet') {
        padding: 40px 55px;
      }
    }

    &-box {
      background: var(--color-neutral-2);
      border: 1px solid var(--color-neutral-4);
      padding: 30px 15px;

      @include media('>=tablet') {
        padding: 70px 45px 35px 45px;
      }

      &--info {
        background: var(--color-neutral-0);
        border-color: #3391d2;
      }
    }

    &--primary {
      border: 2px solid #4c9fd8;
    }

    &--has-shadow-primary:before {
      border: 1px solid rgba(76, 159, 216, .7);
      bottom: 3px;
      content: '';
      height: auto;
      left: 3px;
      position: absolute;
      right: 3px;
      top: 3px;
      width: calc(100% - 6px);
    }

    &--mutted {
      border: 2px solid var(--color-base);

      .darkmode & {
        border-color: var(--color-neutral-6);
      }

      .panel-body {
        background: var(--color-neutral-2);

        p {
          line-height: 26px;
          margin-bottom: 16px;
        }
      }
    }

    & + .panel {
      margin-top: 40px;
    }
  }

  .card {
    position: relative;
    padding: 35px 40px;
    background-color: var(--color-neutral-0);
    box-shadow: 0 0 10px 5px rgba(var(--color-black--rgb), .1);
    text-align: center;
    font-size: 16px;

    .darkmode & {
      box-shadow: none;
    }
  }

  .card__divider {
    display: block;
    height: 1px;
    width: 40px;
    background: var(--color-neutral-6);
    margin: 15px auto;
  }
}
