.font-third {
  font-family: Oswald-Regular, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.btn.btn-warning {
  color: #fff;
  background: #ff6c00;
  border-bottom: 2px solid #b34c00;
}

.btn.btn-shadow {
  text-shadow: 0 2px 0 rgba(0,0,0,.5);
}

.btn-group-lg > .btn,
.btn-lg.btn {
  font-size: 24px;
  font-weight: 500;
  height: 56px;
  line-height: 54px;
  padding: 0 16px;
  text-transform: uppercase;

  @include media('>=tablet') {
    font-size: 30px;
  }
}
