.text-sky,
.text-sky-thin {
  color: #7ad9ea !important;
}

.text-white {
  color: var(--color-neutral-4) !important;

  &.text-real-white {
    color: var(--color-neutral-0) !important;
  }
}

.text-gray-boulder {
  color: var(--color-neutral-8) !important;
}

.text-warning {
  color: #ff6c00 !important;
}

.text-gray-thin {
  color: #a09fa0 !important;
}

.text-blue-boulder {
  color: #003645 !important;
}
