.section {
  .divider {
    display: block;
    background-image: linear-gradient(to right,transparent,rgba(var(--color-black--rgb),.2),transparent);
    border: 0;
    height: 1px;
    margin: 22px 0;

    &--dark {
      background-image: linear-gradient(to right,transparent,rgba(var(--color-black--rgb),.9),transparent);
    }

    &--mutted {
      background-image: linear-gradient(to right,transparent,rgba(102,102,102, 1),transparent);
    }
  }
}

.list-brand {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  &__item {
    padding: 0 10px;
  }
}

.wso-icon-lock:before {
  content: '\e801';
}

[class*=" wso-icon-"]:before,
[class^=wso-icon-]:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: fa-custom;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1em;
  margin-left: .2em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
}
