@import "d7-variables";
@import "paragraphs";
@import "small-elements";
@import "buttons";
@import "images";
@import "boxes";
@import "colors";
@import "text";
@import "fonts";
@import "grid";

$lato: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-neutral-0);
  font-family: $lato;
  font-size: 17px;
  line-height: 1.6;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.page-node-type-landing-page {
  .field-name-body {
    margin: 0;
    padding: 0;
  }

  .container-fluid {
    .entity-paragraphs-item {
      .content {
        @include media('<phone') {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }

  // Temporary styles for the new PE interview landing page.
  &.page-node-670465 {
    .wso--trustpilot {
      max-width: 190px;
      margin: auto;
      @include media('>tablet') {
        max-width: initial;
      }
    }
    @include media('<tablet') {
      h1 * {
        font-size: 24px;
        line-height: 24px;
        font-style: normal;
        font-weight: 600;
      }
      .paragraph--type--flexible {
        .content {
          padding: 0;
        }
        .paragraph--type--wso-paragraph-rich-text {
          h2 * {
            font-weight: 600 !important;
          }

          p *,
          ul * {
            font-size: 14px;
            line-height: 24px;
          }

          .field-name-field-wsop-rich-text {
           h2, p {
              margin-bottom: 10px !important;
            }
          }

          table {
            th, td {
              padding: 10px;
            }

            th:first-child,
            td:first-child {
              width: 70% !important;
            }

            td:last-child {
              text-align: center;
            }
          }
        }
      }
    }
    .paragraphs-item-customers-logos {
      .field-name-field-company-logo {
        .field--item {
          width: 33%;
          @include media('>=tablet') {
            width: 14%;
          }
        }
      }
    }
  }
}

.new-landing {
  background: var(--color-neutral-0);

  &--cards {
    #content > .container {
      margin-top: 30px;
    }

    #block-system-main {
      > .content {

        > .paragraphs-items {
          > .field-type-paragraphs {
            > .field-items {
              > .field-item {
                > .entity-paragraphs-item {
                  background-color: #fff;
                  border-radius: 3px;
                  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
                  margin-bottom: 20px;
                  padding: 30px;
                }
              }
            }
          }
        }
      }
    }
  }

  &.wso-alpha {
    .navbar__bottom__part {
      @include media(">=tablet") {
        min-height: 0;
        padding-bottom: 0;
      }
    }
  }

  #page-jubotron {
    display: block;

    .header {
      align-items: center;
      background: #191919;
      display: flex;
      justify-content: center;
      padding: 16px 15px;

      @include media('>=tablet') {
        min-height: 73px;
      }

      .header__logo {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }

      .header__logo-img  {
        display: block;
        height: auto;
        max-width: 100%;
      }
    }

    .section {
      .container {
        @include container-fixed;
        max-width: 981px;
        position: relative;
        z-index: 1;

        @include media('>=tablet') {
          width: $container-sm;
        }

        @media (min-width: $screen-md-min) {
          width: $container-md;
        }

        @media (min-width: $screen-lg-min) {
          width: $container-lg;
        }

        .content {
          @include media('>=tablet') {
            width: 100%;
          }

          @media (min-width: $screen-md-min) {
            width: 100%;
          }

          @media (min-width: $screen-lg-min) {
            width: 100%;
          }
        }
      }
    }

    .section--has-bg {
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 100;
      padding: 60px 0 100px;
      color: #fff;
      background-position: 50% 50%;
      position: relative;
    }

    h1.hero__title {
      line-height: 1.2;
      margin-bottom: 9px;
      color: #fff;
      font-size: 30px;

      @include media('>=tablet') {
        font-size: 40px;
      }
    }

    .section--has-striped--black {
      color: $color-neutral-0;

      &:after {
        background: repeating-linear-gradient(-55deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) 1.5px, rgba(0, 0, 0, .25) 1.5px, rgba(0, 0, 0, .25) 3px);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }

    .hero:before {
      background: rgba(0,0,0,.6);
    }

    .section--has-overlay:before,
    .section--has-striped:after {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    h6 {
      color: inherit;
      margin-top: 0;
      font-size: 19px;
      font-weight: 300;
      line-height: 1.3;
      margin-bottom: 45px;
    }

    .btn {
      border-radius: 3px!important;
      letter-spacing: .2px;
      font-weight: 400;
      text-shadow: none;
      box-shadow: none;
      text-align: center;
      transition: none;
      background-image: none;
      padding: 16px 55px;
      text-transform: uppercase;
      border: none;
      font-family: Oswald-Regular,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #000;
      background: #22c8ff;
      font-size: 20px!important;
    }
  }

  .block-accordion {
    &.faq__block {
      .panel-default > .panel-heading + .panel-collapse > .panel-body {
        font-weight: 500;

        p {
          @include media('>=tablet') {
            font-size: 14px;
            line-height: 1.3;
          }
        }
      }

      @include media('>=tablet') {
        margin: 0;
      }

      @include media('>=tablet', '<desktop') {
        margin: 0;
      }
    }
  }

  .wso-timer-countdown {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $color-red;
    font-size: 20px;
    font-weight: bold;
  }
}

#sticky-sidebar.position--sticky {
  @include media('>=desktop') {
    position: fixed;
  }
}

.cards-navigation {
  padding: 0;
  margin: 0;

  &__item {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 10px 17px;
    position: relative;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 500;
    color: #444;

    a {
      display: block;
      font-size: 14px;
      width: 100%;
    }
  }
}

#floating-navigation {
  position: fixed;
  top: 35%;
  right: 0;
  width: 250px;
  background: var(--color-neutral-0);
  z-index: 200;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  padding: 0 0 0 25px;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  cursor: pointer;

  &.closed {
    right: -275px;

    .toc-collapse {
      transform: rotate(-90deg);
      text-indent: 0;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
      background: #ff6c00;
      padding: 5px 20px;
      font-size: 16px;
      left: -120px;
      color: var(--color-neutral-0);
      top: 70px;
      height: auto;
      width: auto;

      span {
        display: inline-block;
      }

      &:before {
        display: none;
      }
    }
  }

  .toc-collapse {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: gray;
    display: inline-block;
    left: 0;
    height: 100%;
    font-size: 18px;
    background: var(--color-neutral-3);
    width: 25px;
    font-weight: 300;

    span {
      display: none;
    }

    &:before {
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'fa-custom';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e81f';
      top: 45%;
      left: 4px;
      transform: rotate(90deg);
    }
  }

  .cards-navigation {
    &__item {
      box-shadow: none;
      border-bottom: 1px solid var(--color-neutral-3);
      padding: 5px 10px;
      padding: 5px;
      margin: 0;

      &:last-child {
        border-bottom: 0;
      }

      a {
        font-size: 12px;
      }
    }
  }
}

@include media('>=tablet') {
  @font-face {
    font-family: Oswald-Regular;
    font-style: normal;
    font-weight: 400;
    src: local('Oswald-Regular'),
    url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.woff2) format("woff2"),
    url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.woff) format("woff"),
    url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.ttf) format("ttf");
    text-rendering: optimizeLegibility;
    font-display: swap;
    unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
    -webkit-font-smoothing: antialiased
  }
}

.page-courses {
  .paragraphs-item-text-with-cta .field-name-field-cta {
    margin: 0 !important;
    a {
      width: fit-content;
      margin: 0 auto;
      display: inline-block;
      margin-bottom: 0px;
      white-space: nowrap;
      cursor: pointer;
      box-shadow: none;
      text-align: center;
      color: var(--color-neutral-0);
      text-shadow: rgb(0 0 0 / 50%) 0px 2px 0px;
      font-weight: 500;
      height: 56px;
      line-height: 54px;
      text-transform: uppercase;
      border-width: 1px 1px 2px;
      border-style: solid;
      border-color: transparent transparent rgb(179, 76, 0);
      border-image: initial;
      text-decoration: none;
      background: rgb(255, 108, 0);
      border-bottom: 2px solid rgb(179, 76, 0);
      padding: 0 45px;
    }
  }
}
