{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 */
#}

{{ attach_library('porto_sub/new-landing.component') }}
{{ attach_library('porto_sub/new_landing_js') }}

{{ google_fivestar_rich_results }}
<div class="body new-landing wso-alpha">
  {% if wso_alpha_heaader %}
    {% include '@storybook/04-regions/header/header--wso-alpha.twig' with {
      'uid': uid,
      'username': user_name,
      'user_picture': user_picture,
      'header_search': header_search_form,
      'monkey_header': monkey_header
    } %}
  {% else %}
    {% if show_page_header %}
      {% include '@storybook/04-regions/header/header.twig' with {
        'uid': uid,
        'username': user_name,
        'user_picture': user_picture,
        'header_search': header_search_form,
        'monkey_header': monkey_header
      } %}
    {% endif %}
  {% endif %}
  <div role="main" class="main">
    <div id="content" class="content full">
     {% if page_cover %}
      <div id="page-jubotron">
        {% if show_wso_bar %}
          <header class="header">
            <a href="{{ front_page }}" class="header__logo">
              <img loading="eager" src="/themes/custom/porto_sub/images/wso-logo-2019-white.png" class="header__logo-img" alt="">
            </a>
          </header>
        {% endif %}
        <section
            class="section hero section--has-bg section--has-overlay section--has-overlay--black section--has-striped section--has-striped--black text-center"
            style="background-image: url({{ page_cover_image }})">
          <div class="container">
            {% if page_cover_webform %}
              <div class="row">
                <div class="col-md-12">
                  {{ page_cover_title }}
                  {{ page_cover_text }}
                  {{ page_cover_cta }}
                </div>
                <div class="col-md-12">
                  {{ drupal_entity('webform', page_cover_webform) }}
                </div>
              </div>
            {% else %}
              {{ page_cover_title }}
              {{ page_cover_text }}
              {{ page_cover_cta }}
            {% endif %}
          </div>
        </section>
        <section class="section section--divider bg-mutted-thin">
          <div class="container">
            <ul class="list-brand">
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-1.png" alt="" class="list-brand__img"></li>
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-2.png" alt="" class="list-brand__img"></li>
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-3.png" alt="" class="list-brand__img"></li>
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-4.png" alt="" class="list-brand__img"></li>
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-5.png" alt="" class="list-brand__img"></li>
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-6.png" alt="" class="list-brand__img"></li>
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-7.png" alt="" class="list-brand__img"></li>
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-8.png" alt="" class="list-brand__img"></li>
              <li class="list-brand__item"><img loading="lazy" src="/themes/custom/porto_sub/images/landing-page/temp/media-brand-9.png" alt="" class="list-brand__img"></li>
            </ul>
          </div>
        </section>
      </div>
      {% endif %}

      {{ page.before_content }}
      {{ page.highlighted }}

      <div class="container-fluid">
        <div class="row">
          {{ messages }}

          {% if wrapper_name is defined %}
          <div id="{{ wrapper_name }}">
            {% endif %}

            <div id="wso-content-outer" class="col-lg-24">
              <div class="container container--breadcrumbs">
                {{ page.breadcrumbs_replacer.porto_sub_local_tasks }}
              </div>

              {% if page.content is defined %}
                {{ page.content }}
              {% endif %}

            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {{ page.after_content }}
</div>
