header {
  background: var(--color-neutral-0);
}

.card {
  border-color: var(--color-neutral-3);

  &-body {
    padding: 20px 15px;
  }

  &-footer {
    border: 0;
    background: transparent;
  }
}

.student-group-dashboard {
  &__navbar {
    a {
      &:before {
        content: url(/themes/custom/porto_sub/images/icons/icon_arrow_right.png);
        display: inline-block;
        transform: rotate(180deg);
      }
    }

    img {
      max-height: 60px;
      width: auto;
    }
  }

  &__header {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-neutral-7);

    h1 {
      @include responsive-prop(700, 800, 'font-weight');
      font-size: 32px;
      line-height: 120%;
      color: var(--color-base);
    }

    h4 {
      color: var(--color-base);
      @include responsive-prop(700, 800, 'font-weight');
      font-size: 18px;
      line-height: 120%;
    }
  }

  &__graph {
    font-weight: 600;
    font-size: 14px;
    color: var(--color-neutral-7);

    h4 {
      @include responsive-prop(700, 800, 'font-weight');
      font-size: 18px;
      line-height: 120%;
    }
  }

  &__settings-row {
    border-bottom: var(--color-page-bg) 1px solid;

    .form-group {
      .col-form-label {
        //white-space: nowrap;
        font-size: 15px;
        color: var(--color-neutral-7);
        margin-right: 10px;

        @include media('>=large-desktop') {
          line-height: 30px;
        }
      }

      input {
        width: 60px;
        height: 30px;
        font-size: 14px;
        background: #FAFAFA;
        border: 1px solid var(--color-neutral-3);
        box-sizing: border-box;
        border-radius: 2px;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      white-space: nowrap;
      height: 30px;
      font-size: 12px;
      padding-left: 8px;
      padding-right: 8px;

      i {
        display: block;
        position: relative;
        width: 8px;
        height: 8px;
        margin-left: 5px;

        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 8px;
          height: 2px;
          background: $color-green-100;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }

        &:after {
          transform: translate(-50%,-50%) rotate(90deg);
        }
      }
    }
  }

  &__settings-footer {
    font-size: 13px;

    div {
      display: inline;
    }

    span {
      color: var(--color-neutral-7);

      i {
        color: $color-orange;
        font-style: normal;
      }

      & + b {
        white-space: nowrap;
      }
    }

    b {
      color: var(--color-base);
      font-weight: 600;
    }
  }

  &__stats-card {
    .card-body {
      padding: 32px;
    }
  }

  &__stats-card-title {
    @include responsive-prop(700, 800, 'font-weight');
    font-size: 24px;
    line-height: 120%;
    color: #4463B4;

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
      color: var(--color-neutral-7);
    }
  }

  &__stats-card-subtitle {
    font-weight: 600;
    font-size: 15px;
    line-height: 125%;
    color: var(--color-base);
  }
}

.form-group.views-element-container {
  width: 100%;
  margin-bottom: 0;
}

.view-lms-dashboard {
  h4 {
    @include responsive-prop(700, 800, 'font-weight');
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 0;
  }

  #manage-courses {
    .icon-plus {
      display: none;
    }
  }

  .form-item-courses {
    margin-bottom: 20px;
  }

  .form-actions {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  #vbo-action-form-wrapper {
    [data-drupal-selector="edit-actions"] input[type=submit]:last-child {
      @extend %btn, .btn-danger;
      @extend %btn, .btn-sm;
      margin-left: 0;
    }
  }

  [data-drupal-selector="edit-actions"] {
    input[type=submit] {
      width: auto;

      &:first-child {
        @extend %btn, .btn-success;
        @extend %btn, .btn-sm;
        margin: 0 20px;
      }

      &:last-child {
        @extend %btn, .btn-danger;
        @extend %btn, .btn-sm;
      }
    }
  }

  .views-exposed-form .form--inline {
    display: flex;

    input {
      margin-top: 0;
      border-color: var(--color-neutral-3);

      &[type=submit] {
        display: none;
      }
    }
  }

  .table {
    border-color: $color-neutral-3 !important;

    thead {
      tr {
        background: transparent;
      }

      th {
        background: transparent;
        color: var(--color-neutral-7);
        font-weight: 600;
        font-size: 13px;
        line-height: 135%;
      }
    }
  }

  &.multi-level {
    tbody {
      tr[data-student-id] {
        cursor: pointer;

        &:hover {
          td {
            background: #4463B4 !important;

            &,
            a {
              color: var(--color-neutral-0);
            }
          }
        }

        td.views-field-user {
          &:after {
            content: '\f078';
            display: inline-block;
            font: normal normal normal 14px/1 'fa-custom';
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-left: 10px;
          }
        }

        &.opened {
          td.views-field-user {
            &:after {
              content: '\e81a';
            }
          }
        }
      }

      tr.student-stats {
        display: none;

        &.opened {
          display: table-row;
          opacity: 0.8;

          td:first-child {
            padding-left: 40px !important;
          }
        }
      }
      tr.assessment-stats.opened {
        //background-color: var(--color-light-blue);
      }
      tr.assessment-row {
        background-color: var(--color-light-blue);
        td {
          color: var(--color-neutral-7);
          &.views-field-lesson {
            padding-left: 50px !important;
          }
        }
      }

      td:first-child {
        color: var(--color-base);
      }
    }
  }
}

.wso-lms-managers-invitation-form {
  padding-top: 20px;
  padding-bottom: 10px;

  legend {
    display: none;
  }

  .form-group {
    margin-bottom: 0;
  }

  #emails-fieldset-wrapper {
    flex: 1;
    padding-right: 15px;
  }

  .btn-info {
    width: auto;
  }
}

.view-group-invitations {
  padding-top: 10px;
  padding-bottom: 20px;

  .form--inline {
    display: flex;
    align-items: flex-end;
  }

  label {
    justify-content: start;
  }

  .form-type-select {
    flex: 1;
    padding-right: 15px;
  }

  .form-actions {
    input[type=submit] {
      @extend %btn, .btn-info;
      display: block !important;
      width: auto;
    }
  }
}

.wso-lms-managers-course-switcher-form {
  > div {
    display: flex;

    @include media('>=tablet') {
      justify-content: flex-end;
    }
  }

  .form-type-select {
    padding-right: 15px;
    min-width: 250px;
    max-width: 100%;

    .select2 {
      margin-top: 0;
    }
  }

  button {
    @extend %btn, .btn-info;
    width: auto;
    height: 41px;
    white-space: nowrap;
  }
}

.ui-dialog {
  .ui-dialog-titlebar-close {
    background: none;
  }

  .ui-dialog-buttonpane {
    display: none;
  }
}

.node-student-group-due-date-form {
  .form-group {
    margin-bottom: 0;
  }

  .field--name-field-group-courses {
    thead {
      display: none;
    }

    .draggable {
      .field-multiple-drag {
        display: none;
      }
    }

    .field--name-field-due-date {
      label {
        font-weight: 700 !important;
      }
    }
  }

  .form-item-keep-the-date,
  .form-item-flag-keep-the-date,
  .form-type-vertical-tabs {
    display: none;
  }

  .button--primary {
    @extend %btn, .btn-success;
    width: auto;
  }
}

[data-drupal-selector="edit-extra"],
#edit-header,
.view-lms-dashboard .form-actions,
.vbo-table th:first-child,
.vbo-table td:first-child {
  display: none;
}

.manage-courses--opened {
  [data-drupal-selector="edit-extra"],
  #edit-header {
    display: block;
  }

  .view-lms-dashboard .form-actions {
    display: flex;
  }

  .vbo-table th:first-child,
  .vbo-table td:first-child {
    display: table-cell;
  }

  #manage-courses {
    .icon-cog {
      display: none;
    }

    .icon-plus {
      display: inline-block;
      position: relative;
      transform: rotate(45deg);
    }
  }
}
