.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget-humanscore {
  font-family: Roboto,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0;
  text-align: left
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-stars .tp-stars svg {
  width: 80%
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-stars .tp-stars .tp-star__canvas,
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-stars .tp-stars .tp-star__canvas--half {
  fill: #d9d9d9
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-stars .tp-stars .tp-star:nth-of-type(-n+4) .tp-star__canvas,
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-stars .tp-stars .tp-star:nth-of-type(-n+5) .tp-star__canvas--half {
  fill: #219653
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget #translations-basedon a {
  white-space: nowrap
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget #translations-basedon a > * {
  font-family: Roboto,sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: left
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget #translations-basedon a strong {
  font-weight: 700
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget #translations-basedon a span {
  font-weight: 400
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-logo {
  margin-left: 3px;
  transform: translateY(-1px)
}
.trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-logo svg {
  height: 20px
}
@media (min-width: 768px) {
  .trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget-humanscore {
    font-size: 18px;
    line-height: 37px
  }
  .trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-stars .tp-stars svg {
    width: 100%;
    vertical-align: top
  }
  .trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget #translations-basedon a > * {
    font-size: 18px;
    line-height: 37px
  }
  .trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-logo {
    margin-left: 13px
  }
  .trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-logo svg {
    height: 26px
  }
}
@media screen and (max-width: 400px) {
  .trustpilot-reviews.trustpilot-reviews__summary__humanreadable-simple .tp-widget .tp-widget-stars .tp-stars {
    width: 100px
  }
}
/*# sourceMappingURL=summary-humanreadable-simple.component.css.map */
