/* File icon styles. */
.file-icon {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 34px;
  margin-right: 16px;
}

.file-icon:after {
  content: "";
  position: absolute;
  height: 40px;
  width: 34px;
  background-size: cover;
  background: url(/themes/custom/porto_sub/images/icons/doc.png) no-repeat;
  background-size: cover;
}

.file-pdf:after {
  background: url(/themes/custom/porto_sub/images/icons/pdf.png) no-repeat;
  background-size: cover;
}

.file-zip:after {
  background: url(/themes/custom/porto_sub/images/icons/zip.png) no-repeat;
  background-size: cover;
}

.file-doc:after {
  background: url(/themes/custom/porto_sub/images/icons/doc.png) no-repeat;
  background-size: cover;
}

.file-ppt:after {
  background: url(/themes/custom/porto_sub/images/icons/ppt.png) no-repeat;
  background-size: cover;
}

.file-xls:after {
  background: url(/themes/custom/porto_sub/images/icons/xls.png) no-repeat;
  background-size: cover;
}

.file-mp4:after {
  background: url(/themes/custom/porto_sub/images/icons/mp4.png) no-repeat;
  background-size: cover;
}

.file-img:after {
  background: url(/themes/custom/porto_sub/images/icons/img.png) no-repeat;
  background-size: cover;
}

/**/

.file-link a {
  display: inline-block;
  align-self: center;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: var(--color-base);
  word-break: break-all;
}

.file {
  display: inline-flex;
  min-height: 40px;
}

.image-widget {
  .file {
    display: none;
  }
}
