@import "./components/common-styles/helpers/colors";
@import './components/common-styles/helpers/mixins';

.wso-lms-admin-import-users-form {
  @include wso-container();
}

.page-node-edit--course {
  #content {
    @include wso-container();
  }
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  &:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden;
  }

  &.even {
    padding: 0 12px;
    background-color: var(--color-neutral-0);
    border-color: var(--color-neutral-2);

    td {
      &:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
      }

      a {
        color: var(--color-base);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: .1px;
        line-height: 1.29;
      }
    }
  }

  &.odd {
    padding: 0 12px;
    background-color: var(--color-neutral-0);
    border-color: var(--color-neutral-2);

    td {
      &:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
      }

      a {
        color: var(--color-base);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: .1px;
        line-height: 1.29;
      }
    }
  }

  td {
    &:last-child {
      a {
        position: relative;

        &:after {
          bottom: 0;
          content: "";
          cursor: pointer;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: 99;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.table {
  > thead {
    > tr {
      > td {
        color: var(--color-base);
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, font-weight);
        height: 41px;
        letter-spacing: .1px;
        line-height: 41px;
        padding: 0 8px;
      }

      > th {
        color: var(--color-base);
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        @include responsive-prop(700, 800, font-weight);
        height: 41px;
        letter-spacing: .1px;
        line-height: 41px;
        padding: 0 8px;
      }
    }
  }
}

tbody {
  border-top: 2px solid var(--color-neutral-2);

  td {
    padding: 0 8px;

    &:first-child {
      min-width: 60px;
      width: auto;
    }

  }
}

thead {
  td {
    padding: 0 8px;

    &:first-child {
      min-width: 60px;
      width: auto;
    }

  }

  th {
    padding: 0 8px;

    &:first-child {
      min-width: 60px;
      width: auto;
    }

  }

  tr {
    background-color: var(--color-neutral-0);
    padding: 0 12px;
  }
}

.table-striped {
  > tbody {
    > tr {
      &:nth-of-type(odd) {
        padding: 0 12px;
      }
    }
  }
}

.course__content__section {
  .table {
    > tbody {
      > tr {
        > td {
          border: none;
        }
      }
    }

    > thead {
      > tr {
        > td {
          border: none;
        }

        > th {
          border: none;
        }
      }
    }
  }

  .field-type-text-long {
    .field-item {
      padding: 0;
    }
  }
}

.video-player__column {
  padding: 0;
}

.video-chapters__column {
  padding: 0;
}

.video-chapters {
  background-color: var(--color-neutral-0);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.course__head__section {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 1px 0 0;
  background: var(--color-neutral-0);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .02);
  padding: 46px 0 24px 0;

  .actions-container {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;

    .enroll-container,
    .flashcards-container {
      width: auto;
      max-width: max-content;
      margin: 0;
    }
  }

  .btn {
    &.enroll-continue,
    &.open-flashcards {
      width: max-content;
      bottom: -25px;
      left: $side-gap;
      text-transform: none;
      transform: translateY(50%);

      @media screen and (max-width: 425px) {
        font-size: 1rem;
      }
    }
  }

  h1 {
    @include responsive-prop(700, 800, font-weight);
    color: var(--color-base);
    font-size: 40px;
    letter-spacing: normal;
    line-height: 1.2;
  }
}

.course__head__information {
  list-style: none;
  padding: 0;
  color: var(--color-base);
  text-decoration: none;

  > li {
    padding: 0 5px;
    white-space: nowrap;
  }

  div {
    &.field {
      display: inline-block;
      @include responsive-prop(700, 800, font-weight);
    }
  }

  .icon {
    color: var(--color-neutral-5);
    font-size: 16px;
    margin-right: 4px;
  }

  a {
    color: var(--color-base);
    text-decoration: none;
  }

  li {
    &:after {
      border-left: 1px solid var(--color-neutral-4);
      content: "";
      height: 12px;
      margin-left: 10px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.course__head__title {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--color-base);
  margin: 0;

  div {
    display: inline-block;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.course__head__company-name {
  color: var(--color-neutral-7);
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 1.25;
}

.course__head__content {
  display: flex;
  flex-direction: row;

  > .course__head__content_mark {
    align-items: center;
    display: flex;
  }

  > div {
    &.field-content {
      align-items: center;
      display: flex;
    }
    display: flex;
    align-items: center;
  }

  span {
    padding-right: 5px;
  }
}

.course__head__content_mark {
  color: var(--color-base);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.29;
}

.course__head__content_sessions {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: .1px;
  color: var(--color-base);
  position: relative;
  @include responsive-prop(700, 800, font-weight);
  margin-left: 17px;

  &:before {
    border-left: 1px solid var(--color-neutral-4);
    content: '';
    height: 12px;
    left: -10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

  .field-name-field-video-type {
    display: inline-block;
  }
}

.node-type-course {
  .fivestar-item {
    .form-item {
      margin: 0;
    }
  }

  div {
    &.fivestar-widget {
      .star {
        float: left;
        width: 14px;
        height: 14px;
        overflow: hidden;
        text-indent: -999em;
        background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
        margin-bottom: 0;
        background-size: cover;

        a {
          background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
          background-size: cover;
          float: left;
          height: 14px;
          margin-bottom: 0;
          overflow: hidden;
          text-indent: -999em;
          width: 14px;
        }

        &.on {
          a {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 -14px;
            background-size: 14px 28px;
            display: block;
            height: 100%;
            width: 100%;
          }
        }

        &.off {
          a {
            background: url(/themes/custom/porto_sub/images/icons/sprite-star.png) no-repeat 0 0;
            background-size: cover;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .fivestar-default {
    height: 14px;
  }

  .fivestar-summary {
    display: none;
  }

  .region-after-content {
    margin-bottom: 30px;
  }

  .region-sidebar-right {
    .block {
      background: transparent;

      .box-content {
        ul {
          li {
            border: 0;
          }
        }
      }
    }
  }

  .lms-reviews-form {
    height: auto;
    position: static;
  }

  #comments {
    .live-preview {
      display: none !important;
    }

    .comment-title {
      display: none !important;
    }

    .filter-wrapper {
      display: none !important;
    }

    .comment-add-cancel {
      display: none !important;
    }

    .form-submit {
      display: inline-block !important;

      &.add-comment-show {
        display: none !important;
      }
    }

    .comment-wrapper-preview {
      display: block;

      .form-type-textarea {
        width: 100%;

        label {
          clip: auto;
          height: auto;
          position: static !important;
        }
      }
    }
  }
}

div {
  &.fivestar-widget {
    display: block;
    margin: -1.5px auto 0;
  }
}

.fivestar-widget {
  &.fivestar-widget-5 {
    display: inline-block;
    margin: -1.5px auto 0;
  }
}

.mac {
  div {
    &.fivestar-widget {
      display: inline-block;
      margin: 1px auto 0;

      &.fivestar-widget-5 {
        display: inline-block;
        margin: 1px auto 0;
      }
    }
  }
}

.field-type-fivestar {
  .description {
    display: none;
  }
  text-align: center;
}

.course__files__section {
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
  background-color: var(--color-neutral-0);
  padding: 24px 32px;

  .field-item {
    &:first-child {
      margin-bottom: 17px;
    }
  }
}

.course__files__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 24px;
}

.course__description__part {
  position: relative;
  display: inline-block;

  p {
    color: var(--color-base);
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: .1px;
    line-height: 1.8;
  }

  .course__description__title {
    color: var(--color-base);
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    @include responsive-prop(700, 800, font-weight);
    letter-spacing: .2px;
    line-height: 1.13;
  }
}

.course__content-part__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.13;
}

.course__industry__title {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  @include responsive-prop(700, 800, font-weight);
  letter-spacing: .2px;
  line-height: 1.13;
  margin-bottom: 14px;
}

.course__industry__part {
  .field-item {
    display: inline-block;
    padding-right: 6px;
  }

  a {
    position: relative;
    padding: 5px 12px 5px 32px;
    background: var(--color-neutral-0);
    display: inline-block;
    border: 1px solid var(--color-neutral-4);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .1px;
    color: var(--color-base);

    &:before {
      background-image: url(/themes/custom/porto_sub/images/icons/icon_label-blue.png);
      background-size: cover;
      content: "";
      height: 12px;
      left: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
    }

    &:hover {
      background: var(--color-neutral-1);
      border-color: var(--color-neutral-4);
      color: var(--color-base);
      text-decoration: none;
    }
  }
}

.course__head__part__back {
  margin-bottom: 24px;

  a {
    &.courses-back {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .1px;
      color: $color-blue;

      &:before {
        content: url("/themes/custom/porto_sub/images/icons/icon_arrow_right.png");
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }
}

.course__head__part {
  .row {
    .col-md-2 {
      padding-left: 0;

      img {
        height: 88px;
        object-fit: cover;
        width: 64px;
        font-family: 'object-fit: cover;';
      }
    }
  }
}

.course__head__part__description {
  margin-top: 20px;

  .field-name-body {
    .field-item {
      color: var(--color-base);
      line-height: 1.63;
      padding: 0;
    }
  }
}

.view-id-course {
  &.view-display-id-block_1 {
    .view-header {
      color: var(--color-base);
      font-size: 14px;
      @include responsive-prop(700, 800, font-weight);
      line-height: 1.29;
      margin-bottom: 10px;
      margin-top: 74px;
    }

    .view-content {
      width: 100%;
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
      background-color: var(--color-neutral-0);
      padding: 12px 16px;

      ul {
        list-style: none;
        padding: 0 !important;
        margin: 0;
        border-top: 0 !important;

        a {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            white-space: normal;
          }
        }

        .file {
          max-width: 100%;

          .file-icon {

            &:after {
              background-size: contain;
              width: 100%;
            }
          }

          .file-link {
            max-width: calc(100% - 50px);
            display: inline-flex;

            a {
              width: 100%;
            }
          }

          .file-size {
            display: none;
          }
        }
      }
    }
  }

  &.view-display-id-block_3 {
    margin-top: 32px;

    .views-row {
      width: 100%;
      border-radius: 3px;
      background-color: var(--color-neutral-1);
      margin-bottom: 8px;
      position: relative;

      a {
        color: var(--color-base);
        font-size: 14px;
        @include responsive-prop(700, 800, font-weight);
        line-height: 1.29;
        padding: 9px 16px;
        display: block;
        max-width: 95%;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
          color: var(--color-base);
          text-decoration: none;
        }
      }

      &:hover {
        background-color: var(--color-neutral-0);
        cursor: pointer;

        &:after {
          color: $color-blue;
          content: "→";
          position: absolute;
          right: 10px;
          top: 7px;
        }
      }
    }
  }
}

.node {
  > .col-md-18 {
    margin-bottom: 60px;
  }
}

.view-display-id-course_lessons {
  margin-top: 74px;
  max-width: 836px;

  h3 {
    margin-top: 74px;
  }
}

.region-sidebar-right {
  .block {
    .box-content {
      ul {
        border: 0;
      }
    }
  }
}

//todo: move to admin.css
#wso-lms-admin-member-list-filter-form {
  fieldset.collapsed {
    height: auto;
  }
}

@include media('>=tablet') {
  .node-type-course {
    #comments {
      .comment-form {
        .form-actions {
          display: block;
        }
      }
    }

    .region-after-content {
      margin-bottom: 70px;
    }
  }
}

@media (min-width: 414px) {
  .course__head__information {
    display: flex;
  }
}

@include media('<tablet') {
  h1 {
    &.course__head__title {
      font-size: 30px;
    }
  }

  .view-id-course {
    &.view-display-id-block_1 {
      .view-content {
        width: 100%;
      }
    }

    &.view-display-id-block_3 {
      .views-row {
        width: 100%;
      }
    }
  }

  .view-display-id-course_lessons {
    margin-top: 30px;
  }

  .course-chart {
    &.course-chart-progress {
      .graph__col {
        padding: 12px 9.8% !important;
      }
    }
  }

  .course__head__part {
    > .col-md-6 {
      padding: 0;
    }
  }
}

@include media('>=desktop') {
  .course-content__sideblocks--position--sticky {
    position: fixed;
  }

  .node {
    > .col-md-18 {
      margin-bottom: 138px;
    }
  }

  .col-md-6 {
    .row {
      margin-left: 0;
    }
  }
}

@include media('>=large-desktop') {
  .node-type-course {
    .container {
      width: 1190px;
    }

    .region-after-content {
      margin-bottom: 140px;
    }
  }

  .course__head__part__container {
    padding-right: 60px;
  }

  .course-content__container {
    padding-right: 60px;
  }
}
