@mixin font-base {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-base-title {
  @include font-base;
  font-weight: 800;
}

// Desktop/mobile title fonts

@mixin font-h1-desktop {
  @include font-base-title;
  font-size: 50px;
  line-height: 60px;
}

@mixin font-h1-mobile {
  @include font-base-title;
  font-size: 30px;
  line-height: 40px;
}

@mixin font-h2-desktop {
  @include font-base-title;
  font-size: 36px;
  line-height: 46px;
}

@mixin font-h2-mobile {
  @include font-base-title;
  font-size: 24px;
  line-height: 32px;
}

@mixin font-h3-desktop {
  @include font-base-title;
  font-size: 24px;
  line-height: 32px;
}

@mixin font-h3-mobile {
  @include font-base-title;
  font-size: 20px;
  line-height: 30px;
}

@mixin font-h4-desktop {
  @include font-base-title;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

@mixin font-h4-mobile {
  @include font-base-title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@mixin font-h5-desktop {
  @include font-base-title;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
}

@mixin font-h5-mobile {
  @include font-base-title;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

// Desktop/mobile body fonts

@mixin font-lg-desktop {
  @include font-base;
  font-size: 18px;
  line-height: 26px;
}

@mixin font-lg-mobile {
  @include font-base;
  font-size: 14px;
  line-height: 20px;
}

@mixin font-lg-bold-desktop {
  @include font-lg-desktop;
  font-weight: 700;
}

@mixin font-lg-bold-mobile {
  @include font-lg-mobile;
  font-weight: 700;
}

@mixin font-sm-desktop {
  @include font-base;
  font-size: 16px;
  line-height: 22px;
}

@mixin font-sm-mobile {
  @include font-base;
  font-size: 12px;
  line-height: 18px;
}

@mixin font-sm-bold-desktop {
  @include font-sm-desktop;
  font-weight: 700;
}

@mixin font-sm-bold-mobile {
  @include font-sm-mobile;
  font-weight: 700;
}

@mixin font-xs-desktop {
  @include font-base;
  font-size: 14px;
  line-height: 22px;
}

@mixin font-xs-mobile {
  @include font-base;
  font-size: 10px;
  line-height: 16px;
}

@mixin font-xs-bold-desktop {
  @include font-xs-desktop;
  font-weight: 700;
}

@mixin font-xs-bold-mobile {
  @include font-xs-mobile;
  font-weight: 700;
}
