@import "font-mixins";
@import './components/common-styles/helpers/mixins';

// Desktop/mobile title fonts

.font-h1-desktop {
  @include font-h1-desktop;
}

.font-h1-mobile {
  @include font-h1-mobile;
}

.font-h2-desktop {
  @include font-h2-desktop;
}

.font-h2-mobile {
  @include font-h2-mobile;
}

.font-h3-desktop {
  @include font-h3-desktop;
}

.font-h3-mobile {
  @include font-h3-mobile;
}

.font-h4-desktop {
  @include font-h4-desktop;
}

.font-h4-mobile {
  @include font-h4-mobile;
}

.font-h5-desktop {
  @include font-h5-desktop;
}

.font-h5-mobile {
  @include font-h5-mobile;
}

// Desktop/mobile body fonts

.font-lg-desktop {
  @include font-lg-desktop;
}

.font-lg-bold-desktop {
  @include font-lg-bold-desktop;
}

.font-lg-mobile {
  @include font-lg-mobile;
}

.font-lg-bold-mobile {
  @include font-lg-bold-mobile;
}

.font-sm-desktop {
  @include font-sm-desktop;
}

.font-sm-bold-desktop {
  @include font-sm-bold-desktop;
}

.font-sm-mobile {
  @include font-sm-mobile;
}

.font-sm-bold-mobile {
  @include font-sm-bold-mobile;
}

.font-xs-desktop {
  @include font-xs-desktop;
}

.font-xs-bold-desktop {
  @include font-xs-bold-desktop;
}

.font-xs-mobile {
  @include font-xs-mobile;
}

.font-xs-bold-mobile {
  @include font-xs-bold-mobile;
}

.font-h1 {
  @include font-h1-desktop;

  @include media('<tablet') {
   @include font-h1-mobile;
  }
}

.font-h2 {
  @include font-h2-desktop;

  @include media('<tablet') {
    @include font-h2-mobile;
  }
}

.font-h3 {
  @include font-h3-desktop;

  @include media('<tablet') {
    @include font-h3-mobile;
  }
}

.font-h4 {
  @include font-h4-desktop;

  @include media('<tablet') {
    @include font-h4-mobile;
  }
}

.font-h5 {
  @include font-h5-desktop;

  @include media('<tablet') {
    @include font-h5-mobile;
  }
}

.font-lg {
  @include font-lg-desktop;

  @include media('<tablet') {
    @include font-lg-mobile;
  }
}

.font-lg-bold {
  @include font-lg-bold-desktop;

  @include media('<tablet') {
    @include font-lg-bold-mobile;
  }
}

.font-sm {
  @include font-sm-desktop;

  @include media('<tablet') {
    @include font-sm-mobile;
  }
}

.font-sm-bold {
  @include font-sm-bold-desktop;

  @include media('<tablet') {
    @include font-sm-bold-mobile;
  }
}

.font-xs {
  @include font-xs-desktop;

  @include media('<tablet') {
    @include font-xs-mobile;
  }
}

.font-xs-bold {
  @include font-xs-bold-desktop;

  @include media('<tablet') {
    @include font-xs-bold-mobile;
  }
}
