<div class="font-h2-desktop">
  <hr/>
  <span>Desktop fonts</span>
  <hr/>
  <p class="font-h1-desktop">
    <span style="text-decoration: underline">H1 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-h2-desktop">
    <span style="text-decoration: underline">H2 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-h3-desktop">
    <span style="text-decoration: underline">H3 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-h4-desktop">
    <span style="text-decoration: underline">H4 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-h5-desktop">
    <span style="text-decoration: underline">H5 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-lg-desktop">
    <span style="text-decoration: underline">Body Large:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-lg-bold-desktop">
    <span style="text-decoration: underline">Body Large (bold):</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-sm-desktop">
    <span style="text-decoration: underline">Body Small:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-sm-bold-desktop">
    <span style="text-decoration: underline">Body Small (bold):</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-xs-desktop">
    <span style="text-decoration: underline">Body Small:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-xs-bold-desktop">
    <span style="text-decoration: underline">Body Small (bold):</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
</div>
<div class="font-h2-mobile">
  <hr/>
  <span>Mobile fonts</span>
  <hr/>
  <p class="font-h1-mobile">
    <span style="text-decoration: underline">H1 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-h2-mobile">
    <span style="text-decoration: underline">H2 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-h3-mobile">
    <span style="text-decoration: underline">H3 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-h4-mobile">
    <span style="text-decoration: underline">H4 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-h5-mobile">
    <span style="text-decoration: underline">H5 Title:</span> Lorem ipsum dolor sit amet
  </p>
  <p class="font-lg-mobile">
    <span style="text-decoration: underline">Body Large:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-lg-bold-mobile">
    <span style="text-decoration: underline">Body Large (bold):</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-sm-mobile">
    <span style="text-decoration: underline">Body Small:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-sm-bold-mobile">
    <span style="text-decoration: underline">Body Small (bold):</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-xs-mobile">
    <span style="text-decoration: underline">Body Small:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
  <p class="font-xs-bold-mobile">
    <span style="text-decoration: underline">Body Small (bold):</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper quis. Montes nascetur ridiculus mus mauris vitae ultricies.
  </p>
</div>
