.font-h1-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px
}
.font-h1-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px
}
.font-h2-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px
}
.font-h2-mobile,
.font-h3-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.font-h3-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px
}
.font-h4-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px
}
.font-h4-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px
}
.font-h5-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px
}
.font-h5-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px
}
.font-lg-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.font-lg-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.font-lg-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px
}
.font-lg-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700
}
.font-sm-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.font-sm-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700
}
.font-sm-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px
}
.font-sm-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700
}
.font-xs-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px
}
.font-xs-bold-desktop {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700
}
.font-xs-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px
}
.font-xs-bold-mobile {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700
}
.font-h1 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px
}
.font-h2 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px
}
.font-h3 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px
}
.font-h4 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px
}
.font-h5 {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px
}
.font-lg {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.font-lg-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}
.font-sm {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}
.font-sm-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700
}
.font-xs {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px
}
.font-xs-bold {
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700
}
@media (max-width: 767px) {
  .font-h1 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px
  }
  .font-h2 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px
  }
  .font-h3 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px
  }
  .font-h4 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px
  }
  .font-h5 {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px
  }
  .font-lg {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px
  }
  .font-lg-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700
  }
  .font-sm {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px
  }
  .font-sm-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700
  }
  .font-xs {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px
  }
  .font-xs-bold {
    font-family: Lato,sans-serif;
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700
  }
}
/*# sourceMappingURL=fonts.component.css.map */
