//@import "./components/common-styles/helpers/colors";
//@import './components/common-styles/helpers/mixins';
@import "./components/03-organisms/tabs-new/tabs-new.component";

.cta {
  color: var(--color-neutral-0);
  padding: 20px;
  min-height: 100px;
  text-align: center;
  background-color: var(--color-base);

  .darkmode & {
    background-color: $color-black;
  }

  ul {
    li {
      color: var(--color-neutral-0);
    }
  }
}

@include media('<tablet') {
  .cta {
    a {
      white-space: normal;
    }
  }

  .float_warning_graph {
    z-index: 98;
  }

  .page-private-equity-industry-report {
    .region-content {
      .image_container {
        padding: 0;
        overflow: hidden;

        .float_warning {
          height: 155px;
          width: 75%;
          padding: 8px 20px;

          a {
            width: 100%;
          }
        }
      }
    }

    .m-t-n-lg {
      .well {
        ul {
          &.list {
            width: 100%;
            margin-left: 0;

            li {
              .btn {
                margin-top: 5px;
                max-width: 55px;
                width: 100%;
              }
            }
          }
        }
      }
    }

    ul {
      &.nav-tabs {
        li {
          width: 100%;
        }
      }
    }
  }

  .page-consulting-industry-report {
    .region-content {
      .image_container {
        padding: 0;
        overflow: hidden;

        .float_warning {
          height: 155px;
          width: 75%;
          padding: 8px 20px;

          a {
            width: 100%;
          }
        }
      }
    }

    .m-t-n-lg {
      .well {
        ul {
          &.list {
            width: 100%;
            margin-left: 0;

            li {
              .btn {
                margin-top: 5px;
                max-width: 55px;
                width: 100%;
              }
            }
          }
        }
      }
    }

    ul {
      &.nav-tabs {
        li {
          width: 100%;
        }
      }
    }
  }

  .page-hedge-fund-industry-report {
    .region-content {
      .image_container {
        padding: 0;
        overflow: hidden;

        .float_warning {
          height: 155px;
          width: 75%;
          padding: 8px 20px;

          a {
            width: 100%;
          }
        }
      }
    }

    .m-t-n-lg {
      .well {
        ul {
          &.list {
            width: 100%;
            margin-left: 0;

            li {
              .btn {
                margin-top: 5px;
                max-width: 55px;
                width: 100%;
              }
            }
          }
        }
      }
    }

    ul {
      &.nav-tabs {
        li {
          width: 100%;
        }
      }
    }
  }

  .page-investment-banking-industry-reports {
    .region-content {
      .image_container {
        padding: 0;
        overflow: hidden;

        .float_warning {
          height: 155px;
          width: 75%;
          padding: 8px 20px;

          a {
            width: 100%;
          }
        }
      }

      .container {
        .image_container {
          img {
            margin-left: 50%;
            object-fit: cover;
            transform: translateX(-50%);
            width: 150%;
          }
        }
      }
    }

    .m-t-n-lg {
      .well {
        ul {
          &.list {
            width: 100%;
            margin-left: 0;

            li {
              .btn {
                margin-top: 5px;
                max-width: 55px;
                width: 100%;
              }
            }
          }
        }
      }
    }

    ul {
      &.nav-tabs {
        li {
          width: 100%;
        }
      }
    }
  }

  .page-top {
    h1 {
      padding: 15px;

      span {
        font-size: 26px;
        padding-bottom: 0;
      }
    }
  }

  .ir-head-block {
    .btn-head-subscribe {
      margin: 0 0 10px;
      width: 100%;
    }
  }

  .tabs {
    ul {
      &.nav-tabs {
        li {
          a {
            margin: 0;
          }
        }
      }
    }
  }

  ul {
    &.breadcrumb {
      padding: 20px 15px;
    }
  }

  .form-type-select {
    select {
      &.form-select {
        background: none;
        border: 1px solid var(--color-neutral-4);
        border-radius: 3px;
        box-shadow: none;
        color: var(--color-base);
        font-size: 14px;
        font-weight: 400;
        height: 48px;
        letter-spacing: .2px;
        line-height: 48px;
        margin: 0;
        padding: 0 24px;
        position: relative;
      }
    }
  }
}

ul {
  &.list {
    li {
      margin-bottom: 0 !important;
    }
  }

  &.breadcrumb {
    padding: 20px 0;
    margin-bottom: 0;
    background: var(--color-neutral-0);

    li {
      a {
        color: var(--color-neutral-6);
      }

      &:last-child {
        color: $color-blue;
      }
    }
  }
}

.big-number {
  font-size: 45px;
}

.medium-number {
  font-size: 30px;
}

.median {
  display: none;
}

.numbers {
  display: none;
}

.growth {
  display: none;
}

.details-table {
  .last {
    border-right: var(--color-neutral-4) 2px solid !important;
  }

  .title {
    border-right: var(--color-neutral-4) 2px solid !important;
  }

  .company-name {
    border-right: var(--color-neutral-4) 2px solid !important;
  }

  .text-success {
    color: $seagreen_4a984c;
    font-weight: 500;
  }
}

.image_container {
  position: relative;

  h4 {
    font-weight: 500;
  }
}

.float_warning {
  background-color: var(--color-neutral-0);
  bottom: 0;
  box-shadow: 7px 7px 20px 10px var(--color-neutral-5);
  color: var(--color-base);
  font-weight: 500;
  height: 100px;
  left: 0;
  margin: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1000;
}

th {
  font-weight: inherit;
}

.float_warning_graph {
  bottom: 0;
  @include font-color-base-darkmode;
  font-weight: 500;
  height: 36%;
  left: 0;
  margin: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  top: -5%;
  z-index: 1000;

  .darkmode & {
    h4 {
      color: inherit;
    }
  }
}

.ellipsis {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-bb {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form {
  &.filters-form {
    .form-item {
      label {
        display: block;
      }
    }

    .form-item-display {
      select {
        display: inline-block;
        margin-left: 5px;
        width: 80% !important;
      }
    }

    .form-item-sex {
      select {
        display: inline-block;
        margin-left: 5px;
        width: 80% !important;
      }
    }

    .form-item-race {
      select {
        display: inline-block;
        margin-left: 5px;
        width: 80% !important;
      }
    }
  }

  &.filters-form-compare {
    .form-item {
      label {
        display: block;
      }
    }

    .form-item-display {
      select {
        display: inline-block;
        margin-left: 5px;
        width: 80% !important;
      }
    }

    .form-item-sex {
      select {
        display: inline-block;
        margin-left: 5px;
        width: 80% !important;
      }
    }

    .form-item-race {
      select {
        display: inline-block;
        margin-left: 5px;
        width: 80% !important;
      }
    }
  }
}

.ajax-progress {
  vertical-align: text-bottom;
}

.ContenedorTabla {
  .fht-table-wrapper {
    .fht-fixed-column {
      z-index: 0;
    }
  }
}

#compare_matrix_ib_other_notable_banks {
  margin: 0;
}

#matrix_ib_other_notable_banks {
  margin: 0;
}

#comparison-ib-other_notable_banks {
  h4 {
    margin-top: 30px;
  }
  margin-bottom: 30px;
}

.body {
  //background: var(--color-neutral-0);
}

.ir-head-block {
  display: inline-block;
  width: 100%;

  img {
    width: 100%;
  }

  h1 {
    padding: 48px 48px 32px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
    letter-spacing: .2px;
    color: var(--color-neutral-0);

    span {
      padding-bottom: 10px;
      display: block;

      &.title {
        @include responsive-prop(700, 800, font-weight);
      }
    }
  }

  .btn-head-subscribe {
    padding: 17px 40px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: .1px;
    text-align: center;
    color: var(--color-neutral-0);
    border-radius: 26px;
    background: $color-blue;
    border: none;
    box-shadow: none;
    text-shadow: none;
    margin-left: 48px;
    margin-bottom: 36px;

    &:hover {
      background: $steelblue_268cc8;
      text-decoration: none;
    }
  }
}

.page-top {
  display: inline-block;
  width: 100%;
  background-color: rgb(56, 64, 69) !important;
}

.ir-cover {
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin-top: 20px;
  width: 100%;
}

.page-investment-banking-industry-reports {
  .ir-cover {
    background-image: url(/sites/all/modules/custom/company_database/company_db_reports/img/covers/ib-cover-2019.png);
  }

  ul {
    &.breadcrumb {
      background: transparent;
    }
  }
}

.page-private-equity-industry-report {
  .ir-cover {
    background-image: url(/sites/all/modules/custom/company_database/company_db_reports/img/covers/pe-cover-2019.png);
  }

  ul {
    &.breadcrumb {
      background: transparent;
    }
  }
}

.page-hedge-fund-industry-report {
  .ir-cover {
    background-image: url(/sites/all/modules/custom/company_database/company_db_reports/img/covers/hf-cover-2019.png);
  }

  ul {
    &.breadcrumb {
      background: transparent;
    }
  }
}

.page-consulting-industry-report {
  .ir-cover {
    background-image: url(/sites/all/modules/custom/company_database/company_db_reports/img/covers/co-cover-2019.png);
  }

  ul {
    &.breadcrumb {
      background: transparent;
    }
  }
}

.ir-borders {
  .image_container {
    img {
      width: 100%;
    }
  }
}

.ir-blured {
  &.image_container {
    img {
      width: 100%;
    }
  }
}

@include media('>=tablet', '<desktop') {
  .tabs {

      .nav-tabs {
        li {
          a {
            padding: 24px 5px;
          }
        }
      }

  }

  .page-investment-banking-industry-reports {
    .ir-cover {
      background-position: center;
      background-size: cover;
      margin-top: 60px;
      max-height: 200px;
    }
  }

  .ir-head-block {
    h1 {
      padding: 48px 0 32px 48px;
    }
  }
}

@include media('<desktop') {
  #header {
    min-height: 52px !important;
  }

  .ir-borders {
    border: none;
  }

  .ir-border-bottom {
    border: none;
  }
}

@include media('>=desktop') {
  .page-top {
    h1 {
      span {
        font-size: 40px;
      }
    }
  }

  .ir-borders {
    padding: 0 48px;
  }

  .ir-border-bottom {
    border-bottom: 1px solid var(--color-neutral-4);
  }

  .ir-text-weight {
    em {
      display: inline-block;
      padding-top: 20px;
    }
  }
}

@include media('>=tablet', '<large-desktop') {
  .page-private-equity-industry-report {
    .region-content {
      .image_container {
        overflow: hidden;
        width: 100%;

        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }

  .page-consulting-industry-report {
    .region-content {
      .image_container {
        overflow: hidden;
        width: 100%;

        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }

  .page-hedge-fund-industry-report {
    .region-content {
      .image_container {
        overflow: hidden;
        width: 100%;

        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }

  .page-investment-banking-industry-reports {
    .region-content {
      .image_container {
        overflow: hidden;
        width: 100%;

        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }
}

@include media('>=tablet') {
  .ir-padding-t35 {
    padding-top: 35px;
  }

  .ir-borders {
    &.ir-padding-t35 {
      padding-top: 35px;
    }
    border-left: 1px solid var(--color-neutral-4);
    border-right: 1px solid var(--color-neutral-4);

    &:last-child {
      border-bottom: 1px solid var(--color-neutral-4);
    }
  }

  .node-type-company {
    .ir-borders {
      &:last-child {
        border-bottom: none !important;
      }
    }
  }

  #wso-content-outer {
    .tabs {
      margin-bottom: 0;
    }
  }
}

.user--is-database-contributor {
  .ir-head-block {
    display: none;
  }
}

#hubcontainer {
  .node {
    &.node-company {
      border: none;
    }
  }
}
