:root {
  --bs-body-font-family: "Lato", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: normal;
  --bs-body-line-height: 22px;
  --bs-body-color: var(--color-base);
}

.region-breadcrumbs-replacer .tabs .nav-tabs li {
  border-top: 1px solid var(--color-neutral-4);
  border-bottom: 1px solid var(--color-neutral-4);
  border-right: 1px solid var(--color-neutral-4);
  background-color: var(--color-neutral-2);
}
.region-breadcrumbs-replacer .tabs .nav-tabs li a {
  border: none;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--color-neutral-7);
  background-color: var(--color-neutral-2);
  padding: 24px 0;
}
.region-breadcrumbs-replacer .tabs .nav-tabs li a:hover {
  background-color: var(--color-neutral-0);
}
.region-breadcrumbs-replacer .tabs .nav-tabs li a.active {
  border: none;
}
.region-breadcrumbs-replacer .tabs .nav-tabs li:first-child {
  border-left: 1px solid var(--color-neutral-4);
}
.region-breadcrumbs-replacer .tabs .nav-tabs li.active, .region-breadcrumbs-replacer .tabs .nav-tabs li:hover {
  color: #087dfd;
  border-bottom: 1px solid var(--color-neutral-0);
  background: var(--color-neutral-0);
  border-top: 0;
}
.region-breadcrumbs-replacer .tabs .nav-tabs li.active a, .region-breadcrumbs-replacer .tabs .nav-tabs li:hover a {
  background-color: var(--color-neutral-0);
  border-top: 0;
  position: relative;
  border: none;
}
.region-breadcrumbs-replacer .tabs .nav-tabs li.active a:before, .region-breadcrumbs-replacer .tabs .nav-tabs li:hover a:before {
  display: block !important;
  background: #087dfd;
  content: "" !important;
  height: 3px;
  left: -1px;
  position: absolute;
  top: 0;
  width: calc(100% + 2px);
}
.region-breadcrumbs-replacer .nav-tabs > .active > a {
  border: none;
}
.region-breadcrumbs-replacer .nav-tabs > .active > a:hover {
  border: none;
}
.region-breadcrumbs-replacer .nav-tabs {
  border-bottom: 1px solid var(--color-neutral-0);
  border-top-left-radius: 5px;
  text-align: left;
  margin-bottom: 15px;
}
.region-breadcrumbs-replacer .nav-tabs li {
  background: none;
  border: none;
  margin-bottom: -1px;
}
.region-breadcrumbs-replacer .nav-tabs li a {
  background: var(--color-neutral-1) none repeat scroll 0 0;
  margin-right: 0;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 0;
  color: var(--color-neutral-6);
  text-align: center;
}
.region-breadcrumbs-replacer .nav-tabs li a:hover {
  background-color: var(--color-neutral-0);
}
.region-breadcrumbs-replacer .nav-tabs li.active {
  background: none;
  border: none;
  margin-bottom: -1px;
}
.region-breadcrumbs-replacer .nav-tabs li.active a {
  background-color: var(--color-neutral-0);
  border-bottom: medium none !important;
  border-top-color: transparent;
  color: #087dfd;
  border-top: 0;
  text-align: center;
}
.region-breadcrumbs-replacer .nav-tabs li.active a.active:before {
  content: none;
}
.region-breadcrumbs-replacer .nav-tabs li:first-child a {
  border-left: none;
}
.region-breadcrumbs-replacer .nav-tabs a:hover {
  background: var(--color-neutral-1) none repeat scroll 0 0;
}
.region-breadcrumbs-replacer .nav-tabs > li {
  display: inline-block;
  width: auto;
}
@media (max-width: 767px) {
  .region-breadcrumbs-replacer .nav-tabs {
    text-align: center;
    margin-top: 5px;
  }
  .region-breadcrumbs-replacer .nav-tabs li {
    width: 100%;
    margin-bottom: 5px;
  }
  .region-breadcrumbs-replacer .nav-tabs li.active a {
    padding: 15px 10px;
  }
  .region-breadcrumbs-replacer .nav-tabs li a {
    padding: 15px 10px;
  }
  .region-breadcrumbs-replacer .nav-tabs a:hover {
    padding: 15px 10px;
  }
}
@media (min-width: 768px) {
  .region-breadcrumbs-replacer .nav-tabs li {
    flex: 1;
  }
  .region-breadcrumbs-replacer .nav-tabs li a {
    border-bottom: 1px solid var(--color-neutral-0);
    border-left: 1px solid var(--color-neutral-0);
    border-right: 1px solid var(--color-neutral-0);
  }
  .region-breadcrumbs-replacer .nav-tabs a:hover {
    border-bottom: 1px solid var(--color-neutral-0);
    border-left: 1px solid var(--color-neutral-0);
    border-right: 1px solid var(--color-neutral-0);
  }
}

.cta {
  color: var(--color-neutral-0);
  padding: 20px;
  min-height: 100px;
  text-align: center;
  background-color: var(--color-base);
}
.darkmode .cta {
  background-color: #000000;
}
.cta ul li {
  color: var(--color-neutral-0);
}

@media (max-width: 767px) {
  .cta a {
    white-space: normal;
  }
  .float_warning_graph {
    z-index: 98;
  }
  .page-private-equity-industry-report .region-content .image_container {
    padding: 0;
    overflow: hidden;
  }
  .page-private-equity-industry-report .region-content .image_container .float_warning {
    height: 155px;
    width: 75%;
    padding: 8px 20px;
  }
  .page-private-equity-industry-report .region-content .image_container .float_warning a {
    width: 100%;
  }
  .page-private-equity-industry-report .m-t-n-lg .well ul.list {
    width: 100%;
    margin-left: 0;
  }
  .page-private-equity-industry-report .m-t-n-lg .well ul.list li .btn {
    margin-top: 5px;
    max-width: 55px;
    width: 100%;
  }
  .page-private-equity-industry-report ul.nav-tabs li {
    width: 100%;
  }
  .page-consulting-industry-report .region-content .image_container {
    padding: 0;
    overflow: hidden;
  }
  .page-consulting-industry-report .region-content .image_container .float_warning {
    height: 155px;
    width: 75%;
    padding: 8px 20px;
  }
  .page-consulting-industry-report .region-content .image_container .float_warning a {
    width: 100%;
  }
  .page-consulting-industry-report .m-t-n-lg .well ul.list {
    width: 100%;
    margin-left: 0;
  }
  .page-consulting-industry-report .m-t-n-lg .well ul.list li .btn {
    margin-top: 5px;
    max-width: 55px;
    width: 100%;
  }
  .page-consulting-industry-report ul.nav-tabs li {
    width: 100%;
  }
  .page-hedge-fund-industry-report .region-content .image_container {
    padding: 0;
    overflow: hidden;
  }
  .page-hedge-fund-industry-report .region-content .image_container .float_warning {
    height: 155px;
    width: 75%;
    padding: 8px 20px;
  }
  .page-hedge-fund-industry-report .region-content .image_container .float_warning a {
    width: 100%;
  }
  .page-hedge-fund-industry-report .m-t-n-lg .well ul.list {
    width: 100%;
    margin-left: 0;
  }
  .page-hedge-fund-industry-report .m-t-n-lg .well ul.list li .btn {
    margin-top: 5px;
    max-width: 55px;
    width: 100%;
  }
  .page-hedge-fund-industry-report ul.nav-tabs li {
    width: 100%;
  }
  .page-investment-banking-industry-reports .region-content .image_container {
    padding: 0;
    overflow: hidden;
  }
  .page-investment-banking-industry-reports .region-content .image_container .float_warning {
    height: 155px;
    width: 75%;
    padding: 8px 20px;
  }
  .page-investment-banking-industry-reports .region-content .image_container .float_warning a {
    width: 100%;
  }
  .page-investment-banking-industry-reports .region-content .container .image_container img {
    margin-left: 50%;
    object-fit: cover;
    transform: translateX(-50%);
    width: 150%;
  }
  .page-investment-banking-industry-reports .m-t-n-lg .well ul.list {
    width: 100%;
    margin-left: 0;
  }
  .page-investment-banking-industry-reports .m-t-n-lg .well ul.list li .btn {
    margin-top: 5px;
    max-width: 55px;
    width: 100%;
  }
  .page-investment-banking-industry-reports ul.nav-tabs li {
    width: 100%;
  }
  .page-top h1 {
    padding: 15px;
  }
  .page-top h1 span {
    font-size: 26px;
    padding-bottom: 0;
  }
  .ir-head-block .btn-head-subscribe {
    margin: 0 0 10px;
    width: 100%;
  }
  .tabs ul.nav-tabs li a {
    margin: 0;
  }
  ul.breadcrumb {
    padding: 20px 15px;
  }
  .form-type-select select.form-select {
    background: none;
    border: 1px solid var(--color-neutral-4);
    border-radius: 3px;
    box-shadow: none;
    color: var(--color-base);
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    letter-spacing: 0.2px;
    line-height: 48px;
    margin: 0;
    padding: 0 24px;
    position: relative;
  }
}
ul.list li {
  margin-bottom: 0 !important;
}
ul.breadcrumb {
  padding: 20px 0;
  margin-bottom: 0;
  background: var(--color-neutral-0);
}
ul.breadcrumb li a {
  color: var(--color-neutral-6);
}
ul.breadcrumb li:last-child {
  color: #087dfd;
}

.big-number {
  font-size: 45px;
}

.medium-number {
  font-size: 30px;
}

.median {
  display: none;
}

.numbers {
  display: none;
}

.growth {
  display: none;
}

.details-table .last {
  border-right: var(--color-neutral-4) 2px solid !important;
}
.details-table .title {
  border-right: var(--color-neutral-4) 2px solid !important;
}
.details-table .company-name {
  border-right: var(--color-neutral-4) 2px solid !important;
}
.details-table .text-success {
  color: #4a984c;
  font-weight: 500;
}

.image_container {
  position: relative;
}
.image_container h4 {
  font-weight: 500;
}

.float_warning {
  background-color: var(--color-neutral-0);
  bottom: 0;
  box-shadow: 7px 7px 20px 10px var(--color-neutral-5);
  color: var(--color-base);
  font-weight: 500;
  height: 100px;
  left: 0;
  margin: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1000;
}

th {
  font-weight: inherit;
}

.float_warning_graph {
  bottom: 0;
  color: var(--color-base);
  font-weight: 500;
  height: 36%;
  left: 0;
  margin: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  top: -5%;
  z-index: 1000;
}
.darkmode .float_warning_graph {
  color: var(--color-neutral-5);
}
.darkmode .float_warning_graph h4 {
  color: inherit;
}

.ellipsis {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-bb {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form.filters-form .form-item label {
  display: block;
}
form.filters-form .form-item-display select {
  display: inline-block;
  margin-left: 5px;
  width: 80% !important;
}
form.filters-form .form-item-sex select {
  display: inline-block;
  margin-left: 5px;
  width: 80% !important;
}
form.filters-form .form-item-race select {
  display: inline-block;
  margin-left: 5px;
  width: 80% !important;
}
form.filters-form-compare .form-item label {
  display: block;
}
form.filters-form-compare .form-item-display select {
  display: inline-block;
  margin-left: 5px;
  width: 80% !important;
}
form.filters-form-compare .form-item-sex select {
  display: inline-block;
  margin-left: 5px;
  width: 80% !important;
}
form.filters-form-compare .form-item-race select {
  display: inline-block;
  margin-left: 5px;
  width: 80% !important;
}

.ajax-progress {
  vertical-align: text-bottom;
}

.ContenedorTabla .fht-table-wrapper .fht-fixed-column {
  z-index: 0;
}

#compare_matrix_ib_other_notable_banks {
  margin: 0;
}

#matrix_ib_other_notable_banks {
  margin: 0;
}

#comparison-ib-other_notable_banks {
  margin-bottom: 30px;
}
#comparison-ib-other_notable_banks h4 {
  margin-top: 30px;
}

.ir-head-block {
  display: inline-block;
  width: 100%;
}
.ir-head-block img {
  width: 100%;
}
.ir-head-block h1 {
  padding: 48px 48px 32px;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: var(--color-neutral-0);
}
.ir-head-block h1 span {
  padding-bottom: 10px;
  display: block;
}
.ir-head-block h1 span.title {
  font-weight: 700;
}
@media (min-width: 992px) {
  .ir-head-block h1 span.title {
    font-weight: 800;
  }
}
.ir-head-block .btn-head-subscribe {
  padding: 17px 40px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 0.1px;
  text-align: center;
  color: var(--color-neutral-0);
  border-radius: 26px;
  background: #087dfd;
  border: none;
  box-shadow: none;
  text-shadow: none;
  margin-left: 48px;
  margin-bottom: 36px;
}
.ir-head-block .btn-head-subscribe:hover {
  background: #268cc8;
  text-decoration: none;
}

.page-top {
  display: inline-block;
  width: 100%;
  background-color: rgb(56, 64, 69) !important;
}

.ir-cover {
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin-top: 20px;
  width: 100%;
}

.page-investment-banking-industry-reports .ir-cover {
  background-image: url(/sites/all/modules/custom/company_database/company_db_reports/img/covers/ib-cover-2019.png);
}
.page-investment-banking-industry-reports ul.breadcrumb {
  background: transparent;
}

.page-private-equity-industry-report .ir-cover {
  background-image: url(/sites/all/modules/custom/company_database/company_db_reports/img/covers/pe-cover-2019.png);
}
.page-private-equity-industry-report ul.breadcrumb {
  background: transparent;
}

.page-hedge-fund-industry-report .ir-cover {
  background-image: url(/sites/all/modules/custom/company_database/company_db_reports/img/covers/hf-cover-2019.png);
}
.page-hedge-fund-industry-report ul.breadcrumb {
  background: transparent;
}

.page-consulting-industry-report .ir-cover {
  background-image: url(/sites/all/modules/custom/company_database/company_db_reports/img/covers/co-cover-2019.png);
}
.page-consulting-industry-report ul.breadcrumb {
  background: transparent;
}

.ir-borders .image_container img {
  width: 100%;
}

.ir-blured.image_container img {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .tabs .nav-tabs li a {
    padding: 24px 5px;
  }
  .page-investment-banking-industry-reports .ir-cover {
    background-position: center;
    background-size: cover;
    margin-top: 60px;
    max-height: 200px;
  }
  .ir-head-block h1 {
    padding: 48px 0 32px 48px;
  }
}
@media (max-width: 991px) {
  #header {
    min-height: 52px !important;
  }
  .ir-borders {
    border: none;
  }
  .ir-border-bottom {
    border: none;
  }
}
@media (min-width: 992px) {
  .page-top h1 span {
    font-size: 40px;
  }
  .ir-borders {
    padding: 0 48px;
  }
  .ir-border-bottom {
    border-bottom: 1px solid var(--color-neutral-4);
  }
  .ir-text-weight em {
    display: inline-block;
    padding-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .page-private-equity-industry-report .region-content .image_container {
    overflow: hidden;
    width: 100%;
  }
  .page-private-equity-industry-report .region-content .image_container img {
    object-fit: contain;
    width: 100%;
  }
  .page-consulting-industry-report .region-content .image_container {
    overflow: hidden;
    width: 100%;
  }
  .page-consulting-industry-report .region-content .image_container img {
    object-fit: contain;
    width: 100%;
  }
  .page-hedge-fund-industry-report .region-content .image_container {
    overflow: hidden;
    width: 100%;
  }
  .page-hedge-fund-industry-report .region-content .image_container img {
    object-fit: contain;
    width: 100%;
  }
  .page-investment-banking-industry-reports .region-content .image_container {
    overflow: hidden;
    width: 100%;
  }
  .page-investment-banking-industry-reports .region-content .image_container img {
    object-fit: contain;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .ir-padding-t35 {
    padding-top: 35px;
  }
  .ir-borders {
    border-left: 1px solid var(--color-neutral-4);
    border-right: 1px solid var(--color-neutral-4);
  }
  .ir-borders.ir-padding-t35 {
    padding-top: 35px;
  }
  .ir-borders:last-child {
    border-bottom: 1px solid var(--color-neutral-4);
  }
  .node-type-company .ir-borders:last-child {
    border-bottom: none !important;
  }
  #wso-content-outer .tabs {
    margin-bottom: 0;
  }
}
.user--is-database-contributor .ir-head-block {
  display: none;
}

#hubcontainer .node.node-company {
  border: none;
}
/*# sourceMappingURL=company-db-reports.coponent.css.map */
