@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

#block-win1000foryouridea {
  ul {
    list-style: none;

    li {
      border: 0;
      font-size: 14px;
      padding: 5px 0 5px;

      &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: $color-blue;
        font-weight: bold;
        margin-left: -5px;
        margin-right: 10px;
        transform: translateY(-2px);
      }
    }
  }
}
