#block-win1000foryouridea ul {
  list-style: none
}
#block-win1000foryouridea ul li {
  border: 0;
  font-size: 14px;
  padding: 5px 0
}
#block-win1000foryouridea ul li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #087dfd;
  font-weight: bold;
  margin-left: -5px;
  margin-right: 10px;
  transform: translateY(-2px)
}
/*# sourceMappingURL=win1000foryouridea.component.css.map */
