@import './components/common-styles/helpers/colors';
@import './components/common-styles/helpers/mixins';

.step-span {
  background: rgba(255, 255, 255, .3) none repeat scroll 0 0;
  border-radius: 5px;
  display: inline-block;
  margin: 0 1px 0 -10px;
  padding: 0 4px 1px 6px;
  text-align: center;
}

.thumb {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  max-width: 60px;

  .img-responsive {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    max-width: 60px;
  }
}

.blocks-sprite {
  background: url("/themes/custom/porto_sub/images/home/blocks-sprite.png?v=1") no-repeat;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  width: 60px;
}

.beer {
  background-position: -3px 0;
}

.computer-hand {
  background-position: -66px 0;
}

.mentor {
  background-position: -129px 0;
}

.modal-training {
  background-position: -3px -43px;
}

.monkey {
  background-position: -66px -43px;
}

.resume-training {
  background-position: -129px -43px;
}

.resume {
  background-position: -3px -86px;
}

.training {
  background-position: -66px -86px;
}

.two-talking {
  background-position: -129px -86px;
}

.intro-video {
  .modal-dialog {
    background: var(--color-neutral-0) none repeat scroll 0 0;
    margin: 30px auto;
    width: 740px;
  }
}

.m-t-sm {
  margin-top: 10px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 60px;
}

.why-join {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 10px;
  }

  h4 {
    background: $color-blue none repeat scroll 0 0;
    border-radius: 3px 3px 0 0;
    color: var(--color-neutral-0);
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0;
    padding: 12px 20px 10px;
    text-align: center;
    text-transform: capitalize;
  }
}

.reason-wrap {
  background: var(--color-neutral-0);
  border-radius: 3px 3px 0 0;

  >a {
    &:hover {
      text-decoration: none;
    }
  }
}

.learn-link {
  color: $color-blue;
  display: block;
  font-size: .9em;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.list-unstyled {
  &.text-left {
    &.pad20 {
      >li {
        font-size: 1.1em;
      }
    }
  }
}

@media (max-width: 460px) {
  .user-stats-wrap {
    padding-top: 15%;
  }

  #waypoint {
    padding-bottom: 10%;
  }

  .hero-bg-drk {
    h1 {
      color: var(--color-neutral-0);
      font-size: 4.6em;
      letter-spacing: -2px;
      margin-bottom: 5px;
      padding-top: 10%;
    }

    h2 {
      font-size: 2em;
    }
  }

  .why-join {
    .lead {
      width: 90%;
    }
  }
}
