.poll {
  .form-actions {
    display: flex;
    margin-top: 20px;

    .button--primary {
      &:first-child {
        @include wso-button-variant('success', $color-green-100);
        margin-right: 15px;
      }
    }
  }

  .bar {
    border-radius: 5px;
    background-color: var(--color-page-bg);

    .foreground {
      background-color: $color-blue;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}
