.node-lesson {
  .paragraphs-items  {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    > .field {
      padding: 20px;

      @include media('>=tablet') {
        padding: 40px;
      }
    }

    .print-version  & {
      margin: 0;

      > .field {
        padding: 0;
      }
    }

    &.paragraphs-items-field-wso-paragraphs {
      &:before,
      &:after {
        max-width: calc(100% - 80px);
        display: block;
      }

      &:before {
        content: url('/themes/custom/porto_sub/assets/images/wso-logo-2019.png');
        margin: 20px 40px 20px 40px;
        border-bottom: var(--color-neutral-9) 1px solid;
        padding-bottom: 20px;

        .darkmode & {
          border-bottom-color: var(--color-neutral-6);
        }
      }

      &:after {
        border-top: var(--color-neutral-9) 1px solid;
        content: 'Wallstreetoasis.com';
        margin: 60px 40px 0 40px;
        padding-top: 20px;

        .darkmode & {
          border-top-color: var(--color-neutral-6);
        }
      }

      .print-version & {
        &:after,
        &:before {
          display: none;
        }
      }
    }
  }

  .field-name-body,
  .field-name-field-module-number {
    .print-version  & {
      display: none;
    }
  }

  .field-name-field-module-number,
  .field-name-field-weight,
  .field-name-field-chapter {
    display: none;
  }

  .wistia-wrapper-container {
    padding: 0 15px;
  }

  .field-name-field-wistia-video {
    position: relative;
  }

  .wistia-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
  }

  .lesson-links-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    &--quizz {
      background: white;
      margin-top: -25px;
      padding-bottom: 5px;
      margin-bottom: 25px;
    }
  }

  .lesson-links {
    .node-quote-all,
    .node-trash {
      display: none;
    }
  }

  h4 {
    @extend %green-lms-heading;
  }

  h5 {
    @extend %blue-lms-heading;
  }

  h6 {
    @extend %black-lms-heading;
  }
}
