body {
  background: $color-neutral-0;
  color: $color-neutral-9;
}

.node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:before {
  border-bottom: $color-neutral-9 1px solid;
}

.darkmode .node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:before {
  border-bottom-color: $color-neutral-6;
}

.node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:after {
  border-top: $color-neutral-9 1px solid;
}

.darkmode .node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:after {
  border-top-color: $color-neutral-9;
}

.paragraphs-item-wso-paragraphs-in-block .field-name-field-wsop-paragraphs-in-block {
  border: $color-neutral-9 1px solid;
}

.field--type-text-long h3.topic-title,
.field--type-text-with-summary h3.topic-title,
.field-name-field-wsop-rich-text h3.topic-title {
  color: $color-neutral-9;
}

.field--type-text-long h4.topic-title,
.field--type-text-with-summary h4.topic-title,
.field-name-field-wsop-rich-text h4.topic-title {
  color: $color-neutral-9;
}

.field--type-text-long blockquote,
.field--type-text-with-summary blockquote,
.field-name-field-wsop-rich-text blockquote {
  border-left: 3px solid $color-neutral-3;
  color: $color-neutral-7;
  border-color: $color-neutral-3
}

.paragraphs-item-wso-paragraph-sibe-by-side h3.topic-title {
  color: $color-neutral-9;
}

.paragraphs-item-wso-paragraph-sibe-by-side h4.topic-title {
  color: $color-neutral-9;
}

.paragraphs-item-wso-paragraph-sibe-by-side blockquote {
  border-left: 3px solid $color-neutral-3;
  color: $color-neutral-7;
  border-color: $color-neutral-3;
}

.paragraphs-item-wso-paragraph-table caption {
  color: $color-neutral-6;
}

.paragraphs-item-wso-paragraph-table th {
  border-bottom: $color-neutral-0 1px solid;
}

.paragraphs-item-wso-paragraph-table tr.even td,
.paragraphs-item-wso-paragraph-table tr.even th {
  border-bottom: $color-neutral-0 1px solid
}

.paragraphs-item-wso-paragraph-table tr.odd td,
.paragraphs-item-wso-paragraph-table tr.odd th {
  border-bottom: $color-neutral-0 1px solid
}

.paragraphs-item-wso-paragraph-table.header-type-0 th,
.paragraphs-item-wso-paragraph-table.header-type-1 th {
  color: $color-neutral-0;
}

.paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
.paragraphs-item-wso-paragraph-table.header-type-3 th:first-child {
  color: $color-neutral-0;
}

.paragraphs-item-wso-paragraph-table.header-type-3 td:first-child {
  color: $color-neutral-0;
}

.paragraphs-item-wso-paragraph-table.header-type-4 th {
  color: $color-neutral-0;
}

.paragraphs-item-wso-paragraph-title.color-grey {
  color: $color-neutral-7;
}

.view-course #print-toc {
  background: $color-neutral-2;
}

.view-course #print-toc table .toc-subsection td.toc-text {
  color: $color-neutral-8;
}

@media (max-width: 991px) {
  .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
    border: 1px solid $color-neutral-4;
  }
  .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table {
    background-color: $color-neutral-0;
  }
}


