@font-face {
  font-family: Lato;
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.eot);
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.eot?#iefix) format("embedded-opentype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.woff2) format("woff2"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.woff) format("woff"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.ttf) format("truetype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.svg#latoheavy) format("svg");
  font-weight: 800;
  font-style: normal
}
@font-face {
  font-family: Lato;
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.eot);
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.eot?#iefix) format("embedded-opentype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.woff2) format("woff2"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.woff) format("woff"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.ttf) format("truetype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.svg#latobold) format("svg");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Lato;
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.eot);
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.eot?#iefix) format("embedded-opentype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.woff2) format("woff2"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.woff) format("woff"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.ttf) format("truetype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.svg#latomedium) format("svg");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Lato;
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.eot);
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.eot?#iefix) format("embedded-opentype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.woff2) format("woff2"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.woff) format("woff"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.ttf) format("truetype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.svg#latoregular) format("svg");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Lato;
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.eot);
  src: url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.eot?#iefix) format("embedded-opentype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.woff2) format("woff2"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.woff) format("woff"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.ttf) format("truetype"),url(/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.svg#latoregular) format("svg");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.eot);
  src: url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.eot?#iefix) format("embedded-opentype"),url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.woff2) format("woff2"),url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.woff) format("woff"),url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.ttf) format("truetype"),url(/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.svg#oswald_regularregular) format("svg")
}
body {
  line-height: 1.3;
  background: #fff!important;
  font-family: Lato,sans-serif;
  font-weight: 400;
  padding-bottom: 50px;
  color: #1c1e24
}
h1 {
  font-size: 24pt
}
h2,
h3,
h4 {
  font-size: 14pt;
  margin-top: 25px
}
a,
blockquote,
pre,
table {
  page-break-inside: avoid
}
h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
  page-break-inside: avoid
}
img {
  page-break-inside: avoid;
  page-break-after: avoid
}
a,
a:link,
a:visited {
  background: 0 0;
  text-decoration: underline;
  color: #087dfd
}
code,
pre {
  font-family: "Courier New",Courier,mono
}
li {
  line-height: 1.6em
}
.print-footnote {
  display: none
}
.flyleaf {
  page-break-after: always
}
.page-number:before {
  content: counter(page)
}
.print-version #footer,
.print-version #lesson-header,
.print-version .lesson-links-container,
iframe {
  display: none
}
.node-lesson .paragraphs-items {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto
}
.node-lesson .paragraphs-items > .field {
  padding: 20px
}
.print-version .node-lesson .paragraphs-items {
  margin: 0
}
.print-version .node-lesson .paragraphs-items > .field {
  padding: 0
}
.node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:after,
.node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:before {
  max-width: calc(100% - 80px);
  display: block
}
.node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:before {
  content: url(/themes/custom/porto_sub/assets/images/wso-logo-2019.png);
  margin: 20px 40px;
  border-bottom: var(--color-neutral-9) 1px solid;
  padding-bottom: 20px
}
.darkmode .node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:before {
  border-bottom-color: var(--color-neutral-6)
}
.node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:after {
  border-top: var(--color-neutral-9) 1px solid;
  content: "Wallstreetoasis.com";
  margin: 60px 40px 0;
  padding-top: 20px
}
.darkmode .node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:after {
  border-top-color: var(--color-neutral-6)
}
.node-lesson .field-name-field-chapter,
.node-lesson .field-name-field-module-number,
.node-lesson .field-name-field-weight,
.print-version .node-lesson .field-name-body,
.print-version .node-lesson .field-name-field-module-number,
.print-version .node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:after,
.print-version .node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:before {
  display: none
}
.node-lesson .wistia-wrapper-container {
  padding: 0 15px
}
.node-lesson .field-name-field-wistia-video {
  position: relative
}
.node-lesson .wistia-preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%
}
.node-lesson .lesson-links-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto
}
.node-lesson .lesson-links-container--quizz {
  background: #fff;
  margin-top: -25px;
  padding-bottom: 5px;
  margin-bottom: 25px
}
.node-lesson .lesson-links .node-quote-all,
.node-lesson .lesson-links .node-trash {
  display: none
}
.entity-paragraphs-item {
  margin-bottom: 30px;
  display: block
}
.entity-paragraphs-item:not([class*=col-]) {
  width: 100%
}
.entity-paragraphs-item.color-inverse {
  color: #fafafa
}
.entity-paragraphs-item.paragraph--unpublished {
  opacity: .5
}
.entity-paragraphs-item .field-type-text,
.entity-paragraphs-item .field-type-text-with-summary {
  text-align: justify
}
.print-version .entity-paragraphs-item.page-break--before {
  page-break-before: always
}
.print-version .entity-paragraphs-item.page-break--after {
  page-break-after: always
}
.print-version .entity-paragraphs-item .hidden--print {
  display: none!important
}
.entity-paragraphs-item iframe {
  max-width: 100%
}
.entity-paragraphs-item form label.error {
  display: none!important
}
.paragraphs-item-wso-paragraph-image {
  text-align: center
}
.paragraphs-item-wso-paragraph-image .content {
  page-break-inside: avoid
}
.paragraphs-item-wso-paragraph-image .field--type-string {
  margin-top: 15px;
  font-weight: 700;
  font-size: 14px
}
.entity-paragraphs-item .field-name-field-wsop-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto
}
.print-version .entity-paragraphs-item .field-name-field-wsop-image img {
  max-height: 890px;
  height: auto;
  width: auto;
  margin: 0
}
.paragraphs-item-wso-paragraphs-in-block .field-name-field-wsop-paragraphs-in-block {
  border: var(--color-neutral-9) 1px solid;
  page-break-inside: avoid
}
.paragraphs-item-wso-paragraphs-in-block .field-name-field-wsop-paragraphs-in-block>.field--item,
.print-version .paragraphs-item-wso-paragraphs-in-block .field-name-field-wsop-paragraphs-in-block>.field--item {
  padding: 20px
}
.paragraphs-item-wso-paragraphs-in-block .paragraphs-item-wso-paragraph-image img {
  width: 100%
}
.paragraphs-item-wso-paragraph-pdf iframe {
  min-height: 600px
}
.paragraphs-item-wso-paragraph-pdf .content-print,
.print-version .paragraphs-item-wso-paragraph-pdf .content {
  display: none
}
.print-version .paragraphs-item-wso-paragraph-pdf .content-print,
.print-version .paragraphs-item-wso-paragraph-pdf .content-print a {
  display: block
}
.formatted-text {
  font-size: 16px;
  word-break: break-word
}
.formatted-text h2,
.formatted-text h3,
.formatted-text h4,
.formatted-text h5,
.formatted-text h6 {
  line-height: 1.2;
  font-weight: 700
}
.formatted-text h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 44px 0 8px
}
.formatted-text h3 {
  font-size: 20px;
  margin: 38px 0 8px
}
.formatted-text h4 {
  font-size: 18px;
  margin: 34px 0 8px
}
.formatted-text h5 {
  font-size: 16px;
  margin: 32px 0 8px
}
.formatted-text h6 {
  font-size: 16px;
  margin: 30px 0 8px
}
.formatted-text img {
  height: auto;
  max-width: 100%
}
.formatted-text figure.align-center img {
  margin-left: auto;
  margin-right: auto;
  display: block
}
.formatted-text figure.align-center figcaption {
  text-align: center
}
.formatted-text p {
  margin-bottom: 30px
}
.formatted-text p strong {
  font-weight: 700
}
.formatted-text p a {
  word-wrap: break-word
}
.formatted-text blockquote {
  font-size: inherit;
  border-left: 3px solid #b7e1f3;
  margin: 0 0 24px 8px;
  font-style: italic;
  color: var(--color-neutral-7);
  line-height: 26px;
  letter-spacing: -.15px;
  padding: 1em;
  background-color: var(--color-neutral-2);
  border-color: #b7e1f3
}
.formatted-text blockquote strong.quote-author {
  margin-right: 5px
}
.formatted-text blockquote strong.quote-author:before {
  display: inline-block;
  font: 14px/1 fa-custom;
  font-size: inherit;
  content: "\f10d";
  margin-right: 5px
}
.formatted-text blockquote p:first-of-type {
  display: inline
}
.formatted-text dl,
.formatted-text ol,
.formatted-text ul {
  page-break-before: avoid
}
.formatted-text li {
  line-height: 26px;
  margin-bottom: 4px
}
.formatted-text ol,
.formatted-text ul {
  margin-bottom: 16px;
  margin-top: 8px;
  padding-left: 24px
}
.formatted-text span.alt-font {
  font-family: Oswald-Regular,Lato,"Helvetica Neue",Helvetica,Arial,sans-serif!important
}
.formatted-text span.uppercase-text {
  text-transform: uppercase!important
}
.formatted-text span.color-pale-blue {
  color: #189eda!important
}
.formatted-text span.color-bright-blue {
  color: #7ad9ea!important
}
.formatted-text span.color-blue {
  color: #087dfd!important
}
.formatted-text span.color-dark-blue {
  color: #1982cd!important
}
.formatted-text span.color-green {
  color: #0cb930!important
}
.formatted-text span.color-orange {
  color: #ff6c00!important
}
.formatted-text span.color-grey {
  color: #3c4245!important
}
.print-version .paragraphs-item-wso-paragraph-rich-text a:after {
  content: " (" attr(href) ") "
}
.print-version .paragraphs-item-wso-paragraph-rich-text ul li {
  display: block
}
.print-version .paragraphs-item-wso-paragraph-rich-text ul li:before {
  display: inline-block
}
.entity-paragraphs-item .field-name-field-wsop-rich-text p {
  margin-top: 0;
  margin-bottom: 20px
}
.entity-paragraphs-item .field-name-field-wsop-rich-text p:last-child {
  margin-bottom: 0
}
.print-version .entity-paragraphs-item .field-name-field-wsop-rich-text p em {
  line-height: 18px
}
.print-version .entity-paragraphs-item .field-name-field-wsop-rich-text p strong {
  font-weight: 800
}
.print-version .entity-paragraphs-item .field-name-field-wsop-rich-text h4 {
  line-height: 22px;
  font-weight: 800
}
.print-version .entity-paragraphs-item .field-name-field-wsop-rich-text h5 {
  line-height: 20px
}
.print-version .entity-paragraphs-item .field-name-field-wsop-rich-text h6 {
  line-height: 20px;
  font-weight: 800
}
.print-version .entity-paragraphs-item .field-name-field-wsop-rich-text ul li {
  display: block;
  padding-left: 20px;
  position: relative
}
.print-version .entity-paragraphs-item .field-name-field-wsop-rich-text ul li:before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px
}
.paragraphs-item-wso-paragraph-sibe-by-side {
  page-break-inside: avoid
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .row:after,
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .row:before {
  display: table;
  content: " "
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .row:after {
  clear: both
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col {
  position: relative;
  min-height: 1px;
  float: left
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col .field {
  padding-right: 15px;
  padding-left: 15px
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col.col-first .field {
  padding-left: 0
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col.col-last .field {
  padding-right: 0
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col-sm-6 {
  width: 25%
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col-sm-8 {
  width: 33.3333333333%
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col-sm-12 {
  width: 50%
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col-sm-16 {
  width: 66.6666666667%
}
.print-version .paragraphs-item-wso-paragraph-sibe-by-side .col-sm-18 {
  width: 75%
}
.paragraphs-item-wso-paragraph-table .field-name-field-wsop-table-header-type {
  display: none
}
.paragraphs-item-wso-paragraph-table caption {
  caption-side: top;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  color: var(--color-neutral-6)
}
.paragraphs-item-wso-paragraph-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%
}
.paragraphs-item-wso-paragraph-table table p {
  margin: 0 0 10px
}
.paragraphs-item-wso-paragraph-table th {
  border-bottom: var(--color-neutral-0) 1px solid;
  font-weight: normal;
  padding: 3px 5px;
  text-align: center
}
.paragraphs-item-wso-paragraph-table tr.even {
  background-color: #b8e3f5;
  border: none
}
.paragraphs-item-wso-paragraph-table tr.even td,
.paragraphs-item-wso-paragraph-table tr.even th {
  background-color: #b8e3f5;
  border-bottom: var(--color-neutral-0) 1px solid
}
.paragraphs-item-wso-paragraph-table tr.odd {
  background-color: #b8e3f5;
  border: none
}
.paragraphs-item-wso-paragraph-table tr.odd td,
.paragraphs-item-wso-paragraph-table tr.odd th {
  background-color: #b8e3f5;
  border-bottom: var(--color-neutral-0) 1px solid
}
.paragraphs-item-wso-paragraph-table td {
  padding: 3px 5px;
  text-align: center
}
.paragraphs-item-wso-paragraph-table .tablefield-wrapper {
  position: relative
}
.paragraphs-item-wso-paragraph-table.header-type-0 th,
.paragraphs-item-wso-paragraph-table.header-type-1 th {
  background-color: #087dfd;
  color: var(--color-neutral-0);
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child {
  background-color: #88d1ee;
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
.paragraphs-item-wso-paragraph-table.header-type-3 th:first-child {
  background-color: #087dfd;
  color: var(--color-neutral-0);
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-3 th:last-child {
  background-color: #88d1ee;
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-3 td:first-child {
  background-color: #087dfd;
  color: var(--color-neutral-0);
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-3 td:last-child {
  background-color: #88d1ee;
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-4 th {
  background-color: #087dfd;
  color: var(--color-neutral-0);
  font-weight: 700
}
.paragraphs-item-wso-paragraph-table.header-type-4 td:first-child {
  background-color: #88d1ee;
  font-weight: 700
}
.page-courses .node-landing-page .paragraphs-item-wso-paragraph-table .tablefield-wrapper .table td,
.page-courses .node-landing-page .paragraphs-item-wso-paragraph-table .tablefield-wrapper .table tr {
  padding: 20px 15px
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table table,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-style: italic;
  font-size: 16px;
  border: 1px solid var(--color-neutral-5)
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table th {
  font-weight: normal;
  text-align: left;
  border: 1px solid var(--color-base);
  padding: 20px
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table th p,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table th p {
  margin: 0
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.even,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.even {
  background-color: transparent;
  border: none
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.even td,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.even td {
  background-color: transparent;
  border: 1px solid var(--color-neutral-5)
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.even th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.even th {
  background-color: transparent;
  border-bottom: var(--color-neutral-0) 1px solid
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.odd,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.odd {
  background-color: transparent;
  border: none
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.odd td,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.odd td {
  background-color: transparent;
  border: 1px solid var(--color-neutral-5)
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table tr.odd th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table tr.odd th {
  background-color: transparent;
  border-bottom: var(--color-neutral-0) 1px solid
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table td,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table td {
  border: 1px solid var(--color-neutral-5);
  padding: 20px;
  text-align: left
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table td p,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table td p {
  margin: 0 0 5px;
  line-height: 26px
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table td p:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table td p:first-child {
  color: #0076c8;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 16px;
  line-height: 1.3
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table .tablefield-wrapper,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
  position: relative
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-0 th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-0 th {
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 th {
  background-color: var(--color-base)
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 th,
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 th p,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 th p {
  color: var(--color-neutral-0)!important;
  font-weight: normal!important
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child {
  background-color: transparent
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child p,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child p {
  font-size: 18px;
  font-weight: 700;
  color: #ff6c00
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child {
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child {
  background-color: transparent;
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child {
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child {
  background-color: transparent;
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-4 th,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-4 th {
  background-color: var(--color-base);
  color: var(--color-neutral-0);
  font-weight: 700
}
.entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child,
.entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child {
  background-color: transparent;
  font-weight: 700
}
.paragraphs-item-wso-paragraph-title {
  font-weight: 700;
  line-height: 1.4;
  font-size: 20px
}
.paragraphs-item-wso-paragraph-title .field-name-field-wsop-title-style {
  display: none
}
.paragraphs-item-wso-paragraph-title.color-green {
  color: #0cb930
}
.paragraphs-item-wso-paragraph-title.color-blue {
  color: #087dfd
}
.paragraphs-item-wso-paragraph-title.color-grey {
  color: var(--color-neutral-7);
  color: #64676e
}
.paragraphs-item-wso-paragraph-title.font-size-big {
  font-size: 36px;
  letter-spacing: 1px
}
.paragraphs-item-wso-paragraph-title.font-size-middle {
  font-size: 28px
}
.paragraphs-item-wso-paragraph-title.font-weight-normal {
  font-weight: 400
}
.paragraphs-item-wso-paragraph-title.font-style-italic {
  font-style: italic
}
.paragraphs-item-paragraph-wista-video .content-print {
  display: none
}
.paragraphs-item-paragraph-wista-video .content-print img {
  width: 100%;
  height: auto
}
.print-version .paragraphs-item-paragraph-wista-video .content {
  display: none
}
.print-version .paragraphs-item-paragraph-wista-video .content-print {
  display: block;
  page-break-inside: avoid
}
.print-version .paragraphs-item-paragraph-wista-video .content-print a {
  display: block
}
.paragraphs-item-paragraph-wista-video .field-name-field-wistia-video {
  position: relative
}
.paragraphs-item-paragraph-wista-video .wistia-preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%
}
.formatted-text span.green-lms-heading,
.node-lesson h4 {
  font-size: 28px;
  color: #0cb930
}
.formatted-text span.blue-lms-heading,
.node-lesson h5 {
  font-size: 20px;
  font-weight: 400;
  color: #087dfd;
  font-style: italic
}
.formatted-text span.black-lms-heading,
.node-lesson h6 {
  font-weight: 800;
  font-size: 20px;
  color: var(--color-base);
  text-transform: none;
  line-height: 1.2
}
.view-course #lesson-header {
  display: none
}
.view-course #course-cover {
  z-index: 100;
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100%;
  page-break-after: always
}
.view-course #course-cover img {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%
}
.view-course #print-toc {
  font-weight: 700;
  page-break-after: always;
  font-size: 20px;
  color: #087dfd;
  background: var(--color-neutral-2);
  padding: 10px 20px;
  background: #f6f7f7
}
.view-course #print-toc h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 15px
}
.view-course #print-toc table {
  page-break-inside: auto;
  width: 100%
}
.view-course #print-toc table td {
  padding: 3px 10px
}
.view-course #print-toc table td.toc-counter {
  padding: 5px 10px
}
.view-course #print-toc table .toc-subsection td {
  font-size: 16px;
  padding: 0 10px
}
.view-course #print-toc table .toc-subsection td.toc-text {
  color: var(--color-base);
  font-weight: 400;
  color: #3f4145
}
.view-course #print-toc table .toc-anchor {
  display: none;
  font-size: 16px;
  font-weight: 400
}
.view-course .view-content > h3 {
  font-weight: 700;
  color: #087dfd;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 1.3
}
.view-course .views-row {
  page-break-after: always
}
.view-course .views-row > .views-field-title {
  font-weight: 700;
  color: #0cb930;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.3
}
.view-course .views-row > .views-field-field-wso-paragraphs ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.view-course .views-row > .views-field-field-wso-paragraphs ul li {
  display: block;
  line-height: 1.2
}
.print-version-pdf .view-course #print-toc table .toc-anchor {
  display: block
}
@page {
  margin-top: 130px;
  margin-bottom: 0!important
}
html {
  margin-bottom: 0!important
}
.print-version-pdf {
  margin: 0 0 -10px
}
.print-version-pdf #lesson-header,
.print-version-pdf .lesson-links-container {
  display: none
}
.print-version-pdf #footer,
.print-version-pdf #header {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  z-index: -1
}
.print-version-pdf #footer table,
.print-version-pdf #header table {
  width: 100%
}
.print-version-pdf #header {
  top: -70px;
  border-bottom: .1pt solid #acb0b7;
  padding-bottom: 20px;
  height: 50px;
  font-size: 13px
}
.print-version-pdf #footer {
  bottom: 45px;
  border-top: .1pt solid #acb0b7;
  font-size: 12px;
  line-height: 1.2
}
.print-version-pdf #footer td {
  padding: 0
}
.print-version-pdf .header-logo {
  width: 200px
}
.print-version-pdf .header-logo img {
  max-width: 150px;
  height: auto
}
.node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:before {
  border-bottom: 1px solid #1c1e24
}
.darkmode .node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:before {
  border-bottom-color: #acb0b7
}
.node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:after {
  border-top: 1px solid #1c1e24
}
.darkmode .node-lesson .paragraphs-items.paragraphs-items-field-wso-paragraphs:after {
  border-top-color: #1c1e24
}
.paragraphs-item-wso-paragraphs-in-block .field-name-field-wsop-paragraphs-in-block {
  border: 1px solid #1c1e24
}
.field--type-text-long h3.topic-title,
.field--type-text-long h4.topic-title,
.field--type-text-with-summary h3.topic-title,
.field--type-text-with-summary h4.topic-title,
.field-name-field-wsop-rich-text h3.topic-title,
.field-name-field-wsop-rich-text h4.topic-title {
  color: #1c1e24
}
.field--type-text-long blockquote,
.field--type-text-with-summary blockquote,
.field-name-field-wsop-rich-text blockquote {
  border-left: 3px solid #eee;
  color: #64676e;
  border-color: #eee
}
.paragraphs-item-wso-paragraph-sibe-by-side h3.topic-title,
.paragraphs-item-wso-paragraph-sibe-by-side h4.topic-title {
  color: #1c1e24
}
.paragraphs-item-wso-paragraph-sibe-by-side blockquote {
  border-left: 3px solid #eee;
  color: #64676e;
  border-color: #eee
}
.paragraphs-item-wso-paragraph-table caption {
  color: #acb0b7
}
.paragraphs-item-wso-paragraph-table th,
.paragraphs-item-wso-paragraph-table tr.even td,
.paragraphs-item-wso-paragraph-table tr.even th,
.paragraphs-item-wso-paragraph-table tr.odd td,
.paragraphs-item-wso-paragraph-table tr.odd th {
  border-bottom: 1px solid #fff
}
.paragraphs-item-wso-paragraph-table.header-type-0 th,
.paragraphs-item-wso-paragraph-table.header-type-1 th,
.paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
.paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
.paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
.paragraphs-item-wso-paragraph-table.header-type-4 th {
  color: #fff
}
@media (min-width: 768px) {
  .node-lesson .paragraphs-items > .field {
    padding: 40px
  }
}
@media (min-width: 992px) {
  .formatted-text h2,
  .formatted-text h3,
  .formatted-text h4,
  .formatted-text h5,
  .formatted-text h6,
  .paragraphs-item-wso-paragraph-image .field--type-string {
    font-weight: 800
  }
  .formatted-text h2 {
    font-size: 38px
  }
  .formatted-text h3 {
    font-size: 26px
  }
  .formatted-text h4 {
    font-size: 20px
  }
  .formatted-text h5 {
    font-size: 18px
  }
  .formatted-text h6 {
    font-size: 16px
  }
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table td p:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-0 th,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child p,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child,
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table.header-type-4 th,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table td p:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-0 th,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child p,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table.header-type-4 th,
  .formatted-text p strong,
  .paragraphs-item-wso-paragraph-table.header-type-0 th,
  .paragraphs-item-wso-paragraph-table.header-type-1 th,
  .paragraphs-item-wso-paragraph-table.header-type-1 tr:last-child,
  .paragraphs-item-wso-paragraph-table.header-type-2 th:first-child,
  .paragraphs-item-wso-paragraph-table.header-type-3 td:first-child,
  .paragraphs-item-wso-paragraph-table.header-type-3 td:last-child,
  .paragraphs-item-wso-paragraph-table.header-type-3 th:first-child,
  .paragraphs-item-wso-paragraph-table.header-type-3 th:last-child,
  .paragraphs-item-wso-paragraph-table.header-type-4 td:first-child,
  .paragraphs-item-wso-paragraph-table.header-type-4 th,
  .paragraphs-item-wso-paragraph-title,
  .view-course #print-toc,
  .view-course #print-toc h2,
  .view-course .view-content>h3,
  .view-course .views-row>.views-field-title {
    font-weight: 800
  }
}
@media (max-width: 991px) {
  .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid var(--color-neutral-4);
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dfe1e6
  }
  .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table {
    background-color: var(--color-neutral-0);
    margin-bottom: 0;
    background-color: #fff
  }
  .print-version .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table {
    page-break-inside: avoid
  }
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table .tablefield-wrapper,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid var(--color-neutral-4)
  }
  .entity-paragraphs-item.paragraph--type--layout .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table,
  .entity-paragraphs-item.paragraphs-item-flexible .paragraphs-item-wso-paragraph-table .tablefield-wrapper > table {
    background-color: var(--color-neutral-0);
    margin-bottom: 0
  }
}
@media (max-width: 991px) and (max-width: 991px) {
  .print-version .paragraphs-item-wso-paragraph-table .tablefield-wrapper {
    border: none;
    overflow: visible
  }
}
@media (max-width: 767px) {
  .page-courses .node-landing-page .paragraphs-item-wso-paragraph-table .tablefield-wrapper .table .col_0 {
    width: 70%
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-courses .node-landing-page .paragraphs-item-wso-paragraph-table .tablefield-wrapper .table .col_0 {
    width: 85%
  }
}
/*# sourceMappingURL=print.component.css.map */
