.wso-quiz-answer {
  &-correct {
    color: $color-green-100;

    &.wso-quiz-answer-selected {
      p:after {
        content:'\e801';
        display: inline-block;
        font: normal normal normal 14px/1 'fa-custom';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 10px;
      }
    }
  }

  &-wrong {
    &.wso-quiz-answer-selected {
      color: $color-red;

      p:after {
        content:'\e815';
        display: inline-block;
        font: normal normal normal 14px/1 'fa-custom';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 10px;
      }
    }
  }

  &-feedback {
    color: var(--color-base);
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 900;
    font-style: italic;

    span {
      font-weight: normal;
    }
  }
}
