@page {
  margin-top: 130px;
  margin-bottom: 0 !important;
}

html {
  margin-bottom: 0 !important;
}

.print-version-pdf {
  margin: 0 0 -10px 0;

  #lesson-header,
  .lesson-links-container {
    display: none;
  }

  #header,
  #footer {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    z-index: -1;

    table {
      width: 100%;
    }
  }

  #header {
    top: -70px;
    border-bottom: 0.1pt solid $color-neutral-6;
    padding-bottom: 20px;
    height: 50px;
    font-size: 13px;
  }

  #footer {
    bottom: 45px;
    border-top: 0.1pt solid $color-neutral-6;
    font-size: 12px;
    line-height: 1.2;

    td {
      padding: 0;
    }
  }

  .header-logo {
    width: 200px;

    img {
      max-width: 150px;
      height: auto;
    }
  }
}
