
@font-face {
  font-family: 'Lato';
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.eot');
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.eot?#iefix') format('embedded-opentype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.woff2') format('woff2'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.woff') format('woff'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.ttf') format('truetype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-heavy.svg#latoheavy') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.eot');
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.woff2') format('woff2'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.woff') format('woff'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.ttf') format('truetype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-bold.svg#latobold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.eot');
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.eot?#iefix') format('embedded-opentype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.woff2') format('woff2'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.woff') format('woff'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.ttf') format('truetype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-medium.svg#latomedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.eot');
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.woff2') format('woff2'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.woff') format('woff'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.ttf') format('truetype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.svg#latoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

/* In fact 'lato-light' font with font-weight 300 too thin. Better use regular */
@font-face {
  font-family: 'Lato';
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.eot');
  src: url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.woff2') format('woff2'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.woff') format('woff'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.ttf') format('truetype'),
  url('/themes/custom/porto_sub/assets/fonts/Lato/fonts/src/lato-regular.svg#latoregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url('/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.eot');
  src: url('/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
  url('/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.woff2') format('woff2'),
  url('/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.woff') format('woff'),
  url('/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.ttf') format('truetype'),
  url('/themes/custom/porto_sub/fonts/oswald/Oswald-Regular.svg#oswald_regularregular') format('svg');
}

body {
  line-height: 1.3;
  background: $color-neutral-0 !important;
  color: $color-neutral-9;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: 50px;
}

h1 {
  font-size: 24pt;
}

h2, h3, h4 {
  font-size: 14pt;
  margin-top: 25px;
}

a {
  page-break-inside: avoid
}

blockquote {
  page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
  page-break-inside: avoid
}

img {
  page-break-inside: avoid;
  page-break-after: avoid;
}

table, pre {
  page-break-inside: avoid
}

a:link,
a:visited, a {
  background: transparent;
  text-decoration: underline;
  color: $color-blue;
}

a {
  page-break-inside: avoid
}

code, pre {
  font-family: "Courier New", Courier, mono
}

li {
  line-height: 1.6em;
}

.print-footnote {
  display: none;
}

.flyleaf {
  page-break-after: always;
}

.page-number:before {
  content: counter(page);
}

iframe {
  display: none;
}

.print-version {
  #footer,
  #lesson-header,
  .lesson-links-container {
    display: none;
  }
}
