//@import './components/common-styles/helpers/mixins';

$row-gap: 30px;
$well-gap: 24px;

body {
  margin-top: 0 !important;

  @include media('<desktop') {
    margin-top: 0 !important;
  }
}

.page-top {
  .breadcrumb {
    margin-top: -4px;
  }

  h1 {
    margin-top: -4px;
  }
}

.view-header {
  padding: 25px 25px 0 25px;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0 0 32px;
  font-size: 2.6em;
  line-height: 42px;
}

.view-taxonomy-term {
  background: var(--color-neutral-0);

  .views-row {
    @include media('>=desktop') {
      padding-left: $row-gap;
      padding-right: $row-gap;
    }

    article {
      font-size: 14px;
      margin-bottom: 9px;

      h3 {
        @include word-wrap-hyphens();
        font-size: 1.2em;
        color: $color-blue;

        @include media('<=tablet') {
          line-height: 120%;
        }
      }

      .flag-bookmarks {
        display: none;
      }

      .field--type-entity-reference {
        &,
        a {
          font-size: 14px;
          color: var(--color-base);

        }

        .field--label {
          display: none;
        }
      }
    }

    .media {
      &-body {
        max-width: 100%;
      }
    }
  }

  .pager-nav {
    justify-content: center;
  }

  .feed-icons {
    display: none;
  }
}

.pager-container {
  padding-left: $well-gap;
  padding-right: $well-gap;
  padding-bottom: $well-gap;

  @include media('>=desktop') {
    padding-left: $well-gap + $row-gap;
    padding-right: $well-gap + $row-gap;
  }
}

.path-taxonomy {
  #forum-search-form .form-type-textfield + .icon {
    right: 20px;
    top: 10px;
  }
}
