// Color variables
//chttps://app.zeplin.io/project/5b3e7c522785de0503654e0d/screen/5dd88696ad40d08c23a50126
@import "../../../style-dictionary/build/scss/variables";
$color-base: $color-monkey-blue;
$color-base--dark: invert($color-neutral-8);
$color-page-bg: $color-bluish-grey;
$color-blue: $color-link-blue;
// Testing light grey color replace. todo: remove replaced color later.
$color-neutral-7: $color-monkey-grey;
$color-neutral-6: $color-monkey-grey;
$color-neutral-5: $color-monkey-grey;

  // Inverted/Dark mode
$color-neutral-0--dark: #1c1c21;
$color-neutral-1--dark: #1f1f21;
$color-neutral-2--dark: invert($color-neutral-2);
$color-neutral-3--dark: #3e3e3e;
$color-neutral-4--dark: invert($color-neutral-4);
$color-neutral-5--dark: invert($color-neutral-5);
$color-neutral-6--dark: invert($color-neutral-6);
$color-neutral-7--dark: invert($color-neutral-7);
$color-neutral-8--dark: invert($color-neutral-8);
$color-neutral-9--dark: invert($color-neutral-9);
$color-almost-black--dark: invert($color-almost-black);
$color-black--dark: #fff;
$color-page-bg--dark: #212121;
$color-oasis-blue: #189eda;
$color-monkey-grey--dark:  invert($color-neutral-6);
$color-warning-bg--dark: invert($color-warning-bg);
$color-blue--dark: $color-blue;
$color-light-blue--dark: #141418;
$color-green-100--dark: $color-green-100;
$color-green-hover--dark: $color-green-hover;
$color-green-pressed--dark: $color-green-pressed;
$color-pop-green--dark: $color-pop-green;
$color-pale-green--dark: $color-pale-green;
$color-lightest-green--dark: $color-lightest-green;
$color-turquoise--dark: $color-turquoise;
$color-yellow--dark: $color-yellow;
$color-orange--dark: $color-orange;
$color-red--dark: $color-red;


//Light blue
$gainsboro_cedde0: #cedde0;
$aliceblue_dcf3ff: #dcf3ff;
$aliceblue_D9ECF4: #d9ecf4;
$aliceblue_dcebee: #dcebee;



$cornsilk_fff6d5: #fff6d5;
$cornsilk_fff9dd: #fff9dd;
$snow_fff4f4: #fff4f4;
$lavenderblush_FFEEEE: #ffeeee;


//???
$darkslateblue_0A4059: #0A4059;
$darkslateblue_3c5a9a: #3c5a9a;
$darkslategrey_1C4C55: #1c4c55;
$darkslategray_093f5a: #093f5a;
$slategrey_4a738d: #4a738d;
$darkblue_000088: #000088;
$darkslateblue_002256: #002256;

$black_292830: #292830;
$darkslategray_282d36: #282d36;
//

$cornflowerblue_5897fb: #5897fb;
$dodgerblue_3875d7: #3875d7;
$deepskyblue_33B8FF: #33b8ff;
$cadetblue_42b6c9: #42b6c9;
$cadetblue_52949a: #52949a;
$cadetblue_5e9c8f: #5e9c8f;

$cornflowerblue_1662b0: #1662b0;

$cornflowerblue_7376C2: #7376c2;
$cornflowerblue_9290ec: #9290ec;
$cornflowerblue_999cdf: #999cdf;


$darkblue_352FC7: #352fc7;
$royalblue_0652dd: #0652dd;
$darkturquoise_2ac7e1: #2ac7e1;
$deepskyblue_4dbce9: #4dbce9;
$lavender_cee3f1: #cee3f1;
$lightblue_9AD6EA: #9ad6ea;
$lightblue_BFE1F5: #bfe1f5;
$lightblue_abcad9: #abcad9;
$lightblue_b8e3f5: #b8e3f5;
$lightblue_c6dfec: #c6dfec;
$lightskyblue_5cd0ff: #5cd0ff;
$lightskyblue_6aa6cc: #6aa6cc;
$lightskyblue_80C4EC: #80c4ec;
$lightsteelblue_A5C3D2: #a5c3d2;
$powderblue_C5E8EB: #c5e8eb;
$skyblue_4fbfda: #4fbfda;
$skyblue_5BBCDD: #5bbcdd;
$skyblue_61dafd: #61dafd;
$skyblue_88d1ee: #88d1ee;
$skyblue_95CEEF: #95ceef;
$skyblue_a8e2ff: #a8e2ff;
$color-blueb3: #2b9ddfb3;
$steelblue_006697: #006697;
$steelblue_005f8b: #005f8b;
$steelblue_0075bb: #0075bb;
$steelblue_007bb6: #007bb6;
$steelblue_0084bf: #0084bf;
$steelblue_01608b: #01608b;
$steelblue_077ab3: #077ab3;
$steelblue_1c81bb: #1c81bb;
$steelblue_2681c0: #2681c0;
$steelblue_268cc8: #268cc8;
$steelblue_285f87: #285f87;
$steelblue_288EBB: #288ebb;
$color-bluec0: #2b9ddfc0;
$steelblue_2f78a0: #2f78a0;
$steelblue_3F8FCC: #3f8fcc;
$steelblue_3a5a98: #3a5a98;
$steelblue_64A0C8: #64a0c8;
$slateblue_073caf: #073caf;
$steelblue_066496: #066496;
$steelblue_077bb9: #077bb9;
$mediumslateblue_8355e3: #8355e3;
$mediumslateblue_094de0: #094de0;
$mediumslateblue_0d57f5: #0d57f5;
$yellowgreen_c5e041: #c5e041;
$color-green-3: #c5e041;
$color-green-5: #369b4a;
$lightgreen_bcfaab: #bcfaab;
$mediumturquoise_54d8d8: #54d8d8;
$teal_27707c: #27707c;
$teal_2D818F: #2d818f;
$forestgreen_449d44: #449d44;
$forestgreen_47a447: #47a447;
$forestgreen_4cae4c: #4cae4c;
$green_009900: #009900;
$green_037b03: #037b03;
$seagreen_0a733d: #0a733d;
$seagreen_398439: #398439;
$olivedrab_5c973f: #5c973f;
$seagreen_3c763d: #3c763d;
$seagreen_4a984c: #4a984c;
$color-yellow4d: #ffbf014d;
$khaki_ffed9d: #ffed9d;
$lemonchiffon_FBEEC6: #fbeec6;
$yellow_ffee24: #ffee24;
$yellow_f5fb45: #f5fb45;
$firebrick_C10000: #c10000;
$deeppink_ff1493: #ff1493;
$deeppink_ff0995: #ff0995;
$indianred_a94442: #a94442;
$lightpink_f0a3a3: #f0a3a3;
$lightpink_ffaca8: #ffaca8;
$violet_F78BF2: #f78bf2;
$darkkhaki_B4924D: #b4924d;
$dimgray_795e53: #795e53;
$dimgrey_7f5c5c: #7f5c5c;
$dimgrey_896666: #896666;
$peachpuff_ffdab7: #ffdab7;
$rosybrown_BC8F8F: #bc8f8f;
$tan_D9BA9F: #d9ba9f;



$khaki_bfdc7a: #bfdc7a;

$lightseagreen_2BAAB1: #2baab1;
$oldlace_EDEDDE: #ededde;
$slateblue_734BA9: #734ba9;


//Special color variables:
$card-border: 1px solid rgba(var(--color-black--rgb), 0.12);
$card-box-shadow: 4px 4px 6px rgba(var(--color-black--rgb), 0.15);

// Monkey grey font color with darkmode option.
@mixin font-color-grey-darkmode {
  color: $color-monkey-grey;

  .darkmode & {
    color: $color-neutral-8--dark;
  }
}

// Base font color with darkmode option.
@mixin font-color-base-darkmode {
  color: $color-monkey-blue;

  .darkmode & {
    color: $color-neutral-8--dark;
  }
}
