// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$banana-name: 'banana';
$banana-x: 140px;
$banana-y: 120px;
$banana-offset-x: -140px;
$banana-offset-y: -120px;
$banana-width: 18px;
$banana-height: 15px;
$banana-total-width: 186px;
$banana-total-height: 178px;
$banana-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$banana: (140px, 120px, -140px, -120px, 18px, 15px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'banana', );
$card-ae-name: 'card-ae';
$card-ae-x: 0px;
$card-ae-y: 86px;
$card-ae-offset-x: 0px;
$card-ae-offset-y: -86px;
$card-ae-width: 34px;
$card-ae-height: 24px;
$card-ae-total-width: 186px;
$card-ae-total-height: 178px;
$card-ae-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$card-ae: (0px, 86px, 0px, -86px, 34px, 24px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'card-ae', );
$card-discover-name: 'card-discover';
$card-discover-x: 36px;
$card-discover-y: 86px;
$card-discover-offset-x: -36px;
$card-discover-offset-y: -86px;
$card-discover-width: 34px;
$card-discover-height: 24px;
$card-discover-total-width: 186px;
$card-discover-total-height: 178px;
$card-discover-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$card-discover: (36px, 86px, -36px, -86px, 34px, 24px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'card-discover', );
$card-mastercard-name: 'card-mastercard';
$card-mastercard-x: 72px;
$card-mastercard-y: 86px;
$card-mastercard-offset-x: -72px;
$card-mastercard-offset-y: -86px;
$card-mastercard-width: 34px;
$card-mastercard-height: 24px;
$card-mastercard-total-width: 186px;
$card-mastercard-total-height: 178px;
$card-mastercard-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$card-mastercard: (72px, 86px, -72px, -86px, 34px, 24px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'card-mastercard', );
$card-visa-name: 'card-visa';
$card-visa-x: 0px;
$card-visa-y: 112px;
$card-visa-offset-x: 0px;
$card-visa-offset-y: -112px;
$card-visa-width: 34px;
$card-visa-height: 24px;
$card-visa-total-width: 186px;
$card-visa-total-height: 178px;
$card-visa-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$card-visa: (0px, 112px, 0px, -112px, 34px, 24px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'card-visa', );
$card-name: 'card';
$card-x: 108px;
$card-y: 42px;
$card-offset-x: -108px;
$card-offset-y: -42px;
$card-width: 30px;
$card-height: 20px;
$card-total-width: 186px;
$card-total-height: 178px;
$card-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$card: (108px, 42px, -108px, -42px, 30px, 20px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'card', );
$flag-africa-name: 'flag-africa';
$flag-africa-x: 108px;
$flag-africa-y: 86px;
$flag-africa-offset-x: -108px;
$flag-africa-offset-y: -86px;
$flag-africa-width: 22px;
$flag-africa-height: 22px;
$flag-africa-total-width: 186px;
$flag-africa-total-height: 178px;
$flag-africa-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-africa: (108px, 86px, -108px, -86px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-africa', );
$flag-apac-other-name: 'flag-apac-other';
$flag-apac-other-x: 36px;
$flag-apac-other-y: 112px;
$flag-apac-other-offset-x: -36px;
$flag-apac-other-offset-y: -112px;
$flag-apac-other-width: 22px;
$flag-apac-other-height: 22px;
$flag-apac-other-total-width: 186px;
$flag-apac-other-total-height: 178px;
$flag-apac-other-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-apac-other: (36px, 112px, -36px, -112px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-apac-other', );
$flag-australia-name: 'flag-australia';
$flag-australia-x: 60px;
$flag-australia-y: 112px;
$flag-australia-offset-x: -60px;
$flag-australia-offset-y: -112px;
$flag-australia-width: 22px;
$flag-australia-height: 22px;
$flag-australia-total-width: 186px;
$flag-australia-total-height: 178px;
$flag-australia-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-australia: (60px, 112px, -60px, -112px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-australia', );
$flag-canada-name: 'flag-canada';
$flag-canada-x: 84px;
$flag-canada-y: 112px;
$flag-canada-offset-x: -84px;
$flag-canada-offset-y: -112px;
$flag-canada-width: 22px;
$flag-canada-height: 22px;
$flag-canada-total-width: 186px;
$flag-canada-total-height: 178px;
$flag-canada-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-canada: (84px, 112px, -84px, -112px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-canada', );
$flag-central-america-name: 'flag-central-america';
$flag-central-america-x: 164px;
$flag-central-america-y: 120px;
$flag-central-america-offset-x: -164px;
$flag-central-america-offset-y: -120px;
$flag-central-america-width: 22px;
$flag-central-america-height: 19px;
$flag-central-america-total-width: 186px;
$flag-central-america-total-height: 178px;
$flag-central-america-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-central-america: (164px, 120px, -164px, -120px, 22px, 19px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-central-america', );
$flag-central-asia-name: 'flag-central-asia';
$flag-central-asia-x: 108px;
$flag-central-asia-y: 112px;
$flag-central-asia-offset-x: -108px;
$flag-central-asia-offset-y: -112px;
$flag-central-asia-width: 22px;
$flag-central-asia-height: 22px;
$flag-central-asia-total-width: 186px;
$flag-central-asia-total-height: 178px;
$flag-central-asia-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-central-asia: (108px, 112px, -108px, -112px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-central-asia', );
$flag-china-name: 'flag-china';
$flag-china-x: 140px;
$flag-china-y: 0px;
$flag-china-offset-x: -140px;
$flag-china-offset-y: 0px;
$flag-china-width: 22px;
$flag-china-height: 22px;
$flag-china-total-width: 186px;
$flag-china-total-height: 178px;
$flag-china-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-china: (140px, 0px, -140px, 0px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-china', );
$flag-europe-western-name: 'flag-europe-western';
$flag-europe-western-x: 140px;
$flag-europe-western-y: 24px;
$flag-europe-western-offset-x: -140px;
$flag-europe-western-offset-y: -24px;
$flag-europe-western-width: 22px;
$flag-europe-western-height: 22px;
$flag-europe-western-total-width: 186px;
$flag-europe-western-total-height: 178px;
$flag-europe-western-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-europe-western: (140px, 24px, -140px, -24px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-europe-western', );
$flag-europe-name: 'flag-europe';
$flag-europe-x: 140px;
$flag-europe-y: 48px;
$flag-europe-offset-x: -140px;
$flag-europe-offset-y: -48px;
$flag-europe-width: 22px;
$flag-europe-height: 22px;
$flag-europe-total-width: 186px;
$flag-europe-total-height: 178px;
$flag-europe-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-europe: (140px, 48px, -140px, -48px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-europe', );
$flag-france-name: 'flag-france';
$flag-france-x: 140px;
$flag-france-y: 72px;
$flag-france-offset-x: -140px;
$flag-france-offset-y: -72px;
$flag-france-width: 22px;
$flag-france-height: 22px;
$flag-france-total-width: 186px;
$flag-france-total-height: 178px;
$flag-france-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-france: (140px, 72px, -140px, -72px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-france', );
$flag-germany-name: 'flag-germany';
$flag-germany-x: 140px;
$flag-germany-y: 96px;
$flag-germany-offset-x: -140px;
$flag-germany-offset-y: -96px;
$flag-germany-width: 22px;
$flag-germany-height: 22px;
$flag-germany-total-width: 186px;
$flag-germany-total-height: 178px;
$flag-germany-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-germany: (140px, 96px, -140px, -96px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-germany', );
$flag-global-name: 'flag-global';
$flag-global-x: 0px;
$flag-global-y: 138px;
$flag-global-offset-x: 0px;
$flag-global-offset-y: -138px;
$flag-global-width: 22px;
$flag-global-height: 22px;
$flag-global-total-width: 186px;
$flag-global-total-height: 178px;
$flag-global-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-global: (0px, 138px, 0px, -138px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-global', );
$flag-hongkong-name: 'flag-hongkong';
$flag-hongkong-x: 24px;
$flag-hongkong-y: 138px;
$flag-hongkong-offset-x: -24px;
$flag-hongkong-offset-y: -138px;
$flag-hongkong-width: 22px;
$flag-hongkong-height: 22px;
$flag-hongkong-total-width: 186px;
$flag-hongkong-total-height: 178px;
$flag-hongkong-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-hongkong: (24px, 138px, -24px, -138px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-hongkong', );
$flag-india-name: 'flag-india';
$flag-india-x: 48px;
$flag-india-y: 138px;
$flag-india-offset-x: -48px;
$flag-india-offset-y: -138px;
$flag-india-width: 22px;
$flag-india-height: 22px;
$flag-india-total-width: 186px;
$flag-india-total-height: 178px;
$flag-india-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-india: (48px, 138px, -48px, -138px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-india', );
$flag-italy-name: 'flag-italy';
$flag-italy-x: 72px;
$flag-italy-y: 138px;
$flag-italy-offset-x: -72px;
$flag-italy-offset-y: -138px;
$flag-italy-width: 22px;
$flag-italy-height: 22px;
$flag-italy-total-width: 186px;
$flag-italy-total-height: 178px;
$flag-italy-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-italy: (72px, 138px, -72px, -138px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-italy', );
$flag-middle-east-name: 'flag-middle-east';
$flag-middle-east-x: 96px;
$flag-middle-east-y: 138px;
$flag-middle-east-offset-x: -96px;
$flag-middle-east-offset-y: -138px;
$flag-middle-east-width: 22px;
$flag-middle-east-height: 22px;
$flag-middle-east-total-width: 186px;
$flag-middle-east-total-height: 178px;
$flag-middle-east-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-middle-east: (96px, 138px, -96px, -138px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-middle-east', );
$flag-russia-name: 'flag-russia';
$flag-russia-x: 120px;
$flag-russia-y: 138px;
$flag-russia-offset-x: -120px;
$flag-russia-offset-y: -138px;
$flag-russia-width: 22px;
$flag-russia-height: 22px;
$flag-russia-total-width: 186px;
$flag-russia-total-height: 178px;
$flag-russia-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-russia: (120px, 138px, -120px, -138px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-russia', );
$flag-singapore-name: 'flag-singapore';
$flag-singapore-x: 164px;
$flag-singapore-y: 0px;
$flag-singapore-offset-x: -164px;
$flag-singapore-offset-y: 0px;
$flag-singapore-width: 22px;
$flag-singapore-height: 22px;
$flag-singapore-total-width: 186px;
$flag-singapore-total-height: 178px;
$flag-singapore-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-singapore: (164px, 0px, -164px, 0px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-singapore', );
$flag-south-america-name: 'flag-south-america';
$flag-south-america-x: 164px;
$flag-south-america-y: 24px;
$flag-south-america-offset-x: -164px;
$flag-south-america-offset-y: -24px;
$flag-south-america-width: 22px;
$flag-south-america-height: 22px;
$flag-south-america-total-width: 186px;
$flag-south-america-total-height: 178px;
$flag-south-america-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-south-america: (164px, 24px, -164px, -24px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-south-america', );
$flag-uk-name: 'flag-uk';
$flag-uk-x: 164px;
$flag-uk-y: 48px;
$flag-uk-offset-x: -164px;
$flag-uk-offset-y: -48px;
$flag-uk-width: 22px;
$flag-uk-height: 22px;
$flag-uk-total-width: 186px;
$flag-uk-total-height: 178px;
$flag-uk-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-uk: (164px, 48px, -164px, -48px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-uk', );
$flag-ukraine-name: 'flag-ukraine';
$flag-ukraine-x: 164px;
$flag-ukraine-y: 72px;
$flag-ukraine-offset-x: -164px;
$flag-ukraine-offset-y: -72px;
$flag-ukraine-width: 22px;
$flag-ukraine-height: 22px;
$flag-ukraine-total-width: 186px;
$flag-ukraine-total-height: 178px;
$flag-ukraine-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-ukraine: (164px, 72px, -164px, -72px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-ukraine', );
$flag-usa-name: 'flag-usa';
$flag-usa-x: 164px;
$flag-usa-y: 96px;
$flag-usa-offset-x: -164px;
$flag-usa-offset-y: -96px;
$flag-usa-width: 22px;
$flag-usa-height: 22px;
$flag-usa-total-width: 186px;
$flag-usa-total-height: 178px;
$flag-usa-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$flag-usa: (164px, 96px, -164px, -96px, 22px, 22px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'flag-usa', );
$grippie-name: 'grippie';
$grippie-x: 42px;
$grippie-y: 78px;
$grippie-offset-x: -42px;
$grippie-offset-y: -78px;
$grippie-width: 27px;
$grippie-height: 5px;
$grippie-total-width: 186px;
$grippie-total-height: 178px;
$grippie-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$grippie: (42px, 78px, -42px, -78px, 27px, 5px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'grippie', );
$icon-close-dark-name: 'icon-close-dark';
$icon-close-dark-x: 90px;
$icon-close-dark-y: 44px;
$icon-close-dark-offset-x: -90px;
$icon-close-dark-offset-y: -44px;
$icon-close-dark-width: 16px;
$icon-close-dark-height: 16px;
$icon-close-dark-total-width: 186px;
$icon-close-dark-total-height: 178px;
$icon-close-dark-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$icon-close-dark: (90px, 44px, -90px, -44px, 16px, 16px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'icon-close-dark', );
$icon-close-name: 'icon-close';
$icon-close-x: 0px;
$icon-close-y: 162px;
$icon-close-offset-x: 0px;
$icon-close-offset-y: -162px;
$icon-close-width: 16px;
$icon-close-height: 16px;
$icon-close-total-width: 186px;
$icon-close-total-height: 178px;
$icon-close-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$icon-close: (0px, 162px, 0px, -162px, 16px, 16px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'icon-close', );
$icon-green-circle-plus-name: 'icon-green-circle-plus';
$icon-green-circle-plus-x: 18px;
$icon-green-circle-plus-y: 162px;
$icon-green-circle-plus-offset-x: -18px;
$icon-green-circle-plus-offset-y: -162px;
$icon-green-circle-plus-width: 16px;
$icon-green-circle-plus-height: 16px;
$icon-green-circle-plus-total-width: 186px;
$icon-green-circle-plus-total-height: 178px;
$icon-green-circle-plus-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$icon-green-circle-plus: (18px, 162px, -18px, -162px, 16px, 16px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'icon-green-circle-plus', );
$icon-money-back-name: 'icon-money-back';
$icon-money-back-x: 66px;
$icon-money-back-y: 0px;
$icon-money-back-offset-x: -66px;
$icon-money-back-offset-y: 0px;
$icon-money-back-width: 40px;
$icon-money-back-height: 40px;
$icon-money-back-total-width: 186px;
$icon-money-back-total-height: 178px;
$icon-money-back-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$icon-money-back: (66px, 0px, -66px, 0px, 40px, 40px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'icon-money-back', );
$icon-privacy-name: 'icon-privacy';
$icon-privacy-x: 0px;
$icon-privacy-y: 44px;
$icon-privacy-offset-x: 0px;
$icon-privacy-offset-y: -44px;
$icon-privacy-width: 40px;
$icon-privacy-height: 40px;
$icon-privacy-total-width: 186px;
$icon-privacy-total-height: 178px;
$icon-privacy-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$icon-privacy: (0px, 44px, 0px, -44px, 40px, 40px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'icon-privacy', );
$icon-secure-name: 'icon-secure';
$icon-secure-x: 108px;
$icon-secure-y: 0px;
$icon-secure-offset-x: -108px;
$icon-secure-offset-y: 0px;
$icon-secure-width: 30px;
$icon-secure-height: 40px;
$icon-secure-total-width: 186px;
$icon-secure-total-height: 178px;
$icon-secure-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$icon-secure: (108px, 0px, -108px, 0px, 30px, 40px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'icon-secure', );
$icon-share-name: 'icon-share';
$icon-share-x: 144px;
$icon-share-y: 138px;
$icon-share-offset-x: -144px;
$icon-share-offset-y: -138px;
$icon-share-width: 18px;
$icon-share-height: 18px;
$icon-share-total-width: 186px;
$icon-share-total-height: 178px;
$icon-share-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$icon-share: (144px, 138px, -144px, -138px, 18px, 18px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'icon-share', );
$label-resource-name: 'label-resource';
$label-resource-x: 0px;
$label-resource-y: 0px;
$label-resource-offset-x: 0px;
$label-resource-offset-y: 0px;
$label-resource-width: 64px;
$label-resource-height: 42px;
$label-resource-total-width: 186px;
$label-resource-total-height: 178px;
$label-resource-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$label-resource: (0px, 0px, 0px, 0px, 64px, 42px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'label-resource', );
$paypal-name: 'paypal';
$paypal-x: 42px;
$paypal-y: 44px;
$paypal-offset-x: -42px;
$paypal-offset-y: -44px;
$paypal-width: 46px;
$paypal-height: 32px;
$paypal-total-width: 186px;
$paypal-total-height: 178px;
$paypal-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$paypal: (42px, 44px, -42px, -44px, 46px, 32px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'paypal', );
$poop-name: 'poop';
$poop-x: 164px;
$poop-y: 141px;
$poop-offset-x: -164px;
$poop-offset-y: -141px;
$poop-width: 19px;
$poop-height: 18px;
$poop-total-width: 186px;
$poop-total-height: 178px;
$poop-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$poop: (164px, 141px, -164px, -141px, 19px, 18px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'poop', );
$silver-banana-name: 'silver-banana';
$silver-banana-x: 108px;
$silver-banana-y: 64px;
$silver-banana-offset-x: -108px;
$silver-banana-offset-y: -64px;
$silver-banana-width: 23px;
$silver-banana-height: 19px;
$silver-banana-total-width: 186px;
$silver-banana-total-height: 178px;
$silver-banana-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$silver-banana: (108px, 64px, -108px, -64px, 23px, 19px, 186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', 'silver-banana', );
$banana-2x-name: 'banana@2x';
$banana-2x-x: 280px;
$banana-2x-y: 240px;
$banana-2x-offset-x: -280px;
$banana-2x-offset-y: -240px;
$banana-2x-width: 36px;
$banana-2x-height: 30px;
$banana-2x-total-width: 372px;
$banana-2x-total-height: 356px;
$banana-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$banana-2x: (280px, 240px, -280px, -240px, 36px, 30px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'banana@2x', );
$card-ae-2x-name: 'card-ae@2x';
$card-ae-2x-x: 0px;
$card-ae-2x-y: 172px;
$card-ae-2x-offset-x: 0px;
$card-ae-2x-offset-y: -172px;
$card-ae-2x-width: 68px;
$card-ae-2x-height: 48px;
$card-ae-2x-total-width: 372px;
$card-ae-2x-total-height: 356px;
$card-ae-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$card-ae-2x: (0px, 172px, 0px, -172px, 68px, 48px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'card-ae@2x', );
$card-discover-2x-name: 'card-discover@2x';
$card-discover-2x-x: 72px;
$card-discover-2x-y: 172px;
$card-discover-2x-offset-x: -72px;
$card-discover-2x-offset-y: -172px;
$card-discover-2x-width: 68px;
$card-discover-2x-height: 48px;
$card-discover-2x-total-width: 372px;
$card-discover-2x-total-height: 356px;
$card-discover-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$card-discover-2x: (72px, 172px, -72px, -172px, 68px, 48px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'card-discover@2x', );
$card-mastercard-2x-name: 'card-mastercard@2x';
$card-mastercard-2x-x: 144px;
$card-mastercard-2x-y: 172px;
$card-mastercard-2x-offset-x: -144px;
$card-mastercard-2x-offset-y: -172px;
$card-mastercard-2x-width: 68px;
$card-mastercard-2x-height: 48px;
$card-mastercard-2x-total-width: 372px;
$card-mastercard-2x-total-height: 356px;
$card-mastercard-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$card-mastercard-2x: (144px, 172px, -144px, -172px, 68px, 48px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'card-mastercard@2x', );
$card-visa-2x-name: 'card-visa@2x';
$card-visa-2x-x: 0px;
$card-visa-2x-y: 224px;
$card-visa-2x-offset-x: 0px;
$card-visa-2x-offset-y: -224px;
$card-visa-2x-width: 68px;
$card-visa-2x-height: 48px;
$card-visa-2x-total-width: 372px;
$card-visa-2x-total-height: 356px;
$card-visa-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$card-visa-2x: (0px, 224px, 0px, -224px, 68px, 48px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'card-visa@2x', );
$card-2x-name: 'card@2x';
$card-2x-x: 216px;
$card-2x-y: 84px;
$card-2x-offset-x: -216px;
$card-2x-offset-y: -84px;
$card-2x-width: 60px;
$card-2x-height: 40px;
$card-2x-total-width: 372px;
$card-2x-total-height: 356px;
$card-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$card-2x: (216px, 84px, -216px, -84px, 60px, 40px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'card@2x', );
$flag-africa-2x-name: 'flag-africa@2x';
$flag-africa-2x-x: 216px;
$flag-africa-2x-y: 172px;
$flag-africa-2x-offset-x: -216px;
$flag-africa-2x-offset-y: -172px;
$flag-africa-2x-width: 44px;
$flag-africa-2x-height: 44px;
$flag-africa-2x-total-width: 372px;
$flag-africa-2x-total-height: 356px;
$flag-africa-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-africa-2x: (216px, 172px, -216px, -172px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-africa@2x', );
$flag-apac-other-2x-name: 'flag-apac-other@2x';
$flag-apac-other-2x-x: 72px;
$flag-apac-other-2x-y: 224px;
$flag-apac-other-2x-offset-x: -72px;
$flag-apac-other-2x-offset-y: -224px;
$flag-apac-other-2x-width: 44px;
$flag-apac-other-2x-height: 44px;
$flag-apac-other-2x-total-width: 372px;
$flag-apac-other-2x-total-height: 356px;
$flag-apac-other-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-apac-other-2x: (72px, 224px, -72px, -224px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-apac-other@2x', );
$flag-australia-2x-name: 'flag-australia@2x';
$flag-australia-2x-x: 120px;
$flag-australia-2x-y: 224px;
$flag-australia-2x-offset-x: -120px;
$flag-australia-2x-offset-y: -224px;
$flag-australia-2x-width: 44px;
$flag-australia-2x-height: 44px;
$flag-australia-2x-total-width: 372px;
$flag-australia-2x-total-height: 356px;
$flag-australia-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-australia-2x: (120px, 224px, -120px, -224px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-australia@2x', );
$flag-canada-2x-name: 'flag-canada@2x';
$flag-canada-2x-x: 168px;
$flag-canada-2x-y: 224px;
$flag-canada-2x-offset-x: -168px;
$flag-canada-2x-offset-y: -224px;
$flag-canada-2x-width: 44px;
$flag-canada-2x-height: 44px;
$flag-canada-2x-total-width: 372px;
$flag-canada-2x-total-height: 356px;
$flag-canada-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-canada-2x: (168px, 224px, -168px, -224px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-canada@2x', );
$flag-central-america-2x-name: 'flag-central-america@2x';
$flag-central-america-2x-x: 328px;
$flag-central-america-2x-y: 240px;
$flag-central-america-2x-offset-x: -328px;
$flag-central-america-2x-offset-y: -240px;
$flag-central-america-2x-width: 44px;
$flag-central-america-2x-height: 38px;
$flag-central-america-2x-total-width: 372px;
$flag-central-america-2x-total-height: 356px;
$flag-central-america-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-central-america-2x: (328px, 240px, -328px, -240px, 44px, 38px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-central-america@2x', );
$flag-central-asia-2x-name: 'flag-central-asia@2x';
$flag-central-asia-2x-x: 216px;
$flag-central-asia-2x-y: 224px;
$flag-central-asia-2x-offset-x: -216px;
$flag-central-asia-2x-offset-y: -224px;
$flag-central-asia-2x-width: 44px;
$flag-central-asia-2x-height: 44px;
$flag-central-asia-2x-total-width: 372px;
$flag-central-asia-2x-total-height: 356px;
$flag-central-asia-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-central-asia-2x: (216px, 224px, -216px, -224px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-central-asia@2x', );
$flag-china-2x-name: 'flag-china@2x';
$flag-china-2x-x: 280px;
$flag-china-2x-y: 0px;
$flag-china-2x-offset-x: -280px;
$flag-china-2x-offset-y: 0px;
$flag-china-2x-width: 44px;
$flag-china-2x-height: 44px;
$flag-china-2x-total-width: 372px;
$flag-china-2x-total-height: 356px;
$flag-china-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-china-2x: (280px, 0px, -280px, 0px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-china@2x', );
$flag-europe-western-2x-name: 'flag-europe-western@2x';
$flag-europe-western-2x-x: 280px;
$flag-europe-western-2x-y: 48px;
$flag-europe-western-2x-offset-x: -280px;
$flag-europe-western-2x-offset-y: -48px;
$flag-europe-western-2x-width: 44px;
$flag-europe-western-2x-height: 44px;
$flag-europe-western-2x-total-width: 372px;
$flag-europe-western-2x-total-height: 356px;
$flag-europe-western-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-europe-western-2x: (280px, 48px, -280px, -48px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-europe-western@2x', );
$flag-europe-2x-name: 'flag-europe@2x';
$flag-europe-2x-x: 280px;
$flag-europe-2x-y: 96px;
$flag-europe-2x-offset-x: -280px;
$flag-europe-2x-offset-y: -96px;
$flag-europe-2x-width: 44px;
$flag-europe-2x-height: 44px;
$flag-europe-2x-total-width: 372px;
$flag-europe-2x-total-height: 356px;
$flag-europe-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-europe-2x: (280px, 96px, -280px, -96px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-europe@2x', );
$flag-france-2x-name: 'flag-france@2x';
$flag-france-2x-x: 280px;
$flag-france-2x-y: 144px;
$flag-france-2x-offset-x: -280px;
$flag-france-2x-offset-y: -144px;
$flag-france-2x-width: 44px;
$flag-france-2x-height: 44px;
$flag-france-2x-total-width: 372px;
$flag-france-2x-total-height: 356px;
$flag-france-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-france-2x: (280px, 144px, -280px, -144px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-france@2x', );
$flag-germany-2x-name: 'flag-germany@2x';
$flag-germany-2x-x: 280px;
$flag-germany-2x-y: 192px;
$flag-germany-2x-offset-x: -280px;
$flag-germany-2x-offset-y: -192px;
$flag-germany-2x-width: 44px;
$flag-germany-2x-height: 44px;
$flag-germany-2x-total-width: 372px;
$flag-germany-2x-total-height: 356px;
$flag-germany-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-germany-2x: (280px, 192px, -280px, -192px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-germany@2x', );
$flag-global-2x-name: 'flag-global@2x';
$flag-global-2x-x: 0px;
$flag-global-2x-y: 276px;
$flag-global-2x-offset-x: 0px;
$flag-global-2x-offset-y: -276px;
$flag-global-2x-width: 44px;
$flag-global-2x-height: 44px;
$flag-global-2x-total-width: 372px;
$flag-global-2x-total-height: 356px;
$flag-global-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-global-2x: (0px, 276px, 0px, -276px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-global@2x', );
$flag-hongkong-2x-name: 'flag-hongkong@2x';
$flag-hongkong-2x-x: 48px;
$flag-hongkong-2x-y: 276px;
$flag-hongkong-2x-offset-x: -48px;
$flag-hongkong-2x-offset-y: -276px;
$flag-hongkong-2x-width: 44px;
$flag-hongkong-2x-height: 44px;
$flag-hongkong-2x-total-width: 372px;
$flag-hongkong-2x-total-height: 356px;
$flag-hongkong-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-hongkong-2x: (48px, 276px, -48px, -276px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-hongkong@2x', );
$flag-india-2x-name: 'flag-india@2x';
$flag-india-2x-x: 96px;
$flag-india-2x-y: 276px;
$flag-india-2x-offset-x: -96px;
$flag-india-2x-offset-y: -276px;
$flag-india-2x-width: 44px;
$flag-india-2x-height: 44px;
$flag-india-2x-total-width: 372px;
$flag-india-2x-total-height: 356px;
$flag-india-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-india-2x: (96px, 276px, -96px, -276px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-india@2x', );
$flag-italy-2x-name: 'flag-italy@2x';
$flag-italy-2x-x: 144px;
$flag-italy-2x-y: 276px;
$flag-italy-2x-offset-x: -144px;
$flag-italy-2x-offset-y: -276px;
$flag-italy-2x-width: 44px;
$flag-italy-2x-height: 44px;
$flag-italy-2x-total-width: 372px;
$flag-italy-2x-total-height: 356px;
$flag-italy-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-italy-2x: (144px, 276px, -144px, -276px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-italy@2x', );
$flag-middle-east-2x-name: 'flag-middle-east@2x';
$flag-middle-east-2x-x: 192px;
$flag-middle-east-2x-y: 276px;
$flag-middle-east-2x-offset-x: -192px;
$flag-middle-east-2x-offset-y: -276px;
$flag-middle-east-2x-width: 44px;
$flag-middle-east-2x-height: 44px;
$flag-middle-east-2x-total-width: 372px;
$flag-middle-east-2x-total-height: 356px;
$flag-middle-east-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-middle-east-2x: (192px, 276px, -192px, -276px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-middle-east@2x', );
$flag-russia-2x-name: 'flag-russia@2x';
$flag-russia-2x-x: 240px;
$flag-russia-2x-y: 276px;
$flag-russia-2x-offset-x: -240px;
$flag-russia-2x-offset-y: -276px;
$flag-russia-2x-width: 44px;
$flag-russia-2x-height: 44px;
$flag-russia-2x-total-width: 372px;
$flag-russia-2x-total-height: 356px;
$flag-russia-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-russia-2x: (240px, 276px, -240px, -276px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-russia@2x', );
$flag-singapore-2x-name: 'flag-singapore@2x';
$flag-singapore-2x-x: 328px;
$flag-singapore-2x-y: 0px;
$flag-singapore-2x-offset-x: -328px;
$flag-singapore-2x-offset-y: 0px;
$flag-singapore-2x-width: 44px;
$flag-singapore-2x-height: 44px;
$flag-singapore-2x-total-width: 372px;
$flag-singapore-2x-total-height: 356px;
$flag-singapore-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-singapore-2x: (328px, 0px, -328px, 0px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-singapore@2x', );
$flag-south-america-2x-name: 'flag-south-america@2x';
$flag-south-america-2x-x: 328px;
$flag-south-america-2x-y: 48px;
$flag-south-america-2x-offset-x: -328px;
$flag-south-america-2x-offset-y: -48px;
$flag-south-america-2x-width: 44px;
$flag-south-america-2x-height: 44px;
$flag-south-america-2x-total-width: 372px;
$flag-south-america-2x-total-height: 356px;
$flag-south-america-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-south-america-2x: (328px, 48px, -328px, -48px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-south-america@2x', );
$flag-uk-2x-name: 'flag-uk@2x';
$flag-uk-2x-x: 328px;
$flag-uk-2x-y: 96px;
$flag-uk-2x-offset-x: -328px;
$flag-uk-2x-offset-y: -96px;
$flag-uk-2x-width: 44px;
$flag-uk-2x-height: 44px;
$flag-uk-2x-total-width: 372px;
$flag-uk-2x-total-height: 356px;
$flag-uk-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-uk-2x: (328px, 96px, -328px, -96px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-uk@2x', );
$flag-ukraine-2x-name: 'flag-ukraine@2x';
$flag-ukraine-2x-x: 328px;
$flag-ukraine-2x-y: 144px;
$flag-ukraine-2x-offset-x: -328px;
$flag-ukraine-2x-offset-y: -144px;
$flag-ukraine-2x-width: 44px;
$flag-ukraine-2x-height: 44px;
$flag-ukraine-2x-total-width: 372px;
$flag-ukraine-2x-total-height: 356px;
$flag-ukraine-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-ukraine-2x: (328px, 144px, -328px, -144px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-ukraine@2x', );
$flag-usa-2x-name: 'flag-usa@2x';
$flag-usa-2x-x: 328px;
$flag-usa-2x-y: 192px;
$flag-usa-2x-offset-x: -328px;
$flag-usa-2x-offset-y: -192px;
$flag-usa-2x-width: 44px;
$flag-usa-2x-height: 44px;
$flag-usa-2x-total-width: 372px;
$flag-usa-2x-total-height: 356px;
$flag-usa-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$flag-usa-2x: (328px, 192px, -328px, -192px, 44px, 44px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'flag-usa@2x', );
$grippie-2x-name: 'grippie@2x';
$grippie-2x-x: 84px;
$grippie-2x-y: 156px;
$grippie-2x-offset-x: -84px;
$grippie-2x-offset-y: -156px;
$grippie-2x-width: 54px;
$grippie-2x-height: 10px;
$grippie-2x-total-width: 372px;
$grippie-2x-total-height: 356px;
$grippie-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$grippie-2x: (84px, 156px, -84px, -156px, 54px, 10px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'grippie@2x', );
$icon-close-dark-2x-name: 'icon-close-dark@2x';
$icon-close-dark-2x-x: 180px;
$icon-close-dark-2x-y: 88px;
$icon-close-dark-2x-offset-x: -180px;
$icon-close-dark-2x-offset-y: -88px;
$icon-close-dark-2x-width: 32px;
$icon-close-dark-2x-height: 32px;
$icon-close-dark-2x-total-width: 372px;
$icon-close-dark-2x-total-height: 356px;
$icon-close-dark-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$icon-close-dark-2x: (180px, 88px, -180px, -88px, 32px, 32px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'icon-close-dark@2x', );
$icon-close-2x-name: 'icon-close@2x';
$icon-close-2x-x: 0px;
$icon-close-2x-y: 324px;
$icon-close-2x-offset-x: 0px;
$icon-close-2x-offset-y: -324px;
$icon-close-2x-width: 32px;
$icon-close-2x-height: 32px;
$icon-close-2x-total-width: 372px;
$icon-close-2x-total-height: 356px;
$icon-close-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$icon-close-2x: (0px, 324px, 0px, -324px, 32px, 32px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'icon-close@2x', );
$icon-green-circle-plus-2x-name: 'icon-green-circle-plus@2x';
$icon-green-circle-plus-2x-x: 36px;
$icon-green-circle-plus-2x-y: 324px;
$icon-green-circle-plus-2x-offset-x: -36px;
$icon-green-circle-plus-2x-offset-y: -324px;
$icon-green-circle-plus-2x-width: 32px;
$icon-green-circle-plus-2x-height: 32px;
$icon-green-circle-plus-2x-total-width: 372px;
$icon-green-circle-plus-2x-total-height: 356px;
$icon-green-circle-plus-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$icon-green-circle-plus-2x: (36px, 324px, -36px, -324px, 32px, 32px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'icon-green-circle-plus@2x', );
$icon-money-back-2x-name: 'icon-money-back@2x';
$icon-money-back-2x-x: 132px;
$icon-money-back-2x-y: 0px;
$icon-money-back-2x-offset-x: -132px;
$icon-money-back-2x-offset-y: 0px;
$icon-money-back-2x-width: 80px;
$icon-money-back-2x-height: 80px;
$icon-money-back-2x-total-width: 372px;
$icon-money-back-2x-total-height: 356px;
$icon-money-back-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$icon-money-back-2x: (132px, 0px, -132px, 0px, 80px, 80px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'icon-money-back@2x', );
$icon-privacy-2x-name: 'icon-privacy@2x';
$icon-privacy-2x-x: 0px;
$icon-privacy-2x-y: 88px;
$icon-privacy-2x-offset-x: 0px;
$icon-privacy-2x-offset-y: -88px;
$icon-privacy-2x-width: 80px;
$icon-privacy-2x-height: 80px;
$icon-privacy-2x-total-width: 372px;
$icon-privacy-2x-total-height: 356px;
$icon-privacy-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$icon-privacy-2x: (0px, 88px, 0px, -88px, 80px, 80px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'icon-privacy@2x', );
$icon-secure-2x-name: 'icon-secure@2x';
$icon-secure-2x-x: 216px;
$icon-secure-2x-y: 0px;
$icon-secure-2x-offset-x: -216px;
$icon-secure-2x-offset-y: 0px;
$icon-secure-2x-width: 60px;
$icon-secure-2x-height: 80px;
$icon-secure-2x-total-width: 372px;
$icon-secure-2x-total-height: 356px;
$icon-secure-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$icon-secure-2x: (216px, 0px, -216px, 0px, 60px, 80px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'icon-secure@2x', );
$icon-share-2x-name: 'icon-share@2x';
$icon-share-2x-x: 288px;
$icon-share-2x-y: 276px;
$icon-share-2x-offset-x: -288px;
$icon-share-2x-offset-y: -276px;
$icon-share-2x-width: 36px;
$icon-share-2x-height: 36px;
$icon-share-2x-total-width: 372px;
$icon-share-2x-total-height: 356px;
$icon-share-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$icon-share-2x: (288px, 276px, -288px, -276px, 36px, 36px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'icon-share@2x', );
$label-resource-2x-name: 'label-resource@2x';
$label-resource-2x-x: 0px;
$label-resource-2x-y: 0px;
$label-resource-2x-offset-x: 0px;
$label-resource-2x-offset-y: 0px;
$label-resource-2x-width: 128px;
$label-resource-2x-height: 84px;
$label-resource-2x-total-width: 372px;
$label-resource-2x-total-height: 356px;
$label-resource-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$label-resource-2x: (0px, 0px, 0px, 0px, 128px, 84px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'label-resource@2x', );
$paypal-2x-name: 'paypal@2x';
$paypal-2x-x: 84px;
$paypal-2x-y: 88px;
$paypal-2x-offset-x: -84px;
$paypal-2x-offset-y: -88px;
$paypal-2x-width: 92px;
$paypal-2x-height: 64px;
$paypal-2x-total-width: 372px;
$paypal-2x-total-height: 356px;
$paypal-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$paypal-2x: (84px, 88px, -84px, -88px, 92px, 64px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'paypal@2x', );
$poop-2x-name: 'poop@2x';
$poop-2x-x: 328px;
$poop-2x-y: 282px;
$poop-2x-offset-x: -328px;
$poop-2x-offset-y: -282px;
$poop-2x-width: 38px;
$poop-2x-height: 36px;
$poop-2x-total-width: 372px;
$poop-2x-total-height: 356px;
$poop-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$poop-2x: (328px, 282px, -328px, -282px, 38px, 36px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'poop@2x', );
$silver-banana-2x-name: 'silver-banana@2x';
$silver-banana-2x-x: 216px;
$silver-banana-2x-y: 128px;
$silver-banana-2x-offset-x: -216px;
$silver-banana-2x-offset-y: -128px;
$silver-banana-2x-width: 46px;
$silver-banana-2x-height: 38px;
$silver-banana-2x-total-width: 372px;
$silver-banana-2x-total-height: 356px;
$silver-banana-2x-image: './assets/sprites/src/sprite@2x.png?v=4';
$silver-banana-2x: (216px, 128px, -216px, -128px, 46px, 38px, 372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', 'silver-banana@2x', );
$spritesheet-width: 186px;
$spritesheet-height: 178px;
$spritesheet-image: '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4';
$spritesheet-sprites: ($banana, $card-ae, $card-discover, $card-mastercard, $card-visa, $card, $flag-africa, $flag-apac-other, $flag-australia, $flag-canada, $flag-central-america, $flag-central-asia, $flag-china, $flag-europe-western, $flag-europe, $flag-france, $flag-germany, $flag-global, $flag-hongkong, $flag-india, $flag-italy, $flag-middle-east, $flag-russia, $flag-singapore, $flag-south-america, $flag-uk, $flag-ukraine, $flag-usa, $grippie, $icon-close-dark, $icon-close, $icon-green-circle-plus, $icon-money-back, $icon-privacy, $icon-secure, $icon-share, $label-resource, $paypal, $poop, $silver-banana, );
$spritesheet: (186px, 178px, '/themes/custom/porto_sub/assets/sprites/build/sprite.png?v=4', $spritesheet-sprites, );
$retina-spritesheet-width: 372px;
$retina-spritesheet-height: 356px;
$retina-spritesheet-image: './assets/sprites/src/sprite@2x.png?v=4';
$retina-spritesheet-sprites: ($banana-2x, $card-ae-2x, $card-discover-2x, $card-mastercard-2x, $card-visa-2x, $card-2x, $flag-africa-2x, $flag-apac-other-2x, $flag-australia-2x, $flag-canada-2x, $flag-central-america-2x, $flag-central-asia-2x, $flag-china-2x, $flag-europe-western-2x, $flag-europe-2x, $flag-france-2x, $flag-germany-2x, $flag-global-2x, $flag-hongkong-2x, $flag-india-2x, $flag-italy-2x, $flag-middle-east-2x, $flag-russia-2x, $flag-singapore-2x, $flag-south-america-2x, $flag-uk-2x, $flag-ukraine-2x, $flag-usa-2x, $grippie-2x, $icon-close-dark-2x, $icon-close-2x, $icon-green-circle-plus-2x, $icon-money-back-2x, $icon-privacy-2x, $icon-secure-2x, $icon-share-2x, $label-resource-2x, $paypal-2x, $poop-2x, $silver-banana-2x, );
$retina-spritesheet: (372px, 356px, './assets/sprites/src/sprite@2x.png?v=4', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$banana-group-name: 'banana';
$banana-group: ('banana', $banana, $banana-2x, );
$card-ae-group-name: 'card-ae';
$card-ae-group: ('card-ae', $card-ae, $card-ae-2x, );
$card-discover-group-name: 'card-discover';
$card-discover-group: ('card-discover', $card-discover, $card-discover-2x, );
$card-mastercard-group-name: 'card-mastercard';
$card-mastercard-group: ('card-mastercard', $card-mastercard, $card-mastercard-2x, );
$card-visa-group-name: 'card-visa';
$card-visa-group: ('card-visa', $card-visa, $card-visa-2x, );
$card-group-name: 'card';
$card-group: ('card', $card, $card-2x, );
$flag-africa-group-name: 'flag-africa';
$flag-africa-group: ('flag-africa', $flag-africa, $flag-africa-2x, );
$flag-apac-other-group-name: 'flag-apac-other';
$flag-apac-other-group: ('flag-apac-other', $flag-apac-other, $flag-apac-other-2x, );
$flag-australia-group-name: 'flag-australia';
$flag-australia-group: ('flag-australia', $flag-australia, $flag-australia-2x, );
$flag-canada-group-name: 'flag-canada';
$flag-canada-group: ('flag-canada', $flag-canada, $flag-canada-2x, );
$flag-central-america-group-name: 'flag-central-america';
$flag-central-america-group: ('flag-central-america', $flag-central-america, $flag-central-america-2x, );
$flag-central-asia-group-name: 'flag-central-asia';
$flag-central-asia-group: ('flag-central-asia', $flag-central-asia, $flag-central-asia-2x, );
$flag-china-group-name: 'flag-china';
$flag-china-group: ('flag-china', $flag-china, $flag-china-2x, );
$flag-europe-western-group-name: 'flag-europe-western';
$flag-europe-western-group: ('flag-europe-western', $flag-europe-western, $flag-europe-western-2x, );
$flag-europe-group-name: 'flag-europe';
$flag-europe-group: ('flag-europe', $flag-europe, $flag-europe-2x, );
$flag-france-group-name: 'flag-france';
$flag-france-group: ('flag-france', $flag-france, $flag-france-2x, );
$flag-germany-group-name: 'flag-germany';
$flag-germany-group: ('flag-germany', $flag-germany, $flag-germany-2x, );
$flag-global-group-name: 'flag-global';
$flag-global-group: ('flag-global', $flag-global, $flag-global-2x, );
$flag-hongkong-group-name: 'flag-hongkong';
$flag-hongkong-group: ('flag-hongkong', $flag-hongkong, $flag-hongkong-2x, );
$flag-india-group-name: 'flag-india';
$flag-india-group: ('flag-india', $flag-india, $flag-india-2x, );
$flag-italy-group-name: 'flag-italy';
$flag-italy-group: ('flag-italy', $flag-italy, $flag-italy-2x, );
$flag-middle-east-group-name: 'flag-middle-east';
$flag-middle-east-group: ('flag-middle-east', $flag-middle-east, $flag-middle-east-2x, );
$flag-russia-group-name: 'flag-russia';
$flag-russia-group: ('flag-russia', $flag-russia, $flag-russia-2x, );
$flag-singapore-group-name: 'flag-singapore';
$flag-singapore-group: ('flag-singapore', $flag-singapore, $flag-singapore-2x, );
$flag-south-america-group-name: 'flag-south-america';
$flag-south-america-group: ('flag-south-america', $flag-south-america, $flag-south-america-2x, );
$flag-uk-group-name: 'flag-uk';
$flag-uk-group: ('flag-uk', $flag-uk, $flag-uk-2x, );
$flag-ukraine-group-name: 'flag-ukraine';
$flag-ukraine-group: ('flag-ukraine', $flag-ukraine, $flag-ukraine-2x, );
$flag-usa-group-name: 'flag-usa';
$flag-usa-group: ('flag-usa', $flag-usa, $flag-usa-2x, );
$grippie-group-name: 'grippie';
$grippie-group: ('grippie', $grippie, $grippie-2x, );
$icon-close-dark-group-name: 'icon-close-dark';
$icon-close-dark-group: ('icon-close-dark', $icon-close-dark, $icon-close-dark-2x, );
$icon-close-group-name: 'icon-close';
$icon-close-group: ('icon-close', $icon-close, $icon-close-2x, );
$icon-green-circle-plus-group-name: 'icon-green-circle-plus';
$icon-green-circle-plus-group: ('icon-green-circle-plus', $icon-green-circle-plus, $icon-green-circle-plus-2x, );
$icon-money-back-group-name: 'icon-money-back';
$icon-money-back-group: ('icon-money-back', $icon-money-back, $icon-money-back-2x, );
$icon-privacy-group-name: 'icon-privacy';
$icon-privacy-group: ('icon-privacy', $icon-privacy, $icon-privacy-2x, );
$icon-secure-group-name: 'icon-secure';
$icon-secure-group: ('icon-secure', $icon-secure, $icon-secure-2x, );
$icon-share-group-name: 'icon-share';
$icon-share-group: ('icon-share', $icon-share, $icon-share-2x, );
$label-resource-group-name: 'label-resource';
$label-resource-group: ('label-resource', $label-resource, $label-resource-2x, );
$paypal-group-name: 'paypal';
$paypal-group: ('paypal', $paypal, $paypal-2x, );
$poop-group-name: 'poop';
$poop-group: ('poop', $poop, $poop-2x, );
$silver-banana-group-name: 'silver-banana';
$silver-banana-group: ('silver-banana', $silver-banana, $silver-banana-2x, );
$retina-groups: ($banana-group, $card-ae-group, $card-discover-group, $card-mastercard-group, $card-visa-group, $card-group, $flag-africa-group, $flag-apac-other-group, $flag-australia-group, $flag-canada-group, $flag-central-america-group, $flag-central-asia-group, $flag-china-group, $flag-europe-western-group, $flag-europe-group, $flag-france-group, $flag-germany-group, $flag-global-group, $flag-hongkong-group, $flag-india-group, $flag-italy-group, $flag-middle-east-group, $flag-russia-group, $flag-singapore-group, $flag-south-america-group, $flag-uk-group, $flag-ukraine-group, $flag-usa-group, $grippie-group, $icon-close-dark-group, $icon-close-group, $icon-green-circle-plus-group, $icon-money-back-group, $icon-privacy-group, $icon-secure-group, $icon-share-group, $label-resource-group, $paypal-group, $poop-group, $silver-banana-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
