/*
Top 10 WSO visitor's desktop resolutions
browser header ~ 50px
1440x900
1920x1080
1024x768
1280x720
1536x864
1366x768
1280x800
 */

$wso-bottom-panel-height: 64px;
$header-z-index: 1001;
$sprite-version: 4;
$mentor-booking-width: 320px;
$bottom-height: 36px;
$mobile-header-height: 48px;
