{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable field_card_title
 */
#}

{%
  set classes = [
    'entity',
    'entity-paragraphs-item',
    'paragraphs-item-' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    extra_class
  ]
%}

{{ attach_library('porto_sub/paragraph.labeled-container.component') }}

{% block paragraph %}
  {{ paragraph_anchor }}

  {% set anchor = 'paragraph-id-' ~ item_id %}
  {% if content.field_anchor['#items'] %}
    {# Defined specific ID for sticky menu anchor. #}
    {% set anchor = content.field_anchor|render|striptags|replace({' ':'', '#':''})|trim %}
  {% endif %}

  <div id={{ anchor }}></div>
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="labeled-container labeled-container__color-{{ color }}">
        <div class="labeled-container-wrapper labeled-container-wrapper__size-{{ size }} labeled-container-wrapper__line-{{ line }}">
          <div class="labeled-container__head">
            {% if content.field_label['#items'] %}
              <h5 class="labeled-container__label font-h5">
                {{- content.field_label.0|render -}}
              </h5>
            {% endif %}

            {% if content.field_title['#items'] %}
              <h2 class="labeled-container__title font-h2">
                {{- content.field_title.0|render -}}
              </h2>
            {% endif %}

            {% if content.field_description['#items'] %}
              <div class="labeled-container__description font-sm color-dark-70">
                {{ content.field_description }}
              </div>
            {% endif %}
          </div>

          <div class="labeled-container__content">
            {{ content|without(
              'field_anchor',
              'field_label',
              'field_title',
              'field_description',
            ) }}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
