@import './components/common-styles/helpers/mixins';
@import './components/00-base/style-guide-2023/colors/_color-variables.scss';

.paragraph-type--labeled-container {
  // Colors settings of container.
  .labeled-container {
    &.labeled-container__color-white {
      background-color: $color-white-100;
      .labeled-container__title {
        color: $color-dark-100;
      }
    }
    &.labeled-container__color-blush_grey {
      background-color: $color-bluish-grey;
      .labeled-container__title {
        color: $color-dark-100;
      }
    }
    &.labeled-container__color-monkey_blue {
      background-color: $color-monkey-blue;
      .labeled-container__title {
        color: $color-white-100;
      }
    }
    &.labeled-container__color-oasis_blue {
      background-color: $color-light-oasis;
      .labeled-container__title {
        color: $color-dark-100;
      }
    }
  }

  // Size settings of container.
  .labeled-container-wrapper {
    padding: 40px 16px;
    @include media('>=tablet') {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    // Content settings of container that depends on size.
    &.labeled-container-wrapper__size-spaced {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 768px) {
        max-width: 100%
      }

      @media (min-width: 768px) and (max-width: 992px) {
        max-width: 720px
      }

      @media (min-width: 992px) and (max-width: 1250px) {
        max-width: 960px
      }

      @media (min-width: 1250px) and (max-width: 1500px) {
        max-width: 1200px
      }

      @media (min-width: 1500px) {
        max-width: 1400px
      }

      @include media('>=tablet') {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        .labeled-container__head {
          .labeled-container__description {
            inline-size: 75%;
          }
        }
      }
      @include media('>=desktop', '<large-desktop') {
        padding-left: 0;
        padding-right: 40%;
      }
      @include media('>=large-desktop', '<2k-desktop') {
        padding-left: 0;
        padding-right: 35%;
      }
      @include media('>=2k-desktop', '<4k-desktop') {
        padding-left: 0;
        padding-right: 25%;
      }
      @include media('>=4k-desktop') {
        padding-left: 0;
        padding-right: 20%;
      }
    }

    // Content settings of container that depends on size.
    &.labeled-container-wrapper__size-full_screen {
      @include media('>=tablet') {
        padding-left: 0;
        padding-right: 0;

        .labeled-container__head {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .labeled-container__title {
            overflow-wrap: break-word;
            text-align: center;

            // @TODO
            inline-size: 80%;
            @include media('>=desktop') {
              inline-size: 40%;
            }
            @include media('>=large-desktop') {
              inline-size: 30%;
            }
            @include media('>4k-desktop') {
              inline-size: 25%;
            }
          }
        }
      }
    }

    position: relative;
    &.labeled-container-wrapper__line-1 {
      &:after {
        content : "";
        position: absolute;
        left: 16px;
        bottom: 0;
        height: 1px;
        width: calc(100% - 32px);
        border-bottom: 1px solid $color-dark-10;

        @include media('>=tablet') {
          left: 0;
          width: 55%;
        }
      }
    }
  }

  // Content settings of container.
  .labeled-container__head {
    .labeled-container__label {
      color: $color-oasis-blue;
      text-transform: uppercase;
      margin-bottom: 10px;
      @include media('>=tablet') {
        margin-bottom: 12px;
      }
    }

    .labeled-container__title {
      margin-bottom: 10px;
    }

    .labeled-container__description {
      margin-bottom: 30px;
    }
  }
}

.labeled-container__content {
  .paragraph--type--wso-paragraph-image.w-auto img {
    max-width: 100%;
    height: auto;
  }
}
