.paragraph-type--labeled-container .labeled-container.labeled-container__color-white {
  background-color: #fff
}
.paragraph-type--labeled-container .labeled-container.labeled-container__color-white .labeled-container__title {
  color: #2f2f2f
}
.paragraph-type--labeled-container .labeled-container.labeled-container__color-blush_grey {
  background-color: #f5f7f8
}
.paragraph-type--labeled-container .labeled-container.labeled-container__color-blush_grey .labeled-container__title {
  color: #2f2f2f
}
.paragraph-type--labeled-container .labeled-container.labeled-container__color-monkey_blue {
  background-color: #0a4059
}
.paragraph-type--labeled-container .labeled-container.labeled-container__color-monkey_blue .labeled-container__title {
  color: #fff
}
.paragraph-type--labeled-container .labeled-container.labeled-container__color-oasis_blue {
  background-color: #b7e1f3
}
.paragraph-type--labeled-container .labeled-container.labeled-container__color-oasis_blue .labeled-container__title {
  color: #2f2f2f
}
.paragraph-type--labeled-container .labeled-container-wrapper {
  padding: 40px 16px;
  position: relative
}
.paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
  width: 100%;
  margin-left: auto;
  margin-right: auto
}
.paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__line-1:after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 0;
  height: 1px;
  width: calc(100% - 32px);
  border-bottom: 1px solid rgba(47, 47, 47, .1)
}
.paragraph-type--labeled-container .labeled-container__head .labeled-container__label {
  color: #189eda;
  text-transform: uppercase;
  margin-bottom: 10px
}
.paragraph-type--labeled-container .labeled-container__head .labeled-container__title {
  margin-bottom: 10px
}
.paragraph-type--labeled-container .labeled-container__head .labeled-container__description {
  margin-bottom: 30px
}
.labeled-container__content .paragraph--type--wso-paragraph-image.w-auto img {
  max-width: 100%;
  height: auto
}
@media (min-width: 768px) {
  .paragraph-type--labeled-container .labeled-container-wrapper {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced .labeled-container__head .labeled-container__description {
    inline-size: 75%
  }
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-full_screen {
    padding-left: 0;
    padding-right: 0
  }
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-full_screen .labeled-container__head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
  }
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-full_screen .labeled-container__head .labeled-container__title {
    overflow-wrap: break-word;
    text-align: center;
    inline-size: 80%
  }
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__line-1:after {
    left: 0;
    width: 55%
  }
  .paragraph-type--labeled-container .labeled-container__head .labeled-container__label {
    margin-bottom: 12px
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-full_screen .labeled-container__head .labeled-container__title {
    inline-size: 40%
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-full_screen .labeled-container__head .labeled-container__title {
    inline-size: 30%
  }
}
@media (min-width: 768px) and (min-width: 2561px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-full_screen .labeled-container__head .labeled-container__title {
    inline-size: 25%
  }
}
@media (min-width: 1500px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    max-width: 1400px
  }
}
@media (min-width: 2560px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    padding-left: 0;
    padding-right: 20%
  }
}
@media screen and (max-width: 768px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    max-width: 100%
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    max-width: 720px
  }
}
@media (min-width: 992px) and (max-width: 1250px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    max-width: 960px
  }
}
@media (min-width: 1250px) and (max-width: 1500px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    max-width: 1200px
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    padding-left: 0;
    padding-right: 40%
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    padding-left: 0;
    padding-right: 35%
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .paragraph-type--labeled-container .labeled-container-wrapper.labeled-container-wrapper__size-spaced {
    padding-left: 0;
    padding-right: 25%
  }
}
/*# sourceMappingURL=paragraph.labeled-container.component.css.map */
