#block-forum-search-forum-search-block {
  background: 0 0
}
#forum-search-form > div {
  position: relative
}
#forum-search-form input[type=text] {
  height: 36px;
  border-radius: 3px;
  border: solid 1px var(--color-neutral-4);
  background-color: var(--color-neutral-0);
  box-shadow: none;
  padding-right: 50px
}
#forum-search-form input[type=text]::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
#forum-search-form input[type=text]:-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
#forum-search-form input[type=text]::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
#forum-search-form input[type=text]:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
#forum-search-form .form-type-textfield + .icon {
  position: absolute;
  right: 25px;
  top: 12px;
  color: var(--color-base)
}
#forum-search-form .form-type-textfield + .icon:hover {
  cursor: pointer
}
#forum-search-form input[type=submit] {
  opacity: 0!important;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  padding: 0!important;
  height: 100%
}
/*# sourceMappingURL=forum-search.component.css.map */
