//todo: check same styles with tracker3 search form
@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

#block-forum-search-forum-search-block {
  background: none;
}

#forum-search-form {
  @include search-form();
}
