{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes }}>
  <div class="profile row">
    <div class="user__header__part">
      <h2 class="user__header__title">{{ 'User Tracker'|t }}</h2>
      {% if logged_in %}
        {{ start_discussion }}
      {% endif %}
    </div>

    <span property="dc:date dc:created" content="{{ dc_member_for }}" datatype="xsd:dateTime" rel="sioc:has_creator">
      {{ wso_member_for }}
    </span>

    <div class="tabs">
      <ul class="nav nav-tabs tabs-primary" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="topics-tab" data-bs-toggle="tab" href="#topics" role="tab" aria-controls="topics" aria-selected="true">{{ 'Topics'|t }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="comments-tab" data-bs-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">{{ 'Comments' }}</a>
        </li>
        {% if show_replies %}
          <li class="nav-item">
            <a class="nav-link" id="replies-tab" data-bs-toggle="tab" href="#replies" role="tab" aria-controls="comments" aria-selected="false">{{ 'Replies' }}</a>
          </li>
        {% endif %}
        {% if show-job-applications %}
          <li class="nav-item">
            <a class="nav-link" id="jobs-tab" data-bs-toggle="tab" href="#jobs" role="tab" aria-controls="jobs" aria-selected="false">{{ 'Job Applications'|t }}</a>
          </li>
        {% endif %}
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="topics" role="tabpanel" aria-labelledby="topics-tab">
          {% if not logged_in %}
            <div class="user__auth__message"><a href="/user/login" class="wsoExternalUrls-processed">Login</a> / <a href="/user/register">register</a> to send <i></i> a private message.</div>
          {% endif %}

          {{ drupal_view('myfeed_user_nodes', 'block_1') }}
        </div>
        <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
          {{ drupal_view('myfeed_user_comments', 'block_1') }}
        </div>
        {% if show_replies %}
          <div class="tab-pane fade" id="replies" role="tabpanel" aria-labelledby="replies-tab">
          {{ drupal_view('replies', 'block') }}
          </div>
        {% endif %}

        {% if show-job-applications %}
          <div class="tab-pane fade" id="job" role="tabpanel" aria-labelledby="job-tab">
            <div id="jobs" class="tab-pane">
              {{ 'job_applications goes here' }}
              {{ job_applications }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% if current_user %}
      <div id="inbox" class="inbox">
      {#
      fixme
       <?php print drupal_render(privatemsg_list_page('list', $account_uid)); ?>

         <!-- Modal -->
        <div class="modal fade user__pm__form" id="privatemsg_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><?php print t('Write New Message');?></h4>
              </div>
              <div class="modal-body">
                <?php
                  $pm_form = drupal_get_form('privatemsg_new');

                  $pm_form['actions']['submit']['#value'] = 'Send Private Message';
                  unset($pm_form['token']);
                  print drupal_render($pm_form);
                ?>
              </div>
            </div>
          </div>
        </div>

        hide($user_profile['locations']);
        hide($user_profile['wsocredits']);
        hide($user_profile['userpoints']);
        hide($user_profile['Monkey Stats']);
        hide($user_profile['Past Professional Experience']);
        hide($user_profile['Current Professional Experience']);
        hide($user_profile['mimemail']);
        hide($user_profile['flags']);

        {% if content %}
          {{- content -}}
        {% endif %}

      #}
      </div>
    {% endif %}
  </div>
</article>

{{ user_certificates }}
