.field-type-text-long .field-item {
  font-size: 16px!important;
  padding: 0 11px
}
.field-name-body {
  padding: 0 8px;
  margin-bottom: 16px;
  line-height: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word
}
.field-name-body embed,
.field-name-body iframe,
.field-name-body object {
  max-width: 100%
}
.field-name-body .wistia_responsive_wrapper iframe.b-lazy {
  height: 100%!important
}
.field-name-body p {
  line-height: 26px;
  margin-bottom: 16px
}
.field-name-body #infFormIframe_0 {
  height: 500px!important
}
.field-name-body p a.btn {
  font-family: "Open Sans",Arial,sans-serif
}
article {
  display: block
}
.node .content .field-name-body img {
  display: block;
  height: auto;
  max-width: 100%
}
.node .content .field-name-body .featured-box img {
  display: inline-block;
  height: inherit;
  max-width: inherit
}
.node .content .field-name-body:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both
}
.node .content img.img-thumbnail.img-responsive.pull-left {
  margin: 5px 20px 10px 0
}
.node .labels {
  padding-left: 10px
}
.node .field-name-body .quote-author {
  margin: 0;
  padding: 0 8px
}
.node .field-name-body .quote-msg {
  background-color: var(--color-neutral-3);
  border-left: 3px solid var(--color-neutral-5);
  padding: 4px 16px;
  color: #9db2bc
}
.darkmode .node .field-name-body .quote-msg {
  color: #c0beba
}
.node .field-name-body .quote-snip {
  background-color: var(--color-neutral-3);
  border-left: 3px solid var(--color-neutral-5);
  padding: 4px 16px
}
.node ul.links.inline li.node-delete {
  padding-left: 0
}
.node-unpublished.well {
  background-color: #fff4f4
}
.page-node-133034 .breadcrumb-wrap h2 {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  width: 100%
}
.page-node-133034 #breadcrumbs,
.page-node-133034 .post-footer {
  display: none;
  visibility: hidden
}
@media (max-width: 767px) {
  .node .content .field-name-body img {
    float: none!important
  }
}
/*# sourceMappingURL=node.component.css.map */
