@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

.field-type-text-long {
  .field-item {
    font-size: 16px !important;
    padding: 0 11px;
  }
}

.field-name-body {
  //font-size: 16px;
  padding: 0 8px;
  margin-bottom: 16px;
  line-height: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  iframe,
  embed,
  object {
    max-width: 100%;
  }

  .wistia_responsive_wrapper {
    iframe.b-lazy {
      height: 100% !important;
    }
  }

  p {
    //font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  #infFormIframe_0 {
    height: 500px !important;
  }

  p {
    a {
      &.btn {
        font-family: "Open Sans", Arial, sans-serif;
      }
    }
  }
}

article {
  display: block;

  /*
  &.post-medium-image {
    border-bottom: 1px solid var(--color-neutral-4);
    margin-bottom: 50px;
    padding-bottom: 10px;
  }

  &.post-large {
    @media (max-width: 479px) {
      margin-left: 0;

      .post-image {
        margin-left: 0;
      }

      .post-date {
        margin-left: 0;
      }
    }
  }
  */
}

.node {
  .content {
    .field-name-body {
      img {
        display: block;
        height: auto;
        max-width: 100%;

        @include media('<tablet') {
          float: none !important;
        }
      }

      .featured-box {
        img {
          display: inline-block;
          height: inherit;
          max-width: inherit;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        clear: both;
      }
    }

    img {
      &.img-thumbnail {
        &.img-responsive {
          &.pull-left {
            margin: 5px 20px 10px 0;
          }
        }
      }
    }
  }

  /*
  .wso-username-link {
    color: var(--color-base);
    font-size: 15px;
    border-top: 1px solid var(--color-neutral-2);
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.2px;
  }
  */

  /*
  .submitted {
    ul {
      li {
        line-height: 21px;
        padding: 0 2px;
      }
    }
  }
  */

  .labels {
    padding-left: 10px;
  }

  .field-name-body {
    .quote-author {
      margin: 0;
      padding: 0 8px 0;
    }

    .quote-msg {
      background-color: var(--color-neutral-3);
      border-left: 3px solid var(--color-neutral-5);
      padding: 4px 16px;
      @include font-color-grey-darkmode;
    }

    .quote-snip {
      background-color: var(--color-neutral-3);
      border-left: 3px solid var(--color-neutral-5);
      padding: 4px 16px;
    }
  }

  ul {
    &.links {
      &.inline {
        li {
          &.node-delete {
            padding-left: 0;
          }
        }
      }
    }
  }

  /*
  &.node-blog {
    ul {
      &.links {
        &.inline {
          li {
            &.node-delete {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
  */
}

.node-unpublished {
  &.well {
    background-color: $snow_fff4f4;
  }
}

//todo: do we need it?
/*
.node-blog {
  ul {
    &.links {
      &.inline {
        li {
          &.blog_usernames_blog {
            display: inline;
          }
        }
      }
    }
  }
}
*/

//todo: refactor
.page-node-133034 {
  .breadcrumb-wrap {
    h2 {
      padding-left: 20%;
      padding-right: 20%;
      text-align: center;
      width: 100%;
    }
  }

  #breadcrumbs {
    display: none;
    visibility: hidden;
  }

  .post-footer {
    display: none;
    visibility: hidden;
  }
}

