<form onsubmit="if(this.search_block_form.value=='Search'){ alert('Please enter a search'); return FALSE; }" action="/tracker" method="post" id="search-block-form" accept-charset="UTF-8" class="hideSubmitButton-processed">
  <div>
    <div class="input-group">
      <input
          title="Enter the terms you wish to search for."
          class="form-control search form-text"
          onblur="if (this.value == '') {this.value = 'Search';}"
          onfocus="if (this.value == 'Search') {this.value = '';}"
          placeholder="Search"
          type="text"
          id="edit-search-block-form--2"
          name="search_block_form"
          value=""
          size="40"
          maxlength="128">
      <input type="hidden" name="form_build_id" value="form-gpGaTRjRWctMrBPDE-nPSb0N44ggMSUZZ9HjF_RFbhE">
      <input type="hidden" name="form_token" value="T65QfeAnJF4-kZeEKABbQ6nxm_bDivUToYVbEr3z9KM">
      <input type="hidden" name="form_id" value="search_block_form">
    </div>
  </div>
</form>
