@import "./components/common-styles/helpers/colors";
@import "./components/common-styles/helpers/mixins";

#edit-resume-ajax-wrapper {
  input {
    display: inline;
  }

  label {
    display: inline;
  }

  .form-managed-file {
    display: inline;
  }

  .icon {
    padding-right: 15px;
  }
}

.well {
  &.data-acquisition-block-form-overall-outer {
    background-color: rgba(255, 255, 255, .6) !important;
    border: 1px dashed var(--color-neutral-4);
    border-radius: 3px;
    padding: 32px 15px 40px;
  }
}

h4 {
  &.f-upload-header {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.1px;
    color: var(--color-neutral-7);

    span {
      color: var(--color-base);
      @include responsive-prop(700, 800, font-weight);
      text-transform: capitalize;
    }
  }
}

.data-acquisition-block-form-overall-outer {
  .description {
    text-align: left;
    order: -1;
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: .2px;
    color: var(--color-neutral-7);

    a {
      color: $color-blue;
      font-weight: 500;
      padding-left: 5px;
    }
  }

  label {
    bottom: 5px;
    position: absolute;
  }

  .form-item-resume {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  input[type=text] {
    margin: 0 auto;
    max-width: 280px;
  }
}

@media (max-width: 440px) {
  .data-acquisition-block-form-overall-outer {
    label {
      left: 18%;
    }
  }
}

@include media('<tablet') {
  h4 {
    &.f-upload-header {
      font-size: 19px;
    }
  }

  .data-acquisition-block-form-overall-outer {
    .description {
      margin-bottom: 32px;
    }
  }
}

@include media('>=tablet', '<desktop') {
  .data-acquisition-block-form-overall-outer {
    label {
      left: 120px;
    }
  }
}

@include media('>=desktop', '<large-desktop') {
  .data-acquisition-block-form-overall-outer {
    label {
      left: 90px;
    }
  }
}

@media (max-width: 1199px) {
  .well {
    &.data-acquisition-block-form-overall-outer {
      padding: 32px 15px 40px;
    }
  }
}

@include media('>=large-desktop') {
  .data-acquisition-block-form-overall-outer {
    label {
      left: 135px;
    }
  }

  .well {
    &.data-acquisition-block-form-overall-outer {
      padding: 32px 48px 40px;
    }
  }
}
