#edit-resume-ajax-wrapper .form-managed-file,
#edit-resume-ajax-wrapper input,
#edit-resume-ajax-wrapper label {
  display: inline
}
#edit-resume-ajax-wrapper .icon {
  padding-right: 15px
}
.well.data-acquisition-block-form-overall-outer {
  background-color: rgba(255, 255, 255, .6)!important;
  border: 1px dashed var(--color-neutral-4);
  border-radius: 3px;
  padding: 32px 15px 40px
}
h4.f-upload-header {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -.1px;
  color: var(--color-neutral-7)
}
h4.f-upload-header span {
  color: var(--color-base);
  font-weight: 700;
  text-transform: capitalize
}
.data-acquisition-block-form-overall-outer .description {
  text-align: left;
  order: -1;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: .2px;
  color: var(--color-neutral-7)
}
.data-acquisition-block-form-overall-outer .description a {
  color: #087dfd;
  font-weight: 500;
  padding-left: 5px
}
.data-acquisition-block-form-overall-outer label {
  bottom: 5px;
  position: absolute
}
.data-acquisition-block-form-overall-outer .form-item-resume {
  display: flex;
  flex-direction: column;
  position: relative
}
.data-acquisition-block-form-overall-outer input[type=text] {
  margin: 0 auto;
  max-width: 280px
}
@media (min-width: 992px) {
  h4.f-upload-header span {
    font-weight: 800
  }
}
@media (min-width: 1200px) {
  .data-acquisition-block-form-overall-outer label {
    left: 135px
  }
  .well.data-acquisition-block-form-overall-outer {
    padding: 32px 48px 40px
  }
}
@media (max-width: 1199px) {
  .well.data-acquisition-block-form-overall-outer {
    padding: 32px 15px 40px
  }
}
@media (max-width: 767px) {
  h4.f-upload-header {
    font-size: 19px
  }
  .data-acquisition-block-form-overall-outer .description {
    margin-bottom: 32px
  }
}
@media (max-width: 440px) {
  .data-acquisition-block-form-overall-outer label {
    left: 18%
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .data-acquisition-block-form-overall-outer label {
    left: 120px
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .data-acquisition-block-form-overall-outer label {
    left: 90px
  }
}
/*# sourceMappingURL=data-acquisition.component.css.map */
