@import './components/common-styles/helpers/mixins';
@import './components/common-styles/helpers/colors';

.field-name-field-wsop-rich-text {
  .h3 {
    padding-top: 24px;
  }
}

.view-financial-dictionary-glossary {
  .link-underline {
    .form-group {
      margin-bottom: 0;
    }
  }

  .views-row {
    margin-bottom: 20px;
  }

  .views-field-nothing {
    color: var(--color-base);
    font-size: 14px;
    margin-bottom: 10px;

    a {
      color: inherit;
      display: block;

      &:first-child {
        font-size: 16px;
        font-weight: 800;
      }

      &:first-child,
      &:last-child {
        color: $color-blue;
      }
    }
  }
}
