.field-name-field-wsop-rich-text .h3 {
  padding-top: 24px
}
.view-financial-dictionary-glossary .link-underline .form-group {
  margin-bottom: 0
}
.view-financial-dictionary-glossary .views-row {
  margin-bottom: 20px
}
.view-financial-dictionary-glossary .views-field-nothing {
  color: var(--color-base);
  font-size: 14px;
  margin-bottom: 10px
}
.view-financial-dictionary-glossary .views-field-nothing a {
  color: inherit;
  display: block
}
.view-financial-dictionary-glossary .views-field-nothing a:first-child {
  font-size: 16px;
  font-weight: 800
}
.view-financial-dictionary-glossary .views-field-nothing a:first-child,
.view-financial-dictionary-glossary .views-field-nothing a:last-child {
  color: #087dfd
}
/*# sourceMappingURL=finance-dictionary.component.css.map */
