{#
/**
 * @file
 * Theme override for an item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 */
#}
{% if context.list_style %}
  {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
{% endif %}
{% if items or empty %}
  {%- if items -%}
    <nav {{ attributes.removeClass('navbar-light') }}>
      <a class="navbar-brand d-sm-none" href="/user">Usermenu:</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userNav" aria-controls="userNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="userNav">
        <ul class="navbar-nav pt-0 pb-0 mb-0">
          {%- for item in items -%}
            <li class="nav-item">{{ item.value }}</li>
          {%- endfor -%}
        </ul>
      </div>

    </nav>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}

