#user-profile-form label {
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 1.13
}
#user-profile-form input[type=password],
#user-profile-form input[type=text] {
  width: 100%;
  box-shadow: none;
  border-radius: 3px;
  background-color: var(--color-neutral-0);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  height: 58px;
  line-height: 58px;
  letter-spacing: .2px;
  color: var(--color-base);
  padding: 29px 24px;
  margin: 0
}
#user-profile-form input[type=password]:focus,
#user-profile-form input[type=text]:focus {
  background-color: var(--color-neutral-0);
  border: 1px solid #0cb930;
  border-radius: 3px;
  color: var(--color-base);
  outline: 0;
  text-shadow: none
}
#user-profile-form .form-type-checkboxes .form-type-checkbox {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 62px;
  border-radius: 3px;
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-4);
  float: left;
  margin-right: 16px;
  padding-left: 15px
}
#user-profile-form .form-type-checkboxes .form-type-checkbox:last-child {
  margin-right: 0
}
#user-profile-form .form-type-checkboxes .form-type-checkbox:hover {
  border: 1px solid #0cb930;
  box-shadow: 0 0 0 1px #0cb930
}
#user-profile-form .form-type-checkboxes .form-type-checkbox input[type=checkbox] {
  border: 0!important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px!important;
  margin: 0 0 0 24px;
  opacity: 0;
  overflow: hidden;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important
}
#user-profile-form .form-type-checkboxes .form-type-checkbox label.option {
  left: auto;
  position: absolute;
  width: 87%;
  height: 60px;
  line-height: 60px;
  padding-left: 17px;
  font-size: 18px;
  font-weight: 400!important;
  letter-spacing: .2px;
  color: var(--color-base);
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis
}
#user-profile-form .form-type-checkboxes .form-type-checkbox label.option:before {
  -o-transition: border .15s ease-in-out;
  -webkit-transition: border .15s ease-in-out;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4);
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 24px;
  left: 0;
  margin-left: -17px;
  margin-right: 16px;
  overflow: visible;
  position: relative;
  top: 5px;
  transition: border .15s ease-in-out;
  width: 24px
}
#user-profile-form .form-type-checkboxes .form-type-checkbox input:checked + label:before {
  -o-transition: border .15s ease-in-out;
  -webkit-transition: border .15s ease-in-out;
  background-color: #0cb930;
  border: 1px solid #0cb930;
  border-radius: 2px;
  content: " ";
  display: inline-block;
  height: 24px;
  left: 0;
  margin-left: -17px;
  margin-right: 16px;
  position: relative;
  top: 5px;
  transition: border .15s ease-in-out;
  width: 24px
}
#user-profile-form .form-type-checkboxes .form-type-checkbox input:checked + label:after {
  background-image: url(/themes/custom/porto_sub/images/icons/icon_check_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  height: 10px;
  left: 6px;
  position: absolute;
  top: 25px;
  width: 13px
}
#user-profile-form .form-type-radios .form-type-radio {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 62px;
  border-radius: 3px;
  background-color: var(--color-neutral-0);
  border: solid 1px var(--color-neutral-4);
  float: left;
  margin-right: 16px;
  padding-left: 15px
}
#user-profile-form .form-type-radios .form-type-radio:last-child {
  margin-right: 0
}
#user-profile-form .form-type-radios .form-type-radio:hover {
  border: 1px solid #0cb930;
  box-shadow: 0 0 0 1px #0cb930
}
#user-profile-form .form-type-radios .form-type-radio input[type=radio] {
  border: 0!important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px!important;
  margin: 0 0 0 24px;
  opacity: 0;
  overflow: hidden;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important
}
#user-profile-form .form-type-radios .form-type-radio label.option {
  left: auto;
  position: absolute;
  width: 87%;
  height: 60px;
  line-height: 60px;
  padding-left: 17px;
  font-size: 18px;
  font-weight: 400!important;
  letter-spacing: .2px;
  color: var(--color-base);
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis
}
#user-profile-form .form-type-radios .form-type-radio label.option:before {
  -o-transition: border .15s ease-in-out;
  -webkit-transition: border .15s ease-in-out;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 24px;
  left: 0;
  margin-left: -17px;
  margin-right: 16px;
  overflow: visible;
  position: relative;
  top: 5px;
  transition: border .15s ease-in-out;
  width: 24px
}
#user-profile-form .form-type-radios .form-type-radio input:checked + label:before {
  -o-transition: border .15s ease-in-out;
  -webkit-transition: border .15s ease-in-out;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-4);
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 24px;
  left: 0;
  margin-left: -17px;
  margin-right: 16px;
  position: relative;
  top: 5px;
  transition: border .15s ease-in-out;
  width: 24px
}
#user-profile-form .form-type-radios .form-type-radio input:checked + label:after {
  -moz-transition: -moz-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
  -o-transition: -o-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
  -webkit-transition: -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
  background-color: #0cb930;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 12px;
  left: 6px;
  margin-right: 16px;
  position: absolute;
  top: 24px;
  transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33);
  width: 12px
}
#user-profile-form .form-checkboxes,
#user-profile-form .form-radios {
  left: 50%;
  position: relative;
  transform: translateX(-50%)
}
#user-profile-form .field-widget-options-select input[type=text] {
  color: var(--color-neutral-6);
  font-size: 18px;
  font-weight: 400!important;
  height: 60px;
  letter-spacing: .2px;
  line-height: 60px;
  margin: 0;
  width: 100%!important
}
.form-type-password.confirm-parent,
.form-type-password.password-parent {
  width: 100%
}
.multipage-controls-list .multipage-button input.form-submit {
  width: 128px;
  height: 48px
}
.multipage-controls-list .multipage-button input.form-submit.multipage-link-previous {
  background: var(--color-neutral-2);
  border-radius: 3px;
  color: var(--color-neutral-6);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.13;
  margin-right: 8px;
  padding: 15px 18px;
  text-align: center;
  text-shadow: none
}
.multipage-controls-list .multipage-button input.form-submit.multipage-link-next {
  background: #087dfd;
  border-radius: 3px;
  color: var(--color-neutral-0);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.13;
  padding: 15px 18px;
  text-align: center;
  text-shadow: none
}
.field-group-multipage .fieldset-description {
  color: var(--color-base);
  font-size: 18px;
  letter-spacing: .2px;
  margin-bottom: 16px;
  max-width: 501px
}
.field-group-multipage h3.multipage-pane-title {
  color: var(--color-base);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.44;
  margin-bottom: 40px
}
.field-group-multipage .field-name-field-city.field-widget-text-textfield {
  margin-top: 28px
}
.multipage-button {
  clear: both;
  margin-top: 66px
}
.field-group-div.form-wrapper .field-type-list-integer,
.field-group-div.form-wrapper .field-type-list-text,
.field-group-div.form-wrapper .field-type-number-integer,
.field-group-div.form-wrapper .field-type-text,
.field-group-fieldset.form-wrapper .field-type-list-integer,
.field-group-fieldset.form-wrapper .field-type-list-text,
.field-group-fieldset.form-wrapper .field-type-number-integer,
.field-group-fieldset.form-wrapper .field-type-text {
  padding-left: 0;
  padding-right: 0
}
.user-edit__container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%
}
.tabs ul.nav-tabs li a {
  color: var(--color-neutral-7);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2px;
  line-height: 1.13
}
.page-user-edit .breadcrumb {
  padding: 24px 0 3px;
  margin: 0;
  background: var(--color-neutral-0)
}
.page-user-edit h1 {
  color: var(--color-base);
  font-size: 34px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.24;
  margin-bottom: 32px
}
.page-user-edit .tabs ul.nav-tabs {
  position: relative;
  background: var(--color-neutral-0);
  text-align: left
}
.page-user-edit .tabs ul.nav-tabs:before {
  background: var(--color-neutral-0);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  margin-left: -50%;
  position: absolute;
  right: 0;
  top: 0;
  width: 200%
}
.page-user-edit .tabs ul.nav-tabs li:hover a {
  color: var(--color-base)
}
.page-user-edit .tabs ul.nav-tabs li a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: .2px;
  color: var(--color-neutral-7);
  border: none;
  padding: 0
}
.page-user-edit .tabs ul.nav-tabs li a.active {
  border: none;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: .2px;
  color: var(--color-base)
}
.page-user-edit .tabs ul.nav-tabs li a.active:after {
  background-color: #087dfd;
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%
}
.page-user-edit .nav-tabs {
  border-bottom: none
}
.page-user-edit .nav-tabs.nav-justified > .active > a {
  border: none;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: .2px;
  color: var(--color-base)
}
.page-user-edit .nav-tabs.nav-justified > .active > a:hover {
  border: none;
  color: var(--color-base);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.13
}
.page-user-edit .nav-tabs li a,
.page-user-edit .nav-tabs li a:hover {
  background: var(--color-neutral-0)
}
.page-user-edit .group-tabs.nav-tabs li:first-child {
  border-right: var(--color-neutral-4) 1px solid!important
}
.page-user-edit .group-tabs.nav-tabs li.active a,
.page-user-edit .group-tabs.nav-tabs li.active a:focus,
.page-user-edit .group-tabs.nav-tabs li.active a:hover {
  border: none;
  font-weight: 700
}
.page-user-edit .group-tabs .nav-tabs li.field-group-bootstrap_fieldgroup_nav_item.active a {
  background: var(--color-neutral-0);
  color: var(--color-base);
  font-weight: 700
}
.page-user-edit .group-tabs .nav-tabs li.field-group-bootstrap_fieldgroup_nav_item a {
  background: 0 0;
  color: var(--color-neutral-7);
  font-weight: normal
}
.user-edit__column {
  display: inline-block;
  padding: 0 30px;
  width: 100%
}
.user-edit__head {
  background: var(--color-neutral-0);
  display: inline-block;
  width: 100%
}
.group-tabs .bootstrap-nav-wrapper .nav-tabs {
  display: inline-block;
  width: 100%
}
.group-tabs .nav-tabs li a {
  text-align: center;
  padding: 16px 0;
  border: none;
  border-radius: 0
}
.group-tabs .nav-tabs li a:hover {
  border: none
}
.group-tabs .nav-tabs li.field-group-bootstrap_fieldgroup_nav_item {
  border-bottom: 1px solid var(--color-neutral-4)
}
.group-tabs .nav-tabs li.field-group-bootstrap_fieldgroup_nav_item.active {
  background: var(--color-neutral-0);
  border: none
}
.group-tabs div.group-tabs .nav-tabs li {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: .2px;
  text-align: center;
  color: var(--color-neutral-7);
  border-radius: 21px;
  background-color: var(--color-neutral-2)
}
.group-tabs div.group-tabs .nav-tabs li a {
  border: 1px solid var(--color-neutral-4);
  background-color: var(--color-neutral-2);
  border-radius: 21px;
  margin: 0;
  padding: 8px 0
}
.group-tabs div.group-tabs .nav-tabs li a:focus,
.group-tabs div.group-tabs .nav-tabs li a:hover,
.group-tabs div.group-tabs .nav-tabs li.active a,
.group-tabs div.group-tabs .nav-tabs li.required-fieldsactive a[aria-expanded=true] {
  background-color: #087dfd;
  border: 1px solid #087dfd;
  color: var(--color-neutral-0)
}
.user-edit__section .field-group-bootstrap_fieldgroup_nav.bootstrap-nav-wrapper {
  border: 1px solid var(--color-neutral-4);
  padding: 0
}
.user-edit__section .tab-content {
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0
}
.user-edit__section .tabs {
  margin-bottom: 32px
}
.nav-tabs li.field-group-bootstrap_fieldgroup_nav_item span.form-required {
  display: none
}
.multipage-pane-wrapper .form-wrapper {
  padding: 0
}
.multipage-pane-wrapper .field-name-field-first-name {
  padding-right: 16px
}
body.page-user-edit #header {
  border-bottom: 1px solid var(--color-neutral-3)
}
@media (min-width: 768px) {
  #bootstrap-fieldgroup-nav-item--professional-profile,
  #bootstrap-fieldgroup-nav-item--professional-profile-for-jobs,
  #bootstrap-fieldgroup-nav-item--user-profile,
  #bootstrap-fieldgroup-nav-item--wso-user-profile {
    padding: 40px
  }
  .page-user-edit .nav-tabs.nav-justified > li {
    display: inline-block;
    width: auto;
    padding: 0 12px
  }
  .page-user-edit .nav-tabs.nav-justified > li > a {
    border-radius: 0
  }
  .page-user-edit .nav-tabs.nav-justified > li:first-child {
    padding: 0
  }
  .group-tabs .nav-tabs li {
    background-color: var(--color-neutral-2);
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: .2px;
    line-height: 1.14;
    text-align: center;
    width: 50%
  }
  .group-tabs div.group-tabs .nav-tabs li {
    display: inline-block;
    width: calc(25% - 6px);
    margin-right: 8px;
    border: none
  }
  .group-tabs div.group-tabs .nav-tabs li:last-child {
    margin: 0
  }
  #user-profile-form .field-group-col .col-md-12:nth-child(even),
  #user-profile-form .field-group-col .col-md-8:nth-child(2),
  #user-profile-form .field-group-col .col-md-8:nth-child(3),
  .field-group-div.form-wrapper .col-md-12:nth-child(even) {
    padding-left: 15px
  }
  #user-profile-form .form-type-checkboxes .form-type-checkbox {
    margin-right: 16px;
    max-width: 48%
  }
}
@media (min-width: 992px) {
  .field-group-multipage h3.multipage-pane-title,
  .multipage-controls-list .multipage-button input.form-submit.multipage-link-next,
  .multipage-controls-list .multipage-button input.form-submit.multipage-link-previous,
  .page-user-edit .group-tabs .nav-tabs li.field-group-bootstrap_fieldgroup_nav_item.active a,
  .page-user-edit .group-tabs.nav-tabs li.active a,
  .page-user-edit .group-tabs.nav-tabs li.active a:focus,
  .page-user-edit .group-tabs.nav-tabs li.active a:hover,
  .page-user-edit .nav-tabs.nav-justified>.active>a,
  .page-user-edit .nav-tabs.nav-justified>.active>a:hover,
  .page-user-edit .tabs ul.nav-tabs li a.active,
  .page-user-edit h1 {
    font-weight: 800
  }
}
@media (max-width: 767px) {
  #drupal_tabs .nav-tabs li {
    padding-right: 10px
  }
  .page-user-edit .nav-tabs {
    display: flex;
    flex-wrap: wrap
  }
  .page-user-edit .nav-tabs li {
    flex: 1
  }
  .page-user-edit .group-tabs div.group-tabs .nav-tabs li {
    margin-right: 10px
  }
  .page-user-edit .group-tabs div.group-tabs .nav-tabs li a {
    padding: 8px 16px
  }
  .group-tabs .nav-tabs li a {
    padding: 16px 15px
  }
  #bootstrap-fieldgroup-nav-item--professional-profile,
  #bootstrap-fieldgroup-nav-item--professional-profile-for-jobs,
  #bootstrap-fieldgroup-nav-item--user-profile,
  #bootstrap-fieldgroup-nav-item--wso-user-profile {
    padding: 15px
  }
  #user-profile-form .form-type-checkboxes .form-type-checkbox {
    max-width: 100%!important
  }
  #user-profile-form .form-type-checkboxes .form-type-checkbox:nth-child(even) {
    margin-left: 0!important
  }
  #user-profile-form .form-type-radios .form-type-radio {
    max-width: 100%!important
  }
  #user-profile-form .form-type-radios .form-type-radio:nth-child(even) {
    margin-left: 0!important
  }
  #user-profile-form .form-checkboxes .form-type-textfield {
    width: 100%!important
  }
}
/*# sourceMappingURL=user-profile-multistep.component.css.map */
