{#
/**
 * @file
 * Porto's theme implementation to display a single Drupal page.
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ attach_library('porto_sub/page.component') }}
<div class="body new-landing wso-alpha">
  {% if monkey_header %}
  {% include '@storybook/04-regions/header/header.twig' with {
    'uid': uid,
    'username': user_name,
    'user_picture': user_picture,
    'header_search': header_search_form,
    'monkey_header': monkey_header
  } %}
{% endif %}
  <div role="main" class="main">
    {% if page.jumbotron is not empty %}
      {{ page.jumbotron }}
    {% endif %}

    {% if page.breadcrumbs_replacer is not empty %}
      <div class="container container--breadcrumbs">
        {{ page.breadcrumbs_replacer }}
      </div>
    {% endif %}

    {{ page.before_content }}
    {{ page.highlighted }}

    <div id="content" class="content full">
      <div class="container">
        <div class="row">

{#          {% if page.sidebar_left %}#}
{#            <aside id="sidebar-left">#}
{#              <div class="{{ left_sidebar_class }}">#}
{#                <div id="sticky-sidebar">#}
{#                  {{ page.sidebar_left }}#}
{#                </div>#}
{#              </div>#}
{#            </aside>#}
{#          {% endif %}#}

{#          {% if wrapper_name is defined %}#}
{#          <div id="{{ wrapper_name }}">#}
{#            {% endif %}#}

            <div id="wso-content-outer" class="{{ outer_container_class }}">
{#              {% if pager is defined %}#}
{#                {{ pager }}#}
{#              {% endif %}#}

{#              {% if tabs %}#}
{#                <div id="drupal_tabs" class="tabs hidden-print">#}
{#                  {{ tabs }}#}
{#                </div>#}
{#              {% endif %}#}

{#              {{ page.help }}#}

{#              {% if action_links %}#}
{#                <ul class="action-links list-unstyled">#}
{#                  {{ action_links }}#}
{#                </ul>#}
{#              {% endif %}#}

{#              {% if page.content is defined %}#}
{#                {{ page.content }}#}
{#              {% endif %}#}

              {#   Storybook rendering block 'default_block' instead of page.content #}
  <div class="region region-content">
    <article class="landing-page full clearfix node node-landing-page well">
      <div class="content">
        {{ default_block }}
      </div>
    </article>
  </div>



              {% if page.under_content is defined %}
                {{ page.under_content }}
              {% endif %}


            </div>
            {% if wrapper_name is defined %}
          </div>
          {% endif %}

          {% if page.sidebar_right %}

            <div id="wso-sidebar-right" class="wso-sidebar-right {{ right_sidebar_class }} hidden-print">
              {{ page.sidebar_right }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% block page_after_content %}
    {{ page.after_content }}
  {% endblock %}

  {{ page.footer_1 }}

{#  {% include '@storybook/03-organisms/bottom-panel/bottom-panel.twig' %}#}
</div>
