body,
.new-landing {
  background: var(--color-page-bg);
}

.entity-paragraphs-item {
  margin-bottom: 0 !important;

  .content {
    @include wso-container();
  }
}

.paragraphs-item-wso-paragraph-rich-text {
  b,
  strong,
  .bold {
    @include media('>=tablet') {
      font-weight: 700;
    }
  }
}

// Todo: move into component
.block-frontpage-tracker-and-sidebar-block {
  background: #F6FBFD;

  .darkmode & {
    background: $color-neutral-9;
  }
}

.tracker-and-sidebar {
  @include responsive-prop(40px,80px, 'padding-bottom');

  &__container {
    background: var(--color-neutral-0);
    box-shadow: $card-box-shadow;
    border-radius: 3px;

    @include media('>=desktop') {
      height: 100%;
    }
  }

  &__main-col {
    @include media('<tablet') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__header {
    padding: 20px 20px 5px 20px;
    border-bottom: var(--color-neutral-2) 1px solid;

    .dropdown,
    .forum__filter__section .selected-all {
      @include media('<tablet') {
        width: 100%;
        max-width: 100% !important;
        margin-bottom: 10px;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    margin-top: 0;
    @include responsive-prop(700,800, 'font-weight');
  }

  &__body {
    @include media('>=tablet') {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  table.forum-table {
    border: 0 !important;

    thead {
      display: none;
    }

    td:first-child {
      padding-left: 0;
      text-align: left;
    }

    td:last-child {
      padding-right: 0;
    }
  }

  .region-sidebar-right {
    @include media('>=desktop') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    > .block {
      box-shadow: $card-box-shadow;
      border-radius: 3px;

      @include media('>=desktop') {
        margin-bottom: 0;
      }
    }
  }
}

.page-frontpage3 {
  .field-name-field-wsop-rich-text {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .entity-paragraphs-item.paragraphs-item-flexible {
    @include media('>=tablet') {
      padding: 95px 0 80px;
    }

    .entity-paragraphs-item {
      margin-bottom: 0 !important;
    }
  }

  // Special styles for second blocl: TS reviews;
  .content > .field-name-field-wso-paragraphs > .field-items .paragraph-type--drupal-block:nth-of-type(2) {
    background: var(--color-neutral-3);
    padding-top: 40px;

    h3 {
      margin-top: 0;
    }

    .darkmode & {
      background: var(--color-neutral-1);
    }
  }
}

.paragraph-type--drupal-block + .paragraph-type--flexible {
  .paragraph--type--two-columns {
    .col-last {
      @include media('>=desktop') {
        padding-left: 60px;
      }

      @include media('>=large-desktop') {
        padding-left: 100px;
      }
    }
  }
}

.paragraph-type--carousels-list + .paragraph-type--flexible {
  .entity-paragraphs-item.paragraphs-item-flexible {
    @include media('>=tablet') {
      padding: 62px 0 50px;
    }
  }
}

.paragraph-type--vertical-tabs-with-entity-cards ~ .paragraph-type--vertical-tabs-with-entity-cards {
  .frontpage-logos-strip {
    display: none;
  }
}

.container.stats {
  padding: 15px;
}

#content .well {
  @media (max-width: 559px) {
    padding: 0 !important;
  }
}

.entity-browser-media-entity-browser-modal-form {
  .view-filters,
  #edit-inline-entity-form {
    padding: 15px;
  }

  .views-exposed-form {
    padding: 10px 0;

    .form--inline {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
    }
  }

  input.form-submit {
    @extend %btn, .btn-success;
    @extend %btn, .btn-md;
    margin-top: 15px;
  }
}


.page-not-found {
  margin: 50px 0;

  @media (max-width: 479px) {
    margin: 0;
  }

  h2 {
    font-size: 140px;
    font-weight: 600;
    letter-spacing: -10px;
    line-height: 140px;

    @media (max-width: 479px) {
      font-size: 100px;
      letter-spacing: 0;
      line-height: 100px;
    }
  }

  h4 {
    color: var(--color-neutral-7);
  }

  p {
    font-size: 1.4em;
    line-height: 36px;
  }
}

